{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-06-02",
    "asyncClient" : "AWSShieldAsyncClient",
    "asyncClientBuilderClassName" : "AWSShieldAsyncClientBuilder",
    "asyncInterface" : "AWSShieldAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSShieldModuleInjector",
    "defaultEndpoint" : "shield.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "shield.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS Shield Advanced</fullname> <p>This is the <i>AWS Shield Advanced API Reference</i>. This guide is for developers who need detailed information about the AWS Shield Advanced API actions, data types, and errors. For detailed information about AWS WAF and AWS Shield Advanced features and an overview of how to use the AWS WAF and AWS Shield Advanced APIs, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF and AWS Shield Developer Guide</a>.</p>",
    "endpointPrefix" : "shield",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.shield",
    "packagePath" : "com/amazonaws/services/shield",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "AWS Shield",
    "serviceFullName" : "AWS Shield",
    "serviceName" : "AWS Shield",
    "signingName" : "shield",
    "smokeTestsPackageName" : "com.amazonaws.services.shield.smoketests",
    "syncClient" : "AWSShieldClient",
    "syncClientBuilderClassName" : "AWSShieldClientBuilder",
    "syncInterface" : "AWSShield",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProtectionRequest, CreateProtectionResult>",
      "asyncReturnType" : "CreateProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables AWS Shield Advanced for a specific AWS resource. The resource can be an Amazon CloudFront distribution, Elastic Load Balancing load balancer, or an Amazon Route 53 hosted zone.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>"
      }, {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>Exception that indicates that the resource is invalid. You might not have access to the resource, or the resource might not exist.</p>"
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>"
      }, {
        "exceptionName" : "LimitsExceededException",
        "documentation" : "<p>Exception that indicates that the operation would exceed a limit.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Exception indicating the specified resource already exists.</p>"
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateProtectionRequest",
        "variableName" : "createProtectionRequest",
        "variableType" : "CreateProtectionRequest",
        "documentation" : "",
        "simpleType" : "CreateProtectionRequest",
        "variableSetterType" : "CreateProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProtection",
      "operationName" : "CreateProtection",
      "returnType" : {
        "returnType" : "CreateProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProtectionResult"
    },
    "CreateSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubscriptionRequest, CreateSubscriptionResult>",
      "asyncReturnType" : "CreateSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates AWS Shield Advanced for an account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Exception indicating the specified resource already exists.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSubscriptionRequest",
        "variableName" : "createSubscriptionRequest",
        "variableType" : "CreateSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "CreateSubscriptionRequest",
        "variableSetterType" : "CreateSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubscription",
      "operationName" : "CreateSubscription",
      "returnType" : {
        "returnType" : "CreateSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSubscriptionResult"
    },
    "DeleteProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProtectionRequest, DeleteProtectionResult>",
      "asyncReturnType" : "DeleteProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an AWS Shield Advanced <a>Protection</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteProtectionRequest",
        "variableName" : "deleteProtectionRequest",
        "variableType" : "DeleteProtectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteProtectionRequest",
        "variableSetterType" : "DeleteProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProtection",
      "operationName" : "DeleteProtection",
      "returnType" : {
        "returnType" : "DeleteProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProtectionResult"
    },
    "DeleteSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriptionRequest, DeleteSubscriptionResult>",
      "asyncReturnType" : "DeleteSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes AWS Shield Advanced from an account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>"
      }, {
        "exceptionName" : "LockedSubscriptionException",
        "documentation" : "<p>Exception that indicates that the subscription has been modified by another client. You can retry the request.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSubscriptionRequest",
        "variableName" : "deleteSubscriptionRequest",
        "variableType" : "DeleteSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DeleteSubscriptionRequest",
        "variableSetterType" : "DeleteSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscription",
      "operationName" : "DeleteSubscription",
      "returnType" : {
        "returnType" : "DeleteSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSubscriptionResult"
    },
    "DescribeAttack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAttackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAttackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAttackRequest, DescribeAttackResult>",
      "asyncReturnType" : "DescribeAttackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the details of a DDoS attack. </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAttackRequest",
        "variableName" : "describeAttackRequest",
        "variableType" : "DescribeAttackRequest",
        "documentation" : "",
        "simpleType" : "DescribeAttackRequest",
        "variableSetterType" : "DescribeAttackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAttack",
      "operationName" : "DescribeAttack",
      "returnType" : {
        "returnType" : "DescribeAttackResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAttackResult"
    },
    "DescribeProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProtectionRequest, DescribeProtectionResult>",
      "asyncReturnType" : "DescribeProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the details of a <a>Protection</a> object.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProtectionRequest",
        "variableName" : "describeProtectionRequest",
        "variableType" : "DescribeProtectionRequest",
        "documentation" : "",
        "simpleType" : "DescribeProtectionRequest",
        "variableSetterType" : "DescribeProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProtection",
      "operationName" : "DescribeProtection",
      "returnType" : {
        "returnType" : "DescribeProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProtectionResult"
    },
    "DescribeSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubscriptionRequest, DescribeSubscriptionResult>",
      "asyncReturnType" : "DescribeSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides details about the AWS Shield Advanced subscription for an account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSubscriptionRequest",
        "variableName" : "describeSubscriptionRequest",
        "variableType" : "DescribeSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DescribeSubscriptionRequest",
        "variableSetterType" : "DescribeSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSubscription",
      "operationName" : "DescribeSubscription",
      "returnType" : {
        "returnType" : "DescribeSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSubscriptionResult"
    },
    "ListAttacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAttacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAttacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAttacksRequest, ListAttacksResult>",
      "asyncReturnType" : "ListAttacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all ongoing DDoS attacks or all DDoS attacks during a specified time period.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. </p>"
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAttacksRequest",
        "variableName" : "listAttacksRequest",
        "variableType" : "ListAttacksRequest",
        "documentation" : "",
        "simpleType" : "ListAttacksRequest",
        "variableSetterType" : "ListAttacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAttacks",
      "operationName" : "ListAttacks",
      "returnType" : {
        "returnType" : "ListAttacksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAttacksResult"
    },
    "ListProtections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProtectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProtectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProtectionsRequest, ListProtectionsResult>",
      "asyncReturnType" : "ListProtectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all <a>Protection</a> objects for the account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListProtectionsRequest",
        "variableName" : "listProtectionsRequest",
        "variableType" : "ListProtectionsRequest",
        "documentation" : "",
        "simpleType" : "ListProtectionsRequest",
        "variableSetterType" : "ListProtectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProtections",
      "operationName" : "ListProtections",
      "returnType" : {
        "returnType" : "ListProtectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProtectionsResult"
    }
  },
  "shapes" : {
    "AttackDetail" : {
      "c2jName" : "AttackDetail",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The details of a DDoS attack.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "hasUriMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AttackId",
        "c2jShape" : "AttackId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@return The unique identifier (ID) of the attack.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AttackId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AttackId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AttackId",
        "setterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "attackId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "attackId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceArn",
        "c2jShape" : "ResourceArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@return The ARN (Amazon Resource Name) of the resource that was attacked.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ResourceArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ResourceArn",
        "setterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SubResources",
        "c2jShape" : "SubResourceSummaryList",
        "deprecated" : false,
        "documentation" : "<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n@param subResources If applicable, additional detail about the resource being attacked, for example, IP address or URL.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n@return If applicable, additional detail about the resource being attacked, for example, IP address or URL.*/",
        "getterModel" : {
          "returnType" : "java.util.List<SubResourceSummary>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SubResources",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubResources",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "SubResourceSummary",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "SubResourceSummary",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "SubResourceSummary",
              "variableName" : "member",
              "variableType" : "SubResourceSummary",
              "documentation" : "",
              "simpleType" : "SubResourceSummary",
              "variableSetterType" : "SubResourceSummary"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "SubResourceSummary",
              "variableName" : "member",
              "variableType" : "SubResourceSummary",
              "documentation" : "",
              "simpleType" : "SubResourceSummary",
              "variableSetterType" : "SubResourceSummary"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "SubResourceSummary",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "SubResourceSummary",
          "templateImplType" : "java.util.ArrayList<SubResourceSummary>",
          "templateType" : "java.util.List<SubResourceSummary>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "SubResources",
        "setterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n@param subResources If applicable, additional detail about the resource being attacked, for example, IP address or URL.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<SubResourceSummary>",
          "variableName" : "subResources",
          "variableType" : "java.util.List<SubResourceSummary>",
          "documentation" : "",
          "simpleType" : "List<SubResourceSummary>",
          "variableSetterType" : "java.util.Collection<SubResourceSummary>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSubResources(java.util.Collection)} or {@link #withSubResources(java.util.Collection)} if you want to override the existing values.</p>\n@param subResources If applicable, additional detail about the resource being attacked, for example, IP address or URL.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<SubResourceSummary>",
          "variableName" : "subResources",
          "variableType" : "java.util.List<SubResourceSummary>",
          "documentation" : "<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>",
          "simpleType" : "List<SubResourceSummary>",
          "variableSetterType" : "java.util.Collection<SubResourceSummary>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StartTime",
        "c2jShape" : "AttackTimestamp",
        "deprecated" : false,
        "documentation" : "<p>The time the attack started, in the format 2016-12-16T13:50Z.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time the attack started, in the format 2016-12-16T13:50Z.</p>\n@param startTime The time the attack started, in the format 2016-12-16T13:50Z.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The time the attack started, in the format 2016-12-16T13:50Z.</p>\n@return The time the attack started, in the format 2016-12-16T13:50Z.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "StartTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StartTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "StartTime",
        "setterDocumentation" : "/**<p>The time the attack started, in the format 2016-12-16T13:50Z.</p>\n@param startTime The time the attack started, in the format 2016-12-16T13:50Z.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The time the attack started, in the format 2016-12-16T13:50Z.</p>\n@param startTime The time the attack started, in the format 2016-12-16T13:50Z.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time the attack started, in the format 2016-12-16T13:50Z.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EndTime",
        "c2jShape" : "AttackTimestamp",
        "deprecated" : false,
        "documentation" : "<p>The time the attack ended, in the format 2016-12-16T13:50Z.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time the attack ended, in the format 2016-12-16T13:50Z.</p>\n@param endTime The time the attack ended, in the format 2016-12-16T13:50Z.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The time the attack ended, in the format 2016-12-16T13:50Z.</p>\n@return The time the attack ended, in the format 2016-12-16T13:50Z.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "EndTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EndTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "EndTime",
        "setterDocumentation" : "/**<p>The time the attack ended, in the format 2016-12-16T13:50Z.</p>\n@param endTime The time the attack ended, in the format 2016-12-16T13:50Z.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "endTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The time the attack ended, in the format 2016-12-16T13:50Z.</p>\n@param endTime The time the attack ended, in the format 2016-12-16T13:50Z.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "endTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time the attack ended, in the format 2016-12-16T13:50Z.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AttackCounters",
        "c2jShape" : "SummarizedCounterList",
        "deprecated" : false,
        "documentation" : "<p>List of counters that describe the attack for the specified time period.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n@param attackCounters List of counters that describe the attack for the specified time period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n@return List of counters that describe the attack for the specified time period.*/",
        "getterModel" : {
          "returnType" : "java.util.List<SummarizedCounter>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AttackCounters",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AttackCounters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "SummarizedCounter",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "SummarizedCounter",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "SummarizedCounter",
              "variableName" : "member",
              "variableType" : "SummarizedCounter",
              "documentation" : "",
              "simpleType" : "SummarizedCounter",
              "variableSetterType" : "SummarizedCounter"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "SummarizedCounter",
              "variableName" : "member",
              "variableType" : "SummarizedCounter",
              "documentation" : "",
              "simpleType" : "SummarizedCounter",
              "variableSetterType" : "SummarizedCounter"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "SummarizedCounter",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "SummarizedCounter",
          "templateImplType" : "java.util.ArrayList<SummarizedCounter>",
          "templateType" : "java.util.List<SummarizedCounter>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "AttackCounters",
        "setterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n@param attackCounters List of counters that describe the attack for the specified time period.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<SummarizedCounter>",
          "variableName" : "attackCounters",
          "variableType" : "java.util.List<SummarizedCounter>",
          "documentation" : "",
          "simpleType" : "List<SummarizedCounter>",
          "variableSetterType" : "java.util.Collection<SummarizedCounter>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttackCounters(java.util.Collection)} or {@link #withAttackCounters(java.util.Collection)} if you want to override the existing values.</p>\n@param attackCounters List of counters that describe the attack for the specified time period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<SummarizedCounter>",
          "variableName" : "attackCounters",
          "variableType" : "java.util.List<SummarizedCounter>",
          "documentation" : "<p>List of counters that describe the attack for the specified time period.</p>",
          "simpleType" : "List<SummarizedCounter>",
          "variableSetterType" : "java.util.Collection<SummarizedCounter>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Mitigations",
        "c2jShape" : "MitigationList",
        "deprecated" : false,
        "documentation" : "<p>List of mitigation actions taken for the attack.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n@param mitigations List of mitigation actions taken for the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n@return List of mitigation actions taken for the attack.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Mitigation>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Mitigations",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Mitigations",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Mitigation",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Mitigation",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Mitigation",
              "variableName" : "member",
              "variableType" : "Mitigation",
              "documentation" : "",
              "simpleType" : "Mitigation",
              "variableSetterType" : "Mitigation"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Mitigation",
              "variableName" : "member",
              "variableType" : "Mitigation",
              "documentation" : "",
              "simpleType" : "Mitigation",
              "variableSetterType" : "Mitigation"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Mitigation",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Mitigation",
          "templateImplType" : "java.util.ArrayList<Mitigation>",
          "templateType" : "java.util.List<Mitigation>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Mitigations",
        "setterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n@param mitigations List of mitigation actions taken for the attack.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Mitigation>",
          "variableName" : "mitigations",
          "variableType" : "java.util.List<Mitigation>",
          "documentation" : "",
          "simpleType" : "List<Mitigation>",
          "variableSetterType" : "java.util.Collection<Mitigation>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMitigations(java.util.Collection)} or {@link #withMitigations(java.util.Collection)} if you want to override the existing values.</p>\n@param mitigations List of mitigation actions taken for the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Mitigation>",
          "variableName" : "mitigations",
          "variableType" : "java.util.List<Mitigation>",
          "documentation" : "<p>List of mitigation actions taken for the attack.</p>",
          "simpleType" : "List<Mitigation>",
          "variableSetterType" : "java.util.Collection<Mitigation>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AttackCounters" : {
          "c2jName" : "AttackCounters",
          "c2jShape" : "SummarizedCounterList",
          "deprecated" : false,
          "documentation" : "<p>List of counters that describe the attack for the specified time period.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n@param attackCounters List of counters that describe the attack for the specified time period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n@return List of counters that describe the attack for the specified time period.*/",
          "getterModel" : {
            "returnType" : "java.util.List<SummarizedCounter>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AttackCounters",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AttackCounters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "SummarizedCounter",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "SummarizedCounter",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "SummarizedCounter",
                "variableName" : "member",
                "variableType" : "SummarizedCounter",
                "documentation" : "",
                "simpleType" : "SummarizedCounter",
                "variableSetterType" : "SummarizedCounter"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "SummarizedCounter",
                "variableName" : "member",
                "variableType" : "SummarizedCounter",
                "documentation" : "",
                "simpleType" : "SummarizedCounter",
                "variableSetterType" : "SummarizedCounter"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "SummarizedCounter",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "SummarizedCounter",
            "templateImplType" : "java.util.ArrayList<SummarizedCounter>",
            "templateType" : "java.util.List<SummarizedCounter>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "AttackCounters",
          "setterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n@param attackCounters List of counters that describe the attack for the specified time period.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<SummarizedCounter>",
            "variableName" : "attackCounters",
            "variableType" : "java.util.List<SummarizedCounter>",
            "documentation" : "",
            "simpleType" : "List<SummarizedCounter>",
            "variableSetterType" : "java.util.Collection<SummarizedCounter>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttackCounters(java.util.Collection)} or {@link #withAttackCounters(java.util.Collection)} if you want to override the existing values.</p>\n@param attackCounters List of counters that describe the attack for the specified time period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<SummarizedCounter>",
            "variableName" : "attackCounters",
            "variableType" : "java.util.List<SummarizedCounter>",
            "documentation" : "<p>List of counters that describe the attack for the specified time period.</p>",
            "simpleType" : "List<SummarizedCounter>",
            "variableSetterType" : "java.util.Collection<SummarizedCounter>"
          },
          "xmlNameSpaceUri" : null
        },
        "AttackId" : {
          "c2jName" : "AttackId",
          "c2jShape" : "AttackId",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@return The unique identifier (ID) of the attack.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AttackId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AttackId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AttackId",
          "setterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "attackId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "attackId",
            "variableType" : "String",
            "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EndTime" : {
          "c2jName" : "EndTime",
          "c2jShape" : "AttackTimestamp",
          "deprecated" : false,
          "documentation" : "<p>The time the attack ended, in the format 2016-12-16T13:50Z.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time the attack ended, in the format 2016-12-16T13:50Z.</p>\n@param endTime The time the attack ended, in the format 2016-12-16T13:50Z.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The time the attack ended, in the format 2016-12-16T13:50Z.</p>\n@return The time the attack ended, in the format 2016-12-16T13:50Z.*/",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "EndTime",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EndTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "EndTime",
          "setterDocumentation" : "/**<p>The time the attack ended, in the format 2016-12-16T13:50Z.</p>\n@param endTime The time the attack ended, in the format 2016-12-16T13:50Z.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "endTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The time the attack ended, in the format 2016-12-16T13:50Z.</p>\n@param endTime The time the attack ended, in the format 2016-12-16T13:50Z.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "endTime",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time the attack ended, in the format 2016-12-16T13:50Z.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Mitigations" : {
          "c2jName" : "Mitigations",
          "c2jShape" : "MitigationList",
          "deprecated" : false,
          "documentation" : "<p>List of mitigation actions taken for the attack.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n@param mitigations List of mitigation actions taken for the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n@return List of mitigation actions taken for the attack.*/",
          "getterModel" : {
            "returnType" : "java.util.List<Mitigation>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Mitigations",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Mitigations",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Mitigation",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "Mitigation",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "Mitigation",
                "variableName" : "member",
                "variableType" : "Mitigation",
                "documentation" : "",
                "simpleType" : "Mitigation",
                "variableSetterType" : "Mitigation"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Mitigation",
                "variableName" : "member",
                "variableType" : "Mitigation",
                "documentation" : "",
                "simpleType" : "Mitigation",
                "variableSetterType" : "Mitigation"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Mitigation",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Mitigation",
            "templateImplType" : "java.util.ArrayList<Mitigation>",
            "templateType" : "java.util.List<Mitigation>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "Mitigations",
          "setterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n@param mitigations List of mitigation actions taken for the attack.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<Mitigation>",
            "variableName" : "mitigations",
            "variableType" : "java.util.List<Mitigation>",
            "documentation" : "",
            "simpleType" : "List<Mitigation>",
            "variableSetterType" : "java.util.Collection<Mitigation>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMitigations(java.util.Collection)} or {@link #withMitigations(java.util.Collection)} if you want to override the existing values.</p>\n@param mitigations List of mitigation actions taken for the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<Mitigation>",
            "variableName" : "mitigations",
            "variableType" : "java.util.List<Mitigation>",
            "documentation" : "<p>List of mitigation actions taken for the attack.</p>",
            "simpleType" : "List<Mitigation>",
            "variableSetterType" : "java.util.Collection<Mitigation>"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceArn" : {
          "c2jName" : "ResourceArn",
          "c2jShape" : "ResourceArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@return The ARN (Amazon Resource Name) of the resource that was attacked.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ResourceArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ResourceArn",
          "setterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StartTime" : {
          "c2jName" : "StartTime",
          "c2jShape" : "AttackTimestamp",
          "deprecated" : false,
          "documentation" : "<p>The time the attack started, in the format 2016-12-16T13:50Z.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time the attack started, in the format 2016-12-16T13:50Z.</p>\n@param startTime The time the attack started, in the format 2016-12-16T13:50Z.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The time the attack started, in the format 2016-12-16T13:50Z.</p>\n@return The time the attack started, in the format 2016-12-16T13:50Z.*/",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "StartTime",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StartTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "StartTime",
          "setterDocumentation" : "/**<p>The time the attack started, in the format 2016-12-16T13:50Z.</p>\n@param startTime The time the attack started, in the format 2016-12-16T13:50Z.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "startTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The time the attack started, in the format 2016-12-16T13:50Z.</p>\n@param startTime The time the attack started, in the format 2016-12-16T13:50Z.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "startTime",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time the attack started, in the format 2016-12-16T13:50Z.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "SubResources" : {
          "c2jName" : "SubResources",
          "c2jShape" : "SubResourceSummaryList",
          "deprecated" : false,
          "documentation" : "<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n@param subResources If applicable, additional detail about the resource being attacked, for example, IP address or URL.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n@return If applicable, additional detail about the resource being attacked, for example, IP address or URL.*/",
          "getterModel" : {
            "returnType" : "java.util.List<SubResourceSummary>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "SubResources",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SubResources",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "SubResourceSummary",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "SubResourceSummary",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "SubResourceSummary",
                "variableName" : "member",
                "variableType" : "SubResourceSummary",
                "documentation" : "",
                "simpleType" : "SubResourceSummary",
                "variableSetterType" : "SubResourceSummary"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "SubResourceSummary",
                "variableName" : "member",
                "variableType" : "SubResourceSummary",
                "documentation" : "",
                "simpleType" : "SubResourceSummary",
                "variableSetterType" : "SubResourceSummary"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "SubResourceSummary",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "SubResourceSummary",
            "templateImplType" : "java.util.ArrayList<SubResourceSummary>",
            "templateType" : "java.util.List<SubResourceSummary>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "SubResources",
          "setterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n@param subResources If applicable, additional detail about the resource being attacked, for example, IP address or URL.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<SubResourceSummary>",
            "variableName" : "subResources",
            "variableType" : "java.util.List<SubResourceSummary>",
            "documentation" : "",
            "simpleType" : "List<SubResourceSummary>",
            "variableSetterType" : "java.util.Collection<SubResourceSummary>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSubResources(java.util.Collection)} or {@link #withSubResources(java.util.Collection)} if you want to override the existing values.</p>\n@param subResources If applicable, additional detail about the resource being attacked, for example, IP address or URL.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<SubResourceSummary>",
            "variableName" : "subResources",
            "variableType" : "java.util.List<SubResourceSummary>",
            "documentation" : "<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>",
            "simpleType" : "List<SubResourceSummary>",
            "variableSetterType" : "java.util.Collection<SubResourceSummary>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AttackDetail",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AttackDetail",
        "variableName" : "attackDetail",
        "variableType" : "AttackDetail",
        "documentation" : null,
        "simpleType" : "AttackDetail",
        "variableSetterType" : "AttackDetail"
      },
      "wrapper" : false
    },
    "AttackSummary" : {
      "c2jName" : "AttackSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Summarizes all DDoS attacks for a specified time period.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "hasUriMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AttackId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@return The unique identifier (ID) of the attack.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AttackId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AttackId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AttackId",
        "setterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "attackId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "attackId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@return The ARN (Amazon Resource Name) of the resource that was attacked.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ResourceArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ResourceArn",
        "setterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StartTime",
        "c2jShape" : "AttackTimestamp",
        "deprecated" : false,
        "documentation" : "<p>The start time of the attack, in the format 2016-12-16T13:50Z.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The start time of the attack, in the format 2016-12-16T13:50Z.</p>\n@param startTime The start time of the attack, in the format 2016-12-16T13:50Z.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The start time of the attack, in the format 2016-12-16T13:50Z.</p>\n@return The start time of the attack, in the format 2016-12-16T13:50Z.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "StartTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StartTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "StartTime",
        "setterDocumentation" : "/**<p>The start time of the attack, in the format 2016-12-16T13:50Z.</p>\n@param startTime The start time of the attack, in the format 2016-12-16T13:50Z.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The start time of the attack, in the format 2016-12-16T13:50Z.</p>\n@param startTime The start time of the attack, in the format 2016-12-16T13:50Z.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The start time of the attack, in the format 2016-12-16T13:50Z.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EndTime",
        "c2jShape" : "AttackTimestamp",
        "deprecated" : false,
        "documentation" : "<p>The end time of the attack, in the format 2016-12-16T13:50Z.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The end time of the attack, in the format 2016-12-16T13:50Z.</p>\n@param endTime The end time of the attack, in the format 2016-12-16T13:50Z.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The end time of the attack, in the format 2016-12-16T13:50Z.</p>\n@return The end time of the attack, in the format 2016-12-16T13:50Z.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "EndTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EndTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "EndTime",
        "setterDocumentation" : "/**<p>The end time of the attack, in the format 2016-12-16T13:50Z.</p>\n@param endTime The end time of the attack, in the format 2016-12-16T13:50Z.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "endTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The end time of the attack, in the format 2016-12-16T13:50Z.</p>\n@param endTime The end time of the attack, in the format 2016-12-16T13:50Z.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "endTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The end time of the attack, in the format 2016-12-16T13:50Z.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AttackVectors",
        "c2jShape" : "AttackVectorDescriptionList",
        "deprecated" : false,
        "documentation" : "<p>The list of attacks for a specified time period.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The list of attacks for a specified time period.</p>\n@param attackVectors The list of attacks for a specified time period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The list of attacks for a specified time period.</p>\n@return The list of attacks for a specified time period.*/",
        "getterModel" : {
          "returnType" : "java.util.List<AttackVectorDescription>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AttackVectors",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AttackVectors",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "AttackVectorDescription",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "AttackVectorDescription",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "AttackVectorDescription",
              "variableName" : "member",
              "variableType" : "AttackVectorDescription",
              "documentation" : "",
              "simpleType" : "AttackVectorDescription",
              "variableSetterType" : "AttackVectorDescription"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "AttackVectorDescription",
              "variableName" : "member",
              "variableType" : "AttackVectorDescription",
              "documentation" : "",
              "simpleType" : "AttackVectorDescription",
              "variableSetterType" : "AttackVectorDescription"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "AttackVectorDescription",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "AttackVectorDescription",
          "templateImplType" : "java.util.ArrayList<AttackVectorDescription>",
          "templateType" : "java.util.List<AttackVectorDescription>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "AttackVectors",
        "setterDocumentation" : "/**<p>The list of attacks for a specified time period.</p>\n@param attackVectors The list of attacks for a specified time period.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<AttackVectorDescription>",
          "variableName" : "attackVectors",
          "variableType" : "java.util.List<AttackVectorDescription>",
          "documentation" : "",
          "simpleType" : "List<AttackVectorDescription>",
          "variableSetterType" : "java.util.Collection<AttackVectorDescription>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>The list of attacks for a specified time period.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttackVectors(java.util.Collection)} or {@link #withAttackVectors(java.util.Collection)} if you want to override the existing values.</p>\n@param attackVectors The list of attacks for a specified time period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<AttackVectorDescription>",
          "variableName" : "attackVectors",
          "variableType" : "java.util.List<AttackVectorDescription>",
          "documentation" : "<p>The list of attacks for a specified time period.</p>",
          "simpleType" : "List<AttackVectorDescription>",
          "variableSetterType" : "java.util.Collection<AttackVectorDescription>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AttackId" : {
          "c2jName" : "AttackId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@return The unique identifier (ID) of the attack.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AttackId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AttackId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AttackId",
          "setterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "attackId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "attackId",
            "variableType" : "String",
            "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AttackVectors" : {
          "c2jName" : "AttackVectors",
          "c2jShape" : "AttackVectorDescriptionList",
          "deprecated" : false,
          "documentation" : "<p>The list of attacks for a specified time period.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The list of attacks for a specified time period.</p>\n@param attackVectors The list of attacks for a specified time period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The list of attacks for a specified time period.</p>\n@return The list of attacks for a specified time period.*/",
          "getterModel" : {
            "returnType" : "java.util.List<AttackVectorDescription>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AttackVectors",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AttackVectors",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "AttackVectorDescription",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "AttackVectorDescription",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
[...]
