{
  "metadata" : {
    "apiVersion" : "2014-11-12",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS Config</fullname> <p>AWS Config provides a way to keep track of the configurations of all the AWS resources associated with your AWS account. You can use AWS Config to get the current and historical configurations of each AWS resource and also to get information about the relationship between the resources. An AWS resource can be an Amazon Compute Cloud (Amazon EC2) instance, an Elastic Block Store (EBS) volume, an Elastic network Interface (ENI), or a security group. For a complete list of resources currently supported by AWS Config, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html#supported-resources\">Supported AWS Resources</a>.</p> <p>You can access and manage AWS Config through the AWS Management Console, the AWS Command Line Interface (AWS CLI), the AWS Config API, or the AWS SDKs for AWS Config</p> <p>This reference guide contains documentation for the AWS Config API and the AWS CLI commands that you can use to manage AWS Config.</p> <p>The AWS Config API uses the Signature Version 4 protocol for signing requests. For more information about how to sign a request with this protocol, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>For detailed information about AWS Config features and their associated actions or commands, as well as how to work with AWS Management Console, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/WhatIsConfig.html\">What Is AWS Config?</a> in the <i>AWS Config Developer Guide</i>.</p>",
    "defaultEndpoint" : "config.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "config.us-east-1.amazonaws.com/",
    "syncInterface" : "AmazonConfig",
    "syncClient" : "AmazonConfigClient",
    "asyncInterface" : "AmazonConfigAsync",
    "asyncClient" : "AmazonConfigAsyncClient",
    "packageName" : "com.amazonaws.services.config",
    "packagePath" : "com/amazonaws/services/config",
    "serviceAbbreviation" : "Config Service",
    "serviceFullName" : "AWS Config",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "config",
    "signingName" : "config",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AmazonConfigClientBuilder",
    "asyncClientBuilderClassName" : "AmazonConfigAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonConfigModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.config.smoketests",
    "serviceName" : "Config Service",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "DeleteConfigRule" : {
      "documentation" : "<p>Deletes the specified AWS Config rule and all of its evaluation results.</p> <p>AWS Config sets the state of a rule to <code>DELETING</code> until the deletion is complete. You cannot update a rule while it is in this state. If you make a <code>PutConfigRule</code> or <code>DeleteConfigRule</code> request for the rule, you will receive a <code>ResourceInUseException</code>.</p> <p>You can check the state of a rule by using the <code>DescribeConfigRules</code> request.</p>",
      "operationName" : "DeleteConfigRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteConfigRuleRequest",
        "variableType" : "DeleteConfigRuleRequest",
        "variableDeclarationType" : "DeleteConfigRuleRequest",
        "documentation" : "",
        "simpleType" : "DeleteConfigRuleRequest",
        "variableSetterType" : "DeleteConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteConfigRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The rule is currently being deleted or the rule is deleting your evaluation results. Try your request again later.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteConfigRuleResult",
      "asyncReturnType" : "DeleteConfigRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigRuleRequest, DeleteConfigRuleResult>",
      "authenticated" : true,
      "methodName" : "deleteConfigRule"
    },
    "DeleteConfigurationRecorder" : {
      "documentation" : "<p>Deletes the configuration recorder.</p> <p>After the configuration recorder is deleted, AWS Config will not record resource configuration changes until you create a new configuration recorder.</p> <p>This action does not delete the configuration information that was previously recorded. You will be able to access the previously recorded information by using the <code>GetResourceConfigHistory</code> action, but you will not be able to access this information in the AWS Config console until you create a new configuration recorder.</p>",
      "operationName" : "DeleteConfigurationRecorder",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteConfigurationRecorderRequest",
        "variableType" : "DeleteConfigurationRecorderRequest",
        "variableDeclarationType" : "DeleteConfigurationRecorderRequest",
        "documentation" : "<p>The request object for the <code>DeleteConfigurationRecorder</code> action.</p>",
        "simpleType" : "DeleteConfigurationRecorderRequest",
        "variableSetterType" : "DeleteConfigurationRecorderRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteConfigurationRecorderResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteConfigurationRecorderResult",
      "asyncReturnType" : "DeleteConfigurationRecorderResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationRecorderResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationRecorderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationRecorderRequest, DeleteConfigurationRecorderResult>",
      "authenticated" : true,
      "methodName" : "deleteConfigurationRecorder"
    },
    "DeleteDeliveryChannel" : {
      "documentation" : "<p>Deletes the delivery channel.</p> <p>Before you can delete the delivery channel, you must stop the configuration recorder by using the <a>StopConfigurationRecorder</a> action.</p>",
      "operationName" : "DeleteDeliveryChannel",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDeliveryChannelRequest",
        "variableType" : "DeleteDeliveryChannelRequest",
        "variableDeclarationType" : "DeleteDeliveryChannelRequest",
        "documentation" : "<p> The input for the <a>DeleteDeliveryChannel</a> action. The action accepts the following data in JSON format. </p>",
        "simpleType" : "DeleteDeliveryChannelRequest",
        "variableSetterType" : "DeleteDeliveryChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteDeliveryChannelResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchDeliveryChannelException",
        "documentation" : "<p>You have specified a delivery channel that does not exist.</p>"
      }, {
        "exceptionName" : "LastDeliveryChannelDeleteFailedException",
        "documentation" : "<p>You cannot delete the delivery channel you specified because the configuration recorder is running.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteDeliveryChannelResult",
      "asyncReturnType" : "DeleteDeliveryChannelResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeliveryChannelResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeliveryChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeliveryChannelRequest, DeleteDeliveryChannelResult>",
      "authenticated" : true,
      "methodName" : "deleteDeliveryChannel"
    },
    "DeleteEvaluationResults" : {
      "documentation" : "<p>Deletes the evaluation results for the specified Config rule. You can specify one Config rule per request. After you delete the evaluation results, you can call the <a>StartConfigRulesEvaluation</a> API to start evaluating your AWS resources against the rule.</p>",
      "operationName" : "DeleteEvaluationResults",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteEvaluationResultsRequest",
        "variableType" : "DeleteEvaluationResultsRequest",
        "variableDeclarationType" : "DeleteEvaluationResultsRequest",
        "documentation" : "",
        "simpleType" : "DeleteEvaluationResultsRequest",
        "variableSetterType" : "DeleteEvaluationResultsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteEvaluationResultsResult",
        "documentation" : "<p>The output when you delete the evaluation results for the specified Config rule.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The rule is currently being deleted or the rule is deleting your evaluation results. Try your request again later.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteEvaluationResultsResult",
      "asyncReturnType" : "DeleteEvaluationResultsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEvaluationResultsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEvaluationResultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEvaluationResultsRequest, DeleteEvaluationResultsResult>",
      "authenticated" : true,
      "methodName" : "deleteEvaluationResults"
    },
    "DeliverConfigSnapshot" : {
      "documentation" : "<p>Schedules delivery of a configuration snapshot to the Amazon S3 bucket in the specified delivery channel. After the delivery has started, AWS Config sends following notifications using an Amazon SNS topic that you have specified.</p> <ul> <li>Notification of starting the delivery.</li> <li>Notification of delivery completed, if the delivery was successfully completed.</li> <li>Notification of delivery failure, if the delivery failed to complete.</li> </ul>",
      "operationName" : "DeliverConfigSnapshot",
      "deprecated" : false,
      "input" : {
        "variableName" : "deliverConfigSnapshotRequest",
        "variableType" : "DeliverConfigSnapshotRequest",
        "variableDeclarationType" : "DeliverConfigSnapshotRequest",
        "documentation" : "<p> The input for the <a>DeliverConfigSnapshot</a> action. </p>",
        "simpleType" : "DeliverConfigSnapshotRequest",
        "variableSetterType" : "DeliverConfigSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeliverConfigSnapshotResult",
        "documentation" : "<p> The output for the <a>DeliverConfigSnapshot</a> action in JSON format. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchDeliveryChannelException",
        "documentation" : "<p>You have specified a delivery channel that does not exist.</p>"
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>"
      }, {
        "exceptionName" : "NoRunningConfigurationRecorderException",
        "documentation" : "<p>There is no configuration recorder running.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeliverConfigSnapshotResult",
      "asyncReturnType" : "DeliverConfigSnapshotResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeliverConfigSnapshotResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeliverConfigSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeliverConfigSnapshotRequest, DeliverConfigSnapshotResult>",
      "authenticated" : true,
      "methodName" : "deliverConfigSnapshot"
    },
    "DescribeComplianceByConfigRule" : {
      "documentation" : "<p>Indicates whether the specified AWS Config rules are compliant. If a rule is noncompliant, this action returns the number of AWS resources that do not comply with the rule.</p> <p>A rule is compliant if all of the evaluated resources comply with it, and it is noncompliant if any of these resources do not comply. </p> <p>If AWS Config has no current evaluation results for the rule, it returns <code>INSUFFICIENT_DATA</code>. This result might indicate one of the following conditions:</p> <ul> <li>AWS Config has never invoked an evaluation for the rule. To check whether it has, use the <code>DescribeConfigRuleEvaluationStatus</code> action to get the <code>LastSuccessfulInvocationTime</code> and <code>LastFailedInvocationTime</code>.</li> <li>The rule's AWS Lambda function is failing to send evaluation results to AWS Config. Verify that the role that you assigned to your configuration recorder includes the <code>config:PutEvaluations</code> permission. If the rule is a custom rule, verify that the AWS Lambda execution role includes the <code>config:PutEvaluations</code> permission.</li> <li>The rule's AWS Lambda function has returned <code>NOT_APPLICABLE</code> for all evaluation results. This can occur if the resources were deleted or removed from the rule's scope.</li> </ul>",
      "operationName" : "DescribeComplianceByConfigRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeComplianceByConfigRuleRequest",
        "variableType" : "DescribeComplianceByConfigRuleRequest",
        "variableDeclarationType" : "DescribeComplianceByConfigRuleRequest",
        "documentation" : "",
        "simpleType" : "DescribeComplianceByConfigRuleRequest",
        "variableSetterType" : "DescribeComplianceByConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeComplianceByConfigRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>"
      }, {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeComplianceByConfigRuleResult",
      "asyncReturnType" : "DescribeComplianceByConfigRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeComplianceByConfigRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeComplianceByConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeComplianceByConfigRuleRequest, DescribeComplianceByConfigRuleResult>",
      "authenticated" : true,
      "methodName" : "describeComplianceByConfigRule"
    },
    "DescribeComplianceByResource" : {
      "documentation" : "<p>Indicates whether the specified AWS resources are compliant. If a resource is noncompliant, this action returns the number of AWS Config rules that the resource does not comply with. </p> <p>A resource is compliant if it complies with all the AWS Config rules that evaluate it. It is noncompliant if it does not comply with one or more of these rules.</p> <p>If AWS Config has no current evaluation results for the resource, it returns <code>INSUFFICIENT_DATA</code>. This result might indicate one of the following conditions about the rules that evaluate the resource:</p> <ul> <li>AWS Config has never invoked an evaluation for the rule. To check whether it has, use the <code>DescribeConfigRuleEvaluationStatus</code> action to get the <code>LastSuccessfulInvocationTime</code> and <code>LastFailedInvocationTime</code>.</li> <li>The rule's AWS Lambda function is failing to send evaluation results to AWS Config. Verify that the role that you assigned to your configuration recorder includes the <code>config:PutEvaluations</code> permission. If the rule is a custom rule, verify that the AWS Lambda execution role includes the <code>config:PutEvaluations</code> permission.</li> <li>The rule's AWS Lambda function has returned <code>NOT_APPLICABLE</code> for all evaluation results. This can occur if the resources were deleted or removed from the rule's scope.</li> </ul>",
      "operationName" : "DescribeComplianceByResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeComplianceByResourceRequest",
        "variableType" : "DescribeComplianceByResourceRequest",
        "variableDeclarationType" : "DescribeComplianceByResourceRequest",
        "documentation" : "",
        "simpleType" : "DescribeComplianceByResourceRequest",
        "variableSetterType" : "DescribeComplianceByResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeComplianceByResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeComplianceByResourceResult",
      "asyncReturnType" : "DescribeComplianceByResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeComplianceByResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeComplianceByResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeComplianceByResourceRequest, DescribeComplianceByResourceResult>",
      "authenticated" : true,
      "methodName" : "describeComplianceByResource"
    },
    "DescribeConfigRuleEvaluationStatus" : {
      "documentation" : "<p>Returns status information for each of your AWS managed Config rules. The status includes information such as the last time AWS Config invoked the rule, the last time AWS Config failed to invoke the rule, and the related error for the last failure.</p>",
      "operationName" : "DescribeConfigRuleEvaluationStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeConfigRuleEvaluationStatusRequest",
        "variableType" : "DescribeConfigRuleEvaluationStatusRequest",
        "variableDeclarationType" : "DescribeConfigRuleEvaluationStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigRuleEvaluationStatusRequest",
        "variableSetterType" : "DescribeConfigRuleEvaluationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeConfigRuleEvaluationStatusResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeConfigRuleEvaluationStatusResult",
      "asyncReturnType" : "DescribeConfigRuleEvaluationStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigRuleEvaluationStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigRuleEvaluationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigRuleEvaluationStatusRequest, DescribeConfigRuleEvaluationStatusResult>",
      "authenticated" : true,
      "methodName" : "describeConfigRuleEvaluationStatus"
    },
    "DescribeConfigRules" : {
      "documentation" : "<p>Returns details about your AWS Config rules.</p>",
      "operationName" : "DescribeConfigRules",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeConfigRulesRequest",
        "variableType" : "DescribeConfigRulesRequest",
        "variableDeclarationType" : "DescribeConfigRulesRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigRulesRequest",
        "variableSetterType" : "DescribeConfigRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeConfigRulesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeConfigRulesResult",
      "asyncReturnType" : "DescribeConfigRulesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigRulesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigRulesRequest, DescribeConfigRulesResult>",
      "authenticated" : true,
      "methodName" : "describeConfigRules"
    },
    "DescribeConfigurationRecorderStatus" : {
      "documentation" : "<p>Returns the current status of the specified configuration recorder. If a configuration recorder is not specified, this action returns the status of all configuration recorder associated with the account.</p> <note> <p>Currently, you can specify only one configuration recorder per account.</p> </note>",
      "operationName" : "DescribeConfigurationRecorderStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeConfigurationRecorderStatusRequest",
        "variableType" : "DescribeConfigurationRecorderStatusRequest",
        "variableDeclarationType" : "DescribeConfigurationRecorderStatusRequest",
        "documentation" : "<p>The input for the <a>DescribeConfigurationRecorderStatus</a> action.</p>",
        "simpleType" : "DescribeConfigurationRecorderStatusRequest",
        "variableSetterType" : "DescribeConfigurationRecorderStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeConfigurationRecorderStatusResult",
        "documentation" : "<p>The output for the <a>DescribeConfigurationRecorderStatus</a> action in JSON format.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeConfigurationRecorderStatusResult",
      "asyncReturnType" : "DescribeConfigurationRecorderStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationRecorderStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationRecorderStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRecorderStatusRequest, DescribeConfigurationRecorderStatusResult>",
      "authenticated" : true,
      "methodName" : "describeConfigurationRecorderStatus"
    },
    "DescribeConfigurationRecorders" : {
      "documentation" : "<p>Returns the name of one or more specified configuration recorders. If the recorder name is not specified, this action returns the names of all the configuration recorders associated with the account. </p> <note> <p>Currently, you can specify only one configuration recorder per account.</p> </note>",
      "operationName" : "DescribeConfigurationRecorders",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeConfigurationRecordersRequest",
        "variableType" : "DescribeConfigurationRecordersRequest",
        "variableDeclarationType" : "DescribeConfigurationRecordersRequest",
        "documentation" : "<p>The input for the <a>DescribeConfigurationRecorders</a> action.</p>",
        "simpleType" : "DescribeConfigurationRecordersRequest",
        "variableSetterType" : "DescribeConfigurationRecordersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeConfigurationRecordersResult",
        "documentation" : "<p>The output for the <a>DescribeConfigurationRecorders</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeConfigurationRecordersResult",
      "asyncReturnType" : "DescribeConfigurationRecordersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationRecordersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationRecordersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRecordersRequest, DescribeConfigurationRecordersResult>",
      "authenticated" : true,
      "methodName" : "describeConfigurationRecorders"
    },
    "DescribeDeliveryChannelStatus" : {
      "documentation" : "<p>Returns the current status of the specified delivery channel. If a delivery channel is not specified, this action returns the current status of all delivery channels associated with the account. </p> <note> <p>Currently, you can specify only one delivery channel per account.</p> </note>",
      "operationName" : "DescribeDeliveryChannelStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeDeliveryChannelStatusRequest",
        "variableType" : "DescribeDeliveryChannelStatusRequest",
        "variableDeclarationType" : "DescribeDeliveryChannelStatusRequest",
        "documentation" : "<p>The input for the <a>DeliveryChannelStatus</a> action.</p>",
        "simpleType" : "DescribeDeliveryChannelStatusRequest",
        "variableSetterType" : "DescribeDeliveryChannelStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeDeliveryChannelStatusResult",
        "documentation" : "<p>The output for the <a>DescribeDeliveryChannelStatus</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchDeliveryChannelException",
        "documentation" : "<p>You have specified a delivery channel that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeDeliveryChannelStatusResult",
      "asyncReturnType" : "DescribeDeliveryChannelStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeliveryChannelStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeliveryChannelStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeliveryChannelStatusRequest, DescribeDeliveryChannelStatusResult>",
      "authenticated" : true,
      "methodName" : "describeDeliveryChannelStatus"
    },
    "DescribeDeliveryChannels" : {
      "documentation" : "<p>Returns details about the specified delivery channel. If a delivery channel is not specified, this action returns the details of all delivery channels associated with the account. </p> <note> <p>Currently, you can specify only one delivery channel per account.</p> </note>",
      "operationName" : "DescribeDeliveryChannels",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeDeliveryChannelsRequest",
        "variableType" : "DescribeDeliveryChannelsRequest",
        "variableDeclarationType" : "DescribeDeliveryChannelsRequest",
        "documentation" : "<p>The input for the <a>DescribeDeliveryChannels</a> action.</p>",
        "simpleType" : "DescribeDeliveryChannelsRequest",
        "variableSetterType" : "DescribeDeliveryChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeDeliveryChannelsResult",
        "documentation" : "<p>The output for the <a>DescribeDeliveryChannels</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchDeliveryChannelException",
        "documentation" : "<p>You have specified a delivery channel that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeDeliveryChannelsResult",
      "asyncReturnType" : "DescribeDeliveryChannelsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeliveryChannelsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeliveryChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeliveryChannelsRequest, DescribeDeliveryChannelsResult>",
      "authenticated" : true,
      "methodName" : "describeDeliveryChannels"
    },
    "GetComplianceDetailsByConfigRule" : {
      "documentation" : "<p>Returns the evaluation results for the specified AWS Config rule. The results indicate which AWS resources were evaluated by the rule, when each resource was last evaluated, and whether each resource complies with the rule.</p>",
      "operationName" : "GetComplianceDetailsByConfigRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "getComplianceDetailsByConfigRuleRequest",
        "variableType" : "GetComplianceDetailsByConfigRuleRequest",
        "variableDeclarationType" : "GetComplianceDetailsByConfigRuleRequest",
        "documentation" : "",
        "simpleType" : "GetComplianceDetailsByConfigRuleRequest",
        "variableSetterType" : "GetComplianceDetailsByConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetComplianceDetailsByConfigRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>"
      }, {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetComplianceDetailsByConfigRuleResult",
      "asyncReturnType" : "GetComplianceDetailsByConfigRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceDetailsByConfigRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceDetailsByConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceDetailsByConfigRuleRequest, GetComplianceDetailsByConfigRuleResult>",
      "authenticated" : true,
      "methodName" : "getComplianceDetailsByConfigRule"
    },
    "GetComplianceDetailsByResource" : {
      "documentation" : "<p>Returns the evaluation results for the specified AWS resource. The results indicate which AWS Config rules were used to evaluate the resource, when each rule was last used, and whether the resource complies with each rule.</p>",
      "operationName" : "GetComplianceDetailsByResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "getComplianceDetailsByResourceRequest",
        "variableType" : "GetComplianceDetailsByResourceRequest",
        "variableDeclarationType" : "GetComplianceDetailsByResourceRequest",
        "documentation" : "",
        "simpleType" : "GetComplianceDetailsByResourceRequest",
        "variableSetterType" : "GetComplianceDetailsByResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetComplianceDetailsByResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetComplianceDetailsByResourceResult",
      "asyncReturnType" : "GetComplianceDetailsByResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceDetailsByResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceDetailsByResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceDetailsByResourceRequest, GetComplianceDetailsByResourceResult>",
      "authenticated" : true,
      "methodName" : "getComplianceDetailsByResource"
    },
    "GetComplianceSummaryByConfigRule" : {
      "documentation" : "<p>Returns the number of AWS Config rules that are compliant and noncompliant, up to a maximum of 25 for each.</p>",
      "operationName" : "GetComplianceSummaryByConfigRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "getComplianceSummaryByConfigRuleRequest",
        "variableType" : "GetComplianceSummaryByConfigRuleRequest",
        "variableDeclarationType" : "GetComplianceSummaryByConfigRuleRequest",
        "documentation" : null,
        "simpleType" : "GetComplianceSummaryByConfigRuleRequest",
        "variableSetterType" : "GetComplianceSummaryByConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetComplianceSummaryByConfigRuleResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetComplianceSummaryByConfigRuleResult",
      "asyncReturnType" : "GetComplianceSummaryByConfigRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceSummaryByConfigRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceSummaryByConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceSummaryByConfigRuleRequest, GetComplianceSummaryByConfigRuleResult>",
      "authenticated" : true,
      "methodName" : "getComplianceSummaryByConfigRule"
    },
    "GetComplianceSummaryByResourceType" : {
      "documentation" : "<p>Returns the number of resources that are compliant and the number that are noncompliant. You can specify one or more resource types to get these numbers for each resource type. The maximum number returned is 100.</p>",
      "operationName" : "GetComplianceSummaryByResourceType",
      "deprecated" : false,
      "input" : {
        "variableName" : "getComplianceSummaryByResourceTypeRequest",
        "variableType" : "GetComplianceSummaryByResourceTypeRequest",
        "variableDeclarationType" : "GetComplianceSummaryByResourceTypeRequest",
        "documentation" : "",
        "simpleType" : "GetComplianceSummaryByResourceTypeRequest",
        "variableSetterType" : "GetComplianceSummaryByResourceTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetComplianceSummaryByResourceTypeResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetComplianceSummaryByResourceTypeResult",
      "asyncReturnType" : "GetComplianceSummaryByResourceTypeResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceSummaryByResourceTypeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceSummaryByResourceTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceSummaryByResourceTypeRequest, GetComplianceSummaryByResourceTypeResult>",
      "authenticated" : true,
      "methodName" : "getComplianceSummaryByResourceType"
    },
    "GetResourceConfigHistory" : {
      "documentation" : "<p>Returns a list of configuration items for the specified resource. The list contains details about each state of the resource during the specified time interval.</p> <p>The response is paginated, and by default, AWS Config returns a limit of 10 configuration items per page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string, and to get the next page of results, run the request again and enter this string for the <code>nextToken</code> parameter.</p> <note> <p>Each call to the API is limited to span a duration of seven days. It is likely that the number of records returned is smaller than the specified <code>limit</code>. In such cases, you can make another call, using the <code>nextToken</code>.</p> </note>",
      "operationName" : "GetResourceConfigHistory",
      "deprecated" : false,
      "input" : {
        "variableName" : "getResourceConfigHistoryRequest",
        "variableType" : "GetResourceConfigHistoryRequest",
        "variableDeclarationType" : "GetResourceConfigHistoryRequest",
        "documentation" : "<p>The input for the <a>GetResourceConfigHistory</a> action.</p>",
        "simpleType" : "GetResourceConfigHistoryRequest",
        "variableSetterType" : "GetResourceConfigHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetResourceConfigHistoryResult",
        "documentation" : "<p>The output for the <a>GetResourceConfigHistory</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>"
      }, {
        "exceptionName" : "InvalidTimeRangeException",
        "documentation" : "<p>The specified time range is not valid. The earlier time is not chronologically before the later time.</p>"
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>"
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>"
      }, {
        "exceptionName" : "ResourceNotDiscoveredException",
        "documentation" : "<p>You have specified a resource that is either unknown or has not been discovered.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetResourceConfigHistoryResult",
      "asyncReturnType" : "GetResourceConfigHistoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceConfigHistoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceConfigHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceConfigHistoryRequest, GetResourceConfigHistoryResult>",
      "authenticated" : true,
      "methodName" : "getResourceConfigHistory"
    },
    "ListDiscoveredResources" : {
      "documentation" : "<p>Accepts a resource type and returns a list of resource identifiers for the resources of that type. A resource identifier includes the resource type, ID, and (if available) the custom resource name. The results consist of resources that AWS Config has discovered, including those that AWS Config is not currently recording. You can narrow the results to include only resources that have specific resource IDs or a resource name.</p> <note> <p>You can specify either resource IDs or a resource name but not both in the same request.</p> </note> <p>The response is paginated, and by default AWS Config lists 100 resource identifiers on each page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string, and to get the next page of results, run the request again and enter this string for the <code>nextToken</code> parameter.</p>",
      "operationName" : "ListDiscoveredResources",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDiscoveredResourcesRequest",
        "variableType" : "ListDiscoveredResourcesRequest",
        "variableDeclarationType" : "ListDiscoveredResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListDiscoveredResourcesRequest",
        "variableSetterType" : "ListDiscoveredResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDiscoveredResourcesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>"
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>"
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListDiscoveredResourcesResult",
      "asyncReturnType" : "ListDiscoveredResourcesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDiscoveredResourcesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDiscoveredResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDiscoveredResourcesRequest, ListDiscoveredResourcesResult>",
      "authenticated" : true,
      "methodName" : "listDiscoveredResources"
    },
    "PutConfigRule" : {
      "documentation" : "<p>Adds or updates an AWS Config rule for evaluating whether your AWS resources comply with your desired configurations. </p> <p>You can use this action for custom Config rules and AWS managed Config rules. A custom Config rule is a rule that you develop and maintain. An AWS managed Config rule is a customizable, predefined rule that AWS Config provides.</p> <p>If you are adding a new custom Config rule, you must first create the AWS Lambda function that the rule invokes to evaluate your resources. When you use the <code>PutConfigRule</code> action to add the rule to AWS Config, you must specify the Amazon Resource Name (ARN) that AWS Lambda assigns to the function. Specify the ARN for the <code>SourceIdentifier</code> key. This key is part of the <code>Source</code> object, which is part of the <code>ConfigRule</code> object. </p> <p>If you are adding a new AWS managed Config rule, specify the rule's identifier for the <code>SourceIdentifier</code> key. To reference AWS managed Config rule identifiers, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/evaluate-config_use-managed-rules.html\">Using AWS Managed Config Rules</a>.</p> <p>For any new rule that you add, specify the <code>ConfigRuleName</code> in the <code>ConfigRule</code> object. Do not specify the <code>ConfigRuleArn</code> or the <code>ConfigRuleId</code>. These values are generated by AWS Config for new rules.</p> <p>If you are updating a rule that you have added previously, specify the rule's <code>ConfigRuleName</code>, <code>ConfigRuleId</code>, or <code>ConfigRuleArn</code> in the <code>ConfigRule</code> data type that you use in this request.</p> <p>The maximum number of rules that AWS Config supports is 25.</p> <p>For more information about developing and using AWS Config rules, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/evaluate-config.html\">Evaluating AWS Resource Configurations with AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p> <p/>",
      "operationName" : "PutConfigRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "putConfigRuleRequest",
        "variableType" : "PutConfigRuleRequest",
        "variableDeclarationType" : "PutConfigRuleRequest",
        "documentation" : "",
        "simpleType" : "PutConfigRuleRequest",
        "variableSetterType" : "PutConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutConfigRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>"
      }, {
        "exceptionName" : "MaxNumberOfConfigRulesExceededException",
        "documentation" : "<p>Failed to add the AWS Config rule because the account already contains the maximum number of 25 rules. Consider deleting any deactivated rules before adding new rules.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The rule is currently being deleted or the rule is deleting your evaluation results. Try your request again later.</p>"
      }, {
        "exceptionName" : "InsufficientPermissionsException",
        "documentation" : "<p>Indicates one of the following errors:</p> <ul> <li>The rule cannot be created because the IAM role assigned to AWS Config lacks permissions to perform the config:Put* action.</li> <li>The AWS Lambda function cannot be invoked. Check the function ARN, and check the function's permissions.</li> </ul>"
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutConfigRuleResult",
      "asyncReturnType" : "PutConfigRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutConfigRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutConfigRuleRequest, PutConfigRuleResult>",
      "authenticated" : true,
      "methodName" : "putConfigRule"
    },
    "PutConfigurationRecorder" : {
      "documentation" : "<p>Creates a new configuration recorder to record the selected resource configurations.</p> <p>You can use this action to change the role <code>roleARN</code> and/or the <code>recordingGroup</code> of an existing recorder. To change the role, call the action on the existing configuration recorder and specify a role.</p> <note> <p>Currently, you can specify only one configuration recorder per account.</p> <p>If <code>ConfigurationRecorder</code> does not have the <b>recordingGroup</b> parameter specified, the default is to record all supported resource types.</p> </note>",
      "operationName" : "PutConfigurationRecorder",
      "deprecated" : false,
      "input" : {
        "variableName" : "putConfigurationRecorderRequest",
        "variableType" : "PutConfigurationRecorderRequest",
        "variableDeclarationType" : "PutConfigurationRecorderRequest",
        "documentation" : "<p>The input for the <a>PutConfigurationRecorder</a> action.</p>",
        "simpleType" : "PutConfigurationRecorderRequest",
        "variableSetterType" : "PutConfigurationRecorderRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutConfigurationRecorderResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "MaxNumberOfConfigurationRecordersExceededException",
        "documentation" : "<p>You have reached the limit on the number of recorders you can create.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRecorderNameException",
        "documentation" : "<p>You have provided a configuration recorder name that is not valid.</p>"
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>You have provided a null or empty role ARN.</p>"
      }, {
        "exceptionName" : "InvalidRecordingGroupException",
        "documentation" : "<p>AWS Config throws an exception if the recording group does not contain a valid list of resource types. Invalid values could also be incorrectly formatted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutConfigurationRecorderResult",
      "asyncReturnType" : "PutConfigurationRecorderResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutConfigurationRecorderResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutConfigurationRecorderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutConfigurationRecorderRequest, PutConfigurationRecorderResult>",
      "authenticated" : true,
      "methodName" : "putConfigurationRecorder"
    },
    "PutDeliveryChannel" : {
      "documentation" : "<p>Creates a delivery channel object to deliver configuration information to an Amazon S3 bucket and Amazon SNS topic.</p> <p>Before you can create a delivery channel, you must create a configuration recorder.</p> <p>You can use this action to change the Amazon S3 bucket or an Amazon SNS topic of the existing delivery channel. To change the Amazon S3 bucket or an Amazon SNS topic, call this action and specify the changed values for the S3 bucket and the SNS topic. If you specify a different value for either the S3 bucket or the SNS topic, this action will keep the existing value for the parameter that is not changed.</p> <note> <p>You can have only one delivery channel per AWS account.</p> </note>",
      "operationName" : "PutDeliveryChannel",
      "deprecated" : false,
      "input" : {
        "variableName" : "putDeliveryChannelRequest",
        "variableType" : "PutDeliveryChannelRequest",
        "variableDeclarationType" : "PutDeliveryChannelRequest",
        "documentation" : "<p>The input for the <a>PutDeliveryChannel</a> action.</p>",
        "simpleType" : "PutDeliveryChannelRequest",
        "variableSetterType" : "PutDeliveryChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutDeliveryChannelResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "MaxNumberOfDeliveryChannelsExceededException",
        "documentation" : "<p>You have reached the limit on the number of delivery channels you can create.</p>"
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>"
      }, {
        "exceptionName" : "InvalidDeliveryChannelNameException",
        "documentation" : "<p>The specified delivery channel name is not valid.</p>"
      }, {
        "exceptionName" : "NoSuchBucketException",
        "documentation" : "<p>The specified Amazon S3 bucket does not exist.</p>"
      }, {
        "exceptionName" : "InvalidS3KeyPrefixException",
        "documentation" : "<p>The specified Amazon S3 key prefix is not valid.</p>"
      }, {
        "exceptionName" : "InvalidSNSTopicARNException",
        "documentation" : "<p>The specified Amazon SNS topic does not exist.</p>"
      }, {
        "exceptionName" : "InsufficientDeliveryPolicyException",
        "documentation" : "<p>Your Amazon S3 bucket policy does not permit AWS Config to write to it.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutDeliveryChannelResult",
      "asyncReturnType" : "PutDeliveryChannelResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutDeliveryChannelResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutDeliveryChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDeliveryChannelRequest, PutDeliveryChannelResult>",
      "authenticated" : true,
      "methodName" : "putDeliveryChannel"
    },
    "PutEvaluations" : {
      "documentation" : "<p>Used by an AWS Lambda function to deliver evaluation results to AWS Config. This action is required in every AWS Lambda function that is invoked by an AWS Config rule.</p>",
      "operationName" : "PutEvaluations",
      "deprecated" : false,
      "input" : {
        "variableName" : "putEvaluationsRequest",
        "variableType" : "PutEvaluationsRequest",
        "variableDeclarationType" : "PutEvaluationsRequest",
        "documentation" : "",
        "simpleType" : "PutEvaluationsRequest",
        "variableSetterType" : "PutEvaluationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutEvaluationsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>"
      }, {
        "exceptionName" : "InvalidResultTokenException",
        "documentation" : "<p>The result token is invalid.</p>"
      }, {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutEvaluationsResult",
      "asyncReturnType" : "PutEvaluationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutEvaluationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutEvaluationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutEvaluationsRequest, PutEvaluationsResult>",
      "authenticated" : true,
      "methodName" : "putEvaluations"
    },
    "StartConfigRulesEvaluation" : {
      "documentation" : "<p>Evaluates your resources against the specified Config rules. You can specify up to 25 Config rules per request.</p> <p>An existing <a>StartConfigRulesEvaluation</a> call must complete for the rules that you specified before you can call the API again. If you chose to have AWS Config stream to an Amazon SNS topic, you will receive a notification when the evaluation starts.</p>",
      "operationName" : "StartConfigRulesEvaluation",
      "deprecated" : false,
      "input" : {
        "variableName" : "startConfigRulesEvaluationRequest",
        "variableType" : "StartConfigRulesEvaluationRequest",
        "variableDeclarationType" : "StartConfigRulesEvaluationRequest",
        "documentation" : "",
        "simpleType" : "StartConfigRulesEvaluationRequest",
        "variableSetterType" : "StartConfigRulesEvaluationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StartConfigRulesEvaluationResult",
        "documentation" : "<p>The output when you start the evaluation for the specified Config rule.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when the previous <a>StartConfigRulesEvaluation</a> call is in progress or a previous evaluation is in progress.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The rule is currently being deleted or the rule is deleting your evaluation results. Try your request again later.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "StartConfigRulesEvaluationResult",
      "asyncReturnType" : "StartConfigRulesEvaluationResult",
      "asyncFutureType" : "java.util.concurrent.Future<StartConfigRulesEvaluationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StartConfigRulesEvaluationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartConfigRulesEvaluationRequest, StartConfigRulesEvaluationResult>",
      "authenticated" : true,
      "methodName" : "startConfigRulesEvaluation"
    },
    "StartConfigurationRecorder" : {
      "documentation" : "<p>Starts recording configurations of the AWS resources you have selected to record in your AWS account.</p> <p>You must have created at least one delivery channel to successfully start the configuration recorder.</p>",
      "operationName" : "StartConfigurationRecorder",
      "deprecated" : false,
      "input" : {
        "variableName" : "startConfigurationRecorderRequest",
        "variableType" : "StartConfigurationRecorderRequest",
        "variableDeclarationType" : "StartConfigurationRecorderRequest",
        "documentation" : "<p>The input for the <a>StartConfigurationRecorder</a> action.</p>",
        "simpleType" : "StartConfigurationRecorderRequest",
        "variableSetterType" : "StartConfigurationRecorderRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StartConfigurationRecorderResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>"
      }, {
        "exceptionName" : "NoAvailableDeliveryChannelException",
        "documentation" : "<p>There is no delivery channel available to record configurations.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "StartConfigurationRecorderResult",
      "asyncReturnType" : "StartConfigurationRecorderResult",
      "asyncFutureType" : "java.util.concurrent.Future<StartConfigurationRecorderResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StartConfigurationRecorderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartConfigurationRecorderRequest, StartConfigurationRecorderResult>",
      "authenticated" : true,
      "methodName" : "startConfigurationRecorder"
    },
    "StopConfigurationRecorder" : {
      "documentation" : "<p>Stops recording configurations of the AWS resources you have selected to record in your AWS account.</p>",
      "operationName" : "StopConfigurationRecorder",
      "deprecated" : false,
      "input" : {
        "variableName" : "stopConfigurationRecorderRequest",
        "variableType" : "StopConfigurationRecorderRequest",
        "variableDeclarationType" : "StopConfigurationRecorderRequest",
        "documentation" : "<p>The input for the <a>StopConfigurationRecorder</a> action.</p>",
        "simpleType" : "StopConfigurationRecorderRequest",
        "variableSetterType" : "StopConfigurationRecorderRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StopConfigurationRecorderResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "StopConfigurationRecorderResult",
      "asyncReturnType" : "StopConfigurationRecorderResult",
      "asyncFutureType" : "java.util.concurrent.Future<StopConfigurationRecorderResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StopConfigurationRecorderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopConfigurationRecorderRequest, StopConfigurationRecorderResult>",
      "authenticated" : true,
      "methodName" : "stopConfigurationRecorder"
    }
  },
  "shapes" : {
    "Owner" : {
      "c2jName" : "Owner",
      "documentation" : "",
      "shapeName" : "Owner",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "CUSTOM_LAMBDA",
        "value" : "CUSTOM_LAMBDA"
      }, {
        "name" : "AWS",
        "value" : "AWS"
      } ],
      "variable" : {
        "variableName" : "owner",
        "variableType" : "Owner",
        "variableDeclarationType" : "Owner",
        "documentation" : null,
        "simpleType" : "Owner",
        "variableSetterType" : "Owner"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "GetComplianceDetailsByConfigRuleResult" : {
      "c2jName" : "GetComplianceDetailsByConfigRuleResponse",
      "documentation" : "",
      "shapeName" : "GetComplianceDetailsByConfigRuleResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Indicates whether the AWS resource complies with the specified AWS Config rule.</p>",
        "name" : "EvaluationResults",
        "c2jName" : "EvaluationResults",
        "c2jShape" : "EvaluationResults",
        "variable" : {
          "variableName" : "evaluationResults",
          "variableType" : "java.util.List<EvaluationResult>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<EvaluationResult>",
          "documentation" : "<p>Indicates whether the AWS resource complies with the specified AWS Config rule.</p>",
          "simpleType" : "List<EvaluationResult>",
          "variableSetterType" : "java.util.Collection<EvaluationResult>"
        },
        "setterModel" : {
          "variableName" : "evaluationResults",
          "variableType" : "java.util.List<EvaluationResult>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<EvaluationResult>",
          "documentation" : "",
          "simpleType" : "List<EvaluationResult>",
          "variableSetterType" : "java.util.Collection<EvaluationResult>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<EvaluationResult>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "EvaluationResults",
          "marshallLocationName" : "EvaluationResults",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "EvaluationResult",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "EvaluationResult",
            "variable" : {
              "variableName" : "member",
              "variableType" : "EvaluationResult",
              "variableDeclarationType" : "EvaluationResult",
              "documentation" : "",
              "simpleType" : "EvaluationResult",
              "variableSetterType" : "EvaluationResult"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "EvaluationResult",
              "variableDeclarationType" : "EvaluationResult",
              "documentation" : "",
              "simpleType" : "EvaluationResult",
              "variableSetterType" : "EvaluationResult"
            },
            "getterModel" : {
              "returnType" : "EvaluationResult",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "EvaluationResult",
          "templateType" : "java.util.List<EvaluationResult>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<EvaluationResult>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>Indicates whether the AWS resource complies with the specified AWS Config rule.</p>\n@param evaluationResults Indicates whether the AWS resource complies with the specified AWS Config rule.*/",
        "getterDocumentation" : "/**<p>Indicates whether the AWS resource complies with the specified AWS Config rule.</p>\n@return Indicates whether the AWS resource complies with the specified AWS Config rule.*/",
        "fluentSetterDocumentation" : "/**<p>Indicates whether the AWS resource complies with the specified AWS Config rule.</p>\n@param evaluationResults Indicates whether the AWS resource complies with the specified AWS Config rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Indicates whether the AWS resource complies with the specified AWS Config rule.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEvaluationResults(java.util.Collection)} or {@link #withEvaluationResults(java.util.Collection)} if you want to override the existing values.</p>\n@param evaluationResults Indicates whether the AWS resource complies with the specified AWS Config rule.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>",
        "name" : "NextToken",
        "c2jName" : "NextToken",
        "c2jShape" : "NextToken",
        "variable" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NextToken",
          "marshallLocationName" : "NextToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>\n@param nextToken The string that you use in a subsequent request to get the next page of results in a paginated response.*/",
        "getterDocumentation" : "/**<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>\n@return The string that you use in a subsequent request to get the next page of results in a paginated response.*/",
        "fluentSetterDocumentation" : "/**<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>\n@param nextToken The string that you use in a subsequent request to get the next page of results in a paginated response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>\n@param nextToken The string that you use in a subsequent request to get the next page of results in a paginated response.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getComplianceDetailsByConfigRuleResult",
        "variableType" : "GetComplianceDetailsByConfigRuleResult",
        "variableDeclarationType" : "GetComplianceDetailsByConfigRuleResult",
        "documentation" : null,
        "simpleType" : "GetComplianceDetailsByConfigRuleResult",
        "variableSetterType" : "GetComplianceDetailsByConfigRuleResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "NextToken" : {
          "documentation" : "<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>",
          "name" : "NextToken",
          "c2jName" : "NextToken",
          "c2jShape" : "NextToken",
          "variable" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "NextToken",
            "marshallLocationName" : "NextToken",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>\n@param nextToken The string that you use in a subsequent request to get the next page of results in a paginated response.*/",
          "getterDocumentation" : "/**<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>\n@return The string that you use in a subsequent request to get the next page of results in a paginated response.*/",
          "fluentSetterDocumentation" : "/**<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>\n@param nextToken The string that you use in a subsequent request to get the next page of results in a paginated response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>\n@param nextToken The string that you use in a subsequent request to get the next page of results in a paginated response.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "EvaluationResults" : {
          "documentation" : "<p>Indicates whether the AWS resource complies with the specified AWS Config rule.</p>",
          "name" : "EvaluationResults",
          "c2jName" : "EvaluationResults",
          "c2jShape" : "EvaluationResults",
          "variable" : {
            "variableName" : "evaluationResults",
            "variableType" : "java.util.List<EvaluationResult>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<EvaluationResult>",
            "documentation" : "<p>Indicates whether the AWS resource complies with the specified AWS Config rule.</p>",
            "simpleType" : "List<EvaluationResult>",
            "variableSetterType" : "java.util.Collection<EvaluationResult>"
          },
          "setterModel" : {
            "variableName" : "evaluationResults",
            "variableType" : "java.util.List<EvaluationResult>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<EvaluationResult>",
            "documentation" : "",
            "simpleType" : "List<EvaluationResult>",
            "variableSetterType" : "java.util.Collection<EvaluationResult>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<EvaluationResult>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "EvaluationResults",
            "marshallLocationName" : "EvaluationResults",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "EvaluationResult",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "EvaluationResult",
              "variable" : {
                "variableName" : "member",
                "variableType" : "EvaluationResult",
                "variableDeclarationType" : "EvaluationResult",
                "documentation" : "",
                "simpleType" : "EvaluationResult",
                "variableSetterType" : "EvaluationResult"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "EvaluationResult",
                "variableDeclarationType" : "EvaluationResult",
                "documentation" : "",
                "simpleType" : "EvaluationResult",
                "variableSetterType" : "EvaluationResult"
              },
              "getterModel" : {
                "returnType" : "EvaluationResult",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "EvaluationResult",
            "templateType" : "java.util.List<EvaluationResult>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<EvaluationResult>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>Indicates whether the AWS resource complies with the specified AWS Config rule.</p>\n@param evaluationResults Indicates whether the AWS resource complies with the specified AWS Config rule.*/",
          "getterDocumentation" : "/**<p>Indicates whether the AWS resource complies with the specified AWS Config rule.</p>\n@return Indicates whether the AWS resource complies with the specified AWS Config rule.*/",
          "fluentSetterDocumentation" : "/**<p>Indicates whether the AWS resource complies with the specified AWS Config rule.</p>\n@param evaluationResults Indicates whether the AWS resource complies with the specified AWS Config rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Indicates whether the AWS resource complies with the specified AWS Config rule.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEvaluationResults(java.util.Collection)} or {@link #withEvaluationResults(java.util.Collection)} if you want to override the existing values.</p>\n@param evaluationResults Indicates whether the AWS resource complies with the specified AWS Config rule.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "PutConfigurationRecorderRequest" : {
      "c2jName" : "PutConfigurationRecorderRequest",
      "documentation" : "<p>The input for the <a>PutConfigurationRecorder</a> action.</p>",
      "shapeName" : "PutConfigurationRecorderRequest",
      "deprecated" : false,
      "required" : [ "ConfigurationRecorder" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The configuration recorder object that records each configuration change made to the resources.</p>",
        "name" : "ConfigurationRecorder",
        "c2jName" : "ConfigurationRecorder",
        "c2jShape" : "ConfigurationRecorder",
        "variable" : {
          "variableName" : "configurationRecorder",
          "variableType" : "ConfigurationRecorder",
          "variableDeclarationType" : "ConfigurationRecorder",
          "documentation" : "<p>The configuration recorder object that records each configuration change made to the resources.</p>",
          "simpleType" : "ConfigurationRecorder",
          "variableSetterType" : "ConfigurationRecorder"
        },
        "setterModel" : {
          "variableName" : "configurationRecorder",
          "variableType" : "ConfigurationRecorder",
          "variableDeclarationType" : "ConfigurationRecorder",
          "documentation" : "",
          "simpleType" : "ConfigurationRecorder",
          "variableSetterType" : "ConfigurationRecorder"
        },
        "getterModel" : {
          "returnType" : "ConfigurationRecorder",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ConfigurationRecorder",
          "marshallLocationName" : "ConfigurationRecorder",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The configuration recorder object that records each configuration change made to the resources.</p>\n@param configurationRecorder The configuration recorder object that records each configuration change made to the resources.*/",
        "getterDocumentation" : "/**<p>The configuration recorder object that records each configuration change made to the resources.</p>\n@return The configuration recorder object that records each configuration change made to the resources.*/",
        "fluentSetterDocumentation" : "/**<p>The configuration recorder object that records each configuration change made to the resources.</p>\n@param configurationRecorder The configuration recorder object that records each configuration change made to the resources.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The configuration recorder object that records each configuration change made to the resources.</p>\n@param configurationRecorder The configuration recorder object that records each configuration change made to the resources.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "putConfigurationRecorderRequest",
        "variableType" : "PutConfigurationRecorderRequest",
        "variableDeclarationType" : "PutConfigurationRecorderRequest",
        "documentation" : null,
        "simpleType" : "PutConfigurationRecorderRequest",
        "variableSetterType" : "PutConfigurationRecorderRequest"
      },
      "marshaller" : {
        "action" : "PutConfigurationRecorder",
        "verb" : "POST",
        "target" : "StarlingDoveService.PutConfigurationRecorder",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ConfigurationRecorder" : {
          "documentation" : "<p>The configuration recorder object that records each configuration change made to the resources.</p>",
          "name" : "ConfigurationRecorder",
          "c2jName" : "ConfigurationRecorder",
          "c2jShape" : "ConfigurationRecorder",
          "variable" : {
            "variableName" : "configurationRecorder",
            "variableType" : "ConfigurationRecorder",
            "variableDeclarationType" : "ConfigurationRecorder",
            "documentation" : "<p>The configuration recorder object that records each configuration change made to the resources.</p>",
            "simpleType" : "ConfigurationRecorder",
            "variableSetterType" : "ConfigurationRecorder"
          },
          "setterModel" : {
            "variableName" : "configurationRecorder",
            "variableType" : "ConfigurationRecorder",
            "variableDeclarationType" : "ConfigurationRecorder",
            "documentation" : "",
            "simpleType" : "ConfigurationRecorder",
            "variableSetterType" : "ConfigurationRecorder"
          },
          "getterModel" : {
            "returnType" : "ConfigurationRecorder",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ConfigurationRecorder",
            "marshallLocationName" : "ConfigurationRecorder",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The configuration recorder object that records each configuration change made to the resources.</p>\n@param configurationRecorder The configuration recorder object that records each configuration change made to the resources.*/",
          "getterDocumentation" : "/**<p>The configuration recorder object that records each configuration change made to the resources.</p>\n@return The configuration recorder object that records each configuration change made to the resources.*/",
          "fluentSetterDocumentation" : "/**<p>The configuration recorder object that records each configuration change made to the resources.</p>\n@param configurationRecorder The configuration recorder object that records each configuration change made to the resources.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The configuration recorder object that records each configuration change made to the resources.</p>\n@param configurationRecorder The configuration recorder object that records each configuration change made to the resources.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "NoRunningConfigurationRecorderException" : {
      "c2jName" : "NoRunningConfigurationRecorderException",
      "documentation" : "<p>There is no configuration recorder running.</p>",
      "shapeName" : "NoRunningConfigurationRecorderException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "noRunningConfigurationRecorderException",
        "variableType" : "NoRunningConfigurationRecorderException",
        "variableDeclarationType" : "NoRunningConfigurationRecorderException",
        "documentation" : null,
        "simpleType" : "NoRunningConfigurationRecorderException",
        "variableSetterType" : "NoRunningConfigurationRecorderException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "NoRunningConfigurationRecorderException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "GetComplianceSummaryByResourceTypeResult" : {
      "c2jName" : "GetComplianceSummaryByResourceTypeResponse",
      "documentation" : "",
      "shapeName" : "GetComplianceSummaryByResourceTypeResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The number of resources that are compliant and the number that are noncompliant. If one or more resource types were provided with the request, the numbers are returned for each resource type. The maximum number returned is 100.</p>",
        "name" : "ComplianceSummariesByResourceType",
        "c2jName" : "ComplianceSummariesByResourceType",
        "c2jShape" : "ComplianceSummariesByResourceType",
        "variable" : {
          "variableName" : "complianceSummariesByResourceType",
          "variableType" : "java.util.List<ComplianceSummaryByResourceType>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<ComplianceSummaryByResourceType>",
          "documentation" : "<p>The number of resources that are compliant and the number that are noncompliant. If one or more resource types were provided with the request, the numbers are returned for each resource type. The maximum number returned is 100.</p>",
          "simpleType" : "List<ComplianceSummaryByResourceType>",
          "variableSetterType" : "java.util.Collection<ComplianceSummaryByResourceType>"
        },
        "setterModel" : {
          "variableName" : "complianceSummariesByResourceType",
          "variableType" : "java.util.List<ComplianceSummaryByResourceType>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<ComplianceSummaryByResourceType>",
          "documentation" : "",
          "simpleType" : "List<ComplianceSummaryByResourceType>",
          "variableSetterType" : "java.util.Collection<ComplianceSummaryByResourceType>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<ComplianceSummaryByResourceType>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ComplianceSummariesByResourceType",
          "marshallLocationName" : "ComplianceSummariesByResourceType",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "ComplianceSummaryByResourceType",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "ComplianceSummaryByResourceType",
            "variable" : {
              "variableName" : "member",
              "variableType" : "ComplianceSummaryByResourceType",
              "variableDeclarationType" : "ComplianceSummaryByResourceType",
              "documentation" : "",
              "simpleType" : "ComplianceSummaryByResourceType",
              "variableSetterType" : "ComplianceSummaryByResourceType"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "ComplianceSummaryByResourceType",
              "variableDeclarationType" : "ComplianceSummaryByResourceType",
              "documentation" : "",
              "simpleType" : "ComplianceSummaryByResourceType",
              "variableSetterType" : "ComplianceSummaryByResourceType"
            },
            "getterModel" : {
              "returnType" : "ComplianceSummaryByResourceType",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "ComplianceSummaryByResourceType",
          "templateType" : "java.util.List<ComplianceSummaryByResourceType>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<ComplianceSummaryByResourceType>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The number of resources that are compliant and the number that are noncompliant. If one or more resource types were provided with the request, the numbers are returned for each resource type. The maximum number returned is 100.</p>\n@param complianceSummariesByResourceType The number of resources that are compliant and the number that are noncompliant. If one or more resource types were provided with the request, the numbers are returned for each resource type. The maximum number returned is 100.*/",
[...]
