{
  "metadata" : {
    "apiVersion" : "2015-10-07",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>Amazon CloudWatch Events helps you to respond to state changes in your AWS resources. When your resources change state they automatically send events into an event stream. You can create rules that match selected events in the stream and route them to targets to take action. You can also use rules to take action on a pre-determined schedule. For example, you can configure rules to: </p> <ul> <li>Automatically invoke an AWS Lambda function to update DNS entries when an event notifies you that Amazon EC2 instance enters the running state.</li> <li>Direct specific API records from CloudTrail to an Amazon Kinesis stream for detailed analysis of potential security or availability risks.</li> <li>Periodically invoke a built-in target to create a snapshot of an Amazon EBS volume.</li> </ul> <p> For more information about Amazon CloudWatch Events features, see the <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide\">Amazon CloudWatch Developer Guide</a>. </p>",
    "defaultEndpoint" : "events.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "events.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonCloudWatchEvents",
    "syncClient" : "AmazonCloudWatchEventsClient",
    "asyncInterface" : "AmazonCloudWatchEventsAsync",
    "asyncClient" : "AmazonCloudWatchEventsAsyncClient",
    "packageName" : "com.amazonaws.services.cloudwatchevents",
    "packagePath" : "com/amazonaws/services/cloudwatchevents",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudWatch Events",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "events",
    "signingName" : "events",
    "syncClientBuilderClassName" : "AmazonCloudWatchEventsClientBuilder",
    "asyncClientBuilderClassName" : "AmazonCloudWatchEventsAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonCloudWatchEventsModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudwatchevents.smoketests",
    "serviceName" : "Amazon CloudWatch Events",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true
  },
  "operations" : {
    "DeleteRule" : {
      "documentation" : "<p>Deletes a rule. You must remove all targets from a rule using <a>RemoveTargets</a> before you can delete the rule.</p> <p> <b>Note:</b> When you delete a rule, incoming events might still continue to match to the deleted rule. Please allow a short period of time for changes to take effect. </p>",
      "operationName" : "DeleteRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRuleRequest",
        "variableType" : "DeleteRuleRequest",
        "variableDeclarationType" : "DeleteRuleRequest",
        "documentation" : "<p>Container for the parameters to the <a>DeleteRule</a> operation.</p>",
        "simpleType" : "DeleteRuleRequest",
        "variableSetterType" : "DeleteRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteRuleResult",
      "asyncReturnType" : "DeleteRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleRequest, DeleteRuleResult>",
      "authenticated" : true,
      "methodName" : "deleteRule"
    },
    "DescribeRule" : {
      "documentation" : "<p>Describes the details of the specified rule.</p>",
      "operationName" : "DescribeRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeRuleRequest",
        "variableType" : "DescribeRuleRequest",
        "variableDeclarationType" : "DescribeRuleRequest",
        "documentation" : "<p>Container for the parameters to the <a>DescribeRule</a> operation.</p>",
        "simpleType" : "DescribeRuleRequest",
        "variableSetterType" : "DescribeRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeRuleResult",
        "documentation" : "<p>The result of the <a>DescribeRule</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The rule does not exist.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeRuleResult",
      "asyncReturnType" : "DescribeRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRuleRequest, DescribeRuleResult>",
      "authenticated" : true,
      "methodName" : "describeRule"
    },
    "DisableRule" : {
      "documentation" : "<p>Disables a rule. A disabled rule won't match any events, and won't self-trigger if it has a schedule expression.</p> <p> <b>Note:</b> When you disable a rule, incoming events might still continue to match to the disabled rule. Please allow a short period of time for changes to take effect. </p>",
      "operationName" : "DisableRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableRuleRequest",
        "variableType" : "DisableRuleRequest",
        "variableDeclarationType" : "DisableRuleRequest",
        "documentation" : "<p>Container for the parameters to the <a>DisableRule</a> operation.</p>",
        "simpleType" : "DisableRuleRequest",
        "variableSetterType" : "DisableRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The rule does not exist.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DisableRuleResult",
      "asyncReturnType" : "DisableRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableRuleRequest, DisableRuleResult>",
      "authenticated" : true,
      "methodName" : "disableRule"
    },
    "EnableRule" : {
      "documentation" : "<p>Enables a rule. If the rule does not exist, the operation fails.</p> <p> <b>Note:</b> When you enable a rule, incoming events might not immediately start matching to a newly enabled rule. Please allow a short period of time for changes to take effect. </p>",
      "operationName" : "EnableRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableRuleRequest",
        "variableType" : "EnableRuleRequest",
        "variableDeclarationType" : "EnableRuleRequest",
        "documentation" : "<p>Container for the parameters to the <a>EnableRule</a> operation.</p>",
        "simpleType" : "EnableRuleRequest",
        "variableSetterType" : "EnableRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The rule does not exist.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "EnableRuleResult",
      "asyncReturnType" : "EnableRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableRuleRequest, EnableRuleResult>",
      "authenticated" : true,
      "methodName" : "enableRule"
    },
    "ListRuleNamesByTarget" : {
      "documentation" : "<p>Lists the names of the rules that the given target is put to. You can see which of the rules in Amazon CloudWatch Events can invoke a specific target in your account. If you have more rules in your account than the given limit, the results will be paginated. In that case, use the next token returned in the response and repeat ListRulesByTarget until the NextToken in the response is returned as null.</p>",
      "operationName" : "ListRuleNamesByTarget",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRuleNamesByTargetRequest",
        "variableType" : "ListRuleNamesByTargetRequest",
        "variableDeclarationType" : "ListRuleNamesByTargetRequest",
        "documentation" : "<p>Container for the parameters to the <a>ListRuleNamesByTarget</a> operation.</p>",
        "simpleType" : "ListRuleNamesByTargetRequest",
        "variableSetterType" : "ListRuleNamesByTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRuleNamesByTargetResult",
        "documentation" : "<p>The result of the <a>ListRuleNamesByTarget</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListRuleNamesByTargetResult",
      "asyncReturnType" : "ListRuleNamesByTargetResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRuleNamesByTargetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRuleNamesByTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRuleNamesByTargetRequest, ListRuleNamesByTargetResult>",
      "authenticated" : true,
      "methodName" : "listRuleNamesByTarget"
    },
    "ListRules" : {
      "documentation" : "<p>Lists the Amazon CloudWatch Events rules in your account. You can either list all the rules or you can provide a prefix to match to the rule names. If you have more rules in your account than the given limit, the results will be paginated. In that case, use the next token returned in the response and repeat ListRules until the NextToken in the response is returned as null.</p>",
      "operationName" : "ListRules",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRulesRequest",
        "variableType" : "ListRulesRequest",
        "variableDeclarationType" : "ListRulesRequest",
        "documentation" : "<p>Container for the parameters to the <a>ListRules</a> operation.</p>",
        "simpleType" : "ListRulesRequest",
        "variableSetterType" : "ListRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRulesResult",
        "documentation" : "<p>The result of the <a>ListRules</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListRulesResult",
      "asyncReturnType" : "ListRulesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRulesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRulesRequest, ListRulesResult>",
      "authenticated" : true,
      "methodName" : "listRules"
    },
    "ListTargetsByRule" : {
      "documentation" : "<p>Lists of targets assigned to the rule.</p>",
      "operationName" : "ListTargetsByRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTargetsByRuleRequest",
        "variableType" : "ListTargetsByRuleRequest",
        "variableDeclarationType" : "ListTargetsByRuleRequest",
        "documentation" : "<p>Container for the parameters to the <a>ListTargetsByRule</a> operation.</p>",
        "simpleType" : "ListTargetsByRuleRequest",
        "variableSetterType" : "ListTargetsByRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTargetsByRuleResult",
        "documentation" : "<p>The result of the <a>ListTargetsByRule</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The rule does not exist.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListTargetsByRuleResult",
      "asyncReturnType" : "ListTargetsByRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTargetsByRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTargetsByRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTargetsByRuleRequest, ListTargetsByRuleResult>",
      "authenticated" : true,
      "methodName" : "listTargetsByRule"
    },
    "PutEvents" : {
      "documentation" : "<p>Sends custom events to Amazon CloudWatch Events so that they can be matched to rules.</p>",
      "operationName" : "PutEvents",
      "deprecated" : false,
      "input" : {
        "variableName" : "putEventsRequest",
        "variableType" : "PutEventsRequest",
        "variableDeclarationType" : "PutEventsRequest",
        "documentation" : "<p>Container for the parameters to the <a>PutEvents</a> operation.</p>",
        "simpleType" : "PutEventsRequest",
        "variableSetterType" : "PutEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutEventsResult",
        "documentation" : "<p>The result of the <a>PutEvents</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutEventsResult",
      "asyncReturnType" : "PutEventsResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutEventsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutEventsRequest, PutEventsResult>",
      "authenticated" : true,
      "methodName" : "putEvents"
    },
    "PutRule" : {
      "documentation" : "<p>Creates or updates a rule. Rules are enabled by default, or based on value of the State parameter. You can disable a rule using <a>DisableRule</a>.</p> <p> <b>Note:</b> When you create or update a rule, incoming events might not immediately start matching to new or updated rules. Please allow a short period of time for changes to take effect.</p> <p>A rule must contain at least an EventPattern or ScheduleExpression. Rules with EventPatterns are triggered when a matching event is observed. Rules with ScheduleExpressions self-trigger based on the given schedule. A rule can have both an EventPattern and a ScheduleExpression, in which case the rule will trigger on matching events as well as on a schedule.</p> <p> <b>Note:</b> Most services in AWS treat : or / as the same character in Amazon Resource Names (ARNs). However, CloudWatch Events uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event you want to match. </p>",
      "operationName" : "PutRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "putRuleRequest",
        "variableType" : "PutRuleRequest",
        "variableDeclarationType" : "PutRuleRequest",
        "documentation" : "<p>Container for the parameters to the <a>PutRule</a> operation.</p>",
        "simpleType" : "PutRuleRequest",
        "variableSetterType" : "PutRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutRuleResult",
        "documentation" : "<p>The result of the <a>PutRule</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidEventPatternException",
        "documentation" : "<p>The event pattern is invalid.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception occurs if you try to create more rules or add more targets to a rule than allowed by default.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutRuleResult",
      "asyncReturnType" : "PutRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRuleRequest, PutRuleResult>",
      "authenticated" : true,
      "methodName" : "putRule"
    },
    "PutTargets" : {
      "documentation" : "<p>Adds target(s) to a rule. Targets are the resources that can be invoked when a rule is triggered. For example, AWS Lambda functions, Amazon Kinesis streams, and built-in targets. Updates the target(s) if they are already associated with the role. In other words, if there is already a target with the given target ID, then the target associated with that ID is updated.</p> <p>In order to be able to make API calls against the resources you own, Amazon CloudWatch Events needs the appropriate permissions. For AWS Lambda and Amazon SNS resources, CloudWatch Events relies on resource-based policies. For Amazon Kinesis streams, CloudWatch Events relies on IAM roles. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/EventsTargetPermissions.html\">Permissions for Sending Events to Targets</a> in the <b><i>Amazon CloudWatch Developer Guide</i></b>.</p> <p><b>Input</b> and <b>InputPath</b> are mutually-exclusive and optional parameters of a target. When a rule is triggered due to a matched event, if for a target:</p> <ul> <li>Neither <b>Input</b> nor <b>InputPath</b> is specified, then the entire event is passed to the target in JSON form.</li> <li> <b>InputPath</b> is specified in the form of JSONPath (e.g. <b>$.detail</b>), then only the part of the event specified in the path is passed to the target (e.g. only the detail part of the event is passed). </li> <li> <b>Input</b> is specified in the form of a valid JSON, then the matched event is overridden with this constant.</li> </ul> <p> <b>Note:</b> When you add targets to a rule, when the associated rule triggers, new or updated targets might not be immediately invoked. Please allow a short period of time for changes to take effect. </p>",
      "operationName" : "PutTargets",
      "deprecated" : false,
      "input" : {
        "variableName" : "putTargetsRequest",
        "variableType" : "PutTargetsRequest",
        "variableDeclarationType" : "PutTargetsRequest",
        "documentation" : "<p>Container for the parameters to the <a>PutTargets</a> operation.</p>",
        "simpleType" : "PutTargetsRequest",
        "variableSetterType" : "PutTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutTargetsResult",
        "documentation" : "<p>The result of the <a>PutTargets</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The rule does not exist.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception occurs if you try to create more rules or add more targets to a rule than allowed by default.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutTargetsResult",
      "asyncReturnType" : "PutTargetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutTargetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutTargetsRequest, PutTargetsResult>",
      "authenticated" : true,
      "methodName" : "putTargets"
    },
    "RemoveTargets" : {
      "documentation" : "<p>Removes target(s) from a rule so that when the rule is triggered, those targets will no longer be invoked.</p> <p> <b>Note:</b> When you remove a target, when the associated rule triggers, removed targets might still continue to be invoked. Please allow a short period of time for changes to take effect. </p>",
      "operationName" : "RemoveTargets",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTargetsRequest",
        "variableType" : "RemoveTargetsRequest",
        "variableDeclarationType" : "RemoveTargetsRequest",
        "documentation" : "<p>Container for the parameters to the <a>RemoveTargets</a> operation.</p>",
        "simpleType" : "RemoveTargetsRequest",
        "variableSetterType" : "RemoveTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTargetsResult",
        "documentation" : "<p>The result of the <a>RemoveTargets</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The rule does not exist.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RemoveTargetsResult",
      "asyncReturnType" : "RemoveTargetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTargetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTargetsRequest, RemoveTargetsResult>",
      "authenticated" : true,
      "methodName" : "removeTargets"
    },
    "TestEventPattern" : {
      "documentation" : "<p>Tests whether an event pattern matches the provided event.</p> <p> <b>Note:</b> Most services in AWS treat : or / as the same character in Amazon Resource Names (ARNs). However, CloudWatch Events uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event you want to match. </p>",
      "operationName" : "TestEventPattern",
      "deprecated" : false,
      "input" : {
        "variableName" : "testEventPatternRequest",
        "variableType" : "TestEventPatternRequest",
        "variableDeclarationType" : "TestEventPatternRequest",
        "documentation" : "<p>Container for the parameters to the <a>TestEventPattern</a> operation.</p>",
        "simpleType" : "TestEventPatternRequest",
        "variableSetterType" : "TestEventPatternRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TestEventPatternResult",
        "documentation" : "<p>The result of the <a>TestEventPattern</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidEventPatternException",
        "documentation" : "<p>The event pattern is invalid.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "TestEventPatternResult",
      "asyncReturnType" : "TestEventPatternResult",
      "asyncFutureType" : "java.util.concurrent.Future<TestEventPatternResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TestEventPatternResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestEventPatternRequest, TestEventPatternResult>",
      "authenticated" : true,
      "methodName" : "testEventPattern"
    }
  },
  "shapes" : {
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>",
      "shapeName" : "ConcurrentModificationException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "variableDeclarationType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "RuleState" : {
      "c2jName" : "RuleState",
      "documentation" : "",
      "shapeName" : "RuleState",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "ENABLED",
        "value" : "ENABLED"
      }, {
        "name" : "DISABLED",
        "value" : "DISABLED"
      } ],
      "variable" : {
        "variableName" : "ruleState",
        "variableType" : "RuleState",
        "variableDeclarationType" : "RuleState",
        "documentation" : null,
        "simpleType" : "RuleState",
        "variableSetterType" : "RuleState"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "TestEventPatternResult" : {
      "c2jName" : "TestEventPatternResponse",
      "documentation" : "<p>The result of the <a>TestEventPattern</a> operation.</p>",
      "shapeName" : "TestEventPatternResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Indicates whether the event matches the event pattern.</p>",
        "name" : "Result",
        "c2jName" : "Result",
        "c2jShape" : "Boolean",
        "variable" : {
          "variableName" : "result",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "<p>Indicates whether the event matches the event pattern.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "result",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Result",
          "marshallLocationName" : "Result",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Indicates whether the event matches the event pattern.</p>\n@param result Indicates whether the event matches the event pattern.*/",
        "getterDocumentation" : "/**<p>Indicates whether the event matches the event pattern.</p>\n@return Indicates whether the event matches the event pattern.*/",
        "fluentSetterDocumentation" : "/**<p>Indicates whether the event matches the event pattern.</p>\n@param result Indicates whether the event matches the event pattern.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Indicates whether the event matches the event pattern.</p>\n@param result Indicates whether the event matches the event pattern.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "testEventPatternResult",
        "variableType" : "TestEventPatternResult",
        "variableDeclarationType" : "TestEventPatternResult",
        "documentation" : null,
        "simpleType" : "TestEventPatternResult",
        "variableSetterType" : "TestEventPatternResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Result" : {
          "documentation" : "<p>Indicates whether the event matches the event pattern.</p>",
          "name" : "Result",
          "c2jName" : "Result",
          "c2jShape" : "Boolean",
          "variable" : {
            "variableName" : "result",
            "variableType" : "Boolean",
            "variableDeclarationType" : "Boolean",
            "documentation" : "<p>Indicates whether the event matches the event pattern.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "setterModel" : {
            "variableName" : "result",
            "variableType" : "Boolean",
            "variableDeclarationType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Result",
            "marshallLocationName" : "Result",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Indicates whether the event matches the event pattern.</p>\n@param result Indicates whether the event matches the event pattern.*/",
          "getterDocumentation" : "/**<p>Indicates whether the event matches the event pattern.</p>\n@return Indicates whether the event matches the event pattern.*/",
          "fluentSetterDocumentation" : "/**<p>Indicates whether the event matches the event pattern.</p>\n@param result Indicates whether the event matches the event pattern.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Indicates whether the event matches the event pattern.</p>\n@param result Indicates whether the event matches the event pattern.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "PutEventsResult" : {
      "c2jName" : "PutEventsResponse",
      "documentation" : "<p>The result of the <a>PutEvents</a> operation.</p>",
      "shapeName" : "PutEventsResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The number of failed entries.</p>",
        "name" : "FailedEntryCount",
        "c2jName" : "FailedEntryCount",
        "c2jShape" : "Integer",
        "variable" : {
          "variableName" : "failedEntryCount",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The number of failed entries.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "failedEntryCount",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "FailedEntryCount",
          "marshallLocationName" : "FailedEntryCount",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The number of failed entries.</p>\n@param failedEntryCount The number of failed entries.*/",
        "getterDocumentation" : "/**<p>The number of failed entries.</p>\n@return The number of failed entries.*/",
        "fluentSetterDocumentation" : "/**<p>The number of failed entries.</p>\n@param failedEntryCount The number of failed entries.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The number of failed entries.</p>\n@param failedEntryCount The number of failed entries.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>",
        "name" : "Entries",
        "c2jName" : "Entries",
        "c2jShape" : "PutEventsResultEntryList",
        "variable" : {
          "variableName" : "entries",
          "variableType" : "java.util.List<PutEventsResultEntry>",
          "variableDeclarationType" : "java.util.List<PutEventsResultEntry>",
          "documentation" : "<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>",
          "simpleType" : "List<PutEventsResultEntry>",
          "variableSetterType" : "java.util.Collection<PutEventsResultEntry>"
        },
        "setterModel" : {
          "variableName" : "entries",
          "variableType" : "java.util.List<PutEventsResultEntry>",
          "variableDeclarationType" : "java.util.List<PutEventsResultEntry>",
          "documentation" : "",
          "simpleType" : "List<PutEventsResultEntry>",
          "variableSetterType" : "java.util.Collection<PutEventsResultEntry>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<PutEventsResultEntry>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Entries",
          "marshallLocationName" : "Entries",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "PutEventsResultEntry",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "PutEventsResultEntry",
            "variable" : {
              "variableName" : "member",
              "variableType" : "PutEventsResultEntry",
              "variableDeclarationType" : "PutEventsResultEntry",
              "documentation" : "",
              "simpleType" : "PutEventsResultEntry",
              "variableSetterType" : "PutEventsResultEntry"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "PutEventsResultEntry",
              "variableDeclarationType" : "PutEventsResultEntry",
              "documentation" : "",
              "simpleType" : "PutEventsResultEntry",
              "variableSetterType" : "PutEventsResultEntry"
            },
            "getterModel" : {
              "returnType" : "PutEventsResultEntry",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "PutEventsResultEntry",
          "templateType" : "java.util.List<PutEventsResultEntry>",
          "templateImplType" : "java.util.ArrayList<PutEventsResultEntry>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>\n@param entries A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.*/",
        "getterDocumentation" : "/**<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>\n@return A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.*/",
        "fluentSetterDocumentation" : "/**<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>\n@param entries A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEntries(java.util.Collection)} or {@link #withEntries(java.util.Collection)} if you want to override the existing values.</p>\n@param entries A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "putEventsResult",
        "variableType" : "PutEventsResult",
        "variableDeclarationType" : "PutEventsResult",
        "documentation" : null,
        "simpleType" : "PutEventsResult",
        "variableSetterType" : "PutEventsResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "FailedEntryCount" : {
          "documentation" : "<p>The number of failed entries.</p>",
          "name" : "FailedEntryCount",
          "c2jName" : "FailedEntryCount",
          "c2jShape" : "Integer",
          "variable" : {
            "variableName" : "failedEntryCount",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The number of failed entries.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "failedEntryCount",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "FailedEntryCount",
            "marshallLocationName" : "FailedEntryCount",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The number of failed entries.</p>\n@param failedEntryCount The number of failed entries.*/",
          "getterDocumentation" : "/**<p>The number of failed entries.</p>\n@return The number of failed entries.*/",
          "fluentSetterDocumentation" : "/**<p>The number of failed entries.</p>\n@param failedEntryCount The number of failed entries.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The number of failed entries.</p>\n@param failedEntryCount The number of failed entries.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Entries" : {
          "documentation" : "<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>",
          "name" : "Entries",
          "c2jName" : "Entries",
          "c2jShape" : "PutEventsResultEntryList",
          "variable" : {
            "variableName" : "entries",
            "variableType" : "java.util.List<PutEventsResultEntry>",
            "variableDeclarationType" : "java.util.List<PutEventsResultEntry>",
            "documentation" : "<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>",
            "simpleType" : "List<PutEventsResultEntry>",
            "variableSetterType" : "java.util.Collection<PutEventsResultEntry>"
          },
          "setterModel" : {
            "variableName" : "entries",
            "variableType" : "java.util.List<PutEventsResultEntry>",
            "variableDeclarationType" : "java.util.List<PutEventsResultEntry>",
            "documentation" : "",
            "simpleType" : "List<PutEventsResultEntry>",
            "variableSetterType" : "java.util.Collection<PutEventsResultEntry>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<PutEventsResultEntry>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Entries",
            "marshallLocationName" : "Entries",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "PutEventsResultEntry",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "PutEventsResultEntry",
              "variable" : {
                "variableName" : "member",
                "variableType" : "PutEventsResultEntry",
                "variableDeclarationType" : "PutEventsResultEntry",
                "documentation" : "",
                "simpleType" : "PutEventsResultEntry",
                "variableSetterType" : "PutEventsResultEntry"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "PutEventsResultEntry",
                "variableDeclarationType" : "PutEventsResultEntry",
                "documentation" : "",
                "simpleType" : "PutEventsResultEntry",
                "variableSetterType" : "PutEventsResultEntry"
              },
              "getterModel" : {
                "returnType" : "PutEventsResultEntry",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "PutEventsResultEntry",
            "templateType" : "java.util.List<PutEventsResultEntry>",
            "templateImplType" : "java.util.ArrayList<PutEventsResultEntry>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>\n@param entries A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.*/",
          "getterDocumentation" : "/**<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>\n@return A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.*/",
          "fluentSetterDocumentation" : "/**<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>\n@param entries A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEntries(java.util.Collection)} or {@link #withEntries(java.util.Collection)} if you want to override the existing values.</p>\n@param entries A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ListTargetsByRuleRequest" : {
      "c2jName" : "ListTargetsByRuleRequest",
      "documentation" : "<p>Container for the parameters to the <a>ListTargetsByRule</a> operation.</p>",
      "shapeName" : "ListTargetsByRuleRequest",
      "deprecated" : false,
      "required" : [ "Rule" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of the rule whose targets you want to list.</p>",
        "name" : "Rule",
        "c2jName" : "Rule",
        "c2jShape" : "RuleName",
        "variable" : {
          "variableName" : "rule",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the rule whose targets you want to list.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "rule",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Rule",
          "marshallLocationName" : "Rule",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the rule whose targets you want to list.</p>\n@param rule The name of the rule whose targets you want to list.*/",
        "getterDocumentation" : "/**<p>The name of the rule whose targets you want to list.</p>\n@return The name of the rule whose targets you want to list.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the rule whose targets you want to list.</p>\n@param rule The name of the rule whose targets you want to list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the rule whose targets you want to list.</p>\n@param rule The name of the rule whose targets you want to list.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The token returned by a previous call to indicate that there is more data available.</p>",
        "name" : "NextToken",
        "c2jName" : "NextToken",
        "c2jShape" : "NextToken",
        "variable" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The token returned by a previous call to indicate that there is more data available.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NextToken",
          "marshallLocationName" : "NextToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The token returned by a previous call to indicate that there is more data available.</p>\n@param nextToken The token returned by a previous call to indicate that there is more data available.*/",
        "getterDocumentation" : "/**<p>The token returned by a previous call to indicate that there is more data available.</p>\n@return The token returned by a previous call to indicate that there is more data available.*/",
        "fluentSetterDocumentation" : "/**<p>The token returned by a previous call to indicate that there is more data available.</p>\n@param nextToken The token returned by a previous call to indicate that there is more data available.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The token returned by a previous call to indicate that there is more data available.</p>\n@param nextToken The token returned by a previous call to indicate that there is more data available.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The maximum number of results to return.</p>",
        "name" : "Limit",
        "c2jName" : "Limit",
        "c2jShape" : "LimitMax100",
        "variable" : {
          "variableName" : "limit",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The maximum number of results to return.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "limit",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Limit",
          "marshallLocationName" : "Limit",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The maximum number of results to return.</p>\n@param limit The maximum number of results to return.*/",
        "getterDocumentation" : "/**<p>The maximum number of results to return.</p>\n@return The maximum number of results to return.*/",
        "fluentSetterDocumentation" : "/**<p>The maximum number of results to return.</p>\n@param limit The maximum number of results to return.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The maximum number of results to return.</p>\n@param limit The maximum number of results to return.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "listTargetsByRuleRequest",
        "variableType" : "ListTargetsByRuleRequest",
        "variableDeclarationType" : "ListTargetsByRuleRequest",
        "documentation" : null,
        "simpleType" : "ListTargetsByRuleRequest",
        "variableSetterType" : "ListTargetsByRuleRequest"
      },
      "marshaller" : {
        "action" : "ListTargetsByRule",
        "verb" : "POST",
        "target" : "AWSEvents.ListTargetsByRule",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "NextToken" : {
          "documentation" : "<p>The token returned by a previous call to indicate that there is more data available.</p>",
          "name" : "NextToken",
          "c2jName" : "NextToken",
          "c2jShape" : "NextToken",
          "variable" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The token returned by a previous call to indicate that there is more data available.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "NextToken",
            "marshallLocationName" : "NextToken",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The token returned by a previous call to indicate that there is more data available.</p>\n@param nextToken The token returned by a previous call to indicate that there is more data available.*/",
          "getterDocumentation" : "/**<p>The token returned by a previous call to indicate that there is more data available.</p>\n@return The token returned by a previous call to indicate that there is more data available.*/",
          "fluentSetterDocumentation" : "/**<p>The token returned by a previous call to indicate that there is more data available.</p>\n@param nextToken The token returned by a previous call to indicate that there is more data available.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The token returned by a previous call to indicate that there is more data available.</p>\n@param nextToken The token returned by a previous call to indicate that there is more data available.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Rule" : {
          "documentation" : "<p>The name of the rule whose targets you want to list.</p>",
          "name" : "Rule",
          "c2jName" : "Rule",
          "c2jShape" : "RuleName",
          "variable" : {
            "variableName" : "rule",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the rule whose targets you want to list.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "rule",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Rule",
            "marshallLocationName" : "Rule",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the rule whose targets you want to list.</p>\n@param rule The name of the rule whose targets you want to list.*/",
          "getterDocumentation" : "/**<p>The name of the rule whose targets you want to list.</p>\n@return The name of the rule whose targets you want to list.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the rule whose targets you want to list.</p>\n@param rule The name of the rule whose targets you want to list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the rule whose targets you want to list.</p>\n@param rule The name of the rule whose targets you want to list.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Limit" : {
          "documentation" : "<p>The maximum number of results to return.</p>",
          "name" : "Limit",
          "c2jName" : "Limit",
          "c2jShape" : "LimitMax100",
          "variable" : {
            "variableName" : "limit",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The maximum number of results to return.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "limit",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Limit",
            "marshallLocationName" : "Limit",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The maximum number of results to return.</p>\n@param limit The maximum number of results to return.*/",
          "getterDocumentation" : "/**<p>The maximum number of results to return.</p>\n@return The maximum number of results to return.*/",
          "fluentSetterDocumentation" : "/**<p>The maximum number of results to return.</p>\n@param limit The maximum number of results to return.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The maximum number of results to return.</p>\n@param limit The maximum number of results to return.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "RemoveTargetsResultEntry" : {
      "c2jName" : "RemoveTargetsResultEntry",
      "documentation" : "<p>The ID of the target requested to be removed from the rule by Amazon CloudWatch Events.</p>",
      "shapeName" : "RemoveTargetsResultEntry",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>",
        "name" : "TargetId",
        "c2jName" : "TargetId",
        "c2jShape" : "TargetId",
        "variable" : {
          "variableName" : "targetId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "targetId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TargetId",
          "marshallLocationName" : "TargetId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>\n@param targetId The ID of the target requested to be removed by Amazon CloudWatch Events.*/",
        "getterDocumentation" : "/**<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>\n@return The ID of the target requested to be removed by Amazon CloudWatch Events.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>\n@param targetId The ID of the target requested to be removed by Amazon CloudWatch Events.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>\n@param targetId The ID of the target requested to be removed by Amazon CloudWatch Events.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The error code representing why the target removal failed on this entry.</p>",
        "name" : "ErrorCode",
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "variable" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The error code representing why the target removal failed on this entry.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "errorCode",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ErrorCode",
          "marshallLocationName" : "ErrorCode",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The error code representing why the target removal failed on this entry.</p>\n@param errorCode The error code representing why the target removal failed on this entry.*/",
        "getterDocumentation" : "/**<p>The error code representing why the target removal failed on this entry.</p>\n@return The error code representing why the target removal failed on this entry.*/",
        "fluentSetterDocumentation" : "/**<p>The error code representing why the target removal failed on this entry.</p>\n@param errorCode The error code representing why the target removal failed on this entry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The error code representing why the target removal failed on this entry.</p>\n@param errorCode The error code representing why the target removal failed on this entry.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The error message explaining why the target removal failed on this entry.</p>",
        "name" : "ErrorMessage",
        "c2jName" : "ErrorMessage",
        "c2jShape" : "ErrorMessage",
        "variable" : {
          "variableName" : "errorMessage",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The error message explaining why the target removal failed on this entry.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "errorMessage",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ErrorMessage",
          "marshallLocationName" : "ErrorMessage",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The error message explaining why the target removal failed on this entry.</p>\n@param errorMessage The error message explaining why the target removal failed on this entry.*/",
        "getterDocumentation" : "/**<p>The error message explaining why the target removal failed on this entry.</p>\n@return The error message explaining why the target removal failed on this entry.*/",
        "fluentSetterDocumentation" : "/**<p>The error message explaining why the target removal failed on this entry.</p>\n@param errorMessage The error message explaining why the target removal failed on this entry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The error message explaining why the target removal failed on this entry.</p>\n@param errorMessage The error message explaining why the target removal failed on this entry.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "removeTargetsResultEntry",
        "variableType" : "RemoveTargetsResultEntry",
        "variableDeclarationType" : "RemoveTargetsResultEntry",
        "documentation" : null,
        "simpleType" : "RemoveTargetsResultEntry",
        "variableSetterType" : "RemoveTargetsResultEntry"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ErrorCode" : {
          "documentation" : "<p>The error code representing why the target removal failed on this entry.</p>",
          "name" : "ErrorCode",
          "c2jName" : "ErrorCode",
          "c2jShape" : "ErrorCode",
          "variable" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The error code representing why the target removal failed on this entry.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "errorCode",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ErrorCode",
            "marshallLocationName" : "ErrorCode",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The error code representing why the target removal failed on this entry.</p>\n@param errorCode The error code representing why the target removal failed on this entry.*/",
          "getterDocumentation" : "/**<p>The error code representing why the target removal failed on this entry.</p>\n@return The error code representing why the target removal failed on this entry.*/",
          "fluentSetterDocumentation" : "/**<p>The error code representing why the target removal failed on this entry.</p>\n@param errorCode The error code representing why the target removal failed on this entry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The error code representing why the target removal failed on this entry.</p>\n@param errorCode The error code representing why the target removal failed on this entry.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ErrorMessage" : {
          "documentation" : "<p>The error message explaining why the target removal failed on this entry.</p>",
          "name" : "ErrorMessage",
          "c2jName" : "ErrorMessage",
          "c2jShape" : "ErrorMessage",
          "variable" : {
            "variableName" : "errorMessage",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The error message explaining why the target removal failed on this entry.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "errorMessage",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ErrorMessage",
            "marshallLocationName" : "ErrorMessage",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The error message explaining why the target removal failed on this entry.</p>\n@param errorMessage The error message explaining why the target removal failed on this entry.*/",
          "getterDocumentation" : "/**<p>The error message explaining why the target removal failed on this entry.</p>\n@return The error message explaining why the target removal failed on this entry.*/",
          "fluentSetterDocumentation" : "/**<p>The error message explaining why the target removal failed on this entry.</p>\n@param errorMessage The error message explaining why the target removal failed on this entry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The error message explaining why the target removal failed on this entry.</p>\n@param errorMessage The error message explaining why the target removal failed on this entry.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "TargetId" : {
          "documentation" : "<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>",
          "name" : "TargetId",
          "c2jName" : "TargetId",
          "c2jShape" : "TargetId",
          "variable" : {
            "variableName" : "targetId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "targetId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "TargetId",
            "marshallLocationName" : "TargetId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>\n@param targetId The ID of the target requested to be removed by Amazon CloudWatch Events.*/",
          "getterDocumentation" : "/**<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>\n@return The ID of the target requested to be removed by Amazon CloudWatch Events.*/",
          "fluentSetterDocumentation" : "/**<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>\n@param targetId The ID of the target requested to be removed by Amazon CloudWatch Events.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>\n@param targetId The ID of the target requested to be removed by Amazon CloudWatch Events.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DescribeRuleRequest" : {
      "c2jName" : "DescribeRuleRequest",
      "documentation" : "<p>Container for the parameters to the <a>DescribeRule</a> operation.</p>",
      "shapeName" : "DescribeRuleRequest",
      "deprecated" : false,
      "required" : [ "Name" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of the rule you want to describe details for.</p>",
        "name" : "Name",
        "c2jName" : "Name",
        "c2jShape" : "RuleName",
        "variable" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the rule you want to describe details for.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Name",
          "marshallLocationName" : "Name",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@param name The name of the rule you want to describe details for.*/",
        "getterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@return The name of the rule you want to describe details for.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@param name The name of the rule you want to describe details for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@param name The name of the rule you want to describe details for.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeRuleRequest",
        "variableType" : "DescribeRuleRequest",
        "variableDeclarationType" : "DescribeRuleRequest",
        "documentation" : null,
        "simpleType" : "DescribeRuleRequest",
        "variableSetterType" : "DescribeRuleRequest"
      },
      "marshaller" : {
        "action" : "DescribeRule",
        "verb" : "POST",
        "target" : "AWSEvents.DescribeRule",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Name" : {
          "documentation" : "<p>The name of the rule you want to describe details for.</p>",
          "name" : "Name",
          "c2jName" : "Name",
          "c2jShape" : "RuleName",
          "variable" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the rule you want to describe details for.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Name",
            "marshallLocationName" : "Name",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@param name The name of the rule you want to describe details for.*/",
          "getterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@return The name of the rule you want to describe details for.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@param name The name of the rule you want to describe details for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@param name The name of the rule you want to describe details for.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ListRulesResult" : {
      "c2jName" : "ListRulesResponse",
      "documentation" : "<p>The result of the <a>ListRules</a> operation.</p>",
      "shapeName" : "ListRulesResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>List of rules matching the specified criteria.</p>",
        "name" : "Rules",
        "c2jName" : "Rules",
        "c2jShape" : "RuleResponseList",
        "variable" : {
          "variableName" : "rules",
          "variableType" : "java.util.List<Rule>",
          "variableDeclarationType" : "java.util.List<Rule>",
          "documentation" : "<p>List of rules matching the specified criteria.</p>",
          "simpleType" : "List<Rule>",
          "variableSetterType" : "java.util.Collection<Rule>"
        },
        "setterModel" : {
          "variableName" : "rules",
          "variableType" : "java.util.List<Rule>",
          "variableDeclarationType" : "java.util.List<Rule>",
          "documentation" : "",
          "simpleType" : "List<Rule>",
          "variableSetterType" : "java.util.Collection<Rule>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Rule>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Rules",
          "marshallLocationName" : "Rules",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Rule",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Rule",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Rule",
[...]
