{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-10-07",
    "asyncClient" : "AmazonCloudWatchEventsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCloudWatchEventsAsyncClientBuilder",
    "asyncInterface" : "AmazonCloudWatchEventsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonCloudWatchEventsModuleInjector",
    "defaultEndpoint" : "events.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "events.us-east-1.amazonaws.com",
    "documentation" : "<p>Amazon CloudWatch Events helps you to respond to state changes in your AWS resources. When your resources change state they automatically send events into an event stream. You can create rules that match selected events in the stream and route them to targets to take action. You can also use rules to take action on a pre-determined schedule. For example, you can configure rules to: </p> <ul> <li>Automatically invoke an AWS Lambda function to update DNS entries when an event notifies you that Amazon EC2 instance enters the running state.</li> <li>Direct specific API records from CloudTrail to an Amazon Kinesis stream for detailed analysis of potential security or availability risks.</li> <li>Periodically invoke a built-in target to create a snapshot of an Amazon EBS volume.</li> </ul> <p> For more information about Amazon CloudWatch Events features, see the <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide\">Amazon CloudWatch Developer Guide</a>. </p>",
    "endpointPrefix" : "events",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cloudwatchevents",
    "packagePath" : "com/amazonaws/services/cloudwatchevents",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudWatch Events",
    "serviceName" : "Amazon CloudWatch Events",
    "signingName" : "events",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudwatchevents.smoketests",
    "syncClient" : "AmazonCloudWatchEventsClient",
    "syncClientBuilderClassName" : "AmazonCloudWatchEventsClientBuilder",
    "syncInterface" : "AmazonCloudWatchEvents",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleRequest, DeleteRuleResult>",
      "asyncReturnType" : "DeleteRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a rule. You must remove all targets from a rule using <a>RemoveTargets</a> before you can delete the rule.</p> <p> <b>Note:</b> When you delete a rule, incoming events might still continue to match to the deleted rule. Please allow a short period of time for changes to take effect. </p>",
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRuleRequest",
        "variableName" : "deleteRuleRequest",
        "variableType" : "DeleteRuleRequest",
        "documentation" : "<p>Container for the parameters to the <a>DeleteRule</a> operation.</p>",
        "simpleType" : "DeleteRuleRequest",
        "variableSetterType" : "DeleteRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRule",
      "operationName" : "DeleteRule",
      "returnType" : {
        "returnType" : "DeleteRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRuleResult"
    },
    "DescribeRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRuleRequest, DescribeRuleResult>",
      "asyncReturnType" : "DescribeRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the details of the specified rule.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The rule does not exist.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeRuleRequest",
        "variableName" : "describeRuleRequest",
        "variableType" : "DescribeRuleRequest",
        "documentation" : "<p>Container for the parameters to the <a>DescribeRule</a> operation.</p>",
        "simpleType" : "DescribeRuleRequest",
        "variableSetterType" : "DescribeRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRule",
      "operationName" : "DescribeRule",
      "returnType" : {
        "returnType" : "DescribeRuleResult",
        "documentation" : "<p>The result of the <a>DescribeRule</a> operation.</p>"
      },
      "syncReturnType" : "DescribeRuleResult"
    },
    "DisableRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableRuleRequest, DisableRuleResult>",
      "asyncReturnType" : "DisableRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables a rule. A disabled rule won't match any events, and won't self-trigger if it has a schedule expression.</p> <p> <b>Note:</b> When you disable a rule, incoming events might still continue to match to the disabled rule. Please allow a short period of time for changes to take effect. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The rule does not exist.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableRuleRequest",
        "variableName" : "disableRuleRequest",
        "variableType" : "DisableRuleRequest",
        "documentation" : "<p>Container for the parameters to the <a>DisableRule</a> operation.</p>",
        "simpleType" : "DisableRuleRequest",
        "variableSetterType" : "DisableRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableRule",
      "operationName" : "DisableRule",
      "returnType" : {
        "returnType" : "DisableRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableRuleResult"
    },
    "EnableRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableRuleRequest, EnableRuleResult>",
      "asyncReturnType" : "EnableRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables a rule. If the rule does not exist, the operation fails.</p> <p> <b>Note:</b> When you enable a rule, incoming events might not immediately start matching to a newly enabled rule. Please allow a short period of time for changes to take effect. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The rule does not exist.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableRuleRequest",
        "variableName" : "enableRuleRequest",
        "variableType" : "EnableRuleRequest",
        "documentation" : "<p>Container for the parameters to the <a>EnableRule</a> operation.</p>",
        "simpleType" : "EnableRuleRequest",
        "variableSetterType" : "EnableRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableRule",
      "operationName" : "EnableRule",
      "returnType" : {
        "returnType" : "EnableRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableRuleResult"
    },
    "ListRuleNamesByTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRuleNamesByTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRuleNamesByTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRuleNamesByTargetRequest, ListRuleNamesByTargetResult>",
      "asyncReturnType" : "ListRuleNamesByTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the names of the rules that the given target is put to. You can see which of the rules in Amazon CloudWatch Events can invoke a specific target in your account. If you have more rules in your account than the given limit, the results will be paginated. In that case, use the next token returned in the response and repeat ListRulesByTarget until the NextToken in the response is returned as null.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRuleNamesByTargetRequest",
        "variableName" : "listRuleNamesByTargetRequest",
        "variableType" : "ListRuleNamesByTargetRequest",
        "documentation" : "<p>Container for the parameters to the <a>ListRuleNamesByTarget</a> operation.</p>",
        "simpleType" : "ListRuleNamesByTargetRequest",
        "variableSetterType" : "ListRuleNamesByTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRuleNamesByTarget",
      "operationName" : "ListRuleNamesByTarget",
      "returnType" : {
        "returnType" : "ListRuleNamesByTargetResult",
        "documentation" : "<p>The result of the <a>ListRuleNamesByTarget</a> operation.</p>"
      },
      "syncReturnType" : "ListRuleNamesByTargetResult"
    },
    "ListRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRulesRequest, ListRulesResult>",
      "asyncReturnType" : "ListRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Amazon CloudWatch Events rules in your account. You can either list all the rules or you can provide a prefix to match to the rule names. If you have more rules in your account than the given limit, the results will be paginated. In that case, use the next token returned in the response and repeat ListRules until the NextToken in the response is returned as null.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRulesRequest",
        "variableName" : "listRulesRequest",
        "variableType" : "ListRulesRequest",
        "documentation" : "<p>Container for the parameters to the <a>ListRules</a> operation.</p>",
        "simpleType" : "ListRulesRequest",
        "variableSetterType" : "ListRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRules",
      "operationName" : "ListRules",
      "returnType" : {
        "returnType" : "ListRulesResult",
        "documentation" : "<p>The result of the <a>ListRules</a> operation.</p>"
      },
      "syncReturnType" : "ListRulesResult"
    },
    "ListTargetsByRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTargetsByRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTargetsByRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTargetsByRuleRequest, ListTargetsByRuleResult>",
      "asyncReturnType" : "ListTargetsByRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists of targets assigned to the rule.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The rule does not exist.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTargetsByRuleRequest",
        "variableName" : "listTargetsByRuleRequest",
        "variableType" : "ListTargetsByRuleRequest",
        "documentation" : "<p>Container for the parameters to the <a>ListTargetsByRule</a> operation.</p>",
        "simpleType" : "ListTargetsByRuleRequest",
        "variableSetterType" : "ListTargetsByRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTargetsByRule",
      "operationName" : "ListTargetsByRule",
      "returnType" : {
        "returnType" : "ListTargetsByRuleResult",
        "documentation" : "<p>The result of the <a>ListTargetsByRule</a> operation.</p>"
      },
      "syncReturnType" : "ListTargetsByRuleResult"
    },
    "PutEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutEventsRequest, PutEventsResult>",
      "asyncReturnType" : "PutEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends custom events to Amazon CloudWatch Events so that they can be matched to rules.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutEventsRequest",
        "variableName" : "putEventsRequest",
        "variableType" : "PutEventsRequest",
        "documentation" : "<p>Container for the parameters to the <a>PutEvents</a> operation.</p>",
        "simpleType" : "PutEventsRequest",
        "variableSetterType" : "PutEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putEvents",
      "operationName" : "PutEvents",
      "returnType" : {
        "returnType" : "PutEventsResult",
        "documentation" : "<p>The result of the <a>PutEvents</a> operation.</p>"
      },
      "syncReturnType" : "PutEventsResult"
    },
    "PutRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRuleRequest, PutRuleResult>",
      "asyncReturnType" : "PutRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a rule. Rules are enabled by default, or based on value of the State parameter. You can disable a rule using <a>DisableRule</a>.</p> <p> <b>Note:</b> When you create or update a rule, incoming events might not immediately start matching to new or updated rules. Please allow a short period of time for changes to take effect.</p> <p>A rule must contain at least an EventPattern or ScheduleExpression. Rules with EventPatterns are triggered when a matching event is observed. Rules with ScheduleExpressions self-trigger based on the given schedule. A rule can have both an EventPattern and a ScheduleExpression, in which case the rule will trigger on matching events as well as on a schedule.</p> <p> <b>Note:</b> Most services in AWS treat : or / as the same character in Amazon Resource Names (ARNs). However, CloudWatch Events uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event you want to match. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidEventPatternException",
        "documentation" : "<p>The event pattern is invalid.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception occurs if you try to create more rules or add more targets to a rule than allowed by default.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutRuleRequest",
        "variableName" : "putRuleRequest",
        "variableType" : "PutRuleRequest",
        "documentation" : "<p>Container for the parameters to the <a>PutRule</a> operation.</p>",
        "simpleType" : "PutRuleRequest",
        "variableSetterType" : "PutRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRule",
      "operationName" : "PutRule",
      "returnType" : {
        "returnType" : "PutRuleResult",
        "documentation" : "<p>The result of the <a>PutRule</a> operation.</p>"
      },
      "syncReturnType" : "PutRuleResult"
    },
    "PutTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutTargetsRequest, PutTargetsResult>",
      "asyncReturnType" : "PutTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds target(s) to a rule. Targets are the resources that can be invoked when a rule is triggered. For example, AWS Lambda functions, Amazon Kinesis streams, and built-in targets. Updates the target(s) if they are already associated with the role. In other words, if there is already a target with the given target ID, then the target associated with that ID is updated.</p> <p>In order to be able to make API calls against the resources you own, Amazon CloudWatch Events needs the appropriate permissions. For AWS Lambda and Amazon SNS resources, CloudWatch Events relies on resource-based policies. For Amazon Kinesis streams, CloudWatch Events relies on IAM roles. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/EventsTargetPermissions.html\">Permissions for Sending Events to Targets</a> in the <b><i>Amazon CloudWatch Developer Guide</i></b>.</p> <p><b>Input</b> and <b>InputPath</b> are mutually-exclusive and optional parameters of a target. When a rule is triggered due to a matched event, if for a target:</p> <ul> <li>Neither <b>Input</b> nor <b>InputPath</b> is specified, then the entire event is passed to the target in JSON form.</li> <li> <b>InputPath</b> is specified in the form of JSONPath (e.g. <b>$.detail</b>), then only the part of the event specified in the path is passed to the target (e.g. only the detail part of the event is passed). </li> <li> <b>Input</b> is specified in the form of a valid JSON, then the matched event is overridden with this constant.</li> </ul> <p> <b>Note:</b> When you add targets to a rule, when the associated rule triggers, new or updated targets might not be immediately invoked. Please allow a short period of time for changes to take effect. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The rule does not exist.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception occurs if you try to create more rules or add more targets to a rule than allowed by default.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutTargetsRequest",
        "variableName" : "putTargetsRequest",
        "variableType" : "PutTargetsRequest",
        "documentation" : "<p>Container for the parameters to the <a>PutTargets</a> operation.</p>",
        "simpleType" : "PutTargetsRequest",
        "variableSetterType" : "PutTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putTargets",
      "operationName" : "PutTargets",
      "returnType" : {
        "returnType" : "PutTargetsResult",
        "documentation" : "<p>The result of the <a>PutTargets</a> operation.</p>"
      },
      "syncReturnType" : "PutTargetsResult"
    },
    "RemoveTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTargetsRequest, RemoveTargetsResult>",
      "asyncReturnType" : "RemoveTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes target(s) from a rule so that when the rule is triggered, those targets will no longer be invoked.</p> <p> <b>Note:</b> When you remove a target, when the associated rule triggers, removed targets might still continue to be invoked. Please allow a short period of time for changes to take effect. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The rule does not exist.</p>"
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTargetsRequest",
        "variableName" : "removeTargetsRequest",
        "variableType" : "RemoveTargetsRequest",
        "documentation" : "<p>Container for the parameters to the <a>RemoveTargets</a> operation.</p>",
        "simpleType" : "RemoveTargetsRequest",
        "variableSetterType" : "RemoveTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTargets",
      "operationName" : "RemoveTargets",
      "returnType" : {
        "returnType" : "RemoveTargetsResult",
        "documentation" : "<p>The result of the <a>RemoveTargets</a> operation.</p>"
      },
      "syncReturnType" : "RemoveTargetsResult"
    },
    "TestEventPattern" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TestEventPatternResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TestEventPatternResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestEventPatternRequest, TestEventPatternResult>",
      "asyncReturnType" : "TestEventPatternResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tests whether an event pattern matches the provided event.</p> <p> <b>Note:</b> Most services in AWS treat : or / as the same character in Amazon Resource Names (ARNs). However, CloudWatch Events uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event you want to match. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidEventPatternException",
        "documentation" : "<p>The event pattern is invalid.</p>"
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TestEventPatternRequest",
        "variableName" : "testEventPatternRequest",
        "variableType" : "TestEventPatternRequest",
        "documentation" : "<p>Container for the parameters to the <a>TestEventPattern</a> operation.</p>",
        "simpleType" : "TestEventPatternRequest",
        "variableSetterType" : "TestEventPatternRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "testEventPattern",
      "operationName" : "TestEventPattern",
      "returnType" : {
        "returnType" : "TestEventPatternResult",
        "documentation" : "<p>The result of the <a>TestEventPattern</a> operation.</p>"
      },
      "syncReturnType" : "TestEventPatternResult"
    }
  },
  "shapes" : {
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This exception occurs if there is concurrent modification on rule or target.</p>",
      "enums" : null,
      "errorCode" : "ConcurrentModificationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ConcurrentModificationException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ConcurrentModificationException",
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "wrapper" : false
    },
    "DeleteRuleRequest" : {
      "c2jName" : "DeleteRuleRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <a>DeleteRule</a> operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteRule",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSEvents.DeleteRule",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "RuleName",
        "deprecated" : false,
        "documentation" : "<p>The name of the rule to be deleted.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the rule to be deleted.</p>\n@param name The name of the rule to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the rule to be deleted.</p>\n@return The name of the rule to be deleted.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the rule to be deleted.</p>\n@param name The name of the rule to be deleted.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the rule to be deleted.</p>\n@param name The name of the rule to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the rule to be deleted.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "RuleName",
          "deprecated" : false,
          "documentation" : "<p>The name of the rule to be deleted.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the rule to be deleted.</p>\n@param name The name of the rule to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of the rule to be deleted.</p>\n@return The name of the rule to be deleted.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the rule to be deleted.</p>\n@param name The name of the rule to be deleted.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of the rule to be deleted.</p>\n@param name The name of the rule to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the rule to be deleted.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "Name" ],
      "shapeName" : "DeleteRuleRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "DeleteRuleRequest",
        "variableName" : "deleteRuleRequest",
        "variableType" : "DeleteRuleRequest",
        "documentation" : null,
        "simpleType" : "DeleteRuleRequest",
        "variableSetterType" : "DeleteRuleRequest"
      },
      "wrapper" : false
    },
    "DeleteRuleResult" : {
      "c2jName" : "DeleteRuleResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "DeleteRuleResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "DeleteRuleResult",
        "variableName" : "deleteRuleResult",
        "variableType" : "DeleteRuleResult",
        "documentation" : null,
        "simpleType" : "DeleteRuleResult",
        "variableSetterType" : "DeleteRuleResult"
      },
      "wrapper" : false
    },
    "DescribeRuleRequest" : {
      "c2jName" : "DescribeRuleRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <a>DescribeRule</a> operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeRule",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSEvents.DescribeRule",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "RuleName",
        "deprecated" : false,
        "documentation" : "<p>The name of the rule you want to describe details for.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@param name The name of the rule you want to describe details for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@return The name of the rule you want to describe details for.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@param name The name of the rule you want to describe details for.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@param name The name of the rule you want to describe details for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the rule you want to describe details for.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "RuleName",
          "deprecated" : false,
          "documentation" : "<p>The name of the rule you want to describe details for.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@param name The name of the rule you want to describe details for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@return The name of the rule you want to describe details for.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@param name The name of the rule you want to describe details for.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of the rule you want to describe details for.</p>\n@param name The name of the rule you want to describe details for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the rule you want to describe details for.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "Name" ],
      "shapeName" : "DescribeRuleRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "DescribeRuleRequest",
        "variableName" : "describeRuleRequest",
        "variableType" : "DescribeRuleRequest",
        "documentation" : null,
        "simpleType" : "DescribeRuleRequest",
        "variableSetterType" : "DescribeRuleRequest"
      },
      "wrapper" : false
    },
    "DescribeRuleResult" : {
      "c2jName" : "DescribeRuleResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The result of the <a>DescribeRule</a> operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "RuleName",
        "deprecated" : false,
        "documentation" : "<p>The rule's name.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The rule's name.</p>\n@param name The rule's name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The rule's name.</p>\n@return The rule's name.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p>The rule's name.</p>\n@param name The rule's name.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The rule's name.</p>\n@param name The rule's name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The rule's name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Arn",
        "c2jShape" : "RuleArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) associated with the rule.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the rule.</p>\n@param arn The Amazon Resource Name (ARN) associated with the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the rule.</p>\n@return The Amazon Resource Name (ARN) associated with the rule.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Arn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Arn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the rule.</p>\n@param arn The Amazon Resource Name (ARN) associated with the rule.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the rule.</p>\n@param arn The Amazon Resource Name (ARN) associated with the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) associated with the rule.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EventPattern",
        "c2jShape" : "EventPattern",
        "deprecated" : false,
        "documentation" : "<p>The event pattern.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The event pattern.</p>\n@param eventPattern The event pattern.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The event pattern.</p>\n@return The event pattern.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "EventPattern",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EventPattern",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "EventPattern",
        "setterDocumentation" : "/**<p>The event pattern.</p>\n@param eventPattern The event pattern.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "eventPattern",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The event pattern.</p>\n@param eventPattern The event pattern.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "eventPattern",
          "variableType" : "String",
          "documentation" : "<p>The event pattern.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ScheduleExpression",
        "c2jShape" : "ScheduleExpression",
        "deprecated" : false,
        "documentation" : "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>\n@param scheduleExpression The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>\n@return The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ScheduleExpression",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScheduleExpression",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ScheduleExpression",
        "setterDocumentation" : "/**<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>\n@param scheduleExpression The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "scheduleExpression",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>\n@param scheduleExpression The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "scheduleExpression",
          "variableType" : "String",
          "documentation" : "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "State",
        "c2jShape" : "RuleState",
        "deprecated" : false,
        "documentation" : "<p>Specifies whether the rule is enabled or disabled.</p>",
        "enumType" : "RuleState",
        "fluentSetterDocumentation" : "/**<p>Specifies whether the rule is enabled or disabled.</p>\n@param state Specifies whether the rule is enabled or disabled.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RuleState*/",
        "getterDocumentation" : "/**<p>Specifies whether the rule is enabled or disabled.</p>\n@return Specifies whether the rule is enabled or disabled.\n@see RuleState*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "State",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "State",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "State",
        "setterDocumentation" : "/**<p>Specifies whether the rule is enabled or disabled.</p>\n@param state Specifies whether the rule is enabled or disabled.\n@see RuleState*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Specifies whether the rule is enabled or disabled.</p>\n@param state Specifies whether the rule is enabled or disabled.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RuleState*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "<p>Specifies whether the rule is enabled or disabled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "RuleDescription",
        "deprecated" : false,
        "documentation" : "<p>The rule's description.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The rule's description.</p>\n@param description The rule's description.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The rule's description.</p>\n@return The rule's description.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Description",
        "setterDocumentation" : "/**<p>The rule's description.</p>\n@param description The rule's description.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The rule's description.</p>\n@param description The rule's description.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The rule's description.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RoleArn",
        "c2jShape" : "RoleArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role associated with the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>\n@return The Amazon Resource Name (ARN) of the IAM role associated with the rule.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "RoleArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "RoleArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role associated with the rule.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role associated with the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "Arn",
          "c2jShape" : "RuleArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) associated with the rule.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the rule.</p>\n@param arn The Amazon Resource Name (ARN) associated with the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the rule.</p>\n@return The Amazon Resource Name (ARN) associated with the rule.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Arn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Arn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the rule.</p>\n@param arn The Amazon Resource Name (ARN) associated with the rule.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the rule.</p>\n@param arn The Amazon Resource Name (ARN) associated with the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) associated with the rule.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "RuleDescription",
          "deprecated" : false,
          "documentation" : "<p>The rule's description.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The rule's description.</p>\n@param description The rule's description.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The rule's description.</p>\n@return The rule's description.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Description",
          "setterDocumentation" : "/**<p>The rule's description.</p>\n@param description The rule's description.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The rule's description.</p>\n@param description The rule's description.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>The rule's description.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EventPattern" : {
          "c2jName" : "EventPattern",
          "c2jShape" : "EventPattern",
          "deprecated" : false,
          "documentation" : "<p>The event pattern.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The event pattern.</p>\n@param eventPattern The event pattern.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The event pattern.</p>\n@return The event pattern.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "EventPattern",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EventPattern",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "EventPattern",
          "setterDocumentation" : "/**<p>The event pattern.</p>\n@param eventPattern The event pattern.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "eventPattern",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The event pattern.</p>\n@param eventPattern The event pattern.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "eventPattern",
            "variableType" : "String",
            "documentation" : "<p>The event pattern.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "RuleName",
          "deprecated" : false,
          "documentation" : "<p>The rule's name.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The rule's name.</p>\n@param name The rule's name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The rule's name.</p>\n@return The rule's name.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Name",
          "setterDocumentation" : "/**<p>The rule's name.</p>\n@param name The rule's name.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The rule's name.</p>\n@param name The rule's name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The rule's name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RoleArn" : {
          "c2jName" : "RoleArn",
          "c2jShape" : "RoleArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role associated with the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>\n@return The Amazon Resource Name (ARN) of the IAM role associated with the rule.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "RoleArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RoleArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "RoleArn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role associated with the rule.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role associated with the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ScheduleExpression" : {
          "c2jName" : "ScheduleExpression",
          "c2jShape" : "ScheduleExpression",
          "deprecated" : false,
          "documentation" : "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>\n@param scheduleExpression The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>\n@return The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ScheduleExpression",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ScheduleExpression",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ScheduleExpression",
          "setterDocumentation" : "/**<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>\n@param scheduleExpression The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "scheduleExpression",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>\n@param scheduleExpression The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "scheduleExpression",
            "variableType" : "String",
            "documentation" : "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "State" : {
          "c2jName" : "State",
          "c2jShape" : "RuleState",
          "deprecated" : false,
          "documentation" : "<p>Specifies whether the rule is enabled or disabled.</p>",
          "enumType" : "RuleState",
          "fluentSetterDocumentation" : "/**<p>Specifies whether the rule is enabled or disabled.</p>\n@param state Specifies whether the rule is enabled or disabled.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RuleState*/",
          "getterDocumentation" : "/**<p>Specifies whether the rule is enabled or disabled.</p>\n@return Specifies whether the rule is enabled or disabled.\n@see RuleState*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "State",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "State",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "State",
          "setterDocumentation" : "/**<p>Specifies whether the rule is enabled or disabled.</p>\n@param state Specifies whether the rule is enabled or disabled.\n@see RuleState*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "state",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Specifies whether the rule is enabled or disabled.</p>\n@param state Specifies whether the rule is enabled or disabled.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RuleState*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "state",
            "variableType" : "String",
            "documentation" : "<p>Specifies whether the rule is enabled or disabled.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "DescribeRuleResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "DescribeRuleResult",
        "variableName" : "describeRuleResult",
        "variableType" : "DescribeRuleResult",
        "documentation" : null,
        "simpleType" : "DescribeRuleResult",
        "variableSetterType" : "DescribeRuleResult"
      },
      "wrapper" : false
    },
    "DisableRuleRequest" : {
      "c2jName" : "DisableRuleRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <a>DisableRule</a> operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DisableRule",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSEvents.DisableRule",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "RuleName",
        "deprecated" : false,
        "documentation" : "<p>The name of the rule you want to disable.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the rule you want to disable.</p>\n@param name The name of the rule you want to disable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the rule you want to disable.</p>\n@return The name of the rule you want to disable.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the rule you want to disable.</p>\n@param name The name of the rule you want to disable.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the rule you want to disable.</p>\n@param name The name of the rule you want to disable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the rule you want to disable.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "RuleName",
          "deprecated" : false,
          "documentation" : "<p>The name of the rule you want to disable.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the rule you want to disable.</p>\n@param name The name of the rule you want to disable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of the rule you want to disable.</p>\n@return The name of the rule you want to disable.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the rule you want to disable.</p>\n@param name The name of the rule you want to disable.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of the rule you want to disable.</p>\n@param name The name of the rule you want to disable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the rule you want to disable.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "Name" ],
      "shapeName" : "DisableRuleRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "DisableRuleRequest",
        "variableName" : "disableRuleRequest",
        "variableType" : "DisableRuleRequest",
        "documentation" : null,
        "simpleType" : "DisableRuleRequest",
        "variableSetterType" : "DisableRuleRequest"
      },
      "wrapper" : false
    },
    "DisableRuleResult" : {
      "c2jName" : "DisableRuleResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "DisableRuleResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "DisableRuleResult",
        "variableName" : "disableRuleResult",
        "variableType" : "DisableRuleResult",
        "documentation" : null,
        "simpleType" : "DisableRuleResult",
        "variableSetterType" : "DisableRuleResult"
      },
      "wrapper" : false
    },
    "EnableRuleRequest" : {
      "c2jName" : "EnableRuleRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <a>EnableRule</a> operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "EnableRule",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSEvents.EnableRule",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "RuleName",
        "deprecated" : false,
        "documentation" : "<p>The name of the rule that you want to enable.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the rule that you want to enable.</p>\n@param name The name of the rule that you want to enable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the rule that you want to enable.</p>\n@return The name of the rule that you want to enable.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the rule that you want to enable.</p>\n@param name The name of the rule that you want to enable.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the rule that you want to enable.</p>\n@param name The name of the rule that you want to enable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the rule that you want to enable.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "RuleName",
          "deprecated" : false,
          "documentation" : "<p>The name of the rule that you want to enable.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the rule that you want to enable.</p>\n@param name The name of the rule that you want to enable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of the rule that you want to enable.</p>\n@return The name of the rule that you want to enable.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the rule that you want to enable.</p>\n@param name The name of the rule that you want to enable.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of the rule that you want to enable.</p>\n@param name The name of the rule that you want to enable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the rule that you want to enable.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "Name" ],
      "shapeName" : "EnableRuleRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "EnableRuleRequest",
        "variableName" : "enableRuleRequest",
        "variableType" : "EnableRuleRequest",
        "documentation" : null,
        "simpleType" : "EnableRuleRequest",
        "variableSetterType" : "EnableRuleRequest"
      },
      "wrapper" : false
    },
    "EnableRuleResult" : {
      "c2jName" : "EnableRuleResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "EnableRuleResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "EnableRuleResult",
        "variableName" : "enableRuleResult",
        "variableType" : "EnableRuleResult",
        "documentation" : null,
        "simpleType" : "EnableRuleResult",
        "variableSetterType" : "EnableRuleResult"
      },
      "wrapper" : false
    },
    "InternalException" : {
      "c2jName" : "InternalException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
      "enums" : null,
      "errorCode" : "InternalException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "InternalException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "InternalException",
        "variableName" : "internalException",
        "variableType" : "InternalException",
        "documentation" : null,
        "simpleType" : "InternalException",
        "variableSetterType" : "InternalException"
      },
      "wrapper" : false
    },
    "InvalidEventPatternException" : {
      "c2jName" : "InvalidEventPatternException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The event pattern is invalid.</p>",
      "enums" : null,
      "errorCode" : "InvalidEventPatternException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "InvalidEventPatternException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "InvalidEventPatternException",
        "variableName" : "invalidEventPatternException",
        "variableType" : "InvalidEventPatternException",
        "documentation" : null,
        "simpleType" : "InvalidEventPatternException",
        "variableSetterType" : "InvalidEventPatternException"
      },
      "wrapper" : false
    },
    "LimitExceededException" : {
      "c2jName" : "LimitExceededException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This exception occurs if you try to create more rules or add more targets to a rule than allowed by default.</p>",
      "enums" : null,
      "errorCode" : "LimitExceededException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "LimitExceededException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "LimitExceededException",
        "variableName" : "limitExceededException",
        "variableType" : "LimitExceededException",
        "documentation" : null,
        "simpleType" : "LimitExceededException",
        "variableSetterType" : "LimitExceededException"
      },
      "wrapper" : false
    },
    "ListRuleNamesByTargetRequest" : {
      "c2jName" : "ListRuleNamesByTargetRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <a>ListRuleNamesByTarget</a> operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ListRuleNamesByTarget",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSEvents.ListRuleNamesByTarget",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "TargetArn",
        "c2jShape" : "TargetArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the target resource that you want to list the rules for.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target resource that you want to list the rules for.</p>\n@param targetArn The Amazon Resource Name (ARN) of the target resource that you want to list the rules for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target resource that you want to list the rules for.</p>\n@return The Amazon Resource Name (ARN) of the target resource that you want to list the rules for.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "TargetArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TargetArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "TargetArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target resource that you want to list the rules for.</p>\n@param targetArn The Amazon Resource Name (ARN) of the target resource that you want to list the rules for.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "targetArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target resource that you want to list the rules for.</p>\n@param targetArn The Amazon Resource Name (ARN) of the target resource that you want to list the rules for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "targetArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the target resource that you want to list the rules for.</p>",
[...]
