{
  "metadata" : {
    "apiVersion" : "2013-06-30",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS Storage Gateway Service</fullname> <p>AWS Storage Gateway is the service that connects an on-premises software appliance with cloud-based storage to provide seamless and secure integration between an organization's on-premises IT environment and AWS's storage infrastructure. The service enables you to securely upload data to the AWS cloud for cost effective backup and rapid disaster recovery.</p> <p>Use the following links to get started using the <i>AWS Storage Gateway Service API Reference</i>:</p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayHTTPRequestsHeaders.html\">AWS Storage Gateway Required Request Headers</a>: Describes the required headers that you must send with every POST request to AWS Storage Gateway.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewaySigningRequests.html\">Signing Requests</a>: AWS Storage Gateway requires that you authenticate every request you send; this topic describes how sign such a request.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/APIErrorResponses.html\">Error Responses</a>: Provides reference information about AWS Storage Gateway errors.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPIOperations.html\">Operations in AWS Storage Gateway</a>: Contains detailed descriptions of all AWS Storage Gateway operations, their request parameters, response elements, possible errors, and examples of requests and responses.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/index.html?rande.html\">AWS Storage Gateway Regions and Endpoints</a>: Provides a list of each of the s and endpoints available for use with AWS Storage Gateway.</p> </li> </ul> <note> <p>AWS Storage Gateway resource IDs are in uppercase. When you use these resource IDs with the Amazon EC2 API, EC2 expects resource IDs in lowercase. You must change your resource ID to lowercase to use it with the EC2 API. For example, in Storage Gateway the ID for a volume might be <code>vol-1122AABB</code>. When you use this ID with the EC2 API, you must change it to <code>vol-1122aabb</code>. Otherwise, the EC2 API might not behave as expected.</p> </note> <important> <p>IDs for Storage Gateway volumes and Amazon EBS snapshots created from gateway volumes are changing to a longer format. Starting in December 2016, all new volumes and snapshots will be created with a 17-character string. Starting in April 2016, you will be able to use these longer IDs so you can test your systems with the new format. For more information, see <a href=\"https://aws.amazon.com/ec2/faqs/#longer-ids\">Longer EC2 and EBS Resource IDs</a>.</p> <p> For example, a volume ARN with the longer volume ID format will look like this:</p> <p> <code>arn:aws:storagegateway:us-west-2:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABBCCDDEEFFG</code>.</p> <p>A snapshot ID with the longer ID format will look like this: <code>snap-78e226633445566ee</code>.</p> <p>For more information, see <a href=\"https://forums.aws.amazon.com/ann.jspa?annID=3557\">Announcement: Heads-up – Longer AWS Storage Gateway volume and snapshot IDs coming in 2016</a>.</p> </important>",
    "defaultEndpoint" : "https://storagegateway.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "storagegateway.us-east-1.amazonaws.com",
    "syncInterface" : "AWSStorageGateway",
    "syncClient" : "AWSStorageGatewayClient",
    "asyncInterface" : "AWSStorageGatewayAsync",
    "asyncClient" : "AWSStorageGatewayAsyncClient",
    "packageName" : "com.amazonaws.services.storagegateway",
    "packagePath" : "com/amazonaws/services/storagegateway",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Storage Gateway",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "storagegateway",
    "signingName" : "storagegateway",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "asyncClientBuilderClassName" : "AWSStorageGatewayAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSStorageGatewayModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.storagegateway.smoketests",
    "serviceName" : "AWS Storage Gateway",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSStorageGatewayClientBuilder"
  },
  "operations" : {
    "ActivateGateway" : {
      "documentation" : "<p>Activates the gateway you previously deployed on your host. For more information, see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/GettingStartedActivateGateway-common.html\"> Activate the AWS Storage Gateway</a>. In the activation process, you specify information such as the you want to use for storing snapshots, the time zone for scheduled snapshots the gateway snapshot schedule window, an activation key, and a name for your gateway. The activation process also associates your gateway with your account; for more information, see <a>UpdateGatewayInformation</a>.</p> <note><p>You must turn on the gateway VM before you can activate your gateway.</p> </note>",
      "operationName" : "ActivateGateway",
      "deprecated" : false,
      "input" : {
        "variableName" : "activateGatewayRequest",
        "variableType" : "ActivateGatewayRequest",
        "variableDeclarationType" : "ActivateGatewayRequest",
        "documentation" : "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>ActivateGatewayInput$ActivationKey</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayName</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayRegion</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayTimezone</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayType</a> </p> </li> <li> <p> <a>ActivateGatewayInput$TapeDriveType</a> </p> </li> <li> <p> <a>ActivateGatewayInput$MediumChangerType</a> </p> </li> </ul>",
        "simpleType" : "ActivateGatewayRequest",
        "variableSetterType" : "ActivateGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ActivateGatewayResult",
        "documentation" : "<p>AWS Storage Gateway returns the Amazon Resource Name (ARN) of the activated gateway. It is a string made of information such as your account, gateway name, and region. This ARN is used to reference the gateway in other API operations as well as resource-based authorization.</p> <note><p>For gateways activated prior to September 02, 2015 the gateway ARN contains the gateway name rather than the gateway id. Changing the name of the gateway has no effect on the gateway ARN.</p> </note>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "activateGateway",
      "authenticated" : true,
      "syncReturnType" : "ActivateGatewayResult",
      "asyncReturnType" : "ActivateGatewayResult",
      "asyncFutureType" : "java.util.concurrent.Future<ActivateGatewayResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ActivateGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ActivateGatewayRequest, ActivateGatewayResult>"
    },
    "AddCache" : {
      "documentation" : "<p>Configures one or more gateway local disks as cache for a cached-volume gateway. This operation is supported only for the gateway-cached volume architecture (see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/StorageGatewayConcepts.html\">Storage Gateway Concepts</a>).</p> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add cache, and one or more disk IDs that you want to configure as cache.</p>",
      "operationName" : "AddCache",
      "deprecated" : false,
      "input" : {
        "variableName" : "addCacheRequest",
        "variableType" : "AddCacheRequest",
        "variableDeclarationType" : "AddCacheRequest",
        "documentation" : "",
        "simpleType" : "AddCacheRequest",
        "variableSetterType" : "AddCacheRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddCacheResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "addCache",
      "authenticated" : true,
      "syncReturnType" : "AddCacheResult",
      "asyncReturnType" : "AddCacheResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddCacheResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddCacheResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddCacheRequest, AddCacheResult>"
    },
    "AddTagsToResource" : {
      "documentation" : "<p>Adds one or more tags to the specified resource. You use tags to add metadata to resources, which you can use to categorize these resources. For example, you can categorize resources by purpose, owner, environment, or team. Each tag consists of a key and a value, which you define. You can add tags to the following AWS Storage Gateway resources:</p> <ul> <li> <p>Storage gateways of all types</p> </li> </ul> <ul> <li> <p>Storage Volumes</p> </li> </ul> <ul> <li> <p>Virtual Tapes</p> </li> </ul> <p>You can create a maximum of 10 tags for each resource. Virtual tapes and storage volumes that are recovered to a new gateway maintain their tags.</p>",
      "operationName" : "AddTagsToResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "documentation" : "<p>AddTagsToResourceInput</p>",
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : "<p>AddTagsToResourceOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "addTagsToResource",
      "authenticated" : true,
      "syncReturnType" : "AddTagsToResourceResult",
      "asyncReturnType" : "AddTagsToResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>"
    },
    "AddUploadBuffer" : {
      "documentation" : "<p>Configures one or more gateway local disks as upload buffer for a specified gateway. This operation is supported for both the gateway-stored and gateway-cached volume architectures.</p> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add upload buffer, and one or more disk IDs that you want to configure as upload buffer.</p>",
      "operationName" : "AddUploadBuffer",
      "deprecated" : false,
      "input" : {
        "variableName" : "addUploadBufferRequest",
        "variableType" : "AddUploadBufferRequest",
        "variableDeclarationType" : "AddUploadBufferRequest",
        "documentation" : "",
        "simpleType" : "AddUploadBufferRequest",
        "variableSetterType" : "AddUploadBufferRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddUploadBufferResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "addUploadBuffer",
      "authenticated" : true,
      "syncReturnType" : "AddUploadBufferResult",
      "asyncReturnType" : "AddUploadBufferResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddUploadBufferResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddUploadBufferResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddUploadBufferRequest, AddUploadBufferResult>"
    },
    "AddWorkingStorage" : {
      "documentation" : "<p>Configures one or more gateway local disks as working storage for a gateway. This operation is supported only for the gateway-stored volume architecture. This operation is deprecated in cached-volumes API version 20120630. Use <a>AddUploadBuffer</a> instead.</p> <note> <p>Working storage is also referred to as upload buffer. You can also use the <a>AddUploadBuffer</a> operation to add upload buffer to a stored-volume gateway.</p> </note> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add working storage, and one or more disk IDs that you want to configure as working storage.</p>",
      "operationName" : "AddWorkingStorage",
      "deprecated" : false,
      "input" : {
        "variableName" : "addWorkingStorageRequest",
        "variableType" : "AddWorkingStorageRequest",
        "variableDeclarationType" : "AddWorkingStorageRequest",
        "documentation" : "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>AddWorkingStorageInput$DiskIds</a> </p> </li> </ul>",
        "simpleType" : "AddWorkingStorageRequest",
        "variableSetterType" : "AddWorkingStorageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddWorkingStorageResult",
        "documentation" : "<p>A JSON object containing the of the gateway for which working storage was configured.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "addWorkingStorage",
      "authenticated" : true,
      "syncReturnType" : "AddWorkingStorageResult",
      "asyncReturnType" : "AddWorkingStorageResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddWorkingStorageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddWorkingStorageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddWorkingStorageRequest, AddWorkingStorageResult>"
    },
    "CancelArchival" : {
      "documentation" : "<p>Cancels archiving of a virtual tape to the virtual tape shelf (VTS) after the archiving process is initiated.</p>",
      "operationName" : "CancelArchival",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelArchivalRequest",
        "variableType" : "CancelArchivalRequest",
        "variableDeclarationType" : "CancelArchivalRequest",
        "documentation" : "<p>CancelArchivalInput</p>",
        "simpleType" : "CancelArchivalRequest",
        "variableSetterType" : "CancelArchivalRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CancelArchivalResult",
        "documentation" : "<p>CancelArchivalOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "cancelArchival",
      "authenticated" : true,
      "syncReturnType" : "CancelArchivalResult",
      "asyncReturnType" : "CancelArchivalResult",
      "asyncFutureType" : "java.util.concurrent.Future<CancelArchivalResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CancelArchivalResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelArchivalRequest, CancelArchivalResult>"
    },
    "CancelRetrieval" : {
      "documentation" : "<p>Cancels retrieval of a virtual tape from the virtual tape shelf (VTS) to a gateway after the retrieval process is initiated. The virtual tape is returned to the VTS.</p>",
      "operationName" : "CancelRetrieval",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelRetrievalRequest",
        "variableType" : "CancelRetrievalRequest",
        "variableDeclarationType" : "CancelRetrievalRequest",
        "documentation" : "<p>CancelRetrievalInput</p>",
        "simpleType" : "CancelRetrievalRequest",
        "variableSetterType" : "CancelRetrievalRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CancelRetrievalResult",
        "documentation" : "<p>CancelRetrievalOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "cancelRetrieval",
      "authenticated" : true,
      "syncReturnType" : "CancelRetrievalResult",
      "asyncReturnType" : "CancelRetrievalResult",
      "asyncFutureType" : "java.util.concurrent.Future<CancelRetrievalResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CancelRetrievalResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelRetrievalRequest, CancelRetrievalResult>"
    },
    "CreateCachediSCSIVolume" : {
      "documentation" : "<p>Creates a cached volume on a specified cached gateway. This operation is supported only for the gateway-cached volume architecture.</p> <note><p>Cache storage must be allocated to the gateway before you can create a cached volume. Use the <a>AddCache</a> operation to add cache storage to a gateway. </p> </note> <p>In the request, you must specify the gateway, size of the volume in bytes, the iSCSI target name, an IP address on which to expose the target, and a unique client token. In response, AWS Storage Gateway creates the volume and returns information about it such as the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that initiators can use to connect to the volume target.</p>",
      "operationName" : "CreateCachediSCSIVolume",
      "deprecated" : false,
      "input" : {
        "variableName" : "createCachediSCSIVolumeRequest",
        "variableType" : "CreateCachediSCSIVolumeRequest",
        "variableDeclarationType" : "CreateCachediSCSIVolumeRequest",
        "documentation" : "",
        "simpleType" : "CreateCachediSCSIVolumeRequest",
        "variableSetterType" : "CreateCachediSCSIVolumeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateCachediSCSIVolumeResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createCachediSCSIVolume",
      "authenticated" : true,
      "syncReturnType" : "CreateCachediSCSIVolumeResult",
      "asyncReturnType" : "CreateCachediSCSIVolumeResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCachediSCSIVolumeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCachediSCSIVolumeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCachediSCSIVolumeRequest, CreateCachediSCSIVolumeResult>"
    },
    "CreateSnapshot" : {
      "documentation" : "<p>Initiates a snapshot of a volume.</p> <p>AWS Storage Gateway provides the ability to back up point-in-time snapshots of your data to Amazon Simple Storage (S3) for durable off-site recovery, as well as import the data to an Amazon Elastic Block Store (EBS) volume in Amazon Elastic Compute Cloud (EC2). You can take snapshots of your gateway volume on a scheduled or ad-hoc basis. This API enables you to take ad-hoc snapshot. For more information, see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/WorkingWithSnapshots.html\">Working With Snapshots in the AWS Storage Gateway Console</a>.</p> <p>In the CreateSnapshot request you identify the volume by providing its Amazon Resource Name (ARN). You must also provide description for the snapshot. When AWS Storage Gateway takes the snapshot of specified volume, the snapshot and description appears in the AWS Storage Gateway Console. In response, AWS Storage Gateway returns you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use it when you want to create a volume from a snapshot.</p> <note><p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information, see DescribeSnapshots or DeleteSnapshot in the <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Operations.html\">EC2 API reference</a>.</p> </note> <important> <p>Volume and snapshot IDs are changing to a longer length ID format. For more information, see the important note on the <a href=\"http://docs.aws.amazon.com/storagegateway/latest/APIReference/Welcome.html\">Welcome</a> page.</p> </important>",
      "operationName" : "CreateSnapshot",
      "deprecated" : false,
      "input" : {
        "variableName" : "createSnapshotRequest",
        "variableType" : "CreateSnapshotRequest",
        "variableDeclarationType" : "CreateSnapshotRequest",
        "documentation" : "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>CreateSnapshotInput$SnapshotDescription</a> </p> </li> <li> <p> <a>CreateSnapshotInput$VolumeARN</a> </p> </li> </ul>",
        "simpleType" : "CreateSnapshotRequest",
        "variableSetterType" : "CreateSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateSnapshotResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createSnapshot",
      "authenticated" : true,
      "syncReturnType" : "CreateSnapshotResult",
      "asyncReturnType" : "CreateSnapshotResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSnapshotResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSnapshotRequest, CreateSnapshotResult>"
    },
    "CreateSnapshotFromVolumeRecoveryPoint" : {
      "documentation" : "<p>Initiates a snapshot of a gateway from a volume recovery point. This operation is supported only for the gateway-cached volume architecture.</p> <p>A volume recovery point is a point in time at which all data of the volume is consistent and from which you can create a snapshot. To get a list of volume recovery point for gateway-cached volumes, use <a>ListVolumeRecoveryPoints</a>.</p> <p>In the <code>CreateSnapshotFromVolumeRecoveryPoint</code> request, you identify the volume by providing its Amazon Resource Name (ARN). You must also provide a description for the snapshot. When AWS Storage Gateway takes a snapshot of the specified volume, the snapshot and its description appear in the AWS Storage Gateway console. In response, AWS Storage Gateway returns you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use it when you want to create a volume from a snapshot.</p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information, in <i>Amazon Elastic Compute Cloud API Reference</i>.</p> </note>",
      "operationName" : "CreateSnapshotFromVolumeRecoveryPoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "createSnapshotFromVolumeRecoveryPointRequest",
        "variableType" : "CreateSnapshotFromVolumeRecoveryPointRequest",
        "variableDeclarationType" : "CreateSnapshotFromVolumeRecoveryPointRequest",
        "documentation" : "",
        "simpleType" : "CreateSnapshotFromVolumeRecoveryPointRequest",
        "variableSetterType" : "CreateSnapshotFromVolumeRecoveryPointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateSnapshotFromVolumeRecoveryPointResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createSnapshotFromVolumeRecoveryPoint",
      "authenticated" : true,
      "syncReturnType" : "CreateSnapshotFromVolumeRecoveryPointResult",
      "asyncReturnType" : "CreateSnapshotFromVolumeRecoveryPointResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSnapshotFromVolumeRecoveryPointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSnapshotFromVolumeRecoveryPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSnapshotFromVolumeRecoveryPointRequest, CreateSnapshotFromVolumeRecoveryPointResult>"
    },
    "CreateStorediSCSIVolume" : {
      "documentation" : "<p>Creates a volume on a specified gateway. This operation is supported only for the gateway-stored volume architecture.</p> <p>The size of the volume to create is inferred from the disk size. You can choose to preserve existing data on the disk, create volume from an existing snapshot, or create an empty volume. If you choose to create an empty gateway volume, then any existing data on the disk is erased.</p> <p>In the request you must specify the gateway and the disk information on which you are creating the volume. In response, AWS Storage Gateway creates the volume and returns volume information such as the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that initiators can use to connect to the volume target.</p>",
      "operationName" : "CreateStorediSCSIVolume",
      "deprecated" : false,
      "input" : {
        "variableName" : "createStorediSCSIVolumeRequest",
        "variableType" : "CreateStorediSCSIVolumeRequest",
        "variableDeclarationType" : "CreateStorediSCSIVolumeRequest",
        "documentation" : "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>CreateStorediSCSIVolumeInput$DiskId</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$NetworkInterfaceId</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$PreserveExistingData</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$SnapshotId</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$TargetName</a> </p> </li> </ul>",
        "simpleType" : "CreateStorediSCSIVolumeRequest",
        "variableSetterType" : "CreateStorediSCSIVolumeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateStorediSCSIVolumeResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createStorediSCSIVolume",
      "authenticated" : true,
      "syncReturnType" : "CreateStorediSCSIVolumeResult",
      "asyncReturnType" : "CreateStorediSCSIVolumeResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStorediSCSIVolumeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStorediSCSIVolumeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStorediSCSIVolumeRequest, CreateStorediSCSIVolumeResult>"
    },
    "CreateTapeWithBarcode" : {
      "documentation" : "<p>Creates a virtual tape by using your own barcode. You write data to the virtual tape and then archive the tape.</p> <note><p>Cache storage must be allocated to the gateway before you can create a virtual tape. Use the <a>AddCache</a> operation to add cache storage to a gateway.</p> </note>",
      "operationName" : "CreateTapeWithBarcode",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTapeWithBarcodeRequest",
        "variableType" : "CreateTapeWithBarcodeRequest",
        "variableDeclarationType" : "CreateTapeWithBarcodeRequest",
        "documentation" : "<p>CreateTapeWithBarcodeInput</p>",
        "simpleType" : "CreateTapeWithBarcodeRequest",
        "variableSetterType" : "CreateTapeWithBarcodeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTapeWithBarcodeResult",
        "documentation" : "<p>CreateTapeOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createTapeWithBarcode",
      "authenticated" : true,
      "syncReturnType" : "CreateTapeWithBarcodeResult",
      "asyncReturnType" : "CreateTapeWithBarcodeResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTapeWithBarcodeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTapeWithBarcodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTapeWithBarcodeRequest, CreateTapeWithBarcodeResult>"
    },
    "CreateTapes" : {
      "documentation" : "<p>Creates one or more virtual tapes. You write data to the virtual tapes and then archive the tapes.</p> <note><p>Cache storage must be allocated to the gateway before you can create virtual tapes. Use the <a>AddCache</a> operation to add cache storage to a gateway. </p> </note>",
      "operationName" : "CreateTapes",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTapesRequest",
        "variableType" : "CreateTapesRequest",
        "variableDeclarationType" : "CreateTapesRequest",
        "documentation" : "<p>CreateTapesInput</p>",
        "simpleType" : "CreateTapesRequest",
        "variableSetterType" : "CreateTapesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTapesResult",
        "documentation" : "<p>CreateTapeOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createTapes",
      "authenticated" : true,
      "syncReturnType" : "CreateTapesResult",
      "asyncReturnType" : "CreateTapesResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTapesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTapesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTapesRequest, CreateTapesResult>"
    },
    "DeleteBandwidthRateLimit" : {
      "documentation" : "<p>Deletes the bandwidth rate limits of a gateway. You can delete either the upload and download bandwidth rate limit, or you can delete both. If you delete only one of the limits, the other limit remains unchanged. To specify which gateway to work with, use the Amazon Resource Name (ARN) of the gateway in your request.</p>",
      "operationName" : "DeleteBandwidthRateLimit",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteBandwidthRateLimitRequest",
        "variableType" : "DeleteBandwidthRateLimitRequest",
        "variableDeclarationType" : "DeleteBandwidthRateLimitRequest",
        "documentation" : "",
        "simpleType" : "DeleteBandwidthRateLimitRequest",
        "variableSetterType" : "DeleteBandwidthRateLimitRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteBandwidthRateLimitResult",
        "documentation" : "<p>A JSON object containing the of the gateway whose bandwidth rate information was deleted.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteBandwidthRateLimit",
      "authenticated" : true,
      "syncReturnType" : "DeleteBandwidthRateLimitResult",
      "asyncReturnType" : "DeleteBandwidthRateLimitResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBandwidthRateLimitResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBandwidthRateLimitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBandwidthRateLimitRequest, DeleteBandwidthRateLimitResult>"
    },
    "DeleteChapCredentials" : {
      "documentation" : "<p>Deletes Challenge-Handshake Authentication Protocol (CHAP) credentials for a specified iSCSI target and initiator pair.</p>",
      "operationName" : "DeleteChapCredentials",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteChapCredentialsRequest",
        "variableType" : "DeleteChapCredentialsRequest",
        "variableDeclarationType" : "DeleteChapCredentialsRequest",
        "documentation" : "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>DeleteChapCredentialsInput$InitiatorName</a> </p> </li> <li> <p> <a>DeleteChapCredentialsInput$TargetARN</a> </p> </li> </ul>",
        "simpleType" : "DeleteChapCredentialsRequest",
        "variableSetterType" : "DeleteChapCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteChapCredentialsResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteChapCredentials",
      "authenticated" : true,
      "syncReturnType" : "DeleteChapCredentialsResult",
      "asyncReturnType" : "DeleteChapCredentialsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChapCredentialsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChapCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChapCredentialsRequest, DeleteChapCredentialsResult>"
    },
    "DeleteGateway" : {
      "documentation" : "<p>Deletes a gateway. To specify which gateway to delete, use the Amazon Resource Name (ARN) of the gateway in your request. The operation deletes the gateway; however, it does not delete the gateway virtual machine (VM) from your host computer.</p> <p>After you delete a gateway, you cannot reactivate it. Completed snapshots of the gateway volumes are not deleted upon deleting the gateway, however, pending snapshots will not complete. After you delete a gateway, your next step is to remove it from your environment.</p> <important> <p>You no longer pay software charges after the gateway is deleted; however, your existing Amazon EBS snapshots persist and you will continue to be billed for these snapshots. You can choose to remove all remaining Amazon EBS snapshots by canceling your Amazon EC2 subscription.  If you prefer not to cancel your Amazon EC2 subscription, you can delete your snapshots using the Amazon EC2 console. For more information, see the <a href=\"http://aws.amazon.com/storagegateway\"> AWS Storage Gateway Detail Page</a>. </p> </important>",
      "operationName" : "DeleteGateway",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteGatewayRequest",
        "variableType" : "DeleteGatewayRequest",
        "variableDeclarationType" : "DeleteGatewayRequest",
        "documentation" : "<p>A JSON object containing the id of the gateway to delete.</p>",
        "simpleType" : "DeleteGatewayRequest",
        "variableSetterType" : "DeleteGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteGatewayResult",
        "documentation" : "<p>A JSON object containing the id of the deleted gateway.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteGateway",
      "authenticated" : true,
      "syncReturnType" : "DeleteGatewayResult",
      "asyncReturnType" : "DeleteGatewayResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGatewayResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGatewayRequest, DeleteGatewayResult>"
    },
    "DeleteSnapshotSchedule" : {
      "documentation" : "<p>Deletes a snapshot of a volume.</p> <p>You can take snapshots of your gateway volumes on a scheduled or ad hoc basis. This API action enables you to delete a snapshot schedule for a volume. For more information, see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/WorkingWithSnapshots.html\">Working with Snapshots</a>. In the <code>DeleteSnapshotSchedule</code> request, you identify the volume by providing its Amazon Resource Name (ARN). </p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. in <i>Amazon Elastic Compute Cloud API Reference</i>.</p> </note>",
      "operationName" : "DeleteSnapshotSchedule",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteSnapshotScheduleRequest",
        "variableType" : "DeleteSnapshotScheduleRequest",
        "variableDeclarationType" : "DeleteSnapshotScheduleRequest",
        "documentation" : "",
        "simpleType" : "DeleteSnapshotScheduleRequest",
        "variableSetterType" : "DeleteSnapshotScheduleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteSnapshotScheduleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteSnapshotSchedule",
      "authenticated" : true,
      "syncReturnType" : "DeleteSnapshotScheduleResult",
      "asyncReturnType" : "DeleteSnapshotScheduleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSnapshotScheduleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSnapshotScheduleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSnapshotScheduleRequest, DeleteSnapshotScheduleResult>"
    },
    "DeleteTape" : {
      "documentation" : "<p>Deletes the specified virtual tape.</p>",
      "operationName" : "DeleteTape",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTapeRequest",
        "variableType" : "DeleteTapeRequest",
        "variableDeclarationType" : "DeleteTapeRequest",
        "documentation" : "<p>DeleteTapeInput</p>",
        "simpleType" : "DeleteTapeRequest",
        "variableSetterType" : "DeleteTapeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTapeResult",
        "documentation" : "<p>DeleteTapeOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteTape",
      "authenticated" : true,
      "syncReturnType" : "DeleteTapeResult",
      "asyncReturnType" : "DeleteTapeResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTapeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTapeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTapeRequest, DeleteTapeResult>"
    },
    "DeleteTapeArchive" : {
      "documentation" : "<p>Deletes the specified virtual tape from the virtual tape shelf (VTS).</p>",
      "operationName" : "DeleteTapeArchive",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTapeArchiveRequest",
        "variableType" : "DeleteTapeArchiveRequest",
        "variableDeclarationType" : "DeleteTapeArchiveRequest",
        "documentation" : "<p>DeleteTapeArchiveInput</p>",
        "simpleType" : "DeleteTapeArchiveRequest",
        "variableSetterType" : "DeleteTapeArchiveRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTapeArchiveResult",
        "documentation" : "<p>DeleteTapeArchiveOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteTapeArchive",
      "authenticated" : true,
      "syncReturnType" : "DeleteTapeArchiveResult",
      "asyncReturnType" : "DeleteTapeArchiveResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTapeArchiveResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTapeArchiveResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTapeArchiveRequest, DeleteTapeArchiveResult>"
    },
    "DeleteVolume" : {
      "documentation" : "<p>Deletes the specified gateway volume that you previously created using the <a>CreateCachediSCSIVolume</a> or <a>CreateStorediSCSIVolume</a> API. For gateway-stored volumes, the local disk that was configured as the storage volume is not deleted. You can reuse the local disk to create another storage volume. </p> <p>Before you delete a gateway volume, make sure there are no iSCSI connections to the volume you are deleting. You should also make sure there is no snapshot in progress. You can use the Amazon Elastic Compute Cloud (Amazon EC2) API to query snapshots on the volume you are deleting and check the snapshot status. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>.</p> <p>In the request, you must provide the Amazon Resource Name (ARN) of the storage volume you want to delete.</p>",
      "operationName" : "DeleteVolume",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteVolumeRequest",
        "variableType" : "DeleteVolumeRequest",
        "variableDeclarationType" : "DeleteVolumeRequest",
        "documentation" : "<p>A JSON object containing the <a>DeleteVolumeInput$VolumeARN</a> to delete.</p>",
        "simpleType" : "DeleteVolumeRequest",
        "variableSetterType" : "DeleteVolumeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteVolumeResult",
        "documentation" : "<p>A JSON object containing the of the storage volume that was deleted</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteVolume",
      "authenticated" : true,
      "syncReturnType" : "DeleteVolumeResult",
      "asyncReturnType" : "DeleteVolumeResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVolumeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVolumeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVolumeRequest, DeleteVolumeResult>"
    },
    "DescribeBandwidthRateLimit" : {
      "documentation" : "<p>Returns the bandwidth rate limits of a gateway. By default, these limits are not set, which means no bandwidth rate limiting is in effect.</p> <p>This operation only returns a value for a bandwidth rate limit only if the limit is set. If no limits are set for the gateway, then this operation returns only the gateway ARN in the response body. To specify which gateway to describe, use the Amazon Resource Name (ARN) of the gateway in your request.</p>",
      "operationName" : "DescribeBandwidthRateLimit",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeBandwidthRateLimitRequest",
        "variableType" : "DescribeBandwidthRateLimitRequest",
        "variableDeclarationType" : "DescribeBandwidthRateLimitRequest",
        "documentation" : "<p>A JSON object containing the of the gateway.</p>",
        "simpleType" : "DescribeBandwidthRateLimitRequest",
        "variableSetterType" : "DescribeBandwidthRateLimitRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeBandwidthRateLimitResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeBandwidthRateLimit",
      "authenticated" : true,
      "syncReturnType" : "DescribeBandwidthRateLimitResult",
      "asyncReturnType" : "DescribeBandwidthRateLimitResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBandwidthRateLimitResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBandwidthRateLimitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBandwidthRateLimitRequest, DescribeBandwidthRateLimitResult>"
    },
    "DescribeCache" : {
      "documentation" : "<p>Returns information about the cache of a gateway. This operation is supported only for the gateway-cached volume architecture.</p> <p>The response includes disk IDs that are configured as cache, and it includes the amount of cache allocated and used.</p>",
      "operationName" : "DescribeCache",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCacheRequest",
        "variableType" : "DescribeCacheRequest",
        "variableDeclarationType" : "DescribeCacheRequest",
        "documentation" : "",
        "simpleType" : "DescribeCacheRequest",
        "variableSetterType" : "DescribeCacheRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCacheResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeCache",
      "authenticated" : true,
      "syncReturnType" : "DescribeCacheResult",
      "asyncReturnType" : "DescribeCacheResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCacheResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCacheResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCacheRequest, DescribeCacheResult>"
    },
    "DescribeCachediSCSIVolumes" : {
      "documentation" : "<p>Returns a description of the gateway volumes specified in the request. This operation is supported only for the gateway-cached volume architecture.</p> <p>The list of gateway volumes in the request must be from one gateway. In the response Amazon Storage Gateway returns volume information sorted by volume Amazon Resource Name (ARN).</p>",
      "operationName" : "DescribeCachediSCSIVolumes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCachediSCSIVolumesRequest",
        "variableType" : "DescribeCachediSCSIVolumesRequest",
        "variableDeclarationType" : "DescribeCachediSCSIVolumesRequest",
        "documentation" : "",
        "simpleType" : "DescribeCachediSCSIVolumesRequest",
        "variableSetterType" : "DescribeCachediSCSIVolumesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCachediSCSIVolumesResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeCachediSCSIVolumes",
      "authenticated" : true,
      "syncReturnType" : "DescribeCachediSCSIVolumesResult",
      "asyncReturnType" : "DescribeCachediSCSIVolumesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCachediSCSIVolumesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCachediSCSIVolumesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCachediSCSIVolumesRequest, DescribeCachediSCSIVolumesResult>"
    },
    "DescribeChapCredentials" : {
      "documentation" : "<p>Returns an array of Challenge-Handshake Authentication Protocol (CHAP) credentials information for a specified iSCSI target, one for each target-initiator pair.</p>",
      "operationName" : "DescribeChapCredentials",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeChapCredentialsRequest",
        "variableType" : "DescribeChapCredentialsRequest",
        "variableDeclarationType" : "DescribeChapCredentialsRequest",
        "documentation" : "<p>A JSON object containing the Amazon Resource Name (ARN) of the iSCSI volume target.</p>",
        "simpleType" : "DescribeChapCredentialsRequest",
        "variableSetterType" : "DescribeChapCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeChapCredentialsResult",
        "documentation" : "<p>A JSON object containing a .</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeChapCredentials",
      "authenticated" : true,
      "syncReturnType" : "DescribeChapCredentialsResult",
      "asyncReturnType" : "DescribeChapCredentialsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChapCredentialsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChapCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChapCredentialsRequest, DescribeChapCredentialsResult>"
    },
    "DescribeGatewayInformation" : {
      "documentation" : "<p>Returns metadata about a gateway such as its name, network interfaces, configured time zone, and the state (whether the gateway is running or not). To specify which gateway to describe, use the Amazon Resource Name (ARN) of the gateway in your request.</p>",
      "operationName" : "DescribeGatewayInformation",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeGatewayInformationRequest",
        "variableType" : "DescribeGatewayInformationRequest",
        "variableDeclarationType" : "DescribeGatewayInformationRequest",
        "documentation" : "<p>A JSON object containing the id of the gateway.</p>",
        "simpleType" : "DescribeGatewayInformationRequest",
        "variableSetterType" : "DescribeGatewayInformationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeGatewayInformationResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeGatewayInformation",
      "authenticated" : true,
      "syncReturnType" : "DescribeGatewayInformationResult",
      "asyncReturnType" : "DescribeGatewayInformationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeGatewayInformationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeGatewayInformationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeGatewayInformationRequest, DescribeGatewayInformationResult>"
    },
    "DescribeMaintenanceStartTime" : {
      "documentation" : "<p>Returns your gateway's weekly maintenance start time including the day and time of the week. Note that values are in terms of the gateway's time zone.</p>",
      "operationName" : "DescribeMaintenanceStartTime",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeMaintenanceStartTimeRequest",
        "variableType" : "DescribeMaintenanceStartTimeRequest",
        "variableDeclarationType" : "DescribeMaintenanceStartTimeRequest",
        "documentation" : "<p>A JSON object containing the of the gateway.</p>",
        "simpleType" : "DescribeMaintenanceStartTimeRequest",
        "variableSetterType" : "DescribeMaintenanceStartTimeRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeMaintenanceStartTimeResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeMaintenanceStartTime",
      "authenticated" : true,
      "syncReturnType" : "DescribeMaintenanceStartTimeResult",
      "asyncReturnType" : "DescribeMaintenanceStartTimeResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMaintenanceStartTimeResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMaintenanceStartTimeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMaintenanceStartTimeRequest, DescribeMaintenanceStartTimeResult>"
    },
    "DescribeSnapshotSchedule" : {
      "documentation" : "<p>Describes the snapshot schedule for the specified gateway volume. The snapshot schedule information includes intervals at which snapshots are automatically initiated on the volume.</p>",
      "operationName" : "DescribeSnapshotSchedule",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeSnapshotScheduleRequest",
        "variableType" : "DescribeSnapshotScheduleRequest",
        "variableDeclarationType" : "DescribeSnapshotScheduleRequest",
        "documentation" : "<p>A JSON object containing the <a>DescribeSnapshotScheduleInput$VolumeARN</a> of the volume.</p>",
        "simpleType" : "DescribeSnapshotScheduleRequest",
        "variableSetterType" : "DescribeSnapshotScheduleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeSnapshotScheduleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeSnapshotSchedule",
      "authenticated" : true,
      "syncReturnType" : "DescribeSnapshotScheduleResult",
      "asyncReturnType" : "DescribeSnapshotScheduleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSnapshotScheduleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSnapshotScheduleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSnapshotScheduleRequest, DescribeSnapshotScheduleResult>"
    },
    "DescribeStorediSCSIVolumes" : {
      "documentation" : "<p>Returns the description of the gateway volumes specified in the request. The list of gateway volumes in the request must be from one gateway. In the response Amazon Storage Gateway returns volume information sorted by volume ARNs.</p>",
      "operationName" : "DescribeStorediSCSIVolumes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeStorediSCSIVolumesRequest",
        "variableType" : "DescribeStorediSCSIVolumesRequest",
        "variableDeclarationType" : "DescribeStorediSCSIVolumesRequest",
        "documentation" : "<p>A JSON object containing a list of <a>DescribeStorediSCSIVolumesInput$VolumeARNs</a>.</p>",
        "simpleType" : "DescribeStorediSCSIVolumesRequest",
        "variableSetterType" : "DescribeStorediSCSIVolumesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeStorediSCSIVolumesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeStorediSCSIVolumes",
      "authenticated" : true,
      "syncReturnType" : "DescribeStorediSCSIVolumesResult",
      "asyncReturnType" : "DescribeStorediSCSIVolumesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStorediSCSIVolumesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStorediSCSIVolumesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStorediSCSIVolumesRequest, DescribeStorediSCSIVolumesResult>"
    },
    "DescribeTapeArchives" : {
      "documentation" : "<p>Returns a description of specified virtual tapes in the virtual tape shelf (VTS).</p> <p>If a specific <code>TapeARN</code> is not specified, AWS Storage Gateway returns a description of all virtual tapes found in the VTS associated with your account.</p>",
      "operationName" : "DescribeTapeArchives",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTapeArchivesRequest",
        "variableType" : "DescribeTapeArchivesRequest",
        "variableDeclarationType" : "DescribeTapeArchivesRequest",
        "documentation" : "<p>DescribeTapeArchivesInput</p>",
        "simpleType" : "DescribeTapeArchivesRequest",
        "variableSetterType" : "DescribeTapeArchivesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTapeArchivesResult",
        "documentation" : "<p>DescribeTapeArchivesOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeTapeArchives",
      "authenticated" : true,
      "syncReturnType" : "DescribeTapeArchivesResult",
      "asyncReturnType" : "DescribeTapeArchivesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTapeArchivesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTapeArchivesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTapeArchivesRequest, DescribeTapeArchivesResult>"
    },
    "DescribeTapeRecoveryPoints" : {
      "documentation" : "<p>Returns a list of virtual tape recovery points that are available for the specified gateway-VTL.</p> <p>A recovery point is a point-in-time view of a virtual tape at which all the data on the virtual tape is consistent. If your gateway crashes, virtual tapes that have recovery points can be recovered to a new gateway.</p>",
      "operationName" : "DescribeTapeRecoveryPoints",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTapeRecoveryPointsRequest",
        "variableType" : "DescribeTapeRecoveryPointsRequest",
        "variableDeclarationType" : "DescribeTapeRecoveryPointsRequest",
        "documentation" : "<p>DescribeTapeRecoveryPointsInput</p>",
        "simpleType" : "DescribeTapeRecoveryPointsRequest",
        "variableSetterType" : "DescribeTapeRecoveryPointsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTapeRecoveryPointsResult",
        "documentation" : "<p>DescribeTapeRecoveryPointsOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeTapeRecoveryPoints",
      "authenticated" : true,
      "syncReturnType" : "DescribeTapeRecoveryPointsResult",
      "asyncReturnType" : "DescribeTapeRecoveryPointsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTapeRecoveryPointsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTapeRecoveryPointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTapeRecoveryPointsRequest, DescribeTapeRecoveryPointsResult>"
    },
    "DescribeTapes" : {
      "documentation" : "<p>Returns a description of the specified Amazon Resource Name (ARN) of virtual tapes. If a <code>TapeARN</code> is not specified, returns a description of all virtual tapes associated with the specified gateway.</p>",
      "operationName" : "DescribeTapes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTapesRequest",
        "variableType" : "DescribeTapesRequest",
        "variableDeclarationType" : "DescribeTapesRequest",
        "documentation" : "<p>DescribeTapesInput</p>",
        "simpleType" : "DescribeTapesRequest",
        "variableSetterType" : "DescribeTapesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTapesResult",
        "documentation" : "<p>DescribeTapesOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeTapes",
      "authenticated" : true,
      "syncReturnType" : "DescribeTapesResult",
      "asyncReturnType" : "DescribeTapesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTapesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTapesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTapesRequest, DescribeTapesResult>"
    },
    "DescribeUploadBuffer" : {
      "documentation" : "<p>Returns information about the upload buffer of a gateway. This operation is supported for both the gateway-stored and gateway-cached volume architectures.</p> <p>The response includes disk IDs that are configured as upload buffer space, and it includes the amount of upload buffer space allocated and used.</p>",
      "operationName" : "DescribeUploadBuffer",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeUploadBufferRequest",
        "variableType" : "DescribeUploadBufferRequest",
        "variableDeclarationType" : "DescribeUploadBufferRequest",
        "documentation" : "",
        "simpleType" : "DescribeUploadBufferRequest",
        "variableSetterType" : "DescribeUploadBufferRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeUploadBufferResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeUploadBuffer",
      "authenticated" : true,
      "syncReturnType" : "DescribeUploadBufferResult",
      "asyncReturnType" : "DescribeUploadBufferResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUploadBufferResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUploadBufferResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUploadBufferRequest, DescribeUploadBufferResult>"
    },
    "DescribeVTLDevices" : {
      "documentation" : "<p>Returns a description of virtual tape library (VTL) devices for the specified gateway. In the response, AWS Storage Gateway returns VTL device information.</p> <p>The list of VTL devices must be from one gateway.</p>",
      "operationName" : "DescribeVTLDevices",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeVTLDevicesRequest",
        "variableType" : "DescribeVTLDevicesRequest",
        "variableDeclarationType" : "DescribeVTLDevicesRequest",
        "documentation" : "<p>DescribeVTLDevicesInput</p>",
        "simpleType" : "DescribeVTLDevicesRequest",
        "variableSetterType" : "DescribeVTLDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeVTLDevicesResult",
        "documentation" : "<p>DescribeVTLDevicesOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeVTLDevices",
      "authenticated" : true,
      "syncReturnType" : "DescribeVTLDevicesResult",
      "asyncReturnType" : "DescribeVTLDevicesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVTLDevicesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVTLDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVTLDevicesRequest, DescribeVTLDevicesResult>"
    },
    "DescribeWorkingStorage" : {
      "documentation" : "<p>Returns information about the working storage of a gateway. This operation is supported only for the gateway-stored volume architecture. This operation is deprecated in cached-volumes API version (20120630). Use DescribeUploadBuffer instead.</p> <note> <p>Working storage is also referred to as upload buffer. You can also use the DescribeUploadBuffer operation to add upload buffer to a stored-volume gateway.</p> </note> <p>The response includes disk IDs that are configured as working storage, and it includes the amount of working storage allocated and used.</p>",
      "operationName" : "DescribeWorkingStorage",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeWorkingStorageRequest",
        "variableType" : "DescribeWorkingStorageRequest",
        "variableDeclarationType" : "DescribeWorkingStorageRequest",
        "documentation" : "<p>A JSON object containing the of the gateway.</p>",
        "simpleType" : "DescribeWorkingStorageRequest",
        "variableSetterType" : "DescribeWorkingStorageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeWorkingStorageResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeWorkingStorage",
      "authenticated" : true,
      "syncReturnType" : "DescribeWorkingStorageResult",
      "asyncReturnType" : "DescribeWorkingStorageResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkingStorageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkingStorageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkingStorageRequest, DescribeWorkingStorageResult>"
    },
    "DisableGateway" : {
      "documentation" : "<p>Disables a gateway when the gateway is no longer functioning. For example, if your gateway VM is damaged, you can disable the gateway so you can recover virtual tapes.</p> <p>Use this operation for a gateway-VTL that is not reachable or not functioning.</p> <important><p>Once a gateway is disabled it cannot be enabled.</p> </important>",
      "operationName" : "DisableGateway",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableGatewayRequest",
        "variableType" : "DisableGatewayRequest",
        "variableDeclarationType" : "DisableGatewayRequest",
        "documentation" : "<p>DisableGatewayInput</p>",
        "simpleType" : "DisableGatewayRequest",
        "variableSetterType" : "DisableGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableGatewayResult",
        "documentation" : "<p>DisableGatewayOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "disableGateway",
      "authenticated" : true,
      "syncReturnType" : "DisableGatewayResult",
      "asyncReturnType" : "DisableGatewayResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableGatewayResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableGatewayRequest, DisableGatewayResult>"
    },
    "ListGateways" : {
      "documentation" : "<p>Lists gateways owned by an AWS account in a region specified in the request. The returned list is ordered by gateway Amazon Resource Name (ARN).</p> <p>By default, the operation returns a maximum of 100 gateways. This operation supports pagination that allows you to optionally reduce the number of gateways returned in a response.</p> <p>If you have more gateways than are returned in a response (that is, the response returns only a truncated list of your gateways), the response contains a marker that you can specify in your next request to fetch the next page of gateways.</p>",
      "operationName" : "ListGateways",
      "deprecated" : false,
      "input" : {
        "variableName" : "listGatewaysRequest",
        "variableType" : "ListGatewaysRequest",
        "variableDeclarationType" : "ListGatewaysRequest",
        "documentation" : "<p>A JSON object containing zero or more of the following fields:</p> <ul> <li> <p> <a>ListGatewaysInput$Limit</a> </p> </li> <li> <p> <a>ListGatewaysInput$Marker</a> </p> </li> </ul>",
        "simpleType" : "ListGatewaysRequest",
        "variableSetterType" : "ListGatewaysRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListGatewaysResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listGateways",
      "authenticated" : true,
      "syncReturnType" : "ListGatewaysResult",
      "asyncReturnType" : "ListGatewaysResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListGatewaysResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListGatewaysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGatewaysRequest, ListGatewaysResult>"
    },
    "ListLocalDisks" : {
      "documentation" : "<p>Returns a list of the gateway's local disks. To specify which gateway to describe, you use the Amazon Resource Name (ARN) of the gateway in the body of the request.</p> <p>The request returns a list of all disks, specifying which are configured as working storage, cache storage, or stored volume or not configured at all. The response includes a <code>DiskStatus</code> field. This field can have a value of present (the disk is available to use), missing (the disk is no longer connected to the gateway), or mismatch (the disk node is occupied by a disk that has incorrect metadata or the disk content is corrupted). </p>",
      "operationName" : "ListLocalDisks",
      "deprecated" : false,
      "input" : {
        "variableName" : "listLocalDisksRequest",
        "variableType" : "ListLocalDisksRequest",
        "variableDeclarationType" : "ListLocalDisksRequest",
        "documentation" : "<p>A JSON object containing the of the gateway.</p>",
        "simpleType" : "ListLocalDisksRequest",
        "variableSetterType" : "ListLocalDisksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListLocalDisksResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listLocalDisks",
      "authenticated" : true,
      "syncReturnType" : "ListLocalDisksResult",
      "asyncReturnType" : "ListLocalDisksResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListLocalDisksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListLocalDisksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLocalDisksRequest, ListLocalDisksResult>"
    },
    "ListTagsForResource" : {
      "documentation" : "<p>Lists the tags that have been added to the specified resource.</p>",
      "operationName" : "ListTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "documentation" : "<p>ListTagsForResourceInput</p>",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p>ListTagsForResourceOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listTagsForResource",
      "authenticated" : true,
      "syncReturnType" : "ListTagsForResourceResult",
      "asyncReturnType" : "ListTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>"
    },
    "ListTapes" : {
      "documentation" : "<p>Lists virtual tapes in your virtual tape library (VTL) and your virtual tape shelf (VTS). You specify the tapes to list by specifying one or more tape Amazon Resource Names (ARNs). If you don't specify a tape ARN, the operation lists all virtual tapes in both your VTL and VTS.</p> <p>This operation supports pagination. By default, the operation returns a maximum of up to 100 tapes. You can optionally specify the <code>Limit</code> parameter in the body to limit the number of tapes in the response. If the number of tapes returned in the response is truncated, the response includes a <code>Marker</code> element that you can use in your subsequent request to retrieve the next set of tapes.</p>",
      "operationName" : "ListTapes",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTapesRequest",
        "variableType" : "ListTapesRequest",
        "variableDeclarationType" : "ListTapesRequest",
        "documentation" : "<p>A JSON object that contains one or more of the following fields:</p> <ul> <li> <p> <a>ListTapesInput$Limit</a> </p> </li> <li> <p> <a>ListTapesInput$Marker</a> </p> </li> <li> <p> <a>ListTapesInput$TapeARNs</a> </p> </li> </ul>",
        "simpleType" : "ListTapesRequest",
        "variableSetterType" : "ListTapesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTapesResult",
        "documentation" : "<p>A JSON object containing the following fields:</p> <ul> <li> <p> <a>ListTapesOutput$Marker</a> </p> </li> <li> <p> <a>ListTapesOutput$VolumeInfos</a> </p> </li> </ul>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listTapes",
      "authenticated" : true,
      "syncReturnType" : "ListTapesResult",
      "asyncReturnType" : "ListTapesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTapesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTapesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTapesRequest, ListTapesResult>"
    },
    "ListVolumeInitiators" : {
      "documentation" : "<p>Lists iSCSI initiators that are connected to a volume. You can use this operation to determine whether a volume is being used or not.</p>",
      "operationName" : "ListVolumeInitiators",
      "deprecated" : false,
      "input" : {
        "variableName" : "listVolumeInitiatorsRequest",
        "variableType" : "ListVolumeInitiatorsRequest",
        "variableDeclarationType" : "ListVolumeInitiatorsRequest",
        "documentation" : "<p>ListVolumeInitiatorsInput</p>",
        "simpleType" : "ListVolumeInitiatorsRequest",
        "variableSetterType" : "ListVolumeInitiatorsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListVolumeInitiatorsResult",
        "documentation" : "<p>ListVolumeInitiatorsOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listVolumeInitiators",
      "authenticated" : true,
      "syncReturnType" : "ListVolumeInitiatorsResult",
      "asyncReturnType" : "ListVolumeInitiatorsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListVolumeInitiatorsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListVolumeInitiatorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVolumeInitiatorsRequest, ListVolumeInitiatorsResult>"
    },
    "ListVolumeRecoveryPoints" : {
      "documentation" : "<p>Lists the recovery points for a specified gateway. This operation is supported only for the gateway-cached volume architecture.</p> <p>Each gateway-cached volume has one recovery point. A volume recovery point is a point in time at which all data of the volume is consistent and from which you can create a snapshot. To create a snapshot from a volume recovery point use the <a>CreateSnapshotFromVolumeRecoveryPoint</a> operation.</p>",
      "operationName" : "ListVolumeRecoveryPoints",
      "deprecated" : false,
      "input" : {
        "variableName" : "listVolumeRecoveryPointsRequest",
        "variableType" : "ListVolumeRecoveryPointsRequest",
        "variableDeclarationType" : "ListVolumeRecoveryPointsRequest",
        "documentation" : "",
        "simpleType" : "ListVolumeRecoveryPointsRequest",
        "variableSetterType" : "ListVolumeRecoveryPointsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListVolumeRecoveryPointsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listVolumeRecoveryPoints",
      "authenticated" : true,
      "syncReturnType" : "ListVolumeRecoveryPointsResult",
      "asyncReturnType" : "ListVolumeRecoveryPointsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListVolumeRecoveryPointsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListVolumeRecoveryPointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVolumeRecoveryPointsRequest, ListVolumeRecoveryPointsResult>"
    },
    "ListVolumes" : {
      "documentation" : "<p>Lists the iSCSI stored volumes of a gateway. Results are sorted by volume ARN. The response includes only the volume ARNs. If you want additional volume information, use the <a>DescribeStorediSCSIVolumes</a> API.</p> <p>The operation supports pagination. By default, the operation returns a maximum of up to 100 volumes. You can optionally specify the <code>Limit</code> field in the body to limit the number of volumes in the response. If the number of volumes returned in the response is truncated, the response includes a Marker field. You can use this Marker value in your subsequent request to retrieve the next set of volumes.</p>",
      "operationName" : "ListVolumes",
      "deprecated" : false,
      "input" : {
        "variableName" : "listVolumesRequest",
        "variableType" : "ListVolumesRequest",
        "variableDeclarationType" : "ListVolumesRequest",
        "documentation" : "<p>A JSON object that contains one or more of the following fields:</p> <ul> <li> <p> <a>ListVolumesInput$Limit</a> </p> </li> <li> <p> <a>ListVolumesInput$Marker</a> </p> </li> </ul>",
        "simpleType" : "ListVolumesRequest",
        "variableSetterType" : "ListVolumesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListVolumesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listVolumes",
      "authenticated" : true,
      "syncReturnType" : "ListVolumesResult",
      "asyncReturnType" : "ListVolumesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListVolumesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListVolumesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVolumesRequest, ListVolumesResult>"
    },
    "RemoveTagsFromResource" : {
      "documentation" : "<p>Removes one or more tags from the specified resource.</p>",
      "operationName" : "RemoveTagsFromResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsFromResourceRequest",
        "variableType" : "RemoveTagsFromResourceRequest",
        "variableDeclarationType" : "RemoveTagsFromResourceRequest",
        "documentation" : "<p>RemoveTagsFromResourceInput</p>",
        "simpleType" : "RemoveTagsFromResourceRequest",
        "variableSetterType" : "RemoveTagsFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsFromResourceResult",
        "documentation" : "<p>RemoveTagsFromResourceOutput</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "removeTagsFromResource",
      "authenticated" : true,
      "syncReturnType" : "RemoveTagsFromResourceResult",
      "asyncReturnType" : "RemoveTagsFromResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromResourceRequest, RemoveTagsFromResourceResult>"
    },
    "ResetCache" : {
      "documentation" : "<p>Resets all cache disks that have encountered a error and makes the disks available for reconfiguration as cache storage. If your cache disk encounters a error, the gateway prevents read and write operations on virtual tapes in the gateway. For example, an error can occur when a disk is corrupted or removed from the gateway. When a cache is reset, the gateway loses its cache storage. At this point you can reconfigure the disks as cache disks.</p> <important> <p>If the cache disk you are resetting contains data that has not been uploaded to Amazon S3 yet, that data can be lost. After you reset cache disks, there will be no configured cache disks left in the gateway, so you must configure at least one new cache disk for your gateway to function properly.</p> </important>",
      "operationName" : "ResetCache",
      "deprecated" : false,
      "input" : {
        "variableName" : "resetCacheRequest",
        "variableType" : "ResetCacheRequest",
        "variableDeclarationType" : "ResetCacheRequest",
[...]
