{
  "metadata" : {
    "apiVersion" : "2014-11-06",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>This is the Amazon EC2 Simple Systems Manager (SSM) API Reference. SSM enables you to remotely manage the configuration of your Amazon EC2 instances, virtual machines (VMs), or servers in your on-premises environment or in an environment provided by other cloud providers using scripts, commands, or the Amazon EC2 console. SSM includes an on-demand solution called <i>Amazon EC2 Run Command</i> and a lightweight instance configuration solution called <i>SSM Config</i>. </p> <p>This references is intended to be used with the EC2 Run Command User Guide for <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/execute-remote-commands.html\">Linux</a> or <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/execute-remote-commands.html\">Windows</a>.</p> <note> <p>You must register your on-premises servers and VMs through an activation process before you can configure them using Run Command. Registered servers and VMs are called <i>managed instances</i>. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/managed-instances.html\">Setting Up Run Command On Managed Instances (On-Premises Servers and VMs) on Linux</a> or <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/managed-instances.html\">Setting Up Run Command On Managed Instances (On-Premises Servers and VMs) on Windows</a>.</p> </note> <p> <b>Run Command</b> </p> <p>Run Command provides an on-demand experience for executing commands. You can use pre-defined SSM documents to perform the actions listed later in this section, or you can create your own documents. With these documents, you can remotely configure your instances by sending commands using the <b>Commands</b> page in the <a href=\"http://console.aws.amazon.com/ec2/\">Amazon EC2 console</a>, <a href=\"http://docs.aws.amazon.com/powershell/latest/reference/items/Amazon_Simple_Systems_Management_cmdlets.html\">AWS Tools for Windows PowerShell</a>, the <a href=\"http://docs.aws.amazon.com/cli/latest/reference/ssm/index.html\">AWS CLI</a>, or AWS SDKs.</p> <p>Run Command reports the status of the command execution for each instance targeted by a command. You can also audit the command execution to understand who executed commands, when, and what changes were made. By switching between different SSM documents, you can quickly configure your instances with different types of commands. To get started with Run Command, verify that your environment meets the prerequisites for remotely running commands on EC2 instances (<a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/remote-commands-prereq.html\">Linux</a> or <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/remote-commands-prereq.html\">Windows</a>). </p> <p/> <p> <b>SSM Config</b> </p> <p>SSM Config is a lightweight instance configuration solution. SSM Config is currently only available for Windows instances. With SSM Config, you can specify a setup configuration for your instances. SSM Config is similar to EC2 User Data, which is another way of running one-time scripts or applying settings during instance launch. SSM Config is an extension of this capability. Using SSM documents, you can specify which actions the system should perform on your instances, including which applications to install, which AWS Directory Service directory to join, which Microsoft PowerShell modules to install, etc. If an instance is missing one or more of these configurations, the system makes those changes. By default, the system checks every five minutes to see if there is a new configuration to apply as defined in a new SSM document. If so, the system updates the instances accordingly. In this way, you can remotely maintain a consistent configuration baseline on your instances. SSM Config is available using the AWS CLI or the AWS Tools for Windows PowerShell. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/ec2-configuration-manage.html\">Managing Windows Instance Configuration</a>.</p> <p>SSM Config and Run Command include the following pre-defined documents.</p> <p> <b>Linux</b> </p> <ul> <li> <p> <b>AWS-RunShellScript</b> to run shell scripts</p> </li> <li> <p> <b>AWS-UpdateSSMAgent</b> to update the Amazon SSM agent</p> </li> </ul> <p/> <p> <b>Windows</b> </p> <ul> <li> <p> <b>AWS-JoinDirectoryServiceDomain</b> to join an AWS Directory</p> </li> <li> <p> <b>AWS-RunPowerShellScript</b> to run PowerShell commands or scripts</p> </li> <li> <p> <b>AWS-UpdateEC2Config</b> to update the EC2Config service</p> </li> <li> <p> <b>AWS-ConfigureWindowsUpdate</b> to configure Windows Update settings</p> </li> <li> <p> <b>AWS-InstallApplication</b> to install, repair, or uninstall software using an MSI package</p> </li> <li> <p> <b>AWS-InstallPowerShellModule</b> to install PowerShell modules </p> </li> <li> <p> <b>AWS-ConfigureCloudWatch</b> to configure Amazon CloudWatch Logs to monitor applications and systems</p> </li> <li> <p> <b>AWS-ListWindowsInventory</b> to collect information about an EC2 instance running in Windows.</p> </li> <li> <p> <b>AWS-FindWindowsUpdates</b> to scan an instance and determines which updates are missing.</p> </li> <li> <p> <b>AWS-InstallMissingWindowsUpdates</b> to install missing updates on your EC2 instance.</p> </li> <li> <p> <b>AWS-InstallSpecificWindowsUpdates</b> to install one or more specific updates.</p> </li> </ul> <important> <p>The commands or scripts specified in SSM documents run with administrative privilege on your instances because the Amazon SSM agent runs as root on Linux and the EC2Config service runs in the Local System account on Windows. If a user has permission to execute any of the pre-defined SSM documents (any document that begins with AWS-*) then that user also has administrator access to the instance. Delegate access to Run Command and SSM Config judiciously. This becomes extremely important if you create your own SSM documents. Amazon Web Services does not provide guidance about how to create secure SSM documents. You create SSM documents and delegate access to Run Command at your own risk. As a security best practice, we recommend that you assign access to \"AWS-*\" documents, especially the AWS-RunShellScript document on Linux and the AWS-RunPowerShellScript document on Windows, to trusted administrators only. You can create SSM documents for specific tasks and delegate access to non-administrators.</p> </important> <p>For information about creating and sharing SSM documents, see the following topics in the SSM User Guide: </p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/create-ssm-doc.html\">Creating SSM Documents</a> and <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ssm-sharing.html\">Sharing SSM Documents</a> (Linux)</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/create-ssm-doc.html\">Creating SSM Documents</a> and <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/ssm-sharing.html\">Sharing SSM Documents</a> (Windows)</p> </li> </ul>",
    "defaultEndpoint" : "https://ssm.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ssm.us-east-1.amazonaws.com",
    "syncInterface" : "AWSSimpleSystemsManagement",
    "syncClient" : "AWSSimpleSystemsManagementClient",
    "asyncInterface" : "AWSSimpleSystemsManagementAsync",
    "asyncClient" : "AWSSimpleSystemsManagementAsyncClient",
    "packageName" : "com.amazonaws.services.simplesystemsmanagement",
    "packagePath" : "com/amazonaws/services/simplesystemsmanagement",
    "serviceAbbreviation" : "Amazon SSM",
    "serviceFullName" : "Amazon Simple Systems Management Service",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "ssm",
    "signingName" : "ssm",
    "cborProtocol" : false,
    "jsonProtocol" : true,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "syncClientBuilderClassName" : "AWSSimpleSystemsManagementClientBuilder",
    "asyncClientBuilderClassName" : "AWSSimpleSystemsManagementAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSSimpleSystemsManagementModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.simplesystemsmanagement.smoketests",
    "serviceName" : "Amazon SSM"
  },
  "operations" : {
    "AddTagsToResource" : {
      "documentation" : "<p>Adds or overwrites one or more tags for the specified resource. Tags are metadata that you assign to your managed instances. Tags enable you to categorize your managed instances in different ways, for example, by purpose, owner, or environment. Each tag consists of a key and an optional value, both of which you define. For example, you could define a set of tags for your account's managed instances that helps you track each instance's owner and stack level. For example: Key=Owner and Value=DbAdmin, SysAdmin, or Dev. Or Key=Stack and Value=Production, Pre-Production, or Test. Each resource can have a maximum of 10 tags. </p> <p> We recommend that you devise a set of tag keys that meets your needs for each resource type. Using a consistent set of tag keys makes it easier for you to manage your resources. You can search and filter the resources based on the tags you add. Tags don't have any semantic meaning to Amazon EC2 and are interpreted strictly as a string of characters. </p> <p>For more information about tags, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html\">Tagging Your Amazon EC2 Resources</a> in the Amazon EC2 User Guide. </p>",
      "operationName" : "AddTagsToResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "documentation" : "",
        "variableSetterType" : "AddTagsToResourceRequest",
        "simpleType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceTypeException",
        "documentation" : "<p>The resource type is not valid. If you are attempting to tag an instance, the instance must be a registered, managed instance.</p>"
      }, {
        "exceptionName" : "InvalidResourceIdException",
        "documentation" : "<p>The resource ID is not valid. Verify that you entered the correct ID and try again.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AddTagsToResourceResult",
      "asyncReturnType" : "AddTagsToResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>",
      "authenticated" : true,
      "methodName" : "addTagsToResource"
    },
    "CancelCommand" : {
      "documentation" : "<p>Attempts to cancel the command specified by the Command ID. There is no guarantee that the command will be terminated and the underlying process stopped.</p>",
      "operationName" : "CancelCommand",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelCommandRequest",
        "variableType" : "CancelCommandRequest",
        "variableDeclarationType" : "CancelCommandRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "CancelCommandRequest",
        "simpleType" : "CancelCommandRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CancelCommandResult",
        "documentation" : "<p>Whether or not the command was successfully canceled. There is no guarantee that a request can be canceled.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidCommandIdException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
      }, {
        "exceptionName" : "DuplicateInstanceIdException",
        "documentation" : "<p>You cannot specify an instance ID in more than one association.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CancelCommandResult",
      "asyncReturnType" : "CancelCommandResult",
      "asyncFutureType" : "java.util.concurrent.Future<CancelCommandResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CancelCommandResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelCommandRequest, CancelCommandResult>",
      "authenticated" : true,
      "methodName" : "cancelCommand"
    },
    "CreateActivation" : {
      "documentation" : "<p>Registers your on-premises server or virtual machine with Amazon EC2 so that you can manage these resources using Run Command. An on-premises server or virtual machine that has been registered with EC2 is called a managed instance. For more information about activations, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/managed-instances.html\">Setting Up Managed Instances (Linux)</a> or <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/managed-instances.html\">Setting Up Managed Instances (Windows)</a> in the Amazon EC2 User Guide. </p>",
      "operationName" : "CreateActivation",
      "deprecated" : false,
      "input" : {
        "variableName" : "createActivationRequest",
        "variableType" : "CreateActivationRequest",
        "variableDeclarationType" : "CreateActivationRequest",
        "documentation" : "",
        "variableSetterType" : "CreateActivationRequest",
        "simpleType" : "CreateActivationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateActivationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateActivationResult",
      "asyncReturnType" : "CreateActivationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateActivationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateActivationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateActivationRequest, CreateActivationResult>",
      "authenticated" : true,
      "methodName" : "createActivation"
    },
    "CreateAssociation" : {
      "documentation" : "<p>Associates the specified SSM document with the specified instance.</p> <p>When you associate an SSM document with an instance, the configuration agent on the instance processes the document and configures the instance as specified.</p> <p>If you associate a document with an instance that already has an associated document, the system throws the AssociationAlreadyExists exception.</p>",
      "operationName" : "CreateAssociation",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAssociationRequest",
        "variableType" : "CreateAssociationRequest",
        "variableDeclarationType" : "CreateAssociationRequest",
        "documentation" : "",
        "variableSetterType" : "CreateAssociationRequest",
        "simpleType" : "CreateAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAssociationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AssociationAlreadyExistsException",
        "documentation" : "<p>The specified association already exists.</p>"
      }, {
        "exceptionName" : "AssociationLimitExceededException",
        "documentation" : "<p>You can have at most 2,000 active associations.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The specified document does not exist.</p>"
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
      }, {
        "exceptionName" : "UnsupportedPlatformTypeException",
        "documentation" : "<p>The document does not support the platform type of the given instance ID(s). For example, you sent an SSM document for a Windows instance to a Linux instance.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>You must specify values for all required parameters in the SSM document. You can only supply values to parameters defined in the SSM document.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateAssociationResult",
      "asyncReturnType" : "CreateAssociationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssociationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssociationRequest, CreateAssociationResult>",
      "authenticated" : true,
      "methodName" : "createAssociation"
    },
    "CreateAssociationBatch" : {
      "documentation" : "<p>Associates the specified SSM document with the specified instances.</p> <p>When you associate an SSM document with an instance, the configuration agent on the instance processes the document and configures the instance as specified.</p> <p>If you associate a document with an instance that already has an associated document, the system throws the AssociationAlreadyExists exception.</p>",
      "operationName" : "CreateAssociationBatch",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAssociationBatchRequest",
        "variableType" : "CreateAssociationBatchRequest",
        "variableDeclarationType" : "CreateAssociationBatchRequest",
        "documentation" : "",
        "variableSetterType" : "CreateAssociationBatchRequest",
        "simpleType" : "CreateAssociationBatchRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAssociationBatchResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The specified document does not exist.</p>"
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>You must specify values for all required parameters in the SSM document. You can only supply values to parameters defined in the SSM document.</p>"
      }, {
        "exceptionName" : "DuplicateInstanceIdException",
        "documentation" : "<p>You cannot specify an instance ID in more than one association.</p>"
      }, {
        "exceptionName" : "AssociationLimitExceededException",
        "documentation" : "<p>You can have at most 2,000 active associations.</p>"
      }, {
        "exceptionName" : "UnsupportedPlatformTypeException",
        "documentation" : "<p>The document does not support the platform type of the given instance ID(s). For example, you sent an SSM document for a Windows instance to a Linux instance.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateAssociationBatchResult",
      "asyncReturnType" : "CreateAssociationBatchResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssociationBatchResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssociationBatchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssociationBatchRequest, CreateAssociationBatchResult>",
      "authenticated" : true,
      "methodName" : "createAssociationBatch"
    },
    "CreateDocument" : {
      "documentation" : "<p>Creates an SSM document.</p> <p>After you create an SSM document, you can use CreateAssociation to associate it with one or more running instances.</p>",
      "operationName" : "CreateDocument",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDocumentRequest",
        "variableType" : "CreateDocumentRequest",
        "variableDeclarationType" : "CreateDocumentRequest",
        "documentation" : "",
        "variableSetterType" : "CreateDocumentRequest",
        "simpleType" : "CreateDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDocumentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DocumentAlreadyExistsException",
        "documentation" : "<p>The specified SSM document already exists.</p>"
      }, {
        "exceptionName" : "MaxDocumentSizeExceededException",
        "documentation" : "<p>The size limit of an SSM document is 64 KB.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentContentException",
        "documentation" : "<p>The content for the SSM document is not valid.</p>"
      }, {
        "exceptionName" : "DocumentLimitExceededException",
        "documentation" : "<p>You can have at most 100 active SSM documents.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateDocumentResult",
      "asyncReturnType" : "CreateDocumentResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDocumentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDocumentRequest, CreateDocumentResult>",
      "authenticated" : true,
      "methodName" : "createDocument"
    },
    "DeleteActivation" : {
      "documentation" : "<p>Deletes an activation. You are not required to delete an activation. If you delete an activation, you can no longer use it to register additional managed instances. Deleting an activation does not de-register managed instances. You must manually de-register managed instances.</p>",
      "operationName" : "DeleteActivation",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteActivationRequest",
        "variableType" : "DeleteActivationRequest",
        "variableDeclarationType" : "DeleteActivationRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteActivationRequest",
        "simpleType" : "DeleteActivationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteActivationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidActivationIdException",
        "documentation" : "<p>The activation ID is not valid. Verify the you entered the correct ActivationId or ActivationCode and try again.</p>"
      }, {
        "exceptionName" : "InvalidActivationException",
        "documentation" : "<p>The activation is not valid. The activation might have been deleted, or the ActivationId and the ActivationCode do not match.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteActivationResult",
      "asyncReturnType" : "DeleteActivationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteActivationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteActivationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteActivationRequest, DeleteActivationResult>",
      "authenticated" : true,
      "methodName" : "deleteActivation"
    },
    "DeleteAssociation" : {
      "documentation" : "<p>Disassociates the specified SSM document from the specified instance.</p> <p>When you disassociate an SSM document from an instance, it does not change the configuration of the instance. To change the configuration state of an instance after you disassociate a document, you must create a new document with the desired configuration and associate it with the instance.</p>",
      "operationName" : "DeleteAssociation",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteAssociationRequest",
        "variableType" : "DeleteAssociationRequest",
        "variableDeclarationType" : "DeleteAssociationRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteAssociationRequest",
        "simpleType" : "DeleteAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteAssociationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AssociationDoesNotExistException",
        "documentation" : "<p>The specified association does not exist.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The specified document does not exist.</p>"
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
      }, {
        "exceptionName" : "TooManyUpdatesException",
        "documentation" : "<p>There are concurrent updates for a resource that supports one update at a time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteAssociationResult",
      "asyncReturnType" : "DeleteAssociationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssociationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssociationRequest, DeleteAssociationResult>",
      "authenticated" : true,
      "methodName" : "deleteAssociation"
    },
    "DeleteDocument" : {
      "documentation" : "<p>Deletes the SSM document and all instance associations to the document.</p> <p>Before you delete the SSM document, we recommend that you use DeleteAssociation to disassociate all instances that are associated with the document.</p>",
      "operationName" : "DeleteDocument",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDocumentRequest",
        "variableType" : "DeleteDocumentRequest",
        "variableDeclarationType" : "DeleteDocumentRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteDocumentRequest",
        "simpleType" : "DeleteDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteDocumentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The specified document does not exist.</p>"
      }, {
        "exceptionName" : "InvalidDocumentOperationException",
        "documentation" : "<p>You attempted to delete a document while it is still shared. You must stop sharing the document before you can delete it.</p>"
      }, {
        "exceptionName" : "AssociatedInstancesException",
        "documentation" : "<p>You must disassociate an SSM document from all instances before you can delete it.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteDocumentResult",
      "asyncReturnType" : "DeleteDocumentResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDocumentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDocumentRequest, DeleteDocumentResult>",
      "authenticated" : true,
      "methodName" : "deleteDocument"
    },
    "DeregisterManagedInstance" : {
      "documentation" : "<p>Removes the server or virtual machine from the list of registered servers. You can reregister the instance again at any time. If you don’t plan to use Run Command on the server, we suggest uninstalling the SSM agent first.</p>",
      "operationName" : "DeregisterManagedInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "deregisterManagedInstanceRequest",
        "variableType" : "DeregisterManagedInstanceRequest",
        "variableDeclarationType" : "DeregisterManagedInstanceRequest",
        "documentation" : "",
        "variableSetterType" : "DeregisterManagedInstanceRequest",
        "simpleType" : "DeregisterManagedInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeregisterManagedInstanceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeregisterManagedInstanceResult",
      "asyncReturnType" : "DeregisterManagedInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterManagedInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterManagedInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterManagedInstanceRequest, DeregisterManagedInstanceResult>",
      "authenticated" : true,
      "methodName" : "deregisterManagedInstance"
    },
    "DescribeActivations" : {
      "documentation" : "<p>Details about the activation, including: the date and time the activation was created, the expiration date, the IAM role assigned to the instances in the activation, and the number of instances activated by this registration.</p>",
      "operationName" : "DescribeActivations",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeActivationsRequest",
        "variableType" : "DescribeActivationsRequest",
        "variableDeclarationType" : "DescribeActivationsRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeActivationsRequest",
        "simpleType" : "DescribeActivationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeActivationsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter name is not valid. Verify the you entered the correct name and try again.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified token is not valid.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeActivationsResult",
      "asyncReturnType" : "DescribeActivationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeActivationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeActivationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeActivationsRequest, DescribeActivationsResult>",
      "authenticated" : true,
      "methodName" : "describeActivations"
    },
    "DescribeAssociation" : {
      "documentation" : "<p>Describes the associations for the specified SSM document or instance.</p>",
      "operationName" : "DescribeAssociation",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAssociationRequest",
        "variableType" : "DescribeAssociationRequest",
        "variableDeclarationType" : "DescribeAssociationRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeAssociationRequest",
        "simpleType" : "DescribeAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAssociationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AssociationDoesNotExistException",
        "documentation" : "<p>The specified association does not exist.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The specified document does not exist.</p>"
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeAssociationResult",
      "asyncReturnType" : "DescribeAssociationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAssociationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAssociationRequest, DescribeAssociationResult>",
      "authenticated" : true,
      "methodName" : "describeAssociation"
    },
    "DescribeDocument" : {
      "documentation" : "<p>Describes the specified SSM document.</p>",
      "operationName" : "DescribeDocument",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeDocumentRequest",
        "variableType" : "DescribeDocumentRequest",
        "variableDeclarationType" : "DescribeDocumentRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeDocumentRequest",
        "simpleType" : "DescribeDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeDocumentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The specified document does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeDocumentResult",
      "asyncReturnType" : "DescribeDocumentResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDocumentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDocumentRequest, DescribeDocumentResult>",
      "authenticated" : true,
      "methodName" : "describeDocument"
    },
    "DescribeDocumentPermission" : {
      "documentation" : "<p>Describes the permissions for an SSM document. If you created the document, you are the owner. If a document is shared, it can either be shared privately (by specifying a user’s AWS account ID) or publicly (<i>All</i>). </p>",
      "operationName" : "DescribeDocumentPermission",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeDocumentPermissionRequest",
        "variableType" : "DescribeDocumentPermissionRequest",
        "variableDeclarationType" : "DescribeDocumentPermissionRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeDocumentPermissionRequest",
        "simpleType" : "DescribeDocumentPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeDocumentPermissionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The specified document does not exist.</p>"
      }, {
        "exceptionName" : "InvalidPermissionTypeException",
        "documentation" : "<p>The permission type is not supported. <i>Share</i> is the only supported permission type.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeDocumentPermissionResult",
      "asyncReturnType" : "DescribeDocumentPermissionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDocumentPermissionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDocumentPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDocumentPermissionRequest, DescribeDocumentPermissionResult>",
      "authenticated" : true,
      "methodName" : "describeDocumentPermission"
    },
    "DescribeInstanceInformation" : {
      "documentation" : "<p>Describes one or more of your instances. You can use this to get information about instances like the operating system platform, the SSM agent version, status etc. If you specify one or more instance IDs, it returns information for those instances. If you do not specify instance IDs, it returns information for all your instances. If you specify an instance ID that is not valid or an instance that you do not own, you receive an error. </p>",
      "operationName" : "DescribeInstanceInformation",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeInstanceInformationRequest",
        "variableType" : "DescribeInstanceInformationRequest",
        "variableDeclarationType" : "DescribeInstanceInformationRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeInstanceInformationRequest",
        "simpleType" : "DescribeInstanceInformationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeInstanceInformationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified token is not valid.</p>"
      }, {
        "exceptionName" : "InvalidInstanceInformationFilterValueException",
        "documentation" : "<p>The specified filter value is not valid.</p>"
      }, {
        "exceptionName" : "InvalidFilterKeyException",
        "documentation" : "<p>The specified key is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeInstanceInformationResult",
      "asyncReturnType" : "DescribeInstanceInformationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInstanceInformationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInstanceInformationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInstanceInformationRequest, DescribeInstanceInformationResult>",
      "authenticated" : true,
      "methodName" : "describeInstanceInformation"
    },
    "GetDocument" : {
      "documentation" : "<p>Gets the contents of the specified SSM document.</p>",
      "operationName" : "GetDocument",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDocumentRequest",
        "variableType" : "GetDocumentRequest",
        "variableDeclarationType" : "GetDocumentRequest",
        "documentation" : "",
        "variableSetterType" : "GetDocumentRequest",
        "simpleType" : "GetDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDocumentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The specified document does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetDocumentResult",
      "asyncReturnType" : "GetDocumentResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDocumentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDocumentRequest, GetDocumentResult>",
      "authenticated" : true,
      "methodName" : "getDocument"
    },
    "ListAssociations" : {
      "documentation" : "<p>Lists the associations for the specified SSM document or instance.</p>",
      "operationName" : "ListAssociations",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAssociationsRequest",
        "variableType" : "ListAssociationsRequest",
        "variableDeclarationType" : "ListAssociationsRequest",
        "documentation" : "",
        "variableSetterType" : "ListAssociationsRequest",
        "simpleType" : "ListAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAssociationsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified token is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListAssociationsResult",
      "asyncReturnType" : "ListAssociationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociationsRequest, ListAssociationsResult>",
      "authenticated" : true,
      "methodName" : "listAssociations"
    },
    "ListCommandInvocations" : {
      "documentation" : "<p>An invocation is copy of a command sent to a specific instance. A command can apply to one or more instances. A command invocation applies to one instance. For example, if a user executes SendCommand against three instances, then a command invocation is created for each requested instance ID. ListCommandInvocations provide status about command execution.</p>",
      "operationName" : "ListCommandInvocations",
      "deprecated" : false,
      "input" : {
        "variableName" : "listCommandInvocationsRequest",
        "variableType" : "ListCommandInvocationsRequest",
        "variableDeclarationType" : "ListCommandInvocationsRequest",
        "documentation" : "",
        "variableSetterType" : "ListCommandInvocationsRequest",
        "simpleType" : "ListCommandInvocationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListCommandInvocationsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidCommandIdException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
      }, {
        "exceptionName" : "InvalidFilterKeyException",
        "documentation" : "<p>The specified key is not valid.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified token is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListCommandInvocationsResult",
      "asyncReturnType" : "ListCommandInvocationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListCommandInvocationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListCommandInvocationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCommandInvocationsRequest, ListCommandInvocationsResult>",
      "authenticated" : true,
      "methodName" : "listCommandInvocations"
    },
    "ListCommands" : {
      "documentation" : "<p>Lists the commands requested by users of the AWS account.</p>",
      "operationName" : "ListCommands",
      "deprecated" : false,
      "input" : {
        "variableName" : "listCommandsRequest",
        "variableType" : "ListCommandsRequest",
        "variableDeclarationType" : "ListCommandsRequest",
        "documentation" : "",
        "variableSetterType" : "ListCommandsRequest",
        "simpleType" : "ListCommandsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListCommandsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidCommandIdException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
      }, {
        "exceptionName" : "InvalidFilterKeyException",
        "documentation" : "<p>The specified key is not valid.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified token is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListCommandsResult",
      "asyncReturnType" : "ListCommandsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListCommandsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListCommandsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCommandsRequest, ListCommandsResult>",
      "authenticated" : true,
      "methodName" : "listCommands"
    },
    "ListDocuments" : {
      "documentation" : "<p>Describes one or more of your SSM documents.</p>",
      "operationName" : "ListDocuments",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDocumentsRequest",
        "variableType" : "ListDocumentsRequest",
        "variableDeclarationType" : "ListDocumentsRequest",
        "documentation" : "",
        "variableSetterType" : "ListDocumentsRequest",
        "simpleType" : "ListDocumentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDocumentsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified token is not valid.</p>"
      }, {
        "exceptionName" : "InvalidFilterKeyException",
        "documentation" : "<p>The specified key is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListDocumentsResult",
      "asyncReturnType" : "ListDocumentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDocumentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDocumentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDocumentsRequest, ListDocumentsResult>",
      "authenticated" : true,
      "methodName" : "listDocuments"
    },
    "ListTagsForResource" : {
      "documentation" : "<p>Returns a list of the tags assigned to the specified resource.</p>",
      "operationName" : "ListTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "variableSetterType" : "ListTagsForResourceRequest",
        "simpleType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceTypeException",
        "documentation" : "<p>The resource type is not valid. If you are attempting to tag an instance, the instance must be a registered, managed instance.</p>"
      }, {
        "exceptionName" : "InvalidResourceIdException",
        "documentation" : "<p>The resource ID is not valid. Verify that you entered the correct ID and try again.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListTagsForResourceResult",
      "asyncReturnType" : "ListTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "authenticated" : true,
      "methodName" : "listTagsForResource"
    },
    "ModifyDocumentPermission" : {
      "documentation" : "<p>Share a document publicly or privately. If you share a document privately, you must specify the AWS user account IDs for those people who can use the document. If you share a document publicly, you must specify <i>All</i> as the account ID.</p>",
      "operationName" : "ModifyDocumentPermission",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyDocumentPermissionRequest",
        "variableType" : "ModifyDocumentPermissionRequest",
        "variableDeclarationType" : "ModifyDocumentPermissionRequest",
        "documentation" : "",
        "variableSetterType" : "ModifyDocumentPermissionRequest",
        "simpleType" : "ModifyDocumentPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyDocumentPermissionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The specified document does not exist.</p>"
      }, {
        "exceptionName" : "InvalidPermissionTypeException",
        "documentation" : "<p>The permission type is not supported. <i>Share</i> is the only supported permission type.</p>"
      }, {
        "exceptionName" : "DocumentPermissionLimitException",
        "documentation" : "<p>The document cannot be shared with more AWS user accounts. You can share a document with a maximum of 20 accounts. You can publicly share up to five documents. If you need to increase this limit, contact AWS Support.</p>"
      }, {
        "exceptionName" : "DocumentLimitExceededException",
        "documentation" : "<p>You can have at most 100 active SSM documents.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ModifyDocumentPermissionResult",
      "asyncReturnType" : "ModifyDocumentPermissionResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyDocumentPermissionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyDocumentPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyDocumentPermissionRequest, ModifyDocumentPermissionResult>",
      "authenticated" : true,
      "methodName" : "modifyDocumentPermission"
    },
    "RemoveTagsFromResource" : {
      "documentation" : "<p>Removes all tags from the specified resource.</p>",
      "operationName" : "RemoveTagsFromResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsFromResourceRequest",
        "variableType" : "RemoveTagsFromResourceRequest",
        "variableDeclarationType" : "RemoveTagsFromResourceRequest",
        "documentation" : "",
        "variableSetterType" : "RemoveTagsFromResourceRequest",
        "simpleType" : "RemoveTagsFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsFromResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceTypeException",
        "documentation" : "<p>The resource type is not valid. If you are attempting to tag an instance, the instance must be a registered, managed instance.</p>"
      }, {
        "exceptionName" : "InvalidResourceIdException",
        "documentation" : "<p>The resource ID is not valid. Verify that you entered the correct ID and try again.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RemoveTagsFromResourceResult",
      "asyncReturnType" : "RemoveTagsFromResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromResourceRequest, RemoveTagsFromResourceResult>",
      "authenticated" : true,
      "methodName" : "removeTagsFromResource"
    },
    "SendCommand" : {
      "documentation" : "<p>Executes commands on one or more remote instances.</p>",
      "operationName" : "SendCommand",
      "deprecated" : false,
      "input" : {
        "variableName" : "sendCommandRequest",
        "variableType" : "SendCommandRequest",
        "variableDeclarationType" : "SendCommandRequest",
        "documentation" : "",
        "variableSetterType" : "SendCommandRequest",
        "simpleType" : "SendCommandRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SendCommandResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DuplicateInstanceIdException",
        "documentation" : "<p>You cannot specify an instance ID in more than one association.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The specified document does not exist.</p>"
      }, {
        "exceptionName" : "InvalidOutputFolderException",
        "documentation" : "<p>The S3 bucket does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>You must specify values for all required parameters in the SSM document. You can only supply values to parameters defined in the SSM document.</p>"
      }, {
        "exceptionName" : "UnsupportedPlatformTypeException",
        "documentation" : "<p>The document does not support the platform type of the given instance ID(s). For example, you sent an SSM document for a Windows instance to a Linux instance.</p>"
      }, {
        "exceptionName" : "MaxDocumentSizeExceededException",
        "documentation" : "<p>The size limit of an SSM document is 64 KB.</p>"
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The role name can't contain invalid characters. Also verify that you specified an IAM role for notifications that includes the required trust policy. For information about configuring the IAM role for SSM notifications, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/rc-sns.html\">Configuring SNS Notifications SSM</a> in the <i>Amazon Elastic Compute Cloud User Guide </i>.</p>"
      }, {
        "exceptionName" : "InvalidNotificationConfigException",
        "documentation" : "<p>One or more configuration items is not valid. Verify that a valid Amazon Resource Name (ARN) was provided for an Amazon SNS topic.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SendCommandResult",
      "asyncReturnType" : "SendCommandResult",
      "asyncFutureType" : "java.util.concurrent.Future<SendCommandResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SendCommandResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendCommandRequest, SendCommandResult>",
      "authenticated" : true,
      "methodName" : "sendCommand"
    },
    "UpdateAssociationStatus" : {
      "documentation" : "<p>Updates the status of the SSM document associated with the specified instance.</p>",
      "operationName" : "UpdateAssociationStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateAssociationStatusRequest",
        "variableType" : "UpdateAssociationStatusRequest",
        "variableDeclarationType" : "UpdateAssociationStatusRequest",
        "documentation" : "",
        "variableSetterType" : "UpdateAssociationStatusRequest",
        "simpleType" : "UpdateAssociationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateAssociationStatusResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The specified document does not exist.</p>"
      }, {
        "exceptionName" : "AssociationDoesNotExistException",
        "documentation" : "<p>The specified association does not exist.</p>"
      }, {
        "exceptionName" : "StatusUnchangedException",
        "documentation" : "<p>The updated status is the same as the current status.</p>"
      }, {
        "exceptionName" : "TooManyUpdatesException",
        "documentation" : "<p>There are concurrent updates for a resource that supports one update at a time.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateAssociationStatusResult",
      "asyncReturnType" : "UpdateAssociationStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAssociationStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAssociationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAssociationStatusRequest, UpdateAssociationStatusResult>",
      "authenticated" : true,
      "methodName" : "updateAssociationStatus"
    },
    "UpdateManagedInstanceRole" : {
      "documentation" : "<p>Assigns or changes an Amazon Identity and Access Management (IAM) role to the managed instance.</p>",
      "operationName" : "UpdateManagedInstanceRole",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateManagedInstanceRoleRequest",
        "variableType" : "UpdateManagedInstanceRoleRequest",
        "variableDeclarationType" : "UpdateManagedInstanceRoleRequest",
        "documentation" : "",
        "variableSetterType" : "UpdateManagedInstanceRoleRequest",
        "simpleType" : "UpdateManagedInstanceRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateManagedInstanceRoleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateManagedInstanceRoleResult",
      "asyncReturnType" : "UpdateManagedInstanceRoleResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateManagedInstanceRoleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateManagedInstanceRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateManagedInstanceRoleRequest, UpdateManagedInstanceRoleResult>",
      "authenticated" : true,
      "methodName" : "updateManagedInstanceRole"
    }
  },
  "shapes" : {
    "CancelCommandRequest" : {
      "c2jName" : "CancelCommandRequest",
      "documentation" : "<p/>",
      "shapeName" : "CancelCommandRequest",
      "deprecated" : false,
      "required" : [ "CommandId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ID of the command you want to cancel.</p>",
        "name" : "CommandId",
        "c2jName" : "CommandId",
        "c2jShape" : "CommandId",
        "variable" : {
          "variableName" : "commandId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the command you want to cancel.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "commandId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CommandId",
          "marshallLocationName" : "CommandId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the command you want to cancel.</p>\n@param commandId The ID of the command you want to cancel.*/",
        "getterDocumentation" : "/**<p>The ID of the command you want to cancel.</p>\n@return The ID of the command you want to cancel.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the command you want to cancel.</p>\n@param commandId The ID of the command you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the command you want to cancel.</p>\n@param commandId The ID of the command you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>",
        "name" : "InstanceIds",
        "c2jName" : "InstanceIds",
        "c2jShape" : "InstanceIdList",
        "variable" : {
          "variableName" : "instanceIds",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>",
          "variableSetterType" : "java.util.Collection<String>",
          "simpleType" : "List<String>"
        },
        "setterModel" : {
          "variableName" : "instanceIds",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<String>",
          "simpleType" : "List<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "InstanceIds",
          "marshallLocationName" : "InstanceIds",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "InstanceId",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "variableSetterType" : "String",
              "simpleType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "variableSetterType" : "String",
              "simpleType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>",
          "simple" : true,
          "map" : false,
          "simpleType" : "String"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>\n@param instanceIds (Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.*/",
        "getterDocumentation" : "/**<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>\n@return (Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.*/",
        "fluentSetterDocumentation" : "/**<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>\n@param instanceIds (Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInstanceIds(java.util.Collection)} or {@link #withInstanceIds(java.util.Collection)} if you want to override the existing values.</p>\n@param instanceIds (Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "cancelCommandRequest",
        "variableType" : "CancelCommandRequest",
        "variableDeclarationType" : "CancelCommandRequest",
        "documentation" : null,
        "variableSetterType" : "CancelCommandRequest",
        "simpleType" : "CancelCommandRequest"
      },
      "marshaller" : {
        "action" : "CancelCommand",
        "verb" : "POST",
        "target" : "AmazonSSM.CancelCommand",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "CommandId" : {
          "documentation" : "<p>The ID of the command you want to cancel.</p>",
          "name" : "CommandId",
          "c2jName" : "CommandId",
          "c2jShape" : "CommandId",
          "variable" : {
            "variableName" : "commandId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ID of the command you want to cancel.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "commandId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "CommandId",
            "marshallLocationName" : "CommandId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ID of the command you want to cancel.</p>\n@param commandId The ID of the command you want to cancel.*/",
          "getterDocumentation" : "/**<p>The ID of the command you want to cancel.</p>\n@return The ID of the command you want to cancel.*/",
          "fluentSetterDocumentation" : "/**<p>The ID of the command you want to cancel.</p>\n@param commandId The ID of the command you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ID of the command you want to cancel.</p>\n@param commandId The ID of the command you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "InstanceIds" : {
          "documentation" : "<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>",
          "name" : "InstanceIds",
          "c2jName" : "InstanceIds",
          "c2jShape" : "InstanceIdList",
          "variable" : {
            "variableName" : "instanceIds",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "documentation" : "<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>",
            "variableSetterType" : "java.util.Collection<String>",
            "simpleType" : "List<String>"
          },
          "setterModel" : {
            "variableName" : "instanceIds",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "documentation" : "",
            "variableSetterType" : "java.util.Collection<String>",
            "simpleType" : "List<String>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "InstanceIds",
            "marshallLocationName" : "InstanceIds",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "String",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "InstanceId",
              "variable" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "variableSetterType" : "String",
                "simpleType" : "String"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "variableSetterType" : "String",
                "simpleType" : "String"
              },
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : true,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "templateType" : "java.util.List<String>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>",
            "simple" : true,
            "map" : false,
            "simpleType" : "String"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>\n@param instanceIds (Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.*/",
          "getterDocumentation" : "/**<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>\n@return (Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.*/",
          "fluentSetterDocumentation" : "/**<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>\n@param instanceIds (Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInstanceIds(java.util.Collection)} or {@link #withInstanceIds(java.util.Collection)} if you want to override the existing values.</p>\n@param instanceIds (Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "InstanceInformationFilterKey" : {
      "c2jName" : "InstanceInformationFilterKey",
      "documentation" : "",
      "shapeName" : "InstanceInformationFilterKey",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "InstanceIds",
        "value" : "InstanceIds"
      }, {
        "name" : "AgentVersion",
        "value" : "AgentVersion"
      }, {
        "name" : "PingStatus",
        "value" : "PingStatus"
      }, {
        "name" : "PlatformTypes",
        "value" : "PlatformTypes"
      }, {
        "name" : "ActivationIds",
        "value" : "ActivationIds"
      }, {
        "name" : "IamRole",
        "value" : "IamRole"
      }, {
        "name" : "ResourceType",
        "value" : "ResourceType"
      } ],
      "variable" : {
        "variableName" : "instanceInformationFilterKey",
        "variableType" : "InstanceInformationFilterKey",
        "variableDeclarationType" : "InstanceInformationFilterKey",
        "documentation" : null,
        "variableSetterType" : "InstanceInformationFilterKey",
        "simpleType" : "InstanceInformationFilterKey"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "Fault" : {
      "c2jName" : "Fault",
      "documentation" : "",
      "shapeName" : "Fault",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "Client",
        "value" : "Client"
      }, {
        "name" : "Server",
        "value" : "Server"
      }, {
        "name" : "Unknown",
        "value" : "Unknown"
      } ],
      "variable" : {
        "variableName" : "fault",
        "variableType" : "Fault",
        "variableDeclarationType" : "Fault",
        "documentation" : null,
        "variableSetterType" : "Fault",
        "simpleType" : "Fault"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "DocumentParameterType" : {
      "c2jName" : "DocumentParameterType",
      "documentation" : "",
      "shapeName" : "DocumentParameterType",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "String",
        "value" : "String"
      }, {
        "name" : "StringList",
        "value" : "StringList"
      } ],
      "variable" : {
        "variableName" : "documentParameterType",
        "variableType" : "DocumentParameterType",
        "variableDeclarationType" : "DocumentParameterType",
        "documentation" : null,
        "variableSetterType" : "DocumentParameterType",
        "simpleType" : "DocumentParameterType"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "InvalidPermissionTypeException" : {
      "c2jName" : "InvalidPermissionType",
      "documentation" : "<p>The permission type is not supported. <i>Share</i> is the only supported permission type.</p>",
      "shapeName" : "InvalidPermissionTypeException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "invalidPermissionTypeException",
        "variableType" : "InvalidPermissionTypeException",
        "variableDeclarationType" : "InvalidPermissionTypeException",
        "documentation" : null,
        "variableSetterType" : "InvalidPermissionTypeException",
        "simpleType" : "InvalidPermissionTypeException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidPermissionType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "CommandInvocationStatus" : {
      "c2jName" : "CommandInvocationStatus",
      "documentation" : "",
      "shapeName" : "CommandInvocationStatus",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "Pending",
        "value" : "Pending"
      }, {
        "name" : "InProgress",
        "value" : "InProgress"
      }, {
        "name" : "Cancelling",
        "value" : "Cancelling"
      }, {
        "name" : "Success",
        "value" : "Success"
      }, {
        "name" : "TimedOut",
        "value" : "TimedOut"
      }, {
        "name" : "Cancelled",
        "value" : "Cancelled"
      }, {
        "name" : "Failed",
        "value" : "Failed"
      } ],
      "variable" : {
        "variableName" : "commandInvocationStatus",
        "variableType" : "CommandInvocationStatus",
        "variableDeclarationType" : "CommandInvocationStatus",
        "documentation" : null,
        "variableSetterType" : "CommandInvocationStatus",
        "simpleType" : "CommandInvocationStatus"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "FailedCreateAssociation" : {
      "c2jName" : "FailedCreateAssociation",
      "documentation" : "<p>Describes a failed association.</p>",
      "shapeName" : "FailedCreateAssociation",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The association.</p>",
        "name" : "Entry",
        "c2jName" : "Entry",
        "c2jShape" : "CreateAssociationBatchRequestEntry",
        "variable" : {
          "variableName" : "entry",
          "variableType" : "CreateAssociationBatchRequestEntry",
          "variableDeclarationType" : "CreateAssociationBatchRequestEntry",
          "documentation" : "<p>The association.</p>",
          "variableSetterType" : "CreateAssociationBatchRequestEntry",
          "simpleType" : "CreateAssociationBatchRequestEntry"
        },
        "setterModel" : {
          "variableName" : "entry",
          "variableType" : "CreateAssociationBatchRequestEntry",
          "variableDeclarationType" : "CreateAssociationBatchRequestEntry",
          "documentation" : "",
          "variableSetterType" : "CreateAssociationBatchRequestEntry",
          "simpleType" : "CreateAssociationBatchRequestEntry"
        },
        "getterModel" : {
          "returnType" : "CreateAssociationBatchRequestEntry",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Entry",
          "marshallLocationName" : "Entry",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The association.</p>\n@param entry The association.*/",
        "getterDocumentation" : "/**<p>The association.</p>\n@return The association.*/",
        "fluentSetterDocumentation" : "/**<p>The association.</p>\n@param entry The association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The association.</p>\n@param entry The association.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>A description of the failure.</p>",
        "name" : "Message",
        "c2jName" : "Message",
        "c2jShape" : "BatchErrorMessage",
        "variable" : {
          "variableName" : "message",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A description of the failure.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "message",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Message",
          "marshallLocationName" : "Message",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A description of the failure.</p>\n@param message A description of the failure.*/",
        "getterDocumentation" : "/**<p>A description of the failure.</p>\n@return A description of the failure.*/",
        "fluentSetterDocumentation" : "/**<p>A description of the failure.</p>\n@param message A description of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A description of the failure.</p>\n@param message A description of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The source of the failure.</p>",
        "name" : "Fault",
        "c2jName" : "Fault",
        "c2jShape" : "Fault",
        "variable" : {
          "variableName" : "fault",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The source of the failure.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "fault",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Fault",
          "marshallLocationName" : "Fault",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "Fault",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The source of the failure.</p>\n@param fault The source of the failure.\n@see Fault*/",
        "getterDocumentation" : "/**<p>The source of the failure.</p>\n@return The source of the failure.\n@see Fault*/",
        "fluentSetterDocumentation" : "/**<p>The source of the failure.</p>\n@param fault The source of the failure.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Fault*/",
        "varargSetterDocumentation" : "/**<p>The source of the failure.</p>\n@param fault The source of the failure.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Fault*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "failedCreateAssociation",
        "variableType" : "FailedCreateAssociation",
        "variableDeclarationType" : "FailedCreateAssociation",
        "documentation" : null,
        "variableSetterType" : "FailedCreateAssociation",
        "simpleType" : "FailedCreateAssociation"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Entry" : {
          "documentation" : "<p>The association.</p>",
          "name" : "Entry",
          "c2jName" : "Entry",
          "c2jShape" : "CreateAssociationBatchRequestEntry",
          "variable" : {
            "variableName" : "entry",
            "variableType" : "CreateAssociationBatchRequestEntry",
            "variableDeclarationType" : "CreateAssociationBatchRequestEntry",
            "documentation" : "<p>The association.</p>",
            "variableSetterType" : "CreateAssociationBatchRequestEntry",
            "simpleType" : "CreateAssociationBatchRequestEntry"
          },
          "setterModel" : {
            "variableName" : "entry",
            "variableType" : "CreateAssociationBatchRequestEntry",
            "variableDeclarationType" : "CreateAssociationBatchRequestEntry",
            "documentation" : "",
            "variableSetterType" : "CreateAssociationBatchRequestEntry",
            "simpleType" : "CreateAssociationBatchRequestEntry"
          },
          "getterModel" : {
            "returnType" : "CreateAssociationBatchRequestEntry",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Entry",
            "marshallLocationName" : "Entry",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
[...]
