{
  "metadata" : {
    "apiVersion" : "2014-11-06",
    "exceptionUnmarshallerImpl" : null,
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>Amazon EC2 Simple Systems Manager (SSM) enables you to configure and manage your EC2 instances. You can create a configuration document and then associate it with one or more running instances.</p> <p>You can use a configuration document to automate the following tasks for your Windows instances:</p> <ul> <li><p>Join an AWS Directory</p></li> <li><p>Install, repair, or uninstall software using an MSI package</p></li> <li><p>Run PowerShell scripts</p></li> <li><p>Configure CloudWatch Logs to monitor applications and systems</p></li> </ul> <p>Note that configuration documents are not supported on Linux instances.</p>",
    "defaultEndpoint" : "https://ssm.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ssm.us-east-1.amazonaws.com",
    "syncInterface" : "AWSSimpleSystemsManagement",
    "syncClient" : "AWSSimpleSystemsManagementClient",
    "asyncInterface" : "AWSSimpleSystemsManagementAsync",
    "asyncClient" : "AWSSimpleSystemsManagementAsyncClient",
    "packageName" : "com.amazonaws.services.simplesystemsmanagement",
    "packagePath" : "com/amazonaws/services/simplesystemsmanagement",
    "serviceAbbreviation" : "Amazon SSM",
    "serviceFullName" : "Amazon Simple Systems Management Service",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : "application/x-amz-json-1.1",
    "endpointPrefix" : "ssm",
    "signingName" : "ssm",
    "serviceName" : "Amazon SSM",
    "jsonProtocol" : true,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUnmarshallerType" : "JsonErrorUnmarshaller"
  },
  "operations" : {
    "CreateAssociation" : {
      "documentation" : "<p>Associates the specified configuration document with the specified instance.</p> <p>When you associate a configuration document with an instance, the configuration agent on the instance processes the configuration document and configures the instance as specified.</p> <p>If you associate a configuration document with an instance that already has an associated configuration document, we replace the current configuration document with the new configuration document.</p>",
      "operationName" : "CreateAssociation",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAssociationRequest",
        "variableType" : "CreateAssociationRequest",
        "variableDeclarationType" : "CreateAssociationRequest",
        "documentation" : null,
        "simpleType" : "CreateAssociationRequest",
        "variableSetterType" : "CreateAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAssociationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AssociationAlreadyExistsException",
        "documentation" : "<p>The specified association already exists.</p>"
      }, {
        "exceptionName" : "AssociationLimitExceededException",
        "documentation" : "<p>You can have at most 2,000 active associations.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The configuration document is not valid.</p>"
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>You must specify the ID of a running instance.</p>"
      } ],
      "syncDocumentation" : "/**<p>Associates the specified configuration document with the specified instance.</p> <p>When you associate a configuration document with an instance, the configuration agent on the instance processes the configuration document and configures the instance as specified.</p> <p>If you associate a configuration document with an instance that already has an associated configuration document, we replace the current configuration document with the new configuration document.</p>\n@param createAssociationRequest null\n@return Result of the CreateAssociation operation returned by the service.\n@throws AssociationAlreadyExistsException The specified association already exists.\n@throws AssociationLimitExceededException You can have at most 2,000 active associations.\n@throws InternalServerErrorException An error occurred on the server side.\n@throws InvalidDocumentException The configuration document is not valid.\n@throws InvalidInstanceIdException You must specify the ID of a running instance.*/",
      "asyncDocumentation" : "/**<p>Associates the specified configuration document with the specified instance.</p> <p>When you associate a configuration document with an instance, the configuration agent on the instance processes the configuration document and configures the instance as specified.</p> <p>If you associate a configuration document with an instance that already has an associated configuration document, we replace the current configuration document with the new configuration document.</p>\n@param createAssociationRequest null\n@return A Java Future containing the result of the CreateAssociation operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Associates the specified configuration document with the specified instance.</p> <p>When you associate a configuration document with an instance, the configuration agent on the instance processes the configuration document and configures the instance as specified.</p> <p>If you associate a configuration document with an instance that already has an associated configuration document, we replace the current configuration document with the new configuration document.</p>\n@param createAssociationRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateAssociation operation returned by the service.*/",
      "syncReturnType" : "CreateAssociationResult",
      "asyncReturnType" : "CreateAssociationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssociationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssociationRequest, CreateAssociationResult>",
      "methodName" : "createAssociation"
    },
    "CreateAssociationBatch" : {
      "documentation" : "<p>Associates the specified configuration documents with the specified instances.</p> <p>When you associate a configuration document with an instance, the configuration agent on the instance processes the configuration document and configures the instance as specified.</p> <p>If you associate a configuration document with an instance that already has an associated configuration document, we replace the current configuration document with the new configuration document.</p>",
      "operationName" : "CreateAssociationBatch",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAssociationBatchRequest",
        "variableType" : "CreateAssociationBatchRequest",
        "variableDeclarationType" : "CreateAssociationBatchRequest",
        "documentation" : null,
        "simpleType" : "CreateAssociationBatchRequest",
        "variableSetterType" : "CreateAssociationBatchRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAssociationBatchResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The configuration document is not valid.</p>"
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>You must specify the ID of a running instance.</p>"
      }, {
        "exceptionName" : "DuplicateInstanceIdException",
        "documentation" : "<p>You cannot specify an instance ID in more than one association.</p>"
      }, {
        "exceptionName" : "AssociationLimitExceededException",
        "documentation" : "<p>You can have at most 2,000 active associations.</p>"
      } ],
      "syncDocumentation" : "/**<p>Associates the specified configuration documents with the specified instances.</p> <p>When you associate a configuration document with an instance, the configuration agent on the instance processes the configuration document and configures the instance as specified.</p> <p>If you associate a configuration document with an instance that already has an associated configuration document, we replace the current configuration document with the new configuration document.</p>\n@param createAssociationBatchRequest null\n@return Result of the CreateAssociationBatch operation returned by the service.\n@throws InternalServerErrorException An error occurred on the server side.\n@throws InvalidDocumentException The configuration document is not valid.\n@throws InvalidInstanceIdException You must specify the ID of a running instance.\n@throws DuplicateInstanceIdException You cannot specify an instance ID in more than one association.\n@throws AssociationLimitExceededException You can have at most 2,000 active associations.*/",
      "asyncDocumentation" : "/**<p>Associates the specified configuration documents with the specified instances.</p> <p>When you associate a configuration document with an instance, the configuration agent on the instance processes the configuration document and configures the instance as specified.</p> <p>If you associate a configuration document with an instance that already has an associated configuration document, we replace the current configuration document with the new configuration document.</p>\n@param createAssociationBatchRequest null\n@return A Java Future containing the result of the CreateAssociationBatch operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Associates the specified configuration documents with the specified instances.</p> <p>When you associate a configuration document with an instance, the configuration agent on the instance processes the configuration document and configures the instance as specified.</p> <p>If you associate a configuration document with an instance that already has an associated configuration document, we replace the current configuration document with the new configuration document.</p>\n@param createAssociationBatchRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateAssociationBatch operation returned by the service.*/",
      "syncReturnType" : "CreateAssociationBatchResult",
      "asyncReturnType" : "CreateAssociationBatchResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssociationBatchResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssociationBatchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssociationBatchRequest, CreateAssociationBatchResult>",
      "methodName" : "createAssociationBatch"
    },
    "CreateDocument" : {
      "documentation" : "<p>Creates a configuration document.</p> <p>After you create a configuration document, you can use <a>CreateAssociation</a> to associate it with one or more running instances.</p>",
      "operationName" : "CreateDocument",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDocumentRequest",
        "variableType" : "CreateDocumentRequest",
        "variableDeclarationType" : "CreateDocumentRequest",
        "documentation" : null,
        "simpleType" : "CreateDocumentRequest",
        "variableSetterType" : "CreateDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDocumentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DocumentAlreadyExistsException",
        "documentation" : "<p>The specified configuration document already exists.</p>"
      }, {
        "exceptionName" : "MaxDocumentSizeExceededException",
        "documentation" : "<p>The size limit of a configuration document is 64 KB.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentContentException",
        "documentation" : "<p>The content for the configuration document is not valid.</p>"
      }, {
        "exceptionName" : "DocumentLimitExceededException",
        "documentation" : "<p>You can have at most 100 active configuration documents.</p>"
      } ],
      "syncDocumentation" : "/**<p>Creates a configuration document.</p> <p>After you create a configuration document, you can use <a>CreateAssociation</a> to associate it with one or more running instances.</p>\n@param createDocumentRequest null\n@return Result of the CreateDocument operation returned by the service.\n@throws DocumentAlreadyExistsException The specified configuration document already exists.\n@throws MaxDocumentSizeExceededException The size limit of a configuration document is 64 KB.\n@throws InternalServerErrorException An error occurred on the server side.\n@throws InvalidDocumentContentException The content for the configuration document is not valid.\n@throws DocumentLimitExceededException You can have at most 100 active configuration documents.*/",
      "asyncDocumentation" : "/**<p>Creates a configuration document.</p> <p>After you create a configuration document, you can use <a>CreateAssociation</a> to associate it with one or more running instances.</p>\n@param createDocumentRequest null\n@return A Java Future containing the result of the CreateDocument operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Creates a configuration document.</p> <p>After you create a configuration document, you can use <a>CreateAssociation</a> to associate it with one or more running instances.</p>\n@param createDocumentRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateDocument operation returned by the service.*/",
      "syncReturnType" : "CreateDocumentResult",
      "asyncReturnType" : "CreateDocumentResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDocumentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDocumentRequest, CreateDocumentResult>",
      "methodName" : "createDocument"
    },
    "DeleteAssociation" : {
      "documentation" : "<p>Disassociates the specified configuration document from the specified instance.</p> <p>When you disassociate a configuration document from an instance, it does not change the configuration of the instance. To change the configuration state of an instance after you disassociate a configuration document, you must create a new configuration document with the desired configuration and associate it with the instance.</p>",
      "operationName" : "DeleteAssociation",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteAssociationRequest",
        "variableType" : "DeleteAssociationRequest",
        "variableDeclarationType" : "DeleteAssociationRequest",
        "documentation" : null,
        "simpleType" : "DeleteAssociationRequest",
        "variableSetterType" : "DeleteAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteAssociationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AssociationDoesNotExistException",
        "documentation" : "<p>The specified association does not exist.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The configuration document is not valid.</p>"
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>You must specify the ID of a running instance.</p>"
      }, {
        "exceptionName" : "TooManyUpdatesException",
        "documentation" : "<p>There are concurrent updates for a resource that supports one update at a time.</p>"
      } ],
      "syncDocumentation" : "/**<p>Disassociates the specified configuration document from the specified instance.</p> <p>When you disassociate a configuration document from an instance, it does not change the configuration of the instance. To change the configuration state of an instance after you disassociate a configuration document, you must create a new configuration document with the desired configuration and associate it with the instance.</p>\n@param deleteAssociationRequest null\n@return Result of the DeleteAssociation operation returned by the service.\n@throws AssociationDoesNotExistException The specified association does not exist.\n@throws InternalServerErrorException An error occurred on the server side.\n@throws InvalidDocumentException The configuration document is not valid.\n@throws InvalidInstanceIdException You must specify the ID of a running instance.\n@throws TooManyUpdatesException There are concurrent updates for a resource that supports one update at a time.*/",
      "asyncDocumentation" : "/**<p>Disassociates the specified configuration document from the specified instance.</p> <p>When you disassociate a configuration document from an instance, it does not change the configuration of the instance. To change the configuration state of an instance after you disassociate a configuration document, you must create a new configuration document with the desired configuration and associate it with the instance.</p>\n@param deleteAssociationRequest null\n@return A Java Future containing the result of the DeleteAssociation operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Disassociates the specified configuration document from the specified instance.</p> <p>When you disassociate a configuration document from an instance, it does not change the configuration of the instance. To change the configuration state of an instance after you disassociate a configuration document, you must create a new configuration document with the desired configuration and associate it with the instance.</p>\n@param deleteAssociationRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DeleteAssociation operation returned by the service.*/",
      "syncReturnType" : "DeleteAssociationResult",
      "asyncReturnType" : "DeleteAssociationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssociationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssociationRequest, DeleteAssociationResult>",
      "methodName" : "deleteAssociation"
    },
    "DeleteDocument" : {
      "documentation" : "<p>Deletes the specified configuration document.</p> <p>You must use <a>DeleteAssociation</a> to disassociate all instances that are associated with the configuration document before you can delete it.</p>",
      "operationName" : "DeleteDocument",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDocumentRequest",
        "variableType" : "DeleteDocumentRequest",
        "variableDeclarationType" : "DeleteDocumentRequest",
        "documentation" : null,
        "simpleType" : "DeleteDocumentRequest",
        "variableSetterType" : "DeleteDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteDocumentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The configuration document is not valid.</p>"
      }, {
        "exceptionName" : "AssociatedInstancesException",
        "documentation" : "<p>You must disassociate a configuration document from all instances before you can delete it.</p>"
      } ],
      "syncDocumentation" : "/**<p>Deletes the specified configuration document.</p> <p>You must use <a>DeleteAssociation</a> to disassociate all instances that are associated with the configuration document before you can delete it.</p>\n@param deleteDocumentRequest null\n@return Result of the DeleteDocument operation returned by the service.\n@throws InternalServerErrorException An error occurred on the server side.\n@throws InvalidDocumentException The configuration document is not valid.\n@throws AssociatedInstancesException You must disassociate a configuration document from all instances before you can delete it.*/",
      "asyncDocumentation" : "/**<p>Deletes the specified configuration document.</p> <p>You must use <a>DeleteAssociation</a> to disassociate all instances that are associated with the configuration document before you can delete it.</p>\n@param deleteDocumentRequest null\n@return A Java Future containing the result of the DeleteDocument operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Deletes the specified configuration document.</p> <p>You must use <a>DeleteAssociation</a> to disassociate all instances that are associated with the configuration document before you can delete it.</p>\n@param deleteDocumentRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DeleteDocument operation returned by the service.*/",
      "syncReturnType" : "DeleteDocumentResult",
      "asyncReturnType" : "DeleteDocumentResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDocumentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDocumentRequest, DeleteDocumentResult>",
      "methodName" : "deleteDocument"
    },
    "DescribeAssociation" : {
      "documentation" : "<p>Describes the associations for the specified configuration document or instance.</p>",
      "operationName" : "DescribeAssociation",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAssociationRequest",
        "variableType" : "DescribeAssociationRequest",
        "variableDeclarationType" : "DescribeAssociationRequest",
        "documentation" : null,
        "simpleType" : "DescribeAssociationRequest",
        "variableSetterType" : "DescribeAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAssociationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AssociationDoesNotExistException",
        "documentation" : "<p>The specified association does not exist.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The configuration document is not valid.</p>"
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>You must specify the ID of a running instance.</p>"
      } ],
      "syncDocumentation" : "/**<p>Describes the associations for the specified configuration document or instance.</p>\n@param describeAssociationRequest null\n@return Result of the DescribeAssociation operation returned by the service.\n@throws AssociationDoesNotExistException The specified association does not exist.\n@throws InternalServerErrorException An error occurred on the server side.\n@throws InvalidDocumentException The configuration document is not valid.\n@throws InvalidInstanceIdException You must specify the ID of a running instance.*/",
      "asyncDocumentation" : "/**<p>Describes the associations for the specified configuration document or instance.</p>\n@param describeAssociationRequest null\n@return A Java Future containing the result of the DescribeAssociation operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Describes the associations for the specified configuration document or instance.</p>\n@param describeAssociationRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeAssociation operation returned by the service.*/",
      "syncReturnType" : "DescribeAssociationResult",
      "asyncReturnType" : "DescribeAssociationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAssociationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAssociationRequest, DescribeAssociationResult>",
      "methodName" : "describeAssociation"
    },
    "DescribeDocument" : {
      "documentation" : "<p>Describes the specified configuration document.</p>",
      "operationName" : "DescribeDocument",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeDocumentRequest",
        "variableType" : "DescribeDocumentRequest",
        "variableDeclarationType" : "DescribeDocumentRequest",
        "documentation" : null,
        "simpleType" : "DescribeDocumentRequest",
        "variableSetterType" : "DescribeDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeDocumentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The configuration document is not valid.</p>"
      } ],
      "syncDocumentation" : "/**<p>Describes the specified configuration document.</p>\n@param describeDocumentRequest null\n@return Result of the DescribeDocument operation returned by the service.\n@throws InternalServerErrorException An error occurred on the server side.\n@throws InvalidDocumentException The configuration document is not valid.*/",
      "asyncDocumentation" : "/**<p>Describes the specified configuration document.</p>\n@param describeDocumentRequest null\n@return A Java Future containing the result of the DescribeDocument operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Describes the specified configuration document.</p>\n@param describeDocumentRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeDocument operation returned by the service.*/",
      "syncReturnType" : "DescribeDocumentResult",
      "asyncReturnType" : "DescribeDocumentResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDocumentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDocumentRequest, DescribeDocumentResult>",
      "methodName" : "describeDocument"
    },
    "GetDocument" : {
      "documentation" : "<p>Gets the contents of the specified configuration document.</p>",
      "operationName" : "GetDocument",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDocumentRequest",
        "variableType" : "GetDocumentRequest",
        "variableDeclarationType" : "GetDocumentRequest",
        "documentation" : null,
        "simpleType" : "GetDocumentRequest",
        "variableSetterType" : "GetDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDocumentResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The configuration document is not valid.</p>"
      } ],
      "syncDocumentation" : "/**<p>Gets the contents of the specified configuration document.</p>\n@param getDocumentRequest null\n@return Result of the GetDocument operation returned by the service.\n@throws InternalServerErrorException An error occurred on the server side.\n@throws InvalidDocumentException The configuration document is not valid.*/",
      "asyncDocumentation" : "/**<p>Gets the contents of the specified configuration document.</p>\n@param getDocumentRequest null\n@return A Java Future containing the result of the GetDocument operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Gets the contents of the specified configuration document.</p>\n@param getDocumentRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetDocument operation returned by the service.*/",
      "syncReturnType" : "GetDocumentResult",
      "asyncReturnType" : "GetDocumentResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDocumentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDocumentRequest, GetDocumentResult>",
      "methodName" : "getDocument"
    },
    "ListAssociations" : {
      "documentation" : "<p>Lists the associations for the specified configuration document or instance.</p>",
      "operationName" : "ListAssociations",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAssociationsRequest",
        "variableType" : "ListAssociationsRequest",
        "variableDeclarationType" : "ListAssociationsRequest",
        "documentation" : null,
        "simpleType" : "ListAssociationsRequest",
        "variableSetterType" : "ListAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAssociationsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified token is not valid.</p>"
      } ],
      "syncDocumentation" : "/**<p>Lists the associations for the specified configuration document or instance.</p>\n@param listAssociationsRequest null\n@return Result of the ListAssociations operation returned by the service.\n@throws InternalServerErrorException An error occurred on the server side.\n@throws InvalidNextTokenException The specified token is not valid.*/",
      "asyncDocumentation" : "/**<p>Lists the associations for the specified configuration document or instance.</p>\n@param listAssociationsRequest null\n@return A Java Future containing the result of the ListAssociations operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Lists the associations for the specified configuration document or instance.</p>\n@param listAssociationsRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListAssociations operation returned by the service.*/",
      "syncReturnType" : "ListAssociationsResult",
      "asyncReturnType" : "ListAssociationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociationsRequest, ListAssociationsResult>",
      "methodName" : "listAssociations"
    },
    "ListDocuments" : {
      "documentation" : "<p>Describes one or more of your configuration documents.</p>",
      "operationName" : "ListDocuments",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDocumentsRequest",
        "variableType" : "ListDocumentsRequest",
        "variableDeclarationType" : "ListDocumentsRequest",
        "documentation" : null,
        "simpleType" : "ListDocumentsRequest",
        "variableSetterType" : "ListDocumentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDocumentsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified token is not valid.</p>"
      } ],
      "syncDocumentation" : "/**<p>Describes one or more of your configuration documents.</p>\n@param listDocumentsRequest null\n@return Result of the ListDocuments operation returned by the service.\n@throws InternalServerErrorException An error occurred on the server side.\n@throws InvalidNextTokenException The specified token is not valid.*/",
      "asyncDocumentation" : "/**<p>Describes one or more of your configuration documents.</p>\n@param listDocumentsRequest null\n@return A Java Future containing the result of the ListDocuments operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Describes one or more of your configuration documents.</p>\n@param listDocumentsRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListDocuments operation returned by the service.*/",
      "syncReturnType" : "ListDocumentsResult",
      "asyncReturnType" : "ListDocumentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDocumentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDocumentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDocumentsRequest, ListDocumentsResult>",
      "methodName" : "listDocuments"
    },
    "UpdateAssociationStatus" : {
      "documentation" : "<p>Updates the status of the configuration document associated with the specified instance.</p>",
      "operationName" : "UpdateAssociationStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateAssociationStatusRequest",
        "variableType" : "UpdateAssociationStatusRequest",
        "variableDeclarationType" : "UpdateAssociationStatusRequest",
        "documentation" : null,
        "simpleType" : "UpdateAssociationStatusRequest",
        "variableSetterType" : "UpdateAssociationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateAssociationStatusResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>"
      }, {
        "exceptionName" : "InvalidInstanceIdException",
        "documentation" : "<p>You must specify the ID of a running instance.</p>"
      }, {
        "exceptionName" : "InvalidDocumentException",
        "documentation" : "<p>The configuration document is not valid.</p>"
      }, {
        "exceptionName" : "AssociationDoesNotExistException",
        "documentation" : "<p>The specified association does not exist.</p>"
      }, {
        "exceptionName" : "StatusUnchangedException",
        "documentation" : "<p>The updated status is the same as the current status.</p>"
      }, {
        "exceptionName" : "TooManyUpdatesException",
        "documentation" : "<p>There are concurrent updates for a resource that supports one update at a time.</p>"
      } ],
      "syncDocumentation" : "/**<p>Updates the status of the configuration document associated with the specified instance.</p>\n@param updateAssociationStatusRequest null\n@return Result of the UpdateAssociationStatus operation returned by the service.\n@throws InternalServerErrorException An error occurred on the server side.\n@throws InvalidInstanceIdException You must specify the ID of a running instance.\n@throws InvalidDocumentException The configuration document is not valid.\n@throws AssociationDoesNotExistException The specified association does not exist.\n@throws StatusUnchangedException The updated status is the same as the current status.\n@throws TooManyUpdatesException There are concurrent updates for a resource that supports one update at a time.*/",
      "asyncDocumentation" : "/**<p>Updates the status of the configuration document associated with the specified instance.</p>\n@param updateAssociationStatusRequest null\n@return A Java Future containing the result of the UpdateAssociationStatus operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p>Updates the status of the configuration document associated with the specified instance.</p>\n@param updateAssociationStatusRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the UpdateAssociationStatus operation returned by the service.*/",
      "syncReturnType" : "UpdateAssociationStatusResult",
      "asyncReturnType" : "UpdateAssociationStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAssociationStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAssociationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAssociationStatusRequest, UpdateAssociationStatusResult>",
      "methodName" : "updateAssociationStatus"
    }
  },
  "shapes" : {
    "GetDocumentResult" : {
      "c2jName" : "GetDocumentResult",
      "documentation" : null,
      "shapeName" : "GetDocumentResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The name of the configuration document.</p>",
        "name" : "Name",
        "c2jName" : "Name",
        "c2jShape" : "DocumentName",
        "variable" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the configuration document.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : null,
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Name",
          "marshallLocationName" : "Name",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.*/",
        "getterDocumentation" : "/**<p>The name of the configuration document.</p>\n@return The name of the configuration document.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The contents of the configuration document.</p>",
        "name" : "Content",
        "c2jName" : "Content",
        "c2jShape" : "DocumentContent",
        "variable" : {
          "variableName" : "content",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The contents of the configuration document.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "content",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : null,
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Content",
          "marshallLocationName" : "Content",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The contents of the configuration document.</p>\n@param content The contents of the configuration document.*/",
        "getterDocumentation" : "/**<p>The contents of the configuration document.</p>\n@return The contents of the configuration document.*/",
        "fluentSetterDocumentation" : "/**<p>The contents of the configuration document.</p>\n@param content The contents of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The contents of the configuration document.</p>\n@param content The contents of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getDocumentResult",
        "variableType" : "GetDocumentResult",
        "variableDeclarationType" : "GetDocumentResult",
        "documentation" : null,
        "simpleType" : "GetDocumentResult",
        "variableSetterType" : "GetDocumentResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Name" : {
          "documentation" : "<p>The name of the configuration document.</p>",
          "name" : "Name",
          "c2jName" : "Name",
          "c2jShape" : "DocumentName",
          "variable" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the configuration document.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : null,
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Name",
            "marshallLocationName" : "Name",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.*/",
          "getterDocumentation" : "/**<p>The name of the configuration document.</p>\n@return The name of the configuration document.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Content" : {
          "documentation" : "<p>The contents of the configuration document.</p>",
          "name" : "Content",
          "c2jName" : "Content",
          "c2jShape" : "DocumentContent",
          "variable" : {
            "variableName" : "content",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The contents of the configuration document.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "content",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : null,
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Content",
            "marshallLocationName" : "Content",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The contents of the configuration document.</p>\n@param content The contents of the configuration document.*/",
          "getterDocumentation" : "/**<p>The contents of the configuration document.</p>\n@return The contents of the configuration document.*/",
          "fluentSetterDocumentation" : "/**<p>The contents of the configuration document.</p>\n@param content The contents of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The contents of the configuration document.</p>\n@param content The contents of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "InvalidDocumentContentException" : {
      "c2jName" : "InvalidDocumentContent",
      "documentation" : "<p>The content for the configuration document is not valid.</p>",
      "shapeName" : "InvalidDocumentContentException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "invalidDocumentContentException",
        "variableType" : "InvalidDocumentContentException",
        "variableDeclarationType" : "InvalidDocumentContentException",
        "documentation" : null,
        "simpleType" : "InvalidDocumentContentException",
        "variableSetterType" : "InvalidDocumentContentException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidDocumentContent",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "Association" : {
      "c2jName" : "Association",
      "documentation" : "<p>Describes an association of a configuration document and an instance.</p>",
      "shapeName" : "Association",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The name of the configuration document.</p>",
        "name" : "Name",
        "c2jName" : "Name",
        "c2jShape" : "DocumentName",
        "variable" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the configuration document.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : null,
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Name",
          "marshallLocationName" : "Name",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.*/",
        "getterDocumentation" : "/**<p>The name of the configuration document.</p>\n@return The name of the configuration document.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The ID of the instance.</p>",
        "name" : "InstanceId",
        "c2jName" : "InstanceId",
        "c2jShape" : "InstanceId",
        "variable" : {
          "variableName" : "instanceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "instanceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : null,
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "InstanceId",
          "marshallLocationName" : "InstanceId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the instance.</p>\n@param instanceId The ID of the instance.*/",
        "getterDocumentation" : "/**<p>The ID of the instance.</p>\n@return The ID of the instance.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the instance.</p>\n@param instanceId The ID of the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the instance.</p>\n@param instanceId The ID of the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "association",
        "variableType" : "Association",
        "variableDeclarationType" : "Association",
        "documentation" : null,
        "simpleType" : "Association",
        "variableSetterType" : "Association"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Name" : {
          "documentation" : "<p>The name of the configuration document.</p>",
          "name" : "Name",
          "c2jName" : "Name",
          "c2jShape" : "DocumentName",
          "variable" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the configuration document.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : null,
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Name",
            "marshallLocationName" : "Name",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.*/",
          "getterDocumentation" : "/**<p>The name of the configuration document.</p>\n@return The name of the configuration document.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "InstanceId" : {
          "documentation" : "<p>The ID of the instance.</p>",
          "name" : "InstanceId",
          "c2jName" : "InstanceId",
          "c2jShape" : "InstanceId",
          "variable" : {
            "variableName" : "instanceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ID of the instance.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "instanceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : null,
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "InstanceId",
            "marshallLocationName" : "InstanceId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ID of the instance.</p>\n@param instanceId The ID of the instance.*/",
          "getterDocumentation" : "/**<p>The ID of the instance.</p>\n@return The ID of the instance.*/",
          "fluentSetterDocumentation" : "/**<p>The ID of the instance.</p>\n@param instanceId The ID of the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ID of the instance.</p>\n@param instanceId The ID of the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "InvalidNextTokenException" : {
      "c2jName" : "InvalidNextToken",
      "documentation" : "<p>The specified token is not valid.</p>",
      "shapeName" : "InvalidNextTokenException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "invalidNextTokenException",
        "variableType" : "InvalidNextTokenException",
        "variableDeclarationType" : "InvalidNextTokenException",
        "documentation" : null,
        "simpleType" : "InvalidNextTokenException",
        "variableSetterType" : "InvalidNextTokenException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidNextToken",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "AssociationDoesNotExistException" : {
      "c2jName" : "AssociationDoesNotExist",
      "documentation" : "<p>The specified association does not exist.</p>",
      "shapeName" : "AssociationDoesNotExistException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "associationDoesNotExistException",
        "variableType" : "AssociationDoesNotExistException",
        "variableDeclarationType" : "AssociationDoesNotExistException",
        "documentation" : null,
        "simpleType" : "AssociationDoesNotExistException",
        "variableSetterType" : "AssociationDoesNotExistException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "AssociationDoesNotExist",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "GetDocumentRequest" : {
      "c2jName" : "GetDocumentRequest",
      "documentation" : null,
      "shapeName" : "GetDocumentRequest",
      "deprecated" : false,
      "required" : [ "Name" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The name of the configuration document.</p>",
        "name" : "Name",
        "c2jName" : "Name",
        "c2jShape" : "DocumentName",
        "variable" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the configuration document.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : null,
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Name",
          "marshallLocationName" : "Name",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.*/",
        "getterDocumentation" : "/**<p>The name of the configuration document.</p>\n@return The name of the configuration document.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getDocumentRequest",
        "variableType" : "GetDocumentRequest",
        "variableDeclarationType" : "GetDocumentRequest",
        "documentation" : null,
        "simpleType" : "GetDocumentRequest",
        "variableSetterType" : "GetDocumentRequest"
      },
      "marshaller" : {
        "action" : "GetDocument",
        "verb" : "POST",
        "target" : "AmazonSSM.GetDocument",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Name" : {
          "documentation" : "<p>The name of the configuration document.</p>",
          "name" : "Name",
          "c2jName" : "Name",
          "c2jShape" : "DocumentName",
          "variable" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the configuration document.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : null,
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Name",
            "marshallLocationName" : "Name",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.*/",
          "getterDocumentation" : "/**<p>The name of the configuration document.</p>\n@return The name of the configuration document.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the configuration document.</p>\n@param name The name of the configuration document.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ListAssociationsRequest" : {
      "c2jName" : "ListAssociationsRequest",
      "documentation" : null,
      "shapeName" : "ListAssociationsRequest",
      "deprecated" : false,
      "required" : [ "AssociationFilterList" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>One or more filters. Use a filter to return a more specific list of results.</p>",
        "name" : "AssociationFilterList",
        "c2jName" : "AssociationFilterList",
        "c2jShape" : "AssociationFilterList",
        "variable" : {
          "variableName" : "associationFilterList",
          "variableType" : "java.util.List<AssociationFilter>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<AssociationFilter>",
          "documentation" : "<p>One or more filters. Use a filter to return a more specific list of results.</p>",
          "simpleType" : "List<AssociationFilter>",
          "variableSetterType" : "java.util.Collection<AssociationFilter>"
        },
        "setterModel" : {
          "variableName" : "associationFilterList",
          "variableType" : "java.util.List<AssociationFilter>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<AssociationFilter>",
          "documentation" : null,
          "simpleType" : "List<AssociationFilter>",
          "variableSetterType" : "java.util.Collection<AssociationFilter>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<AssociationFilter>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AssociationFilterList",
          "marshallLocationName" : "AssociationFilterList",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "AssociationFilter",
          "memberLocationName" : "AssociationFilter",
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : null,
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "AssociationFilter",
            "variable" : {
              "variableName" : "member",
              "variableType" : "AssociationFilter",
              "variableDeclarationType" : "AssociationFilter",
              "documentation" : null,
              "simpleType" : "AssociationFilter",
              "variableSetterType" : "AssociationFilter"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "AssociationFilter",
              "variableDeclarationType" : "AssociationFilter",
              "documentation" : null,
              "simpleType" : "AssociationFilter",
              "variableSetterType" : "AssociationFilter"
            },
            "getterModel" : {
              "returnType" : "AssociationFilter",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "AssociationFilter",
              "marshallLocationName" : "AssociationFilter",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**Sets the value of the Member property for this object.\n@param member The new value for the Member property for this object.*/",
            "getterDocumentation" : "/**Returns the value of the Member property for this object.\n@return The value of the Member property for this object.*/",
            "fluentSetterDocumentation" : "/**Sets the value of the Member property for this object.\n@param member The new value for the Member property for this object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**Sets the value of the Member property for this object.\n@param member The new value for the Member property for this object.\n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "simpleType" : "AssociationFilter",
          "simple" : false,
          "map" : false,
          "templateType" : "java.util.List<AssociationFilter>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<AssociationFilter>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>One or more filters. Use a filter to return a more specific list of results.</p>\n@param associationFilterList One or more filters. Use a filter to return a more specific list of results.*/",
        "getterDocumentation" : "/**<p>One or more filters. Use a filter to return a more specific list of results.</p>\n@return One or more filters. Use a filter to return a more specific list of results.*/",
        "fluentSetterDocumentation" : "/**<p>One or more filters. Use a filter to return a more specific list of results.</p>\n@param associationFilterList One or more filters. Use a filter to return a more specific list of results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>One or more filters. Use a filter to return a more specific list of results.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAssociationFilterList(java.util.Collection)} or {@link #withAssociationFilterList(java.util.Collection)} if you want to override the existing values.</p>\n@param associationFilterList One or more filters. Use a filter to return a more specific list of results.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>",
        "name" : "MaxResults",
        "c2jName" : "MaxResults",
        "c2jShape" : "MaxResults",
        "variable" : {
          "variableName" : "maxResults",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "maxResults",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : null,
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "MaxResults",
          "marshallLocationName" : "MaxResults",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>\n@param maxResults The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.*/",
        "getterDocumentation" : "/**<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>\n@return The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.*/",
        "fluentSetterDocumentation" : "/**<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>\n@param maxResults The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>\n@param maxResults The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
        "name" : "NextToken",
        "c2jName" : "NextToken",
        "c2jShape" : "NextToken",
        "variable" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : null,
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NextToken",
          "marshallLocationName" : "NextToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The token for the next set of items to return. (You received this token from a previous call.)</p>\n@param nextToken The token for the next set of items to return. (You received this token from a previous call.)*/",
        "getterDocumentation" : "/**<p>The token for the next set of items to return. (You received this token from a previous call.)</p>\n@return The token for the next set of items to return. (You received this token from a previous call.)*/",
        "fluentSetterDocumentation" : "/**<p>The token for the next set of items to return. (You received this token from a previous call.)</p>\n@param nextToken The token for the next set of items to return. (You received this token from a previous call.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The token for the next set of items to return. (You received this token from a previous call.)</p>\n@param nextToken The token for the next set of items to return. (You received this token from a previous call.)\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "listAssociationsRequest",
        "variableType" : "ListAssociationsRequest",
        "variableDeclarationType" : "ListAssociationsRequest",
        "documentation" : null,
        "simpleType" : "ListAssociationsRequest",
        "variableSetterType" : "ListAssociationsRequest"
      },
      "marshaller" : {
        "action" : "ListAssociations",
        "verb" : "POST",
        "target" : "AmazonSSM.ListAssociations",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "NextToken" : {
          "documentation" : "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
          "name" : "NextToken",
          "c2jName" : "NextToken",
          "c2jShape" : "NextToken",
          "variable" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : null,
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "NextToken",
            "marshallLocationName" : "NextToken",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The token for the next set of items to return. (You received this token from a previous call.)</p>\n@param nextToken The token for the next set of items to return. (You received this token from a previous call.)*/",
          "getterDocumentation" : "/**<p>The token for the next set of items to return. (You received this token from a previous call.)</p>\n@return The token for the next set of items to return. (You received this token from a previous call.)*/",
          "fluentSetterDocumentation" : "/**<p>The token for the next set of items to return. (You received this token from a previous call.)</p>\n@param nextToken The token for the next set of items to return. (You received this token from a previous call.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The token for the next set of items to return. (You received this token from a previous call.)</p>\n@param nextToken The token for the next set of items to return. (You received this token from a previous call.)\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "MaxResults" : {
          "documentation" : "<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>",
          "name" : "MaxResults",
          "c2jName" : "MaxResults",
          "c2jShape" : "MaxResults",
          "variable" : {
            "variableName" : "maxResults",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "maxResults",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : null,
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "MaxResults",
            "marshallLocationName" : "MaxResults",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>\n@param maxResults The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.*/",
          "getterDocumentation" : "/**<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>\n@return The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.*/",
          "fluentSetterDocumentation" : "/**<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>\n@param maxResults The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>\n@param maxResults The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "AssociationFilterList" : {
          "documentation" : "<p>One or more filters. Use a filter to return a more specific list of results.</p>",
          "name" : "AssociationFilterList",
          "c2jName" : "AssociationFilterList",
          "c2jShape" : "AssociationFilterList",
          "variable" : {
            "variableName" : "associationFilterList",
            "variableType" : "java.util.List<AssociationFilter>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<AssociationFilter>",
            "documentation" : "<p>One or more filters. Use a filter to return a more specific list of results.</p>",
            "simpleType" : "List<AssociationFilter>",
            "variableSetterType" : "java.util.Collection<AssociationFilter>"
          },
          "setterModel" : {
            "variableName" : "associationFilterList",
            "variableType" : "java.util.List<AssociationFilter>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<AssociationFilter>",
            "documentation" : null,
            "simpleType" : "List<AssociationFilter>",
            "variableSetterType" : "java.util.Collection<AssociationFilter>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<AssociationFilter>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "AssociationFilterList",
            "marshallLocationName" : "AssociationFilterList",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "AssociationFilter",
            "memberLocationName" : "AssociationFilter",
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : null,
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "AssociationFilter",
              "variable" : {
                "variableName" : "member",
                "variableType" : "AssociationFilter",
                "variableDeclarationType" : "AssociationFilter",
                "documentation" : null,
                "simpleType" : "AssociationFilter",
                "variableSetterType" : "AssociationFilter"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "AssociationFilter",
                "variableDeclarationType" : "AssociationFilter",
                "documentation" : null,
                "simpleType" : "AssociationFilter",
                "variableSetterType" : "AssociationFilter"
              },
              "getterModel" : {
                "returnType" : "AssociationFilter",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "AssociationFilter",
                "marshallLocationName" : "AssociationFilter",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**Sets the value of the Member property for this object.\n@param member The new value for the Member property for this object.*/",
              "getterDocumentation" : "/**Returns the value of the Member property for this object.\n@return The value of the Member property for this object.*/",
              "fluentSetterDocumentation" : "/**Sets the value of the Member property for this object.\n@param member The new value for the Member property for this object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**Sets the value of the Member property for this object.\n@param member The new value for the Member property for this object.\n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "simpleType" : "AssociationFilter",
            "simple" : false,
            "map" : false,
            "templateType" : "java.util.List<AssociationFilter>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<AssociationFilter>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>One or more filters. Use a filter to return a more specific list of results.</p>\n@param associationFilterList One or more filters. Use a filter to return a more specific list of results.*/",
          "getterDocumentation" : "/**<p>One or more filters. Use a filter to return a more specific list of results.</p>\n@return One or more filters. Use a filter to return a more specific list of results.*/",
          "fluentSetterDocumentation" : "/**<p>One or more filters. Use a filter to return a more specific list of results.</p>\n@param associationFilterList One or more filters. Use a filter to return a more specific list of results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>One or more filters. Use a filter to return a more specific list of results.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAssociationFilterList(java.util.Collection)} or {@link #withAssociationFilterList(java.util.Collection)} if you want to override the existing values.</p>\n@param associationFilterList One or more filters. Use a filter to return a more specific list of results.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "TooManyUpdatesException" : {
      "c2jName" : "TooManyUpdates",
      "documentation" : "<p>There are concurrent updates for a resource that supports one update at a time.</p>",
      "shapeName" : "TooManyUpdatesException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "tooManyUpdatesException",
        "variableType" : "TooManyUpdatesException",
        "variableDeclarationType" : "TooManyUpdatesException",
        "documentation" : null,
        "simpleType" : "TooManyUpdatesException",
        "variableSetterType" : "TooManyUpdatesException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "TooManyUpdates",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "AssociatedInstancesException" : {
      "c2jName" : "AssociatedInstances",
      "documentation" : "<p>You must disassociate a configuration document from all instances before you can delete it.</p>",
      "shapeName" : "AssociatedInstancesException",
      "deprecated" : false,
      "required" : null,
[...]
