{
  "metadata" : {
    "apiVersion" : "2015-07-09",
    "exceptionUnmarshallerImpl" : null,
    "protocol" : "rest-json",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon API Gateway</fullname> <p>Amazon API Gateway helps developers deliver robust, secure and scalable mobile and web application backends. Amazon API Gateway allows developers to securely connect mobile and web applications to APIs that run on AWS Lambda, Amazon EC2, or other publicly addressable web services that are hosted outside of AWS.</p>",
    "defaultEndpoint" : "https://apigateway.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "apigateway.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonApiGateway",
    "syncClient" : "AmazonApiGatewayClient",
    "asyncInterface" : "AmazonApiGatewayAsync",
    "asyncClient" : "AmazonApiGatewayAsyncClient",
    "packageName" : "com.amazonaws.services.apigateway",
    "packagePath" : "com/amazonaws/services/apigateway",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon API Gateway",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : null,
    "endpointPrefix" : "apigateway",
    "signingName" : "apigateway",
    "protocolDefaultExceptionUnmarshallerType" : "JsonErrorUnmarshaller",
    "serviceName" : "Amazon API Gateway",
    "jsonProtocol" : true,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "CreateApiKey" : {
      "documentation" : "",
      "operationName" : "CreateApiKey",
      "deprecated" : false,
      "input" : {
        "variableName" : "createApiKeyRequest",
        "variableType" : "CreateApiKeyRequest",
        "variableDeclarationType" : "CreateApiKeyRequest",
        "documentation" : "",
        "simpleType" : "CreateApiKeyRequest",
        "variableSetterType" : "CreateApiKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateApiKeyResult",
        "documentation" : "<p>A resource that can be distributed to callers for executing <a>Method</a> resources that require an API key. API keys can be mapped to any <a>Stage</a> on any <a>RestApi</a>, which indicates that the callers with the API key can make requests to that stage.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateApiKeyResult",
      "asyncReturnType" : "CreateApiKeyResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApiKeyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApiKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApiKeyRequest, CreateApiKeyResult>",
      "methodName" : "createApiKey"
    },
    "CreateBasePathMapping" : {
      "documentation" : "<p>Creates a new <a>BasePathMapping</a> resource.</p>",
      "operationName" : "CreateBasePathMapping",
      "deprecated" : false,
      "input" : {
        "variableName" : "createBasePathMappingRequest",
        "variableType" : "CreateBasePathMappingRequest",
        "variableDeclarationType" : "CreateBasePathMappingRequest",
        "documentation" : "<p>Requests Amazon API Gateway to create a new <a>BasePathMapping</a> resource.</p>",
        "simpleType" : "CreateBasePathMappingRequest",
        "variableSetterType" : "CreateBasePathMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateBasePathMappingResult",
        "documentation" : "<p>Represents the base path that callers of the API that must provide as part of the URL after the domain name.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateBasePathMappingResult",
      "asyncReturnType" : "CreateBasePathMappingResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBasePathMappingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBasePathMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBasePathMappingRequest, CreateBasePathMappingResult>",
      "methodName" : "createBasePathMapping"
    },
    "CreateDeployment" : {
      "documentation" : "<p>Creates a <a>Deployment</a> resource, which makes a specified <a>RestApi</a> callable over the internet.</p>",
      "operationName" : "CreateDeployment",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDeploymentRequest",
        "variableType" : "CreateDeploymentRequest",
        "variableDeclarationType" : "CreateDeploymentRequest",
        "documentation" : "<p>Requests Amazon API Gateway to create a <a>Deployment</a> resource.</p>",
        "simpleType" : "CreateDeploymentRequest",
        "variableSetterType" : "CreateDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDeploymentResult",
        "documentation" : "<p>An immutable representation of a <a>RestApi</a> resource that can be called by users using <a>Stages</a>. A deployment must be associated with a <a>Stage</a> for it to be callable over the Internet.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateDeploymentResult",
      "asyncReturnType" : "CreateDeploymentResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeploymentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeploymentRequest, CreateDeploymentResult>",
      "methodName" : "createDeployment"
    },
    "CreateDomainName" : {
      "documentation" : "<p>Creates a new domain name.</p>",
      "operationName" : "CreateDomainName",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDomainNameRequest",
        "variableType" : "CreateDomainNameRequest",
        "variableDeclarationType" : "CreateDomainNameRequest",
        "documentation" : "<p>A request to create a new domain name.</p>",
        "simpleType" : "CreateDomainNameRequest",
        "variableSetterType" : "CreateDomainNameRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDomainNameResult",
        "documentation" : "<p>Represents a domain name that is contained in a simpler, more intuitive URL that can be called.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateDomainNameResult",
      "asyncReturnType" : "CreateDomainNameResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDomainNameResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDomainNameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDomainNameRequest, CreateDomainNameResult>",
      "methodName" : "createDomainName"
    },
    "CreateModel" : {
      "documentation" : "<p>Adds a new <a>Model</a> resource to an existing <a>RestApi</a> resource.</p>",
      "operationName" : "CreateModel",
      "deprecated" : false,
      "input" : {
        "variableName" : "createModelRequest",
        "variableType" : "CreateModelRequest",
        "variableDeclarationType" : "CreateModelRequest",
        "documentation" : "<p>Request to add a new <a>Model</a> to an existing <a>RestApi</a> resource.</p>",
        "simpleType" : "CreateModelRequest",
        "variableSetterType" : "CreateModelRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateModelResult",
        "documentation" : "<p>Represents the structure of a request or response payload for a method.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateModelResult",
      "asyncReturnType" : "CreateModelResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateModelResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateModelRequest, CreateModelResult>",
      "methodName" : "createModel"
    },
    "CreateResource" : {
      "documentation" : "<p>Creates a <a>Resource</a> resource.</p>",
      "operationName" : "CreateResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "createResourceRequest",
        "variableType" : "CreateResourceRequest",
        "variableDeclarationType" : "CreateResourceRequest",
        "documentation" : "<p>Requests Amazon API Gateway to create a <a>Resource</a> resource.</p>",
        "simpleType" : "CreateResourceRequest",
        "variableSetterType" : "CreateResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateResourceResult",
        "documentation" : "<p>Represents a resource.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateResourceResult",
      "asyncReturnType" : "CreateResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceRequest, CreateResourceResult>",
      "methodName" : "createResource"
    },
    "CreateRestApi" : {
      "documentation" : "<p>Creates a new <a>RestApi</a> resource.</p>",
      "operationName" : "CreateRestApi",
      "deprecated" : false,
      "input" : {
        "variableName" : "createRestApiRequest",
        "variableType" : "CreateRestApiRequest",
        "variableDeclarationType" : "CreateRestApiRequest",
        "documentation" : "<p>Request to add a new <a>RestApi</a> resource to your collection.</p>",
        "simpleType" : "CreateRestApiRequest",
        "variableSetterType" : "CreateRestApiRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateRestApiResult",
        "documentation" : "<p>Represents a REST API.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateRestApiResult",
      "asyncReturnType" : "CreateRestApiResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRestApiResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRestApiResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRestApiRequest, CreateRestApiResult>",
      "methodName" : "createRestApi"
    },
    "CreateStage" : {
      "documentation" : "<p>Creates a <a>Stage</a> resource.</p>",
      "operationName" : "CreateStage",
      "deprecated" : false,
      "input" : {
        "variableName" : "createStageRequest",
        "variableType" : "CreateStageRequest",
        "variableDeclarationType" : "CreateStageRequest",
        "documentation" : "<p>Requests Amazon API Gateway to create a <a>Stage</a> resource.</p>",
        "simpleType" : "CreateStageRequest",
        "variableSetterType" : "CreateStageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateStageResult",
        "documentation" : "<p>Represents a unique identifier for a version of a deployed <a>RestApi</a> that is callable by users.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateStageResult",
      "asyncReturnType" : "CreateStageResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStageRequest, CreateStageResult>",
      "methodName" : "createStage"
    },
    "DeleteApiKey" : {
      "documentation" : "<p>Deletes the <a>ApiKey</a> resource.</p>",
      "operationName" : "DeleteApiKey",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteApiKeyRequest",
        "variableType" : "DeleteApiKeyRequest",
        "variableDeclarationType" : "DeleteApiKeyRequest",
        "documentation" : "<p>A request to delete the <a>ApiKey</a> resource.</p>",
        "simpleType" : "DeleteApiKeyRequest",
        "variableSetterType" : "DeleteApiKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApiKeyRequest, Void>",
      "methodName" : "deleteApiKey"
    },
    "DeleteBasePathMapping" : {
      "documentation" : "<p>Deletes the <a>BasePathMapping</a> resource.</p>",
      "operationName" : "DeleteBasePathMapping",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteBasePathMappingRequest",
        "variableType" : "DeleteBasePathMappingRequest",
        "variableDeclarationType" : "DeleteBasePathMappingRequest",
        "documentation" : "<p>A request to delete the <a>BasePathMapping</a> resource.</p>",
        "simpleType" : "DeleteBasePathMappingRequest",
        "variableSetterType" : "DeleteBasePathMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBasePathMappingRequest, Void>",
      "methodName" : "deleteBasePathMapping"
    },
    "DeleteClientCertificate" : {
      "documentation" : "",
      "operationName" : "DeleteClientCertificate",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteClientCertificateRequest",
        "variableType" : "DeleteClientCertificateRequest",
        "variableDeclarationType" : "DeleteClientCertificateRequest",
        "documentation" : "",
        "simpleType" : "DeleteClientCertificateRequest",
        "variableSetterType" : "DeleteClientCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteClientCertificateRequest, Void>",
      "methodName" : "deleteClientCertificate"
    },
    "DeleteDeployment" : {
      "documentation" : "<p>Deletes a <a>Deployment</a> resource. Deleting a deployment will only succeed if there are no <a>Stage</a> resources associated with it.</p>",
      "operationName" : "DeleteDeployment",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDeploymentRequest",
        "variableType" : "DeleteDeploymentRequest",
        "variableDeclarationType" : "DeleteDeploymentRequest",
        "documentation" : "<p>Requests Amazon API Gateway to delete a <a>Deployment</a> resource.</p>",
        "simpleType" : "DeleteDeploymentRequest",
        "variableSetterType" : "DeleteDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeploymentRequest, Void>",
      "methodName" : "deleteDeployment"
    },
    "DeleteDomainName" : {
      "documentation" : "<p>Deletes the <a>DomainName</a> resource.</p>",
      "operationName" : "DeleteDomainName",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDomainNameRequest",
        "variableType" : "DeleteDomainNameRequest",
        "variableDeclarationType" : "DeleteDomainNameRequest",
        "documentation" : "<p>A request to delete the <a>DomainName</a> resource.</p>",
        "simpleType" : "DeleteDomainNameRequest",
        "variableSetterType" : "DeleteDomainNameRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDomainNameRequest, Void>",
      "methodName" : "deleteDomainName"
    },
    "DeleteIntegration" : {
      "documentation" : "<p>Represents a delete integration.</p>",
      "operationName" : "DeleteIntegration",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteIntegrationRequest",
        "variableType" : "DeleteIntegrationRequest",
        "variableDeclarationType" : "DeleteIntegrationRequest",
        "documentation" : "<p>Represents a delete integration request.</p>",
        "simpleType" : "DeleteIntegrationRequest",
        "variableSetterType" : "DeleteIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIntegrationRequest, Void>",
      "methodName" : "deleteIntegration"
    },
    "DeleteIntegrationResponse" : {
      "documentation" : "<p>Represents a delete integration response.</p>",
      "operationName" : "DeleteIntegrationResponse",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteIntegrationResponseRequest",
        "variableType" : "DeleteIntegrationResponseRequest",
        "variableDeclarationType" : "DeleteIntegrationResponseRequest",
        "documentation" : "<p>Represents a delete integration response request.</p>",
        "simpleType" : "DeleteIntegrationResponseRequest",
        "variableSetterType" : "DeleteIntegrationResponseRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIntegrationResponseRequest, Void>",
      "methodName" : "deleteIntegrationResponse"
    },
    "DeleteMethod" : {
      "documentation" : "<p>Deletes an existing <a>Method</a> resource.</p>",
      "operationName" : "DeleteMethod",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteMethodRequest",
        "variableType" : "DeleteMethodRequest",
        "variableDeclarationType" : "DeleteMethodRequest",
        "documentation" : "<p>Request to delete an existing <a>Method</a> resource.</p>",
        "simpleType" : "DeleteMethodRequest",
        "variableSetterType" : "DeleteMethodRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMethodRequest, Void>",
      "methodName" : "deleteMethod"
    },
    "DeleteMethodResponse" : {
      "documentation" : "<p>Deletes an existing <a>MethodResponse</a> resource.</p>",
      "operationName" : "DeleteMethodResponse",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteMethodResponseRequest",
        "variableType" : "DeleteMethodResponseRequest",
        "variableDeclarationType" : "DeleteMethodResponseRequest",
        "documentation" : "<p>A request to delete an existing <a>MethodResponse</a> resource.</p>",
        "simpleType" : "DeleteMethodResponseRequest",
        "variableSetterType" : "DeleteMethodResponseRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMethodResponseRequest, Void>",
      "methodName" : "deleteMethodResponse"
    },
    "DeleteModel" : {
      "documentation" : "<p>Deletes a model.</p>",
      "operationName" : "DeleteModel",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteModelRequest",
        "variableType" : "DeleteModelRequest",
        "variableDeclarationType" : "DeleteModelRequest",
        "documentation" : "<p>Request to delete an existing model in an existing <a>RestApi</a> resource.</p>",
        "simpleType" : "DeleteModelRequest",
        "variableSetterType" : "DeleteModelRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteModelRequest, Void>",
      "methodName" : "deleteModel"
    },
    "DeleteResource" : {
      "documentation" : "<p>Deletes a <a>Resource</a> resource.</p>",
      "operationName" : "DeleteResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteResourceRequest",
        "variableType" : "DeleteResourceRequest",
        "variableDeclarationType" : "DeleteResourceRequest",
        "documentation" : "<p>Request to delete a <a>Resource</a>.</p>",
        "simpleType" : "DeleteResourceRequest",
        "variableSetterType" : "DeleteResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourceRequest, Void>",
      "methodName" : "deleteResource"
    },
    "DeleteRestApi" : {
      "documentation" : "<p>Deletes the specified API.</p>",
      "operationName" : "DeleteRestApi",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRestApiRequest",
        "variableType" : "DeleteRestApiRequest",
        "variableDeclarationType" : "DeleteRestApiRequest",
        "documentation" : "<p>Request to delete the specified API from your collection.</p>",
        "simpleType" : "DeleteRestApiRequest",
        "variableSetterType" : "DeleteRestApiRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRestApiRequest, Void>",
      "methodName" : "deleteRestApi"
    },
    "DeleteStage" : {
      "documentation" : "<p>Deletes a <a>Stage</a> resource.</p>",
      "operationName" : "DeleteStage",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteStageRequest",
        "variableType" : "DeleteStageRequest",
        "variableDeclarationType" : "DeleteStageRequest",
        "documentation" : "<p>Requests Amazon API Gateway to delete a <a>Stage</a> resource.</p>",
        "simpleType" : "DeleteStageRequest",
        "variableSetterType" : "DeleteStageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStageRequest, Void>",
      "methodName" : "deleteStage"
    },
    "FlushStageCache" : {
      "documentation" : "<p>Flushes a stage's cache.</p>",
      "operationName" : "FlushStageCache",
      "deprecated" : false,
      "input" : {
        "variableName" : "flushStageCacheRequest",
        "variableType" : "FlushStageCacheRequest",
        "variableDeclarationType" : "FlushStageCacheRequest",
        "documentation" : "<p>Requests Amazon API Gateway to flush a stage's cache.</p>",
        "simpleType" : "FlushStageCacheRequest",
        "variableSetterType" : "FlushStageCacheRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<FlushStageCacheRequest, Void>",
      "methodName" : "flushStageCache"
    },
    "GenerateClientCertificate" : {
      "documentation" : "",
      "operationName" : "GenerateClientCertificate",
      "deprecated" : false,
      "input" : {
        "variableName" : "generateClientCertificateRequest",
        "variableType" : "GenerateClientCertificateRequest",
        "variableDeclarationType" : "GenerateClientCertificateRequest",
        "documentation" : "",
        "simpleType" : "GenerateClientCertificateRequest",
        "variableSetterType" : "GenerateClientCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GenerateClientCertificateResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GenerateClientCertificateResult",
      "asyncReturnType" : "GenerateClientCertificateResult",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateClientCertificateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateClientCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateClientCertificateRequest, GenerateClientCertificateResult>",
      "methodName" : "generateClientCertificate"
    },
    "GetAccount" : {
      "documentation" : "<p>Gets information about the current <a>Account</a> resource.</p>",
      "operationName" : "GetAccount",
      "deprecated" : false,
      "input" : {
        "variableName" : "getAccountRequest",
        "variableType" : "GetAccountRequest",
        "variableDeclarationType" : "GetAccountRequest",
        "documentation" : "<p>Requests Amazon API Gateway to get information about the current <a>Account</a> resource.</p>",
        "simpleType" : "GetAccountRequest",
        "variableSetterType" : "GetAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetAccountResult",
        "documentation" : "<p>Represents an AWS account that is associated with Amazon API Gateway.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetAccountResult",
      "asyncReturnType" : "GetAccountResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountRequest, GetAccountResult>",
      "methodName" : "getAccount"
    },
    "GetApiKey" : {
      "documentation" : "<p>Gets information about the current <a>ApiKey</a> resource.</p>",
      "operationName" : "GetApiKey",
      "deprecated" : false,
      "input" : {
        "variableName" : "getApiKeyRequest",
        "variableType" : "GetApiKeyRequest",
        "variableDeclarationType" : "GetApiKeyRequest",
        "documentation" : "<p>A request to get information about the current <a>ApiKey</a> resource.</p>",
        "simpleType" : "GetApiKeyRequest",
        "variableSetterType" : "GetApiKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetApiKeyResult",
        "documentation" : "<p>A resource that can be distributed to callers for executing <a>Method</a> resources that require an API key. API keys can be mapped to any <a>Stage</a> on any <a>RestApi</a>, which indicates that the callers with the API key can make requests to that stage.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetApiKeyResult",
      "asyncReturnType" : "GetApiKeyResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetApiKeyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetApiKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApiKeyRequest, GetApiKeyResult>",
      "methodName" : "getApiKey"
    },
    "GetApiKeys" : {
      "documentation" : "<p>Gets information about the current <a>ApiKeys</a> resource.</p>",
      "operationName" : "GetApiKeys",
      "deprecated" : false,
      "input" : {
        "variableName" : "getApiKeysRequest",
        "variableType" : "GetApiKeysRequest",
        "variableDeclarationType" : "GetApiKeysRequest",
        "documentation" : "<p>A request to get information about the current <a>ApiKeys</a> resource.</p>",
        "simpleType" : "GetApiKeysRequest",
        "variableSetterType" : "GetApiKeysRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetApiKeysResult",
        "documentation" : "<p>Represents a collection of <a>ApiKey</a> resources.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetApiKeysResult",
      "asyncReturnType" : "GetApiKeysResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetApiKeysResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetApiKeysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApiKeysRequest, GetApiKeysResult>",
      "methodName" : "getApiKeys"
    },
    "GetBasePathMapping" : {
      "documentation" : "<p>Describe a <a>BasePathMapping</a> resource.</p>",
      "operationName" : "GetBasePathMapping",
      "deprecated" : false,
      "input" : {
        "variableName" : "getBasePathMappingRequest",
        "variableType" : "GetBasePathMappingRequest",
        "variableDeclarationType" : "GetBasePathMappingRequest",
        "documentation" : "<p>Request to describe a <a>BasePathMapping</a> resource.</p>",
        "simpleType" : "GetBasePathMappingRequest",
        "variableSetterType" : "GetBasePathMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetBasePathMappingResult",
        "documentation" : "<p>Represents the base path that callers of the API that must provide as part of the URL after the domain name.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetBasePathMappingResult",
      "asyncReturnType" : "GetBasePathMappingResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetBasePathMappingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetBasePathMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBasePathMappingRequest, GetBasePathMappingResult>",
      "methodName" : "getBasePathMapping"
    },
    "GetBasePathMappings" : {
      "documentation" : "<p>Represents a collection of <a>BasePathMapping</a> resources.</p>",
      "operationName" : "GetBasePathMappings",
      "deprecated" : false,
      "input" : {
        "variableName" : "getBasePathMappingsRequest",
        "variableType" : "GetBasePathMappingsRequest",
        "variableDeclarationType" : "GetBasePathMappingsRequest",
        "documentation" : "<p>A request to get information about a collection of <a>BasePathMapping</a> resources.</p>",
        "simpleType" : "GetBasePathMappingsRequest",
        "variableSetterType" : "GetBasePathMappingsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetBasePathMappingsResult",
        "documentation" : "<p>Represents a collection of <a>BasePathMapping</a> resources.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetBasePathMappingsResult",
      "asyncReturnType" : "GetBasePathMappingsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetBasePathMappingsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetBasePathMappingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBasePathMappingsRequest, GetBasePathMappingsResult>",
      "methodName" : "getBasePathMappings"
    },
    "GetClientCertificate" : {
      "documentation" : "",
      "operationName" : "GetClientCertificate",
      "deprecated" : false,
      "input" : {
        "variableName" : "getClientCertificateRequest",
        "variableType" : "GetClientCertificateRequest",
        "variableDeclarationType" : "GetClientCertificateRequest",
        "documentation" : "",
        "simpleType" : "GetClientCertificateRequest",
        "variableSetterType" : "GetClientCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetClientCertificateResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetClientCertificateResult",
      "asyncReturnType" : "GetClientCertificateResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetClientCertificateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetClientCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetClientCertificateRequest, GetClientCertificateResult>",
      "methodName" : "getClientCertificate"
    },
    "GetClientCertificates" : {
      "documentation" : "",
      "operationName" : "GetClientCertificates",
      "deprecated" : false,
      "input" : {
        "variableName" : "getClientCertificatesRequest",
        "variableType" : "GetClientCertificatesRequest",
        "variableDeclarationType" : "GetClientCertificatesRequest",
        "documentation" : "",
        "simpleType" : "GetClientCertificatesRequest",
        "variableSetterType" : "GetClientCertificatesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetClientCertificatesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetClientCertificatesResult",
      "asyncReturnType" : "GetClientCertificatesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetClientCertificatesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetClientCertificatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetClientCertificatesRequest, GetClientCertificatesResult>",
      "methodName" : "getClientCertificates"
    },
    "GetDeployment" : {
      "documentation" : "<p>Gets information about a <a>Deployment</a> resource.</p>",
      "operationName" : "GetDeployment",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDeploymentRequest",
        "variableType" : "GetDeploymentRequest",
        "variableDeclarationType" : "GetDeploymentRequest",
        "documentation" : "<p>Requests Amazon API Gateway to get information about a <a>Deployment</a> resource.</p>",
        "simpleType" : "GetDeploymentRequest",
        "variableSetterType" : "GetDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDeploymentResult",
        "documentation" : "<p>An immutable representation of a <a>RestApi</a> resource that can be called by users using <a>Stages</a>. A deployment must be associated with a <a>Stage</a> for it to be callable over the Internet.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetDeploymentResult",
      "asyncReturnType" : "GetDeploymentResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentRequest, GetDeploymentResult>",
      "methodName" : "getDeployment"
    },
    "GetDeployments" : {
      "documentation" : "<p>Gets information about a <a>Deployments</a> collection.</p>",
      "operationName" : "GetDeployments",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDeploymentsRequest",
        "variableType" : "GetDeploymentsRequest",
        "variableDeclarationType" : "GetDeploymentsRequest",
        "documentation" : "<p>Requests Amazon API Gateway to get information about a <a>Deployments</a> collection.</p>",
        "simpleType" : "GetDeploymentsRequest",
        "variableSetterType" : "GetDeploymentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDeploymentsResult",
        "documentation" : "<p>Represents a collection resource that contains zero or more references to your existing deployments, and links that guide you on ways to interact with your collection. The collection offers a paginated view of the contained deployments.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetDeploymentsResult",
      "asyncReturnType" : "GetDeploymentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentsRequest, GetDeploymentsResult>",
      "methodName" : "getDeployments"
    },
    "GetDomainName" : {
      "documentation" : "<p>Represents a domain name that is contained in a simpler, more intuitive URL that can be called.</p>",
      "operationName" : "GetDomainName",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDomainNameRequest",
        "variableType" : "GetDomainNameRequest",
        "variableDeclarationType" : "GetDomainNameRequest",
        "documentation" : "<p>Request to get the name of a <a>DomainName</a> resource.</p>",
        "simpleType" : "GetDomainNameRequest",
        "variableSetterType" : "GetDomainNameRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDomainNameResult",
        "documentation" : "<p>Represents a domain name that is contained in a simpler, more intuitive URL that can be called.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetDomainNameResult",
      "asyncReturnType" : "GetDomainNameResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainNameResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainNameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainNameRequest, GetDomainNameResult>",
      "methodName" : "getDomainName"
    },
    "GetDomainNames" : {
      "documentation" : "<p>Represents a collection of <a>DomainName</a> resources.</p>",
      "operationName" : "GetDomainNames",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDomainNamesRequest",
        "variableType" : "GetDomainNamesRequest",
        "variableDeclarationType" : "GetDomainNamesRequest",
        "documentation" : "<p>Request to describe a collection of <a>DomainName</a> resources.</p>",
        "simpleType" : "GetDomainNamesRequest",
        "variableSetterType" : "GetDomainNamesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDomainNamesResult",
        "documentation" : "<p>Represents a collection of <a>DomainName</a> resources.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetDomainNamesResult",
      "asyncReturnType" : "GetDomainNamesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainNamesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainNamesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainNamesRequest, GetDomainNamesResult>",
      "methodName" : "getDomainNames"
    },
    "GetIntegration" : {
      "documentation" : "<p>Represents a get integration.</p>",
      "operationName" : "GetIntegration",
      "deprecated" : false,
      "input" : {
        "variableName" : "getIntegrationRequest",
        "variableType" : "GetIntegrationRequest",
        "variableDeclarationType" : "GetIntegrationRequest",
        "documentation" : "<p>Represents a get integration request.</p>",
        "simpleType" : "GetIntegrationRequest",
        "variableSetterType" : "GetIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetIntegrationResult",
        "documentation" : "<p>Represents a HTTP, AWS, or Mock integration.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetIntegrationResult",
      "asyncReturnType" : "GetIntegrationResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetIntegrationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIntegrationRequest, GetIntegrationResult>",
      "methodName" : "getIntegration"
    },
    "GetIntegrationResponse" : {
      "documentation" : "<p>Represents a get integration response.</p>",
      "operationName" : "GetIntegrationResponse",
      "deprecated" : false,
      "input" : {
        "variableName" : "getIntegrationResponseRequest",
        "variableType" : "GetIntegrationResponseRequest",
        "variableDeclarationType" : "GetIntegrationResponseRequest",
        "documentation" : "<p>Represents a get integration response request.</p>",
        "simpleType" : "GetIntegrationResponseRequest",
        "variableSetterType" : "GetIntegrationResponseRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetIntegrationResponseResult",
        "documentation" : "<p>Represents an integration response. The status code must map to an existing <a>MethodResponse</a>, and parameters and templates can be used to transform the backend response.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetIntegrationResponseResult",
      "asyncReturnType" : "GetIntegrationResponseResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetIntegrationResponseResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetIntegrationResponseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIntegrationResponseRequest, GetIntegrationResponseResult>",
      "methodName" : "getIntegrationResponse"
    },
    "GetMethod" : {
      "documentation" : "<p>Describe an existing <a>Method</a> resource.</p>",
      "operationName" : "GetMethod",
      "deprecated" : false,
      "input" : {
        "variableName" : "getMethodRequest",
        "variableType" : "GetMethodRequest",
        "variableDeclarationType" : "GetMethodRequest",
        "documentation" : "<p>Request to describe an existing <a>Method</a> resource.</p>",
        "simpleType" : "GetMethodRequest",
        "variableSetterType" : "GetMethodRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetMethodResult",
        "documentation" : "<p>Represents a method.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetMethodResult",
      "asyncReturnType" : "GetMethodResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetMethodResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetMethodResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMethodRequest, GetMethodResult>",
      "methodName" : "getMethod"
    },
    "GetMethodResponse" : {
      "documentation" : "<p>Describes a <a>MethodResponse</a> resource.</p>",
      "operationName" : "GetMethodResponse",
      "deprecated" : false,
      "input" : {
        "variableName" : "getMethodResponseRequest",
        "variableType" : "GetMethodResponseRequest",
        "variableDeclarationType" : "GetMethodResponseRequest",
        "documentation" : "<p>Request to describe a <a>MethodResponse</a> resource.</p>",
        "simpleType" : "GetMethodResponseRequest",
        "variableSetterType" : "GetMethodResponseRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetMethodResponseResult",
        "documentation" : "<p>Represents a method response. Amazon API Gateway sends back the status code to the caller as the HTTP status code. Parameters and models can be used to transform the response from the method's integration.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetMethodResponseResult",
      "asyncReturnType" : "GetMethodResponseResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetMethodResponseResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetMethodResponseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMethodResponseRequest, GetMethodResponseResult>",
      "methodName" : "getMethodResponse"
    },
    "GetModel" : {
      "documentation" : "<p>Describes an existing model defined for a <a>RestApi</a> resource.</p>",
      "operationName" : "GetModel",
      "deprecated" : false,
      "input" : {
        "variableName" : "getModelRequest",
        "variableType" : "GetModelRequest",
        "variableDeclarationType" : "GetModelRequest",
        "documentation" : "<p>Request to list information about a model in an existing <a>RestApi</a> resource.</p>",
        "simpleType" : "GetModelRequest",
        "variableSetterType" : "GetModelRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetModelResult",
        "documentation" : "<p>Represents the structure of a request or response payload for a method.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetModelResult",
      "asyncReturnType" : "GetModelResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetModelResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetModelRequest, GetModelResult>",
      "methodName" : "getModel"
    },
    "GetModelTemplate" : {
      "documentation" : "<p>Generates a sample mapping template that can be used to transform a payload into the structure of a model.</p>",
      "operationName" : "GetModelTemplate",
      "deprecated" : false,
      "input" : {
        "variableName" : "getModelTemplateRequest",
        "variableType" : "GetModelTemplateRequest",
        "variableDeclarationType" : "GetModelTemplateRequest",
        "documentation" : "<p>Request to generate a sample mapping template used to transform the payload.</p>",
        "simpleType" : "GetModelTemplateRequest",
        "variableSetterType" : "GetModelTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetModelTemplateResult",
        "documentation" : "<p>Represents a mapping template used to transform a payload.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetModelTemplateResult",
      "asyncReturnType" : "GetModelTemplateResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetModelTemplateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetModelTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetModelTemplateRequest, GetModelTemplateResult>",
      "methodName" : "getModelTemplate"
    },
    "GetModels" : {
      "documentation" : "<p>Describes existing <a>Models</a> defined for a <a>RestApi</a> resource.</p>",
      "operationName" : "GetModels",
      "deprecated" : false,
      "input" : {
        "variableName" : "getModelsRequest",
        "variableType" : "GetModelsRequest",
        "variableDeclarationType" : "GetModelsRequest",
        "documentation" : "<p>Request to list existing <a>Models</a> defined for a <a>RestApi</a> resource.</p>",
        "simpleType" : "GetModelsRequest",
        "variableSetterType" : "GetModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetModelsResult",
        "documentation" : "<p>Represents a collection of <a>Model</a> resources.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetModelsResult",
      "asyncReturnType" : "GetModelsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetModelsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetModelsRequest, GetModelsResult>",
      "methodName" : "getModels"
    },
    "GetResource" : {
      "documentation" : "<p>Lists information about a resource.</p>",
      "operationName" : "GetResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "getResourceRequest",
        "variableType" : "GetResourceRequest",
        "variableDeclarationType" : "GetResourceRequest",
        "documentation" : "<p>Request to list information about a resource.</p>",
        "simpleType" : "GetResourceRequest",
        "variableSetterType" : "GetResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetResourceResult",
        "documentation" : "<p>Represents a resource.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetResourceResult",
      "asyncReturnType" : "GetResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceRequest, GetResourceResult>",
      "methodName" : "getResource"
    },
    "GetResources" : {
      "documentation" : "<p>Lists information about a collection of <a>Resource</a> resources.</p>",
      "operationName" : "GetResources",
      "deprecated" : false,
      "input" : {
        "variableName" : "getResourcesRequest",
        "variableType" : "GetResourcesRequest",
        "variableDeclarationType" : "GetResourcesRequest",
        "documentation" : "<p>Request to list information about a collection of resources.</p>",
        "simpleType" : "GetResourcesRequest",
        "variableSetterType" : "GetResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetResourcesResult",
        "documentation" : "<p>Represents a collection of <a>Resource</a> resources.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetResourcesResult",
      "asyncReturnType" : "GetResourcesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourcesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourcesRequest, GetResourcesResult>",
      "methodName" : "getResources"
    },
    "GetRestApi" : {
      "documentation" : "<p>Lists the <a>RestApi</a> resource in the collection.</p>",
      "operationName" : "GetRestApi",
      "deprecated" : false,
      "input" : {
        "variableName" : "getRestApiRequest",
        "variableType" : "GetRestApiRequest",
        "variableDeclarationType" : "GetRestApiRequest",
        "documentation" : "<p>Request to list an existing <a>RestApi</a> defined for your collection. </p>",
        "simpleType" : "GetRestApiRequest",
        "variableSetterType" : "GetRestApiRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetRestApiResult",
        "documentation" : "<p>Represents a REST API.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetRestApiResult",
      "asyncReturnType" : "GetRestApiResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetRestApiResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetRestApiResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRestApiRequest, GetRestApiResult>",
      "methodName" : "getRestApi"
    },
    "GetRestApis" : {
      "documentation" : "<p>Lists the <a>RestApis</a> resources for your collection.</p>",
      "operationName" : "GetRestApis",
      "deprecated" : false,
      "input" : {
        "variableName" : "getRestApisRequest",
        "variableType" : "GetRestApisRequest",
        "variableDeclarationType" : "GetRestApisRequest",
        "documentation" : "<p>Request to list existing <a>RestApis</a> defined for your collection.</p>",
        "simpleType" : "GetRestApisRequest",
        "variableSetterType" : "GetRestApisRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetRestApisResult",
        "documentation" : "<p>Contains references to your APIs and links that guide you in ways to interact with your collection. A collection offers a paginated view of your APIs.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetRestApisResult",
      "asyncReturnType" : "GetRestApisResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetRestApisResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetRestApisResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRestApisRequest, GetRestApisResult>",
      "methodName" : "getRestApis"
    },
    "GetSdk" : {
      "documentation" : "",
      "operationName" : "GetSdk",
      "deprecated" : false,
      "input" : {
        "variableName" : "getSdkRequest",
        "variableType" : "GetSdkRequest",
        "variableDeclarationType" : "GetSdkRequest",
        "documentation" : "",
        "simpleType" : "GetSdkRequest",
        "variableSetterType" : "GetSdkRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetSdkResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : true,
      "syncReturnType" : "GetSdkResult",
      "asyncReturnType" : "GetSdkResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetSdkResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetSdkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSdkRequest, GetSdkResult>",
      "methodName" : "getSdk"
    },
    "GetStage" : {
      "documentation" : "<p>Gets information about a <a>Stage</a> resource.</p>",
      "operationName" : "GetStage",
      "deprecated" : false,
      "input" : {
        "variableName" : "getStageRequest",
        "variableType" : "GetStageRequest",
        "variableDeclarationType" : "GetStageRequest",
        "documentation" : "<p>Requests Amazon API Gateway to get information about a <a>Stage</a> resource.</p>",
        "simpleType" : "GetStageRequest",
        "variableSetterType" : "GetStageRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetStageResult",
        "documentation" : "<p>Represents a unique identifier for a version of a deployed <a>RestApi</a> that is callable by users.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetStageResult",
      "asyncReturnType" : "GetStageResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetStageResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetStageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStageRequest, GetStageResult>",
      "methodName" : "getStage"
    },
    "GetStages" : {
      "documentation" : "<p>Gets information about one or more <a>Stage</a> resources.</p>",
      "operationName" : "GetStages",
      "deprecated" : false,
      "input" : {
        "variableName" : "getStagesRequest",
        "variableType" : "GetStagesRequest",
        "variableDeclarationType" : "GetStagesRequest",
        "documentation" : "<p>Requests Amazon API Gateway to get information about one or more <a>Stage</a> resources.</p>",
        "simpleType" : "GetStagesRequest",
        "variableSetterType" : "GetStagesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetStagesResult",
        "documentation" : "<p>A list of <a>Stage</a> resource that are associated with the <a>ApiKey</a> resource.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetStagesResult",
      "asyncReturnType" : "GetStagesResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetStagesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetStagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStagesRequest, GetStagesResult>",
      "methodName" : "getStages"
    },
    "PutIntegration" : {
      "documentation" : "<p>Represents a put integration.</p>",
      "operationName" : "PutIntegration",
      "deprecated" : false,
      "input" : {
        "variableName" : "putIntegrationRequest",
        "variableType" : "PutIntegrationRequest",
        "variableDeclarationType" : "PutIntegrationRequest",
        "documentation" : "<p>Represents a put integration request.</p>",
        "simpleType" : "PutIntegrationRequest",
        "variableSetterType" : "PutIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutIntegrationResult",
        "documentation" : "<p>Represents a HTTP, AWS, or Mock integration.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutIntegrationResult",
      "asyncReturnType" : "PutIntegrationResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutIntegrationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutIntegrationRequest, PutIntegrationResult>",
      "methodName" : "putIntegration"
    },
    "PutIntegrationResponse" : {
      "documentation" : "<p>Represents a put integration.</p>",
      "operationName" : "PutIntegrationResponse",
      "deprecated" : false,
      "input" : {
        "variableName" : "putIntegrationResponseRequest",
        "variableType" : "PutIntegrationResponseRequest",
        "variableDeclarationType" : "PutIntegrationResponseRequest",
        "documentation" : "<p>Represents a put integration response request.</p>",
        "simpleType" : "PutIntegrationResponseRequest",
        "variableSetterType" : "PutIntegrationResponseRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutIntegrationResponseResult",
        "documentation" : "<p>Represents an integration response. The status code must map to an existing <a>MethodResponse</a>, and parameters and templates can be used to transform the backend response.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutIntegrationResponseResult",
      "asyncReturnType" : "PutIntegrationResponseResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutIntegrationResponseResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutIntegrationResponseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutIntegrationResponseRequest, PutIntegrationResponseResult>",
      "methodName" : "putIntegrationResponse"
    },
    "PutMethod" : {
      "documentation" : "<p>Add a method to an existing <a>Resource</a> resource.</p>",
      "operationName" : "PutMethod",
      "deprecated" : false,
      "input" : {
        "variableName" : "putMethodRequest",
        "variableType" : "PutMethodRequest",
        "variableDeclarationType" : "PutMethodRequest",
        "documentation" : "<p>Request to add a method to an existing <a>Resource</a> resource.</p>",
        "simpleType" : "PutMethodRequest",
        "variableSetterType" : "PutMethodRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutMethodResult",
        "documentation" : "<p>Represents a method.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutMethodResult",
      "asyncReturnType" : "PutMethodResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutMethodResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutMethodResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMethodRequest, PutMethodResult>",
      "methodName" : "putMethod"
    },
    "PutMethodResponse" : {
      "documentation" : "<p>Adds a <a>MethodResponse</a> to an existing <a>Method</a> resource.</p>",
      "operationName" : "PutMethodResponse",
      "deprecated" : false,
      "input" : {
        "variableName" : "putMethodResponseRequest",
        "variableType" : "PutMethodResponseRequest",
        "variableDeclarationType" : "PutMethodResponseRequest",
        "documentation" : "<p>Request to add a <a>MethodResponse</a> to an existing <a>Method</a> resource.</p>",
        "simpleType" : "PutMethodResponseRequest",
        "variableSetterType" : "PutMethodResponseRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutMethodResponseResult",
        "documentation" : "<p>Represents a method response. Amazon API Gateway sends back the status code to the caller as the HTTP status code. Parameters and models can be used to transform the response from the method's integration.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutMethodResponseResult",
      "asyncReturnType" : "PutMethodResponseResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutMethodResponseResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutMethodResponseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMethodResponseRequest, PutMethodResponseResult>",
      "methodName" : "putMethodResponse"
    },
    "TestInvokeMethod" : {
      "documentation" : "",
      "operationName" : "TestInvokeMethod",
      "deprecated" : false,
      "input" : {
        "variableName" : "testInvokeMethodRequest",
        "variableType" : "TestInvokeMethodRequest",
        "variableDeclarationType" : "TestInvokeMethodRequest",
        "documentation" : "",
        "simpleType" : "TestInvokeMethodRequest",
        "variableSetterType" : "TestInvokeMethodRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TestInvokeMethodResult",
        "documentation" : "<p>Represents the response of the test invoke request in HTTP method.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "TestInvokeMethodResult",
      "asyncReturnType" : "TestInvokeMethodResult",
      "asyncFutureType" : "java.util.concurrent.Future<TestInvokeMethodResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TestInvokeMethodResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestInvokeMethodRequest, TestInvokeMethodResult>",
      "methodName" : "testInvokeMethod"
    },
    "UpdateAccount" : {
      "documentation" : "<p>Changes information about the current <a>Account</a> resource.</p>",
      "operationName" : "UpdateAccount",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateAccountRequest",
        "variableType" : "UpdateAccountRequest",
        "variableDeclarationType" : "UpdateAccountRequest",
        "documentation" : "<p>Requests Amazon API Gateway to change information about the current <a>Account</a> resource.</p>",
        "simpleType" : "UpdateAccountRequest",
        "variableSetterType" : "UpdateAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateAccountResult",
        "documentation" : "<p>Represents an AWS account that is associated with Amazon API Gateway.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateAccountResult",
      "asyncReturnType" : "UpdateAccountResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAccountResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAccountRequest, UpdateAccountResult>",
      "methodName" : "updateAccount"
    },
    "UpdateApiKey" : {
      "documentation" : "<p>Changes information about an <a>ApiKey</a> resource.</p>",
      "operationName" : "UpdateApiKey",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateApiKeyRequest",
        "variableType" : "UpdateApiKeyRequest",
        "variableDeclarationType" : "UpdateApiKeyRequest",
        "documentation" : "<p>A request to change information about an <a>ApiKey</a> resource.</p>",
        "simpleType" : "UpdateApiKeyRequest",
        "variableSetterType" : "UpdateApiKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateApiKeyResult",
        "documentation" : "<p>A resource that can be distributed to callers for executing <a>Method</a> resources that require an API key. API keys can be mapped to any <a>Stage</a> on any <a>RestApi</a>, which indicates that the callers with the API key can make requests to that stage.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateApiKeyResult",
      "asyncReturnType" : "UpdateApiKeyResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApiKeyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApiKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApiKeyRequest, UpdateApiKeyResult>",
      "methodName" : "updateApiKey"
    },
    "UpdateBasePathMapping" : {
      "documentation" : "<p>Changes information about the <a>BasePathMapping</a> resource.</p>",
      "operationName" : "UpdateBasePathMapping",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateBasePathMappingRequest",
        "variableType" : "UpdateBasePathMappingRequest",
        "variableDeclarationType" : "UpdateBasePathMappingRequest",
        "documentation" : "<p>A request to change information about the <a>BasePathMapping</a> resource.</p>",
        "simpleType" : "UpdateBasePathMappingRequest",
        "variableSetterType" : "UpdateBasePathMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateBasePathMappingResult",
        "documentation" : "<p>Represents the base path that callers of the API that must provide as part of the URL after the domain name.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateBasePathMappingResult",
      "asyncReturnType" : "UpdateBasePathMappingResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBasePathMappingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBasePathMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBasePathMappingRequest, UpdateBasePathMappingResult>",
      "methodName" : "updateBasePathMapping"
    },
    "UpdateClientCertificate" : {
      "documentation" : "",
      "operationName" : "UpdateClientCertificate",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateClientCertificateRequest",
        "variableType" : "UpdateClientCertificateRequest",
        "variableDeclarationType" : "UpdateClientCertificateRequest",
        "documentation" : "",
        "simpleType" : "UpdateClientCertificateRequest",
        "variableSetterType" : "UpdateClientCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateClientCertificateResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateClientCertificateResult",
      "asyncReturnType" : "UpdateClientCertificateResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateClientCertificateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateClientCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateClientCertificateRequest, UpdateClientCertificateResult>",
      "methodName" : "updateClientCertificate"
    },
    "UpdateDeployment" : {
      "documentation" : "<p>Changes information about a <a>Deployment</a> resource.</p>",
      "operationName" : "UpdateDeployment",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDeploymentRequest",
        "variableType" : "UpdateDeploymentRequest",
        "variableDeclarationType" : "UpdateDeploymentRequest",
        "documentation" : "<p>Requests Amazon API Gateway to change information about a <a>Deployment</a> resource.</p>",
        "simpleType" : "UpdateDeploymentRequest",
        "variableSetterType" : "UpdateDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateDeploymentResult",
        "documentation" : "<p>An immutable representation of a <a>RestApi</a> resource that can be called by users using <a>Stages</a>. A deployment must be associated with a <a>Stage</a> for it to be callable over the Internet.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateDeploymentResult",
      "asyncReturnType" : "UpdateDeploymentResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDeploymentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDeploymentRequest, UpdateDeploymentResult>",
      "methodName" : "updateDeployment"
    },
    "UpdateDomainName" : {
      "documentation" : "<p>Changes information about the <a>DomainName</a> resource.</p>",
      "operationName" : "UpdateDomainName",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDomainNameRequest",
        "variableType" : "UpdateDomainNameRequest",
        "variableDeclarationType" : "UpdateDomainNameRequest",
        "documentation" : "<p>A request to change information about the <a>DomainName</a> resource.</p>",
        "simpleType" : "UpdateDomainNameRequest",
        "variableSetterType" : "UpdateDomainNameRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateDomainNameResult",
        "documentation" : "<p>Represents a domain name that is contained in a simpler, more intuitive URL that can be called.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateDomainNameResult",
      "asyncReturnType" : "UpdateDomainNameResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainNameResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainNameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainNameRequest, UpdateDomainNameResult>",
      "methodName" : "updateDomainName"
    },
    "UpdateIntegration" : {
      "documentation" : "<p>Represents an update integration.</p>",
      "operationName" : "UpdateIntegration",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateIntegrationRequest",
        "variableType" : "UpdateIntegrationRequest",
        "variableDeclarationType" : "UpdateIntegrationRequest",
        "documentation" : "<p>Represents an update integration request.</p>",
        "simpleType" : "UpdateIntegrationRequest",
        "variableSetterType" : "UpdateIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateIntegrationResult",
        "documentation" : "<p>Represents a HTTP, AWS, or Mock integration.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateIntegrationResult",
      "asyncReturnType" : "UpdateIntegrationResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIntegrationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIntegrationRequest, UpdateIntegrationResult>",
      "methodName" : "updateIntegration"
    },
    "UpdateIntegrationResponse" : {
      "documentation" : "<p>Represents an update integration response.</p>",
      "operationName" : "UpdateIntegrationResponse",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateIntegrationResponseRequest",
        "variableType" : "UpdateIntegrationResponseRequest",
        "variableDeclarationType" : "UpdateIntegrationResponseRequest",
        "documentation" : "<p>Represents an update integration response request.</p>",
        "simpleType" : "UpdateIntegrationResponseRequest",
        "variableSetterType" : "UpdateIntegrationResponseRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateIntegrationResponseResult",
        "documentation" : "<p>Represents an integration response. The status code must map to an existing <a>MethodResponse</a>, and parameters and templates can be used to transform the backend response.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateIntegrationResponseResult",
      "asyncReturnType" : "UpdateIntegrationResponseResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIntegrationResponseResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIntegrationResponseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIntegrationResponseRequest, UpdateIntegrationResponseResult>",
      "methodName" : "updateIntegrationResponse"
    },
    "UpdateMethod" : {
      "documentation" : "<p>Updates an existing <a>Method</a> resource.</p>",
      "operationName" : "UpdateMethod",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateMethodRequest",
        "variableType" : "UpdateMethodRequest",
        "variableDeclarationType" : "UpdateMethodRequest",
        "documentation" : "<p>Request to update an existing <a>Method</a> resource.</p>",
        "simpleType" : "UpdateMethodRequest",
        "variableSetterType" : "UpdateMethodRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateMethodResult",
        "documentation" : "<p>Represents a method.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateMethodResult",
      "asyncReturnType" : "UpdateMethodResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMethodResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMethodResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMethodRequest, UpdateMethodResult>",
      "methodName" : "updateMethod"
    },
    "UpdateMethodResponse" : {
      "documentation" : "<p>Updates an existing <a>MethodResponse</a> resource.</p>",
      "operationName" : "UpdateMethodResponse",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateMethodResponseRequest",
        "variableType" : "UpdateMethodResponseRequest",
        "variableDeclarationType" : "UpdateMethodResponseRequest",
[...]
