{
  "metadata" : {
    "apiVersion" : "2011-01-01",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<fullname>Auto Scaling</fullname> <p>Auto Scaling is designed to automatically launch or terminate EC2 instances based on user-defined policies, schedules, and health checks. Use this service in conjunction with the Amazon CloudWatch and Elastic Load Balancing services.</p>",
    "defaultEndpoint" : "https://autoscaling.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "autoscaling.amazonaws.com",
    "syncInterface" : "AmazonAutoScaling",
    "syncClient" : "AmazonAutoScalingClient",
    "asyncInterface" : "AmazonAutoScalingAsync",
    "asyncClient" : "AmazonAutoScalingAsyncClient",
    "packageName" : "com.amazonaws.services.autoscaling",
    "packagePath" : "com/amazonaws/services/autoscaling",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Auto Scaling",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "autoscaling",
    "signingName" : "autoscaling",
    "xmlProtocol" : true,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "jsonProtocol" : false,
    "syncClientBuilderClassName" : "AmazonAutoScalingClientBuilder",
    "asyncClientBuilderClassName" : "AmazonAutoScalingAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonAutoScalingModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.autoscaling.smoketests",
    "serviceName" : "Auto Scaling",
    "cborProtocol" : false,
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller"
  },
  "operations" : {
    "AttachInstances" : {
      "documentation" : "<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p> <p>When you attach instances, Auto Scaling increases the desired capacity of the group by the number of instances being attached. If the number of instances being attached plus the desired capacity of the group exceeds the maximum size of the group, the operation fails.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/attach-instance-asg.html\">Attach EC2 Instances to Your Auto Scaling Group</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "AttachInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "attachInstancesRequest",
        "variableType" : "AttachInstancesRequest",
        "variableDeclarationType" : "AttachInstancesRequest",
        "documentation" : "",
        "simpleType" : "AttachInstancesRequest",
        "variableSetterType" : "AttachInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AttachInstancesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AttachInstancesResult",
      "asyncReturnType" : "AttachInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<AttachInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AttachInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachInstancesRequest, AttachInstancesResult>",
      "authenticated" : true,
      "methodName" : "attachInstances"
    },
    "AttachLoadBalancers" : {
      "documentation" : "<p>Attaches one or more load balancers to the specified Auto Scaling group.</p> <p>To describe the load balancers for an Auto Scaling group, use <a>DescribeLoadBalancers</a>. To detach the load balancer from the Auto Scaling group, use <a>DetachLoadBalancers</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/attach-load-balancer-asg.html\">Attach a Load Balancer to Your Auto Scaling Group</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "AttachLoadBalancers",
      "deprecated" : false,
      "input" : {
        "variableName" : "attachLoadBalancersRequest",
        "variableType" : "AttachLoadBalancersRequest",
        "variableDeclarationType" : "AttachLoadBalancersRequest",
        "documentation" : "",
        "simpleType" : "AttachLoadBalancersRequest",
        "variableSetterType" : "AttachLoadBalancersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AttachLoadBalancersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AttachLoadBalancersResult",
      "asyncReturnType" : "AttachLoadBalancersResult",
      "asyncFutureType" : "java.util.concurrent.Future<AttachLoadBalancersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AttachLoadBalancersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachLoadBalancersRequest, AttachLoadBalancersResult>",
      "authenticated" : true,
      "methodName" : "attachLoadBalancers"
    },
    "CompleteLifecycleAction" : {
      "documentation" : "<p>Completes the lifecycle action for the specified token or instance with the specified result.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Auto Scaling launches or terminates instances.</li> <li>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Auto Scaling to publish lifecycle notifications to the target.</li> <li>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</li> <li>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</li> <li><b>If you finish before the timeout period ends, complete the lifecycle action.</b></li> </ol> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingGroupLifecycle.html\">Auto Scaling Lifecycle</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "CompleteLifecycleAction",
      "deprecated" : false,
      "input" : {
        "variableName" : "completeLifecycleActionRequest",
        "variableType" : "CompleteLifecycleActionRequest",
        "variableDeclarationType" : "CompleteLifecycleActionRequest",
        "documentation" : "",
        "simpleType" : "CompleteLifecycleActionRequest",
        "variableSetterType" : "CompleteLifecycleActionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CompleteLifecycleActionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CompleteLifecycleActionResult",
      "asyncReturnType" : "CompleteLifecycleActionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CompleteLifecycleActionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CompleteLifecycleActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CompleteLifecycleActionRequest, CompleteLifecycleActionResult>",
      "authenticated" : true,
      "methodName" : "completeLifecycleAction"
    },
    "CreateAutoScalingGroup" : {
      "documentation" : "<p>Creates an Auto Scaling group with the specified name and attributes.</p> <p>If you exceed your maximum limit of Auto Scaling groups, which by default is 20 per region, the call fails. For information about viewing and updating this limit, see <a>DescribeAccountLimits</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingGroup.html\">Auto Scaling Groups</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "CreateAutoScalingGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAutoScalingGroupRequest",
        "variableType" : "CreateAutoScalingGroupRequest",
        "variableDeclarationType" : "CreateAutoScalingGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateAutoScalingGroupRequest",
        "variableSetterType" : "CreateAutoScalingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAutoScalingGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateAutoScalingGroupResult",
      "asyncReturnType" : "CreateAutoScalingGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAutoScalingGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAutoScalingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAutoScalingGroupRequest, CreateAutoScalingGroupResult>",
      "authenticated" : true,
      "methodName" : "createAutoScalingGroup"
    },
    "CreateLaunchConfiguration" : {
      "documentation" : "<p>Creates a launch configuration.</p> <p>If you exceed your maximum limit of launch configurations, which by default is 100 per region, the call fails. For information about viewing and updating this limit, see <a>DescribeAccountLimits</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/LaunchConfiguration.html\">Launch Configurations</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "CreateLaunchConfiguration",
      "deprecated" : false,
      "input" : {
        "variableName" : "createLaunchConfigurationRequest",
        "variableType" : "CreateLaunchConfigurationRequest",
        "variableDeclarationType" : "CreateLaunchConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateLaunchConfigurationRequest",
        "variableSetterType" : "CreateLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateLaunchConfigurationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateLaunchConfigurationResult",
      "asyncReturnType" : "CreateLaunchConfigurationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLaunchConfigurationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLaunchConfigurationRequest, CreateLaunchConfigurationResult>",
      "authenticated" : true,
      "methodName" : "createLaunchConfiguration"
    },
    "CreateOrUpdateTags" : {
      "documentation" : "<p>Creates or updates tags for the specified Auto Scaling group.</p> <p>When you specify a tag with a key that already exists, the operation overwrites the previous tag definition, and you do not get an error message.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/ASTagging.html\">Tagging Auto Scaling Groups and Instances</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "CreateOrUpdateTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "createOrUpdateTagsRequest",
        "variableType" : "CreateOrUpdateTagsRequest",
        "variableDeclarationType" : "CreateOrUpdateTagsRequest",
        "documentation" : "",
        "simpleType" : "CreateOrUpdateTagsRequest",
        "variableSetterType" : "CreateOrUpdateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateOrUpdateTagsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateOrUpdateTagsResult",
      "asyncReturnType" : "CreateOrUpdateTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateOrUpdateTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateOrUpdateTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateOrUpdateTagsRequest, CreateOrUpdateTagsResult>",
      "authenticated" : true,
      "methodName" : "createOrUpdateTags"
    },
    "DeleteAutoScalingGroup" : {
      "documentation" : "<p>Deletes the specified Auto Scaling group.</p> <p>If the group has instances or scaling activities in progress, you must specify the option to force the deletion in order for it to succeed.</p> <p>If the group has policies, deleting the group deletes the policies, the underlying alarm actions, and any alarm that no longer has an associated action.</p> <p>To remove instances from the Auto Scaling group before deleting it, call <a>DetachInstances</a> with the list of instances and the option to decrement the desired capacity so that Auto Scaling does not launch replacement instances.</p> <p>To terminate all instances before deleting the Auto Scaling group, call <a>UpdateAutoScalingGroup</a> and set the minimum size and desired capacity of the Auto Scaling group to zero.</p>",
      "operationName" : "DeleteAutoScalingGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteAutoScalingGroupRequest",
        "variableType" : "DeleteAutoScalingGroupRequest",
        "variableDeclarationType" : "DeleteAutoScalingGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteAutoScalingGroupRequest",
        "variableSetterType" : "DeleteAutoScalingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteAutoScalingGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ScalingActivityInProgressException",
        "documentation" : "<p>The Auto Scaling group can't be deleted because there are scaling activities in progress.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The Auto Scaling group or launch configuration can't be deleted because it is in use.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteAutoScalingGroupResult",
      "asyncReturnType" : "DeleteAutoScalingGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAutoScalingGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAutoScalingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAutoScalingGroupRequest, DeleteAutoScalingGroupResult>",
      "authenticated" : true,
      "methodName" : "deleteAutoScalingGroup"
    },
    "DeleteLaunchConfiguration" : {
      "documentation" : "<p>Deletes the specified launch configuration.</p> <p>The launch configuration must not be attached to an Auto Scaling group. When this call completes, the launch configuration is no longer available for use.</p>",
      "operationName" : "DeleteLaunchConfiguration",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteLaunchConfigurationRequest",
        "variableType" : "DeleteLaunchConfigurationRequest",
        "variableDeclarationType" : "DeleteLaunchConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteLaunchConfigurationRequest",
        "variableSetterType" : "DeleteLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteLaunchConfigurationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The Auto Scaling group or launch configuration can't be deleted because it is in use.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteLaunchConfigurationResult",
      "asyncReturnType" : "DeleteLaunchConfigurationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLaunchConfigurationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLaunchConfigurationRequest, DeleteLaunchConfigurationResult>",
      "authenticated" : true,
      "methodName" : "deleteLaunchConfiguration"
    },
    "DeleteLifecycleHook" : {
      "documentation" : "<p>Deletes the specified lifecycle hook.</p> <p>If there are any outstanding lifecycle actions, they are completed first (<code>ABANDON</code> for launching instances, <code>CONTINUE</code> for terminating instances).</p>",
      "operationName" : "DeleteLifecycleHook",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteLifecycleHookRequest",
        "variableType" : "DeleteLifecycleHookRequest",
        "variableDeclarationType" : "DeleteLifecycleHookRequest",
        "documentation" : "",
        "simpleType" : "DeleteLifecycleHookRequest",
        "variableSetterType" : "DeleteLifecycleHookRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteLifecycleHookResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteLifecycleHookResult",
      "asyncReturnType" : "DeleteLifecycleHookResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLifecycleHookResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLifecycleHookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLifecycleHookRequest, DeleteLifecycleHookResult>",
      "authenticated" : true,
      "methodName" : "deleteLifecycleHook"
    },
    "DeleteNotificationConfiguration" : {
      "documentation" : "<p>Deletes the specified notification.</p>",
      "operationName" : "DeleteNotificationConfiguration",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteNotificationConfigurationRequest",
        "variableType" : "DeleteNotificationConfigurationRequest",
        "variableDeclarationType" : "DeleteNotificationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteNotificationConfigurationRequest",
        "variableSetterType" : "DeleteNotificationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteNotificationConfigurationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteNotificationConfigurationResult",
      "asyncReturnType" : "DeleteNotificationConfigurationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNotificationConfigurationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNotificationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNotificationConfigurationRequest, DeleteNotificationConfigurationResult>",
      "authenticated" : true,
      "methodName" : "deleteNotificationConfiguration"
    },
    "DeletePolicy" : {
      "documentation" : "<p>Deletes the specified Auto Scaling policy.</p> <p>Deleting a policy deletes the underlying alarm action, but does not delete the alarm, even if it no longer has an associated action.</p>",
      "operationName" : "DeletePolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "deletePolicyRequest",
        "variableType" : "DeletePolicyRequest",
        "variableDeclarationType" : "DeletePolicyRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeletePolicyRequest",
        "variableSetterType" : "DeletePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeletePolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeletePolicyResult",
      "asyncReturnType" : "DeletePolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePolicyRequest, DeletePolicyResult>",
      "authenticated" : true,
      "methodName" : "deletePolicy"
    },
    "DeleteScheduledAction" : {
      "documentation" : "<p>Deletes the specified scheduled action.</p>",
      "operationName" : "DeleteScheduledAction",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteScheduledActionRequest",
        "variableType" : "DeleteScheduledActionRequest",
        "variableDeclarationType" : "DeleteScheduledActionRequest",
        "documentation" : "",
        "simpleType" : "DeleteScheduledActionRequest",
        "variableSetterType" : "DeleteScheduledActionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteScheduledActionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteScheduledActionResult",
      "asyncReturnType" : "DeleteScheduledActionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteScheduledActionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteScheduledActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteScheduledActionRequest, DeleteScheduledActionResult>",
      "authenticated" : true,
      "methodName" : "deleteScheduledAction"
    },
    "DeleteTags" : {
      "documentation" : "<p>Deletes the specified tags.</p>",
      "operationName" : "DeleteTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "variableDeclarationType" : "DeleteTagsRequest",
        "documentation" : "",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteTagsResult",
      "asyncReturnType" : "DeleteTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "authenticated" : true,
      "methodName" : "deleteTags"
    },
    "DescribeAccountLimits" : {
      "documentation" : "<p>Describes the current Auto Scaling resource limits for your AWS account.</p> <p>For information about requesting an increase in these limits, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>",
      "operationName" : "DescribeAccountLimits",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAccountLimitsRequest",
        "variableType" : "DescribeAccountLimitsRequest",
        "variableDeclarationType" : "DescribeAccountLimitsRequest",
        "documentation" : null,
        "simpleType" : "DescribeAccountLimitsRequest",
        "variableSetterType" : "DescribeAccountLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAccountLimitsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeAccountLimitsResult",
      "asyncReturnType" : "DescribeAccountLimitsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountLimitsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountLimitsRequest, DescribeAccountLimitsResult>",
      "authenticated" : true,
      "methodName" : "describeAccountLimits"
    },
    "DescribeAdjustmentTypes" : {
      "documentation" : "<p>Describes the policy adjustment types for use with <a>PutScalingPolicy</a>.</p>",
      "operationName" : "DescribeAdjustmentTypes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAdjustmentTypesRequest",
        "variableType" : "DescribeAdjustmentTypesRequest",
        "variableDeclarationType" : "DescribeAdjustmentTypesRequest",
        "documentation" : null,
        "simpleType" : "DescribeAdjustmentTypesRequest",
        "variableSetterType" : "DescribeAdjustmentTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAdjustmentTypesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeAdjustmentTypesResult",
      "asyncReturnType" : "DescribeAdjustmentTypesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAdjustmentTypesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAdjustmentTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAdjustmentTypesRequest, DescribeAdjustmentTypesResult>",
      "authenticated" : true,
      "methodName" : "describeAdjustmentTypes"
    },
    "DescribeAutoScalingGroups" : {
      "documentation" : "<p>Describes one or more Auto Scaling groups. If a list of names is not provided, the call describes all Auto Scaling groups.</p>",
      "operationName" : "DescribeAutoScalingGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAutoScalingGroupsRequest",
        "variableType" : "DescribeAutoScalingGroupsRequest",
        "variableDeclarationType" : "DescribeAutoScalingGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAutoScalingGroupsRequest",
        "variableSetterType" : "DescribeAutoScalingGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAutoScalingGroupsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeAutoScalingGroupsResult",
      "asyncReturnType" : "DescribeAutoScalingGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAutoScalingGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAutoScalingGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAutoScalingGroupsRequest, DescribeAutoScalingGroupsResult>",
      "authenticated" : true,
      "methodName" : "describeAutoScalingGroups"
    },
    "DescribeAutoScalingInstances" : {
      "documentation" : "<p>Describes one or more Auto Scaling instances. If a list is not provided, the call describes all instances.</p>",
      "operationName" : "DescribeAutoScalingInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAutoScalingInstancesRequest",
        "variableType" : "DescribeAutoScalingInstancesRequest",
        "variableDeclarationType" : "DescribeAutoScalingInstancesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAutoScalingInstancesRequest",
        "variableSetterType" : "DescribeAutoScalingInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAutoScalingInstancesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeAutoScalingInstancesResult",
      "asyncReturnType" : "DescribeAutoScalingInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAutoScalingInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAutoScalingInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAutoScalingInstancesRequest, DescribeAutoScalingInstancesResult>",
      "authenticated" : true,
      "methodName" : "describeAutoScalingInstances"
    },
    "DescribeAutoScalingNotificationTypes" : {
      "documentation" : "<p>Describes the notification types that are supported by Auto Scaling.</p>",
      "operationName" : "DescribeAutoScalingNotificationTypes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAutoScalingNotificationTypesRequest",
        "variableType" : "DescribeAutoScalingNotificationTypesRequest",
        "variableDeclarationType" : "DescribeAutoScalingNotificationTypesRequest",
        "documentation" : null,
        "simpleType" : "DescribeAutoScalingNotificationTypesRequest",
        "variableSetterType" : "DescribeAutoScalingNotificationTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAutoScalingNotificationTypesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeAutoScalingNotificationTypesResult",
      "asyncReturnType" : "DescribeAutoScalingNotificationTypesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAutoScalingNotificationTypesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAutoScalingNotificationTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAutoScalingNotificationTypesRequest, DescribeAutoScalingNotificationTypesResult>",
      "authenticated" : true,
      "methodName" : "describeAutoScalingNotificationTypes"
    },
    "DescribeLaunchConfigurations" : {
      "documentation" : "<p>Describes one or more launch configurations. If you omit the list of names, then the call describes all launch configurations.</p>",
      "operationName" : "DescribeLaunchConfigurations",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLaunchConfigurationsRequest",
        "variableType" : "DescribeLaunchConfigurationsRequest",
        "variableDeclarationType" : "DescribeLaunchConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeLaunchConfigurationsRequest",
        "variableSetterType" : "DescribeLaunchConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLaunchConfigurationsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeLaunchConfigurationsResult",
      "asyncReturnType" : "DescribeLaunchConfigurationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLaunchConfigurationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLaunchConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLaunchConfigurationsRequest, DescribeLaunchConfigurationsResult>",
      "authenticated" : true,
      "methodName" : "describeLaunchConfigurations"
    },
    "DescribeLifecycleHookTypes" : {
      "documentation" : "<p>Describes the available types of lifecycle hooks.</p>",
      "operationName" : "DescribeLifecycleHookTypes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLifecycleHookTypesRequest",
        "variableType" : "DescribeLifecycleHookTypesRequest",
        "variableDeclarationType" : "DescribeLifecycleHookTypesRequest",
        "documentation" : null,
        "simpleType" : "DescribeLifecycleHookTypesRequest",
        "variableSetterType" : "DescribeLifecycleHookTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLifecycleHookTypesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeLifecycleHookTypesResult",
      "asyncReturnType" : "DescribeLifecycleHookTypesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLifecycleHookTypesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLifecycleHookTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLifecycleHookTypesRequest, DescribeLifecycleHookTypesResult>",
      "authenticated" : true,
      "methodName" : "describeLifecycleHookTypes"
    },
    "DescribeLifecycleHooks" : {
      "documentation" : "<p>Describes the lifecycle hooks for the specified Auto Scaling group.</p>",
      "operationName" : "DescribeLifecycleHooks",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLifecycleHooksRequest",
        "variableType" : "DescribeLifecycleHooksRequest",
        "variableDeclarationType" : "DescribeLifecycleHooksRequest",
        "documentation" : "",
        "simpleType" : "DescribeLifecycleHooksRequest",
        "variableSetterType" : "DescribeLifecycleHooksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLifecycleHooksResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeLifecycleHooksResult",
      "asyncReturnType" : "DescribeLifecycleHooksResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLifecycleHooksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLifecycleHooksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLifecycleHooksRequest, DescribeLifecycleHooksResult>",
      "authenticated" : true,
      "methodName" : "describeLifecycleHooks"
    },
    "DescribeLoadBalancers" : {
      "documentation" : "<p>Describes the load balancers for the specified Auto Scaling group.</p>",
      "operationName" : "DescribeLoadBalancers",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLoadBalancersRequest",
        "variableType" : "DescribeLoadBalancersRequest",
        "variableDeclarationType" : "DescribeLoadBalancersRequest",
        "documentation" : "",
        "simpleType" : "DescribeLoadBalancersRequest",
        "variableSetterType" : "DescribeLoadBalancersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLoadBalancersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeLoadBalancersResult",
      "asyncReturnType" : "DescribeLoadBalancersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancersRequest, DescribeLoadBalancersResult>",
      "authenticated" : true,
      "methodName" : "describeLoadBalancers"
    },
    "DescribeMetricCollectionTypes" : {
      "documentation" : "<p>Describes the available CloudWatch metrics for Auto Scaling.</p> <p>Note that the <code>GroupStandbyInstances</code> metric is not returned by default. You must explicitly request this metric when calling <a>EnableMetricsCollection</a>.</p>",
      "operationName" : "DescribeMetricCollectionTypes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeMetricCollectionTypesRequest",
        "variableType" : "DescribeMetricCollectionTypesRequest",
        "variableDeclarationType" : "DescribeMetricCollectionTypesRequest",
        "documentation" : null,
        "simpleType" : "DescribeMetricCollectionTypesRequest",
        "variableSetterType" : "DescribeMetricCollectionTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeMetricCollectionTypesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeMetricCollectionTypesResult",
      "asyncReturnType" : "DescribeMetricCollectionTypesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMetricCollectionTypesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMetricCollectionTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMetricCollectionTypesRequest, DescribeMetricCollectionTypesResult>",
      "authenticated" : true,
      "methodName" : "describeMetricCollectionTypes"
    },
    "DescribeNotificationConfigurations" : {
      "documentation" : "<p>Describes the notification actions associated with the specified Auto Scaling group.</p>",
      "operationName" : "DescribeNotificationConfigurations",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeNotificationConfigurationsRequest",
        "variableType" : "DescribeNotificationConfigurationsRequest",
        "variableDeclarationType" : "DescribeNotificationConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeNotificationConfigurationsRequest",
        "variableSetterType" : "DescribeNotificationConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeNotificationConfigurationsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeNotificationConfigurationsResult",
      "asyncReturnType" : "DescribeNotificationConfigurationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNotificationConfigurationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNotificationConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNotificationConfigurationsRequest, DescribeNotificationConfigurationsResult>",
      "authenticated" : true,
      "methodName" : "describeNotificationConfigurations"
    },
    "DescribePolicies" : {
      "documentation" : "<p>Describes the policies for the specified Auto Scaling group.</p>",
      "operationName" : "DescribePolicies",
      "deprecated" : false,
      "input" : {
        "variableName" : "describePoliciesRequest",
        "variableType" : "DescribePoliciesRequest",
        "variableDeclarationType" : "DescribePoliciesRequest",
        "documentation" : "",
        "simpleType" : "DescribePoliciesRequest",
        "variableSetterType" : "DescribePoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribePoliciesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribePoliciesResult",
      "asyncReturnType" : "DescribePoliciesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePoliciesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePoliciesRequest, DescribePoliciesResult>",
      "authenticated" : true,
      "methodName" : "describePolicies"
    },
    "DescribeScalingActivities" : {
      "documentation" : "<p>Describes one or more scaling activities for the specified Auto Scaling group. If you omit the <code>ActivityIds</code>, the call returns all activities from the past six weeks. Activities are sorted by the start time. Activities still in progress appear first on the list.</p>",
      "operationName" : "DescribeScalingActivities",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeScalingActivitiesRequest",
        "variableType" : "DescribeScalingActivitiesRequest",
        "variableDeclarationType" : "DescribeScalingActivitiesRequest",
        "documentation" : "",
        "simpleType" : "DescribeScalingActivitiesRequest",
        "variableSetterType" : "DescribeScalingActivitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeScalingActivitiesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeScalingActivitiesResult",
      "asyncReturnType" : "DescribeScalingActivitiesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingActivitiesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingActivitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingActivitiesRequest, DescribeScalingActivitiesResult>",
      "authenticated" : true,
      "methodName" : "describeScalingActivities"
    },
    "DescribeScalingProcessTypes" : {
      "documentation" : "<p>Describes the scaling process types for use with <a>ResumeProcesses</a> and <a>SuspendProcesses</a>.</p>",
      "operationName" : "DescribeScalingProcessTypes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeScalingProcessTypesRequest",
        "variableType" : "DescribeScalingProcessTypesRequest",
        "variableDeclarationType" : "DescribeScalingProcessTypesRequest",
        "documentation" : null,
        "simpleType" : "DescribeScalingProcessTypesRequest",
        "variableSetterType" : "DescribeScalingProcessTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeScalingProcessTypesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeScalingProcessTypesResult",
      "asyncReturnType" : "DescribeScalingProcessTypesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingProcessTypesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingProcessTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingProcessTypesRequest, DescribeScalingProcessTypesResult>",
      "authenticated" : true,
      "methodName" : "describeScalingProcessTypes"
    },
    "DescribeScheduledActions" : {
      "documentation" : "<p>Describes the actions scheduled for your Auto Scaling group that haven't run. To describe the actions that have already run, use <a>DescribeScalingActivities</a>.</p>",
      "operationName" : "DescribeScheduledActions",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeScheduledActionsRequest",
        "variableType" : "DescribeScheduledActionsRequest",
        "variableDeclarationType" : "DescribeScheduledActionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeScheduledActionsRequest",
        "variableSetterType" : "DescribeScheduledActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeScheduledActionsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeScheduledActionsResult",
      "asyncReturnType" : "DescribeScheduledActionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScheduledActionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScheduledActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScheduledActionsRequest, DescribeScheduledActionsResult>",
      "authenticated" : true,
      "methodName" : "describeScheduledActions"
    },
    "DescribeTags" : {
      "documentation" : "<p>Describes the specified tags.</p> <p>You can use filters to limit the results. For example, you can query for the tags for a specific Auto Scaling group. You can specify multiple values for a filter. A tag must match at least one of the specified values for it to be included in the results.</p> <p>You can also specify multiple filters. The result includes information for a particular tag only if it matches all the filters. If there's no match, no special message is returned.</p>",
      "operationName" : "DescribeTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "variableDeclarationType" : "DescribeTagsRequest",
        "documentation" : "",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeTagsResult",
      "asyncReturnType" : "DescribeTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "authenticated" : true,
      "methodName" : "describeTags"
    },
    "DescribeTerminationPolicyTypes" : {
      "documentation" : "<p>Describes the termination policies supported by Auto Scaling.</p>",
      "operationName" : "DescribeTerminationPolicyTypes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTerminationPolicyTypesRequest",
        "variableType" : "DescribeTerminationPolicyTypesRequest",
        "variableDeclarationType" : "DescribeTerminationPolicyTypesRequest",
        "documentation" : null,
        "simpleType" : "DescribeTerminationPolicyTypesRequest",
        "variableSetterType" : "DescribeTerminationPolicyTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTerminationPolicyTypesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeTerminationPolicyTypesResult",
      "asyncReturnType" : "DescribeTerminationPolicyTypesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTerminationPolicyTypesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTerminationPolicyTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTerminationPolicyTypesRequest, DescribeTerminationPolicyTypesResult>",
      "authenticated" : true,
      "methodName" : "describeTerminationPolicyTypes"
    },
    "DetachInstances" : {
      "documentation" : "<p>Removes one or more instances from the specified Auto Scaling group.</p> <p>After the instances are detached, you can manage them independently from the rest of the Auto Scaling group.</p> <p>If you do not specify the option to decrement the desired capacity, Auto Scaling launches instances to replace the ones that are detached.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/detach-instance-asg.html\">Detach EC2 Instances from Your Auto Scaling Group</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "DetachInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "detachInstancesRequest",
        "variableType" : "DetachInstancesRequest",
        "variableDeclarationType" : "DetachInstancesRequest",
        "documentation" : "",
        "simpleType" : "DetachInstancesRequest",
        "variableSetterType" : "DetachInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DetachInstancesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DetachInstancesResult",
      "asyncReturnType" : "DetachInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DetachInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DetachInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachInstancesRequest, DetachInstancesResult>",
      "authenticated" : true,
      "methodName" : "detachInstances"
    },
    "DetachLoadBalancers" : {
      "documentation" : "<p>Removes one or more load balancers from the specified Auto Scaling group.</p> <p>When you detach a load balancer, it enters the <code>Removing</code> state while deregistering the instances in the group. When all instances are deregistered, then you can no longer describe the load balancer using <a>DescribeLoadBalancers</a>. Note that the instances remain running.</p>",
      "operationName" : "DetachLoadBalancers",
      "deprecated" : false,
      "input" : {
        "variableName" : "detachLoadBalancersRequest",
        "variableType" : "DetachLoadBalancersRequest",
        "variableDeclarationType" : "DetachLoadBalancersRequest",
        "documentation" : "",
        "simpleType" : "DetachLoadBalancersRequest",
        "variableSetterType" : "DetachLoadBalancersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DetachLoadBalancersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DetachLoadBalancersResult",
      "asyncReturnType" : "DetachLoadBalancersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DetachLoadBalancersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DetachLoadBalancersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachLoadBalancersRequest, DetachLoadBalancersResult>",
      "authenticated" : true,
      "methodName" : "detachLoadBalancers"
    },
    "DisableMetricsCollection" : {
      "documentation" : "<p>Disables monitoring of the specified metrics for the specified Auto Scaling group.</p>",
      "operationName" : "DisableMetricsCollection",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableMetricsCollectionRequest",
        "variableType" : "DisableMetricsCollectionRequest",
        "variableDeclarationType" : "DisableMetricsCollectionRequest",
        "documentation" : "",
        "simpleType" : "DisableMetricsCollectionRequest",
        "variableSetterType" : "DisableMetricsCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableMetricsCollectionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DisableMetricsCollectionResult",
      "asyncReturnType" : "DisableMetricsCollectionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableMetricsCollectionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableMetricsCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableMetricsCollectionRequest, DisableMetricsCollectionResult>",
      "authenticated" : true,
      "methodName" : "disableMetricsCollection"
    },
    "EnableMetricsCollection" : {
      "documentation" : "<p>Enables monitoring of the specified metrics for the specified Auto Scaling group.</p> <p>You can only enable metrics collection if <code>InstanceMonitoring</code> in the launch configuration for the group is set to <code>True</code>.</p>",
      "operationName" : "EnableMetricsCollection",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableMetricsCollectionRequest",
        "variableType" : "EnableMetricsCollectionRequest",
        "variableDeclarationType" : "EnableMetricsCollectionRequest",
        "documentation" : "",
        "simpleType" : "EnableMetricsCollectionRequest",
        "variableSetterType" : "EnableMetricsCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableMetricsCollectionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "EnableMetricsCollectionResult",
      "asyncReturnType" : "EnableMetricsCollectionResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableMetricsCollectionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableMetricsCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableMetricsCollectionRequest, EnableMetricsCollectionResult>",
      "authenticated" : true,
      "methodName" : "enableMetricsCollection"
    },
    "EnterStandby" : {
      "documentation" : "<p>Moves the specified instances into <code>Standby</code> mode.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingGroupLifecycle.html\">Auto Scaling Lifecycle</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "EnterStandby",
      "deprecated" : false,
      "input" : {
        "variableName" : "enterStandbyRequest",
        "variableType" : "EnterStandbyRequest",
        "variableDeclarationType" : "EnterStandbyRequest",
        "documentation" : "",
        "simpleType" : "EnterStandbyRequest",
        "variableSetterType" : "EnterStandbyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnterStandbyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "EnterStandbyResult",
      "asyncReturnType" : "EnterStandbyResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnterStandbyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnterStandbyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnterStandbyRequest, EnterStandbyResult>",
      "authenticated" : true,
      "methodName" : "enterStandby"
    },
    "ExecutePolicy" : {
      "documentation" : "<p>Executes the specified policy.</p>",
      "operationName" : "ExecutePolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "executePolicyRequest",
        "variableType" : "ExecutePolicyRequest",
        "variableDeclarationType" : "ExecutePolicyRequest",
        "documentation" : "",
        "simpleType" : "ExecutePolicyRequest",
        "variableSetterType" : "ExecutePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ExecutePolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ScalingActivityInProgressException",
        "documentation" : "<p>The Auto Scaling group can't be deleted because there are scaling activities in progress.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ExecutePolicyResult",
      "asyncReturnType" : "ExecutePolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<ExecutePolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ExecutePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecutePolicyRequest, ExecutePolicyResult>",
      "authenticated" : true,
      "methodName" : "executePolicy"
    },
    "ExitStandby" : {
      "documentation" : "<p>Moves the specified instances out of <code>Standby</code> mode.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingGroupLifecycle.html\">Auto Scaling Lifecycle</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "ExitStandby",
      "deprecated" : false,
      "input" : {
        "variableName" : "exitStandbyRequest",
        "variableType" : "ExitStandbyRequest",
        "variableDeclarationType" : "ExitStandbyRequest",
        "documentation" : "",
        "simpleType" : "ExitStandbyRequest",
        "variableSetterType" : "ExitStandbyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ExitStandbyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ExitStandbyResult",
      "asyncReturnType" : "ExitStandbyResult",
      "asyncFutureType" : "java.util.concurrent.Future<ExitStandbyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ExitStandbyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExitStandbyRequest, ExitStandbyResult>",
      "authenticated" : true,
      "methodName" : "exitStandby"
    },
    "PutLifecycleHook" : {
      "documentation" : "<p>Creates or updates a lifecycle hook for the specified Auto Scaling Group.</p> <p>A lifecycle hook tells Auto Scaling that you want to perform an action on an instance that is not actively in service; for example, either when the instance launches or before the instance terminates.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Auto Scaling launches or terminates instances.</li> <li>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Auto Scaling to publish lifecycle notifications to the target.</li> <li><b>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</b></li> <li>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</li> <li>If you finish before the timeout period ends, complete the lifecycle action.</li> </ol> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingGroupLifecycle.html\">Auto Scaling Lifecycle</a> in the <i>Auto Scaling Developer Guide</i>.</p> <p>If you exceed your maximum limit of lifecycle hooks, which by default is 50 per region, the call fails. For information about updating this limit, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>",
      "operationName" : "PutLifecycleHook",
      "deprecated" : false,
      "input" : {
        "variableName" : "putLifecycleHookRequest",
        "variableType" : "PutLifecycleHookRequest",
        "variableDeclarationType" : "PutLifecycleHookRequest",
        "documentation" : "",
        "simpleType" : "PutLifecycleHookRequest",
        "variableSetterType" : "PutLifecycleHookRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutLifecycleHookResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutLifecycleHookResult",
      "asyncReturnType" : "PutLifecycleHookResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutLifecycleHookResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutLifecycleHookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutLifecycleHookRequest, PutLifecycleHookResult>",
      "authenticated" : true,
      "methodName" : "putLifecycleHook"
    },
    "PutNotificationConfiguration" : {
      "documentation" : "<p> Configures an Auto Scaling group to send notifications when specified events take place. Subscribers to this topic can have messages for events delivered to an endpoint such as a web server or email address. </p> <p>For more information see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/ASGettingNotifications.html\">Getting Notifications When Your Auto Scaling Group Changes</a> in the <i>Auto Scaling Developer Guide</i>.</p> <p>This configuration overwrites an existing configuration.</p>",
      "operationName" : "PutNotificationConfiguration",
      "deprecated" : false,
      "input" : {
        "variableName" : "putNotificationConfigurationRequest",
        "variableType" : "PutNotificationConfigurationRequest",
        "variableDeclarationType" : "PutNotificationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutNotificationConfigurationRequest",
        "variableSetterType" : "PutNotificationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutNotificationConfigurationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutNotificationConfigurationResult",
      "asyncReturnType" : "PutNotificationConfigurationResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutNotificationConfigurationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutNotificationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutNotificationConfigurationRequest, PutNotificationConfigurationResult>",
      "authenticated" : true,
      "methodName" : "putNotificationConfiguration"
    },
    "PutScalingPolicy" : {
      "documentation" : "<p>Creates or updates a policy for an Auto Scaling group. To update an existing policy, use the existing policy name and set the parameters you want to change. Any existing parameter not changed in an update to an existing policy is not changed in this update request.</p> <p>If you exceed your maximum limit of step adjustments, which by default is 20 per region, the call fails. For information about updating this limit, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>",
      "operationName" : "PutScalingPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "putScalingPolicyRequest",
        "variableType" : "PutScalingPolicyRequest",
        "variableDeclarationType" : "PutScalingPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutScalingPolicyRequest",
        "variableSetterType" : "PutScalingPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutScalingPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutScalingPolicyResult",
      "asyncReturnType" : "PutScalingPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutScalingPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutScalingPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutScalingPolicyRequest, PutScalingPolicyResult>",
      "authenticated" : true,
      "methodName" : "putScalingPolicy"
    },
    "PutScheduledUpdateGroupAction" : {
      "documentation" : "<p> Creates or updates a scheduled scaling action for an Auto Scaling group. When updating a scheduled scaling action, if you leave a parameter unspecified, the corresponding value remains unchanged in the affected Auto Scaling group. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/schedule_time.html\">Scheduled Scaling</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "PutScheduledUpdateGroupAction",
      "deprecated" : false,
      "input" : {
        "variableName" : "putScheduledUpdateGroupActionRequest",
        "variableType" : "PutScheduledUpdateGroupActionRequest",
        "variableDeclarationType" : "PutScheduledUpdateGroupActionRequest",
        "documentation" : "",
        "simpleType" : "PutScheduledUpdateGroupActionRequest",
        "variableSetterType" : "PutScheduledUpdateGroupActionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutScheduledUpdateGroupActionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutScheduledUpdateGroupActionResult",
      "asyncReturnType" : "PutScheduledUpdateGroupActionResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutScheduledUpdateGroupActionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutScheduledUpdateGroupActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutScheduledUpdateGroupActionRequest, PutScheduledUpdateGroupActionResult>",
      "authenticated" : true,
      "methodName" : "putScheduledUpdateGroupAction"
    },
    "RecordLifecycleActionHeartbeat" : {
      "documentation" : "<p>Records a heartbeat for the lifecycle action associated with the specified token or instance. This extends the timeout by the length of time defined using <a>PutLifecycleHook</a>.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Auto Scaling launches or terminates instances.</li> <li>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Auto Scaling to publish lifecycle notifications to the target.</li> <li>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</li> <li><b>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</b></li> <li>If you finish before the timeout period ends, complete the lifecycle action.</li> </ol> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingGroupLifecycle.html\">Auto Scaling Lifecycle</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "RecordLifecycleActionHeartbeat",
      "deprecated" : false,
      "input" : {
        "variableName" : "recordLifecycleActionHeartbeatRequest",
        "variableType" : "RecordLifecycleActionHeartbeatRequest",
        "variableDeclarationType" : "RecordLifecycleActionHeartbeatRequest",
        "documentation" : "",
        "simpleType" : "RecordLifecycleActionHeartbeatRequest",
        "variableSetterType" : "RecordLifecycleActionHeartbeatRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RecordLifecycleActionHeartbeatResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RecordLifecycleActionHeartbeatResult",
      "asyncReturnType" : "RecordLifecycleActionHeartbeatResult",
      "asyncFutureType" : "java.util.concurrent.Future<RecordLifecycleActionHeartbeatResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RecordLifecycleActionHeartbeatResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RecordLifecycleActionHeartbeatRequest, RecordLifecycleActionHeartbeatResult>",
      "authenticated" : true,
      "methodName" : "recordLifecycleActionHeartbeat"
    },
    "ResumeProcesses" : {
      "documentation" : "<p>Resumes the specified suspended Auto Scaling processes, or all suspended process, for the specified Auto Scaling group.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/US_SuspendResume.html\">Suspending and Resuming Auto Scaling Processes</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "ResumeProcesses",
      "deprecated" : false,
      "input" : {
        "variableName" : "resumeProcessesRequest",
        "variableType" : "ResumeProcessesRequest",
        "variableDeclarationType" : "ResumeProcessesRequest",
        "documentation" : "",
        "simpleType" : "ResumeProcessesRequest",
        "variableSetterType" : "ResumeProcessesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ResumeProcessesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The Auto Scaling group or launch configuration can't be deleted because it is in use.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ResumeProcessesResult",
      "asyncReturnType" : "ResumeProcessesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ResumeProcessesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ResumeProcessesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResumeProcessesRequest, ResumeProcessesResult>",
      "authenticated" : true,
      "methodName" : "resumeProcesses"
    },
    "SetDesiredCapacity" : {
      "documentation" : "<p>Sets the size of the specified Auto Scaling group.</p> <p>For more information about desired capacity, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/WhatIsAutoScaling.html\">What Is Auto Scaling?</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "SetDesiredCapacity",
      "deprecated" : false,
      "input" : {
        "variableName" : "setDesiredCapacityRequest",
        "variableType" : "SetDesiredCapacityRequest",
        "variableDeclarationType" : "SetDesiredCapacityRequest",
        "documentation" : "",
        "simpleType" : "SetDesiredCapacityRequest",
        "variableSetterType" : "SetDesiredCapacityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetDesiredCapacityResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ScalingActivityInProgressException",
        "documentation" : "<p>The Auto Scaling group can't be deleted because there are scaling activities in progress.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SetDesiredCapacityResult",
      "asyncReturnType" : "SetDesiredCapacityResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetDesiredCapacityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetDesiredCapacityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetDesiredCapacityRequest, SetDesiredCapacityResult>",
      "authenticated" : true,
      "methodName" : "setDesiredCapacity"
    },
    "SetInstanceHealth" : {
      "documentation" : "<p>Sets the health status of the specified instance.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/healthcheck.html\">Health Checks</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "SetInstanceHealth",
      "deprecated" : false,
      "input" : {
        "variableName" : "setInstanceHealthRequest",
        "variableType" : "SetInstanceHealthRequest",
        "variableDeclarationType" : "SetInstanceHealthRequest",
        "documentation" : "",
        "simpleType" : "SetInstanceHealthRequest",
        "variableSetterType" : "SetInstanceHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetInstanceHealthResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SetInstanceHealthResult",
      "asyncReturnType" : "SetInstanceHealthResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetInstanceHealthResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetInstanceHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetInstanceHealthRequest, SetInstanceHealthResult>",
      "authenticated" : true,
      "methodName" : "setInstanceHealth"
    },
    "SetInstanceProtection" : {
      "documentation" : "<p>Updates the instance protection settings of the specified instances.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingBehavior.InstanceTermination.html#instance-protection\">Instance Protection</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "SetInstanceProtection",
      "deprecated" : false,
      "input" : {
        "variableName" : "setInstanceProtectionRequest",
        "variableType" : "SetInstanceProtectionRequest",
        "variableDeclarationType" : "SetInstanceProtectionRequest",
        "documentation" : "",
        "simpleType" : "SetInstanceProtectionRequest",
        "variableSetterType" : "SetInstanceProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetInstanceProtectionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SetInstanceProtectionResult",
      "asyncReturnType" : "SetInstanceProtectionResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetInstanceProtectionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetInstanceProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetInstanceProtectionRequest, SetInstanceProtectionResult>",
      "authenticated" : true,
      "methodName" : "setInstanceProtection"
    },
    "SuspendProcesses" : {
      "documentation" : "<p>Suspends the specified Auto Scaling processes, or all processes, for the specified Auto Scaling group.</p> <p>Note that if you suspend either the <code>Launch</code> or <code>Terminate</code> process types, it can prevent other process types from functioning properly.</p> <p>To resume processes that have been suspended, use <a>ResumeProcesses</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/US_SuspendResume.html\">Suspending and Resuming Auto Scaling Processes</a> in the <i>Auto Scaling Developer Guide</i>.</p>",
      "operationName" : "SuspendProcesses",
      "deprecated" : false,
      "input" : {
        "variableName" : "suspendProcessesRequest",
        "variableType" : "SuspendProcessesRequest",
        "variableDeclarationType" : "SuspendProcessesRequest",
        "documentation" : "",
        "simpleType" : "SuspendProcessesRequest",
        "variableSetterType" : "SuspendProcessesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SuspendProcessesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The Auto Scaling group or launch configuration can't be deleted because it is in use.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "SuspendProcessesResult",
      "asyncReturnType" : "SuspendProcessesResult",
      "asyncFutureType" : "java.util.concurrent.Future<SuspendProcessesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SuspendProcessesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SuspendProcessesRequest, SuspendProcessesResult>",
      "authenticated" : true,
      "methodName" : "suspendProcesses"
    },
    "TerminateInstanceInAutoScalingGroup" : {
      "documentation" : "<p>Terminates the specified instance and optionally adjusts the desired group size.</p> <p>This call simply makes a termination request. The instance is not terminated immediately.</p>",
      "operationName" : "TerminateInstanceInAutoScalingGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "terminateInstanceInAutoScalingGroupRequest",
        "variableType" : "TerminateInstanceInAutoScalingGroupRequest",
        "variableDeclarationType" : "TerminateInstanceInAutoScalingGroupRequest",
        "documentation" : "",
        "simpleType" : "TerminateInstanceInAutoScalingGroupRequest",
        "variableSetterType" : "TerminateInstanceInAutoScalingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TerminateInstanceInAutoScalingGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ScalingActivityInProgressException",
        "documentation" : "<p>The Auto Scaling group can't be deleted because there are scaling activities in progress.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "TerminateInstanceInAutoScalingGroupResult",
      "asyncReturnType" : "TerminateInstanceInAutoScalingGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateInstanceInAutoScalingGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateInstanceInAutoScalingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateInstanceInAutoScalingGroupRequest, TerminateInstanceInAutoScalingGroupResult>",
      "authenticated" : true,
      "methodName" : "terminateInstanceInAutoScalingGroup"
    },
    "UpdateAutoScalingGroup" : {
      "documentation" : "<p>Updates the configuration for the specified Auto Scaling group.</p> <p>To update an Auto Scaling group with a launch configuration with <code>InstanceMonitoring</code> set to <code>False</code>, you must first disable the collection of group metrics. Otherwise, you will get an error. If you have previously enabled the collection of group metrics, you can disable it using <a>DisableMetricsCollection</a>.</p> <p>The new settings are registered upon the completion of this call. Any launch configuration settings take effect on any triggers after this call returns. Scaling activities that are currently in progress aren't affected.</p> <p>Note the following:</p> <ul> <li> <p>If you specify a new value for <code>MinSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MinSize</code> is larger than the current size of the group, we implicitly call <a>SetDesiredCapacity</a> to set the size of the group to the new value of <code>MinSize</code>.</p> </li> <li> <p>If you specify a new value for <code>MaxSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MaxSize</code> is smaller than the current size of the group, we implicitly call <a>SetDesiredCapacity</a> to set the size of the group to the new value of <code>MaxSize</code>.</p> </li> <li> <p>All other optional parameters are left unchanged if not specified.</p> </li> </ul>",
      "operationName" : "UpdateAutoScalingGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateAutoScalingGroupRequest",
        "variableType" : "UpdateAutoScalingGroupRequest",
        "variableDeclarationType" : "UpdateAutoScalingGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateAutoScalingGroupRequest",
        "variableSetterType" : "UpdateAutoScalingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateAutoScalingGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ScalingActivityInProgressException",
        "documentation" : "<p>The Auto Scaling group can't be deleted because there are scaling activities in progress.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateAutoScalingGroupResult",
      "asyncReturnType" : "UpdateAutoScalingGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAutoScalingGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAutoScalingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAutoScalingGroupRequest, UpdateAutoScalingGroupResult>",
      "authenticated" : true,
      "methodName" : "updateAutoScalingGroup"
    }
  },
  "shapes" : {
    "DeletePolicyRequest" : {
      "c2jName" : "DeletePolicyType",
      "documentation" : "<p/>",
      "shapeName" : "DeletePolicyRequest",
      "deprecated" : false,
      "required" : [ "PolicyName" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of the Auto Scaling group.</p>",
        "name" : "AutoScalingGroupName",
        "c2jName" : "AutoScalingGroupName",
        "c2jShape" : "ResourceName",
        "variable" : {
          "variableName" : "autoScalingGroupName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the Auto Scaling group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "autoScalingGroupName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AutoScalingGroupName",
          "marshallLocationName" : "AutoScalingGroupName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the Auto Scaling group.</p>\n@param autoScalingGroupName The name of the Auto Scaling group.*/",
        "getterDocumentation" : "/**<p>The name of the Auto Scaling group.</p>\n@return The name of the Auto Scaling group.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the Auto Scaling group.</p>\n@param autoScalingGroupName The name of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the Auto Scaling group.</p>\n@param autoScalingGroupName The name of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The name or Amazon Resource Name (ARN) of the policy.</p>",
        "name" : "PolicyName",
        "c2jName" : "PolicyName",
        "c2jShape" : "ResourceName",
        "variable" : {
          "variableName" : "policyName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name or Amazon Resource Name (ARN) of the policy.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "policyName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "PolicyName",
          "marshallLocationName" : "PolicyName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
[...]
