{
  "metadata" : {
    "apiVersion" : "2014-05-30",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS CloudHSM Service</fullname>",
    "defaultEndpoint" : "https://cloudhsm.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "cloudhsm.us-east-1.amazonaws.com/",
    "syncInterface" : "AWSCloudHSM",
    "syncClient" : "AWSCloudHSMClient",
    "asyncInterface" : "AWSCloudHSMAsync",
    "asyncClient" : "AWSCloudHSMAsyncClient",
    "packageName" : "com.amazonaws.services.cloudhsm",
    "packagePath" : "com/amazonaws/services/cloudhsm",
    "serviceAbbreviation" : "CloudHSM",
    "serviceFullName" : "Amazon CloudHSM",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "cloudhsm",
    "signingName" : "cloudhsm",
    "jsonProtocol" : true,
    "xmlProtocol" : false,
    "cborProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "syncClientBuilderClassName" : "AWSCloudHSMClientBuilder",
    "asyncClientBuilderClassName" : "AWSCloudHSMAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSCloudHSMModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudhsm.smoketests",
    "serviceName" : "CloudHSM",
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "AddTagsToResource" : {
      "documentation" : "<p>Adds or overwrites one or more tags for the specified AWS CloudHSM resource.</p> <p>Each tag consists of a key and a value. Tag keys must be unique to each resource.</p>",
      "operationName" : "AddTagsToResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "documentation" : "",
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>",
      "authenticated" : true,
      "syncReturnType" : "AddTagsToResourceResult",
      "asyncReturnType" : "AddTagsToResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "methodName" : "addTagsToResource"
    },
    "CreateHapg" : {
      "documentation" : "<p>Creates a high-availability partition group. A high-availability partition group is a group of partitions that spans multiple physical HSMs.</p>",
      "operationName" : "CreateHapg",
      "deprecated" : false,
      "input" : {
        "variableName" : "createHapgRequest",
        "variableType" : "CreateHapgRequest",
        "variableDeclarationType" : "CreateHapgRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateHapgRequest</a> action.</p>",
        "simpleType" : "CreateHapgRequest",
        "variableSetterType" : "CreateHapgRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateHapgResult",
        "documentation" : "<p>Contains the output of the <a>CreateHAPartitionGroup</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHapgResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHapgRequest, CreateHapgResult>",
      "authenticated" : true,
      "syncReturnType" : "CreateHapgResult",
      "asyncReturnType" : "CreateHapgResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHapgResult>",
      "methodName" : "createHapg"
    },
    "CreateHsm" : {
      "documentation" : "<p>Creates an uninitialized HSM instance.</p> <p>There is an upfront fee charged for each HSM instance that you create with the <a>CreateHsm</a> operation. If you accidentally provision an HSM and want to request a refund, delete the instance using the <a>DeleteHsm</a> operation, go to the <a href=\"https://console.aws.amazon.com/support/home#/\">AWS Support Center</a>, create a new case, and select <b>Account and Billing Support</b>.</p> <important> <p>It can take up to 20 minutes to create and provision an HSM. You can monitor the status of the HSM with the <a>DescribeHsm</a> operation. The HSM is ready to be initialized when the status changes to <code>RUNNING</code>.</p> </important>",
      "operationName" : "CreateHsm",
      "deprecated" : false,
      "input" : {
        "variableName" : "createHsmRequest",
        "variableType" : "CreateHsmRequest",
        "variableDeclarationType" : "CreateHsmRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateHsm</a> operation.</p>",
        "simpleType" : "CreateHsmRequest",
        "variableSetterType" : "CreateHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateHsmResult",
        "documentation" : "<p>Contains the output of the <a>CreateHsm</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHsmRequest, CreateHsmResult>",
      "authenticated" : true,
      "syncReturnType" : "CreateHsmResult",
      "asyncReturnType" : "CreateHsmResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHsmResult>",
      "methodName" : "createHsm"
    },
    "CreateLunaClient" : {
      "documentation" : "<p>Creates an HSM client.</p>",
      "operationName" : "CreateLunaClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "createLunaClientRequest",
        "variableType" : "CreateLunaClientRequest",
        "variableDeclarationType" : "CreateLunaClientRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateLunaClient</a> action.</p>",
        "simpleType" : "CreateLunaClientRequest",
        "variableSetterType" : "CreateLunaClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateLunaClientResult",
        "documentation" : "<p>Contains the output of the <a>CreateLunaClient</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLunaClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLunaClientRequest, CreateLunaClientResult>",
      "authenticated" : true,
      "syncReturnType" : "CreateLunaClientResult",
      "asyncReturnType" : "CreateLunaClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLunaClientResult>",
      "methodName" : "createLunaClient"
    },
    "DeleteHapg" : {
      "documentation" : "<p>Deletes a high-availability partition group.</p>",
      "operationName" : "DeleteHapg",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteHapgRequest",
        "variableType" : "DeleteHapgRequest",
        "variableDeclarationType" : "DeleteHapgRequest",
        "documentation" : "<p>Contains the inputs for the <a>DeleteHapg</a> action.</p>",
        "simpleType" : "DeleteHapgRequest",
        "variableSetterType" : "DeleteHapgRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteHapgResult",
        "documentation" : "<p>Contains the output of the <a>DeleteHapg</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHapgResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHapgRequest, DeleteHapgResult>",
      "authenticated" : true,
      "syncReturnType" : "DeleteHapgResult",
      "asyncReturnType" : "DeleteHapgResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHapgResult>",
      "methodName" : "deleteHapg"
    },
    "DeleteHsm" : {
      "documentation" : "<p>Deletes an HSM. After completion, this operation cannot be undone and your key material cannot be recovered.</p>",
      "operationName" : "DeleteHsm",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteHsmRequest",
        "variableType" : "DeleteHsmRequest",
        "variableDeclarationType" : "DeleteHsmRequest",
        "documentation" : "<p>Contains the inputs for the <a>DeleteHsm</a> operation.</p>",
        "simpleType" : "DeleteHsmRequest",
        "variableSetterType" : "DeleteHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteHsmResult",
        "documentation" : "<p>Contains the output of the <a>DeleteHsm</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHsmRequest, DeleteHsmResult>",
      "authenticated" : true,
      "syncReturnType" : "DeleteHsmResult",
      "asyncReturnType" : "DeleteHsmResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHsmResult>",
      "methodName" : "deleteHsm"
    },
    "DeleteLunaClient" : {
      "documentation" : "<p>Deletes a client.</p>",
      "operationName" : "DeleteLunaClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteLunaClientRequest",
        "variableType" : "DeleteLunaClientRequest",
        "variableDeclarationType" : "DeleteLunaClientRequest",
        "documentation" : "",
        "simpleType" : "DeleteLunaClientRequest",
        "variableSetterType" : "DeleteLunaClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteLunaClientResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLunaClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLunaClientRequest, DeleteLunaClientResult>",
      "authenticated" : true,
      "syncReturnType" : "DeleteLunaClientResult",
      "asyncReturnType" : "DeleteLunaClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLunaClientResult>",
      "methodName" : "deleteLunaClient"
    },
    "DescribeHapg" : {
      "documentation" : "<p>Retrieves information about a high-availability partition group.</p>",
      "operationName" : "DescribeHapg",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeHapgRequest",
        "variableType" : "DescribeHapgRequest",
        "variableDeclarationType" : "DescribeHapgRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeHapg</a> action.</p>",
        "simpleType" : "DescribeHapgRequest",
        "variableSetterType" : "DescribeHapgRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeHapgResult",
        "documentation" : "<p>Contains the output of the <a>DescribeHapg</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeHapgResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeHapgRequest, DescribeHapgResult>",
      "authenticated" : true,
      "syncReturnType" : "DescribeHapgResult",
      "asyncReturnType" : "DescribeHapgResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeHapgResult>",
      "methodName" : "describeHapg"
    },
    "DescribeHsm" : {
      "documentation" : "<p>Retrieves information about an HSM. You can identify the HSM by its ARN or its serial number.</p>",
      "operationName" : "DescribeHsm",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeHsmRequest",
        "variableType" : "DescribeHsmRequest",
        "variableDeclarationType" : "DescribeHsmRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeHsm</a> operation. </p>",
        "simpleType" : "DescribeHsmRequest",
        "variableSetterType" : "DescribeHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeHsmResult",
        "documentation" : "<p>Contains the output of the <a>DescribeHsm</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeHsmRequest, DescribeHsmResult>",
      "authenticated" : true,
      "syncReturnType" : "DescribeHsmResult",
      "asyncReturnType" : "DescribeHsmResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeHsmResult>",
      "methodName" : "describeHsm"
    },
    "DescribeLunaClient" : {
      "documentation" : "<p>Retrieves information about an HSM client.</p>",
      "operationName" : "DescribeLunaClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLunaClientRequest",
        "variableType" : "DescribeLunaClientRequest",
        "variableDeclarationType" : "DescribeLunaClientRequest",
        "documentation" : "",
        "simpleType" : "DescribeLunaClientRequest",
        "variableSetterType" : "DescribeLunaClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLunaClientResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLunaClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLunaClientRequest, DescribeLunaClientResult>",
      "authenticated" : true,
      "syncReturnType" : "DescribeLunaClientResult",
      "asyncReturnType" : "DescribeLunaClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLunaClientResult>",
      "methodName" : "describeLunaClient"
    },
    "GetConfig" : {
      "documentation" : "<p>Gets the configuration files necessary to connect to all high availability partition groups the client is associated with.</p>",
      "operationName" : "GetConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "getConfigRequest",
        "variableType" : "GetConfigRequest",
        "variableDeclarationType" : "GetConfigRequest",
        "documentation" : "",
        "simpleType" : "GetConfigRequest",
        "variableSetterType" : "GetConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetConfigResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfigRequest, GetConfigResult>",
      "authenticated" : true,
      "syncReturnType" : "GetConfigResult",
      "asyncReturnType" : "GetConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfigResult>",
      "methodName" : "getConfig"
    },
    "ListAvailableZones" : {
      "documentation" : "<p>Lists the Availability Zones that have available AWS CloudHSM capacity.</p>",
      "operationName" : "ListAvailableZones",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAvailableZonesRequest",
        "variableType" : "ListAvailableZonesRequest",
        "variableDeclarationType" : "ListAvailableZonesRequest",
        "documentation" : "<p>Contains the inputs for the <a>ListAvailableZones</a> action.</p>",
        "simpleType" : "ListAvailableZonesRequest",
        "variableSetterType" : "ListAvailableZonesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAvailableZonesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<ListAvailableZonesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAvailableZonesRequest, ListAvailableZonesResult>",
      "authenticated" : true,
      "syncReturnType" : "ListAvailableZonesResult",
      "asyncReturnType" : "ListAvailableZonesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAvailableZonesResult>",
      "methodName" : "listAvailableZones"
    },
    "ListHapgs" : {
      "documentation" : "<p>Lists the high-availability partition groups for the account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHapgs</a> to retrieve the next set of items.</p>",
      "operationName" : "ListHapgs",
      "deprecated" : false,
      "input" : {
        "variableName" : "listHapgsRequest",
        "variableType" : "ListHapgsRequest",
        "variableDeclarationType" : "ListHapgsRequest",
        "documentation" : "",
        "simpleType" : "ListHapgsRequest",
        "variableSetterType" : "ListHapgsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListHapgsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<ListHapgsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHapgsRequest, ListHapgsResult>",
      "authenticated" : true,
      "syncReturnType" : "ListHapgsResult",
      "asyncReturnType" : "ListHapgsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListHapgsResult>",
      "methodName" : "listHapgs"
    },
    "ListHsms" : {
      "documentation" : "<p>Retrieves the identifiers of all of the HSMs provisioned for the current customer.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHsms</a> to retrieve the next set of items.</p>",
      "operationName" : "ListHsms",
      "deprecated" : false,
      "input" : {
        "variableName" : "listHsmsRequest",
        "variableType" : "ListHsmsRequest",
        "variableDeclarationType" : "ListHsmsRequest",
        "documentation" : "",
        "simpleType" : "ListHsmsRequest",
        "variableSetterType" : "ListHsmsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListHsmsResult",
        "documentation" : "<p>Contains the output of the <a>ListHsms</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<ListHsmsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHsmsRequest, ListHsmsResult>",
      "authenticated" : true,
      "syncReturnType" : "ListHsmsResult",
      "asyncReturnType" : "ListHsmsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListHsmsResult>",
      "methodName" : "listHsms"
    },
    "ListLunaClients" : {
      "documentation" : "<p>Lists all of the clients.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListLunaClients</a> to retrieve the next set of items.</p>",
      "operationName" : "ListLunaClients",
      "deprecated" : false,
      "input" : {
        "variableName" : "listLunaClientsRequest",
        "variableType" : "ListLunaClientsRequest",
        "variableDeclarationType" : "ListLunaClientsRequest",
        "documentation" : "",
        "simpleType" : "ListLunaClientsRequest",
        "variableSetterType" : "ListLunaClientsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListLunaClientsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<ListLunaClientsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLunaClientsRequest, ListLunaClientsResult>",
      "authenticated" : true,
      "syncReturnType" : "ListLunaClientsResult",
      "asyncReturnType" : "ListLunaClientsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListLunaClientsResult>",
      "methodName" : "listLunaClients"
    },
    "ListTagsForResource" : {
      "documentation" : "<p>Returns a list of all tags for the specified AWS CloudHSM resource.</p>",
      "operationName" : "ListTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "authenticated" : true,
      "syncReturnType" : "ListTagsForResourceResult",
      "asyncReturnType" : "ListTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "methodName" : "listTagsForResource"
    },
    "ModifyHapg" : {
      "documentation" : "<p>Modifies an existing high-availability partition group.</p>",
      "operationName" : "ModifyHapg",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyHapgRequest",
        "variableType" : "ModifyHapgRequest",
        "variableDeclarationType" : "ModifyHapgRequest",
        "documentation" : "",
        "simpleType" : "ModifyHapgRequest",
        "variableSetterType" : "ModifyHapgRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyHapgResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyHapgResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyHapgRequest, ModifyHapgResult>",
      "authenticated" : true,
      "syncReturnType" : "ModifyHapgResult",
      "asyncReturnType" : "ModifyHapgResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyHapgResult>",
      "methodName" : "modifyHapg"
    },
    "ModifyHsm" : {
      "documentation" : "<p>Modifies an HSM.</p> <important> <p>This operation can result in the HSM being offline for up to 15 minutes while the AWS CloudHSM service is reconfigured. If you are modifying a production HSM, you should ensure that your AWS CloudHSM service is configured for high availability, and consider executing this operation during a maintenance window.</p> </important>",
      "operationName" : "ModifyHsm",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyHsmRequest",
        "variableType" : "ModifyHsmRequest",
        "variableDeclarationType" : "ModifyHsmRequest",
        "documentation" : "<p>Contains the inputs for the <a>ModifyHsm</a> operation.</p>",
        "simpleType" : "ModifyHsmRequest",
        "variableSetterType" : "ModifyHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyHsmResult",
        "documentation" : "<p>Contains the output of the <a>ModifyHsm</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyHsmRequest, ModifyHsmResult>",
      "authenticated" : true,
      "syncReturnType" : "ModifyHsmResult",
      "asyncReturnType" : "ModifyHsmResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyHsmResult>",
      "methodName" : "modifyHsm"
    },
    "ModifyLunaClient" : {
      "documentation" : "<p>Modifies the certificate used by the client.</p> <p>This action can potentially start a workflow to install the new certificate on the client's HSMs.</p>",
      "operationName" : "ModifyLunaClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyLunaClientRequest",
        "variableType" : "ModifyLunaClientRequest",
        "variableDeclarationType" : "ModifyLunaClientRequest",
        "documentation" : "",
        "simpleType" : "ModifyLunaClientRequest",
        "variableSetterType" : "ModifyLunaClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyLunaClientResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyLunaClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyLunaClientRequest, ModifyLunaClientResult>",
      "authenticated" : true,
      "syncReturnType" : "ModifyLunaClientResult",
      "asyncReturnType" : "ModifyLunaClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyLunaClientResult>",
      "methodName" : "modifyLunaClient"
    },
    "RemoveTagsFromResource" : {
      "documentation" : "<p>Removes one or more tags from the specified AWS CloudHSM resource.</p> <p>To remove a tag, specify only the tag key to remove (not the value). To overwrite the value for an existing tag, use <a>AddTagsToResource</a>.</p>",
      "operationName" : "RemoveTagsFromResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsFromResourceRequest",
        "variableType" : "RemoveTagsFromResourceRequest",
        "variableDeclarationType" : "RemoveTagsFromResourceRequest",
        "documentation" : "",
        "simpleType" : "RemoveTagsFromResourceRequest",
        "variableSetterType" : "RemoveTagsFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsFromResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromResourceRequest, RemoveTagsFromResourceResult>",
      "authenticated" : true,
      "syncReturnType" : "RemoveTagsFromResourceResult",
      "asyncReturnType" : "RemoveTagsFromResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromResourceResult>",
      "methodName" : "removeTagsFromResource"
    }
  },
  "shapes" : {
    "DeleteHsmRequest" : {
      "c2jName" : "DeleteHsmRequest",
      "documentation" : "<p>Contains the inputs for the <a>DeleteHsm</a> operation.</p>",
      "shapeName" : "DeleteHsmRequest",
      "deprecated" : false,
      "required" : [ "HsmArn" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ARN of the HSM to delete.</p>",
        "name" : "HsmArn",
        "c2jName" : "HsmArn",
        "c2jShape" : "HsmArn",
        "variable" : {
          "variableName" : "hsmArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ARN of the HSM to delete.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "hsmArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "HsmArn",
          "marshallLocationName" : "HsmArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ARN of the HSM to delete.</p>\n@param hsmArn The ARN of the HSM to delete.*/",
        "getterDocumentation" : "/**<p>The ARN of the HSM to delete.</p>\n@return The ARN of the HSM to delete.*/",
        "fluentSetterDocumentation" : "/**<p>The ARN of the HSM to delete.</p>\n@param hsmArn The ARN of the HSM to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ARN of the HSM to delete.</p>\n@param hsmArn The ARN of the HSM to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "deleteHsmRequest",
        "variableType" : "DeleteHsmRequest",
        "variableDeclarationType" : "DeleteHsmRequest",
        "documentation" : null,
        "simpleType" : "DeleteHsmRequest",
        "variableSetterType" : "DeleteHsmRequest"
      },
      "marshaller" : {
        "action" : "DeleteHsm",
        "verb" : "POST",
        "target" : "CloudHsmFrontendService.DeleteHsm",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "HsmArn" : {
          "documentation" : "<p>The ARN of the HSM to delete.</p>",
          "name" : "HsmArn",
          "c2jName" : "HsmArn",
          "c2jShape" : "HsmArn",
          "variable" : {
            "variableName" : "hsmArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ARN of the HSM to delete.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "hsmArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "HsmArn",
            "marshallLocationName" : "HsmArn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ARN of the HSM to delete.</p>\n@param hsmArn The ARN of the HSM to delete.*/",
          "getterDocumentation" : "/**<p>The ARN of the HSM to delete.</p>\n@return The ARN of the HSM to delete.*/",
          "fluentSetterDocumentation" : "/**<p>The ARN of the HSM to delete.</p>\n@param hsmArn The ARN of the HSM to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ARN of the HSM to delete.</p>\n@param hsmArn The ARN of the HSM to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DescribeLunaClientResult" : {
      "c2jName" : "DescribeLunaClientResponse",
      "documentation" : "",
      "shapeName" : "DescribeLunaClientResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ARN of the client.</p>",
        "name" : "ClientArn",
        "c2jName" : "ClientArn",
        "c2jShape" : "ClientArn",
        "variable" : {
          "variableName" : "clientArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ARN of the client.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "clientArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ClientArn",
          "marshallLocationName" : "ClientArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ARN of the client.</p>\n@param clientArn The ARN of the client.*/",
        "getterDocumentation" : "/**<p>The ARN of the client.</p>\n@return The ARN of the client.*/",
        "fluentSetterDocumentation" : "/**<p>The ARN of the client.</p>\n@param clientArn The ARN of the client.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ARN of the client.</p>\n@param clientArn The ARN of the client.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The certificate installed on the HSMs used by this client.</p>",
        "name" : "Certificate",
        "c2jName" : "Certificate",
        "c2jShape" : "Certificate",
        "variable" : {
          "variableName" : "certificate",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The certificate installed on the HSMs used by this client.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "certificate",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Certificate",
          "marshallLocationName" : "Certificate",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The certificate installed on the HSMs used by this client.</p>\n@param certificate The certificate installed on the HSMs used by this client.*/",
        "getterDocumentation" : "/**<p>The certificate installed on the HSMs used by this client.</p>\n@return The certificate installed on the HSMs used by this client.*/",
        "fluentSetterDocumentation" : "/**<p>The certificate installed on the HSMs used by this client.</p>\n@param certificate The certificate installed on the HSMs used by this client.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The certificate installed on the HSMs used by this client.</p>\n@param certificate The certificate installed on the HSMs used by this client.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The certificate fingerprint.</p>",
        "name" : "CertificateFingerprint",
        "c2jName" : "CertificateFingerprint",
        "c2jShape" : "CertificateFingerprint",
        "variable" : {
          "variableName" : "certificateFingerprint",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The certificate fingerprint.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "certificateFingerprint",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CertificateFingerprint",
          "marshallLocationName" : "CertificateFingerprint",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The certificate fingerprint.</p>\n@param certificateFingerprint The certificate fingerprint.*/",
        "getterDocumentation" : "/**<p>The certificate fingerprint.</p>\n@return The certificate fingerprint.*/",
        "fluentSetterDocumentation" : "/**<p>The certificate fingerprint.</p>\n@param certificateFingerprint The certificate fingerprint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The certificate fingerprint.</p>\n@param certificateFingerprint The certificate fingerprint.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The date and time the client was last modified.</p>",
        "name" : "LastModifiedTimestamp",
        "c2jName" : "LastModifiedTimestamp",
        "c2jShape" : "Timestamp",
        "variable" : {
          "variableName" : "lastModifiedTimestamp",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The date and time the client was last modified.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "lastModifiedTimestamp",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "LastModifiedTimestamp",
          "marshallLocationName" : "LastModifiedTimestamp",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The date and time the client was last modified.</p>\n@param lastModifiedTimestamp The date and time the client was last modified.*/",
        "getterDocumentation" : "/**<p>The date and time the client was last modified.</p>\n@return The date and time the client was last modified.*/",
        "fluentSetterDocumentation" : "/**<p>The date and time the client was last modified.</p>\n@param lastModifiedTimestamp The date and time the client was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The date and time the client was last modified.</p>\n@param lastModifiedTimestamp The date and time the client was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The label of the client.</p>",
        "name" : "Label",
        "c2jName" : "Label",
        "c2jShape" : "Label",
        "variable" : {
          "variableName" : "label",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The label of the client.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "label",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Label",
          "marshallLocationName" : "Label",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The label of the client.</p>\n@param label The label of the client.*/",
        "getterDocumentation" : "/**<p>The label of the client.</p>\n@return The label of the client.*/",
        "fluentSetterDocumentation" : "/**<p>The label of the client.</p>\n@param label The label of the client.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The label of the client.</p>\n@param label The label of the client.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeLunaClientResult",
        "variableType" : "DescribeLunaClientResult",
        "variableDeclarationType" : "DescribeLunaClientResult",
        "documentation" : null,
        "simpleType" : "DescribeLunaClientResult",
        "variableSetterType" : "DescribeLunaClientResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ClientArn" : {
          "documentation" : "<p>The ARN of the client.</p>",
          "name" : "ClientArn",
          "c2jName" : "ClientArn",
          "c2jShape" : "ClientArn",
          "variable" : {
            "variableName" : "clientArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ARN of the client.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "clientArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ClientArn",
            "marshallLocationName" : "ClientArn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ARN of the client.</p>\n@param clientArn The ARN of the client.*/",
          "getterDocumentation" : "/**<p>The ARN of the client.</p>\n@return The ARN of the client.*/",
          "fluentSetterDocumentation" : "/**<p>The ARN of the client.</p>\n@param clientArn The ARN of the client.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ARN of the client.</p>\n@param clientArn The ARN of the client.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "CertificateFingerprint" : {
          "documentation" : "<p>The certificate fingerprint.</p>",
          "name" : "CertificateFingerprint",
          "c2jName" : "CertificateFingerprint",
          "c2jShape" : "CertificateFingerprint",
          "variable" : {
            "variableName" : "certificateFingerprint",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The certificate fingerprint.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "certificateFingerprint",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "CertificateFingerprint",
            "marshallLocationName" : "CertificateFingerprint",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The certificate fingerprint.</p>\n@param certificateFingerprint The certificate fingerprint.*/",
          "getterDocumentation" : "/**<p>The certificate fingerprint.</p>\n@return The certificate fingerprint.*/",
          "fluentSetterDocumentation" : "/**<p>The certificate fingerprint.</p>\n@param certificateFingerprint The certificate fingerprint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The certificate fingerprint.</p>\n@param certificateFingerprint The certificate fingerprint.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Label" : {
          "documentation" : "<p>The label of the client.</p>",
          "name" : "Label",
          "c2jName" : "Label",
          "c2jShape" : "Label",
          "variable" : {
            "variableName" : "label",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The label of the client.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "label",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Label",
            "marshallLocationName" : "Label",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The label of the client.</p>\n@param label The label of the client.*/",
          "getterDocumentation" : "/**<p>The label of the client.</p>\n@return The label of the client.*/",
          "fluentSetterDocumentation" : "/**<p>The label of the client.</p>\n@param label The label of the client.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The label of the client.</p>\n@param label The label of the client.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "LastModifiedTimestamp" : {
          "documentation" : "<p>The date and time the client was last modified.</p>",
          "name" : "LastModifiedTimestamp",
          "c2jName" : "LastModifiedTimestamp",
          "c2jShape" : "Timestamp",
          "variable" : {
            "variableName" : "lastModifiedTimestamp",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The date and time the client was last modified.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "lastModifiedTimestamp",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "LastModifiedTimestamp",
            "marshallLocationName" : "LastModifiedTimestamp",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The date and time the client was last modified.</p>\n@param lastModifiedTimestamp The date and time the client was last modified.*/",
          "getterDocumentation" : "/**<p>The date and time the client was last modified.</p>\n@return The date and time the client was last modified.*/",
          "fluentSetterDocumentation" : "/**<p>The date and time the client was last modified.</p>\n@param lastModifiedTimestamp The date and time the client was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The date and time the client was last modified.</p>\n@param lastModifiedTimestamp The date and time the client was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Certificate" : {
          "documentation" : "<p>The certificate installed on the HSMs used by this client.</p>",
          "name" : "Certificate",
          "c2jName" : "Certificate",
          "c2jShape" : "Certificate",
          "variable" : {
            "variableName" : "certificate",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The certificate installed on the HSMs used by this client.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "certificate",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Certificate",
            "marshallLocationName" : "Certificate",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The certificate installed on the HSMs used by this client.</p>\n@param certificate The certificate installed on the HSMs used by this client.*/",
          "getterDocumentation" : "/**<p>The certificate installed on the HSMs used by this client.</p>\n@return The certificate installed on the HSMs used by this client.*/",
          "fluentSetterDocumentation" : "/**<p>The certificate installed on the HSMs used by this client.</p>\n@param certificate The certificate installed on the HSMs used by this client.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The certificate installed on the HSMs used by this client.</p>\n@param certificate The certificate installed on the HSMs used by this client.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "CreateHapgResult" : {
      "c2jName" : "CreateHapgResponse",
      "documentation" : "<p>Contains the output of the <a>CreateHAPartitionGroup</a> action.</p>",
      "shapeName" : "CreateHapgResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ARN of the high-availability partition group.</p>",
        "name" : "HapgArn",
        "c2jName" : "HapgArn",
        "c2jShape" : "HapgArn",
        "variable" : {
          "variableName" : "hapgArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ARN of the high-availability partition group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "hapgArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "HapgArn",
          "marshallLocationName" : "HapgArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@param hapgArn The ARN of the high-availability partition group.*/",
        "getterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@return The ARN of the high-availability partition group.*/",
        "fluentSetterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@param hapgArn The ARN of the high-availability partition group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@param hapgArn The ARN of the high-availability partition group.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "createHapgResult",
        "variableType" : "CreateHapgResult",
        "variableDeclarationType" : "CreateHapgResult",
        "documentation" : null,
        "simpleType" : "CreateHapgResult",
        "variableSetterType" : "CreateHapgResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "HapgArn" : {
          "documentation" : "<p>The ARN of the high-availability partition group.</p>",
          "name" : "HapgArn",
          "c2jName" : "HapgArn",
          "c2jShape" : "HapgArn",
          "variable" : {
            "variableName" : "hapgArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ARN of the high-availability partition group.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "hapgArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "HapgArn",
            "marshallLocationName" : "HapgArn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@param hapgArn The ARN of the high-availability partition group.*/",
          "getterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@return The ARN of the high-availability partition group.*/",
          "fluentSetterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@param hapgArn The ARN of the high-availability partition group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@param hapgArn The ARN of the high-availability partition group.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "GetConfigRequest" : {
      "c2jName" : "GetConfigRequest",
      "documentation" : "",
      "shapeName" : "GetConfigRequest",
      "deprecated" : false,
      "required" : [ "ClientArn", "ClientVersion", "HapgList" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ARN of the client.</p>",
        "name" : "ClientArn",
        "c2jName" : "ClientArn",
        "c2jShape" : "ClientArn",
        "variable" : {
          "variableName" : "clientArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ARN of the client.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "clientArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ClientArn",
          "marshallLocationName" : "ClientArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ARN of the client.</p>\n@param clientArn The ARN of the client.*/",
        "getterDocumentation" : "/**<p>The ARN of the client.</p>\n@return The ARN of the client.*/",
        "fluentSetterDocumentation" : "/**<p>The ARN of the client.</p>\n@param clientArn The ARN of the client.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ARN of the client.</p>\n@param clientArn The ARN of the client.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The client version.</p>",
        "name" : "ClientVersion",
        "c2jName" : "ClientVersion",
        "c2jShape" : "ClientVersion",
        "variable" : {
          "variableName" : "clientVersion",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The client version.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "clientVersion",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ClientVersion",
          "marshallLocationName" : "ClientVersion",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "ClientVersion",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The client version.</p>\n@param clientVersion The client version.\n@see ClientVersion*/",
        "getterDocumentation" : "/**<p>The client version.</p>\n@return The client version.\n@see ClientVersion*/",
        "fluentSetterDocumentation" : "/**<p>The client version.</p>\n@param clientVersion The client version.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ClientVersion*/",
        "varargSetterDocumentation" : "/**<p>The client version.</p>\n@param clientVersion The client version.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ClientVersion*/"
      }, {
        "documentation" : "<p>A list of ARNs that identify the high-availability partition groups that are associated with the client.</p>",
        "name" : "HapgList",
        "c2jName" : "HapgList",
        "c2jShape" : "HapgList",
        "variable" : {
          "variableName" : "hapgList",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>A list of ARNs that identify the high-availability partition groups that are associated with the client.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "hapgList",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "HapgList",
          "marshallLocationName" : "HapgList",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "HapgArn",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of ARNs that identify the high-availability partition groups that are associated with the client.</p>\n@param hapgList A list of ARNs that identify the high-availability partition groups that are associated with the client.*/",
        "getterDocumentation" : "/**<p>A list of ARNs that identify the high-availability partition groups that are associated with the client.</p>\n@return A list of ARNs that identify the high-availability partition groups that are associated with the client.*/",
        "fluentSetterDocumentation" : "/**<p>A list of ARNs that identify the high-availability partition groups that are associated with the client.</p>\n@param hapgList A list of ARNs that identify the high-availability partition groups that are associated with the client.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of ARNs that identify the high-availability partition groups that are associated with the client.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setHapgList(java.util.Collection)} or {@link #withHapgList(java.util.Collection)} if you want to override the existing values.</p>\n@param hapgList A list of ARNs that identify the high-availability partition groups that are associated with the client.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getConfigRequest",
        "variableType" : "GetConfigRequest",
        "variableDeclarationType" : "GetConfigRequest",
        "documentation" : null,
        "simpleType" : "GetConfigRequest",
        "variableSetterType" : "GetConfigRequest"
      },
      "marshaller" : {
        "action" : "GetConfig",
        "verb" : "POST",
        "target" : "CloudHsmFrontendService.GetConfig",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ClientArn" : {
          "documentation" : "<p>The ARN of the client.</p>",
          "name" : "ClientArn",
          "c2jName" : "ClientArn",
          "c2jShape" : "ClientArn",
          "variable" : {
            "variableName" : "clientArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ARN of the client.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "clientArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ClientArn",
            "marshallLocationName" : "ClientArn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ARN of the client.</p>\n@param clientArn The ARN of the client.*/",
          "getterDocumentation" : "/**<p>The ARN of the client.</p>\n@return The ARN of the client.*/",
          "fluentSetterDocumentation" : "/**<p>The ARN of the client.</p>\n@param clientArn The ARN of the client.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ARN of the client.</p>\n@param clientArn The ARN of the client.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "HapgList" : {
          "documentation" : "<p>A list of ARNs that identify the high-availability partition groups that are associated with the client.</p>",
          "name" : "HapgList",
          "c2jName" : "HapgList",
          "c2jShape" : "HapgList",
          "variable" : {
            "variableName" : "hapgList",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "documentation" : "<p>A list of ARNs that identify the high-availability partition groups that are associated with the client.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "setterModel" : {
            "variableName" : "hapgList",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "HapgList",
            "marshallLocationName" : "HapgList",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "String",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "HapgArn",
              "variable" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : true,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "map" : false,
            "simpleType" : "String",
            "templateType" : "java.util.List<String>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of ARNs that identify the high-availability partition groups that are associated with the client.</p>\n@param hapgList A list of ARNs that identify the high-availability partition groups that are associated with the client.*/",
          "getterDocumentation" : "/**<p>A list of ARNs that identify the high-availability partition groups that are associated with the client.</p>\n@return A list of ARNs that identify the high-availability partition groups that are associated with the client.*/",
          "fluentSetterDocumentation" : "/**<p>A list of ARNs that identify the high-availability partition groups that are associated with the client.</p>\n@param hapgList A list of ARNs that identify the high-availability partition groups that are associated with the client.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of ARNs that identify the high-availability partition groups that are associated with the client.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setHapgList(java.util.Collection)} or {@link #withHapgList(java.util.Collection)} if you want to override the existing values.</p>\n@param hapgList A list of ARNs that identify the high-availability partition groups that are associated with the client.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "ClientVersion" : {
          "documentation" : "<p>The client version.</p>",
          "name" : "ClientVersion",
          "c2jName" : "ClientVersion",
          "c2jShape" : "ClientVersion",
          "variable" : {
            "variableName" : "clientVersion",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The client version.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "clientVersion",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ClientVersion",
            "marshallLocationName" : "ClientVersion",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "ClientVersion",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The client version.</p>\n@param clientVersion The client version.\n@see ClientVersion*/",
          "getterDocumentation" : "/**<p>The client version.</p>\n@return The client version.\n@see ClientVersion*/",
          "fluentSetterDocumentation" : "/**<p>The client version.</p>\n@param clientVersion The client version.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ClientVersion*/",
          "varargSetterDocumentation" : "/**<p>The client version.</p>\n@param clientVersion The client version.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ClientVersion*/"
        }
      }
    },
    "DescribeHsmRequest" : {
      "c2jName" : "DescribeHsmRequest",
      "documentation" : "<p>Contains the inputs for the <a>DescribeHsm</a> operation. </p>",
      "shapeName" : "DescribeHsmRequest",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ARN of the HSM. Either the <i>HsmArn</i> or the <i>SerialNumber</i> parameter must be specified.</p>",
        "name" : "HsmArn",
        "c2jName" : "HsmArn",
        "c2jShape" : "HsmArn",
        "variable" : {
          "variableName" : "hsmArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ARN of the HSM. Either the <i>HsmArn</i> or the <i>SerialNumber</i> parameter must be specified.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "hsmArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "HsmArn",
          "marshallLocationName" : "HsmArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ARN of the HSM. Either the <i>HsmArn</i> or the <i>SerialNumber</i> parameter must be specified.</p>\n@param hsmArn The ARN of the HSM. Either the <i>HsmArn</i> or the <i>SerialNumber</i> parameter must be specified.*/",
[...]
