{
  "metadata" : {
    "apiVersion" : "2014-05-30",
    "exceptionUnmarshallerImpl" : null,
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS CloudHSM Service</fullname>",
    "defaultEndpoint" : "https://cloudhsm.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "cloudhsm.us-east-1.amazonaws.com/",
    "syncInterface" : "AWSCloudHSM",
    "syncClient" : "AWSCloudHSMClient",
    "asyncInterface" : "AWSCloudHSMAsync",
    "asyncClient" : "AWSCloudHSMAsyncClient",
    "packageName" : "com.amazonaws.services.cloudhsm",
    "packagePath" : "com/amazonaws/services/cloudhsm",
    "serviceAbbreviation" : "CloudHSM",
    "serviceFullName" : "Amazon CloudHSM",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : "application/x-amz-json-1.1",
    "endpointPrefix" : "cloudhsm",
    "signingName" : "cloudhsm",
    "serviceName" : "CloudHSM",
    "jsonProtocol" : true,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUnmarshallerType" : "JsonErrorUnmarshaller"
  },
  "operations" : {
    "CreateHapg" : {
      "documentation" : "<p>Creates a high-availability partition group. A high-availability partition group is a group of partitions that spans multiple physical HSMs.</p>",
      "operationName" : "CreateHapg",
      "deprecated" : false,
      "input" : {
        "variableName" : "createHapgRequest",
        "variableType" : "CreateHapgRequest",
        "variableDeclarationType" : "CreateHapgRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateHapgRequest</a> action.</p>",
        "variableSetterType" : "CreateHapgRequest",
        "simpleType" : "CreateHapgRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateHapgResult",
        "documentation" : "<p>Contains the output of the <a>CreateHAPartitionGroup</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Creates a high-availability partition group. A high-availability partition group is a group of partitions that spans multiple physical HSMs.</p>\n@param createHapgRequest Contains the inputs for the <a>CreateHapgRequest</a> action.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateHapg operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Creates a high-availability partition group. A high-availability partition group is a group of partitions that spans multiple physical HSMs.</p>\n@param createHapgRequest Contains the inputs for the <a>CreateHapgRequest</a> action.\n@return Result of the CreateHapg operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Creates a high-availability partition group. A high-availability partition group is a group of partitions that spans multiple physical HSMs.</p>\n@param createHapgRequest Contains the inputs for the <a>CreateHapgRequest</a> action.\n@return A Java Future containing the result of the CreateHapg operation returned by the service.*/",
      "syncReturnType" : "CreateHapgResult",
      "asyncReturnType" : "CreateHapgResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHapgResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHapgResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHapgRequest, CreateHapgResult>",
      "methodName" : "createHapg"
    },
    "CreateHsm" : {
      "documentation" : "<p>Creates an uninitialized HSM instance. Running this command provisions an HSM appliance and will result in charges to your AWS account for the HSM.</p>",
      "operationName" : "CreateHsm",
      "deprecated" : false,
      "input" : {
        "variableName" : "createHsmRequest",
        "variableType" : "CreateHsmRequest",
        "variableDeclarationType" : "CreateHsmRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateHsm</a> action. </p>",
        "variableSetterType" : "CreateHsmRequest",
        "simpleType" : "CreateHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateHsmResult",
        "documentation" : "<p>Contains the output of the <a>CreateHsm</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Creates an uninitialized HSM instance. Running this command provisions an HSM appliance and will result in charges to your AWS account for the HSM.</p>\n@param createHsmRequest Contains the inputs for the <a>CreateHsm</a> action.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateHsm operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Creates an uninitialized HSM instance. Running this command provisions an HSM appliance and will result in charges to your AWS account for the HSM.</p>\n@param createHsmRequest Contains the inputs for the <a>CreateHsm</a> action.\n@return Result of the CreateHsm operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Creates an uninitialized HSM instance. Running this command provisions an HSM appliance and will result in charges to your AWS account for the HSM.</p>\n@param createHsmRequest Contains the inputs for the <a>CreateHsm</a> action.\n@return A Java Future containing the result of the CreateHsm operation returned by the service.*/",
      "syncReturnType" : "CreateHsmResult",
      "asyncReturnType" : "CreateHsmResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHsmResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHsmRequest, CreateHsmResult>",
      "methodName" : "createHsm"
    },
    "CreateLunaClient" : {
      "documentation" : "<p>Creates an HSM client.</p>",
      "operationName" : "CreateLunaClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "createLunaClientRequest",
        "variableType" : "CreateLunaClientRequest",
        "variableDeclarationType" : "CreateLunaClientRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateLunaClient</a> action.</p>",
        "variableSetterType" : "CreateLunaClientRequest",
        "simpleType" : "CreateLunaClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateLunaClientResult",
        "documentation" : "<p>Contains the output of the <a>CreateLunaClient</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Creates an HSM client.</p>\n@param createLunaClientRequest Contains the inputs for the <a>CreateLunaClient</a> action.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateLunaClient operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Creates an HSM client.</p>\n@param createLunaClientRequest Contains the inputs for the <a>CreateLunaClient</a> action.\n@return Result of the CreateLunaClient operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Creates an HSM client.</p>\n@param createLunaClientRequest Contains the inputs for the <a>CreateLunaClient</a> action.\n@return A Java Future containing the result of the CreateLunaClient operation returned by the service.*/",
      "syncReturnType" : "CreateLunaClientResult",
      "asyncReturnType" : "CreateLunaClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLunaClientResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLunaClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLunaClientRequest, CreateLunaClientResult>",
      "methodName" : "createLunaClient"
    },
    "DeleteHapg" : {
      "documentation" : "<p>Deletes a high-availability partition group.</p>",
      "operationName" : "DeleteHapg",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteHapgRequest",
        "variableType" : "DeleteHapgRequest",
        "variableDeclarationType" : "DeleteHapgRequest",
        "documentation" : "<p>Contains the inputs for the <a>DeleteHapg</a> action.</p>",
        "variableSetterType" : "DeleteHapgRequest",
        "simpleType" : "DeleteHapgRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteHapgResult",
        "documentation" : "<p>Contains the output of the <a>DeleteHapg</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Deletes a high-availability partition group.</p>\n@param deleteHapgRequest Contains the inputs for the <a>DeleteHapg</a> action.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DeleteHapg operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Deletes a high-availability partition group.</p>\n@param deleteHapgRequest Contains the inputs for the <a>DeleteHapg</a> action.\n@return Result of the DeleteHapg operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Deletes a high-availability partition group.</p>\n@param deleteHapgRequest Contains the inputs for the <a>DeleteHapg</a> action.\n@return A Java Future containing the result of the DeleteHapg operation returned by the service.*/",
      "syncReturnType" : "DeleteHapgResult",
      "asyncReturnType" : "DeleteHapgResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHapgResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHapgResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHapgRequest, DeleteHapgResult>",
      "methodName" : "deleteHapg"
    },
    "DeleteHsm" : {
      "documentation" : "<p>Deletes an HSM. Once complete, this operation cannot be undone and your key material cannot be recovered.</p>",
      "operationName" : "DeleteHsm",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteHsmRequest",
        "variableType" : "DeleteHsmRequest",
        "variableDeclarationType" : "DeleteHsmRequest",
        "documentation" : "<p>Contains the inputs for the <a>DeleteHsm</a> action. </p>",
        "variableSetterType" : "DeleteHsmRequest",
        "simpleType" : "DeleteHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteHsmResult",
        "documentation" : "<p>Contains the output of the <a>DeleteHsm</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Deletes an HSM. Once complete, this operation cannot be undone and your key material cannot be recovered.</p>\n@param deleteHsmRequest Contains the inputs for the <a>DeleteHsm</a> action.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DeleteHsm operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Deletes an HSM. Once complete, this operation cannot be undone and your key material cannot be recovered.</p>\n@param deleteHsmRequest Contains the inputs for the <a>DeleteHsm</a> action.\n@return Result of the DeleteHsm operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Deletes an HSM. Once complete, this operation cannot be undone and your key material cannot be recovered.</p>\n@param deleteHsmRequest Contains the inputs for the <a>DeleteHsm</a> action.\n@return A Java Future containing the result of the DeleteHsm operation returned by the service.*/",
      "syncReturnType" : "DeleteHsmResult",
      "asyncReturnType" : "DeleteHsmResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHsmResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHsmRequest, DeleteHsmResult>",
      "methodName" : "deleteHsm"
    },
    "DeleteLunaClient" : {
      "documentation" : "<p>Deletes a client.</p>",
      "operationName" : "DeleteLunaClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteLunaClientRequest",
        "variableType" : "DeleteLunaClientRequest",
        "variableDeclarationType" : "DeleteLunaClientRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteLunaClientRequest",
        "simpleType" : "DeleteLunaClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteLunaClientResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Deletes a client.</p>\n@param deleteLunaClientRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DeleteLunaClient operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Deletes a client.</p>\n@param deleteLunaClientRequest \n@return Result of the DeleteLunaClient operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Deletes a client.</p>\n@param deleteLunaClientRequest \n@return A Java Future containing the result of the DeleteLunaClient operation returned by the service.*/",
      "syncReturnType" : "DeleteLunaClientResult",
      "asyncReturnType" : "DeleteLunaClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLunaClientResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLunaClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLunaClientRequest, DeleteLunaClientResult>",
      "methodName" : "deleteLunaClient"
    },
    "DescribeHapg" : {
      "documentation" : "<p>Retrieves information about a high-availability partition group.</p>",
      "operationName" : "DescribeHapg",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeHapgRequest",
        "variableType" : "DescribeHapgRequest",
        "variableDeclarationType" : "DescribeHapgRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeHapg</a> action.</p>",
        "variableSetterType" : "DescribeHapgRequest",
        "simpleType" : "DescribeHapgRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeHapgResult",
        "documentation" : "<p>Contains the output of the <a>DescribeHapg</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Retrieves information about a high-availability partition group.</p>\n@param describeHapgRequest Contains the inputs for the <a>DescribeHapg</a> action.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeHapg operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Retrieves information about a high-availability partition group.</p>\n@param describeHapgRequest Contains the inputs for the <a>DescribeHapg</a> action.\n@return Result of the DescribeHapg operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Retrieves information about a high-availability partition group.</p>\n@param describeHapgRequest Contains the inputs for the <a>DescribeHapg</a> action.\n@return A Java Future containing the result of the DescribeHapg operation returned by the service.*/",
      "syncReturnType" : "DescribeHapgResult",
      "asyncReturnType" : "DescribeHapgResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeHapgResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeHapgResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeHapgRequest, DescribeHapgResult>",
      "methodName" : "describeHapg"
    },
    "DescribeHsm" : {
      "documentation" : "<p>Retrieves information about an HSM. You can identify the HSM by its ARN or its serial number.</p>",
      "operationName" : "DescribeHsm",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeHsmRequest",
        "variableType" : "DescribeHsmRequest",
        "variableDeclarationType" : "DescribeHsmRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeHsm</a> action. </p>",
        "variableSetterType" : "DescribeHsmRequest",
        "simpleType" : "DescribeHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeHsmResult",
        "documentation" : "<p>Contains the output of the <a>DescribeHsm</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Retrieves information about an HSM. You can identify the HSM by its ARN or its serial number.</p>\n@param describeHsmRequest Contains the inputs for the <a>DescribeHsm</a> action.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeHsm operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Retrieves information about an HSM. You can identify the HSM by its ARN or its serial number.</p>\n@param describeHsmRequest Contains the inputs for the <a>DescribeHsm</a> action.\n@return Result of the DescribeHsm operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Retrieves information about an HSM. You can identify the HSM by its ARN or its serial number.</p>\n@param describeHsmRequest Contains the inputs for the <a>DescribeHsm</a> action.\n@return A Java Future containing the result of the DescribeHsm operation returned by the service.*/",
      "syncReturnType" : "DescribeHsmResult",
      "asyncReturnType" : "DescribeHsmResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeHsmResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeHsmRequest, DescribeHsmResult>",
      "methodName" : "describeHsm"
    },
    "DescribeLunaClient" : {
      "documentation" : "<p>Retrieves information about an HSM client.</p>",
      "operationName" : "DescribeLunaClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLunaClientRequest",
        "variableType" : "DescribeLunaClientRequest",
        "variableDeclarationType" : "DescribeLunaClientRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeLunaClientRequest",
        "simpleType" : "DescribeLunaClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLunaClientResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Retrieves information about an HSM client.</p>\n@param describeLunaClientRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeLunaClient operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Retrieves information about an HSM client.</p>\n@param describeLunaClientRequest \n@return Result of the DescribeLunaClient operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Retrieves information about an HSM client.</p>\n@param describeLunaClientRequest \n@return A Java Future containing the result of the DescribeLunaClient operation returned by the service.*/",
      "syncReturnType" : "DescribeLunaClientResult",
      "asyncReturnType" : "DescribeLunaClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLunaClientResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLunaClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLunaClientRequest, DescribeLunaClientResult>",
      "methodName" : "describeLunaClient"
    },
    "GetConfig" : {
      "documentation" : "<p>Gets the configuration files necessary to connect to all high availability partition groups the client is associated with.</p>",
      "operationName" : "GetConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "getConfigRequest",
        "variableType" : "GetConfigRequest",
        "variableDeclarationType" : "GetConfigRequest",
        "documentation" : "",
        "variableSetterType" : "GetConfigRequest",
        "simpleType" : "GetConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetConfigResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Gets the configuration files necessary to connect to all high availability partition groups the client is associated with.</p>\n@param getConfigRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetConfig operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Gets the configuration files necessary to connect to all high availability partition groups the client is associated with.</p>\n@param getConfigRequest \n@return Result of the GetConfig operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Gets the configuration files necessary to connect to all high availability partition groups the client is associated with.</p>\n@param getConfigRequest \n@return A Java Future containing the result of the GetConfig operation returned by the service.*/",
      "syncReturnType" : "GetConfigResult",
      "asyncReturnType" : "GetConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfigResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfigRequest, GetConfigResult>",
      "methodName" : "getConfig"
    },
    "ListAvailableZones" : {
      "documentation" : "<p>Lists the Availability Zones that have available AWS CloudHSM capacity.</p>",
      "operationName" : "ListAvailableZones",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAvailableZonesRequest",
        "variableType" : "ListAvailableZonesRequest",
        "variableDeclarationType" : "ListAvailableZonesRequest",
        "documentation" : "<p>Contains the inputs for the <a>ListAvailableZones</a> action. </p>",
        "variableSetterType" : "ListAvailableZonesRequest",
        "simpleType" : "ListAvailableZonesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAvailableZonesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Lists the Availability Zones that have available AWS CloudHSM capacity.</p>\n@param listAvailableZonesRequest Contains the inputs for the <a>ListAvailableZones</a> action.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListAvailableZones operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Lists the Availability Zones that have available AWS CloudHSM capacity.</p>\n@param listAvailableZonesRequest Contains the inputs for the <a>ListAvailableZones</a> action.\n@return Result of the ListAvailableZones operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Lists the Availability Zones that have available AWS CloudHSM capacity.</p>\n@param listAvailableZonesRequest Contains the inputs for the <a>ListAvailableZones</a> action.\n@return A Java Future containing the result of the ListAvailableZones operation returned by the service.*/",
      "syncReturnType" : "ListAvailableZonesResult",
      "asyncReturnType" : "ListAvailableZonesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAvailableZonesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAvailableZonesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAvailableZonesRequest, ListAvailableZonesResult>",
      "methodName" : "listAvailableZones"
    },
    "ListHapgs" : {
      "documentation" : "<p>Lists the high-availability partition groups for the account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHapgs</a> to retrieve the next set of items.</p>",
      "operationName" : "ListHapgs",
      "deprecated" : false,
      "input" : {
        "variableName" : "listHapgsRequest",
        "variableType" : "ListHapgsRequest",
        "variableDeclarationType" : "ListHapgsRequest",
        "documentation" : "",
        "variableSetterType" : "ListHapgsRequest",
        "simpleType" : "ListHapgsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListHapgsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Lists the high-availability partition groups for the account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHapgs</a> to retrieve the next set of items.</p>\n@param listHapgsRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListHapgs operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Lists the high-availability partition groups for the account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHapgs</a> to retrieve the next set of items.</p>\n@param listHapgsRequest \n@return Result of the ListHapgs operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Lists the high-availability partition groups for the account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHapgs</a> to retrieve the next set of items.</p>\n@param listHapgsRequest \n@return A Java Future containing the result of the ListHapgs operation returned by the service.*/",
      "syncReturnType" : "ListHapgsResult",
      "asyncReturnType" : "ListHapgsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListHapgsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListHapgsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHapgsRequest, ListHapgsResult>",
      "methodName" : "listHapgs"
    },
    "ListHsms" : {
      "documentation" : "<p>Retrieves the identifiers of all of the HSMs provisioned for the current customer.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHsms</a> to retrieve the next set of items.</p>",
      "operationName" : "ListHsms",
      "deprecated" : false,
      "input" : {
        "variableName" : "listHsmsRequest",
        "variableType" : "ListHsmsRequest",
        "variableDeclarationType" : "ListHsmsRequest",
        "documentation" : "",
        "variableSetterType" : "ListHsmsRequest",
        "simpleType" : "ListHsmsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListHsmsResult",
        "documentation" : "<p>Contains the output of the <a>ListHsms</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Retrieves the identifiers of all of the HSMs provisioned for the current customer.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHsms</a> to retrieve the next set of items.</p>\n@param listHsmsRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListHsms operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Retrieves the identifiers of all of the HSMs provisioned for the current customer.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHsms</a> to retrieve the next set of items.</p>\n@param listHsmsRequest \n@return Result of the ListHsms operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Retrieves the identifiers of all of the HSMs provisioned for the current customer.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHsms</a> to retrieve the next set of items.</p>\n@param listHsmsRequest \n@return A Java Future containing the result of the ListHsms operation returned by the service.*/",
      "syncReturnType" : "ListHsmsResult",
      "asyncReturnType" : "ListHsmsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListHsmsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListHsmsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHsmsRequest, ListHsmsResult>",
      "methodName" : "listHsms"
    },
    "ListLunaClients" : {
      "documentation" : "<p>Lists all of the clients.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListLunaClients</a> to retrieve the next set of items.</p>",
      "operationName" : "ListLunaClients",
      "deprecated" : false,
      "input" : {
        "variableName" : "listLunaClientsRequest",
        "variableType" : "ListLunaClientsRequest",
        "variableDeclarationType" : "ListLunaClientsRequest",
        "documentation" : "",
        "variableSetterType" : "ListLunaClientsRequest",
        "simpleType" : "ListLunaClientsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListLunaClientsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Lists all of the clients.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListLunaClients</a> to retrieve the next set of items.</p>\n@param listLunaClientsRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ListLunaClients operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Lists all of the clients.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListLunaClients</a> to retrieve the next set of items.</p>\n@param listLunaClientsRequest \n@return Result of the ListLunaClients operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Lists all of the clients.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListLunaClients</a> to retrieve the next set of items.</p>\n@param listLunaClientsRequest \n@return A Java Future containing the result of the ListLunaClients operation returned by the service.*/",
      "syncReturnType" : "ListLunaClientsResult",
      "asyncReturnType" : "ListLunaClientsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListLunaClientsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListLunaClientsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLunaClientsRequest, ListLunaClientsResult>",
      "methodName" : "listLunaClients"
    },
    "ModifyHapg" : {
      "documentation" : "<p>Modifies an existing high-availability partition group.</p>",
      "operationName" : "ModifyHapg",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyHapgRequest",
        "variableType" : "ModifyHapgRequest",
        "variableDeclarationType" : "ModifyHapgRequest",
        "documentation" : "",
        "variableSetterType" : "ModifyHapgRequest",
        "simpleType" : "ModifyHapgRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyHapgResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Modifies an existing high-availability partition group.</p>\n@param modifyHapgRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ModifyHapg operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Modifies an existing high-availability partition group.</p>\n@param modifyHapgRequest \n@return Result of the ModifyHapg operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Modifies an existing high-availability partition group.</p>\n@param modifyHapgRequest \n@return A Java Future containing the result of the ModifyHapg operation returned by the service.*/",
      "syncReturnType" : "ModifyHapgResult",
      "asyncReturnType" : "ModifyHapgResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyHapgResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyHapgResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyHapgRequest, ModifyHapgResult>",
      "methodName" : "modifyHapg"
    },
    "ModifyHsm" : {
      "documentation" : "<p>Modifies an HSM.</p>",
      "operationName" : "ModifyHsm",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyHsmRequest",
        "variableType" : "ModifyHsmRequest",
        "variableDeclarationType" : "ModifyHsmRequest",
        "documentation" : "<p>Contains the inputs for the <a>ModifyHsm</a> action. </p>",
        "variableSetterType" : "ModifyHsmRequest",
        "simpleType" : "ModifyHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyHsmResult",
        "documentation" : "<p>Contains the output of the <a>ModifyHsm</a> action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Modifies an HSM.</p>\n@param modifyHsmRequest Contains the inputs for the <a>ModifyHsm</a> action.\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ModifyHsm operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Modifies an HSM.</p>\n@param modifyHsmRequest Contains the inputs for the <a>ModifyHsm</a> action.\n@return Result of the ModifyHsm operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.\n@throws CloudHsmInternalException Indicates that an internal error occurred.\n@throws InvalidRequestException Indicates that one or more of the request parameters are not valid.*/",
      "asyncDocumentation" : "/**<p>Modifies an HSM.</p>\n@param modifyHsmRequest Contains the inputs for the <a>ModifyHsm</a> action.\n@return A Java Future containing the result of the ModifyHsm operation returned by the service.*/",
      "syncReturnType" : "ModifyHsmResult",
      "asyncReturnType" : "ModifyHsmResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyHsmResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyHsmRequest, ModifyHsmResult>",
      "methodName" : "modifyHsm"
    },
    "ModifyLunaClient" : {
      "documentation" : "<p>Modifies the certificate used by the client.</p> <p>This action can potentially start a workflow to install the new certificate on the client's HSMs.</p>",
      "operationName" : "ModifyLunaClient",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyLunaClientRequest",
        "variableType" : "ModifyLunaClientRequest",
        "variableDeclarationType" : "ModifyLunaClientRequest",
        "documentation" : "",
        "variableSetterType" : "ModifyLunaClientRequest",
        "simpleType" : "ModifyLunaClientRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyLunaClientResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "asyncDocumentationWithHandler" : "/**<p>Modifies the certificate used by the client.</p> <p>This action can potentially start a workflow to install the new certificate on the client's HSMs.</p>\n@param modifyLunaClientRequest \n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the ModifyLunaClient operation returned by the service.*/",
      "syncDocumentation" : "/**<p>Modifies the certificate used by the client.</p> <p>This action can potentially start a workflow to install the new certificate on the client's HSMs.</p>\n@param modifyLunaClientRequest \n@return Result of the ModifyLunaClient operation returned by the service.\n@throws CloudHsmServiceException Indicates that an exception occurred in the AWS CloudHSM service.*/",
      "asyncDocumentation" : "/**<p>Modifies the certificate used by the client.</p> <p>This action can potentially start a workflow to install the new certificate on the client's HSMs.</p>\n@param modifyLunaClientRequest \n@return A Java Future containing the result of the ModifyLunaClient operation returned by the service.*/",
      "syncReturnType" : "ModifyLunaClientResult",
      "asyncReturnType" : "ModifyLunaClientResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyLunaClientResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyLunaClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyLunaClientRequest, ModifyLunaClientResult>",
      "methodName" : "modifyLunaClient"
    }
  },
  "shapes" : {
    "CreateHsmRequest" : {
      "c2jName" : "CreateHsmRequest",
      "documentation" : "<p>Contains the inputs for the <a>CreateHsm</a> action. </p>",
      "shapeName" : "CreateHsmRequest",
      "deprecated" : false,
      "required" : [ "SubnetId", "SshKey", "IamRoleArn", "SubscriptionType" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The identifier of the subnet in your VPC in which to place the HSM.</p>",
        "name" : "SubnetId",
        "c2jName" : "SubnetId",
        "c2jShape" : "SubnetId",
        "variable" : {
          "variableName" : "subnetId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The identifier of the subnet in your VPC in which to place the HSM.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "subnetId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SubnetId",
          "marshallLocationName" : "SubnetId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "setterDocumentation" : "/**<p>The identifier of the subnet in your VPC in which to place the HSM.</p>\n@param subnetId The identifier of the subnet in your VPC in which to place the HSM.*/",
        "getterDocumentation" : "/**<p>The identifier of the subnet in your VPC in which to place the HSM.</p>\n@return The identifier of the subnet in your VPC in which to place the HSM.*/",
        "fluentSetterDocumentation" : "/**<p>The identifier of the subnet in your VPC in which to place the HSM.</p>\n@param subnetId The identifier of the subnet in your VPC in which to place the HSM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The identifier of the subnet in your VPC in which to place the HSM.</p>\n@param subnetId The identifier of the subnet in your VPC in which to place the HSM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The SSH public key to install on the HSM.</p>",
        "name" : "SshKey",
        "c2jName" : "SshKey",
        "c2jShape" : "SshKey",
        "variable" : {
          "variableName" : "sshKey",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The SSH public key to install on the HSM.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "sshKey",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SshKey",
          "marshallLocationName" : "SshKey",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "setterDocumentation" : "/**<p>The SSH public key to install on the HSM.</p>\n@param sshKey The SSH public key to install on the HSM.*/",
        "getterDocumentation" : "/**<p>The SSH public key to install on the HSM.</p>\n@return The SSH public key to install on the HSM.*/",
        "fluentSetterDocumentation" : "/**<p>The SSH public key to install on the HSM.</p>\n@param sshKey The SSH public key to install on the HSM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The SSH public key to install on the HSM.</p>\n@param sshKey The SSH public key to install on the HSM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The IP address to assign to the HSM's ENI.</p>",
        "name" : "EniIp",
        "c2jName" : "EniIp",
        "c2jShape" : "IpAddress",
        "variable" : {
          "variableName" : "eniIp",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The IP address to assign to the HSM's ENI.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "eniIp",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "EniIp",
          "marshallLocationName" : "EniIp",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "setterDocumentation" : "/**<p>The IP address to assign to the HSM's ENI.</p>\n@param eniIp The IP address to assign to the HSM's ENI.*/",
        "getterDocumentation" : "/**<p>The IP address to assign to the HSM's ENI.</p>\n@return The IP address to assign to the HSM's ENI.*/",
        "fluentSetterDocumentation" : "/**<p>The IP address to assign to the HSM's ENI.</p>\n@param eniIp The IP address to assign to the HSM's ENI.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The IP address to assign to the HSM's ENI.</p>\n@param eniIp The IP address to assign to the HSM's ENI.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>",
        "name" : "IamRoleArn",
        "c2jName" : "IamRoleArn",
        "c2jShape" : "IamRoleArn",
        "variable" : {
          "variableName" : "iamRoleArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "iamRoleArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "IamRoleArn",
          "marshallLocationName" : "IamRoleArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "setterDocumentation" : "/**<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>\n@param iamRoleArn The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.*/",
        "getterDocumentation" : "/**<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>\n@return The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.*/",
        "fluentSetterDocumentation" : "/**<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>\n@param iamRoleArn The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>\n@param iamRoleArn The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The external ID from <b>IamRoleArn</b>, if present.</p>",
        "name" : "ExternalId",
        "c2jName" : "ExternalId",
        "c2jShape" : "ExternalId",
        "variable" : {
          "variableName" : "externalId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The external ID from <b>IamRoleArn</b>, if present.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "externalId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ExternalId",
          "marshallLocationName" : "ExternalId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "setterDocumentation" : "/**<p>The external ID from <b>IamRoleArn</b>, if present.</p>\n@param externalId The external ID from <b>IamRoleArn</b>, if present.*/",
        "getterDocumentation" : "/**<p>The external ID from <b>IamRoleArn</b>, if present.</p>\n@return The external ID from <b>IamRoleArn</b>, if present.*/",
        "fluentSetterDocumentation" : "/**<p>The external ID from <b>IamRoleArn</b>, if present.</p>\n@param externalId The external ID from <b>IamRoleArn</b>, if present.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The external ID from <b>IamRoleArn</b>, if present.</p>\n@param externalId The external ID from <b>IamRoleArn</b>, if present.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The subscription type.</p>",
        "name" : "SubscriptionType",
        "c2jName" : "SubscriptionType",
        "c2jShape" : "SubscriptionType",
        "variable" : {
          "variableName" : "subscriptionType",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The subscription type.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "subscriptionType",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SubscriptionType",
          "marshallLocationName" : "SubscriptionType",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "SubscriptionType",
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "setterDocumentation" : "/**<p>The subscription type.</p>\n@param subscriptionType The subscription type.\n@see SubscriptionType*/",
        "getterDocumentation" : "/**<p>The subscription type.</p>\n@return The subscription type.\n@see SubscriptionType*/",
        "fluentSetterDocumentation" : "/**<p>The subscription type.</p>\n@param subscriptionType The subscription type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SubscriptionType*/",
        "varargSetterDocumentation" : "/**<p>The subscription type.</p>\n@param subscriptionType The subscription type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SubscriptionType*/",
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.</p>",
        "name" : "ClientToken",
        "c2jName" : "ClientToken",
        "c2jShape" : "ClientToken",
        "variable" : {
          "variableName" : "clientToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "clientToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ClientToken",
          "marshallLocationName" : "ClientToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "setterDocumentation" : "/**<p>A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.</p>\n@param clientToken A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.*/",
        "getterDocumentation" : "/**<p>A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.</p>\n@return A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.*/",
        "fluentSetterDocumentation" : "/**<p>A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.</p>\n@param clientToken A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.</p>\n@param clientToken A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The IP address for the syslog monitoring server.</p>",
        "name" : "SyslogIp",
        "c2jName" : "SyslogIp",
        "c2jShape" : "IpAddress",
        "variable" : {
          "variableName" : "syslogIp",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The IP address for the syslog monitoring server.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "syslogIp",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SyslogIp",
          "marshallLocationName" : "SyslogIp",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "setterDocumentation" : "/**<p>The IP address for the syslog monitoring server.</p>\n@param syslogIp The IP address for the syslog monitoring server.*/",
        "getterDocumentation" : "/**<p>The IP address for the syslog monitoring server.</p>\n@return The IP address for the syslog monitoring server.*/",
        "fluentSetterDocumentation" : "/**<p>The IP address for the syslog monitoring server.</p>\n@param syslogIp The IP address for the syslog monitoring server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The IP address for the syslog monitoring server.</p>\n@param syslogIp The IP address for the syslog monitoring server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "list" : false,
        "map" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "createHsmRequest",
        "variableType" : "CreateHsmRequest",
        "variableDeclarationType" : "CreateHsmRequest",
        "documentation" : null,
        "variableSetterType" : "CreateHsmRequest",
        "simpleType" : "CreateHsmRequest"
      },
      "marshaller" : {
        "action" : "CreateHsm",
        "verb" : "POST",
        "target" : "CloudHsmFrontendService.CreateHsm",
        "requestUri" : "/",
        "locationName" : "CreateHsmRequest",
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ClientToken" : {
          "documentation" : "<p>A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.</p>",
          "name" : "ClientToken",
          "c2jName" : "ClientToken",
          "c2jShape" : "ClientToken",
          "variable" : {
            "variableName" : "clientToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "clientToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ClientToken",
            "marshallLocationName" : "ClientToken",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "setterDocumentation" : "/**<p>A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.</p>\n@param clientToken A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.*/",
          "getterDocumentation" : "/**<p>A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.</p>\n@return A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.*/",
          "fluentSetterDocumentation" : "/**<p>A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.</p>\n@param clientToken A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.</p>\n@param clientToken A user-defined token to ensure idempotence. Subsequent calls to this action with the same token will be ignored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "list" : false,
          "map" : false
        },
        "EniIp" : {
          "documentation" : "<p>The IP address to assign to the HSM's ENI.</p>",
          "name" : "EniIp",
          "c2jName" : "EniIp",
          "c2jShape" : "IpAddress",
          "variable" : {
            "variableName" : "eniIp",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The IP address to assign to the HSM's ENI.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "eniIp",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "EniIp",
            "marshallLocationName" : "EniIp",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "setterDocumentation" : "/**<p>The IP address to assign to the HSM's ENI.</p>\n@param eniIp The IP address to assign to the HSM's ENI.*/",
          "getterDocumentation" : "/**<p>The IP address to assign to the HSM's ENI.</p>\n@return The IP address to assign to the HSM's ENI.*/",
          "fluentSetterDocumentation" : "/**<p>The IP address to assign to the HSM's ENI.</p>\n@param eniIp The IP address to assign to the HSM's ENI.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The IP address to assign to the HSM's ENI.</p>\n@param eniIp The IP address to assign to the HSM's ENI.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "list" : false,
          "map" : false
        },
        "SubscriptionType" : {
          "documentation" : "<p>The subscription type.</p>",
          "name" : "SubscriptionType",
          "c2jName" : "SubscriptionType",
          "c2jShape" : "SubscriptionType",
          "variable" : {
            "variableName" : "subscriptionType",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The subscription type.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "subscriptionType",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "SubscriptionType",
            "marshallLocationName" : "SubscriptionType",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "SubscriptionType",
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "setterDocumentation" : "/**<p>The subscription type.</p>\n@param subscriptionType The subscription type.\n@see SubscriptionType*/",
          "getterDocumentation" : "/**<p>The subscription type.</p>\n@return The subscription type.\n@see SubscriptionType*/",
          "fluentSetterDocumentation" : "/**<p>The subscription type.</p>\n@param subscriptionType The subscription type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SubscriptionType*/",
          "varargSetterDocumentation" : "/**<p>The subscription type.</p>\n@param subscriptionType The subscription type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SubscriptionType*/",
          "list" : false,
          "map" : false
        },
        "IamRoleArn" : {
          "documentation" : "<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>",
          "name" : "IamRoleArn",
          "c2jName" : "IamRoleArn",
          "c2jShape" : "IamRoleArn",
          "variable" : {
            "variableName" : "iamRoleArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "iamRoleArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "IamRoleArn",
            "marshallLocationName" : "IamRoleArn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "setterDocumentation" : "/**<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>\n@param iamRoleArn The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.*/",
          "getterDocumentation" : "/**<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>\n@return The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.*/",
          "fluentSetterDocumentation" : "/**<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>\n@param iamRoleArn The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>\n@param iamRoleArn The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "list" : false,
          "map" : false
        },
        "ExternalId" : {
          "documentation" : "<p>The external ID from <b>IamRoleArn</b>, if present.</p>",
          "name" : "ExternalId",
          "c2jName" : "ExternalId",
          "c2jShape" : "ExternalId",
          "variable" : {
            "variableName" : "externalId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The external ID from <b>IamRoleArn</b>, if present.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "externalId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ExternalId",
            "marshallLocationName" : "ExternalId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "setterDocumentation" : "/**<p>The external ID from <b>IamRoleArn</b>, if present.</p>\n@param externalId The external ID from <b>IamRoleArn</b>, if present.*/",
          "getterDocumentation" : "/**<p>The external ID from <b>IamRoleArn</b>, if present.</p>\n@return The external ID from <b>IamRoleArn</b>, if present.*/",
          "fluentSetterDocumentation" : "/**<p>The external ID from <b>IamRoleArn</b>, if present.</p>\n@param externalId The external ID from <b>IamRoleArn</b>, if present.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The external ID from <b>IamRoleArn</b>, if present.</p>\n@param externalId The external ID from <b>IamRoleArn</b>, if present.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "list" : false,
          "map" : false
        },
        "SubnetId" : {
          "documentation" : "<p>The identifier of the subnet in your VPC in which to place the HSM.</p>",
          "name" : "SubnetId",
          "c2jName" : "SubnetId",
          "c2jShape" : "SubnetId",
          "variable" : {
            "variableName" : "subnetId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The identifier of the subnet in your VPC in which to place the HSM.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "subnetId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "SubnetId",
            "marshallLocationName" : "SubnetId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "setterDocumentation" : "/**<p>The identifier of the subnet in your VPC in which to place the HSM.</p>\n@param subnetId The identifier of the subnet in your VPC in which to place the HSM.*/",
          "getterDocumentation" : "/**<p>The identifier of the subnet in your VPC in which to place the HSM.</p>\n@return The identifier of the subnet in your VPC in which to place the HSM.*/",
          "fluentSetterDocumentation" : "/**<p>The identifier of the subnet in your VPC in which to place the HSM.</p>\n@param subnetId The identifier of the subnet in your VPC in which to place the HSM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The identifier of the subnet in your VPC in which to place the HSM.</p>\n@param subnetId The identifier of the subnet in your VPC in which to place the HSM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "list" : false,
          "map" : false
        },
        "SshKey" : {
          "documentation" : "<p>The SSH public key to install on the HSM.</p>",
          "name" : "SshKey",
          "c2jName" : "SshKey",
          "c2jShape" : "SshKey",
          "variable" : {
            "variableName" : "sshKey",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The SSH public key to install on the HSM.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "sshKey",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "SshKey",
            "marshallLocationName" : "SshKey",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "setterDocumentation" : "/**<p>The SSH public key to install on the HSM.</p>\n@param sshKey The SSH public key to install on the HSM.*/",
          "getterDocumentation" : "/**<p>The SSH public key to install on the HSM.</p>\n@return The SSH public key to install on the HSM.*/",
          "fluentSetterDocumentation" : "/**<p>The SSH public key to install on the HSM.</p>\n@param sshKey The SSH public key to install on the HSM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The SSH public key to install on the HSM.</p>\n@param sshKey The SSH public key to install on the HSM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "list" : false,
          "map" : false
        },
        "SyslogIp" : {
          "documentation" : "<p>The IP address for the syslog monitoring server.</p>",
          "name" : "SyslogIp",
          "c2jName" : "SyslogIp",
          "c2jShape" : "IpAddress",
          "variable" : {
            "variableName" : "syslogIp",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The IP address for the syslog monitoring server.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "syslogIp",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "SyslogIp",
            "marshallLocationName" : "SyslogIp",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "setterDocumentation" : "/**<p>The IP address for the syslog monitoring server.</p>\n@param syslogIp The IP address for the syslog monitoring server.*/",
          "getterDocumentation" : "/**<p>The IP address for the syslog monitoring server.</p>\n@return The IP address for the syslog monitoring server.*/",
          "fluentSetterDocumentation" : "/**<p>The IP address for the syslog monitoring server.</p>\n@param syslogIp The IP address for the syslog monitoring server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The IP address for the syslog monitoring server.</p>\n@param syslogIp The IP address for the syslog monitoring server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "list" : false,
          "map" : false
        }
      }
    },
    "ListHapgsRequest" : {
      "c2jName" : "ListHapgsRequest",
      "documentation" : "",
      "shapeName" : "ListHapgsRequest",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The <i>NextToken</i> value from a previous call to <a>ListHapgs</a>. Pass null if this is the first call.</p>",
        "name" : "NextToken",
        "c2jName" : "NextToken",
        "c2jShape" : "PaginationToken",
        "variable" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The <i>NextToken</i> value from a previous call to <a>ListHapgs</a>. Pass null if this is the first call.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NextToken",
          "marshallLocationName" : "NextToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
[...]
