{
  "metadata" : {
    "apiVersion" : "2012-10-29",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>AWS Data Pipeline configures and manages a data-driven workflow called a pipeline. AWS Data Pipeline handles the details of scheduling and ensuring that data dependencies are met so that your application can focus on processing the data.</p> <p>AWS Data Pipeline provides a JAR implementation of a task runner called AWS Data Pipeline Task Runner. AWS Data Pipeline Task Runner provides logic for common data management scenarios, such as performing database queries and running data analysis using Amazon Elastic MapReduce (Amazon EMR). You can use AWS Data Pipeline Task Runner as your task runner, or you can write your own task runner to provide custom data management.</p> <p>AWS Data Pipeline implements two main sets of functionality. Use the first set to create a pipeline and define data sources, schedules, dependencies, and the transforms to be performed on the data. Use the second set in your task runner application to receive the next task ready for processing. The logic for performing the task, such as querying the data, running data analysis, or converting the data from one format to another, is contained within the task runner. The task runner performs the task assigned to it by the web service, reporting progress to the web service as it does so. When the task is done, the task runner reports the final success or failure of the task to the web service.</p>",
    "defaultEndpoint" : "datapipeline.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "datapipeline.us-east-1.amazonaws.com",
    "syncInterface" : "DataPipeline",
    "syncClient" : "DataPipelineClient",
    "asyncInterface" : "DataPipelineAsync",
    "asyncClient" : "DataPipelineAsyncClient",
    "packageName" : "com.amazonaws.services.datapipeline",
    "packagePath" : "com/amazonaws/services/datapipeline",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Data Pipeline",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "datapipeline",
    "signingName" : "datapipeline",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "syncClientBuilderClassName" : "DataPipelineClientBuilder",
    "asyncClientBuilderClassName" : "DataPipelineAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "DataPipelineModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.datapipeline.smoketests",
    "serviceName" : "AWS Data Pipeline",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true
  },
  "operations" : {
    "ActivatePipeline" : {
      "documentation" : "<p>Validates the specified pipeline and starts processing pipeline tasks. If the pipeline does not pass validation, activation fails.</p> <p>If you need to pause the pipeline to investigate an issue with a component, such as a data source or script, call <a>DeactivatePipeline</a>.</p> <p>To activate a finished pipeline, modify the end date for the pipeline and then activate it.</p>",
      "operationName" : "ActivatePipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "activatePipelineRequest",
        "variableType" : "ActivatePipelineRequest",
        "variableDeclarationType" : "ActivatePipelineRequest",
        "documentation" : "<p>Contains the parameters for ActivatePipeline.</p>",
        "simpleType" : "ActivatePipelineRequest",
        "variableSetterType" : "ActivatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ActivatePipelineResult",
        "documentation" : "<p>Contains the output of ActivatePipeline.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "activatePipeline",
      "syncReturnType" : "ActivatePipelineResult",
      "asyncReturnType" : "ActivatePipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<ActivatePipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ActivatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ActivatePipelineRequest, ActivatePipelineResult>",
      "authenticated" : true
    },
    "AddTags" : {
      "documentation" : "<p>Adds or modifies tags for the specified pipeline.</p>",
      "operationName" : "AddTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "variableDeclarationType" : "AddTagsRequest",
        "documentation" : "<p>Contains the parameters for AddTags.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : "<p>Contains the output of AddTags.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "addTags",
      "syncReturnType" : "AddTagsResult",
      "asyncReturnType" : "AddTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "authenticated" : true
    },
    "CreatePipeline" : {
      "documentation" : "<p>Creates a new, empty pipeline. Use <a>PutPipelineDefinition</a> to populate the pipeline.</p>",
      "operationName" : "CreatePipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "createPipelineRequest",
        "variableType" : "CreatePipelineRequest",
        "variableDeclarationType" : "CreatePipelineRequest",
        "documentation" : "<p>Contains the parameters for CreatePipeline.</p>",
        "simpleType" : "CreatePipelineRequest",
        "variableSetterType" : "CreatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreatePipelineResult",
        "documentation" : "<p>Contains the output of CreatePipeline.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createPipeline",
      "syncReturnType" : "CreatePipelineResult",
      "asyncReturnType" : "CreatePipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePipelineRequest, CreatePipelineResult>",
      "authenticated" : true
    },
    "DeactivatePipeline" : {
      "documentation" : "<p>Deactivates the specified running pipeline. The pipeline is set to the <code>DEACTIVATING</code> state until the deactivation process completes.</p> <p>To resume a deactivated pipeline, use <a>ActivatePipeline</a>. By default, the pipeline resumes from the last completed execution. Optionally, you can specify the date and time to resume the pipeline.</p>",
      "operationName" : "DeactivatePipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "deactivatePipelineRequest",
        "variableType" : "DeactivatePipelineRequest",
        "variableDeclarationType" : "DeactivatePipelineRequest",
        "documentation" : "<p>Contains the parameters for DeactivatePipeline.</p>",
        "simpleType" : "DeactivatePipelineRequest",
        "variableSetterType" : "DeactivatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeactivatePipelineResult",
        "documentation" : "<p>Contains the output of DeactivatePipeline.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deactivatePipeline",
      "syncReturnType" : "DeactivatePipelineResult",
      "asyncReturnType" : "DeactivatePipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeactivatePipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeactivatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeactivatePipelineRequest, DeactivatePipelineResult>",
      "authenticated" : true
    },
    "DeletePipeline" : {
      "documentation" : "<p>Deletes a pipeline, its pipeline definition, and its run history. AWS Data Pipeline attempts to cancel instances associated with the pipeline that are currently being processed by task runners.</p> <p>Deleting a pipeline cannot be undone. You cannot query or restore a deleted pipeline. To temporarily pause a pipeline instead of deleting it, call <a>SetStatus</a> with the status set to <code>PAUSE</code> on individual components. Components that are paused by <a>SetStatus</a> can be resumed.</p>",
      "operationName" : "DeletePipeline",
      "deprecated" : false,
      "input" : {
        "variableName" : "deletePipelineRequest",
        "variableType" : "DeletePipelineRequest",
        "variableDeclarationType" : "DeletePipelineRequest",
        "documentation" : "<p>Contains the parameters for DeletePipeline.</p>",
        "simpleType" : "DeletePipelineRequest",
        "variableSetterType" : "DeletePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeletePipelineResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deletePipeline",
      "syncReturnType" : "DeletePipelineResult",
      "asyncReturnType" : "DeletePipelineResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePipelineResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePipelineRequest, DeletePipelineResult>",
      "authenticated" : true
    },
    "DescribeObjects" : {
      "documentation" : "<p>Gets the object definitions for a set of objects associated with the pipeline. Object definitions are composed of a set of fields that define the properties of the object.</p>",
      "operationName" : "DescribeObjects",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeObjectsRequest",
        "variableType" : "DescribeObjectsRequest",
        "variableDeclarationType" : "DescribeObjectsRequest",
        "documentation" : "<p>Contains the parameters for DescribeObjects.</p>",
        "simpleType" : "DescribeObjectsRequest",
        "variableSetterType" : "DescribeObjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeObjectsResult",
        "documentation" : "<p>Contains the output of DescribeObjects.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeObjects",
      "syncReturnType" : "DescribeObjectsResult",
      "asyncReturnType" : "DescribeObjectsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeObjectsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeObjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeObjectsRequest, DescribeObjectsResult>",
      "authenticated" : true
    },
    "DescribePipelines" : {
      "documentation" : "<p>Retrieves metadata about one or more pipelines. The information retrieved includes the name of the pipeline, the pipeline identifier, its current state, and the user account that owns the pipeline. Using account credentials, you can retrieve metadata about pipelines that you or your IAM users have created. If you are using an IAM user account, you can retrieve metadata about only those pipelines for which you have read permissions.</p> <p>To retrieve the full pipeline definition instead of metadata about the pipeline, call <a>GetPipelineDefinition</a>.</p>",
      "operationName" : "DescribePipelines",
      "deprecated" : false,
      "input" : {
        "variableName" : "describePipelinesRequest",
        "variableType" : "DescribePipelinesRequest",
        "variableDeclarationType" : "DescribePipelinesRequest",
        "documentation" : "<p>Contains the parameters for DescribePipelines.</p>",
        "simpleType" : "DescribePipelinesRequest",
        "variableSetterType" : "DescribePipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribePipelinesResult",
        "documentation" : "<p>Contains the output of DescribePipelines.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describePipelines",
      "syncReturnType" : "DescribePipelinesResult",
      "asyncReturnType" : "DescribePipelinesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePipelinesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePipelinesRequest, DescribePipelinesResult>",
      "authenticated" : true
    },
    "EvaluateExpression" : {
      "documentation" : "<p>Task runners call <code>EvaluateExpression</code> to evaluate a string in the context of the specified object. For example, a task runner can evaluate SQL queries stored in Amazon S3.</p>",
      "operationName" : "EvaluateExpression",
      "deprecated" : false,
      "input" : {
        "variableName" : "evaluateExpressionRequest",
        "variableType" : "EvaluateExpressionRequest",
        "variableDeclarationType" : "EvaluateExpressionRequest",
        "documentation" : "<p>Contains the parameters for EvaluateExpression.</p>",
        "simpleType" : "EvaluateExpressionRequest",
        "variableSetterType" : "EvaluateExpressionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EvaluateExpressionResult",
        "documentation" : "<p>Contains the output of EvaluateExpression.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "TaskNotFoundException",
        "documentation" : "<p>The specified task was not found. </p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "evaluateExpression",
      "syncReturnType" : "EvaluateExpressionResult",
      "asyncReturnType" : "EvaluateExpressionResult",
      "asyncFutureType" : "java.util.concurrent.Future<EvaluateExpressionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EvaluateExpressionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EvaluateExpressionRequest, EvaluateExpressionResult>",
      "authenticated" : true
    },
    "GetPipelineDefinition" : {
      "documentation" : "<p>Gets the definition of the specified pipeline. You can call <code>GetPipelineDefinition</code> to retrieve the pipeline definition that you provided using <a>PutPipelineDefinition</a>.</p>",
      "operationName" : "GetPipelineDefinition",
      "deprecated" : false,
      "input" : {
        "variableName" : "getPipelineDefinitionRequest",
        "variableType" : "GetPipelineDefinitionRequest",
        "variableDeclarationType" : "GetPipelineDefinitionRequest",
        "documentation" : "<p>Contains the parameters for GetPipelineDefinition.</p>",
        "simpleType" : "GetPipelineDefinitionRequest",
        "variableSetterType" : "GetPipelineDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetPipelineDefinitionResult",
        "documentation" : "<p>Contains the output of GetPipelineDefinition.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getPipelineDefinition",
      "syncReturnType" : "GetPipelineDefinitionResult",
      "asyncReturnType" : "GetPipelineDefinitionResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetPipelineDefinitionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetPipelineDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPipelineDefinitionRequest, GetPipelineDefinitionResult>",
      "authenticated" : true
    },
    "ListPipelines" : {
      "documentation" : "<p>Lists the pipeline identifiers for all active pipelines that you have permission to access.</p>",
      "operationName" : "ListPipelines",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPipelinesRequest",
        "variableType" : "ListPipelinesRequest",
        "variableDeclarationType" : "ListPipelinesRequest",
        "documentation" : "<p>Contains the parameters for ListPipelines.</p>",
        "simpleType" : "ListPipelinesRequest",
        "variableSetterType" : "ListPipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPipelinesResult",
        "documentation" : "<p>Contains the output of ListPipelines.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listPipelines",
      "syncReturnType" : "ListPipelinesResult",
      "asyncReturnType" : "ListPipelinesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPipelinesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPipelinesRequest, ListPipelinesResult>",
      "authenticated" : true
    },
    "PollForTask" : {
      "documentation" : "<p>Task runners call <code>PollForTask</code> to receive a task to perform from AWS Data Pipeline. The task runner specifies which tasks it can perform by setting a value for the <code>workerGroup</code> parameter. The task returned can come from any of the pipelines that match the <code>workerGroup</code> value passed in by the task runner and that was launched using the IAM user credentials specified by the task runner.</p> <p>If tasks are ready in the work queue, <code>PollForTask</code> returns a response immediately. If no tasks are available in the queue, <code>PollForTask</code> uses long-polling and holds on to a poll connection for up to a 90 seconds, during which time the first newly scheduled task is handed to the task runner. To accomodate this, set the socket timeout in your task runner to 90 seconds. The task runner should not call <code>PollForTask</code> again on the same <code>workerGroup</code> until it receives a response, and this can take up to 90 seconds. </p>",
      "operationName" : "PollForTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "pollForTaskRequest",
        "variableType" : "PollForTaskRequest",
        "variableDeclarationType" : "PollForTaskRequest",
        "documentation" : "<p>Contains the parameters for PollForTask.</p>",
        "simpleType" : "PollForTaskRequest",
        "variableSetterType" : "PollForTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PollForTaskResult",
        "documentation" : "<p>Contains the output of PollForTask.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      }, {
        "exceptionName" : "TaskNotFoundException",
        "documentation" : "<p>The specified task was not found. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "pollForTask",
      "syncReturnType" : "PollForTaskResult",
      "asyncReturnType" : "PollForTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<PollForTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PollForTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PollForTaskRequest, PollForTaskResult>",
      "authenticated" : true
    },
    "PutPipelineDefinition" : {
      "documentation" : "<p>Adds tasks, schedules, and preconditions to the specified pipeline. You can use <code>PutPipelineDefinition</code> to populate a new pipeline.</p> <p> <code>PutPipelineDefinition</code> also validates the configuration as it adds it to the pipeline. Changes to the pipeline are saved unless one of the following three validation errors exists in the pipeline. </p> <ol> <li>An object is missing a name or identifier field.</li> <li>A string or reference field is empty.</li> <li>The number of objects in the pipeline exceeds the maximum allowed objects.</li> <li>The pipeline is in a FINISHED state.</li> </ol> <p> Pipeline object definitions are passed to the <code>PutPipelineDefinition</code> action and returned by the <a>GetPipelineDefinition</a> action. </p>",
      "operationName" : "PutPipelineDefinition",
      "deprecated" : false,
      "input" : {
        "variableName" : "putPipelineDefinitionRequest",
        "variableType" : "PutPipelineDefinitionRequest",
        "variableDeclarationType" : "PutPipelineDefinitionRequest",
        "documentation" : "<p>Contains the parameters for PutPipelineDefinition.</p>",
        "simpleType" : "PutPipelineDefinitionRequest",
        "variableSetterType" : "PutPipelineDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutPipelineDefinitionResult",
        "documentation" : "<p>Contains the output of PutPipelineDefinition.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "putPipelineDefinition",
      "syncReturnType" : "PutPipelineDefinitionResult",
      "asyncReturnType" : "PutPipelineDefinitionResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutPipelineDefinitionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutPipelineDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutPipelineDefinitionRequest, PutPipelineDefinitionResult>",
      "authenticated" : true
    },
    "QueryObjects" : {
      "documentation" : "<p>Queries the specified pipeline for the names of objects that match the specified set of conditions.</p>",
      "operationName" : "QueryObjects",
      "deprecated" : false,
      "input" : {
        "variableName" : "queryObjectsRequest",
        "variableType" : "QueryObjectsRequest",
        "variableDeclarationType" : "QueryObjectsRequest",
        "documentation" : "<p>Contains the parameters for QueryObjects.</p>",
        "simpleType" : "QueryObjectsRequest",
        "variableSetterType" : "QueryObjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "QueryObjectsResult",
        "documentation" : "<p>Contains the output of QueryObjects.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "queryObjects",
      "syncReturnType" : "QueryObjectsResult",
      "asyncReturnType" : "QueryObjectsResult",
      "asyncFutureType" : "java.util.concurrent.Future<QueryObjectsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<QueryObjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<QueryObjectsRequest, QueryObjectsResult>",
      "authenticated" : true
    },
    "RemoveTags" : {
      "documentation" : "<p>Removes existing tags from the specified pipeline.</p>",
      "operationName" : "RemoveTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "variableDeclarationType" : "RemoveTagsRequest",
        "documentation" : "<p>Contains the parameters for RemoveTags.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : "<p>Contains the output of RemoveTags.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "removeTags",
      "syncReturnType" : "RemoveTagsResult",
      "asyncReturnType" : "RemoveTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "authenticated" : true
    },
    "ReportTaskProgress" : {
      "documentation" : "<p>Task runners call <code>ReportTaskProgress</code> when assigned a task to acknowledge that it has the task. If the web service does not receive this acknowledgement within 2 minutes, it assigns the task in a subsequent <a>PollForTask</a> call. After this initial acknowledgement, the task runner only needs to report progress every 15 minutes to maintain its ownership of the task. You can change this reporting time from 15 minutes by specifying a <code>reportProgressTimeout</code> field in your pipeline.</p> <p>If a task runner does not report its status after 5 minutes, AWS Data Pipeline assumes that the task runner is unable to process the task and reassigns the task in a subsequent response to <a>PollForTask</a>. Task runners should call <code>ReportTaskProgress</code> every 60 seconds.</p>",
      "operationName" : "ReportTaskProgress",
      "deprecated" : false,
      "input" : {
        "variableName" : "reportTaskProgressRequest",
        "variableType" : "ReportTaskProgressRequest",
        "variableDeclarationType" : "ReportTaskProgressRequest",
        "documentation" : "<p>Contains the parameters for ReportTaskProgress.</p>",
        "simpleType" : "ReportTaskProgressRequest",
        "variableSetterType" : "ReportTaskProgressRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ReportTaskProgressResult",
        "documentation" : "<p>Contains the output of ReportTaskProgress.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      }, {
        "exceptionName" : "TaskNotFoundException",
        "documentation" : "<p>The specified task was not found. </p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "reportTaskProgress",
      "syncReturnType" : "ReportTaskProgressResult",
      "asyncReturnType" : "ReportTaskProgressResult",
      "asyncFutureType" : "java.util.concurrent.Future<ReportTaskProgressResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ReportTaskProgressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReportTaskProgressRequest, ReportTaskProgressResult>",
      "authenticated" : true
    },
    "ReportTaskRunnerHeartbeat" : {
      "documentation" : "<p>Task runners call <code>ReportTaskRunnerHeartbeat</code> every 15 minutes to indicate that they are operational. If the AWS Data Pipeline Task Runner is launched on a resource managed by AWS Data Pipeline, the web service can use this call to detect when the task runner application has failed and restart a new instance.</p>",
      "operationName" : "ReportTaskRunnerHeartbeat",
      "deprecated" : false,
      "input" : {
        "variableName" : "reportTaskRunnerHeartbeatRequest",
        "variableType" : "ReportTaskRunnerHeartbeatRequest",
        "variableDeclarationType" : "ReportTaskRunnerHeartbeatRequest",
        "documentation" : "<p>Contains the parameters for ReportTaskRunnerHeartbeat.</p>",
        "simpleType" : "ReportTaskRunnerHeartbeatRequest",
        "variableSetterType" : "ReportTaskRunnerHeartbeatRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ReportTaskRunnerHeartbeatResult",
        "documentation" : "<p>Contains the output of ReportTaskRunnerHeartbeat.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "reportTaskRunnerHeartbeat",
      "syncReturnType" : "ReportTaskRunnerHeartbeatResult",
      "asyncReturnType" : "ReportTaskRunnerHeartbeatResult",
      "asyncFutureType" : "java.util.concurrent.Future<ReportTaskRunnerHeartbeatResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ReportTaskRunnerHeartbeatResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReportTaskRunnerHeartbeatRequest, ReportTaskRunnerHeartbeatResult>",
      "authenticated" : true
    },
    "SetStatus" : {
      "documentation" : "<p>Requests that the status of the specified physical or logical pipeline objects be updated in the specified pipeline. This update might not occur immediately, but is eventually consistent. The status that can be set depends on the type of object (for example, DataNode or Activity). You cannot perform this operation on <code>FINISHED</code> pipelines and attempting to do so returns <code>InvalidRequestException</code>.</p>",
      "operationName" : "SetStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "setStatusRequest",
        "variableType" : "SetStatusRequest",
        "variableDeclarationType" : "SetStatusRequest",
        "documentation" : "<p>Contains the parameters for SetStatus.</p>",
        "simpleType" : "SetStatusRequest",
        "variableSetterType" : "SetStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetStatusResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "setStatus",
      "syncReturnType" : "SetStatusResult",
      "asyncReturnType" : "SetStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetStatusRequest, SetStatusResult>",
      "authenticated" : true
    },
    "SetTaskStatus" : {
      "documentation" : "<p>Task runners call <code>SetTaskStatus</code> to notify AWS Data Pipeline that a task is completed and provide information about the final status. A task runner makes this call regardless of whether the task was sucessful. A task runner does not need to call <code>SetTaskStatus</code> for tasks that are canceled by the web service during a call to <a>ReportTaskProgress</a>.</p>",
      "operationName" : "SetTaskStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "setTaskStatusRequest",
        "variableType" : "SetTaskStatusRequest",
        "variableDeclarationType" : "SetTaskStatusRequest",
        "documentation" : "<p>Contains the parameters for SetTaskStatus.</p>",
        "simpleType" : "SetTaskStatusRequest",
        "variableSetterType" : "SetTaskStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetTaskStatusResult",
        "documentation" : "<p>Contains the output of SetTaskStatus.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "TaskNotFoundException",
        "documentation" : "<p>The specified task was not found. </p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "setTaskStatus",
      "syncReturnType" : "SetTaskStatusResult",
      "asyncReturnType" : "SetTaskStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetTaskStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetTaskStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetTaskStatusRequest, SetTaskStatusResult>",
      "authenticated" : true
    },
    "ValidatePipelineDefinition" : {
      "documentation" : "<p>Validates the specified pipeline definition to ensure that it is well formed and can be run without error.</p>",
      "operationName" : "ValidatePipelineDefinition",
      "deprecated" : false,
      "input" : {
        "variableName" : "validatePipelineDefinitionRequest",
        "variableType" : "ValidatePipelineDefinitionRequest",
        "variableDeclarationType" : "ValidatePipelineDefinitionRequest",
        "documentation" : "<p>Contains the parameters for ValidatePipelineDefinition.</p>",
        "simpleType" : "ValidatePipelineDefinitionRequest",
        "variableSetterType" : "ValidatePipelineDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ValidatePipelineDefinitionResult",
        "documentation" : "<p>Contains the output of ValidatePipelineDefinition.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "validatePipelineDefinition",
      "syncReturnType" : "ValidatePipelineDefinitionResult",
      "asyncReturnType" : "ValidatePipelineDefinitionResult",
      "asyncFutureType" : "java.util.concurrent.Future<ValidatePipelineDefinitionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ValidatePipelineDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ValidatePipelineDefinitionRequest, ValidatePipelineDefinitionResult>",
      "authenticated" : true
    }
  },
  "shapes" : {
    "DeletePipelineRequest" : {
      "c2jName" : "DeletePipelineInput",
      "documentation" : "<p>Contains the parameters for DeletePipeline.</p>",
      "shapeName" : "DeletePipelineRequest",
      "deprecated" : false,
      "required" : [ "pipelineId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The ID of the pipeline.</p>",
        "name" : "PipelineId",
        "c2jName" : "pipelineId",
        "c2jShape" : "id",
        "variable" : {
          "variableName" : "pipelineId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ID of the pipeline.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "pipelineId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "pipelineId",
          "marshallLocationName" : "pipelineId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.*/",
        "getterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@return The ID of the pipeline.*/",
        "fluentSetterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "deletePipelineRequest",
        "variableType" : "DeletePipelineRequest",
        "variableDeclarationType" : "DeletePipelineRequest",
        "documentation" : null,
        "simpleType" : "DeletePipelineRequest",
        "variableSetterType" : "DeletePipelineRequest"
      },
      "marshaller" : {
        "action" : "DeletePipeline",
        "verb" : "POST",
        "target" : "DataPipeline.DeletePipeline",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "PipelineId" : {
          "documentation" : "<p>The ID of the pipeline.</p>",
          "name" : "PipelineId",
          "c2jName" : "pipelineId",
          "c2jShape" : "id",
          "variable" : {
            "variableName" : "pipelineId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ID of the pipeline.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "pipelineId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "pipelineId",
            "marshallLocationName" : "pipelineId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.*/",
          "getterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@return The ID of the pipeline.*/",
          "fluentSetterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "Query" : {
      "c2jName" : "Query",
      "documentation" : "<p>Defines the query to run against an object.</p>",
      "shapeName" : "Query",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>",
        "name" : "Selectors",
        "c2jName" : "selectors",
        "c2jShape" : "SelectorList",
        "variable" : {
          "variableName" : "selectors",
          "variableType" : "java.util.List<Selector>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Selector>",
          "documentation" : "<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>",
          "simpleType" : "List<Selector>",
          "variableSetterType" : "java.util.Collection<Selector>"
        },
        "setterModel" : {
          "variableName" : "selectors",
          "variableType" : "java.util.List<Selector>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Selector>",
          "documentation" : "",
          "simpleType" : "List<Selector>",
          "variableSetterType" : "java.util.Collection<Selector>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Selector>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "selectors",
          "marshallLocationName" : "selectors",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Selector",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Selector",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Selector",
              "variableDeclarationType" : "Selector",
              "documentation" : "",
              "simpleType" : "Selector",
              "variableSetterType" : "Selector"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Selector",
              "variableDeclarationType" : "Selector",
              "documentation" : "",
              "simpleType" : "Selector",
              "variableSetterType" : "Selector"
            },
            "getterModel" : {
              "returnType" : "Selector",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "Selector",
          "templateType" : "java.util.List<Selector>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Selector>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>\n@param selectors List of selectors that define the query. An object must satisfy all of the selectors to match the query.*/",
        "getterDocumentation" : "/**<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>\n@return List of selectors that define the query. An object must satisfy all of the selectors to match the query.*/",
        "fluentSetterDocumentation" : "/**<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>\n@param selectors List of selectors that define the query. An object must satisfy all of the selectors to match the query.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSelectors(java.util.Collection)} or {@link #withSelectors(java.util.Collection)} if you want to override the existing values.</p>\n@param selectors List of selectors that define the query. An object must satisfy all of the selectors to match the query.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "query",
        "variableType" : "Query",
        "variableDeclarationType" : "Query",
        "documentation" : null,
        "simpleType" : "Query",
        "variableSetterType" : "Query"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Selectors" : {
          "documentation" : "<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>",
          "name" : "Selectors",
          "c2jName" : "selectors",
          "c2jShape" : "SelectorList",
          "variable" : {
            "variableName" : "selectors",
            "variableType" : "java.util.List<Selector>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Selector>",
            "documentation" : "<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>",
            "simpleType" : "List<Selector>",
            "variableSetterType" : "java.util.Collection<Selector>"
          },
          "setterModel" : {
            "variableName" : "selectors",
            "variableType" : "java.util.List<Selector>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Selector>",
            "documentation" : "",
            "simpleType" : "List<Selector>",
            "variableSetterType" : "java.util.Collection<Selector>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Selector>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "selectors",
            "marshallLocationName" : "selectors",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Selector",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Selector",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Selector",
                "variableDeclarationType" : "Selector",
                "documentation" : "",
                "simpleType" : "Selector",
                "variableSetterType" : "Selector"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Selector",
                "variableDeclarationType" : "Selector",
                "documentation" : "",
                "simpleType" : "Selector",
                "variableSetterType" : "Selector"
              },
              "getterModel" : {
                "returnType" : "Selector",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "Selector",
            "templateType" : "java.util.List<Selector>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Selector>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>\n@param selectors List of selectors that define the query. An object must satisfy all of the selectors to match the query.*/",
          "getterDocumentation" : "/**<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>\n@return List of selectors that define the query. An object must satisfy all of the selectors to match the query.*/",
          "fluentSetterDocumentation" : "/**<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>\n@param selectors List of selectors that define the query. An object must satisfy all of the selectors to match the query.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSelectors(java.util.Collection)} or {@link #withSelectors(java.util.Collection)} if you want to override the existing values.</p>\n@param selectors List of selectors that define the query. An object must satisfy all of the selectors to match the query.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DescribePipelinesRequest" : {
      "c2jName" : "DescribePipelinesInput",
      "documentation" : "<p>Contains the parameters for DescribePipelines.</p>",
      "shapeName" : "DescribePipelinesRequest",
      "deprecated" : false,
      "required" : [ "pipelineIds" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>",
        "name" : "PipelineIds",
        "c2jName" : "pipelineIds",
        "c2jShape" : "idList",
        "variable" : {
          "variableName" : "pipelineIds",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "pipelineIds",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "pipelineIds",
          "marshallLocationName" : "pipelineIds",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "id",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>\n@param pipelineIds The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.*/",
        "getterDocumentation" : "/**<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>\n@return The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.*/",
        "fluentSetterDocumentation" : "/**<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>\n@param pipelineIds The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPipelineIds(java.util.Collection)} or {@link #withPipelineIds(java.util.Collection)} if you want to override the existing values.</p>\n@param pipelineIds The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describePipelinesRequest",
        "variableType" : "DescribePipelinesRequest",
        "variableDeclarationType" : "DescribePipelinesRequest",
        "documentation" : null,
        "simpleType" : "DescribePipelinesRequest",
        "variableSetterType" : "DescribePipelinesRequest"
      },
      "marshaller" : {
        "action" : "DescribePipelines",
        "verb" : "POST",
        "target" : "DataPipeline.DescribePipelines",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "PipelineIds" : {
          "documentation" : "<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>",
          "name" : "PipelineIds",
          "c2jName" : "pipelineIds",
          "c2jShape" : "idList",
          "variable" : {
            "variableName" : "pipelineIds",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "documentation" : "<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "setterModel" : {
            "variableName" : "pipelineIds",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "pipelineIds",
            "marshallLocationName" : "pipelineIds",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "String",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "id",
              "variable" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : true,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "map" : false,
            "simpleType" : "String",
            "templateType" : "java.util.List<String>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>\n@param pipelineIds The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.*/",
          "getterDocumentation" : "/**<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>\n@return The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.*/",
          "fluentSetterDocumentation" : "/**<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>\n@param pipelineIds The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPipelineIds(java.util.Collection)} or {@link #withPipelineIds(java.util.Collection)} if you want to override the existing values.</p>\n@param pipelineIds The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DescribeObjectsResult" : {
      "c2jName" : "DescribeObjectsOutput",
      "documentation" : "<p>Contains the output of DescribeObjects.</p>",
      "shapeName" : "DescribeObjectsResult",
      "deprecated" : false,
      "required" : [ "pipelineObjects" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>An array of object definitions.</p>",
        "name" : "PipelineObjects",
        "c2jName" : "pipelineObjects",
        "c2jShape" : "PipelineObjectList",
        "variable" : {
          "variableName" : "pipelineObjects",
          "variableType" : "java.util.List<PipelineObject>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<PipelineObject>",
          "documentation" : "<p>An array of object definitions.</p>",
          "simpleType" : "List<PipelineObject>",
          "variableSetterType" : "java.util.Collection<PipelineObject>"
        },
        "setterModel" : {
          "variableName" : "pipelineObjects",
          "variableType" : "java.util.List<PipelineObject>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<PipelineObject>",
          "documentation" : "",
          "simpleType" : "List<PipelineObject>",
          "variableSetterType" : "java.util.Collection<PipelineObject>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<PipelineObject>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "pipelineObjects",
          "marshallLocationName" : "pipelineObjects",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "PipelineObject",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "PipelineObject",
            "variable" : {
              "variableName" : "member",
              "variableType" : "PipelineObject",
              "variableDeclarationType" : "PipelineObject",
              "documentation" : "",
              "simpleType" : "PipelineObject",
              "variableSetterType" : "PipelineObject"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "PipelineObject",
              "variableDeclarationType" : "PipelineObject",
              "documentation" : "",
              "simpleType" : "PipelineObject",
              "variableSetterType" : "PipelineObject"
            },
            "getterModel" : {
              "returnType" : "PipelineObject",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "PipelineObject",
          "templateType" : "java.util.List<PipelineObject>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<PipelineObject>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>An array of object definitions.</p>\n@param pipelineObjects An array of object definitions.*/",
        "getterDocumentation" : "/**<p>An array of object definitions.</p>\n@return An array of object definitions.*/",
        "fluentSetterDocumentation" : "/**<p>An array of object definitions.</p>\n@param pipelineObjects An array of object definitions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>An array of object definitions.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPipelineObjects(java.util.Collection)} or {@link #withPipelineObjects(java.util.Collection)} if you want to override the existing values.</p>\n@param pipelineObjects An array of object definitions.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.</p>",
        "name" : "Marker",
        "c2jName" : "marker",
        "c2jShape" : "string",
        "variable" : {
          "variableName" : "marker",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "marker",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "marker",
          "marshallLocationName" : "marker",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.</p>\n@param marker The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.*/",
        "getterDocumentation" : "/**<p>The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.</p>\n@return The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.*/",
        "fluentSetterDocumentation" : "/**<p>The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.</p>\n@param marker The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.</p>\n@param marker The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Indicates whether there are more results to return.</p>",
        "name" : "HasMoreResults",
        "c2jName" : "hasMoreResults",
        "c2jShape" : "boolean",
        "variable" : {
          "variableName" : "hasMoreResults",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "<p>Indicates whether there are more results to return.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "hasMoreResults",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "hasMoreResults",
          "marshallLocationName" : "hasMoreResults",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Indicates whether there are more results to return.</p>\n@param hasMoreResults Indicates whether there are more results to return.*/",
        "getterDocumentation" : "/**<p>Indicates whether there are more results to return.</p>\n@return Indicates whether there are more results to return.*/",
        "fluentSetterDocumentation" : "/**<p>Indicates whether there are more results to return.</p>\n@param hasMoreResults Indicates whether there are more results to return.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Indicates whether there are more results to return.</p>\n@param hasMoreResults Indicates whether there are more results to return.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeObjectsResult",
        "variableType" : "DescribeObjectsResult",
        "variableDeclarationType" : "DescribeObjectsResult",
        "documentation" : null,
        "simpleType" : "DescribeObjectsResult",
        "variableSetterType" : "DescribeObjectsResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "PipelineObjects" : {
          "documentation" : "<p>An array of object definitions.</p>",
          "name" : "PipelineObjects",
          "c2jName" : "pipelineObjects",
          "c2jShape" : "PipelineObjectList",
          "variable" : {
            "variableName" : "pipelineObjects",
            "variableType" : "java.util.List<PipelineObject>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<PipelineObject>",
            "documentation" : "<p>An array of object definitions.</p>",
            "simpleType" : "List<PipelineObject>",
            "variableSetterType" : "java.util.Collection<PipelineObject>"
          },
          "setterModel" : {
            "variableName" : "pipelineObjects",
            "variableType" : "java.util.List<PipelineObject>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<PipelineObject>",
            "documentation" : "",
            "simpleType" : "List<PipelineObject>",
            "variableSetterType" : "java.util.Collection<PipelineObject>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<PipelineObject>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "pipelineObjects",
            "marshallLocationName" : "pipelineObjects",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "PipelineObject",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "PipelineObject",
              "variable" : {
                "variableName" : "member",
                "variableType" : "PipelineObject",
                "variableDeclarationType" : "PipelineObject",
                "documentation" : "",
                "simpleType" : "PipelineObject",
                "variableSetterType" : "PipelineObject"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "PipelineObject",
                "variableDeclarationType" : "PipelineObject",
                "documentation" : "",
                "simpleType" : "PipelineObject",
                "variableSetterType" : "PipelineObject"
              },
              "getterModel" : {
                "returnType" : "PipelineObject",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "PipelineObject",
            "templateType" : "java.util.List<PipelineObject>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<PipelineObject>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>An array of object definitions.</p>\n@param pipelineObjects An array of object definitions.*/",
          "getterDocumentation" : "/**<p>An array of object definitions.</p>\n@return An array of object definitions.*/",
          "fluentSetterDocumentation" : "/**<p>An array of object definitions.</p>\n@param pipelineObjects An array of object definitions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
