{
  "metadata" : {
    "apiVersion" : "2015-12-01",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<fullname>Elastic Load Balancing</fullname> <p>A load balancer distributes incoming traffic across targets, such as your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered targets and ensures that it routes traffic only to healthy targets. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer. You configure a target group with a protocol and port number for connections from the load balancer to the targets, and with health check settings to be used when checking the health status of the targets.</p> <p>Elastic Load Balancing supports two types of load balancers: Classic load balancers and Application load balancers (new). A Classic load balancer makes routing and load balancing decisions either at the transport layer (TCP/SSL) or the application layer (HTTP/HTTPS), and supports either EC2-Classic or a VPC. An Application load balancer makes routing and load balancing decisions at the application layer (HTTP/HTTPS), supports path-based routing, and can route requests to one or more ports on each EC2 instance or container instance in your virtual private cloud (VPC). For more information, see the <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/\">Elastic Load Balancing User Guide</a>.</p> <p>This reference covers the 2015-12-01 API, which supports Application load balancers. The 2012-06-01 API supports Classic load balancers.</p> <p>To get started with an Application load balancer, complete the following tasks:</p> <ol> <li> <p>Create a load balancer using <a>CreateLoadBalancer</a>.</p> </li> <li> <p>Create a target group using <a>CreateTargetGroup</a>.</p> </li> <li> <p>Register targets for the target group using <a>RegisterTargets</a>.</p> </li> <li> <p>Create one or more listeners for your load balancer using <a>CreateListener</a>.</p> </li> <li> <p>(Optional) Create one or more rules for content routing based on URL using <a>CreateRule</a>.</p> </li> </ol> <p>To delete an Application load balancer and its related resources, complete the following tasks:</p> <ol> <li> <p>Delete the load balancer using <a>DeleteLoadBalancer</a>.</p> </li> <li> <p>Delete the target group using <a>DeleteTargetGroup</a>.</p> </li> </ol> <p>All Elastic Load Balancing operations are idempotent, which means that they complete at most one time. If you repeat an operation, it succeeds.</p>",
    "defaultEndpoint" : "elasticloadbalancing.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticloadbalancing.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonElasticLoadBalancing",
    "syncClient" : "AmazonElasticLoadBalancingClient",
    "asyncInterface" : "AmazonElasticLoadBalancingAsync",
    "asyncClient" : "AmazonElasticLoadBalancingAsyncClient",
    "packageName" : "com.amazonaws.services.elasticloadbalancingv2",
    "packagePath" : "com/amazonaws/services/elasticloadbalancingv2",
    "serviceAbbreviation" : "Elastic Load Balancing v2",
    "serviceFullName" : "Elastic Load Balancing",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "elasticloadbalancing",
    "signingName" : "elasticloadbalancing",
    "jsonProtocol" : false,
    "syncClientBuilderClassName" : "AmazonElasticLoadBalancingClientBuilder",
    "asyncClientBuilderClassName" : "AmazonElasticLoadBalancingAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonElasticLoadBalancingModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticloadbalancingv2.smoketests",
    "serviceName" : "Elastic Load Balancing v2",
    "cborProtocol" : false,
    "xmlProtocol" : true,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller"
  },
  "operations" : {
    "AddTags" : {
      "documentation" : "<p>Adds the specified tags to the specified resource. You can tag your Application load balancers and your target groups.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, <code>AddTags</code> updates its value.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>. To remove tags from your resources, use <a>RemoveTags</a>.</p>",
      "operationName" : "AddTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "variableDeclarationType" : "AddTagsRequest",
        "documentation" : "<p>Contains the parameters for AddTags.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : "<p>Contains the output of AddTags.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DuplicateTagKeysException",
        "documentation" : "<p>A tag key was specified more than once.</p>"
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>You've reached the limit on the number of tags per load balancer.</p>"
      }, {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddTagsResult",
      "asyncReturnType" : "AddTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "methodName" : "addTags"
    },
    "CreateListener" : {
      "documentation" : "<p>Creates a listener for the specified Application load balancer.</p> <p>To update a listener, use <a>ModifyListener</a>. When you are finished with a listener, you can delete it using <a>DeleteListener</a>. If you are finished with both the listener and the load balancer, you can delete them both using <a>DeleteLoadBalancer</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html\">Listeners for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "operationName" : "CreateListener",
      "deprecated" : false,
      "input" : {
        "variableName" : "createListenerRequest",
        "variableType" : "CreateListenerRequest",
        "variableDeclarationType" : "CreateListenerRequest",
        "documentation" : "<p>Contains the parameters for CreateListener.</p>",
        "simpleType" : "CreateListenerRequest",
        "variableSetterType" : "CreateListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateListenerResult",
        "documentation" : "<p>Contains the output of CreateListener.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DuplicateListenerException",
        "documentation" : "<p>A listener with the specified port already exists.</p>"
      }, {
        "exceptionName" : "TooManyListenersException",
        "documentation" : "<p>You've reached the limit on the number of listeners per load balancer.</p>"
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "<p>You've reached the limit on the number of certificates per listener.</p>"
      }, {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupAssociationLimitException",
        "documentation" : "<p>You've reached the limit on the number of load balancers per target group.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      }, {
        "exceptionName" : "IncompatibleProtocolsException",
        "documentation" : "<p>The specified configuration is not valid with this protocol.</p>"
      }, {
        "exceptionName" : "SSLPolicyNotFoundException",
        "documentation" : "<p>The specified SSL policy does not exist.</p>"
      }, {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified certificate does not exist.</p>"
      }, {
        "exceptionName" : "UnsupportedProtocolException",
        "documentation" : "<p>The specified protocol is not supported.</p>"
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateListenerResult",
      "asyncReturnType" : "CreateListenerResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateListenerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateListenerRequest, CreateListenerResult>",
      "methodName" : "createListener"
    },
    "CreateLoadBalancer" : {
      "documentation" : "<p>Creates an Application load balancer.</p> <p>To create listeners for your load balancer, use <a>CreateListener</a>. You can add security groups, subnets, and tags when you create your load balancer, or you can add them later using <a>SetSecurityGroups</a>, <a>SetSubnets</a>, and <a>AddTags</a>.</p> <p>To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>You can create up to 20 load balancers per region per account. You can request an increase for the number of load balancers for your account. For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Limits for Your Application Load Balancer</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "operationName" : "CreateLoadBalancer",
      "deprecated" : false,
      "input" : {
        "variableName" : "createLoadBalancerRequest",
        "variableType" : "CreateLoadBalancerRequest",
        "variableDeclarationType" : "CreateLoadBalancerRequest",
        "documentation" : "<p>Contains the parameters for CreateLoadBalancer.</p>",
        "simpleType" : "CreateLoadBalancerRequest",
        "variableSetterType" : "CreateLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateLoadBalancerResult",
        "documentation" : "<p>Contains the output of CreateLoadBalancer.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DuplicateLoadBalancerNameException",
        "documentation" : "<p>A load balancer with the specified name already exists for this account.</p>"
      }, {
        "exceptionName" : "TooManyLoadBalancersException",
        "documentation" : "<p>You've reached the limit on the number of load balancers for your AWS account.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>The specified subnet does not exist.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The specified subnet is out of available addresses.</p>"
      }, {
        "exceptionName" : "InvalidSecurityGroupException",
        "documentation" : "<p>The specified security group does not exist.</p>"
      }, {
        "exceptionName" : "InvalidSchemeException",
        "documentation" : "<p>The requested scheme is not valid.</p>"
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>You've reached the limit on the number of tags per load balancer.</p>"
      }, {
        "exceptionName" : "DuplicateTagKeysException",
        "documentation" : "<p>A tag key was specified more than once.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateLoadBalancerResult",
      "asyncReturnType" : "CreateLoadBalancerResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoadBalancerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoadBalancerRequest, CreateLoadBalancerResult>",
      "methodName" : "createLoadBalancer"
    },
    "CreateRule" : {
      "documentation" : "<p>Creates a rule for the specified listener.</p> <p>A rule consists conditions and actions. Rules are evaluated in priority order, from the lowest value to the highest value. When the conditions for a rule are met, the specified actions are taken. If no rule's conditions are met, the default actions for the listener are taken.</p> <p>To view your current rules, use <a>DescribeRules</a>. To update a rule, use <a>ModifyRule</a>. To set the priorities of your rules, use <a>SetRulePriorities</a>. To delete a rule, use <a>DeleteRule</a>.</p>",
      "operationName" : "CreateRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "createRuleRequest",
        "variableType" : "CreateRuleRequest",
        "variableDeclarationType" : "CreateRuleRequest",
        "documentation" : "<p>Contains the parameters for CreateRule.</p>",
        "simpleType" : "CreateRuleRequest",
        "variableSetterType" : "CreateRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateRuleResult",
        "documentation" : "<p>Contains the output of CreateRule.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "PriorityInUseException",
        "documentation" : "<p>The specified priority is in use.</p>"
      }, {
        "exceptionName" : "TooManyTargetGroupsException",
        "documentation" : "<p>You've reached the limit on the number of target groups for your AWS account.</p>"
      }, {
        "exceptionName" : "TooManyRulesException",
        "documentation" : "<p>You've reached the limit on the number of rules per load balancer.</p>"
      }, {
        "exceptionName" : "TargetGroupAssociationLimitException",
        "documentation" : "<p>You've reached the limit on the number of load balancers per target group.</p>"
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateRuleResult",
      "asyncReturnType" : "CreateRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRuleRequest, CreateRuleResult>",
      "methodName" : "createRule"
    },
    "CreateTargetGroup" : {
      "documentation" : "<p>Creates a target group.</p> <p>To register targets with the target group, use <a>RegisterTargets</a>. To update the health check settings for the target group, use <a>ModifyTargetGroup</a>. To monitor the health of targets in the target group, use <a>DescribeTargetHealth</a>.</p> <p>To route traffic to the targets in a target group, specify the target group in an action using <a>CreateListener</a> or <a>CreateRule</a>.</p> <p>To delete a target group, use <a>DeleteTargetGroup</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html\">Target Groups for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "operationName" : "CreateTargetGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTargetGroupRequest",
        "variableType" : "CreateTargetGroupRequest",
        "variableDeclarationType" : "CreateTargetGroupRequest",
        "documentation" : "<p>Contains the parameters for CreateTargetGroup.</p>",
        "simpleType" : "CreateTargetGroupRequest",
        "variableSetterType" : "CreateTargetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTargetGroupResult",
        "documentation" : "<p>Contains the output of CreateTargetGroup.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DuplicateTargetGroupNameException",
        "documentation" : "<p>A target group with the specified name already exists.</p>"
      }, {
        "exceptionName" : "TooManyTargetGroupsException",
        "documentation" : "<p>You've reached the limit on the number of target groups for your AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateTargetGroupResult",
      "asyncReturnType" : "CreateTargetGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTargetGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTargetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTargetGroupRequest, CreateTargetGroupResult>",
      "methodName" : "createTargetGroup"
    },
    "DeleteListener" : {
      "documentation" : "<p>Deletes the specified listener.</p> <p>Alternatively, your listener is deleted when you delete the load balancer it is attached to using <a>DeleteLoadBalancer</a>.</p>",
      "operationName" : "DeleteListener",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteListenerRequest",
        "variableType" : "DeleteListenerRequest",
        "variableDeclarationType" : "DeleteListenerRequest",
        "documentation" : "<p>Contains the parameters for DeleteListener.</p>",
        "simpleType" : "DeleteListenerRequest",
        "variableSetterType" : "DeleteListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteListenerResult",
        "documentation" : "<p>Contains the output of DeleteListener.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteListenerResult",
      "asyncReturnType" : "DeleteListenerResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteListenerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteListenerRequest, DeleteListenerResult>",
      "methodName" : "deleteListener"
    },
    "DeleteLoadBalancer" : {
      "documentation" : "<p>Deletes the specified load balancer and its attached listeners.</p> <p>You can't delete a load balancer if deletion protection is enabled. If the load balancer does not exist or has already been deleted, the call succeeds.</p> <p>Deleting a load balancer does not affect its registered targets. For example, your EC2 instances continue to run and are still registered to their target groups. If you no longer need these EC2 instances, you can stop or terminate them.</p>",
      "operationName" : "DeleteLoadBalancer",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteLoadBalancerRequest",
        "variableType" : "DeleteLoadBalancerRequest",
        "variableDeclarationType" : "DeleteLoadBalancerRequest",
        "documentation" : "<p>Contains the parameters for DeleteLoadBalancer.</p>",
        "simpleType" : "DeleteLoadBalancerRequest",
        "variableSetterType" : "DeleteLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteLoadBalancerResult",
        "documentation" : "<p>Contains the output of DeleteLoadBalancer.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteLoadBalancerResult",
      "asyncReturnType" : "DeleteLoadBalancerResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoadBalancerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoadBalancerRequest, DeleteLoadBalancerResult>",
      "methodName" : "deleteLoadBalancer"
    },
    "DeleteRule" : {
      "documentation" : "<p>Deletes the specified rule.</p>",
      "operationName" : "DeleteRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRuleRequest",
        "variableType" : "DeleteRuleRequest",
        "variableDeclarationType" : "DeleteRuleRequest",
        "documentation" : "<p>Contains the parameters for DeleteRule.</p>",
        "simpleType" : "DeleteRuleRequest",
        "variableSetterType" : "DeleteRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRuleResult",
        "documentation" : "<p>Contains the output of DeleteRule.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteRuleResult",
      "asyncReturnType" : "DeleteRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleRequest, DeleteRuleResult>",
      "methodName" : "deleteRule"
    },
    "DeleteTargetGroup" : {
      "documentation" : "<p>Deletes the specified target group.</p> <p>You can delete a target group if it is not referenced by any actions. Deleting a target group also deletes any associated health checks.</p>",
      "operationName" : "DeleteTargetGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTargetGroupRequest",
        "variableType" : "DeleteTargetGroupRequest",
        "variableDeclarationType" : "DeleteTargetGroupRequest",
        "documentation" : "<p>Contains the parameters for DeleteTargetGroup.</p>",
        "simpleType" : "DeleteTargetGroupRequest",
        "variableSetterType" : "DeleteTargetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTargetGroupResult",
        "documentation" : "<p>Contains the output of DeleteTargetGroup.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>A specified resource is in use.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteTargetGroupResult",
      "asyncReturnType" : "DeleteTargetGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTargetGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTargetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTargetGroupRequest, DeleteTargetGroupResult>",
      "methodName" : "deleteTargetGroup"
    },
    "DeregisterTargets" : {
      "documentation" : "<p>Deregisters the specified targets from the specified target group. After the targets are deregistered, they no longer receive traffic from the load balancer.</p>",
      "operationName" : "DeregisterTargets",
      "deprecated" : false,
      "input" : {
        "variableName" : "deregisterTargetsRequest",
        "variableType" : "DeregisterTargetsRequest",
        "variableDeclarationType" : "DeregisterTargetsRequest",
        "documentation" : "<p>Contains the parameters for DeregisterTargets.</p>",
        "simpleType" : "DeregisterTargetsRequest",
        "variableSetterType" : "DeregisterTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeregisterTargetsResult",
        "documentation" : "<p>Contains the output of DeregisterTargets.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "InvalidTargetException",
        "documentation" : "<p>The specified target does not exist or is not in the same VPC as the target group.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeregisterTargetsResult",
      "asyncReturnType" : "DeregisterTargetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterTargetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterTargetsRequest, DeregisterTargetsResult>",
      "methodName" : "deregisterTargets"
    },
    "DescribeListeners" : {
      "documentation" : "<p>Describes the specified listeners or the listeners for the specified load balancer. You must specify either a load balancer or one or more listeners.</p>",
      "operationName" : "DescribeListeners",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeListenersRequest",
        "variableType" : "DescribeListenersRequest",
        "variableDeclarationType" : "DescribeListenersRequest",
        "documentation" : "<p>Contains the parameters for DescribeListeners.</p>",
        "simpleType" : "DescribeListenersRequest",
        "variableSetterType" : "DescribeListenersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeListenersResult",
        "documentation" : "<p>Contains the output of DescribeListeners.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      }, {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeListenersResult",
      "asyncReturnType" : "DescribeListenersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeListenersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeListenersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeListenersRequest, DescribeListenersResult>",
      "methodName" : "describeListeners"
    },
    "DescribeLoadBalancerAttributes" : {
      "documentation" : "<p>Describes the attributes for the specified load balancer.</p>",
      "operationName" : "DescribeLoadBalancerAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLoadBalancerAttributesRequest",
        "variableType" : "DescribeLoadBalancerAttributesRequest",
        "variableDeclarationType" : "DescribeLoadBalancerAttributesRequest",
        "documentation" : "<p>Contains the parameters for DescribeLoadBalancerAttributes.</p>",
        "simpleType" : "DescribeLoadBalancerAttributesRequest",
        "variableSetterType" : "DescribeLoadBalancerAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLoadBalancerAttributesResult",
        "documentation" : "<p>Contains the output of DescribeLoadBalancerAttributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeLoadBalancerAttributesResult",
      "asyncReturnType" : "DescribeLoadBalancerAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancerAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancerAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancerAttributesRequest, DescribeLoadBalancerAttributesResult>",
      "methodName" : "describeLoadBalancerAttributes"
    },
    "DescribeLoadBalancers" : {
      "documentation" : "<p>Describes the specified Application load balancers or all of your Application load balancers.</p> <p>To describe the listeners for a load balancer, use <a>DescribeListeners</a>. To describe the attributes for a load balancer, use <a>DescribeLoadBalancerAttributes</a>.</p>",
      "operationName" : "DescribeLoadBalancers",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLoadBalancersRequest",
        "variableType" : "DescribeLoadBalancersRequest",
        "variableDeclarationType" : "DescribeLoadBalancersRequest",
        "documentation" : "<p>Contains the parameters for DescribeLoadBalancers.</p>",
        "simpleType" : "DescribeLoadBalancersRequest",
        "variableSetterType" : "DescribeLoadBalancersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLoadBalancersResult",
        "documentation" : "<p>Contains the output of DescribeLoadBalancers.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeLoadBalancersResult",
      "asyncReturnType" : "DescribeLoadBalancersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancersRequest, DescribeLoadBalancersResult>",
      "methodName" : "describeLoadBalancers"
    },
    "DescribeRules" : {
      "documentation" : "<p>Describes the specified rules or the rules for the specified listener. You must specify either a listener or one or more rules.</p>",
      "operationName" : "DescribeRules",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeRulesRequest",
        "variableType" : "DescribeRulesRequest",
        "variableDeclarationType" : "DescribeRulesRequest",
        "documentation" : "<p>Contains the parameters for DescribeRules.</p>",
        "simpleType" : "DescribeRulesRequest",
        "variableSetterType" : "DescribeRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeRulesResult",
        "documentation" : "<p>Contains the output of DescribeRules.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      }, {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeRulesResult",
      "asyncReturnType" : "DescribeRulesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRulesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRulesRequest, DescribeRulesResult>",
      "methodName" : "describeRules"
    },
    "DescribeSSLPolicies" : {
      "documentation" : "<p>Describes the specified policies or all policies used for SSL negotiation.</p> <p>Note that the only supported policy at this time is ELBSecurityPolicy-2015-05.</p>",
      "operationName" : "DescribeSSLPolicies",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeSSLPoliciesRequest",
        "variableType" : "DescribeSSLPoliciesRequest",
        "variableDeclarationType" : "DescribeSSLPoliciesRequest",
        "documentation" : "<p>Contains the parameters for DescribeSSLPolicies.</p>",
        "simpleType" : "DescribeSSLPoliciesRequest",
        "variableSetterType" : "DescribeSSLPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeSSLPoliciesResult",
        "documentation" : "<p>Contains the output of DescribeSSLPolicies.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "SSLPolicyNotFoundException",
        "documentation" : "<p>The specified SSL policy does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeSSLPoliciesResult",
      "asyncReturnType" : "DescribeSSLPoliciesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSSLPoliciesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSSLPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSSLPoliciesRequest, DescribeSSLPoliciesResult>",
      "methodName" : "describeSSLPolicies"
    },
    "DescribeTags" : {
      "documentation" : "<p>Describes the tags for the specified resources.</p>",
      "operationName" : "DescribeTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "variableDeclarationType" : "DescribeTagsRequest",
        "documentation" : "<p>Contains the parameters for DescribeTags.</p>",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p>Contains the output of DescribeTags.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      }, {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeTagsResult",
      "asyncReturnType" : "DescribeTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "methodName" : "describeTags"
    },
    "DescribeTargetGroupAttributes" : {
      "documentation" : "<p>Describes the attributes for the specified target group.</p>",
      "operationName" : "DescribeTargetGroupAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTargetGroupAttributesRequest",
        "variableType" : "DescribeTargetGroupAttributesRequest",
        "variableDeclarationType" : "DescribeTargetGroupAttributesRequest",
        "documentation" : "<p>Contains the parameters for DescribeTargetGroupAttributes.</p>",
        "simpleType" : "DescribeTargetGroupAttributesRequest",
        "variableSetterType" : "DescribeTargetGroupAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTargetGroupAttributesResult",
        "documentation" : "<p>Contains the output of DescribeTargetGroupAttributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeTargetGroupAttributesResult",
      "asyncReturnType" : "DescribeTargetGroupAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTargetGroupAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTargetGroupAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTargetGroupAttributesRequest, DescribeTargetGroupAttributesResult>",
      "methodName" : "describeTargetGroupAttributes"
    },
    "DescribeTargetGroups" : {
      "documentation" : "<p>Describes the specified target groups or all of your target groups. By default, all target groups are described. Alternatively, you can specify one of the following to filter the results: the ARN of the load balancer, the names of one or more target groups, or the ARNs of one or more target groups.</p> <p>To describe the targets for a target group, use <a>DescribeTargetHealth</a>. To describe the attributes of a target group, use <a>DescribeTargetGroupAttributes</a>.</p>",
      "operationName" : "DescribeTargetGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTargetGroupsRequest",
        "variableType" : "DescribeTargetGroupsRequest",
        "variableDeclarationType" : "DescribeTargetGroupsRequest",
        "documentation" : "<p>Contains the parameters for DescribeTargetGroups.</p>",
        "simpleType" : "DescribeTargetGroupsRequest",
        "variableSetterType" : "DescribeTargetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTargetGroupsResult",
        "documentation" : "<p>Contains the output of DescribeTargetGroups.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeTargetGroupsResult",
      "asyncReturnType" : "DescribeTargetGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTargetGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTargetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTargetGroupsRequest, DescribeTargetGroupsResult>",
      "methodName" : "describeTargetGroups"
    },
    "DescribeTargetHealth" : {
      "documentation" : "<p>Describes the health of the specified targets or all of your targets.</p>",
      "operationName" : "DescribeTargetHealth",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTargetHealthRequest",
        "variableType" : "DescribeTargetHealthRequest",
        "variableDeclarationType" : "DescribeTargetHealthRequest",
        "documentation" : "<p>Contains the parameters for DescribeTargetHealth.</p>",
        "simpleType" : "DescribeTargetHealthRequest",
        "variableSetterType" : "DescribeTargetHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTargetHealthResult",
        "documentation" : "<p>Contains the output of DescribeTargetHealth.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidTargetException",
        "documentation" : "<p>The specified target does not exist or is not in the same VPC as the target group.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "HealthUnavailableException",
        "documentation" : "<p>The health of the specified targets could not be retrieved due to an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeTargetHealthResult",
      "asyncReturnType" : "DescribeTargetHealthResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTargetHealthResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTargetHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTargetHealthRequest, DescribeTargetHealthResult>",
      "methodName" : "describeTargetHealth"
    },
    "ModifyListener" : {
      "documentation" : "<p>Modifies the specified properties of the specified listener.</p> <p>Any properties that you do not specify retain their current values. However, changing the protocol from HTTPS to HTTP removes the security policy and SSL certificate properties. If you change the protocol from HTTP to HTTPS, you must add the security policy.</p>",
      "operationName" : "ModifyListener",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyListenerRequest",
        "variableType" : "ModifyListenerRequest",
        "variableDeclarationType" : "ModifyListenerRequest",
        "documentation" : "<p>Contains the parameters for ModifyListener.</p>",
        "simpleType" : "ModifyListenerRequest",
        "variableSetterType" : "ModifyListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyListenerResult",
        "documentation" : "<p>Contains the output of ModifyListener.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DuplicateListenerException",
        "documentation" : "<p>A listener with the specified port already exists.</p>"
      }, {
        "exceptionName" : "TooManyListenersException",
        "documentation" : "<p>You've reached the limit on the number of listeners per load balancer.</p>"
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "<p>You've reached the limit on the number of certificates per listener.</p>"
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupAssociationLimitException",
        "documentation" : "<p>You've reached the limit on the number of load balancers per target group.</p>"
      }, {
        "exceptionName" : "IncompatibleProtocolsException",
        "documentation" : "<p>The specified configuration is not valid with this protocol.</p>"
      }, {
        "exceptionName" : "SSLPolicyNotFoundException",
        "documentation" : "<p>The specified SSL policy does not exist.</p>"
      }, {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified certificate does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedProtocolException",
        "documentation" : "<p>The specified protocol is not supported.</p>"
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ModifyListenerResult",
      "asyncReturnType" : "ModifyListenerResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyListenerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyListenerRequest, ModifyListenerResult>",
      "methodName" : "modifyListener"
    },
    "ModifyLoadBalancerAttributes" : {
      "documentation" : "<p>Modifies the specified attributes of the specified load balancer.</p> <p>If any of the specified attributes can't be modified as requested, the call fails. Any existing attributes that you do not modify retain their current values.</p>",
      "operationName" : "ModifyLoadBalancerAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyLoadBalancerAttributesRequest",
        "variableType" : "ModifyLoadBalancerAttributesRequest",
        "variableDeclarationType" : "ModifyLoadBalancerAttributesRequest",
        "documentation" : "<p>Contains the parameters for ModifyLoadBalancerAttributes.</p>",
        "simpleType" : "ModifyLoadBalancerAttributesRequest",
        "variableSetterType" : "ModifyLoadBalancerAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyLoadBalancerAttributesResult",
        "documentation" : "<p>Contains the output of ModifyLoadBalancerAttributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ModifyLoadBalancerAttributesResult",
      "asyncReturnType" : "ModifyLoadBalancerAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyLoadBalancerAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyLoadBalancerAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyLoadBalancerAttributesRequest, ModifyLoadBalancerAttributesResult>",
      "methodName" : "modifyLoadBalancerAttributes"
    },
    "ModifyRule" : {
      "documentation" : "<p>Modifies the specified rule.</p> <p>Any existing properties that you do not modify retain their current values.</p> <p>To modify the default action, use <a>ModifyListener</a>.</p>",
      "operationName" : "ModifyRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyRuleRequest",
        "variableType" : "ModifyRuleRequest",
        "variableDeclarationType" : "ModifyRuleRequest",
        "documentation" : "<p>Contains the parameters for ModifyRules.</p>",
        "simpleType" : "ModifyRuleRequest",
        "variableSetterType" : "ModifyRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyRuleResult",
        "documentation" : "<p>Contains the output of ModifyRules.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TargetGroupAssociationLimitException",
        "documentation" : "<p>You've reached the limit on the number of load balancers per target group.</p>"
      }, {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>"
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ModifyRuleResult",
      "asyncReturnType" : "ModifyRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyRuleRequest, ModifyRuleResult>",
      "methodName" : "modifyRule"
    },
    "ModifyTargetGroup" : {
      "documentation" : "<p>Modifies the health checks used when evaluating the health state of the targets in the specified target group.</p> <p>To monitor the health of the targets, use <a>DescribeTargetHealth</a>.</p>",
      "operationName" : "ModifyTargetGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyTargetGroupRequest",
        "variableType" : "ModifyTargetGroupRequest",
        "variableDeclarationType" : "ModifyTargetGroupRequest",
        "documentation" : "<p>Contains the parameters for ModifyTargetGroup.</p>",
        "simpleType" : "ModifyTargetGroupRequest",
        "variableSetterType" : "ModifyTargetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyTargetGroupResult",
        "documentation" : "<p>Contains the output of ModifyTargetGroup.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ModifyTargetGroupResult",
      "asyncReturnType" : "ModifyTargetGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyTargetGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyTargetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyTargetGroupRequest, ModifyTargetGroupResult>",
      "methodName" : "modifyTargetGroup"
    },
    "ModifyTargetGroupAttributes" : {
      "documentation" : "<p>Modifies the specified attributes of the specified target group.</p>",
      "operationName" : "ModifyTargetGroupAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyTargetGroupAttributesRequest",
        "variableType" : "ModifyTargetGroupAttributesRequest",
        "variableDeclarationType" : "ModifyTargetGroupAttributesRequest",
        "documentation" : "<p>Contains the parameters for ModifyTargetGroupAttributes.</p>",
        "simpleType" : "ModifyTargetGroupAttributesRequest",
        "variableSetterType" : "ModifyTargetGroupAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyTargetGroupAttributesResult",
        "documentation" : "<p>Contains the output of ModifyTargetGroupAttributes.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ModifyTargetGroupAttributesResult",
      "asyncReturnType" : "ModifyTargetGroupAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyTargetGroupAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyTargetGroupAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyTargetGroupAttributesRequest, ModifyTargetGroupAttributesResult>",
      "methodName" : "modifyTargetGroupAttributes"
    },
    "RegisterTargets" : {
      "documentation" : "<p>Registers the specified targets with the specified target group.</p> <p>The target must be in the virtual private cloud (VPC) that you specified for the target group.</p> <p>To remove a target from a target group, use <a>DeregisterTargets</a>.</p>",
      "operationName" : "RegisterTargets",
      "deprecated" : false,
      "input" : {
        "variableName" : "registerTargetsRequest",
        "variableType" : "RegisterTargetsRequest",
        "variableDeclarationType" : "RegisterTargetsRequest",
        "documentation" : "<p>Contains the parameters for RegisterTargets.</p>",
        "simpleType" : "RegisterTargetsRequest",
        "variableSetterType" : "RegisterTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RegisterTargetsResult",
        "documentation" : "<p>Contains the output of RegisterTargets.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "TooManyTargetsException",
        "documentation" : "<p>You've reached the limit on the number of targets.</p>"
      }, {
        "exceptionName" : "InvalidTargetException",
        "documentation" : "<p>The specified target does not exist or is not in the same VPC as the target group.</p>"
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RegisterTargetsResult",
      "asyncReturnType" : "RegisterTargetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterTargetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterTargetsRequest, RegisterTargetsResult>",
      "methodName" : "registerTargets"
    },
    "RemoveTags" : {
      "documentation" : "<p>Removes the specified tags from the specified resource.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>.</p>",
      "operationName" : "RemoveTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "variableDeclarationType" : "RemoveTagsRequest",
        "documentation" : "<p>Contains the parameters for RemoveTags.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : "<p>Contains the output of RemoveTags.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      }, {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>"
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>You've reached the limit on the number of tags per load balancer.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RemoveTagsResult",
      "asyncReturnType" : "RemoveTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "methodName" : "removeTags"
    },
    "SetRulePriorities" : {
      "documentation" : "<p>Sets the priorities of the specified rules.</p> <p>You can reorder the rules as long as there are no priority conflicts in the new order. Any existing rules that you do not specify retain their current priority.</p>",
      "operationName" : "SetRulePriorities",
      "deprecated" : false,
      "input" : {
        "variableName" : "setRulePrioritiesRequest",
        "variableType" : "SetRulePrioritiesRequest",
        "variableDeclarationType" : "SetRulePrioritiesRequest",
        "documentation" : "<p>Contains the parameters for SetRulePriorities.</p>",
        "simpleType" : "SetRulePrioritiesRequest",
        "variableSetterType" : "SetRulePrioritiesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetRulePrioritiesResult",
        "documentation" : "<p>Contains the output of SetRulePriorities.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>"
      }, {
        "exceptionName" : "PriorityInUseException",
        "documentation" : "<p>The specified priority is in use.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "SetRulePrioritiesResult",
      "asyncReturnType" : "SetRulePrioritiesResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetRulePrioritiesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetRulePrioritiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetRulePrioritiesRequest, SetRulePrioritiesResult>",
      "methodName" : "setRulePriorities"
    },
    "SetSecurityGroups" : {
      "documentation" : "<p>Associates the specified security groups with the specified load balancer. The specified security groups override the previously associated security groups.</p>",
      "operationName" : "SetSecurityGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "setSecurityGroupsRequest",
        "variableType" : "SetSecurityGroupsRequest",
        "variableDeclarationType" : "SetSecurityGroupsRequest",
        "documentation" : "<p>Contains the parameters for SetSecurityGroups.</p>",
        "simpleType" : "SetSecurityGroupsRequest",
        "variableSetterType" : "SetSecurityGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetSecurityGroupsResult",
        "documentation" : "<p>Contains the output of SetSecurityGroups.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      }, {
        "exceptionName" : "InvalidSecurityGroupException",
        "documentation" : "<p>The specified security group does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "SetSecurityGroupsResult",
      "asyncReturnType" : "SetSecurityGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetSecurityGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetSecurityGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetSecurityGroupsRequest, SetSecurityGroupsResult>",
      "methodName" : "setSecurityGroups"
    },
    "SetSubnets" : {
      "documentation" : "<p>Enables the Availability Zone for the specified subnets for the specified load balancer. The specified subnets replace the previously enabled subnets.</p>",
      "operationName" : "SetSubnets",
      "deprecated" : false,
      "input" : {
        "variableName" : "setSubnetsRequest",
        "variableType" : "SetSubnetsRequest",
        "variableDeclarationType" : "SetSubnetsRequest",
        "documentation" : "<p>Contains the parameters for SetSubnets.</p>",
        "simpleType" : "SetSubnetsRequest",
        "variableSetterType" : "SetSubnetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetSubnetsResult",
        "documentation" : "<p>Contains the output of SetSubnets.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>The specified subnet does not exist.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The specified subnet is out of available addresses.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "SetSubnetsResult",
      "asyncReturnType" : "SetSubnetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetSubnetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetSubnetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetSubnetsRequest, SetSubnetsResult>",
      "methodName" : "setSubnets"
    }
  },
  "shapes" : {
    "DeregisterTargetsResult" : {
      "c2jName" : "DeregisterTargetsOutput",
      "documentation" : "<p>Contains the output of DeregisterTargets.</p>",
      "shapeName" : "DeregisterTargetsResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "deregisterTargetsResult",
        "variableType" : "DeregisterTargetsResult",
        "variableDeclarationType" : "DeregisterTargetsResult",
        "documentation" : null,
        "simpleType" : "DeregisterTargetsResult",
        "variableSetterType" : "DeregisterTargetsResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : "DeregisterTargetsResult",
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "RulePriorityPair" : {
      "c2jName" : "RulePriorityPair",
      "documentation" : "<p>Information about the priorities for the rules for a listener.</p>",
      "shapeName" : "RulePriorityPair",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The Amazon Resource Name (ARN) of the rule.</p>",
        "name" : "RuleArn",
        "c2jName" : "RuleArn",
        "c2jShape" : "RuleArn",
        "variable" : {
          "variableName" : "ruleArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the rule.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "ruleArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "RuleArn",
          "marshallLocationName" : "RuleArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@param ruleArn The Amazon Resource Name (ARN) of the rule.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@return The Amazon Resource Name (ARN) of the rule.*/",
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@param ruleArn The Amazon Resource Name (ARN) of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@param ruleArn The Amazon Resource Name (ARN) of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The rule priority.</p>",
        "name" : "Priority",
        "c2jName" : "Priority",
        "c2jShape" : "RulePriority",
        "variable" : {
          "variableName" : "priority",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The rule priority.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "priority",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Priority",
          "marshallLocationName" : "Priority",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The rule priority.</p>\n@param priority The rule priority.*/",
        "getterDocumentation" : "/**<p>The rule priority.</p>\n@return The rule priority.*/",
        "fluentSetterDocumentation" : "/**<p>The rule priority.</p>\n@param priority The rule priority.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The rule priority.</p>\n@param priority The rule priority.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "rulePriorityPair",
        "variableType" : "RulePriorityPair",
        "variableDeclarationType" : "RulePriorityPair",
        "documentation" : null,
        "simpleType" : "RulePriorityPair",
        "variableSetterType" : "RulePriorityPair"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Priority" : {
          "documentation" : "<p>The rule priority.</p>",
          "name" : "Priority",
          "c2jName" : "Priority",
          "c2jShape" : "RulePriority",
          "variable" : {
            "variableName" : "priority",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The rule priority.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "priority",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Priority",
            "marshallLocationName" : "Priority",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The rule priority.</p>\n@param priority The rule priority.*/",
          "getterDocumentation" : "/**<p>The rule priority.</p>\n@return The rule priority.*/",
          "fluentSetterDocumentation" : "/**<p>The rule priority.</p>\n@param priority The rule priority.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The rule priority.</p>\n@param priority The rule priority.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "RuleArn" : {
          "documentation" : "<p>The Amazon Resource Name (ARN) of the rule.</p>",
          "name" : "RuleArn",
          "c2jName" : "RuleArn",
          "c2jShape" : "RuleArn",
          "variable" : {
            "variableName" : "ruleArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the rule.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "ruleArn",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "RuleArn",
            "marshallLocationName" : "RuleArn",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@param ruleArn The Amazon Resource Name (ARN) of the rule.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@return The Amazon Resource Name (ARN) of the rule.*/",
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@param ruleArn The Amazon Resource Name (ARN) of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@param ruleArn The Amazon Resource Name (ARN) of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "UnsupportedProtocolException" : {
      "c2jName" : "UnsupportedProtocolException",
      "documentation" : "<p>The specified protocol is not supported.</p>",
      "shapeName" : "UnsupportedProtocolException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "unsupportedProtocolException",
        "variableType" : "UnsupportedProtocolException",
        "variableDeclarationType" : "UnsupportedProtocolException",
        "documentation" : null,
        "simpleType" : "UnsupportedProtocolException",
        "variableSetterType" : "UnsupportedProtocolException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "UnsupportedProtocol",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "AddTagsRequest" : {
      "c2jName" : "AddTagsInput",
      "documentation" : "<p>Contains the parameters for AddTags.</p>",
      "shapeName" : "AddTagsRequest",
      "deprecated" : false,
      "required" : [ "ResourceArns", "Tags" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The Amazon Resource Name (ARN) of the resource.</p>",
        "name" : "ResourceArns",
        "c2jName" : "ResourceArns",
        "c2jShape" : "ResourceArns",
        "variable" : {
          "variableName" : "resourceArns",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "resourceArns",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ResourceArns",
          "marshallLocationName" : "ResourceArns",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "ResourceArn",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "templateType" : "java.util.List<String>",
          "templateImplType" : "java.util.ArrayList<String>",
          "simpleType" : "String",
          "simple" : true,
          "map" : false
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n@param resourceArns The Amazon Resource Name (ARN) of the resource.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n@return The Amazon Resource Name (ARN) of the resource.*/",
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n@param resourceArns The Amazon Resource Name (ARN) of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setResourceArns(java.util.Collection)} or {@link #withResourceArns(java.util.Collection)} if you want to override the existing values.</p>\n@param resourceArns The Amazon Resource Name (ARN) of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The tags. Each resource can have a maximum of 10 tags.</p>",
        "name" : "Tags",
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "variable" : {
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "java.util.List<Tag>",
          "documentation" : "<p>The tags. Each resource can have a maximum of 10 tags.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "setterModel" : {
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Tags",
          "marshallLocationName" : "Tags",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Tag",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "templateType" : "java.util.List<Tag>",
          "templateImplType" : "java.util.ArrayList<Tag>",
          "simpleType" : "Tag",
          "simple" : false,
          "map" : false
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n@param tags The tags. Each resource can have a maximum of 10 tags.*/",
        "getterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n@return The tags. Each resource can have a maximum of 10 tags.*/",
        "fluentSetterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n@param tags The tags. Each resource can have a maximum of 10 tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tags. Each resource can have a maximum of 10 tags.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "variableDeclarationType" : "AddTagsRequest",
        "documentation" : null,
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "marshaller" : {
        "action" : "AddTags",
        "verb" : "POST",
        "target" : null,
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ResourceArns" : {
          "documentation" : "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "name" : "ResourceArns",
          "c2jName" : "ResourceArns",
          "c2jShape" : "ResourceArns",
          "variable" : {
            "variableName" : "resourceArns",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "java.util.List<String>",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "setterModel" : {
            "variableName" : "resourceArns",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ResourceArns",
            "marshallLocationName" : "ResourceArns",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "String",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "ResourceArn",
              "variable" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "String",
                "variableDeclarationType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : true,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "templateType" : "java.util.List<String>",
            "templateImplType" : "java.util.ArrayList<String>",
            "simpleType" : "String",
            "simple" : true,
            "map" : false
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n@param resourceArns The Amazon Resource Name (ARN) of the resource.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n@return The Amazon Resource Name (ARN) of the resource.*/",
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n@param resourceArns The Amazon Resource Name (ARN) of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setResourceArns(java.util.Collection)} or {@link #withResourceArns(java.util.Collection)} if you want to override the existing values.</p>\n@param resourceArns The Amazon Resource Name (ARN) of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Tags" : {
          "documentation" : "<p>The tags. Each resource can have a maximum of 10 tags.</p>",
          "name" : "Tags",
          "c2jName" : "Tags",
          "c2jShape" : "TagList",
          "variable" : {
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "variableDeclarationType" : "java.util.List<Tag>",
            "documentation" : "<p>The tags. Each resource can have a maximum of 10 tags.</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "setterModel" : {
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "variableDeclarationType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Tags",
            "marshallLocationName" : "Tags",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Tag",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Tag",
                "variableDeclarationType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Tag",
                "variableDeclarationType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "templateType" : "java.util.List<Tag>",
            "templateImplType" : "java.util.ArrayList<Tag>",
            "simpleType" : "Tag",
            "simple" : false,
            "map" : false
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n@param tags The tags. Each resource can have a maximum of 10 tags.*/",
          "getterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n@return The tags. Each resource can have a maximum of 10 tags.*/",
          "fluentSetterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n@param tags The tags. Each resource can have a maximum of 10 tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tags. Each resource can have a maximum of 10 tags.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DescribeTargetGroupAttributesRequest" : {
[...]
