<settings>
  <servers>
    <server>
      <id>sonatype-nexus-staging</id>
      <username>amazonwebservices</username>
      <password>aw$$dk</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>publishing</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <properties>
        <gpg.keyname>F16AB41B</gpg.keyname>
        <gpg.passphrase>DrT00ls</gpg.passphrase>
      </properties>
    </profile>
  </profiles>
</settings>
