{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-09",
    "asyncClient" : "AmazonAlexaForBusinessAsyncClient",
    "asyncClientBuilderClassName" : "AmazonAlexaForBusinessAsyncClientBuilder",
    "asyncInterface" : "AmazonAlexaForBusinessAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonAlexaForBusinessModuleInjector",
    "defaultEndpoint" : "a4b.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "a4b.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Alexa for Business helps you use Alexa in your organization. Alexa for Business provides you with the tools to manage Alexa devices, enroll your users, and assign skills, at scale. You can build your own context-aware voice skills using the Alexa Skills Kit and the Alexa for Business API operations. You can also make these available as private skills for your organization. Alexa for Business makes it efficient to voice-enable your products and services, thus providing context-aware voice experiences for your customers. Device makers building with the Alexa Voice Service (AVS) can create fully integrated solutions, register their products with Alexa for Business, and manage them as shared devices in their organization. </p>",
    "endpointPrefix" : "a4b",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.alexaforbusiness",
    "packagePath" : "com/amazonaws/services/alexaforbusiness",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Alexa For Business",
    "serviceId" : "Alexa For Business",
    "serviceName" : "Alexa For Business",
    "signingName" : "a4b",
    "smokeTestsPackageName" : "com.amazonaws.services.alexaforbusiness.smoketests",
    "syncClient" : "AmazonAlexaForBusinessClient",
    "syncClientBuilderClassName" : "AmazonAlexaForBusinessClientBuilder",
    "syncInterface" : "AmazonAlexaForBusiness",
    "uid" : "alexaforbusiness-2017-11-09",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ApproveSkill" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ApproveSkillResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ApproveSkillResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ApproveSkillRequest, ApproveSkillResult>",
      "asyncReturnType" : "ApproveSkillResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a skill with the organization under the customer's AWS account. If a skill is private, the user implicitly accepts access to this skill during enablement.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApproveSkillRequest",
        "variableName" : "approveSkillRequest",
        "variableType" : "ApproveSkillRequest",
        "documentation" : "",
        "simpleType" : "ApproveSkillRequest",
        "variableSetterType" : "ApproveSkillRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "approveSkill",
      "operationName" : "ApproveSkill",
      "returnType" : {
        "returnType" : "ApproveSkillResult",
        "documentation" : null
      },
      "syncReturnType" : "ApproveSkillResult"
    },
    "AssociateContactWithAddressBook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateContactWithAddressBookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateContactWithAddressBookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateContactWithAddressBookRequest, AssociateContactWithAddressBookResult>",
      "asyncReturnType" : "AssociateContactWithAddressBookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a contact with a given address book.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateContactWithAddressBookRequest",
        "variableName" : "associateContactWithAddressBookRequest",
        "variableType" : "AssociateContactWithAddressBookRequest",
        "documentation" : "",
        "simpleType" : "AssociateContactWithAddressBookRequest",
        "variableSetterType" : "AssociateContactWithAddressBookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateContactWithAddressBook",
      "operationName" : "AssociateContactWithAddressBook",
      "returnType" : {
        "returnType" : "AssociateContactWithAddressBookResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateContactWithAddressBookResult"
    },
    "AssociateDeviceWithRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateDeviceWithRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateDeviceWithRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateDeviceWithRoomRequest, AssociateDeviceWithRoomResult>",
      "asyncReturnType" : "AssociateDeviceWithRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a device with a given room. This applies all the settings from the room profile to the device, and all the skills in any skill groups added to that room. This operation requires the device to be online, or else a manual sync is required. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DeviceNotRegisteredException",
        "documentation" : "<p>The request failed because this device is no longer registered and therefore no longer managed by this account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDeviceWithRoomRequest",
        "variableName" : "associateDeviceWithRoomRequest",
        "variableType" : "AssociateDeviceWithRoomRequest",
        "documentation" : "",
        "simpleType" : "AssociateDeviceWithRoomRequest",
        "variableSetterType" : "AssociateDeviceWithRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateDeviceWithRoom",
      "operationName" : "AssociateDeviceWithRoom",
      "returnType" : {
        "returnType" : "AssociateDeviceWithRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateDeviceWithRoomResult"
    },
    "AssociateSkillGroupWithRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateSkillGroupWithRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateSkillGroupWithRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateSkillGroupWithRoomRequest, AssociateSkillGroupWithRoomResult>",
      "asyncReturnType" : "AssociateSkillGroupWithRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a skill group with a given room. This enables all skills in the associated skill group on all devices in the room.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateSkillGroupWithRoomRequest",
        "variableName" : "associateSkillGroupWithRoomRequest",
        "variableType" : "AssociateSkillGroupWithRoomRequest",
        "documentation" : "",
        "simpleType" : "AssociateSkillGroupWithRoomRequest",
        "variableSetterType" : "AssociateSkillGroupWithRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateSkillGroupWithRoom",
      "operationName" : "AssociateSkillGroupWithRoom",
      "returnType" : {
        "returnType" : "AssociateSkillGroupWithRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateSkillGroupWithRoomResult"
    },
    "AssociateSkillWithSkillGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateSkillWithSkillGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateSkillWithSkillGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateSkillWithSkillGroupRequest, AssociateSkillWithSkillGroupResult>",
      "asyncReturnType" : "AssociateSkillWithSkillGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a skill with a skill group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SkillNotLinkedException",
        "documentation" : "<p>The skill must be linked to a third-party account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateSkillWithSkillGroupRequest",
        "variableName" : "associateSkillWithSkillGroupRequest",
        "variableType" : "AssociateSkillWithSkillGroupRequest",
        "documentation" : "",
        "simpleType" : "AssociateSkillWithSkillGroupRequest",
        "variableSetterType" : "AssociateSkillWithSkillGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateSkillWithSkillGroup",
      "operationName" : "AssociateSkillWithSkillGroup",
      "returnType" : {
        "returnType" : "AssociateSkillWithSkillGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateSkillWithSkillGroupResult"
    },
    "AssociateSkillWithUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateSkillWithUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateSkillWithUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateSkillWithUsersRequest, AssociateSkillWithUsersResult>",
      "asyncReturnType" : "AssociateSkillWithUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Makes a private skill available for enrolled users to enable on their devices.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateSkillWithUsersRequest",
        "variableName" : "associateSkillWithUsersRequest",
        "variableType" : "AssociateSkillWithUsersRequest",
        "documentation" : "",
        "simpleType" : "AssociateSkillWithUsersRequest",
        "variableSetterType" : "AssociateSkillWithUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateSkillWithUsers",
      "operationName" : "AssociateSkillWithUsers",
      "returnType" : {
        "returnType" : "AssociateSkillWithUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateSkillWithUsersResult"
    },
    "CreateAddressBook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAddressBookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAddressBookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAddressBookRequest, CreateAddressBookResult>",
      "asyncReturnType" : "CreateAddressBookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an address book with the specified details.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource being created already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAddressBookRequest",
        "variableName" : "createAddressBookRequest",
        "variableType" : "CreateAddressBookRequest",
        "documentation" : "",
        "simpleType" : "CreateAddressBookRequest",
        "variableSetterType" : "CreateAddressBookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAddressBook",
      "operationName" : "CreateAddressBook",
      "returnType" : {
        "returnType" : "CreateAddressBookResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAddressBookResult"
    },
    "CreateBusinessReportSchedule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBusinessReportScheduleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBusinessReportScheduleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBusinessReportScheduleRequest, CreateBusinessReportScheduleResult>",
      "asyncReturnType" : "CreateBusinessReportScheduleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a recurring schedule for usage reports to deliver to the specified S3 location with a specified daily or weekly interval.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource being created already exists.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBusinessReportScheduleRequest",
        "variableName" : "createBusinessReportScheduleRequest",
        "variableType" : "CreateBusinessReportScheduleRequest",
        "documentation" : "",
        "simpleType" : "CreateBusinessReportScheduleRequest",
        "variableSetterType" : "CreateBusinessReportScheduleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBusinessReportSchedule",
      "operationName" : "CreateBusinessReportSchedule",
      "returnType" : {
        "returnType" : "CreateBusinessReportScheduleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBusinessReportScheduleResult"
    },
    "CreateConferenceProvider" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConferenceProviderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConferenceProviderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConferenceProviderRequest, CreateConferenceProviderResult>",
      "asyncReturnType" : "CreateConferenceProviderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a new conference provider under the user's AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource being created already exists.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConferenceProviderRequest",
        "variableName" : "createConferenceProviderRequest",
        "variableType" : "CreateConferenceProviderRequest",
        "documentation" : "",
        "simpleType" : "CreateConferenceProviderRequest",
        "variableSetterType" : "CreateConferenceProviderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConferenceProvider",
      "operationName" : "CreateConferenceProvider",
      "returnType" : {
        "returnType" : "CreateConferenceProviderResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConferenceProviderResult"
    },
    "CreateContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateContactRequest, CreateContactResult>",
      "asyncReturnType" : "CreateContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a contact with the specified details.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource being created already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateContactRequest",
        "variableName" : "createContactRequest",
        "variableType" : "CreateContactRequest",
        "documentation" : "",
        "simpleType" : "CreateContactRequest",
        "variableSetterType" : "CreateContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createContact",
      "operationName" : "CreateContact",
      "returnType" : {
        "returnType" : "CreateContactResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateContactResult"
    },
    "CreateGatewayGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGatewayGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGatewayGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGatewayGroupRequest, CreateGatewayGroupResult>",
      "asyncReturnType" : "CreateGatewayGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a gateway group with the specified details.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource being created already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGatewayGroupRequest",
        "variableName" : "createGatewayGroupRequest",
        "variableType" : "CreateGatewayGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateGatewayGroupRequest",
        "variableSetterType" : "CreateGatewayGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGatewayGroup",
      "operationName" : "CreateGatewayGroup",
      "returnType" : {
        "returnType" : "CreateGatewayGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGatewayGroupResult"
    },
    "CreateProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProfileRequest, CreateProfileResult>",
      "asyncReturnType" : "CreateProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new room profile with the specified details.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource being created already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProfileRequest",
        "variableName" : "createProfileRequest",
        "variableType" : "CreateProfileRequest",
        "documentation" : "",
        "simpleType" : "CreateProfileRequest",
        "variableSetterType" : "CreateProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProfile",
      "operationName" : "CreateProfile",
      "returnType" : {
        "returnType" : "CreateProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProfileResult"
    },
    "CreateRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRoomRequest, CreateRoomResult>",
      "asyncReturnType" : "CreateRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a room with the specified details.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource being created already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRoomRequest",
        "variableName" : "createRoomRequest",
        "variableType" : "CreateRoomRequest",
        "documentation" : "",
        "simpleType" : "CreateRoomRequest",
        "variableSetterType" : "CreateRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRoom",
      "operationName" : "CreateRoom",
      "returnType" : {
        "returnType" : "CreateRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRoomResult"
    },
    "CreateSkillGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSkillGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSkillGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSkillGroupRequest, CreateSkillGroupResult>",
      "asyncReturnType" : "CreateSkillGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a skill group with a specified name and description.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource being created already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSkillGroupRequest",
        "variableName" : "createSkillGroupRequest",
        "variableType" : "CreateSkillGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateSkillGroupRequest",
        "variableSetterType" : "CreateSkillGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSkillGroup",
      "operationName" : "CreateSkillGroup",
      "returnType" : {
        "returnType" : "CreateSkillGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSkillGroupResult"
    },
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource in the request is already in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserResult"
    },
    "DeleteAddressBook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAddressBookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAddressBookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAddressBookRequest, DeleteAddressBookResult>",
      "asyncReturnType" : "DeleteAddressBookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an address book by the address book ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAddressBookRequest",
        "variableName" : "deleteAddressBookRequest",
        "variableType" : "DeleteAddressBookRequest",
        "documentation" : "",
        "simpleType" : "DeleteAddressBookRequest",
        "variableSetterType" : "DeleteAddressBookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAddressBook",
      "operationName" : "DeleteAddressBook",
      "returnType" : {
        "returnType" : "DeleteAddressBookResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAddressBookResult"
    },
    "DeleteBusinessReportSchedule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBusinessReportScheduleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBusinessReportScheduleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBusinessReportScheduleRequest, DeleteBusinessReportScheduleResult>",
      "asyncReturnType" : "DeleteBusinessReportScheduleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the recurring report delivery schedule with the specified schedule ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBusinessReportScheduleRequest",
        "variableName" : "deleteBusinessReportScheduleRequest",
        "variableType" : "DeleteBusinessReportScheduleRequest",
        "documentation" : "",
        "simpleType" : "DeleteBusinessReportScheduleRequest",
        "variableSetterType" : "DeleteBusinessReportScheduleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBusinessReportSchedule",
      "operationName" : "DeleteBusinessReportSchedule",
      "returnType" : {
        "returnType" : "DeleteBusinessReportScheduleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBusinessReportScheduleResult"
    },
    "DeleteConferenceProvider" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConferenceProviderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConferenceProviderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConferenceProviderRequest, DeleteConferenceProviderResult>",
      "asyncReturnType" : "DeleteConferenceProviderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a conference provider.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConferenceProviderRequest",
        "variableName" : "deleteConferenceProviderRequest",
        "variableType" : "DeleteConferenceProviderRequest",
        "documentation" : "",
        "simpleType" : "DeleteConferenceProviderRequest",
        "variableSetterType" : "DeleteConferenceProviderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConferenceProvider",
      "operationName" : "DeleteConferenceProvider",
      "returnType" : {
        "returnType" : "DeleteConferenceProviderResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConferenceProviderResult"
    },
    "DeleteContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteContactRequest, DeleteContactResult>",
      "asyncReturnType" : "DeleteContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a contact by the contact ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteContactRequest",
        "variableName" : "deleteContactRequest",
        "variableType" : "DeleteContactRequest",
        "documentation" : "",
        "simpleType" : "DeleteContactRequest",
        "variableSetterType" : "DeleteContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteContact",
      "operationName" : "DeleteContact",
      "returnType" : {
        "returnType" : "DeleteContactResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteContactResult"
    },
    "DeleteDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeviceRequest, DeleteDeviceResult>",
      "asyncReturnType" : "DeleteDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a device from Alexa For Business.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCertificateAuthorityException",
        "documentation" : "<p>The Certificate Authority can't issue or revoke a certificate.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDeviceRequest",
        "variableName" : "deleteDeviceRequest",
        "variableType" : "DeleteDeviceRequest",
        "documentation" : "",
        "simpleType" : "DeleteDeviceRequest",
        "variableSetterType" : "DeleteDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDevice",
      "operationName" : "DeleteDevice",
      "returnType" : {
        "returnType" : "DeleteDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDeviceResult"
    },
    "DeleteGatewayGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGatewayGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGatewayGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGatewayGroupRequest, DeleteGatewayGroupResult>",
      "asyncReturnType" : "DeleteGatewayGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a gateway group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceAssociatedException",
        "documentation" : "<p>Another resource is associated with the resource in the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGatewayGroupRequest",
        "variableName" : "deleteGatewayGroupRequest",
        "variableType" : "DeleteGatewayGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteGatewayGroupRequest",
        "variableSetterType" : "DeleteGatewayGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGatewayGroup",
      "operationName" : "DeleteGatewayGroup",
      "returnType" : {
        "returnType" : "DeleteGatewayGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGatewayGroupResult"
    },
    "DeleteProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProfileRequest, DeleteProfileResult>",
      "asyncReturnType" : "DeleteProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a room profile by the profile ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProfileRequest",
        "variableName" : "deleteProfileRequest",
        "variableType" : "DeleteProfileRequest",
        "documentation" : "",
        "simpleType" : "DeleteProfileRequest",
        "variableSetterType" : "DeleteProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProfile",
      "operationName" : "DeleteProfile",
      "returnType" : {
        "returnType" : "DeleteProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProfileResult"
    },
    "DeleteRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRoomRequest, DeleteRoomResult>",
      "asyncReturnType" : "DeleteRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a room by the room ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRoomRequest",
        "variableName" : "deleteRoomRequest",
        "variableType" : "DeleteRoomRequest",
        "documentation" : "",
        "simpleType" : "DeleteRoomRequest",
        "variableSetterType" : "DeleteRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRoom",
      "operationName" : "DeleteRoom",
      "returnType" : {
        "returnType" : "DeleteRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRoomResult"
    },
    "DeleteRoomSkillParameter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRoomSkillParameterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRoomSkillParameterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRoomSkillParameterRequest, DeleteRoomSkillParameterResult>",
      "asyncReturnType" : "DeleteRoomSkillParameterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes room skill parameter details by room, skill, and parameter key ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRoomSkillParameterRequest",
        "variableName" : "deleteRoomSkillParameterRequest",
        "variableType" : "DeleteRoomSkillParameterRequest",
        "documentation" : "",
        "simpleType" : "DeleteRoomSkillParameterRequest",
        "variableSetterType" : "DeleteRoomSkillParameterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRoomSkillParameter",
      "operationName" : "DeleteRoomSkillParameter",
      "returnType" : {
        "returnType" : "DeleteRoomSkillParameterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRoomSkillParameterResult"
    },
    "DeleteSkillAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSkillAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSkillAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSkillAuthorizationRequest, DeleteSkillAuthorizationResult>",
      "asyncReturnType" : "DeleteSkillAuthorizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Unlinks a third-party account from a skill.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSkillAuthorizationRequest",
        "variableName" : "deleteSkillAuthorizationRequest",
        "variableType" : "DeleteSkillAuthorizationRequest",
        "documentation" : "",
        "simpleType" : "DeleteSkillAuthorizationRequest",
        "variableSetterType" : "DeleteSkillAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSkillAuthorization",
      "operationName" : "DeleteSkillAuthorization",
      "returnType" : {
        "returnType" : "DeleteSkillAuthorizationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSkillAuthorizationResult"
    },
    "DeleteSkillGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSkillGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSkillGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSkillGroupRequest, DeleteSkillGroupResult>",
      "asyncReturnType" : "DeleteSkillGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a skill group by skill group ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSkillGroupRequest",
        "variableName" : "deleteSkillGroupRequest",
        "variableType" : "DeleteSkillGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteSkillGroupRequest",
        "variableSetterType" : "DeleteSkillGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSkillGroup",
      "operationName" : "DeleteSkillGroup",
      "returnType" : {
        "returnType" : "DeleteSkillGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSkillGroupResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specified user by user ARN and enrollment ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DisassociateContactFromAddressBook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateContactFromAddressBookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateContactFromAddressBookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateContactFromAddressBookRequest, DisassociateContactFromAddressBookResult>",
      "asyncReturnType" : "DisassociateContactFromAddressBookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a contact from a given address book.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateContactFromAddressBookRequest",
        "variableName" : "disassociateContactFromAddressBookRequest",
        "variableType" : "DisassociateContactFromAddressBookRequest",
        "documentation" : "",
        "simpleType" : "DisassociateContactFromAddressBookRequest",
        "variableSetterType" : "DisassociateContactFromAddressBookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateContactFromAddressBook",
      "operationName" : "DisassociateContactFromAddressBook",
      "returnType" : {
        "returnType" : "DisassociateContactFromAddressBookResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateContactFromAddressBookResult"
    },
    "DisassociateDeviceFromRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateDeviceFromRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateDeviceFromRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateDeviceFromRoomRequest, DisassociateDeviceFromRoomResult>",
      "asyncReturnType" : "DisassociateDeviceFromRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a device from its current room. The device continues to be connected to the Wi-Fi network and is still registered to the account. The device settings and skills are removed from the room.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DeviceNotRegisteredException",
        "documentation" : "<p>The request failed because this device is no longer registered and therefore no longer managed by this account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateDeviceFromRoomRequest",
        "variableName" : "disassociateDeviceFromRoomRequest",
        "variableType" : "DisassociateDeviceFromRoomRequest",
        "documentation" : "",
        "simpleType" : "DisassociateDeviceFromRoomRequest",
        "variableSetterType" : "DisassociateDeviceFromRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateDeviceFromRoom",
      "operationName" : "DisassociateDeviceFromRoom",
      "returnType" : {
        "returnType" : "DisassociateDeviceFromRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateDeviceFromRoomResult"
    },
    "DisassociateSkillFromSkillGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateSkillFromSkillGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateSkillFromSkillGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateSkillFromSkillGroupRequest, DisassociateSkillFromSkillGroupResult>",
      "asyncReturnType" : "DisassociateSkillFromSkillGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a skill from a skill group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateSkillFromSkillGroupRequest",
        "variableName" : "disassociateSkillFromSkillGroupRequest",
        "variableType" : "DisassociateSkillFromSkillGroupRequest",
        "documentation" : "",
        "simpleType" : "DisassociateSkillFromSkillGroupRequest",
        "variableSetterType" : "DisassociateSkillFromSkillGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateSkillFromSkillGroup",
      "operationName" : "DisassociateSkillFromSkillGroup",
      "returnType" : {
        "returnType" : "DisassociateSkillFromSkillGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateSkillFromSkillGroupResult"
    },
    "DisassociateSkillFromUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateSkillFromUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateSkillFromUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateSkillFromUsersRequest, DisassociateSkillFromUsersResult>",
      "asyncReturnType" : "DisassociateSkillFromUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Makes a private skill unavailable for enrolled users and prevents them from enabling it on their devices.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateSkillFromUsersRequest",
        "variableName" : "disassociateSkillFromUsersRequest",
        "variableType" : "DisassociateSkillFromUsersRequest",
        "documentation" : "",
        "simpleType" : "DisassociateSkillFromUsersRequest",
        "variableSetterType" : "DisassociateSkillFromUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateSkillFromUsers",
      "operationName" : "DisassociateSkillFromUsers",
      "returnType" : {
        "returnType" : "DisassociateSkillFromUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateSkillFromUsersResult"
    },
    "DisassociateSkillGroupFromRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateSkillGroupFromRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateSkillGroupFromRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateSkillGroupFromRoomRequest, DisassociateSkillGroupFromRoomResult>",
      "asyncReturnType" : "DisassociateSkillGroupFromRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a skill group from a specified room. This disables all skills in the skill group on all devices in the room.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateSkillGroupFromRoomRequest",
        "variableName" : "disassociateSkillGroupFromRoomRequest",
        "variableType" : "DisassociateSkillGroupFromRoomRequest",
        "documentation" : "",
        "simpleType" : "DisassociateSkillGroupFromRoomRequest",
        "variableSetterType" : "DisassociateSkillGroupFromRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateSkillGroupFromRoom",
      "operationName" : "DisassociateSkillGroupFromRoom",
      "returnType" : {
        "returnType" : "DisassociateSkillGroupFromRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateSkillGroupFromRoomResult"
    },
    "ForgetSmartHomeAppliances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ForgetSmartHomeAppliancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ForgetSmartHomeAppliancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ForgetSmartHomeAppliancesRequest, ForgetSmartHomeAppliancesResult>",
      "asyncReturnType" : "ForgetSmartHomeAppliancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Forgets smart home appliances associated to a room.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ForgetSmartHomeAppliancesRequest",
        "variableName" : "forgetSmartHomeAppliancesRequest",
        "variableType" : "ForgetSmartHomeAppliancesRequest",
        "documentation" : "",
        "simpleType" : "ForgetSmartHomeAppliancesRequest",
        "variableSetterType" : "ForgetSmartHomeAppliancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "forgetSmartHomeAppliances",
      "operationName" : "ForgetSmartHomeAppliances",
      "returnType" : {
        "returnType" : "ForgetSmartHomeAppliancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ForgetSmartHomeAppliancesResult"
    },
    "GetAddressBook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAddressBookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAddressBookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAddressBookRequest, GetAddressBookResult>",
      "asyncReturnType" : "GetAddressBookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets address the book details by the address book ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAddressBookRequest",
        "variableName" : "getAddressBookRequest",
        "variableType" : "GetAddressBookRequest",
        "documentation" : "",
        "simpleType" : "GetAddressBookRequest",
        "variableSetterType" : "GetAddressBookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAddressBook",
      "operationName" : "GetAddressBook",
      "returnType" : {
        "returnType" : "GetAddressBookResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAddressBookResult"
    },
    "GetConferencePreference" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConferencePreferenceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConferencePreferenceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConferencePreferenceRequest, GetConferencePreferenceResult>",
      "asyncReturnType" : "GetConferencePreferenceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the existing conference preferences.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConferencePreferenceRequest",
        "variableName" : "getConferencePreferenceRequest",
        "variableType" : "GetConferencePreferenceRequest",
        "documentation" : "",
        "simpleType" : "GetConferencePreferenceRequest",
        "variableSetterType" : "GetConferencePreferenceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConferencePreference",
      "operationName" : "GetConferencePreference",
      "returnType" : {
        "returnType" : "GetConferencePreferenceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConferencePreferenceResult"
    },
    "GetConferenceProvider" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConferenceProviderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConferenceProviderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConferenceProviderRequest, GetConferenceProviderResult>",
      "asyncReturnType" : "GetConferenceProviderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets details about a specific conference provider.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConferenceProviderRequest",
        "variableName" : "getConferenceProviderRequest",
        "variableType" : "GetConferenceProviderRequest",
        "documentation" : "",
        "simpleType" : "GetConferenceProviderRequest",
        "variableSetterType" : "GetConferenceProviderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConferenceProvider",
      "operationName" : "GetConferenceProvider",
      "returnType" : {
        "returnType" : "GetConferenceProviderResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConferenceProviderResult"
    },
    "GetContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContactRequest, GetContactResult>",
      "asyncReturnType" : "GetContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the contact details by the contact ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetContactRequest",
        "variableName" : "getContactRequest",
        "variableType" : "GetContactRequest",
        "documentation" : "",
        "simpleType" : "GetContactRequest",
        "variableSetterType" : "GetContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getContact",
      "operationName" : "GetContact",
      "returnType" : {
        "returnType" : "GetContactResult",
        "documentation" : null
      },
      "syncReturnType" : "GetContactResult"
    },
    "GetDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceRequest, GetDeviceResult>",
      "asyncReturnType" : "GetDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of a device by device ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeviceRequest",
        "variableName" : "getDeviceRequest",
        "variableType" : "GetDeviceRequest",
        "documentation" : "",
        "simpleType" : "GetDeviceRequest",
        "variableSetterType" : "GetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDevice",
      "operationName" : "GetDevice",
      "returnType" : {
        "returnType" : "GetDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeviceResult"
    },
    "GetGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGatewayRequest, GetGatewayResult>",
      "asyncReturnType" : "GetGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details of a gateway.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGatewayRequest",
        "variableName" : "getGatewayRequest",
        "variableType" : "GetGatewayRequest",
        "documentation" : "",
        "simpleType" : "GetGatewayRequest",
        "variableSetterType" : "GetGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGateway",
      "operationName" : "GetGateway",
      "returnType" : {
        "returnType" : "GetGatewayResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGatewayResult"
    },
    "GetGatewayGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGatewayGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGatewayGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGatewayGroupRequest, GetGatewayGroupResult>",
      "asyncReturnType" : "GetGatewayGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details of a gateway group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGatewayGroupRequest",
        "variableName" : "getGatewayGroupRequest",
        "variableType" : "GetGatewayGroupRequest",
        "documentation" : "",
        "simpleType" : "GetGatewayGroupRequest",
        "variableSetterType" : "GetGatewayGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGatewayGroup",
      "operationName" : "GetGatewayGroup",
      "returnType" : {
        "returnType" : "GetGatewayGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGatewayGroupResult"
    },
    "GetInvitationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInvitationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInvitationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInvitationConfigurationRequest, GetInvitationConfigurationResult>",
      "asyncReturnType" : "GetInvitationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the configured values for the user enrollment invitation email template.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInvitationConfigurationRequest",
        "variableName" : "getInvitationConfigurationRequest",
        "variableType" : "GetInvitationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetInvitationConfigurationRequest",
        "variableSetterType" : "GetInvitationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInvitationConfiguration",
      "operationName" : "GetInvitationConfiguration",
      "returnType" : {
        "returnType" : "GetInvitationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInvitationConfigurationResult"
    },
    "GetProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProfileRequest, GetProfileResult>",
      "asyncReturnType" : "GetProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of a room profile by profile ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProfileRequest",
        "variableName" : "getProfileRequest",
        "variableType" : "GetProfileRequest",
        "documentation" : "",
        "simpleType" : "GetProfileRequest",
        "variableSetterType" : "GetProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProfile",
      "operationName" : "GetProfile",
      "returnType" : {
        "returnType" : "GetProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProfileResult"
    },
    "GetRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRoomRequest, GetRoomResult>",
      "asyncReturnType" : "GetRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets room details by room ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRoomRequest",
        "variableName" : "getRoomRequest",
        "variableType" : "GetRoomRequest",
        "documentation" : "",
        "simpleType" : "GetRoomRequest",
        "variableSetterType" : "GetRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRoom",
      "operationName" : "GetRoom",
      "returnType" : {
        "returnType" : "GetRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRoomResult"
    },
    "GetRoomSkillParameter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRoomSkillParameterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRoomSkillParameterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRoomSkillParameterRequest, GetRoomSkillParameterResult>",
      "asyncReturnType" : "GetRoomSkillParameterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets room skill parameter details by room, skill, and parameter key ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRoomSkillParameterRequest",
        "variableName" : "getRoomSkillParameterRequest",
        "variableType" : "GetRoomSkillParameterRequest",
        "documentation" : "",
        "simpleType" : "GetRoomSkillParameterRequest",
        "variableSetterType" : "GetRoomSkillParameterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRoomSkillParameter",
      "operationName" : "GetRoomSkillParameter",
      "returnType" : {
        "returnType" : "GetRoomSkillParameterResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRoomSkillParameterResult"
    },
    "GetSkillGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSkillGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSkillGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSkillGroupRequest, GetSkillGroupResult>",
      "asyncReturnType" : "GetSkillGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets skill group details by skill group ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSkillGroupRequest",
        "variableName" : "getSkillGroupRequest",
        "variableType" : "GetSkillGroupRequest",
        "documentation" : "",
        "simpleType" : "GetSkillGroupRequest",
        "variableSetterType" : "GetSkillGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSkillGroup",
      "operationName" : "GetSkillGroup",
      "returnType" : {
        "returnType" : "GetSkillGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSkillGroupResult"
    },
    "ListBusinessReportSchedules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBusinessReportSchedulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBusinessReportSchedulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBusinessReportSchedulesRequest, ListBusinessReportSchedulesResult>",
      "asyncReturnType" : "ListBusinessReportSchedulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the details of the schedules that a user configured.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBusinessReportSchedulesRequest",
        "variableName" : "listBusinessReportSchedulesRequest",
        "variableType" : "ListBusinessReportSchedulesRequest",
        "documentation" : "",
        "simpleType" : "ListBusinessReportSchedulesRequest",
        "variableSetterType" : "ListBusinessReportSchedulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBusinessReportSchedules",
      "operationName" : "ListBusinessReportSchedules",
      "returnType" : {
        "returnType" : "ListBusinessReportSchedulesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBusinessReportSchedulesResult"
    },
    "ListConferenceProviders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConferenceProvidersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConferenceProvidersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConferenceProvidersRequest, ListConferenceProvidersResult>",
      "asyncReturnType" : "ListConferenceProvidersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists conference providers under a specific AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConferenceProvidersRequest",
        "variableName" : "listConferenceProvidersRequest",
        "variableType" : "ListConferenceProvidersRequest",
        "documentation" : "",
        "simpleType" : "ListConferenceProvidersRequest",
        "variableSetterType" : "ListConferenceProvidersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConferenceProviders",
      "operationName" : "ListConferenceProviders",
      "returnType" : {
        "returnType" : "ListConferenceProvidersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConferenceProvidersResult"
    },
    "ListDeviceEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeviceEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeviceEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeviceEventsRequest, ListDeviceEventsResult>",
      "asyncReturnType" : "ListDeviceEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the device event history, including device connection status, for up to 30 days.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDeviceEventsRequest",
        "variableName" : "listDeviceEventsRequest",
        "variableType" : "ListDeviceEventsRequest",
        "documentation" : "",
        "simpleType" : "ListDeviceEventsRequest",
        "variableSetterType" : "ListDeviceEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeviceEvents",
      "operationName" : "ListDeviceEvents",
      "returnType" : {
        "returnType" : "ListDeviceEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDeviceEventsResult"
    },
    "ListGatewayGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGatewayGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGatewayGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGatewayGroupsRequest, ListGatewayGroupsResult>",
      "asyncReturnType" : "ListGatewayGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of gateway group summaries. Use GetGatewayGroup to retrieve details of a specific gateway group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGatewayGroupsRequest",
        "variableName" : "listGatewayGroupsRequest",
        "variableType" : "ListGatewayGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListGatewayGroupsRequest",
        "variableSetterType" : "ListGatewayGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGatewayGroups",
      "operationName" : "ListGatewayGroups",
      "returnType" : {
        "returnType" : "ListGatewayGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGatewayGroupsResult"
    },
    "ListGateways" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGatewaysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGatewaysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGatewaysRequest, ListGatewaysResult>",
      "asyncReturnType" : "ListGatewaysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of gateway summaries. Use GetGateway to retrieve details of a specific gateway. An optional gateway group ARN can be provided to only retrieve gateway summaries of gateways that are associated with that gateway group ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGatewaysRequest",
        "variableName" : "listGatewaysRequest",
        "variableType" : "ListGatewaysRequest",
        "documentation" : "",
        "simpleType" : "ListGatewaysRequest",
        "variableSetterType" : "ListGatewaysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGateways",
      "operationName" : "ListGateways",
      "returnType" : {
        "returnType" : "ListGatewaysResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGatewaysResult"
    },
    "ListSkills" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSkillsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSkillsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSkillsRequest, ListSkillsResult>",
      "asyncReturnType" : "ListSkillsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all enabled skills in a specific skill group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSkillsRequest",
        "variableName" : "listSkillsRequest",
        "variableType" : "ListSkillsRequest",
        "documentation" : "",
        "simpleType" : "ListSkillsRequest",
        "variableSetterType" : "ListSkillsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSkills",
      "operationName" : "ListSkills",
      "returnType" : {
        "returnType" : "ListSkillsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSkillsResult"
    },
    "ListSkillsStoreCategories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSkillsStoreCategoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSkillsStoreCategoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSkillsStoreCategoriesRequest, ListSkillsStoreCategoriesResult>",
      "asyncReturnType" : "ListSkillsStoreCategoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all categories in the Alexa skill store.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSkillsStoreCategoriesRequest",
        "variableName" : "listSkillsStoreCategoriesRequest",
        "variableType" : "ListSkillsStoreCategoriesRequest",
        "documentation" : "",
        "simpleType" : "ListSkillsStoreCategoriesRequest",
        "variableSetterType" : "ListSkillsStoreCategoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSkillsStoreCategories",
      "operationName" : "ListSkillsStoreCategories",
      "returnType" : {
        "returnType" : "ListSkillsStoreCategoriesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSkillsStoreCategoriesResult"
    },
    "ListSkillsStoreSkillsByCategory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSkillsStoreSkillsByCategoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSkillsStoreSkillsByCategoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSkillsStoreSkillsByCategoryRequest, ListSkillsStoreSkillsByCategoryResult>",
      "asyncReturnType" : "ListSkillsStoreSkillsByCategoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all skills in the Alexa skill store by category.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSkillsStoreSkillsByCategoryRequest",
        "variableName" : "listSkillsStoreSkillsByCategoryRequest",
        "variableType" : "ListSkillsStoreSkillsByCategoryRequest",
        "documentation" : "",
        "simpleType" : "ListSkillsStoreSkillsByCategoryRequest",
        "variableSetterType" : "ListSkillsStoreSkillsByCategoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSkillsStoreSkillsByCategory",
      "operationName" : "ListSkillsStoreSkillsByCategory",
      "returnType" : {
        "returnType" : "ListSkillsStoreSkillsByCategoryResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSkillsStoreSkillsByCategoryResult"
    },
    "ListSmartHomeAppliances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSmartHomeAppliancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSmartHomeAppliancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSmartHomeAppliancesRequest, ListSmartHomeAppliancesResult>",
      "asyncReturnType" : "ListSmartHomeAppliancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the smart home appliances associated with a room.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSmartHomeAppliancesRequest",
        "variableName" : "listSmartHomeAppliancesRequest",
        "variableType" : "ListSmartHomeAppliancesRequest",
        "documentation" : "",
        "simpleType" : "ListSmartHomeAppliancesRequest",
        "variableSetterType" : "ListSmartHomeAppliancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSmartHomeAppliances",
      "operationName" : "ListSmartHomeAppliances",
      "returnType" : {
        "returnType" : "ListSmartHomeAppliancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSmartHomeAppliancesResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags for the specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsResult"
    },
    "PutConferencePreference" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutConferencePreferenceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutConferencePreferenceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutConferencePreferenceRequest, PutConferencePreferenceResult>",
      "asyncReturnType" : "PutConferencePreferenceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the conference preferences on a specific conference provider at the account level.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutConferencePreferenceRequest",
        "variableName" : "putConferencePreferenceRequest",
        "variableType" : "PutConferencePreferenceRequest",
        "documentation" : "",
        "simpleType" : "PutConferencePreferenceRequest",
        "variableSetterType" : "PutConferencePreferenceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putConferencePreference",
      "operationName" : "PutConferencePreference",
      "returnType" : {
        "returnType" : "PutConferencePreferenceResult",
        "documentation" : null
      },
      "syncReturnType" : "PutConferencePreferenceResult"
    },
    "PutInvitationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutInvitationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutInvitationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutInvitationConfigurationRequest, PutInvitationConfigurationResult>",
      "asyncReturnType" : "PutInvitationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures the email template for the user enrollment invitation with the specified attributes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is a concurrent modification of resources.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutInvitationConfigurationRequest",
        "variableName" : "putInvitationConfigurationRequest",
        "variableType" : "PutInvitationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutInvitationConfigurationRequest",
        "variableSetterType" : "PutInvitationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putInvitationConfiguration",
      "operationName" : "PutInvitationConfiguration",
      "returnType" : {
        "returnType" : "PutInvitationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutInvitationConfigurationResult"
    },
    "PutRoomSkillParameter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRoomSkillParameterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRoomSkillParameterResult>",
[...]
