{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-09",
    "asyncClient" : "AmazonAlexaForBusinessAsyncClient",
    "asyncClientBuilderClassName" : "AmazonAlexaForBusinessAsyncClientBuilder",
    "asyncInterface" : "AmazonAlexaForBusinessAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonAlexaForBusinessModuleInjector",
    "defaultEndpoint" : "a4b.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "a4b.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Alexa for Business makes it easy for you to use Alexa in your organization. Alexa for Business gives you the tools you need to manage Alexa devices, enroll your users, and assign skills, at scale. You can build your own context-aware voice skills using the Alexa Skills Kit, and the Alexa for Business APIs, and you can make these available as private skills for your organization. Alexa for Business also makes it easy to voice-enable your products and services, providing context-aware voice experiences for your customers.</p>",
    "endpointPrefix" : "a4b",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.alexaforbusiness",
    "packagePath" : "com/amazonaws/services/alexaforbusiness",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Alexa For Business",
    "serviceName" : "Alexa For Business",
    "signingName" : "a4b",
    "smokeTestsPackageName" : "com.amazonaws.services.alexaforbusiness.smoketests",
    "syncClient" : "AmazonAlexaForBusinessClient",
    "syncClientBuilderClassName" : "AmazonAlexaForBusinessClientBuilder",
    "syncInterface" : "AmazonAlexaForBusiness",
    "uid" : "alexaforbusiness-2017-11-09",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateDeviceWithRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateDeviceWithRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateDeviceWithRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateDeviceWithRoomRequest, AssociateDeviceWithRoomResult>",
      "asyncReturnType" : "AssociateDeviceWithRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a device to a given room. This applies all the settings from the room profile to the device, and all the skills in any skill groups added to that room. This operation requires the device to be online, or a manual sync is required. </p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateDeviceWithRoomRequest",
        "variableName" : "associateDeviceWithRoomRequest",
        "variableType" : "AssociateDeviceWithRoomRequest",
        "documentation" : "",
        "simpleType" : "AssociateDeviceWithRoomRequest",
        "variableSetterType" : "AssociateDeviceWithRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateDeviceWithRoom",
      "operationName" : "AssociateDeviceWithRoom",
      "returnType" : {
        "returnType" : "AssociateDeviceWithRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateDeviceWithRoomResult"
    },
    "AssociateSkillGroupWithRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateSkillGroupWithRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateSkillGroupWithRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateSkillGroupWithRoomRequest, AssociateSkillGroupWithRoomResult>",
      "asyncReturnType" : "AssociateSkillGroupWithRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a skill group to a given room. This enables all skills in the associated skill group on all devices in the room.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateSkillGroupWithRoomRequest",
        "variableName" : "associateSkillGroupWithRoomRequest",
        "variableType" : "AssociateSkillGroupWithRoomRequest",
        "documentation" : "",
        "simpleType" : "AssociateSkillGroupWithRoomRequest",
        "variableSetterType" : "AssociateSkillGroupWithRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateSkillGroupWithRoom",
      "operationName" : "AssociateSkillGroupWithRoom",
      "returnType" : {
        "returnType" : "AssociateSkillGroupWithRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateSkillGroupWithRoomResult"
    },
    "CreateProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProfileRequest, CreateProfileResult>",
      "asyncReturnType" : "CreateProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new room profile with the specified details.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource being created already exists. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateProfileRequest",
        "variableName" : "createProfileRequest",
        "variableType" : "CreateProfileRequest",
        "documentation" : "",
        "simpleType" : "CreateProfileRequest",
        "variableSetterType" : "CreateProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProfile",
      "operationName" : "CreateProfile",
      "returnType" : {
        "returnType" : "CreateProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProfileResult"
    },
    "CreateRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRoomRequest, CreateRoomResult>",
      "asyncReturnType" : "CreateRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a room with the specified details.</p>",
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource being created already exists. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateRoomRequest",
        "variableName" : "createRoomRequest",
        "variableType" : "CreateRoomRequest",
        "documentation" : "",
        "simpleType" : "CreateRoomRequest",
        "variableSetterType" : "CreateRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRoom",
      "operationName" : "CreateRoom",
      "returnType" : {
        "returnType" : "CreateRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRoomResult"
    },
    "CreateSkillGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSkillGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSkillGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSkillGroupRequest, CreateSkillGroupResult>",
      "asyncReturnType" : "CreateSkillGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a skill group with a specified name and description.</p>",
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource being created already exists. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSkillGroupRequest",
        "variableName" : "createSkillGroupRequest",
        "variableType" : "CreateSkillGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateSkillGroupRequest",
        "variableSetterType" : "CreateSkillGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSkillGroup",
      "operationName" : "CreateSkillGroup",
      "returnType" : {
        "returnType" : "CreateSkillGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSkillGroupResult"
    },
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource in the request is already in use. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You are performing an action that would put you beyond your account's limits. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserResult"
    },
    "DeleteProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProfileRequest, DeleteProfileResult>",
      "asyncReturnType" : "DeleteProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a room profile by the profile ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteProfileRequest",
        "variableName" : "deleteProfileRequest",
        "variableType" : "DeleteProfileRequest",
        "documentation" : "",
        "simpleType" : "DeleteProfileRequest",
        "variableSetterType" : "DeleteProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProfile",
      "operationName" : "DeleteProfile",
      "returnType" : {
        "returnType" : "DeleteProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProfileResult"
    },
    "DeleteRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRoomRequest, DeleteRoomResult>",
      "asyncReturnType" : "DeleteRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a room by the room ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRoomRequest",
        "variableName" : "deleteRoomRequest",
        "variableType" : "DeleteRoomRequest",
        "documentation" : "",
        "simpleType" : "DeleteRoomRequest",
        "variableSetterType" : "DeleteRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRoom",
      "operationName" : "DeleteRoom",
      "returnType" : {
        "returnType" : "DeleteRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRoomResult"
    },
    "DeleteRoomSkillParameter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRoomSkillParameterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRoomSkillParameterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRoomSkillParameterRequest, DeleteRoomSkillParameterResult>",
      "asyncReturnType" : "DeleteRoomSkillParameterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes room skill parameter details by room, skill, and parameter key ID.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRoomSkillParameterRequest",
        "variableName" : "deleteRoomSkillParameterRequest",
        "variableType" : "DeleteRoomSkillParameterRequest",
        "documentation" : "",
        "simpleType" : "DeleteRoomSkillParameterRequest",
        "variableSetterType" : "DeleteRoomSkillParameterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRoomSkillParameter",
      "operationName" : "DeleteRoomSkillParameter",
      "returnType" : {
        "returnType" : "DeleteRoomSkillParameterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRoomSkillParameterResult"
    },
    "DeleteSkillGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSkillGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSkillGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSkillGroupRequest, DeleteSkillGroupResult>",
      "asyncReturnType" : "DeleteSkillGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a skill group by skill group ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSkillGroupRequest",
        "variableName" : "deleteSkillGroupRequest",
        "variableType" : "DeleteSkillGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteSkillGroupRequest",
        "variableSetterType" : "DeleteSkillGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSkillGroup",
      "operationName" : "DeleteSkillGroup",
      "returnType" : {
        "returnType" : "DeleteSkillGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSkillGroupResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specified user by user ARN and enrollment ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DisassociateDeviceFromRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateDeviceFromRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateDeviceFromRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateDeviceFromRoomRequest, DisassociateDeviceFromRoomResult>",
      "asyncReturnType" : "DisassociateDeviceFromRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a device from its current room. The device continues to be connected to the Wi-Fi network and is still registered to the account. The device settings and skills are removed from the room.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateDeviceFromRoomRequest",
        "variableName" : "disassociateDeviceFromRoomRequest",
        "variableType" : "DisassociateDeviceFromRoomRequest",
        "documentation" : "",
        "simpleType" : "DisassociateDeviceFromRoomRequest",
        "variableSetterType" : "DisassociateDeviceFromRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateDeviceFromRoom",
      "operationName" : "DisassociateDeviceFromRoom",
      "returnType" : {
        "returnType" : "DisassociateDeviceFromRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateDeviceFromRoomResult"
    },
    "DisassociateSkillGroupFromRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateSkillGroupFromRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateSkillGroupFromRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateSkillGroupFromRoomRequest, DisassociateSkillGroupFromRoomResult>",
      "asyncReturnType" : "DisassociateSkillGroupFromRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a skill group from a specified room. This disables all skills in the skill group on all devices in the room.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateSkillGroupFromRoomRequest",
        "variableName" : "disassociateSkillGroupFromRoomRequest",
        "variableType" : "DisassociateSkillGroupFromRoomRequest",
        "documentation" : "",
        "simpleType" : "DisassociateSkillGroupFromRoomRequest",
        "variableSetterType" : "DisassociateSkillGroupFromRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateSkillGroupFromRoom",
      "operationName" : "DisassociateSkillGroupFromRoom",
      "returnType" : {
        "returnType" : "DisassociateSkillGroupFromRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateSkillGroupFromRoomResult"
    },
    "GetDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceRequest, GetDeviceResult>",
      "asyncReturnType" : "GetDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of a device by device ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDeviceRequest",
        "variableName" : "getDeviceRequest",
        "variableType" : "GetDeviceRequest",
        "documentation" : "",
        "simpleType" : "GetDeviceRequest",
        "variableSetterType" : "GetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDevice",
      "operationName" : "GetDevice",
      "returnType" : {
        "returnType" : "GetDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeviceResult"
    },
    "GetProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProfileRequest, GetProfileResult>",
      "asyncReturnType" : "GetProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of a room profile by profile ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetProfileRequest",
        "variableName" : "getProfileRequest",
        "variableType" : "GetProfileRequest",
        "documentation" : "",
        "simpleType" : "GetProfileRequest",
        "variableSetterType" : "GetProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProfile",
      "operationName" : "GetProfile",
      "returnType" : {
        "returnType" : "GetProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProfileResult"
    },
    "GetRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRoomRequest, GetRoomResult>",
      "asyncReturnType" : "GetRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets room details by room ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetRoomRequest",
        "variableName" : "getRoomRequest",
        "variableType" : "GetRoomRequest",
        "documentation" : "",
        "simpleType" : "GetRoomRequest",
        "variableSetterType" : "GetRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRoom",
      "operationName" : "GetRoom",
      "returnType" : {
        "returnType" : "GetRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRoomResult"
    },
    "GetRoomSkillParameter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRoomSkillParameterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRoomSkillParameterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRoomSkillParameterRequest, GetRoomSkillParameterResult>",
      "asyncReturnType" : "GetRoomSkillParameterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets room skill parameter details by room, skill, and parameter key ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetRoomSkillParameterRequest",
        "variableName" : "getRoomSkillParameterRequest",
        "variableType" : "GetRoomSkillParameterRequest",
        "documentation" : "",
        "simpleType" : "GetRoomSkillParameterRequest",
        "variableSetterType" : "GetRoomSkillParameterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRoomSkillParameter",
      "operationName" : "GetRoomSkillParameter",
      "returnType" : {
        "returnType" : "GetRoomSkillParameterResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRoomSkillParameterResult"
    },
    "GetSkillGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSkillGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSkillGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSkillGroupRequest, GetSkillGroupResult>",
      "asyncReturnType" : "GetSkillGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets skill group details by skill group ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSkillGroupRequest",
        "variableName" : "getSkillGroupRequest",
        "variableType" : "GetSkillGroupRequest",
        "documentation" : "",
        "simpleType" : "GetSkillGroupRequest",
        "variableSetterType" : "GetSkillGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSkillGroup",
      "operationName" : "GetSkillGroup",
      "returnType" : {
        "returnType" : "GetSkillGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSkillGroupResult"
    },
    "ListSkills" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSkillsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSkillsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSkillsRequest, ListSkillsResult>",
      "asyncReturnType" : "ListSkillsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all enabled skills in a specific skill group.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListSkillsRequest",
        "variableName" : "listSkillsRequest",
        "variableType" : "ListSkillsRequest",
        "documentation" : "",
        "simpleType" : "ListSkillsRequest",
        "variableSetterType" : "ListSkillsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSkills",
      "operationName" : "ListSkills",
      "returnType" : {
        "returnType" : "ListSkillsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSkillsResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags for a specific resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsResult"
    },
    "PutRoomSkillParameter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRoomSkillParameterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRoomSkillParameterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRoomSkillParameterRequest, PutRoomSkillParameterResult>",
      "asyncReturnType" : "PutRoomSkillParameterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates room skill parameter details by room, skill, and parameter key ID. Not all skills have a room skill parameter.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutRoomSkillParameterRequest",
        "variableName" : "putRoomSkillParameterRequest",
        "variableType" : "PutRoomSkillParameterRequest",
        "documentation" : "",
        "simpleType" : "PutRoomSkillParameterRequest",
        "variableSetterType" : "PutRoomSkillParameterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRoomSkillParameter",
      "operationName" : "PutRoomSkillParameter",
      "returnType" : {
        "returnType" : "PutRoomSkillParameterResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRoomSkillParameterResult"
    },
    "ResolveRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResolveRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResolveRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResolveRoomRequest, ResolveRoomResult>",
      "asyncReturnType" : "ResolveRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Determines the details for the room from which a skill request was invoked. This operation is used by skill developers.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ResolveRoomRequest",
        "variableName" : "resolveRoomRequest",
        "variableType" : "ResolveRoomRequest",
        "documentation" : "",
        "simpleType" : "ResolveRoomRequest",
        "variableSetterType" : "ResolveRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resolveRoom",
      "operationName" : "ResolveRoom",
      "returnType" : {
        "returnType" : "ResolveRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "ResolveRoomResult"
    },
    "RevokeInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RevokeInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RevokeInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokeInvitationRequest, RevokeInvitationResult>",
      "asyncReturnType" : "RevokeInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Revokes an invitation and invalidates the enrollment URL.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RevokeInvitationRequest",
        "variableName" : "revokeInvitationRequest",
        "variableType" : "RevokeInvitationRequest",
        "documentation" : "",
        "simpleType" : "RevokeInvitationRequest",
        "variableSetterType" : "RevokeInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "revokeInvitation",
      "operationName" : "RevokeInvitation",
      "returnType" : {
        "returnType" : "RevokeInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "RevokeInvitationResult"
    },
    "SearchDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchDevicesRequest, SearchDevicesResult>",
      "asyncReturnType" : "SearchDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches devices and lists the ones that meet a set of filter criteria.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchDevicesRequest",
        "variableName" : "searchDevicesRequest",
        "variableType" : "SearchDevicesRequest",
        "documentation" : "",
        "simpleType" : "SearchDevicesRequest",
        "variableSetterType" : "SearchDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchDevices",
      "operationName" : "SearchDevices",
      "returnType" : {
        "returnType" : "SearchDevicesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchDevicesResult"
    },
    "SearchProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchProfilesRequest, SearchProfilesResult>",
      "asyncReturnType" : "SearchProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches room profiles and lists the ones that meet a set of filter criteria.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchProfilesRequest",
        "variableName" : "searchProfilesRequest",
        "variableType" : "SearchProfilesRequest",
        "documentation" : "",
        "simpleType" : "SearchProfilesRequest",
        "variableSetterType" : "SearchProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchProfiles",
      "operationName" : "SearchProfiles",
      "returnType" : {
        "returnType" : "SearchProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchProfilesResult"
    },
    "SearchRooms" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchRoomsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchRoomsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchRoomsRequest, SearchRoomsResult>",
      "asyncReturnType" : "SearchRoomsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches rooms and lists the ones that meet a set of filter and sort criteria.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchRoomsRequest",
        "variableName" : "searchRoomsRequest",
        "variableType" : "SearchRoomsRequest",
        "documentation" : "",
        "simpleType" : "SearchRoomsRequest",
        "variableSetterType" : "SearchRoomsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchRooms",
      "operationName" : "SearchRooms",
      "returnType" : {
        "returnType" : "SearchRoomsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchRoomsResult"
    },
    "SearchSkillGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchSkillGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchSkillGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchSkillGroupsRequest, SearchSkillGroupsResult>",
      "asyncReturnType" : "SearchSkillGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches skill groups and lists the ones that meet a set of filter and sort criteria.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchSkillGroupsRequest",
        "variableName" : "searchSkillGroupsRequest",
        "variableType" : "SearchSkillGroupsRequest",
        "documentation" : "",
        "simpleType" : "SearchSkillGroupsRequest",
        "variableSetterType" : "SearchSkillGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchSkillGroups",
      "operationName" : "SearchSkillGroups",
      "returnType" : {
        "returnType" : "SearchSkillGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchSkillGroupsResult"
    },
    "SearchUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchUsersRequest, SearchUsersResult>",
      "asyncReturnType" : "SearchUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches users and lists the ones that meet a set of filter and sort criteria.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchUsersRequest",
        "variableName" : "searchUsersRequest",
        "variableType" : "SearchUsersRequest",
        "documentation" : "",
        "simpleType" : "SearchUsersRequest",
        "variableSetterType" : "SearchUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchUsers",
      "operationName" : "SearchUsers",
      "returnType" : {
        "returnType" : "SearchUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchUsersResult"
    },
    "SendInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendInvitationRequest, SendInvitationResult>",
      "asyncReturnType" : "SendInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends an enrollment invitation email with a URL to a user. The URL is valid for 72 hours or until you call this operation again, whichever comes first. </p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidUserStatusException",
        "documentation" : "<p>The attempt to update a user is invalid due to the user's current status. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SendInvitationRequest",
        "variableName" : "sendInvitationRequest",
        "variableType" : "SendInvitationRequest",
        "documentation" : "",
        "simpleType" : "SendInvitationRequest",
        "variableSetterType" : "SendInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendInvitation",
      "operationName" : "SendInvitation",
      "returnType" : {
        "returnType" : "SendInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "SendInvitationResult"
    },
    "StartDeviceSync" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDeviceSyncResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDeviceSyncResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDeviceSyncRequest, StartDeviceSyncResult>",
      "asyncReturnType" : "StartDeviceSyncResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resets a device and its account to the known default settings by clearing all information and settings set by previous users.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartDeviceSyncRequest",
        "variableName" : "startDeviceSyncRequest",
        "variableType" : "StartDeviceSyncRequest",
        "documentation" : "",
        "simpleType" : "StartDeviceSyncRequest",
        "variableSetterType" : "StartDeviceSyncRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDeviceSync",
      "operationName" : "StartDeviceSync",
      "returnType" : {
        "returnType" : "StartDeviceSyncResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDeviceSyncResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds metadata tags to a specified resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes metadata tags from a specified resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDeviceRequest, UpdateDeviceResult>",
      "asyncReturnType" : "UpdateDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the device name by device ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDeviceRequest",
        "variableName" : "updateDeviceRequest",
        "variableType" : "UpdateDeviceRequest",
        "documentation" : "",
        "simpleType" : "UpdateDeviceRequest",
        "variableSetterType" : "UpdateDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDevice",
      "operationName" : "UpdateDevice",
      "returnType" : {
        "returnType" : "UpdateDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDeviceResult"
    },
    "UpdateProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProfileRequest, UpdateProfileResult>",
      "asyncReturnType" : "UpdateProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing room profile by room profile ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NameInUseException",
        "documentation" : "<p>The name sent in the request is already in use. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateProfileRequest",
        "variableName" : "updateProfileRequest",
        "variableType" : "UpdateProfileRequest",
        "documentation" : "",
        "simpleType" : "UpdateProfileRequest",
        "variableSetterType" : "UpdateProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProfile",
      "operationName" : "UpdateProfile",
      "returnType" : {
        "returnType" : "UpdateProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProfileResult"
    },
    "UpdateRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRoomRequest, UpdateRoomResult>",
      "asyncReturnType" : "UpdateRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates room details by room ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NameInUseException",
        "documentation" : "<p>The name sent in the request is already in use. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateRoomRequest",
        "variableName" : "updateRoomRequest",
        "variableType" : "UpdateRoomRequest",
        "documentation" : "",
        "simpleType" : "UpdateRoomRequest",
        "variableSetterType" : "UpdateRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRoom",
      "operationName" : "UpdateRoom",
      "returnType" : {
        "returnType" : "UpdateRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRoomResult"
    },
    "UpdateSkillGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSkillGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSkillGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSkillGroupRequest, UpdateSkillGroupResult>",
      "asyncReturnType" : "UpdateSkillGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates skill group details by skill group ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource is not found. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NameInUseException",
        "documentation" : "<p>The name sent in the request is already in use. HTTP Status Code: 400</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateSkillGroupRequest",
        "variableName" : "updateSkillGroupRequest",
        "variableType" : "UpdateSkillGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateSkillGroupRequest",
        "variableSetterType" : "UpdateSkillGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSkillGroup",
      "operationName" : "UpdateSkillGroup",
      "returnType" : {
        "returnType" : "UpdateSkillGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSkillGroupResult"
    }
  },
  "shapes" : {
    "AlreadyExistsException" : {
      "c2jName" : "AlreadyExistsException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The resource being created already exists. HTTP Status Code: 400</p>",
      "enums" : null,
      "errorCode" : "AlreadyExistsException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AlreadyExistsException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AlreadyExistsException",
        "variableName" : "alreadyExistsException",
        "variableType" : "AlreadyExistsException",
        "documentation" : null,
        "simpleType" : "AlreadyExistsException",
        "variableSetterType" : "AlreadyExistsException"
      },
      "wrapper" : false
    },
    "AssociateDeviceWithRoomRequest" : {
      "c2jName" : "AssociateDeviceWithRoomRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateDeviceWithRoom",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AlexaForBusiness.AssociateDeviceWithRoom",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DeviceArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the device to associate to a room. Required.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the device to associate to a room. Required.</p>\n@param deviceArn The ARN of the device to associate to a room. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceArn",
        "getterDocumentation" : "/**<p>The ARN of the device to associate to a room. Required.</p>\n@return The ARN of the device to associate to a room. Required.*/",
        "getterMethodName" : "getDeviceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DeviceArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DeviceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceArn",
        "setterDocumentation" : "/**<p>The ARN of the device to associate to a room. Required.</p>\n@param deviceArn The ARN of the device to associate to a room. Required.*/",
        "setterMethodName" : "setDeviceArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "deviceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the device to associate to a room. Required.</p>\n@param deviceArn The ARN of the device to associate to a room. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "deviceArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the device to associate to a room. Required.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RoomArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the room with which to associate the device. Required.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the room with which to associate the device. Required.</p>\n@param roomArn The ARN of the room with which to associate the device. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoomArn",
        "getterDocumentation" : "/**<p>The ARN of the room with which to associate the device. Required.</p>\n@return The ARN of the room with which to associate the device. Required.*/",
        "getterMethodName" : "getRoomArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RoomArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RoomArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoomArn",
        "setterDocumentation" : "/**<p>The ARN of the room with which to associate the device. Required.</p>\n@param roomArn The ARN of the room with which to associate the device. Required.*/",
        "setterMethodName" : "setRoomArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "roomArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the room with which to associate the device. Required.</p>\n@param roomArn The ARN of the room with which to associate the device. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "roomArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the room with which to associate the device. Required.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DeviceArn" : {
          "c2jName" : "DeviceArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the device to associate to a room. Required.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the device to associate to a room. Required.</p>\n@param deviceArn The ARN of the device to associate to a room. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceArn",
          "getterDocumentation" : "/**<p>The ARN of the device to associate to a room. Required.</p>\n@return The ARN of the device to associate to a room. Required.*/",
          "getterMethodName" : "getDeviceArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DeviceArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DeviceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeviceArn",
          "setterDocumentation" : "/**<p>The ARN of the device to associate to a room. Required.</p>\n@param deviceArn The ARN of the device to associate to a room. Required.*/",
          "setterMethodName" : "setDeviceArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "deviceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the device to associate to a room. Required.</p>\n@param deviceArn The ARN of the device to associate to a room. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "deviceArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the device to associate to a room. Required.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RoomArn" : {
          "c2jName" : "RoomArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the room with which to associate the device. Required.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the room with which to associate the device. Required.</p>\n@param roomArn The ARN of the room with which to associate the device. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRoomArn",
          "getterDocumentation" : "/**<p>The ARN of the room with which to associate the device. Required.</p>\n@return The ARN of the room with which to associate the device. Required.*/",
          "getterMethodName" : "getRoomArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RoomArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RoomArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RoomArn",
          "setterDocumentation" : "/**<p>The ARN of the room with which to associate the device. Required.</p>\n@param roomArn The ARN of the room with which to associate the device. Required.*/",
          "setterMethodName" : "setRoomArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "roomArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the room with which to associate the device. Required.</p>\n@param roomArn The ARN of the room with which to associate the device. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "roomArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the room with which to associate the device. Required.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateDeviceWithRoomRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AssociateDeviceWithRoomRequest",
        "variableName" : "associateDeviceWithRoomRequest",
        "variableType" : "AssociateDeviceWithRoomRequest",
        "documentation" : null,
        "simpleType" : "AssociateDeviceWithRoomRequest",
        "variableSetterType" : "AssociateDeviceWithRoomRequest"
      },
      "wrapper" : false
    },
    "AssociateDeviceWithRoomResult" : {
      "c2jName" : "AssociateDeviceWithRoomResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateDeviceWithRoomResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AssociateDeviceWithRoomResult",
        "variableName" : "associateDeviceWithRoomResult",
        "variableType" : "AssociateDeviceWithRoomResult",
        "documentation" : null,
        "simpleType" : "AssociateDeviceWithRoomResult",
        "variableSetterType" : "AssociateDeviceWithRoomResult"
      },
      "wrapper" : false
    },
    "AssociateSkillGroupWithRoomRequest" : {
      "c2jName" : "AssociateSkillGroupWithRoomRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateSkillGroupWithRoom",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AlexaForBusiness.AssociateSkillGroupWithRoom",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "SkillGroupArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the skill group to associate with a room. Required.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the skill group to associate with a room. Required.</p>\n@param skillGroupArn The ARN of the skill group to associate with a room. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSkillGroupArn",
        "getterDocumentation" : "/**<p>The ARN of the skill group to associate with a room. Required.</p>\n@return The ARN of the skill group to associate with a room. Required.*/",
        "getterMethodName" : "getSkillGroupArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SkillGroupArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SkillGroupArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SkillGroupArn",
        "setterDocumentation" : "/**<p>The ARN of the skill group to associate with a room. Required.</p>\n@param skillGroupArn The ARN of the skill group to associate with a room. Required.*/",
        "setterMethodName" : "setSkillGroupArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "skillGroupArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the skill group to associate with a room. Required.</p>\n@param skillGroupArn The ARN of the skill group to associate with a room. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "skillGroupArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the skill group to associate with a room. Required.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RoomArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the room with which to associate the skill group. Required.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the room with which to associate the skill group. Required.</p>\n@param roomArn The ARN of the room with which to associate the skill group. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoomArn",
        "getterDocumentation" : "/**<p>The ARN of the room with which to associate the skill group. Required.</p>\n@return The ARN of the room with which to associate the skill group. Required.*/",
        "getterMethodName" : "getRoomArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RoomArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RoomArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoomArn",
        "setterDocumentation" : "/**<p>The ARN of the room with which to associate the skill group. Required.</p>\n@param roomArn The ARN of the room with which to associate the skill group. Required.*/",
        "setterMethodName" : "setRoomArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "roomArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the room with which to associate the skill group. Required.</p>\n@param roomArn The ARN of the room with which to associate the skill group. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "roomArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the room with which to associate the skill group. Required.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "RoomArn" : {
          "c2jName" : "RoomArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the room with which to associate the skill group. Required.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the room with which to associate the skill group. Required.</p>\n@param roomArn The ARN of the room with which to associate the skill group. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRoomArn",
          "getterDocumentation" : "/**<p>The ARN of the room with which to associate the skill group. Required.</p>\n@return The ARN of the room with which to associate the skill group. Required.*/",
          "getterMethodName" : "getRoomArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RoomArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RoomArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RoomArn",
          "setterDocumentation" : "/**<p>The ARN of the room with which to associate the skill group. Required.</p>\n@param roomArn The ARN of the room with which to associate the skill group. Required.*/",
          "setterMethodName" : "setRoomArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "roomArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the room with which to associate the skill group. Required.</p>\n@param roomArn The ARN of the room with which to associate the skill group. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "roomArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the room with which to associate the skill group. Required.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SkillGroupArn" : {
          "c2jName" : "SkillGroupArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the skill group to associate with a room. Required.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the skill group to associate with a room. Required.</p>\n@param skillGroupArn The ARN of the skill group to associate with a room. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSkillGroupArn",
          "getterDocumentation" : "/**<p>The ARN of the skill group to associate with a room. Required.</p>\n@return The ARN of the skill group to associate with a room. Required.*/",
          "getterMethodName" : "getSkillGroupArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SkillGroupArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SkillGroupArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SkillGroupArn",
          "setterDocumentation" : "/**<p>The ARN of the skill group to associate with a room. Required.</p>\n@param skillGroupArn The ARN of the skill group to associate with a room. Required.*/",
          "setterMethodName" : "setSkillGroupArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "skillGroupArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the skill group to associate with a room. Required.</p>\n@param skillGroupArn The ARN of the skill group to associate with a room. Required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "skillGroupArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the skill group to associate with a room. Required.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateSkillGroupWithRoomRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AssociateSkillGroupWithRoomRequest",
        "variableName" : "associateSkillGroupWithRoomRequest",
        "variableType" : "AssociateSkillGroupWithRoomRequest",
        "documentation" : null,
        "simpleType" : "AssociateSkillGroupWithRoomRequest",
        "variableSetterType" : "AssociateSkillGroupWithRoomRequest"
      },
      "wrapper" : false
    },
    "AssociateSkillGroupWithRoomResult" : {
      "c2jName" : "AssociateSkillGroupWithRoomResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateSkillGroupWithRoomResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AssociateSkillGroupWithRoomResult",
        "variableName" : "associateSkillGroupWithRoomResult",
        "variableType" : "AssociateSkillGroupWithRoomResult",
        "documentation" : null,
        "simpleType" : "AssociateSkillGroupWithRoomResult",
        "variableSetterType" : "AssociateSkillGroupWithRoomResult"
      },
      "wrapper" : false
    },
    "CreateProfileRequest" : {
      "c2jName" : "CreateProfileRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateProfile",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AlexaForBusiness.CreateProfile",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ProfileName",
        "c2jShape" : "ProfileName",
        "deprecated" : false,
        "documentation" : "<p>The name of a room profile.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of a room profile.</p>\n@param profileName The name of a room profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfileName",
        "getterDocumentation" : "/**<p>The name of a room profile.</p>\n@return The name of a room profile.*/",
        "getterMethodName" : "getProfileName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProfileName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProfileName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProfileName",
        "setterDocumentation" : "/**<p>The name of a room profile.</p>\n@param profileName The name of a room profile.*/",
        "setterMethodName" : "setProfileName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "profileName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of a room profile.</p>\n@param profileName The name of a room profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "profileName",
          "variableType" : "String",
          "documentation" : "<p>The name of a room profile.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Timezone",
        "c2jShape" : "Timezone",
        "deprecated" : false,
        "documentation" : "<p>The time zone used by a room profile.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time zone used by a room profile.</p>\n@param timezone The time zone used by a room profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTimezone",
        "getterDocumentation" : "/**<p>The time zone used by a room profile.</p>\n@return The time zone used by a room profile.*/",
        "getterMethodName" : "getTimezone",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Timezone",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Timezone",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Timezone",
        "setterDocumentation" : "/**<p>The time zone used by a room profile.</p>\n@param timezone The time zone used by a room profile.*/",
        "setterMethodName" : "setTimezone",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "timezone",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time zone used by a room profile.</p>\n@param timezone The time zone used by a room profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "timezone",
          "variableType" : "String",
          "documentation" : "<p>The time zone used by a room profile.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Address",
        "c2jShape" : "Address",
        "deprecated" : false,
        "documentation" : "<p>The valid address for the room.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The valid address for the room.</p>\n@param address The valid address for the room.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAddress",
        "getterDocumentation" : "/**<p>The valid address for the room.</p>\n@return The valid address for the room.*/",
        "getterMethodName" : "getAddress",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Address",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Address",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Address",
        "setterDocumentation" : "/**<p>The valid address for the room.</p>\n@param address The valid address for the room.*/",
        "setterMethodName" : "setAddress",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "address",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The valid address for the room.</p>\n@param address The valid address for the room.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "address",
          "variableType" : "String",
          "documentation" : "<p>The valid address for the room.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DistanceUnit",
        "c2jShape" : "DistanceUnit",
        "deprecated" : false,
        "documentation" : "<p>The distance unit to be used by devices in the profile.</p>",
        "enumType" : "DistanceUnit",
        "fluentSetterDocumentation" : "/**<p>The distance unit to be used by devices in the profile.</p>\n@param distanceUnit The distance unit to be used by devices in the profile.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DistanceUnit*/",
        "fluentSetterMethodName" : "withDistanceUnit",
        "getterDocumentation" : "/**<p>The distance unit to be used by devices in the profile.</p>\n@return The distance unit to be used by devices in the profile.\n@see DistanceUnit*/",
        "getterMethodName" : "getDistanceUnit",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DistanceUnit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DistanceUnit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DistanceUnit",
        "setterDocumentation" : "/**<p>The distance unit to be used by devices in the profile.</p>\n@param distanceUnit The distance unit to be used by devices in the profile.\n@see DistanceUnit*/",
        "setterMethodName" : "setDistanceUnit",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "distanceUnit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The distance unit to be used by devices in the profile.</p>\n@param distanceUnit The distance unit to be used by devices in the profile.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DistanceUnit*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "distanceUnit",
          "variableType" : "String",
          "documentation" : "<p>The distance unit to be used by devices in the profile.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TemperatureUnit",
        "c2jShape" : "TemperatureUnit",
        "deprecated" : false,
        "documentation" : "<p>The temperature unit to be used by devices in the profile.</p>",
        "enumType" : "TemperatureUnit",
        "fluentSetterDocumentation" : "/**<p>The temperature unit to be used by devices in the profile.</p>\n@param temperatureUnit The temperature unit to be used by devices in the profile.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TemperatureUnit*/",
        "fluentSetterMethodName" : "withTemperatureUnit",
        "getterDocumentation" : "/**<p>The temperature unit to be used by devices in the profile.</p>\n@return The temperature unit to be used by devices in the profile.\n@see TemperatureUnit*/",
        "getterMethodName" : "getTemperatureUnit",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TemperatureUnit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TemperatureUnit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TemperatureUnit",
        "setterDocumentation" : "/**<p>The temperature unit to be used by devices in the profile.</p>\n@param temperatureUnit The temperature unit to be used by devices in the profile.\n@see TemperatureUnit*/",
        "setterMethodName" : "setTemperatureUnit",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "temperatureUnit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The temperature unit to be used by devices in the profile.</p>\n@param temperatureUnit The temperature unit to be used by devices in the profile.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TemperatureUnit*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "temperatureUnit",
          "variableType" : "String",
          "documentation" : "<p>The temperature unit to be used by devices in the profile.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "WakeWord",
        "c2jShape" : "WakeWord",
[...]
