{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-11-01",
    "asyncClient" : "AWSAccessAnalyzerAsyncClient",
    "asyncClientBuilderClassName" : "AWSAccessAnalyzerAsyncClientBuilder",
    "asyncInterface" : "AWSAccessAnalyzerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSAccessAnalyzerModuleInjector",
    "defaultEndpoint" : "access-analyzer.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "access-analyzer.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS IAM Access Analyzer helps identify potential resource-access risks by enabling you to identify any policies that grant access to an external principal. It does this by using logic-based reasoning to analyze resource-based policies in your AWS environment. An external principal can be another AWS account, a root user, an IAM user or role, a federated user, an AWS service, or an anonymous user. You can also use Access Analyzer to preview and validate public and cross-account access to your resources before deploying permissions changes. This guide describes the AWS IAM Access Analyzer operations that you can call programmatically. For general information about Access Analyzer, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/what-is-access-analyzer.html\">AWS IAM Access Analyzer</a> in the <b>IAM User Guide</b>.</p> <p>To start using Access Analyzer, you first need to create an analyzer.</p>",
    "endpointPrefix" : "access-analyzer",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.accessanalyzer",
    "packagePath" : "com/amazonaws/services/accessanalyzer",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Access Analyzer",
    "serviceId" : "AccessAnalyzer",
    "serviceName" : "Access Analyzer",
    "signingName" : "access-analyzer",
    "smokeTestsPackageName" : "com.amazonaws.services.accessanalyzer.smoketests",
    "syncClient" : "AWSAccessAnalyzerClient",
    "syncClientBuilderClassName" : "AWSAccessAnalyzerClientBuilder",
    "syncInterface" : "AWSAccessAnalyzer",
    "uid" : "accessanalyzer-2019-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ApplyArchiveRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ApplyArchiveRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ApplyArchiveRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ApplyArchiveRuleRequest, ApplyArchiveRuleResult>",
      "asyncReturnType" : "ApplyArchiveRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retroactively applies the archive rule to existing findings that meet the archive rule criteria.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplyArchiveRuleRequest",
        "variableName" : "applyArchiveRuleRequest",
        "variableType" : "ApplyArchiveRuleRequest",
        "documentation" : "<p>Retroactively applies an archive rule.</p>",
        "simpleType" : "ApplyArchiveRuleRequest",
        "variableSetterType" : "ApplyArchiveRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "applyArchiveRule",
      "operationName" : "ApplyArchiveRule",
      "returnType" : {
        "returnType" : "ApplyArchiveRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "ApplyArchiveRuleResult"
    },
    "CancelPolicyGeneration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelPolicyGenerationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelPolicyGenerationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelPolicyGenerationRequest, CancelPolicyGenerationResult>",
      "asyncReturnType" : "CancelPolicyGenerationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the requested policy generation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelPolicyGenerationRequest",
        "variableName" : "cancelPolicyGenerationRequest",
        "variableType" : "CancelPolicyGenerationRequest",
        "documentation" : "",
        "simpleType" : "CancelPolicyGenerationRequest",
        "variableSetterType" : "CancelPolicyGenerationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelPolicyGeneration",
      "operationName" : "CancelPolicyGeneration",
      "returnType" : {
        "returnType" : "CancelPolicyGenerationResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelPolicyGenerationResult"
    },
    "CreateAccessPreview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAccessPreviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAccessPreviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAccessPreviewRequest, CreateAccessPreviewResult>",
      "asyncReturnType" : "CreateAccessPreviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an access preview that allows you to preview Access Analyzer findings for your resource before deploying resource permissions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception error.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Service quote met error.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAccessPreviewRequest",
        "variableName" : "createAccessPreviewRequest",
        "variableType" : "CreateAccessPreviewRequest",
        "documentation" : "",
        "simpleType" : "CreateAccessPreviewRequest",
        "variableSetterType" : "CreateAccessPreviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAccessPreview",
      "operationName" : "CreateAccessPreview",
      "returnType" : {
        "returnType" : "CreateAccessPreviewResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAccessPreviewResult"
    },
    "CreateAnalyzer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAnalyzerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAnalyzerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAnalyzerRequest, CreateAnalyzerResult>",
      "asyncReturnType" : "CreateAnalyzerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an analyzer for your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception error.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Service quote met error.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAnalyzerRequest",
        "variableName" : "createAnalyzerRequest",
        "variableType" : "CreateAnalyzerRequest",
        "documentation" : "<p>Creates an analyzer.</p>",
        "simpleType" : "CreateAnalyzerRequest",
        "variableSetterType" : "CreateAnalyzerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAnalyzer",
      "operationName" : "CreateAnalyzer",
      "returnType" : {
        "returnType" : "CreateAnalyzerResult",
        "documentation" : "<p>The response to the request to create an analyzer.</p>"
      },
      "syncReturnType" : "CreateAnalyzerResult"
    },
    "CreateArchiveRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateArchiveRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateArchiveRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateArchiveRuleRequest, CreateArchiveRuleResult>",
      "asyncReturnType" : "CreateArchiveRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an archive rule for the specified analyzer. Archive rules automatically archive new findings that meet the criteria you define when you create the rule.</p> <p>To learn about filter keys that you can use to create an archive rule, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception error.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Service quote met error.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateArchiveRuleRequest",
        "variableName" : "createArchiveRuleRequest",
        "variableType" : "CreateArchiveRuleRequest",
        "documentation" : "<p>Creates an archive rule.</p>",
        "simpleType" : "CreateArchiveRuleRequest",
        "variableSetterType" : "CreateArchiveRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createArchiveRule",
      "operationName" : "CreateArchiveRule",
      "returnType" : {
        "returnType" : "CreateArchiveRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateArchiveRuleResult"
    },
    "DeleteAnalyzer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAnalyzerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAnalyzerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAnalyzerRequest, DeleteAnalyzerResult>",
      "asyncReturnType" : "DeleteAnalyzerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified analyzer. When you delete an analyzer, Access Analyzer is disabled for the account or organization in the current or specific Region. All findings that were generated by the analyzer are deleted. You cannot undo this action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAnalyzerRequest",
        "variableName" : "deleteAnalyzerRequest",
        "variableType" : "DeleteAnalyzerRequest",
        "documentation" : "<p>Deletes an analyzer.</p>",
        "simpleType" : "DeleteAnalyzerRequest",
        "variableSetterType" : "DeleteAnalyzerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAnalyzer",
      "operationName" : "DeleteAnalyzer",
      "returnType" : {
        "returnType" : "DeleteAnalyzerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAnalyzerResult"
    },
    "DeleteArchiveRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteArchiveRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteArchiveRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteArchiveRuleRequest, DeleteArchiveRuleResult>",
      "asyncReturnType" : "DeleteArchiveRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified archive rule.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteArchiveRuleRequest",
        "variableName" : "deleteArchiveRuleRequest",
        "variableType" : "DeleteArchiveRuleRequest",
        "documentation" : "<p>Deletes an archive rule.</p>",
        "simpleType" : "DeleteArchiveRuleRequest",
        "variableSetterType" : "DeleteArchiveRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteArchiveRule",
      "operationName" : "DeleteArchiveRule",
      "returnType" : {
        "returnType" : "DeleteArchiveRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteArchiveRuleResult"
    },
    "GetAccessPreview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccessPreviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccessPreviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccessPreviewRequest, GetAccessPreviewResult>",
      "asyncReturnType" : "GetAccessPreviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about an access preview for the specified analyzer.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccessPreviewRequest",
        "variableName" : "getAccessPreviewRequest",
        "variableType" : "GetAccessPreviewRequest",
        "documentation" : "",
        "simpleType" : "GetAccessPreviewRequest",
        "variableSetterType" : "GetAccessPreviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccessPreview",
      "operationName" : "GetAccessPreview",
      "returnType" : {
        "returnType" : "GetAccessPreviewResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccessPreviewResult"
    },
    "GetAnalyzedResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAnalyzedResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAnalyzedResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAnalyzedResourceRequest, GetAnalyzedResourceResult>",
      "asyncReturnType" : "GetAnalyzedResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a resource that was analyzed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAnalyzedResourceRequest",
        "variableName" : "getAnalyzedResourceRequest",
        "variableType" : "GetAnalyzedResourceRequest",
        "documentation" : "<p>Retrieves an analyzed resource.</p>",
        "simpleType" : "GetAnalyzedResourceRequest",
        "variableSetterType" : "GetAnalyzedResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAnalyzedResource",
      "operationName" : "GetAnalyzedResource",
      "returnType" : {
        "returnType" : "GetAnalyzedResourceResult",
        "documentation" : "<p>The response to the request.</p>"
      },
      "syncReturnType" : "GetAnalyzedResourceResult"
    },
    "GetAnalyzer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAnalyzerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAnalyzerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAnalyzerRequest, GetAnalyzerResult>",
      "asyncReturnType" : "GetAnalyzerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about the specified analyzer.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAnalyzerRequest",
        "variableName" : "getAnalyzerRequest",
        "variableType" : "GetAnalyzerRequest",
        "documentation" : "<p>Retrieves an analyzer.</p>",
        "simpleType" : "GetAnalyzerRequest",
        "variableSetterType" : "GetAnalyzerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAnalyzer",
      "operationName" : "GetAnalyzer",
      "returnType" : {
        "returnType" : "GetAnalyzerResult",
        "documentation" : "<p>The response to the request.</p>"
      },
      "syncReturnType" : "GetAnalyzerResult"
    },
    "GetArchiveRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetArchiveRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetArchiveRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetArchiveRuleRequest, GetArchiveRuleResult>",
      "asyncReturnType" : "GetArchiveRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about an archive rule.</p> <p>To learn about filter keys that you can use to create an archive rule, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetArchiveRuleRequest",
        "variableName" : "getArchiveRuleRequest",
        "variableType" : "GetArchiveRuleRequest",
        "documentation" : "<p>Retrieves an archive rule.</p>",
        "simpleType" : "GetArchiveRuleRequest",
        "variableSetterType" : "GetArchiveRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getArchiveRule",
      "operationName" : "GetArchiveRule",
      "returnType" : {
        "returnType" : "GetArchiveRuleResult",
        "documentation" : "<p>The response to the request.</p>"
      },
      "syncReturnType" : "GetArchiveRuleResult"
    },
    "GetFinding" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFindingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFindingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFindingRequest, GetFindingResult>",
      "asyncReturnType" : "GetFindingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about the specified finding.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFindingRequest",
        "variableName" : "getFindingRequest",
        "variableType" : "GetFindingRequest",
        "documentation" : "<p>Retrieves a finding.</p>",
        "simpleType" : "GetFindingRequest",
        "variableSetterType" : "GetFindingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFinding",
      "operationName" : "GetFinding",
      "returnType" : {
        "returnType" : "GetFindingResult",
        "documentation" : "<p>The response to the request.</p>"
      },
      "syncReturnType" : "GetFindingResult"
    },
    "GetGeneratedPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGeneratedPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGeneratedPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGeneratedPolicyRequest, GetGeneratedPolicyResult>",
      "asyncReturnType" : "GetGeneratedPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the policy that was generated using <code>StartPolicyGeneration</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGeneratedPolicyRequest",
        "variableName" : "getGeneratedPolicyRequest",
        "variableType" : "GetGeneratedPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetGeneratedPolicyRequest",
        "variableSetterType" : "GetGeneratedPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGeneratedPolicy",
      "operationName" : "GetGeneratedPolicy",
      "returnType" : {
        "returnType" : "GetGeneratedPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGeneratedPolicyResult"
    },
    "ListAccessPreviewFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAccessPreviewFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAccessPreviewFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAccessPreviewFindingsRequest, ListAccessPreviewFindingsResult>",
      "asyncReturnType" : "ListAccessPreviewFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of access preview findings generated by the specified access preview.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception error.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAccessPreviewFindingsRequest",
        "variableName" : "listAccessPreviewFindingsRequest",
        "variableType" : "ListAccessPreviewFindingsRequest",
        "documentation" : "",
        "simpleType" : "ListAccessPreviewFindingsRequest",
        "variableSetterType" : "ListAccessPreviewFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAccessPreviewFindings",
      "operationName" : "ListAccessPreviewFindings",
      "returnType" : {
        "returnType" : "ListAccessPreviewFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAccessPreviewFindingsResult"
    },
    "ListAccessPreviews" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAccessPreviewsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAccessPreviewsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAccessPreviewsRequest, ListAccessPreviewsResult>",
      "asyncReturnType" : "ListAccessPreviewsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of access previews for the specified analyzer.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAccessPreviewsRequest",
        "variableName" : "listAccessPreviewsRequest",
        "variableType" : "ListAccessPreviewsRequest",
        "documentation" : "",
        "simpleType" : "ListAccessPreviewsRequest",
        "variableSetterType" : "ListAccessPreviewsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAccessPreviews",
      "operationName" : "ListAccessPreviews",
      "returnType" : {
        "returnType" : "ListAccessPreviewsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAccessPreviewsResult"
    },
    "ListAnalyzedResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAnalyzedResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAnalyzedResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAnalyzedResourcesRequest, ListAnalyzedResourcesResult>",
      "asyncReturnType" : "ListAnalyzedResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of resources of the specified type that have been analyzed by the specified analyzer..</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAnalyzedResourcesRequest",
        "variableName" : "listAnalyzedResourcesRequest",
        "variableType" : "ListAnalyzedResourcesRequest",
        "documentation" : "<p>Retrieves a list of resources that have been analyzed.</p>",
        "simpleType" : "ListAnalyzedResourcesRequest",
        "variableSetterType" : "ListAnalyzedResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAnalyzedResources",
      "operationName" : "ListAnalyzedResources",
      "returnType" : {
        "returnType" : "ListAnalyzedResourcesResult",
        "documentation" : "<p>The response to the request.</p>"
      },
      "syncReturnType" : "ListAnalyzedResourcesResult"
    },
    "ListAnalyzers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAnalyzersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAnalyzersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAnalyzersRequest, ListAnalyzersResult>",
      "asyncReturnType" : "ListAnalyzersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of analyzers.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAnalyzersRequest",
        "variableName" : "listAnalyzersRequest",
        "variableType" : "ListAnalyzersRequest",
        "documentation" : "<p>Retrieves a list of analyzers.</p>",
        "simpleType" : "ListAnalyzersRequest",
        "variableSetterType" : "ListAnalyzersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAnalyzers",
      "operationName" : "ListAnalyzers",
      "returnType" : {
        "returnType" : "ListAnalyzersResult",
        "documentation" : "<p>The response to the request.</p>"
      },
      "syncReturnType" : "ListAnalyzersResult"
    },
    "ListArchiveRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListArchiveRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListArchiveRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListArchiveRulesRequest, ListArchiveRulesResult>",
      "asyncReturnType" : "ListArchiveRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of archive rules created for the specified analyzer.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListArchiveRulesRequest",
        "variableName" : "listArchiveRulesRequest",
        "variableType" : "ListArchiveRulesRequest",
        "documentation" : "<p>Retrieves a list of archive rules created for the specified analyzer.</p>",
        "simpleType" : "ListArchiveRulesRequest",
        "variableSetterType" : "ListArchiveRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listArchiveRules",
      "operationName" : "ListArchiveRules",
      "returnType" : {
        "returnType" : "ListArchiveRulesResult",
        "documentation" : "<p>The response to the request.</p>"
      },
      "syncReturnType" : "ListArchiveRulesResult"
    },
    "ListFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFindingsRequest, ListFindingsResult>",
      "asyncReturnType" : "ListFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of findings generated by the specified analyzer.</p> <p>To learn about filter keys that you can use to retrieve a list of findings, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFindingsRequest",
        "variableName" : "listFindingsRequest",
        "variableType" : "ListFindingsRequest",
        "documentation" : "<p>Retrieves a list of findings generated by the specified analyzer.</p>",
        "simpleType" : "ListFindingsRequest",
        "variableSetterType" : "ListFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFindings",
      "operationName" : "ListFindings",
      "returnType" : {
        "returnType" : "ListFindingsResult",
        "documentation" : "<p>The response to the request.</p>"
      },
      "syncReturnType" : "ListFindingsResult"
    },
    "ListPolicyGenerations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPolicyGenerationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPolicyGenerationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPolicyGenerationsRequest, ListPolicyGenerationsResult>",
      "asyncReturnType" : "ListPolicyGenerationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the policy generations requested in the last seven days.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPolicyGenerationsRequest",
        "variableName" : "listPolicyGenerationsRequest",
        "variableType" : "ListPolicyGenerationsRequest",
        "documentation" : "",
        "simpleType" : "ListPolicyGenerationsRequest",
        "variableSetterType" : "ListPolicyGenerationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPolicyGenerations",
      "operationName" : "ListPolicyGenerations",
      "returnType" : {
        "returnType" : "ListPolicyGenerationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPolicyGenerationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of tags applied to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "<p>Retrieves a list of tags applied to the specified resource.</p>",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p>The response to the request.</p>"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartPolicyGeneration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartPolicyGenerationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartPolicyGenerationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartPolicyGenerationRequest, StartPolicyGenerationResult>",
      "asyncReturnType" : "StartPolicyGenerationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the policy generation request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception error.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Service quote met error.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartPolicyGenerationRequest",
        "variableName" : "startPolicyGenerationRequest",
        "variableType" : "StartPolicyGenerationRequest",
        "documentation" : "",
        "simpleType" : "StartPolicyGenerationRequest",
        "variableSetterType" : "StartPolicyGenerationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startPolicyGeneration",
      "operationName" : "StartPolicyGeneration",
      "returnType" : {
        "returnType" : "StartPolicyGenerationResult",
        "documentation" : null
      },
      "syncReturnType" : "StartPolicyGenerationResult"
    },
    "StartResourceScan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartResourceScanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartResourceScanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartResourceScanRequest, StartResourceScanResult>",
      "asyncReturnType" : "StartResourceScanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Immediately starts a scan of the policies applied to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartResourceScanRequest",
        "variableName" : "startResourceScanRequest",
        "variableType" : "StartResourceScanRequest",
        "documentation" : "<p>Starts a scan of the policies applied to the specified resource.</p>",
        "simpleType" : "StartResourceScanRequest",
        "variableSetterType" : "StartResourceScanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startResourceScan",
      "operationName" : "StartResourceScan",
      "returnType" : {
        "returnType" : "StartResourceScanResult",
        "documentation" : null
      },
      "syncReturnType" : "StartResourceScanResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a tag to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "<p>Adds a tag to the specified resource.</p>",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : "<p>The response to the request.</p>"
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "<p>Removes a tag from the specified resource.</p>",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : "<p>The response to the request.</p>"
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateArchiveRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateArchiveRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateArchiveRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateArchiveRuleRequest, UpdateArchiveRuleResult>",
      "asyncReturnType" : "UpdateArchiveRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the criteria and values for the specified archive rule.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateArchiveRuleRequest",
        "variableName" : "updateArchiveRuleRequest",
        "variableType" : "UpdateArchiveRuleRequest",
        "documentation" : "<p>Updates the specified archive rule.</p>",
        "simpleType" : "UpdateArchiveRuleRequest",
        "variableSetterType" : "UpdateArchiveRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateArchiveRule",
      "operationName" : "UpdateArchiveRule",
      "returnType" : {
        "returnType" : "UpdateArchiveRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateArchiveRuleResult"
    },
    "UpdateFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFindingsRequest, UpdateFindingsResult>",
      "asyncReturnType" : "UpdateFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the status for the specified findings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFindingsRequest",
        "variableName" : "updateFindingsRequest",
        "variableType" : "UpdateFindingsRequest",
        "documentation" : "<p>Updates findings with the new values provided in the request.</p>",
        "simpleType" : "UpdateFindingsRequest",
        "variableSetterType" : "UpdateFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFindings",
      "operationName" : "UpdateFindings",
      "returnType" : {
        "returnType" : "UpdateFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFindingsResult"
    },
    "ValidatePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ValidatePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ValidatePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ValidatePolicyRequest, ValidatePolicyResult>",
      "asyncReturnType" : "ValidatePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests the validation of a policy and returns a list of findings. The findings help you identify issues and provide actionable recommendations to resolve the issue and enable you to author functional policies that meet security best practices. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Throttling limit exceeded error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ValidatePolicyRequest",
        "variableName" : "validatePolicyRequest",
        "variableType" : "ValidatePolicyRequest",
        "documentation" : "",
        "simpleType" : "ValidatePolicyRequest",
        "variableSetterType" : "ValidatePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "validatePolicy",
      "operationName" : "ValidatePolicy",
      "returnType" : {
        "returnType" : "ValidatePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "ValidatePolicyResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.accessanalyzer.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.accessanalyzer.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccessPreview" : {
      "c2jName" : "AccessPreview",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains information about an access preview.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.accessanalyzer.model.AccessPreview",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "analyzerArn",
        "c2jShape" : "AnalyzerArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the analyzer used to generate the access preview.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the analyzer used to generate the access preview.</p>\n@param analyzerArn The ARN of the analyzer used to generate the access preview.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAnalyzerArn",
        "getterDocumentation" : "/**<p>The ARN of the analyzer used to generate the access preview.</p>\n@return The ARN of the analyzer used to generate the access preview.*/",
        "getterMethodName" : "getAnalyzerArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "analyzerArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "analyzerArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AnalyzerArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the analyzer used to generate the access preview.</p>\n@param analyzerArn The ARN of the analyzer used to generate the access preview.*/",
        "setterMethodName" : "setAnalyzerArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "analyzerArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the analyzer used to generate the access preview.</p>\n@param analyzerArn The ARN of the analyzer used to generate the access preview.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "analyzerArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the analyzer used to generate the access preview.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "configurations",
        "c2jShape" : "ConfigurationsMap",
        "deprecated" : false,
        "documentation" : "<p>A map of resource ARNs for the proposed resource configuration.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A map of resource ARNs for the proposed resource configuration.</p>\n@param configurations A map of resource ARNs for the proposed resource configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfigurations",
        "getterDocumentation" : "/**<p>A map of resource ARNs for the proposed resource configuration.</p>\n@return A map of resource ARNs for the proposed resource configuration.*/",
        "getterMethodName" : "getConfigurations",
        "getterModel" : {
          "returnType" : "java.util.Map<String,Configuration>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "configurations",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "configurations",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "Configuration",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "Configuration",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Configuration",
              "variableName" : "value",
              "variableType" : "Configuration",
              "documentation" : "",
              "simpleType" : "Configuration",
              "variableSetterType" : "Configuration"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Configuration",
              "variableName" : "value",
              "variableType" : "Configuration",
              "documentation" : "",
              "simpleType" : "Configuration",
              "variableSetterType" : "Configuration"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "Configuration",
          "entryType" : "Map.Entry<String, Configuration>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,Configuration>",
          "templateType" : "java.util.Map<String,Configuration>",
          "valueList" : false,
          "valueSimple" : false
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Configurations",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A map of resource ARNs for the proposed resource configuration.</p>\n@param configurations A map of resource ARNs for the proposed resource configuration.*/",
        "setterMethodName" : "setConfigurations",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,Configuration>",
          "variableName" : "configurations",
          "variableType" : "java.util.Map<String,Configuration>",
          "documentation" : "",
          "simpleType" : "Map<String,Configuration>",
          "variableSetterType" : "java.util.Map<String,Configuration>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A map of resource ARNs for the proposed resource configuration.</p>\n@param configurations A map of resource ARNs for the proposed resource configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,Configuration>",
          "variableName" : "configurations",
          "variableType" : "java.util.Map<String,Configuration>",
          "documentation" : "<p>A map of resource ARNs for the proposed resource configuration.</p>",
          "simpleType" : "Map<String,Configuration>",
          "variableSetterType" : "java.util.Map<String,Configuration>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "createdAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time at which the access preview was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time at which the access preview was created.</p>\n@param createdAt The time at which the access preview was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedAt",
        "getterDocumentation" : "/**<p>The time at which the access preview was created.</p>\n@return The time at which the access preview was created.*/",
        "getterMethodName" : "getCreatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createdAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createdAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time at which the access preview was created.</p>\n@param createdAt The time at which the access preview was created.*/",
        "setterMethodName" : "setCreatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time at which the access preview was created.</p>\n@param createdAt The time at which the access preview was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time at which the access preview was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "id",
        "c2jShape" : "AccessPreviewId",
        "deprecated" : false,
        "documentation" : "<p>The unique ID for the access preview.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique ID for the access preview.</p>\n@param id The unique ID for the access preview.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The unique ID for the access preview.</p>\n@return The unique ID for the access preview.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique ID for the access preview.</p>\n@param id The unique ID for the access preview.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique ID for the access preview.</p>\n@param id The unique ID for the access preview.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The unique ID for the access preview.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "status",
        "c2jShape" : "AccessPreviewStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>",
        "endpointDiscoveryId" : false,
        "enumType" : "AccessPreviewStatus",
        "fluentSetterDocumentation" : "/**<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>\n@param status The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessPreviewStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>\n@return The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li>\n@see AccessPreviewStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>\n@param status The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li>\n@see AccessPreviewStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>\n@param status The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessPreviewStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "statusReason",
        "c2jShape" : "AccessPreviewStatusReason",
        "deprecated" : false,
        "documentation" : "<p>Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.</p>\n@param statusReason Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatusReason",
        "getterDocumentation" : "/**<p>Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.</p>\n@return Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.*/",
        "getterMethodName" : "getStatusReason",
        "getterModel" : {
          "returnType" : "AccessPreviewStatusReason",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "statusReason",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "statusReason",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "StatusReason",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.</p>\n@param statusReason Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.*/",
        "setterMethodName" : "setStatusReason",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AccessPreviewStatusReason",
          "variableName" : "statusReason",
          "variableType" : "AccessPreviewStatusReason",
          "documentation" : "",
          "simpleType" : "AccessPreviewStatusReason",
          "variableSetterType" : "AccessPreviewStatusReason"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.</p>\n@param statusReason Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AccessPreviewStatusReason",
          "variableName" : "statusReason",
[...]
