{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-02-01",
    "asyncClient" : "AWSAccountAsyncClient",
    "asyncClientBuilderClassName" : "AWSAccountAsyncClientBuilder",
    "asyncInterface" : "AWSAccountAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSAccountModuleInjector",
    "defaultEndpoint" : "account.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "account.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Operations for Amazon Web Services Account Management</p>",
    "endpointPrefix" : "account",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.account",
    "packagePath" : "com/amazonaws/services/account",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Account",
    "serviceId" : "Account",
    "serviceName" : "AWS Account",
    "signingName" : "account",
    "smokeTestsPackageName" : "com.amazonaws.services.account.smoketests",
    "syncClient" : "AWSAccountClient",
    "syncClientBuilderClassName" : "AWSAccountClientBuilder",
    "syncInterface" : "AWSAccount",
    "uid" : "account-2021-02-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteAlternateContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAlternateContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAlternateContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAlternateContactRequest, DeleteAlternateContactResult>",
      "asyncReturnType" : "DeleteAlternateContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified alternate contact from an Amazon Web Services account.</p> <p>For complete details about how to use the alternate contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Access or updating the alternate contacts</a>.</p> <note> <p>Before you can update the alternate contact information for an Amazon Web Services account that is managed by Organizations, you must first enable integration between Amazon Web Services Account Management and Organizations. For more information, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/using-orgs-trusted-access.html\">Enabling trusted access for Amazon Web Services Account Management</a>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation failed because it specified a resource that can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation failed because one of the input parameters was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The operation failed because the calling identity doesn't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The operation failed because it was called too frequently and exceeded a throttle limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation failed because of an error internal to Amazon Web Services. Try your operation again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAlternateContactRequest",
        "variableName" : "deleteAlternateContactRequest",
        "variableType" : "DeleteAlternateContactRequest",
        "documentation" : "",
        "simpleType" : "DeleteAlternateContactRequest",
        "variableSetterType" : "DeleteAlternateContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlternateContact",
      "operationName" : "DeleteAlternateContact",
      "returnType" : {
        "returnType" : "DeleteAlternateContactResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAlternateContactResult"
    },
    "DisableRegion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableRegionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableRegionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableRegionRequest, DisableRegionResult>",
      "asyncReturnType" : "DisableRegionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables (opts-out) a particular Region for an account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation failed because one of the input parameters was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of a conflict in the current status of the resource. For example, this happens if you try to enable a Region that is currently being disabled (in a status of DISABLING).</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The operation failed because the calling identity doesn't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The operation failed because it was called too frequently and exceeded a throttle limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation failed because of an error internal to Amazon Web Services. Try your operation again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableRegionRequest",
        "variableName" : "disableRegionRequest",
        "variableType" : "DisableRegionRequest",
        "documentation" : "",
        "simpleType" : "DisableRegionRequest",
        "variableSetterType" : "DisableRegionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableRegion",
      "operationName" : "DisableRegion",
      "returnType" : {
        "returnType" : "DisableRegionResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableRegionResult"
    },
    "EnableRegion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableRegionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableRegionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableRegionRequest, EnableRegionResult>",
      "asyncReturnType" : "EnableRegionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables (opts-in) a particular Region for an account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation failed because one of the input parameters was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of a conflict in the current status of the resource. For example, this happens if you try to enable a Region that is currently being disabled (in a status of DISABLING).</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The operation failed because the calling identity doesn't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The operation failed because it was called too frequently and exceeded a throttle limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation failed because of an error internal to Amazon Web Services. Try your operation again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableRegionRequest",
        "variableName" : "enableRegionRequest",
        "variableType" : "EnableRegionRequest",
        "documentation" : "",
        "simpleType" : "EnableRegionRequest",
        "variableSetterType" : "EnableRegionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableRegion",
      "operationName" : "EnableRegion",
      "returnType" : {
        "returnType" : "EnableRegionResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableRegionResult"
    },
    "GetAlternateContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAlternateContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAlternateContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAlternateContactRequest, GetAlternateContactResult>",
      "asyncReturnType" : "GetAlternateContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the specified alternate contact attached to an Amazon Web Services account.</p> <p>For complete details about how to use the alternate contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Access or updating the alternate contacts</a>.</p> <note> <p>Before you can update the alternate contact information for an Amazon Web Services account that is managed by Organizations, you must first enable integration between Amazon Web Services Account Management and Organizations. For more information, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/using-orgs-trusted-access.html\">Enabling trusted access for Amazon Web Services Account Management</a>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation failed because it specified a resource that can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation failed because one of the input parameters was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The operation failed because the calling identity doesn't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The operation failed because it was called too frequently and exceeded a throttle limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation failed because of an error internal to Amazon Web Services. Try your operation again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAlternateContactRequest",
        "variableName" : "getAlternateContactRequest",
        "variableType" : "GetAlternateContactRequest",
        "documentation" : "",
        "simpleType" : "GetAlternateContactRequest",
        "variableSetterType" : "GetAlternateContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAlternateContact",
      "operationName" : "GetAlternateContact",
      "returnType" : {
        "returnType" : "GetAlternateContactResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAlternateContactResult"
    },
    "GetContactInformation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetContactInformationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetContactInformationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContactInformationRequest, GetContactInformationResult>",
      "asyncReturnType" : "GetContactInformationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the primary contact information of an Amazon Web Services account.</p> <p>For complete details about how to use the primary contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Update the primary and alternate contact information</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation failed because it specified a resource that can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation failed because one of the input parameters was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The operation failed because the calling identity doesn't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The operation failed because it was called too frequently and exceeded a throttle limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation failed because of an error internal to Amazon Web Services. Try your operation again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetContactInformationRequest",
        "variableName" : "getContactInformationRequest",
        "variableType" : "GetContactInformationRequest",
        "documentation" : "",
        "simpleType" : "GetContactInformationRequest",
        "variableSetterType" : "GetContactInformationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getContactInformation",
      "operationName" : "GetContactInformation",
      "returnType" : {
        "returnType" : "GetContactInformationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetContactInformationResult"
    },
    "GetRegionOptStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRegionOptStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRegionOptStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRegionOptStatusRequest, GetRegionOptStatusResult>",
      "asyncReturnType" : "GetRegionOptStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the opt-in status of a particular Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation failed because one of the input parameters was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The operation failed because the calling identity doesn't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The operation failed because it was called too frequently and exceeded a throttle limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation failed because of an error internal to Amazon Web Services. Try your operation again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRegionOptStatusRequest",
        "variableName" : "getRegionOptStatusRequest",
        "variableType" : "GetRegionOptStatusRequest",
        "documentation" : "",
        "simpleType" : "GetRegionOptStatusRequest",
        "variableSetterType" : "GetRegionOptStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRegionOptStatus",
      "operationName" : "GetRegionOptStatus",
      "returnType" : {
        "returnType" : "GetRegionOptStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRegionOptStatusResult"
    },
    "ListRegions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRegionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRegionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRegionsRequest, ListRegionsResult>",
      "asyncReturnType" : "ListRegionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the Regions for a given account and their respective opt-in statuses. Optionally, this list can be filtered by the <code>region-opt-status-contains</code> parameter. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation failed because one of the input parameters was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The operation failed because the calling identity doesn't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The operation failed because it was called too frequently and exceeded a throttle limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation failed because of an error internal to Amazon Web Services. Try your operation again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRegionsRequest",
        "variableName" : "listRegionsRequest",
        "variableType" : "ListRegionsRequest",
        "documentation" : "",
        "simpleType" : "ListRegionsRequest",
        "variableSetterType" : "ListRegionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRegions",
      "operationName" : "ListRegions",
      "returnType" : {
        "returnType" : "ListRegionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRegionsResult"
    },
    "PutAlternateContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAlternateContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAlternateContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAlternateContactRequest, PutAlternateContactResult>",
      "asyncReturnType" : "PutAlternateContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified alternate contact attached to an Amazon Web Services account.</p> <p>For complete details about how to use the alternate contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Access or updating the alternate contacts</a>.</p> <note> <p>Before you can update the alternate contact information for an Amazon Web Services account that is managed by Organizations, you must first enable integration between Amazon Web Services Account Management and Organizations. For more information, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/using-orgs-trusted-access.html\">Enabling trusted access for Amazon Web Services Account Management</a>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation failed because one of the input parameters was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The operation failed because the calling identity doesn't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The operation failed because it was called too frequently and exceeded a throttle limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation failed because of an error internal to Amazon Web Services. Try your operation again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAlternateContactRequest",
        "variableName" : "putAlternateContactRequest",
        "variableType" : "PutAlternateContactRequest",
        "documentation" : "",
        "simpleType" : "PutAlternateContactRequest",
        "variableSetterType" : "PutAlternateContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAlternateContact",
      "operationName" : "PutAlternateContact",
      "returnType" : {
        "returnType" : "PutAlternateContactResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAlternateContactResult"
    },
    "PutContactInformation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutContactInformationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutContactInformationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutContactInformationRequest, PutContactInformationResult>",
      "asyncReturnType" : "PutContactInformationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the primary contact information of an Amazon Web Services account.</p> <p>For complete details about how to use the primary contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Update the primary and alternate contact information</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation failed because one of the input parameters was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The operation failed because the calling identity doesn't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The operation failed because it was called too frequently and exceeded a throttle limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation failed because of an error internal to Amazon Web Services. Try your operation again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutContactInformationRequest",
        "variableName" : "putContactInformationRequest",
        "variableType" : "PutContactInformationRequest",
        "documentation" : "",
        "simpleType" : "PutContactInformationRequest",
        "variableSetterType" : "PutContactInformationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putContactInformation",
      "operationName" : "PutContactInformation",
      "returnType" : {
        "returnType" : "PutContactInformationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutContactInformationResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The operation failed because the calling identity doesn't have the minimum required permissions.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.account.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.account.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AlternateContact" : {
      "c2jName" : "AlternateContact",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A structure that contains the details of an alternate contact associated with an Amazon Web Services account</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.account.model.AlternateContact",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AlternateContactType",
        "c2jShape" : "AlternateContactType",
        "deprecated" : false,
        "documentation" : "<p>The type of alternate contact.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "AlternateContactType",
        "fluentSetterDocumentation" : "/**<p>The type of alternate contact.</p>\n@param alternateContactType The type of alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AlternateContactType*/",
        "fluentSetterMethodName" : "withAlternateContactType",
        "getterDocumentation" : "/**<p>The type of alternate contact.</p>\n@return The type of alternate contact.\n@see AlternateContactType*/",
        "getterMethodName" : "getAlternateContactType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AlternateContactType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AlternateContactType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AlternateContactType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of alternate contact.</p>\n@param alternateContactType The type of alternate contact.\n@see AlternateContactType*/",
        "setterMethodName" : "setAlternateContactType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "alternateContactType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of alternate contact.</p>\n@param alternateContactType The type of alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AlternateContactType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "alternateContactType",
          "variableType" : "String",
          "documentation" : "<p>The type of alternate contact.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EmailAddress",
        "c2jShape" : "EmailAddress",
        "deprecated" : false,
        "documentation" : "<p>The email address associated with this alternate contact.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The email address associated with this alternate contact.</p>\n@param emailAddress The email address associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEmailAddress",
        "getterDocumentation" : "/**<p>The email address associated with this alternate contact.</p>\n@return The email address associated with this alternate contact.*/",
        "getterMethodName" : "getEmailAddress",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EmailAddress",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EmailAddress",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EmailAddress",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The email address associated with this alternate contact.</p>\n@param emailAddress The email address associated with this alternate contact.*/",
        "setterMethodName" : "setEmailAddress",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "emailAddress",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The email address associated with this alternate contact.</p>\n@param emailAddress The email address associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "emailAddress",
          "variableType" : "String",
          "documentation" : "<p>The email address associated with this alternate contact.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "<p>The name associated with this alternate contact.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name associated with this alternate contact.</p>\n@param name The name associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name associated with this alternate contact.</p>\n@return The name associated with this alternate contact.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The name associated with this alternate contact.</p>\n@param name The name associated with this alternate contact.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name associated with this alternate contact.</p>\n@param name The name associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name associated with this alternate contact.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PhoneNumber",
        "c2jShape" : "PhoneNumber",
        "deprecated" : false,
        "documentation" : "<p>The phone number associated with this alternate contact.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The phone number associated with this alternate contact.</p>\n@param phoneNumber The phone number associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPhoneNumber",
        "getterDocumentation" : "/**<p>The phone number associated with this alternate contact.</p>\n@return The phone number associated with this alternate contact.*/",
        "getterMethodName" : "getPhoneNumber",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PhoneNumber",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PhoneNumber",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PhoneNumber",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The phone number associated with this alternate contact.</p>\n@param phoneNumber The phone number associated with this alternate contact.*/",
        "setterMethodName" : "setPhoneNumber",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "phoneNumber",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The phone number associated with this alternate contact.</p>\n@param phoneNumber The phone number associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "phoneNumber",
          "variableType" : "String",
          "documentation" : "<p>The phone number associated with this alternate contact.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Title",
        "c2jShape" : "Title",
        "deprecated" : false,
        "documentation" : "<p>The title associated with this alternate contact.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The title associated with this alternate contact.</p>\n@param title The title associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTitle",
        "getterDocumentation" : "/**<p>The title associated with this alternate contact.</p>\n@return The title associated with this alternate contact.*/",
        "getterMethodName" : "getTitle",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Title",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Title",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Title",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The title associated with this alternate contact.</p>\n@param title The title associated with this alternate contact.*/",
        "setterMethodName" : "setTitle",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "title",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The title associated with this alternate contact.</p>\n@param title The title associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "title",
          "variableType" : "String",
          "documentation" : "<p>The title associated with this alternate contact.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AlternateContactType" : {
          "c2jName" : "AlternateContactType",
          "c2jShape" : "AlternateContactType",
          "deprecated" : false,
          "documentation" : "<p>The type of alternate contact.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "AlternateContactType",
          "fluentSetterDocumentation" : "/**<p>The type of alternate contact.</p>\n@param alternateContactType The type of alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AlternateContactType*/",
          "fluentSetterMethodName" : "withAlternateContactType",
          "getterDocumentation" : "/**<p>The type of alternate contact.</p>\n@return The type of alternate contact.\n@see AlternateContactType*/",
          "getterMethodName" : "getAlternateContactType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AlternateContactType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AlternateContactType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AlternateContactType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of alternate contact.</p>\n@param alternateContactType The type of alternate contact.\n@see AlternateContactType*/",
          "setterMethodName" : "setAlternateContactType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "alternateContactType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of alternate contact.</p>\n@param alternateContactType The type of alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AlternateContactType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "alternateContactType",
            "variableType" : "String",
            "documentation" : "<p>The type of alternate contact.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EmailAddress" : {
          "c2jName" : "EmailAddress",
          "c2jShape" : "EmailAddress",
          "deprecated" : false,
          "documentation" : "<p>The email address associated with this alternate contact.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The email address associated with this alternate contact.</p>\n@param emailAddress The email address associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEmailAddress",
          "getterDocumentation" : "/**<p>The email address associated with this alternate contact.</p>\n@return The email address associated with this alternate contact.*/",
          "getterMethodName" : "getEmailAddress",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EmailAddress",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EmailAddress",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EmailAddress",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The email address associated with this alternate contact.</p>\n@param emailAddress The email address associated with this alternate contact.*/",
          "setterMethodName" : "setEmailAddress",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "emailAddress",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The email address associated with this alternate contact.</p>\n@param emailAddress The email address associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "emailAddress",
            "variableType" : "String",
            "documentation" : "<p>The email address associated with this alternate contact.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "Name",
          "deprecated" : false,
          "documentation" : "<p>The name associated with this alternate contact.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name associated with this alternate contact.</p>\n@param name The name associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name associated with this alternate contact.</p>\n@return The name associated with this alternate contact.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The name associated with this alternate contact.</p>\n@param name The name associated with this alternate contact.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name associated with this alternate contact.</p>\n@param name The name associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name associated with this alternate contact.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "PhoneNumber" : {
          "c2jName" : "PhoneNumber",
          "c2jShape" : "PhoneNumber",
          "deprecated" : false,
          "documentation" : "<p>The phone number associated with this alternate contact.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The phone number associated with this alternate contact.</p>\n@param phoneNumber The phone number associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPhoneNumber",
          "getterDocumentation" : "/**<p>The phone number associated with this alternate contact.</p>\n@return The phone number associated with this alternate contact.*/",
          "getterMethodName" : "getPhoneNumber",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "PhoneNumber",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PhoneNumber",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "PhoneNumber",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The phone number associated with this alternate contact.</p>\n@param phoneNumber The phone number associated with this alternate contact.*/",
          "setterMethodName" : "setPhoneNumber",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "phoneNumber",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The phone number associated with this alternate contact.</p>\n@param phoneNumber The phone number associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "phoneNumber",
            "variableType" : "String",
            "documentation" : "<p>The phone number associated with this alternate contact.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Title" : {
          "c2jName" : "Title",
          "c2jShape" : "Title",
          "deprecated" : false,
          "documentation" : "<p>The title associated with this alternate contact.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The title associated with this alternate contact.</p>\n@param title The title associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTitle",
          "getterDocumentation" : "/**<p>The title associated with this alternate contact.</p>\n@return The title associated with this alternate contact.*/",
          "getterMethodName" : "getTitle",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Title",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Title",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Title",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The title associated with this alternate contact.</p>\n@param title The title associated with this alternate contact.*/",
          "setterMethodName" : "setTitle",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "title",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The title associated with this alternate contact.</p>\n@param title The title associated with this alternate contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "title",
            "variableType" : "String",
            "documentation" : "<p>The title associated with this alternate contact.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.account.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AlternateContact",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlternateContact",
        "variableName" : "alternateContact",
        "variableType" : "AlternateContact",
        "documentation" : null,
        "simpleType" : "AlternateContact",
        "variableSetterType" : "AlternateContact"
      },
      "wrapper" : false
    },
    "AlternateContactType" : {
      "c2jName" : "AlternateContactType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "BILLING",
        "value" : "BILLING"
      }, {
        "name" : "OPERATIONS",
        "value" : "OPERATIONS"
      }, {
        "name" : "SECURITY",
        "value" : "SECURITY"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.account.enum.AlternateContactType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.account.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AlternateContactType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlternateContactType",
        "variableName" : "alternateContactType",
        "variableType" : "AlternateContactType",
        "documentation" : null,
        "simpleType" : "AlternateContactType",
        "variableSetterType" : "AlternateContactType"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request could not be processed because of a conflict in the current status of the resource. For example, this happens if you try to enable a Region that is currently being disabled (in a status of DISABLING).</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.account.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.account.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "ContactInformation" : {
      "c2jName" : "ContactInformation",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the details of the primary contact information associated with an Amazon Web Services account.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.account.model.ContactInformation",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AddressLine1",
        "c2jShape" : "AddressLine",
        "deprecated" : false,
        "documentation" : "<p>The first line of the primary contact address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The first line of the primary contact address.</p>\n@param addressLine1 The first line of the primary contact address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAddressLine1",
        "getterDocumentation" : "/**<p>The first line of the primary contact address.</p>\n@return The first line of the primary contact address.*/",
        "getterMethodName" : "getAddressLine1",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AddressLine1",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AddressLine1",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AddressLine1",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The first line of the primary contact address.</p>\n@param addressLine1 The first line of the primary contact address.*/",
        "setterMethodName" : "setAddressLine1",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressLine1",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The first line of the primary contact address.</p>\n@param addressLine1 The first line of the primary contact address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressLine1",
          "variableType" : "String",
          "documentation" : "<p>The first line of the primary contact address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AddressLine2",
        "c2jShape" : "AddressLine",
        "deprecated" : false,
        "documentation" : "<p>The second line of the primary contact address, if any.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The second line of the primary contact address, if any.</p>\n@param addressLine2 The second line of the primary contact address, if any.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAddressLine2",
        "getterDocumentation" : "/**<p>The second line of the primary contact address, if any.</p>\n@return The second line of the primary contact address, if any.*/",
        "getterMethodName" : "getAddressLine2",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AddressLine2",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AddressLine2",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AddressLine2",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The second line of the primary contact address, if any.</p>\n@param addressLine2 The second line of the primary contact address, if any.*/",
        "setterMethodName" : "setAddressLine2",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressLine2",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The second line of the primary contact address, if any.</p>\n@param addressLine2 The second line of the primary contact address, if any.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressLine2",
          "variableType" : "String",
          "documentation" : "<p>The second line of the primary contact address, if any.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AddressLine3",
        "c2jShape" : "AddressLine",
        "deprecated" : false,
        "documentation" : "<p>The third line of the primary contact address, if any.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The third line of the primary contact address, if any.</p>\n@param addressLine3 The third line of the primary contact address, if any.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAddressLine3",
        "getterDocumentation" : "/**<p>The third line of the primary contact address, if any.</p>\n@return The third line of the primary contact address, if any.*/",
        "getterMethodName" : "getAddressLine3",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AddressLine3",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AddressLine3",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AddressLine3",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The third line of the primary contact address, if any.</p>\n@param addressLine3 The third line of the primary contact address, if any.*/",
        "setterMethodName" : "setAddressLine3",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressLine3",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The third line of the primary contact address, if any.</p>\n@param addressLine3 The third line of the primary contact address, if any.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressLine3",
          "variableType" : "String",
          "documentation" : "<p>The third line of the primary contact address, if any.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "City",
        "c2jShape" : "City",
        "deprecated" : false,
        "documentation" : "<p>The city of the primary contact address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The city of the primary contact address.</p>\n@param city The city of the primary contact address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCity",
        "getterDocumentation" : "/**<p>The city of the primary contact address.</p>\n@return The city of the primary contact address.*/",
        "getterMethodName" : "getCity",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "City",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "City",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "City",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The city of the primary contact address.</p>\n@param city The city of the primary contact address.*/",
        "setterMethodName" : "setCity",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "city",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The city of the primary contact address.</p>\n@param city The city of the primary contact address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "city",
          "variableType" : "String",
          "documentation" : "<p>The city of the primary contact address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CompanyName",
        "c2jShape" : "CompanyName",
        "deprecated" : false,
        "documentation" : "<p>The name of the company associated with the primary contact information, if any.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the company associated with the primary contact information, if any.</p>\n@param companyName The name of the company associated with the primary contact information, if any.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCompanyName",
        "getterDocumentation" : "/**<p>The name of the company associated with the primary contact information, if any.</p>\n@return The name of the company associated with the primary contact information, if any.*/",
        "getterMethodName" : "getCompanyName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CompanyName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CompanyName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CompanyName",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The name of the company associated with the primary contact information, if any.</p>\n@param companyName The name of the company associated with the primary contact information, if any.*/",
        "setterMethodName" : "setCompanyName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "companyName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the company associated with the primary contact information, if any.</p>\n@param companyName The name of the company associated with the primary contact information, if any.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "companyName",
          "variableType" : "String",
          "documentation" : "<p>The name of the company associated with the primary contact information, if any.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CountryCode",
        "c2jShape" : "CountryCode",
        "deprecated" : false,
        "documentation" : "<p>The ISO-3166 two-letter country code for the primary contact address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ISO-3166 two-letter country code for the primary contact address.</p>\n@param countryCode The ISO-3166 two-letter country code for the primary contact address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCountryCode",
        "getterDocumentation" : "/**<p>The ISO-3166 two-letter country code for the primary contact address.</p>\n@return The ISO-3166 two-letter country code for the primary contact address.*/",
        "getterMethodName" : "getCountryCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CountryCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CountryCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CountryCode",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The ISO-3166 two-letter country code for the primary contact address.</p>\n@param countryCode The ISO-3166 two-letter country code for the primary contact address.*/",
        "setterMethodName" : "setCountryCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "countryCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ISO-3166 two-letter country code for the primary contact address.</p>\n@param countryCode The ISO-3166 two-letter country code for the primary contact address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "countryCode",
          "variableType" : "String",
          "documentation" : "<p>The ISO-3166 two-letter country code for the primary contact address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DistrictOrCounty",
        "c2jShape" : "DistrictOrCounty",
        "deprecated" : false,
        "documentation" : "<p>The district or county of the primary contact address, if any.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The district or county of the primary contact address, if any.</p>\n@param districtOrCounty The district or county of the primary contact address, if any.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDistrictOrCounty",
        "getterDocumentation" : "/**<p>The district or county of the primary contact address, if any.</p>\n@return The district or county of the primary contact address, if any.*/",
        "getterMethodName" : "getDistrictOrCounty",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DistrictOrCounty",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DistrictOrCounty",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DistrictOrCounty",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The district or county of the primary contact address, if any.</p>\n@param districtOrCounty The district or county of the primary contact address, if any.*/",
        "setterMethodName" : "setDistrictOrCounty",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "districtOrCounty",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The district or county of the primary contact address, if any.</p>\n@param districtOrCounty The district or county of the primary contact address, if any.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "districtOrCounty",
          "variableType" : "String",
          "documentation" : "<p>The district or county of the primary contact address, if any.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "FullName",
        "c2jShape" : "FullName",
        "deprecated" : false,
        "documentation" : "<p>The full name of the primary contact address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The full name of the primary contact address.</p>\n@param fullName The full name of the primary contact address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFullName",
        "getterDocumentation" : "/**<p>The full name of the primary contact address.</p>\n@return The full name of the primary contact address.*/",
        "getterMethodName" : "getFullName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FullName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FullName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FullName",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The full name of the primary contact address.</p>\n@param fullName The full name of the primary contact address.*/",
        "setterMethodName" : "setFullName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "fullName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The full name of the primary contact address.</p>\n@param fullName The full name of the primary contact address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "fullName",
          "variableType" : "String",
          "documentation" : "<p>The full name of the primary contact address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PhoneNumber",
        "c2jShape" : "ContactInformationPhoneNumber",
        "deprecated" : false,
        "documentation" : "<p>The phone number of the primary contact information. The number will be validated and, in some countries, checked for activation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The phone number of the primary contact information. The number will be validated and, in some countries, checked for activation.</p>\n@param phoneNumber The phone number of the primary contact information. The number will be validated and, in some countries, checked for activation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPhoneNumber",
        "getterDocumentation" : "/**<p>The phone number of the primary contact information. The number will be validated and, in some countries, checked for activation.</p>\n@return The phone number of the primary contact information. The number will be validated and, in some countries, checked for activation.*/",
        "getterMethodName" : "getPhoneNumber",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PhoneNumber",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PhoneNumber",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PhoneNumber",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The phone number of the primary contact information. The number will be validated and, in some countries, checked for activation.</p>\n@param phoneNumber The phone number of the primary contact information. The number will be validated and, in some countries, checked for activation.*/",
        "setterMethodName" : "setPhoneNumber",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "phoneNumber",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The phone number of the primary contact information. The number will be validated and, in some countries, checked for activation.</p>\n@param phoneNumber The phone number of the primary contact information. The number will be validated and, in some countries, checked for activation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "phoneNumber",
          "variableType" : "String",
          "documentation" : "<p>The phone number of the primary contact information. The number will be validated and, in some countries, checked for activation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PostalCode",
        "c2jShape" : "PostalCode",
        "deprecated" : false,
        "documentation" : "<p>The postal code of the primary contact address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The postal code of the primary contact address.</p>\n@param postalCode The postal code of the primary contact address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPostalCode",
        "getterDocumentation" : "/**<p>The postal code of the primary contact address.</p>\n@return The postal code of the primary contact address.*/",
        "getterMethodName" : "getPostalCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PostalCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PostalCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PostalCode",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The postal code of the primary contact address.</p>\n@param postalCode The postal code of the primary contact address.*/",
        "setterMethodName" : "setPostalCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "postalCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
