{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-12-08",
    "asyncClient" : "AWSCertificateManagerAsyncClient",
    "asyncClientBuilderClassName" : "AWSCertificateManagerAsyncClientBuilder",
    "asyncInterface" : "AWSCertificateManagerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCertificateManagerModuleInjector",
    "defaultEndpoint" : "https://acm.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "acm.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS Certificate Manager</fullname> <p>Welcome to the AWS Certificate Manager (ACM) API documentation.</p> <p>You can use ACM to manage SSL/TLS certificates for your AWS-based websites and applications. For general information about using ACM, see the <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/\"> <i>AWS Certificate Manager User Guide</i> </a>.</p>",
    "endpointPrefix" : "acm",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.certificatemanager",
    "packagePath" : "com/amazonaws/services/certificatemanager",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "ACM",
    "serviceFullName" : "AWS Certificate Manager",
    "serviceName" : "ACM",
    "signingName" : "acm",
    "smokeTestsPackageName" : "com.amazonaws.services.certificatemanager.smoketests",
    "syncClient" : "AWSCertificateManagerClient",
    "syncClientBuilderClassName" : "AWSCertificateManagerClientBuilder",
    "syncInterface" : "AWSCertificateManager",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddTagsToCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToCertificateRequest, AddTagsToCertificateResult>",
      "asyncReturnType" : "AddTagsToCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to an ACM Certificate. Tags are labels that you can use to identify and organize your AWS resources. Each tag consists of a <code>key</code> and an optional <code>value</code>. You specify the certificate on input by its Amazon Resource Name (ARN). You specify the tag by using a key-value pair.</p> <p>You can apply a tag to just one certificate if you want to identify a specific characteristic of that certificate, or you can apply the same tag to multiple certificates if you want to filter for a common relationship among those certificates. Similarly, you can apply the same tag to multiple resources if you want to specify a relationship among those resources. For example, you can add the same tag to an ACM Certificate and an Elastic Load Balancing load balancer to indicate that they are both used by the same website. For more information, see <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/tags.html\">Tagging ACM Certificates</a>.</p> <p>To remove one or more tags, use the <a>RemoveTagsFromCertificate</a> action. To view all of the tags that have been applied to the certificate, use the <a>ListTagsForCertificate</a> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified certificate cannot be found in the caller's account, or the caller's account cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>"
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>One or both of the values that make up the key-value pair is not valid. For example, you cannot specify a tag value that begins with <code>aws:</code>.</p>"
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request contains too many tags. Try the request again with fewer tags.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsToCertificateRequest",
        "variableName" : "addTagsToCertificateRequest",
        "variableType" : "AddTagsToCertificateRequest",
        "documentation" : "",
        "simpleType" : "AddTagsToCertificateRequest",
        "variableSetterType" : "AddTagsToCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTagsToCertificate",
      "operationName" : "AddTagsToCertificate",
      "returnType" : {
        "returnType" : "AddTagsToCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "AddTagsToCertificateResult"
    },
    "DeleteCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCertificateRequest, DeleteCertificateResult>",
      "asyncReturnType" : "DeleteCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an ACM Certificate and its associated private key. If this action succeeds, the certificate no longer appears in the list of ACM Certificates that can be displayed by calling the <a>ListCertificates</a> action or be retrieved by calling the <a>GetCertificate</a> action. The certificate will not be available for use by other AWS services.</p> <note> <p>You cannot delete an ACM Certificate that is being used by another AWS service. To delete a certificate that is in use, the certificate association must first be removed.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified certificate cannot be found in the caller's account, or the caller's account cannot be found.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The certificate is in use by another AWS service in the caller's account. Remove the association and try again.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteCertificateRequest",
        "variableName" : "deleteCertificateRequest",
        "variableType" : "DeleteCertificateRequest",
        "documentation" : "",
        "simpleType" : "DeleteCertificateRequest",
        "variableSetterType" : "DeleteCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCertificate",
      "operationName" : "DeleteCertificate",
      "returnType" : {
        "returnType" : "DeleteCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCertificateResult"
    },
    "DescribeCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCertificateRequest, DescribeCertificateResult>",
      "asyncReturnType" : "DescribeCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the fields contained in the specified ACM Certificate. For example, this action returns the certificate status, a flag that indicates whether the certificate is associated with any other AWS service, and the date at which the certificate request was created. You specify the ACM Certificate on input by its Amazon Resource Name (ARN).</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified certificate cannot be found in the caller's account, or the caller's account cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeCertificateRequest",
        "variableName" : "describeCertificateRequest",
        "variableType" : "DescribeCertificateRequest",
        "documentation" : "",
        "simpleType" : "DescribeCertificateRequest",
        "variableSetterType" : "DescribeCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCertificate",
      "operationName" : "DescribeCertificate",
      "returnType" : {
        "returnType" : "DescribeCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCertificateResult"
    },
    "GetCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCertificateRequest, GetCertificateResult>",
      "asyncReturnType" : "GetCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves an ACM Certificate and certificate chain for the certificate specified by an ARN. The chain is an ordered list of certificates that contains the root certificate, intermediate certificates of subordinate CAs, and the ACM Certificate. The certificate and certificate chain are base64 encoded. If you want to decode the certificate chain to see the individual certificate fields, you can use OpenSSL.</p> <note> <p>Currently, ACM Certificates can be used only with Elastic Load Balancing and Amazon CloudFront.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified certificate cannot be found in the caller's account, or the caller's account cannot be found.</p>"
      }, {
        "exceptionName" : "RequestInProgressException",
        "documentation" : "<p>The certificate request is in process and the certificate in your account has not yet been issued.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCertificateRequest",
        "variableName" : "getCertificateRequest",
        "variableType" : "GetCertificateRequest",
        "documentation" : "",
        "simpleType" : "GetCertificateRequest",
        "variableSetterType" : "GetCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCertificate",
      "operationName" : "GetCertificate",
      "returnType" : {
        "returnType" : "GetCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCertificateResult"
    },
    "ImportCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportCertificateRequest, ImportCertificateResult>",
      "asyncReturnType" : "ImportCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports an SSL/TLS certificate into AWS Certificate Manager (ACM) to use with <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-services.html\">ACM's integrated AWS services</a>.</p> <note> <p>ACM does not provide <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for certificates that you import.</p> </note> <p>For more information about importing certificates into ACM, including the differences between certificates that you import and those that ACM provides, see <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing Certificates</a> in the <i>AWS Certificate Manager User Guide</i>.</p> <p>To import a certificate, you must provide the certificate and the matching private key. When the certificate is not self-signed, you must also provide a certificate chain. You can omit the certificate chain when importing a self-signed certificate.</p> <p>The certificate, private key, and certificate chain must be PEM-encoded. For more information about converting these items to PEM format, see <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html#import-certificate-troubleshooting\">Importing Certificates Troubleshooting</a> in the <i>AWS Certificate Manager User Guide</i>.</p> <p>To import a new certificate, omit the <code>CertificateArn</code> field. Include this field only when you want to replace a previously imported certificate.</p> <p>This operation returns the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the imported certificate.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified certificate cannot be found in the caller's account, or the caller's account cannot be found.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An ACM limit has been exceeded. For example, you may have input more domains than are allowed or you've requested too many certificates for your account. See the exception message returned by ACM to determine which limit you have violated. For more information about ACM limits, see the <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-limits.html\">Limits</a> topic.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ImportCertificateRequest",
        "variableName" : "importCertificateRequest",
        "variableType" : "ImportCertificateRequest",
        "documentation" : "",
        "simpleType" : "ImportCertificateRequest",
        "variableSetterType" : "ImportCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importCertificate",
      "operationName" : "ImportCertificate",
      "returnType" : {
        "returnType" : "ImportCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportCertificateResult"
    },
    "ListCertificates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCertificatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCertificatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCertificatesRequest, ListCertificatesResult>",
      "asyncReturnType" : "ListCertificatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of ACM Certificates and the domain name for each. You can optionally filter the list to return only the certificates that match the specified status.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListCertificatesRequest",
        "variableName" : "listCertificatesRequest",
        "variableType" : "ListCertificatesRequest",
        "documentation" : "",
        "simpleType" : "ListCertificatesRequest",
        "variableSetterType" : "ListCertificatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCertificates",
      "operationName" : "ListCertificates",
      "returnType" : {
        "returnType" : "ListCertificatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCertificatesResult"
    },
    "ListTagsForCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForCertificateRequest, ListTagsForCertificateResult>",
      "asyncReturnType" : "ListTagsForCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags that have been applied to the ACM Certificate. Use the certificate ARN to specify the certificate. To add a tag to an ACM Certificate, use the <a>AddTagsToCertificate</a> action. To delete a tag, use the <a>RemoveTagsFromCertificate</a> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified certificate cannot be found in the caller's account, or the caller's account cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsForCertificateRequest",
        "variableName" : "listTagsForCertificateRequest",
        "variableType" : "ListTagsForCertificateRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForCertificateRequest",
        "variableSetterType" : "ListTagsForCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForCertificate",
      "operationName" : "ListTagsForCertificate",
      "returnType" : {
        "returnType" : "ListTagsForCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForCertificateResult"
    },
    "RemoveTagsFromCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromCertificateRequest, RemoveTagsFromCertificateResult>",
      "asyncReturnType" : "RemoveTagsFromCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove one or more tags from an ACM Certificate. A tag consists of a key-value pair. If you do not specify the value portion of the tag when calling this function, the tag will be removed regardless of value. If you specify a value, the tag is removed only if it is associated with the specified value.</p> <p>To add tags to a certificate, use the <a>AddTagsToCertificate</a> action. To view all of the tags that have been applied to a specific ACM Certificate, use the <a>ListTagsForCertificate</a> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified certificate cannot be found in the caller's account, or the caller's account cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>"
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>One or both of the values that make up the key-value pair is not valid. For example, you cannot specify a tag value that begins with <code>aws:</code>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTagsFromCertificateRequest",
        "variableName" : "removeTagsFromCertificateRequest",
        "variableType" : "RemoveTagsFromCertificateRequest",
        "documentation" : "",
        "simpleType" : "RemoveTagsFromCertificateRequest",
        "variableSetterType" : "RemoveTagsFromCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTagsFromCertificate",
      "operationName" : "RemoveTagsFromCertificate",
      "returnType" : {
        "returnType" : "RemoveTagsFromCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveTagsFromCertificateResult"
    },
    "RequestCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RequestCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RequestCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RequestCertificateRequest, RequestCertificateResult>",
      "asyncReturnType" : "RequestCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests an ACM Certificate for use with other AWS services. To request an ACM Certificate, you must specify the fully qualified domain name (FQDN) for your site. You can also specify additional FQDNs if users can reach your site by using other names. For each domain name you specify, email is sent to the domain owner to request approval to issue the certificate. After receiving approval from the domain owner, the ACM Certificate is issued. For more information, see the <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/\">AWS Certificate Manager User Guide</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An ACM limit has been exceeded. For example, you may have input more domains than are allowed or you've requested too many certificates for your account. See the exception message returned by ACM to determine which limit you have violated. For more information about ACM limits, see the <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-limits.html\">Limits</a> topic.</p>"
      }, {
        "exceptionName" : "InvalidDomainValidationOptionsException",
        "documentation" : "<p>One or more values in the <a>DomainValidationOption</a> structure is incorrect.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RequestCertificateRequest",
        "variableName" : "requestCertificateRequest",
        "variableType" : "RequestCertificateRequest",
        "documentation" : "",
        "simpleType" : "RequestCertificateRequest",
        "variableSetterType" : "RequestCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "requestCertificate",
      "operationName" : "RequestCertificate",
      "returnType" : {
        "returnType" : "RequestCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "RequestCertificateResult"
    },
    "ResendValidationEmail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResendValidationEmailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResendValidationEmailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResendValidationEmailRequest, ResendValidationEmailResult>",
      "asyncReturnType" : "ResendValidationEmailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resends the email that requests domain ownership validation. The domain owner or an authorized representative must approve the ACM Certificate before it can be issued. The certificate can be approved by clicking a link in the mail to navigate to the Amazon certificate approval website and then clicking <b>I Approve</b>. However, the validation email can be blocked by spam filters. Therefore, if you do not receive the original mail, you can request that the mail be resent within 72 hours of requesting the ACM Certificate. If more than 72 hours have elapsed since your original request or since your last attempt to resend validation mail, you must request a new certificate.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified certificate cannot be found in the caller's account, or the caller's account cannot be found.</p>"
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>Processing has reached an invalid state. For example, this exception can occur if the specified domain is not using email validation, or the current certificate status does not permit the requested operation. See the exception message returned by ACM to determine which state is not valid.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>"
      }, {
        "exceptionName" : "InvalidDomainValidationOptionsException",
        "documentation" : "<p>One or more values in the <a>DomainValidationOption</a> structure is incorrect.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ResendValidationEmailRequest",
        "variableName" : "resendValidationEmailRequest",
        "variableType" : "ResendValidationEmailRequest",
        "documentation" : "",
        "simpleType" : "ResendValidationEmailRequest",
        "variableSetterType" : "ResendValidationEmailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resendValidationEmail",
      "operationName" : "ResendValidationEmail",
      "returnType" : {
        "returnType" : "ResendValidationEmailResult",
        "documentation" : null
      },
      "syncReturnType" : "ResendValidationEmailResult"
    }
  },
  "shapes" : {
    "AddTagsToCertificateRequest" : {
      "c2jName" : "AddTagsToCertificateRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddTagsToCertificate",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CertificateManager.AddTagsToCertificate",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "CertificateArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\n@param certificateArn String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\n@return String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "CertificateArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CertificateArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "CertificateArn",
        "setterDocumentation" : "/**<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\n@param certificateArn String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "certificateArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\n@param certificateArn String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "certificateArn",
          "variableType" : "String",
          "documentation" : "<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>The key-value pair that defines the tag. The tag value is optional.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The key-value pair that defines the tag. The tag value is optional.</p>\n@param tags The key-value pair that defines the tag. The tag value is optional.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The key-value pair that defines the tag. The tag value is optional.</p>\n@return The key-value pair that defines the tag. The tag value is optional.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "java.util.ArrayList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Tags",
        "setterDocumentation" : "/**<p>The key-value pair that defines the tag. The tag value is optional.</p>\n@param tags The key-value pair that defines the tag. The tag value is optional.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>The key-value pair that defines the tag. The tag value is optional.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The key-value pair that defines the tag. The tag value is optional.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>The key-value pair that defines the tag. The tag value is optional.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CertificateArn" : {
          "c2jName" : "CertificateArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\n@param certificateArn String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\n@return String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "CertificateArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CertificateArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "CertificateArn",
          "setterDocumentation" : "/**<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\n@param certificateArn String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "certificateArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\n@param certificateArn String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "certificateArn",
            "variableType" : "String",
            "documentation" : "<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "Tags",
          "c2jShape" : "TagList",
          "deprecated" : false,
          "documentation" : "<p>The key-value pair that defines the tag. The tag value is optional.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The key-value pair that defines the tag. The tag value is optional.</p>\n@param tags The key-value pair that defines the tag. The tag value is optional.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The key-value pair that defines the tag. The tag value is optional.</p>\n@return The key-value pair that defines the tag. The tag value is optional.*/",
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Tags",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Tag",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Tag",
            "templateImplType" : "java.util.ArrayList<Tag>",
            "templateType" : "java.util.List<Tag>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "Tags",
          "setterDocumentation" : "/**<p>The key-value pair that defines the tag. The tag value is optional.</p>\n@param tags The key-value pair that defines the tag. The tag value is optional.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>The key-value pair that defines the tag. The tag value is optional.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The key-value pair that defines the tag. The tag value is optional.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "<p>The key-value pair that defines the tag. The tag value is optional.</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "CertificateArn", "Tags" ],
      "shapeName" : "AddTagsToCertificateRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AddTagsToCertificateRequest",
        "variableName" : "addTagsToCertificateRequest",
        "variableType" : "AddTagsToCertificateRequest",
        "documentation" : null,
        "simpleType" : "AddTagsToCertificateRequest",
        "variableSetterType" : "AddTagsToCertificateRequest"
      },
      "wrapper" : false
    },
    "AddTagsToCertificateResult" : {
      "c2jName" : "AddTagsToCertificateResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AddTagsToCertificateResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AddTagsToCertificateResult",
        "variableName" : "addTagsToCertificateResult",
        "variableType" : "AddTagsToCertificateResult",
        "documentation" : null,
        "simpleType" : "AddTagsToCertificateResult",
        "variableSetterType" : "AddTagsToCertificateResult"
      },
      "wrapper" : false
    },
    "CertificateDetail" : {
      "c2jName" : "CertificateDetail",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains detailed metadata about an ACM Certificate. This structure is returned in the response to a <a>DescribeCertificate</a> request.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CertificateArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>\n@param certificateArn The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>\n@return The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "CertificateArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CertificateArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "CertificateArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>\n@param certificateArn The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "certificateArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>\n@param certificateArn The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "certificateArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DomainName",
        "c2jShape" : "DomainNameString",
        "deprecated" : false,
        "documentation" : "<p>The fully qualified domain name for the certificate, such as www.example.com or example.com.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The fully qualified domain name for the certificate, such as www.example.com or example.com.</p>\n@param domainName The fully qualified domain name for the certificate, such as www.example.com or example.com.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The fully qualified domain name for the certificate, such as www.example.com or example.com.</p>\n@return The fully qualified domain name for the certificate, such as www.example.com or example.com.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DomainName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DomainName",
        "setterDocumentation" : "/**<p>The fully qualified domain name for the certificate, such as www.example.com or example.com.</p>\n@param domainName The fully qualified domain name for the certificate, such as www.example.com or example.com.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The fully qualified domain name for the certificate, such as www.example.com or example.com.</p>\n@param domainName The fully qualified domain name for the certificate, such as www.example.com or example.com.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "<p>The fully qualified domain name for the certificate, such as www.example.com or example.com.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SubjectAlternativeNames",
        "c2jShape" : "DomainList",
        "deprecated" : false,
        "documentation" : "<p>One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website.</p>\n@param subjectAlternativeNames One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website.</p>\n@return One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website.*/",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SubjectAlternativeNames",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubjectAlternativeNames",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "DomainNameString",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "SubjectAlternativeNames",
        "setterDocumentation" : "/**<p>One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website.</p>\n@param subjectAlternativeNames One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "subjectAlternativeNames",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSubjectAlternativeNames(java.util.Collection)} or {@link #withSubjectAlternativeNames(java.util.Collection)} if you want to override the existing values.</p>\n@param subjectAlternativeNames One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "subjectAlternativeNames",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DomainValidationOptions",
        "c2jShape" : "DomainValidationList",
        "deprecated" : false,
        "documentation" : "<p>Contains information about the email address or addresses used for domain validation. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Contains information about the email address or addresses used for domain validation. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>\n@param domainValidationOptions Contains information about the email address or addresses used for domain validation. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Contains information about the email address or addresses used for domain validation. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>\n@return Contains information about the email address or addresses used for domain validation. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.*/",
        "getterModel" : {
          "returnType" : "java.util.List<DomainValidation>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DomainValidationOptions",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainValidationOptions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "DomainValidation",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "DomainValidation",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "DomainValidation",
              "variableName" : "member",
              "variableType" : "DomainValidation",
              "documentation" : "",
              "simpleType" : "DomainValidation",
              "variableSetterType" : "DomainValidation"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "DomainValidation",
              "variableName" : "member",
              "variableType" : "DomainValidation",
              "documentation" : "",
              "simpleType" : "DomainValidation",
              "variableSetterType" : "DomainValidation"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "DomainValidation",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "DomainValidation",
          "templateImplType" : "java.util.ArrayList<DomainValidation>",
          "templateType" : "java.util.List<DomainValidation>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "DomainValidationOptions",
        "setterDocumentation" : "/**<p>Contains information about the email address or addresses used for domain validation. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>\n@param domainValidationOptions Contains information about the email address or addresses used for domain validation. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<DomainValidation>",
          "variableName" : "domainValidationOptions",
          "variableType" : "java.util.List<DomainValidation>",
          "documentation" : "",
          "simpleType" : "List<DomainValidation>",
          "variableSetterType" : "java.util.Collection<DomainValidation>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>Contains information about the email address or addresses used for domain validation. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setDomainValidationOptions(java.util.Collection)} or {@link #withDomainValidationOptions(java.util.Collection)} if you want to override the existing values.</p>\n@param domainValidationOptions Contains information about the email address or addresses used for domain validation. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<DomainValidation>",
          "variableName" : "domainValidationOptions",
          "variableType" : "java.util.List<DomainValidation>",
          "documentation" : "<p>Contains information about the email address or addresses used for domain validation. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>",
          "simpleType" : "List<DomainValidation>",
          "variableSetterType" : "java.util.Collection<DomainValidation>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Serial",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The serial number of the certificate.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The serial number of the certificate.</p>\n@param serial The serial number of the certificate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The serial number of the certificate.</p>\n@return The serial number of the certificate.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Serial",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Serial",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Serial",
        "setterDocumentation" : "/**<p>The serial number of the certificate.</p>\n@param serial The serial number of the certificate.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "serial",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The serial number of the certificate.</p>\n@param serial The serial number of the certificate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "serial",
          "variableType" : "String",
          "documentation" : "<p>The serial number of the certificate.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Subject",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the entity that is associated with the public key contained in the certificate.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the entity that is associated with the public key contained in the certificate.</p>\n@param subject The name of the entity that is associated with the public key contained in the certificate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the entity that is associated with the public key contained in the certificate.</p>\n@return The name of the entity that is associated with the public key contained in the certificate.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Subject",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Subject",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Subject",
        "setterDocumentation" : "/**<p>The name of the entity that is associated with the public key contained in the certificate.</p>\n@param subject The name of the entity that is associated with the public key contained in the certificate.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "subject",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the entity that is associated with the public key contained in the certificate.</p>\n@param subject The name of the entity that is associated with the public key contained in the certificate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "subject",
          "variableType" : "String",
          "documentation" : "<p>The name of the entity that is associated with the public key contained in the certificate.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Issuer",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the certificate authority that issued and signed the certificate.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the certificate authority that issued and signed the certificate.</p>\n@param issuer The name of the certificate authority that issued and signed the certificate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the certificate authority that issued and signed the certificate.</p>\n@return The name of the certificate authority that issued and signed the certificate.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Issuer",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Issuer",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Issuer",
        "setterDocumentation" : "/**<p>The name of the certificate authority that issued and signed the certificate.</p>\n@param issuer The name of the certificate authority that issued and signed the certificate.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "issuer",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the certificate authority that issued and signed the certificate.</p>\n@param issuer The name of the certificate authority that issued and signed the certificate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "issuer",
          "variableType" : "String",
          "documentation" : "<p>The name of the certificate authority that issued and signed the certificate.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedAt",
        "c2jShape" : "TStamp",
        "deprecated" : false,
        "documentation" : "<p>The time at which the certificate was requested. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time at which the certificate was requested. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>\n@param createdAt The time at which the certificate was requested. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The time at which the certificate was requested. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>\n@return The time at which the certificate was requested. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "CreatedAt",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "CreatedAt",
        "setterDocumentation" : "/**<p>The time at which the certificate was requested. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>\n@param createdAt The time at which the certificate was requested. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The time at which the certificate was requested. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>\n@param createdAt The time at which the certificate was requested. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time at which the certificate was requested. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IssuedAt",
        "c2jShape" : "TStamp",
        "deprecated" : false,
        "documentation" : "<p>The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>\n@param issuedAt The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>\n@return The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "IssuedAt",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IssuedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "IssuedAt",
        "setterDocumentation" : "/**<p>The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>\n@param issuedAt The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "issuedAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>\n@param issuedAt The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "issuedAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ImportedAt",
        "c2jShape" : "TStamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time at which the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time at which the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>.</p>\n@param importedAt The date and time at which the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The date and time at which the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>.</p>\n@return The date and time at which the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ImportedAt",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ImportedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ImportedAt",
        "setterDocumentation" : "/**<p>The date and time at which the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>.</p>\n@param importedAt The date and time at which the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "importedAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The date and time at which the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>.</p>\n@param importedAt The date and time at which the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "importedAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time at which the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "CertificateStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the certificate.</p>",
        "enumType" : "CertificateStatus",
        "fluentSetterDocumentation" : "/**<p>The status of the certificate.</p>\n@param status The status of the certificate.\n@return Returns a reference to this object so that method calls can be chained together.\n@see CertificateStatus*/",
        "getterDocumentation" : "/**<p>The status of the certificate.</p>\n@return The status of the certificate.\n@see CertificateStatus*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Status",
        "setterDocumentation" : "/**<p>The status of the certificate.</p>\n@param status The status of the certificate.\n@see CertificateStatus*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The status of the certificate.</p>\n@param status The status of the certificate.\n@return Returns a reference to this object so that method calls can be chained together.\n@see CertificateStatus*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The status of the certificate.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RevokedAt",
        "c2jShape" : "TStamp",
        "deprecated" : false,
        "documentation" : "<p>The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>.</p>\n@param revokedAt The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>.</p>\n@return The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "RevokedAt",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RevokedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "RevokedAt",
        "setterDocumentation" : "/**<p>The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>.</p>\n@param revokedAt The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "revokedAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
[...]
