{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-08-22",
    "asyncClient" : "AWSACMPCAAsyncClient",
    "asyncClientBuilderClassName" : "AWSACMPCAAsyncClientBuilder",
    "asyncInterface" : "AWSACMPCAAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSACMPCAModuleInjector",
    "defaultEndpoint" : "acm-pca.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "acm-pca.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>You can use the ACM PCA API to create a private certificate authority (CA). You must first call the <a>CreateCertificateAuthority</a> operation. If successful, the operation returns an Amazon Resource Name (ARN) for your private CA. Use this ARN as input to the <a>GetCertificateAuthorityCsr</a> operation to retrieve the certificate signing request (CSR) for your private CA certificate. Sign the CSR using the root or an intermediate CA in your on-premises PKI hierarchy, and call the <a>ImportCertificateAuthorityCertificate</a> to import your signed private CA certificate into ACM PCA. </p> <p>Use your private CA to issue and revoke certificates. These are private certificates that identify and secure client computers, servers, applications, services, devices, and users over SSLS/TLS connections within your organization. Call the <a>IssueCertificate</a> operation to issue a certificate. Call the <a>RevokeCertificate</a> operation to revoke a certificate. </p> <note> <p>Certificates issued by your private CA can be trusted only within your organization, not publicly.</p> </note> <p>Your private CA can optionally create a certificate revocation list (CRL) to track the certificates you revoke. To create a CRL, you must specify a <a>RevocationConfiguration</a> object when you call the <a>CreateCertificateAuthority</a> operation. ACM PCA writes the CRL to an S3 bucket that you specify. You must specify a bucket policy that grants ACM PCA write permission. </p> <p>You can also call the <a>CreateCertificateAuthorityAuditReport</a> to create an optional audit report, which enumerates all of the issued, valid, expired, and revoked certificates from the CA.</p> <note> <p>Each ACM PCA API operation has a throttling limit which determines the number of times the operation can be called per second. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaLimits.html#PcaLimits-api\">API Rate Limits in ACM PCA</a> in the ACM PCA user guide.</p> </note>",
    "endpointPrefix" : "acm-pca",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.acmpca",
    "packagePath" : "com/amazonaws/services/acmpca",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "ACM-PCA",
    "serviceFullName" : "AWS Certificate Manager Private Certificate Authority",
    "serviceId" : "ACM PCA",
    "serviceName" : "ACM-PCA",
    "signingName" : "acm-pca",
    "smokeTestsPackageName" : "com.amazonaws.services.acmpca.smoketests",
    "syncClient" : "AWSACMPCAClient",
    "syncClientBuilderClassName" : "AWSACMPCAClientBuilder",
    "syncInterface" : "AWSACMPCA",
    "uid" : "acm-pca-2017-08-22",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateCertificateAuthority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCertificateAuthorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCertificateAuthorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCertificateAuthorityRequest, CreateCertificateAuthorityResult>",
      "asyncReturnType" : "CreateCertificateAuthorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a private subordinate certificate authority (CA). You must specify the CA configuration, the revocation configuration, the CA type, and an optional idempotency token. The CA configuration specifies the name of the algorithm and key size to be used to create the CA private key, the type of signing algorithm that the CA uses to sign, and X.500 subject information. The CRL (certificate revocation list) configuration specifies the CRL expiration period in days (the validity period of the CRL), the Amazon S3 bucket that will contain the CRL, and a CNAME alias for the S3 bucket that is included in certificates issued by the CA. If successful, this operation returns the Amazon Resource Name (ARN) of the CA.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgsException",
        "documentation" : "<p>One or more of the specified arguments was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPolicyException",
        "documentation" : "<p>The S3 bucket policy is not valid. The policy must give ACM PCA rights to read from and write to the bucket and find the bucket location.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The tag associated with the CA is not valid. The invalid argument is contained in the message field.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An ACM PCA limit has been exceeded. See the exception message returned to determine the limit that was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCertificateAuthorityRequest",
        "variableName" : "createCertificateAuthorityRequest",
        "variableType" : "CreateCertificateAuthorityRequest",
        "documentation" : "",
        "simpleType" : "CreateCertificateAuthorityRequest",
        "variableSetterType" : "CreateCertificateAuthorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCertificateAuthority",
      "operationName" : "CreateCertificateAuthority",
      "returnType" : {
        "returnType" : "CreateCertificateAuthorityResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCertificateAuthorityResult"
    },
    "CreateCertificateAuthorityAuditReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCertificateAuthorityAuditReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCertificateAuthorityAuditReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCertificateAuthorityAuditReportRequest, CreateCertificateAuthorityAuditReportResult>",
      "asyncReturnType" : "CreateCertificateAuthorityAuditReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an audit report that lists every time that your CA private key is used. The report is saved in the Amazon S3 bucket that you specify on input. The <a>IssueCertificate</a> and <a>RevokeCertificate</a> operations use the private key. You can generate a new report every 30 minutes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "RequestInProgressException",
        "documentation" : "<p>Your request is already in progress.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestFailedException",
        "documentation" : "<p>The request has failed for an unspecified reason.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgsException",
        "documentation" : "<p>One or more of the specified arguments was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCertificateAuthorityAuditReportRequest",
        "variableName" : "createCertificateAuthorityAuditReportRequest",
        "variableType" : "CreateCertificateAuthorityAuditReportRequest",
        "documentation" : "",
        "simpleType" : "CreateCertificateAuthorityAuditReportRequest",
        "variableSetterType" : "CreateCertificateAuthorityAuditReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCertificateAuthorityAuditReport",
      "operationName" : "CreateCertificateAuthorityAuditReport",
      "returnType" : {
        "returnType" : "CreateCertificateAuthorityAuditReportResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCertificateAuthorityAuditReportResult"
    },
    "CreatePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePermissionRequest, CreatePermissionResult>",
      "asyncReturnType" : "CreatePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns permissions from a private CA to a designated AWS service. Services are specified by their service principals and can be given permission to create and retrieve certificates on a private CA. Services can also be given permission to list the active permissions that the private CA has granted. For ACM to automatically renew your private CA's certificates, you must assign all possible permissions from the CA to the ACM service principal.</p> <p>At this time, you can only assign permissions to ACM (<code>acm.amazonaws.com</code>). Permissions can be revoked with the <a>DeletePermission</a> operation and listed with the <a>ListPermissions</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PermissionAlreadyExistsException",
        "documentation" : "<p>The designated permission has already been given to the user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An ACM PCA limit has been exceeded. See the exception message returned to determine the limit that was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestFailedException",
        "documentation" : "<p>The request has failed for an unspecified reason.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePermissionRequest",
        "variableName" : "createPermissionRequest",
        "variableType" : "CreatePermissionRequest",
        "documentation" : "",
        "simpleType" : "CreatePermissionRequest",
        "variableSetterType" : "CreatePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPermission",
      "operationName" : "CreatePermission",
      "returnType" : {
        "returnType" : "CreatePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePermissionResult"
    },
    "DeleteCertificateAuthority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCertificateAuthorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCertificateAuthorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCertificateAuthorityRequest, DeleteCertificateAuthorityResult>",
      "asyncReturnType" : "DeleteCertificateAuthorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a private certificate authority (CA). You must provide the ARN (Amazon Resource Name) of the private CA that you want to delete. You can find the ARN by calling the <a>ListCertificateAuthorities</a> operation. Before you can delete a CA, you must disable it. Call the <a>UpdateCertificateAuthority</a> operation and set the <b>CertificateAuthorityStatus</b> parameter to <code>DISABLED</code>. </p> <p>Additionally, you can delete a CA if you are waiting for it to be created (the <b>Status</b> field of the <a>CertificateAuthority</a> is <code>CREATING</code>). You can also delete it if the CA has been created but you haven't yet imported the signed certificate (the <b>Status</b> is <code>PENDING_CERTIFICATE</code>) into ACM PCA. </p> <p>If the CA is in one of the previously mentioned states and you call <a>DeleteCertificateAuthority</a>, the CA's status changes to <code>DELETED</code>. However, the CA won't be permanently deleted until the restoration period has passed. By default, if you do not set the <code>PermanentDeletionTimeInDays</code> parameter, the CA remains restorable for 30 days. You can set the parameter from 7 to 30 days. The <a>DescribeCertificateAuthority</a> operation returns the time remaining in the restoration window of a Private CA in the <code>DELETED</code> state. To restore an eligible CA, call the <a>RestoreCertificateAuthority</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>A previous update to your private CA is still ongoing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCertificateAuthorityRequest",
        "variableName" : "deleteCertificateAuthorityRequest",
        "variableType" : "DeleteCertificateAuthorityRequest",
        "documentation" : "",
        "simpleType" : "DeleteCertificateAuthorityRequest",
        "variableSetterType" : "DeleteCertificateAuthorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCertificateAuthority",
      "operationName" : "DeleteCertificateAuthority",
      "returnType" : {
        "returnType" : "DeleteCertificateAuthorityResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCertificateAuthorityResult"
    },
    "DeletePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePermissionRequest, DeletePermissionResult>",
      "asyncReturnType" : "DeletePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Revokes permissions that a private CA assigned to a designated AWS service. Permissions can be created with the <a>CreatePermission</a> operation and listed with the <a>ListPermissions</a> operation. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestFailedException",
        "documentation" : "<p>The request has failed for an unspecified reason.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePermissionRequest",
        "variableName" : "deletePermissionRequest",
        "variableType" : "DeletePermissionRequest",
        "documentation" : "",
        "simpleType" : "DeletePermissionRequest",
        "variableSetterType" : "DeletePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePermission",
      "operationName" : "DeletePermission",
      "returnType" : {
        "returnType" : "DeletePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePermissionResult"
    },
    "DescribeCertificateAuthority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCertificateAuthorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCertificateAuthorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCertificateAuthorityRequest, DescribeCertificateAuthorityResult>",
      "asyncReturnType" : "DescribeCertificateAuthorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about your private certificate authority (CA). You specify the private CA on input by its ARN (Amazon Resource Name). The output contains the status of your CA. This can be any of the following: </p> <ul> <li> <p> <code>CREATING</code> - ACM PCA is creating your private certificate authority.</p> </li> <li> <p> <code>PENDING_CERTIFICATE</code> - The certificate is pending. You must use your on-premises root or subordinate CA to sign your private CA CSR and then import it into PCA. </p> </li> <li> <p> <code>ACTIVE</code> - Your private CA is active.</p> </li> <li> <p> <code>DISABLED</code> - Your private CA has been disabled.</p> </li> <li> <p> <code>EXPIRED</code> - Your private CA certificate has expired.</p> </li> <li> <p> <code>FAILED</code> - Your private CA has failed. Your CA can fail because of problems such a network outage or backend AWS failure or other errors. A failed CA can never return to the pending state. You must create a new CA. </p> </li> <li> <p> <code>DELETED</code> - Your private CA is within the restoration period, after which it is permanently deleted. The length of time remaining in the CA's restoration period is also included in this operation's output.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCertificateAuthorityRequest",
        "variableName" : "describeCertificateAuthorityRequest",
        "variableType" : "DescribeCertificateAuthorityRequest",
        "documentation" : "",
        "simpleType" : "DescribeCertificateAuthorityRequest",
        "variableSetterType" : "DescribeCertificateAuthorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCertificateAuthority",
      "operationName" : "DescribeCertificateAuthority",
      "returnType" : {
        "returnType" : "DescribeCertificateAuthorityResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCertificateAuthorityResult"
    },
    "DescribeCertificateAuthorityAuditReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCertificateAuthorityAuditReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCertificateAuthorityAuditReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCertificateAuthorityAuditReportRequest, DescribeCertificateAuthorityAuditReportResult>",
      "asyncReturnType" : "DescribeCertificateAuthorityAuditReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about a specific audit report created by calling the <a>CreateCertificateAuthorityAuditReport</a> operation. Audit information is created every time the certificate authority (CA) private key is used. The private key is used when you call the <a>IssueCertificate</a> operation or the <a>RevokeCertificate</a> operation. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgsException",
        "documentation" : "<p>One or more of the specified arguments was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCertificateAuthorityAuditReportRequest",
        "variableName" : "describeCertificateAuthorityAuditReportRequest",
        "variableType" : "DescribeCertificateAuthorityAuditReportRequest",
        "documentation" : "",
        "simpleType" : "DescribeCertificateAuthorityAuditReportRequest",
        "variableSetterType" : "DescribeCertificateAuthorityAuditReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCertificateAuthorityAuditReport",
      "operationName" : "DescribeCertificateAuthorityAuditReport",
      "returnType" : {
        "returnType" : "DescribeCertificateAuthorityAuditReportResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCertificateAuthorityAuditReportResult"
    },
    "GetCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCertificateRequest, GetCertificateResult>",
      "asyncReturnType" : "GetCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a certificate from your private CA. The ARN of the certificate is returned when you call the <a>IssueCertificate</a> operation. You must specify both the ARN of your private CA and the ARN of the issued certificate when calling the <b>GetCertificate</b> operation. You can retrieve the certificate if it is in the <b>ISSUED</b> state. You can call the <a>CreateCertificateAuthorityAuditReport</a> operation to create a report that contains information about all of the certificates issued and revoked by your private CA. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "RequestInProgressException",
        "documentation" : "<p>Your request is already in progress.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestFailedException",
        "documentation" : "<p>The request has failed for an unspecified reason.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCertificateRequest",
        "variableName" : "getCertificateRequest",
        "variableType" : "GetCertificateRequest",
        "documentation" : "",
        "simpleType" : "GetCertificateRequest",
        "variableSetterType" : "GetCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCertificate",
      "operationName" : "GetCertificate",
      "returnType" : {
        "returnType" : "GetCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCertificateResult"
    },
    "GetCertificateAuthorityCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCertificateAuthorityCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCertificateAuthorityCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCertificateAuthorityCertificateRequest, GetCertificateAuthorityCertificateResult>",
      "asyncReturnType" : "GetCertificateAuthorityCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the certificate and certificate chain for your private certificate authority (CA). Both the certificate and the chain are base64 PEM-encoded. The chain does not include the CA certificate. Each certificate in the chain signs the one before it. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCertificateAuthorityCertificateRequest",
        "variableName" : "getCertificateAuthorityCertificateRequest",
        "variableType" : "GetCertificateAuthorityCertificateRequest",
        "documentation" : "",
        "simpleType" : "GetCertificateAuthorityCertificateRequest",
        "variableSetterType" : "GetCertificateAuthorityCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCertificateAuthorityCertificate",
      "operationName" : "GetCertificateAuthorityCertificate",
      "returnType" : {
        "returnType" : "GetCertificateAuthorityCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCertificateAuthorityCertificateResult"
    },
    "GetCertificateAuthorityCsr" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCertificateAuthorityCsrResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCertificateAuthorityCsrResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCertificateAuthorityCsrRequest, GetCertificateAuthorityCsrResult>",
      "asyncReturnType" : "GetCertificateAuthorityCsrResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the certificate signing request (CSR) for your private certificate authority (CA). The CSR is created when you call the <a>CreateCertificateAuthority</a> operation. Take the CSR to your on-premises X.509 infrastructure and sign it by using your root or a subordinate CA. Then import the signed certificate back into ACM PCA by calling the <a>ImportCertificateAuthorityCertificate</a> operation. The CSR is returned as a base64 PEM-encoded string. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "RequestInProgressException",
        "documentation" : "<p>Your request is already in progress.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestFailedException",
        "documentation" : "<p>The request has failed for an unspecified reason.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCertificateAuthorityCsrRequest",
        "variableName" : "getCertificateAuthorityCsrRequest",
        "variableType" : "GetCertificateAuthorityCsrRequest",
        "documentation" : "",
        "simpleType" : "GetCertificateAuthorityCsrRequest",
        "variableSetterType" : "GetCertificateAuthorityCsrRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCertificateAuthorityCsr",
      "operationName" : "GetCertificateAuthorityCsr",
      "returnType" : {
        "returnType" : "GetCertificateAuthorityCsrResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCertificateAuthorityCsrResult"
    },
    "ImportCertificateAuthorityCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportCertificateAuthorityCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportCertificateAuthorityCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportCertificateAuthorityCertificateRequest, ImportCertificateAuthorityCertificateResult>",
      "asyncReturnType" : "ImportCertificateAuthorityCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports your signed private CA certificate into ACM PCA. Before you can call this operation, you must create the private certificate authority by calling the <a>CreateCertificateAuthority</a> operation. You must then generate a certificate signing request (CSR) by calling the <a>GetCertificateAuthorityCsr</a> operation. Take the CSR to your on-premises CA and use the root certificate or a subordinate certificate to sign it. Create a certificate chain and copy the signed certificate and the certificate chain to your working directory. </p> <note> <p>Your certificate chain must not include the private CA certificate that you are importing.</p> </note> <note> <p>Your on-premises CA certificate must be the last certificate in your chain. The subordinate certificate, if any, that your root CA signed must be next to last. The subordinate certificate signed by the preceding subordinate CA must come next, and so on until your chain is built. </p> </note> <note> <p>The chain must be PEM-encoded.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>A previous update to your private CA is still ongoing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestInProgressException",
        "documentation" : "<p>Your request is already in progress.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestFailedException",
        "documentation" : "<p>The request has failed for an unspecified reason.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MalformedCertificateException",
        "documentation" : "<p>One or more fields in the certificate are invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CertificateMismatchException",
        "documentation" : "<p>The certificate authority certificate you are importing does not comply with conditions specified in the certificate that signed it.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportCertificateAuthorityCertificateRequest",
        "variableName" : "importCertificateAuthorityCertificateRequest",
        "variableType" : "ImportCertificateAuthorityCertificateRequest",
        "documentation" : "",
        "simpleType" : "ImportCertificateAuthorityCertificateRequest",
        "variableSetterType" : "ImportCertificateAuthorityCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importCertificateAuthorityCertificate",
      "operationName" : "ImportCertificateAuthorityCertificate",
      "returnType" : {
        "returnType" : "ImportCertificateAuthorityCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportCertificateAuthorityCertificateResult"
    },
    "IssueCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<IssueCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<IssueCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<IssueCertificateRequest, IssueCertificateResult>",
      "asyncReturnType" : "IssueCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uses your private certificate authority (CA) to issue a client certificate. This operation returns the Amazon Resource Name (ARN) of the certificate. You can retrieve the certificate by calling the <a>GetCertificate</a> operation and specifying the ARN. </p> <note> <p>You cannot use the ACM <b>ListCertificateAuthorities</b> operation to retrieve the ARNs of the certificates that you issue by using ACM PCA.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An ACM PCA limit has been exceeded. See the exception message returned to determine the limit that was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgsException",
        "documentation" : "<p>One or more of the specified arguments was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MalformedCSRException",
        "documentation" : "<p>The certificate signing request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "IssueCertificateRequest",
        "variableName" : "issueCertificateRequest",
        "variableType" : "IssueCertificateRequest",
        "documentation" : "",
        "simpleType" : "IssueCertificateRequest",
        "variableSetterType" : "IssueCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "issueCertificate",
      "operationName" : "IssueCertificate",
      "returnType" : {
        "returnType" : "IssueCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "IssueCertificateResult"
    },
    "ListCertificateAuthorities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCertificateAuthoritiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCertificateAuthoritiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCertificateAuthoritiesRequest, ListCertificateAuthoritiesResult>",
      "asyncReturnType" : "ListCertificateAuthoritiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the private certificate authorities that you created by using the <a>CreateCertificateAuthority</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token specified in the <code>NextToken</code> argument is not valid. Use the token returned from your previous call to <a>ListCertificateAuthorities</a>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCertificateAuthoritiesRequest",
        "variableName" : "listCertificateAuthoritiesRequest",
        "variableType" : "ListCertificateAuthoritiesRequest",
        "documentation" : "",
        "simpleType" : "ListCertificateAuthoritiesRequest",
        "variableSetterType" : "ListCertificateAuthoritiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCertificateAuthorities",
      "operationName" : "ListCertificateAuthorities",
      "returnType" : {
        "returnType" : "ListCertificateAuthoritiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCertificateAuthoritiesResult"
    },
    "ListPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionsRequest, ListPermissionsResult>",
      "asyncReturnType" : "ListPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the permissions, if any, that have been assigned by a private CA. Permissions can be granted with the <a>CreatePermission</a> operation and revoked with the <a>DeletePermission</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token specified in the <code>NextToken</code> argument is not valid. Use the token returned from your previous call to <a>ListCertificateAuthorities</a>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestFailedException",
        "documentation" : "<p>The request has failed for an unspecified reason.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionsRequest",
        "variableName" : "listPermissionsRequest",
        "variableType" : "ListPermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionsRequest",
        "variableSetterType" : "ListPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissions",
      "operationName" : "ListPermissions",
      "returnType" : {
        "returnType" : "ListPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionsResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags, if any, that are associated with your private CA. Tags are labels that you can use to identify and organize your CAs. Each tag consists of a key and an optional value. Call the <a>TagCertificateAuthority</a> operation to add one or more tags to your CA. Call the <a>UntagCertificateAuthority</a> operation to remove tags. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsResult"
    },
    "RestoreCertificateAuthority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RestoreCertificateAuthorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RestoreCertificateAuthorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestoreCertificateAuthorityRequest, RestoreCertificateAuthorityResult>",
      "asyncReturnType" : "RestoreCertificateAuthorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Restores a certificate authority (CA) that is in the <code>DELETED</code> state. You can restore a CA during the period that you defined in the <b>PermanentDeletionTimeInDays</b> parameter of the <a>DeleteCertificateAuthority</a> operation. Currently, you can specify 7 to 30 days. If you did not specify a <b>PermanentDeletionTimeInDays</b> value, by default you can restore the CA at any time in a 30 day period. You can check the time remaining in the restoration period of a private CA in the <code>DELETED</code> state by calling the <a>DescribeCertificateAuthority</a> or <a>ListCertificateAuthorities</a> operations. The status of a restored CA is set to its pre-deletion status when the <b>RestoreCertificateAuthority</b> operation returns. To change its status to <code>ACTIVE</code>, call the <a>UpdateCertificateAuthority</a> operation. If the private CA was in the <code>PENDING_CERTIFICATE</code> state at deletion, you must use the <a>ImportCertificateAuthorityCertificate</a> operation to import a certificate authority into the private CA before it can be activated. You cannot restore a CA after the restoration period has ended.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RestoreCertificateAuthorityRequest",
        "variableName" : "restoreCertificateAuthorityRequest",
        "variableType" : "RestoreCertificateAuthorityRequest",
        "documentation" : "",
        "simpleType" : "RestoreCertificateAuthorityRequest",
        "variableSetterType" : "RestoreCertificateAuthorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "restoreCertificateAuthority",
      "operationName" : "RestoreCertificateAuthority",
      "returnType" : {
        "returnType" : "RestoreCertificateAuthorityResult",
        "documentation" : null
      },
      "syncReturnType" : "RestoreCertificateAuthorityResult"
    },
    "RevokeCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RevokeCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RevokeCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokeCertificateRequest, RevokeCertificateResult>",
      "asyncReturnType" : "RevokeCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Revokes a certificate that you issued by calling the <a>IssueCertificate</a> operation. If you enable a certificate revocation list (CRL) when you create or update your private CA, information about the revoked certificates will be included in the CRL. ACM PCA writes the CRL to an S3 bucket that you specify. For more information about revocation, see the <a>CrlConfiguration</a> structure. ACM PCA also writes revocation information to the audit report. For more information, see <a>CreateCertificateAuthorityAuditReport</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>A previous update to your private CA is still ongoing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An ACM PCA limit has been exceeded. See the exception message returned to determine the limit that was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestAlreadyProcessedException",
        "documentation" : "<p>Your request has already been completed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestInProgressException",
        "documentation" : "<p>Your request is already in progress.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestFailedException",
        "documentation" : "<p>The request has failed for an unspecified reason.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RevokeCertificateRequest",
        "variableName" : "revokeCertificateRequest",
        "variableType" : "RevokeCertificateRequest",
        "documentation" : "",
        "simpleType" : "RevokeCertificateRequest",
        "variableSetterType" : "RevokeCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "revokeCertificate",
      "operationName" : "RevokeCertificate",
      "returnType" : {
        "returnType" : "RevokeCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "RevokeCertificateResult"
    },
    "TagCertificateAuthority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagCertificateAuthorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagCertificateAuthorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagCertificateAuthorityRequest, TagCertificateAuthorityResult>",
      "asyncReturnType" : "TagCertificateAuthorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to your private CA. Tags are labels that you can use to identify and organize your AWS resources. Each tag consists of a key and an optional value. You specify the private CA on input by its Amazon Resource Name (ARN). You specify the tag by using a key-value pair. You can apply a tag to just one private CA if you want to identify a specific characteristic of that CA, or you can apply the same tag to multiple private CAs if you want to filter for a common relationship among those CAs. To remove one or more tags, use the <a>UntagCertificateAuthority</a> operation. Call the <a>ListTags</a> operation to see what tags are associated with your CA. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The tag associated with the CA is not valid. The invalid argument is contained in the message field.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>You can associate up to 50 tags with a private CA. Exception information is contained in the exception message field.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagCertificateAuthorityRequest",
        "variableName" : "tagCertificateAuthorityRequest",
        "variableType" : "TagCertificateAuthorityRequest",
        "documentation" : "",
        "simpleType" : "TagCertificateAuthorityRequest",
        "variableSetterType" : "TagCertificateAuthorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagCertificateAuthority",
      "operationName" : "TagCertificateAuthority",
      "returnType" : {
        "returnType" : "TagCertificateAuthorityResult",
        "documentation" : null
      },
      "syncReturnType" : "TagCertificateAuthorityResult"
    },
    "UntagCertificateAuthority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagCertificateAuthorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagCertificateAuthorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagCertificateAuthorityRequest, UntagCertificateAuthorityResult>",
      "asyncReturnType" : "UntagCertificateAuthorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove one or more tags from your private CA. A tag consists of a key-value pair. If you do not specify the value portion of the tag when calling this operation, the tag will be removed regardless of value. If you specify a value, the tag is removed only if it is associated with the specified value. To add tags to a private CA, use the <a>TagCertificateAuthority</a>. Call the <a>ListTags</a> operation to see what tags are associated with your CA. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The tag associated with the CA is not valid. The invalid argument is contained in the message field.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagCertificateAuthorityRequest",
        "variableName" : "untagCertificateAuthorityRequest",
        "variableType" : "UntagCertificateAuthorityRequest",
        "documentation" : "",
        "simpleType" : "UntagCertificateAuthorityRequest",
        "variableSetterType" : "UntagCertificateAuthorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagCertificateAuthority",
      "operationName" : "UntagCertificateAuthority",
      "returnType" : {
        "returnType" : "UntagCertificateAuthorityResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagCertificateAuthorityResult"
    },
    "UpdateCertificateAuthority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCertificateAuthorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCertificateAuthorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCertificateAuthorityRequest, UpdateCertificateAuthorityResult>",
      "asyncReturnType" : "UpdateCertificateAuthorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the status or configuration of a private certificate authority (CA). Your private CA must be in the <code>ACTIVE</code> or <code>DISABLED</code> state before you can update it. You can disable a private CA that is in the <code>ACTIVE</code> state or make a CA that is in the <code>DISABLED</code> state active again.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>A previous update to your private CA is still ongoing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgsException",
        "documentation" : "<p>One or more of the specified arguments was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The private CA is in a state during which a report or certificate cannot be generated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPolicyException",
        "documentation" : "<p>The S3 bucket policy is not valid. The policy must give ACM PCA rights to read from and write to the bucket and find the bucket location.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCertificateAuthorityRequest",
        "variableName" : "updateCertificateAuthorityRequest",
        "variableType" : "UpdateCertificateAuthorityRequest",
        "documentation" : "",
        "simpleType" : "UpdateCertificateAuthorityRequest",
        "variableSetterType" : "UpdateCertificateAuthorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCertificateAuthority",
      "operationName" : "UpdateCertificateAuthority",
      "returnType" : {
        "returnType" : "UpdateCertificateAuthorityResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateCertificateAuthorityResult"
    }
  },
  "shapes" : {
    "ASN1Subject" : {
      "c2jName" : "ASN1Subject",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains information about the certificate subject. The certificate can be one issued by your private certificate authority (CA) or it can be your private CA certificate. The <b>Subject</b> field in the certificate identifies the entity that owns or controls the public key in the certificate. The entity can be a user, computer, device, or service. The <b>Subject</b> must contain an X.500 distinguished name (DN). A DN is a sequence of relative distinguished names (RDNs). The RDNs are separated by commas in the certificate. The DN must be unique for each entity, but your private CA can issue more than one certificate with the same DN to the same entity. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Country",
        "c2jShape" : "CountryCodeString",
        "deprecated" : false,
        "documentation" : "<p>Two-digit code that specifies the country in which the certificate subject located.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Two-digit code that specifies the country in which the certificate subject located.</p>\n@param country Two-digit code that specifies the country in which the certificate subject located.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCountry",
        "getterDocumentation" : "/**<p>Two-digit code that specifies the country in which the certificate subject located.</p>\n@return Two-digit code that specifies the country in which the certificate subject located.*/",
        "getterMethodName" : "getCountry",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Country",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Country",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Country",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Two-digit code that specifies the country in which the certificate subject located.</p>\n@param country Two-digit code that specifies the country in which the certificate subject located.*/",
        "setterMethodName" : "setCountry",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "country",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Two-digit code that specifies the country in which the certificate subject located.</p>\n@param country Two-digit code that specifies the country in which the certificate subject located.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "country",
          "variableType" : "String",
          "documentation" : "<p>Two-digit code that specifies the country in which the certificate subject located.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Organization",
        "c2jShape" : "String64",
        "deprecated" : false,
        "documentation" : "<p>Legal name of the organization with which the certificate subject is affiliated. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Legal name of the organization with which the certificate subject is affiliated. </p>\n@param organization Legal name of the organization with which the certificate subject is affiliated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOrganization",
        "getterDocumentation" : "/**<p>Legal name of the organization with which the certificate subject is affiliated. </p>\n@return Legal name of the organization with which the certificate subject is affiliated.*/",
        "getterMethodName" : "getOrganization",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Organization",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Organization",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Organization",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Legal name of the organization with which the certificate subject is affiliated. </p>\n@param organization Legal name of the organization with which the certificate subject is affiliated.*/",
        "setterMethodName" : "setOrganization",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "organization",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Legal name of the organization with which the certificate subject is affiliated. </p>\n@param organization Legal name of the organization with which the certificate subject is affiliated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "organization",
          "variableType" : "String",
          "documentation" : "<p>Legal name of the organization with which the certificate subject is affiliated. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OrganizationalUnit",
        "c2jShape" : "String64",
        "deprecated" : false,
        "documentation" : "<p>A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated.</p>\n@param organizationalUnit A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOrganizationalUnit",
        "getterDocumentation" : "/**<p>A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated.</p>\n@return A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated.*/",
        "getterMethodName" : "getOrganizationalUnit",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "OrganizationalUnit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OrganizationalUnit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OrganizationalUnit",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated.</p>\n@param organizationalUnit A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated.*/",
        "setterMethodName" : "setOrganizationalUnit",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "organizationalUnit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated.</p>\n@param organizationalUnit A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "organizationalUnit",
          "variableType" : "String",
          "documentation" : "<p>A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DistinguishedNameQualifier",
        "c2jShape" : "DistinguishedNameQualifierString",
        "deprecated" : false,
        "documentation" : "<p>Disambiguating information for the certificate subject.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Disambiguating information for the certificate subject.</p>\n@param distinguishedNameQualifier Disambiguating information for the certificate subject.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDistinguishedNameQualifier",
        "getterDocumentation" : "/**<p>Disambiguating information for the certificate subject.</p>\n@return Disambiguating information for the certificate subject.*/",
        "getterMethodName" : "getDistinguishedNameQualifier",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DistinguishedNameQualifier",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DistinguishedNameQualifier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DistinguishedNameQualifier",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Disambiguating information for the certificate subject.</p>\n@param distinguishedNameQualifier Disambiguating information for the certificate subject.*/",
        "setterMethodName" : "setDistinguishedNameQualifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "distinguishedNameQualifier",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Disambiguating information for the certificate subject.</p>\n@param distinguishedNameQualifier Disambiguating information for the certificate subject.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "distinguishedNameQualifier",
          "variableType" : "String",
          "documentation" : "<p>Disambiguating information for the certificate subject.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "State",
        "c2jShape" : "String128",
        "deprecated" : false,
        "documentation" : "<p>State in which the subject of the certificate is located.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>State in which the subject of the certificate is located.</p>\n@param state State in which the subject of the certificate is located.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withState",
        "getterDocumentation" : "/**<p>State in which the subject of the certificate is located.</p>\n@return State in which the subject of the certificate is located.*/",
        "getterMethodName" : "getState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "State",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "State",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "State",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>State in which the subject of the certificate is located.</p>\n@param state State in which the subject of the certificate is located.*/",
        "setterMethodName" : "setState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>State in which the subject of the certificate is located.</p>\n@param state State in which the subject of the certificate is located.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "<p>State in which the subject of the certificate is located.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CommonName",
        "c2jShape" : "String64",
        "deprecated" : false,
        "documentation" : "<p>Fully qualified domain name (FQDN) associated with the certificate subject.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Fully qualified domain name (FQDN) associated with the certificate subject.</p>\n@param commonName Fully qualified domain name (FQDN) associated with the certificate subject.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCommonName",
        "getterDocumentation" : "/**<p>Fully qualified domain name (FQDN) associated with the certificate subject.</p>\n@return Fully qualified domain name (FQDN) associated with the certificate subject.*/",
        "getterMethodName" : "getCommonName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CommonName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CommonName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CommonName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Fully qualified domain name (FQDN) associated with the certificate subject.</p>\n@param commonName Fully qualified domain name (FQDN) associated with the certificate subject.*/",
        "setterMethodName" : "setCommonName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "commonName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Fully qualified domain name (FQDN) associated with the certificate subject.</p>\n@param commonName Fully qualified domain name (FQDN) associated with the certificate subject.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "commonName",
          "variableType" : "String",
          "documentation" : "<p>Fully qualified domain name (FQDN) associated with the certificate subject.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SerialNumber",
        "c2jShape" : "String64",
        "deprecated" : false,
        "documentation" : "<p>The certificate serial number.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The certificate serial number.</p>\n@param serialNumber The certificate serial number.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSerialNumber",
        "getterDocumentation" : "/**<p>The certificate serial number.</p>\n@return The certificate serial number.*/",
        "getterMethodName" : "getSerialNumber",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SerialNumber",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SerialNumber",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SerialNumber",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The certificate serial number.</p>\n@param serialNumber The certificate serial number.*/",
        "setterMethodName" : "setSerialNumber",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serialNumber",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The certificate serial number.</p>\n@param serialNumber The certificate serial number.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serialNumber",
          "variableType" : "String",
          "documentation" : "<p>The certificate serial number.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Locality",
        "c2jShape" : "String128",
        "deprecated" : false,
        "documentation" : "<p>The locality (such as a city or town) in which the certificate subject is located.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The locality (such as a city or town) in which the certificate subject is located.</p>\n@param locality The locality (such as a city or town) in which the certificate subject is located.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLocality",
        "getterDocumentation" : "/**<p>The locality (such as a city or town) in which the certificate subject is located.</p>\n@return The locality (such as a city or town) in which the certificate subject is located.*/",
        "getterMethodName" : "getLocality",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Locality",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Locality",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Locality",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The locality (such as a city or town) in which the certificate subject is located.</p>\n@param locality The locality (such as a city or town) in which the certificate subject is located.*/",
        "setterMethodName" : "setLocality",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "locality",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The locality (such as a city or town) in which the certificate subject is located.</p>\n@param locality The locality (such as a city or town) in which the certificate subject is located.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "locality",
          "variableType" : "String",
          "documentation" : "<p>The locality (such as a city or town) in which the certificate subject is located.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Title",
        "c2jShape" : "String64",
        "deprecated" : false,
        "documentation" : "<p>A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the certificate subject.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the certificate subject.</p>\n@param title A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the certificate subject.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTitle",
        "getterDocumentation" : "/**<p>A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the certificate subject.</p>\n@return A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the certificate subject.*/",
        "getterMethodName" : "getTitle",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Title",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Title",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Title",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the certificate subject.</p>\n@param title A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the certificate subject.*/",
        "setterMethodName" : "setTitle",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "title",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the certificate subject.</p>\n@param title A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the certificate subject.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "title",
          "variableType" : "String",
          "documentation" : "<p>A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the certificate subject.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Surname",
        "c2jShape" : "String40",
        "deprecated" : false,
        "documentation" : "<p>Family name. In the US and the UK, for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Family name. In the US and the UK, for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first.</p>\n@param surname Family name. In the US and the UK, for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSurname",
        "getterDocumentation" : "/**<p>Family name. In the US and the UK, for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first.</p>\n@return Family name. In the US and the UK, for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first.*/",
        "getterMethodName" : "getSurname",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Surname",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Surname",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Surname",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Family name. In the US and the UK, for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first.</p>\n@param surname Family name. In the US and the UK, for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first.*/",
        "setterMethodName" : "setSurname",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "surname",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Family name. In the US and the UK, for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first.</p>\n@param surname Family name. In the US and the UK, for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "surname",
          "variableType" : "String",
          "documentation" : "<p>Family name. In the US and the UK, for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "GivenName",
        "c2jShape" : "String16",
        "deprecated" : false,
        "documentation" : "<p>First name.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>First name.</p>\n@param givenName First name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGivenName",
        "getterDocumentation" : "/**<p>First name.</p>\n@return First name.*/",
        "getterMethodName" : "getGivenName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
[...]
