{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-08-01",
    "asyncClient" : "AmazonPrometheusAsyncClient",
    "asyncClientBuilderClassName" : "AmazonPrometheusAsyncClientBuilder",
    "asyncInterface" : "AmazonPrometheusAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonPrometheusModuleInjector",
    "defaultEndpoint" : "aps.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "aps.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Managed Service for Prometheus is a serverless, Prometheus-compatible monitoring service for container metrics that makes it easier to securely monitor container environments at scale. With Amazon Managed Service for Prometheus, you can use the same open-source Prometheus data model and query language that you use today to monitor the performance of your containerized workloads, and also enjoy improved scalability, availability, and security without having to manage the underlying infrastructure.</p> <p>For more information about Amazon Managed Service for Prometheus, see the <a href=\"https://docs.aws.amazon.com/prometheus/latest/userguide/what-is-Amazon-Managed-Service-Prometheus.html\">Amazon Managed Service for Prometheus</a> User Guide.</p> <p>Amazon Managed Service for Prometheus includes two APIs.</p> <ul> <li> <p>Use the Amazon Web Services API described in this guide to manage Amazon Managed Service for Prometheus resources, such as workspaces, rule groups, and alert managers.</p> </li> <li> <p>Use the <a href=\"https://docs.aws.amazon.com/prometheus/latest/userguide/AMP-APIReference.html#AMP-APIReference-Prometheus-Compatible-Apis\">Prometheus-compatible API</a> to work within your Prometheus workspace.</p> </li> </ul>",
    "endpointPrefix" : "aps",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.prometheus",
    "packagePath" : "com/amazonaws/services/prometheus",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Prometheus Service",
    "serviceId" : "amp",
    "serviceName" : "Amazon Prometheus Service",
    "signingName" : "aps",
    "smokeTestsPackageName" : "com.amazonaws.services.prometheus.smoketests",
    "syncClient" : "AmazonPrometheusClient",
    "syncClientBuilderClassName" : "AmazonPrometheusClientBuilder",
    "syncInterface" : "AmazonPrometheus",
    "uid" : "amp-2020-08-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAlertManagerDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAlertManagerDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAlertManagerDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAlertManagerDefinitionRequest, CreateAlertManagerDefinitionResult>",
      "asyncReturnType" : "CreateAlertManagerDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>CreateAlertManagerDefinition</code> operation creates the alert manager definition in a workspace. If a workspace already has an alert manager definition, don't use this operation to update it. Instead, use <code>PutAlertManagerDefinition</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Completing the request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAlertManagerDefinitionRequest",
        "variableName" : "createAlertManagerDefinitionRequest",
        "variableType" : "CreateAlertManagerDefinitionRequest",
        "documentation" : "<p>Represents the input of a <code>CreateAlertManagerDefinition</code> operation.</p>",
        "simpleType" : "CreateAlertManagerDefinitionRequest",
        "variableSetterType" : "CreateAlertManagerDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlertManagerDefinition",
      "operationName" : "CreateAlertManagerDefinition",
      "returnType" : {
        "returnType" : "CreateAlertManagerDefinitionResult",
        "documentation" : "<p>Represents the output of a <code>CreateAlertManagerDefinition</code> operation.</p>"
      },
      "syncReturnType" : "CreateAlertManagerDefinitionResult"
    },
    "CreateLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoggingConfigurationRequest, CreateLoggingConfigurationResult>",
      "asyncReturnType" : "CreateLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>CreateLoggingConfiguration</code> operation creates a logging configuration for the workspace. Use this operation to set the CloudWatch log group to which the logs will be published to.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLoggingConfigurationRequest",
        "variableName" : "createLoggingConfigurationRequest",
        "variableType" : "CreateLoggingConfigurationRequest",
        "documentation" : "<p>Represents the input of a <code>CreateLoggingConfiguration</code> operation.</p>",
        "simpleType" : "CreateLoggingConfigurationRequest",
        "variableSetterType" : "CreateLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLoggingConfiguration",
      "operationName" : "CreateLoggingConfiguration",
      "returnType" : {
        "returnType" : "CreateLoggingConfigurationResult",
        "documentation" : "<p>Represents the output of a <code>CreateLoggingConfiguration</code> operation.</p>"
      },
      "syncReturnType" : "CreateLoggingConfigurationResult"
    },
    "CreateRuleGroupsNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRuleGroupsNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRuleGroupsNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRuleGroupsNamespaceRequest, CreateRuleGroupsNamespaceResult>",
      "asyncReturnType" : "CreateRuleGroupsNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>CreateRuleGroupsNamespace</code> operation creates a rule groups namespace within a workspace. A rule groups namespace is associated with exactly one rules file. A workspace can have multiple rule groups namespaces.</p> <p>Use this operation only to create new rule groups namespaces. To update an existing rule groups namespace, use <code>PutRuleGroupsNamespace</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Completing the request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRuleGroupsNamespaceRequest",
        "variableName" : "createRuleGroupsNamespaceRequest",
        "variableType" : "CreateRuleGroupsNamespaceRequest",
        "documentation" : "<p>Represents the input of a <code>CreateRuleGroupsNamespace</code> operation.</p>",
        "simpleType" : "CreateRuleGroupsNamespaceRequest",
        "variableSetterType" : "CreateRuleGroupsNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRuleGroupsNamespace",
      "operationName" : "CreateRuleGroupsNamespace",
      "returnType" : {
        "returnType" : "CreateRuleGroupsNamespaceResult",
        "documentation" : "<p>Represents the output of a <code>CreateRuleGroupsNamespace</code> operation.</p>"
      },
      "syncReturnType" : "CreateRuleGroupsNamespaceResult"
    },
    "CreateScraper" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateScraperResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateScraperResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateScraperRequest, CreateScraperResult>",
      "asyncReturnType" : "CreateScraperResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>CreateScraper</code> operation creates a scraper to collect metrics. A scraper pulls metrics from Prometheus-compatible sources within an Amazon EKS cluster, and sends them to your Amazon Managed Service for Prometheus workspace. You can configure the scraper to control what metrics are collected, and what transformations are applied prior to sending them to your workspace.</p> <p>If needed, an IAM role will be created for you that gives Amazon Managed Service for Prometheus access to the metrics in your cluster. For more information, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/userguide/using-service-linked-roles.html#using-service-linked-roles-prom-scraper\">Using roles for scraping metrics from EKS</a> in the <i>Amazon Managed Service for Prometheus User Guide</i>.</p> <p>You cannot update a scraper. If you want to change the configuration of the scraper, create a new scraper and delete the old one.</p> <p>The <code>scrapeConfiguration</code> parameter contains the base64-encoded version of the YAML configuration file.</p> <note> <p>For more information about collectors, including what metrics are collected, and how to configure the scraper, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/userguide/AMP-collector.html\">Amazon Web Services managed collectors</a> in the <i>Amazon Managed Service for Prometheus User Guide</i>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Completing the request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateScraperRequest",
        "variableName" : "createScraperRequest",
        "variableType" : "CreateScraperRequest",
        "documentation" : "<p>Represents the input of a <code>CreateScraper</code> operation.</p>",
        "simpleType" : "CreateScraperRequest",
        "variableSetterType" : "CreateScraperRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createScraper",
      "operationName" : "CreateScraper",
      "returnType" : {
        "returnType" : "CreateScraperResult",
        "documentation" : "<p>Represents the output of a <code>CreateScraper</code> operation.</p>"
      },
      "syncReturnType" : "CreateScraperResult"
    },
    "CreateWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkspaceRequest, CreateWorkspaceResult>",
      "asyncReturnType" : "CreateWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Prometheus workspace. A workspace is a logical space dedicated to the storage and querying of Prometheus metrics. You can have one or more workspaces in each Region in your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Completing the request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkspaceRequest",
        "variableName" : "createWorkspaceRequest",
        "variableType" : "CreateWorkspaceRequest",
        "documentation" : "<p>Represents the input of a <code>CreateWorkspace</code> operation.</p>",
        "simpleType" : "CreateWorkspaceRequest",
        "variableSetterType" : "CreateWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkspace",
      "operationName" : "CreateWorkspace",
      "returnType" : {
        "returnType" : "CreateWorkspaceResult",
        "documentation" : "<p>Represents the output of a <code>CreateWorkspace</code> operation.</p>"
      },
      "syncReturnType" : "CreateWorkspaceResult"
    },
    "DeleteAlertManagerDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAlertManagerDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAlertManagerDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAlertManagerDefinitionRequest, DeleteAlertManagerDefinitionResult>",
      "asyncReturnType" : "DeleteAlertManagerDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the alert manager definition from a workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAlertManagerDefinitionRequest",
        "variableName" : "deleteAlertManagerDefinitionRequest",
        "variableType" : "DeleteAlertManagerDefinitionRequest",
        "documentation" : "<p>Represents the input of a <code>DeleteAlertManagerDefinition</code> operation.</p>",
        "simpleType" : "DeleteAlertManagerDefinitionRequest",
        "variableSetterType" : "DeleteAlertManagerDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlertManagerDefinition",
      "operationName" : "DeleteAlertManagerDefinition",
      "returnType" : {
        "returnType" : "DeleteAlertManagerDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAlertManagerDefinitionResult"
    },
    "DeleteLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoggingConfigurationRequest, DeleteLoggingConfigurationResult>",
      "asyncReturnType" : "DeleteLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the logging configuration for a workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLoggingConfigurationRequest",
        "variableName" : "deleteLoggingConfigurationRequest",
        "variableType" : "DeleteLoggingConfigurationRequest",
        "documentation" : "<p>Represents the input of a <code>DeleteLoggingConfiguration</code> operation.</p>",
        "simpleType" : "DeleteLoggingConfigurationRequest",
        "variableSetterType" : "DeleteLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLoggingConfiguration",
      "operationName" : "DeleteLoggingConfiguration",
      "returnType" : {
        "returnType" : "DeleteLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLoggingConfigurationResult"
    },
    "DeleteRuleGroupsNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleGroupsNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleGroupsNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleGroupsNamespaceRequest, DeleteRuleGroupsNamespaceResult>",
      "asyncReturnType" : "DeleteRuleGroupsNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes one rule groups namespace and its associated rule groups definition.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRuleGroupsNamespaceRequest",
        "variableName" : "deleteRuleGroupsNamespaceRequest",
        "variableType" : "DeleteRuleGroupsNamespaceRequest",
        "documentation" : "<p>Represents the input of a <code>DeleteRuleGroupsNamespace</code> operation.</p>",
        "simpleType" : "DeleteRuleGroupsNamespaceRequest",
        "variableSetterType" : "DeleteRuleGroupsNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRuleGroupsNamespace",
      "operationName" : "DeleteRuleGroupsNamespace",
      "returnType" : {
        "returnType" : "DeleteRuleGroupsNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRuleGroupsNamespaceResult"
    },
    "DeleteScraper" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteScraperResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteScraperResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteScraperRequest, DeleteScraperResult>",
      "asyncReturnType" : "DeleteScraperResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>DeleteScraper</code> operation deletes one scraper, and stops any metrics collection that the scraper performs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteScraperRequest",
        "variableName" : "deleteScraperRequest",
        "variableType" : "DeleteScraperRequest",
        "documentation" : "<p>Represents the input of a <code>DeleteScraper</code> operation.</p>",
        "simpleType" : "DeleteScraperRequest",
        "variableSetterType" : "DeleteScraperRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteScraper",
      "operationName" : "DeleteScraper",
      "returnType" : {
        "returnType" : "DeleteScraperResult",
        "documentation" : "<p>Represents the output of a <code>DeleteScraper</code> operation.</p>"
      },
      "syncReturnType" : "DeleteScraperResult"
    },
    "DeleteWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkspaceRequest, DeleteWorkspaceResult>",
      "asyncReturnType" : "DeleteWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing workspace. </p> <note> <p>When you delete a workspace, the data that has been ingested into it is not immediately deleted. It will be permanently deleted within one month.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkspaceRequest",
        "variableName" : "deleteWorkspaceRequest",
        "variableType" : "DeleteWorkspaceRequest",
        "documentation" : "<p>Represents the input of a <code>DeleteWorkspace</code> operation.</p>",
        "simpleType" : "DeleteWorkspaceRequest",
        "variableSetterType" : "DeleteWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkspace",
      "operationName" : "DeleteWorkspace",
      "returnType" : {
        "returnType" : "DeleteWorkspaceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkspaceResult"
    },
    "DescribeAlertManagerDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlertManagerDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlertManagerDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlertManagerDefinitionRequest, DescribeAlertManagerDefinitionResult>",
      "asyncReturnType" : "DescribeAlertManagerDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the full information about the alert manager definition for a workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAlertManagerDefinitionRequest",
        "variableName" : "describeAlertManagerDefinitionRequest",
        "variableType" : "DescribeAlertManagerDefinitionRequest",
        "documentation" : "<p>Represents the input of a <code>DescribeAlertManagerDefinition</code> operation.</p>",
        "simpleType" : "DescribeAlertManagerDefinitionRequest",
        "variableSetterType" : "DescribeAlertManagerDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAlertManagerDefinition",
      "operationName" : "DescribeAlertManagerDefinition",
      "returnType" : {
        "returnType" : "DescribeAlertManagerDefinitionResult",
        "documentation" : "<p>Represents the output of a <code>DescribeAlertManagerDefinition</code> operation.</p>"
      },
      "syncReturnType" : "DescribeAlertManagerDefinitionResult"
    },
    "DescribeLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoggingConfigurationRequest, DescribeLoggingConfigurationResult>",
      "asyncReturnType" : "DescribeLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns complete information about the current logging configuration of the workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLoggingConfigurationRequest",
        "variableName" : "describeLoggingConfigurationRequest",
        "variableType" : "DescribeLoggingConfigurationRequest",
        "documentation" : "<p>Represents the input of a <code>DescribeLoggingConfiguration</code> operation.</p>",
        "simpleType" : "DescribeLoggingConfigurationRequest",
        "variableSetterType" : "DescribeLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoggingConfiguration",
      "operationName" : "DescribeLoggingConfiguration",
      "returnType" : {
        "returnType" : "DescribeLoggingConfigurationResult",
        "documentation" : "<p>Represents the output of a <code>DescribeLoggingConfiguration</code> operation.</p>"
      },
      "syncReturnType" : "DescribeLoggingConfigurationResult"
    },
    "DescribeRuleGroupsNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRuleGroupsNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRuleGroupsNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRuleGroupsNamespaceRequest, DescribeRuleGroupsNamespaceResult>",
      "asyncReturnType" : "DescribeRuleGroupsNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns complete information about one rule groups namespace. To retrieve a list of rule groups namespaces, use <code>ListRuleGroupsNamespaces</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRuleGroupsNamespaceRequest",
        "variableName" : "describeRuleGroupsNamespaceRequest",
        "variableType" : "DescribeRuleGroupsNamespaceRequest",
        "documentation" : "<p>Represents the input of a <code>DescribeRuleGroupsNamespace</code> operation.</p>",
        "simpleType" : "DescribeRuleGroupsNamespaceRequest",
        "variableSetterType" : "DescribeRuleGroupsNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRuleGroupsNamespace",
      "operationName" : "DescribeRuleGroupsNamespace",
      "returnType" : {
        "returnType" : "DescribeRuleGroupsNamespaceResult",
        "documentation" : "<p>Represents the output of a <code>DescribeRuleGroupsNamespace</code> operation.</p>"
      },
      "syncReturnType" : "DescribeRuleGroupsNamespaceResult"
    },
    "DescribeScraper" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScraperResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScraperResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScraperRequest, DescribeScraperResult>",
      "asyncReturnType" : "DescribeScraperResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>DescribeScraper</code> operation displays information about an existing scraper.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeScraperRequest",
        "variableName" : "describeScraperRequest",
        "variableType" : "DescribeScraperRequest",
        "documentation" : "<p>Represents the input of a <code>DescribeScraper</code> operation.</p>",
        "simpleType" : "DescribeScraperRequest",
        "variableSetterType" : "DescribeScraperRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScraper",
      "operationName" : "DescribeScraper",
      "returnType" : {
        "returnType" : "DescribeScraperResult",
        "documentation" : "<p>Represents the output of a <code>DescribeScraper</code> operation.</p>"
      },
      "syncReturnType" : "DescribeScraperResult"
    },
    "DescribeWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceRequest, DescribeWorkspaceResult>",
      "asyncReturnType" : "DescribeWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an existing workspace. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeWorkspaceRequest",
        "variableName" : "describeWorkspaceRequest",
        "variableType" : "DescribeWorkspaceRequest",
        "documentation" : "<p>Represents the input of a <code>DescribeWorkspace</code> operation.</p>",
        "simpleType" : "DescribeWorkspaceRequest",
        "variableSetterType" : "DescribeWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspace",
      "operationName" : "DescribeWorkspace",
      "returnType" : {
        "returnType" : "DescribeWorkspaceResult",
        "documentation" : "<p>Represents the output of a <code>DescribeWorkspace</code> operation.</p>"
      },
      "syncReturnType" : "DescribeWorkspaceResult"
    },
    "GetDefaultScraperConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDefaultScraperConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDefaultScraperConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDefaultScraperConfigurationRequest, GetDefaultScraperConfigurationResult>",
      "asyncReturnType" : "GetDefaultScraperConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>GetDefaultScraperConfiguration</code> operation returns the default scraper configuration used when Amazon EKS creates a scraper for you.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDefaultScraperConfigurationRequest",
        "variableName" : "getDefaultScraperConfigurationRequest",
        "variableType" : "GetDefaultScraperConfigurationRequest",
        "documentation" : "<p>Represents the input of a <code>GetDefaultScraperConfiguration</code> operation.</p>",
        "simpleType" : "GetDefaultScraperConfigurationRequest",
        "variableSetterType" : "GetDefaultScraperConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDefaultScraperConfiguration",
      "operationName" : "GetDefaultScraperConfiguration",
      "returnType" : {
        "returnType" : "GetDefaultScraperConfigurationResult",
        "documentation" : "<p>Represents the output of a <code>GetDefaultScraperConfiguration</code> operation.</p>"
      },
      "syncReturnType" : "GetDefaultScraperConfigurationResult"
    },
    "ListRuleGroupsNamespaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRuleGroupsNamespacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRuleGroupsNamespacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRuleGroupsNamespacesRequest, ListRuleGroupsNamespacesResult>",
      "asyncReturnType" : "ListRuleGroupsNamespacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of rule groups namespaces in a workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRuleGroupsNamespacesRequest",
        "variableName" : "listRuleGroupsNamespacesRequest",
        "variableType" : "ListRuleGroupsNamespacesRequest",
        "documentation" : "<p>Represents the input of a <code>ListRuleGroupsNamespaces</code> operation.</p>",
        "simpleType" : "ListRuleGroupsNamespacesRequest",
        "variableSetterType" : "ListRuleGroupsNamespacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRuleGroupsNamespaces",
      "operationName" : "ListRuleGroupsNamespaces",
      "returnType" : {
        "returnType" : "ListRuleGroupsNamespacesResult",
        "documentation" : "<p>Represents the output of a <code>ListRuleGroupsNamespaces</code> operation.</p>"
      },
      "syncReturnType" : "ListRuleGroupsNamespacesResult"
    },
    "ListScrapers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListScrapersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListScrapersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListScrapersRequest, ListScrapersResult>",
      "asyncReturnType" : "ListScrapersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>ListScrapers</code> operation lists all of the scrapers in your account. This includes scrapers being created or deleted. You can optionally filter the returned list.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListScrapersRequest",
        "variableName" : "listScrapersRequest",
        "variableType" : "ListScrapersRequest",
        "documentation" : "<p>Represents the input of a <code>ListScrapers</code> operation.</p>",
        "simpleType" : "ListScrapersRequest",
        "variableSetterType" : "ListScrapersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listScrapers",
      "operationName" : "ListScrapers",
      "returnType" : {
        "returnType" : "ListScrapersResult",
        "documentation" : "<p>Represents the output of a <code>ListScrapers</code> operation.</p>"
      },
      "syncReturnType" : "ListScrapersResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>ListTagsForResource</code> operation returns the tags that are associated with an Amazon Managed Service for Prometheus resource. Currently, the only resources that can be tagged are workspaces and rule groups namespaces. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkspacesRequest, ListWorkspacesResult>",
      "asyncReturnType" : "ListWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the Amazon Managed Service for Prometheus workspaces in your account. This includes workspaces being created or deleted. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkspacesRequest",
        "variableName" : "listWorkspacesRequest",
        "variableType" : "ListWorkspacesRequest",
        "documentation" : "<p>Represents the input of a <code>ListWorkspaces</code> operation.</p>",
        "simpleType" : "ListWorkspacesRequest",
        "variableSetterType" : "ListWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkspaces",
      "operationName" : "ListWorkspaces",
      "returnType" : {
        "returnType" : "ListWorkspacesResult",
        "documentation" : "<p>Represents the output of a <code>ListWorkspaces</code> operation.</p>"
      },
      "syncReturnType" : "ListWorkspacesResult"
    },
    "PutAlertManagerDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAlertManagerDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAlertManagerDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAlertManagerDefinitionRequest, PutAlertManagerDefinitionResult>",
      "asyncReturnType" : "PutAlertManagerDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing alert manager definition in a workspace. If the workspace does not already have an alert manager definition, don't use this operation to create it. Instead, use <code>CreateAlertManagerDefinition</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Completing the request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAlertManagerDefinitionRequest",
        "variableName" : "putAlertManagerDefinitionRequest",
        "variableType" : "PutAlertManagerDefinitionRequest",
        "documentation" : "<p>Represents the input of a <code>PutAlertManagerDefinition</code> operation.</p>",
        "simpleType" : "PutAlertManagerDefinitionRequest",
        "variableSetterType" : "PutAlertManagerDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAlertManagerDefinition",
      "operationName" : "PutAlertManagerDefinition",
      "returnType" : {
        "returnType" : "PutAlertManagerDefinitionResult",
        "documentation" : "<p>Represents the output of a <code>PutAlertManagerDefinition</code> operation.</p>"
      },
      "syncReturnType" : "PutAlertManagerDefinitionResult"
    },
    "PutRuleGroupsNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRuleGroupsNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRuleGroupsNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRuleGroupsNamespaceRequest, PutRuleGroupsNamespaceResult>",
      "asyncReturnType" : "PutRuleGroupsNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing rule groups namespace within a workspace. A rule groups namespace is associated with exactly one rules file. A workspace can have multiple rule groups namespaces.</p> <p>Use this operation only to update existing rule groups namespaces. To create a new rule groups namespace, use <code>CreateRuleGroupsNamespace</code>.</p> <p>You can't use this operation to add tags to an existing rule groups namespace. Instead, use <code>TagResource</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Completing the request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRuleGroupsNamespaceRequest",
        "variableName" : "putRuleGroupsNamespaceRequest",
        "variableType" : "PutRuleGroupsNamespaceRequest",
        "documentation" : "<p>Represents the input of a <code>PutRuleGroupsNamespace</code> operation.</p>",
        "simpleType" : "PutRuleGroupsNamespaceRequest",
        "variableSetterType" : "PutRuleGroupsNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRuleGroupsNamespace",
      "operationName" : "PutRuleGroupsNamespace",
      "returnType" : {
        "returnType" : "PutRuleGroupsNamespaceResult",
        "documentation" : "<p>Represents the output of a <code>PutRuleGroupsNamespace</code> operation.</p>"
      },
      "syncReturnType" : "PutRuleGroupsNamespaceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>TagResource</code> operation associates tags with an Amazon Managed Service for Prometheus resource. The only resources that can be tagged are workspaces and rule groups namespaces. </p> <p>If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from an Amazon Managed Service for Prometheus resource. The only resources that can be tagged are workspaces and rule groups namespaces. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLoggingConfigurationRequest, UpdateLoggingConfigurationResult>",
      "asyncReturnType" : "UpdateLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the log group ARN or the workspace ID of the current logging configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLoggingConfigurationRequest",
        "variableName" : "updateLoggingConfigurationRequest",
        "variableType" : "UpdateLoggingConfigurationRequest",
        "documentation" : "<p>Represents the input of an <code>UpdateLoggingConfiguration</code> operation.</p>",
        "simpleType" : "UpdateLoggingConfigurationRequest",
        "variableSetterType" : "UpdateLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLoggingConfiguration",
      "operationName" : "UpdateLoggingConfiguration",
      "returnType" : {
        "returnType" : "UpdateLoggingConfigurationResult",
        "documentation" : "<p>Represents the output of an <code>UpdateLoggingConfiguration</code> operation.</p>"
      },
      "syncReturnType" : "UpdateLoggingConfigurationResult"
    },
    "UpdateWorkspaceAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkspaceAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkspaceAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkspaceAliasRequest, UpdateWorkspaceAliasResult>",
      "asyncReturnType" : "UpdateWorkspaceAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the alias of an existing workspace. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resources that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Completing the request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkspaceAliasRequest",
        "variableName" : "updateWorkspaceAliasRequest",
        "variableType" : "UpdateWorkspaceAliasRequest",
        "documentation" : "<p>Represents the input of an <code>UpdateWorkspaceAlias</code> operation.</p>",
        "simpleType" : "UpdateWorkspaceAliasRequest",
        "variableSetterType" : "UpdateWorkspaceAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkspaceAlias",
      "operationName" : "UpdateWorkspaceAlias",
      "returnType" : {
        "returnType" : "UpdateWorkspaceAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkspaceAliasResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.prometheus.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.prometheus.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AlertManagerDefinitionDescription" : {
      "c2jName" : "AlertManagerDefinitionDescription",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The details of an alert manager definition. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.prometheus.model.AlertManagerDefinitionDescription",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "createdAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time that the alert manager definition was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time that the alert manager definition was created.</p>\n@param createdAt The date and time that the alert manager definition was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedAt",
        "getterDocumentation" : "/**<p>The date and time that the alert manager definition was created.</p>\n@return The date and time that the alert manager definition was created.*/",
        "getterMethodName" : "getCreatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createdAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createdAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time that the alert manager definition was created.</p>\n@param createdAt The date and time that the alert manager definition was created.*/",
        "setterMethodName" : "setCreatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time that the alert manager definition was created.</p>\n@param createdAt The date and time that the alert manager definition was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time that the alert manager definition was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "data",
        "c2jShape" : "AlertManagerDefinitionData",
        "deprecated" : false,
        "documentation" : "<p>The actual alert manager definition.</p> <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The actual alert manager definition.</p> <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The actual alert manager definition.</p> <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withData",
        "getterDocumentation" : "/**<p>The actual alert manager definition.</p> <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return The actual alert manager definition.</p> <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.*/",
        "getterMethodName" : "getData",
        "getterModel" : {
          "returnType" : "java.nio.ByteBuffer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "data",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "data",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.nio.ByteBuffer",
        "marshallingType" : "BYTE_BUFFER",
        "name" : "Data",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The actual alert manager definition.</p> <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The actual alert manager definition.</p> <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.*/",
        "setterMethodName" : "setData",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "data",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The actual alert manager definition.</p> <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.</p>\n@param data The actual alert manager definition.</p> <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "data",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "<p>The actual alert manager definition.</p> <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.</p>",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "modifiedAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time that the alert manager definition was most recently changed.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time that the alert manager definition was most recently changed.</p>\n@param modifiedAt The date and time that the alert manager definition was most recently changed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModifiedAt",
        "getterDocumentation" : "/**<p>The date and time that the alert manager definition was most recently changed.</p>\n@return The date and time that the alert manager definition was most recently changed.*/",
        "getterMethodName" : "getModifiedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "modifiedAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "modifiedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "ModifiedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time that the alert manager definition was most recently changed.</p>\n@param modifiedAt The date and time that the alert manager definition was most recently changed.*/",
        "setterMethodName" : "setModifiedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "modifiedAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time that the alert manager definition was most recently changed.</p>\n@param modifiedAt The date and time that the alert manager definition was most recently changed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "modifiedAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time that the alert manager definition was most recently changed.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "status",
        "c2jShape" : "AlertManagerDefinitionStatus",
        "deprecated" : false,
        "documentation" : "<p>A structure that displays the current status of the alert manager definition..</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A structure that displays the current status of the alert manager definition..</p>\n@param status A structure that displays the current status of the alert manager definition..\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>A structure that displays the current status of the alert manager definition..</p>\n@return A structure that displays the current status of the alert manager definition..*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "AlertManagerDefinitionStatus",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A structure that displays the current status of the alert manager definition..</p>\n@param status A structure that displays the current status of the alert manager definition..*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AlertManagerDefinitionStatus",
          "variableName" : "status",
          "variableType" : "AlertManagerDefinitionStatus",
          "documentation" : "",
          "simpleType" : "AlertManagerDefinitionStatus",
          "variableSetterType" : "AlertManagerDefinitionStatus"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A structure that displays the current status of the alert manager definition..</p>\n@param status A structure that displays the current status of the alert manager definition..\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AlertManagerDefinitionStatus",
          "variableName" : "status",
          "variableType" : "AlertManagerDefinitionStatus",
          "documentation" : "<p>A structure that displays the current status of the alert manager definition..</p>",
          "simpleType" : "AlertManagerDefinitionStatus",
          "variableSetterType" : "AlertManagerDefinitionStatus"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CreatedAt" : {
          "c2jName" : "createdAt",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The date and time that the alert manager definition was created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date and time that the alert manager definition was created.</p>\n@param createdAt The date and time that the alert manager definition was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatedAt",
          "getterDocumentation" : "/**<p>The date and time that the alert manager definition was created.</p>\n@return The date and time that the alert manager definition was created.*/",
          "getterMethodName" : "getCreatedAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "createdAt",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "createdAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreatedAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The date and time that the alert manager definition was created.</p>\n@param createdAt The date and time that the alert manager definition was created.*/",
          "setterMethodName" : "setCreatedAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
[...]
