{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-07-25",
    "asyncClient" : "AWSAmplifyAsyncClient",
    "asyncClientBuilderClassName" : "AWSAmplifyAsyncClientBuilder",
    "asyncInterface" : "AWSAmplifyAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSAmplifyModuleInjector",
    "defaultEndpoint" : "amplify.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "amplify.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> Amplify is a fully managed continuous deployment and hosting service for modern web apps. </p>",
    "endpointPrefix" : "amplify",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.amplify",
    "packagePath" : "com/amazonaws/services/amplify",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amplify",
    "serviceFullName" : "AWS Amplify",
    "serviceId" : "Amplify",
    "serviceName" : "Amplify",
    "signingName" : "amplify",
    "smokeTestsPackageName" : "com.amazonaws.services.amplify.smoketests",
    "syncClient" : "AWSAmplifyClient",
    "syncClientBuilderClassName" : "AWSAmplifyClientBuilder",
    "syncInterface" : "AWSAmplify",
    "uid" : "amplify-2017-07-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppRequest, CreateAppResult>",
      "asyncReturnType" : "CreateAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new Amplify App. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> Exception thrown when a resource could not be created because of service limits. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> Exception thrown when an operation fails due to a dependent service throwing an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppRequest",
        "variableName" : "createAppRequest",
        "variableType" : "CreateAppRequest",
        "documentation" : "<p> Request structure used to create Apps in Amplify. </p>",
        "simpleType" : "CreateAppRequest",
        "variableSetterType" : "CreateAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApp",
      "operationName" : "CreateApp",
      "returnType" : {
        "returnType" : "CreateAppResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppResult"
    },
    "CreateBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBranchRequest, CreateBranchResult>",
      "asyncReturnType" : "CreateBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new Branch for an Amplify App. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> Exception thrown when a resource could not be created because of service limits. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> Exception thrown when an operation fails due to a dependent service throwing an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBranchRequest",
        "variableName" : "createBranchRequest",
        "variableType" : "CreateBranchRequest",
        "documentation" : "<p> Request structure for a branch create request. </p>",
        "simpleType" : "CreateBranchRequest",
        "variableSetterType" : "CreateBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBranch",
      "operationName" : "CreateBranch",
      "returnType" : {
        "returnType" : "CreateBranchResult",
        "documentation" : "<p> Result structure for create branch request. </p>"
      },
      "syncReturnType" : "CreateBranchResult"
    },
    "CreateDomainAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDomainAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDomainAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDomainAssociationRequest, CreateDomainAssociationResult>",
      "asyncReturnType" : "CreateDomainAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Create a new DomainAssociation on an App </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> Exception thrown when a resource could not be created because of service limits. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> Exception thrown when an operation fails due to a dependent service throwing an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDomainAssociationRequest",
        "variableName" : "createDomainAssociationRequest",
        "variableType" : "CreateDomainAssociationRequest",
        "documentation" : "<p> Request structure for create Domain Association request. </p>",
        "simpleType" : "CreateDomainAssociationRequest",
        "variableSetterType" : "CreateDomainAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDomainAssociation",
      "operationName" : "CreateDomainAssociation",
      "returnType" : {
        "returnType" : "CreateDomainAssociationResult",
        "documentation" : "<p> Result structure for the create Domain Association request. </p>"
      },
      "syncReturnType" : "CreateDomainAssociationResult"
    },
    "DeleteApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppRequest, DeleteAppResult>",
      "asyncReturnType" : "DeleteAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Delete an existing Amplify App by appId. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> Exception thrown when an operation fails due to a dependent service throwing an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppRequest",
        "variableName" : "deleteAppRequest",
        "variableType" : "DeleteAppRequest",
        "documentation" : "<p> Request structure for an Amplify App delete request. </p>",
        "simpleType" : "DeleteAppRequest",
        "variableSetterType" : "DeleteAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApp",
      "operationName" : "DeleteApp",
      "returnType" : {
        "returnType" : "DeleteAppResult",
        "documentation" : "<p> Result structure for an Amplify App delete request. </p>"
      },
      "syncReturnType" : "DeleteAppResult"
    },
    "DeleteBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBranchRequest, DeleteBranchResult>",
      "asyncReturnType" : "DeleteBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a branch for an Amplify App. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> Exception thrown when an operation fails due to a dependent service throwing an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBranchRequest",
        "variableName" : "deleteBranchRequest",
        "variableType" : "DeleteBranchRequest",
        "documentation" : "<p> Request structure for delete branch request. </p>",
        "simpleType" : "DeleteBranchRequest",
        "variableSetterType" : "DeleteBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBranch",
      "operationName" : "DeleteBranch",
      "returnType" : {
        "returnType" : "DeleteBranchResult",
        "documentation" : "<p> Result structure for delete branch request. </p>"
      },
      "syncReturnType" : "DeleteBranchResult"
    },
    "DeleteDomainAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDomainAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDomainAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDomainAssociationRequest, DeleteDomainAssociationResult>",
      "asyncReturnType" : "DeleteDomainAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a DomainAssociation. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> Exception thrown when an operation fails due to a dependent service throwing an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDomainAssociationRequest",
        "variableName" : "deleteDomainAssociationRequest",
        "variableType" : "DeleteDomainAssociationRequest",
        "documentation" : "<p> Request structure for the delete Domain Association request. </p>",
        "simpleType" : "DeleteDomainAssociationRequest",
        "variableSetterType" : "DeleteDomainAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDomainAssociation",
      "operationName" : "DeleteDomainAssociation",
      "returnType" : {
        "returnType" : "DeleteDomainAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDomainAssociationResult"
    },
    "DeleteJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteJobRequest, DeleteJobResult>",
      "asyncReturnType" : "DeleteJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Delete a job, for an Amplify branch, part of Amplify App. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> Exception thrown when a resource could not be created because of service limits. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteJobRequest",
        "variableName" : "deleteJobRequest",
        "variableType" : "DeleteJobRequest",
        "documentation" : "<p> Request structure for delete job request. </p>",
        "simpleType" : "DeleteJobRequest",
        "variableSetterType" : "DeleteJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteJob",
      "operationName" : "DeleteJob",
      "returnType" : {
        "returnType" : "DeleteJobResult",
        "documentation" : "<p> Result structure for the delete job request. </p>"
      },
      "syncReturnType" : "DeleteJobResult"
    },
    "GetApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppRequest, GetAppResult>",
      "asyncReturnType" : "GetAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves an existing Amplify App by appId. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppRequest",
        "variableName" : "getAppRequest",
        "variableType" : "GetAppRequest",
        "documentation" : "<p> Request structure for get App request. </p>",
        "simpleType" : "GetAppRequest",
        "variableSetterType" : "GetAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApp",
      "operationName" : "GetApp",
      "returnType" : {
        "returnType" : "GetAppResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppResult"
    },
    "GetBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBranchRequest, GetBranchResult>",
      "asyncReturnType" : "GetBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves a branch for an Amplify App. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBranchRequest",
        "variableName" : "getBranchRequest",
        "variableType" : "GetBranchRequest",
        "documentation" : "<p> Result structure for get branch request. </p>",
        "simpleType" : "GetBranchRequest",
        "variableSetterType" : "GetBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBranch",
      "operationName" : "GetBranch",
      "returnType" : {
        "returnType" : "GetBranchResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBranchResult"
    },
    "GetDomainAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainAssociationRequest, GetDomainAssociationResult>",
      "asyncReturnType" : "GetDomainAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves domain info that corresponds to an appId and domainName. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDomainAssociationRequest",
        "variableName" : "getDomainAssociationRequest",
        "variableType" : "GetDomainAssociationRequest",
        "documentation" : "<p> Request structure for the get Domain Association request. </p>",
        "simpleType" : "GetDomainAssociationRequest",
        "variableSetterType" : "GetDomainAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDomainAssociation",
      "operationName" : "GetDomainAssociation",
      "returnType" : {
        "returnType" : "GetDomainAssociationResult",
        "documentation" : "<p> Result structure for the get Domain Association request. </p>"
      },
      "syncReturnType" : "GetDomainAssociationResult"
    },
    "GetJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobRequest, GetJobResult>",
      "asyncReturnType" : "GetJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Get a job for a branch, part of an Amplify App. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> Exception thrown when a resource could not be created because of service limits. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetJobRequest",
        "variableName" : "getJobRequest",
        "variableType" : "GetJobRequest",
        "documentation" : "<p> Request structure for get job request. </p>",
        "simpleType" : "GetJobRequest",
        "variableSetterType" : "GetJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getJob",
      "operationName" : "GetJob",
      "returnType" : {
        "returnType" : "GetJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetJobResult"
    },
    "ListApps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppsRequest, ListAppsResult>",
      "asyncReturnType" : "ListAppsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists existing Amplify Apps. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppsRequest",
        "variableName" : "listAppsRequest",
        "variableType" : "ListAppsRequest",
        "documentation" : "<p> Request structure for an Amplify App list request. </p>",
        "simpleType" : "ListAppsRequest",
        "variableSetterType" : "ListAppsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApps",
      "operationName" : "ListApps",
      "returnType" : {
        "returnType" : "ListAppsResult",
        "documentation" : "<p> Result structure for an Amplify App list request. </p>"
      },
      "syncReturnType" : "ListAppsResult"
    },
    "ListBranches" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBranchesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBranchesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBranchesRequest, ListBranchesResult>",
      "asyncReturnType" : "ListBranchesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists branches for an Amplify App. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBranchesRequest",
        "variableName" : "listBranchesRequest",
        "variableType" : "ListBranchesRequest",
        "documentation" : "<p> Request structure for list branches request. </p>",
        "simpleType" : "ListBranchesRequest",
        "variableSetterType" : "ListBranchesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBranches",
      "operationName" : "ListBranches",
      "returnType" : {
        "returnType" : "ListBranchesResult",
        "documentation" : "<p> Result structure for list branches request. </p>"
      },
      "syncReturnType" : "ListBranchesResult"
    },
    "ListDomainAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainAssociationsRequest, ListDomainAssociationsResult>",
      "asyncReturnType" : "ListDomainAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> List domains with an app </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDomainAssociationsRequest",
        "variableName" : "listDomainAssociationsRequest",
        "variableType" : "ListDomainAssociationsRequest",
        "documentation" : "<p> Request structure for the list Domain Associations request. </p>",
        "simpleType" : "ListDomainAssociationsRequest",
        "variableSetterType" : "ListDomainAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomainAssociations",
      "operationName" : "ListDomainAssociations",
      "returnType" : {
        "returnType" : "ListDomainAssociationsResult",
        "documentation" : "<p> Result structure for the list Domain Association request. </p>"
      },
      "syncReturnType" : "ListDomainAssociationsResult"
    },
    "ListJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "asyncReturnType" : "ListJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> List Jobs for a branch, part of an Amplify App. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> Exception thrown when a resource could not be created because of service limits. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJobsRequest",
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "documentation" : "<p> Request structure for list job request. </p>",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobs",
      "operationName" : "ListJobs",
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : "<p> Maximum number of records to list in a single response. </p>"
      },
      "syncReturnType" : "ListJobsResult"
    },
    "StartJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartJobRequest, StartJobResult>",
      "asyncReturnType" : "StartJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Starts a new job for a branch, part of an Amplify App. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> Exception thrown when a resource could not be created because of service limits. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartJobRequest",
        "variableName" : "startJobRequest",
        "variableType" : "StartJobRequest",
        "documentation" : "<p> Request structure for Start job request. </p>",
        "simpleType" : "StartJobRequest",
        "variableSetterType" : "StartJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startJob",
      "operationName" : "StartJob",
      "returnType" : {
        "returnType" : "StartJobResult",
        "documentation" : "<p> Result structure for run job request. </p>"
      },
      "syncReturnType" : "StartJobResult"
    },
    "StopJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopJobRequest, StopJobResult>",
      "asyncReturnType" : "StopJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Stop a job that is in progress, for an Amplify branch, part of Amplify App. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> Exception thrown when a resource could not be created because of service limits. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopJobRequest",
        "variableName" : "stopJobRequest",
        "variableType" : "StopJobRequest",
        "documentation" : "<p> Request structure for stop job request. </p>",
        "simpleType" : "StopJobRequest",
        "variableSetterType" : "StopJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopJob",
      "operationName" : "StopJob",
      "returnType" : {
        "returnType" : "StopJobResult",
        "documentation" : "<p> Result structure for the stop job request. </p>"
      },
      "syncReturnType" : "StopJobResult"
    },
    "UpdateApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAppRequest, UpdateAppResult>",
      "asyncReturnType" : "UpdateAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates an existing Amplify App. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAppRequest",
        "variableName" : "updateAppRequest",
        "variableType" : "UpdateAppRequest",
        "documentation" : "<p> Request structure for update App request. </p>",
        "simpleType" : "UpdateAppRequest",
        "variableSetterType" : "UpdateAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApp",
      "operationName" : "UpdateApp",
      "returnType" : {
        "returnType" : "UpdateAppResult",
        "documentation" : "<p> Result structure for an Amplify App update request. </p>"
      },
      "syncReturnType" : "UpdateAppResult"
    },
    "UpdateBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBranchRequest, UpdateBranchResult>",
      "asyncReturnType" : "UpdateBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates a branch for an Amplify App. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> Exception thrown when an operation fails due to a dependent service throwing an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBranchRequest",
        "variableName" : "updateBranchRequest",
        "variableType" : "UpdateBranchRequest",
        "documentation" : "<p> Request structure for update branch request. </p>",
        "simpleType" : "UpdateBranchRequest",
        "variableSetterType" : "UpdateBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBranch",
      "operationName" : "UpdateBranch",
      "returnType" : {
        "returnType" : "UpdateBranchResult",
        "documentation" : "<p> Result structure for update branch request. </p>"
      },
      "syncReturnType" : "UpdateBranchResult"
    },
    "UpdateDomainAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainAssociationRequest, UpdateDomainAssociationResult>",
      "asyncReturnType" : "UpdateDomainAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Create a new DomainAssociation on an App </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Exception thrown when a request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> Exception thrown when an operation fails due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> Exception thrown when an entity has not been found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> Exception thrown when an operation fails due to a dependent service throwing an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDomainAssociationRequest",
        "variableName" : "updateDomainAssociationRequest",
        "variableType" : "UpdateDomainAssociationRequest",
        "documentation" : "<p> Request structure for update Domain Association request. </p>",
        "simpleType" : "UpdateDomainAssociationRequest",
        "variableSetterType" : "UpdateDomainAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDomainAssociation",
      "operationName" : "UpdateDomainAssociation",
      "returnType" : {
        "returnType" : "UpdateDomainAssociationResult",
        "documentation" : "<p> Result structure for the update Domain Association request. </p>"
      },
      "syncReturnType" : "UpdateDomainAssociationResult"
    }
  },
  "shapes" : {
    "App" : {
      "c2jName" : "App",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Amplify App represents different branches of a repository for building, deploying, and hosting. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "appId",
        "c2jShape" : "AppId",
        "deprecated" : false,
        "documentation" : "<p> Unique Id for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Unique Id for the Amplify App. </p>\n@param appId Unique Id for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppId",
        "getterDocumentation" : "/**<p> Unique Id for the Amplify App. </p>\n@return Unique Id for the Amplify App.*/",
        "getterMethodName" : "getAppId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "appId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "appId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Unique Id for the Amplify App. </p>\n@param appId Unique Id for the Amplify App.*/",
        "setterMethodName" : "setAppId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Unique Id for the Amplify App. </p>\n@param appId Unique Id for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appId",
          "variableType" : "String",
          "documentation" : "<p> Unique Id for the Amplify App. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "appArn",
        "c2jShape" : "AppArn",
        "deprecated" : false,
        "documentation" : "<p> ARN for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> ARN for the Amplify App. </p>\n@param appArn ARN for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppArn",
        "getterDocumentation" : "/**<p> ARN for the Amplify App. </p>\n@return ARN for the Amplify App.*/",
        "getterMethodName" : "getAppArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "appArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "appArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> ARN for the Amplify App. </p>\n@param appArn ARN for the Amplify App.*/",
        "setterMethodName" : "setAppArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> ARN for the Amplify App. </p>\n@param appArn ARN for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appArn",
          "variableType" : "String",
          "documentation" : "<p> ARN for the Amplify App. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "<p> Name for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Name for the Amplify App. </p>\n@param name Name for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p> Name for the Amplify App. </p>\n@return Name for the Amplify App.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Name for the Amplify App. </p>\n@param name Name for the Amplify App.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Name for the Amplify App. </p>\n@param name Name for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p> Name for the Amplify App. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "Tags",
        "deprecated" : false,
        "documentation" : "<p> Tag for Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Tag for Amplify App. </p>\n@param tags Tag for Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p> Tag for Amplify App. </p>\n@return Tag for Amplify App.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Tag for Amplify App. </p>\n@param tags Tag for Amplify App.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Tag for Amplify App. </p>\n@param tags Tag for Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p> Tag for Amplify App. </p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "Description",
        "deprecated" : false,
        "documentation" : "<p> Description for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Description for the Amplify App. </p>\n@param description Description for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p> Description for the Amplify App. </p>\n@return Description for the Amplify App.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Description for the Amplify App. </p>\n@param description Description for the Amplify App.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Description for the Amplify App. </p>\n@param description Description for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p> Description for the Amplify App. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "repository",
        "c2jShape" : "Repository",
        "deprecated" : false,
        "documentation" : "<p> Repository for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Repository for the Amplify App. </p>\n@param repository Repository for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRepository",
        "getterDocumentation" : "/**<p> Repository for the Amplify App. </p>\n@return Repository for the Amplify App.*/",
        "getterMethodName" : "getRepository",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "repository",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "repository",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Repository",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Repository for the Amplify App. </p>\n@param repository Repository for the Amplify App.*/",
        "setterMethodName" : "setRepository",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "repository",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Repository for the Amplify App. </p>\n@param repository Repository for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "repository",
          "variableType" : "String",
          "documentation" : "<p> Repository for the Amplify App. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "platform",
        "c2jShape" : "Platform",
        "deprecated" : false,
        "documentation" : "<p> Platform for the Amplify App. </p>",
        "enumType" : "Platform",
        "fluentSetterDocumentation" : "/**<p> Platform for the Amplify App. </p>\n@param platform Platform for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Platform*/",
        "fluentSetterMethodName" : "withPlatform",
        "getterDocumentation" : "/**<p> Platform for the Amplify App. </p>\n@return Platform for the Amplify App.\n@see Platform*/",
        "getterMethodName" : "getPlatform",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "platform",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "platform",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Platform",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Platform for the Amplify App. </p>\n@param platform Platform for the Amplify App.\n@see Platform*/",
        "setterMethodName" : "setPlatform",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "platform",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Platform for the Amplify App. </p>\n@param platform Platform for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Platform*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "platform",
          "variableType" : "String",
          "documentation" : "<p> Platform for the Amplify App. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "createTime",
        "c2jShape" : "CreateTime",
        "deprecated" : false,
        "documentation" : "<p> Create date / time for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Create date / time for the Amplify App. </p>\n@param createTime Create date / time for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreateTime",
        "getterDocumentation" : "/**<p> Create date / time for the Amplify App. </p>\n@return Create date / time for the Amplify App.*/",
        "getterMethodName" : "getCreateTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreateTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Create date / time for the Amplify App. </p>\n@param createTime Create date / time for the Amplify App.*/",
        "setterMethodName" : "setCreateTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Create date / time for the Amplify App. </p>\n@param createTime Create date / time for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p> Create date / time for the Amplify App. </p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "updateTime",
        "c2jShape" : "UpdateTime",
        "deprecated" : false,
        "documentation" : "<p> Update date / time for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Update date / time for the Amplify App. </p>\n@param updateTime Update date / time for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUpdateTime",
        "getterDocumentation" : "/**<p> Update date / time for the Amplify App. </p>\n@return Update date / time for the Amplify App.*/",
        "getterMethodName" : "getUpdateTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "updateTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "updateTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "UpdateTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Update date / time for the Amplify App. </p>\n@param updateTime Update date / time for the Amplify App.*/",
        "setterMethodName" : "setUpdateTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "updateTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Update date / time for the Amplify App. </p>\n@param updateTime Update date / time for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "updateTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p> Update date / time for the Amplify App. </p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "iamServiceRoleArn",
        "c2jShape" : "ServiceRoleArn",
        "deprecated" : false,
        "documentation" : "<p> IAM service role ARN for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> IAM service role ARN for the Amplify App. </p>\n@param iamServiceRoleArn IAM service role ARN for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIamServiceRoleArn",
        "getterDocumentation" : "/**<p> IAM service role ARN for the Amplify App. </p>\n@return IAM service role ARN for the Amplify App.*/",
        "getterMethodName" : "getIamServiceRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "iamServiceRoleArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "iamServiceRoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "IamServiceRoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> IAM service role ARN for the Amplify App. </p>\n@param iamServiceRoleArn IAM service role ARN for the Amplify App.*/",
        "setterMethodName" : "setIamServiceRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "iamServiceRoleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> IAM service role ARN for the Amplify App. </p>\n@param iamServiceRoleArn IAM service role ARN for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "iamServiceRoleArn",
          "variableType" : "String",
          "documentation" : "<p> IAM service role ARN for the Amplify App. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "environmentVariables",
        "c2jShape" : "EnvironmentVariables",
        "deprecated" : false,
        "documentation" : "<p> Environment Variables for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Environment Variables for the Amplify App. </p>\n@param environmentVariables Environment Variables for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnvironmentVariables",
        "getterDocumentation" : "/**<p> Environment Variables for the Amplify App. </p>\n@return Environment Variables for the Amplify App.*/",
        "getterMethodName" : "getEnvironmentVariables",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "environmentVariables",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "environmentVariables",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "EnvValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "EnvironmentVariables",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Environment Variables for the Amplify App. </p>\n@param environmentVariables Environment Variables for the Amplify App.*/",
        "setterMethodName" : "setEnvironmentVariables",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "environmentVariables",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Environment Variables for the Amplify App. </p>\n@param environmentVariables Environment Variables for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "environmentVariables",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p> Environment Variables for the Amplify App. </p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "defaultDomain",
        "c2jShape" : "DefaultDomain",
        "deprecated" : false,
        "documentation" : "<p> Default domain for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Default domain for the Amplify App. </p>\n@param defaultDomain Default domain for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDefaultDomain",
        "getterDocumentation" : "/**<p> Default domain for the Amplify App. </p>\n@return Default domain for the Amplify App.*/",
        "getterMethodName" : "getDefaultDomain",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "defaultDomain",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "defaultDomain",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DefaultDomain",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Default domain for the Amplify App. </p>\n@param defaultDomain Default domain for the Amplify App.*/",
        "setterMethodName" : "setDefaultDomain",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "defaultDomain",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Default domain for the Amplify App. </p>\n@param defaultDomain Default domain for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "defaultDomain",
          "variableType" : "String",
          "documentation" : "<p> Default domain for the Amplify App. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "enableBranchAutoBuild",
        "c2jShape" : "EnableBranchAutoBuild",
        "deprecated" : false,
        "documentation" : "<p> Enables auto-building of branches for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Enables auto-building of branches for the Amplify App. </p>\n@param enableBranchAutoBuild Enables auto-building of branches for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnableBranchAutoBuild",
        "getterDocumentation" : "/**<p> Enables auto-building of branches for the Amplify App. </p>\n@return Enables auto-building of branches for the Amplify App.*/",
        "getterMethodName" : "getEnableBranchAutoBuild",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "enableBranchAutoBuild",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "enableBranchAutoBuild",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "EnableBranchAutoBuild",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Enables auto-building of branches for the Amplify App. </p>\n@param enableBranchAutoBuild Enables auto-building of branches for the Amplify App.*/",
        "setterMethodName" : "setEnableBranchAutoBuild",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enableBranchAutoBuild",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Enables auto-building of branches for the Amplify App. </p>\n@param enableBranchAutoBuild Enables auto-building of branches for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enableBranchAutoBuild",
          "variableType" : "Boolean",
          "documentation" : "<p> Enables auto-building of branches for the Amplify App. </p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "enableBasicAuth",
        "c2jShape" : "EnableBasicAuth",
        "deprecated" : false,
        "documentation" : "<p> Enables Basic Authorization for branches for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Enables Basic Authorization for branches for the Amplify App. </p>\n@param enableBasicAuth Enables Basic Authorization for branches for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnableBasicAuth",
        "getterDocumentation" : "/**<p> Enables Basic Authorization for branches for the Amplify App. </p>\n@return Enables Basic Authorization for branches for the Amplify App.*/",
        "getterMethodName" : "getEnableBasicAuth",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "enableBasicAuth",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "enableBasicAuth",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "EnableBasicAuth",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Enables Basic Authorization for branches for the Amplify App. </p>\n@param enableBasicAuth Enables Basic Authorization for branches for the Amplify App.*/",
        "setterMethodName" : "setEnableBasicAuth",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enableBasicAuth",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Enables Basic Authorization for branches for the Amplify App. </p>\n@param enableBasicAuth Enables Basic Authorization for branches for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enableBasicAuth",
          "variableType" : "Boolean",
          "documentation" : "<p> Enables Basic Authorization for branches for the Amplify App. </p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "basicAuthCredentials",
        "c2jShape" : "BasicAuthCredentials",
        "deprecated" : false,
        "documentation" : "<p> Basic Authorization credentials for branches for the Amplify App. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Basic Authorization credentials for branches for the Amplify App. </p>\n@param basicAuthCredentials Basic Authorization credentials for branches for the Amplify App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBasicAuthCredentials",
        "getterDocumentation" : "/**<p> Basic Authorization credentials for branches for the Amplify App. </p>\n@return Basic Authorization credentials for branches for the Amplify App.*/",
        "getterMethodName" : "getBasicAuthCredentials",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "basicAuthCredentials",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "basicAuthCredentials",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
[...]
