{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-08-11",
    "asyncClient" : "AWSAmplifyBackendAsyncClient",
    "asyncClientBuilderClassName" : "AWSAmplifyBackendAsyncClientBuilder",
    "asyncInterface" : "AWSAmplifyBackendAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSAmplifyBackendModuleInjector",
    "defaultEndpoint" : "amplifybackend.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "amplifybackend.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Amplify Admin API</p>",
    "endpointPrefix" : "amplifybackend",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.amplifybackend",
    "packagePath" : "com/amazonaws/services/amplifybackend",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AmplifyBackend",
    "serviceId" : "AmplifyBackend",
    "serviceName" : "AmplifyBackend",
    "signingName" : "amplifybackend",
    "smokeTestsPackageName" : "com.amazonaws.services.amplifybackend.smoketests",
    "syncClient" : "AWSAmplifyBackendClient",
    "syncClientBuilderClassName" : "AWSAmplifyBackendClientBuilder",
    "syncInterface" : "AWSAmplifyBackend",
    "uid" : "amplifybackend-2020-08-11",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CloneBackend" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CloneBackendResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CloneBackendResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CloneBackendRequest, CloneBackendResult>",
      "asyncReturnType" : "CloneBackendResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation clones an existing backend.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CloneBackendRequest",
        "variableName" : "cloneBackendRequest",
        "variableType" : "CloneBackendRequest",
        "documentation" : "<p>The request body for CloneBackend.</p>",
        "simpleType" : "CloneBackendRequest",
        "variableSetterType" : "CloneBackendRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cloneBackend",
      "operationName" : "CloneBackend",
      "returnType" : {
        "returnType" : "CloneBackendResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "CloneBackendResult"
    },
    "CreateBackend" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBackendResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBackendResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBackendRequest, CreateBackendResult>",
      "asyncReturnType" : "CreateBackendResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation creates a backend for an Amplify app. Backends are automatically created at the time of app creation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBackendRequest",
        "variableName" : "createBackendRequest",
        "variableType" : "CreateBackendRequest",
        "documentation" : "<p>The request body for CreateBackend.</p>",
        "simpleType" : "CreateBackendRequest",
        "variableSetterType" : "CreateBackendRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBackend",
      "operationName" : "CreateBackend",
      "returnType" : {
        "returnType" : "CreateBackendResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "CreateBackendResult"
    },
    "CreateBackendAPI" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBackendAPIResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBackendAPIResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBackendAPIRequest, CreateBackendAPIResult>",
      "asyncReturnType" : "CreateBackendAPIResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new backend API resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBackendAPIRequest",
        "variableName" : "createBackendAPIRequest",
        "variableType" : "CreateBackendAPIRequest",
        "documentation" : "<p>The request body for CreateBackendAPI.</p>",
        "simpleType" : "CreateBackendAPIRequest",
        "variableSetterType" : "CreateBackendAPIRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBackendAPI",
      "operationName" : "CreateBackendAPI",
      "returnType" : {
        "returnType" : "CreateBackendAPIResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "CreateBackendAPIResult"
    },
    "CreateBackendAuth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBackendAuthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBackendAuthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBackendAuthRequest, CreateBackendAuthResult>",
      "asyncReturnType" : "CreateBackendAuthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new backend authentication resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBackendAuthRequest",
        "variableName" : "createBackendAuthRequest",
        "variableType" : "CreateBackendAuthRequest",
        "documentation" : "<p>The request body for CreateBackendAuth.</p>",
        "simpleType" : "CreateBackendAuthRequest",
        "variableSetterType" : "CreateBackendAuthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBackendAuth",
      "operationName" : "CreateBackendAuth",
      "returnType" : {
        "returnType" : "CreateBackendAuthResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "CreateBackendAuthResult"
    },
    "CreateBackendConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBackendConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBackendConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBackendConfigRequest, CreateBackendConfigResult>",
      "asyncReturnType" : "CreateBackendConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a config object for a backend.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBackendConfigRequest",
        "variableName" : "createBackendConfigRequest",
        "variableType" : "CreateBackendConfigRequest",
        "documentation" : "<p>The request body for CreateBackendConfig.</p>",
        "simpleType" : "CreateBackendConfigRequest",
        "variableSetterType" : "CreateBackendConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBackendConfig",
      "operationName" : "CreateBackendConfig",
      "returnType" : {
        "returnType" : "CreateBackendConfigResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "CreateBackendConfigResult"
    },
    "CreateToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTokenRequest, CreateTokenResult>",
      "asyncReturnType" : "CreateTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a one-time challenge code to authenticate a user into your Amplify Admin UI.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTokenRequest",
        "variableName" : "createTokenRequest",
        "variableType" : "CreateTokenRequest",
        "documentation" : "",
        "simpleType" : "CreateTokenRequest",
        "variableSetterType" : "CreateTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createToken",
      "operationName" : "CreateToken",
      "returnType" : {
        "returnType" : "CreateTokenResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "CreateTokenResult"
    },
    "DeleteBackend" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackendResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackendResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackendRequest, DeleteBackendResult>",
      "asyncReturnType" : "DeleteBackendResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes an existing environment from your Amplify project.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBackendRequest",
        "variableName" : "deleteBackendRequest",
        "variableType" : "DeleteBackendRequest",
        "documentation" : "",
        "simpleType" : "DeleteBackendRequest",
        "variableSetterType" : "DeleteBackendRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackend",
      "operationName" : "DeleteBackend",
      "returnType" : {
        "returnType" : "DeleteBackendResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "DeleteBackendResult"
    },
    "DeleteBackendAPI" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackendAPIResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackendAPIResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackendAPIRequest, DeleteBackendAPIResult>",
      "asyncReturnType" : "DeleteBackendAPIResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing backend API resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBackendAPIRequest",
        "variableName" : "deleteBackendAPIRequest",
        "variableType" : "DeleteBackendAPIRequest",
        "documentation" : "<p>The request body for DeleteBackendAPI.</p>",
        "simpleType" : "DeleteBackendAPIRequest",
        "variableSetterType" : "DeleteBackendAPIRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackendAPI",
      "operationName" : "DeleteBackendAPI",
      "returnType" : {
        "returnType" : "DeleteBackendAPIResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "DeleteBackendAPIResult"
    },
    "DeleteBackendAuth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackendAuthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackendAuthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackendAuthRequest, DeleteBackendAuthResult>",
      "asyncReturnType" : "DeleteBackendAuthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing backend authentication resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBackendAuthRequest",
        "variableName" : "deleteBackendAuthRequest",
        "variableType" : "DeleteBackendAuthRequest",
        "documentation" : "<p>The request body for DeleteBackendAuth.</p>",
        "simpleType" : "DeleteBackendAuthRequest",
        "variableSetterType" : "DeleteBackendAuthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackendAuth",
      "operationName" : "DeleteBackendAuth",
      "returnType" : {
        "returnType" : "DeleteBackendAuthResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "DeleteBackendAuthResult"
    },
    "DeleteToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTokenRequest, DeleteTokenResult>",
      "asyncReturnType" : "DeleteTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the challenge token based on the given appId and sessionId.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTokenRequest",
        "variableName" : "deleteTokenRequest",
        "variableType" : "DeleteTokenRequest",
        "documentation" : "",
        "simpleType" : "DeleteTokenRequest",
        "variableSetterType" : "DeleteTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteToken",
      "operationName" : "DeleteToken",
      "returnType" : {
        "returnType" : "DeleteTokenResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "DeleteTokenResult"
    },
    "GenerateBackendAPIModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateBackendAPIModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateBackendAPIModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateBackendAPIModelsRequest, GenerateBackendAPIModelsResult>",
      "asyncReturnType" : "GenerateBackendAPIModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a model schema for an existing backend API resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GenerateBackendAPIModelsRequest",
        "variableName" : "generateBackendAPIModelsRequest",
        "variableType" : "GenerateBackendAPIModelsRequest",
        "documentation" : "<p>The request body for GenerateBackendAPIModels.</p>",
        "simpleType" : "GenerateBackendAPIModelsRequest",
        "variableSetterType" : "GenerateBackendAPIModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generateBackendAPIModels",
      "operationName" : "GenerateBackendAPIModels",
      "returnType" : {
        "returnType" : "GenerateBackendAPIModelsResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "GenerateBackendAPIModelsResult"
    },
    "GetBackend" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBackendResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBackendResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBackendRequest, GetBackendResult>",
      "asyncReturnType" : "GetBackendResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides project-level details for your Amplify UI project.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBackendRequest",
        "variableName" : "getBackendRequest",
        "variableType" : "GetBackendRequest",
        "documentation" : "<p>The request body for GetBackend.</p>",
        "simpleType" : "GetBackendRequest",
        "variableSetterType" : "GetBackendRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBackend",
      "operationName" : "GetBackend",
      "returnType" : {
        "returnType" : "GetBackendResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "GetBackendResult"
    },
    "GetBackendAPI" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBackendAPIResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBackendAPIResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBackendAPIRequest, GetBackendAPIResult>",
      "asyncReturnType" : "GetBackendAPIResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details for a backend API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBackendAPIRequest",
        "variableName" : "getBackendAPIRequest",
        "variableType" : "GetBackendAPIRequest",
        "documentation" : "<p>The request body for GetBackendAPI.</p>",
        "simpleType" : "GetBackendAPIRequest",
        "variableSetterType" : "GetBackendAPIRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBackendAPI",
      "operationName" : "GetBackendAPI",
      "returnType" : {
        "returnType" : "GetBackendAPIResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "GetBackendAPIResult"
    },
    "GetBackendAPIModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBackendAPIModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBackendAPIModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBackendAPIModelsRequest, GetBackendAPIModelsResult>",
      "asyncReturnType" : "GetBackendAPIModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a model schema for existing backend API resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBackendAPIModelsRequest",
        "variableName" : "getBackendAPIModelsRequest",
        "variableType" : "GetBackendAPIModelsRequest",
        "documentation" : "<p>The request body for GetBackendAPIModels.</p>",
        "simpleType" : "GetBackendAPIModelsRequest",
        "variableSetterType" : "GetBackendAPIModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBackendAPIModels",
      "operationName" : "GetBackendAPIModels",
      "returnType" : {
        "returnType" : "GetBackendAPIModelsResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "GetBackendAPIModelsResult"
    },
    "GetBackendAuth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBackendAuthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBackendAuthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBackendAuthRequest, GetBackendAuthResult>",
      "asyncReturnType" : "GetBackendAuthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets backend auth details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBackendAuthRequest",
        "variableName" : "getBackendAuthRequest",
        "variableType" : "GetBackendAuthRequest",
        "documentation" : "<p>The request body for GetBackendAuth.</p>",
        "simpleType" : "GetBackendAuthRequest",
        "variableSetterType" : "GetBackendAuthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBackendAuth",
      "operationName" : "GetBackendAuth",
      "returnType" : {
        "returnType" : "GetBackendAuthResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "GetBackendAuthResult"
    },
    "GetBackendJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBackendJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBackendJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBackendJobRequest, GetBackendJobResult>",
      "asyncReturnType" : "GetBackendJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBackendJobRequest",
        "variableName" : "getBackendJobRequest",
        "variableType" : "GetBackendJobRequest",
        "documentation" : "",
        "simpleType" : "GetBackendJobRequest",
        "variableSetterType" : "GetBackendJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBackendJob",
      "operationName" : "GetBackendJob",
      "returnType" : {
        "returnType" : "GetBackendJobResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "GetBackendJobResult"
    },
    "GetToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTokenRequest, GetTokenResult>",
      "asyncReturnType" : "GetTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the challenge token based on the given appId and sessionId.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTokenRequest",
        "variableName" : "getTokenRequest",
        "variableType" : "GetTokenRequest",
        "documentation" : "",
        "simpleType" : "GetTokenRequest",
        "variableSetterType" : "GetTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getToken",
      "operationName" : "GetToken",
      "returnType" : {
        "returnType" : "GetTokenResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "GetTokenResult"
    },
    "ListBackendJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBackendJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBackendJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBackendJobsRequest, ListBackendJobsResult>",
      "asyncReturnType" : "ListBackendJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the jobs for the backend of an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBackendJobsRequest",
        "variableName" : "listBackendJobsRequest",
        "variableType" : "ListBackendJobsRequest",
        "documentation" : "<p>The request body for ListBackendJobs.</p>",
        "simpleType" : "ListBackendJobsRequest",
        "variableSetterType" : "ListBackendJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBackendJobs",
      "operationName" : "ListBackendJobs",
      "returnType" : {
        "returnType" : "ListBackendJobsResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "ListBackendJobsResult"
    },
    "RemoveAllBackends" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveAllBackendsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveAllBackendsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveAllBackendsRequest, RemoveAllBackendsResult>",
      "asyncReturnType" : "RemoveAllBackendsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes all backend environments from your Amplify project.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveAllBackendsRequest",
        "variableName" : "removeAllBackendsRequest",
        "variableType" : "RemoveAllBackendsRequest",
        "documentation" : "<p>The request body for RemoveAllBackends.</p>",
        "simpleType" : "RemoveAllBackendsRequest",
        "variableSetterType" : "RemoveAllBackendsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeAllBackends",
      "operationName" : "RemoveAllBackends",
      "returnType" : {
        "returnType" : "RemoveAllBackendsResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "RemoveAllBackendsResult"
    },
    "RemoveBackendConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveBackendConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveBackendConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveBackendConfigRequest, RemoveBackendConfigResult>",
      "asyncReturnType" : "RemoveBackendConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the AWS resources that are required to access the Amplify Admin UI.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveBackendConfigRequest",
        "variableName" : "removeBackendConfigRequest",
        "variableType" : "RemoveBackendConfigRequest",
        "documentation" : "",
        "simpleType" : "RemoveBackendConfigRequest",
        "variableSetterType" : "RemoveBackendConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeBackendConfig",
      "operationName" : "RemoveBackendConfig",
      "returnType" : {
        "returnType" : "RemoveBackendConfigResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "RemoveBackendConfigResult"
    },
    "UpdateBackendAPI" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBackendAPIResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBackendAPIResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBackendAPIRequest, UpdateBackendAPIResult>",
      "asyncReturnType" : "UpdateBackendAPIResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing backend API resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBackendAPIRequest",
        "variableName" : "updateBackendAPIRequest",
        "variableType" : "UpdateBackendAPIRequest",
        "documentation" : "<p>The request body for UpdateBackendAPI.</p>",
        "simpleType" : "UpdateBackendAPIRequest",
        "variableSetterType" : "UpdateBackendAPIRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBackendAPI",
      "operationName" : "UpdateBackendAPI",
      "returnType" : {
        "returnType" : "UpdateBackendAPIResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "UpdateBackendAPIResult"
    },
    "UpdateBackendAuth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBackendAuthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBackendAuthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBackendAuthRequest, UpdateBackendAuthResult>",
      "asyncReturnType" : "UpdateBackendAuthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing backend authentication resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBackendAuthRequest",
        "variableName" : "updateBackendAuthRequest",
        "variableType" : "UpdateBackendAuthRequest",
        "documentation" : "<p>The request body for UpdateBackendAuth.</p>",
        "simpleType" : "UpdateBackendAuthRequest",
        "variableSetterType" : "UpdateBackendAuthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBackendAuth",
      "operationName" : "UpdateBackendAuth",
      "returnType" : {
        "returnType" : "UpdateBackendAuthResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "UpdateBackendAuthResult"
    },
    "UpdateBackendConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBackendConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBackendConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBackendConfigRequest, UpdateBackendConfigResult>",
      "asyncReturnType" : "UpdateBackendConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the AWS resources that are required to access the Amplify Admin UI.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBackendConfigRequest",
        "variableName" : "updateBackendConfigRequest",
        "variableType" : "UpdateBackendConfigRequest",
        "documentation" : "<p>The request body for UpdateBackendConfig.</p>",
        "simpleType" : "UpdateBackendConfigRequest",
        "variableSetterType" : "UpdateBackendConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBackendConfig",
      "operationName" : "UpdateBackendConfig",
      "returnType" : {
        "returnType" : "UpdateBackendConfigResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "UpdateBackendConfigResult"
    },
    "UpdateBackendJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBackendJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBackendJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBackendJobRequest, UpdateBackendJobResult>",
      "asyncReturnType" : "UpdateBackendJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a specific job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "GatewayTimeoutException",
        "documentation" : "<p>504 response</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBackendJobRequest",
        "variableName" : "updateBackendJobRequest",
        "variableType" : "UpdateBackendJobRequest",
        "documentation" : "<p>The request body for GetBackendJob.</p>",
        "simpleType" : "UpdateBackendJobRequest",
        "variableSetterType" : "UpdateBackendJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBackendJob",
      "operationName" : "UpdateBackendJob",
      "returnType" : {
        "returnType" : "UpdateBackendJobResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "UpdateBackendJobResult"
    }
  },
  "shapes" : {
    "AdditionalConstraintsElement" : {
      "c2jName" : "AdditionalConstraintsElement",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "REQUIRE_DIGIT",
        "value" : "REQUIRE_DIGIT"
      }, {
        "name" : "REQUIRE_LOWERCASE",
        "value" : "REQUIRE_LOWERCASE"
      }, {
        "name" : "REQUIRE_SYMBOL",
        "value" : "REQUIRE_SYMBOL"
      }, {
        "name" : "REQUIRE_UPPERCASE",
        "value" : "REQUIRE_UPPERCASE"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.amplifybackend.enum.AdditionalConstraintsElement",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.amplifybackend.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AdditionalConstraintsElement",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AdditionalConstraintsElement",
        "variableName" : "additionalConstraintsElement",
        "variableType" : "AdditionalConstraintsElement",
        "documentation" : null,
        "simpleType" : "AdditionalConstraintsElement",
        "variableSetterType" : "AdditionalConstraintsElement"
      },
      "wrapper" : false
    },
    "AuthResources" : {
      "c2jName" : "AuthResources",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "USER_POOL_ONLY",
        "value" : "USER_POOL_ONLY"
      }, {
        "name" : "IDENTITY_POOL_AND_USER_POOL",
        "value" : "IDENTITY_POOL_AND_USER_POOL"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.amplifybackend.enum.AuthResources",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.amplifybackend.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AuthResources",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthResources",
        "variableName" : "authResources",
        "variableType" : "AuthResources",
        "documentation" : null,
        "simpleType" : "AuthResources",
        "variableSetterType" : "AuthResources"
      },
      "wrapper" : false
    },
    "BackendAPIAppSyncAuthSettings" : {
      "c2jName" : "BackendAPIAppSyncAuthSettings",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The authentication settings for accessing provisioned data models in your Amplify project.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.amplifybackend.model.BackendAPIAppSyncAuthSettings",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CognitoUserPoolId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.</p>\n@param cognitoUserPoolId The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCognitoUserPoolId",
        "getterDocumentation" : "/**<p>The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.</p>\n@return The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.*/",
        "getterMethodName" : "getCognitoUserPoolId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cognitoUserPoolId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cognitoUserPoolId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CognitoUserPoolId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.</p>\n@param cognitoUserPoolId The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.*/",
        "setterMethodName" : "setCognitoUserPoolId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cognitoUserPoolId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.</p>\n@param cognitoUserPoolId The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cognitoUserPoolId",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@param description The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@return The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@param description The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@param description The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ExpirationTime",
        "c2jShape" : "__double",
        "deprecated" : false,
        "documentation" : "<p>The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@param expirationTime The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExpirationTime",
        "getterDocumentation" : "/**<p>The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@return The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.*/",
        "getterMethodName" : "getExpirationTime",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "expirationTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "expirationTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "ExpirationTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@param expirationTime The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.*/",
        "setterMethodName" : "setExpirationTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "expirationTime",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@param expirationTime The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "expirationTime",
          "variableType" : "Double",
          "documentation" : "<p>The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OpenIDAuthTTL",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The expiry time for the OpenID authentication mechanism.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The expiry time for the OpenID authentication mechanism.</p>\n@param openIDAuthTTL The expiry time for the OpenID authentication mechanism.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOpenIDAuthTTL",
        "getterDocumentation" : "/**<p>The expiry time for the OpenID authentication mechanism.</p>\n@return The expiry time for the OpenID authentication mechanism.*/",
        "getterMethodName" : "getOpenIDAuthTTL",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "openIDAuthTTL",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "openIDAuthTTL",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OpenIDAuthTTL",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The expiry time for the OpenID authentication mechanism.</p>\n@param openIDAuthTTL The expiry time for the OpenID authentication mechanism.*/",
        "setterMethodName" : "setOpenIDAuthTTL",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "openIDAuthTTL",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The expiry time for the OpenID authentication mechanism.</p>\n@param openIDAuthTTL The expiry time for the OpenID authentication mechanism.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "openIDAuthTTL",
          "variableType" : "String",
          "documentation" : "<p>The expiry time for the OpenID authentication mechanism.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OpenIDClientId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The clientID for openID, if openID is used as an authentication setting to access your data models.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The clientID for openID, if openID is used as an authentication setting to access your data models.</p>\n@param openIDClientId The clientID for openID, if openID is used as an authentication setting to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOpenIDClientId",
        "getterDocumentation" : "/**<p>The clientID for openID, if openID is used as an authentication setting to access your data models.</p>\n@return The clientID for openID, if openID is used as an authentication setting to access your data models.*/",
        "getterMethodName" : "getOpenIDClientId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "openIDClientId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "openIDClientId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OpenIDClientId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The clientID for openID, if openID is used as an authentication setting to access your data models.</p>\n@param openIDClientId The clientID for openID, if openID is used as an authentication setting to access your data models.*/",
        "setterMethodName" : "setOpenIDClientId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "openIDClientId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The clientID for openID, if openID is used as an authentication setting to access your data models.</p>\n@param openIDClientId The clientID for openID, if openID is used as an authentication setting to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "openIDClientId",
          "variableType" : "String",
          "documentation" : "<p>The clientID for openID, if openID is used as an authentication setting to access your data models.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OpenIDIatTTL",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The expiry time for the OpenID authentication mechanism.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The expiry time for the OpenID authentication mechanism.</p>\n@param openIDIatTTL The expiry time for the OpenID authentication mechanism.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOpenIDIatTTL",
        "getterDocumentation" : "/**<p>The expiry time for the OpenID authentication mechanism.</p>\n@return The expiry time for the OpenID authentication mechanism.*/",
        "getterMethodName" : "getOpenIDIatTTL",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "openIDIatTTL",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "openIDIatTTL",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OpenIDIatTTL",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The expiry time for the OpenID authentication mechanism.</p>\n@param openIDIatTTL The expiry time for the OpenID authentication mechanism.*/",
        "setterMethodName" : "setOpenIDIatTTL",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "openIDIatTTL",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The expiry time for the OpenID authentication mechanism.</p>\n@param openIDIatTTL The expiry time for the OpenID authentication mechanism.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "openIDIatTTL",
          "variableType" : "String",
          "documentation" : "<p>The expiry time for the OpenID authentication mechanism.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OpenIDIssueURL",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The openID issuer URL, if openID is used as an authentication setting to access your data models.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The openID issuer URL, if openID is used as an authentication setting to access your data models.</p>\n@param openIDIssueURL The openID issuer URL, if openID is used as an authentication setting to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOpenIDIssueURL",
        "getterDocumentation" : "/**<p>The openID issuer URL, if openID is used as an authentication setting to access your data models.</p>\n@return The openID issuer URL, if openID is used as an authentication setting to access your data models.*/",
        "getterMethodName" : "getOpenIDIssueURL",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "openIDIssueURL",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "openIDIssueURL",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OpenIDIssueURL",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The openID issuer URL, if openID is used as an authentication setting to access your data models.</p>\n@param openIDIssueURL The openID issuer URL, if openID is used as an authentication setting to access your data models.*/",
        "setterMethodName" : "setOpenIDIssueURL",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "openIDIssueURL",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The openID issuer URL, if openID is used as an authentication setting to access your data models.</p>\n@param openIDIssueURL The openID issuer URL, if openID is used as an authentication setting to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "openIDIssueURL",
          "variableType" : "String",
          "documentation" : "<p>The openID issuer URL, if openID is used as an authentication setting to access your data models.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OpenIDProviderName",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The openID provider name, if openID is used as an authentication mechanism to access your data models.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The openID provider name, if openID is used as an authentication mechanism to access your data models.</p>\n@param openIDProviderName The openID provider name, if openID is used as an authentication mechanism to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOpenIDProviderName",
        "getterDocumentation" : "/**<p>The openID provider name, if openID is used as an authentication mechanism to access your data models.</p>\n@return The openID provider name, if openID is used as an authentication mechanism to access your data models.*/",
        "getterMethodName" : "getOpenIDProviderName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "openIDProviderName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "openIDProviderName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OpenIDProviderName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The openID provider name, if openID is used as an authentication mechanism to access your data models.</p>\n@param openIDProviderName The openID provider name, if openID is used as an authentication mechanism to access your data models.*/",
        "setterMethodName" : "setOpenIDProviderName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "openIDProviderName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The openID provider name, if openID is used as an authentication mechanism to access your data models.</p>\n@param openIDProviderName The openID provider name, if openID is used as an authentication mechanism to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "openIDProviderName",
          "variableType" : "String",
          "documentation" : "<p>The openID provider name, if openID is used as an authentication mechanism to access your data models.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CognitoUserPoolId" : {
          "c2jName" : "CognitoUserPoolId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.</p>\n@param cognitoUserPoolId The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCognitoUserPoolId",
          "getterDocumentation" : "/**<p>The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.</p>\n@return The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.*/",
          "getterMethodName" : "getCognitoUserPoolId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "cognitoUserPoolId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "cognitoUserPoolId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CognitoUserPoolId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.</p>\n@param cognitoUserPoolId The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.*/",
          "setterMethodName" : "setCognitoUserPoolId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cognitoUserPoolId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.</p>\n@param cognitoUserPoolId The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cognitoUserPoolId",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@param description The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@return The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@param description The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@param description The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ExpirationTime" : {
          "c2jName" : "ExpirationTime",
          "c2jShape" : "__double",
          "deprecated" : false,
          "documentation" : "<p>The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@param expirationTime The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExpirationTime",
          "getterDocumentation" : "/**<p>The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@return The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.*/",
          "getterMethodName" : "getExpirationTime",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "expirationTime",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "expirationTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "ExpirationTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@param expirationTime The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.*/",
          "setterMethodName" : "setExpirationTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "expirationTime",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.</p>\n@param expirationTime The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "expirationTime",
            "variableType" : "Double",
            "documentation" : "<p>The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "OpenIDAuthTTL" : {
          "c2jName" : "OpenIDAuthTTL",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The expiry time for the OpenID authentication mechanism.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The expiry time for the OpenID authentication mechanism.</p>\n@param openIDAuthTTL The expiry time for the OpenID authentication mechanism.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOpenIDAuthTTL",
          "getterDocumentation" : "/**<p>The expiry time for the OpenID authentication mechanism.</p>\n@return The expiry time for the OpenID authentication mechanism.*/",
          "getterMethodName" : "getOpenIDAuthTTL",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "openIDAuthTTL",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "openIDAuthTTL",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OpenIDAuthTTL",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The expiry time for the OpenID authentication mechanism.</p>\n@param openIDAuthTTL The expiry time for the OpenID authentication mechanism.*/",
          "setterMethodName" : "setOpenIDAuthTTL",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "openIDAuthTTL",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The expiry time for the OpenID authentication mechanism.</p>\n@param openIDAuthTTL The expiry time for the OpenID authentication mechanism.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
[...]
