{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-07-25",
    "asyncClient" : "AWSAmplifyAsyncClient",
    "asyncClientBuilderClassName" : "AWSAmplifyAsyncClientBuilder",
    "asyncInterface" : "AWSAmplifyAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSAmplifyModuleInjector",
    "defaultEndpoint" : "amplify.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "amplify.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amplify enables developers to develop and deploy cloud-powered mobile and web apps. The Amplify Console provides a continuous delivery and hosting service for web applications. For more information, see the <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/welcome.html\">Amplify Console User Guide</a>. The Amplify Framework is a comprehensive set of SDKs, libraries, tools, and documentation for client app development. For more information, see the <a href=\"https://docs.amplify.aws/\">Amplify Framework.</a> </p>",
    "endpointPrefix" : "amplify",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.amplify",
    "packagePath" : "com/amazonaws/services/amplify",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amplify",
    "serviceFullName" : "AWS Amplify",
    "serviceId" : "Amplify",
    "serviceName" : "Amplify",
    "signingName" : "amplify",
    "smokeTestsPackageName" : "com.amazonaws.services.amplify.smoketests",
    "syncClient" : "AWSAmplifyClient",
    "syncClientBuilderClassName" : "AWSAmplifyClientBuilder",
    "syncInterface" : "AWSAmplify",
    "uid" : "amplify-2017-07-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppRequest, CreateAppResult>",
      "asyncReturnType" : "CreateAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> An operation failed because a dependent service threw an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppRequest",
        "variableName" : "createAppRequest",
        "variableType" : "CreateAppRequest",
        "documentation" : "<p> The request structure used to create apps in Amplify. </p>",
        "simpleType" : "CreateAppRequest",
        "variableSetterType" : "CreateAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApp",
      "operationName" : "CreateApp",
      "returnType" : {
        "returnType" : "CreateAppResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppResult"
    },
    "CreateBackendEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBackendEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBackendEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBackendEnvironmentRequest, CreateBackendEnvironmentResult>",
      "asyncReturnType" : "CreateBackendEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new backend environment for an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBackendEnvironmentRequest",
        "variableName" : "createBackendEnvironmentRequest",
        "variableType" : "CreateBackendEnvironmentRequest",
        "documentation" : "<p> The request structure for the backend environment create request. </p>",
        "simpleType" : "CreateBackendEnvironmentRequest",
        "variableSetterType" : "CreateBackendEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBackendEnvironment",
      "operationName" : "CreateBackendEnvironment",
      "returnType" : {
        "returnType" : "CreateBackendEnvironmentResult",
        "documentation" : "<p> The result structure for the create backend environment request. </p>"
      },
      "syncReturnType" : "CreateBackendEnvironmentResult"
    },
    "CreateBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBranchRequest, CreateBranchResult>",
      "asyncReturnType" : "CreateBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new branch for an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> An operation failed because a dependent service threw an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBranchRequest",
        "variableName" : "createBranchRequest",
        "variableType" : "CreateBranchRequest",
        "documentation" : "<p> The request structure for the create branch request. </p>",
        "simpleType" : "CreateBranchRequest",
        "variableSetterType" : "CreateBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBranch",
      "operationName" : "CreateBranch",
      "returnType" : {
        "returnType" : "CreateBranchResult",
        "documentation" : "<p> The result structure for create branch request. </p>"
      },
      "syncReturnType" : "CreateBranchResult"
    },
    "CreateDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeploymentRequest, CreateDeploymentResult>",
      "asyncReturnType" : "CreateDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a deployment for a manually deployed Amplify app. Manually deployed apps are not connected to a repository. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDeploymentRequest",
        "variableName" : "createDeploymentRequest",
        "variableType" : "CreateDeploymentRequest",
        "documentation" : "<p> The request structure for the create a new deployment request. </p>",
        "simpleType" : "CreateDeploymentRequest",
        "variableSetterType" : "CreateDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeployment",
      "operationName" : "CreateDeployment",
      "returnType" : {
        "returnType" : "CreateDeploymentResult",
        "documentation" : "<p> The result structure for the create a new deployment request. </p>"
      },
      "syncReturnType" : "CreateDeploymentResult"
    },
    "CreateDomainAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDomainAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDomainAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDomainAssociationRequest, CreateDomainAssociationResult>",
      "asyncReturnType" : "CreateDomainAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new domain association for an Amplify app. This action associates a custom domain with the Amplify app </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> An operation failed because a dependent service threw an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDomainAssociationRequest",
        "variableName" : "createDomainAssociationRequest",
        "variableType" : "CreateDomainAssociationRequest",
        "documentation" : "<p> The request structure for the create domain association request. </p>",
        "simpleType" : "CreateDomainAssociationRequest",
        "variableSetterType" : "CreateDomainAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDomainAssociation",
      "operationName" : "CreateDomainAssociation",
      "returnType" : {
        "returnType" : "CreateDomainAssociationResult",
        "documentation" : "<p> The result structure for the create domain association request. </p>"
      },
      "syncReturnType" : "CreateDomainAssociationResult"
    },
    "CreateWebhook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWebhookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWebhookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWebhookRequest, CreateWebhookResult>",
      "asyncReturnType" : "CreateWebhookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new webhook on an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> An operation failed because a dependent service threw an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWebhookRequest",
        "variableName" : "createWebhookRequest",
        "variableType" : "CreateWebhookRequest",
        "documentation" : "<p> The request structure for the create webhook request. </p>",
        "simpleType" : "CreateWebhookRequest",
        "variableSetterType" : "CreateWebhookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWebhook",
      "operationName" : "CreateWebhook",
      "returnType" : {
        "returnType" : "CreateWebhookResult",
        "documentation" : "<p> The result structure for the create webhook request. </p>"
      },
      "syncReturnType" : "CreateWebhookResult"
    },
    "DeleteApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppRequest, DeleteAppResult>",
      "asyncReturnType" : "DeleteAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes an existing Amplify app specified by an app ID. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> An operation failed because a dependent service threw an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppRequest",
        "variableName" : "deleteAppRequest",
        "variableType" : "DeleteAppRequest",
        "documentation" : "<p> Describes the request structure for the delete app request. </p>",
        "simpleType" : "DeleteAppRequest",
        "variableSetterType" : "DeleteAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApp",
      "operationName" : "DeleteApp",
      "returnType" : {
        "returnType" : "DeleteAppResult",
        "documentation" : "<p> The result structure for the delete app request. </p>"
      },
      "syncReturnType" : "DeleteAppResult"
    },
    "DeleteBackendEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackendEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackendEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackendEnvironmentRequest, DeleteBackendEnvironmentResult>",
      "asyncReturnType" : "DeleteBackendEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a backend environment for an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> An operation failed because a dependent service threw an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBackendEnvironmentRequest",
        "variableName" : "deleteBackendEnvironmentRequest",
        "variableType" : "DeleteBackendEnvironmentRequest",
        "documentation" : "<p> The request structure for the delete backend environment request. </p>",
        "simpleType" : "DeleteBackendEnvironmentRequest",
        "variableSetterType" : "DeleteBackendEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackendEnvironment",
      "operationName" : "DeleteBackendEnvironment",
      "returnType" : {
        "returnType" : "DeleteBackendEnvironmentResult",
        "documentation" : "<p> The result structure of the delete backend environment result. </p>"
      },
      "syncReturnType" : "DeleteBackendEnvironmentResult"
    },
    "DeleteBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBranchRequest, DeleteBranchResult>",
      "asyncReturnType" : "DeleteBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a branch for an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> An operation failed because a dependent service threw an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBranchRequest",
        "variableName" : "deleteBranchRequest",
        "variableType" : "DeleteBranchRequest",
        "documentation" : "<p> The request structure for the delete branch request. </p>",
        "simpleType" : "DeleteBranchRequest",
        "variableSetterType" : "DeleteBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBranch",
      "operationName" : "DeleteBranch",
      "returnType" : {
        "returnType" : "DeleteBranchResult",
        "documentation" : "<p> The result structure for the delete branch request. </p>"
      },
      "syncReturnType" : "DeleteBranchResult"
    },
    "DeleteDomainAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDomainAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDomainAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDomainAssociationRequest, DeleteDomainAssociationResult>",
      "asyncReturnType" : "DeleteDomainAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a domain association for an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> An operation failed because a dependent service threw an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDomainAssociationRequest",
        "variableName" : "deleteDomainAssociationRequest",
        "variableType" : "DeleteDomainAssociationRequest",
        "documentation" : "<p> The request structure for the delete domain association request. </p>",
        "simpleType" : "DeleteDomainAssociationRequest",
        "variableSetterType" : "DeleteDomainAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDomainAssociation",
      "operationName" : "DeleteDomainAssociation",
      "returnType" : {
        "returnType" : "DeleteDomainAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDomainAssociationResult"
    },
    "DeleteJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteJobRequest, DeleteJobResult>",
      "asyncReturnType" : "DeleteJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a job for a branch of an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteJobRequest",
        "variableName" : "deleteJobRequest",
        "variableType" : "DeleteJobRequest",
        "documentation" : "<p> The request structure for the delete job request. </p>",
        "simpleType" : "DeleteJobRequest",
        "variableSetterType" : "DeleteJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteJob",
      "operationName" : "DeleteJob",
      "returnType" : {
        "returnType" : "DeleteJobResult",
        "documentation" : "<p> The result structure for the delete job request. </p>"
      },
      "syncReturnType" : "DeleteJobResult"
    },
    "DeleteWebhook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWebhookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWebhookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWebhookRequest, DeleteWebhookResult>",
      "asyncReturnType" : "DeleteWebhookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a webhook. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWebhookRequest",
        "variableName" : "deleteWebhookRequest",
        "variableType" : "DeleteWebhookRequest",
        "documentation" : "<p> The request structure for the delete webhook request. </p>",
        "simpleType" : "DeleteWebhookRequest",
        "variableSetterType" : "DeleteWebhookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWebhook",
      "operationName" : "DeleteWebhook",
      "returnType" : {
        "returnType" : "DeleteWebhookResult",
        "documentation" : "<p> The result structure for the delete webhook request. </p>"
      },
      "syncReturnType" : "DeleteWebhookResult"
    },
    "GenerateAccessLogs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateAccessLogsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateAccessLogsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateAccessLogsRequest, GenerateAccessLogsResult>",
      "asyncReturnType" : "GenerateAccessLogsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the website access logs for a specific time range using a presigned URL. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GenerateAccessLogsRequest",
        "variableName" : "generateAccessLogsRequest",
        "variableType" : "GenerateAccessLogsRequest",
        "documentation" : "<p> The request structure for the generate access logs request. </p>",
        "simpleType" : "GenerateAccessLogsRequest",
        "variableSetterType" : "GenerateAccessLogsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generateAccessLogs",
      "operationName" : "GenerateAccessLogs",
      "returnType" : {
        "returnType" : "GenerateAccessLogsResult",
        "documentation" : "<p> The result structure for the generate access logs request. </p>"
      },
      "syncReturnType" : "GenerateAccessLogsResult"
    },
    "GetApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppRequest, GetAppResult>",
      "asyncReturnType" : "GetAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns an existing Amplify app by appID. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppRequest",
        "variableName" : "getAppRequest",
        "variableType" : "GetAppRequest",
        "documentation" : "<p> The request structure for the get app request. </p>",
        "simpleType" : "GetAppRequest",
        "variableSetterType" : "GetAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApp",
      "operationName" : "GetApp",
      "returnType" : {
        "returnType" : "GetAppResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppResult"
    },
    "GetArtifactUrl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetArtifactUrlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetArtifactUrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetArtifactUrlRequest, GetArtifactUrlResult>",
      "asyncReturnType" : "GetArtifactUrlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the artifact info that corresponds to an artifact id. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetArtifactUrlRequest",
        "variableName" : "getArtifactUrlRequest",
        "variableType" : "GetArtifactUrlRequest",
        "documentation" : "<p> Returns the request structure for the get artifact request. </p>",
        "simpleType" : "GetArtifactUrlRequest",
        "variableSetterType" : "GetArtifactUrlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getArtifactUrl",
      "operationName" : "GetArtifactUrl",
      "returnType" : {
        "returnType" : "GetArtifactUrlResult",
        "documentation" : "<p> Returns the result structure for the get artifact request. </p>"
      },
      "syncReturnType" : "GetArtifactUrlResult"
    },
    "GetBackendEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBackendEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBackendEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBackendEnvironmentRequest, GetBackendEnvironmentResult>",
      "asyncReturnType" : "GetBackendEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a backend environment for an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBackendEnvironmentRequest",
        "variableName" : "getBackendEnvironmentRequest",
        "variableType" : "GetBackendEnvironmentRequest",
        "documentation" : "<p> The request structure for the get backend environment request. </p>",
        "simpleType" : "GetBackendEnvironmentRequest",
        "variableSetterType" : "GetBackendEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBackendEnvironment",
      "operationName" : "GetBackendEnvironment",
      "returnType" : {
        "returnType" : "GetBackendEnvironmentResult",
        "documentation" : "<p> The result structure for the get backend environment result. </p>"
      },
      "syncReturnType" : "GetBackendEnvironmentResult"
    },
    "GetBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBranchRequest, GetBranchResult>",
      "asyncReturnType" : "GetBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a branch for an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBranchRequest",
        "variableName" : "getBranchRequest",
        "variableType" : "GetBranchRequest",
        "documentation" : "<p> The request structure for the get branch request. </p>",
        "simpleType" : "GetBranchRequest",
        "variableSetterType" : "GetBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBranch",
      "operationName" : "GetBranch",
      "returnType" : {
        "returnType" : "GetBranchResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBranchResult"
    },
    "GetDomainAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainAssociationRequest, GetDomainAssociationResult>",
      "asyncReturnType" : "GetDomainAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the domain information for an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDomainAssociationRequest",
        "variableName" : "getDomainAssociationRequest",
        "variableType" : "GetDomainAssociationRequest",
        "documentation" : "<p> The request structure for the get domain association request. </p>",
        "simpleType" : "GetDomainAssociationRequest",
        "variableSetterType" : "GetDomainAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDomainAssociation",
      "operationName" : "GetDomainAssociation",
      "returnType" : {
        "returnType" : "GetDomainAssociationResult",
        "documentation" : "<p> The result structure for the get domain association request. </p>"
      },
      "syncReturnType" : "GetDomainAssociationResult"
    },
    "GetJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobRequest, GetJobResult>",
      "asyncReturnType" : "GetJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a job for a branch of an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetJobRequest",
        "variableName" : "getJobRequest",
        "variableType" : "GetJobRequest",
        "documentation" : "<p> The request structure for the get job request. </p>",
        "simpleType" : "GetJobRequest",
        "variableSetterType" : "GetJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getJob",
      "operationName" : "GetJob",
      "returnType" : {
        "returnType" : "GetJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetJobResult"
    },
    "GetWebhook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWebhookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWebhookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWebhookRequest, GetWebhookResult>",
      "asyncReturnType" : "GetWebhookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the webhook information that corresponds to a specified webhook ID. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWebhookRequest",
        "variableName" : "getWebhookRequest",
        "variableType" : "GetWebhookRequest",
        "documentation" : "<p> The request structure for the get webhook request. </p>",
        "simpleType" : "GetWebhookRequest",
        "variableSetterType" : "GetWebhookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWebhook",
      "operationName" : "GetWebhook",
      "returnType" : {
        "returnType" : "GetWebhookResult",
        "documentation" : "<p> The result structure for the get webhook request. </p>"
      },
      "syncReturnType" : "GetWebhookResult"
    },
    "ListApps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppsRequest, ListAppsResult>",
      "asyncReturnType" : "ListAppsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of the existing Amplify apps. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppsRequest",
        "variableName" : "listAppsRequest",
        "variableType" : "ListAppsRequest",
        "documentation" : "<p> The request structure for the list apps request. </p>",
        "simpleType" : "ListAppsRequest",
        "variableSetterType" : "ListAppsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApps",
      "operationName" : "ListApps",
      "returnType" : {
        "returnType" : "ListAppsResult",
        "documentation" : "<p> The result structure for an Amplify app list request. </p>"
      },
      "syncReturnType" : "ListAppsResult"
    },
    "ListArtifacts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListArtifactsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListArtifactsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListArtifactsRequest, ListArtifactsResult>",
      "asyncReturnType" : "ListArtifactsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of artifacts for a specified app, branch, and job. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListArtifactsRequest",
        "variableName" : "listArtifactsRequest",
        "variableType" : "ListArtifactsRequest",
        "documentation" : "<p> Describes the request structure for the list artifacts request. </p>",
        "simpleType" : "ListArtifactsRequest",
        "variableSetterType" : "ListArtifactsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listArtifacts",
      "operationName" : "ListArtifacts",
      "returnType" : {
        "returnType" : "ListArtifactsResult",
        "documentation" : "<p> The result structure for the list artifacts request. </p>"
      },
      "syncReturnType" : "ListArtifactsResult"
    },
    "ListBackendEnvironments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBackendEnvironmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBackendEnvironmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBackendEnvironmentsRequest, ListBackendEnvironmentsResult>",
      "asyncReturnType" : "ListBackendEnvironmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists the backend environments for an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBackendEnvironmentsRequest",
        "variableName" : "listBackendEnvironmentsRequest",
        "variableType" : "ListBackendEnvironmentsRequest",
        "documentation" : "<p> The request structure for the list backend environments request. </p>",
        "simpleType" : "ListBackendEnvironmentsRequest",
        "variableSetterType" : "ListBackendEnvironmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBackendEnvironments",
      "operationName" : "ListBackendEnvironments",
      "returnType" : {
        "returnType" : "ListBackendEnvironmentsResult",
        "documentation" : "<p> The result structure for the list backend environments result. </p>"
      },
      "syncReturnType" : "ListBackendEnvironmentsResult"
    },
    "ListBranches" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBranchesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBranchesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBranchesRequest, ListBranchesResult>",
      "asyncReturnType" : "ListBranchesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists the branches of an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBranchesRequest",
        "variableName" : "listBranchesRequest",
        "variableType" : "ListBranchesRequest",
        "documentation" : "<p> The request structure for the list branches request. </p>",
        "simpleType" : "ListBranchesRequest",
        "variableSetterType" : "ListBranchesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBranches",
      "operationName" : "ListBranches",
      "returnType" : {
        "returnType" : "ListBranchesResult",
        "documentation" : "<p> The result structure for the list branches request. </p>"
      },
      "syncReturnType" : "ListBranchesResult"
    },
    "ListDomainAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainAssociationsRequest, ListDomainAssociationsResult>",
      "asyncReturnType" : "ListDomainAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the domain associations for an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDomainAssociationsRequest",
        "variableName" : "listDomainAssociationsRequest",
        "variableType" : "ListDomainAssociationsRequest",
        "documentation" : "<p> The request structure for the list domain associations request. </p>",
        "simpleType" : "ListDomainAssociationsRequest",
        "variableSetterType" : "ListDomainAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomainAssociations",
      "operationName" : "ListDomainAssociations",
      "returnType" : {
        "returnType" : "ListDomainAssociationsResult",
        "documentation" : "<p> The result structure for the list domain association request. </p>"
      },
      "syncReturnType" : "ListDomainAssociationsResult"
    },
    "ListJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "asyncReturnType" : "ListJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists the jobs for a branch of an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJobsRequest",
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "documentation" : "<p> The request structure for the list jobs request. </p>",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobs",
      "operationName" : "ListJobs",
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : "<p> The maximum number of records to list in a single response. </p>"
      },
      "syncReturnType" : "ListJobsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of tags for a specified Amazon Resource Name (ARN). </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> An operation failed due to a non-existent resource. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "<p> The request structure to use to list tags for a resource. </p>",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p> The response for the list tags for resource request. </p>"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListWebhooks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWebhooksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWebhooksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWebhooksRequest, ListWebhooksResult>",
      "asyncReturnType" : "ListWebhooksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of webhooks for an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWebhooksRequest",
        "variableName" : "listWebhooksRequest",
        "variableType" : "ListWebhooksRequest",
        "documentation" : "<p> The request structure for the list webhooks request. </p>",
        "simpleType" : "ListWebhooksRequest",
        "variableSetterType" : "ListWebhooksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWebhooks",
      "operationName" : "ListWebhooks",
      "returnType" : {
        "returnType" : "ListWebhooksResult",
        "documentation" : "<p> The result structure for the list webhooks request. </p>"
      },
      "syncReturnType" : "ListWebhooksResult"
    },
    "StartDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDeploymentRequest, StartDeploymentResult>",
      "asyncReturnType" : "StartDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Starts a deployment for a manually deployed app. Manually deployed apps are not connected to a repository. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDeploymentRequest",
        "variableName" : "startDeploymentRequest",
        "variableType" : "StartDeploymentRequest",
        "documentation" : "<p> The request structure for the start a deployment request. </p>",
        "simpleType" : "StartDeploymentRequest",
        "variableSetterType" : "StartDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDeployment",
      "operationName" : "StartDeployment",
      "returnType" : {
        "returnType" : "StartDeploymentResult",
        "documentation" : "<p> The result structure for the start a deployment request. </p>"
      },
      "syncReturnType" : "StartDeploymentResult"
    },
    "StartJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartJobRequest, StartJobResult>",
      "asyncReturnType" : "StartJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Starts a new job for a branch of an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartJobRequest",
        "variableName" : "startJobRequest",
        "variableType" : "StartJobRequest",
        "documentation" : "<p> The request structure for the start job request. </p>",
        "simpleType" : "StartJobRequest",
        "variableSetterType" : "StartJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startJob",
      "operationName" : "StartJob",
      "returnType" : {
        "returnType" : "StartJobResult",
        "documentation" : "<p> The result structure for the run job request. </p>"
      },
      "syncReturnType" : "StartJobResult"
    },
    "StopJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopJobRequest, StopJobResult>",
      "asyncReturnType" : "StopJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Stops a job that is in progress for a branch of an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> A resource could not be created because service quotas were exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopJobRequest",
        "variableName" : "stopJobRequest",
        "variableType" : "StopJobRequest",
        "documentation" : "<p> The request structure for the stop job request. </p>",
        "simpleType" : "StopJobRequest",
        "variableSetterType" : "StopJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopJob",
      "operationName" : "StopJob",
      "returnType" : {
        "returnType" : "StopJobResult",
        "documentation" : "<p> The result structure for the stop job request. </p>"
      },
      "syncReturnType" : "StopJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Tags the resource with a tag key and value. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> An operation failed due to a non-existent resource. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "<p> The request structure to tag a resource with a tag key and value. </p>",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : "<p> The response for the tag resource request. </p>"
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Untags a resource with a specified Amazon Resource Name (ARN). </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> An operation failed due to a non-existent resource. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "<p> The request structure for the untag resource request. </p>",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : "<p> The response for the untag resource request. </p>"
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAppRequest, UpdateAppResult>",
      "asyncReturnType" : "UpdateAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates an existing Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAppRequest",
        "variableName" : "updateAppRequest",
        "variableType" : "UpdateAppRequest",
        "documentation" : "<p> The request structure for the update app request. </p>",
        "simpleType" : "UpdateAppRequest",
        "variableSetterType" : "UpdateAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApp",
      "operationName" : "UpdateApp",
      "returnType" : {
        "returnType" : "UpdateAppResult",
        "documentation" : "<p> The result structure for an Amplify app update request. </p>"
      },
      "syncReturnType" : "UpdateAppResult"
    },
    "UpdateBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBranchRequest, UpdateBranchResult>",
      "asyncReturnType" : "UpdateBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates a branch for an Amplify app. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> An operation failed because a dependent service threw an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBranchRequest",
        "variableName" : "updateBranchRequest",
        "variableType" : "UpdateBranchRequest",
        "documentation" : "<p> The request structure for the update branch request. </p>",
        "simpleType" : "UpdateBranchRequest",
        "variableSetterType" : "UpdateBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBranch",
      "operationName" : "UpdateBranch",
      "returnType" : {
        "returnType" : "UpdateBranchResult",
        "documentation" : "<p> The result structure for the update branch request. </p>"
      },
      "syncReturnType" : "UpdateBranchResult"
    },
    "UpdateDomainAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainAssociationRequest, UpdateDomainAssociationResult>",
      "asyncReturnType" : "UpdateDomainAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new domain association for an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> An operation failed because a dependent service threw an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDomainAssociationRequest",
        "variableName" : "updateDomainAssociationRequest",
        "variableType" : "UpdateDomainAssociationRequest",
        "documentation" : "<p> The request structure for the update domain association request. </p>",
        "simpleType" : "UpdateDomainAssociationRequest",
        "variableSetterType" : "UpdateDomainAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDomainAssociation",
      "operationName" : "UpdateDomainAssociation",
      "returnType" : {
        "returnType" : "UpdateDomainAssociationResult",
        "documentation" : "<p> The result structure for the update domain association request. </p>"
      },
      "syncReturnType" : "UpdateDomainAssociationResult"
    },
    "UpdateWebhook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWebhookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWebhookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWebhookRequest, UpdateWebhookResult>",
      "asyncReturnType" : "UpdateWebhookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates a webhook. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> A request contains unexpected data. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p> An operation failed due to a lack of access. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p> An entity was not found during an operation. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p> The service failed to perform an operation due to an internal issue. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependentServiceFailureException",
        "documentation" : "<p> An operation failed because a dependent service threw an exception. </p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWebhookRequest",
        "variableName" : "updateWebhookRequest",
        "variableType" : "UpdateWebhookRequest",
        "documentation" : "<p> The request structure for the update webhook request. </p>",
        "simpleType" : "UpdateWebhookRequest",
        "variableSetterType" : "UpdateWebhookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWebhook",
      "operationName" : "UpdateWebhook",
      "returnType" : {
        "returnType" : "UpdateWebhookResult",
        "documentation" : "<p> The result structure for the update webhook request. </p>"
      },
      "syncReturnType" : "UpdateWebhookResult"
    }
  },
  "shapes" : {
    "App" : {
      "c2jName" : "App",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Represents the different branches of a repository for building, deploying, and hosting an Amplify app. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.amplify.model.App",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "appId",
        "c2jShape" : "AppId",
        "deprecated" : false,
        "documentation" : "<p> The unique ID of the Amplify app. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The unique ID of the Amplify app. </p>\n@param appId The unique ID of the Amplify app.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppId",
        "getterDocumentation" : "/**<p> The unique ID of the Amplify app. </p>\n@return The unique ID of the Amplify app.*/",
        "getterMethodName" : "getAppId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "appId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "appId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The unique ID of the Amplify app. </p>\n@param appId The unique ID of the Amplify app.*/",
        "setterMethodName" : "setAppId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The unique ID of the Amplify app. </p>\n@param appId The unique ID of the Amplify app.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appId",
          "variableType" : "String",
          "documentation" : "<p> The unique ID of the Amplify app. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "appArn",
        "c2jShape" : "AppArn",
        "deprecated" : false,
        "documentation" : "<p> The Amazon Resource Name (ARN) of the Amplify app. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The Amazon Resource Name (ARN) of the Amplify app. </p>\n@param appArn The Amazon Resource Name (ARN) of the Amplify app.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppArn",
        "getterDocumentation" : "/**<p> The Amazon Resource Name (ARN) of the Amplify app. </p>\n@return The Amazon Resource Name (ARN) of the Amplify app.*/",
        "getterMethodName" : "getAppArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "appArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "appArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The Amazon Resource Name (ARN) of the Amplify app. </p>\n@param appArn The Amazon Resource Name (ARN) of the Amplify app.*/",
        "setterMethodName" : "setAppArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The Amazon Resource Name (ARN) of the Amplify app. </p>\n@param appArn The Amazon Resource Name (ARN) of the Amplify app.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appArn",
          "variableType" : "String",
          "documentation" : "<p> The Amazon Resource Name (ARN) of the Amplify app. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "<p> The name for the Amplify app. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The name for the Amplify app. </p>\n@param name The name for the Amplify app.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p> The name for the Amplify app. </p>\n@return The name for the Amplify app.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The name for the Amplify app. </p>\n@param name The name for the Amplify app.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The name for the Amplify app. </p>\n@param name The name for the Amplify app.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p> The name for the Amplify app. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "TagMap",
        "deprecated" : false,
        "documentation" : "<p> The tag for the Amplify app. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The tag for the Amplify app. </p>\n@param tags The tag for the Amplify app.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p> The tag for the Amplify app. </p>\n@return The tag for the Amplify app.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
[...]
