{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-08-11",
    "asyncClient" : "AWSAmplifyUIBuilderAsyncClient",
    "asyncClientBuilderClassName" : "AWSAmplifyUIBuilderAsyncClientBuilder",
    "asyncInterface" : "AWSAmplifyUIBuilderAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSAmplifyUIBuilderModuleInjector",
    "defaultEndpoint" : "amplifyuibuilder.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "amplifyuibuilder.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amplify UI Builder API provides a programmatic interface for creating and configuring user interface (UI) component libraries and themes for use in your Amplify applications. You can then connect these UI components to an application's backend Amazon Web Services resources.</p> <p>You can also use the Amplify Studio visual designer to create UI components and model data for an app. For more information, see <a href=\"https://docs.amplify.aws/console/adminui/intro\">Introduction</a> in the <i>Amplify Docs</i>.</p> <p>The Amplify Framework is a comprehensive set of SDKs, libraries, tools, and documentation for client app development. For more information, see the <a href=\"https://docs.amplify.aws/\">Amplify Framework</a>. For more information about deploying an Amplify application to Amazon Web Services, see the <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/welcome.html\">Amplify User Guide</a>.</p>",
    "endpointPrefix" : "amplifyuibuilder",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.amplifyuibuilder",
    "packagePath" : "com/amazonaws/services/amplifyuibuilder",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Amplify UI Builder",
    "serviceId" : "AmplifyUIBuilder",
    "serviceName" : "AWS Amplify UI Builder",
    "signingName" : "amplifyuibuilder",
    "smokeTestsPackageName" : "com.amazonaws.services.amplifyuibuilder.smoketests",
    "syncClient" : "AWSAmplifyUIBuilderClient",
    "syncClientBuilderClassName" : "AWSAmplifyUIBuilderClientBuilder",
    "syncInterface" : "AWSAmplifyUIBuilder",
    "uid" : "amplifyuibuilder-2021-08-11",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateComponentRequest, CreateComponentResult>",
      "asyncReturnType" : "CreateComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new component for an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You exceeded your service quota. Service quotas, also referred to as limits, are the maximum number of service resources or operations for your Amazon Web Services account. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateComponentRequest",
        "variableName" : "createComponentRequest",
        "variableType" : "CreateComponentRequest",
        "documentation" : "",
        "simpleType" : "CreateComponentRequest",
        "variableSetterType" : "CreateComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createComponent",
      "operationName" : "CreateComponent",
      "returnType" : {
        "returnType" : "CreateComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateComponentResult"
    },
    "CreateForm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFormResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFormResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFormRequest, CreateFormResult>",
      "asyncReturnType" : "CreateFormResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new form for an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You exceeded your service quota. Service quotas, also referred to as limits, are the maximum number of service resources or operations for your Amazon Web Services account. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFormRequest",
        "variableName" : "createFormRequest",
        "variableType" : "CreateFormRequest",
        "documentation" : "",
        "simpleType" : "CreateFormRequest",
        "variableSetterType" : "CreateFormRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createForm",
      "operationName" : "CreateForm",
      "returnType" : {
        "returnType" : "CreateFormResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFormResult"
    },
    "CreateTheme" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateThemeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateThemeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateThemeRequest, CreateThemeResult>",
      "asyncReturnType" : "CreateThemeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a theme to apply to the components in an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You exceeded your service quota. Service quotas, also referred to as limits, are the maximum number of service resources or operations for your Amazon Web Services account. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateThemeRequest",
        "variableName" : "createThemeRequest",
        "variableType" : "CreateThemeRequest",
        "documentation" : "",
        "simpleType" : "CreateThemeRequest",
        "variableSetterType" : "CreateThemeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTheme",
      "operationName" : "CreateTheme",
      "returnType" : {
        "returnType" : "CreateThemeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateThemeResult"
    },
    "DeleteComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteComponentRequest, DeleteComponentResult>",
      "asyncReturnType" : "DeleteComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a component from an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteComponentRequest",
        "variableName" : "deleteComponentRequest",
        "variableType" : "DeleteComponentRequest",
        "documentation" : "",
        "simpleType" : "DeleteComponentRequest",
        "variableSetterType" : "DeleteComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteComponent",
      "operationName" : "DeleteComponent",
      "returnType" : {
        "returnType" : "DeleteComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteComponentResult"
    },
    "DeleteForm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFormResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFormResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFormRequest, DeleteFormResult>",
      "asyncReturnType" : "DeleteFormResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a form from an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFormRequest",
        "variableName" : "deleteFormRequest",
        "variableType" : "DeleteFormRequest",
        "documentation" : "",
        "simpleType" : "DeleteFormRequest",
        "variableSetterType" : "DeleteFormRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteForm",
      "operationName" : "DeleteForm",
      "returnType" : {
        "returnType" : "DeleteFormResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFormResult"
    },
    "DeleteTheme" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteThemeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteThemeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteThemeRequest, DeleteThemeResult>",
      "asyncReturnType" : "DeleteThemeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a theme from an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteThemeRequest",
        "variableName" : "deleteThemeRequest",
        "variableType" : "DeleteThemeRequest",
        "documentation" : "",
        "simpleType" : "DeleteThemeRequest",
        "variableSetterType" : "DeleteThemeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTheme",
      "operationName" : "DeleteTheme",
      "returnType" : {
        "returnType" : "DeleteThemeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteThemeResult"
    },
    "ExchangeCodeForToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExchangeCodeForTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExchangeCodeForTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExchangeCodeForTokenRequest, ExchangeCodeForTokenResult>",
      "asyncReturnType" : "ExchangeCodeForTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exchanges an access code for a token.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExchangeCodeForTokenRequest",
        "variableName" : "exchangeCodeForTokenRequest",
        "variableType" : "ExchangeCodeForTokenRequest",
        "documentation" : "",
        "simpleType" : "ExchangeCodeForTokenRequest",
        "variableSetterType" : "ExchangeCodeForTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exchangeCodeForToken",
      "operationName" : "ExchangeCodeForToken",
      "returnType" : {
        "returnType" : "ExchangeCodeForTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "ExchangeCodeForTokenResult"
    },
    "ExportComponents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportComponentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportComponentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportComponentsRequest, ExportComponentsResult>",
      "asyncReturnType" : "ExportComponentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports component configurations to code that is ready to integrate into an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportComponentsRequest",
        "variableName" : "exportComponentsRequest",
        "variableType" : "ExportComponentsRequest",
        "documentation" : "",
        "simpleType" : "ExportComponentsRequest",
        "variableSetterType" : "ExportComponentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportComponents",
      "operationName" : "ExportComponents",
      "returnType" : {
        "returnType" : "ExportComponentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportComponentsResult"
    },
    "ExportForms" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportFormsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportFormsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportFormsRequest, ExportFormsResult>",
      "asyncReturnType" : "ExportFormsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports form configurations to code that is ready to integrate into an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportFormsRequest",
        "variableName" : "exportFormsRequest",
        "variableType" : "ExportFormsRequest",
        "documentation" : "",
        "simpleType" : "ExportFormsRequest",
        "variableSetterType" : "ExportFormsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportForms",
      "operationName" : "ExportForms",
      "returnType" : {
        "returnType" : "ExportFormsResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportFormsResult"
    },
    "ExportThemes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportThemesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportThemesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportThemesRequest, ExportThemesResult>",
      "asyncReturnType" : "ExportThemesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports theme configurations to code that is ready to integrate into an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportThemesRequest",
        "variableName" : "exportThemesRequest",
        "variableType" : "ExportThemesRequest",
        "documentation" : "",
        "simpleType" : "ExportThemesRequest",
        "variableSetterType" : "ExportThemesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportThemes",
      "operationName" : "ExportThemes",
      "returnType" : {
        "returnType" : "ExportThemesResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportThemesResult"
    },
    "GetComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComponentRequest, GetComponentResult>",
      "asyncReturnType" : "GetComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an existing component for an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComponentRequest",
        "variableName" : "getComponentRequest",
        "variableType" : "GetComponentRequest",
        "documentation" : "",
        "simpleType" : "GetComponentRequest",
        "variableSetterType" : "GetComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComponent",
      "operationName" : "GetComponent",
      "returnType" : {
        "returnType" : "GetComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetComponentResult"
    },
    "GetForm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFormResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFormResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFormRequest, GetFormResult>",
      "asyncReturnType" : "GetFormResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an existing form for an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFormRequest",
        "variableName" : "getFormRequest",
        "variableType" : "GetFormRequest",
        "documentation" : "",
        "simpleType" : "GetFormRequest",
        "variableSetterType" : "GetFormRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getForm",
      "operationName" : "GetForm",
      "returnType" : {
        "returnType" : "GetFormResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFormResult"
    },
    "GetMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMetadataRequest, GetMetadataResult>",
      "asyncReturnType" : "GetMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns existing metadata for an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You don't have permission to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMetadataRequest",
        "variableName" : "getMetadataRequest",
        "variableType" : "GetMetadataRequest",
        "documentation" : "",
        "simpleType" : "GetMetadataRequest",
        "variableSetterType" : "GetMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMetadata",
      "operationName" : "GetMetadata",
      "returnType" : {
        "returnType" : "GetMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMetadataResult"
    },
    "GetTheme" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetThemeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetThemeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetThemeRequest, GetThemeResult>",
      "asyncReturnType" : "GetThemeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an existing theme for an Amplify app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetThemeRequest",
        "variableName" : "getThemeRequest",
        "variableType" : "GetThemeRequest",
        "documentation" : "",
        "simpleType" : "GetThemeRequest",
        "variableSetterType" : "GetThemeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTheme",
      "operationName" : "GetTheme",
      "returnType" : {
        "returnType" : "GetThemeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetThemeResult"
    },
    "ListComponents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListComponentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListComponentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListComponentsRequest, ListComponentsResult>",
      "asyncReturnType" : "ListComponentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of components for a specified Amplify app and backend environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListComponentsRequest",
        "variableName" : "listComponentsRequest",
        "variableType" : "ListComponentsRequest",
        "documentation" : "",
        "simpleType" : "ListComponentsRequest",
        "variableSetterType" : "ListComponentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listComponents",
      "operationName" : "ListComponents",
      "returnType" : {
        "returnType" : "ListComponentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListComponentsResult"
    },
    "ListForms" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFormsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFormsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFormsRequest, ListFormsResult>",
      "asyncReturnType" : "ListFormsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of forms for a specified Amplify app and backend environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFormsRequest",
        "variableName" : "listFormsRequest",
        "variableType" : "ListFormsRequest",
        "documentation" : "",
        "simpleType" : "ListFormsRequest",
        "variableSetterType" : "ListFormsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listForms",
      "operationName" : "ListForms",
      "returnType" : {
        "returnType" : "ListFormsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFormsResult"
    },
    "ListThemes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListThemesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListThemesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListThemesRequest, ListThemesResult>",
      "asyncReturnType" : "ListThemesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of themes for a specified Amplify app and backend environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListThemesRequest",
        "variableName" : "listThemesRequest",
        "variableType" : "ListThemesRequest",
        "documentation" : "",
        "simpleType" : "ListThemesRequest",
        "variableSetterType" : "ListThemesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listThemes",
      "operationName" : "ListThemes",
      "returnType" : {
        "returnType" : "ListThemesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListThemesResult"
    },
    "PutMetadataFlag" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutMetadataFlagResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutMetadataFlagResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetadataFlagRequest, PutMetadataFlagResult>",
      "asyncReturnType" : "PutMetadataFlagResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stores the metadata information about a feature on a form or view.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You don't have permission to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutMetadataFlagRequest",
        "variableName" : "putMetadataFlagRequest",
        "variableType" : "PutMetadataFlagRequest",
        "documentation" : "",
        "simpleType" : "PutMetadataFlagRequest",
        "variableSetterType" : "PutMetadataFlagRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putMetadataFlag",
      "operationName" : "PutMetadataFlag",
      "returnType" : {
        "returnType" : "PutMetadataFlagResult",
        "documentation" : null
      },
      "syncReturnType" : "PutMetadataFlagResult"
    },
    "RefreshToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RefreshTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RefreshTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RefreshTokenRequest, RefreshTokenResult>",
      "asyncReturnType" : "RefreshTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Refreshes a previously issued access token that might have expired.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RefreshTokenRequest",
        "variableName" : "refreshTokenRequest",
        "variableType" : "RefreshTokenRequest",
        "documentation" : "",
        "simpleType" : "RefreshTokenRequest",
        "variableSetterType" : "RefreshTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "refreshToken",
      "operationName" : "RefreshToken",
      "returnType" : {
        "returnType" : "RefreshTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "RefreshTokenResult"
    },
    "UpdateComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateComponentRequest, UpdateComponentResult>",
      "asyncReturnType" : "UpdateComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing component.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateComponentRequest",
        "variableName" : "updateComponentRequest",
        "variableType" : "UpdateComponentRequest",
        "documentation" : "",
        "simpleType" : "UpdateComponentRequest",
        "variableSetterType" : "UpdateComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateComponent",
      "operationName" : "UpdateComponent",
      "returnType" : {
        "returnType" : "UpdateComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateComponentResult"
    },
    "UpdateForm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFormResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFormResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFormRequest, UpdateFormResult>",
      "asyncReturnType" : "UpdateFormResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing form.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFormRequest",
        "variableName" : "updateFormRequest",
        "variableType" : "UpdateFormRequest",
        "documentation" : "",
        "simpleType" : "UpdateFormRequest",
        "variableSetterType" : "UpdateFormRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateForm",
      "operationName" : "UpdateForm",
      "returnType" : {
        "returnType" : "UpdateFormResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFormResult"
    },
    "UpdateTheme" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateThemeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateThemeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateThemeRequest, UpdateThemeResult>",
      "asyncReturnType" : "UpdateThemeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing theme.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateThemeRequest",
        "variableName" : "updateThemeRequest",
        "variableType" : "UpdateThemeRequest",
        "documentation" : "",
        "simpleType" : "UpdateThemeRequest",
        "variableSetterType" : "UpdateThemeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTheme",
      "operationName" : "UpdateTheme",
      "returnType" : {
        "returnType" : "UpdateThemeResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateThemeResult"
    }
  },
  "shapes" : {
    "ActionParameters" : {
      "c2jName" : "ActionParameters",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents the event action configuration for an element of a <code>Component</code> or <code>ComponentChild</code>. Use for the workflow feature in Amplify Studio that allows you to bind events and actions to components. <code>ActionParameters</code> defines the action that is performed when an event occurs on the component.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.amplifyuibuilder.model.ActionParameters",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "anchor",
        "c2jShape" : "ComponentProperty",
        "deprecated" : false,
        "documentation" : "<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>\n@param anchor The HTML anchor link to the location to open. Specify this value for a navigation action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAnchor",
        "getterDocumentation" : "/**<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>\n@return The HTML anchor link to the location to open. Specify this value for a navigation action.*/",
        "getterMethodName" : "getAnchor",
        "getterModel" : {
          "returnType" : "ComponentProperty",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "anchor",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "anchor",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Anchor",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>\n@param anchor The HTML anchor link to the location to open. Specify this value for a navigation action.*/",
        "setterMethodName" : "setAnchor",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComponentProperty",
          "variableName" : "anchor",
          "variableType" : "ComponentProperty",
          "documentation" : "",
          "simpleType" : "ComponentProperty",
          "variableSetterType" : "ComponentProperty"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>\n@param anchor The HTML anchor link to the location to open. Specify this value for a navigation action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComponentProperty",
          "variableName" : "anchor",
          "variableType" : "ComponentProperty",
          "documentation" : "<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>",
          "simpleType" : "ComponentProperty",
          "variableSetterType" : "ComponentProperty"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "fields",
        "c2jShape" : "ComponentProperties",
        "deprecated" : false,
        "documentation" : "<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.</p>\n@param fields A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFields",
        "getterDocumentation" : "/**<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.</p>\n@return A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.*/",
        "getterMethodName" : "getFields",
        "getterModel" : {
          "returnType" : "java.util.Map<String,ComponentProperty>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "fields",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "fields",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "ComponentProperty",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "ComponentProperty",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ComponentProperty",
              "variableName" : "value",
              "variableType" : "ComponentProperty",
              "documentation" : "",
              "simpleType" : "ComponentProperty",
              "variableSetterType" : "ComponentProperty"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ComponentProperty",
              "variableName" : "value",
              "variableType" : "ComponentProperty",
              "documentation" : "",
              "simpleType" : "ComponentProperty",
              "variableSetterType" : "ComponentProperty"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "ComponentProperty",
          "entryType" : "Map.Entry<String, ComponentProperty>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,ComponentProperty>",
          "templateType" : "java.util.Map<String,ComponentProperty>",
          "valueList" : false,
          "valueSimple" : false
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Fields",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.</p>\n@param fields A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.*/",
        "setterMethodName" : "setFields",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,ComponentProperty>",
          "variableName" : "fields",
          "variableType" : "java.util.Map<String,ComponentProperty>",
          "documentation" : "",
          "simpleType" : "Map<String,ComponentProperty>",
          "variableSetterType" : "java.util.Map<String,ComponentProperty>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.</p>\n@param fields A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,ComponentProperty>",
          "variableName" : "fields",
          "variableType" : "java.util.Map<String,ComponentProperty>",
          "documentation" : "<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.</p>",
          "simpleType" : "Map<String,ComponentProperty>",
          "variableSetterType" : "java.util.Map<String,ComponentProperty>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "global",
        "c2jShape" : "ComponentProperty",
        "deprecated" : false,
        "documentation" : "<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>\n@param global Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGlobal",
        "getterDocumentation" : "/**<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>\n@return Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.*/",
        "getterMethodName" : "getGlobal",
        "getterModel" : {
          "returnType" : "ComponentProperty",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "global",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "global",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Global",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>\n@param global Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.*/",
        "setterMethodName" : "setGlobal",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComponentProperty",
          "variableName" : "global",
          "variableType" : "ComponentProperty",
          "documentation" : "",
          "simpleType" : "ComponentProperty",
          "variableSetterType" : "ComponentProperty"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>\n@param global Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComponentProperty",
          "variableName" : "global",
          "variableType" : "ComponentProperty",
          "documentation" : "<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>",
          "simpleType" : "ComponentProperty",
          "variableSetterType" : "ComponentProperty"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "id",
        "c2jShape" : "ComponentProperty",
        "deprecated" : false,
        "documentation" : "<p>The unique ID of the component that the <code>ActionParameters</code> apply to.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique ID of the component that the <code>ActionParameters</code> apply to.</p>\n@param id The unique ID of the component that the <code>ActionParameters</code> apply to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The unique ID of the component that the <code>ActionParameters</code> apply to.</p>\n@return The unique ID of the component that the <code>ActionParameters</code> apply to.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "ComponentProperty",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique ID of the component that the <code>ActionParameters</code> apply to.</p>\n@param id The unique ID of the component that the <code>ActionParameters</code> apply to.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComponentProperty",
          "variableName" : "id",
          "variableType" : "ComponentProperty",
          "documentation" : "",
          "simpleType" : "ComponentProperty",
          "variableSetterType" : "ComponentProperty"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique ID of the component that the <code>ActionParameters</code> apply to.</p>\n@param id The unique ID of the component that the <code>ActionParameters</code> apply to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComponentProperty",
          "variableName" : "id",
          "variableType" : "ComponentProperty",
          "documentation" : "<p>The unique ID of the component that the <code>ActionParameters</code> apply to.</p>",
          "simpleType" : "ComponentProperty",
          "variableSetterType" : "ComponentProperty"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "model",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the data model. Use when the action performs an operation on an Amplify DataStore model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the data model. Use when the action performs an operation on an Amplify DataStore model.</p>\n@param model The name of the data model. Use when the action performs an operation on an Amplify DataStore model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModel",
        "getterDocumentation" : "/**<p>The name of the data model. Use when the action performs an operation on an Amplify DataStore model.</p>\n@return The name of the data model. Use when the action performs an operation on an Amplify DataStore model.*/",
        "getterMethodName" : "getModel",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "model",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "model",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Model",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the data model. Use when the action performs an operation on an Amplify DataStore model.</p>\n@param model The name of the data model. Use when the action performs an operation on an Amplify DataStore model.*/",
        "setterMethodName" : "setModel",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "model",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the data model. Use when the action performs an operation on an Amplify DataStore model.</p>\n@param model The name of the data model. Use when the action performs an operation on an Amplify DataStore model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "model",
          "variableType" : "String",
          "documentation" : "<p>The name of the data model. Use when the action performs an operation on an Amplify DataStore model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "state",
        "c2jShape" : "MutationActionSetStateParameter",
        "deprecated" : false,
        "documentation" : "<p>A key-value pair that specifies the state property name and its initial value.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A key-value pair that specifies the state property name and its initial value.</p>\n@param state A key-value pair that specifies the state property name and its initial value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withState",
        "getterDocumentation" : "/**<p>A key-value pair that specifies the state property name and its initial value.</p>\n@return A key-value pair that specifies the state property name and its initial value.*/",
        "getterMethodName" : "getState",
        "getterModel" : {
          "returnType" : "MutationActionSetStateParameter",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "state",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "state",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "State",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A key-value pair that specifies the state property name and its initial value.</p>\n@param state A key-value pair that specifies the state property name and its initial value.*/",
        "setterMethodName" : "setState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "MutationActionSetStateParameter",
          "variableName" : "state",
          "variableType" : "MutationActionSetStateParameter",
          "documentation" : "",
          "simpleType" : "MutationActionSetStateParameter",
          "variableSetterType" : "MutationActionSetStateParameter"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A key-value pair that specifies the state property name and its initial value.</p>\n@param state A key-value pair that specifies the state property name and its initial value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "MutationActionSetStateParameter",
          "variableName" : "state",
          "variableType" : "MutationActionSetStateParameter",
          "documentation" : "<p>A key-value pair that specifies the state property name and its initial value.</p>",
          "simpleType" : "MutationActionSetStateParameter",
          "variableSetterType" : "MutationActionSetStateParameter"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "target",
        "c2jShape" : "ComponentProperty",
        "deprecated" : false,
        "documentation" : "<p>The element within the same component to modify when the action occurs.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The element within the same component to modify when the action occurs.</p>\n@param target The element within the same component to modify when the action occurs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTarget",
        "getterDocumentation" : "/**<p>The element within the same component to modify when the action occurs.</p>\n@return The element within the same component to modify when the action occurs.*/",
        "getterMethodName" : "getTarget",
        "getterModel" : {
          "returnType" : "ComponentProperty",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "target",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "target",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Target",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The element within the same component to modify when the action occurs.</p>\n@param target The element within the same component to modify when the action occurs.*/",
        "setterMethodName" : "setTarget",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComponentProperty",
          "variableName" : "target",
          "variableType" : "ComponentProperty",
          "documentation" : "",
          "simpleType" : "ComponentProperty",
          "variableSetterType" : "ComponentProperty"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The element within the same component to modify when the action occurs.</p>\n@param target The element within the same component to modify when the action occurs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComponentProperty",
          "variableName" : "target",
          "variableType" : "ComponentProperty",
          "documentation" : "<p>The element within the same component to modify when the action occurs.</p>",
          "simpleType" : "ComponentProperty",
          "variableSetterType" : "ComponentProperty"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "type",
        "c2jShape" : "ComponentProperty",
        "deprecated" : false,
        "documentation" : "<p>The type of navigation action. Valid values are <code>url</code> and <code>anchor</code>. This value is required for a navigation action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The type of navigation action. Valid values are <code>url</code> and <code>anchor</code>. This value is required for a navigation action.</p>\n@param type The type of navigation action. Valid values are <code>url</code> and <code>anchor</code>. This value is required for a navigation action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p>The type of navigation action. Valid values are <code>url</code> and <code>anchor</code>. This value is required for a navigation action.</p>\n@return The type of navigation action. Valid values are <code>url</code> and <code>anchor</code>. This value is required for a navigation action.*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "ComponentProperty",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "type",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of navigation action. Valid values are <code>url</code> and <code>anchor</code>. This value is required for a navigation action.</p>\n@param type The type of navigation action. Valid values are <code>url</code> and <code>anchor</code>. This value is required for a navigation action.*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComponentProperty",
          "variableName" : "type",
          "variableType" : "ComponentProperty",
          "documentation" : "",
          "simpleType" : "ComponentProperty",
          "variableSetterType" : "ComponentProperty"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of navigation action. Valid values are <code>url</code> and <code>anchor</code>. This value is required for a navigation action.</p>\n@param type The type of navigation action. Valid values are <code>url</code> and <code>anchor</code>. This value is required for a navigation action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComponentProperty",
          "variableName" : "type",
          "variableType" : "ComponentProperty",
          "documentation" : "<p>The type of navigation action. Valid values are <code>url</code> and <code>anchor</code>. This value is required for a navigation action.</p>",
          "simpleType" : "ComponentProperty",
          "variableSetterType" : "ComponentProperty"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "url",
        "c2jShape" : "ComponentProperty",
        "deprecated" : false,
        "documentation" : "<p>The URL to the location to open. Specify this value for a navigation action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The URL to the location to open. Specify this value for a navigation action.</p>\n@param url The URL to the location to open. Specify this value for a navigation action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUrl",
        "getterDocumentation" : "/**<p>The URL to the location to open. Specify this value for a navigation action.</p>\n@return The URL to the location to open. Specify this value for a navigation action.*/",
        "getterMethodName" : "getUrl",
        "getterModel" : {
          "returnType" : "ComponentProperty",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "url",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "url",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Url",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The URL to the location to open. Specify this value for a navigation action.</p>\n@param url The URL to the location to open. Specify this value for a navigation action.*/",
        "setterMethodName" : "setUrl",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComponentProperty",
          "variableName" : "url",
          "variableType" : "ComponentProperty",
          "documentation" : "",
          "simpleType" : "ComponentProperty",
          "variableSetterType" : "ComponentProperty"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The URL to the location to open. Specify this value for a navigation action.</p>\n@param url The URL to the location to open. Specify this value for a navigation action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComponentProperty",
          "variableName" : "url",
          "variableType" : "ComponentProperty",
          "documentation" : "<p>The URL to the location to open. Specify this value for a navigation action.</p>",
          "simpleType" : "ComponentProperty",
          "variableSetterType" : "ComponentProperty"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Anchor" : {
          "c2jName" : "anchor",
          "c2jShape" : "ComponentProperty",
          "deprecated" : false,
          "documentation" : "<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>\n@param anchor The HTML anchor link to the location to open. Specify this value for a navigation action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAnchor",
          "getterDocumentation" : "/**<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>\n@return The HTML anchor link to the location to open. Specify this value for a navigation action.*/",
          "getterMethodName" : "getAnchor",
          "getterModel" : {
            "returnType" : "ComponentProperty",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "anchor",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "anchor",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Anchor",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>\n@param anchor The HTML anchor link to the location to open. Specify this value for a navigation action.*/",
          "setterMethodName" : "setAnchor",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ComponentProperty",
            "variableName" : "anchor",
            "variableType" : "ComponentProperty",
            "documentation" : "",
            "simpleType" : "ComponentProperty",
            "variableSetterType" : "ComponentProperty"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>\n@param anchor The HTML anchor link to the location to open. Specify this value for a navigation action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ComponentProperty",
            "variableName" : "anchor",
            "variableType" : "ComponentProperty",
            "documentation" : "<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>",
            "simpleType" : "ComponentProperty",
            "variableSetterType" : "ComponentProperty"
          },
          "xmlNameSpaceUri" : null
        },
        "Fields" : {
          "c2jName" : "fields",
          "c2jShape" : "ComponentProperties",
          "deprecated" : false,
          "documentation" : "<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.</p>\n@param fields A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFields",
          "getterDocumentation" : "/**<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.</p>\n@return A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.*/",
          "getterMethodName" : "getFields",
          "getterModel" : {
            "returnType" : "java.util.Map<String,ComponentProperty>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "fields",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "fields",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "ComponentProperty",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "ComponentProperty",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ComponentProperty",
                "variableName" : "value",
                "variableType" : "ComponentProperty",
                "documentation" : "",
                "simpleType" : "ComponentProperty",
                "variableSetterType" : "ComponentProperty"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ComponentProperty",
                "variableName" : "value",
                "variableType" : "ComponentProperty",
                "documentation" : "",
                "simpleType" : "ComponentProperty",
                "variableSetterType" : "ComponentProperty"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "ComponentProperty",
            "entryType" : "Map.Entry<String, ComponentProperty>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,ComponentProperty>",
            "templateType" : "java.util.Map<String,ComponentProperty>",
            "valueList" : false,
            "valueSimple" : false
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Fields",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.</p>\n@param fields A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.*/",
          "setterMethodName" : "setFields",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,ComponentProperty>",
            "variableName" : "fields",
            "variableType" : "java.util.Map<String,ComponentProperty>",
            "documentation" : "",
            "simpleType" : "Map<String,ComponentProperty>",
            "variableSetterType" : "java.util.Map<String,ComponentProperty>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.</p>\n@param fields A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,ComponentProperty>",
            "variableName" : "fields",
            "variableType" : "java.util.Map<String,ComponentProperty>",
            "documentation" : "<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action performs an operation on an Amplify DataStore model.</p>",
            "simpleType" : "Map<String,ComponentProperty>",
            "variableSetterType" : "java.util.Map<String,ComponentProperty>"
          },
          "xmlNameSpaceUri" : null
        },
        "Global" : {
          "c2jName" : "global",
          "c2jShape" : "ComponentProperty",
          "deprecated" : false,
          "documentation" : "<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>\n@param global Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGlobal",
          "getterDocumentation" : "/**<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>\n@return Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.*/",
          "getterMethodName" : "getGlobal",
          "getterModel" : {
            "returnType" : "ComponentProperty",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "global",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "global",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Global",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>\n@param global Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.*/",
          "setterMethodName" : "setGlobal",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ComponentProperty",
            "variableName" : "global",
            "variableType" : "ComponentProperty",
            "documentation" : "",
            "simpleType" : "ComponentProperty",
            "variableSetterType" : "ComponentProperty"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>\n@param global Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ComponentProperty",
            "variableName" : "global",
            "variableType" : "ComponentProperty",
            "documentation" : "<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>",
            "simpleType" : "ComponentProperty",
            "variableSetterType" : "ComponentProperty"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "id",
          "c2jShape" : "ComponentProperty",
          "deprecated" : false,
          "documentation" : "<p>The unique ID of the component that the <code>ActionParameters</code> apply to.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
[...]
