{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "DescribeImagesFilter" : [ "tagStatus" ],
      "ImageFailure" : [ "failureCode" ],
      "Layer" : [ "layerAvailability" ],
      "LayerFailure" : [ "failureCode" ],
      "ListImagesFilter" : [ "tagStatus" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2015-09-21",
    "asyncClient" : "AmazonECRAsyncClient",
    "asyncClientBuilderClassName" : "AmazonECRAsyncClientBuilder",
    "asyncInterface" : "AmazonECRAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonECRModuleInjector",
    "defaultEndpoint" : "api.ecr.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "api.ecr.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Elastic Container Registry (Amazon ECR) is a managed Docker registry service. Customers can use the familiar Docker CLI to push, pull, and manage images. Amazon ECR provides a secure, scalable, and reliable registry. Amazon ECR supports private Docker repositories with resource-based permissions using IAM so that specific users or Amazon EC2 instances can access repositories and images. Developers can use the Docker CLI to author and manage images.</p>",
    "endpointPrefix" : "api.ecr",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ecr",
    "packagePath" : "com/amazonaws/services/ecr",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon ECR",
    "serviceFullName" : "Amazon EC2 Container Registry",
    "serviceId" : "ECR",
    "serviceName" : "Amazon ECR",
    "signingName" : "ecr",
    "smokeTestsPackageName" : "com.amazonaws.services.ecr.smoketests",
    "syncClient" : "AmazonECRClient",
    "syncClientBuilderClassName" : "AmazonECRClientBuilder",
    "syncInterface" : "AmazonECR",
    "uid" : "ecr-2015-09-21",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchCheckLayerAvailability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCheckLayerAvailabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCheckLayerAvailabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCheckLayerAvailabilityRequest, BatchCheckLayerAvailabilityResult>",
      "asyncReturnType" : "BatchCheckLayerAvailabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Check the availability of multiple image layers in a specified registry and repository.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCheckLayerAvailabilityRequest",
        "variableName" : "batchCheckLayerAvailabilityRequest",
        "variableType" : "BatchCheckLayerAvailabilityRequest",
        "documentation" : "",
        "simpleType" : "BatchCheckLayerAvailabilityRequest",
        "variableSetterType" : "BatchCheckLayerAvailabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCheckLayerAvailability",
      "operationName" : "BatchCheckLayerAvailability",
      "returnType" : {
        "returnType" : "BatchCheckLayerAvailabilityResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCheckLayerAvailabilityResult"
    },
    "BatchDeleteImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteImageRequest, BatchDeleteImageResult>",
      "asyncReturnType" : "BatchDeleteImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a list of specified images within a specified repository. Images are specified with either <code>imageTag</code> or <code>imageDigest</code>.</p> <p>You can remove a tag from an image by specifying the image's tag in your request. When you remove the last tag from an image, the image is deleted from your repository.</p> <p>You can completely delete an image (and all of its tags) by specifying the image's digest in your request.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteImageRequest",
        "variableName" : "batchDeleteImageRequest",
        "variableType" : "BatchDeleteImageRequest",
        "documentation" : "<p>Deletes specified images within a specified repository. Images are specified with either the <code>imageTag</code> or <code>imageDigest</code>.</p>",
        "simpleType" : "BatchDeleteImageRequest",
        "variableSetterType" : "BatchDeleteImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteImage",
      "operationName" : "BatchDeleteImage",
      "returnType" : {
        "returnType" : "BatchDeleteImageResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteImageResult"
    },
    "BatchGetImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetImageRequest, BatchGetImageResult>",
      "asyncReturnType" : "BatchGetImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets detailed information for specified images within a specified repository. Images are specified with either <code>imageTag</code> or <code>imageDigest</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetImageRequest",
        "variableName" : "batchGetImageRequest",
        "variableType" : "BatchGetImageRequest",
        "documentation" : "",
        "simpleType" : "BatchGetImageRequest",
        "variableSetterType" : "BatchGetImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetImage",
      "operationName" : "BatchGetImage",
      "returnType" : {
        "returnType" : "BatchGetImageResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetImageResult"
    },
    "CompleteLayerUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CompleteLayerUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CompleteLayerUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CompleteLayerUploadRequest, CompleteLayerUploadResult>",
      "asyncReturnType" : "CompleteLayerUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Informs Amazon ECR that the image layer upload has completed for a specified registry, repository name, and upload ID. You can optionally provide a <code>sha256</code> digest of the image layer for data validation purposes.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UploadNotFoundException",
        "documentation" : "<p>The upload could not be found, or the specified upload id is not valid for this repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLayerException",
        "documentation" : "<p>The layer digest calculation performed by Amazon ECR upon receipt of the image layer does not match the digest specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayerPartTooSmallException",
        "documentation" : "<p>Layer parts must be at least 5 MiB in size.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayerAlreadyExistsException",
        "documentation" : "<p>The image layer already exists in the associated repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EmptyUploadException",
        "documentation" : "<p>The specified layer upload does not contain any layer parts.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CompleteLayerUploadRequest",
        "variableName" : "completeLayerUploadRequest",
        "variableType" : "CompleteLayerUploadRequest",
        "documentation" : "",
        "simpleType" : "CompleteLayerUploadRequest",
        "variableSetterType" : "CompleteLayerUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "completeLayerUpload",
      "operationName" : "CompleteLayerUpload",
      "returnType" : {
        "returnType" : "CompleteLayerUploadResult",
        "documentation" : null
      },
      "syncReturnType" : "CompleteLayerUploadResult"
    },
    "CreateRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRepositoryRequest, CreateRepositoryResult>",
      "asyncReturnType" : "CreateRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an image repository.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTagParameterException",
        "documentation" : "<p>An invalid parameter has been specified. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The list of tags on the repository is over the limit. The maximum number of tags that can be applied to a repository is 50.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryAlreadyExistsException",
        "documentation" : "<p>The specified repository already exists in the specified registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECR/latest/userguide/service_limits.html\">Amazon ECR Default Service Limits</a> in the Amazon Elastic Container Registry User Guide.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRepositoryRequest",
        "variableName" : "createRepositoryRequest",
        "variableType" : "CreateRepositoryRequest",
        "documentation" : "",
        "simpleType" : "CreateRepositoryRequest",
        "variableSetterType" : "CreateRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRepository",
      "operationName" : "CreateRepository",
      "returnType" : {
        "returnType" : "CreateRepositoryResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRepositoryResult"
    },
    "DeleteLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLifecyclePolicyRequest, DeleteLifecyclePolicyResult>",
      "asyncReturnType" : "DeleteLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified lifecycle policy.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LifecyclePolicyNotFoundException",
        "documentation" : "<p>The lifecycle policy could not be found, and no policy is set to the repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLifecyclePolicyRequest",
        "variableName" : "deleteLifecyclePolicyRequest",
        "variableType" : "DeleteLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteLifecyclePolicyRequest",
        "variableSetterType" : "DeleteLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLifecyclePolicy",
      "operationName" : "DeleteLifecyclePolicy",
      "returnType" : {
        "returnType" : "DeleteLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLifecyclePolicyResult"
    },
    "DeleteRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryRequest, DeleteRepositoryResult>",
      "asyncReturnType" : "DeleteRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing image repository. If a repository contains images, you must use the <code>force</code> option to delete it.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotEmptyException",
        "documentation" : "<p>The specified repository contains images. To delete a repository that contains images, you must force the deletion with the <code>force</code> parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRepositoryRequest",
        "variableName" : "deleteRepositoryRequest",
        "variableType" : "DeleteRepositoryRequest",
        "documentation" : "",
        "simpleType" : "DeleteRepositoryRequest",
        "variableSetterType" : "DeleteRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRepository",
      "operationName" : "DeleteRepository",
      "returnType" : {
        "returnType" : "DeleteRepositoryResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRepositoryResult"
    },
    "DeleteRepositoryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryPolicyRequest, DeleteRepositoryPolicyResult>",
      "asyncReturnType" : "DeleteRepositoryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the repository policy from a specified repository.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryPolicyNotFoundException",
        "documentation" : "<p>The specified repository and registry combination does not have an associated repository policy.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRepositoryPolicyRequest",
        "variableName" : "deleteRepositoryPolicyRequest",
        "variableType" : "DeleteRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteRepositoryPolicyRequest",
        "variableSetterType" : "DeleteRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRepositoryPolicy",
      "operationName" : "DeleteRepositoryPolicy",
      "returnType" : {
        "returnType" : "DeleteRepositoryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRepositoryPolicyResult"
    },
    "DescribeImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImagesRequest, DescribeImagesResult>",
      "asyncReturnType" : "DescribeImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata about the images in a repository, including image size, image tags, and creation date.</p> <note> <p>Beginning with Docker version 1.9, the Docker client compresses image layers before pushing them to a V2 Docker registry. The output of the <code>docker images</code> command shows the uncompressed image size, so it may return a larger image size than the image sizes returned by <a>DescribeImages</a>.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ImageNotFoundException",
        "documentation" : "<p>The image requested does not exist in the specified repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeImagesRequest",
        "variableName" : "describeImagesRequest",
        "variableType" : "DescribeImagesRequest",
        "documentation" : "",
        "simpleType" : "DescribeImagesRequest",
        "variableSetterType" : "DescribeImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImages",
      "operationName" : "DescribeImages",
      "returnType" : {
        "returnType" : "DescribeImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImagesResult"
    },
    "DescribeRepositories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRepositoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRepositoriesRequest, DescribeRepositoriesResult>",
      "asyncReturnType" : "DescribeRepositoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes image repositories in a registry.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRepositoriesRequest",
        "variableName" : "describeRepositoriesRequest",
        "variableType" : "DescribeRepositoriesRequest",
        "documentation" : "",
        "simpleType" : "DescribeRepositoriesRequest",
        "variableSetterType" : "DescribeRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRepositories",
      "operationName" : "DescribeRepositories",
      "returnType" : {
        "returnType" : "DescribeRepositoriesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRepositoriesResult"
    },
    "GetAuthorizationToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAuthorizationTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAuthorizationTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAuthorizationTokenRequest, GetAuthorizationTokenResult>",
      "asyncReturnType" : "GetAuthorizationTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a token that is valid for a specified registry for 12 hours. This command allows you to use the <code>docker</code> CLI to push and pull images with Amazon ECR. If you do not specify a registry, the default registry is assumed.</p> <p>The <code>authorizationToken</code> returned for each registry specified is a base64 encoded string that can be decoded and used in a <code>docker login</code> command to authenticate to a registry. The AWS CLI offers an <code>aws ecr get-login</code> command that simplifies the login process.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAuthorizationTokenRequest",
        "variableName" : "getAuthorizationTokenRequest",
        "variableType" : "GetAuthorizationTokenRequest",
        "documentation" : "",
        "simpleType" : "GetAuthorizationTokenRequest",
        "variableSetterType" : "GetAuthorizationTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAuthorizationToken",
      "operationName" : "GetAuthorizationToken",
      "returnType" : {
        "returnType" : "GetAuthorizationTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAuthorizationTokenResult"
    },
    "GetDownloadUrlForLayer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDownloadUrlForLayerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDownloadUrlForLayerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDownloadUrlForLayerRequest, GetDownloadUrlForLayerResult>",
      "asyncReturnType" : "GetDownloadUrlForLayerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the pre-signed Amazon S3 download URL corresponding to an image layer. You can only get URLs for image layers that are referenced in an image.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayersNotFoundException",
        "documentation" : "<p>The specified layers could not be found, or the specified layer is not valid for this repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayerInaccessibleException",
        "documentation" : "<p>The specified layer is not available because it is not associated with an image. Unassociated image layers may be cleaned up at any time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDownloadUrlForLayerRequest",
        "variableName" : "getDownloadUrlForLayerRequest",
        "variableType" : "GetDownloadUrlForLayerRequest",
        "documentation" : "",
        "simpleType" : "GetDownloadUrlForLayerRequest",
        "variableSetterType" : "GetDownloadUrlForLayerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDownloadUrlForLayer",
      "operationName" : "GetDownloadUrlForLayer",
      "returnType" : {
        "returnType" : "GetDownloadUrlForLayerResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDownloadUrlForLayerResult"
    },
    "GetLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLifecyclePolicyRequest, GetLifecyclePolicyResult>",
      "asyncReturnType" : "GetLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the specified lifecycle policy.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LifecyclePolicyNotFoundException",
        "documentation" : "<p>The lifecycle policy could not be found, and no policy is set to the repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLifecyclePolicyRequest",
        "variableName" : "getLifecyclePolicyRequest",
        "variableType" : "GetLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "GetLifecyclePolicyRequest",
        "variableSetterType" : "GetLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLifecyclePolicy",
      "operationName" : "GetLifecyclePolicy",
      "returnType" : {
        "returnType" : "GetLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLifecyclePolicyResult"
    },
    "GetLifecyclePolicyPreview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLifecyclePolicyPreviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLifecyclePolicyPreviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLifecyclePolicyPreviewRequest, GetLifecyclePolicyPreviewResult>",
      "asyncReturnType" : "GetLifecyclePolicyPreviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the results of the specified lifecycle policy preview request.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LifecyclePolicyPreviewNotFoundException",
        "documentation" : "<p>There is no dry run for this repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLifecyclePolicyPreviewRequest",
        "variableName" : "getLifecyclePolicyPreviewRequest",
        "variableType" : "GetLifecyclePolicyPreviewRequest",
        "documentation" : "",
        "simpleType" : "GetLifecyclePolicyPreviewRequest",
        "variableSetterType" : "GetLifecyclePolicyPreviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLifecyclePolicyPreview",
      "operationName" : "GetLifecyclePolicyPreview",
      "returnType" : {
        "returnType" : "GetLifecyclePolicyPreviewResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLifecyclePolicyPreviewResult"
    },
    "GetRepositoryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryPolicyRequest, GetRepositoryPolicyResult>",
      "asyncReturnType" : "GetRepositoryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the repository policy for a specified repository.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryPolicyNotFoundException",
        "documentation" : "<p>The specified repository and registry combination does not have an associated repository policy.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRepositoryPolicyRequest",
        "variableName" : "getRepositoryPolicyRequest",
        "variableType" : "GetRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetRepositoryPolicyRequest",
        "variableSetterType" : "GetRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRepositoryPolicy",
      "operationName" : "GetRepositoryPolicy",
      "returnType" : {
        "returnType" : "GetRepositoryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRepositoryPolicyResult"
    },
    "InitiateLayerUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InitiateLayerUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InitiateLayerUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InitiateLayerUploadRequest, InitiateLayerUploadResult>",
      "asyncReturnType" : "InitiateLayerUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Notify Amazon ECR that you intend to upload an image layer.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InitiateLayerUploadRequest",
        "variableName" : "initiateLayerUploadRequest",
        "variableType" : "InitiateLayerUploadRequest",
        "documentation" : "",
        "simpleType" : "InitiateLayerUploadRequest",
        "variableSetterType" : "InitiateLayerUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "initiateLayerUpload",
      "operationName" : "InitiateLayerUpload",
      "returnType" : {
        "returnType" : "InitiateLayerUploadResult",
        "documentation" : null
      },
      "syncReturnType" : "InitiateLayerUploadResult"
    },
    "ListImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListImagesRequest, ListImagesResult>",
      "asyncReturnType" : "ListImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the image IDs for a given repository.</p> <p>You can filter images based on whether or not they are tagged by setting the <code>tagStatus</code> parameter to <code>TAGGED</code> or <code>UNTAGGED</code>. For example, you can filter your results to return only <code>UNTAGGED</code> images and then pipe that result to a <a>BatchDeleteImage</a> operation to delete them. Or, you can filter your results to return only <code>TAGGED</code> images to list all of the tags in your repository.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListImagesRequest",
        "variableName" : "listImagesRequest",
        "variableType" : "ListImagesRequest",
        "documentation" : "",
        "simpleType" : "ListImagesRequest",
        "variableSetterType" : "ListImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listImages",
      "operationName" : "ListImages",
      "returnType" : {
        "returnType" : "ListImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListImagesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the tags for an Amazon ECR resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutImageRequest, PutImageResult>",
      "asyncReturnType" : "PutImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the image manifest and tags associated with an image.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ImageAlreadyExistsException",
        "documentation" : "<p>The specified image has already been pushed, and there were no changes to the manifest or image tag after the last push.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayersNotFoundException",
        "documentation" : "<p>The specified layers could not be found, or the specified layer is not valid for this repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECR/latest/userguide/service_limits.html\">Amazon ECR Default Service Limits</a> in the Amazon Elastic Container Registry User Guide.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutImageRequest",
        "variableName" : "putImageRequest",
        "variableType" : "PutImageRequest",
        "documentation" : "",
        "simpleType" : "PutImageRequest",
        "variableSetterType" : "PutImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putImage",
      "operationName" : "PutImage",
      "returnType" : {
        "returnType" : "PutImageResult",
        "documentation" : null
      },
      "syncReturnType" : "PutImageResult"
    },
    "PutLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutLifecyclePolicyRequest, PutLifecyclePolicyResult>",
      "asyncReturnType" : "PutLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a lifecycle policy. For information about lifecycle policy syntax, see <a href=\"http://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html\">Lifecycle Policy Template</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutLifecyclePolicyRequest",
        "variableName" : "putLifecyclePolicyRequest",
        "variableType" : "PutLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "PutLifecyclePolicyRequest",
        "variableSetterType" : "PutLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putLifecyclePolicy",
      "operationName" : "PutLifecyclePolicy",
      "returnType" : {
        "returnType" : "PutLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutLifecyclePolicyResult"
    },
    "SetRepositoryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetRepositoryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetRepositoryPolicyRequest, SetRepositoryPolicyResult>",
      "asyncReturnType" : "SetRepositoryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies a repository policy on a specified repository to control access permissions.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetRepositoryPolicyRequest",
        "variableName" : "setRepositoryPolicyRequest",
        "variableType" : "SetRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "SetRepositoryPolicyRequest",
        "variableSetterType" : "SetRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setRepositoryPolicy",
      "operationName" : "SetRepositoryPolicy",
      "returnType" : {
        "returnType" : "SetRepositoryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "SetRepositoryPolicyResult"
    },
    "StartLifecyclePolicyPreview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartLifecyclePolicyPreviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartLifecyclePolicyPreviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartLifecyclePolicyPreviewRequest, StartLifecyclePolicyPreviewResult>",
      "asyncReturnType" : "StartLifecyclePolicyPreviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a preview of the specified lifecycle policy. This allows you to see the results before creating the lifecycle policy.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LifecyclePolicyNotFoundException",
        "documentation" : "<p>The lifecycle policy could not be found, and no policy is set to the repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LifecyclePolicyPreviewInProgressException",
        "documentation" : "<p>The previous lifecycle policy preview request has not completed. Please try again later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartLifecyclePolicyPreviewRequest",
        "variableName" : "startLifecyclePolicyPreviewRequest",
        "variableType" : "StartLifecyclePolicyPreviewRequest",
        "documentation" : "",
        "simpleType" : "StartLifecyclePolicyPreviewRequest",
        "variableSetterType" : "StartLifecyclePolicyPreviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startLifecyclePolicyPreview",
      "operationName" : "StartLifecyclePolicyPreview",
      "returnType" : {
        "returnType" : "StartLifecyclePolicyPreviewResult",
        "documentation" : null
      },
      "syncReturnType" : "StartLifecyclePolicyPreviewResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds specified tags to a resource with the specified ARN. Existing tags on a resource are not changed if they are not specified in the request parameters.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTagParameterException",
        "documentation" : "<p>An invalid parameter has been specified. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The list of tags on the repository is over the limit. The maximum number of tags that can be applied to a repository is 50.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes specified tags from a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTagParameterException",
        "documentation" : "<p>An invalid parameter has been specified. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The list of tags on the repository is over the limit. The maximum number of tags that can be applied to a repository is 50.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UploadLayerPart" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UploadLayerPartResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UploadLayerPartResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UploadLayerPartRequest, UploadLayerPartResult>",
      "asyncReturnType" : "UploadLayerPartResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads an image layer part to Amazon ECR.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLayerPartException",
        "documentation" : "<p>The layer part size is not valid, or the first byte specified is not consecutive to the last byte of a previous layer part upload.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UploadNotFoundException",
        "documentation" : "<p>The upload could not be found, or the specified upload id is not valid for this repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECR/latest/userguide/service_limits.html\">Amazon ECR Default Service Limits</a> in the Amazon Elastic Container Registry User Guide.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UploadLayerPartRequest",
        "variableName" : "uploadLayerPartRequest",
        "variableType" : "UploadLayerPartRequest",
        "documentation" : "",
        "simpleType" : "UploadLayerPartRequest",
        "variableSetterType" : "UploadLayerPartRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "uploadLayerPart",
      "operationName" : "UploadLayerPart",
      "returnType" : {
        "returnType" : "UploadLayerPartResult",
        "documentation" : null
      },
      "syncReturnType" : "UploadLayerPartResult"
    }
  },
  "shapes" : {
    "AuthorizationData" : {
      "c2jName" : "AuthorizationData",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object representing authorization data for an Amazon ECR registry.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "authorizationToken",
        "c2jShape" : "Base64",
        "deprecated" : false,
        "documentation" : "<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAuthorizationToken",
        "getterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@return A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.*/",
        "getterMethodName" : "getAuthorizationToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "authorizationToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "authorizationToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AuthorizationToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.*/",
        "setterMethodName" : "setAuthorizationToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "authorizationToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "authorizationToken",
          "variableType" : "String",
          "documentation" : "<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "expiresAt",
        "c2jShape" : "ExpirationTimestamp",
        "deprecated" : false,
        "documentation" : "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExpiresAt",
        "getterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@return The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.*/",
        "getterMethodName" : "getExpiresAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "expiresAt",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "expiresAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "ExpiresAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.*/",
        "setterMethodName" : "setExpiresAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "expiresAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "expiresAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "proxyEndpoint",
        "c2jShape" : "ProxyEndpoint",
        "deprecated" : false,
        "documentation" : "<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@param proxyEndpoint The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProxyEndpoint",
        "getterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@return The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..*/",
        "getterMethodName" : "getProxyEndpoint",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "proxyEndpoint",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "proxyEndpoint",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProxyEndpoint",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@param proxyEndpoint The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..*/",
        "setterMethodName" : "setProxyEndpoint",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "proxyEndpoint",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@param proxyEndpoint The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "proxyEndpoint",
          "variableType" : "String",
          "documentation" : "<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AuthorizationToken" : {
          "c2jName" : "authorizationToken",
          "c2jShape" : "Base64",
          "deprecated" : false,
          "documentation" : "<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAuthorizationToken",
          "getterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@return A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.*/",
          "getterMethodName" : "getAuthorizationToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "authorizationToken",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "authorizationToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AuthorizationToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.*/",
          "setterMethodName" : "setAuthorizationToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "authorizationToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "authorizationToken",
            "variableType" : "String",
            "documentation" : "<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ExpiresAt" : {
          "c2jName" : "expiresAt",
          "c2jShape" : "ExpirationTimestamp",
          "deprecated" : false,
          "documentation" : "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExpiresAt",
          "getterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@return The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.*/",
          "getterMethodName" : "getExpiresAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "expiresAt",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "expiresAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "ExpiresAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.*/",
          "setterMethodName" : "setExpiresAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "expiresAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "expiresAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "ProxyEndpoint" : {
          "c2jName" : "proxyEndpoint",
          "c2jShape" : "ProxyEndpoint",
          "deprecated" : false,
          "documentation" : "<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@param proxyEndpoint The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProxyEndpoint",
          "getterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@return The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..*/",
          "getterMethodName" : "getProxyEndpoint",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "proxyEndpoint",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "proxyEndpoint",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProxyEndpoint",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@param proxyEndpoint The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..*/",
          "setterMethodName" : "setProxyEndpoint",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "proxyEndpoint",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>\n@param proxyEndpoint The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "proxyEndpoint",
            "variableType" : "String",
            "documentation" : "<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AuthorizationData",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthorizationData",
        "variableName" : "authorizationData",
        "variableType" : "AuthorizationData",
        "documentation" : null,
        "simpleType" : "AuthorizationData",
        "variableSetterType" : "AuthorizationData"
      },
      "wrapper" : false
    },
    "BatchCheckLayerAvailabilityRequest" : {
      "c2jName" : "BatchCheckLayerAvailabilityRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchCheckLayerAvailability",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AmazonEC2ContainerRegistry_V20150921.BatchCheckLayerAvailability",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "registryId",
        "c2jShape" : "RegistryId",
        "deprecated" : false,
        "documentation" : "<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>\n@param registryId The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRegistryId",
        "getterDocumentation" : "/**<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>\n@return The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.*/",
[...]
