{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-04-23",
    "asyncClient" : "AWSMediaTailorAsyncClient",
    "asyncClientBuilderClassName" : "AWSMediaTailorAsyncClientBuilder",
    "asyncInterface" : "AWSMediaTailorAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSMediaTailorModuleInjector",
    "defaultEndpoint" : "api.mediatailor.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "api.mediatailor.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Use the AWS Elemental MediaTailor SDKs and CLI to configure scalable ad insertion and linear channels. With MediaTailor, you can assemble existing content into a linear stream and serve targeted ads to viewers while maintaining broadcast quality in over-the-top (OTT) video applications. For information about using the service, including detailed information about the settings covered in this guide, see the <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/\">AWS Elemental MediaTailor User Guide</a>.</p> <p>Through the SDKs and the CLI you manage AWS Elemental MediaTailor configurations and channels the same as you do through the console. For example, you specify ad insertion behavior and mapping information for the origin server and the ad decision server (ADS).</p>",
    "endpointPrefix" : "api.mediatailor",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.mediatailor",
    "packagePath" : "com/amazonaws/services/mediatailor",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "MediaTailor",
    "serviceFullName" : "AWS MediaTailor",
    "serviceId" : "MediaTailor",
    "serviceName" : "MediaTailor",
    "signingName" : "mediatailor",
    "smokeTestsPackageName" : "com.amazonaws.services.mediatailor.smoketests",
    "syncClient" : "AWSMediaTailorClient",
    "syncClientBuilderClassName" : "AWSMediaTailorClientBuilder",
    "syncInterface" : "AWSMediaTailor",
    "uid" : "mediatailor-2018-04-23",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChannelRequest, CreateChannelResult>",
      "asyncReturnType" : "CreateChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateChannelRequest",
        "variableName" : "createChannelRequest",
        "variableType" : "CreateChannelRequest",
        "documentation" : "",
        "simpleType" : "CreateChannelRequest",
        "variableSetterType" : "CreateChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChannel",
      "operationName" : "CreateChannel",
      "returnType" : {
        "returnType" : "CreateChannelResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "CreateChannelResult"
    },
    "CreateProgram" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProgramResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProgramResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProgramRequest, CreateProgramResult>",
      "asyncReturnType" : "CreateProgramResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a program.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProgramRequest",
        "variableName" : "createProgramRequest",
        "variableType" : "CreateProgramRequest",
        "documentation" : "",
        "simpleType" : "CreateProgramRequest",
        "variableSetterType" : "CreateProgramRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProgram",
      "operationName" : "CreateProgram",
      "returnType" : {
        "returnType" : "CreateProgramResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "CreateProgramResult"
    },
    "CreateSourceLocation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSourceLocationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSourceLocationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSourceLocationRequest, CreateSourceLocationResult>",
      "asyncReturnType" : "CreateSourceLocationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a source location on a specific channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSourceLocationRequest",
        "variableName" : "createSourceLocationRequest",
        "variableType" : "CreateSourceLocationRequest",
        "documentation" : "",
        "simpleType" : "CreateSourceLocationRequest",
        "variableSetterType" : "CreateSourceLocationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSourceLocation",
      "operationName" : "CreateSourceLocation",
      "returnType" : {
        "returnType" : "CreateSourceLocationResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "CreateSourceLocationResult"
    },
    "CreateVodSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVodSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVodSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVodSourceRequest, CreateVodSourceResult>",
      "asyncReturnType" : "CreateVodSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates name for a specific VOD source in a source location.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVodSourceRequest",
        "variableName" : "createVodSourceRequest",
        "variableType" : "CreateVodSourceRequest",
        "documentation" : "",
        "simpleType" : "CreateVodSourceRequest",
        "variableSetterType" : "CreateVodSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVodSource",
      "operationName" : "CreateVodSource",
      "returnType" : {
        "returnType" : "CreateVodSourceResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "CreateVodSourceResult"
    },
    "DeleteChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelRequest, DeleteChannelResult>",
      "asyncReturnType" : "DeleteChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a channel. You must stop the channel before it can be deleted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChannelRequest",
        "variableName" : "deleteChannelRequest",
        "variableType" : "DeleteChannelRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelRequest",
        "variableSetterType" : "DeleteChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannel",
      "operationName" : "DeleteChannel",
      "returnType" : {
        "returnType" : "DeleteChannelResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "DeleteChannelResult"
    },
    "DeleteChannelPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelPolicyRequest, DeleteChannelPolicyResult>",
      "asyncReturnType" : "DeleteChannelPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a channel's IAM policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChannelPolicyRequest",
        "variableName" : "deleteChannelPolicyRequest",
        "variableType" : "DeleteChannelPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelPolicyRequest",
        "variableSetterType" : "DeleteChannelPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannelPolicy",
      "operationName" : "DeleteChannelPolicy",
      "returnType" : {
        "returnType" : "DeleteChannelPolicyResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "DeleteChannelPolicyResult"
    },
    "DeletePlaybackConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePlaybackConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePlaybackConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePlaybackConfigurationRequest, DeletePlaybackConfigurationResult>",
      "asyncReturnType" : "DeletePlaybackConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the playback configuration for the specified name.</p>  ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePlaybackConfigurationRequest",
        "variableName" : "deletePlaybackConfigurationRequest",
        "variableType" : "DeletePlaybackConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeletePlaybackConfigurationRequest",
        "variableSetterType" : "DeletePlaybackConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePlaybackConfiguration",
      "operationName" : "DeletePlaybackConfiguration",
      "returnType" : {
        "returnType" : "DeletePlaybackConfigurationResult",
        "documentation" : "<p>The request was successful and there is no content in the response.</p>"
      },
      "syncReturnType" : "DeletePlaybackConfigurationResult"
    },
    "DeleteProgram" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProgramResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProgramResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProgramRequest, DeleteProgramResult>",
      "asyncReturnType" : "DeleteProgramResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific program on a specific channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProgramRequest",
        "variableName" : "deleteProgramRequest",
        "variableType" : "DeleteProgramRequest",
        "documentation" : "",
        "simpleType" : "DeleteProgramRequest",
        "variableSetterType" : "DeleteProgramRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProgram",
      "operationName" : "DeleteProgram",
      "returnType" : {
        "returnType" : "DeleteProgramResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "DeleteProgramResult"
    },
    "DeleteSourceLocation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSourceLocationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSourceLocationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSourceLocationRequest, DeleteSourceLocationResult>",
      "asyncReturnType" : "DeleteSourceLocationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a source location on a specific channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSourceLocationRequest",
        "variableName" : "deleteSourceLocationRequest",
        "variableType" : "DeleteSourceLocationRequest",
        "documentation" : "",
        "simpleType" : "DeleteSourceLocationRequest",
        "variableSetterType" : "DeleteSourceLocationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSourceLocation",
      "operationName" : "DeleteSourceLocation",
      "returnType" : {
        "returnType" : "DeleteSourceLocationResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "DeleteSourceLocationResult"
    },
    "DeleteVodSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVodSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVodSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVodSourceRequest, DeleteVodSourceResult>",
      "asyncReturnType" : "DeleteVodSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific VOD source in a specific source location.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVodSourceRequest",
        "variableName" : "deleteVodSourceRequest",
        "variableType" : "DeleteVodSourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteVodSourceRequest",
        "variableSetterType" : "DeleteVodSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVodSource",
      "operationName" : "DeleteVodSource",
      "returnType" : {
        "returnType" : "DeleteVodSourceResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "DeleteVodSourceResult"
    },
    "DescribeChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChannelRequest, DescribeChannelResult>",
      "asyncReturnType" : "DescribeChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the properties of a specific channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeChannelRequest",
        "variableName" : "describeChannelRequest",
        "variableType" : "DescribeChannelRequest",
        "documentation" : "",
        "simpleType" : "DescribeChannelRequest",
        "variableSetterType" : "DescribeChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChannel",
      "operationName" : "DescribeChannel",
      "returnType" : {
        "returnType" : "DescribeChannelResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "DescribeChannelResult"
    },
    "DescribeProgram" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProgramResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProgramResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProgramRequest, DescribeProgramResult>",
      "asyncReturnType" : "DescribeProgramResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the properties of the requested program.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeProgramRequest",
        "variableName" : "describeProgramRequest",
        "variableType" : "DescribeProgramRequest",
        "documentation" : "",
        "simpleType" : "DescribeProgramRequest",
        "variableSetterType" : "DescribeProgramRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProgram",
      "operationName" : "DescribeProgram",
      "returnType" : {
        "returnType" : "DescribeProgramResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "DescribeProgramResult"
    },
    "DescribeSourceLocation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSourceLocationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSourceLocationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSourceLocationRequest, DescribeSourceLocationResult>",
      "asyncReturnType" : "DescribeSourceLocationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the properties of the requested source location.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSourceLocationRequest",
        "variableName" : "describeSourceLocationRequest",
        "variableType" : "DescribeSourceLocationRequest",
        "documentation" : "",
        "simpleType" : "DescribeSourceLocationRequest",
        "variableSetterType" : "DescribeSourceLocationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSourceLocation",
      "operationName" : "DescribeSourceLocation",
      "returnType" : {
        "returnType" : "DescribeSourceLocationResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "DescribeSourceLocationResult"
    },
    "DescribeVodSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVodSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVodSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVodSourceRequest, DescribeVodSourceResult>",
      "asyncReturnType" : "DescribeVodSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides details about a specific VOD source in a specific source location.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeVodSourceRequest",
        "variableName" : "describeVodSourceRequest",
        "variableType" : "DescribeVodSourceRequest",
        "documentation" : "",
        "simpleType" : "DescribeVodSourceRequest",
        "variableSetterType" : "DescribeVodSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVodSource",
      "operationName" : "DescribeVodSource",
      "returnType" : {
        "returnType" : "DescribeVodSourceResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "DescribeVodSourceResult"
    },
    "GetChannelPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetChannelPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetChannelPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChannelPolicyRequest, GetChannelPolicyResult>",
      "asyncReturnType" : "GetChannelPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a channel's IAM policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetChannelPolicyRequest",
        "variableName" : "getChannelPolicyRequest",
        "variableType" : "GetChannelPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetChannelPolicyRequest",
        "variableSetterType" : "GetChannelPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getChannelPolicy",
      "operationName" : "GetChannelPolicy",
      "returnType" : {
        "returnType" : "GetChannelPolicyResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "GetChannelPolicyResult"
    },
    "GetChannelSchedule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetChannelScheduleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetChannelScheduleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChannelScheduleRequest, GetChannelScheduleResult>",
      "asyncReturnType" : "GetChannelScheduleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about your channel's schedule.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetChannelScheduleRequest",
        "variableName" : "getChannelScheduleRequest",
        "variableType" : "GetChannelScheduleRequest",
        "documentation" : "",
        "simpleType" : "GetChannelScheduleRequest",
        "variableSetterType" : "GetChannelScheduleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getChannelSchedule",
      "operationName" : "GetChannelSchedule",
      "returnType" : {
        "returnType" : "GetChannelScheduleResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "GetChannelScheduleResult"
    },
    "GetPlaybackConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPlaybackConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPlaybackConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPlaybackConfigurationRequest, GetPlaybackConfigurationResult>",
      "asyncReturnType" : "GetPlaybackConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the playback configuration for the specified name.</p>  ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPlaybackConfigurationRequest",
        "variableName" : "getPlaybackConfigurationRequest",
        "variableType" : "GetPlaybackConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetPlaybackConfigurationRequest",
        "variableSetterType" : "GetPlaybackConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPlaybackConfiguration",
      "operationName" : "GetPlaybackConfiguration",
      "returnType" : {
        "returnType" : "GetPlaybackConfigurationResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "GetPlaybackConfigurationResult"
    },
    "ListAlerts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAlertsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAlertsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAlertsRequest, ListAlertsResult>",
      "asyncReturnType" : "ListAlertsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of alerts for the given resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAlertsRequest",
        "variableName" : "listAlertsRequest",
        "variableType" : "ListAlertsRequest",
        "documentation" : "",
        "simpleType" : "ListAlertsRequest",
        "variableSetterType" : "ListAlertsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAlerts",
      "operationName" : "ListAlerts",
      "returnType" : {
        "returnType" : "ListAlertsResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "ListAlertsResult"
    },
    "ListChannels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChannelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChannelsRequest, ListChannelsResult>",
      "asyncReturnType" : "ListChannelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of channels that are associated with this account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChannelsRequest",
        "variableName" : "listChannelsRequest",
        "variableType" : "ListChannelsRequest",
        "documentation" : "",
        "simpleType" : "ListChannelsRequest",
        "variableSetterType" : "ListChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChannels",
      "operationName" : "ListChannels",
      "returnType" : {
        "returnType" : "ListChannelsResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "ListChannelsResult"
    },
    "ListPlaybackConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPlaybackConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPlaybackConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPlaybackConfigurationsRequest, ListPlaybackConfigurationsResult>",
      "asyncReturnType" : "ListPlaybackConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the playback configurations defined in AWS Elemental MediaTailor. You can specify a maximum number of configurations to return at a time. The default maximum is 50. Results are returned in pagefuls. If MediaTailor has more configurations than the specified maximum, it provides parameters in the response that you can use to retrieve the next pageful.</p>  ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPlaybackConfigurationsRequest",
        "variableName" : "listPlaybackConfigurationsRequest",
        "variableType" : "ListPlaybackConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListPlaybackConfigurationsRequest",
        "variableSetterType" : "ListPlaybackConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPlaybackConfigurations",
      "operationName" : "ListPlaybackConfigurations",
      "returnType" : {
        "returnType" : "ListPlaybackConfigurationsResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "ListPlaybackConfigurationsResult"
    },
    "ListSourceLocations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSourceLocationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSourceLocationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSourceLocationsRequest, ListSourceLocationsResult>",
      "asyncReturnType" : "ListSourceLocationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of source locations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSourceLocationsRequest",
        "variableName" : "listSourceLocationsRequest",
        "variableType" : "ListSourceLocationsRequest",
        "documentation" : "",
        "simpleType" : "ListSourceLocationsRequest",
        "variableSetterType" : "ListSourceLocationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSourceLocations",
      "operationName" : "ListSourceLocations",
      "returnType" : {
        "returnType" : "ListSourceLocationsResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "ListSourceLocationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the tags assigned to the specified playback configuration resource.</p>  ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Invalid request parameters.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListVodSources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVodSourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVodSourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVodSourcesRequest, ListVodSourcesResult>",
      "asyncReturnType" : "ListVodSourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the VOD sources in a source location.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVodSourcesRequest",
        "variableName" : "listVodSourcesRequest",
        "variableType" : "ListVodSourcesRequest",
        "documentation" : "",
        "simpleType" : "ListVodSourcesRequest",
        "variableSetterType" : "ListVodSourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVodSources",
      "operationName" : "ListVodSources",
      "returnType" : {
        "returnType" : "ListVodSourcesResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "ListVodSourcesResult"
    },
    "PutChannelPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutChannelPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutChannelPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutChannelPolicyRequest, PutChannelPolicyResult>",
      "asyncReturnType" : "PutChannelPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an IAM policy for the channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutChannelPolicyRequest",
        "variableName" : "putChannelPolicyRequest",
        "variableType" : "PutChannelPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutChannelPolicyRequest",
        "variableSetterType" : "PutChannelPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putChannelPolicy",
      "operationName" : "PutChannelPolicy",
      "returnType" : {
        "returnType" : "PutChannelPolicyResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "PutChannelPolicyResult"
    },
    "PutPlaybackConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutPlaybackConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutPlaybackConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutPlaybackConfigurationRequest, PutPlaybackConfigurationResult>",
      "asyncReturnType" : "PutPlaybackConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a new playback configuration to AWS Elemental MediaTailor.</p>  ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutPlaybackConfigurationRequest",
        "variableName" : "putPlaybackConfigurationRequest",
        "variableType" : "PutPlaybackConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutPlaybackConfigurationRequest",
        "variableSetterType" : "PutPlaybackConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putPlaybackConfiguration",
      "operationName" : "PutPlaybackConfiguration",
      "returnType" : {
        "returnType" : "PutPlaybackConfigurationResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "PutPlaybackConfigurationResult"
    },
    "StartChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartChannelRequest, StartChannelResult>",
      "asyncReturnType" : "StartChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a specific channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartChannelRequest",
        "variableName" : "startChannelRequest",
        "variableType" : "StartChannelRequest",
        "documentation" : "",
        "simpleType" : "StartChannelRequest",
        "variableSetterType" : "StartChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startChannel",
      "operationName" : "StartChannel",
      "returnType" : {
        "returnType" : "StartChannelResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "StartChannelResult"
    },
    "StopChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopChannelRequest, StopChannelResult>",
      "asyncReturnType" : "StopChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a specific channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopChannelRequest",
        "variableName" : "stopChannelRequest",
        "variableType" : "StopChannelRequest",
        "documentation" : "",
        "simpleType" : "StopChannelRequest",
        "variableSetterType" : "StopChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopChannel",
      "operationName" : "StopChannel",
      "returnType" : {
        "returnType" : "StopChannelResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "StopChannelResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags to the specified playback configuration resource. You can specify one or more tags to add.</p>  ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Invalid request parameters.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from the specified playback configuration resource. You can specify one or more tags to remove.</p>  ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Invalid request parameters.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateChannelRequest, UpdateChannelResult>",
      "asyncReturnType" : "UpdateChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateChannelRequest",
        "variableName" : "updateChannelRequest",
        "variableType" : "UpdateChannelRequest",
        "documentation" : "",
        "simpleType" : "UpdateChannelRequest",
        "variableSetterType" : "UpdateChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateChannel",
      "operationName" : "UpdateChannel",
      "returnType" : {
        "returnType" : "UpdateChannelResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "UpdateChannelResult"
    },
    "UpdateSourceLocation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSourceLocationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSourceLocationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSourceLocationRequest, UpdateSourceLocationResult>",
      "asyncReturnType" : "UpdateSourceLocationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a source location on a specific channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSourceLocationRequest",
        "variableName" : "updateSourceLocationRequest",
        "variableType" : "UpdateSourceLocationRequest",
        "documentation" : "",
        "simpleType" : "UpdateSourceLocationRequest",
        "variableSetterType" : "UpdateSourceLocationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSourceLocation",
      "operationName" : "UpdateSourceLocation",
      "returnType" : {
        "returnType" : "UpdateSourceLocationResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "UpdateSourceLocationResult"
    },
    "UpdateVodSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateVodSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateVodSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateVodSourceRequest, UpdateVodSourceResult>",
      "asyncReturnType" : "UpdateVodSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a specific VOD source in a specific source location.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateVodSourceRequest",
        "variableName" : "updateVodSourceRequest",
        "variableType" : "UpdateVodSourceRequest",
        "documentation" : "",
        "simpleType" : "UpdateVodSourceRequest",
        "variableSetterType" : "UpdateVodSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateVodSource",
      "operationName" : "UpdateVodSource",
      "returnType" : {
        "returnType" : "UpdateVodSourceResult",
        "documentation" : "<p>Success.</p>"
      },
      "syncReturnType" : "UpdateVodSourceResult"
    }
  },
  "shapes" : {
    "AccessConfiguration" : {
      "c2jName" : "AccessConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access configuration parameters.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mediatailor.model.AccessConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AccessType",
        "c2jShape" : "AccessType",
        "deprecated" : false,
        "documentation" : "<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "AccessType",
        "fluentSetterDocumentation" : "/**<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>\n@param accessType The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessType*/",
        "fluentSetterMethodName" : "withAccessType",
        "getterDocumentation" : "/**<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>\n@return The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.\n@see AccessType*/",
        "getterMethodName" : "getAccessType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccessType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccessType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccessType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>\n@param accessType The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.\n@see AccessType*/",
        "setterMethodName" : "setAccessType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accessType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>\n@param accessType The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accessType",
          "variableType" : "String",
          "documentation" : "<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SecretsManagerAccessTokenConfiguration",
        "c2jShape" : "SecretsManagerAccessTokenConfiguration",
        "deprecated" : false,
        "documentation" : "<p>AWS Secrets Manager access token configuration parameters.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>AWS Secrets Manager access token configuration parameters.</p>\n@param secretsManagerAccessTokenConfiguration AWS Secrets Manager access token configuration parameters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSecretsManagerAccessTokenConfiguration",
        "getterDocumentation" : "/**<p>AWS Secrets Manager access token configuration parameters.</p>\n@return AWS Secrets Manager access token configuration parameters.*/",
        "getterMethodName" : "getSecretsManagerAccessTokenConfiguration",
        "getterModel" : {
          "returnType" : "SecretsManagerAccessTokenConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SecretsManagerAccessTokenConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SecretsManagerAccessTokenConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SecretsManagerAccessTokenConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>AWS Secrets Manager access token configuration parameters.</p>\n@param secretsManagerAccessTokenConfiguration AWS Secrets Manager access token configuration parameters.*/",
        "setterMethodName" : "setSecretsManagerAccessTokenConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SecretsManagerAccessTokenConfiguration",
          "variableName" : "secretsManagerAccessTokenConfiguration",
          "variableType" : "SecretsManagerAccessTokenConfiguration",
          "documentation" : "",
          "simpleType" : "SecretsManagerAccessTokenConfiguration",
          "variableSetterType" : "SecretsManagerAccessTokenConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>AWS Secrets Manager access token configuration parameters.</p>\n@param secretsManagerAccessTokenConfiguration AWS Secrets Manager access token configuration parameters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SecretsManagerAccessTokenConfiguration",
          "variableName" : "secretsManagerAccessTokenConfiguration",
          "variableType" : "SecretsManagerAccessTokenConfiguration",
          "documentation" : "<p>AWS Secrets Manager access token configuration parameters.</p>",
          "simpleType" : "SecretsManagerAccessTokenConfiguration",
          "variableSetterType" : "SecretsManagerAccessTokenConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccessType" : {
          "c2jName" : "AccessType",
          "c2jShape" : "AccessType",
          "deprecated" : false,
          "documentation" : "<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "AccessType",
          "fluentSetterDocumentation" : "/**<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>\n@param accessType The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessType*/",
          "fluentSetterMethodName" : "withAccessType",
          "getterDocumentation" : "/**<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>\n@return The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.\n@see AccessType*/",
          "getterMethodName" : "getAccessType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AccessType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AccessType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccessType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>\n@param accessType The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.\n@see AccessType*/",
          "setterMethodName" : "setAccessType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accessType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>\n@param accessType The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accessType",
            "variableType" : "String",
            "documentation" : "<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SecretsManagerAccessTokenConfiguration" : {
          "c2jName" : "SecretsManagerAccessTokenConfiguration",
          "c2jShape" : "SecretsManagerAccessTokenConfiguration",
          "deprecated" : false,
          "documentation" : "<p>AWS Secrets Manager access token configuration parameters.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>AWS Secrets Manager access token configuration parameters.</p>\n@param secretsManagerAccessTokenConfiguration AWS Secrets Manager access token configuration parameters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSecretsManagerAccessTokenConfiguration",
          "getterDocumentation" : "/**<p>AWS Secrets Manager access token configuration parameters.</p>\n@return AWS Secrets Manager access token configuration parameters.*/",
          "getterMethodName" : "getSecretsManagerAccessTokenConfiguration",
          "getterModel" : {
            "returnType" : "SecretsManagerAccessTokenConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SecretsManagerAccessTokenConfiguration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SecretsManagerAccessTokenConfiguration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "SecretsManagerAccessTokenConfiguration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>AWS Secrets Manager access token configuration parameters.</p>\n@param secretsManagerAccessTokenConfiguration AWS Secrets Manager access token configuration parameters.*/",
          "setterMethodName" : "setSecretsManagerAccessTokenConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SecretsManagerAccessTokenConfiguration",
            "variableName" : "secretsManagerAccessTokenConfiguration",
            "variableType" : "SecretsManagerAccessTokenConfiguration",
            "documentation" : "",
            "simpleType" : "SecretsManagerAccessTokenConfiguration",
            "variableSetterType" : "SecretsManagerAccessTokenConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>AWS Secrets Manager access token configuration parameters.</p>\n@param secretsManagerAccessTokenConfiguration AWS Secrets Manager access token configuration parameters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SecretsManagerAccessTokenConfiguration",
            "variableName" : "secretsManagerAccessTokenConfiguration",
            "variableType" : "SecretsManagerAccessTokenConfiguration",
            "documentation" : "<p>AWS Secrets Manager access token configuration parameters.</p>",
            "simpleType" : "SecretsManagerAccessTokenConfiguration",
            "variableSetterType" : "SecretsManagerAccessTokenConfiguration"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.mediatailor.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessConfiguration",
        "variableName" : "accessConfiguration",
        "variableType" : "AccessConfiguration",
        "documentation" : null,
        "simpleType" : "AccessConfiguration",
        "variableSetterType" : "AccessConfiguration"
      },
      "wrapper" : false
    },
    "AccessType" : {
      "c2jName" : "AccessType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "S3_SIGV4",
        "value" : "S3_SIGV4"
      }, {
        "name" : "SECRETS_MANAGER_ACCESS_TOKEN",
        "value" : "SECRETS_MANAGER_ACCESS_TOKEN"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mediatailor.enum.AccessType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.mediatailor.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessType",
        "variableName" : "accessType",
        "variableType" : "AccessType",
        "documentation" : null,
        "simpleType" : "AccessType",
        "variableSetterType" : "AccessType"
      },
      "wrapper" : false
    },
    "AdBreak" : {
      "c2jName" : "AdBreak",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Ad break configuration parameters.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mediatailor.model.AdBreak",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "MessageType",
        "c2jShape" : "MessageType",
        "deprecated" : false,
        "documentation" : "<p>The SCTE-35 ad insertion type. Accepted value: SPLICE_INSERT.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "MessageType",
        "fluentSetterDocumentation" : "/**<p>The SCTE-35 ad insertion type. Accepted value: SPLICE_INSERT.</p>\n@param messageType The SCTE-35 ad insertion type. Accepted value: SPLICE_INSERT.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MessageType*/",
        "fluentSetterMethodName" : "withMessageType",
        "getterDocumentation" : "/**<p>The SCTE-35 ad insertion type. Accepted value: SPLICE_INSERT.</p>\n@return The SCTE-35 ad insertion type. Accepted value: SPLICE_INSERT.\n@see MessageType*/",
        "getterMethodName" : "getMessageType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MessageType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MessageType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MessageType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The SCTE-35 ad insertion type. Accepted value: SPLICE_INSERT.</p>\n@param messageType The SCTE-35 ad insertion type. Accepted value: SPLICE_INSERT.\n@see MessageType*/",
        "setterMethodName" : "setMessageType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "messageType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The SCTE-35 ad insertion type. Accepted value: SPLICE_INSERT.</p>\n@param messageType The SCTE-35 ad insertion type. Accepted value: SPLICE_INSERT.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MessageType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "messageType",
          "variableType" : "String",
          "documentation" : "<p>The SCTE-35 ad insertion type. Accepted value: SPLICE_INSERT.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OffsetMillis",
        "c2jShape" : "__long",
        "deprecated" : false,
        "documentation" : "<p>How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.</p>\n@param offsetMillis How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOffsetMillis",
        "getterDocumentation" : "/**<p>How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.</p>\n@return How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.*/",
        "getterMethodName" : "getOffsetMillis",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "OffsetMillis",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OffsetMillis",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "OffsetMillis",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.</p>\n@param offsetMillis How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.*/",
        "setterMethodName" : "setOffsetMillis",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "offsetMillis",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.</p>\n@param offsetMillis How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "offsetMillis",
          "variableType" : "Long",
          "documentation" : "<p>How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Slate",
[...]
