{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "DescribeImagesFilter" : [ "tagStatus" ],
      "ImageFailure" : [ "failureCode" ],
      "Layer" : [ "layerAvailability" ],
      "LayerFailure" : [ "failureCode" ],
      "ListImagesFilter" : [ "tagStatus" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2015-09-21",
    "asyncClient" : "AmazonECRAsyncClient",
    "asyncClientBuilderClassName" : "AmazonECRAsyncClientBuilder",
    "asyncInterface" : "AmazonECRAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonECRModuleInjector",
    "defaultEndpoint" : "api.ecr.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "api.ecr.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Elastic Container Registry</fullname> <p>Amazon Elastic Container Registry (Amazon ECR) is a managed container image registry service. Customers can use the familiar Docker CLI, or their preferred client, to push, pull, and manage images. Amazon ECR provides a secure, scalable, and reliable registry for your Docker or Open Container Initiative (OCI) images. Amazon ECR supports private repositories with resource-based permissions using IAM so that specific users or Amazon EC2 instances can access repositories and images.</p> <p>Amazon ECR has service endpoints in each supported Region. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/ecr.html\">Amazon ECR endpoints</a> in the <i>Amazon Web Services General Reference</i>.</p>",
    "endpointPrefix" : "api.ecr",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ecr",
    "packagePath" : "com/amazonaws/services/ecr",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon ECR",
    "serviceFullName" : "Amazon EC2 Container Registry",
    "serviceId" : "ECR",
    "serviceName" : "Amazon ECR",
    "signingName" : "ecr",
    "smokeTestsPackageName" : "com.amazonaws.services.ecr.smoketests",
    "syncClient" : "AmazonECRClient",
    "syncClientBuilderClassName" : "AmazonECRClientBuilder",
    "syncInterface" : "AmazonECR",
    "uid" : "ecr-2015-09-21",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchCheckLayerAvailability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCheckLayerAvailabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCheckLayerAvailabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCheckLayerAvailabilityRequest, BatchCheckLayerAvailabilityResult>",
      "asyncReturnType" : "BatchCheckLayerAvailabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks the availability of one or more image layers in a repository.</p> <p>When an image is pushed to a repository, each image layer is checked to verify if it has been uploaded before. If it has been uploaded, then the image layer is skipped.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCheckLayerAvailabilityRequest",
        "variableName" : "batchCheckLayerAvailabilityRequest",
        "variableType" : "BatchCheckLayerAvailabilityRequest",
        "documentation" : "",
        "simpleType" : "BatchCheckLayerAvailabilityRequest",
        "variableSetterType" : "BatchCheckLayerAvailabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCheckLayerAvailability",
      "operationName" : "BatchCheckLayerAvailability",
      "returnType" : {
        "returnType" : "BatchCheckLayerAvailabilityResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCheckLayerAvailabilityResult"
    },
    "BatchDeleteImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteImageRequest, BatchDeleteImageResult>",
      "asyncReturnType" : "BatchDeleteImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a list of specified images within a repository. Images are specified with either an <code>imageTag</code> or <code>imageDigest</code>.</p> <p>You can remove a tag from an image by specifying the image's tag in your request. When you remove the last tag from an image, the image is deleted from your repository.</p> <p>You can completely delete an image (and all of its tags) by specifying the image's digest in your request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteImageRequest",
        "variableName" : "batchDeleteImageRequest",
        "variableType" : "BatchDeleteImageRequest",
        "documentation" : "<p>Deletes specified images within a specified repository. Images are specified with either the <code>imageTag</code> or <code>imageDigest</code>.</p>",
        "simpleType" : "BatchDeleteImageRequest",
        "variableSetterType" : "BatchDeleteImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteImage",
      "operationName" : "BatchDeleteImage",
      "returnType" : {
        "returnType" : "BatchDeleteImageResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteImageResult"
    },
    "BatchGetImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetImageRequest, BatchGetImageResult>",
      "asyncReturnType" : "BatchGetImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets detailed information for an image. Images are specified with either an <code>imageTag</code> or <code>imageDigest</code>.</p> <p>When an image is pulled, the BatchGetImage API is called once to retrieve the image manifest.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetImageRequest",
        "variableName" : "batchGetImageRequest",
        "variableType" : "BatchGetImageRequest",
        "documentation" : "",
        "simpleType" : "BatchGetImageRequest",
        "variableSetterType" : "BatchGetImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetImage",
      "operationName" : "BatchGetImage",
      "returnType" : {
        "returnType" : "BatchGetImageResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetImageResult"
    },
    "BatchGetRepositoryScanningConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetRepositoryScanningConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetRepositoryScanningConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetRepositoryScanningConfigurationRequest, BatchGetRepositoryScanningConfigurationResult>",
      "asyncReturnType" : "BatchGetRepositoryScanningConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the scanning configuration for one or more repositories.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetRepositoryScanningConfigurationRequest",
        "variableName" : "batchGetRepositoryScanningConfigurationRequest",
        "variableType" : "BatchGetRepositoryScanningConfigurationRequest",
        "documentation" : "",
        "simpleType" : "BatchGetRepositoryScanningConfigurationRequest",
        "variableSetterType" : "BatchGetRepositoryScanningConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetRepositoryScanningConfiguration",
      "operationName" : "BatchGetRepositoryScanningConfiguration",
      "returnType" : {
        "returnType" : "BatchGetRepositoryScanningConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetRepositoryScanningConfigurationResult"
    },
    "CompleteLayerUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CompleteLayerUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CompleteLayerUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CompleteLayerUploadRequest, CompleteLayerUploadResult>",
      "asyncReturnType" : "CompleteLayerUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Informs Amazon ECR that the image layer upload has completed for a specified registry, repository name, and upload ID. You can optionally provide a <code>sha256</code> digest of the image layer for data validation purposes.</p> <p>When an image is pushed, the CompleteLayerUpload API is called once per each new image layer to verify that the upload has completed.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UploadNotFoundException",
        "documentation" : "<p>The upload could not be found, or the specified upload ID is not valid for this repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLayerException",
        "documentation" : "<p>The layer digest calculation performed by Amazon ECR upon receipt of the image layer does not match the digest specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayerPartTooSmallException",
        "documentation" : "<p>Layer parts must be at least 5 MiB in size.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayerAlreadyExistsException",
        "documentation" : "<p>The image layer already exists in the associated repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EmptyUploadException",
        "documentation" : "<p>The specified layer upload does not contain any layer parts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsException",
        "documentation" : "<p>The operation failed due to a KMS exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CompleteLayerUploadRequest",
        "variableName" : "completeLayerUploadRequest",
        "variableType" : "CompleteLayerUploadRequest",
        "documentation" : "",
        "simpleType" : "CompleteLayerUploadRequest",
        "variableSetterType" : "CompleteLayerUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "completeLayerUpload",
      "operationName" : "CompleteLayerUpload",
      "returnType" : {
        "returnType" : "CompleteLayerUploadResult",
        "documentation" : null
      },
      "syncReturnType" : "CompleteLayerUploadResult"
    },
    "CreatePullThroughCacheRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePullThroughCacheRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePullThroughCacheRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePullThroughCacheRuleRequest, CreatePullThroughCacheRuleResult>",
      "asyncReturnType" : "CreatePullThroughCacheRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a pull through cache rule. A pull through cache rule provides a way to cache images from an external public registry in your Amazon ECR private registry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PullThroughCacheRuleAlreadyExistsException",
        "documentation" : "<p>A pull through cache rule with these settings already exists for the private registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedUpstreamRegistryException",
        "documentation" : "<p>The specified upstream registry isn't supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/service-quotas.html\">Amazon ECR service quotas</a> in the Amazon Elastic Container Registry User Guide.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePullThroughCacheRuleRequest",
        "variableName" : "createPullThroughCacheRuleRequest",
        "variableType" : "CreatePullThroughCacheRuleRequest",
        "documentation" : "",
        "simpleType" : "CreatePullThroughCacheRuleRequest",
        "variableSetterType" : "CreatePullThroughCacheRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPullThroughCacheRule",
      "operationName" : "CreatePullThroughCacheRule",
      "returnType" : {
        "returnType" : "CreatePullThroughCacheRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePullThroughCacheRuleResult"
    },
    "CreateRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRepositoryRequest, CreateRepositoryResult>",
      "asyncReturnType" : "CreateRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a repository. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/Repositories.html\">Amazon ECR repositories</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTagParameterException",
        "documentation" : "<p>An invalid parameter has been specified. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The list of tags on the repository is over the limit. The maximum number of tags that can be applied to a repository is 50.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryAlreadyExistsException",
        "documentation" : "<p>The specified repository already exists in the specified registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/service-quotas.html\">Amazon ECR service quotas</a> in the Amazon Elastic Container Registry User Guide.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsException",
        "documentation" : "<p>The operation failed due to a KMS exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRepositoryRequest",
        "variableName" : "createRepositoryRequest",
        "variableType" : "CreateRepositoryRequest",
        "documentation" : "",
        "simpleType" : "CreateRepositoryRequest",
        "variableSetterType" : "CreateRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRepository",
      "operationName" : "CreateRepository",
      "returnType" : {
        "returnType" : "CreateRepositoryResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRepositoryResult"
    },
    "DeleteLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLifecyclePolicyRequest, DeleteLifecyclePolicyResult>",
      "asyncReturnType" : "DeleteLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the lifecycle policy associated with the specified repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LifecyclePolicyNotFoundException",
        "documentation" : "<p>The lifecycle policy could not be found, and no policy is set to the repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLifecyclePolicyRequest",
        "variableName" : "deleteLifecyclePolicyRequest",
        "variableType" : "DeleteLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteLifecyclePolicyRequest",
        "variableSetterType" : "DeleteLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLifecyclePolicy",
      "operationName" : "DeleteLifecyclePolicy",
      "returnType" : {
        "returnType" : "DeleteLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLifecyclePolicyResult"
    },
    "DeletePullThroughCacheRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePullThroughCacheRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePullThroughCacheRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePullThroughCacheRuleRequest, DeletePullThroughCacheRuleResult>",
      "asyncReturnType" : "DeletePullThroughCacheRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a pull through cache rule.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PullThroughCacheRuleNotFoundException",
        "documentation" : "<p>The pull through cache rule was not found. Specify a valid pull through cache rule and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePullThroughCacheRuleRequest",
        "variableName" : "deletePullThroughCacheRuleRequest",
        "variableType" : "DeletePullThroughCacheRuleRequest",
        "documentation" : "",
        "simpleType" : "DeletePullThroughCacheRuleRequest",
        "variableSetterType" : "DeletePullThroughCacheRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePullThroughCacheRule",
      "operationName" : "DeletePullThroughCacheRule",
      "returnType" : {
        "returnType" : "DeletePullThroughCacheRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePullThroughCacheRuleResult"
    },
    "DeleteRegistryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRegistryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRegistryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRegistryPolicyRequest, DeleteRegistryPolicyResult>",
      "asyncReturnType" : "DeleteRegistryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the registry permissions policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RegistryPolicyNotFoundException",
        "documentation" : "<p>The registry doesn't have an associated registry policy.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRegistryPolicyRequest",
        "variableName" : "deleteRegistryPolicyRequest",
        "variableType" : "DeleteRegistryPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteRegistryPolicyRequest",
        "variableSetterType" : "DeleteRegistryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRegistryPolicy",
      "operationName" : "DeleteRegistryPolicy",
      "returnType" : {
        "returnType" : "DeleteRegistryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRegistryPolicyResult"
    },
    "DeleteRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryRequest, DeleteRepositoryResult>",
      "asyncReturnType" : "DeleteRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a repository. If the repository contains images, you must either delete all images in the repository or use the <code>force</code> option to delete the repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotEmptyException",
        "documentation" : "<p>The specified repository contains images. To delete a repository that contains images, you must force the deletion with the <code>force</code> parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsException",
        "documentation" : "<p>The operation failed due to a KMS exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRepositoryRequest",
        "variableName" : "deleteRepositoryRequest",
        "variableType" : "DeleteRepositoryRequest",
        "documentation" : "",
        "simpleType" : "DeleteRepositoryRequest",
        "variableSetterType" : "DeleteRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRepository",
      "operationName" : "DeleteRepository",
      "returnType" : {
        "returnType" : "DeleteRepositoryResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRepositoryResult"
    },
    "DeleteRepositoryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryPolicyRequest, DeleteRepositoryPolicyResult>",
      "asyncReturnType" : "DeleteRepositoryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the repository policy associated with the specified repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryPolicyNotFoundException",
        "documentation" : "<p>The specified repository and registry combination does not have an associated repository policy.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRepositoryPolicyRequest",
        "variableName" : "deleteRepositoryPolicyRequest",
        "variableType" : "DeleteRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteRepositoryPolicyRequest",
        "variableSetterType" : "DeleteRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRepositoryPolicy",
      "operationName" : "DeleteRepositoryPolicy",
      "returnType" : {
        "returnType" : "DeleteRepositoryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRepositoryPolicyResult"
    },
    "DescribeImageReplicationStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImageReplicationStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImageReplicationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImageReplicationStatusRequest, DescribeImageReplicationStatusResult>",
      "asyncReturnType" : "DescribeImageReplicationStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the replication status for a specified image.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ImageNotFoundException",
        "documentation" : "<p>The image requested does not exist in the specified repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeImageReplicationStatusRequest",
        "variableName" : "describeImageReplicationStatusRequest",
        "variableType" : "DescribeImageReplicationStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeImageReplicationStatusRequest",
        "variableSetterType" : "DescribeImageReplicationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImageReplicationStatus",
      "operationName" : "DescribeImageReplicationStatus",
      "returnType" : {
        "returnType" : "DescribeImageReplicationStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImageReplicationStatusResult"
    },
    "DescribeImageScanFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImageScanFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImageScanFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImageScanFindingsRequest, DescribeImageScanFindingsResult>",
      "asyncReturnType" : "DescribeImageScanFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the scan findings for the specified image.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ImageNotFoundException",
        "documentation" : "<p>The image requested does not exist in the specified repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ScanNotFoundException",
        "documentation" : "<p>The specified image scan could not be found. Ensure that image scanning is enabled on the repository and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeImageScanFindingsRequest",
        "variableName" : "describeImageScanFindingsRequest",
        "variableType" : "DescribeImageScanFindingsRequest",
        "documentation" : "",
        "simpleType" : "DescribeImageScanFindingsRequest",
        "variableSetterType" : "DescribeImageScanFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImageScanFindings",
      "operationName" : "DescribeImageScanFindings",
      "returnType" : {
        "returnType" : "DescribeImageScanFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImageScanFindingsResult"
    },
    "DescribeImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImagesRequest, DescribeImagesResult>",
      "asyncReturnType" : "DescribeImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata about the images in a repository.</p> <note> <p>Beginning with Docker version 1.9, the Docker client compresses image layers before pushing them to a V2 Docker registry. The output of the <code>docker images</code> command shows the uncompressed image size, so it may return a larger image size than the image sizes returned by <a>DescribeImages</a>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ImageNotFoundException",
        "documentation" : "<p>The image requested does not exist in the specified repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeImagesRequest",
        "variableName" : "describeImagesRequest",
        "variableType" : "DescribeImagesRequest",
        "documentation" : "",
        "simpleType" : "DescribeImagesRequest",
        "variableSetterType" : "DescribeImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImages",
      "operationName" : "DescribeImages",
      "returnType" : {
        "returnType" : "DescribeImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImagesResult"
    },
    "DescribePullThroughCacheRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePullThroughCacheRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePullThroughCacheRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePullThroughCacheRulesRequest, DescribePullThroughCacheRulesResult>",
      "asyncReturnType" : "DescribePullThroughCacheRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the pull through cache rules for a registry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PullThroughCacheRuleNotFoundException",
        "documentation" : "<p>The pull through cache rule was not found. Specify a valid pull through cache rule and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePullThroughCacheRulesRequest",
        "variableName" : "describePullThroughCacheRulesRequest",
        "variableType" : "DescribePullThroughCacheRulesRequest",
        "documentation" : "",
        "simpleType" : "DescribePullThroughCacheRulesRequest",
        "variableSetterType" : "DescribePullThroughCacheRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePullThroughCacheRules",
      "operationName" : "DescribePullThroughCacheRules",
      "returnType" : {
        "returnType" : "DescribePullThroughCacheRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePullThroughCacheRulesResult"
    },
    "DescribeRegistry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRegistryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRegistryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRegistryRequest, DescribeRegistryResult>",
      "asyncReturnType" : "DescribeRegistryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the settings for a registry. The replication configuration for a repository can be created or updated with the <a>PutReplicationConfiguration</a> API action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRegistryRequest",
        "variableName" : "describeRegistryRequest",
        "variableType" : "DescribeRegistryRequest",
        "documentation" : "",
        "simpleType" : "DescribeRegistryRequest",
        "variableSetterType" : "DescribeRegistryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRegistry",
      "operationName" : "DescribeRegistry",
      "returnType" : {
        "returnType" : "DescribeRegistryResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRegistryResult"
    },
    "DescribeRepositories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRepositoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRepositoriesRequest, DescribeRepositoriesResult>",
      "asyncReturnType" : "DescribeRepositoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes image repositories in a registry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRepositoriesRequest",
        "variableName" : "describeRepositoriesRequest",
        "variableType" : "DescribeRepositoriesRequest",
        "documentation" : "",
        "simpleType" : "DescribeRepositoriesRequest",
        "variableSetterType" : "DescribeRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRepositories",
      "operationName" : "DescribeRepositories",
      "returnType" : {
        "returnType" : "DescribeRepositoriesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRepositoriesResult"
    },
    "GetAuthorizationToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAuthorizationTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAuthorizationTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAuthorizationTokenRequest, GetAuthorizationTokenResult>",
      "asyncReturnType" : "GetAuthorizationTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves an authorization token. An authorization token represents your IAM authentication credentials and can be used to access any Amazon ECR registry that your IAM principal has access to. The authorization token is valid for 12 hours.</p> <p>The <code>authorizationToken</code> returned is a base64 encoded string that can be decoded and used in a <code>docker login</code> command to authenticate to a registry. The CLI offers an <code>get-login-password</code> command that simplifies the login process. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html#registry_auth\">Registry authentication</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAuthorizationTokenRequest",
        "variableName" : "getAuthorizationTokenRequest",
        "variableType" : "GetAuthorizationTokenRequest",
        "documentation" : "",
        "simpleType" : "GetAuthorizationTokenRequest",
        "variableSetterType" : "GetAuthorizationTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAuthorizationToken",
      "operationName" : "GetAuthorizationToken",
      "returnType" : {
        "returnType" : "GetAuthorizationTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAuthorizationTokenResult"
    },
    "GetDownloadUrlForLayer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDownloadUrlForLayerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDownloadUrlForLayerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDownloadUrlForLayerRequest, GetDownloadUrlForLayerResult>",
      "asyncReturnType" : "GetDownloadUrlForLayerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the pre-signed Amazon S3 download URL corresponding to an image layer. You can only get URLs for image layers that are referenced in an image.</p> <p>When an image is pulled, the GetDownloadUrlForLayer API is called once per image layer that is not already cached.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayersNotFoundException",
        "documentation" : "<p>The specified layers could not be found, or the specified layer is not valid for this repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayerInaccessibleException",
        "documentation" : "<p>The specified layer is not available because it is not associated with an image. Unassociated image layers may be cleaned up at any time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDownloadUrlForLayerRequest",
        "variableName" : "getDownloadUrlForLayerRequest",
        "variableType" : "GetDownloadUrlForLayerRequest",
        "documentation" : "",
        "simpleType" : "GetDownloadUrlForLayerRequest",
        "variableSetterType" : "GetDownloadUrlForLayerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDownloadUrlForLayer",
      "operationName" : "GetDownloadUrlForLayer",
      "returnType" : {
        "returnType" : "GetDownloadUrlForLayerResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDownloadUrlForLayerResult"
    },
    "GetLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLifecyclePolicyRequest, GetLifecyclePolicyResult>",
      "asyncReturnType" : "GetLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the lifecycle policy for the specified repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LifecyclePolicyNotFoundException",
        "documentation" : "<p>The lifecycle policy could not be found, and no policy is set to the repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLifecyclePolicyRequest",
        "variableName" : "getLifecyclePolicyRequest",
        "variableType" : "GetLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "GetLifecyclePolicyRequest",
        "variableSetterType" : "GetLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLifecyclePolicy",
      "operationName" : "GetLifecyclePolicy",
      "returnType" : {
        "returnType" : "GetLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLifecyclePolicyResult"
    },
    "GetLifecyclePolicyPreview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLifecyclePolicyPreviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLifecyclePolicyPreviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLifecyclePolicyPreviewRequest, GetLifecyclePolicyPreviewResult>",
      "asyncReturnType" : "GetLifecyclePolicyPreviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the results of the lifecycle policy preview request for the specified repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LifecyclePolicyPreviewNotFoundException",
        "documentation" : "<p>There is no dry run for this repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLifecyclePolicyPreviewRequest",
        "variableName" : "getLifecyclePolicyPreviewRequest",
        "variableType" : "GetLifecyclePolicyPreviewRequest",
        "documentation" : "",
        "simpleType" : "GetLifecyclePolicyPreviewRequest",
        "variableSetterType" : "GetLifecyclePolicyPreviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLifecyclePolicyPreview",
      "operationName" : "GetLifecyclePolicyPreview",
      "returnType" : {
        "returnType" : "GetLifecyclePolicyPreviewResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLifecyclePolicyPreviewResult"
    },
    "GetRegistryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRegistryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRegistryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRegistryPolicyRequest, GetRegistryPolicyResult>",
      "asyncReturnType" : "GetRegistryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the permissions policy for a registry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RegistryPolicyNotFoundException",
        "documentation" : "<p>The registry doesn't have an associated registry policy.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRegistryPolicyRequest",
        "variableName" : "getRegistryPolicyRequest",
        "variableType" : "GetRegistryPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetRegistryPolicyRequest",
        "variableSetterType" : "GetRegistryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRegistryPolicy",
      "operationName" : "GetRegistryPolicy",
      "returnType" : {
        "returnType" : "GetRegistryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRegistryPolicyResult"
    },
    "GetRegistryScanningConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRegistryScanningConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRegistryScanningConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRegistryScanningConfigurationRequest, GetRegistryScanningConfigurationResult>",
      "asyncReturnType" : "GetRegistryScanningConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the scanning configuration for a registry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRegistryScanningConfigurationRequest",
        "variableName" : "getRegistryScanningConfigurationRequest",
        "variableType" : "GetRegistryScanningConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetRegistryScanningConfigurationRequest",
        "variableSetterType" : "GetRegistryScanningConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRegistryScanningConfiguration",
      "operationName" : "GetRegistryScanningConfiguration",
      "returnType" : {
        "returnType" : "GetRegistryScanningConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRegistryScanningConfigurationResult"
    },
    "GetRepositoryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryPolicyRequest, GetRepositoryPolicyResult>",
      "asyncReturnType" : "GetRepositoryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the repository policy for the specified repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryPolicyNotFoundException",
        "documentation" : "<p>The specified repository and registry combination does not have an associated repository policy.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRepositoryPolicyRequest",
        "variableName" : "getRepositoryPolicyRequest",
        "variableType" : "GetRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetRepositoryPolicyRequest",
        "variableSetterType" : "GetRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRepositoryPolicy",
      "operationName" : "GetRepositoryPolicy",
      "returnType" : {
        "returnType" : "GetRepositoryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRepositoryPolicyResult"
    },
    "InitiateLayerUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InitiateLayerUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InitiateLayerUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InitiateLayerUploadRequest, InitiateLayerUploadResult>",
      "asyncReturnType" : "InitiateLayerUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Notifies Amazon ECR that you intend to upload an image layer.</p> <p>When an image is pushed, the InitiateLayerUpload API is called once per image layer that has not already been uploaded. Whether or not an image layer has been uploaded is determined by the BatchCheckLayerAvailability API action.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsException",
        "documentation" : "<p>The operation failed due to a KMS exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InitiateLayerUploadRequest",
        "variableName" : "initiateLayerUploadRequest",
        "variableType" : "InitiateLayerUploadRequest",
        "documentation" : "",
        "simpleType" : "InitiateLayerUploadRequest",
        "variableSetterType" : "InitiateLayerUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "initiateLayerUpload",
      "operationName" : "InitiateLayerUpload",
      "returnType" : {
        "returnType" : "InitiateLayerUploadResult",
        "documentation" : null
      },
      "syncReturnType" : "InitiateLayerUploadResult"
    },
    "ListImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListImagesRequest, ListImagesResult>",
      "asyncReturnType" : "ListImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the image IDs for the specified repository.</p> <p>You can filter images based on whether or not they are tagged by using the <code>tagStatus</code> filter and specifying either <code>TAGGED</code>, <code>UNTAGGED</code> or <code>ANY</code>. For example, you can filter your results to return only <code>UNTAGGED</code> images and then pipe that result to a <a>BatchDeleteImage</a> operation to delete them. Or, you can filter your results to return only <code>TAGGED</code> images to list all of the tags in your repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListImagesRequest",
        "variableName" : "listImagesRequest",
        "variableType" : "ListImagesRequest",
        "documentation" : "",
        "simpleType" : "ListImagesRequest",
        "variableSetterType" : "ListImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listImages",
      "operationName" : "ListImages",
      "returnType" : {
        "returnType" : "ListImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListImagesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the tags for an Amazon ECR resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutImageRequest, PutImageResult>",
      "asyncReturnType" : "PutImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the image manifest and tags associated with an image.</p> <p>When an image is pushed and all new image layers have been uploaded, the PutImage API is called once to create or update the image manifest and the tags associated with the image.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ImageAlreadyExistsException",
        "documentation" : "<p>The specified image has already been pushed, and there were no changes to the manifest or image tag after the last push.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayersNotFoundException",
        "documentation" : "<p>The specified layers could not be found, or the specified layer is not valid for this repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReferencedImagesNotFoundException",
        "documentation" : "<p>The manifest list is referencing an image that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/service-quotas.html\">Amazon ECR service quotas</a> in the Amazon Elastic Container Registry User Guide.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ImageTagAlreadyExistsException",
        "documentation" : "<p>The specified image is tagged with a tag that already exists. The repository is configured for tag immutability.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ImageDigestDoesNotMatchException",
        "documentation" : "<p>The specified image digest does not match the digest that Amazon ECR calculated for the image.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsException",
        "documentation" : "<p>The operation failed due to a KMS exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutImageRequest",
        "variableName" : "putImageRequest",
        "variableType" : "PutImageRequest",
        "documentation" : "",
        "simpleType" : "PutImageRequest",
        "variableSetterType" : "PutImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putImage",
      "operationName" : "PutImage",
      "returnType" : {
        "returnType" : "PutImageResult",
        "documentation" : null
      },
      "syncReturnType" : "PutImageResult"
    },
    "PutImageScanningConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutImageScanningConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutImageScanningConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutImageScanningConfigurationRequest, PutImageScanningConfigurationResult>",
      "asyncReturnType" : "PutImageScanningConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<important> <p>The <code>PutImageScanningConfiguration</code> API is being deprecated, in favor of specifying the image scanning configuration at the registry level. For more information, see <a>PutRegistryScanningConfiguration</a>.</p> </important> <p>Updates the image scanning configuration for the specified repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutImageScanningConfigurationRequest",
        "variableName" : "putImageScanningConfigurationRequest",
        "variableType" : "PutImageScanningConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutImageScanningConfigurationRequest",
        "variableSetterType" : "PutImageScanningConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putImageScanningConfiguration",
      "operationName" : "PutImageScanningConfiguration",
      "returnType" : {
        "returnType" : "PutImageScanningConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutImageScanningConfigurationResult"
    },
    "PutImageTagMutability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutImageTagMutabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutImageTagMutabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutImageTagMutabilityRequest, PutImageTagMutabilityResult>",
      "asyncReturnType" : "PutImageTagMutabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the image tag mutability settings for the specified repository. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-tag-mutability.html\">Image tag mutability</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutImageTagMutabilityRequest",
        "variableName" : "putImageTagMutabilityRequest",
        "variableType" : "PutImageTagMutabilityRequest",
        "documentation" : "",
        "simpleType" : "PutImageTagMutabilityRequest",
        "variableSetterType" : "PutImageTagMutabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putImageTagMutability",
      "operationName" : "PutImageTagMutability",
      "returnType" : {
        "returnType" : "PutImageTagMutabilityResult",
        "documentation" : null
      },
      "syncReturnType" : "PutImageTagMutabilityResult"
    },
    "PutLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutLifecyclePolicyRequest, PutLifecyclePolicyResult>",
      "asyncReturnType" : "PutLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the lifecycle policy for the specified repository. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html\">Lifecycle policy template</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutLifecyclePolicyRequest",
        "variableName" : "putLifecyclePolicyRequest",
        "variableType" : "PutLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "PutLifecyclePolicyRequest",
        "variableSetterType" : "PutLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putLifecyclePolicy",
      "operationName" : "PutLifecyclePolicy",
      "returnType" : {
        "returnType" : "PutLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutLifecyclePolicyResult"
    },
    "PutRegistryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRegistryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRegistryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRegistryPolicyRequest, PutRegistryPolicyResult>",
      "asyncReturnType" : "PutRegistryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the permissions policy for your registry.</p> <p>A registry policy is used to specify permissions for another Amazon Web Services account and is used when configuring cross-account replication. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/registry-permissions.html\">Registry permissions</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRegistryPolicyRequest",
        "variableName" : "putRegistryPolicyRequest",
        "variableType" : "PutRegistryPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutRegistryPolicyRequest",
        "variableSetterType" : "PutRegistryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRegistryPolicy",
      "operationName" : "PutRegistryPolicy",
      "returnType" : {
        "returnType" : "PutRegistryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRegistryPolicyResult"
    },
    "PutRegistryScanningConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRegistryScanningConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRegistryScanningConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRegistryScanningConfigurationRequest, PutRegistryScanningConfigurationResult>",
      "asyncReturnType" : "PutRegistryScanningConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the scanning configuration for your private registry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRegistryScanningConfigurationRequest",
        "variableName" : "putRegistryScanningConfigurationRequest",
        "variableType" : "PutRegistryScanningConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutRegistryScanningConfigurationRequest",
        "variableSetterType" : "PutRegistryScanningConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRegistryScanningConfiguration",
      "operationName" : "PutRegistryScanningConfiguration",
      "returnType" : {
        "returnType" : "PutRegistryScanningConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRegistryScanningConfigurationResult"
    },
    "PutReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutReplicationConfigurationRequest, PutReplicationConfigurationResult>",
      "asyncReturnType" : "PutReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the replication configuration for a registry. The existing replication configuration for a repository can be retrieved with the <a>DescribeRegistry</a> API action. The first time the PutReplicationConfiguration API is called, a service-linked IAM role is created in your account for the replication process. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/using-service-linked-roles.html\">Using service-linked roles for Amazon ECR</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p> <note> <p>When configuring cross-account replication, the destination account must grant the source account permission to replicate. This permission is controlled using a registry permissions policy. For more information, see <a>PutRegistryPolicy</a>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutReplicationConfigurationRequest",
        "variableName" : "putReplicationConfigurationRequest",
        "variableType" : "PutReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutReplicationConfigurationRequest",
        "variableSetterType" : "PutReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putReplicationConfiguration",
      "operationName" : "PutReplicationConfiguration",
      "returnType" : {
        "returnType" : "PutReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutReplicationConfigurationResult"
    },
    "SetRepositoryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetRepositoryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetRepositoryPolicyRequest, SetRepositoryPolicyResult>",
      "asyncReturnType" : "SetRepositoryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies a repository policy to the specified repository to control access permissions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-policies.html\">Amazon ECR Repository policies</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetRepositoryPolicyRequest",
        "variableName" : "setRepositoryPolicyRequest",
        "variableType" : "SetRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "SetRepositoryPolicyRequest",
        "variableSetterType" : "SetRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setRepositoryPolicy",
      "operationName" : "SetRepositoryPolicy",
      "returnType" : {
        "returnType" : "SetRepositoryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "SetRepositoryPolicyResult"
    },
    "StartImageScan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartImageScanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartImageScanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartImageScanRequest, StartImageScanResult>",
      "asyncReturnType" : "StartImageScanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an image vulnerability scan. An image scan can only be started once per 24 hours on an individual image. This limit includes if an image was scanned on initial push. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-scanning.html\">Image scanning</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedImageTypeException",
        "documentation" : "<p>The image is of a type that cannot be scanned.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
[...]
