{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-11-29",
    "asyncClient" : "AmazonApiGatewayManagementApiAsyncClient",
    "asyncClientBuilderClassName" : "AmazonApiGatewayManagementApiAsyncClientBuilder",
    "asyncInterface" : "AmazonApiGatewayManagementApiAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonApiGatewayManagementApiModuleInjector",
    "defaultEndpoint" : "execute-api.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "execute-api.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon API Gateway Management API allows you to directly manage runtime aspects of your deployed APIs. To use it, you must explicitly set the SDK's endpoint to point to the endpoint of your deployed API. The endpoint will be of the form https://{api-id}.execute-api.{region}.amazonaws.com/{stage}, or will be the endpoint corresponding to your API's custom domain and base path, if applicable.</p>",
    "endpointPrefix" : "execute-api",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.apigatewaymanagementapi",
    "packagePath" : "com/amazonaws/services/apigatewaymanagementapi",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AmazonApiGatewayManagementApi",
    "serviceId" : "ApiGatewayManagementApi",
    "serviceName" : "AmazonApiGatewayManagementApi",
    "signingName" : "execute-api",
    "smokeTestsPackageName" : "com.amazonaws.services.apigatewaymanagementapi.smoketests",
    "syncClient" : "AmazonApiGatewayManagementApiClient",
    "syncClientBuilderClassName" : "AmazonApiGatewayManagementApiClientBuilder",
    "syncInterface" : "AmazonApiGatewayManagementApi",
    "uid" : "apigatewaymanagementapi-2018-11-29",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConnectionRequest, DeleteConnectionResult>",
      "asyncReturnType" : "DeleteConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete the connection with the provided id.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "GoneException",
        "documentation" : "<p>The connection with the provided id no longer exists.</p>",
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The client is sending more than the allowed number of requests per unit of time or the WebSocket client side buffer is full.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to invoke this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConnectionRequest",
        "variableName" : "deleteConnectionRequest",
        "variableType" : "DeleteConnectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteConnectionRequest",
        "variableSetterType" : "DeleteConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConnection",
      "operationName" : "DeleteConnection",
      "returnType" : {
        "returnType" : "DeleteConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConnectionResult"
    },
    "GetConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConnectionRequest, GetConnectionResult>",
      "asyncReturnType" : "GetConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get information about the connection with the provided id.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "GoneException",
        "documentation" : "<p>The connection with the provided id no longer exists.</p>",
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The client is sending more than the allowed number of requests per unit of time or the WebSocket client side buffer is full.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to invoke this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConnectionRequest",
        "variableName" : "getConnectionRequest",
        "variableType" : "GetConnectionRequest",
        "documentation" : "",
        "simpleType" : "GetConnectionRequest",
        "variableSetterType" : "GetConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConnection",
      "operationName" : "GetConnection",
      "returnType" : {
        "returnType" : "GetConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConnectionResult"
    },
    "PostToConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PostToConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PostToConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PostToConnectionRequest, PostToConnectionResult>",
      "asyncReturnType" : "PostToConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends the provided data to the specified connection.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "GoneException",
        "documentation" : "<p>The connection with the provided id no longer exists.</p>",
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The client is sending more than the allowed number of requests per unit of time or the WebSocket client side buffer is full.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "PayloadTooLargeException",
        "documentation" : "<p>The data has exceeded the maximum size allowed.</p>",
        "httpStatusCode" : 413
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to invoke this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PostToConnectionRequest",
        "variableName" : "postToConnectionRequest",
        "variableType" : "PostToConnectionRequest",
        "documentation" : "",
        "simpleType" : "PostToConnectionRequest",
        "variableSetterType" : "PostToConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "postToConnection",
      "operationName" : "PostToConnection",
      "returnType" : {
        "returnType" : "PostToConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "PostToConnectionResult"
    }
  },
  "shapes" : {
    "DeleteConnectionRequest" : {
      "c2jName" : "DeleteConnectionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteConnection",
        "locationName" : null,
        "requestUri" : "/@connections/{connectionId}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ConnectionId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConnectionId",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getConnectionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "connectionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "connectionId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConnectionId",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param connectionId */",
        "setterMethodName" : "setConnectionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConnectionId" : {
          "c2jName" : "ConnectionId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConnectionId",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getConnectionId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "connectionId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "connectionId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ConnectionId",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param connectionId */",
          "setterMethodName" : "setConnectionId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "connectionId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "connectionId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ConnectionId" ],
      "shapeName" : "DeleteConnectionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConnectionRequest",
        "variableName" : "deleteConnectionRequest",
        "variableType" : "DeleteConnectionRequest",
        "documentation" : null,
        "simpleType" : "DeleteConnectionRequest",
        "variableSetterType" : "DeleteConnectionRequest"
      },
      "wrapper" : false
    },
    "DeleteConnectionResult" : {
      "c2jName" : "DeleteConnectionResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteConnectionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConnectionResult",
        "variableName" : "deleteConnectionResult",
        "variableType" : "DeleteConnectionResult",
        "documentation" : null,
        "simpleType" : "DeleteConnectionResult",
        "variableSetterType" : "DeleteConnectionResult"
      },
      "wrapper" : false
    },
    "ForbiddenException" : {
      "c2jName" : "ForbiddenException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The caller is not authorized to invoke this operation.</p>",
      "enums" : null,
      "errorCode" : "ForbiddenException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ForbiddenException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ForbiddenException",
        "variableName" : "forbiddenException",
        "variableType" : "ForbiddenException",
        "documentation" : null,
        "simpleType" : "ForbiddenException",
        "variableSetterType" : "ForbiddenException"
      },
      "wrapper" : false
    },
    "GetConnectionRequest" : {
      "c2jName" : "GetConnectionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetConnection",
        "locationName" : null,
        "requestUri" : "/@connections/{connectionId}",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ConnectionId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConnectionId",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getConnectionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "connectionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "connectionId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConnectionId",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param connectionId */",
        "setterMethodName" : "setConnectionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConnectionId" : {
          "c2jName" : "ConnectionId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConnectionId",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getConnectionId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "connectionId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "connectionId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ConnectionId",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param connectionId */",
          "setterMethodName" : "setConnectionId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "connectionId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "connectionId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ConnectionId" ],
      "shapeName" : "GetConnectionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConnectionRequest",
        "variableName" : "getConnectionRequest",
        "variableType" : "GetConnectionRequest",
        "documentation" : null,
        "simpleType" : "GetConnectionRequest",
        "variableSetterType" : "GetConnectionRequest"
      },
      "wrapper" : false
    },
    "GetConnectionResult" : {
      "c2jName" : "GetConnectionResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ConnectedAt",
        "c2jShape" : "__timestampIso8601",
        "deprecated" : false,
        "documentation" : "<p>The time in ISO 8601 format for when the connection was established.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was established.</p>\n@param connectedAt The time in ISO 8601 format for when the connection was established.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConnectedAt",
        "getterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was established.</p>\n@return The time in ISO 8601 format for when the connection was established.*/",
        "getterMethodName" : "getConnectedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "connectedAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "connectedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "ConnectedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was established.</p>\n@param connectedAt The time in ISO 8601 format for when the connection was established.*/",
        "setterMethodName" : "setConnectedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "connectedAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was established.</p>\n@param connectedAt The time in ISO 8601 format for when the connection was established.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "connectedAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time in ISO 8601 format for when the connection was established.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Identity",
        "c2jShape" : "Identity",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param identity \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIdentity",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getIdentity",
        "getterModel" : {
          "returnType" : "Identity",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "identity",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "identity",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Identity",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param identity */",
        "setterMethodName" : "setIdentity",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Identity",
          "variableName" : "identity",
          "variableType" : "Identity",
          "documentation" : "",
          "simpleType" : "Identity",
          "variableSetterType" : "Identity"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param identity \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Identity",
          "variableName" : "identity",
          "variableType" : "Identity",
          "documentation" : "",
          "simpleType" : "Identity",
          "variableSetterType" : "Identity"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastActiveAt",
        "c2jShape" : "__timestampIso8601",
        "deprecated" : false,
        "documentation" : "<p>The time in ISO 8601 format for when the connection was last active.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was last active.</p>\n@param lastActiveAt The time in ISO 8601 format for when the connection was last active.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastActiveAt",
        "getterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was last active.</p>\n@return The time in ISO 8601 format for when the connection was last active.*/",
        "getterMethodName" : "getLastActiveAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lastActiveAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "lastActiveAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastActiveAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was last active.</p>\n@param lastActiveAt The time in ISO 8601 format for when the connection was last active.*/",
        "setterMethodName" : "setLastActiveAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastActiveAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was last active.</p>\n@param lastActiveAt The time in ISO 8601 format for when the connection was last active.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastActiveAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time in ISO 8601 format for when the connection was last active.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConnectedAt" : {
          "c2jName" : "ConnectedAt",
          "c2jShape" : "__timestampIso8601",
          "deprecated" : false,
          "documentation" : "<p>The time in ISO 8601 format for when the connection was established.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was established.</p>\n@param connectedAt The time in ISO 8601 format for when the connection was established.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConnectedAt",
          "getterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was established.</p>\n@return The time in ISO 8601 format for when the connection was established.*/",
          "getterMethodName" : "getConnectedAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "connectedAt",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "connectedAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "ConnectedAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was established.</p>\n@param connectedAt The time in ISO 8601 format for when the connection was established.*/",
          "setterMethodName" : "setConnectedAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "connectedAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was established.</p>\n@param connectedAt The time in ISO 8601 format for when the connection was established.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "iso8601",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "connectedAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time in ISO 8601 format for when the connection was established.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Identity" : {
          "c2jName" : "Identity",
          "c2jShape" : "Identity",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param identity \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIdentity",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getIdentity",
          "getterModel" : {
            "returnType" : "Identity",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "identity",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "identity",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Identity",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param identity */",
          "setterMethodName" : "setIdentity",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Identity",
            "variableName" : "identity",
            "variableType" : "Identity",
            "documentation" : "",
            "simpleType" : "Identity",
            "variableSetterType" : "Identity"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param identity \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Identity",
            "variableName" : "identity",
            "variableType" : "Identity",
            "documentation" : "",
            "simpleType" : "Identity",
            "variableSetterType" : "Identity"
          },
          "xmlNameSpaceUri" : null
        },
        "LastActiveAt" : {
          "c2jName" : "LastActiveAt",
          "c2jShape" : "__timestampIso8601",
          "deprecated" : false,
          "documentation" : "<p>The time in ISO 8601 format for when the connection was last active.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was last active.</p>\n@param lastActiveAt The time in ISO 8601 format for when the connection was last active.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLastActiveAt",
          "getterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was last active.</p>\n@return The time in ISO 8601 format for when the connection was last active.*/",
          "getterMethodName" : "getLastActiveAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "lastActiveAt",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "lastActiveAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "LastActiveAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was last active.</p>\n@param lastActiveAt The time in ISO 8601 format for when the connection was last active.*/",
          "setterMethodName" : "setLastActiveAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastActiveAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time in ISO 8601 format for when the connection was last active.</p>\n@param lastActiveAt The time in ISO 8601 format for when the connection was last active.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "iso8601",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastActiveAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time in ISO 8601 format for when the connection was last active.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "GetConnectionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConnectionResult",
        "variableName" : "getConnectionResult",
        "variableType" : "GetConnectionResult",
        "documentation" : null,
        "simpleType" : "GetConnectionResult",
        "variableSetterType" : "GetConnectionResult"
      },
      "wrapper" : false
    },
    "GoneException" : {
      "c2jName" : "GoneException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The connection with the provided id no longer exists.</p>",
      "enums" : null,
      "errorCode" : "GoneException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "GoneException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GoneException",
        "variableName" : "goneException",
        "variableType" : "GoneException",
        "documentation" : null,
        "simpleType" : "GoneException",
        "variableSetterType" : "GoneException"
      },
      "wrapper" : false
    },
    "Identity" : {
      "c2jName" : "Identity",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "SourceIp",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The source IP address of the TCP connection making the request to API Gateway.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The source IP address of the TCP connection making the request to API Gateway.</p>\n@param sourceIp The source IP address of the TCP connection making the request to API Gateway.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSourceIp",
        "getterDocumentation" : "/**<p>The source IP address of the TCP connection making the request to API Gateway.</p>\n@return The source IP address of the TCP connection making the request to API Gateway.*/",
        "getterMethodName" : "getSourceIp",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "sourceIp",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sourceIp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SourceIp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The source IP address of the TCP connection making the request to API Gateway.</p>\n@param sourceIp The source IP address of the TCP connection making the request to API Gateway.*/",
        "setterMethodName" : "setSourceIp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceIp",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The source IP address of the TCP connection making the request to API Gateway.</p>\n@param sourceIp The source IP address of the TCP connection making the request to API Gateway.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceIp",
          "variableType" : "String",
          "documentation" : "<p>The source IP address of the TCP connection making the request to API Gateway.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "UserAgent",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The User Agent of the API caller.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The User Agent of the API caller.</p>\n@param userAgent The User Agent of the API caller.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUserAgent",
        "getterDocumentation" : "/**<p>The User Agent of the API caller.</p>\n@return The User Agent of the API caller.*/",
        "getterMethodName" : "getUserAgent",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "userAgent",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "userAgent",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "UserAgent",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The User Agent of the API caller.</p>\n@param userAgent The User Agent of the API caller.*/",
        "setterMethodName" : "setUserAgent",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "userAgent",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The User Agent of the API caller.</p>\n@param userAgent The User Agent of the API caller.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "userAgent",
          "variableType" : "String",
          "documentation" : "<p>The User Agent of the API caller.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "SourceIp" : {
          "c2jName" : "SourceIp",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The source IP address of the TCP connection making the request to API Gateway.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The source IP address of the TCP connection making the request to API Gateway.</p>\n@param sourceIp The source IP address of the TCP connection making the request to API Gateway.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSourceIp",
          "getterDocumentation" : "/**<p>The source IP address of the TCP connection making the request to API Gateway.</p>\n@return The source IP address of the TCP connection making the request to API Gateway.*/",
          "getterMethodName" : "getSourceIp",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "sourceIp",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "sourceIp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SourceIp",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The source IP address of the TCP connection making the request to API Gateway.</p>\n@param sourceIp The source IP address of the TCP connection making the request to API Gateway.*/",
          "setterMethodName" : "setSourceIp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceIp",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The source IP address of the TCP connection making the request to API Gateway.</p>\n@param sourceIp The source IP address of the TCP connection making the request to API Gateway.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceIp",
            "variableType" : "String",
            "documentation" : "<p>The source IP address of the TCP connection making the request to API Gateway.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "UserAgent" : {
          "c2jName" : "UserAgent",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The User Agent of the API caller.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The User Agent of the API caller.</p>\n@param userAgent The User Agent of the API caller.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUserAgent",
          "getterDocumentation" : "/**<p>The User Agent of the API caller.</p>\n@return The User Agent of the API caller.*/",
          "getterMethodName" : "getUserAgent",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "userAgent",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "userAgent",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "UserAgent",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The User Agent of the API caller.</p>\n@param userAgent The User Agent of the API caller.*/",
          "setterMethodName" : "setUserAgent",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "userAgent",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The User Agent of the API caller.</p>\n@param userAgent The User Agent of the API caller.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "userAgent",
            "variableType" : "String",
            "documentation" : "<p>The User Agent of the API caller.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "SourceIp", "UserAgent" ],
      "shapeName" : "Identity",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Identity",
        "variableName" : "identity",
        "variableType" : "Identity",
        "documentation" : null,
        "simpleType" : "Identity",
        "variableSetterType" : "Identity"
      },
      "wrapper" : false
    },
    "LimitExceededException" : {
      "c2jName" : "LimitExceededException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The client is sending more than the allowed number of requests per unit of time or the WebSocket client side buffer is full.</p>",
      "enums" : null,
      "errorCode" : "LimitExceededException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "LimitExceededException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "LimitExceededException",
        "variableName" : "limitExceededException",
        "variableType" : "LimitExceededException",
        "documentation" : null,
        "simpleType" : "LimitExceededException",
        "variableSetterType" : "LimitExceededException"
      },
      "wrapper" : false
    },
    "PayloadTooLargeException" : {
      "c2jName" : "PayloadTooLargeException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The data has exceeded the maximum size allowed.</p>",
      "enums" : null,
      "errorCode" : "PayloadTooLargeException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "PayloadTooLargeException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PayloadTooLargeException",
        "variableName" : "payloadTooLargeException",
        "variableType" : "PayloadTooLargeException",
        "documentation" : null,
        "simpleType" : "PayloadTooLargeException",
        "variableSetterType" : "PayloadTooLargeException"
      },
      "wrapper" : false
    },
    "PostToConnectionRequest" : {
      "c2jName" : "PostToConnectionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : true,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "PostToConnection",
        "locationName" : null,
        "requestUri" : "/@connections/{connectionId}",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Data",
        "c2jShape" : "Data",
        "deprecated" : false,
        "documentation" : "<p>The data to be sent to the client specified by its connection id.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The data to be sent to the client specified by its connection id.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The data to be sent to the client specified by its connection id.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withData",
        "getterDocumentation" : "/**<p>The data to be sent to the client specified by its connection id.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return The data to be sent to the client specified by its connection id.*/",
        "getterMethodName" : "getData",
        "getterModel" : {
          "returnType" : "java.nio.ByteBuffer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : true,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Data",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Data",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : true,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.nio.ByteBuffer",
        "marshallingType" : "BYTE_BUFFER",
        "name" : "Data",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The data to be sent to the client specified by its connection id.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The data to be sent to the client specified by its connection id.*/",
        "setterMethodName" : "setData",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "data",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The data to be sent to the client specified by its connection id.</p>\n@param data The data to be sent to the client specified by its connection id.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "data",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "<p>The data to be sent to the client specified by its connection id.</p>",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ConnectionId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the connection that a specific client is using.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the connection that a specific client is using.</p>\n@param connectionId The identifier of the connection that a specific client is using.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConnectionId",
        "getterDocumentation" : "/**<p>The identifier of the connection that a specific client is using.</p>\n@return The identifier of the connection that a specific client is using.*/",
        "getterMethodName" : "getConnectionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "connectionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "connectionId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConnectionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier of the connection that a specific client is using.</p>\n@param connectionId The identifier of the connection that a specific client is using.*/",
        "setterMethodName" : "setConnectionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier of the connection that a specific client is using.</p>\n@param connectionId The identifier of the connection that a specific client is using.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionId",
          "variableType" : "String",
          "documentation" : "<p>The identifier of the connection that a specific client is using.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConnectionId" : {
          "c2jName" : "ConnectionId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The identifier of the connection that a specific client is using.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier of the connection that a specific client is using.</p>\n@param connectionId The identifier of the connection that a specific client is using.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConnectionId",
          "getterDocumentation" : "/**<p>The identifier of the connection that a specific client is using.</p>\n@return The identifier of the connection that a specific client is using.*/",
          "getterMethodName" : "getConnectionId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "connectionId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "connectionId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ConnectionId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier of the connection that a specific client is using.</p>\n@param connectionId The identifier of the connection that a specific client is using.*/",
          "setterMethodName" : "setConnectionId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "connectionId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier of the connection that a specific client is using.</p>\n@param connectionId The identifier of the connection that a specific client is using.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "connectionId",
            "variableType" : "String",
            "documentation" : "<p>The identifier of the connection that a specific client is using.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Data" : {
          "c2jName" : "Data",
          "c2jShape" : "Data",
          "deprecated" : false,
          "documentation" : "<p>The data to be sent to the client specified by its connection id.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The data to be sent to the client specified by its connection id.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The data to be sent to the client specified by its connection id.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withData",
          "getterDocumentation" : "/**<p>The data to be sent to the client specified by its connection id.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return The data to be sent to the client specified by its connection id.*/",
          "getterMethodName" : "getData",
          "getterModel" : {
            "returnType" : "java.nio.ByteBuffer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : true,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Data",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Data",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : true,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.nio.ByteBuffer",
          "marshallingType" : "BYTE_BUFFER",
          "name" : "Data",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The data to be sent to the client specified by its connection id.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The data to be sent to the client specified by its connection id.*/",
          "setterMethodName" : "setData",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.nio.ByteBuffer",
            "variableName" : "data",
            "variableType" : "java.nio.ByteBuffer",
            "documentation" : "",
            "simpleType" : "ByteBuffer",
            "variableSetterType" : "java.nio.ByteBuffer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The data to be sent to the client specified by its connection id.</p>\n@param data The data to be sent to the client specified by its connection id.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.nio.ByteBuffer",
            "variableName" : "data",
            "variableType" : "java.nio.ByteBuffer",
            "documentation" : "<p>The data to be sent to the client specified by its connection id.</p>",
            "simpleType" : "ByteBuffer",
            "variableSetterType" : "java.nio.ByteBuffer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ConnectionId", "Data" ],
      "shapeName" : "PostToConnectionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PostToConnectionRequest",
        "variableName" : "postToConnectionRequest",
        "variableType" : "PostToConnectionRequest",
        "documentation" : null,
        "simpleType" : "PostToConnectionRequest",
        "variableSetterType" : "PostToConnectionRequest"
      },
      "wrapper" : false
    },
    "PostToConnectionResult" : {
      "c2jName" : "PostToConnectionResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "PostToConnectionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PostToConnectionResult",
        "variableName" : "postToConnectionResult",
        "variableType" : "PostToConnectionResult",
        "documentation" : null,
        "simpleType" : "PostToConnectionResult",
        "variableSetterType" : "PostToConnectionResult"
      },
      "wrapper" : false
    }
  },
  "clientConfigFactory" : "ClientConfigurationFactory",
  "examples" : {
    "examples" : { },
    "version" : null
  },
  "exceptionUnmarshallerImpl" : null,
  "fileHeader" : "/*\n * Copyright 2015-2020 Amazon.com, Inc. or its affiliates. All Rights\n * Reserved.\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\").\n * You may not use this file except in compliance with the License.\n * A copy of the License is located at\n *\n *  http://aws.amazon.com/apache2.0\n *\n * or in the \"license\" file accompanying this file. This file is distributed\n * on an \"AS IS\" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either\n * express or implied. See the License for the specific language governing\n * permissions and limitations under the License.\n */",
  "hasWaiters" : false,
  "sdkBaseResponseFqcn" : "com.amazonaws.AmazonWebServiceResult<com.amazonaws.ResponseMetadata>",
  "sdkModeledExceptionBaseClassName" : "AmazonApiGatewayManagementApiException",
  "sdkModeledExceptionBaseFqcn" : "com.amazonaws.services.apigatewaymanagementapi.model.AmazonApiGatewayManagementApiException",
  "serviceBaseExceptionFqcn" : "com.amazonaws.AmazonServiceException",
  "transformPackage" : "com.amazonaws.services.apigatewaymanagementapi.model.transform"
}