{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-10-09",
    "asyncClient" : "AmazonAppConfigAsyncClient",
    "asyncClientBuilderClassName" : "AmazonAppConfigAsyncClientBuilder",
    "asyncInterface" : "AmazonAppConfigAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonAppConfigModuleInjector",
    "defaultEndpoint" : "appconfig.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "appconfig.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Use AppConfig, a capability of Amazon Web Services Systems Manager, to create, manage, and quickly deploy application configurations. AppConfig supports controlled deployments to applications of any size and includes built-in validation checks and monitoring. You can use AppConfig with applications hosted on Amazon EC2 instances, Lambda, containers, mobile applications, or IoT devices.</p> <p>To prevent errors when deploying application configurations, especially for production systems where a simple typo could cause an unexpected outage, AppConfig includes validators. A validator provides a syntactic or semantic check to ensure that the configuration you want to deploy works as intended. To validate your application configuration data, you provide a schema or an Amazon Web Services Lambda function that runs against the configuration. The configuration deployment or update can only proceed when the configuration data is valid.</p> <p>During a configuration deployment, AppConfig monitors the application to ensure that the deployment is successful. If the system encounters an error, AppConfig rolls back the change to minimize impact for your application users. You can configure a deployment strategy for each application or environment that includes deployment criteria, including velocity, bake time, and alarms to monitor. Similar to error monitoring, if a deployment triggers an alarm, AppConfig automatically rolls back to the previous version. </p> <p>AppConfig supports multiple use cases. Here are some examples:</p> <ul> <li> <p> <b>Feature flags</b>: Use AppConfig to turn on new features that require a timely deployment, such as a product launch or announcement. </p> </li> <li> <p> <b>Application tuning</b>: Use AppConfig to carefully introduce changes to your application that can only be tested with production traffic.</p> </li> <li> <p> <b>Allow list</b>: Use AppConfig to allow premium subscribers to access paid content. </p> </li> <li> <p> <b>Operational issues</b>: Use AppConfig to reduce stress on your application when a dependency or other external factor impacts the system.</p> </li> </ul> <p>This reference is intended to be used with the <a href=\"http://docs.aws.amazon.com/appconfig/latest/userguide/what-is-appconfig.html\">AppConfig User Guide</a>.</p>",
    "endpointPrefix" : "appconfig",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.appconfig",
    "packagePath" : "com/amazonaws/services/appconfig",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AppConfig",
    "serviceFullName" : "Amazon AppConfig",
    "serviceId" : "AppConfig",
    "serviceName" : "AppConfig",
    "signingName" : "appconfig",
    "smokeTestsPackageName" : "com.amazonaws.services.appconfig.smoketests",
    "syncClient" : "AmazonAppConfigClient",
    "syncClientBuilderClassName" : "AmazonAppConfigClientBuilder",
    "syncInterface" : "AmazonAppConfig",
    "uid" : "appconfig-2019-10-09",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "asyncReturnType" : "CreateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an application. In AppConfig, an application is simply an organizational construct like a folder. This organizational construct has a relationship with some unit of executable code. For example, you could create an application called MyMobileApp to organize and manage configuration data for a mobile application installed by your users.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateApplicationRequest",
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "documentation" : "",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplication",
      "operationName" : "CreateApplication",
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateApplicationResult"
    },
    "CreateConfigurationProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationProfileRequest, CreateConfigurationProfileResult>",
      "asyncReturnType" : "CreateConfigurationProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a configuration profile, which is information that enables AppConfig to access the configuration source. Valid configuration sources include the AppConfig hosted configuration store, Amazon Web Services Systems Manager (SSM) documents, SSM Parameter Store parameters, Amazon S3 objects, or any <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/integrations-action-type.html#integrations-source\">integration source action</a> supported by CodePipeline. A configuration profile includes the following information:</p> <ul> <li> <p>The URI location of the configuration data.</p> </li> <li> <p>The Identity and Access Management (IAM) role that provides access to the configuration data.</p> </li> <li> <p>A validator for the configuration data. Available validators include either a JSON Schema or an Amazon Web Services Lambda function.</p> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/appconfig/latest/userguide/appconfig-creating-configuration-and-profile.html\">Create a Configuration and a Configuration Profile</a> in the <i>AppConfig User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigurationProfileRequest",
        "variableName" : "createConfigurationProfileRequest",
        "variableType" : "CreateConfigurationProfileRequest",
        "documentation" : "",
        "simpleType" : "CreateConfigurationProfileRequest",
        "variableSetterType" : "CreateConfigurationProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfigurationProfile",
      "operationName" : "CreateConfigurationProfile",
      "returnType" : {
        "returnType" : "CreateConfigurationProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConfigurationProfileResult"
    },
    "CreateDeploymentStrategy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeploymentStrategyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeploymentStrategyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeploymentStrategyRequest, CreateDeploymentStrategyResult>",
      "asyncReturnType" : "CreateDeploymentStrategyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a deployment strategy that defines important criteria for rolling out your configuration to the designated targets. A deployment strategy includes the overall duration required, a percentage of targets to receive the deployment during each interval, an algorithm that defines how percentage grows, and bake time.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDeploymentStrategyRequest",
        "variableName" : "createDeploymentStrategyRequest",
        "variableType" : "CreateDeploymentStrategyRequest",
        "documentation" : "",
        "simpleType" : "CreateDeploymentStrategyRequest",
        "variableSetterType" : "CreateDeploymentStrategyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeploymentStrategy",
      "operationName" : "CreateDeploymentStrategy",
      "returnType" : {
        "returnType" : "CreateDeploymentStrategyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDeploymentStrategyResult"
    },
    "CreateEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEnvironmentRequest, CreateEnvironmentResult>",
      "asyncReturnType" : "CreateEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an environment. For each application, you define one or more environments. An environment is a deployment group of AppConfig targets, such as applications in a <code>Beta</code> or <code>Production</code> environment. You can also define environments for application subcomponents such as the <code>Web</code>, <code>Mobile</code> and <code>Back-end</code> components for your application. You can configure Amazon CloudWatch alarms for each environment. The system monitors alarms during a configuration deployment. If an alarm is triggered, the system rolls back the configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEnvironmentRequest",
        "variableName" : "createEnvironmentRequest",
        "variableType" : "CreateEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "CreateEnvironmentRequest",
        "variableSetterType" : "CreateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEnvironment",
      "operationName" : "CreateEnvironment",
      "returnType" : {
        "returnType" : "CreateEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEnvironmentResult"
    },
    "CreateExtension" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateExtensionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateExtensionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateExtensionRequest, CreateExtensionResult>",
      "asyncReturnType" : "CreateExtensionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an AppConfig extension. An extension augments your ability to inject logic or behavior at different points during the AppConfig workflow of creating or deploying a configuration.</p> <p>You can create your own extensions or use the Amazon Web Services-authored extensions provided by AppConfig. For most use-cases, to create your own extension, you must create an Lambda function to perform any computation and processing defined in the extension. For more information about extensions, see <a href=\"https://docs.aws.amazon.com/appconfig/latest/userguide/working-with-appconfig-extensions.html\">Working with AppConfig extensions</a> in the <i>AppConfig User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of hosted configuration versions exceeds the limit for the AppConfig hosted configuration store. Delete one or more versions and try again.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateExtensionRequest",
        "variableName" : "createExtensionRequest",
        "variableType" : "CreateExtensionRequest",
        "documentation" : "",
        "simpleType" : "CreateExtensionRequest",
        "variableSetterType" : "CreateExtensionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createExtension",
      "operationName" : "CreateExtension",
      "returnType" : {
        "returnType" : "CreateExtensionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateExtensionResult"
    },
    "CreateExtensionAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateExtensionAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateExtensionAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateExtensionAssociationRequest, CreateExtensionAssociationResult>",
      "asyncReturnType" : "CreateExtensionAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>When you create an extension or configure an Amazon Web Services-authored extension, you associate the extension with an AppConfig application, environment, or configuration profile. For example, you can choose to run the <code>AppConfig deployment events to Amazon SNS</code> Amazon Web Services-authored extension and receive notifications on an Amazon SNS topic anytime a configuration deployment is started for a specific application. Defining which extension to associate with an AppConfig resource is called an <i>extension association</i>. An extension association is a specified relationship between an extension and an AppConfig resource, such as an application or a configuration profile. For more information about extensions and associations, see <a href=\"https://docs.aws.amazon.com/appconfig/latest/userguide/working-with-appconfig-extensions.html\">Working with AppConfig extensions</a> in the <i>AppConfig User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of hosted configuration versions exceeds the limit for the AppConfig hosted configuration store. Delete one or more versions and try again.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateExtensionAssociationRequest",
        "variableName" : "createExtensionAssociationRequest",
        "variableType" : "CreateExtensionAssociationRequest",
        "documentation" : "",
        "simpleType" : "CreateExtensionAssociationRequest",
        "variableSetterType" : "CreateExtensionAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createExtensionAssociation",
      "operationName" : "CreateExtensionAssociation",
      "returnType" : {
        "returnType" : "CreateExtensionAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateExtensionAssociationResult"
    },
    "CreateHostedConfigurationVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHostedConfigurationVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHostedConfigurationVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHostedConfigurationVersionRequest, CreateHostedConfigurationVersionResult>",
      "asyncReturnType" : "CreateHostedConfigurationVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new configuration in the AppConfig hosted configuration store.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of hosted configuration versions exceeds the limit for the AppConfig hosted configuration store. Delete one or more versions and try again.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "PayloadTooLargeException",
        "documentation" : "<p>The configuration size is too large.</p>",
        "httpStatusCode" : 413
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateHostedConfigurationVersionRequest",
        "variableName" : "createHostedConfigurationVersionRequest",
        "variableType" : "CreateHostedConfigurationVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateHostedConfigurationVersionRequest",
        "variableSetterType" : "CreateHostedConfigurationVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createHostedConfigurationVersion",
      "operationName" : "CreateHostedConfigurationVersion",
      "returnType" : {
        "returnType" : "CreateHostedConfigurationVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateHostedConfigurationVersionResult"
    },
    "DeleteApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "asyncReturnType" : "DeleteApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an application. Deleting an application does not delete a configuration from a host.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationRequest",
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplication",
      "operationName" : "DeleteApplication",
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationResult"
    },
    "DeleteConfigurationProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationProfileRequest, DeleteConfigurationProfileResult>",
      "asyncReturnType" : "DeleteConfigurationProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a configuration profile. Deleting a configuration profile does not delete a configuration from a host.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfigurationProfileRequest",
        "variableName" : "deleteConfigurationProfileRequest",
        "variableType" : "DeleteConfigurationProfileRequest",
        "documentation" : "",
        "simpleType" : "DeleteConfigurationProfileRequest",
        "variableSetterType" : "DeleteConfigurationProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigurationProfile",
      "operationName" : "DeleteConfigurationProfile",
      "returnType" : {
        "returnType" : "DeleteConfigurationProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConfigurationProfileResult"
    },
    "DeleteDeploymentStrategy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeploymentStrategyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeploymentStrategyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeploymentStrategyRequest, DeleteDeploymentStrategyResult>",
      "asyncReturnType" : "DeleteDeploymentStrategyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a deployment strategy. Deleting a deployment strategy does not delete a configuration from a host.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDeploymentStrategyRequest",
        "variableName" : "deleteDeploymentStrategyRequest",
        "variableType" : "DeleteDeploymentStrategyRequest",
        "documentation" : "",
        "simpleType" : "DeleteDeploymentStrategyRequest",
        "variableSetterType" : "DeleteDeploymentStrategyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDeploymentStrategy",
      "operationName" : "DeleteDeploymentStrategy",
      "returnType" : {
        "returnType" : "DeleteDeploymentStrategyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDeploymentStrategyResult"
    },
    "DeleteEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEnvironmentRequest, DeleteEnvironmentResult>",
      "asyncReturnType" : "DeleteEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an environment. Deleting an environment does not delete a configuration from a host.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEnvironmentRequest",
        "variableName" : "deleteEnvironmentRequest",
        "variableType" : "DeleteEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "DeleteEnvironmentRequest",
        "variableSetterType" : "DeleteEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEnvironment",
      "operationName" : "DeleteEnvironment",
      "returnType" : {
        "returnType" : "DeleteEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEnvironmentResult"
    },
    "DeleteExtension" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteExtensionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteExtensionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteExtensionRequest, DeleteExtensionResult>",
      "asyncReturnType" : "DeleteExtensionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an AppConfig extension. You must delete all associations to an extension before you delete the extension.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteExtensionRequest",
        "variableName" : "deleteExtensionRequest",
        "variableType" : "DeleteExtensionRequest",
        "documentation" : "",
        "simpleType" : "DeleteExtensionRequest",
        "variableSetterType" : "DeleteExtensionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteExtension",
      "operationName" : "DeleteExtension",
      "returnType" : {
        "returnType" : "DeleteExtensionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteExtensionResult"
    },
    "DeleteExtensionAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteExtensionAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteExtensionAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteExtensionAssociationRequest, DeleteExtensionAssociationResult>",
      "asyncReturnType" : "DeleteExtensionAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an extension association. This action doesn't delete extensions defined in the association.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteExtensionAssociationRequest",
        "variableName" : "deleteExtensionAssociationRequest",
        "variableType" : "DeleteExtensionAssociationRequest",
        "documentation" : "",
        "simpleType" : "DeleteExtensionAssociationRequest",
        "variableSetterType" : "DeleteExtensionAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteExtensionAssociation",
      "operationName" : "DeleteExtensionAssociation",
      "returnType" : {
        "returnType" : "DeleteExtensionAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteExtensionAssociationResult"
    },
    "DeleteHostedConfigurationVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHostedConfigurationVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHostedConfigurationVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHostedConfigurationVersionRequest, DeleteHostedConfigurationVersionResult>",
      "asyncReturnType" : "DeleteHostedConfigurationVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a version of a configuration from the AppConfig hosted configuration store.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteHostedConfigurationVersionRequest",
        "variableName" : "deleteHostedConfigurationVersionRequest",
        "variableType" : "DeleteHostedConfigurationVersionRequest",
        "documentation" : "",
        "simpleType" : "DeleteHostedConfigurationVersionRequest",
        "variableSetterType" : "DeleteHostedConfigurationVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteHostedConfigurationVersion",
      "operationName" : "DeleteHostedConfigurationVersion",
      "returnType" : {
        "returnType" : "DeleteHostedConfigurationVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteHostedConfigurationVersionResult"
    },
    "GetApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationRequest, GetApplicationResult>",
      "asyncReturnType" : "GetApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about an application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetApplicationRequest",
        "variableName" : "getApplicationRequest",
        "variableType" : "GetApplicationRequest",
        "documentation" : "",
        "simpleType" : "GetApplicationRequest",
        "variableSetterType" : "GetApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApplication",
      "operationName" : "GetApplication",
      "returnType" : {
        "returnType" : "GetApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetApplicationResult"
    },
    "GetConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfigurationRequest, GetConfigurationResult>",
      "asyncReturnType" : "GetConfigurationResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Retrieves the latest deployed configuration.</p> <important> <p>Note the following important information.</p> <ul> <li> <p>This API action has been deprecated. Calls to receive configuration data should use the <a href=\"https://docs.aws.amazon.com/appconfig/2019-10-09/APIReference/API_appconfigdata_StartConfigurationSession.html\">StartConfigurationSession</a> and <a href=\"https://docs.aws.amazon.com/appconfig/2019-10-09/APIReference/API_appconfigdata_GetLatestConfiguration.html\">GetLatestConfiguration</a> APIs instead. </p> </li> <li> <p> <code>GetConfiguration</code> is a priced call. For more information, see <a href=\"https://aws.amazon.com/systems-manager/pricing/\">Pricing</a>.</p> </li> <li> <p>AppConfig uses the value of the <code>ClientConfigurationVersion</code> parameter to identify the configuration version on your clients. If you don’t send <code>ClientConfigurationVersion</code> with each call to <code>GetConfiguration</code>, your clients receive the current configuration. You are charged each time your clients receive a configuration.</p> <p>To avoid excess charges, we recommend you use the <a href=\"https://docs.aws.amazon.com/appconfig/2019-10-09/APIReference/StartConfigurationSession.html\">StartConfigurationSession</a> and <a href=\"https://docs.aws.amazon.com/appconfig/2019-10-09/APIReference/GetLatestConfiguration.html\">GetLatestConfiguration</a> APIs, which track the client configuration version on your behalf. If you choose to continue using <code>GetConfiguration</code>, we recommend that you include the <code>ClientConfigurationVersion</code> value with every call to <code>GetConfiguration</code>. The value to use for <code>ClientConfigurationVersion</code> comes from the <code>ConfigurationVersion</code> attribute returned by <code>GetConfiguration</code> when there is new or updated data, and should be saved for subsequent calls to <code>GetConfiguration</code>.</p> </li> </ul> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConfigurationRequest",
        "variableName" : "getConfigurationRequest",
        "variableType" : "GetConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetConfigurationRequest",
        "variableSetterType" : "GetConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfiguration",
      "operationName" : "GetConfiguration",
      "returnType" : {
        "returnType" : "GetConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConfigurationResult"
    },
    "GetConfigurationProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfigurationProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfigurationProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfigurationProfileRequest, GetConfigurationProfileResult>",
      "asyncReturnType" : "GetConfigurationProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a configuration profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConfigurationProfileRequest",
        "variableName" : "getConfigurationProfileRequest",
        "variableType" : "GetConfigurationProfileRequest",
        "documentation" : "",
        "simpleType" : "GetConfigurationProfileRequest",
        "variableSetterType" : "GetConfigurationProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfigurationProfile",
      "operationName" : "GetConfigurationProfile",
      "returnType" : {
        "returnType" : "GetConfigurationProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConfigurationProfileResult"
    },
    "GetDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentRequest, GetDeploymentResult>",
      "asyncReturnType" : "GetDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a configuration deployment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeploymentRequest",
        "variableName" : "getDeploymentRequest",
        "variableType" : "GetDeploymentRequest",
        "documentation" : "",
        "simpleType" : "GetDeploymentRequest",
        "variableSetterType" : "GetDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeployment",
      "operationName" : "GetDeployment",
      "returnType" : {
        "returnType" : "GetDeploymentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeploymentResult"
    },
    "GetDeploymentStrategy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentStrategyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentStrategyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentStrategyRequest, GetDeploymentStrategyResult>",
      "asyncReturnType" : "GetDeploymentStrategyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a deployment strategy. A deployment strategy defines important criteria for rolling out your configuration to the designated targets. A deployment strategy includes the overall duration required, a percentage of targets to receive the deployment during each interval, an algorithm that defines how percentage grows, and bake time.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeploymentStrategyRequest",
        "variableName" : "getDeploymentStrategyRequest",
        "variableType" : "GetDeploymentStrategyRequest",
        "documentation" : "",
        "simpleType" : "GetDeploymentStrategyRequest",
        "variableSetterType" : "GetDeploymentStrategyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeploymentStrategy",
      "operationName" : "GetDeploymentStrategy",
      "returnType" : {
        "returnType" : "GetDeploymentStrategyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeploymentStrategyResult"
    },
    "GetEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEnvironmentRequest, GetEnvironmentResult>",
      "asyncReturnType" : "GetEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about an environment. An environment is a deployment group of AppConfig applications, such as applications in a <code>Production</code> environment or in an <code>EU_Region</code> environment. Each configuration deployment targets an environment. You can enable one or more Amazon CloudWatch alarms for an environment. If an alarm is triggered during a deployment, AppConfig roles back the configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEnvironmentRequest",
        "variableName" : "getEnvironmentRequest",
        "variableType" : "GetEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "GetEnvironmentRequest",
        "variableSetterType" : "GetEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEnvironment",
      "operationName" : "GetEnvironment",
      "returnType" : {
        "returnType" : "GetEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEnvironmentResult"
    },
    "GetExtension" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExtensionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExtensionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExtensionRequest, GetExtensionResult>",
      "asyncReturnType" : "GetExtensionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an AppConfig extension.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExtensionRequest",
        "variableName" : "getExtensionRequest",
        "variableType" : "GetExtensionRequest",
        "documentation" : "",
        "simpleType" : "GetExtensionRequest",
        "variableSetterType" : "GetExtensionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExtension",
      "operationName" : "GetExtension",
      "returnType" : {
        "returnType" : "GetExtensionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExtensionResult"
    },
    "GetExtensionAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExtensionAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExtensionAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExtensionAssociationRequest, GetExtensionAssociationResult>",
      "asyncReturnType" : "GetExtensionAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an AppConfig extension association. For more information about extensions and associations, see <a href=\"https://docs.aws.amazon.com/appconfig/latest/userguide/working-with-appconfig-extensions.html\">Working with AppConfig extensions</a> in the <i>AppConfig User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExtensionAssociationRequest",
        "variableName" : "getExtensionAssociationRequest",
        "variableType" : "GetExtensionAssociationRequest",
        "documentation" : "",
        "simpleType" : "GetExtensionAssociationRequest",
        "variableSetterType" : "GetExtensionAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExtensionAssociation",
      "operationName" : "GetExtensionAssociation",
      "returnType" : {
        "returnType" : "GetExtensionAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExtensionAssociationResult"
    },
    "GetHostedConfigurationVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetHostedConfigurationVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetHostedConfigurationVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetHostedConfigurationVersionRequest, GetHostedConfigurationVersionResult>",
      "asyncReturnType" : "GetHostedConfigurationVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a specific configuration version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetHostedConfigurationVersionRequest",
        "variableName" : "getHostedConfigurationVersionRequest",
        "variableType" : "GetHostedConfigurationVersionRequest",
        "documentation" : "",
        "simpleType" : "GetHostedConfigurationVersionRequest",
        "variableSetterType" : "GetHostedConfigurationVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getHostedConfigurationVersion",
      "operationName" : "GetHostedConfigurationVersion",
      "returnType" : {
        "returnType" : "GetHostedConfigurationVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetHostedConfigurationVersionResult"
    },
    "ListApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "asyncReturnType" : "ListApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all applications in your Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationsRequest",
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplications",
      "operationName" : "ListApplications",
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationsResult"
    },
    "ListConfigurationProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationProfilesRequest, ListConfigurationProfilesResult>",
      "asyncReturnType" : "ListConfigurationProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the configuration profiles for an application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfigurationProfilesRequest",
        "variableName" : "listConfigurationProfilesRequest",
        "variableType" : "ListConfigurationProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListConfigurationProfilesRequest",
        "variableSetterType" : "ListConfigurationProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurationProfiles",
      "operationName" : "ListConfigurationProfiles",
      "returnType" : {
        "returnType" : "ListConfigurationProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConfigurationProfilesResult"
    },
    "ListDeploymentStrategies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentStrategiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentStrategiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentStrategiesRequest, ListDeploymentStrategiesResult>",
      "asyncReturnType" : "ListDeploymentStrategiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists deployment strategies.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDeploymentStrategiesRequest",
        "variableName" : "listDeploymentStrategiesRequest",
        "variableType" : "ListDeploymentStrategiesRequest",
        "documentation" : "",
        "simpleType" : "ListDeploymentStrategiesRequest",
        "variableSetterType" : "ListDeploymentStrategiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeploymentStrategies",
      "operationName" : "ListDeploymentStrategies",
      "returnType" : {
        "returnType" : "ListDeploymentStrategiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDeploymentStrategiesResult"
    },
    "ListDeployments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentsRequest, ListDeploymentsResult>",
      "asyncReturnType" : "ListDeploymentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the deployments for an environment in descending deployment number order.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDeploymentsRequest",
        "variableName" : "listDeploymentsRequest",
        "variableType" : "ListDeploymentsRequest",
        "documentation" : "",
        "simpleType" : "ListDeploymentsRequest",
        "variableSetterType" : "ListDeploymentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeployments",
      "operationName" : "ListDeployments",
      "returnType" : {
        "returnType" : "ListDeploymentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDeploymentsResult"
    },
    "ListEnvironments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEnvironmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEnvironmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEnvironmentsRequest, ListEnvironmentsResult>",
      "asyncReturnType" : "ListEnvironmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the environments for an application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEnvironmentsRequest",
        "variableName" : "listEnvironmentsRequest",
        "variableType" : "ListEnvironmentsRequest",
        "documentation" : "",
        "simpleType" : "ListEnvironmentsRequest",
        "variableSetterType" : "ListEnvironmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEnvironments",
      "operationName" : "ListEnvironments",
      "returnType" : {
        "returnType" : "ListEnvironmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEnvironmentsResult"
    },
    "ListExtensionAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExtensionAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExtensionAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExtensionAssociationsRequest, ListExtensionAssociationsResult>",
      "asyncReturnType" : "ListExtensionAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all AppConfig extension associations in the account. For more information about extensions and associations, see <a href=\"https://docs.aws.amazon.com/appconfig/latest/userguide/working-with-appconfig-extensions.html\">Working with AppConfig extensions</a> in the <i>AppConfig User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListExtensionAssociationsRequest",
        "variableName" : "listExtensionAssociationsRequest",
        "variableType" : "ListExtensionAssociationsRequest",
        "documentation" : "",
        "simpleType" : "ListExtensionAssociationsRequest",
        "variableSetterType" : "ListExtensionAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExtensionAssociations",
      "operationName" : "ListExtensionAssociations",
      "returnType" : {
        "returnType" : "ListExtensionAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExtensionAssociationsResult"
    },
    "ListExtensions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExtensionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExtensionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExtensionsRequest, ListExtensionsResult>",
      "asyncReturnType" : "ListExtensionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all custom and Amazon Web Services-authored AppConfig extensions in the account. For more information about extensions, see <a href=\"https://docs.aws.amazon.com/appconfig/latest/userguide/working-with-appconfig-extensions.html\">Working with AppConfig extensions</a> in the <i>AppConfig User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListExtensionsRequest",
        "variableName" : "listExtensionsRequest",
        "variableType" : "ListExtensionsRequest",
        "documentation" : "",
        "simpleType" : "ListExtensionsRequest",
        "variableSetterType" : "ListExtensionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExtensions",
      "operationName" : "ListExtensions",
      "returnType" : {
        "returnType" : "ListExtensionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExtensionsResult"
    },
    "ListHostedConfigurationVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListHostedConfigurationVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListHostedConfigurationVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHostedConfigurationVersionsRequest, ListHostedConfigurationVersionsResult>",
      "asyncReturnType" : "ListHostedConfigurationVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists configurations stored in the AppConfig hosted configuration store by version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListHostedConfigurationVersionsRequest",
        "variableName" : "listHostedConfigurationVersionsRequest",
        "variableType" : "ListHostedConfigurationVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListHostedConfigurationVersionsRequest",
        "variableSetterType" : "ListHostedConfigurationVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listHostedConfigurationVersions",
      "operationName" : "ListHostedConfigurationVersions",
      "returnType" : {
        "returnType" : "ListHostedConfigurationVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListHostedConfigurationVersionsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the list of key-value tags assigned to the resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDeploymentRequest, StartDeploymentResult>",
      "asyncReturnType" : "StartDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a deployment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDeploymentRequest",
        "variableName" : "startDeploymentRequest",
        "variableType" : "StartDeploymentRequest",
        "documentation" : "",
        "simpleType" : "StartDeploymentRequest",
        "variableSetterType" : "StartDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDeployment",
      "operationName" : "StartDeployment",
      "returnType" : {
        "returnType" : "StartDeploymentResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDeploymentResult"
    },
    "StopDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopDeploymentRequest, StopDeploymentResult>",
      "asyncReturnType" : "StopDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a deployment. This API action works only on deployments that have a status of <code>DEPLOYING</code>. This action moves the deployment to a status of <code>ROLLED_BACK</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopDeploymentRequest",
        "variableName" : "stopDeploymentRequest",
        "variableType" : "StopDeploymentRequest",
        "documentation" : "",
        "simpleType" : "StopDeploymentRequest",
        "variableSetterType" : "StopDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopDeployment",
      "operationName" : "StopDeployment",
      "returnType" : {
        "returnType" : "StopDeploymentResult",
        "documentation" : null
      },
      "syncReturnType" : "StopDeploymentResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns metadata to an AppConfig resource. Tags help organize and categorize your AppConfig resources. Each tag consists of a key and an optional value, both of which you define. You can specify a maximum of 50 tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a tag key and value from an AppConfig resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "asyncReturnType" : "UpdateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateApplicationRequest",
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplication",
      "operationName" : "UpdateApplication",
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationResult"
    },
    "UpdateConfigurationProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConfigurationProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConfigurationProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConfigurationProfileRequest, UpdateConfigurationProfileResult>",
      "asyncReturnType" : "UpdateConfigurationProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a configuration profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateConfigurationProfileRequest",
        "variableName" : "updateConfigurationProfileRequest",
        "variableType" : "UpdateConfigurationProfileRequest",
        "documentation" : "",
        "simpleType" : "UpdateConfigurationProfileRequest",
        "variableSetterType" : "UpdateConfigurationProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConfigurationProfile",
      "operationName" : "UpdateConfigurationProfile",
      "returnType" : {
        "returnType" : "UpdateConfigurationProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateConfigurationProfileResult"
    },
    "UpdateDeploymentStrategy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDeploymentStrategyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDeploymentStrategyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDeploymentStrategyRequest, UpdateDeploymentStrategyResult>",
      "asyncReturnType" : "UpdateDeploymentStrategyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a deployment strategy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDeploymentStrategyRequest",
        "variableName" : "updateDeploymentStrategyRequest",
        "variableType" : "UpdateDeploymentStrategyRequest",
        "documentation" : "",
        "simpleType" : "UpdateDeploymentStrategyRequest",
        "variableSetterType" : "UpdateDeploymentStrategyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDeploymentStrategy",
      "operationName" : "UpdateDeploymentStrategy",
      "returnType" : {
        "returnType" : "UpdateDeploymentStrategyResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDeploymentStrategyResult"
    },
    "UpdateEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEnvironmentRequest, UpdateEnvironmentResult>",
      "asyncReturnType" : "UpdateEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEnvironmentRequest",
        "variableName" : "updateEnvironmentRequest",
        "variableType" : "UpdateEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "UpdateEnvironmentRequest",
        "variableSetterType" : "UpdateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEnvironment",
      "operationName" : "UpdateEnvironment",
      "returnType" : {
        "returnType" : "UpdateEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEnvironmentResult"
    },
    "UpdateExtension" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateExtensionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateExtensionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateExtensionRequest, UpdateExtensionResult>",
      "asyncReturnType" : "UpdateExtensionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an AppConfig extension. For more information about extensions, see <a href=\"https://docs.aws.amazon.com/appconfig/latest/userguide/working-with-appconfig-extensions.html\">Working with AppConfig extensions</a> in the <i>AppConfig User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateExtensionRequest",
        "variableName" : "updateExtensionRequest",
        "variableType" : "UpdateExtensionRequest",
        "documentation" : "",
        "simpleType" : "UpdateExtensionRequest",
        "variableSetterType" : "UpdateExtensionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateExtension",
      "operationName" : "UpdateExtension",
      "returnType" : {
        "returnType" : "UpdateExtensionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateExtensionResult"
    },
    "UpdateExtensionAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateExtensionAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateExtensionAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateExtensionAssociationRequest, UpdateExtensionAssociationResult>",
      "asyncReturnType" : "UpdateExtensionAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an association. For more information about extensions and associations, see <a href=\"https://docs.aws.amazon.com/appconfig/latest/userguide/working-with-appconfig-extensions.html\">Working with AppConfig extensions</a> in the <i>AppConfig User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an internal failure in the AppConfig service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateExtensionAssociationRequest",
[...]
