{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-08-23",
    "asyncClient" : "AmazonAppflowAsyncClient",
    "asyncClientBuilderClassName" : "AmazonAppflowAsyncClientBuilder",
    "asyncInterface" : "AmazonAppflowAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonAppflowModuleInjector",
    "defaultEndpoint" : "appflow.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "appflow.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Welcome to the Amazon AppFlow API reference. This guide is for developers who need detailed information about the Amazon AppFlow API operations, data types, and errors. </p> <p>Amazon AppFlow is a fully managed integration service that enables you to securely transfer data between software as a service (SaaS) applications like Salesforce, Marketo, Slack, and ServiceNow, and AWS services like Amazon S3 and Amazon Redshift. </p> <p>Use the following links to get started on the Amazon AppFlow API:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/appflow/1.0/APIReference/API_Operations.html\">Actions</a>: An alphabetical list of all Amazon AppFlow API operations.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/appflow/1.0/APIReference/API_Types.html\">Data types</a>: An alphabetical list of all Amazon AppFlow data types.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/appflow/1.0/APIReference/CommonParameters.html\">Common parameters</a>: Parameters that all Query operations can use.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/appflow/1.0/APIReference/CommonErrors.html\">Common errors</a>: Client and server errors that all operations can return.</p> </li> </ul> <p>If you're new to Amazon AppFlow, we recommend that you review the <a href=\"https://docs.aws.amazon.com/appflow/latest/userguide/what-is-appflow.html\">Amazon AppFlow User Guide</a>.</p> <p>Amazon AppFlow API users can use vendor-specific mechanisms for OAuth, and include applicable OAuth attributes (such as <code>auth-code</code> and <code>redirecturi</code>) with the connector-specific <code>ConnectorProfileProperties</code> when creating a new connector profile using Amazon AppFlow API operations. For example, Salesforce users can refer to the <a href=\"https://help.salesforce.com/articleView?id=remoteaccess_authenticate.htm\"> <i>Authorize Apps with OAuth</i> </a> documentation.</p>",
    "endpointPrefix" : "appflow",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.appflow",
    "packagePath" : "com/amazonaws/services/appflow",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Appflow",
    "serviceId" : "Appflow",
    "serviceName" : "Amazon Appflow",
    "signingName" : "appflow",
    "smokeTestsPackageName" : "com.amazonaws.services.appflow.smoketests",
    "syncClient" : "AmazonAppflowClient",
    "syncClientBuilderClassName" : "AmazonAppflowClientBuilder",
    "syncInterface" : "AmazonAppflow",
    "uid" : "appflow-2020-08-23",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateConnectorProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConnectorProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConnectorProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConnectorProfileRequest, CreateConnectorProfileResult>",
      "asyncReturnType" : "CreateConnectorProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new connector profile associated with your AWS account. There is a soft quota of 100 connector profiles per AWS account. If you need more connector profiles than this quota allows, you can submit a request to the Amazon AppFlow team through the Amazon AppFlow support channel. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict when processing the request (for example, a flow with the given name already exists within the account. Check for conflicting resource names and try again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The request would cause a service quota (such as the number of flows) to be exceeded. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConnectorAuthenticationException",
        "documentation" : "<p> An error occurred when authenticating with the connector endpoint. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConnectorProfileRequest",
        "variableName" : "createConnectorProfileRequest",
        "variableType" : "CreateConnectorProfileRequest",
        "documentation" : "",
        "simpleType" : "CreateConnectorProfileRequest",
        "variableSetterType" : "CreateConnectorProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConnectorProfile",
      "operationName" : "CreateConnectorProfile",
      "returnType" : {
        "returnType" : "CreateConnectorProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConnectorProfileResult"
    },
    "CreateFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFlowRequest, CreateFlowResult>",
      "asyncReturnType" : "CreateFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Enables your application to create a new flow using Amazon AppFlow. You must create a connector profile before calling this API. Please note that the Request Syntax below shows syntax for multiple destinations, however, you can only transfer data to one item in this list at a time. Amazon AppFlow does not currently support flows to multiple destinations at once. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The request would cause a service quota (such as the number of flows) to be exceeded. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict when processing the request (for example, a flow with the given name already exists within the account. Check for conflicting resource names and try again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConnectorAuthenticationException",
        "documentation" : "<p> An error occurred when authenticating with the connector endpoint. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConnectorServerException",
        "documentation" : "<p> An error occurred when retrieving data from the connector endpoint. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFlowRequest",
        "variableName" : "createFlowRequest",
        "variableType" : "CreateFlowRequest",
        "documentation" : "",
        "simpleType" : "CreateFlowRequest",
        "variableSetterType" : "CreateFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFlow",
      "operationName" : "CreateFlow",
      "returnType" : {
        "returnType" : "CreateFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFlowResult"
    },
    "DeleteConnectorProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConnectorProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConnectorProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConnectorProfileRequest, DeleteConnectorProfileResult>",
      "asyncReturnType" : "DeleteConnectorProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Enables you to delete an existing connector profile. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict when processing the request (for example, a flow with the given name already exists within the account. Check for conflicting resource names and try again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConnectorProfileRequest",
        "variableName" : "deleteConnectorProfileRequest",
        "variableType" : "DeleteConnectorProfileRequest",
        "documentation" : "",
        "simpleType" : "DeleteConnectorProfileRequest",
        "variableSetterType" : "DeleteConnectorProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConnectorProfile",
      "operationName" : "DeleteConnectorProfile",
      "returnType" : {
        "returnType" : "DeleteConnectorProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConnectorProfileResult"
    },
    "DeleteFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFlowRequest, DeleteFlowResult>",
      "asyncReturnType" : "DeleteFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Enables your application to delete an existing flow. Before deleting the flow, Amazon AppFlow validates the request by checking the flow configuration and status. You can delete flows one at a time. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict when processing the request (for example, a flow with the given name already exists within the account. Check for conflicting resource names and try again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFlowRequest",
        "variableName" : "deleteFlowRequest",
        "variableType" : "DeleteFlowRequest",
        "documentation" : "",
        "simpleType" : "DeleteFlowRequest",
        "variableSetterType" : "DeleteFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFlow",
      "operationName" : "DeleteFlow",
      "returnType" : {
        "returnType" : "DeleteFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFlowResult"
    },
    "DescribeConnectorEntity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectorEntityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectorEntityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectorEntityRequest, DescribeConnectorEntityResult>",
      "asyncReturnType" : "DescribeConnectorEntityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Provides details regarding the entity used with the connector, with a description of the data model for each entity. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConnectorAuthenticationException",
        "documentation" : "<p> An error occurred when authenticating with the connector endpoint. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConnectorServerException",
        "documentation" : "<p> An error occurred when retrieving data from the connector endpoint. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConnectorEntityRequest",
        "variableName" : "describeConnectorEntityRequest",
        "variableType" : "DescribeConnectorEntityRequest",
        "documentation" : "",
        "simpleType" : "DescribeConnectorEntityRequest",
        "variableSetterType" : "DescribeConnectorEntityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConnectorEntity",
      "operationName" : "DescribeConnectorEntity",
      "returnType" : {
        "returnType" : "DescribeConnectorEntityResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeConnectorEntityResult"
    },
    "DescribeConnectorProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectorProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectorProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectorProfilesRequest, DescribeConnectorProfilesResult>",
      "asyncReturnType" : "DescribeConnectorProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of <code>connector-profile</code> details matching the provided <code>connector-profile</code> names and <code>connector-types</code>. Both input lists are optional, and you can use them to filter the result. </p> <p>If no names or <code>connector-types</code> are provided, returns all connector profiles in a paginated form. If there is no match, this operation returns an empty list.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConnectorProfilesRequest",
        "variableName" : "describeConnectorProfilesRequest",
        "variableType" : "DescribeConnectorProfilesRequest",
        "documentation" : "",
        "simpleType" : "DescribeConnectorProfilesRequest",
        "variableSetterType" : "DescribeConnectorProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConnectorProfiles",
      "operationName" : "DescribeConnectorProfiles",
      "returnType" : {
        "returnType" : "DescribeConnectorProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeConnectorProfilesResult"
    },
    "DescribeConnectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectorsRequest, DescribeConnectorsResult>",
      "asyncReturnType" : "DescribeConnectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes the connectors vended by Amazon AppFlow for specified connector types. If you don't specify a connector type, this operation describes all connectors vended by Amazon AppFlow. If there are more connectors than can be returned in one page, the response contains a <code>nextToken</code> object, which can be be passed in to the next call to the <code>DescribeConnectors</code> API operation to retrieve the next page. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConnectorsRequest",
        "variableName" : "describeConnectorsRequest",
        "variableType" : "DescribeConnectorsRequest",
        "documentation" : "",
        "simpleType" : "DescribeConnectorsRequest",
        "variableSetterType" : "DescribeConnectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConnectors",
      "operationName" : "DescribeConnectors",
      "returnType" : {
        "returnType" : "DescribeConnectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeConnectorsResult"
    },
    "DescribeFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFlowRequest, DescribeFlowResult>",
      "asyncReturnType" : "DescribeFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Provides a description of the specified flow. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFlowRequest",
        "variableName" : "describeFlowRequest",
        "variableType" : "DescribeFlowRequest",
        "documentation" : "",
        "simpleType" : "DescribeFlowRequest",
        "variableSetterType" : "DescribeFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFlow",
      "operationName" : "DescribeFlow",
      "returnType" : {
        "returnType" : "DescribeFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFlowResult"
    },
    "DescribeFlowExecutionRecords" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFlowExecutionRecordsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFlowExecutionRecordsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFlowExecutionRecordsRequest, DescribeFlowExecutionRecordsResult>",
      "asyncReturnType" : "DescribeFlowExecutionRecordsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Fetches the execution history of the flow. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFlowExecutionRecordsRequest",
        "variableName" : "describeFlowExecutionRecordsRequest",
        "variableType" : "DescribeFlowExecutionRecordsRequest",
        "documentation" : "",
        "simpleType" : "DescribeFlowExecutionRecordsRequest",
        "variableSetterType" : "DescribeFlowExecutionRecordsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFlowExecutionRecords",
      "operationName" : "DescribeFlowExecutionRecords",
      "returnType" : {
        "returnType" : "DescribeFlowExecutionRecordsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFlowExecutionRecordsResult"
    },
    "ListConnectorEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConnectorEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConnectorEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConnectorEntitiesRequest, ListConnectorEntitiesResult>",
      "asyncReturnType" : "ListConnectorEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the list of available connector entities supported by Amazon AppFlow. For example, you can query Salesforce for <i>Account</i> and <i>Opportunity</i> entities, or query ServiceNow for the <i>Incident</i> entity. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConnectorAuthenticationException",
        "documentation" : "<p> An error occurred when authenticating with the connector endpoint. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConnectorServerException",
        "documentation" : "<p> An error occurred when retrieving data from the connector endpoint. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConnectorEntitiesRequest",
        "variableName" : "listConnectorEntitiesRequest",
        "variableType" : "ListConnectorEntitiesRequest",
        "documentation" : "",
        "simpleType" : "ListConnectorEntitiesRequest",
        "variableSetterType" : "ListConnectorEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConnectorEntities",
      "operationName" : "ListConnectorEntities",
      "returnType" : {
        "returnType" : "ListConnectorEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConnectorEntitiesResult"
    },
    "ListFlows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFlowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFlowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFlowsRequest, ListFlowsResult>",
      "asyncReturnType" : "ListFlowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists all of the flows associated with your account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFlowsRequest",
        "variableName" : "listFlowsRequest",
        "variableType" : "ListFlowsRequest",
        "documentation" : "",
        "simpleType" : "ListFlowsRequest",
        "variableSetterType" : "ListFlowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFlows",
      "operationName" : "ListFlows",
      "returnType" : {
        "returnType" : "ListFlowsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFlowsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves the tags that are associated with a specified flow. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartFlowRequest, StartFlowResult>",
      "asyncReturnType" : "StartFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Activates an existing flow. For on-demand flows, this operation runs the flow immediately. For schedule and event-triggered flows, this operation activates the flow. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The request would cause a service quota (such as the number of flows) to be exceeded. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict when processing the request (for example, a flow with the given name already exists within the account. Check for conflicting resource names and try again. </p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartFlowRequest",
        "variableName" : "startFlowRequest",
        "variableType" : "StartFlowRequest",
        "documentation" : "",
        "simpleType" : "StartFlowRequest",
        "variableSetterType" : "StartFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startFlow",
      "operationName" : "StartFlow",
      "returnType" : {
        "returnType" : "StartFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "StartFlowResult"
    },
    "StopFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopFlowRequest, StopFlowResult>",
      "asyncReturnType" : "StopFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deactivates the existing flow. For on-demand flows, this operation returns an <code>unsupportedOperationException</code> error message. For schedule and event-triggered flows, this operation deactivates the flow. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict when processing the request (for example, a flow with the given name already exists within the account. Check for conflicting resource names and try again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p> The requested operation is not supported for the current flow. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopFlowRequest",
        "variableName" : "stopFlowRequest",
        "variableType" : "StopFlowRequest",
        "documentation" : "",
        "simpleType" : "StopFlowRequest",
        "variableSetterType" : "StopFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopFlow",
      "operationName" : "StopFlow",
      "returnType" : {
        "returnType" : "StopFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "StopFlowResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Applies a tag to the specified flow. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Removes a tag from the specified flow. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateConnectorProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConnectorProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConnectorProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConnectorProfileRequest, UpdateConnectorProfileResult>",
      "asyncReturnType" : "UpdateConnectorProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates a given connector profile associated with your account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict when processing the request (for example, a flow with the given name already exists within the account. Check for conflicting resource names and try again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConnectorAuthenticationException",
        "documentation" : "<p> An error occurred when authenticating with the connector endpoint. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateConnectorProfileRequest",
        "variableName" : "updateConnectorProfileRequest",
        "variableType" : "UpdateConnectorProfileRequest",
        "documentation" : "",
        "simpleType" : "UpdateConnectorProfileRequest",
        "variableSetterType" : "UpdateConnectorProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConnectorProfile",
      "operationName" : "UpdateConnectorProfile",
      "returnType" : {
        "returnType" : "UpdateConnectorProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateConnectorProfileResult"
    },
    "UpdateFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFlowRequest, UpdateFlowResult>",
      "asyncReturnType" : "UpdateFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates an existing flow. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request (such as the source or destination connector profile) is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The request would cause a service quota (such as the number of flows) to be exceeded. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict when processing the request (for example, a flow with the given name already exists within the account. Check for conflicting resource names and try again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConnectorAuthenticationException",
        "documentation" : "<p> An error occurred when authenticating with the connector endpoint. </p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConnectorServerException",
        "documentation" : "<p> An error occurred when retrieving data from the connector endpoint. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFlowRequest",
        "variableName" : "updateFlowRequest",
        "variableType" : "UpdateFlowRequest",
        "documentation" : "",
        "simpleType" : "UpdateFlowRequest",
        "variableSetterType" : "UpdateFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFlow",
      "operationName" : "UpdateFlow",
      "returnType" : {
        "returnType" : "UpdateFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFlowResult"
    }
  },
  "shapes" : {
    "AggregationConfig" : {
      "c2jName" : "AggregationConfig",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The aggregation settings that you can use to customize the output format of your flow data. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appflow.model.AggregationConfig",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "aggregationType",
        "c2jShape" : "AggregationType",
        "deprecated" : false,
        "documentation" : "<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "AggregationType",
        "fluentSetterDocumentation" : "/**<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>\n@param aggregationType Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AggregationType*/",
        "fluentSetterMethodName" : "withAggregationType",
        "getterDocumentation" : "/**<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>\n@return Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated.\n@see AggregationType*/",
        "getterMethodName" : "getAggregationType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "aggregationType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "aggregationType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AggregationType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>\n@param aggregationType Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated.\n@see AggregationType*/",
        "setterMethodName" : "setAggregationType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "aggregationType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>\n@param aggregationType Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AggregationType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "aggregationType",
          "variableType" : "String",
          "documentation" : "<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AggregationType" : {
          "c2jName" : "aggregationType",
          "c2jShape" : "AggregationType",
          "deprecated" : false,
          "documentation" : "<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : "AggregationType",
          "fluentSetterDocumentation" : "/**<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>\n@param aggregationType Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AggregationType*/",
          "fluentSetterMethodName" : "withAggregationType",
          "getterDocumentation" : "/**<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>\n@return Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated.\n@see AggregationType*/",
          "getterMethodName" : "getAggregationType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "aggregationType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "aggregationType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AggregationType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>\n@param aggregationType Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated.\n@see AggregationType*/",
          "setterMethodName" : "setAggregationType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "aggregationType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>\n@param aggregationType Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AggregationType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "aggregationType",
            "variableType" : "String",
            "documentation" : "<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.appflow.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AggregationConfig",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AggregationConfig",
        "variableName" : "aggregationConfig",
        "variableType" : "AggregationConfig",
        "documentation" : null,
        "simpleType" : "AggregationConfig",
        "variableSetterType" : "AggregationConfig"
      },
      "wrapper" : false
    },
    "AggregationType" : {
      "c2jName" : "AggregationType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "None",
        "value" : "None"
      }, {
        "name" : "SingleFile",
        "value" : "SingleFile"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appflow.enum.AggregationType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.appflow.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AggregationType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AggregationType",
        "variableName" : "aggregationType",
        "variableType" : "AggregationType",
        "documentation" : null,
        "simpleType" : "AggregationType",
        "variableSetterType" : "AggregationType"
      },
      "wrapper" : false
    },
    "AmplitudeConnectorOperator" : {
      "c2jName" : "AmplitudeConnectorOperator",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "BETWEEN",
        "value" : "BETWEEN"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appflow.enum.AmplitudeConnectorOperator",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.appflow.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AmplitudeConnectorOperator",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AmplitudeConnectorOperator",
        "variableName" : "amplitudeConnectorOperator",
        "variableType" : "AmplitudeConnectorOperator",
        "documentation" : null,
        "simpleType" : "AmplitudeConnectorOperator",
        "variableSetterType" : "AmplitudeConnectorOperator"
      },
      "wrapper" : false
    },
    "AmplitudeConnectorProfileCredentials" : {
      "c2jName" : "AmplitudeConnectorProfileCredentials",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The connector-specific credentials required when using Amplitude. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appflow.model.AmplitudeConnectorProfileCredentials",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "apiKey",
        "c2jShape" : "ApiKey",
        "deprecated" : false,
        "documentation" : "<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>\n@param apiKey A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApiKey",
        "getterDocumentation" : "/**<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>\n@return A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API.*/",
        "getterMethodName" : "getApiKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "apiKey",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "apiKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApiKey",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>\n@param apiKey A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API.*/",
        "setterMethodName" : "setApiKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>\n@param apiKey A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiKey",
          "variableType" : "String",
          "documentation" : "<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "secretKey",
        "c2jShape" : "SecretKey",
        "deprecated" : false,
        "documentation" : "<p> The Secret Access Key portion of the credentials. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The Secret Access Key portion of the credentials. </p>\n@param secretKey The Secret Access Key portion of the credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSecretKey",
        "getterDocumentation" : "/**<p> The Secret Access Key portion of the credentials. </p>\n@return The Secret Access Key portion of the credentials.*/",
        "getterMethodName" : "getSecretKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "secretKey",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "secretKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SecretKey",
        "sensitive" : true,
        "setterDocumentation" : "/**<p> The Secret Access Key portion of the credentials. </p>\n@param secretKey The Secret Access Key portion of the credentials.*/",
        "setterMethodName" : "setSecretKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "secretKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The Secret Access Key portion of the credentials. </p>\n@param secretKey The Secret Access Key portion of the credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "secretKey",
          "variableType" : "String",
          "documentation" : "<p> The Secret Access Key portion of the credentials. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApiKey" : {
          "c2jName" : "apiKey",
          "c2jShape" : "ApiKey",
          "deprecated" : false,
          "documentation" : "<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>\n@param apiKey A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApiKey",
          "getterDocumentation" : "/**<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>\n@return A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API.*/",
          "getterMethodName" : "getApiKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "apiKey",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "apiKey",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApiKey",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>\n@param apiKey A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API.*/",
          "setterMethodName" : "setApiKey",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "apiKey",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>\n@param apiKey A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "apiKey",
            "variableType" : "String",
            "documentation" : "<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SecretKey" : {
          "c2jName" : "secretKey",
          "c2jShape" : "SecretKey",
          "deprecated" : false,
          "documentation" : "<p> The Secret Access Key portion of the credentials. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The Secret Access Key portion of the credentials. </p>\n@param secretKey The Secret Access Key portion of the credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSecretKey",
          "getterDocumentation" : "/**<p> The Secret Access Key portion of the credentials. </p>\n@return The Secret Access Key portion of the credentials.*/",
          "getterMethodName" : "getSecretKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "secretKey",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "secretKey",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SecretKey",
          "sensitive" : true,
          "setterDocumentation" : "/**<p> The Secret Access Key portion of the credentials. </p>\n@param secretKey The Secret Access Key portion of the credentials.*/",
          "setterMethodName" : "setSecretKey",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "secretKey",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The Secret Access Key portion of the credentials. </p>\n@param secretKey The Secret Access Key portion of the credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "secretKey",
            "variableType" : "String",
            "documentation" : "<p> The Secret Access Key portion of the credentials. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.appflow.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "apiKey", "secretKey" ],
      "shapeName" : "AmplitudeConnectorProfileCredentials",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AmplitudeConnectorProfileCredentials",
        "variableName" : "amplitudeConnectorProfileCredentials",
        "variableType" : "AmplitudeConnectorProfileCredentials",
        "documentation" : null,
        "simpleType" : "AmplitudeConnectorProfileCredentials",
        "variableSetterType" : "AmplitudeConnectorProfileCredentials"
      },
      "wrapper" : false
    },
    "AmplitudeConnectorProfileProperties" : {
      "c2jName" : "AmplitudeConnectorProfileProperties",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The connector-specific profile properties required when using Amplitude. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appflow.model.AmplitudeConnectorProfileProperties",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.appflow.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AmplitudeConnectorProfileProperties",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AmplitudeConnectorProfileProperties",
        "variableName" : "amplitudeConnectorProfileProperties",
        "variableType" : "AmplitudeConnectorProfileProperties",
        "documentation" : null,
        "simpleType" : "AmplitudeConnectorProfileProperties",
        "variableSetterType" : "AmplitudeConnectorProfileProperties"
      },
      "wrapper" : false
    },
    "AmplitudeMetadata" : {
      "c2jName" : "AmplitudeMetadata",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The connector metadata specific to Amplitude. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appflow.model.AmplitudeMetadata",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.appflow.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AmplitudeMetadata",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AmplitudeMetadata",
        "variableName" : "amplitudeMetadata",
        "variableType" : "AmplitudeMetadata",
        "documentation" : null,
        "simpleType" : "AmplitudeMetadata",
        "variableSetterType" : "AmplitudeMetadata"
      },
      "wrapper" : false
    },
    "AmplitudeSourceProperties" : {
      "c2jName" : "AmplitudeSourceProperties",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The properties that are applied when Amplitude is being used as a source. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appflow.model.AmplitudeSourceProperties",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "object",
        "c2jShape" : "Object",
        "deprecated" : false,
        "documentation" : "<p> The object specified in the Amplitude flow source. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The object specified in the Amplitude flow source. </p>\n@param object The object specified in the Amplitude flow source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withObject",
        "getterDocumentation" : "/**<p> The object specified in the Amplitude flow source. </p>\n@return The object specified in the Amplitude flow source.*/",
        "getterMethodName" : "getObject",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "object",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "object",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Object",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The object specified in the Amplitude flow source. </p>\n@param object The object specified in the Amplitude flow source.*/",
        "setterMethodName" : "setObject",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "object",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The object specified in the Amplitude flow source. </p>\n@param object The object specified in the Amplitude flow source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "object",
          "variableType" : "String",
          "documentation" : "<p> The object specified in the Amplitude flow source. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Object" : {
          "c2jName" : "object",
          "c2jShape" : "Object",
          "deprecated" : false,
          "documentation" : "<p> The object specified in the Amplitude flow source. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The object specified in the Amplitude flow source. </p>\n@param object The object specified in the Amplitude flow source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withObject",
          "getterDocumentation" : "/**<p> The object specified in the Amplitude flow source. </p>\n@return The object specified in the Amplitude flow source.*/",
          "getterMethodName" : "getObject",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "object",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "object",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Object",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The object specified in the Amplitude flow source. </p>\n@param object The object specified in the Amplitude flow source.*/",
          "setterMethodName" : "setObject",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "object",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The object specified in the Amplitude flow source. </p>\n@param object The object specified in the Amplitude flow source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "object",
            "variableType" : "String",
            "documentation" : "<p> The object specified in the Amplitude flow source. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.appflow.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "object" ],
      "shapeName" : "AmplitudeSourceProperties",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AmplitudeSourceProperties",
        "variableName" : "amplitudeSourceProperties",
        "variableType" : "AmplitudeSourceProperties",
        "documentation" : null,
        "simpleType" : "AmplitudeSourceProperties",
        "variableSetterType" : "AmplitudeSourceProperties"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> There was a conflict when processing the request (for example, a flow with the given name already exists within the account. Check for conflicting resource names and try again. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.appflow.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.appflow.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "ConnectionMode" : {
      "c2jName" : "ConnectionMode",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "Public",
        "value" : "Public"
      }, {
        "name" : "Private",
        "value" : "Private"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appflow.enum.ConnectionMode",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.appflow.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConnectionMode",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConnectionMode",
        "variableName" : "connectionMode",
        "variableType" : "ConnectionMode",
        "documentation" : null,
        "simpleType" : "ConnectionMode",
        "variableSetterType" : "ConnectionMode"
      },
      "wrapper" : false
    },
    "ConnectorAuthenticationException" : {
      "c2jName" : "ConnectorAuthenticationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> An error occurred when authenticating with the connector endpoint. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConnectorAuthenticationException",
      "fullyQualifiedName" : "com.amazonaws.services.appflow.exception.ConnectorAuthenticationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.appflow.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConnectorAuthenticationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConnectorAuthenticationException",
        "variableName" : "connectorAuthenticationException",
        "variableType" : "ConnectorAuthenticationException",
        "documentation" : null,
        "simpleType" : "ConnectorAuthenticationException",
        "variableSetterType" : "ConnectorAuthenticationException"
      },
      "wrapper" : false
    },
    "ConnectorConfiguration" : {
      "c2jName" : "ConnectorConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The configuration settings related to a given connector. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appflow.model.ConnectorConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "canUseAsSource",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p> Specifies whether the connector can be used as a source. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Specifies whether the connector can be used as a source. </p>\n@param canUseAsSource Specifies whether the connector can be used as a source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCanUseAsSource",
        "getterDocumentation" : "/**<p> Specifies whether the connector can be used as a source. </p>\n@return Specifies whether the connector can be used as a source.*/",
        "getterMethodName" : "getCanUseAsSource",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "canUseAsSource",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "canUseAsSource",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "CanUseAsSource",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Specifies whether the connector can be used as a source. </p>\n@param canUseAsSource Specifies whether the connector can be used as a source.*/",
        "setterMethodName" : "setCanUseAsSource",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "canUseAsSource",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Specifies whether the connector can be used as a source. </p>\n@param canUseAsSource Specifies whether the connector can be used as a source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "canUseAsSource",
          "variableType" : "Boolean",
          "documentation" : "<p> Specifies whether the connector can be used as a source. </p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "canUseAsDestination",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p> Specifies whether the connector can be used as a destination. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Specifies whether the connector can be used as a destination. </p>\n@param canUseAsDestination Specifies whether the connector can be used as a destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCanUseAsDestination",
        "getterDocumentation" : "/**<p> Specifies whether the connector can be used as a destination. </p>\n@return Specifies whether the connector can be used as a destination.*/",
        "getterMethodName" : "getCanUseAsDestination",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "canUseAsDestination",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "canUseAsDestination",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "CanUseAsDestination",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Specifies whether the connector can be used as a destination. </p>\n@param canUseAsDestination Specifies whether the connector can be used as a destination.*/",
        "setterMethodName" : "setCanUseAsDestination",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "canUseAsDestination",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Specifies whether the connector can be used as a destination. </p>\n@param canUseAsDestination Specifies whether the connector can be used as a destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "canUseAsDestination",
          "variableType" : "Boolean",
          "documentation" : "<p> Specifies whether the connector can be used as a destination. </p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "supportedDestinationConnectors",
        "c2jShape" : "ConnectorTypeList",
        "deprecated" : false,
        "documentation" : "<p> Lists the connectors that are available for use as destinations. </p>",
[...]
