{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-05-19",
    "asyncClient" : "AWSAppFabricAsyncClient",
    "asyncClientBuilderClassName" : "AWSAppFabricAsyncClientBuilder",
    "asyncInterface" : "AWSAppFabricAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSAppFabricModuleInjector",
    "defaultEndpoint" : "appfabric.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "appfabric.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Web Services AppFabric quickly connects software as a service (SaaS) applications across your organization. This allows IT and security teams to easily manage and secure applications using a standard schema, and employees can complete everyday tasks faster using generative artificial intelligence (AI). You can use these APIs to complete AppFabric tasks, such as setting up audit log ingestions or viewing user access. For more information about AppFabric, including the required permissions to use the service, see the <a href=\"https://docs.aws.amazon.com/appfabric/latest/adminguide/\">Amazon Web Services AppFabric Administration Guide</a>. For more information about using the Command Line Interface (CLI) to manage your AppFabric resources, see the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/appfabric/index.html\">AppFabric section of the CLI Reference</a>.</p>",
    "endpointPrefix" : "appfabric",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.appfabric",
    "packagePath" : "com/amazonaws/services/appfabric",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AppFabric",
    "serviceId" : "AppFabric",
    "serviceName" : "AppFabric",
    "signingName" : "appfabric",
    "smokeTestsPackageName" : "com.amazonaws.services.appfabric.smoketests",
    "syncClient" : "AWSAppFabricClient",
    "syncClientBuilderClassName" : "AWSAppFabricClientBuilder",
    "syncInterface" : "AWSAppFabric",
    "uid" : "appfabric-2023-05-19",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetUserAccessTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetUserAccessTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetUserAccessTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetUserAccessTasksRequest, BatchGetUserAccessTasksResult>",
      "asyncReturnType" : "BatchGetUserAccessTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets user access details in a batch request.</p> <p>This action polls data from the tasks that are kicked off by the <code>StartUserAccessTasks</code> action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetUserAccessTasksRequest",
        "variableName" : "batchGetUserAccessTasksRequest",
        "variableType" : "BatchGetUserAccessTasksRequest",
        "documentation" : "",
        "simpleType" : "BatchGetUserAccessTasksRequest",
        "variableSetterType" : "BatchGetUserAccessTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetUserAccessTasks",
      "operationName" : "BatchGetUserAccessTasks",
      "returnType" : {
        "returnType" : "BatchGetUserAccessTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetUserAccessTasksResult"
    },
    "ConnectAppAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConnectAppAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConnectAppAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConnectAppAuthorizationRequest, ConnectAppAuthorizationResult>",
      "asyncReturnType" : "ConnectAppAuthorizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Establishes a connection between Amazon Web Services AppFabric and an application, which allows AppFabric to call the APIs of the application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConnectAppAuthorizationRequest",
        "variableName" : "connectAppAuthorizationRequest",
        "variableType" : "ConnectAppAuthorizationRequest",
        "documentation" : "",
        "simpleType" : "ConnectAppAuthorizationRequest",
        "variableSetterType" : "ConnectAppAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "connectAppAuthorization",
      "operationName" : "ConnectAppAuthorization",
      "returnType" : {
        "returnType" : "ConnectAppAuthorizationResult",
        "documentation" : null
      },
      "syncReturnType" : "ConnectAppAuthorizationResult"
    },
    "CreateAppAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppAuthorizationRequest, CreateAppAuthorizationResult>",
      "asyncReturnType" : "CreateAppAuthorizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an app authorization within an app bundle, which allows AppFabric to connect to an application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeds a service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request has created a conflict. Check the request parameters and try again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppAuthorizationRequest",
        "variableName" : "createAppAuthorizationRequest",
        "variableType" : "CreateAppAuthorizationRequest",
        "documentation" : "",
        "simpleType" : "CreateAppAuthorizationRequest",
        "variableSetterType" : "CreateAppAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAppAuthorization",
      "operationName" : "CreateAppAuthorization",
      "returnType" : {
        "returnType" : "CreateAppAuthorizationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppAuthorizationResult"
    },
    "CreateAppBundle" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppBundleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppBundleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppBundleRequest, CreateAppBundleResult>",
      "asyncReturnType" : "CreateAppBundleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an app bundle to collect data from an application using AppFabric.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeds a service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request has created a conflict. Check the request parameters and try again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppBundleRequest",
        "variableName" : "createAppBundleRequest",
        "variableType" : "CreateAppBundleRequest",
        "documentation" : "",
        "simpleType" : "CreateAppBundleRequest",
        "variableSetterType" : "CreateAppBundleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAppBundle",
      "operationName" : "CreateAppBundle",
      "returnType" : {
        "returnType" : "CreateAppBundleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppBundleResult"
    },
    "CreateIngestion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIngestionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIngestionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIngestionRequest, CreateIngestionResult>",
      "asyncReturnType" : "CreateIngestionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a data ingestion for an application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeds a service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request has created a conflict. Check the request parameters and try again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIngestionRequest",
        "variableName" : "createIngestionRequest",
        "variableType" : "CreateIngestionRequest",
        "documentation" : "",
        "simpleType" : "CreateIngestionRequest",
        "variableSetterType" : "CreateIngestionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIngestion",
      "operationName" : "CreateIngestion",
      "returnType" : {
        "returnType" : "CreateIngestionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIngestionResult"
    },
    "CreateIngestionDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIngestionDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIngestionDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIngestionDestinationRequest, CreateIngestionDestinationResult>",
      "asyncReturnType" : "CreateIngestionDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an ingestion destination, which specifies how an application's ingested data is processed by Amazon Web Services AppFabric and where it's delivered.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeds a service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request has created a conflict. Check the request parameters and try again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIngestionDestinationRequest",
        "variableName" : "createIngestionDestinationRequest",
        "variableType" : "CreateIngestionDestinationRequest",
        "documentation" : "",
        "simpleType" : "CreateIngestionDestinationRequest",
        "variableSetterType" : "CreateIngestionDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIngestionDestination",
      "operationName" : "CreateIngestionDestination",
      "returnType" : {
        "returnType" : "CreateIngestionDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIngestionDestinationResult"
    },
    "DeleteAppAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppAuthorizationRequest, DeleteAppAuthorizationResult>",
      "asyncReturnType" : "DeleteAppAuthorizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an app authorization. You must delete the associated ingestion before you can delete an app authorization.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppAuthorizationRequest",
        "variableName" : "deleteAppAuthorizationRequest",
        "variableType" : "DeleteAppAuthorizationRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppAuthorizationRequest",
        "variableSetterType" : "DeleteAppAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppAuthorization",
      "operationName" : "DeleteAppAuthorization",
      "returnType" : {
        "returnType" : "DeleteAppAuthorizationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppAuthorizationResult"
    },
    "DeleteAppBundle" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppBundleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppBundleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppBundleRequest, DeleteAppBundleResult>",
      "asyncReturnType" : "DeleteAppBundleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an app bundle. You must delete all associated app authorizations before you can delete an app bundle.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request has created a conflict. Check the request parameters and try again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppBundleRequest",
        "variableName" : "deleteAppBundleRequest",
        "variableType" : "DeleteAppBundleRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppBundleRequest",
        "variableSetterType" : "DeleteAppBundleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppBundle",
      "operationName" : "DeleteAppBundle",
      "returnType" : {
        "returnType" : "DeleteAppBundleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppBundleResult"
    },
    "DeleteIngestion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIngestionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIngestionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIngestionRequest, DeleteIngestionResult>",
      "asyncReturnType" : "DeleteIngestionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an ingestion. You must stop (disable) the ingestion and you must delete all associated ingestion destinations before you can delete an app ingestion.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIngestionRequest",
        "variableName" : "deleteIngestionRequest",
        "variableType" : "DeleteIngestionRequest",
        "documentation" : "",
        "simpleType" : "DeleteIngestionRequest",
        "variableSetterType" : "DeleteIngestionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIngestion",
      "operationName" : "DeleteIngestion",
      "returnType" : {
        "returnType" : "DeleteIngestionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIngestionResult"
    },
    "DeleteIngestionDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIngestionDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIngestionDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIngestionDestinationRequest, DeleteIngestionDestinationResult>",
      "asyncReturnType" : "DeleteIngestionDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an ingestion destination.</p> <p>This deletes the association between an ingestion and it's destination. It doesn't delete previously ingested data or the storage destination, such as the Amazon S3 bucket where the data is delivered. If the ingestion destination is deleted while the associated ingestion is enabled, the ingestion will fail and is eventually disabled.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIngestionDestinationRequest",
        "variableName" : "deleteIngestionDestinationRequest",
        "variableType" : "DeleteIngestionDestinationRequest",
        "documentation" : "",
        "simpleType" : "DeleteIngestionDestinationRequest",
        "variableSetterType" : "DeleteIngestionDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIngestionDestination",
      "operationName" : "DeleteIngestionDestination",
      "returnType" : {
        "returnType" : "DeleteIngestionDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIngestionDestinationResult"
    },
    "GetAppAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppAuthorizationRequest, GetAppAuthorizationResult>",
      "asyncReturnType" : "GetAppAuthorizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an app authorization.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppAuthorizationRequest",
        "variableName" : "getAppAuthorizationRequest",
        "variableType" : "GetAppAuthorizationRequest",
        "documentation" : "",
        "simpleType" : "GetAppAuthorizationRequest",
        "variableSetterType" : "GetAppAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppAuthorization",
      "operationName" : "GetAppAuthorization",
      "returnType" : {
        "returnType" : "GetAppAuthorizationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppAuthorizationResult"
    },
    "GetAppBundle" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppBundleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppBundleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppBundleRequest, GetAppBundleResult>",
      "asyncReturnType" : "GetAppBundleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an app bundle.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppBundleRequest",
        "variableName" : "getAppBundleRequest",
        "variableType" : "GetAppBundleRequest",
        "documentation" : "",
        "simpleType" : "GetAppBundleRequest",
        "variableSetterType" : "GetAppBundleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppBundle",
      "operationName" : "GetAppBundle",
      "returnType" : {
        "returnType" : "GetAppBundleResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppBundleResult"
    },
    "GetIngestion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIngestionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIngestionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIngestionRequest, GetIngestionResult>",
      "asyncReturnType" : "GetIngestionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an ingestion.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIngestionRequest",
        "variableName" : "getIngestionRequest",
        "variableType" : "GetIngestionRequest",
        "documentation" : "",
        "simpleType" : "GetIngestionRequest",
        "variableSetterType" : "GetIngestionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIngestion",
      "operationName" : "GetIngestion",
      "returnType" : {
        "returnType" : "GetIngestionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIngestionResult"
    },
    "GetIngestionDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIngestionDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIngestionDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIngestionDestinationRequest, GetIngestionDestinationResult>",
      "asyncReturnType" : "GetIngestionDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an ingestion destination.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIngestionDestinationRequest",
        "variableName" : "getIngestionDestinationRequest",
        "variableType" : "GetIngestionDestinationRequest",
        "documentation" : "",
        "simpleType" : "GetIngestionDestinationRequest",
        "variableSetterType" : "GetIngestionDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIngestionDestination",
      "operationName" : "GetIngestionDestination",
      "returnType" : {
        "returnType" : "GetIngestionDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIngestionDestinationResult"
    },
    "ListAppAuthorizations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppAuthorizationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppAuthorizationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppAuthorizationsRequest, ListAppAuthorizationsResult>",
      "asyncReturnType" : "ListAppAuthorizationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all app authorizations configured for an app bundle.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppAuthorizationsRequest",
        "variableName" : "listAppAuthorizationsRequest",
        "variableType" : "ListAppAuthorizationsRequest",
        "documentation" : "",
        "simpleType" : "ListAppAuthorizationsRequest",
        "variableSetterType" : "ListAppAuthorizationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppAuthorizations",
      "operationName" : "ListAppAuthorizations",
      "returnType" : {
        "returnType" : "ListAppAuthorizationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppAuthorizationsResult"
    },
    "ListAppBundles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppBundlesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppBundlesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppBundlesRequest, ListAppBundlesResult>",
      "asyncReturnType" : "ListAppBundlesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of app bundles.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppBundlesRequest",
        "variableName" : "listAppBundlesRequest",
        "variableType" : "ListAppBundlesRequest",
        "documentation" : "",
        "simpleType" : "ListAppBundlesRequest",
        "variableSetterType" : "ListAppBundlesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppBundles",
      "operationName" : "ListAppBundles",
      "returnType" : {
        "returnType" : "ListAppBundlesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppBundlesResult"
    },
    "ListIngestionDestinations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIngestionDestinationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIngestionDestinationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIngestionDestinationsRequest, ListIngestionDestinationsResult>",
      "asyncReturnType" : "ListIngestionDestinationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all ingestion destinations configured for an ingestion.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIngestionDestinationsRequest",
        "variableName" : "listIngestionDestinationsRequest",
        "variableType" : "ListIngestionDestinationsRequest",
        "documentation" : "",
        "simpleType" : "ListIngestionDestinationsRequest",
        "variableSetterType" : "ListIngestionDestinationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIngestionDestinations",
      "operationName" : "ListIngestionDestinations",
      "returnType" : {
        "returnType" : "ListIngestionDestinationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIngestionDestinationsResult"
    },
    "ListIngestions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIngestionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIngestionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIngestionsRequest, ListIngestionsResult>",
      "asyncReturnType" : "ListIngestionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all ingestions configured for an app bundle.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIngestionsRequest",
        "variableName" : "listIngestionsRequest",
        "variableType" : "ListIngestionsRequest",
        "documentation" : "",
        "simpleType" : "ListIngestionsRequest",
        "variableSetterType" : "ListIngestionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIngestions",
      "operationName" : "ListIngestions",
      "returnType" : {
        "returnType" : "ListIngestionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIngestionsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartIngestion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartIngestionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartIngestionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartIngestionRequest, StartIngestionResult>",
      "asyncReturnType" : "StartIngestionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts (enables) an ingestion, which collects data from an application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request has created a conflict. Check the request parameters and try again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartIngestionRequest",
        "variableName" : "startIngestionRequest",
        "variableType" : "StartIngestionRequest",
        "documentation" : "",
        "simpleType" : "StartIngestionRequest",
        "variableSetterType" : "StartIngestionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startIngestion",
      "operationName" : "StartIngestion",
      "returnType" : {
        "returnType" : "StartIngestionResult",
        "documentation" : null
      },
      "syncReturnType" : "StartIngestionResult"
    },
    "StartUserAccessTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartUserAccessTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartUserAccessTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartUserAccessTasksRequest, StartUserAccessTasksResult>",
      "asyncReturnType" : "StartUserAccessTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the tasks to search user access status for a specific email address.</p> <p>The tasks are stopped when the user access status data is found. The tasks are terminated when the API calls to the application time out.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartUserAccessTasksRequest",
        "variableName" : "startUserAccessTasksRequest",
        "variableType" : "StartUserAccessTasksRequest",
        "documentation" : "",
        "simpleType" : "StartUserAccessTasksRequest",
        "variableSetterType" : "StartUserAccessTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startUserAccessTasks",
      "operationName" : "StartUserAccessTasks",
      "returnType" : {
        "returnType" : "StartUserAccessTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "StartUserAccessTasksResult"
    },
    "StopIngestion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopIngestionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopIngestionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopIngestionRequest, StopIngestionResult>",
      "asyncReturnType" : "StopIngestionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops (disables) an ingestion.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request has created a conflict. Check the request parameters and try again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopIngestionRequest",
        "variableName" : "stopIngestionRequest",
        "variableType" : "StopIngestionRequest",
        "documentation" : "",
        "simpleType" : "StopIngestionRequest",
        "variableSetterType" : "StopIngestionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopIngestion",
      "operationName" : "StopIngestion",
      "returnType" : {
        "returnType" : "StopIngestionResult",
        "documentation" : null
      },
      "syncReturnType" : "StopIngestionResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns one or more tags (key-value pairs) to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag or tags from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAppAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAppAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAppAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAppAuthorizationRequest, UpdateAppAuthorizationResult>",
      "asyncReturnType" : "UpdateAppAuthorizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an app authorization within an app bundle, which allows AppFabric to connect to an application.</p> <p>If the app authorization was in a <code>connected</code> state, updating the app authorization will set it back to a <code>PendingConnect</code> state.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAppAuthorizationRequest",
        "variableName" : "updateAppAuthorizationRequest",
        "variableType" : "UpdateAppAuthorizationRequest",
        "documentation" : "",
        "simpleType" : "UpdateAppAuthorizationRequest",
        "variableSetterType" : "UpdateAppAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAppAuthorization",
      "operationName" : "UpdateAppAuthorization",
      "returnType" : {
        "returnType" : "UpdateAppAuthorizationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAppAuthorizationResult"
    },
    "UpdateIngestionDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIngestionDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIngestionDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIngestionDestinationRequest, UpdateIngestionDestinationResult>",
      "asyncReturnType" : "UpdateIngestionDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an ingestion destination, which specifies how an application's ingested data is processed by Amazon Web Services AppFabric and where it's delivered.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeds a service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request has created a conflict. Check the request parameters and try again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateIngestionDestinationRequest",
        "variableName" : "updateIngestionDestinationRequest",
        "variableType" : "UpdateIngestionDestinationRequest",
        "documentation" : "",
        "simpleType" : "UpdateIngestionDestinationRequest",
        "variableSetterType" : "UpdateIngestionDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIngestionDestination",
      "operationName" : "UpdateIngestionDestination",
      "returnType" : {
        "returnType" : "UpdateIngestionDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateIngestionDestinationResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You are not authorized to perform this operation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.appfabric.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.appfabric.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ApiKeyCredential" : {
      "c2jName" : "ApiKeyCredential",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains API key credential information.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appfabric.model.ApiKeyCredential",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "apiKey",
        "c2jShape" : "SensitiveString2048",
        "deprecated" : false,
        "documentation" : "<p>An API key for an application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An API key for an application.</p>\n@param apiKey An API key for an application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApiKey",
        "getterDocumentation" : "/**<p>An API key for an application.</p>\n@return An API key for an application.*/",
        "getterMethodName" : "getApiKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "apiKey",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "apiKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApiKey",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>An API key for an application.</p>\n@param apiKey An API key for an application.*/",
        "setterMethodName" : "setApiKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An API key for an application.</p>\n@param apiKey An API key for an application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiKey",
          "variableType" : "String",
          "documentation" : "<p>An API key for an application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApiKey" : {
          "c2jName" : "apiKey",
          "c2jShape" : "SensitiveString2048",
          "deprecated" : false,
          "documentation" : "<p>An API key for an application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An API key for an application.</p>\n@param apiKey An API key for an application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApiKey",
          "getterDocumentation" : "/**<p>An API key for an application.</p>\n@return An API key for an application.*/",
          "getterMethodName" : "getApiKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "apiKey",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "apiKey",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApiKey",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>An API key for an application.</p>\n@param apiKey An API key for an application.*/",
          "setterMethodName" : "setApiKey",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "apiKey",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An API key for an application.</p>\n@param apiKey An API key for an application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "apiKey",
            "variableType" : "String",
            "documentation" : "<p>An API key for an application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.appfabric.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "apiKey" ],
      "shapeName" : "ApiKeyCredential",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApiKeyCredential",
        "variableName" : "apiKeyCredential",
        "variableType" : "ApiKeyCredential",
        "documentation" : null,
        "simpleType" : "ApiKeyCredential",
        "variableSetterType" : "ApiKeyCredential"
      },
      "wrapper" : false
    },
    "AppAuthorization" : {
      "c2jName" : "AppAuthorization",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains information about an app authorization.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appfabric.model.AppAuthorization",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "appAuthorizationArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the app authorization.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the app authorization.</p>\n@param appAuthorizationArn The Amazon Resource Name (ARN) of the app authorization.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppAuthorizationArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the app authorization.</p>\n@return The Amazon Resource Name (ARN) of the app authorization.*/",
        "getterMethodName" : "getAppAuthorizationArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "appAuthorizationArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "appAuthorizationArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppAuthorizationArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the app authorization.</p>\n@param appAuthorizationArn The Amazon Resource Name (ARN) of the app authorization.*/",
        "setterMethodName" : "setAppAuthorizationArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appAuthorizationArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the app authorization.</p>\n@param appAuthorizationArn The Amazon Resource Name (ARN) of the app authorization.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appAuthorizationArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the app authorization.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "appBundleArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the app bundle for the app authorization.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the app bundle for the app authorization.</p>\n@param appBundleArn The Amazon Resource Name (ARN) of the app bundle for the app authorization.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppBundleArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the app bundle for the app authorization.</p>\n@return The Amazon Resource Name (ARN) of the app bundle for the app authorization.*/",
        "getterMethodName" : "getAppBundleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "appBundleArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "appBundleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppBundleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the app bundle for the app authorization.</p>\n@param appBundleArn The Amazon Resource Name (ARN) of the app bundle for the app authorization.*/",
        "setterMethodName" : "setAppBundleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appBundleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the app bundle for the app authorization.</p>\n@param appBundleArn The Amazon Resource Name (ARN) of the app bundle for the app authorization.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appBundleArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the app bundle for the app authorization.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "app",
        "c2jShape" : "String255",
        "deprecated" : false,
        "documentation" : "<p>The name of the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the application.</p>\n@param app The name of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApp",
        "getterDocumentation" : "/**<p>The name of the application.</p>\n@return The name of the application.*/",
        "getterMethodName" : "getApp",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "app",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "app",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "App",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the application.</p>\n@param app The name of the application.*/",
        "setterMethodName" : "setApp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "app",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the application.</p>\n@param app The name of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "app",
          "variableType" : "String",
          "documentation" : "<p>The name of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tenant",
        "c2jShape" : "Tenant",
        "deprecated" : false,
        "documentation" : "<p>Contains information about an application tenant, such as the application display name and identifier.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Contains information about an application tenant, such as the application display name and identifier.</p>\n@param tenant Contains information about an application tenant, such as the application display name and identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTenant",
        "getterDocumentation" : "/**<p>Contains information about an application tenant, such as the application display name and identifier.</p>\n@return Contains information about an application tenant, such as the application display name and identifier.*/",
        "getterMethodName" : "getTenant",
        "getterModel" : {
          "returnType" : "Tenant",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tenant",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tenant",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Tenant",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Contains information about an application tenant, such as the application display name and identifier.</p>\n@param tenant Contains information about an application tenant, such as the application display name and identifier.*/",
        "setterMethodName" : "setTenant",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Tenant",
          "variableName" : "tenant",
          "variableType" : "Tenant",
          "documentation" : "",
          "simpleType" : "Tenant",
          "variableSetterType" : "Tenant"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Contains information about an application tenant, such as the application display name and identifier.</p>\n@param tenant Contains information about an application tenant, such as the application display name and identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Tenant",
          "variableName" : "tenant",
          "variableType" : "Tenant",
          "documentation" : "<p>Contains information about an application tenant, such as the application display name and identifier.</p>",
          "simpleType" : "Tenant",
          "variableSetterType" : "Tenant"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "authType",
        "c2jShape" : "AuthType",
        "deprecated" : false,
        "documentation" : "<p>The authorization type.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "AuthType",
        "fluentSetterDocumentation" : "/**<p>The authorization type.</p>\n@param authType The authorization type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AuthType*/",
        "fluentSetterMethodName" : "withAuthType",
        "getterDocumentation" : "/**<p>The authorization type.</p>\n@return The authorization type.\n@see AuthType*/",
        "getterMethodName" : "getAuthType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "authType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "authType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AuthType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The authorization type.</p>\n@param authType The authorization type.\n@see AuthType*/",
        "setterMethodName" : "setAuthType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "authType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The authorization type.</p>\n@param authType The authorization type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AuthType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "authType",
          "variableType" : "String",
          "documentation" : "<p>The authorization type.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "status",
        "c2jShape" : "AppAuthorizationStatus",
        "deprecated" : false,
        "documentation" : "<p>The state of the app authorization.</p> <p>The following states are possible:</p> <ul> <li> <p> <code>PendingConnect</code>: The initial state of the app authorization. The app authorization is created but not yet connected.</p> </li> <li> <p> <code>Connected</code>: The app authorization is connected to the application, and is ready to be used.</p> </li> <li> <p> <code>ConnectionValidationFailed</code>: The app authorization received a validation exception when trying to connect to the application. If the app authorization is in this state, you should verify the configured credentials and try to connect the app authorization again.</p> </li> <li> <p> <code>TokenAutoRotationFailed</code>: AppFabric failed to refresh the access token. If the app authorization is in this state, you should try to reconnect the app authorization.</p> </li> </ul>",
        "endpointDiscoveryId" : false,
        "enumType" : "AppAuthorizationStatus",
        "fluentSetterDocumentation" : "/**<p>The state of the app authorization.</p> <p>The following states are possible:</p> <ul> <li> <p> <code>PendingConnect</code>: The initial state of the app authorization. The app authorization is created but not yet connected.</p> </li> <li> <p> <code>Connected</code>: The app authorization is connected to the application, and is ready to be used.</p> </li> <li> <p> <code>ConnectionValidationFailed</code>: The app authorization received a validation exception when trying to connect to the application. If the app authorization is in this state, you should verify the configured credentials and try to connect the app authorization again.</p> </li> <li> <p> <code>TokenAutoRotationFailed</code>: AppFabric failed to refresh the access token. If the app authorization is in this state, you should try to reconnect the app authorization.</p> </li> </ul>\n@param status The state of the app authorization.</p> <p>The following states are possible:</p> <ul> <li> <p> <code>PendingConnect</code>: The initial state of the app authorization. The app authorization is created but not yet connected.</p> </li> <li> <p> <code>Connected</code>: The app authorization is connected to the application, and is ready to be used.</p> </li> <li> <p> <code>ConnectionValidationFailed</code>: The app authorization received a validation exception when trying to connect to the application. If the app authorization is in this state, you should verify the configured credentials and try to connect the app authorization again.</p> </li> <li> <p> <code>TokenAutoRotationFailed</code>: AppFabric failed to refresh the access token. If the app authorization is in this state, you should try to reconnect the app authorization.</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.\n@see AppAuthorizationStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The state of the app authorization.</p> <p>The following states are possible:</p> <ul> <li> <p> <code>PendingConnect</code>: The initial state of the app authorization. The app authorization is created but not yet connected.</p> </li> <li> <p> <code>Connected</code>: The app authorization is connected to the application, and is ready to be used.</p> </li> <li> <p> <code>ConnectionValidationFailed</code>: The app authorization received a validation exception when trying to connect to the application. If the app authorization is in this state, you should verify the configured credentials and try to connect the app authorization again.</p> </li> <li> <p> <code>TokenAutoRotationFailed</code>: AppFabric failed to refresh the access token. If the app authorization is in this state, you should try to reconnect the app authorization.</p> </li> </ul>\n@return The state of the app authorization.</p> <p>The following states are possible:</p> <ul> <li> <p> <code>PendingConnect</code>: The initial state of the app authorization. The app authorization is created but not yet connected.</p> </li> <li> <p> <code>Connected</code>: The app authorization is connected to the application, and is ready to be used.</p> </li> <li> <p> <code>ConnectionValidationFailed</code>: The app authorization received a validation exception when trying to connect to the application. If the app authorization is in this state, you should verify the configured credentials and try to connect the app authorization again.</p> </li> <li> <p> <code>TokenAutoRotationFailed</code>: AppFabric failed to refresh the access token. If the app authorization is in this state, you should try to reconnect the app authorization.</p> </li>\n@see AppAuthorizationStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
[...]
