{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-07-29",
    "asyncClient" : "AmazonAppIntegrationsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonAppIntegrationsAsyncClientBuilder",
    "asyncInterface" : "AmazonAppIntegrationsAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonAppIntegrationsModuleInjector",
    "defaultEndpoint" : "app-integrations.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "app-integrations.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon AppIntegrations service enables you to configure and reuse connections to external applications.</p> <p>For information about how you can use external applications with Amazon Connect, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/crm.html\">Set up pre-built integrations</a> and <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-wisdom.html\">Deliver information to agents using Amazon Connect Wisdom</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
    "endpointPrefix" : "app-integrations",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.appintegrations",
    "packagePath" : "com/amazonaws/services/appintegrations",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon AppIntegrations Service",
    "serviceId" : "AppIntegrations",
    "serviceName" : "Amazon AppIntegrations Service",
    "signingName" : "app-integrations",
    "smokeTestsPackageName" : "com.amazonaws.services.appintegrations.smoketests",
    "syncClient" : "AmazonAppIntegrationsClient",
    "syncClientBuilderClassName" : "AmazonAppIntegrationsClientBuilder",
    "syncInterface" : "AmazonAppIntegrations",
    "uid" : "appintegrations-2020-07-29",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "asyncReturnType" : "CreateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This API is in preview release and subject to change.</p> <p>Creates and persists an Application resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The allowed quota for the resource has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>A resource with the specified name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateApplicationRequest",
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "documentation" : "",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplication",
      "operationName" : "CreateApplication",
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateApplicationResult"
    },
    "CreateDataIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataIntegrationRequest, CreateDataIntegrationResult>",
      "asyncReturnType" : "CreateDataIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates and persists a DataIntegration resource.</p> <note> <p>You cannot create a DataIntegration association for a DataIntegration that has been previously associated. Use a different DataIntegration, or recreate the DataIntegration using the <code>CreateDataIntegration</code> API.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The allowed quota for the resource has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>A resource with the specified name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataIntegrationRequest",
        "variableName" : "createDataIntegrationRequest",
        "variableType" : "CreateDataIntegrationRequest",
        "documentation" : "",
        "simpleType" : "CreateDataIntegrationRequest",
        "variableSetterType" : "CreateDataIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataIntegration",
      "operationName" : "CreateDataIntegration",
      "returnType" : {
        "returnType" : "CreateDataIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDataIntegrationResult"
    },
    "CreateEventIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEventIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEventIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEventIntegrationRequest, CreateEventIntegrationResult>",
      "asyncReturnType" : "CreateEventIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an EventIntegration, given a specified name, description, and a reference to an Amazon EventBridge bus in your account and a partner event source that pushes events to that bus. No objects are created in the your account, only metadata that is persisted on the EventIntegration control plane.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The allowed quota for the resource has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>A resource with the specified name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEventIntegrationRequest",
        "variableName" : "createEventIntegrationRequest",
        "variableType" : "CreateEventIntegrationRequest",
        "documentation" : "",
        "simpleType" : "CreateEventIntegrationRequest",
        "variableSetterType" : "CreateEventIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEventIntegration",
      "operationName" : "CreateEventIntegration",
      "returnType" : {
        "returnType" : "CreateEventIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEventIntegrationResult"
    },
    "DeleteApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "asyncReturnType" : "DeleteApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the Application. Only Applications that don't have any Application Associations can be deleted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationRequest",
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplication",
      "operationName" : "DeleteApplication",
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationResult"
    },
    "DeleteDataIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDataIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDataIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDataIntegrationRequest, DeleteDataIntegrationResult>",
      "asyncReturnType" : "DeleteDataIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the DataIntegration. Only DataIntegrations that don't have any DataIntegrationAssociations can be deleted. Deleting a DataIntegration also deletes the underlying Amazon AppFlow flow and service linked role. </p> <note> <p>You cannot create a DataIntegration association for a DataIntegration that has been previously associated. Use a different DataIntegration, or recreate the DataIntegration using the <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> API.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDataIntegrationRequest",
        "variableName" : "deleteDataIntegrationRequest",
        "variableType" : "DeleteDataIntegrationRequest",
        "documentation" : "",
        "simpleType" : "DeleteDataIntegrationRequest",
        "variableSetterType" : "DeleteDataIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataIntegration",
      "operationName" : "DeleteDataIntegration",
      "returnType" : {
        "returnType" : "DeleteDataIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDataIntegrationResult"
    },
    "DeleteEventIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventIntegrationRequest, DeleteEventIntegrationResult>",
      "asyncReturnType" : "DeleteEventIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified existing event integration. If the event integration is associated with clients, the request is rejected.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEventIntegrationRequest",
        "variableName" : "deleteEventIntegrationRequest",
        "variableType" : "DeleteEventIntegrationRequest",
        "documentation" : "",
        "simpleType" : "DeleteEventIntegrationRequest",
        "variableSetterType" : "DeleteEventIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEventIntegration",
      "operationName" : "DeleteEventIntegration",
      "returnType" : {
        "returnType" : "DeleteEventIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEventIntegrationResult"
    },
    "GetApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationRequest, GetApplicationResult>",
      "asyncReturnType" : "GetApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This API is in preview release and subject to change.</p> <p>Get an Application resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetApplicationRequest",
        "variableName" : "getApplicationRequest",
        "variableType" : "GetApplicationRequest",
        "documentation" : "",
        "simpleType" : "GetApplicationRequest",
        "variableSetterType" : "GetApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApplication",
      "operationName" : "GetApplication",
      "returnType" : {
        "returnType" : "GetApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetApplicationResult"
    },
    "GetDataIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataIntegrationRequest, GetDataIntegrationResult>",
      "asyncReturnType" : "GetDataIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the DataIntegration.</p> <note> <p>You cannot create a DataIntegration association for a DataIntegration that has been previously associated. Use a different DataIntegration, or recreate the DataIntegration using the <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> API.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataIntegrationRequest",
        "variableName" : "getDataIntegrationRequest",
        "variableType" : "GetDataIntegrationRequest",
        "documentation" : "",
        "simpleType" : "GetDataIntegrationRequest",
        "variableSetterType" : "GetDataIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataIntegration",
      "operationName" : "GetDataIntegration",
      "returnType" : {
        "returnType" : "GetDataIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDataIntegrationResult"
    },
    "GetEventIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEventIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEventIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEventIntegrationRequest, GetEventIntegrationResult>",
      "asyncReturnType" : "GetEventIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the event integration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEventIntegrationRequest",
        "variableName" : "getEventIntegrationRequest",
        "variableType" : "GetEventIntegrationRequest",
        "documentation" : "",
        "simpleType" : "GetEventIntegrationRequest",
        "variableSetterType" : "GetEventIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEventIntegration",
      "operationName" : "GetEventIntegration",
      "returnType" : {
        "returnType" : "GetEventIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEventIntegrationResult"
    },
    "ListApplicationAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationAssociationsRequest, ListApplicationAssociationsResult>",
      "asyncReturnType" : "ListApplicationAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list of application associations for an application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationAssociationsRequest",
        "variableName" : "listApplicationAssociationsRequest",
        "variableType" : "ListApplicationAssociationsRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationAssociationsRequest",
        "variableSetterType" : "ListApplicationAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplicationAssociations",
      "operationName" : "ListApplicationAssociations",
      "returnType" : {
        "returnType" : "ListApplicationAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationAssociationsResult"
    },
    "ListApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "asyncReturnType" : "ListApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This API is in preview release and subject to change.</p> <p>Lists applications in the account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationsRequest",
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplications",
      "operationName" : "ListApplications",
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationsResult"
    },
    "ListDataIntegrationAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataIntegrationAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataIntegrationAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataIntegrationAssociationsRequest, ListDataIntegrationAssociationsResult>",
      "asyncReturnType" : "ListDataIntegrationAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list of DataIntegration associations in the account.</p> <note> <p>You cannot create a DataIntegration association for a DataIntegration that has been previously associated. Use a different DataIntegration, or recreate the DataIntegration using the <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> API.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataIntegrationAssociationsRequest",
        "variableName" : "listDataIntegrationAssociationsRequest",
        "variableType" : "ListDataIntegrationAssociationsRequest",
        "documentation" : "",
        "simpleType" : "ListDataIntegrationAssociationsRequest",
        "variableSetterType" : "ListDataIntegrationAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataIntegrationAssociations",
      "operationName" : "ListDataIntegrationAssociations",
      "returnType" : {
        "returnType" : "ListDataIntegrationAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataIntegrationAssociationsResult"
    },
    "ListDataIntegrations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataIntegrationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataIntegrationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataIntegrationsRequest, ListDataIntegrationsResult>",
      "asyncReturnType" : "ListDataIntegrationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list of DataIntegrations in the account.</p> <note> <p>You cannot create a DataIntegration association for a DataIntegration that has been previously associated. Use a different DataIntegration, or recreate the DataIntegration using the <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> API.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataIntegrationsRequest",
        "variableName" : "listDataIntegrationsRequest",
        "variableType" : "ListDataIntegrationsRequest",
        "documentation" : "",
        "simpleType" : "ListDataIntegrationsRequest",
        "variableSetterType" : "ListDataIntegrationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataIntegrations",
      "operationName" : "ListDataIntegrations",
      "returnType" : {
        "returnType" : "ListDataIntegrationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataIntegrationsResult"
    },
    "ListEventIntegrationAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventIntegrationAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventIntegrationAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventIntegrationAssociationsRequest, ListEventIntegrationAssociationsResult>",
      "asyncReturnType" : "ListEventIntegrationAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list of event integration associations in the account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEventIntegrationAssociationsRequest",
        "variableName" : "listEventIntegrationAssociationsRequest",
        "variableType" : "ListEventIntegrationAssociationsRequest",
        "documentation" : "",
        "simpleType" : "ListEventIntegrationAssociationsRequest",
        "variableSetterType" : "ListEventIntegrationAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEventIntegrationAssociations",
      "operationName" : "ListEventIntegrationAssociations",
      "returnType" : {
        "returnType" : "ListEventIntegrationAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEventIntegrationAssociationsResult"
    },
    "ListEventIntegrations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventIntegrationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventIntegrationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventIntegrationsRequest, ListEventIntegrationsResult>",
      "asyncReturnType" : "ListEventIntegrationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list of event integrations in the account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEventIntegrationsRequest",
        "variableName" : "listEventIntegrationsRequest",
        "variableType" : "ListEventIntegrationsRequest",
        "documentation" : "",
        "simpleType" : "ListEventIntegrationsRequest",
        "variableSetterType" : "ListEventIntegrationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEventIntegrations",
      "operationName" : "ListEventIntegrations",
      "returnType" : {
        "returnType" : "ListEventIntegrationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEventIntegrationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "asyncReturnType" : "UpdateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This API is in preview release and subject to change.</p> <p>Updates and persists an Application resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateApplicationRequest",
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplication",
      "operationName" : "UpdateApplication",
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationResult"
    },
    "UpdateDataIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDataIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDataIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDataIntegrationRequest, UpdateDataIntegrationResult>",
      "asyncReturnType" : "UpdateDataIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the description of a DataIntegration.</p> <note> <p>You cannot create a DataIntegration association for a DataIntegration that has been previously associated. Use a different DataIntegration, or recreate the DataIntegration using the <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> API.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDataIntegrationRequest",
        "variableName" : "updateDataIntegrationRequest",
        "variableType" : "UpdateDataIntegrationRequest",
        "documentation" : "",
        "simpleType" : "UpdateDataIntegrationRequest",
        "variableSetterType" : "UpdateDataIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDataIntegration",
      "operationName" : "UpdateDataIntegration",
      "returnType" : {
        "returnType" : "UpdateDataIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDataIntegrationResult"
    },
    "UpdateEventIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEventIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEventIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEventIntegrationRequest, UpdateEventIntegrationResult>",
      "asyncReturnType" : "UpdateEventIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the description of an event integration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEventIntegrationRequest",
        "variableName" : "updateEventIntegrationRequest",
        "variableType" : "UpdateEventIntegrationRequest",
        "documentation" : "",
        "simpleType" : "UpdateEventIntegrationRequest",
        "variableSetterType" : "UpdateEventIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEventIntegration",
      "operationName" : "UpdateEventIntegration",
      "returnType" : {
        "returnType" : "UpdateEventIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEventIntegrationResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.appintegrations.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.appintegrations.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ApplicationAssociationSummary" : {
      "c2jName" : "ApplicationAssociationSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Summary information about the Application Association.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appintegrations.model.ApplicationAssociationSummary",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ApplicationAssociationArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Application Association.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Association.</p>\n@param applicationAssociationArn The Amazon Resource Name (ARN) of the Application Association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationAssociationArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Association.</p>\n@return The Amazon Resource Name (ARN) of the Application Association.*/",
        "getterMethodName" : "getApplicationAssociationArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApplicationAssociationArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationAssociationArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationAssociationArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Association.</p>\n@param applicationAssociationArn The Amazon Resource Name (ARN) of the Application Association.*/",
        "setterMethodName" : "setApplicationAssociationArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationAssociationArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Association.</p>\n@param applicationAssociationArn The Amazon Resource Name (ARN) of the Application Association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationAssociationArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Application Association.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ApplicationArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application.</p>\n@param applicationArn The Amazon Resource Name (ARN) of the Application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application.</p>\n@return The Amazon Resource Name (ARN) of the Application.*/",
        "getterMethodName" : "getApplicationArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApplicationArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application.</p>\n@param applicationArn The Amazon Resource Name (ARN) of the Application.*/",
        "setterMethodName" : "setApplicationArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application.</p>\n@param applicationArn The Amazon Resource Name (ARN) of the Application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClientId",
        "c2jShape" : "ClientId",
        "deprecated" : false,
        "documentation" : "<p>The identifier for the client that is associated with the Application Association.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier for the client that is associated with the Application Association.</p>\n@param clientId The identifier for the client that is associated with the Application Association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientId",
        "getterDocumentation" : "/**<p>The identifier for the client that is associated with the Application Association.</p>\n@return The identifier for the client that is associated with the Application Association.*/",
        "getterMethodName" : "getClientId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClientId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClientId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier for the client that is associated with the Application Association.</p>\n@param clientId The identifier for the client that is associated with the Application Association.*/",
        "setterMethodName" : "setClientId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier for the client that is associated with the Application Association.</p>\n@param clientId The identifier for the client that is associated with the Application Association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientId",
          "variableType" : "String",
          "documentation" : "<p>The identifier for the client that is associated with the Application Association.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationArn" : {
          "c2jName" : "ApplicationArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application.</p>\n@param applicationArn The Amazon Resource Name (ARN) of the Application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application.</p>\n@return The Amazon Resource Name (ARN) of the Application.*/",
          "getterMethodName" : "getApplicationArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ApplicationArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ApplicationArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApplicationArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application.</p>\n@param applicationArn The Amazon Resource Name (ARN) of the Application.*/",
          "setterMethodName" : "setApplicationArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application.</p>\n@param applicationArn The Amazon Resource Name (ARN) of the Application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the Application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ApplicationAssociationArn" : {
          "c2jName" : "ApplicationAssociationArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Application Association.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Association.</p>\n@param applicationAssociationArn The Amazon Resource Name (ARN) of the Application Association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationAssociationArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Association.</p>\n@return The Amazon Resource Name (ARN) of the Application Association.*/",
          "getterMethodName" : "getApplicationAssociationArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ApplicationAssociationArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ApplicationAssociationArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApplicationAssociationArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Association.</p>\n@param applicationAssociationArn The Amazon Resource Name (ARN) of the Application Association.*/",
          "setterMethodName" : "setApplicationAssociationArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationAssociationArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Association.</p>\n@param applicationAssociationArn The Amazon Resource Name (ARN) of the Application Association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationAssociationArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the Application Association.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ClientId" : {
          "c2jName" : "ClientId",
          "c2jShape" : "ClientId",
          "deprecated" : false,
          "documentation" : "<p>The identifier for the client that is associated with the Application Association.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier for the client that is associated with the Application Association.</p>\n@param clientId The identifier for the client that is associated with the Application Association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientId",
          "getterDocumentation" : "/**<p>The identifier for the client that is associated with the Application Association.</p>\n@return The identifier for the client that is associated with the Application Association.*/",
          "getterMethodName" : "getClientId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ClientId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ClientId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier for the client that is associated with the Application Association.</p>\n@param clientId The identifier for the client that is associated with the Application Association.*/",
          "setterMethodName" : "setClientId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier for the client that is associated with the Application Association.</p>\n@param clientId The identifier for the client that is associated with the Application Association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientId",
            "variableType" : "String",
            "documentation" : "<p>The identifier for the client that is associated with the Application Association.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.appintegrations.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ApplicationAssociationSummary",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplicationAssociationSummary",
        "variableName" : "applicationAssociationSummary",
        "variableType" : "ApplicationAssociationSummary",
        "documentation" : null,
        "simpleType" : "ApplicationAssociationSummary",
        "variableSetterType" : "ApplicationAssociationSummary"
      },
      "wrapper" : false
    },
    "ApplicationSourceConfig" : {
      "c2jName" : "ApplicationSourceConfig",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configuration for where the application should be loaded from.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appintegrations.model.ApplicationSourceConfig",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ExternalUrlConfig",
        "c2jShape" : "ExternalUrlConfig",
        "deprecated" : false,
        "documentation" : "<p>The external URL source for the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The external URL source for the application.</p>\n@param externalUrlConfig The external URL source for the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExternalUrlConfig",
        "getterDocumentation" : "/**<p>The external URL source for the application.</p>\n@return The external URL source for the application.*/",
        "getterMethodName" : "getExternalUrlConfig",
        "getterModel" : {
          "returnType" : "ExternalUrlConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ExternalUrlConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ExternalUrlConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ExternalUrlConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The external URL source for the application.</p>\n@param externalUrlConfig The external URL source for the application.*/",
        "setterMethodName" : "setExternalUrlConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ExternalUrlConfig",
          "variableName" : "externalUrlConfig",
          "variableType" : "ExternalUrlConfig",
          "documentation" : "",
          "simpleType" : "ExternalUrlConfig",
          "variableSetterType" : "ExternalUrlConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The external URL source for the application.</p>\n@param externalUrlConfig The external URL source for the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ExternalUrlConfig",
          "variableName" : "externalUrlConfig",
          "variableType" : "ExternalUrlConfig",
          "documentation" : "<p>The external URL source for the application.</p>",
          "simpleType" : "ExternalUrlConfig",
          "variableSetterType" : "ExternalUrlConfig"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ExternalUrlConfig" : {
          "c2jName" : "ExternalUrlConfig",
          "c2jShape" : "ExternalUrlConfig",
          "deprecated" : false,
          "documentation" : "<p>The external URL source for the application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The external URL source for the application.</p>\n@param externalUrlConfig The external URL source for the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExternalUrlConfig",
          "getterDocumentation" : "/**<p>The external URL source for the application.</p>\n@return The external URL source for the application.*/",
          "getterMethodName" : "getExternalUrlConfig",
          "getterModel" : {
            "returnType" : "ExternalUrlConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ExternalUrlConfig",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ExternalUrlConfig",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ExternalUrlConfig",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The external URL source for the application.</p>\n@param externalUrlConfig The external URL source for the application.*/",
          "setterMethodName" : "setExternalUrlConfig",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ExternalUrlConfig",
            "variableName" : "externalUrlConfig",
            "variableType" : "ExternalUrlConfig",
            "documentation" : "",
            "simpleType" : "ExternalUrlConfig",
            "variableSetterType" : "ExternalUrlConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The external URL source for the application.</p>\n@param externalUrlConfig The external URL source for the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ExternalUrlConfig",
            "variableName" : "externalUrlConfig",
            "variableType" : "ExternalUrlConfig",
            "documentation" : "<p>The external URL source for the application.</p>",
            "simpleType" : "ExternalUrlConfig",
            "variableSetterType" : "ExternalUrlConfig"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.appintegrations.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ApplicationSourceConfig",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplicationSourceConfig",
        "variableName" : "applicationSourceConfig",
        "variableType" : "ApplicationSourceConfig",
        "documentation" : null,
        "simpleType" : "ApplicationSourceConfig",
        "variableSetterType" : "ApplicationSourceConfig"
      },
      "wrapper" : false
    },
    "ApplicationSummary" : {
      "c2jName" : "ApplicationSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Summary information about the Application.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appintegrations.model.ApplicationSummary",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Arn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application.</p>\n@param arn The Amazon Resource Name (ARN) of the Application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application.</p>\n@return The Amazon Resource Name (ARN) of the Application.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Arn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application.</p>\n@param arn The Amazon Resource Name (ARN) of the Application.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application.</p>\n@param arn The Amazon Resource Name (ARN) of the Application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "UUID",
        "deprecated" : false,
        "documentation" : "<p>A unique identifier for the Application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique identifier for the Application.</p>\n@param id A unique identifier for the Application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>A unique identifier for the Application.</p>\n@return A unique identifier for the Application.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique identifier for the Application.</p>\n@param id A unique identifier for the Application.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A unique identifier for the Application.</p>\n@param id A unique identifier for the Application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>A unique identifier for the Application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "ApplicationName",
        "deprecated" : false,
        "documentation" : "<p>The name of the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the application.</p>\n@param name The name of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the application.</p>\n@return The name of the application.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the application.</p>\n@param name The name of the application.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the application.</p>\n@param name The name of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Namespace",
        "c2jShape" : "ApplicationNamespace",
        "deprecated" : false,
        "documentation" : "<p>The namespace of the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The namespace of the application.</p>\n@param namespace The namespace of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNamespace",
        "getterDocumentation" : "/**<p>The namespace of the application.</p>\n@return The namespace of the application.*/",
        "getterMethodName" : "getNamespace",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Namespace",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Namespace",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Namespace",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The namespace of the application.</p>\n@param namespace The namespace of the application.*/",
        "setterMethodName" : "setNamespace",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "namespace",
          "variableType" : "String",
[...]
