{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-01-25",
    "asyncClient" : "AWSAppMeshAsyncClient",
    "asyncClientBuilderClassName" : "AWSAppMeshAsyncClientBuilder",
    "asyncInterface" : "AWSAppMeshAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSAppMeshModuleInjector",
    "defaultEndpoint" : "appmesh.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "appmesh.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS App Mesh is a service mesh based on the Envoy proxy that makes it easy to monitor and\n         control microservices. App Mesh standardizes how your microservices communicate, giving you\n         end-to-end visibility and helping to ensure high availability for your applications.</p>\n         <p>App Mesh gives you consistent visibility and network traffic controls for every\n         microservice in an application. You can use App Mesh with AWS Fargate, Amazon ECS, Amazon EKS,\n         Kubernetes on AWS, and Amazon EC2.</p>\n         <note>\n            <p>App Mesh supports microservice applications that use service discovery naming for their\n            components. For more information about service discovery on Amazon ECS, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html\">Service Discovery</a> in the\n               <i>Amazon Elastic Container Service Developer Guide</i>. Kubernetes <code>kube-dns</code> and\n               <code>coredns</code> are supported. For more information, see <a href=\"https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/\">DNS\n               for Services and Pods</a> in the Kubernetes documentation.</p>\n         </note>",
    "endpointPrefix" : "appmesh",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.appmesh",
    "packagePath" : "com/amazonaws/services/appmesh",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS App Mesh",
    "serviceId" : "App Mesh",
    "serviceName" : "AWS App Mesh",
    "signingName" : "appmesh",
    "smokeTestsPackageName" : "com.amazonaws.services.appmesh.smoketests",
    "syncClient" : "AWSAppMeshClient",
    "syncClientBuilderClassName" : "AWSAppMeshClientBuilder",
    "syncInterface" : "AWSAppMesh",
    "uid" : "appmesh-2019-01-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateMesh" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMeshResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMeshResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMeshRequest, CreateMeshResult>",
      "asyncReturnType" : "CreateMeshResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a service mesh. A service mesh is a logical boundary for network traffic between\n         the services that reside within it.</p>\n         <p>After you create your service mesh, you can create virtual services, virtual nodes,\n         virtual routers, and routes to distribute traffic between the applications in your\n         mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service\n            Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMeshRequest",
        "variableName" : "createMeshRequest",
        "variableType" : "CreateMeshRequest",
        "documentation" : "",
        "simpleType" : "CreateMeshRequest",
        "variableSetterType" : "CreateMeshRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMesh",
      "operationName" : "CreateMesh",
      "returnType" : {
        "returnType" : "CreateMeshResult",
        "documentation" : ""
      },
      "syncReturnType" : "CreateMeshResult"
    },
    "CreateRoute" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRouteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRouteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRouteRequest, CreateRouteResult>",
      "asyncReturnType" : "CreateRouteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a route that is associated with a virtual router.</p>\n         <p>You can use the <code>prefix</code> parameter in your route specification for path-based\n         routing of requests. For example, if your virtual service name is\n            <code>my-service.local</code> and you want the route to match requests to\n            <code>my-service.local/metrics</code>, your prefix should be\n         <code>/metrics</code>.</p>\n         <p>If your route matches a request, you can distribute traffic to one or more target\n         virtual nodes with relative weighting.</p>\n         <p>For more information about routes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/routes.html\">Routes</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service\n            Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRouteRequest",
        "variableName" : "createRouteRequest",
        "variableType" : "CreateRouteRequest",
        "documentation" : "",
        "simpleType" : "CreateRouteRequest",
        "variableSetterType" : "CreateRouteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRoute",
      "operationName" : "CreateRoute",
      "returnType" : {
        "returnType" : "CreateRouteResult",
        "documentation" : ""
      },
      "syncReturnType" : "CreateRouteResult"
    },
    "CreateVirtualNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVirtualNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVirtualNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVirtualNodeRequest, CreateVirtualNodeResult>",
      "asyncReturnType" : "CreateVirtualNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a virtual node within a service mesh.</p>\n         <p>A virtual node acts as a logical pointer to a particular task group, such as an Amazon ECS\n         service or a Kubernetes deployment. When you create a virtual node, you can specify the\n         service discovery information for your task group.</p>\n         <p>Any inbound traffic that your virtual node expects should be specified as a\n            <code>listener</code>. Any outbound traffic that your virtual node expects to reach\n         should be specified as a <code>backend</code>.</p>\n         <p>The response metadata for your new virtual node contains the <code>arn</code> that is\n         associated with the virtual node. Set this value (either the full ARN or the truncated\n         resource name: for example, <code>mesh/default/virtualNode/simpleapp</code>) as the\n            <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's Envoy\n         proxy container in your task definition or pod spec. This is then mapped to the\n            <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n         <note>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>\n         <p>For more information about virtual nodes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_nodes.html\">Virtual Nodes</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service\n            Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVirtualNodeRequest",
        "variableName" : "createVirtualNodeRequest",
        "variableType" : "CreateVirtualNodeRequest",
        "documentation" : "",
        "simpleType" : "CreateVirtualNodeRequest",
        "variableSetterType" : "CreateVirtualNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVirtualNode",
      "operationName" : "CreateVirtualNode",
      "returnType" : {
        "returnType" : "CreateVirtualNodeResult",
        "documentation" : ""
      },
      "syncReturnType" : "CreateVirtualNodeResult"
    },
    "CreateVirtualRouter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVirtualRouterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVirtualRouterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVirtualRouterRequest, CreateVirtualRouterResult>",
      "asyncReturnType" : "CreateVirtualRouterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a virtual router within a service mesh.</p>\n         <p>Any inbound traffic that your virtual router expects should be specified as a\n            <code>listener</code>. </p>\n         <p>Virtual routers handle traffic for one or more virtual services within your mesh. After\n         you create your virtual router, create and associate routes for your virtual router that\n         direct incoming requests to different virtual nodes.</p>\n         <p>For more information about virtual routers, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_routers.html\">Virtual Routers</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service\n            Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVirtualRouterRequest",
        "variableName" : "createVirtualRouterRequest",
        "variableType" : "CreateVirtualRouterRequest",
        "documentation" : "",
        "simpleType" : "CreateVirtualRouterRequest",
        "variableSetterType" : "CreateVirtualRouterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVirtualRouter",
      "operationName" : "CreateVirtualRouter",
      "returnType" : {
        "returnType" : "CreateVirtualRouterResult",
        "documentation" : ""
      },
      "syncReturnType" : "CreateVirtualRouterResult"
    },
    "CreateVirtualService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVirtualServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVirtualServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVirtualServiceRequest, CreateVirtualServiceResult>",
      "asyncReturnType" : "CreateVirtualServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a virtual service within a service mesh.</p>\n         <p>A virtual service is an abstraction of a real service that is provided by a virtual node\n         directly or indirectly by means of a virtual router. Dependent services call your virtual\n         service by its <code>virtualServiceName</code>, and those requests are routed to the\n         virtual node or virtual router that is specified as the provider for the virtual\n         service.</p>\n         <p>For more information about virtual services, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_services.html\">Virtual Services</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service\n            Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVirtualServiceRequest",
        "variableName" : "createVirtualServiceRequest",
        "variableType" : "CreateVirtualServiceRequest",
        "documentation" : "",
        "simpleType" : "CreateVirtualServiceRequest",
        "variableSetterType" : "CreateVirtualServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVirtualService",
      "operationName" : "CreateVirtualService",
      "returnType" : {
        "returnType" : "CreateVirtualServiceResult",
        "documentation" : ""
      },
      "syncReturnType" : "CreateVirtualServiceResult"
    },
    "DeleteMesh" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMeshResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMeshResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMeshRequest, DeleteMeshResult>",
      "asyncReturnType" : "DeleteMeshResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing service mesh.</p>\n         <p>You must delete all resources (virtual services, routes, virtual routers, and virtual\n         nodes) in the service mesh before you can delete the mesh itself.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>You can't delete the specified resource because it's in use or required by another\n         resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMeshRequest",
        "variableName" : "deleteMeshRequest",
        "variableType" : "DeleteMeshRequest",
        "documentation" : "",
        "simpleType" : "DeleteMeshRequest",
        "variableSetterType" : "DeleteMeshRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMesh",
      "operationName" : "DeleteMesh",
      "returnType" : {
        "returnType" : "DeleteMeshResult",
        "documentation" : ""
      },
      "syncReturnType" : "DeleteMeshResult"
    },
    "DeleteRoute" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRouteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRouteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRouteRequest, DeleteRouteResult>",
      "asyncReturnType" : "DeleteRouteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing route.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>You can't delete the specified resource because it's in use or required by another\n         resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRouteRequest",
        "variableName" : "deleteRouteRequest",
        "variableType" : "DeleteRouteRequest",
        "documentation" : "",
        "simpleType" : "DeleteRouteRequest",
        "variableSetterType" : "DeleteRouteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRoute",
      "operationName" : "DeleteRoute",
      "returnType" : {
        "returnType" : "DeleteRouteResult",
        "documentation" : ""
      },
      "syncReturnType" : "DeleteRouteResult"
    },
    "DeleteVirtualNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVirtualNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVirtualNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVirtualNodeRequest, DeleteVirtualNodeResult>",
      "asyncReturnType" : "DeleteVirtualNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing virtual node.</p>\n         <p>You must delete any virtual services that list a virtual node as a service provider\n         before you can delete the virtual node itself.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>You can't delete the specified resource because it's in use or required by another\n         resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVirtualNodeRequest",
        "variableName" : "deleteVirtualNodeRequest",
        "variableType" : "DeleteVirtualNodeRequest",
        "documentation" : "",
        "simpleType" : "DeleteVirtualNodeRequest",
        "variableSetterType" : "DeleteVirtualNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVirtualNode",
      "operationName" : "DeleteVirtualNode",
      "returnType" : {
        "returnType" : "DeleteVirtualNodeResult",
        "documentation" : ""
      },
      "syncReturnType" : "DeleteVirtualNodeResult"
    },
    "DeleteVirtualRouter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVirtualRouterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVirtualRouterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVirtualRouterRequest, DeleteVirtualRouterResult>",
      "asyncReturnType" : "DeleteVirtualRouterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing virtual router.</p>\n         <p>You must delete any routes associated with the virtual router before you can delete the\n         router itself.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>You can't delete the specified resource because it's in use or required by another\n         resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVirtualRouterRequest",
        "variableName" : "deleteVirtualRouterRequest",
        "variableType" : "DeleteVirtualRouterRequest",
        "documentation" : "",
        "simpleType" : "DeleteVirtualRouterRequest",
        "variableSetterType" : "DeleteVirtualRouterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVirtualRouter",
      "operationName" : "DeleteVirtualRouter",
      "returnType" : {
        "returnType" : "DeleteVirtualRouterResult",
        "documentation" : ""
      },
      "syncReturnType" : "DeleteVirtualRouterResult"
    },
    "DeleteVirtualService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVirtualServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVirtualServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVirtualServiceRequest, DeleteVirtualServiceResult>",
      "asyncReturnType" : "DeleteVirtualServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing virtual service.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVirtualServiceRequest",
        "variableName" : "deleteVirtualServiceRequest",
        "variableType" : "DeleteVirtualServiceRequest",
        "documentation" : "",
        "simpleType" : "DeleteVirtualServiceRequest",
        "variableSetterType" : "DeleteVirtualServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVirtualService",
      "operationName" : "DeleteVirtualService",
      "returnType" : {
        "returnType" : "DeleteVirtualServiceResult",
        "documentation" : ""
      },
      "syncReturnType" : "DeleteVirtualServiceResult"
    },
    "DescribeMesh" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMeshResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMeshResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMeshRequest, DescribeMeshResult>",
      "asyncReturnType" : "DescribeMeshResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an existing service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeMeshRequest",
        "variableName" : "describeMeshRequest",
        "variableType" : "DescribeMeshRequest",
        "documentation" : "",
        "simpleType" : "DescribeMeshRequest",
        "variableSetterType" : "DescribeMeshRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMesh",
      "operationName" : "DescribeMesh",
      "returnType" : {
        "returnType" : "DescribeMeshResult",
        "documentation" : ""
      },
      "syncReturnType" : "DescribeMeshResult"
    },
    "DescribeRoute" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRouteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRouteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRouteRequest, DescribeRouteResult>",
      "asyncReturnType" : "DescribeRouteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an existing route.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRouteRequest",
        "variableName" : "describeRouteRequest",
        "variableType" : "DescribeRouteRequest",
        "documentation" : "",
        "simpleType" : "DescribeRouteRequest",
        "variableSetterType" : "DescribeRouteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRoute",
      "operationName" : "DescribeRoute",
      "returnType" : {
        "returnType" : "DescribeRouteResult",
        "documentation" : ""
      },
      "syncReturnType" : "DescribeRouteResult"
    },
    "DescribeVirtualNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualNodeRequest, DescribeVirtualNodeResult>",
      "asyncReturnType" : "DescribeVirtualNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an existing virtual node.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeVirtualNodeRequest",
        "variableName" : "describeVirtualNodeRequest",
        "variableType" : "DescribeVirtualNodeRequest",
        "documentation" : "",
        "simpleType" : "DescribeVirtualNodeRequest",
        "variableSetterType" : "DescribeVirtualNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVirtualNode",
      "operationName" : "DescribeVirtualNode",
      "returnType" : {
        "returnType" : "DescribeVirtualNodeResult",
        "documentation" : ""
      },
      "syncReturnType" : "DescribeVirtualNodeResult"
    },
    "DescribeVirtualRouter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualRouterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualRouterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualRouterRequest, DescribeVirtualRouterResult>",
      "asyncReturnType" : "DescribeVirtualRouterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an existing virtual router.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeVirtualRouterRequest",
        "variableName" : "describeVirtualRouterRequest",
        "variableType" : "DescribeVirtualRouterRequest",
        "documentation" : "",
        "simpleType" : "DescribeVirtualRouterRequest",
        "variableSetterType" : "DescribeVirtualRouterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVirtualRouter",
      "operationName" : "DescribeVirtualRouter",
      "returnType" : {
        "returnType" : "DescribeVirtualRouterResult",
        "documentation" : ""
      },
      "syncReturnType" : "DescribeVirtualRouterResult"
    },
    "DescribeVirtualService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualServiceRequest, DescribeVirtualServiceResult>",
      "asyncReturnType" : "DescribeVirtualServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an existing virtual service.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeVirtualServiceRequest",
        "variableName" : "describeVirtualServiceRequest",
        "variableType" : "DescribeVirtualServiceRequest",
        "documentation" : "",
        "simpleType" : "DescribeVirtualServiceRequest",
        "variableSetterType" : "DescribeVirtualServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVirtualService",
      "operationName" : "DescribeVirtualService",
      "returnType" : {
        "returnType" : "DescribeVirtualServiceResult",
        "documentation" : ""
      },
      "syncReturnType" : "DescribeVirtualServiceResult"
    },
    "ListMeshes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMeshesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMeshesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMeshesRequest, ListMeshesResult>",
      "asyncReturnType" : "ListMeshesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of existing service meshes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMeshesRequest",
        "variableName" : "listMeshesRequest",
        "variableType" : "ListMeshesRequest",
        "documentation" : "",
        "simpleType" : "ListMeshesRequest",
        "variableSetterType" : "ListMeshesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMeshes",
      "operationName" : "ListMeshes",
      "returnType" : {
        "returnType" : "ListMeshesResult",
        "documentation" : ""
      },
      "syncReturnType" : "ListMeshesResult"
    },
    "ListRoutes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRoutesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRoutesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRoutesRequest, ListRoutesResult>",
      "asyncReturnType" : "ListRoutesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of existing routes in a service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRoutesRequest",
        "variableName" : "listRoutesRequest",
        "variableType" : "ListRoutesRequest",
        "documentation" : "",
        "simpleType" : "ListRoutesRequest",
        "variableSetterType" : "ListRoutesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRoutes",
      "operationName" : "ListRoutes",
      "returnType" : {
        "returnType" : "ListRoutesResult",
        "documentation" : ""
      },
      "syncReturnType" : "ListRoutesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the tags for an App Mesh resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : ""
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListVirtualNodes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVirtualNodesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVirtualNodesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVirtualNodesRequest, ListVirtualNodesResult>",
      "asyncReturnType" : "ListVirtualNodesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of existing virtual nodes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVirtualNodesRequest",
        "variableName" : "listVirtualNodesRequest",
        "variableType" : "ListVirtualNodesRequest",
        "documentation" : "",
        "simpleType" : "ListVirtualNodesRequest",
        "variableSetterType" : "ListVirtualNodesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVirtualNodes",
      "operationName" : "ListVirtualNodes",
      "returnType" : {
        "returnType" : "ListVirtualNodesResult",
        "documentation" : ""
      },
      "syncReturnType" : "ListVirtualNodesResult"
    },
    "ListVirtualRouters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVirtualRoutersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVirtualRoutersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVirtualRoutersRequest, ListVirtualRoutersResult>",
      "asyncReturnType" : "ListVirtualRoutersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of existing virtual routers in a service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVirtualRoutersRequest",
        "variableName" : "listVirtualRoutersRequest",
        "variableType" : "ListVirtualRoutersRequest",
        "documentation" : "",
        "simpleType" : "ListVirtualRoutersRequest",
        "variableSetterType" : "ListVirtualRoutersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVirtualRouters",
      "operationName" : "ListVirtualRouters",
      "returnType" : {
        "returnType" : "ListVirtualRoutersResult",
        "documentation" : ""
      },
      "syncReturnType" : "ListVirtualRoutersResult"
    },
    "ListVirtualServices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVirtualServicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVirtualServicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVirtualServicesRequest, ListVirtualServicesResult>",
      "asyncReturnType" : "ListVirtualServicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of existing virtual services in a service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVirtualServicesRequest",
        "variableName" : "listVirtualServicesRequest",
        "variableType" : "ListVirtualServicesRequest",
        "documentation" : "",
        "simpleType" : "ListVirtualServicesRequest",
        "variableSetterType" : "ListVirtualServicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVirtualServices",
      "operationName" : "ListVirtualServices",
      "returnType" : {
        "returnType" : "ListVirtualServicesResult",
        "documentation" : ""
      },
      "syncReturnType" : "ListVirtualServicesResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified tags to a resource with the specified <code>resourceArn</code>.\n         If existing tags on a resource aren't specified in the request parameters, they aren't\n         changed. When a resource is deleted, the tags associated with that resource are also\n         deleted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request exceeds the maximum allowed number of tags allowed per resource. The current\n         limit is 50 user tags per resource. You must reduce the number of tags in the request. None\n         of the tags in this request were applied.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : ""
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes specified tags from a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : ""
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateMesh" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMeshResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMeshResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMeshRequest, UpdateMeshResult>",
      "asyncReturnType" : "UpdateMeshResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateMeshRequest",
        "variableName" : "updateMeshRequest",
        "variableType" : "UpdateMeshRequest",
        "documentation" : "",
        "simpleType" : "UpdateMeshRequest",
        "variableSetterType" : "UpdateMeshRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateMesh",
      "operationName" : "UpdateMesh",
      "returnType" : {
        "returnType" : "UpdateMeshResult",
        "documentation" : ""
      },
      "syncReturnType" : "UpdateMeshResult"
    },
    "UpdateRoute" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRouteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRouteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRouteRequest, UpdateRouteResult>",
      "asyncReturnType" : "UpdateRouteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing route for a specified service mesh and virtual router.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service\n            Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRouteRequest",
        "variableName" : "updateRouteRequest",
        "variableType" : "UpdateRouteRequest",
        "documentation" : "",
        "simpleType" : "UpdateRouteRequest",
        "variableSetterType" : "UpdateRouteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRoute",
      "operationName" : "UpdateRoute",
      "returnType" : {
        "returnType" : "UpdateRouteResult",
        "documentation" : ""
      },
      "syncReturnType" : "UpdateRouteResult"
    },
    "UpdateVirtualNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateVirtualNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateVirtualNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateVirtualNodeRequest, UpdateVirtualNodeResult>",
      "asyncReturnType" : "UpdateVirtualNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing virtual node in a specified service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service\n            Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateVirtualNodeRequest",
        "variableName" : "updateVirtualNodeRequest",
        "variableType" : "UpdateVirtualNodeRequest",
        "documentation" : "",
        "simpleType" : "UpdateVirtualNodeRequest",
        "variableSetterType" : "UpdateVirtualNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateVirtualNode",
      "operationName" : "UpdateVirtualNode",
      "returnType" : {
        "returnType" : "UpdateVirtualNodeResult",
        "documentation" : ""
      },
      "syncReturnType" : "UpdateVirtualNodeResult"
    },
    "UpdateVirtualRouter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateVirtualRouterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateVirtualRouterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateVirtualRouterRequest, UpdateVirtualRouterResult>",
      "asyncReturnType" : "UpdateVirtualRouterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing virtual router in a specified service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service\n            Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateVirtualRouterRequest",
        "variableName" : "updateVirtualRouterRequest",
        "variableType" : "UpdateVirtualRouterRequest",
        "documentation" : "",
        "simpleType" : "UpdateVirtualRouterRequest",
        "variableSetterType" : "UpdateVirtualRouterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateVirtualRouter",
      "operationName" : "UpdateVirtualRouter",
      "returnType" : {
        "returnType" : "UpdateVirtualRouterResult",
        "documentation" : ""
      },
      "syncReturnType" : "UpdateVirtualRouterResult"
    },
    "UpdateVirtualService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateVirtualServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateVirtualServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateVirtualServiceRequest, UpdateVirtualServiceResult>",
      "asyncReturnType" : "UpdateVirtualServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing virtual service in a specified service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You don't have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service\n            Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between\n         requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateVirtualServiceRequest",
        "variableName" : "updateVirtualServiceRequest",
        "variableType" : "UpdateVirtualServiceRequest",
        "documentation" : "",
        "simpleType" : "UpdateVirtualServiceRequest",
        "variableSetterType" : "UpdateVirtualServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateVirtualService",
      "operationName" : "UpdateVirtualService",
      "returnType" : {
        "returnType" : "UpdateVirtualServiceResult",
        "documentation" : ""
      },
      "syncReturnType" : "UpdateVirtualServiceResult"
    }
  },
  "shapes" : {
    "AccessLog" : {
      "c2jName" : "AccessLog",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object that represents the access logging information for a virtual node.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "file",
        "c2jShape" : "FileAccessLog",
        "deprecated" : false,
        "documentation" : "<p>The file object to send virtual node access logs to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The file object to send virtual node access logs to.</p>\n@param file The file object to send virtual node access logs to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFile",
        "getterDocumentation" : "/**<p>The file object to send virtual node access logs to.</p>\n@return The file object to send virtual node access logs to.*/",
        "getterMethodName" : "getFile",
        "getterModel" : {
          "returnType" : "FileAccessLog",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "file",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "file",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "File",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The file object to send virtual node access logs to.</p>\n@param file The file object to send virtual node access logs to.*/",
        "setterMethodName" : "setFile",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FileAccessLog",
          "variableName" : "file",
          "variableType" : "FileAccessLog",
          "documentation" : "",
          "simpleType" : "FileAccessLog",
          "variableSetterType" : "FileAccessLog"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The file object to send virtual node access logs to.</p>\n@param file The file object to send virtual node access logs to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FileAccessLog",
          "variableName" : "file",
          "variableType" : "FileAccessLog",
          "documentation" : "<p>The file object to send virtual node access logs to.</p>",
          "simpleType" : "FileAccessLog",
          "variableSetterType" : "FileAccessLog"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "File" : {
          "c2jName" : "file",
          "c2jShape" : "FileAccessLog",
          "deprecated" : false,
          "documentation" : "<p>The file object to send virtual node access logs to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The file object to send virtual node access logs to.</p>\n@param file The file object to send virtual node access logs to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFile",
          "getterDocumentation" : "/**<p>The file object to send virtual node access logs to.</p>\n@return The file object to send virtual node access logs to.*/",
          "getterMethodName" : "getFile",
          "getterModel" : {
            "returnType" : "FileAccessLog",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "file",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "file",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "File",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The file object to send virtual node access logs to.</p>\n@param file The file object to send virtual node access logs to.*/",
          "setterMethodName" : "setFile",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FileAccessLog",
            "variableName" : "file",
            "variableType" : "FileAccessLog",
            "documentation" : "",
            "simpleType" : "FileAccessLog",
            "variableSetterType" : "FileAccessLog"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The file object to send virtual node access logs to.</p>\n@param file The file object to send virtual node access logs to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FileAccessLog",
            "variableName" : "file",
            "variableType" : "FileAccessLog",
            "documentation" : "<p>The file object to send virtual node access logs to.</p>",
            "simpleType" : "FileAccessLog",
            "variableSetterType" : "FileAccessLog"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessLog",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessLog",
        "variableName" : "accessLog",
        "variableType" : "AccessLog",
        "documentation" : null,
        "simpleType" : "AccessLog",
        "variableSetterType" : "AccessLog"
      },
      "wrapper" : false
    },
    "AwsCloudMapInstanceAttribute" : {
      "c2jName" : "AwsCloudMapInstanceAttribute",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object that represents the AWS Cloud Map attribute information for your virtual\n         node.</p>",
      "enums" : null,
[...]
