{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-10-01",
    "asyncClient" : "AWSAppMeshAsyncClient",
    "asyncClientBuilderClassName" : "AWSAppMeshAsyncClientBuilder",
    "asyncInterface" : "AWSAppMeshAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSAppMeshModuleInjector",
    "defaultEndpoint" : "appmesh.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "appmesh.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS App Mesh is a service mesh based on the Envoy proxy that makes it easy to monitor and\n         control containerized microservices. App Mesh standardizes how your microservices\n         communicate, giving you end-to-end visibility and helping to ensure high-availability for\n         your applications.</p>\n         <p>App Mesh gives you consistent visibility and network traffic controls for every\n         microservice in an application. You can use App Mesh with Amazon ECS\n         (using the Amazon EC2 launch type), Amazon EKS, and Kubernetes on AWS.</p>\n         <note>\n            <p>App Mesh supports containerized microservice applications that use service discovery\n            naming for their components. To use App Mesh, you must have a containerized application\n            running on Amazon EC2 instances, hosted in either Amazon ECS, Amazon EKS, or Kubernetes on AWS. For\n            more information about service discovery on Amazon ECS, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html\">Service Discovery</a> in the\n               <i>Amazon Elastic Container Service Developer Guide</i>. Kubernetes <code>kube-dns</code> is supported.\n            For more information, see <a href=\"https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/\">DNS\n               for Services and Pods</a> in the Kubernetes documentation.</p>\n         </note>",
    "endpointPrefix" : "appmesh",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.appmesh",
    "packagePath" : "com/amazonaws/services/appmesh",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS App Mesh",
    "serviceId" : "App Mesh",
    "serviceName" : "AWS App Mesh",
    "signingName" : "appmesh",
    "smokeTestsPackageName" : "com.amazonaws.services.appmesh.smoketests",
    "syncClient" : "AWSAppMeshClient",
    "syncClientBuilderClassName" : "AWSAppMeshClientBuilder",
    "syncInterface" : "AWSAppMesh",
    "uid" : "appmesh-2018-10-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateMesh" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMeshResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMeshResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMeshRequest, CreateMeshResult>",
      "asyncReturnType" : "CreateMeshResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new service mesh. A service mesh is a logical boundary for network traffic\n         between the services that reside within it.</p>\n         <p>After you create your service mesh, you can create virtual nodes, virtual routers, and\n         routes to distribute traffic between the applications in your mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMeshRequest",
        "variableName" : "createMeshRequest",
        "variableType" : "CreateMeshRequest",
        "documentation" : "",
        "simpleType" : "CreateMeshRequest",
        "variableSetterType" : "CreateMeshRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMesh",
      "operationName" : "CreateMesh",
      "returnType" : {
        "returnType" : "CreateMeshResult",
        "documentation" : ""
      },
      "syncReturnType" : "CreateMeshResult"
    },
    "CreateRoute" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRouteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRouteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRouteRequest, CreateRouteResult>",
      "asyncReturnType" : "CreateRouteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new route that is associated with a virtual router.</p>\n         <p>You can use the <code>prefix</code> parameter in your route specification for path-based\n         routing of requests. For example, if your virtual router service name is\n            <code>my-service.local</code>, and you want the route to match requests to\n            <code>my-service.local/metrics</code>, then your prefix should be\n         <code>/metrics</code>.</p>\n         <p>If your route matches a request, you can distribute traffic to one or more target\n         virtual nodes with relative weighting.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRouteRequest",
        "variableName" : "createRouteRequest",
        "variableType" : "CreateRouteRequest",
        "documentation" : "",
        "simpleType" : "CreateRouteRequest",
        "variableSetterType" : "CreateRouteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRoute",
      "operationName" : "CreateRoute",
      "returnType" : {
        "returnType" : "CreateRouteResult",
        "documentation" : ""
      },
      "syncReturnType" : "CreateRouteResult"
    },
    "CreateVirtualNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVirtualNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVirtualNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVirtualNodeRequest, CreateVirtualNodeResult>",
      "asyncReturnType" : "CreateVirtualNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new virtual node within a service mesh.</p>\n         <p>A virtual node acts as logical pointer to a particular task group, such as an Amazon ECS\n         service or a Kubernetes deployment. When you create a virtual node, you must specify the\n         DNS service discovery name for your task group.</p>\n         <p>Any inbound traffic that your virtual node expects should be specified as a\n            <code>listener</code>. Any outbound traffic that your virtual node expects to reach\n         should be specified as a <code>backend</code>.</p>\n         <p>The response metadata for your new virtual node contains the <code>arn</code> that is\n         associated with the virtual node. Set this value (either the full ARN or the truncated\n         resource name, for example, <code>mesh/default/virtualNode/simpleapp</code>, as the\n            <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's Envoy\n         proxy container in your task definition or pod spec. This is then mapped to the\n            <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n         <note>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVirtualNodeRequest",
        "variableName" : "createVirtualNodeRequest",
        "variableType" : "CreateVirtualNodeRequest",
        "documentation" : "",
        "simpleType" : "CreateVirtualNodeRequest",
        "variableSetterType" : "CreateVirtualNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVirtualNode",
      "operationName" : "CreateVirtualNode",
      "returnType" : {
        "returnType" : "CreateVirtualNodeResult",
        "documentation" : ""
      },
      "syncReturnType" : "CreateVirtualNodeResult"
    },
    "CreateVirtualRouter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVirtualRouterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVirtualRouterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVirtualRouterRequest, CreateVirtualRouterResult>",
      "asyncReturnType" : "CreateVirtualRouterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new virtual router within a service mesh.</p>\n         <p>Virtual routers handle traffic for one or more service names within your mesh. After you\n         create your virtual router, create and associate routes for your virtual router that direct\n         incoming requests to different virtual nodes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVirtualRouterRequest",
        "variableName" : "createVirtualRouterRequest",
        "variableType" : "CreateVirtualRouterRequest",
        "documentation" : "",
        "simpleType" : "CreateVirtualRouterRequest",
        "variableSetterType" : "CreateVirtualRouterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVirtualRouter",
      "operationName" : "CreateVirtualRouter",
      "returnType" : {
        "returnType" : "CreateVirtualRouterResult",
        "documentation" : ""
      },
      "syncReturnType" : "CreateVirtualRouterResult"
    },
    "DeleteMesh" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMeshResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMeshResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMeshRequest, DeleteMeshResult>",
      "asyncReturnType" : "DeleteMeshResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing service mesh.</p>\n         <p>You must delete all resources (routes, virtual routers, virtual nodes) in the service\n         mesh before you can delete the mesh itself.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>You cannot delete the specified resource because it is in use or required by another resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMeshRequest",
        "variableName" : "deleteMeshRequest",
        "variableType" : "DeleteMeshRequest",
        "documentation" : "",
        "simpleType" : "DeleteMeshRequest",
        "variableSetterType" : "DeleteMeshRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMesh",
      "operationName" : "DeleteMesh",
      "returnType" : {
        "returnType" : "DeleteMeshResult",
        "documentation" : ""
      },
      "syncReturnType" : "DeleteMeshResult"
    },
    "DeleteRoute" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRouteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRouteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRouteRequest, DeleteRouteResult>",
      "asyncReturnType" : "DeleteRouteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing route.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>You cannot delete the specified resource because it is in use or required by another resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRouteRequest",
        "variableName" : "deleteRouteRequest",
        "variableType" : "DeleteRouteRequest",
        "documentation" : "",
        "simpleType" : "DeleteRouteRequest",
        "variableSetterType" : "DeleteRouteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRoute",
      "operationName" : "DeleteRoute",
      "returnType" : {
        "returnType" : "DeleteRouteResult",
        "documentation" : ""
      },
      "syncReturnType" : "DeleteRouteResult"
    },
    "DeleteVirtualNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVirtualNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVirtualNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVirtualNodeRequest, DeleteVirtualNodeResult>",
      "asyncReturnType" : "DeleteVirtualNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing virtual node.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>You cannot delete the specified resource because it is in use or required by another resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVirtualNodeRequest",
        "variableName" : "deleteVirtualNodeRequest",
        "variableType" : "DeleteVirtualNodeRequest",
        "documentation" : "",
        "simpleType" : "DeleteVirtualNodeRequest",
        "variableSetterType" : "DeleteVirtualNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVirtualNode",
      "operationName" : "DeleteVirtualNode",
      "returnType" : {
        "returnType" : "DeleteVirtualNodeResult",
        "documentation" : ""
      },
      "syncReturnType" : "DeleteVirtualNodeResult"
    },
    "DeleteVirtualRouter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVirtualRouterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVirtualRouterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVirtualRouterRequest, DeleteVirtualRouterResult>",
      "asyncReturnType" : "DeleteVirtualRouterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing virtual router.</p>\n         <p>You must delete any routes associated with the virtual router before you can delete the\n         router itself.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>You cannot delete the specified resource because it is in use or required by another resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVirtualRouterRequest",
        "variableName" : "deleteVirtualRouterRequest",
        "variableType" : "DeleteVirtualRouterRequest",
        "documentation" : "",
        "simpleType" : "DeleteVirtualRouterRequest",
        "variableSetterType" : "DeleteVirtualRouterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVirtualRouter",
      "operationName" : "DeleteVirtualRouter",
      "returnType" : {
        "returnType" : "DeleteVirtualRouterResult",
        "documentation" : ""
      },
      "syncReturnType" : "DeleteVirtualRouterResult"
    },
    "DescribeMesh" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMeshResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMeshResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMeshRequest, DescribeMeshResult>",
      "asyncReturnType" : "DescribeMeshResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an existing service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeMeshRequest",
        "variableName" : "describeMeshRequest",
        "variableType" : "DescribeMeshRequest",
        "documentation" : "",
        "simpleType" : "DescribeMeshRequest",
        "variableSetterType" : "DescribeMeshRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMesh",
      "operationName" : "DescribeMesh",
      "returnType" : {
        "returnType" : "DescribeMeshResult",
        "documentation" : ""
      },
      "syncReturnType" : "DescribeMeshResult"
    },
    "DescribeRoute" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRouteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRouteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRouteRequest, DescribeRouteResult>",
      "asyncReturnType" : "DescribeRouteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an existing route.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRouteRequest",
        "variableName" : "describeRouteRequest",
        "variableType" : "DescribeRouteRequest",
        "documentation" : "",
        "simpleType" : "DescribeRouteRequest",
        "variableSetterType" : "DescribeRouteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRoute",
      "operationName" : "DescribeRoute",
      "returnType" : {
        "returnType" : "DescribeRouteResult",
        "documentation" : ""
      },
      "syncReturnType" : "DescribeRouteResult"
    },
    "DescribeVirtualNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualNodeRequest, DescribeVirtualNodeResult>",
      "asyncReturnType" : "DescribeVirtualNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an existing virtual node.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeVirtualNodeRequest",
        "variableName" : "describeVirtualNodeRequest",
        "variableType" : "DescribeVirtualNodeRequest",
        "documentation" : "",
        "simpleType" : "DescribeVirtualNodeRequest",
        "variableSetterType" : "DescribeVirtualNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVirtualNode",
      "operationName" : "DescribeVirtualNode",
      "returnType" : {
        "returnType" : "DescribeVirtualNodeResult",
        "documentation" : ""
      },
      "syncReturnType" : "DescribeVirtualNodeResult"
    },
    "DescribeVirtualRouter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualRouterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualRouterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualRouterRequest, DescribeVirtualRouterResult>",
      "asyncReturnType" : "DescribeVirtualRouterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an existing virtual router.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeVirtualRouterRequest",
        "variableName" : "describeVirtualRouterRequest",
        "variableType" : "DescribeVirtualRouterRequest",
        "documentation" : "",
        "simpleType" : "DescribeVirtualRouterRequest",
        "variableSetterType" : "DescribeVirtualRouterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVirtualRouter",
      "operationName" : "DescribeVirtualRouter",
      "returnType" : {
        "returnType" : "DescribeVirtualRouterResult",
        "documentation" : ""
      },
      "syncReturnType" : "DescribeVirtualRouterResult"
    },
    "ListMeshes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMeshesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMeshesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMeshesRequest, ListMeshesResult>",
      "asyncReturnType" : "ListMeshesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of existing service meshes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMeshesRequest",
        "variableName" : "listMeshesRequest",
        "variableType" : "ListMeshesRequest",
        "documentation" : "",
        "simpleType" : "ListMeshesRequest",
        "variableSetterType" : "ListMeshesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMeshes",
      "operationName" : "ListMeshes",
      "returnType" : {
        "returnType" : "ListMeshesResult",
        "documentation" : ""
      },
      "syncReturnType" : "ListMeshesResult"
    },
    "ListRoutes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRoutesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRoutesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRoutesRequest, ListRoutesResult>",
      "asyncReturnType" : "ListRoutesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of existing routes in a service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRoutesRequest",
        "variableName" : "listRoutesRequest",
        "variableType" : "ListRoutesRequest",
        "documentation" : "",
        "simpleType" : "ListRoutesRequest",
        "variableSetterType" : "ListRoutesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRoutes",
      "operationName" : "ListRoutes",
      "returnType" : {
        "returnType" : "ListRoutesResult",
        "documentation" : ""
      },
      "syncReturnType" : "ListRoutesResult"
    },
    "ListVirtualNodes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVirtualNodesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVirtualNodesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVirtualNodesRequest, ListVirtualNodesResult>",
      "asyncReturnType" : "ListVirtualNodesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of existing virtual nodes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVirtualNodesRequest",
        "variableName" : "listVirtualNodesRequest",
        "variableType" : "ListVirtualNodesRequest",
        "documentation" : "",
        "simpleType" : "ListVirtualNodesRequest",
        "variableSetterType" : "ListVirtualNodesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVirtualNodes",
      "operationName" : "ListVirtualNodes",
      "returnType" : {
        "returnType" : "ListVirtualNodesResult",
        "documentation" : ""
      },
      "syncReturnType" : "ListVirtualNodesResult"
    },
    "ListVirtualRouters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVirtualRoutersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVirtualRoutersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVirtualRoutersRequest, ListVirtualRoutersResult>",
      "asyncReturnType" : "ListVirtualRoutersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of existing virtual routers in a service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVirtualRoutersRequest",
        "variableName" : "listVirtualRoutersRequest",
        "variableType" : "ListVirtualRoutersRequest",
        "documentation" : "",
        "simpleType" : "ListVirtualRoutersRequest",
        "variableSetterType" : "ListVirtualRoutersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVirtualRouters",
      "operationName" : "ListVirtualRouters",
      "returnType" : {
        "returnType" : "ListVirtualRoutersResult",
        "documentation" : ""
      },
      "syncReturnType" : "ListVirtualRoutersResult"
    },
    "UpdateRoute" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRouteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRouteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRouteRequest, UpdateRouteResult>",
      "asyncReturnType" : "UpdateRouteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing route for a specified service mesh and virtual router.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRouteRequest",
        "variableName" : "updateRouteRequest",
        "variableType" : "UpdateRouteRequest",
        "documentation" : "",
        "simpleType" : "UpdateRouteRequest",
        "variableSetterType" : "UpdateRouteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRoute",
      "operationName" : "UpdateRoute",
      "returnType" : {
        "returnType" : "UpdateRouteResult",
        "documentation" : ""
      },
      "syncReturnType" : "UpdateRouteResult"
    },
    "UpdateVirtualNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateVirtualNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateVirtualNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateVirtualNodeRequest, UpdateVirtualNodeResult>",
      "asyncReturnType" : "UpdateVirtualNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing virtual node in a specified service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateVirtualNodeRequest",
        "variableName" : "updateVirtualNodeRequest",
        "variableType" : "UpdateVirtualNodeRequest",
        "documentation" : "",
        "simpleType" : "UpdateVirtualNodeRequest",
        "variableSetterType" : "UpdateVirtualNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateVirtualNode",
      "operationName" : "UpdateVirtualNode",
      "returnType" : {
        "returnType" : "UpdateVirtualNodeResult",
        "documentation" : ""
      },
      "syncReturnType" : "UpdateVirtualNodeResult"
    },
    "UpdateVirtualRouter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateVirtualRouterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateVirtualRouterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateVirtualRouterRequest, UpdateVirtualRouterResult>",
      "asyncReturnType" : "UpdateVirtualRouterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing virtual router in a specified service mesh.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You do not have permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the service.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateVirtualRouterRequest",
        "variableName" : "updateVirtualRouterRequest",
        "variableType" : "UpdateVirtualRouterRequest",
        "documentation" : "",
        "simpleType" : "UpdateVirtualRouterRequest",
        "variableSetterType" : "UpdateVirtualRouterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateVirtualRouter",
      "operationName" : "UpdateVirtualRouter",
      "returnType" : {
        "returnType" : "UpdateVirtualRouterResult",
        "documentation" : ""
      },
      "syncReturnType" : "UpdateVirtualRouterResult"
    }
  },
  "shapes" : {
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
      "enums" : null,
      "errorCode" : "BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
      "enums" : null,
      "errorCode" : "ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateMeshRequest" : {
      "c2jName" : "CreateMeshInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateMesh",
        "locationName" : null,
        "requestUri" : "/meshes",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "clientToken",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>\n@return Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "meshName",
        "c2jShape" : "ResourceName",
        "deprecated" : false,
        "documentation" : "<p>The name to use for the service mesh.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name to use for the service mesh.</p>\n@param meshName The name to use for the service mesh.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMeshName",
        "getterDocumentation" : "/**<p>The name to use for the service mesh.</p>\n@return The name to use for the service mesh.*/",
        "getterMethodName" : "getMeshName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "meshName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "meshName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MeshName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name to use for the service mesh.</p>\n@param meshName The name to use for the service mesh.*/",
        "setterMethodName" : "setMeshName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "meshName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name to use for the service mesh.</p>\n@param meshName The name to use for the service mesh.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "meshName",
          "variableType" : "String",
          "documentation" : "<p>The name to use for the service mesh.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>\n@return Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MeshName" : {
          "c2jName" : "meshName",
          "c2jShape" : "ResourceName",
          "deprecated" : false,
          "documentation" : "<p>The name to use for the service mesh.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name to use for the service mesh.</p>\n@param meshName The name to use for the service mesh.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMeshName",
          "getterDocumentation" : "/**<p>The name to use for the service mesh.</p>\n@return The name to use for the service mesh.*/",
          "getterMethodName" : "getMeshName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "meshName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "meshName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MeshName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name to use for the service mesh.</p>\n@param meshName The name to use for the service mesh.*/",
          "setterMethodName" : "setMeshName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "meshName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name to use for the service mesh.</p>\n@param meshName The name to use for the service mesh.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "meshName",
            "variableType" : "String",
            "documentation" : "<p>The name to use for the service mesh.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "meshName" ],
      "shapeName" : "CreateMeshRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMeshRequest",
        "variableName" : "createMeshRequest",
        "variableType" : "CreateMeshRequest",
        "documentation" : null,
        "simpleType" : "CreateMeshRequest",
        "variableSetterType" : "CreateMeshRequest"
      },
      "wrapper" : false
    },
    "CreateMeshResult" : {
      "c2jName" : "CreateMeshOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : true,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "mesh",
        "c2jShape" : "MeshData",
        "deprecated" : false,
        "documentation" : "<p>The full description of your service mesh following the create call.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The full description of your service mesh following the create call.</p>\n@param mesh The full description of your service mesh following the create call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMesh",
        "getterDocumentation" : "/**<p>The full description of your service mesh following the create call.</p>\n@return The full description of your service mesh following the create call.*/",
        "getterMethodName" : "getMesh",
        "getterModel" : {
          "returnType" : "MeshData",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : true,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "mesh",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "mesh",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Mesh",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The full description of your service mesh following the create call.</p>\n@param mesh The full description of your service mesh following the create call.*/",
        "setterMethodName" : "setMesh",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "MeshData",
          "variableName" : "mesh",
          "variableType" : "MeshData",
          "documentation" : "",
          "simpleType" : "MeshData",
          "variableSetterType" : "MeshData"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The full description of your service mesh following the create call.</p>\n@param mesh The full description of your service mesh following the create call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "MeshData",
          "variableName" : "mesh",
          "variableType" : "MeshData",
          "documentation" : "<p>The full description of your service mesh following the create call.</p>",
          "simpleType" : "MeshData",
          "variableSetterType" : "MeshData"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Mesh" : {
          "c2jName" : "mesh",
          "c2jShape" : "MeshData",
          "deprecated" : false,
          "documentation" : "<p>The full description of your service mesh following the create call.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The full description of your service mesh following the create call.</p>\n@param mesh The full description of your service mesh following the create call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMesh",
          "getterDocumentation" : "/**<p>The full description of your service mesh following the create call.</p>\n@return The full description of your service mesh following the create call.*/",
          "getterMethodName" : "getMesh",
          "getterModel" : {
            "returnType" : "MeshData",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : true,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "mesh",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "mesh",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Mesh",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The full description of your service mesh following the create call.</p>\n@param mesh The full description of your service mesh following the create call.*/",
          "setterMethodName" : "setMesh",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "MeshData",
            "variableName" : "mesh",
            "variableType" : "MeshData",
            "documentation" : "",
            "simpleType" : "MeshData",
            "variableSetterType" : "MeshData"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The full description of your service mesh following the create call.</p>\n@param mesh The full description of your service mesh following the create call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "MeshData",
            "variableName" : "mesh",
            "variableType" : "MeshData",
            "documentation" : "<p>The full description of your service mesh following the create call.</p>",
            "simpleType" : "MeshData",
            "variableSetterType" : "MeshData"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateMeshResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMeshResult",
        "variableName" : "createMeshResult",
        "variableType" : "CreateMeshResult",
        "documentation" : null,
        "simpleType" : "CreateMeshResult",
        "variableSetterType" : "CreateMeshResult"
      },
      "wrapper" : false
    },
    "CreateRouteRequest" : {
      "c2jName" : "CreateRouteInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateRoute",
        "locationName" : null,
        "requestUri" : "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "clientToken",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>\n@return Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "meshName",
        "c2jShape" : "ResourceName",
        "deprecated" : false,
        "documentation" : "<p>The name of the service mesh in which to create the route.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the service mesh in which to create the route.</p>\n@param meshName The name of the service mesh in which to create the route.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMeshName",
        "getterDocumentation" : "/**<p>The name of the service mesh in which to create the route.</p>\n@return The name of the service mesh in which to create the route.*/",
        "getterMethodName" : "getMeshName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "meshName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "meshName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MeshName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the service mesh in which to create the route.</p>\n@param meshName The name of the service mesh in which to create the route.*/",
        "setterMethodName" : "setMeshName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "meshName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the service mesh in which to create the route.</p>\n@param meshName The name of the service mesh in which to create the route.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "meshName",
          "variableType" : "String",
          "documentation" : "<p>The name of the service mesh in which to create the route.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "routeName",
        "c2jShape" : "ResourceName",
        "deprecated" : false,
        "documentation" : "<p>The name to use for the route.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name to use for the route.</p>\n@param routeName The name to use for the route.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRouteName",
        "getterDocumentation" : "/**<p>The name to use for the route.</p>\n@return The name to use for the route.*/",
        "getterMethodName" : "getRouteName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "routeName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "routeName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RouteName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name to use for the route.</p>\n@param routeName The name to use for the route.*/",
        "setterMethodName" : "setRouteName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "routeName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name to use for the route.</p>\n@param routeName The name to use for the route.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
[...]
