{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-05-15",
    "asyncClient" : "AWSAppRunnerAsyncClient",
    "asyncClientBuilderClassName" : "AWSAppRunnerAsyncClientBuilder",
    "asyncInterface" : "AWSAppRunnerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSAppRunnerModuleInjector",
    "defaultEndpoint" : "apprunner.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "apprunner.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS App Runner</fullname> <p>AWS App Runner is an application service that provides a fast, simple, and cost-effective way to go directly from an existing container image or source code to a running service in the AWS cloud in seconds. You don't need to learn new technologies, decide which compute service to use, or understand how to provision and configure AWS resources.</p> <p>App Runner connects directly to your container registry or source code repository. It provides an automatic delivery pipeline with fully managed operations, high performance, scalability, and security.</p> <p>For more information about App Runner, see the <a href=\"https://docs.aws.amazon.com/apprunner/latest/dg/\">AWS App Runner Developer Guide</a>. For release information, see the <a href=\"https://docs.aws.amazon.com/apprunner/latest/relnotes/\">AWS App Runner Release Notes</a>.</p> <p> To install the Software Development Kits (SDKs), Integrated Development Environment (IDE) Toolkits, and command line tools that you can use to access the API, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> <p> <b>Endpoints</b> </p> <p>For a list of Region-specific endpoints that App Runner supports, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">AWS App Runner endpoints and quotas</a> in the <i>AWS General Reference</i>.</p>",
    "endpointPrefix" : "apprunner",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.apprunner",
    "packagePath" : "com/amazonaws/services/apprunner",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS App Runner",
    "serviceId" : "AppRunner",
    "serviceName" : "AWS App Runner",
    "signingName" : "apprunner",
    "smokeTestsPackageName" : "com.amazonaws.services.apprunner.smoketests",
    "syncClient" : "AWSAppRunnerClient",
    "syncClientBuilderClassName" : "AWSAppRunnerClientBuilder",
    "syncInterface" : "AWSAppRunner",
    "uid" : "apprunner-2020-05-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateCustomDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateCustomDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateCustomDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateCustomDomainRequest, AssociateCustomDomainResult>",
      "asyncReturnType" : "AssociateCustomDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associate your own domain name with the AWS App Runner subdomain URL of your App Runner service.</p> <p>After you call <code>AssociateCustomDomain</code> and receive a successful response, use the information in the <a>CustomDomain</a> record that's returned to add CNAME records to your Domain Name System (DNS). For each mapped domain name, add a mapping to the target App Runner subdomain and one or more certificate validation records. App Runner then performs DNS validation to verify that you own or control the domain name that you associated. App Runner tracks domain validity in a certificate stored in <a href=\"https://docs.aws.amazon.com/acm/latest/userguide\">AWS Certificate Manager (ACM)</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateCustomDomainRequest",
        "variableName" : "associateCustomDomainRequest",
        "variableType" : "AssociateCustomDomainRequest",
        "documentation" : "",
        "simpleType" : "AssociateCustomDomainRequest",
        "variableSetterType" : "AssociateCustomDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateCustomDomain",
      "operationName" : "AssociateCustomDomain",
      "returnType" : {
        "returnType" : "AssociateCustomDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateCustomDomainResult"
    },
    "CreateAutoScalingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAutoScalingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAutoScalingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAutoScalingConfigurationRequest, CreateAutoScalingConfigurationResult>",
      "asyncReturnType" : "CreateAutoScalingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an AWS App Runner automatic scaling configuration resource. App Runner requires this resource when you create App Runner services that require non-default auto scaling settings. You can share an auto scaling configuration across multiple services.</p> <p>Create multiple revisions of a configuration by using the same <code>AutoScalingConfigurationName</code> and different <code>AutoScalingConfigurationRevision</code> values. When you create a service, you can set it to use the latest active revision of an auto scaling configuration or a specific revision.</p> <p>Configure a higher <code>MinSize</code> to increase the spread of your App Runner service over more Availability Zones in the AWS Region. The tradeoff is a higher minimal cost.</p> <p>Configure a lower <code>MaxSize</code> to control your cost. The tradeoff is lower responsiveness during peak demand.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>App Runner can't create this resource. You've reached your account quota for this resource type.</p> <p>For App Runner per-resource quotas, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">AWS App Runner endpoints and quotas</a> in the <i>AWS General Reference</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAutoScalingConfigurationRequest",
        "variableName" : "createAutoScalingConfigurationRequest",
        "variableType" : "CreateAutoScalingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateAutoScalingConfigurationRequest",
        "variableSetterType" : "CreateAutoScalingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAutoScalingConfiguration",
      "operationName" : "CreateAutoScalingConfiguration",
      "returnType" : {
        "returnType" : "CreateAutoScalingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAutoScalingConfigurationResult"
    },
    "CreateConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConnectionRequest, CreateConnectionResult>",
      "asyncReturnType" : "CreateConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an AWS App Runner connection resource. App Runner requires a connection resource when you create App Runner services that access private repositories from certain third-party providers. You can share a connection across multiple services.</p> <p>A connection resource is needed to access GitHub repositories. GitHub requires a user interface approval process through the App Runner console before you can use the connection.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>App Runner can't create this resource. You've reached your account quota for this resource type.</p> <p>For App Runner per-resource quotas, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">AWS App Runner endpoints and quotas</a> in the <i>AWS General Reference</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConnectionRequest",
        "variableName" : "createConnectionRequest",
        "variableType" : "CreateConnectionRequest",
        "documentation" : "",
        "simpleType" : "CreateConnectionRequest",
        "variableSetterType" : "CreateConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConnection",
      "operationName" : "CreateConnection",
      "returnType" : {
        "returnType" : "CreateConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConnectionResult"
    },
    "CreateService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateServiceRequest, CreateServiceResult>",
      "asyncReturnType" : "CreateServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an AWS App Runner service. After the service is created, the action also automatically starts a deployment.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a href=\"https://docs.aws.amazon.com/apprunner/latest/api/API_ListOperations.html\">ListOperations</a> call to track the operation's progress.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>App Runner can't create this resource. You've reached your account quota for this resource type.</p> <p>For App Runner per-resource quotas, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">AWS App Runner endpoints and quotas</a> in the <i>AWS General Reference</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateServiceRequest",
        "variableName" : "createServiceRequest",
        "variableType" : "CreateServiceRequest",
        "documentation" : "",
        "simpleType" : "CreateServiceRequest",
        "variableSetterType" : "CreateServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createService",
      "operationName" : "CreateService",
      "returnType" : {
        "returnType" : "CreateServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateServiceResult"
    },
    "DeleteAutoScalingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAutoScalingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAutoScalingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAutoScalingConfigurationRequest, DeleteAutoScalingConfigurationResult>",
      "asyncReturnType" : "DeleteAutoScalingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an AWS App Runner automatic scaling configuration resource. You can delete a specific revision or the latest active revision. You can't delete a configuration that's used by one or more App Runner services.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAutoScalingConfigurationRequest",
        "variableName" : "deleteAutoScalingConfigurationRequest",
        "variableType" : "DeleteAutoScalingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteAutoScalingConfigurationRequest",
        "variableSetterType" : "DeleteAutoScalingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAutoScalingConfiguration",
      "operationName" : "DeleteAutoScalingConfiguration",
      "returnType" : {
        "returnType" : "DeleteAutoScalingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAutoScalingConfigurationResult"
    },
    "DeleteConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConnectionRequest, DeleteConnectionResult>",
      "asyncReturnType" : "DeleteConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an AWS App Runner connection. You must first ensure that there are no running App Runner services that use this connection. If there are any, the <code>DeleteConnection</code> action fails.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConnectionRequest",
        "variableName" : "deleteConnectionRequest",
        "variableType" : "DeleteConnectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteConnectionRequest",
        "variableSetterType" : "DeleteConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConnection",
      "operationName" : "DeleteConnection",
      "returnType" : {
        "returnType" : "DeleteConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConnectionResult"
    },
    "DeleteService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServiceRequest, DeleteServiceResult>",
      "asyncReturnType" : "DeleteServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an AWS App Runner service.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServiceRequest",
        "variableName" : "deleteServiceRequest",
        "variableType" : "DeleteServiceRequest",
        "documentation" : "",
        "simpleType" : "DeleteServiceRequest",
        "variableSetterType" : "DeleteServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteService",
      "operationName" : "DeleteService",
      "returnType" : {
        "returnType" : "DeleteServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServiceResult"
    },
    "DescribeAutoScalingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAutoScalingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAutoScalingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAutoScalingConfigurationRequest, DescribeAutoScalingConfigurationResult>",
      "asyncReturnType" : "DescribeAutoScalingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a full description of an AWS App Runner automatic scaling configuration resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAutoScalingConfigurationRequest",
        "variableName" : "describeAutoScalingConfigurationRequest",
        "variableType" : "DescribeAutoScalingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeAutoScalingConfigurationRequest",
        "variableSetterType" : "DescribeAutoScalingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAutoScalingConfiguration",
      "operationName" : "DescribeAutoScalingConfiguration",
      "returnType" : {
        "returnType" : "DescribeAutoScalingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAutoScalingConfigurationResult"
    },
    "DescribeCustomDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCustomDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCustomDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCustomDomainsRequest, DescribeCustomDomainsResult>",
      "asyncReturnType" : "DescribeCustomDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a description of custom domain names that are associated with an AWS App Runner service.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCustomDomainsRequest",
        "variableName" : "describeCustomDomainsRequest",
        "variableType" : "DescribeCustomDomainsRequest",
        "documentation" : "",
        "simpleType" : "DescribeCustomDomainsRequest",
        "variableSetterType" : "DescribeCustomDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCustomDomains",
      "operationName" : "DescribeCustomDomains",
      "returnType" : {
        "returnType" : "DescribeCustomDomainsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCustomDomainsResult"
    },
    "DescribeService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServiceRequest, DescribeServiceResult>",
      "asyncReturnType" : "DescribeServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a full description of an AWS App Runner service.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeServiceRequest",
        "variableName" : "describeServiceRequest",
        "variableType" : "DescribeServiceRequest",
        "documentation" : "",
        "simpleType" : "DescribeServiceRequest",
        "variableSetterType" : "DescribeServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeService",
      "operationName" : "DescribeService",
      "returnType" : {
        "returnType" : "DescribeServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeServiceResult"
    },
    "DisassociateCustomDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateCustomDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateCustomDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateCustomDomainRequest, DisassociateCustomDomainResult>",
      "asyncReturnType" : "DisassociateCustomDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociate a custom domain name from an AWS App Runner service.</p> <p>Certificates tracking domain validity are associated with a custom domain and are stored in <a href=\"https://docs.aws.amazon.com/acm/latest/userguide\">AWS Certificate Manager (ACM)</a>. These certificates aren't deleted as part of this action. App Runner delays certificate deletion for 30 days after a domain is disassociated from your service.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateCustomDomainRequest",
        "variableName" : "disassociateCustomDomainRequest",
        "variableType" : "DisassociateCustomDomainRequest",
        "documentation" : "",
        "simpleType" : "DisassociateCustomDomainRequest",
        "variableSetterType" : "DisassociateCustomDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateCustomDomain",
      "operationName" : "DisassociateCustomDomain",
      "returnType" : {
        "returnType" : "DisassociateCustomDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateCustomDomainResult"
    },
    "ListAutoScalingConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAutoScalingConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAutoScalingConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAutoScalingConfigurationsRequest, ListAutoScalingConfigurationsResult>",
      "asyncReturnType" : "ListAutoScalingConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of AWS App Runner automatic scaling configurations in your AWS account. You can query the revisions for a specific configuration name or the revisions for all configurations in your account. You can optionally query only the latest revision of each requested name.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAutoScalingConfigurationsRequest",
        "variableName" : "listAutoScalingConfigurationsRequest",
        "variableType" : "ListAutoScalingConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListAutoScalingConfigurationsRequest",
        "variableSetterType" : "ListAutoScalingConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAutoScalingConfigurations",
      "operationName" : "ListAutoScalingConfigurations",
      "returnType" : {
        "returnType" : "ListAutoScalingConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAutoScalingConfigurationsResult"
    },
    "ListConnections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConnectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConnectionsRequest, ListConnectionsResult>",
      "asyncReturnType" : "ListConnectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of AWS App Runner connections that are associated with your AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConnectionsRequest",
        "variableName" : "listConnectionsRequest",
        "variableType" : "ListConnectionsRequest",
        "documentation" : "",
        "simpleType" : "ListConnectionsRequest",
        "variableSetterType" : "ListConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConnections",
      "operationName" : "ListConnections",
      "returnType" : {
        "returnType" : "ListConnectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConnectionsResult"
    },
    "ListOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOperationsRequest, ListOperationsResult>",
      "asyncReturnType" : "ListOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a list of operations that occurred on an AWS App Runner service.</p> <p>The resulting list of <a>OperationSummary</a> objects is sorted in reverse chronological order. The first object on the list represents the last started operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOperationsRequest",
        "variableName" : "listOperationsRequest",
        "variableType" : "ListOperationsRequest",
        "documentation" : "",
        "simpleType" : "ListOperationsRequest",
        "variableSetterType" : "ListOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOperations",
      "operationName" : "ListOperations",
      "returnType" : {
        "returnType" : "ListOperationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOperationsResult"
    },
    "ListServices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServicesRequest, ListServicesResult>",
      "asyncReturnType" : "ListServicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of running AWS App Runner services in your AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListServicesRequest",
        "variableName" : "listServicesRequest",
        "variableType" : "ListServicesRequest",
        "documentation" : "",
        "simpleType" : "ListServicesRequest",
        "variableSetterType" : "ListServicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServices",
      "operationName" : "ListServices",
      "returnType" : {
        "returnType" : "ListServicesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServicesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List tags that are associated with for an AWS App Runner resource. The response contains a list of tag key-value pairs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PauseService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PauseServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PauseServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PauseServiceRequest, PauseServiceResult>",
      "asyncReturnType" : "PauseServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Pause an active AWS App Runner service. App Runner reduces compute capacity for the service to zero and loses state (for example, ephemeral storage is removed).</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PauseServiceRequest",
        "variableName" : "pauseServiceRequest",
        "variableType" : "PauseServiceRequest",
        "documentation" : "",
        "simpleType" : "PauseServiceRequest",
        "variableSetterType" : "PauseServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "pauseService",
      "operationName" : "PauseService",
      "returnType" : {
        "returnType" : "PauseServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "PauseServiceResult"
    },
    "ResumeService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResumeServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResumeServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResumeServiceRequest, ResumeServiceResult>",
      "asyncReturnType" : "ResumeServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resume an active AWS App Runner service. App Runner provisions compute capacity for the service.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResumeServiceRequest",
        "variableName" : "resumeServiceRequest",
        "variableType" : "ResumeServiceRequest",
        "documentation" : "",
        "simpleType" : "ResumeServiceRequest",
        "variableSetterType" : "ResumeServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resumeService",
      "operationName" : "ResumeService",
      "returnType" : {
        "returnType" : "ResumeServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "ResumeServiceResult"
    },
    "StartDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDeploymentRequest, StartDeploymentResult>",
      "asyncReturnType" : "StartDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiate a manual deployment of the latest commit in a source code repository or the latest image in a source image repository to an AWS App Runner service.</p> <p>For a source code repository, App Runner retrieves the commit and builds a Docker image. For a source image repository, App Runner retrieves the latest Docker image. In both cases, App Runner then deploys the new image to your service and starts a new container instance.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDeploymentRequest",
        "variableName" : "startDeploymentRequest",
        "variableType" : "StartDeploymentRequest",
        "documentation" : "",
        "simpleType" : "StartDeploymentRequest",
        "variableSetterType" : "StartDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDeployment",
      "operationName" : "StartDeployment",
      "returnType" : {
        "returnType" : "StartDeploymentResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDeploymentResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Add tags to, or update the tag values of, an App Runner resource. A tag is a key-value pair.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove tags from an App Runner resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServiceRequest, UpdateServiceResult>",
      "asyncReturnType" : "UpdateServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update an AWS App Runner service. You can update the source configuration and instance configuration of the service. You can also update the ARN of the auto scaling configuration resource that's associated with the service. However, you can't change the name or the encryption configuration of the service. These can be set only when you create the service.</p> <p>To update the tags applied to your service, use the separate actions <a>TagResource</a> and <a>UntagResource</a>.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateServiceRequest",
        "variableName" : "updateServiceRequest",
        "variableType" : "UpdateServiceRequest",
        "documentation" : "",
        "simpleType" : "UpdateServiceRequest",
        "variableSetterType" : "UpdateServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateService",
      "operationName" : "UpdateService",
      "returnType" : {
        "returnType" : "UpdateServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServiceResult"
    }
  },
  "shapes" : {
    "AssociateCustomDomainRequest" : {
      "c2jName" : "AssociateCustomDomainRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.apprunner.request.AssociateCustomDomainRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateCustomDomain",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AppRunner.AssociateCustomDomain",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ServiceArn",
        "c2jShape" : "AppRunnerResourceArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>\n@param serviceArn The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withServiceArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>\n@return The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.*/",
        "getterMethodName" : "getServiceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ServiceArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServiceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ServiceArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>\n@param serviceArn The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.*/",
        "setterMethodName" : "setServiceArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serviceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>\n@param serviceArn The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serviceArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DomainName",
        "c2jShape" : "DomainName",
        "deprecated" : false,
        "documentation" : "<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>\n@param domainName A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDomainName",
        "getterDocumentation" : "/**<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>\n@return A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).*/",
        "getterMethodName" : "getDomainName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DomainName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DomainName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>\n@param domainName A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).*/",
        "setterMethodName" : "setDomainName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>\n@param domainName A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EnableWWWSubdomain",
        "c2jShape" : "NullableBoolean",
        "deprecated" : false,
        "documentation" : "<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>\n@param enableWWWSubdomain Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnableWWWSubdomain",
        "getterDocumentation" : "/**<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>\n@return Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code>*/",
        "getterMethodName" : "getEnableWWWSubdomain",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EnableWWWSubdomain",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EnableWWWSubdomain",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "EnableWWWSubdomain",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>\n@param enableWWWSubdomain Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code>*/",
        "setterMethodName" : "setEnableWWWSubdomain",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enableWWWSubdomain",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>\n@param enableWWWSubdomain Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enableWWWSubdomain",
          "variableType" : "Boolean",
          "documentation" : "<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DomainName" : {
          "c2jName" : "DomainName",
          "c2jShape" : "DomainName",
          "deprecated" : false,
          "documentation" : "<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>\n@param domainName A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDomainName",
          "getterDocumentation" : "/**<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>\n@return A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).*/",
          "getterMethodName" : "getDomainName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DomainName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DomainName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DomainName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>\n@param domainName A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).*/",
          "setterMethodName" : "setDomainName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>\n@param domainName A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EnableWWWSubdomain" : {
          "c2jName" : "EnableWWWSubdomain",
          "c2jShape" : "NullableBoolean",
          "deprecated" : false,
          "documentation" : "<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>\n@param enableWWWSubdomain Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEnableWWWSubdomain",
          "getterDocumentation" : "/**<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>\n@return Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code>*/",
          "getterMethodName" : "getEnableWWWSubdomain",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EnableWWWSubdomain",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EnableWWWSubdomain",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "EnableWWWSubdomain",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>\n@param enableWWWSubdomain Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code>*/",
          "setterMethodName" : "setEnableWWWSubdomain",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "enableWWWSubdomain",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>\n@param enableWWWSubdomain Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "enableWWWSubdomain",
            "variableType" : "Boolean",
            "documentation" : "<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "ServiceArn" : {
          "c2jName" : "ServiceArn",
          "c2jShape" : "AppRunnerResourceArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>\n@param serviceArn The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withServiceArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>\n@return The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.*/",
          "getterMethodName" : "getServiceArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ServiceArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ServiceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ServiceArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>\n@param serviceArn The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.*/",
          "setterMethodName" : "setServiceArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "serviceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>\n@param serviceArn The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "serviceArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.apprunner.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ServiceArn", "DomainName" ],
      "shapeName" : "AssociateCustomDomainRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateCustomDomainRequest",
        "variableName" : "associateCustomDomainRequest",
        "variableType" : "AssociateCustomDomainRequest",
        "documentation" : null,
        "simpleType" : "AssociateCustomDomainRequest",
        "variableSetterType" : "AssociateCustomDomainRequest"
      },
      "wrapper" : false
    },
    "AssociateCustomDomainResult" : {
      "c2jName" : "AssociateCustomDomainResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.apprunner.response.AssociateCustomDomainResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DNSTarget",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The App Runner subdomain of the App Runner service. The custom domain name is mapped to this target name.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The App Runner subdomain of the App Runner service. The custom domain name is mapped to this target name.</p>\n@param dNSTarget The App Runner subdomain of the App Runner service. The custom domain name is mapped to this target name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDNSTarget",
        "getterDocumentation" : "/**<p>The App Runner subdomain of the App Runner service. The custom domain name is mapped to this target name.</p>\n@return The App Runner subdomain of the App Runner service. The custom domain name is mapped to this target name.*/",
        "getterMethodName" : "getDNSTarget",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DNSTarget",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DNSTarget",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DNSTarget",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The App Runner subdomain of the App Runner service. The custom domain name is mapped to this target name.</p>\n@param dNSTarget The App Runner subdomain of the App Runner service. The custom domain name is mapped to this target name.*/",
        "setterMethodName" : "setDNSTarget",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dNSTarget",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The App Runner subdomain of the App Runner service. The custom domain name is mapped to this target name.</p>\n@param dNSTarget The App Runner subdomain of the App Runner service. The custom domain name is mapped to this target name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dNSTarget",
          "variableType" : "String",
          "documentation" : "<p>The App Runner subdomain of the App Runner service. The custom domain name is mapped to this target name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ServiceArn",
        "c2jShape" : "AppRunnerResourceArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the App Runner service with which a custom domain name is associated.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service with which a custom domain name is associated.</p>\n@param serviceArn The Amazon Resource Name (ARN) of the App Runner service with which a custom domain name is associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withServiceArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service with which a custom domain name is associated.</p>\n@return The Amazon Resource Name (ARN) of the App Runner service with which a custom domain name is associated.*/",
        "getterMethodName" : "getServiceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ServiceArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServiceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ServiceArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service with which a custom domain name is associated.</p>\n@param serviceArn The Amazon Resource Name (ARN) of the App Runner service with which a custom domain name is associated.*/",
        "setterMethodName" : "setServiceArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serviceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service with which a custom domain name is associated.</p>\n@param serviceArn The Amazon Resource Name (ARN) of the App Runner service with which a custom domain name is associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serviceArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the App Runner service with which a custom domain name is associated.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CustomDomain",
        "c2jShape" : "CustomDomain",
        "deprecated" : false,
        "documentation" : "<p>A description of the domain name that's being associated.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description of the domain name that's being associated.</p>\n@param customDomain A description of the domain name that's being associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCustomDomain",
        "getterDocumentation" : "/**<p>A description of the domain name that's being associated.</p>\n@return A description of the domain name that's being associated.*/",
        "getterMethodName" : "getCustomDomain",
        "getterModel" : {
          "returnType" : "CustomDomain",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CustomDomain",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CustomDomain",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CustomDomain",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A description of the domain name that's being associated.</p>\n@param customDomain A description of the domain name that's being associated.*/",
        "setterMethodName" : "setCustomDomain",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CustomDomain",
          "variableName" : "customDomain",
          "variableType" : "CustomDomain",
          "documentation" : "",
          "simpleType" : "CustomDomain",
          "variableSetterType" : "CustomDomain"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description of the domain name that's being associated.</p>\n@param customDomain A description of the domain name that's being associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CustomDomain",
          "variableName" : "customDomain",
          "variableType" : "CustomDomain",
          "documentation" : "<p>A description of the domain name that's being associated.</p>",
          "simpleType" : "CustomDomain",
          "variableSetterType" : "CustomDomain"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CustomDomain" : {
          "c2jName" : "CustomDomain",
          "c2jShape" : "CustomDomain",
          "deprecated" : false,
          "documentation" : "<p>A description of the domain name that's being associated.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description of the domain name that's being associated.</p>\n@param customDomain A description of the domain name that's being associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCustomDomain",
          "getterDocumentation" : "/**<p>A description of the domain name that's being associated.</p>\n@return A description of the domain name that's being associated.*/",
          "getterMethodName" : "getCustomDomain",
          "getterModel" : {
            "returnType" : "CustomDomain",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
[...]
