{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-05-15",
    "asyncClient" : "AWSAppRunnerAsyncClient",
    "asyncClientBuilderClassName" : "AWSAppRunnerAsyncClientBuilder",
    "asyncInterface" : "AWSAppRunnerAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSAppRunnerModuleInjector",
    "defaultEndpoint" : "apprunner.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "apprunner.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>App Runner</fullname> <p>App Runner is an application service that provides a fast, simple, and cost-effective way to go directly from an existing container image or source code to a running service in the Amazon Web Services Cloud in seconds. You don't need to learn new technologies, decide which compute service to use, or understand how to provision and configure Amazon Web Services resources.</p> <p>App Runner connects directly to your container registry or source code repository. It provides an automatic delivery pipeline with fully managed operations, high performance, scalability, and security.</p> <p>For more information about App Runner, see the <a href=\"https://docs.aws.amazon.com/apprunner/latest/dg/\">App Runner Developer Guide</a>. For release information, see the <a href=\"https://docs.aws.amazon.com/apprunner/latest/relnotes/\">App Runner Release Notes</a>.</p> <p> To install the Software Development Kits (SDKs), Integrated Development Environment (IDE) Toolkits, and command line tools that you can use to access the API, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> <p> <b>Endpoints</b> </p> <p>For a list of Region-specific endpoints that App Runner supports, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">App Runner endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>.</p>",
    "endpointPrefix" : "apprunner",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.apprunner",
    "packagePath" : "com/amazonaws/services/apprunner",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS App Runner",
    "serviceId" : "AppRunner",
    "serviceName" : "AWS App Runner",
    "signingName" : "apprunner",
    "smokeTestsPackageName" : "com.amazonaws.services.apprunner.smoketests",
    "syncClient" : "AWSAppRunnerClient",
    "syncClientBuilderClassName" : "AWSAppRunnerClientBuilder",
    "syncInterface" : "AWSAppRunner",
    "uid" : "apprunner-2020-05-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateCustomDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateCustomDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateCustomDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateCustomDomainRequest, AssociateCustomDomainResult>",
      "asyncReturnType" : "AssociateCustomDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associate your own domain name with the App Runner subdomain URL of your App Runner service.</p> <p>After you call <code>AssociateCustomDomain</code> and receive a successful response, use the information in the <a>CustomDomain</a> record that's returned to add CNAME records to your Domain Name System (DNS). For each mapped domain name, add a mapping to the target App Runner subdomain and one or more certificate validation records. App Runner then performs DNS validation to verify that you own or control the domain name that you associated. App Runner tracks domain validity in a certificate stored in <a href=\"https://docs.aws.amazon.com/acm/latest/userguide\">AWS Certificate Manager (ACM)</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateCustomDomainRequest",
        "variableName" : "associateCustomDomainRequest",
        "variableType" : "AssociateCustomDomainRequest",
        "documentation" : "",
        "simpleType" : "AssociateCustomDomainRequest",
        "variableSetterType" : "AssociateCustomDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateCustomDomain",
      "operationName" : "AssociateCustomDomain",
      "returnType" : {
        "returnType" : "AssociateCustomDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateCustomDomainResult"
    },
    "CreateAutoScalingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAutoScalingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAutoScalingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAutoScalingConfigurationRequest, CreateAutoScalingConfigurationResult>",
      "asyncReturnType" : "CreateAutoScalingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an App Runner automatic scaling configuration resource. App Runner requires this resource when you create or update App Runner services and you require non-default auto scaling settings. You can share an auto scaling configuration across multiple services.</p> <p>Create multiple revisions of a configuration by calling this action multiple times using the same <code>AutoScalingConfigurationName</code>. The call returns incremental <code>AutoScalingConfigurationRevision</code> values. When you create a service and configure an auto scaling configuration resource, the service uses the latest active revision of the auto scaling configuration by default. You can optionally configure the service to use a specific revision.</p> <p>Configure a higher <code>MinSize</code> to increase the spread of your App Runner service over more Availability Zones in the Amazon Web Services Region. The tradeoff is a higher minimal cost.</p> <p>Configure a lower <code>MaxSize</code> to control your cost. The tradeoff is lower responsiveness during peak demand.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>App Runner can't create this resource. You've reached your account quota for this resource type.</p> <p>For App Runner per-resource quotas, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">App Runner endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAutoScalingConfigurationRequest",
        "variableName" : "createAutoScalingConfigurationRequest",
        "variableType" : "CreateAutoScalingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateAutoScalingConfigurationRequest",
        "variableSetterType" : "CreateAutoScalingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAutoScalingConfiguration",
      "operationName" : "CreateAutoScalingConfiguration",
      "returnType" : {
        "returnType" : "CreateAutoScalingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAutoScalingConfigurationResult"
    },
    "CreateConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConnectionRequest, CreateConnectionResult>",
      "asyncReturnType" : "CreateConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an App Runner connection resource. App Runner requires a connection resource when you create App Runner services that access private repositories from certain third-party providers. You can share a connection across multiple services.</p> <p>A connection resource is needed to access GitHub and Bitbucket repositories. Both require a user interface approval process through the App Runner console before you can use the connection.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>App Runner can't create this resource. You've reached your account quota for this resource type.</p> <p>For App Runner per-resource quotas, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">App Runner endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConnectionRequest",
        "variableName" : "createConnectionRequest",
        "variableType" : "CreateConnectionRequest",
        "documentation" : "",
        "simpleType" : "CreateConnectionRequest",
        "variableSetterType" : "CreateConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConnection",
      "operationName" : "CreateConnection",
      "returnType" : {
        "returnType" : "CreateConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConnectionResult"
    },
    "CreateObservabilityConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateObservabilityConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateObservabilityConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateObservabilityConfigurationRequest, CreateObservabilityConfigurationResult>",
      "asyncReturnType" : "CreateObservabilityConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an App Runner observability configuration resource. App Runner requires this resource when you create or update App Runner services and you want to enable non-default observability features. You can share an observability configuration across multiple services.</p> <p>Create multiple revisions of a configuration by calling this action multiple times using the same <code>ObservabilityConfigurationName</code>. The call returns incremental <code>ObservabilityConfigurationRevision</code> values. When you create a service and configure an observability configuration resource, the service uses the latest active revision of the observability configuration by default. You can optionally configure the service to use a specific revision.</p> <p>The observability configuration resource is designed to configure multiple features (currently one feature, tracing). This action takes optional parameters that describe the configuration of these features (currently one parameter, <code>TraceConfiguration</code>). If you don't specify a feature parameter, App Runner doesn't enable the feature.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>App Runner can't create this resource. You've reached your account quota for this resource type.</p> <p>For App Runner per-resource quotas, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">App Runner endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateObservabilityConfigurationRequest",
        "variableName" : "createObservabilityConfigurationRequest",
        "variableType" : "CreateObservabilityConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateObservabilityConfigurationRequest",
        "variableSetterType" : "CreateObservabilityConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createObservabilityConfiguration",
      "operationName" : "CreateObservabilityConfiguration",
      "returnType" : {
        "returnType" : "CreateObservabilityConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateObservabilityConfigurationResult"
    },
    "CreateService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateServiceRequest, CreateServiceResult>",
      "asyncReturnType" : "CreateServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an App Runner service. After the service is created, the action also automatically starts a deployment.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a href=\"https://docs.aws.amazon.com/apprunner/latest/api/API_ListOperations.html\">ListOperations</a> call to track the operation's progress.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>App Runner can't create this resource. You've reached your account quota for this resource type.</p> <p>For App Runner per-resource quotas, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">App Runner endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateServiceRequest",
        "variableName" : "createServiceRequest",
        "variableType" : "CreateServiceRequest",
        "documentation" : "",
        "simpleType" : "CreateServiceRequest",
        "variableSetterType" : "CreateServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createService",
      "operationName" : "CreateService",
      "returnType" : {
        "returnType" : "CreateServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateServiceResult"
    },
    "CreateVpcConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVpcConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVpcConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVpcConnectorRequest, CreateVpcConnectorResult>",
      "asyncReturnType" : "CreateVpcConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an App Runner VPC connector resource. App Runner requires this resource when you want to associate your App Runner service to a custom Amazon Virtual Private Cloud (Amazon VPC).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>App Runner can't create this resource. You've reached your account quota for this resource type.</p> <p>For App Runner per-resource quotas, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">App Runner endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVpcConnectorRequest",
        "variableName" : "createVpcConnectorRequest",
        "variableType" : "CreateVpcConnectorRequest",
        "documentation" : "",
        "simpleType" : "CreateVpcConnectorRequest",
        "variableSetterType" : "CreateVpcConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVpcConnector",
      "operationName" : "CreateVpcConnector",
      "returnType" : {
        "returnType" : "CreateVpcConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVpcConnectorResult"
    },
    "CreateVpcIngressConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVpcIngressConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVpcIngressConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVpcIngressConnectionRequest, CreateVpcIngressConnectionResult>",
      "asyncReturnType" : "CreateVpcIngressConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an App Runner VPC Ingress Connection resource. App Runner requires this resource when you want to associate your App Runner service with an Amazon VPC endpoint.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>App Runner can't create this resource. You've reached your account quota for this resource type.</p> <p>For App Runner per-resource quotas, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">App Runner endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVpcIngressConnectionRequest",
        "variableName" : "createVpcIngressConnectionRequest",
        "variableType" : "CreateVpcIngressConnectionRequest",
        "documentation" : "",
        "simpleType" : "CreateVpcIngressConnectionRequest",
        "variableSetterType" : "CreateVpcIngressConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVpcIngressConnection",
      "operationName" : "CreateVpcIngressConnection",
      "returnType" : {
        "returnType" : "CreateVpcIngressConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVpcIngressConnectionResult"
    },
    "DeleteAutoScalingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAutoScalingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAutoScalingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAutoScalingConfigurationRequest, DeleteAutoScalingConfigurationResult>",
      "asyncReturnType" : "DeleteAutoScalingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an App Runner automatic scaling configuration resource. You can delete a top level auto scaling configuration, a specific revision of one, or all revisions associated with the top level configuration. You can't delete the default auto scaling configuration or a configuration that's used by one or more App Runner services.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAutoScalingConfigurationRequest",
        "variableName" : "deleteAutoScalingConfigurationRequest",
        "variableType" : "DeleteAutoScalingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteAutoScalingConfigurationRequest",
        "variableSetterType" : "DeleteAutoScalingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAutoScalingConfiguration",
      "operationName" : "DeleteAutoScalingConfiguration",
      "returnType" : {
        "returnType" : "DeleteAutoScalingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAutoScalingConfigurationResult"
    },
    "DeleteConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConnectionRequest, DeleteConnectionResult>",
      "asyncReturnType" : "DeleteConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an App Runner connection. You must first ensure that there are no running App Runner services that use this connection. If there are any, the <code>DeleteConnection</code> action fails.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConnectionRequest",
        "variableName" : "deleteConnectionRequest",
        "variableType" : "DeleteConnectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteConnectionRequest",
        "variableSetterType" : "DeleteConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConnection",
      "operationName" : "DeleteConnection",
      "returnType" : {
        "returnType" : "DeleteConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConnectionResult"
    },
    "DeleteObservabilityConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteObservabilityConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteObservabilityConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteObservabilityConfigurationRequest, DeleteObservabilityConfigurationResult>",
      "asyncReturnType" : "DeleteObservabilityConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an App Runner observability configuration resource. You can delete a specific revision or the latest active revision. You can't delete a configuration that's used by one or more App Runner services.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteObservabilityConfigurationRequest",
        "variableName" : "deleteObservabilityConfigurationRequest",
        "variableType" : "DeleteObservabilityConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteObservabilityConfigurationRequest",
        "variableSetterType" : "DeleteObservabilityConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteObservabilityConfiguration",
      "operationName" : "DeleteObservabilityConfiguration",
      "returnType" : {
        "returnType" : "DeleteObservabilityConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteObservabilityConfigurationResult"
    },
    "DeleteService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServiceRequest, DeleteServiceResult>",
      "asyncReturnType" : "DeleteServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an App Runner service.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p> <note> <p>Make sure that you don't have any active VPCIngressConnections associated with the service you want to delete. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServiceRequest",
        "variableName" : "deleteServiceRequest",
        "variableType" : "DeleteServiceRequest",
        "documentation" : "",
        "simpleType" : "DeleteServiceRequest",
        "variableSetterType" : "DeleteServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteService",
      "operationName" : "DeleteService",
      "returnType" : {
        "returnType" : "DeleteServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServiceResult"
    },
    "DeleteVpcConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVpcConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVpcConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVpcConnectorRequest, DeleteVpcConnectorResult>",
      "asyncReturnType" : "DeleteVpcConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an App Runner VPC connector resource. You can't delete a connector that's used by one or more App Runner services.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVpcConnectorRequest",
        "variableName" : "deleteVpcConnectorRequest",
        "variableType" : "DeleteVpcConnectorRequest",
        "documentation" : "",
        "simpleType" : "DeleteVpcConnectorRequest",
        "variableSetterType" : "DeleteVpcConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVpcConnector",
      "operationName" : "DeleteVpcConnector",
      "returnType" : {
        "returnType" : "DeleteVpcConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVpcConnectorResult"
    },
    "DeleteVpcIngressConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVpcIngressConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVpcIngressConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVpcIngressConnectionRequest, DeleteVpcIngressConnectionResult>",
      "asyncReturnType" : "DeleteVpcIngressConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an App Runner VPC Ingress Connection resource that's associated with an App Runner service. The VPC Ingress Connection must be in one of the following states to be deleted: </p> <ul> <li> <p> <code>AVAILABLE</code> </p> </li> <li> <p> <code>FAILED_CREATION</code> </p> </li> <li> <p> <code>FAILED_UPDATE</code> </p> </li> <li> <p> <code>FAILED_DELETION</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVpcIngressConnectionRequest",
        "variableName" : "deleteVpcIngressConnectionRequest",
        "variableType" : "DeleteVpcIngressConnectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteVpcIngressConnectionRequest",
        "variableSetterType" : "DeleteVpcIngressConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVpcIngressConnection",
      "operationName" : "DeleteVpcIngressConnection",
      "returnType" : {
        "returnType" : "DeleteVpcIngressConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVpcIngressConnectionResult"
    },
    "DescribeAutoScalingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAutoScalingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAutoScalingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAutoScalingConfigurationRequest, DescribeAutoScalingConfigurationResult>",
      "asyncReturnType" : "DescribeAutoScalingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a full description of an App Runner automatic scaling configuration resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAutoScalingConfigurationRequest",
        "variableName" : "describeAutoScalingConfigurationRequest",
        "variableType" : "DescribeAutoScalingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeAutoScalingConfigurationRequest",
        "variableSetterType" : "DescribeAutoScalingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAutoScalingConfiguration",
      "operationName" : "DescribeAutoScalingConfiguration",
      "returnType" : {
        "returnType" : "DescribeAutoScalingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAutoScalingConfigurationResult"
    },
    "DescribeCustomDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCustomDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCustomDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCustomDomainsRequest, DescribeCustomDomainsResult>",
      "asyncReturnType" : "DescribeCustomDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a description of custom domain names that are associated with an App Runner service.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCustomDomainsRequest",
        "variableName" : "describeCustomDomainsRequest",
        "variableType" : "DescribeCustomDomainsRequest",
        "documentation" : "",
        "simpleType" : "DescribeCustomDomainsRequest",
        "variableSetterType" : "DescribeCustomDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCustomDomains",
      "operationName" : "DescribeCustomDomains",
      "returnType" : {
        "returnType" : "DescribeCustomDomainsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCustomDomainsResult"
    },
    "DescribeObservabilityConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeObservabilityConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeObservabilityConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeObservabilityConfigurationRequest, DescribeObservabilityConfigurationResult>",
      "asyncReturnType" : "DescribeObservabilityConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a full description of an App Runner observability configuration resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeObservabilityConfigurationRequest",
        "variableName" : "describeObservabilityConfigurationRequest",
        "variableType" : "DescribeObservabilityConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeObservabilityConfigurationRequest",
        "variableSetterType" : "DescribeObservabilityConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeObservabilityConfiguration",
      "operationName" : "DescribeObservabilityConfiguration",
      "returnType" : {
        "returnType" : "DescribeObservabilityConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeObservabilityConfigurationResult"
    },
    "DescribeService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServiceRequest, DescribeServiceResult>",
      "asyncReturnType" : "DescribeServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a full description of an App Runner service.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeServiceRequest",
        "variableName" : "describeServiceRequest",
        "variableType" : "DescribeServiceRequest",
        "documentation" : "",
        "simpleType" : "DescribeServiceRequest",
        "variableSetterType" : "DescribeServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeService",
      "operationName" : "DescribeService",
      "returnType" : {
        "returnType" : "DescribeServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeServiceResult"
    },
    "DescribeVpcConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVpcConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVpcConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVpcConnectorRequest, DescribeVpcConnectorResult>",
      "asyncReturnType" : "DescribeVpcConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a description of an App Runner VPC connector resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeVpcConnectorRequest",
        "variableName" : "describeVpcConnectorRequest",
        "variableType" : "DescribeVpcConnectorRequest",
        "documentation" : "",
        "simpleType" : "DescribeVpcConnectorRequest",
        "variableSetterType" : "DescribeVpcConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVpcConnector",
      "operationName" : "DescribeVpcConnector",
      "returnType" : {
        "returnType" : "DescribeVpcConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeVpcConnectorResult"
    },
    "DescribeVpcIngressConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVpcIngressConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVpcIngressConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVpcIngressConnectionRequest, DescribeVpcIngressConnectionResult>",
      "asyncReturnType" : "DescribeVpcIngressConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a full description of an App Runner VPC Ingress Connection resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeVpcIngressConnectionRequest",
        "variableName" : "describeVpcIngressConnectionRequest",
        "variableType" : "DescribeVpcIngressConnectionRequest",
        "documentation" : "",
        "simpleType" : "DescribeVpcIngressConnectionRequest",
        "variableSetterType" : "DescribeVpcIngressConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVpcIngressConnection",
      "operationName" : "DescribeVpcIngressConnection",
      "returnType" : {
        "returnType" : "DescribeVpcIngressConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeVpcIngressConnectionResult"
    },
    "DisassociateCustomDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateCustomDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateCustomDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateCustomDomainRequest, DisassociateCustomDomainResult>",
      "asyncReturnType" : "DisassociateCustomDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociate a custom domain name from an App Runner service.</p> <p>Certificates tracking domain validity are associated with a custom domain and are stored in <a href=\"https://docs.aws.amazon.com/acm/latest/userguide\">AWS Certificate Manager (ACM)</a>. These certificates aren't deleted as part of this action. App Runner delays certificate deletion for 30 days after a domain is disassociated from your service.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateCustomDomainRequest",
        "variableName" : "disassociateCustomDomainRequest",
        "variableType" : "DisassociateCustomDomainRequest",
        "documentation" : "",
        "simpleType" : "DisassociateCustomDomainRequest",
        "variableSetterType" : "DisassociateCustomDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateCustomDomain",
      "operationName" : "DisassociateCustomDomain",
      "returnType" : {
        "returnType" : "DisassociateCustomDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateCustomDomainResult"
    },
    "ListAutoScalingConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAutoScalingConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAutoScalingConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAutoScalingConfigurationsRequest, ListAutoScalingConfigurationsResult>",
      "asyncReturnType" : "ListAutoScalingConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of active App Runner automatic scaling configurations in your Amazon Web Services account. You can query the revisions for a specific configuration name or the revisions for all active configurations in your account. You can optionally query only the latest revision of each requested name.</p> <p>To retrieve a full description of a particular configuration revision, call and provide one of the ARNs returned by <code>ListAutoScalingConfigurations</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAutoScalingConfigurationsRequest",
        "variableName" : "listAutoScalingConfigurationsRequest",
        "variableType" : "ListAutoScalingConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListAutoScalingConfigurationsRequest",
        "variableSetterType" : "ListAutoScalingConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAutoScalingConfigurations",
      "operationName" : "ListAutoScalingConfigurations",
      "returnType" : {
        "returnType" : "ListAutoScalingConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAutoScalingConfigurationsResult"
    },
    "ListConnections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConnectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConnectionsRequest, ListConnectionsResult>",
      "asyncReturnType" : "ListConnectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of App Runner connections that are associated with your Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConnectionsRequest",
        "variableName" : "listConnectionsRequest",
        "variableType" : "ListConnectionsRequest",
        "documentation" : "",
        "simpleType" : "ListConnectionsRequest",
        "variableSetterType" : "ListConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConnections",
      "operationName" : "ListConnections",
      "returnType" : {
        "returnType" : "ListConnectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConnectionsResult"
    },
    "ListObservabilityConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListObservabilityConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListObservabilityConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListObservabilityConfigurationsRequest, ListObservabilityConfigurationsResult>",
      "asyncReturnType" : "ListObservabilityConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of active App Runner observability configurations in your Amazon Web Services account. You can query the revisions for a specific configuration name or the revisions for all active configurations in your account. You can optionally query only the latest revision of each requested name.</p> <p>To retrieve a full description of a particular configuration revision, call and provide one of the ARNs returned by <code>ListObservabilityConfigurations</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListObservabilityConfigurationsRequest",
        "variableName" : "listObservabilityConfigurationsRequest",
        "variableType" : "ListObservabilityConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListObservabilityConfigurationsRequest",
        "variableSetterType" : "ListObservabilityConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listObservabilityConfigurations",
      "operationName" : "ListObservabilityConfigurations",
      "returnType" : {
        "returnType" : "ListObservabilityConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListObservabilityConfigurationsResult"
    },
    "ListOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOperationsRequest, ListOperationsResult>",
      "asyncReturnType" : "ListOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a list of operations that occurred on an App Runner service.</p> <p>The resulting list of <a>OperationSummary</a> objects is sorted in reverse chronological order. The first object on the list represents the last started operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOperationsRequest",
        "variableName" : "listOperationsRequest",
        "variableType" : "ListOperationsRequest",
        "documentation" : "",
        "simpleType" : "ListOperationsRequest",
        "variableSetterType" : "ListOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOperations",
      "operationName" : "ListOperations",
      "returnType" : {
        "returnType" : "ListOperationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOperationsResult"
    },
    "ListServices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServicesRequest, ListServicesResult>",
      "asyncReturnType" : "ListServicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of running App Runner services in your Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListServicesRequest",
        "variableName" : "listServicesRequest",
        "variableType" : "ListServicesRequest",
        "documentation" : "",
        "simpleType" : "ListServicesRequest",
        "variableSetterType" : "ListServicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServices",
      "operationName" : "ListServices",
      "returnType" : {
        "returnType" : "ListServicesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServicesResult"
    },
    "ListServicesForAutoScalingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServicesForAutoScalingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServicesForAutoScalingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServicesForAutoScalingConfigurationRequest, ListServicesForAutoScalingConfigurationResult>",
      "asyncReturnType" : "ListServicesForAutoScalingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the associated App Runner services using an auto scaling configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListServicesForAutoScalingConfigurationRequest",
        "variableName" : "listServicesForAutoScalingConfigurationRequest",
        "variableType" : "ListServicesForAutoScalingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "ListServicesForAutoScalingConfigurationRequest",
        "variableSetterType" : "ListServicesForAutoScalingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServicesForAutoScalingConfiguration",
      "operationName" : "ListServicesForAutoScalingConfiguration",
      "returnType" : {
        "returnType" : "ListServicesForAutoScalingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServicesForAutoScalingConfigurationResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List tags that are associated with for an App Runner resource. The response contains a list of tag key-value pairs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListVpcConnectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVpcConnectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVpcConnectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVpcConnectorsRequest, ListVpcConnectorsResult>",
      "asyncReturnType" : "ListVpcConnectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of App Runner VPC connectors in your Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVpcConnectorsRequest",
        "variableName" : "listVpcConnectorsRequest",
        "variableType" : "ListVpcConnectorsRequest",
        "documentation" : "",
        "simpleType" : "ListVpcConnectorsRequest",
        "variableSetterType" : "ListVpcConnectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVpcConnectors",
      "operationName" : "ListVpcConnectors",
      "returnType" : {
        "returnType" : "ListVpcConnectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListVpcConnectorsResult"
    },
    "ListVpcIngressConnections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVpcIngressConnectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVpcIngressConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVpcIngressConnectionsRequest, ListVpcIngressConnectionsResult>",
      "asyncReturnType" : "ListVpcIngressConnectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a list of App Runner VPC Ingress Connections in your Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVpcIngressConnectionsRequest",
        "variableName" : "listVpcIngressConnectionsRequest",
        "variableType" : "ListVpcIngressConnectionsRequest",
        "documentation" : "",
        "simpleType" : "ListVpcIngressConnectionsRequest",
        "variableSetterType" : "ListVpcIngressConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVpcIngressConnections",
      "operationName" : "ListVpcIngressConnections",
      "returnType" : {
        "returnType" : "ListVpcIngressConnectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListVpcIngressConnectionsResult"
    },
    "PauseService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PauseServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PauseServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PauseServiceRequest, PauseServiceResult>",
      "asyncReturnType" : "PauseServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Pause an active App Runner service. App Runner reduces compute capacity for the service to zero and loses state (for example, ephemeral storage is removed).</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PauseServiceRequest",
        "variableName" : "pauseServiceRequest",
        "variableType" : "PauseServiceRequest",
        "documentation" : "",
        "simpleType" : "PauseServiceRequest",
        "variableSetterType" : "PauseServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "pauseService",
      "operationName" : "PauseService",
      "returnType" : {
        "returnType" : "PauseServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "PauseServiceResult"
    },
    "ResumeService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResumeServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResumeServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResumeServiceRequest, ResumeServiceResult>",
      "asyncReturnType" : "ResumeServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resume an active App Runner service. App Runner provisions compute capacity for the service.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResumeServiceRequest",
        "variableName" : "resumeServiceRequest",
        "variableType" : "ResumeServiceRequest",
        "documentation" : "",
        "simpleType" : "ResumeServiceRequest",
        "variableSetterType" : "ResumeServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resumeService",
      "operationName" : "ResumeService",
      "returnType" : {
        "returnType" : "ResumeServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "ResumeServiceResult"
    },
    "StartDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDeploymentRequest, StartDeploymentResult>",
      "asyncReturnType" : "StartDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiate a manual deployment of the latest commit in a source code repository or the latest image in a source image repository to an App Runner service.</p> <p>For a source code repository, App Runner retrieves the commit and builds a Docker image. For a source image repository, App Runner retrieves the latest Docker image. In both cases, App Runner then deploys the new image to your service and starts a new container instance.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDeploymentRequest",
        "variableName" : "startDeploymentRequest",
        "variableType" : "StartDeploymentRequest",
        "documentation" : "",
        "simpleType" : "StartDeploymentRequest",
        "variableSetterType" : "StartDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDeployment",
      "operationName" : "StartDeployment",
      "returnType" : {
        "returnType" : "StartDeploymentResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDeploymentResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Add tags to, or update the tag values of, an App Runner resource. A tag is a key-value pair.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove tags from an App Runner resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDefaultAutoScalingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDefaultAutoScalingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDefaultAutoScalingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDefaultAutoScalingConfigurationRequest, UpdateDefaultAutoScalingConfigurationResult>",
      "asyncReturnType" : "UpdateDefaultAutoScalingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update an auto scaling configuration to be the default. The existing default auto scaling configuration will be set to non-default automatically.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDefaultAutoScalingConfigurationRequest",
        "variableName" : "updateDefaultAutoScalingConfigurationRequest",
        "variableType" : "UpdateDefaultAutoScalingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateDefaultAutoScalingConfigurationRequest",
        "variableSetterType" : "UpdateDefaultAutoScalingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDefaultAutoScalingConfiguration",
      "operationName" : "UpdateDefaultAutoScalingConfiguration",
      "returnType" : {
        "returnType" : "UpdateDefaultAutoScalingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDefaultAutoScalingConfigurationResult"
    },
    "UpdateService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServiceRequest, UpdateServiceResult>",
      "asyncReturnType" : "UpdateServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update an App Runner service. You can update the source configuration and instance configuration of the service. You can also update the ARN of the auto scaling configuration resource that's associated with the service. However, you can't change the name or the encryption configuration of the service. These can be set only when you create the service.</p> <p>To update the tags applied to your service, use the separate actions <a>TagResource</a> and <a>UntagResource</a>.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateServiceRequest",
        "variableName" : "updateServiceRequest",
        "variableType" : "UpdateServiceRequest",
        "documentation" : "",
        "simpleType" : "UpdateServiceRequest",
        "variableSetterType" : "UpdateServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateService",
      "operationName" : "UpdateService",
      "returnType" : {
        "returnType" : "UpdateServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServiceResult"
    },
    "UpdateVpcIngressConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateVpcIngressConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateVpcIngressConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateVpcIngressConnectionRequest, UpdateVpcIngressConnectionResult>",
      "asyncReturnType" : "UpdateVpcIngressConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update an existing App Runner VPC Ingress Connection resource. The VPC Ingress Connection must be in one of the following states to be updated:</p> <ul> <li> <p> AVAILABLE </p> </li> <li> <p> FAILED_CREATION </p> </li> <li> <p> FAILED_UPDATE </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource doesn't exist for the specified Amazon Resource Name (ARN) in your Amazon Web Services account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>You can't perform this action when the resource is in its current state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An unexpected service exception occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateVpcIngressConnectionRequest",
        "variableName" : "updateVpcIngressConnectionRequest",
        "variableType" : "UpdateVpcIngressConnectionRequest",
        "documentation" : "",
        "simpleType" : "UpdateVpcIngressConnectionRequest",
        "variableSetterType" : "UpdateVpcIngressConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateVpcIngressConnection",
      "operationName" : "UpdateVpcIngressConnection",
      "returnType" : {
        "returnType" : "UpdateVpcIngressConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateVpcIngressConnectionResult"
    }
  },
  "shapes" : {
    "AssociateCustomDomainRequest" : {
      "c2jName" : "AssociateCustomDomainRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.apprunner.request.AssociateCustomDomainRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateCustomDomain",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AppRunner.AssociateCustomDomain",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ServiceArn",
        "c2jShape" : "AppRunnerResourceArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>\n@param serviceArn The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withServiceArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>\n@return The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.*/",
        "getterMethodName" : "getServiceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ServiceArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServiceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ServiceArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>\n@param serviceArn The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.*/",
        "setterMethodName" : "setServiceArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serviceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
[...]
