{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "DescribeSessionsRequest" : [ "AuthenticationType" ],
      "Fleet" : [ "State" ],
      "FleetError" : [ "ErrorCode" ],
      "Image" : [ "State", "Visibility", "Platform" ],
      "ImageStateChangeReason" : [ "Code" ],
      "Session" : [ "State", "AuthenticationType" ],
      "StackError" : [ "ErrorCode" ],
      "StorageConnector" : [ "ConnectorType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-12-01",
    "asyncClient" : "AmazonAppStreamAsyncClient",
    "asyncClientBuilderClassName" : "AmazonAppStreamAsyncClientBuilder",
    "asyncInterface" : "AmazonAppStreamAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonAppStreamModuleInjector",
    "defaultEndpoint" : "appstream2.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "appstream2.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon AppStream 2.0</fullname> <p>You can use Amazon AppStream 2.0 to stream desktop applications to any device running a web browser, without rewriting them.</p>",
    "endpointPrefix" : "appstream2",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.appstream",
    "packagePath" : "com/amazonaws/services/appstream",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon AppStream",
    "serviceName" : "Amazon AppStream",
    "signingName" : "appstream",
    "smokeTestsPackageName" : "com.amazonaws.services.appstream.smoketests",
    "syncClient" : "AmazonAppStreamClient",
    "syncClientBuilderClassName" : "AmazonAppStreamClientBuilder",
    "syncInterface" : "AmazonAppStream",
    "uid" : "appstream-2016-12-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateFleetRequest, AssociateFleetResult>",
      "asyncReturnType" : "AssociateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified fleet with the specified stack.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateFleetRequest",
        "variableName" : "associateFleetRequest",
        "variableType" : "AssociateFleetRequest",
        "documentation" : "",
        "simpleType" : "AssociateFleetRequest",
        "variableSetterType" : "AssociateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateFleet",
      "operationName" : "AssociateFleet",
      "returnType" : {
        "returnType" : "AssociateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateFleetResult"
    },
    "CreateDirectoryConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDirectoryConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDirectoryConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDirectoryConfigRequest, CreateDirectoryConfigResult>",
      "asyncReturnType" : "CreateDirectoryConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a directory configuration.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDirectoryConfigRequest",
        "variableName" : "createDirectoryConfigRequest",
        "variableType" : "CreateDirectoryConfigRequest",
        "documentation" : "",
        "simpleType" : "CreateDirectoryConfigRequest",
        "variableSetterType" : "CreateDirectoryConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDirectoryConfig",
      "operationName" : "CreateDirectoryConfig",
      "returnType" : {
        "returnType" : "CreateDirectoryConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDirectoryConfigResult"
    },
    "CreateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFleetRequest, CreateFleetResult>",
      "asyncReturnType" : "CreateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a fleet.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The specified role is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateFleetRequest",
        "variableName" : "createFleetRequest",
        "variableType" : "CreateFleetRequest",
        "documentation" : "",
        "simpleType" : "CreateFleetRequest",
        "variableSetterType" : "CreateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFleet",
      "operationName" : "CreateFleet",
      "returnType" : {
        "returnType" : "CreateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFleetResult"
    },
    "CreateImageBuilder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateImageBuilderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateImageBuilderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateImageBuilderRequest, CreateImageBuilderResult>",
      "asyncReturnType" : "CreateImageBuilderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an image builder.</p> <p>The initial state of the builder is <code>PENDING</code>. When it is ready, the state is <code>RUNNING</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The specified role is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateImageBuilderRequest",
        "variableName" : "createImageBuilderRequest",
        "variableType" : "CreateImageBuilderRequest",
        "documentation" : "",
        "simpleType" : "CreateImageBuilderRequest",
        "variableSetterType" : "CreateImageBuilderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createImageBuilder",
      "operationName" : "CreateImageBuilder",
      "returnType" : {
        "returnType" : "CreateImageBuilderResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateImageBuilderResult"
    },
    "CreateImageBuilderStreamingURL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateImageBuilderStreamingURLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateImageBuilderStreamingURLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateImageBuilderStreamingURLRequest, CreateImageBuilderStreamingURLResult>",
      "asyncReturnType" : "CreateImageBuilderStreamingURLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a URL to start an image builder streaming session.</p>",
      "exceptions" : [ {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateImageBuilderStreamingURLRequest",
        "variableName" : "createImageBuilderStreamingURLRequest",
        "variableType" : "CreateImageBuilderStreamingURLRequest",
        "documentation" : "",
        "simpleType" : "CreateImageBuilderStreamingURLRequest",
        "variableSetterType" : "CreateImageBuilderStreamingURLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createImageBuilderStreamingURL",
      "operationName" : "CreateImageBuilderStreamingURL",
      "returnType" : {
        "returnType" : "CreateImageBuilderStreamingURLResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateImageBuilderStreamingURLResult"
    },
    "CreateStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStackRequest, CreateStackResult>",
      "asyncReturnType" : "CreateStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a stack.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The specified role is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateStackRequest",
        "variableName" : "createStackRequest",
        "variableType" : "CreateStackRequest",
        "documentation" : "",
        "simpleType" : "CreateStackRequest",
        "variableSetterType" : "CreateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStack",
      "operationName" : "CreateStack",
      "returnType" : {
        "returnType" : "CreateStackResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStackResult"
    },
    "CreateStreamingURL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamingURLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamingURLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamingURLRequest, CreateStreamingURLResult>",
      "asyncReturnType" : "CreateStreamingURLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a URL to start a streaming session for the specified user.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateStreamingURLRequest",
        "variableName" : "createStreamingURLRequest",
        "variableType" : "CreateStreamingURLRequest",
        "documentation" : "",
        "simpleType" : "CreateStreamingURLRequest",
        "variableSetterType" : "CreateStreamingURLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStreamingURL",
      "operationName" : "CreateStreamingURL",
      "returnType" : {
        "returnType" : "CreateStreamingURLResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStreamingURLResult"
    },
    "DeleteDirectoryConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDirectoryConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDirectoryConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDirectoryConfigRequest, DeleteDirectoryConfigResult>",
      "asyncReturnType" : "DeleteDirectoryConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified directory configuration.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDirectoryConfigRequest",
        "variableName" : "deleteDirectoryConfigRequest",
        "variableType" : "DeleteDirectoryConfigRequest",
        "documentation" : "",
        "simpleType" : "DeleteDirectoryConfigRequest",
        "variableSetterType" : "DeleteDirectoryConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDirectoryConfig",
      "operationName" : "DeleteDirectoryConfig",
      "returnType" : {
        "returnType" : "DeleteDirectoryConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDirectoryConfigResult"
    },
    "DeleteFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFleetRequest, DeleteFleetResult>",
      "asyncReturnType" : "DeleteFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified fleet.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteFleetRequest",
        "variableName" : "deleteFleetRequest",
        "variableType" : "DeleteFleetRequest",
        "documentation" : "",
        "simpleType" : "DeleteFleetRequest",
        "variableSetterType" : "DeleteFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFleet",
      "operationName" : "DeleteFleet",
      "returnType" : {
        "returnType" : "DeleteFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFleetResult"
    },
    "DeleteImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteImageRequest, DeleteImageResult>",
      "asyncReturnType" : "DeleteImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified image. You cannot delete an image that is currently in use. After you delete an image, you cannot provision new capacity using the image.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteImageRequest",
        "variableName" : "deleteImageRequest",
        "variableType" : "DeleteImageRequest",
        "documentation" : "",
        "simpleType" : "DeleteImageRequest",
        "variableSetterType" : "DeleteImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteImage",
      "operationName" : "DeleteImage",
      "returnType" : {
        "returnType" : "DeleteImageResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteImageResult"
    },
    "DeleteImageBuilder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteImageBuilderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteImageBuilderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteImageBuilderRequest, DeleteImageBuilderResult>",
      "asyncReturnType" : "DeleteImageBuilderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified image builder and releases the capacity.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteImageBuilderRequest",
        "variableName" : "deleteImageBuilderRequest",
        "variableType" : "DeleteImageBuilderRequest",
        "documentation" : "",
        "simpleType" : "DeleteImageBuilderRequest",
        "variableSetterType" : "DeleteImageBuilderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteImageBuilder",
      "operationName" : "DeleteImageBuilder",
      "returnType" : {
        "returnType" : "DeleteImageBuilderResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteImageBuilderResult"
    },
    "DeleteStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStackRequest, DeleteStackResult>",
      "asyncReturnType" : "DeleteStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified stack. After this operation completes, the environment can no longer be activated and any reservations made for the stack are released.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteStackRequest",
        "variableName" : "deleteStackRequest",
        "variableType" : "DeleteStackRequest",
        "documentation" : "",
        "simpleType" : "DeleteStackRequest",
        "variableSetterType" : "DeleteStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStack",
      "operationName" : "DeleteStack",
      "returnType" : {
        "returnType" : "DeleteStackResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStackResult"
    },
    "DescribeDirectoryConfigs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDirectoryConfigsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDirectoryConfigsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDirectoryConfigsRequest, DescribeDirectoryConfigsResult>",
      "asyncReturnType" : "DescribeDirectoryConfigsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified directory configurations.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDirectoryConfigsRequest",
        "variableName" : "describeDirectoryConfigsRequest",
        "variableType" : "DescribeDirectoryConfigsRequest",
        "documentation" : "",
        "simpleType" : "DescribeDirectoryConfigsRequest",
        "variableSetterType" : "DescribeDirectoryConfigsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDirectoryConfigs",
      "operationName" : "DescribeDirectoryConfigs",
      "returnType" : {
        "returnType" : "DescribeDirectoryConfigsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDirectoryConfigsResult"
    },
    "DescribeFleets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFleetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFleetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFleetsRequest, DescribeFleetsResult>",
      "asyncReturnType" : "DescribeFleetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified fleets or all fleets in the account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeFleetsRequest",
        "variableName" : "describeFleetsRequest",
        "variableType" : "DescribeFleetsRequest",
        "documentation" : "",
        "simpleType" : "DescribeFleetsRequest",
        "variableSetterType" : "DescribeFleetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFleets",
      "operationName" : "DescribeFleets",
      "returnType" : {
        "returnType" : "DescribeFleetsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFleetsResult"
    },
    "DescribeImageBuilders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImageBuildersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImageBuildersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImageBuildersRequest, DescribeImageBuildersResult>",
      "asyncReturnType" : "DescribeImageBuildersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified image builders or all image builders in the account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeImageBuildersRequest",
        "variableName" : "describeImageBuildersRequest",
        "variableType" : "DescribeImageBuildersRequest",
        "documentation" : "",
        "simpleType" : "DescribeImageBuildersRequest",
        "variableSetterType" : "DescribeImageBuildersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImageBuilders",
      "operationName" : "DescribeImageBuilders",
      "returnType" : {
        "returnType" : "DescribeImageBuildersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImageBuildersResult"
    },
    "DescribeImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImagesRequest, DescribeImagesResult>",
      "asyncReturnType" : "DescribeImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified images or all images in the account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeImagesRequest",
        "variableName" : "describeImagesRequest",
        "variableType" : "DescribeImagesRequest",
        "documentation" : "",
        "simpleType" : "DescribeImagesRequest",
        "variableSetterType" : "DescribeImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImages",
      "operationName" : "DescribeImages",
      "returnType" : {
        "returnType" : "DescribeImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImagesResult"
    },
    "DescribeSessions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSessionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSessionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSessionsRequest, DescribeSessionsResult>",
      "asyncReturnType" : "DescribeSessionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the streaming sessions for the specified stack and fleet. If a user ID is provided, only the streaming sessions for only that user are returned. If an authentication type is not provided, the default is to authenticate users using a streaming URL.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSessionsRequest",
        "variableName" : "describeSessionsRequest",
        "variableType" : "DescribeSessionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeSessionsRequest",
        "variableSetterType" : "DescribeSessionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSessions",
      "operationName" : "DescribeSessions",
      "returnType" : {
        "returnType" : "DescribeSessionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSessionsResult"
    },
    "DescribeStacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStacksRequest, DescribeStacksResult>",
      "asyncReturnType" : "DescribeStacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified stacks or all stacks in the account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeStacksRequest",
        "variableName" : "describeStacksRequest",
        "variableType" : "DescribeStacksRequest",
        "documentation" : "",
        "simpleType" : "DescribeStacksRequest",
        "variableSetterType" : "DescribeStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStacks",
      "operationName" : "DescribeStacks",
      "returnType" : {
        "returnType" : "DescribeStacksResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeStacksResult"
    },
    "DisassociateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateFleetRequest, DisassociateFleetResult>",
      "asyncReturnType" : "DisassociateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified fleet from the specified stack.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateFleetRequest",
        "variableName" : "disassociateFleetRequest",
        "variableType" : "DisassociateFleetRequest",
        "documentation" : "",
        "simpleType" : "DisassociateFleetRequest",
        "variableSetterType" : "DisassociateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateFleet",
      "operationName" : "DisassociateFleet",
      "returnType" : {
        "returnType" : "DisassociateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateFleetResult"
    },
    "ExpireSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExpireSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExpireSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExpireSessionRequest, ExpireSessionResult>",
      "asyncReturnType" : "ExpireSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the specified streaming session.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ExpireSessionRequest",
        "variableName" : "expireSessionRequest",
        "variableType" : "ExpireSessionRequest",
        "documentation" : "",
        "simpleType" : "ExpireSessionRequest",
        "variableSetterType" : "ExpireSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "expireSession",
      "operationName" : "ExpireSession",
      "returnType" : {
        "returnType" : "ExpireSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "ExpireSessionResult"
    },
    "ListAssociatedFleets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociatedFleetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociatedFleetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociatedFleetsRequest, ListAssociatedFleetsResult>",
      "asyncReturnType" : "ListAssociatedFleetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the fleets associated with the specified stack.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAssociatedFleetsRequest",
        "variableName" : "listAssociatedFleetsRequest",
        "variableType" : "ListAssociatedFleetsRequest",
        "documentation" : "",
        "simpleType" : "ListAssociatedFleetsRequest",
        "variableSetterType" : "ListAssociatedFleetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociatedFleets",
      "operationName" : "ListAssociatedFleets",
      "returnType" : {
        "returnType" : "ListAssociatedFleetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssociatedFleetsResult"
    },
    "ListAssociatedStacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociatedStacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociatedStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociatedStacksRequest, ListAssociatedStacksResult>",
      "asyncReturnType" : "ListAssociatedStacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the stacks associated with the specified fleet.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAssociatedStacksRequest",
        "variableName" : "listAssociatedStacksRequest",
        "variableType" : "ListAssociatedStacksRequest",
        "documentation" : "",
        "simpleType" : "ListAssociatedStacksRequest",
        "variableSetterType" : "ListAssociatedStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociatedStacks",
      "operationName" : "ListAssociatedStacks",
      "returnType" : {
        "returnType" : "ListAssociatedStacksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssociatedStacksResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified AppStream 2.0 resource. You can tag AppStream 2.0 image builders, images, fleets, and stacks.</p> <p>For more information about tags, see <a href=\"http://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartFleetRequest, StartFleetResult>",
      "asyncReturnType" : "StartFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the specified fleet.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartFleetRequest",
        "variableName" : "startFleetRequest",
        "variableType" : "StartFleetRequest",
        "documentation" : "",
        "simpleType" : "StartFleetRequest",
        "variableSetterType" : "StartFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startFleet",
      "operationName" : "StartFleet",
      "returnType" : {
        "returnType" : "StartFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "StartFleetResult"
    },
    "StartImageBuilder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartImageBuilderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartImageBuilderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartImageBuilderRequest, StartImageBuilderResult>",
      "asyncReturnType" : "StartImageBuilderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the specified image builder.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartImageBuilderRequest",
        "variableName" : "startImageBuilderRequest",
        "variableType" : "StartImageBuilderRequest",
        "documentation" : "",
        "simpleType" : "StartImageBuilderRequest",
        "variableSetterType" : "StartImageBuilderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startImageBuilder",
      "operationName" : "StartImageBuilder",
      "returnType" : {
        "returnType" : "StartImageBuilderResult",
        "documentation" : null
      },
      "syncReturnType" : "StartImageBuilderResult"
    },
    "StopFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopFleetRequest, StopFleetResult>",
      "asyncReturnType" : "StopFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the specified fleet.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopFleetRequest",
        "variableName" : "stopFleetRequest",
        "variableType" : "StopFleetRequest",
        "documentation" : "",
        "simpleType" : "StopFleetRequest",
        "variableSetterType" : "StopFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopFleet",
      "operationName" : "StopFleet",
      "returnType" : {
        "returnType" : "StopFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "StopFleetResult"
    },
    "StopImageBuilder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopImageBuilderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopImageBuilderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopImageBuilderRequest, StopImageBuilderResult>",
      "asyncReturnType" : "StopImageBuilderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the specified image builder.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopImageBuilderRequest",
        "variableName" : "stopImageBuilderRequest",
        "variableType" : "StopImageBuilderRequest",
        "documentation" : "",
        "simpleType" : "StopImageBuilderRequest",
        "variableSetterType" : "StopImageBuilderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopImageBuilder",
      "operationName" : "StopImageBuilder",
      "returnType" : {
        "returnType" : "StopImageBuilderResult",
        "documentation" : null
      },
      "syncReturnType" : "StopImageBuilderResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or overwrites one or more tags for the specified AppStream 2.0 resource. You can tag AppStream 2.0 image builders, images, fleets, and stacks.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, this operation updates its value.</p> <p>To list the current tags for your resources, use <a>ListTagsForResource</a>. To disassociate tags from your resources, use <a>UntagResource</a>.</p> <p>For more information about tags, see <a href=\"http://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified tags from the specified AppStream 2.0 resource.</p> <p>To list the current tags for your resources, use <a>ListTagsForResource</a>.</p> <p>For more information about tags, see <a href=\"http://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDirectoryConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDirectoryConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDirectoryConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDirectoryConfigRequest, UpdateDirectoryConfigResult>",
      "asyncReturnType" : "UpdateDirectoryConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified directory configuration.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDirectoryConfigRequest",
        "variableName" : "updateDirectoryConfigRequest",
        "variableType" : "UpdateDirectoryConfigRequest",
        "documentation" : "",
        "simpleType" : "UpdateDirectoryConfigRequest",
        "variableSetterType" : "UpdateDirectoryConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDirectoryConfig",
      "operationName" : "UpdateDirectoryConfig",
      "returnType" : {
        "returnType" : "UpdateDirectoryConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDirectoryConfigResult"
    },
    "UpdateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFleetRequest, UpdateFleetResult>",
      "asyncReturnType" : "UpdateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified fleet.</p> <p>If the fleet is in the <code>STOPPED</code> state, you can update any attribute except the fleet name. If the fleet is in the <code>RUNNING</code> state, you can update the <code>DisplayName</code> and <code>ComputeCapacity</code> attributes. If the fleet is in the <code>STARTING</code> or <code>STOPPING</code> state, you can't update it.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The specified role is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateFleetRequest",
        "variableName" : "updateFleetRequest",
        "variableType" : "UpdateFleetRequest",
        "documentation" : "",
        "simpleType" : "UpdateFleetRequest",
        "variableSetterType" : "UpdateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFleet",
      "operationName" : "UpdateFleet",
      "returnType" : {
        "returnType" : "UpdateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFleetResult"
    },
    "UpdateStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStackRequest, UpdateStackResult>",
      "asyncReturnType" : "UpdateStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified stack.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The specified role is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateStackRequest",
        "variableName" : "updateStackRequest",
        "variableType" : "UpdateStackRequest",
        "documentation" : "",
        "simpleType" : "UpdateStackRequest",
        "variableSetterType" : "UpdateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateStack",
      "operationName" : "UpdateStack",
      "returnType" : {
        "returnType" : "UpdateStackResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateStackResult"
    }
  },
  "shapes" : {
    "Application" : {
      "c2jName" : "Application",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes an application in the application catalog.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the application.</p>\n@param name The name of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the application.</p>\n@return The name of the application.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the application.</p>\n@param name The name of the application.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the application.</p>\n@param name The name of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DisplayName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The application name for display.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The application name for display.</p>\n@param displayName The application name for display.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDisplayName",
        "getterDocumentation" : "/**<p>The application name for display.</p>\n@return The application name for display.*/",
        "getterMethodName" : "getDisplayName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DisplayName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DisplayName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DisplayName",
        "setterDocumentation" : "/**<p>The application name for display.</p>\n@param displayName The application name for display.*/",
        "setterMethodName" : "setDisplayName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "displayName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The application name for display.</p>\n@param displayName The application name for display.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "displayName",
          "variableType" : "String",
          "documentation" : "<p>The application name for display.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IconURL",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The URL for the application icon. This URL might be time-limited.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The URL for the application icon. This URL might be time-limited.</p>\n@param iconURL The URL for the application icon. This URL might be time-limited.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIconURL",
        "getterDocumentation" : "/**<p>The URL for the application icon. This URL might be time-limited.</p>\n@return The URL for the application icon. This URL might be time-limited.*/",
        "getterMethodName" : "getIconURL",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IconURL",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IconURL",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "IconURL",
        "setterDocumentation" : "/**<p>The URL for the application icon. This URL might be time-limited.</p>\n@param iconURL The URL for the application icon. This URL might be time-limited.*/",
        "setterMethodName" : "setIconURL",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "iconURL",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The URL for the application icon. This URL might be time-limited.</p>\n@param iconURL The URL for the application icon. This URL might be time-limited.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "iconURL",
          "variableType" : "String",
          "documentation" : "<p>The URL for the application icon. This URL might be time-limited.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LaunchPath",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The path to the application executable in the instance.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@param launchPath The path to the application executable in the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLaunchPath",
        "getterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@return The path to the application executable in the instance.*/",
        "getterMethodName" : "getLaunchPath",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LaunchPath",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LaunchPath",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LaunchPath",
        "setterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@param launchPath The path to the application executable in the instance.*/",
        "setterMethodName" : "setLaunchPath",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "launchPath",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@param launchPath The path to the application executable in the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "launchPath",
          "variableType" : "String",
          "documentation" : "<p>The path to the application executable in the instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LaunchParameters",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The arguments that are passed to the application at launch.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The arguments that are passed to the application at launch.</p>\n@param launchParameters The arguments that are passed to the application at launch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLaunchParameters",
        "getterDocumentation" : "/**<p>The arguments that are passed to the application at launch.</p>\n@return The arguments that are passed to the application at launch.*/",
        "getterMethodName" : "getLaunchParameters",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LaunchParameters",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LaunchParameters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LaunchParameters",
        "setterDocumentation" : "/**<p>The arguments that are passed to the application at launch.</p>\n@param launchParameters The arguments that are passed to the application at launch.*/",
        "setterMethodName" : "setLaunchParameters",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "launchParameters",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The arguments that are passed to the application at launch.</p>\n@param launchParameters The arguments that are passed to the application at launch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "launchParameters",
          "variableType" : "String",
          "documentation" : "<p>The arguments that are passed to the application at launch.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Enabled",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>If there is a problem, the application can be disabled after image creation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>If there is a problem, the application can be disabled after image creation.</p>\n@param enabled If there is a problem, the application can be disabled after image creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnabled",
        "getterDocumentation" : "/**<p>If there is a problem, the application can be disabled after image creation.</p>\n@return If there is a problem, the application can be disabled after image creation.*/",
        "getterMethodName" : "getEnabled",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Enabled",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Enabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "Enabled",
        "setterDocumentation" : "/**<p>If there is a problem, the application can be disabled after image creation.</p>\n@param enabled If there is a problem, the application can be disabled after image creation.*/",
        "setterMethodName" : "setEnabled",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>If there is a problem, the application can be disabled after image creation.</p>\n@param enabled If there is a problem, the application can be disabled after image creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "<p>If there is a problem, the application can be disabled after image creation.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Metadata",
        "c2jShape" : "Metadata",
        "deprecated" : false,
        "documentation" : "<p>Additional attributes that describe the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Additional attributes that describe the application.</p>\n@param metadata Additional attributes that describe the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMetadata",
        "getterDocumentation" : "/**<p>Additional attributes that describe the application.</p>\n@return Additional attributes that describe the application.*/",
        "getterMethodName" : "getMetadata",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Metadata",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Metadata",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Metadata",
        "setterDocumentation" : "/**<p>Additional attributes that describe the application.</p>\n@param metadata Additional attributes that describe the application.*/",
        "setterMethodName" : "setMetadata",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "metadata",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Additional attributes that describe the application.</p>\n@param metadata Additional attributes that describe the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "metadata",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>Additional attributes that describe the application.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DisplayName" : {
          "c2jName" : "DisplayName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The application name for display.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The application name for display.</p>\n@param displayName The application name for display.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDisplayName",
          "getterDocumentation" : "/**<p>The application name for display.</p>\n@return The application name for display.*/",
          "getterMethodName" : "getDisplayName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DisplayName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DisplayName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DisplayName",
          "setterDocumentation" : "/**<p>The application name for display.</p>\n@param displayName The application name for display.*/",
          "setterMethodName" : "setDisplayName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "displayName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The application name for display.</p>\n@param displayName The application name for display.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "displayName",
            "variableType" : "String",
            "documentation" : "<p>The application name for display.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Enabled" : {
          "c2jName" : "Enabled",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "<p>If there is a problem, the application can be disabled after image creation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>If there is a problem, the application can be disabled after image creation.</p>\n@param enabled If there is a problem, the application can be disabled after image creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEnabled",
          "getterDocumentation" : "/**<p>If there is a problem, the application can be disabled after image creation.</p>\n@return If there is a problem, the application can be disabled after image creation.*/",
          "getterMethodName" : "getEnabled",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Enabled",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Enabled",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "Enabled",
          "setterDocumentation" : "/**<p>If there is a problem, the application can be disabled after image creation.</p>\n@param enabled If there is a problem, the application can be disabled after image creation.*/",
          "setterMethodName" : "setEnabled",
          "setterModel" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>If there is a problem, the application can be disabled after image creation.</p>\n@param enabled If there is a problem, the application can be disabled after image creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "<p>If there is a problem, the application can be disabled after image creation.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "IconURL" : {
          "c2jName" : "IconURL",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The URL for the application icon. This URL might be time-limited.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The URL for the application icon. This URL might be time-limited.</p>\n@param iconURL The URL for the application icon. This URL might be time-limited.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIconURL",
          "getterDocumentation" : "/**<p>The URL for the application icon. This URL might be time-limited.</p>\n@return The URL for the application icon. This URL might be time-limited.*/",
          "getterMethodName" : "getIconURL",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "IconURL",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IconURL",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "IconURL",
          "setterDocumentation" : "/**<p>The URL for the application icon. This URL might be time-limited.</p>\n@param iconURL The URL for the application icon. This URL might be time-limited.*/",
          "setterMethodName" : "setIconURL",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "iconURL",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The URL for the application icon. This URL might be time-limited.</p>\n@param iconURL The URL for the application icon. This URL might be time-limited.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "iconURL",
            "variableType" : "String",
            "documentation" : "<p>The URL for the application icon. This URL might be time-limited.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LaunchParameters" : {
          "c2jName" : "LaunchParameters",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The arguments that are passed to the application at launch.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The arguments that are passed to the application at launch.</p>\n@param launchParameters The arguments that are passed to the application at launch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLaunchParameters",
          "getterDocumentation" : "/**<p>The arguments that are passed to the application at launch.</p>\n@return The arguments that are passed to the application at launch.*/",
          "getterMethodName" : "getLaunchParameters",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LaunchParameters",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LaunchParameters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LaunchParameters",
          "setterDocumentation" : "/**<p>The arguments that are passed to the application at launch.</p>\n@param launchParameters The arguments that are passed to the application at launch.*/",
          "setterMethodName" : "setLaunchParameters",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "launchParameters",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The arguments that are passed to the application at launch.</p>\n@param launchParameters The arguments that are passed to the application at launch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "launchParameters",
            "variableType" : "String",
            "documentation" : "<p>The arguments that are passed to the application at launch.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LaunchPath" : {
          "c2jName" : "LaunchPath",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The path to the application executable in the instance.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@param launchPath The path to the application executable in the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLaunchPath",
          "getterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@return The path to the application executable in the instance.*/",
          "getterMethodName" : "getLaunchPath",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LaunchPath",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LaunchPath",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LaunchPath",
[...]
