{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-07-25",
    "asyncClient" : "AWSAppSyncAsyncClient",
    "asyncClientBuilderClassName" : "AWSAppSyncAsyncClientBuilder",
    "asyncInterface" : "AWSAppSyncAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSAppSyncModuleInjector",
    "defaultEndpoint" : "appsync.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "appsync.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS AppSync provides API actions for creating and interacting with data sources using GraphQL from your application.</p>",
    "endpointPrefix" : "appsync",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.appsync",
    "packagePath" : "com/amazonaws/services/appsync",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWSAppSync",
    "serviceFullName" : "AWS AppSync",
    "serviceId" : "AppSync",
    "serviceName" : "AWSAppSync",
    "signingName" : "appsync",
    "smokeTestsPackageName" : "com.amazonaws.services.appsync.smoketests",
    "syncClient" : "AWSAppSyncClient",
    "syncClientBuilderClassName" : "AWSAppSyncClientBuilder",
    "syncInterface" : "AWSAppSync",
    "uid" : "appsync-2017-07-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateApiKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApiKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApiKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApiKeyRequest, CreateApiKeyResult>",
      "asyncReturnType" : "CreateApiKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a unique key that you can distribute to clients who are executing your API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ApiKeyLimitExceededException",
        "documentation" : "<p>The API key exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ApiKeyValidityOutOfBoundsException",
        "documentation" : "<p>The API key expiration must be set to a value between 1 and 365 days from creation (for <code>CreateApiKey</code>) or from update (for <code>UpdateApiKey</code>).</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateApiKeyRequest",
        "variableName" : "createApiKeyRequest",
        "variableType" : "CreateApiKeyRequest",
        "documentation" : "",
        "simpleType" : "CreateApiKeyRequest",
        "variableSetterType" : "CreateApiKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApiKey",
      "operationName" : "CreateApiKey",
      "returnType" : {
        "returnType" : "CreateApiKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateApiKeyResult"
    },
    "CreateDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataSourceRequest, CreateDataSourceResult>",
      "asyncReturnType" : "CreateDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>DataSource</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataSourceRequest",
        "variableName" : "createDataSourceRequest",
        "variableType" : "CreateDataSourceRequest",
        "documentation" : "",
        "simpleType" : "CreateDataSourceRequest",
        "variableSetterType" : "CreateDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataSource",
      "operationName" : "CreateDataSource",
      "returnType" : {
        "returnType" : "CreateDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDataSourceResult"
    },
    "CreateFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFunctionRequest, CreateFunctionResult>",
      "asyncReturnType" : "CreateFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>Function</code> object.</p> <p>A function is a reusable entity. Multiple functions can be used to compose the resolver logic.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFunctionRequest",
        "variableName" : "createFunctionRequest",
        "variableType" : "CreateFunctionRequest",
        "documentation" : "",
        "simpleType" : "CreateFunctionRequest",
        "variableSetterType" : "CreateFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFunction",
      "operationName" : "CreateFunction",
      "returnType" : {
        "returnType" : "CreateFunctionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFunctionResult"
    },
    "CreateGraphqlApi" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGraphqlApiResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGraphqlApiResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGraphqlApiRequest, CreateGraphqlApiResult>",
      "asyncReturnType" : "CreateGraphqlApiResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>GraphqlApi</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ApiLimitExceededException",
        "documentation" : "<p>The GraphQL API exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGraphqlApiRequest",
        "variableName" : "createGraphqlApiRequest",
        "variableType" : "CreateGraphqlApiRequest",
        "documentation" : "",
        "simpleType" : "CreateGraphqlApiRequest",
        "variableSetterType" : "CreateGraphqlApiRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGraphqlApi",
      "operationName" : "CreateGraphqlApi",
      "returnType" : {
        "returnType" : "CreateGraphqlApiResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGraphqlApiResult"
    },
    "CreateResolver" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResolverResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResolverResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResolverRequest, CreateResolverResult>",
      "asyncReturnType" : "CreateResolverResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>Resolver</code> object.</p> <p>A resolver converts incoming requests into a format that a data source can understand and converts the data source's responses into GraphQL.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResolverRequest",
        "variableName" : "createResolverRequest",
        "variableType" : "CreateResolverRequest",
        "documentation" : "",
        "simpleType" : "CreateResolverRequest",
        "variableSetterType" : "CreateResolverRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResolver",
      "operationName" : "CreateResolver",
      "returnType" : {
        "returnType" : "CreateResolverResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResolverResult"
    },
    "CreateType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTypeRequest, CreateTypeResult>",
      "asyncReturnType" : "CreateTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>Type</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTypeRequest",
        "variableName" : "createTypeRequest",
        "variableType" : "CreateTypeRequest",
        "documentation" : "",
        "simpleType" : "CreateTypeRequest",
        "variableSetterType" : "CreateTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createType",
      "operationName" : "CreateType",
      "returnType" : {
        "returnType" : "CreateTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTypeResult"
    },
    "DeleteApiKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApiKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApiKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApiKeyRequest, DeleteApiKeyResult>",
      "asyncReturnType" : "DeleteApiKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an API key.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApiKeyRequest",
        "variableName" : "deleteApiKeyRequest",
        "variableType" : "DeleteApiKeyRequest",
        "documentation" : "",
        "simpleType" : "DeleteApiKeyRequest",
        "variableSetterType" : "DeleteApiKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApiKey",
      "operationName" : "DeleteApiKey",
      "returnType" : {
        "returnType" : "DeleteApiKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApiKeyResult"
    },
    "DeleteDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDataSourceRequest, DeleteDataSourceResult>",
      "asyncReturnType" : "DeleteDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a <code>DataSource</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDataSourceRequest",
        "variableName" : "deleteDataSourceRequest",
        "variableType" : "DeleteDataSourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteDataSourceRequest",
        "variableSetterType" : "DeleteDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataSource",
      "operationName" : "DeleteDataSource",
      "returnType" : {
        "returnType" : "DeleteDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDataSourceResult"
    },
    "DeleteFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFunctionRequest, DeleteFunctionResult>",
      "asyncReturnType" : "DeleteFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a <code>Function</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFunctionRequest",
        "variableName" : "deleteFunctionRequest",
        "variableType" : "DeleteFunctionRequest",
        "documentation" : "",
        "simpleType" : "DeleteFunctionRequest",
        "variableSetterType" : "DeleteFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFunction",
      "operationName" : "DeleteFunction",
      "returnType" : {
        "returnType" : "DeleteFunctionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFunctionResult"
    },
    "DeleteGraphqlApi" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGraphqlApiResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGraphqlApiResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGraphqlApiRequest, DeleteGraphqlApiResult>",
      "asyncReturnType" : "DeleteGraphqlApiResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a <code>GraphqlApi</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGraphqlApiRequest",
        "variableName" : "deleteGraphqlApiRequest",
        "variableType" : "DeleteGraphqlApiRequest",
        "documentation" : "",
        "simpleType" : "DeleteGraphqlApiRequest",
        "variableSetterType" : "DeleteGraphqlApiRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGraphqlApi",
      "operationName" : "DeleteGraphqlApi",
      "returnType" : {
        "returnType" : "DeleteGraphqlApiResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGraphqlApiResult"
    },
    "DeleteResolver" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResolverResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResolverResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResolverRequest, DeleteResolverResult>",
      "asyncReturnType" : "DeleteResolverResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a <code>Resolver</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResolverRequest",
        "variableName" : "deleteResolverRequest",
        "variableType" : "DeleteResolverRequest",
        "documentation" : "",
        "simpleType" : "DeleteResolverRequest",
        "variableSetterType" : "DeleteResolverRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResolver",
      "operationName" : "DeleteResolver",
      "returnType" : {
        "returnType" : "DeleteResolverResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResolverResult"
    },
    "DeleteType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTypeRequest, DeleteTypeResult>",
      "asyncReturnType" : "DeleteTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a <code>Type</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTypeRequest",
        "variableName" : "deleteTypeRequest",
        "variableType" : "DeleteTypeRequest",
        "documentation" : "",
        "simpleType" : "DeleteTypeRequest",
        "variableSetterType" : "DeleteTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteType",
      "operationName" : "DeleteType",
      "returnType" : {
        "returnType" : "DeleteTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTypeResult"
    },
    "GetDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataSourceRequest, GetDataSourceResult>",
      "asyncReturnType" : "GetDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a <code>DataSource</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataSourceRequest",
        "variableName" : "getDataSourceRequest",
        "variableType" : "GetDataSourceRequest",
        "documentation" : "",
        "simpleType" : "GetDataSourceRequest",
        "variableSetterType" : "GetDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataSource",
      "operationName" : "GetDataSource",
      "returnType" : {
        "returnType" : "GetDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDataSourceResult"
    },
    "GetFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFunctionRequest, GetFunctionResult>",
      "asyncReturnType" : "GetFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a <code>Function</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFunctionRequest",
        "variableName" : "getFunctionRequest",
        "variableType" : "GetFunctionRequest",
        "documentation" : "",
        "simpleType" : "GetFunctionRequest",
        "variableSetterType" : "GetFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFunction",
      "operationName" : "GetFunction",
      "returnType" : {
        "returnType" : "GetFunctionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFunctionResult"
    },
    "GetGraphqlApi" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGraphqlApiResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGraphqlApiResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGraphqlApiRequest, GetGraphqlApiResult>",
      "asyncReturnType" : "GetGraphqlApiResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a <code>GraphqlApi</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGraphqlApiRequest",
        "variableName" : "getGraphqlApiRequest",
        "variableType" : "GetGraphqlApiRequest",
        "documentation" : "",
        "simpleType" : "GetGraphqlApiRequest",
        "variableSetterType" : "GetGraphqlApiRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGraphqlApi",
      "operationName" : "GetGraphqlApi",
      "returnType" : {
        "returnType" : "GetGraphqlApiResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGraphqlApiResult"
    },
    "GetIntrospectionSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIntrospectionSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIntrospectionSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIntrospectionSchemaRequest, GetIntrospectionSchemaResult>",
      "asyncReturnType" : "GetIntrospectionSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the introspection schema for a GraphQL API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "GraphQLSchemaException",
        "documentation" : "<p>The GraphQL schema is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIntrospectionSchemaRequest",
        "variableName" : "getIntrospectionSchemaRequest",
        "variableType" : "GetIntrospectionSchemaRequest",
        "documentation" : "",
        "simpleType" : "GetIntrospectionSchemaRequest",
        "variableSetterType" : "GetIntrospectionSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIntrospectionSchema",
      "operationName" : "GetIntrospectionSchema",
      "returnType" : {
        "returnType" : "GetIntrospectionSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIntrospectionSchemaResult"
    },
    "GetResolver" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResolverResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResolverResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResolverRequest, GetResolverResult>",
      "asyncReturnType" : "GetResolverResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a <code>Resolver</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResolverRequest",
        "variableName" : "getResolverRequest",
        "variableType" : "GetResolverRequest",
        "documentation" : "",
        "simpleType" : "GetResolverRequest",
        "variableSetterType" : "GetResolverRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResolver",
      "operationName" : "GetResolver",
      "returnType" : {
        "returnType" : "GetResolverResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResolverResult"
    },
    "GetSchemaCreationStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSchemaCreationStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSchemaCreationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSchemaCreationStatusRequest, GetSchemaCreationStatusResult>",
      "asyncReturnType" : "GetSchemaCreationStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the current status of a schema creation operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSchemaCreationStatusRequest",
        "variableName" : "getSchemaCreationStatusRequest",
        "variableType" : "GetSchemaCreationStatusRequest",
        "documentation" : "",
        "simpleType" : "GetSchemaCreationStatusRequest",
        "variableSetterType" : "GetSchemaCreationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSchemaCreationStatus",
      "operationName" : "GetSchemaCreationStatus",
      "returnType" : {
        "returnType" : "GetSchemaCreationStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSchemaCreationStatusResult"
    },
    "GetType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTypeRequest, GetTypeResult>",
      "asyncReturnType" : "GetTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a <code>Type</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTypeRequest",
        "variableName" : "getTypeRequest",
        "variableType" : "GetTypeRequest",
        "documentation" : "",
        "simpleType" : "GetTypeRequest",
        "variableSetterType" : "GetTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getType",
      "operationName" : "GetType",
      "returnType" : {
        "returnType" : "GetTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTypeResult"
    },
    "ListApiKeys" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApiKeysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApiKeysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApiKeysRequest, ListApiKeysResult>",
      "asyncReturnType" : "ListApiKeysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the API keys for a given API.</p> <note> <p>API keys are deleted automatically sometime after they expire. However, they may still be included in the response until they have actually been deleted. You can safely call <code>DeleteApiKey</code> to manually delete a key before it's automatically deleted.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApiKeysRequest",
        "variableName" : "listApiKeysRequest",
        "variableType" : "ListApiKeysRequest",
        "documentation" : "",
        "simpleType" : "ListApiKeysRequest",
        "variableSetterType" : "ListApiKeysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApiKeys",
      "operationName" : "ListApiKeys",
      "returnType" : {
        "returnType" : "ListApiKeysResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApiKeysResult"
    },
    "ListDataSources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataSourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataSourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataSourcesRequest, ListDataSourcesResult>",
      "asyncReturnType" : "ListDataSourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the data sources for a given API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataSourcesRequest",
        "variableName" : "listDataSourcesRequest",
        "variableType" : "ListDataSourcesRequest",
        "documentation" : "",
        "simpleType" : "ListDataSourcesRequest",
        "variableSetterType" : "ListDataSourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataSources",
      "operationName" : "ListDataSources",
      "returnType" : {
        "returnType" : "ListDataSourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataSourcesResult"
    },
    "ListFunctions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFunctionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFunctionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFunctionsRequest, ListFunctionsResult>",
      "asyncReturnType" : "ListFunctionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List multiple functions.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFunctionsRequest",
        "variableName" : "listFunctionsRequest",
        "variableType" : "ListFunctionsRequest",
        "documentation" : "",
        "simpleType" : "ListFunctionsRequest",
        "variableSetterType" : "ListFunctionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFunctions",
      "operationName" : "ListFunctions",
      "returnType" : {
        "returnType" : "ListFunctionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFunctionsResult"
    },
    "ListGraphqlApis" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGraphqlApisResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGraphqlApisResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGraphqlApisRequest, ListGraphqlApisResult>",
      "asyncReturnType" : "ListGraphqlApisResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists your GraphQL APIs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGraphqlApisRequest",
        "variableName" : "listGraphqlApisRequest",
        "variableType" : "ListGraphqlApisRequest",
        "documentation" : "",
        "simpleType" : "ListGraphqlApisRequest",
        "variableSetterType" : "ListGraphqlApisRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGraphqlApis",
      "operationName" : "ListGraphqlApis",
      "returnType" : {
        "returnType" : "ListGraphqlApisResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGraphqlApisResult"
    },
    "ListResolvers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResolversResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResolversResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResolversRequest, ListResolversResult>",
      "asyncReturnType" : "ListResolversResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resolvers for a given API and type.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResolversRequest",
        "variableName" : "listResolversRequest",
        "variableType" : "ListResolversRequest",
        "documentation" : "",
        "simpleType" : "ListResolversRequest",
        "variableSetterType" : "ListResolversRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResolvers",
      "operationName" : "ListResolvers",
      "returnType" : {
        "returnType" : "ListResolversResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResolversResult"
    },
    "ListResolversByFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResolversByFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResolversByFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResolversByFunctionRequest, ListResolversByFunctionResult>",
      "asyncReturnType" : "ListResolversByFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the resolvers that are associated with a specific function.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResolversByFunctionRequest",
        "variableName" : "listResolversByFunctionRequest",
        "variableType" : "ListResolversByFunctionRequest",
        "documentation" : "",
        "simpleType" : "ListResolversByFunctionRequest",
        "variableSetterType" : "ListResolversByFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResolversByFunction",
      "operationName" : "ListResolversByFunction",
      "returnType" : {
        "returnType" : "ListResolversByFunctionResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResolversByFunctionResult"
    },
    "ListTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTypesRequest, ListTypesResult>",
      "asyncReturnType" : "ListTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the types for a given API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTypesRequest",
        "variableName" : "listTypesRequest",
        "variableType" : "ListTypesRequest",
        "documentation" : "",
        "simpleType" : "ListTypesRequest",
        "variableSetterType" : "ListTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTypes",
      "operationName" : "ListTypes",
      "returnType" : {
        "returnType" : "ListTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTypesResult"
    },
    "StartSchemaCreation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartSchemaCreationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartSchemaCreationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartSchemaCreationRequest, StartSchemaCreationResult>",
      "asyncReturnType" : "StartSchemaCreationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a new schema to your GraphQL API.</p> <p>This operation is asynchronous. Use to determine when it has completed.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartSchemaCreationRequest",
        "variableName" : "startSchemaCreationRequest",
        "variableType" : "StartSchemaCreationRequest",
        "documentation" : "",
        "simpleType" : "StartSchemaCreationRequest",
        "variableSetterType" : "StartSchemaCreationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startSchemaCreation",
      "operationName" : "StartSchemaCreation",
      "returnType" : {
        "returnType" : "StartSchemaCreationResult",
        "documentation" : null
      },
      "syncReturnType" : "StartSchemaCreationResult"
    },
    "UpdateApiKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApiKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApiKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApiKeyRequest, UpdateApiKeyResult>",
      "asyncReturnType" : "UpdateApiKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an API key.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ApiKeyValidityOutOfBoundsException",
        "documentation" : "<p>The API key expiration must be set to a value between 1 and 365 days from creation (for <code>CreateApiKey</code>) or from update (for <code>UpdateApiKey</code>).</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateApiKeyRequest",
        "variableName" : "updateApiKeyRequest",
        "variableType" : "UpdateApiKeyRequest",
        "documentation" : "",
        "simpleType" : "UpdateApiKeyRequest",
        "variableSetterType" : "UpdateApiKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApiKey",
      "operationName" : "UpdateApiKey",
      "returnType" : {
        "returnType" : "UpdateApiKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApiKeyResult"
    },
    "UpdateDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDataSourceRequest, UpdateDataSourceResult>",
      "asyncReturnType" : "UpdateDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a <code>DataSource</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDataSourceRequest",
        "variableName" : "updateDataSourceRequest",
        "variableType" : "UpdateDataSourceRequest",
        "documentation" : "",
        "simpleType" : "UpdateDataSourceRequest",
        "variableSetterType" : "UpdateDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDataSource",
      "operationName" : "UpdateDataSource",
      "returnType" : {
        "returnType" : "UpdateDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDataSourceResult"
    },
    "UpdateFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFunctionRequest, UpdateFunctionResult>",
      "asyncReturnType" : "UpdateFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a <code>Function</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFunctionRequest",
        "variableName" : "updateFunctionRequest",
        "variableType" : "UpdateFunctionRequest",
        "documentation" : "",
        "simpleType" : "UpdateFunctionRequest",
        "variableSetterType" : "UpdateFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFunction",
      "operationName" : "UpdateFunction",
      "returnType" : {
        "returnType" : "UpdateFunctionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFunctionResult"
    },
    "UpdateGraphqlApi" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGraphqlApiResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGraphqlApiResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGraphqlApiRequest, UpdateGraphqlApiResult>",
      "asyncReturnType" : "UpdateGraphqlApiResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a <code>GraphqlApi</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateGraphqlApiRequest",
        "variableName" : "updateGraphqlApiRequest",
        "variableType" : "UpdateGraphqlApiRequest",
        "documentation" : "",
        "simpleType" : "UpdateGraphqlApiRequest",
        "variableSetterType" : "UpdateGraphqlApiRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGraphqlApi",
      "operationName" : "UpdateGraphqlApi",
      "returnType" : {
        "returnType" : "UpdateGraphqlApiResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGraphqlApiResult"
    },
    "UpdateResolver" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResolverResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResolverResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResolverRequest, UpdateResolverResult>",
      "asyncReturnType" : "UpdateResolverResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a <code>Resolver</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResolverRequest",
        "variableName" : "updateResolverRequest",
        "variableType" : "UpdateResolverRequest",
        "documentation" : "",
        "simpleType" : "UpdateResolverRequest",
        "variableSetterType" : "UpdateResolverRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResolver",
      "operationName" : "UpdateResolver",
      "returnType" : {
        "returnType" : "UpdateResolverResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResolverResult"
    },
    "UpdateType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTypeRequest, UpdateTypeResult>",
      "asyncReturnType" : "UpdateTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a <code>Type</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTypeRequest",
        "variableName" : "updateTypeRequest",
        "variableType" : "UpdateTypeRequest",
        "documentation" : "",
        "simpleType" : "UpdateTypeRequest",
        "variableSetterType" : "UpdateTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateType",
      "operationName" : "UpdateType",
      "returnType" : {
        "returnType" : "UpdateTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTypeResult"
    }
  },
  "shapes" : {
    "ApiKey" : {
      "c2jName" : "ApiKey",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes an API key.</p> <p>Customers invoke AWS AppSync GraphQL API operations with API keys as an identity mechanism. There are two key versions:</p> <p> <b>da1</b>: This version was introduced at launch in November 2017. These keys always expire after 7 days. Key expiration is managed by Amazon DynamoDB TTL. The keys ceased to be valid after February 21, 2018 and should not be used after that date.</p> <ul> <li> <p> <code>ListApiKeys</code> returns the expiration time in milliseconds.</p> </li> <li> <p> <code>CreateApiKey</code> returns the expiration time in milliseconds.</p> </li> <li> <p> <code>UpdateApiKey</code> is not available for this key version.</p> </li> <li> <p> <code>DeleteApiKey</code> deletes the item from the table.</p> </li> <li> <p>Expiration is stored in Amazon DynamoDB as milliseconds. This results in a bug where keys are not automatically deleted because DynamoDB expects the TTL to be stored in seconds. As a one-time action, we will delete these keys from the table after February 21, 2018.</p> </li> </ul> <p> <b>da2</b>: This version was introduced in February 2018 when AppSync added support to extend key expiration.</p> <ul> <li> <p> <code>ListApiKeys</code> returns the expiration time in seconds.</p> </li> <li> <p> <code>CreateApiKey</code> returns the expiration time in seconds and accepts a user-provided expiration time in seconds.</p> </li> <li> <p> <code>UpdateApiKey</code> returns the expiration time in seconds and accepts a user-provided expiration time in seconds. Key expiration can only be updated while the key has not expired.</p> </li> <li> <p> <code>DeleteApiKey</code> deletes the item from the table.</p> </li> <li> <p>Expiration is stored in Amazon DynamoDB as seconds.</p> </li> </ul>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "id",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The API key ID.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The API key ID.</p>\n@param id The API key ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The API key ID.</p>\n@return The API key ID.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The API key ID.</p>\n@param id The API key ID.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The API key ID.</p>\n@param id The API key ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The API key ID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A description of the purpose of the API key.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description of the purpose of the API key.</p>\n@param description A description of the purpose of the API key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>A description of the purpose of the API key.</p>\n@return A description of the purpose of the API key.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A description of the purpose of the API key.</p>\n@param description A description of the purpose of the API key.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description of the purpose of the API key.</p>\n@param description A description of the purpose of the API key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>A description of the purpose of the API key.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "expires",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>\n@param expires The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExpires",
        "getterDocumentation" : "/**<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>\n@return The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.*/",
        "getterMethodName" : "getExpires",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "expires",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "expires",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "Expires",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>\n@param expires The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.*/",
        "setterMethodName" : "setExpires",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "expires",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>\n@param expires The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "expires",
          "variableType" : "Long",
          "documentation" : "<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "description",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>A description of the purpose of the API key.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description of the purpose of the API key.</p>\n@param description A description of the purpose of the API key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>A description of the purpose of the API key.</p>\n@return A description of the purpose of the API key.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A description of the purpose of the API key.</p>\n@param description A description of the purpose of the API key.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A description of the purpose of the API key.</p>\n@param description A description of the purpose of the API key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>A description of the purpose of the API key.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Expires" : {
          "c2jName" : "expires",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>\n@param expires The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExpires",
          "getterDocumentation" : "/**<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>\n@return The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.*/",
          "getterMethodName" : "getExpires",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "expires",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "expires",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "Expires",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>\n@param expires The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.*/",
          "setterMethodName" : "setExpires",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "expires",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>\n@param expires The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "expires",
            "variableType" : "Long",
            "documentation" : "<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "id",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The API key ID.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The API key ID.</p>\n@param id The API key ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p>The API key ID.</p>\n@return The API key ID.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "id",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
[...]
