{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "DescribeSessionsRequest" : [ "AuthenticationType" ],
      "Fleet" : [ "State" ],
      "FleetError" : [ "ErrorCode" ],
      "Image" : [ "State", "Visibility", "Platform" ],
      "ImageStateChangeReason" : [ "Code" ],
      "Session" : [ "State", "AuthenticationType" ],
      "StackError" : [ "ErrorCode" ],
      "StorageConnector" : [ "ConnectorType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-12-01",
    "asyncClient" : "AmazonAppStreamAsyncClient",
    "asyncClientBuilderClassName" : "AmazonAppStreamAsyncClientBuilder",
    "asyncInterface" : "AmazonAppStreamAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonAppStreamModuleInjector",
    "defaultEndpoint" : "appstream2.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "appstream2.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon AppStream 2.0</fullname> <p>This is the <i>Amazon AppStream 2.0 API Reference</i>. This reference provides descriptions and syntax for each of the actions and data types in AppStream 2.0. AppStream 2.0 is a fully managed application streaming service. You centrally manage your desktop applications on AppStream 2.0 and securely deliver them to any computer. AppStream 2.0 manages the AWS resources required to host and run your applications, scales automatically, and provides access to your users on demand.</p> <p>To learn more about AppStream 2.0, see the following resources:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/appstream2\">Amazon AppStream 2.0 product page</a> </p> </li> <li> <p> <a href=\"http://aws.amazon.com/documentation/appstream2\">Amazon AppStream 2.0 documentation</a> </p> </li> </ul>",
    "endpointPrefix" : "appstream2",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.appstream",
    "packagePath" : "com/amazonaws/services/appstream",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon AppStream",
    "serviceId" : "AppStream",
    "serviceName" : "Amazon AppStream",
    "signingName" : "appstream",
    "smokeTestsPackageName" : "com.amazonaws.services.appstream.smoketests",
    "syncClient" : "AmazonAppStreamClient",
    "syncClientBuilderClassName" : "AmazonAppStreamClientBuilder",
    "syncInterface" : "AmazonAppStream",
    "uid" : "appstream-2016-12-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateFleetRequest, AssociateFleetResult>",
      "asyncReturnType" : "AssociateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified fleet with the specified stack.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateFleetRequest",
        "variableName" : "associateFleetRequest",
        "variableType" : "AssociateFleetRequest",
        "documentation" : "",
        "simpleType" : "AssociateFleetRequest",
        "variableSetterType" : "AssociateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateFleet",
      "operationName" : "AssociateFleet",
      "returnType" : {
        "returnType" : "AssociateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateFleetResult"
    },
    "BatchAssociateUserStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchAssociateUserStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchAssociateUserStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchAssociateUserStackRequest, BatchAssociateUserStackResult>",
      "asyncReturnType" : "BatchAssociateUserStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified users with the specified stacks. Users in a user pool cannot be assigned to stacks with fleets that are joined to an Active Directory domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchAssociateUserStackRequest",
        "variableName" : "batchAssociateUserStackRequest",
        "variableType" : "BatchAssociateUserStackRequest",
        "documentation" : "",
        "simpleType" : "BatchAssociateUserStackRequest",
        "variableSetterType" : "BatchAssociateUserStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchAssociateUserStack",
      "operationName" : "BatchAssociateUserStack",
      "returnType" : {
        "returnType" : "BatchAssociateUserStackResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchAssociateUserStackResult"
    },
    "BatchDisassociateUserStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDisassociateUserStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDisassociateUserStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDisassociateUserStackRequest, BatchDisassociateUserStackResult>",
      "asyncReturnType" : "BatchDisassociateUserStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified users from the specified stacks.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDisassociateUserStackRequest",
        "variableName" : "batchDisassociateUserStackRequest",
        "variableType" : "BatchDisassociateUserStackRequest",
        "documentation" : "",
        "simpleType" : "BatchDisassociateUserStackRequest",
        "variableSetterType" : "BatchDisassociateUserStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDisassociateUserStack",
      "operationName" : "BatchDisassociateUserStack",
      "returnType" : {
        "returnType" : "BatchDisassociateUserStackResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDisassociateUserStackResult"
    },
    "CopyImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CopyImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CopyImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CopyImageRequest, CopyImageResult>",
      "asyncReturnType" : "CopyImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Copies the image within the same region or to a new region within the same AWS account. Note that any tags you added to the image will not be copied.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CopyImageRequest",
        "variableName" : "copyImageRequest",
        "variableType" : "CopyImageRequest",
        "documentation" : "",
        "simpleType" : "CopyImageRequest",
        "variableSetterType" : "CopyImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "copyImage",
      "operationName" : "CopyImage",
      "returnType" : {
        "returnType" : "CopyImageResult",
        "documentation" : null
      },
      "syncReturnType" : "CopyImageResult"
    },
    "CreateDirectoryConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDirectoryConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDirectoryConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDirectoryConfigRequest, CreateDirectoryConfigResult>",
      "asyncReturnType" : "CreateDirectoryConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Directory Config object in AppStream 2.0. This object includes the information required to join streaming instances to an Active Directory domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDirectoryConfigRequest",
        "variableName" : "createDirectoryConfigRequest",
        "variableType" : "CreateDirectoryConfigRequest",
        "documentation" : "",
        "simpleType" : "CreateDirectoryConfigRequest",
        "variableSetterType" : "CreateDirectoryConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDirectoryConfig",
      "operationName" : "CreateDirectoryConfig",
      "returnType" : {
        "returnType" : "CreateDirectoryConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDirectoryConfigResult"
    },
    "CreateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFleetRequest, CreateFleetResult>",
      "asyncReturnType" : "CreateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a fleet. A fleet consists of streaming instances that run a specified image.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The specified role is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFleetRequest",
        "variableName" : "createFleetRequest",
        "variableType" : "CreateFleetRequest",
        "documentation" : "",
        "simpleType" : "CreateFleetRequest",
        "variableSetterType" : "CreateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFleet",
      "operationName" : "CreateFleet",
      "returnType" : {
        "returnType" : "CreateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFleetResult"
    },
    "CreateImageBuilder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateImageBuilderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateImageBuilderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateImageBuilderRequest, CreateImageBuilderResult>",
      "asyncReturnType" : "CreateImageBuilderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an image builder. An image builder is a virtual machine that is used to create an image.</p> <p>The initial state of the builder is <code>PENDING</code>. When it is ready, the state is <code>RUNNING</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The specified role is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateImageBuilderRequest",
        "variableName" : "createImageBuilderRequest",
        "variableType" : "CreateImageBuilderRequest",
        "documentation" : "",
        "simpleType" : "CreateImageBuilderRequest",
        "variableSetterType" : "CreateImageBuilderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createImageBuilder",
      "operationName" : "CreateImageBuilder",
      "returnType" : {
        "returnType" : "CreateImageBuilderResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateImageBuilderResult"
    },
    "CreateImageBuilderStreamingURL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateImageBuilderStreamingURLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateImageBuilderStreamingURLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateImageBuilderStreamingURLRequest, CreateImageBuilderStreamingURLResult>",
      "asyncReturnType" : "CreateImageBuilderStreamingURLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a URL to start an image builder streaming session.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateImageBuilderStreamingURLRequest",
        "variableName" : "createImageBuilderStreamingURLRequest",
        "variableType" : "CreateImageBuilderStreamingURLRequest",
        "documentation" : "",
        "simpleType" : "CreateImageBuilderStreamingURLRequest",
        "variableSetterType" : "CreateImageBuilderStreamingURLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createImageBuilderStreamingURL",
      "operationName" : "CreateImageBuilderStreamingURL",
      "returnType" : {
        "returnType" : "CreateImageBuilderStreamingURLResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateImageBuilderStreamingURLResult"
    },
    "CreateStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStackRequest, CreateStackResult>",
      "asyncReturnType" : "CreateStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a stack to start streaming applications to users. A stack consists of an associated fleet, user access policies, and storage configurations. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The specified role is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateStackRequest",
        "variableName" : "createStackRequest",
        "variableType" : "CreateStackRequest",
        "documentation" : "",
        "simpleType" : "CreateStackRequest",
        "variableSetterType" : "CreateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStack",
      "operationName" : "CreateStack",
      "returnType" : {
        "returnType" : "CreateStackResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStackResult"
    },
    "CreateStreamingURL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamingURLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamingURLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamingURLRequest, CreateStreamingURLResult>",
      "asyncReturnType" : "CreateStreamingURLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a temporary URL to start an AppStream 2.0 streaming session for the specified user. A streaming URL enables application streaming to be tested without user setup. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateStreamingURLRequest",
        "variableName" : "createStreamingURLRequest",
        "variableType" : "CreateStreamingURLRequest",
        "documentation" : "",
        "simpleType" : "CreateStreamingURLRequest",
        "variableSetterType" : "CreateStreamingURLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStreamingURL",
      "operationName" : "CreateStreamingURL",
      "returnType" : {
        "returnType" : "CreateStreamingURLResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStreamingURLResult"
    },
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new user in the user pool.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserResult"
    },
    "DeleteDirectoryConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDirectoryConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDirectoryConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDirectoryConfigRequest, DeleteDirectoryConfigResult>",
      "asyncReturnType" : "DeleteDirectoryConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Directory Config object from AppStream 2.0. This object includes the information required to join streaming instances to an Active Directory domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDirectoryConfigRequest",
        "variableName" : "deleteDirectoryConfigRequest",
        "variableType" : "DeleteDirectoryConfigRequest",
        "documentation" : "",
        "simpleType" : "DeleteDirectoryConfigRequest",
        "variableSetterType" : "DeleteDirectoryConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDirectoryConfig",
      "operationName" : "DeleteDirectoryConfig",
      "returnType" : {
        "returnType" : "DeleteDirectoryConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDirectoryConfigResult"
    },
    "DeleteFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFleetRequest, DeleteFleetResult>",
      "asyncReturnType" : "DeleteFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFleetRequest",
        "variableName" : "deleteFleetRequest",
        "variableType" : "DeleteFleetRequest",
        "documentation" : "",
        "simpleType" : "DeleteFleetRequest",
        "variableSetterType" : "DeleteFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFleet",
      "operationName" : "DeleteFleet",
      "returnType" : {
        "returnType" : "DeleteFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFleetResult"
    },
    "DeleteImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteImageRequest, DeleteImageResult>",
      "asyncReturnType" : "DeleteImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified image. You cannot delete an image when it is in use. After you delete an image, you cannot provision new capacity using the image.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteImageRequest",
        "variableName" : "deleteImageRequest",
        "variableType" : "DeleteImageRequest",
        "documentation" : "",
        "simpleType" : "DeleteImageRequest",
        "variableSetterType" : "DeleteImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteImage",
      "operationName" : "DeleteImage",
      "returnType" : {
        "returnType" : "DeleteImageResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteImageResult"
    },
    "DeleteImageBuilder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteImageBuilderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteImageBuilderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteImageBuilderRequest, DeleteImageBuilderResult>",
      "asyncReturnType" : "DeleteImageBuilderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified image builder and releases the capacity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteImageBuilderRequest",
        "variableName" : "deleteImageBuilderRequest",
        "variableType" : "DeleteImageBuilderRequest",
        "documentation" : "",
        "simpleType" : "DeleteImageBuilderRequest",
        "variableSetterType" : "DeleteImageBuilderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteImageBuilder",
      "operationName" : "DeleteImageBuilder",
      "returnType" : {
        "returnType" : "DeleteImageBuilderResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteImageBuilderResult"
    },
    "DeleteImagePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteImagePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteImagePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteImagePermissionsRequest, DeleteImagePermissionsResult>",
      "asyncReturnType" : "DeleteImagePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes permissions for the specified private image. After you delete permissions for an image, AWS accounts to which you previously granted these permissions can no longer use the image.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteImagePermissionsRequest",
        "variableName" : "deleteImagePermissionsRequest",
        "variableType" : "DeleteImagePermissionsRequest",
        "documentation" : "",
        "simpleType" : "DeleteImagePermissionsRequest",
        "variableSetterType" : "DeleteImagePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteImagePermissions",
      "operationName" : "DeleteImagePermissions",
      "returnType" : {
        "returnType" : "DeleteImagePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteImagePermissionsResult"
    },
    "DeleteStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStackRequest, DeleteStackResult>",
      "asyncReturnType" : "DeleteStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified stack. After the stack is deleted, the application streaming environment provided by the stack is no longer available to users. Also, any reservations made for application streaming sessions for the stack are released.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteStackRequest",
        "variableName" : "deleteStackRequest",
        "variableType" : "DeleteStackRequest",
        "documentation" : "",
        "simpleType" : "DeleteStackRequest",
        "variableSetterType" : "DeleteStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStack",
      "operationName" : "DeleteStack",
      "returnType" : {
        "returnType" : "DeleteStackResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStackResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a user from the user pool.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DescribeDirectoryConfigs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDirectoryConfigsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDirectoryConfigsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDirectoryConfigsRequest, DescribeDirectoryConfigsResult>",
      "asyncReturnType" : "DescribeDirectoryConfigsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes one or more specified Directory Config objects for AppStream 2.0, if the names for these objects are provided. Otherwise, all Directory Config objects in the account are described. These objects include the information required to join streaming instances to an Active Directory domain. </p> <p>Although the response syntax in this topic includes the account password, this password is not returned in the actual response.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDirectoryConfigsRequest",
        "variableName" : "describeDirectoryConfigsRequest",
        "variableType" : "DescribeDirectoryConfigsRequest",
        "documentation" : "",
        "simpleType" : "DescribeDirectoryConfigsRequest",
        "variableSetterType" : "DescribeDirectoryConfigsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDirectoryConfigs",
      "operationName" : "DescribeDirectoryConfigs",
      "returnType" : {
        "returnType" : "DescribeDirectoryConfigsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDirectoryConfigsResult"
    },
    "DescribeFleets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFleetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFleetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFleetsRequest, DescribeFleetsResult>",
      "asyncReturnType" : "DescribeFleetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes one or more specified fleets, if the fleet names are provided. Otherwise, all fleets in the account are described.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFleetsRequest",
        "variableName" : "describeFleetsRequest",
        "variableType" : "DescribeFleetsRequest",
        "documentation" : "",
        "simpleType" : "DescribeFleetsRequest",
        "variableSetterType" : "DescribeFleetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFleets",
      "operationName" : "DescribeFleets",
      "returnType" : {
        "returnType" : "DescribeFleetsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFleetsResult"
    },
    "DescribeImageBuilders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImageBuildersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImageBuildersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImageBuildersRequest, DescribeImageBuildersResult>",
      "asyncReturnType" : "DescribeImageBuildersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes one or more specified image builders, if the image builder names are provided. Otherwise, all image builders in the account are described.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeImageBuildersRequest",
        "variableName" : "describeImageBuildersRequest",
        "variableType" : "DescribeImageBuildersRequest",
        "documentation" : "",
        "simpleType" : "DescribeImageBuildersRequest",
        "variableSetterType" : "DescribeImageBuildersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImageBuilders",
      "operationName" : "DescribeImageBuilders",
      "returnType" : {
        "returnType" : "DescribeImageBuildersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImageBuildersResult"
    },
    "DescribeImagePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImagePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImagePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImagePermissionsRequest, DescribeImagePermissionsResult>",
      "asyncReturnType" : "DescribeImagePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes the permissions for shared AWS account IDs on a private image that you own. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeImagePermissionsRequest",
        "variableName" : "describeImagePermissionsRequest",
        "variableType" : "DescribeImagePermissionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeImagePermissionsRequest",
        "variableSetterType" : "DescribeImagePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImagePermissions",
      "operationName" : "DescribeImagePermissions",
      "returnType" : {
        "returnType" : "DescribeImagePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImagePermissionsResult"
    },
    "DescribeImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImagesRequest, DescribeImagesResult>",
      "asyncReturnType" : "DescribeImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes one or more specified images, if the image names or image ARNs are provided. Otherwise, all images in the account are described.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeImagesRequest",
        "variableName" : "describeImagesRequest",
        "variableType" : "DescribeImagesRequest",
        "documentation" : "",
        "simpleType" : "DescribeImagesRequest",
        "variableSetterType" : "DescribeImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImages",
      "operationName" : "DescribeImages",
      "returnType" : {
        "returnType" : "DescribeImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImagesResult"
    },
    "DescribeSessions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSessionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSessionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSessionsRequest, DescribeSessionsResult>",
      "asyncReturnType" : "DescribeSessionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes the active streaming sessions for a specified stack and fleet. If a value for <code>UserId</code> is provided for the stack and fleet, only streaming sessions for that user are described. If an authentication type is not provided, the default is to authenticate users using a streaming URL.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSessionsRequest",
        "variableName" : "describeSessionsRequest",
        "variableType" : "DescribeSessionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeSessionsRequest",
        "variableSetterType" : "DescribeSessionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSessions",
      "operationName" : "DescribeSessions",
      "returnType" : {
        "returnType" : "DescribeSessionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSessionsResult"
    },
    "DescribeStacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStacksRequest, DescribeStacksResult>",
      "asyncReturnType" : "DescribeStacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes one or more specified stacks, if the stack names are provided. Otherwise, all stacks in the account are described.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeStacksRequest",
        "variableName" : "describeStacksRequest",
        "variableType" : "DescribeStacksRequest",
        "documentation" : "",
        "simpleType" : "DescribeStacksRequest",
        "variableSetterType" : "DescribeStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStacks",
      "operationName" : "DescribeStacks",
      "returnType" : {
        "returnType" : "DescribeStacksResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeStacksResult"
    },
    "DescribeUserStackAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserStackAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserStackAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserStackAssociationsRequest, DescribeUserStackAssociationsResult>",
      "asyncReturnType" : "DescribeUserStackAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes the UserStackAssociation objects. You must specify either or both of the following:</p> <ul> <li> <p>The stack name</p> </li> <li> <p>The user name (email address of the user associated with the stack) and the authentication type for the user</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserStackAssociationsRequest",
        "variableName" : "describeUserStackAssociationsRequest",
        "variableType" : "DescribeUserStackAssociationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserStackAssociationsRequest",
        "variableSetterType" : "DescribeUserStackAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUserStackAssociations",
      "operationName" : "DescribeUserStackAssociations",
      "returnType" : {
        "returnType" : "DescribeUserStackAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserStackAssociationsResult"
    },
    "DescribeUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUsersRequest, DescribeUsersResult>",
      "asyncReturnType" : "DescribeUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes one or more specified users in the user pool.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUsersRequest",
        "variableName" : "describeUsersRequest",
        "variableType" : "DescribeUsersRequest",
        "documentation" : "",
        "simpleType" : "DescribeUsersRequest",
        "variableSetterType" : "DescribeUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUsers",
      "operationName" : "DescribeUsers",
      "returnType" : {
        "returnType" : "DescribeUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUsersResult"
    },
    "DisableUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableUserRequest, DisableUserResult>",
      "asyncReturnType" : "DisableUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the specified user in the user pool. Users can't sign in to AppStream 2.0 until they are re-enabled. This action does not delete the user. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableUserRequest",
        "variableName" : "disableUserRequest",
        "variableType" : "DisableUserRequest",
        "documentation" : "",
        "simpleType" : "DisableUserRequest",
        "variableSetterType" : "DisableUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableUser",
      "operationName" : "DisableUser",
      "returnType" : {
        "returnType" : "DisableUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableUserResult"
    },
    "DisassociateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateFleetRequest, DisassociateFleetResult>",
      "asyncReturnType" : "DisassociateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified fleet from the specified stack.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateFleetRequest",
        "variableName" : "disassociateFleetRequest",
        "variableType" : "DisassociateFleetRequest",
        "documentation" : "",
        "simpleType" : "DisassociateFleetRequest",
        "variableSetterType" : "DisassociateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateFleet",
      "operationName" : "DisassociateFleet",
      "returnType" : {
        "returnType" : "DisassociateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateFleetResult"
    },
    "EnableUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableUserRequest, EnableUserResult>",
      "asyncReturnType" : "EnableUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables a user in the user pool. After being enabled, users can sign in to AppStream 2.0 and open applications from the stacks to which they are assigned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableUserRequest",
        "variableName" : "enableUserRequest",
        "variableType" : "EnableUserRequest",
        "documentation" : "",
        "simpleType" : "EnableUserRequest",
        "variableSetterType" : "EnableUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableUser",
      "operationName" : "EnableUser",
      "returnType" : {
        "returnType" : "EnableUserResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableUserResult"
    },
    "ExpireSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExpireSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExpireSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExpireSessionRequest, ExpireSessionResult>",
      "asyncReturnType" : "ExpireSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Immediately stops the specified streaming session.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExpireSessionRequest",
        "variableName" : "expireSessionRequest",
        "variableType" : "ExpireSessionRequest",
        "documentation" : "",
        "simpleType" : "ExpireSessionRequest",
        "variableSetterType" : "ExpireSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "expireSession",
      "operationName" : "ExpireSession",
      "returnType" : {
        "returnType" : "ExpireSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "ExpireSessionResult"
    },
    "ListAssociatedFleets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociatedFleetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociatedFleetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociatedFleetsRequest, ListAssociatedFleetsResult>",
      "asyncReturnType" : "ListAssociatedFleetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the name of the fleet that is associated with the specified stack.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssociatedFleetsRequest",
        "variableName" : "listAssociatedFleetsRequest",
        "variableType" : "ListAssociatedFleetsRequest",
        "documentation" : "",
        "simpleType" : "ListAssociatedFleetsRequest",
        "variableSetterType" : "ListAssociatedFleetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociatedFleets",
      "operationName" : "ListAssociatedFleets",
      "returnType" : {
        "returnType" : "ListAssociatedFleetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssociatedFleetsResult"
    },
    "ListAssociatedStacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociatedStacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociatedStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociatedStacksRequest, ListAssociatedStacksResult>",
      "asyncReturnType" : "ListAssociatedStacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the name of the stack with which the specified fleet is associated.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssociatedStacksRequest",
        "variableName" : "listAssociatedStacksRequest",
        "variableType" : "ListAssociatedStacksRequest",
        "documentation" : "",
        "simpleType" : "ListAssociatedStacksRequest",
        "variableSetterType" : "ListAssociatedStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociatedStacks",
      "operationName" : "ListAssociatedStacks",
      "returnType" : {
        "returnType" : "ListAssociatedStacksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssociatedStacksResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of all tags for the specified AppStream 2.0 resource. You can tag AppStream 2.0 image builders, images, fleets, and stacks.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartFleetRequest, StartFleetResult>",
      "asyncReturnType" : "StartFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the specified fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartFleetRequest",
        "variableName" : "startFleetRequest",
        "variableType" : "StartFleetRequest",
        "documentation" : "",
        "simpleType" : "StartFleetRequest",
        "variableSetterType" : "StartFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startFleet",
      "operationName" : "StartFleet",
      "returnType" : {
        "returnType" : "StartFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "StartFleetResult"
    },
    "StartImageBuilder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartImageBuilderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartImageBuilderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartImageBuilderRequest, StartImageBuilderResult>",
      "asyncReturnType" : "StartImageBuilderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the specified image builder.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartImageBuilderRequest",
        "variableName" : "startImageBuilderRequest",
        "variableType" : "StartImageBuilderRequest",
        "documentation" : "",
        "simpleType" : "StartImageBuilderRequest",
        "variableSetterType" : "StartImageBuilderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startImageBuilder",
      "operationName" : "StartImageBuilder",
      "returnType" : {
        "returnType" : "StartImageBuilderResult",
        "documentation" : null
      },
      "syncReturnType" : "StartImageBuilderResult"
    },
    "StopFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopFleetRequest, StopFleetResult>",
      "asyncReturnType" : "StopFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the specified fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopFleetRequest",
        "variableName" : "stopFleetRequest",
        "variableType" : "StopFleetRequest",
        "documentation" : "",
        "simpleType" : "StopFleetRequest",
        "variableSetterType" : "StopFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopFleet",
      "operationName" : "StopFleet",
      "returnType" : {
        "returnType" : "StopFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "StopFleetResult"
    },
    "StopImageBuilder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopImageBuilderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopImageBuilderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopImageBuilderRequest, StopImageBuilderResult>",
      "asyncReturnType" : "StopImageBuilderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the specified image builder.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopImageBuilderRequest",
        "variableName" : "stopImageBuilderRequest",
        "variableType" : "StopImageBuilderRequest",
        "documentation" : "",
        "simpleType" : "StopImageBuilderRequest",
        "variableSetterType" : "StopImageBuilderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopImageBuilder",
      "operationName" : "StopImageBuilder",
      "returnType" : {
        "returnType" : "StopImageBuilderResult",
        "documentation" : null
      },
      "syncReturnType" : "StopImageBuilderResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or overwrites one or more tags for the specified AppStream 2.0 resource. You can tag AppStream 2.0 image builders, images, fleets, and stacks.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, this operation updates its value.</p> <p>To list the current tags for your resources, use <a>ListTagsForResource</a>. To disassociate tags from your resources, use <a>UntagResource</a>.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates one or more specified tags from the specified AppStream 2.0 resource.</p> <p>To list the current tags for your resources, use <a>ListTagsForResource</a>.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDirectoryConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDirectoryConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDirectoryConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDirectoryConfigRequest, UpdateDirectoryConfigResult>",
      "asyncReturnType" : "UpdateDirectoryConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified Directory Config object in AppStream 2.0. This object includes the information required to join streaming instances to an Active Directory domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDirectoryConfigRequest",
        "variableName" : "updateDirectoryConfigRequest",
        "variableType" : "UpdateDirectoryConfigRequest",
        "documentation" : "",
        "simpleType" : "UpdateDirectoryConfigRequest",
        "variableSetterType" : "UpdateDirectoryConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDirectoryConfig",
      "operationName" : "UpdateDirectoryConfig",
      "returnType" : {
        "returnType" : "UpdateDirectoryConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDirectoryConfigResult"
    },
    "UpdateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFleetRequest, UpdateFleetResult>",
      "asyncReturnType" : "UpdateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified fleet.</p> <p>If the fleet is in the <code>STOPPED</code> state, you can update any attribute except the fleet name. If the fleet is in the <code>RUNNING</code> state, you can update the <code>DisplayName</code> and <code>ComputeCapacity</code> attributes. If the fleet is in the <code>STARTING</code> or <code>STOPPING</code> state, you can't update it.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The specified role is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFleetRequest",
        "variableName" : "updateFleetRequest",
        "variableType" : "UpdateFleetRequest",
        "documentation" : "",
        "simpleType" : "UpdateFleetRequest",
        "variableSetterType" : "UpdateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFleet",
      "operationName" : "UpdateFleet",
      "returnType" : {
        "returnType" : "UpdateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFleetResult"
    },
    "UpdateImagePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateImagePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateImagePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateImagePermissionsRequest, UpdateImagePermissionsResult>",
      "asyncReturnType" : "UpdateImagePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or updates permissions for the specified private image. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateImagePermissionsRequest",
        "variableName" : "updateImagePermissionsRequest",
        "variableType" : "UpdateImagePermissionsRequest",
        "documentation" : "",
        "simpleType" : "UpdateImagePermissionsRequest",
        "variableSetterType" : "UpdateImagePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateImagePermissions",
      "operationName" : "UpdateImagePermissions",
      "returnType" : {
        "returnType" : "UpdateImagePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateImagePermissionsResult"
    },
    "UpdateStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStackRequest, UpdateStackResult>",
      "asyncReturnType" : "UpdateStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified fields for the specified stack.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The specified role is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Indicates an incorrect combination of parameters, or a missing parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAccountStatusException",
        "documentation" : "<p>The resource cannot be created because your AWS account is suspended. For assistance, contact AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleImageException",
        "documentation" : "<p>The image does not support storage connectors.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateStackRequest",
        "variableName" : "updateStackRequest",
        "variableType" : "UpdateStackRequest",
        "documentation" : "",
        "simpleType" : "UpdateStackRequest",
        "variableSetterType" : "UpdateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateStack",
      "operationName" : "UpdateStack",
      "returnType" : {
        "returnType" : "UpdateStackResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateStackResult"
    }
  },
  "shapes" : {
    "Action" : {
      "c2jName" : "Action",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "CLIPBOARD_COPY_FROM_LOCAL_DEVICE",
        "value" : "CLIPBOARD_COPY_FROM_LOCAL_DEVICE"
      }, {
        "name" : "CLIPBOARD_COPY_TO_LOCAL_DEVICE",
        "value" : "CLIPBOARD_COPY_TO_LOCAL_DEVICE"
      }, {
        "name" : "FILE_UPLOAD",
        "value" : "FILE_UPLOAD"
      }, {
        "name" : "FILE_DOWNLOAD",
        "value" : "FILE_DOWNLOAD"
      }, {
        "name" : "PRINTING_TO_LOCAL_DEVICE",
        "value" : "PRINTING_TO_LOCAL_DEVICE"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Action",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Action",
        "variableName" : "action",
        "variableType" : "Action",
        "documentation" : null,
        "simpleType" : "Action",
        "variableSetterType" : "Action"
      },
      "wrapper" : false
    },
    "Application" : {
      "c2jName" : "Application",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes an application in the application catalog.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the application.</p>\n@param name The name of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the application.</p>\n@return The name of the application.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the application.</p>\n@param name The name of the application.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the application.</p>\n@param name The name of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DisplayName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The application name to display.</p>",
        "enumType" : null,
[...]
