{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-12-01",
    "asyncClient" : "AmazonAppStreamAsyncClient",
    "asyncClientBuilderClassName" : "AmazonAppStreamAsyncClientBuilder",
    "asyncInterface" : "AmazonAppStreamAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonAppStreamModuleInjector",
    "defaultEndpoint" : "appstream2.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "appstream2.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon AppStream 2.0</fullname> <p>API documentation for Amazon AppStream 2.0.</p>",
    "endpointPrefix" : "appstream2",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.appstream",
    "packagePath" : "com/amazonaws/services/appstream",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon AppStream",
    "serviceName" : "Amazon AppStream",
    "signingName" : "appstream",
    "smokeTestsPackageName" : "com.amazonaws.services.appstream.smoketests",
    "syncClient" : "AmazonAppStreamClient",
    "syncClientBuilderClassName" : "AmazonAppStreamClientBuilder",
    "syncInterface" : "AmazonAppStream",
    "uid" : "appstream-2016-12-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateFleetRequest, AssociateFleetResult>",
      "asyncReturnType" : "AssociateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associate a fleet to a stack.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateFleetRequest",
        "variableName" : "associateFleetRequest",
        "variableType" : "AssociateFleetRequest",
        "documentation" : "",
        "simpleType" : "AssociateFleetRequest",
        "variableSetterType" : "AssociateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateFleet",
      "operationName" : "AssociateFleet",
      "returnType" : {
        "returnType" : "AssociateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateFleetResult"
    },
    "CreateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFleetRequest, CreateFleetResult>",
      "asyncReturnType" : "CreateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new fleet.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The specified role is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateFleetRequest",
        "variableName" : "createFleetRequest",
        "variableType" : "CreateFleetRequest",
        "documentation" : "<p>Contains the parameters for the new fleet to create.</p>",
        "simpleType" : "CreateFleetRequest",
        "variableSetterType" : "CreateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFleet",
      "operationName" : "CreateFleet",
      "returnType" : {
        "returnType" : "CreateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFleetResult"
    },
    "CreateStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStackRequest, CreateStackResult>",
      "asyncReturnType" : "CreateStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new stack.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateStackRequest",
        "variableName" : "createStackRequest",
        "variableType" : "CreateStackRequest",
        "documentation" : "",
        "simpleType" : "CreateStackRequest",
        "variableSetterType" : "CreateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStack",
      "operationName" : "CreateStack",
      "returnType" : {
        "returnType" : "CreateStackResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStackResult"
    },
    "CreateStreamingURL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamingURLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamingURLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamingURLRequest, CreateStreamingURLResult>",
      "asyncReturnType" : "CreateStreamingURLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a URL to start an AppStream 2.0 streaming session for a user. By default, the URL is valid only for 1 minute from the time that it is generated.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotAvailableException",
        "documentation" : "<p>The specified resource exists and is not in use, but isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The attempted operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateStreamingURLRequest",
        "variableName" : "createStreamingURLRequest",
        "variableType" : "CreateStreamingURLRequest",
        "documentation" : "",
        "simpleType" : "CreateStreamingURLRequest",
        "variableSetterType" : "CreateStreamingURLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStreamingURL",
      "operationName" : "CreateStreamingURL",
      "returnType" : {
        "returnType" : "CreateStreamingURLResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStreamingURLResult"
    },
    "DeleteFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFleetRequest, DeleteFleetResult>",
      "asyncReturnType" : "DeleteFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a fleet.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteFleetRequest",
        "variableName" : "deleteFleetRequest",
        "variableType" : "DeleteFleetRequest",
        "documentation" : "",
        "simpleType" : "DeleteFleetRequest",
        "variableSetterType" : "DeleteFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFleet",
      "operationName" : "DeleteFleet",
      "returnType" : {
        "returnType" : "DeleteFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFleetResult"
    },
    "DeleteStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStackRequest, DeleteStackResult>",
      "asyncReturnType" : "DeleteStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the stack. After this operation completes, the environment can no longer be activated, and any reservations made for the stack are released.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteStackRequest",
        "variableName" : "deleteStackRequest",
        "variableType" : "DeleteStackRequest",
        "documentation" : "",
        "simpleType" : "DeleteStackRequest",
        "variableSetterType" : "DeleteStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStack",
      "operationName" : "DeleteStack",
      "returnType" : {
        "returnType" : "DeleteStackResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStackResult"
    },
    "DescribeFleets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFleetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFleetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFleetsRequest, DescribeFleetsResult>",
      "asyncReturnType" : "DescribeFleetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>If fleet names are provided, this operation describes the specified fleets; otherwise, all the fleets in the account are described.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeFleetsRequest",
        "variableName" : "describeFleetsRequest",
        "variableType" : "DescribeFleetsRequest",
        "documentation" : "",
        "simpleType" : "DescribeFleetsRequest",
        "variableSetterType" : "DescribeFleetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFleets",
      "operationName" : "DescribeFleets",
      "returnType" : {
        "returnType" : "DescribeFleetsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFleetsResult"
    },
    "DescribeImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImagesRequest, DescribeImagesResult>",
      "asyncReturnType" : "DescribeImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the images. If a list of names is not provided, all images in your account are returned. This operation does not return a paginated result.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeImagesRequest",
        "variableName" : "describeImagesRequest",
        "variableType" : "DescribeImagesRequest",
        "documentation" : "",
        "simpleType" : "DescribeImagesRequest",
        "variableSetterType" : "DescribeImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImages",
      "operationName" : "DescribeImages",
      "returnType" : {
        "returnType" : "DescribeImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImagesResult"
    },
    "DescribeSessions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSessionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSessionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSessionsRequest, DescribeSessionsResult>",
      "asyncReturnType" : "DescribeSessionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the streaming sessions for a stack and a fleet. If a user ID is provided, this operation returns streaming sessions for only that user. Pass this value for the <code>nextToken</code> parameter in a subsequent call to this operation to retrieve the next set of items.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSessionsRequest",
        "variableName" : "describeSessionsRequest",
        "variableType" : "DescribeSessionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeSessionsRequest",
        "variableSetterType" : "DescribeSessionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSessions",
      "operationName" : "DescribeSessions",
      "returnType" : {
        "returnType" : "DescribeSessionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSessionsResult"
    },
    "DescribeStacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStacksRequest, DescribeStacksResult>",
      "asyncReturnType" : "DescribeStacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>If stack names are not provided, this operation describes the specified stacks; otherwise, all stacks in the account are described. Pass the <code>nextToken</code> value in a subsequent call to this operation to retrieve the next set of items.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeStacksRequest",
        "variableName" : "describeStacksRequest",
        "variableType" : "DescribeStacksRequest",
        "documentation" : "",
        "simpleType" : "DescribeStacksRequest",
        "variableSetterType" : "DescribeStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStacks",
      "operationName" : "DescribeStacks",
      "returnType" : {
        "returnType" : "DescribeStacksResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeStacksResult"
    },
    "DisassociateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateFleetRequest, DisassociateFleetResult>",
      "asyncReturnType" : "DisassociateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a fleet from a stack.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateFleetRequest",
        "variableName" : "disassociateFleetRequest",
        "variableType" : "DisassociateFleetRequest",
        "documentation" : "",
        "simpleType" : "DisassociateFleetRequest",
        "variableSetterType" : "DisassociateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateFleet",
      "operationName" : "DisassociateFleet",
      "returnType" : {
        "returnType" : "DisassociateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateFleetResult"
    },
    "ExpireSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExpireSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExpireSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExpireSessionRequest, ExpireSessionResult>",
      "asyncReturnType" : "ExpireSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation immediately stops a streaming session.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ExpireSessionRequest",
        "variableName" : "expireSessionRequest",
        "variableType" : "ExpireSessionRequest",
        "documentation" : "",
        "simpleType" : "ExpireSessionRequest",
        "variableSetterType" : "ExpireSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "expireSession",
      "operationName" : "ExpireSession",
      "returnType" : {
        "returnType" : "ExpireSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "ExpireSessionResult"
    },
    "ListAssociatedFleets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociatedFleetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociatedFleetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociatedFleetsRequest, ListAssociatedFleetsResult>",
      "asyncReturnType" : "ListAssociatedFleetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all fleets associated with the stack.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAssociatedFleetsRequest",
        "variableName" : "listAssociatedFleetsRequest",
        "variableType" : "ListAssociatedFleetsRequest",
        "documentation" : "",
        "simpleType" : "ListAssociatedFleetsRequest",
        "variableSetterType" : "ListAssociatedFleetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociatedFleets",
      "operationName" : "ListAssociatedFleets",
      "returnType" : {
        "returnType" : "ListAssociatedFleetsResult",
        "documentation" : "<p>The response from a successful operation.</p>"
      },
      "syncReturnType" : "ListAssociatedFleetsResult"
    },
    "ListAssociatedStacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociatedStacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociatedStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociatedStacksRequest, ListAssociatedStacksResult>",
      "asyncReturnType" : "ListAssociatedStacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all stacks to which the specified fleet is associated.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAssociatedStacksRequest",
        "variableName" : "listAssociatedStacksRequest",
        "variableType" : "ListAssociatedStacksRequest",
        "documentation" : "",
        "simpleType" : "ListAssociatedStacksRequest",
        "variableSetterType" : "ListAssociatedStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociatedStacks",
      "operationName" : "ListAssociatedStacks",
      "returnType" : {
        "returnType" : "ListAssociatedStacksResult",
        "documentation" : "<p>The response from a successful operation.</p>"
      },
      "syncReturnType" : "ListAssociatedStacksResult"
    },
    "StartFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartFleetRequest, StartFleetResult>",
      "asyncReturnType" : "StartFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a fleet.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartFleetRequest",
        "variableName" : "startFleetRequest",
        "variableType" : "StartFleetRequest",
        "documentation" : "",
        "simpleType" : "StartFleetRequest",
        "variableSetterType" : "StartFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startFleet",
      "operationName" : "StartFleet",
      "returnType" : {
        "returnType" : "StartFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "StartFleetResult"
    },
    "StopFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopFleetRequest, StopFleetResult>",
      "asyncReturnType" : "StopFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a fleet.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopFleetRequest",
        "variableName" : "stopFleetRequest",
        "variableType" : "StopFleetRequest",
        "documentation" : "",
        "simpleType" : "StopFleetRequest",
        "variableSetterType" : "StopFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopFleet",
      "operationName" : "StopFleet",
      "returnType" : {
        "returnType" : "StopFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "StopFleetResult"
    },
    "UpdateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFleetRequest, UpdateFleetResult>",
      "asyncReturnType" : "UpdateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing fleet. All the attributes except the fleet name can be updated in the <b>STOPPED</b> state. Only <b>ComputeCapacity</b> and <b>ImageName</b> can be updated in any other state. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested limit exceeds the permitted limit for an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The specified role is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateFleetRequest",
        "variableName" : "updateFleetRequest",
        "variableType" : "UpdateFleetRequest",
        "documentation" : "",
        "simpleType" : "UpdateFleetRequest",
        "variableSetterType" : "UpdateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFleet",
      "operationName" : "UpdateFleet",
      "returnType" : {
        "returnType" : "UpdateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFleetResult"
    },
    "UpdateStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStackRequest, UpdateStackResult>",
      "asyncReturnType" : "UpdateStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified fields in the stack with the specified name.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateStackRequest",
        "variableName" : "updateStackRequest",
        "variableType" : "UpdateStackRequest",
        "documentation" : "",
        "simpleType" : "UpdateStackRequest",
        "variableSetterType" : "UpdateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateStack",
      "operationName" : "UpdateStack",
      "returnType" : {
        "returnType" : "UpdateStackResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateStackResult"
    }
  },
  "shapes" : {
    "Application" : {
      "c2jName" : "Application",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An entry for a single application in the application catalog.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for the application.</p>\n@param name The unique identifier for the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The unique identifier for the application.</p>\n@return The unique identifier for the application.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The unique identifier for the application.</p>\n@param name The unique identifier for the application.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for the application.</p>\n@param name The unique identifier for the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DisplayName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the application shown to the end users.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the application shown to the end users.</p>\n@param displayName The name of the application shown to the end users.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDisplayName",
        "getterDocumentation" : "/**<p>The name of the application shown to the end users.</p>\n@return The name of the application shown to the end users.*/",
        "getterMethodName" : "getDisplayName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DisplayName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DisplayName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DisplayName",
        "setterDocumentation" : "/**<p>The name of the application shown to the end users.</p>\n@param displayName The name of the application shown to the end users.*/",
        "setterMethodName" : "setDisplayName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "displayName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the application shown to the end users.</p>\n@param displayName The name of the application shown to the end users.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "displayName",
          "variableType" : "String",
          "documentation" : "<p>The name of the application shown to the end users.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IconURL",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The URL for the application icon. This URL may be time-limited.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The URL for the application icon. This URL may be time-limited.</p>\n@param iconURL The URL for the application icon. This URL may be time-limited.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIconURL",
        "getterDocumentation" : "/**<p>The URL for the application icon. This URL may be time-limited.</p>\n@return The URL for the application icon. This URL may be time-limited.*/",
        "getterMethodName" : "getIconURL",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IconURL",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IconURL",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "IconURL",
        "setterDocumentation" : "/**<p>The URL for the application icon. This URL may be time-limited.</p>\n@param iconURL The URL for the application icon. This URL may be time-limited.*/",
        "setterMethodName" : "setIconURL",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "iconURL",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The URL for the application icon. This URL may be time-limited.</p>\n@param iconURL The URL for the application icon. This URL may be time-limited.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "iconURL",
          "variableType" : "String",
          "documentation" : "<p>The URL for the application icon. This URL may be time-limited.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LaunchPath",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The path to the application executable in the instance.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@param launchPath The path to the application executable in the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLaunchPath",
        "getterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@return The path to the application executable in the instance.*/",
        "getterMethodName" : "getLaunchPath",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LaunchPath",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LaunchPath",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LaunchPath",
        "setterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@param launchPath The path to the application executable in the instance.*/",
        "setterMethodName" : "setLaunchPath",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "launchPath",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@param launchPath The path to the application executable in the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "launchPath",
          "variableType" : "String",
          "documentation" : "<p>The path to the application executable in the instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LaunchParameters",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A list of arguments that are passed to the application at launch.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of arguments that are passed to the application at launch.</p>\n@param launchParameters A list of arguments that are passed to the application at launch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLaunchParameters",
        "getterDocumentation" : "/**<p>A list of arguments that are passed to the application at launch.</p>\n@return A list of arguments that are passed to the application at launch.*/",
        "getterMethodName" : "getLaunchParameters",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LaunchParameters",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LaunchParameters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LaunchParameters",
        "setterDocumentation" : "/**<p>A list of arguments that are passed to the application at launch.</p>\n@param launchParameters A list of arguments that are passed to the application at launch.*/",
        "setterMethodName" : "setLaunchParameters",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "launchParameters",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of arguments that are passed to the application at launch.</p>\n@param launchParameters A list of arguments that are passed to the application at launch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "launchParameters",
          "variableType" : "String",
          "documentation" : "<p>A list of arguments that are passed to the application at launch.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Enabled",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>An application can be disabled after image creation if there is a problem.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An application can be disabled after image creation if there is a problem.</p>\n@param enabled An application can be disabled after image creation if there is a problem.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnabled",
        "getterDocumentation" : "/**<p>An application can be disabled after image creation if there is a problem.</p>\n@return An application can be disabled after image creation if there is a problem.*/",
        "getterMethodName" : "getEnabled",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Enabled",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Enabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "Enabled",
        "setterDocumentation" : "/**<p>An application can be disabled after image creation if there is a problem.</p>\n@param enabled An application can be disabled after image creation if there is a problem.*/",
        "setterMethodName" : "setEnabled",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An application can be disabled after image creation if there is a problem.</p>\n@param enabled An application can be disabled after image creation if there is a problem.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "<p>An application can be disabled after image creation if there is a problem.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Metadata",
        "c2jShape" : "Metadata",
        "deprecated" : false,
        "documentation" : "<p>Additional attributes that describes the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Additional attributes that describes the application.</p>\n@param metadata Additional attributes that describes the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMetadata",
        "getterDocumentation" : "/**<p>Additional attributes that describes the application.</p>\n@return Additional attributes that describes the application.*/",
        "getterMethodName" : "getMetadata",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Metadata",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Metadata",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Metadata",
        "setterDocumentation" : "/**<p>Additional attributes that describes the application.</p>\n@param metadata Additional attributes that describes the application.*/",
        "setterMethodName" : "setMetadata",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "metadata",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Additional attributes that describes the application.</p>\n@param metadata Additional attributes that describes the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "metadata",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>Additional attributes that describes the application.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DisplayName" : {
          "c2jName" : "DisplayName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of the application shown to the end users.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the application shown to the end users.</p>\n@param displayName The name of the application shown to the end users.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDisplayName",
          "getterDocumentation" : "/**<p>The name of the application shown to the end users.</p>\n@return The name of the application shown to the end users.*/",
          "getterMethodName" : "getDisplayName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DisplayName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DisplayName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DisplayName",
          "setterDocumentation" : "/**<p>The name of the application shown to the end users.</p>\n@param displayName The name of the application shown to the end users.*/",
          "setterMethodName" : "setDisplayName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "displayName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the application shown to the end users.</p>\n@param displayName The name of the application shown to the end users.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "displayName",
            "variableType" : "String",
            "documentation" : "<p>The name of the application shown to the end users.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Enabled" : {
          "c2jName" : "Enabled",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "<p>An application can be disabled after image creation if there is a problem.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An application can be disabled after image creation if there is a problem.</p>\n@param enabled An application can be disabled after image creation if there is a problem.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEnabled",
          "getterDocumentation" : "/**<p>An application can be disabled after image creation if there is a problem.</p>\n@return An application can be disabled after image creation if there is a problem.*/",
          "getterMethodName" : "getEnabled",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Enabled",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Enabled",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "Enabled",
          "setterDocumentation" : "/**<p>An application can be disabled after image creation if there is a problem.</p>\n@param enabled An application can be disabled after image creation if there is a problem.*/",
          "setterMethodName" : "setEnabled",
          "setterModel" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An application can be disabled after image creation if there is a problem.</p>\n@param enabled An application can be disabled after image creation if there is a problem.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "<p>An application can be disabled after image creation if there is a problem.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "IconURL" : {
          "c2jName" : "IconURL",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The URL for the application icon. This URL may be time-limited.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The URL for the application icon. This URL may be time-limited.</p>\n@param iconURL The URL for the application icon. This URL may be time-limited.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIconURL",
          "getterDocumentation" : "/**<p>The URL for the application icon. This URL may be time-limited.</p>\n@return The URL for the application icon. This URL may be time-limited.*/",
          "getterMethodName" : "getIconURL",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "IconURL",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IconURL",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "IconURL",
          "setterDocumentation" : "/**<p>The URL for the application icon. This URL may be time-limited.</p>\n@param iconURL The URL for the application icon. This URL may be time-limited.*/",
          "setterMethodName" : "setIconURL",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "iconURL",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The URL for the application icon. This URL may be time-limited.</p>\n@param iconURL The URL for the application icon. This URL may be time-limited.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "iconURL",
            "variableType" : "String",
            "documentation" : "<p>The URL for the application icon. This URL may be time-limited.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LaunchParameters" : {
          "c2jName" : "LaunchParameters",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>A list of arguments that are passed to the application at launch.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of arguments that are passed to the application at launch.</p>\n@param launchParameters A list of arguments that are passed to the application at launch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLaunchParameters",
          "getterDocumentation" : "/**<p>A list of arguments that are passed to the application at launch.</p>\n@return A list of arguments that are passed to the application at launch.*/",
          "getterMethodName" : "getLaunchParameters",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LaunchParameters",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LaunchParameters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LaunchParameters",
          "setterDocumentation" : "/**<p>A list of arguments that are passed to the application at launch.</p>\n@param launchParameters A list of arguments that are passed to the application at launch.*/",
          "setterMethodName" : "setLaunchParameters",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "launchParameters",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of arguments that are passed to the application at launch.</p>\n@param launchParameters A list of arguments that are passed to the application at launch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "launchParameters",
            "variableType" : "String",
            "documentation" : "<p>A list of arguments that are passed to the application at launch.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LaunchPath" : {
          "c2jName" : "LaunchPath",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The path to the application executable in the instance.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@param launchPath The path to the application executable in the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLaunchPath",
          "getterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@return The path to the application executable in the instance.*/",
          "getterMethodName" : "getLaunchPath",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LaunchPath",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LaunchPath",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LaunchPath",
          "setterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@param launchPath The path to the application executable in the instance.*/",
          "setterMethodName" : "setLaunchPath",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "launchPath",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The path to the application executable in the instance.</p>\n@param launchPath The path to the application executable in the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "launchPath",
            "variableType" : "String",
            "documentation" : "<p>The path to the application executable in the instance.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Metadata" : {
          "c2jName" : "Metadata",
          "c2jShape" : "Metadata",
          "deprecated" : false,
          "documentation" : "<p>Additional attributes that describes the application.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Additional attributes that describes the application.</p>\n@param metadata Additional attributes that describes the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMetadata",
          "getterDocumentation" : "/**<p>Additional attributes that describes the application.</p>\n@return Additional attributes that describes the application.*/",
          "getterMethodName" : "getMetadata",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Metadata",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Metadata",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "String",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Value",
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "String",
            "entryType" : "Map.Entry<String, String>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,String>",
            "templateType" : "java.util.Map<String,String>",
            "valueList" : false,
            "valueSimple" : true
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Metadata",
          "setterDocumentation" : "/**<p>Additional attributes that describes the application.</p>\n@param metadata Additional attributes that describes the application.*/",
          "setterMethodName" : "setMetadata",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "metadata",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Additional attributes that describes the application.</p>\n@param metadata Additional attributes that describes the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "metadata",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "<p>Additional attributes that describes the application.</p>",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier for the application.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier for the application.</p>\n@param name The unique identifier for the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The unique identifier for the application.</p>\n@return The unique identifier for the application.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "setterDocumentation" : "/**<p>The unique identifier for the application.</p>\n@param name The unique identifier for the application.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique identifier for the application.</p>\n@param name The unique identifier for the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The unique identifier for the application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Application",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Application",
        "variableName" : "application",
        "variableType" : "Application",
        "documentation" : null,
        "simpleType" : "Application",
        "variableSetterType" : "Application"
      },
      "wrapper" : false
    },
    "AssociateFleetRequest" : {
      "c2jName" : "AssociateFleetRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateFleet",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "PhotonAdminProxyService.AssociateFleet",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "FleetName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the fleet to associate.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the fleet to associate.</p>\n@param fleetName The name of the fleet to associate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFleetName",
        "getterDocumentation" : "/**<p>The name of the fleet to associate.</p>\n@return The name of the fleet to associate.*/",
        "getterMethodName" : "getFleetName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FleetName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FleetName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FleetName",
        "setterDocumentation" : "/**<p>The name of the fleet to associate.</p>\n@param fleetName The name of the fleet to associate.*/",
        "setterMethodName" : "setFleetName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "fleetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the fleet to associate.</p>\n@param fleetName The name of the fleet to associate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "fleetName",
          "variableType" : "String",
          "documentation" : "<p>The name of the fleet to associate.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StackName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the stack to which the fleet is associated.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the stack to which the fleet is associated.</p>\n@param stackName The name of the stack to which the fleet is associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStackName",
        "getterDocumentation" : "/**<p>The name of the stack to which the fleet is associated.</p>\n@return The name of the stack to which the fleet is associated.*/",
        "getterMethodName" : "getStackName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StackName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StackName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StackName",
        "setterDocumentation" : "/**<p>The name of the stack to which the fleet is associated.</p>\n@param stackName The name of the stack to which the fleet is associated.*/",
        "setterMethodName" : "setStackName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "stackName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the stack to which the fleet is associated.</p>\n@param stackName The name of the stack to which the fleet is associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "stackName",
          "variableType" : "String",
          "documentation" : "<p>The name of the stack to which the fleet is associated.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FleetName" : {
          "c2jName" : "FleetName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of the fleet to associate.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the fleet to associate.</p>\n@param fleetName The name of the fleet to associate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFleetName",
          "getterDocumentation" : "/**<p>The name of the fleet to associate.</p>\n@return The name of the fleet to associate.*/",
          "getterMethodName" : "getFleetName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "FleetName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FleetName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FleetName",
          "setterDocumentation" : "/**<p>The name of the fleet to associate.</p>\n@param fleetName The name of the fleet to associate.*/",
          "setterMethodName" : "setFleetName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "fleetName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the fleet to associate.</p>\n@param fleetName The name of the fleet to associate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "fleetName",
            "variableType" : "String",
            "documentation" : "<p>The name of the fleet to associate.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StackName" : {
          "c2jName" : "StackName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of the stack to which the fleet is associated.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the stack to which the fleet is associated.</p>\n@param stackName The name of the stack to which the fleet is associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStackName",
          "getterDocumentation" : "/**<p>The name of the stack to which the fleet is associated.</p>\n@return The name of the stack to which the fleet is associated.*/",
          "getterMethodName" : "getStackName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "StackName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StackName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "StackName",
          "setterDocumentation" : "/**<p>The name of the stack to which the fleet is associated.</p>\n@param stackName The name of the stack to which the fleet is associated.*/",
          "setterMethodName" : "setStackName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "stackName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the stack to which the fleet is associated.</p>\n@param stackName The name of the stack to which the fleet is associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "stackName",
            "variableType" : "String",
            "documentation" : "<p>The name of the stack to which the fleet is associated.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "FleetName", "StackName" ],
      "shapeName" : "AssociateFleetRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AssociateFleetRequest",
        "variableName" : "associateFleetRequest",
        "variableType" : "AssociateFleetRequest",
        "documentation" : null,
        "simpleType" : "AssociateFleetRequest",
        "variableSetterType" : "AssociateFleetRequest"
      },
      "wrapper" : false
    },
    "AssociateFleetResult" : {
      "c2jName" : "AssociateFleetResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateFleetResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AssociateFleetResult",
        "variableName" : "associateFleetResult",
        "variableType" : "AssociateFleetResult",
        "documentation" : null,
        "simpleType" : "AssociateFleetResult",
        "variableSetterType" : "AssociateFleetResult"
      },
      "wrapper" : false
    },
    "ComputeCapacity" : {
      "c2jName" : "ComputeCapacity",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The capacity configuration for the fleet.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DesiredInstances",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>The desired number of streaming instances.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The desired number of streaming instances.</p>\n@param desiredInstances The desired number of streaming instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDesiredInstances",
        "getterDocumentation" : "/**<p>The desired number of streaming instances.</p>\n@return The desired number of streaming instances.*/",
        "getterMethodName" : "getDesiredInstances",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DesiredInstances",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DesiredInstances",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "DesiredInstances",
        "setterDocumentation" : "/**<p>The desired number of streaming instances.</p>\n@param desiredInstances The desired number of streaming instances.*/",
        "setterMethodName" : "setDesiredInstances",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "desiredInstances",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The desired number of streaming instances.</p>\n@param desiredInstances The desired number of streaming instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "desiredInstances",
          "variableType" : "Integer",
          "documentation" : "<p>The desired number of streaming instances.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DesiredInstances" : {
          "c2jName" : "DesiredInstances",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p>The desired number of streaming instances.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The desired number of streaming instances.</p>\n@param desiredInstances The desired number of streaming instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDesiredInstances",
          "getterDocumentation" : "/**<p>The desired number of streaming instances.</p>\n@return The desired number of streaming instances.*/",
          "getterMethodName" : "getDesiredInstances",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DesiredInstances",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DesiredInstances",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "DesiredInstances",
          "setterDocumentation" : "/**<p>The desired number of streaming instances.</p>\n@param desiredInstances The desired number of streaming instances.*/",
          "setterMethodName" : "setDesiredInstances",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "desiredInstances",
            "variableType" : "Integer",
            "documentation" : "",
[...]
