{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2022-12-06",
    "asyncClient" : "AWSAppTestAsyncClient",
    "asyncClientBuilderClassName" : "AWSAppTestAsyncClientBuilder",
    "asyncInterface" : "AWSAppTestAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSAppTestModuleInjector",
    "defaultEndpoint" : "apptest.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "apptest.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Mainframe Modernization Application Testing provides tools and resources for automated functional equivalence testing for your migration projects.</p>",
    "endpointPrefix" : "apptest",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.apptest",
    "packagePath" : "com/amazonaws/services/apptest",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Mainframe Modernization Application Testing",
    "serviceId" : "AppTest",
    "serviceName" : "AWS Mainframe Modernization Application Testing",
    "signingName" : "apptest",
    "smokeTestsPackageName" : "com.amazonaws.services.apptest.smoketests",
    "syncClient" : "AWSAppTestClient",
    "syncClientBuilderClassName" : "AWSAppTestClientBuilder",
    "syncInterface" : "AWSAppTest",
    "uid" : "apptest-2022-12-06",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateTestCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTestCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTestCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTestCaseRequest, CreateTestCaseResult>",
      "asyncReturnType" : "CreateTestCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a test case.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>One or more quotas for AWS Application Testing exceeds the limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The parameters provided in the request conflict with existing resources.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTestCaseRequest",
        "variableName" : "createTestCaseRequest",
        "variableType" : "CreateTestCaseRequest",
        "documentation" : "",
        "simpleType" : "CreateTestCaseRequest",
        "variableSetterType" : "CreateTestCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTestCase",
      "operationName" : "CreateTestCase",
      "returnType" : {
        "returnType" : "CreateTestCaseResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTestCaseResult"
    },
    "CreateTestConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTestConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTestConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTestConfigurationRequest, CreateTestConfigurationResult>",
      "asyncReturnType" : "CreateTestConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a test configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>One or more quotas for AWS Application Testing exceeds the limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The parameters provided in the request conflict with existing resources.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTestConfigurationRequest",
        "variableName" : "createTestConfigurationRequest",
        "variableType" : "CreateTestConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateTestConfigurationRequest",
        "variableSetterType" : "CreateTestConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTestConfiguration",
      "operationName" : "CreateTestConfiguration",
      "returnType" : {
        "returnType" : "CreateTestConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTestConfigurationResult"
    },
    "CreateTestSuite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTestSuiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTestSuiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTestSuiteRequest, CreateTestSuiteResult>",
      "asyncReturnType" : "CreateTestSuiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a test suite.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>One or more quotas for AWS Application Testing exceeds the limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The parameters provided in the request conflict with existing resources.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTestSuiteRequest",
        "variableName" : "createTestSuiteRequest",
        "variableType" : "CreateTestSuiteRequest",
        "documentation" : "",
        "simpleType" : "CreateTestSuiteRequest",
        "variableSetterType" : "CreateTestSuiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTestSuite",
      "operationName" : "CreateTestSuite",
      "returnType" : {
        "returnType" : "CreateTestSuiteResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTestSuiteResult"
    },
    "DeleteTestCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTestCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTestCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTestCaseRequest, DeleteTestCaseResult>",
      "asyncReturnType" : "DeleteTestCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a test case.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The parameters provided in the request conflict with existing resources.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTestCaseRequest",
        "variableName" : "deleteTestCaseRequest",
        "variableType" : "DeleteTestCaseRequest",
        "documentation" : "",
        "simpleType" : "DeleteTestCaseRequest",
        "variableSetterType" : "DeleteTestCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTestCase",
      "operationName" : "DeleteTestCase",
      "returnType" : {
        "returnType" : "DeleteTestCaseResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTestCaseResult"
    },
    "DeleteTestConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTestConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTestConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTestConfigurationRequest, DeleteTestConfigurationResult>",
      "asyncReturnType" : "DeleteTestConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a test configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>One or more quotas for AWS Application Testing exceeds the limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The parameters provided in the request conflict with existing resources.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTestConfigurationRequest",
        "variableName" : "deleteTestConfigurationRequest",
        "variableType" : "DeleteTestConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteTestConfigurationRequest",
        "variableSetterType" : "DeleteTestConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTestConfiguration",
      "operationName" : "DeleteTestConfiguration",
      "returnType" : {
        "returnType" : "DeleteTestConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTestConfigurationResult"
    },
    "DeleteTestRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTestRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTestRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTestRunRequest, DeleteTestRunResult>",
      "asyncReturnType" : "DeleteTestRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a test run.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The parameters provided in the request conflict with existing resources.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTestRunRequest",
        "variableName" : "deleteTestRunRequest",
        "variableType" : "DeleteTestRunRequest",
        "documentation" : "",
        "simpleType" : "DeleteTestRunRequest",
        "variableSetterType" : "DeleteTestRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTestRun",
      "operationName" : "DeleteTestRun",
      "returnType" : {
        "returnType" : "DeleteTestRunResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTestRunResult"
    },
    "DeleteTestSuite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTestSuiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTestSuiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTestSuiteRequest, DeleteTestSuiteResult>",
      "asyncReturnType" : "DeleteTestSuiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a test suite.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>One or more quotas for AWS Application Testing exceeds the limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The parameters provided in the request conflict with existing resources.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTestSuiteRequest",
        "variableName" : "deleteTestSuiteRequest",
        "variableType" : "DeleteTestSuiteRequest",
        "documentation" : "",
        "simpleType" : "DeleteTestSuiteRequest",
        "variableSetterType" : "DeleteTestSuiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTestSuite",
      "operationName" : "DeleteTestSuite",
      "returnType" : {
        "returnType" : "DeleteTestSuiteResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTestSuiteResult"
    },
    "GetTestCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTestCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTestCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTestCaseRequest, GetTestCaseResult>",
      "asyncReturnType" : "GetTestCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a test case.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTestCaseRequest",
        "variableName" : "getTestCaseRequest",
        "variableType" : "GetTestCaseRequest",
        "documentation" : "",
        "simpleType" : "GetTestCaseRequest",
        "variableSetterType" : "GetTestCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTestCase",
      "operationName" : "GetTestCase",
      "returnType" : {
        "returnType" : "GetTestCaseResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTestCaseResult"
    },
    "GetTestConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTestConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTestConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTestConfigurationRequest, GetTestConfigurationResult>",
      "asyncReturnType" : "GetTestConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a test configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTestConfigurationRequest",
        "variableName" : "getTestConfigurationRequest",
        "variableType" : "GetTestConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetTestConfigurationRequest",
        "variableSetterType" : "GetTestConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTestConfiguration",
      "operationName" : "GetTestConfiguration",
      "returnType" : {
        "returnType" : "GetTestConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTestConfigurationResult"
    },
    "GetTestRunStep" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTestRunStepResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTestRunStepResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTestRunStepRequest, GetTestRunStepResult>",
      "asyncReturnType" : "GetTestRunStepResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a test run step.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTestRunStepRequest",
        "variableName" : "getTestRunStepRequest",
        "variableType" : "GetTestRunStepRequest",
        "documentation" : "",
        "simpleType" : "GetTestRunStepRequest",
        "variableSetterType" : "GetTestRunStepRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTestRunStep",
      "operationName" : "GetTestRunStep",
      "returnType" : {
        "returnType" : "GetTestRunStepResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTestRunStepResult"
    },
    "GetTestSuite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTestSuiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTestSuiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTestSuiteRequest, GetTestSuiteResult>",
      "asyncReturnType" : "GetTestSuiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a test suite.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTestSuiteRequest",
        "variableName" : "getTestSuiteRequest",
        "variableType" : "GetTestSuiteRequest",
        "documentation" : "",
        "simpleType" : "GetTestSuiteRequest",
        "variableSetterType" : "GetTestSuiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTestSuite",
      "operationName" : "GetTestSuite",
      "returnType" : {
        "returnType" : "GetTestSuiteResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTestSuiteResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTestCases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTestCasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTestCasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTestCasesRequest, ListTestCasesResult>",
      "asyncReturnType" : "ListTestCasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists test cases.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTestCasesRequest",
        "variableName" : "listTestCasesRequest",
        "variableType" : "ListTestCasesRequest",
        "documentation" : "",
        "simpleType" : "ListTestCasesRequest",
        "variableSetterType" : "ListTestCasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTestCases",
      "operationName" : "ListTestCases",
      "returnType" : {
        "returnType" : "ListTestCasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTestCasesResult"
    },
    "ListTestConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTestConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTestConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTestConfigurationsRequest, ListTestConfigurationsResult>",
      "asyncReturnType" : "ListTestConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists test configurations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTestConfigurationsRequest",
        "variableName" : "listTestConfigurationsRequest",
        "variableType" : "ListTestConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListTestConfigurationsRequest",
        "variableSetterType" : "ListTestConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTestConfigurations",
      "operationName" : "ListTestConfigurations",
      "returnType" : {
        "returnType" : "ListTestConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTestConfigurationsResult"
    },
    "ListTestRunSteps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTestRunStepsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTestRunStepsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTestRunStepsRequest, ListTestRunStepsResult>",
      "asyncReturnType" : "ListTestRunStepsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists test run steps.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTestRunStepsRequest",
        "variableName" : "listTestRunStepsRequest",
        "variableType" : "ListTestRunStepsRequest",
        "documentation" : "",
        "simpleType" : "ListTestRunStepsRequest",
        "variableSetterType" : "ListTestRunStepsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTestRunSteps",
      "operationName" : "ListTestRunSteps",
      "returnType" : {
        "returnType" : "ListTestRunStepsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTestRunStepsResult"
    },
    "ListTestRunTestCases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTestRunTestCasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTestRunTestCasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTestRunTestCasesRequest, ListTestRunTestCasesResult>",
      "asyncReturnType" : "ListTestRunTestCasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists test run test cases.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTestRunTestCasesRequest",
        "variableName" : "listTestRunTestCasesRequest",
        "variableType" : "ListTestRunTestCasesRequest",
        "documentation" : "",
        "simpleType" : "ListTestRunTestCasesRequest",
        "variableSetterType" : "ListTestRunTestCasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTestRunTestCases",
      "operationName" : "ListTestRunTestCases",
      "returnType" : {
        "returnType" : "ListTestRunTestCasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTestRunTestCasesResult"
    },
    "ListTestRuns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTestRunsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTestRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTestRunsRequest, ListTestRunsResult>",
      "asyncReturnType" : "ListTestRunsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists test runs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTestRunsRequest",
        "variableName" : "listTestRunsRequest",
        "variableType" : "ListTestRunsRequest",
        "documentation" : "",
        "simpleType" : "ListTestRunsRequest",
        "variableSetterType" : "ListTestRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTestRuns",
      "operationName" : "ListTestRuns",
      "returnType" : {
        "returnType" : "ListTestRunsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTestRunsResult"
    },
    "ListTestSuites" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTestSuitesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTestSuitesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTestSuitesRequest, ListTestSuitesResult>",
      "asyncReturnType" : "ListTestSuitesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists test suites.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTestSuitesRequest",
        "variableName" : "listTestSuitesRequest",
        "variableType" : "ListTestSuitesRequest",
        "documentation" : "",
        "simpleType" : "ListTestSuitesRequest",
        "variableSetterType" : "ListTestSuitesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTestSuites",
      "operationName" : "ListTestSuites",
      "returnType" : {
        "returnType" : "ListTestSuitesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTestSuitesResult"
    },
    "StartTestRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartTestRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartTestRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartTestRunRequest, StartTestRunResult>",
      "asyncReturnType" : "StartTestRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a test run.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>One or more quotas for AWS Application Testing exceeds the limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The parameters provided in the request conflict with existing resources.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartTestRunRequest",
        "variableName" : "startTestRunRequest",
        "variableType" : "StartTestRunRequest",
        "documentation" : "",
        "simpleType" : "StartTestRunRequest",
        "variableSetterType" : "StartTestRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startTestRun",
      "operationName" : "StartTestRun",
      "returnType" : {
        "returnType" : "StartTestRunResult",
        "documentation" : null
      },
      "syncReturnType" : "StartTestRunResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specifies tags of a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>One or more quotas for AWS Application Testing exceeds the limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Untags a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateTestCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTestCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTestCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTestCaseRequest, UpdateTestCaseResult>",
      "asyncReturnType" : "UpdateTestCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a test case.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The parameters provided in the request conflict with existing resources.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTestCaseRequest",
        "variableName" : "updateTestCaseRequest",
        "variableType" : "UpdateTestCaseRequest",
        "documentation" : "",
        "simpleType" : "UpdateTestCaseRequest",
        "variableSetterType" : "UpdateTestCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTestCase",
      "operationName" : "UpdateTestCase",
      "returnType" : {
        "returnType" : "UpdateTestCaseResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTestCaseResult"
    },
    "UpdateTestConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTestConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTestConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTestConfigurationRequest, UpdateTestConfigurationResult>",
      "asyncReturnType" : "UpdateTestConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a test configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The parameters provided in the request conflict with existing resources.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTestConfigurationRequest",
        "variableName" : "updateTestConfigurationRequest",
        "variableType" : "UpdateTestConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateTestConfigurationRequest",
        "variableSetterType" : "UpdateTestConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTestConfiguration",
      "operationName" : "UpdateTestConfiguration",
      "returnType" : {
        "returnType" : "UpdateTestConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTestConfigurationResult"
    },
    "UpdateTestSuite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTestSuiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTestSuiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTestSuiteRequest, UpdateTestSuiteResult>",
      "asyncReturnType" : "UpdateTestSuiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a test suite.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests made exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more parameter provided in the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The parameters provided in the request conflict with existing resources.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTestSuiteRequest",
        "variableName" : "updateTestSuiteRequest",
        "variableType" : "UpdateTestSuiteRequest",
        "documentation" : "",
        "simpleType" : "UpdateTestSuiteRequest",
        "variableSetterType" : "UpdateTestSuiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTestSuite",
      "operationName" : "UpdateTestSuite",
      "returnType" : {
        "returnType" : "UpdateTestSuiteResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTestSuiteResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The account or role doesn't have the right permissions to make the request.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.apptest.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.apptest.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Batch" : {
      "c2jName" : "Batch",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Defines a batch.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.apptest.model.Batch",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "batchJobName",
        "c2jShape" : "Variable",
        "deprecated" : false,
        "documentation" : "<p>The job name of the batch.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The job name of the batch.</p>\n@param batchJobName The job name of the batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBatchJobName",
        "getterDocumentation" : "/**<p>The job name of the batch.</p>\n@return The job name of the batch.*/",
        "getterMethodName" : "getBatchJobName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "batchJobName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "batchJobName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BatchJobName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The job name of the batch.</p>\n@param batchJobName The job name of the batch.*/",
        "setterMethodName" : "setBatchJobName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "batchJobName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The job name of the batch.</p>\n@param batchJobName The job name of the batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "batchJobName",
          "variableType" : "String",
          "documentation" : "<p>The job name of the batch.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "batchJobParameters",
        "c2jShape" : "BatchJobParameters",
        "deprecated" : false,
        "documentation" : "<p>The batch job parameters of the batch.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The batch job parameters of the batch.</p>\n@param batchJobParameters The batch job parameters of the batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBatchJobParameters",
        "getterDocumentation" : "/**<p>The batch job parameters of the batch.</p>\n@return The batch job parameters of the batch.*/",
        "getterMethodName" : "getBatchJobParameters",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "batchJobParameters",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "batchJobParameters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "BatchJobParameters",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The batch job parameters of the batch.</p>\n@param batchJobParameters The batch job parameters of the batch.*/",
        "setterMethodName" : "setBatchJobParameters",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "batchJobParameters",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The batch job parameters of the batch.</p>\n@param batchJobParameters The batch job parameters of the batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "batchJobParameters",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>The batch job parameters of the batch.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "exportDataSetNames",
        "c2jShape" : "ExportDataSetNames",
        "deprecated" : false,
        "documentation" : "<p>The export data set names of the batch.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The export data set names of the batch.</p>\n@param exportDataSetNames The export data set names of the batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExportDataSetNames",
        "getterDocumentation" : "/**<p>The export data set names of the batch.</p>\n@return The export data set names of the batch.*/",
        "getterMethodName" : "getExportDataSetNames",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "exportDataSetNames",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "exportDataSetNames",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "String100",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ExportDataSetNames",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The export data set names of the batch.</p>\n@param exportDataSetNames The export data set names of the batch.*/",
        "setterMethodName" : "setExportDataSetNames",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "exportDataSetNames",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The export data set names of the batch.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setExportDataSetNames(java.util.Collection)} or {@link #withExportDataSetNames(java.util.Collection)} if you want to override the existing values.</p>\n@param exportDataSetNames The export data set names of the batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "exportDataSetNames",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The export data set names of the batch.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BatchJobName" : {
          "c2jName" : "batchJobName",
          "c2jShape" : "Variable",
          "deprecated" : false,
          "documentation" : "<p>The job name of the batch.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The job name of the batch.</p>\n@param batchJobName The job name of the batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBatchJobName",
          "getterDocumentation" : "/**<p>The job name of the batch.</p>\n@return The job name of the batch.*/",
          "getterMethodName" : "getBatchJobName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "batchJobName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "batchJobName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BatchJobName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The job name of the batch.</p>\n@param batchJobName The job name of the batch.*/",
          "setterMethodName" : "setBatchJobName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "batchJobName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The job name of the batch.</p>\n@param batchJobName The job name of the batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "batchJobName",
            "variableType" : "String",
            "documentation" : "<p>The job name of the batch.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "BatchJobParameters" : {
          "c2jName" : "batchJobParameters",
          "c2jShape" : "BatchJobParameters",
          "deprecated" : false,
          "documentation" : "<p>The batch job parameters of the batch.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The batch job parameters of the batch.</p>\n@param batchJobParameters The batch job parameters of the batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBatchJobParameters",
          "getterDocumentation" : "/**<p>The batch job parameters of the batch.</p>\n@return The batch job parameters of the batch.*/",
          "getterMethodName" : "getBatchJobParameters",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "batchJobParameters",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "batchJobParameters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "String",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "String",
            "entryType" : "Map.Entry<String, String>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,String>",
            "templateType" : "java.util.Map<String,String>",
            "valueList" : false,
            "valueSimple" : true
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "BatchJobParameters",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The batch job parameters of the batch.</p>\n@param batchJobParameters The batch job parameters of the batch.*/",
          "setterMethodName" : "setBatchJobParameters",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "batchJobParameters",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The batch job parameters of the batch.</p>\n@param batchJobParameters The batch job parameters of the batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "batchJobParameters",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "<p>The batch job parameters of the batch.</p>",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "xmlNameSpaceUri" : null
        },
        "ExportDataSetNames" : {
          "c2jName" : "exportDataSetNames",
          "c2jShape" : "ExportDataSetNames",
          "deprecated" : false,
          "documentation" : "<p>The export data set names of the batch.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The export data set names of the batch.</p>\n@param exportDataSetNames The export data set names of the batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExportDataSetNames",
          "getterDocumentation" : "/**<p>The export data set names of the batch.</p>\n@return The export data set names of the batch.*/",
          "getterMethodName" : "getExportDataSetNames",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "exportDataSetNames",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "exportDataSetNames",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "String100",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ExportDataSetNames",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The export data set names of the batch.</p>\n@param exportDataSetNames The export data set names of the batch.*/",
          "setterMethodName" : "setExportDataSetNames",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "exportDataSetNames",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The export data set names of the batch.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setExportDataSetNames(java.util.Collection)} or {@link #withExportDataSetNames(java.util.Collection)} if you want to override the existing values.</p>\n@param exportDataSetNames The export data set names of the batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "exportDataSetNames",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The export data set names of the batch.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.apptest.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "batchJobName" ],
      "shapeName" : "Batch",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Batch",
        "variableName" : "batch",
        "variableType" : "Batch",
        "documentation" : null,
        "simpleType" : "Batch",
        "variableSetterType" : "Batch"
      },
      "wrapper" : false
    },
    "BatchStepInput" : {
      "c2jName" : "BatchStepInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Defines a batch step input.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.apptest.model.BatchStepInput",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "resource",
        "c2jShape" : "MainframeResourceSummary",
        "deprecated" : false,
        "documentation" : "<p>The resource of the batch step input.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The resource of the batch step input.</p>\n@param resource The resource of the batch step input.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResource",
        "getterDocumentation" : "/**<p>The resource of the batch step input.</p>\n@return The resource of the batch step input.*/",
        "getterMethodName" : "getResource",
        "getterModel" : {
          "returnType" : "MainframeResourceSummary",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
[...]
