{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSArtifactAsyncClient",
    "asyncClientBuilderClassName" : "AWSArtifactAsyncClientBuilder",
    "asyncInterface" : "AWSArtifactAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSArtifactModuleInjector",
    "defaultEndpoint" : "artifact.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "artifact.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This reference provides descriptions of the low-level AWS Artifact Service API.</p>",
    "endpointPrefix" : "artifact",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.artifact",
    "packagePath" : "com/amazonaws/services/artifact",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Artifact",
    "serviceId" : "Artifact",
    "serviceName" : "AWS Artifact",
    "signingName" : "artifact",
    "smokeTestsPackageName" : "com.amazonaws.services.artifact.smoketests",
    "syncClient" : "AWSArtifactClient",
    "syncClientBuilderClassName" : "AWSArtifactClientBuilder",
    "syncInterface" : "AWSArtifact",
    "uid" : "artifact-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetAccountSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountSettingsRequest, GetAccountSettingsResult>",
      "asyncReturnType" : "GetAccountSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the account settings for Artifact.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Request to create/modify content would result in a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown server exception has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Request fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountSettingsRequest",
        "variableName" : "getAccountSettingsRequest",
        "variableType" : "GetAccountSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetAccountSettingsRequest",
        "variableSetterType" : "GetAccountSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccountSettings",
      "operationName" : "GetAccountSettings",
      "returnType" : {
        "returnType" : "GetAccountSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccountSettingsResult"
    },
    "GetReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReportRequest, GetReportResult>",
      "asyncReturnType" : "GetReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the content for a single report.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Request to create/modify content would result in a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown server exception has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Request fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReportRequest",
        "variableName" : "getReportRequest",
        "variableType" : "GetReportRequest",
        "documentation" : "",
        "simpleType" : "GetReportRequest",
        "variableSetterType" : "GetReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReport",
      "operationName" : "GetReport",
      "returnType" : {
        "returnType" : "GetReportResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReportResult"
    },
    "GetReportMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReportMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReportMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReportMetadataRequest, GetReportMetadataResult>",
      "asyncReturnType" : "GetReportMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the metadata for a single report.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown server exception has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Request fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReportMetadataRequest",
        "variableName" : "getReportMetadataRequest",
        "variableType" : "GetReportMetadataRequest",
        "documentation" : "",
        "simpleType" : "GetReportMetadataRequest",
        "variableSetterType" : "GetReportMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReportMetadata",
      "operationName" : "GetReportMetadata",
      "returnType" : {
        "returnType" : "GetReportMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReportMetadataResult"
    },
    "GetTermForReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTermForReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTermForReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTermForReportRequest, GetTermForReportResult>",
      "asyncReturnType" : "GetTermForReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the Term content associated with a single report.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Request to create/modify content would result in a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown server exception has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Request fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTermForReportRequest",
        "variableName" : "getTermForReportRequest",
        "variableType" : "GetTermForReportRequest",
        "documentation" : "",
        "simpleType" : "GetTermForReportRequest",
        "variableSetterType" : "GetTermForReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTermForReport",
      "operationName" : "GetTermForReport",
      "returnType" : {
        "returnType" : "GetTermForReportResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTermForReportResult"
    },
    "ListReports" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReportsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReportsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReportsRequest, ListReportsResult>",
      "asyncReturnType" : "ListReportsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List available reports.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown server exception has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Request fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListReportsRequest",
        "variableName" : "listReportsRequest",
        "variableType" : "ListReportsRequest",
        "documentation" : "",
        "simpleType" : "ListReportsRequest",
        "variableSetterType" : "ListReportsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReports",
      "operationName" : "ListReports",
      "returnType" : {
        "returnType" : "ListReportsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListReportsResult"
    },
    "PutAccountSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAccountSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAccountSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAccountSettingsRequest, PutAccountSettingsResult>",
      "asyncReturnType" : "PutAccountSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Put the account settings for Artifact.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Request to create/modify content would result in a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown server exception has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Request fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAccountSettingsRequest",
        "variableName" : "putAccountSettingsRequest",
        "variableType" : "PutAccountSettingsRequest",
        "documentation" : "",
        "simpleType" : "PutAccountSettingsRequest",
        "variableSetterType" : "PutAccountSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAccountSettings",
      "operationName" : "PutAccountSettings",
      "returnType" : {
        "returnType" : "PutAccountSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAccountSettingsResult"
    }
  },
  "shapes" : {
    "AcceptanceType" : {
      "c2jName" : "AcceptanceType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "PASSTHROUGH",
        "value" : "PASSTHROUGH"
      }, {
        "name" : "EXPLICIT",
        "value" : "EXPLICIT"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.artifact.enum.AcceptanceType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.artifact.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AcceptanceType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptanceType",
        "variableName" : "acceptanceType",
        "variableType" : "AcceptanceType",
        "documentation" : null,
        "simpleType" : "AcceptanceType",
        "variableSetterType" : "AcceptanceType"
      },
      "wrapper" : false
    },
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.artifact.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.artifact.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccountSettings" : {
      "c2jName" : "AccountSettings",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Account settings for the customer.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.artifact.model.AccountSettings",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "notificationSubscriptionStatus",
        "c2jShape" : "NotificationSubscriptionStatus",
        "deprecated" : false,
        "documentation" : "<p>Notification subscription status of the customer.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "NotificationSubscriptionStatus",
        "fluentSetterDocumentation" : "/**<p>Notification subscription status of the customer.</p>\n@param notificationSubscriptionStatus Notification subscription status of the customer.\n@return Returns a reference to this object so that method calls can be chained together.\n@see NotificationSubscriptionStatus*/",
        "fluentSetterMethodName" : "withNotificationSubscriptionStatus",
        "getterDocumentation" : "/**<p>Notification subscription status of the customer.</p>\n@return Notification subscription status of the customer.\n@see NotificationSubscriptionStatus*/",
        "getterMethodName" : "getNotificationSubscriptionStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "notificationSubscriptionStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "notificationSubscriptionStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NotificationSubscriptionStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Notification subscription status of the customer.</p>\n@param notificationSubscriptionStatus Notification subscription status of the customer.\n@see NotificationSubscriptionStatus*/",
        "setterMethodName" : "setNotificationSubscriptionStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "notificationSubscriptionStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Notification subscription status of the customer.</p>\n@param notificationSubscriptionStatus Notification subscription status of the customer.\n@return Returns a reference to this object so that method calls can be chained together.\n@see NotificationSubscriptionStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "notificationSubscriptionStatus",
          "variableType" : "String",
          "documentation" : "<p>Notification subscription status of the customer.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "NotificationSubscriptionStatus" : {
          "c2jName" : "notificationSubscriptionStatus",
          "c2jShape" : "NotificationSubscriptionStatus",
          "deprecated" : false,
          "documentation" : "<p>Notification subscription status of the customer.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "NotificationSubscriptionStatus",
          "fluentSetterDocumentation" : "/**<p>Notification subscription status of the customer.</p>\n@param notificationSubscriptionStatus Notification subscription status of the customer.\n@return Returns a reference to this object so that method calls can be chained together.\n@see NotificationSubscriptionStatus*/",
          "fluentSetterMethodName" : "withNotificationSubscriptionStatus",
          "getterDocumentation" : "/**<p>Notification subscription status of the customer.</p>\n@return Notification subscription status of the customer.\n@see NotificationSubscriptionStatus*/",
          "getterMethodName" : "getNotificationSubscriptionStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "notificationSubscriptionStatus",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "notificationSubscriptionStatus",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "NotificationSubscriptionStatus",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Notification subscription status of the customer.</p>\n@param notificationSubscriptionStatus Notification subscription status of the customer.\n@see NotificationSubscriptionStatus*/",
          "setterMethodName" : "setNotificationSubscriptionStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "notificationSubscriptionStatus",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Notification subscription status of the customer.</p>\n@param notificationSubscriptionStatus Notification subscription status of the customer.\n@return Returns a reference to this object so that method calls can be chained together.\n@see NotificationSubscriptionStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "notificationSubscriptionStatus",
            "variableType" : "String",
            "documentation" : "<p>Notification subscription status of the customer.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.artifact.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccountSettings",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountSettings",
        "variableName" : "accountSettings",
        "variableType" : "AccountSettings",
        "documentation" : null,
        "simpleType" : "AccountSettings",
        "variableSetterType" : "AccountSettings"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Request to create/modify content would result in a conflict.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.artifact.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "resourceId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Identifier of the affected resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Identifier of the affected resource.</p>\n@param resourceId Identifier of the affected resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceId",
        "getterDocumentation" : "/**<p>Identifier of the affected resource.</p>\n@return Identifier of the affected resource.*/",
        "getterMethodName" : "getResourceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Identifier of the affected resource.</p>\n@param resourceId Identifier of the affected resource.*/",
        "setterMethodName" : "setResourceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Identifier of the affected resource.</p>\n@param resourceId Identifier of the affected resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "<p>Identifier of the affected resource.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "resourceType",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Type of the affected resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Type of the affected resource.</p>\n@param resourceType Type of the affected resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceType",
        "getterDocumentation" : "/**<p>Type of the affected resource.</p>\n@return Type of the affected resource.*/",
        "getterMethodName" : "getResourceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Type of the affected resource.</p>\n@param resourceType Type of the affected resource.*/",
        "setterMethodName" : "setResourceType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Type of the affected resource.</p>\n@param resourceType Type of the affected resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "<p>Type of the affected resource.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceId" : {
          "c2jName" : "resourceId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Identifier of the affected resource.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Identifier of the affected resource.</p>\n@param resourceId Identifier of the affected resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceId",
          "getterDocumentation" : "/**<p>Identifier of the affected resource.</p>\n@return Identifier of the affected resource.*/",
          "getterMethodName" : "getResourceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Identifier of the affected resource.</p>\n@param resourceId Identifier of the affected resource.*/",
          "setterMethodName" : "setResourceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Identifier of the affected resource.</p>\n@param resourceId Identifier of the affected resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "<p>Identifier of the affected resource.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceType" : {
          "c2jName" : "resourceType",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Type of the affected resource.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Type of the affected resource.</p>\n@param resourceType Type of the affected resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceType",
          "getterDocumentation" : "/**<p>Type of the affected resource.</p>\n@return Type of the affected resource.*/",
          "getterMethodName" : "getResourceType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Type of the affected resource.</p>\n@param resourceType Type of the affected resource.*/",
          "setterMethodName" : "setResourceType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Type of the affected resource.</p>\n@param resourceType Type of the affected resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "<p>Type of the affected resource.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.artifact.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message", "resourceId", "resourceType" ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "GetAccountSettingsRequest" : {
      "c2jName" : "GetAccountSettingsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.artifact.request.GetAccountSettingsRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetAccountSettings",
        "locationName" : null,
        "requestUri" : "/v1/account-settings/get",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.artifact.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "GetAccountSettingsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountSettingsRequest",
        "variableName" : "getAccountSettingsRequest",
        "variableType" : "GetAccountSettingsRequest",
        "documentation" : null,
        "simpleType" : "GetAccountSettingsRequest",
        "variableSetterType" : "GetAccountSettingsRequest"
      },
      "wrapper" : false
    },
    "GetAccountSettingsResult" : {
      "c2jName" : "GetAccountSettingsResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.artifact.response.GetAccountSettingsResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "accountSettings",
        "c2jShape" : "AccountSettings",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param accountSettings \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountSettings",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getAccountSettings",
        "getterModel" : {
          "returnType" : "AccountSettings",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "accountSettings",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "accountSettings",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AccountSettings",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param accountSettings */",
        "setterMethodName" : "setAccountSettings",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AccountSettings",
          "variableName" : "accountSettings",
          "variableType" : "AccountSettings",
          "documentation" : "",
          "simpleType" : "AccountSettings",
          "variableSetterType" : "AccountSettings"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param accountSettings \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AccountSettings",
          "variableName" : "accountSettings",
          "variableType" : "AccountSettings",
          "documentation" : "",
          "simpleType" : "AccountSettings",
          "variableSetterType" : "AccountSettings"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccountSettings" : {
          "c2jName" : "accountSettings",
          "c2jShape" : "AccountSettings",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param accountSettings \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccountSettings",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getAccountSettings",
          "getterModel" : {
            "returnType" : "AccountSettings",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "accountSettings",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "accountSettings",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "AccountSettings",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param accountSettings */",
          "setterMethodName" : "setAccountSettings",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AccountSettings",
            "variableName" : "accountSettings",
            "variableType" : "AccountSettings",
            "documentation" : "",
            "simpleType" : "AccountSettings",
            "variableSetterType" : "AccountSettings"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param accountSettings \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AccountSettings",
            "variableName" : "accountSettings",
            "variableType" : "AccountSettings",
            "documentation" : "",
            "simpleType" : "AccountSettings",
            "variableSetterType" : "AccountSettings"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.artifact.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "GetAccountSettingsResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountSettingsResult",
        "variableName" : "getAccountSettingsResult",
        "variableType" : "GetAccountSettingsResult",
        "documentation" : null,
        "simpleType" : "GetAccountSettingsResult",
        "variableSetterType" : "GetAccountSettingsResult"
      },
      "wrapper" : false
    },
    "GetReportMetadataRequest" : {
      "c2jName" : "GetReportMetadataRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.artifact.request.GetReportMetadataRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetReportMetadata",
        "locationName" : null,
        "requestUri" : "/v1/report/getMetadata",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "reportId",
        "c2jShape" : "ReportId",
        "deprecated" : false,
        "documentation" : "<p>Unique resource ID for the report resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@param reportId Unique resource ID for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportId",
        "getterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@return Unique resource ID for the report resource.*/",
        "getterMethodName" : "getReportId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "reportId",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "reportId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReportId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@param reportId Unique resource ID for the report resource.*/",
        "setterMethodName" : "setReportId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@param reportId Unique resource ID for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportId",
          "variableType" : "String",
          "documentation" : "<p>Unique resource ID for the report resource.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "reportVersion",
        "c2jShape" : "VersionAttribute",
        "deprecated" : false,
        "documentation" : "<p>Version for the report resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Version for the report resource.</p>\n@param reportVersion Version for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportVersion",
        "getterDocumentation" : "/**<p>Version for the report resource.</p>\n@return Version for the report resource.*/",
        "getterMethodName" : "getReportVersion",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "reportVersion",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "reportVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ReportVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Version for the report resource.</p>\n@param reportVersion Version for the report resource.*/",
        "setterMethodName" : "setReportVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "reportVersion",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Version for the report resource.</p>\n@param reportVersion Version for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "reportVersion",
          "variableType" : "Long",
          "documentation" : "<p>Version for the report resource.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ReportId" : {
          "c2jName" : "reportId",
          "c2jShape" : "ReportId",
          "deprecated" : false,
          "documentation" : "<p>Unique resource ID for the report resource.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@param reportId Unique resource ID for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportId",
          "getterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@return Unique resource ID for the report resource.*/",
          "getterMethodName" : "getReportId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "reportId",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "reportId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ReportId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@param reportId Unique resource ID for the report resource.*/",
          "setterMethodName" : "setReportId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@param reportId Unique resource ID for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportId",
            "variableType" : "String",
            "documentation" : "<p>Unique resource ID for the report resource.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ReportVersion" : {
          "c2jName" : "reportVersion",
          "c2jShape" : "VersionAttribute",
          "deprecated" : false,
          "documentation" : "<p>Version for the report resource.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Version for the report resource.</p>\n@param reportVersion Version for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportVersion",
          "getterDocumentation" : "/**<p>Version for the report resource.</p>\n@return Version for the report resource.*/",
          "getterMethodName" : "getReportVersion",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "reportVersion",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "reportVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "ReportVersion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Version for the report resource.</p>\n@param reportVersion Version for the report resource.*/",
          "setterMethodName" : "setReportVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "reportVersion",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Version for the report resource.</p>\n@param reportVersion Version for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "reportVersion",
            "variableType" : "Long",
            "documentation" : "<p>Version for the report resource.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.artifact.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "reportId" ],
      "shapeName" : "GetReportMetadataRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReportMetadataRequest",
        "variableName" : "getReportMetadataRequest",
        "variableType" : "GetReportMetadataRequest",
        "documentation" : null,
        "simpleType" : "GetReportMetadataRequest",
        "variableSetterType" : "GetReportMetadataRequest"
      },
      "wrapper" : false
    },
    "GetReportMetadataResult" : {
      "c2jName" : "GetReportMetadataResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.artifact.response.GetReportMetadataResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "reportDetails",
        "c2jShape" : "ReportDetail",
        "deprecated" : false,
        "documentation" : "<p>Report resource detail.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Report resource detail.</p>\n@param reportDetails Report resource detail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportDetails",
        "getterDocumentation" : "/**<p>Report resource detail.</p>\n@return Report resource detail.*/",
        "getterMethodName" : "getReportDetails",
        "getterModel" : {
          "returnType" : "ReportDetail",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "reportDetails",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "reportDetails",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ReportDetails",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Report resource detail.</p>\n@param reportDetails Report resource detail.*/",
        "setterMethodName" : "setReportDetails",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ReportDetail",
          "variableName" : "reportDetails",
          "variableType" : "ReportDetail",
          "documentation" : "",
          "simpleType" : "ReportDetail",
          "variableSetterType" : "ReportDetail"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Report resource detail.</p>\n@param reportDetails Report resource detail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ReportDetail",
          "variableName" : "reportDetails",
          "variableType" : "ReportDetail",
          "documentation" : "<p>Report resource detail.</p>",
          "simpleType" : "ReportDetail",
          "variableSetterType" : "ReportDetail"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ReportDetails" : {
          "c2jName" : "reportDetails",
          "c2jShape" : "ReportDetail",
          "deprecated" : false,
          "documentation" : "<p>Report resource detail.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Report resource detail.</p>\n@param reportDetails Report resource detail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportDetails",
          "getterDocumentation" : "/**<p>Report resource detail.</p>\n@return Report resource detail.*/",
          "getterMethodName" : "getReportDetails",
          "getterModel" : {
            "returnType" : "ReportDetail",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "reportDetails",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "reportDetails",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ReportDetails",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Report resource detail.</p>\n@param reportDetails Report resource detail.*/",
          "setterMethodName" : "setReportDetails",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ReportDetail",
            "variableName" : "reportDetails",
            "variableType" : "ReportDetail",
            "documentation" : "",
            "simpleType" : "ReportDetail",
            "variableSetterType" : "ReportDetail"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Report resource detail.</p>\n@param reportDetails Report resource detail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ReportDetail",
            "variableName" : "reportDetails",
            "variableType" : "ReportDetail",
            "documentation" : "<p>Report resource detail.</p>",
            "simpleType" : "ReportDetail",
            "variableSetterType" : "ReportDetail"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.artifact.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "GetReportMetadataResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReportMetadataResult",
        "variableName" : "getReportMetadataResult",
        "variableType" : "GetReportMetadataResult",
        "documentation" : null,
        "simpleType" : "GetReportMetadataResult",
        "variableSetterType" : "GetReportMetadataResult"
      },
      "wrapper" : false
    },
    "GetReportRequest" : {
      "c2jName" : "GetReportRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.artifact.request.GetReportRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetReport",
        "locationName" : null,
        "requestUri" : "/v1/report/get",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "reportId",
        "c2jShape" : "ReportId",
        "deprecated" : false,
        "documentation" : "<p>Unique resource ID for the report resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@param reportId Unique resource ID for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportId",
        "getterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@return Unique resource ID for the report resource.*/",
        "getterMethodName" : "getReportId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "reportId",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "reportId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReportId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@param reportId Unique resource ID for the report resource.*/",
        "setterMethodName" : "setReportId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@param reportId Unique resource ID for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportId",
          "variableType" : "String",
          "documentation" : "<p>Unique resource ID for the report resource.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "reportVersion",
        "c2jShape" : "VersionAttribute",
        "deprecated" : false,
        "documentation" : "<p>Version for the report resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Version for the report resource.</p>\n@param reportVersion Version for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportVersion",
        "getterDocumentation" : "/**<p>Version for the report resource.</p>\n@return Version for the report resource.*/",
        "getterMethodName" : "getReportVersion",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "reportVersion",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "reportVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ReportVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Version for the report resource.</p>\n@param reportVersion Version for the report resource.*/",
        "setterMethodName" : "setReportVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "reportVersion",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Version for the report resource.</p>\n@param reportVersion Version for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "reportVersion",
          "variableType" : "Long",
          "documentation" : "<p>Version for the report resource.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "termToken",
        "c2jShape" : "ShortStringAttribute",
        "deprecated" : false,
        "documentation" : "<p>Unique download token provided by GetTermForReport API.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique download token provided by GetTermForReport API.</p>\n@param termToken Unique download token provided by GetTermForReport API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTermToken",
        "getterDocumentation" : "/**<p>Unique download token provided by GetTermForReport API.</p>\n@return Unique download token provided by GetTermForReport API.*/",
        "getterMethodName" : "getTermToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "termToken",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "termToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TermToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique download token provided by GetTermForReport API.</p>\n@param termToken Unique download token provided by GetTermForReport API.*/",
        "setterMethodName" : "setTermToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "termToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique download token provided by GetTermForReport API.</p>\n@param termToken Unique download token provided by GetTermForReport API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "termToken",
          "variableType" : "String",
          "documentation" : "<p>Unique download token provided by GetTermForReport API.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ReportId" : {
          "c2jName" : "reportId",
          "c2jShape" : "ReportId",
          "deprecated" : false,
          "documentation" : "<p>Unique resource ID for the report resource.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@param reportId Unique resource ID for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportId",
          "getterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@return Unique resource ID for the report resource.*/",
          "getterMethodName" : "getReportId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "reportId",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "reportId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ReportId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@param reportId Unique resource ID for the report resource.*/",
          "setterMethodName" : "setReportId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unique resource ID for the report resource.</p>\n@param reportId Unique resource ID for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportId",
            "variableType" : "String",
            "documentation" : "<p>Unique resource ID for the report resource.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ReportVersion" : {
          "c2jName" : "reportVersion",
          "c2jShape" : "VersionAttribute",
          "deprecated" : false,
          "documentation" : "<p>Version for the report resource.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Version for the report resource.</p>\n@param reportVersion Version for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportVersion",
          "getterDocumentation" : "/**<p>Version for the report resource.</p>\n@return Version for the report resource.*/",
          "getterMethodName" : "getReportVersion",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "reportVersion",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "reportVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "ReportVersion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Version for the report resource.</p>\n@param reportVersion Version for the report resource.*/",
          "setterMethodName" : "setReportVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "reportVersion",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Version for the report resource.</p>\n@param reportVersion Version for the report resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "reportVersion",
            "variableType" : "Long",
            "documentation" : "<p>Version for the report resource.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "TermToken" : {
          "c2jName" : "termToken",
          "c2jShape" : "ShortStringAttribute",
          "deprecated" : false,
          "documentation" : "<p>Unique download token provided by GetTermForReport API.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unique download token provided by GetTermForReport API.</p>\n@param termToken Unique download token provided by GetTermForReport API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTermToken",
          "getterDocumentation" : "/**<p>Unique download token provided by GetTermForReport API.</p>\n@return Unique download token provided by GetTermForReport API.*/",
          "getterMethodName" : "getTermToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "termToken",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "termToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TermToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Unique download token provided by GetTermForReport API.</p>\n@param termToken Unique download token provided by GetTermForReport API.*/",
          "setterMethodName" : "setTermToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "termToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unique download token provided by GetTermForReport API.</p>\n@param termToken Unique download token provided by GetTermForReport API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "termToken",
            "variableType" : "String",
            "documentation" : "<p>Unique download token provided by GetTermForReport API.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.artifact.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "reportId", "termToken" ],
      "shapeName" : "GetReportRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReportRequest",
        "variableName" : "getReportRequest",
        "variableType" : "GetReportRequest",
        "documentation" : null,
        "simpleType" : "GetReportRequest",
        "variableSetterType" : "GetReportRequest"
      },
      "wrapper" : false
    },
    "GetReportResult" : {
      "c2jName" : "GetReportResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.artifact.response.GetReportResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "documentPresignedUrl",
        "c2jShape" : "GetReportResponseDocumentPresignedUrlString",
        "deprecated" : false,
        "documentation" : "<p>Presigned S3 url to access the report content.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Presigned S3 url to access the report content.</p>\n@param documentPresignedUrl Presigned S3 url to access the report content.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDocumentPresignedUrl",
        "getterDocumentation" : "/**<p>Presigned S3 url to access the report content.</p>\n@return Presigned S3 url to access the report content.*/",
        "getterMethodName" : "getDocumentPresignedUrl",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "documentPresignedUrl",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "documentPresignedUrl",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DocumentPresignedUrl",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Presigned S3 url to access the report content.</p>\n@param documentPresignedUrl Presigned S3 url to access the report content.*/",
        "setterMethodName" : "setDocumentPresignedUrl",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "documentPresignedUrl",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Presigned S3 url to access the report content.</p>\n@param documentPresignedUrl Presigned S3 url to access the report content.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "documentPresignedUrl",
          "variableType" : "String",
          "documentation" : "<p>Presigned S3 url to access the report content.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
[...]
