{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : {
      "ColumnInfo" : [ "Nullable" ],
      "EncryptionConfiguration" : [ "EncryptionOption" ],
      "QueryExecutionStatus" : [ "State" ],
      "TooManyRequestsException" : [ "Reason" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-05-18",
    "asyncClient" : "AmazonAthenaAsyncClient",
    "asyncClientBuilderClassName" : "AmazonAthenaAsyncClientBuilder",
    "asyncInterface" : "AmazonAthenaAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonAthenaModuleInjector",
    "defaultEndpoint" : "athena.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "athena.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Athena is an interactive query service that lets you use standard SQL to analyze data directly in Amazon S3. You can point Athena at your data in Amazon S3 and run ad-hoc queries and get results in seconds. Athena is serverless, so there is no infrastructure to set up or manage. You pay only for the queries you run. Athena scales automatically—executing queries in parallel—so results are fast, even with large datasets and complex queries. For more information, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/what-is.html\">What is Amazon Athena</a> in the <i>Amazon Athena User Guide</i>.</p> <p>If you connect to Athena using the JDBC driver, use version 1.1.0 of the driver or later with the Amazon Athena API. Earlier version drivers do not support the API. For more information and to download the driver, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html\">Accessing Amazon Athena with JDBC</a>.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
    "endpointPrefix" : "athena",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.athena",
    "packagePath" : "com/amazonaws/services/athena",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Athena",
    "serviceId" : "Athena",
    "serviceName" : "Amazon Athena",
    "signingName" : "athena",
    "smokeTestsPackageName" : "com.amazonaws.services.athena.smoketests",
    "syncClient" : "AmazonAthenaClient",
    "syncClientBuilderClassName" : "AmazonAthenaClientBuilder",
    "syncInterface" : "AmazonAthena",
    "uid" : "athena-2017-05-18",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetNamedQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetNamedQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetNamedQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetNamedQueryRequest, BatchGetNamedQueryResult>",
      "asyncReturnType" : "BatchGetNamedQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of a single named query or a list of up to 50 queries, which you provide as an array of query ID strings. Use <a>ListNamedQueries</a> to get the list of named query IDs. If information could not be retrieved for a submitted query ID, information about the query ID submitted is listed under <a>UnprocessedNamedQueryId</a>. Named queries are different from executed queries. Use <a>BatchGetQueryExecution</a> to get details about each unique query execution, and <a>ListQueryExecutions</a> to get a list of query execution IDs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetNamedQueryRequest",
        "variableName" : "batchGetNamedQueryRequest",
        "variableType" : "BatchGetNamedQueryRequest",
        "documentation" : "",
        "simpleType" : "BatchGetNamedQueryRequest",
        "variableSetterType" : "BatchGetNamedQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetNamedQuery",
      "operationName" : "BatchGetNamedQuery",
      "returnType" : {
        "returnType" : "BatchGetNamedQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetNamedQueryResult"
    },
    "BatchGetQueryExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetQueryExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetQueryExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetQueryExecutionRequest, BatchGetQueryExecutionResult>",
      "asyncReturnType" : "BatchGetQueryExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of a single query execution or a list of up to 50 query executions, which you provide as an array of query execution ID strings. To get a list of query execution IDs, use <a>ListQueryExecutions</a>. Query executions are different from named (saved) queries. Use <a>BatchGetNamedQuery</a> to get details about named queries.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetQueryExecutionRequest",
        "variableName" : "batchGetQueryExecutionRequest",
        "variableType" : "BatchGetQueryExecutionRequest",
        "documentation" : "",
        "simpleType" : "BatchGetQueryExecutionRequest",
        "variableSetterType" : "BatchGetQueryExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetQueryExecution",
      "operationName" : "BatchGetQueryExecution",
      "returnType" : {
        "returnType" : "BatchGetQueryExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetQueryExecutionResult"
    },
    "CreateNamedQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNamedQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNamedQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNamedQueryRequest, CreateNamedQueryResult>",
      "asyncReturnType" : "CreateNamedQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a named query.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateNamedQueryRequest",
        "variableName" : "createNamedQueryRequest",
        "variableType" : "CreateNamedQueryRequest",
        "documentation" : "",
        "simpleType" : "CreateNamedQueryRequest",
        "variableSetterType" : "CreateNamedQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNamedQuery",
      "operationName" : "CreateNamedQuery",
      "returnType" : {
        "returnType" : "CreateNamedQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateNamedQueryResult"
    },
    "DeleteNamedQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNamedQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNamedQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNamedQueryRequest, DeleteNamedQueryResult>",
      "asyncReturnType" : "DeleteNamedQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a named query.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteNamedQueryRequest",
        "variableName" : "deleteNamedQueryRequest",
        "variableType" : "DeleteNamedQueryRequest",
        "documentation" : "",
        "simpleType" : "DeleteNamedQueryRequest",
        "variableSetterType" : "DeleteNamedQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNamedQuery",
      "operationName" : "DeleteNamedQuery",
      "returnType" : {
        "returnType" : "DeleteNamedQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNamedQueryResult"
    },
    "GetNamedQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNamedQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNamedQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNamedQueryRequest, GetNamedQueryResult>",
      "asyncReturnType" : "GetNamedQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a single query.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetNamedQueryRequest",
        "variableName" : "getNamedQueryRequest",
        "variableType" : "GetNamedQueryRequest",
        "documentation" : "",
        "simpleType" : "GetNamedQueryRequest",
        "variableSetterType" : "GetNamedQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNamedQuery",
      "operationName" : "GetNamedQuery",
      "returnType" : {
        "returnType" : "GetNamedQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetNamedQueryResult"
    },
    "GetQueryExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQueryExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQueryExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQueryExecutionRequest, GetQueryExecutionResult>",
      "asyncReturnType" : "GetQueryExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a single execution of a query. Each time a query executes, information about the query execution is saved with a unique ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQueryExecutionRequest",
        "variableName" : "getQueryExecutionRequest",
        "variableType" : "GetQueryExecutionRequest",
        "documentation" : "",
        "simpleType" : "GetQueryExecutionRequest",
        "variableSetterType" : "GetQueryExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQueryExecution",
      "operationName" : "GetQueryExecution",
      "returnType" : {
        "returnType" : "GetQueryExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQueryExecutionResult"
    },
    "GetQueryResults" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQueryResultsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQueryResultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQueryResultsRequest, GetQueryResultsResult>",
      "asyncReturnType" : "GetQueryResultsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the results of a single query execution specified by <code>QueryExecutionId</code>. This request does not execute the query but returns results. Use <a>StartQueryExecution</a> to run a query.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQueryResultsRequest",
        "variableName" : "getQueryResultsRequest",
        "variableType" : "GetQueryResultsRequest",
        "documentation" : "",
        "simpleType" : "GetQueryResultsRequest",
        "variableSetterType" : "GetQueryResultsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQueryResults",
      "operationName" : "GetQueryResults",
      "returnType" : {
        "returnType" : "GetQueryResultsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQueryResultsResult"
    },
    "ListNamedQueries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNamedQueriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNamedQueriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNamedQueriesRequest, ListNamedQueriesResult>",
      "asyncReturnType" : "ListNamedQueriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of all available query IDs.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNamedQueriesRequest",
        "variableName" : "listNamedQueriesRequest",
        "variableType" : "ListNamedQueriesRequest",
        "documentation" : "",
        "simpleType" : "ListNamedQueriesRequest",
        "variableSetterType" : "ListNamedQueriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNamedQueries",
      "operationName" : "ListNamedQueries",
      "returnType" : {
        "returnType" : "ListNamedQueriesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNamedQueriesResult"
    },
    "ListQueryExecutions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListQueryExecutionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListQueryExecutionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListQueryExecutionsRequest, ListQueryExecutionsResult>",
      "asyncReturnType" : "ListQueryExecutionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of all available query execution IDs.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListQueryExecutionsRequest",
        "variableName" : "listQueryExecutionsRequest",
        "variableType" : "ListQueryExecutionsRequest",
        "documentation" : "",
        "simpleType" : "ListQueryExecutionsRequest",
        "variableSetterType" : "ListQueryExecutionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listQueryExecutions",
      "operationName" : "ListQueryExecutions",
      "returnType" : {
        "returnType" : "ListQueryExecutionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListQueryExecutionsResult"
    },
    "StartQueryExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartQueryExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartQueryExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartQueryExecutionRequest, StartQueryExecutionResult>",
      "asyncReturnType" : "StartQueryExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Runs (executes) the SQL query statements contained in the <code>Query</code> string.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Indicates that the request was throttled and includes the reason for throttling, for example, the limit of concurrent queries has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartQueryExecutionRequest",
        "variableName" : "startQueryExecutionRequest",
        "variableType" : "StartQueryExecutionRequest",
        "documentation" : "",
        "simpleType" : "StartQueryExecutionRequest",
        "variableSetterType" : "StartQueryExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startQueryExecution",
      "operationName" : "StartQueryExecution",
      "returnType" : {
        "returnType" : "StartQueryExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "StartQueryExecutionResult"
    },
    "StopQueryExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopQueryExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopQueryExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopQueryExecutionRequest, StopQueryExecutionResult>",
      "asyncReturnType" : "StopQueryExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a query execution.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopQueryExecutionRequest",
        "variableName" : "stopQueryExecutionRequest",
        "variableType" : "StopQueryExecutionRequest",
        "documentation" : "",
        "simpleType" : "StopQueryExecutionRequest",
        "variableSetterType" : "StopQueryExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopQueryExecution",
      "operationName" : "StopQueryExecution",
      "returnType" : {
        "returnType" : "StopQueryExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "StopQueryExecutionResult"
    }
  },
  "shapes" : {
    "BatchGetNamedQueryRequest" : {
      "c2jName" : "BatchGetNamedQueryInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchGetNamedQuery",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AmazonAthena.BatchGetNamedQuery",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "NamedQueryIds",
        "c2jShape" : "NamedQueryIdList",
        "deprecated" : false,
        "documentation" : "<p>An array of query IDs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of query IDs.</p>\n@param namedQueryIds An array of query IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNamedQueryIds",
        "getterDocumentation" : "/**<p>An array of query IDs.</p>\n@return An array of query IDs.*/",
        "getterMethodName" : "getNamedQueryIds",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NamedQueryIds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NamedQueryIds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NamedQueryId",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "NamedQueryIds",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of query IDs.</p>\n@param namedQueryIds An array of query IDs.*/",
        "setterMethodName" : "setNamedQueryIds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "namedQueryIds",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of query IDs.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNamedQueryIds(java.util.Collection)} or {@link #withNamedQueryIds(java.util.Collection)} if you want to override the existing values.</p>\n@param namedQueryIds An array of query IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "namedQueryIds",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>An array of query IDs.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "NamedQueryIds" : {
          "c2jName" : "NamedQueryIds",
          "c2jShape" : "NamedQueryIdList",
          "deprecated" : false,
          "documentation" : "<p>An array of query IDs.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of query IDs.</p>\n@param namedQueryIds An array of query IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNamedQueryIds",
          "getterDocumentation" : "/**<p>An array of query IDs.</p>\n@return An array of query IDs.*/",
          "getterMethodName" : "getNamedQueryIds",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "NamedQueryIds",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NamedQueryIds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "NamedQueryId",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "NamedQueryIds",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An array of query IDs.</p>\n@param namedQueryIds An array of query IDs.*/",
          "setterMethodName" : "setNamedQueryIds",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "namedQueryIds",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An array of query IDs.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNamedQueryIds(java.util.Collection)} or {@link #withNamedQueryIds(java.util.Collection)} if you want to override the existing values.</p>\n@param namedQueryIds An array of query IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "namedQueryIds",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>An array of query IDs.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "NamedQueryIds" ],
      "shapeName" : "BatchGetNamedQueryRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetNamedQueryRequest",
        "variableName" : "batchGetNamedQueryRequest",
        "variableType" : "BatchGetNamedQueryRequest",
        "documentation" : null,
        "simpleType" : "BatchGetNamedQueryRequest",
        "variableSetterType" : "BatchGetNamedQueryRequest"
      },
      "wrapper" : false
    },
    "BatchGetNamedQueryResult" : {
      "c2jName" : "BatchGetNamedQueryOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "NamedQueries",
        "c2jShape" : "NamedQueryList",
        "deprecated" : false,
        "documentation" : "<p>Information about the named query IDs submitted.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the named query IDs submitted.</p>\n@param namedQueries Information about the named query IDs submitted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNamedQueries",
        "getterDocumentation" : "/**<p>Information about the named query IDs submitted.</p>\n@return Information about the named query IDs submitted.*/",
        "getterMethodName" : "getNamedQueries",
        "getterModel" : {
          "returnType" : "java.util.List<NamedQuery>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NamedQueries",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NamedQueries",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NamedQuery",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "NamedQuery",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "NamedQuery",
              "variableName" : "member",
              "variableType" : "NamedQuery",
              "documentation" : "",
              "simpleType" : "NamedQuery",
              "variableSetterType" : "NamedQuery"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "NamedQuery",
              "variableName" : "member",
              "variableType" : "NamedQuery",
              "documentation" : "",
              "simpleType" : "NamedQuery",
              "variableSetterType" : "NamedQuery"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "NamedQuery",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "NamedQuery",
          "templateImplType" : "java.util.ArrayList<NamedQuery>",
          "templateType" : "java.util.List<NamedQuery>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "NamedQueries",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the named query IDs submitted.</p>\n@param namedQueries Information about the named query IDs submitted.*/",
        "setterMethodName" : "setNamedQueries",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<NamedQuery>",
          "variableName" : "namedQueries",
          "variableType" : "java.util.List<NamedQuery>",
          "documentation" : "",
          "simpleType" : "List<NamedQuery>",
          "variableSetterType" : "java.util.Collection<NamedQuery>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the named query IDs submitted.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNamedQueries(java.util.Collection)} or {@link #withNamedQueries(java.util.Collection)} if you want to override the existing values.</p>\n@param namedQueries Information about the named query IDs submitted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<NamedQuery>",
          "variableName" : "namedQueries",
          "variableType" : "java.util.List<NamedQuery>",
          "documentation" : "<p>Information about the named query IDs submitted.</p>",
          "simpleType" : "List<NamedQuery>",
          "variableSetterType" : "java.util.Collection<NamedQuery>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "UnprocessedNamedQueryIds",
        "c2jShape" : "UnprocessedNamedQueryIdList",
        "deprecated" : false,
        "documentation" : "<p>Information about provided query IDs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about provided query IDs.</p>\n@param unprocessedNamedQueryIds Information about provided query IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUnprocessedNamedQueryIds",
        "getterDocumentation" : "/**<p>Information about provided query IDs.</p>\n@return Information about provided query IDs.*/",
        "getterMethodName" : "getUnprocessedNamedQueryIds",
        "getterModel" : {
          "returnType" : "java.util.List<UnprocessedNamedQueryId>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "UnprocessedNamedQueryIds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "UnprocessedNamedQueryIds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "UnprocessedNamedQueryId",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "UnprocessedNamedQueryId",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "UnprocessedNamedQueryId",
              "variableName" : "member",
              "variableType" : "UnprocessedNamedQueryId",
              "documentation" : "",
              "simpleType" : "UnprocessedNamedQueryId",
              "variableSetterType" : "UnprocessedNamedQueryId"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "UnprocessedNamedQueryId",
              "variableName" : "member",
              "variableType" : "UnprocessedNamedQueryId",
              "documentation" : "",
              "simpleType" : "UnprocessedNamedQueryId",
              "variableSetterType" : "UnprocessedNamedQueryId"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "UnprocessedNamedQueryId",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "UnprocessedNamedQueryId",
          "templateImplType" : "java.util.ArrayList<UnprocessedNamedQueryId>",
          "templateType" : "java.util.List<UnprocessedNamedQueryId>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "UnprocessedNamedQueryIds",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about provided query IDs.</p>\n@param unprocessedNamedQueryIds Information about provided query IDs.*/",
        "setterMethodName" : "setUnprocessedNamedQueryIds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<UnprocessedNamedQueryId>",
          "variableName" : "unprocessedNamedQueryIds",
          "variableType" : "java.util.List<UnprocessedNamedQueryId>",
          "documentation" : "",
          "simpleType" : "List<UnprocessedNamedQueryId>",
          "variableSetterType" : "java.util.Collection<UnprocessedNamedQueryId>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about provided query IDs.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setUnprocessedNamedQueryIds(java.util.Collection)} or {@link #withUnprocessedNamedQueryIds(java.util.Collection)} if you want to override the existing values.</p>\n@param unprocessedNamedQueryIds Information about provided query IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<UnprocessedNamedQueryId>",
          "variableName" : "unprocessedNamedQueryIds",
          "variableType" : "java.util.List<UnprocessedNamedQueryId>",
          "documentation" : "<p>Information about provided query IDs.</p>",
          "simpleType" : "List<UnprocessedNamedQueryId>",
          "variableSetterType" : "java.util.Collection<UnprocessedNamedQueryId>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "NamedQueries" : {
          "c2jName" : "NamedQueries",
          "c2jShape" : "NamedQueryList",
          "deprecated" : false,
          "documentation" : "<p>Information about the named query IDs submitted.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the named query IDs submitted.</p>\n@param namedQueries Information about the named query IDs submitted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNamedQueries",
          "getterDocumentation" : "/**<p>Information about the named query IDs submitted.</p>\n@return Information about the named query IDs submitted.*/",
          "getterMethodName" : "getNamedQueries",
          "getterModel" : {
            "returnType" : "java.util.List<NamedQuery>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "NamedQueries",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NamedQueries",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "NamedQuery",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "NamedQuery",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "NamedQuery",
                "variableName" : "member",
                "variableType" : "NamedQuery",
                "documentation" : "",
                "simpleType" : "NamedQuery",
                "variableSetterType" : "NamedQuery"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "NamedQuery",
                "variableName" : "member",
                "variableType" : "NamedQuery",
                "documentation" : "",
                "simpleType" : "NamedQuery",
                "variableSetterType" : "NamedQuery"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "NamedQuery",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "NamedQuery",
            "templateImplType" : "java.util.ArrayList<NamedQuery>",
            "templateType" : "java.util.List<NamedQuery>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "NamedQueries",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information about the named query IDs submitted.</p>\n@param namedQueries Information about the named query IDs submitted.*/",
          "setterMethodName" : "setNamedQueries",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<NamedQuery>",
            "variableName" : "namedQueries",
            "variableType" : "java.util.List<NamedQuery>",
            "documentation" : "",
            "simpleType" : "List<NamedQuery>",
            "variableSetterType" : "java.util.Collection<NamedQuery>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the named query IDs submitted.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNamedQueries(java.util.Collection)} or {@link #withNamedQueries(java.util.Collection)} if you want to override the existing values.</p>\n@param namedQueries Information about the named query IDs submitted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<NamedQuery>",
            "variableName" : "namedQueries",
            "variableType" : "java.util.List<NamedQuery>",
            "documentation" : "<p>Information about the named query IDs submitted.</p>",
            "simpleType" : "List<NamedQuery>",
            "variableSetterType" : "java.util.Collection<NamedQuery>"
          },
          "xmlNameSpaceUri" : null
        },
        "UnprocessedNamedQueryIds" : {
          "c2jName" : "UnprocessedNamedQueryIds",
          "c2jShape" : "UnprocessedNamedQueryIdList",
          "deprecated" : false,
          "documentation" : "<p>Information about provided query IDs.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about provided query IDs.</p>\n@param unprocessedNamedQueryIds Information about provided query IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUnprocessedNamedQueryIds",
          "getterDocumentation" : "/**<p>Information about provided query IDs.</p>\n@return Information about provided query IDs.*/",
          "getterMethodName" : "getUnprocessedNamedQueryIds",
          "getterModel" : {
            "returnType" : "java.util.List<UnprocessedNamedQueryId>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "UnprocessedNamedQueryIds",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "UnprocessedNamedQueryIds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "UnprocessedNamedQueryId",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "UnprocessedNamedQueryId",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "UnprocessedNamedQueryId",
                "variableName" : "member",
                "variableType" : "UnprocessedNamedQueryId",
                "documentation" : "",
                "simpleType" : "UnprocessedNamedQueryId",
                "variableSetterType" : "UnprocessedNamedQueryId"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "UnprocessedNamedQueryId",
                "variableName" : "member",
                "variableType" : "UnprocessedNamedQueryId",
                "documentation" : "",
                "simpleType" : "UnprocessedNamedQueryId",
                "variableSetterType" : "UnprocessedNamedQueryId"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "UnprocessedNamedQueryId",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "UnprocessedNamedQueryId",
            "templateImplType" : "java.util.ArrayList<UnprocessedNamedQueryId>",
            "templateType" : "java.util.List<UnprocessedNamedQueryId>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "UnprocessedNamedQueryIds",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information about provided query IDs.</p>\n@param unprocessedNamedQueryIds Information about provided query IDs.*/",
          "setterMethodName" : "setUnprocessedNamedQueryIds",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<UnprocessedNamedQueryId>",
            "variableName" : "unprocessedNamedQueryIds",
            "variableType" : "java.util.List<UnprocessedNamedQueryId>",
            "documentation" : "",
            "simpleType" : "List<UnprocessedNamedQueryId>",
            "variableSetterType" : "java.util.Collection<UnprocessedNamedQueryId>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about provided query IDs.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setUnprocessedNamedQueryIds(java.util.Collection)} or {@link #withUnprocessedNamedQueryIds(java.util.Collection)} if you want to override the existing values.</p>\n@param unprocessedNamedQueryIds Information about provided query IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<UnprocessedNamedQueryId>",
            "variableName" : "unprocessedNamedQueryIds",
            "variableType" : "java.util.List<UnprocessedNamedQueryId>",
            "documentation" : "<p>Information about provided query IDs.</p>",
            "simpleType" : "List<UnprocessedNamedQueryId>",
            "variableSetterType" : "java.util.Collection<UnprocessedNamedQueryId>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BatchGetNamedQueryResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetNamedQueryResult",
        "variableName" : "batchGetNamedQueryResult",
        "variableType" : "BatchGetNamedQueryResult",
        "documentation" : null,
        "simpleType" : "BatchGetNamedQueryResult",
        "variableSetterType" : "BatchGetNamedQueryResult"
      },
      "wrapper" : false
    },
    "BatchGetQueryExecutionRequest" : {
      "c2jName" : "BatchGetQueryExecutionInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchGetQueryExecution",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AmazonAthena.BatchGetQueryExecution",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "QueryExecutionIds",
        "c2jShape" : "QueryExecutionIdList",
        "deprecated" : false,
        "documentation" : "<p>An array of query execution IDs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of query execution IDs.</p>\n@param queryExecutionIds An array of query execution IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQueryExecutionIds",
        "getterDocumentation" : "/**<p>An array of query execution IDs.</p>\n@return An array of query execution IDs.*/",
        "getterMethodName" : "getQueryExecutionIds",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "QueryExecutionIds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "QueryExecutionIds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "QueryExecutionId",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "QueryExecutionIds",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of query execution IDs.</p>\n@param queryExecutionIds An array of query execution IDs.*/",
        "setterMethodName" : "setQueryExecutionIds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "queryExecutionIds",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of query execution IDs.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setQueryExecutionIds(java.util.Collection)} or {@link #withQueryExecutionIds(java.util.Collection)} if you want to override the existing values.</p>\n@param queryExecutionIds An array of query execution IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "queryExecutionIds",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>An array of query execution IDs.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "QueryExecutionIds" : {
          "c2jName" : "QueryExecutionIds",
          "c2jShape" : "QueryExecutionIdList",
          "deprecated" : false,
          "documentation" : "<p>An array of query execution IDs.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of query execution IDs.</p>\n@param queryExecutionIds An array of query execution IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withQueryExecutionIds",
          "getterDocumentation" : "/**<p>An array of query execution IDs.</p>\n@return An array of query execution IDs.*/",
          "getterMethodName" : "getQueryExecutionIds",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "QueryExecutionIds",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "QueryExecutionIds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "QueryExecutionId",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "QueryExecutionIds",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An array of query execution IDs.</p>\n@param queryExecutionIds An array of query execution IDs.*/",
          "setterMethodName" : "setQueryExecutionIds",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "queryExecutionIds",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An array of query execution IDs.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setQueryExecutionIds(java.util.Collection)} or {@link #withQueryExecutionIds(java.util.Collection)} if you want to override the existing values.</p>\n@param queryExecutionIds An array of query execution IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "queryExecutionIds",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>An array of query execution IDs.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "QueryExecutionIds" ],
      "shapeName" : "BatchGetQueryExecutionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetQueryExecutionRequest",
        "variableName" : "batchGetQueryExecutionRequest",
        "variableType" : "BatchGetQueryExecutionRequest",
        "documentation" : null,
        "simpleType" : "BatchGetQueryExecutionRequest",
        "variableSetterType" : "BatchGetQueryExecutionRequest"
      },
      "wrapper" : false
    },
    "BatchGetQueryExecutionResult" : {
      "c2jName" : "BatchGetQueryExecutionOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "QueryExecutions",
        "c2jShape" : "QueryExecutionList",
        "deprecated" : false,
        "documentation" : "<p>Information about a query execution.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about a query execution.</p>\n@param queryExecutions Information about a query execution.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQueryExecutions",
        "getterDocumentation" : "/**<p>Information about a query execution.</p>\n@return Information about a query execution.*/",
        "getterMethodName" : "getQueryExecutions",
        "getterModel" : {
          "returnType" : "java.util.List<QueryExecution>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "QueryExecutions",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "QueryExecutions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "QueryExecution",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "QueryExecution",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "QueryExecution",
              "variableName" : "member",
              "variableType" : "QueryExecution",
              "documentation" : "",
              "simpleType" : "QueryExecution",
              "variableSetterType" : "QueryExecution"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "QueryExecution",
              "variableName" : "member",
              "variableType" : "QueryExecution",
              "documentation" : "",
              "simpleType" : "QueryExecution",
              "variableSetterType" : "QueryExecution"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "QueryExecution",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "QueryExecution",
          "templateImplType" : "java.util.ArrayList<QueryExecution>",
          "templateType" : "java.util.List<QueryExecution>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "QueryExecutions",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about a query execution.</p>\n@param queryExecutions Information about a query execution.*/",
        "setterMethodName" : "setQueryExecutions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<QueryExecution>",
          "variableName" : "queryExecutions",
          "variableType" : "java.util.List<QueryExecution>",
          "documentation" : "",
          "simpleType" : "List<QueryExecution>",
          "variableSetterType" : "java.util.Collection<QueryExecution>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about a query execution.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setQueryExecutions(java.util.Collection)} or {@link #withQueryExecutions(java.util.Collection)} if you want to override the existing values.</p>\n@param queryExecutions Information about a query execution.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<QueryExecution>",
          "variableName" : "queryExecutions",
          "variableType" : "java.util.List<QueryExecution>",
          "documentation" : "<p>Information about a query execution.</p>",
          "simpleType" : "List<QueryExecution>",
          "variableSetterType" : "java.util.Collection<QueryExecution>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "UnprocessedQueryExecutionIds",
        "c2jShape" : "UnprocessedQueryExecutionIdList",
        "deprecated" : false,
        "documentation" : "<p>Information about the query executions that failed to run.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the query executions that failed to run.</p>\n@param unprocessedQueryExecutionIds Information about the query executions that failed to run.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUnprocessedQueryExecutionIds",
        "getterDocumentation" : "/**<p>Information about the query executions that failed to run.</p>\n@return Information about the query executions that failed to run.*/",
        "getterMethodName" : "getUnprocessedQueryExecutionIds",
        "getterModel" : {
          "returnType" : "java.util.List<UnprocessedQueryExecutionId>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "UnprocessedQueryExecutionIds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "UnprocessedQueryExecutionIds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "UnprocessedQueryExecutionId",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "UnprocessedQueryExecutionId",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "UnprocessedQueryExecutionId",
              "variableName" : "member",
              "variableType" : "UnprocessedQueryExecutionId",
              "documentation" : "",
              "simpleType" : "UnprocessedQueryExecutionId",
              "variableSetterType" : "UnprocessedQueryExecutionId"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "UnprocessedQueryExecutionId",
              "variableName" : "member",
              "variableType" : "UnprocessedQueryExecutionId",
              "documentation" : "",
              "simpleType" : "UnprocessedQueryExecutionId",
              "variableSetterType" : "UnprocessedQueryExecutionId"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "UnprocessedQueryExecutionId",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "UnprocessedQueryExecutionId",
          "templateImplType" : "java.util.ArrayList<UnprocessedQueryExecutionId>",
          "templateType" : "java.util.List<UnprocessedQueryExecutionId>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
[...]
