{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : {
      "ColumnInfo" : [ "Nullable" ],
      "EncryptionConfiguration" : [ "EncryptionOption" ],
      "QueryExecutionStatus" : [ "State" ],
      "TooManyRequestsException" : [ "Reason" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-05-18",
    "asyncClient" : "AmazonAthenaAsyncClient",
    "asyncClientBuilderClassName" : "AmazonAthenaAsyncClientBuilder",
    "asyncInterface" : "AmazonAthenaAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonAthenaModuleInjector",
    "defaultEndpoint" : "athena.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "athena.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Athena is an interactive query service that lets you use standard SQL to analyze data directly in Amazon S3. You can point Athena at your data in Amazon S3 and run ad-hoc queries and get results in seconds. Athena is serverless, so there is no infrastructure to set up or manage. You pay only for the queries you run. Athena scales automatically—executing queries in parallel—so results are fast, even with large datasets and complex queries. For more information, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/what-is.html\">What is Amazon Athena</a> in the <i>Amazon Athena User Guide</i>.</p> <p>If you connect to Athena using the JDBC driver, use version 1.1.0 of the driver or later with the Amazon Athena API. Earlier version drivers do not support the API. For more information and to download the driver, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html\">Accessing Amazon Athena with JDBC</a>.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
    "endpointPrefix" : "athena",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.athena",
    "packagePath" : "com/amazonaws/services/athena",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Athena",
    "serviceId" : "Athena",
    "serviceName" : "Amazon Athena",
    "signingName" : "athena",
    "smokeTestsPackageName" : "com.amazonaws.services.athena.smoketests",
    "syncClient" : "AmazonAthenaClient",
    "syncClientBuilderClassName" : "AmazonAthenaClientBuilder",
    "syncInterface" : "AmazonAthena",
    "uid" : "athena-2017-05-18",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetNamedQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetNamedQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetNamedQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetNamedQueryRequest, BatchGetNamedQueryResult>",
      "asyncReturnType" : "BatchGetNamedQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of a single named query or a list of up to 50 queries, which you provide as an array of query ID strings. Requires you to have access to the workgroup in which the queries were saved. Use <a>ListNamedQueriesInput</a> to get the list of named query IDs in the specified workgroup. If information could not be retrieved for a submitted query ID, information about the query ID submitted is listed under <a>UnprocessedNamedQueryId</a>. Named queries differ from executed queries. Use <a>BatchGetQueryExecutionInput</a> to get details about each unique query execution, and <a>ListQueryExecutionsInput</a> to get a list of query execution IDs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetNamedQueryRequest",
        "variableName" : "batchGetNamedQueryRequest",
        "variableType" : "BatchGetNamedQueryRequest",
        "documentation" : "",
        "simpleType" : "BatchGetNamedQueryRequest",
        "variableSetterType" : "BatchGetNamedQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetNamedQuery",
      "operationName" : "BatchGetNamedQuery",
      "returnType" : {
        "returnType" : "BatchGetNamedQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetNamedQueryResult"
    },
    "BatchGetQueryExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetQueryExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetQueryExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetQueryExecutionRequest, BatchGetQueryExecutionResult>",
      "asyncReturnType" : "BatchGetQueryExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of a single query execution or a list of up to 50 query executions, which you provide as an array of query execution ID strings. Requires you to have access to the workgroup in which the queries ran. To get a list of query execution IDs, use <a>ListQueryExecutionsInput$WorkGroup</a>. Query executions differ from named (saved) queries. Use <a>BatchGetNamedQueryInput</a> to get details about named queries.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetQueryExecutionRequest",
        "variableName" : "batchGetQueryExecutionRequest",
        "variableType" : "BatchGetQueryExecutionRequest",
        "documentation" : "",
        "simpleType" : "BatchGetQueryExecutionRequest",
        "variableSetterType" : "BatchGetQueryExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetQueryExecution",
      "operationName" : "BatchGetQueryExecution",
      "returnType" : {
        "returnType" : "BatchGetQueryExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetQueryExecutionResult"
    },
    "CreateDataCatalog" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataCatalogResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataCatalogResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataCatalogRequest, CreateDataCatalogResult>",
      "asyncReturnType" : "CreateDataCatalogResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates (registers) a data catalog with the specified name and properties. Catalogs created are visible to all users of the same AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataCatalogRequest",
        "variableName" : "createDataCatalogRequest",
        "variableType" : "CreateDataCatalogRequest",
        "documentation" : "",
        "simpleType" : "CreateDataCatalogRequest",
        "variableSetterType" : "CreateDataCatalogRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataCatalog",
      "operationName" : "CreateDataCatalog",
      "returnType" : {
        "returnType" : "CreateDataCatalogResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDataCatalogResult"
    },
    "CreateNamedQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNamedQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNamedQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNamedQueryRequest, CreateNamedQueryResult>",
      "asyncReturnType" : "CreateNamedQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a named query in the specified workgroup. Requires that you have access to the workgroup.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateNamedQueryRequest",
        "variableName" : "createNamedQueryRequest",
        "variableType" : "CreateNamedQueryRequest",
        "documentation" : "",
        "simpleType" : "CreateNamedQueryRequest",
        "variableSetterType" : "CreateNamedQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNamedQuery",
      "operationName" : "CreateNamedQuery",
      "returnType" : {
        "returnType" : "CreateNamedQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateNamedQueryResult"
    },
    "CreatePreparedStatement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePreparedStatementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePreparedStatementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePreparedStatementRequest, CreatePreparedStatementResult>",
      "asyncReturnType" : "CreatePreparedStatementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a prepared statement for use with SQL queries in Athena.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePreparedStatementRequest",
        "variableName" : "createPreparedStatementRequest",
        "variableType" : "CreatePreparedStatementRequest",
        "documentation" : "",
        "simpleType" : "CreatePreparedStatementRequest",
        "variableSetterType" : "CreatePreparedStatementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPreparedStatement",
      "operationName" : "CreatePreparedStatement",
      "returnType" : {
        "returnType" : "CreatePreparedStatementResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePreparedStatementResult"
    },
    "CreateWorkGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkGroupRequest, CreateWorkGroupResult>",
      "asyncReturnType" : "CreateWorkGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a workgroup with the specified name.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkGroupRequest",
        "variableName" : "createWorkGroupRequest",
        "variableType" : "CreateWorkGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkGroupRequest",
        "variableSetterType" : "CreateWorkGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkGroup",
      "operationName" : "CreateWorkGroup",
      "returnType" : {
        "returnType" : "CreateWorkGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkGroupResult"
    },
    "DeleteDataCatalog" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDataCatalogResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDataCatalogResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDataCatalogRequest, DeleteDataCatalogResult>",
      "asyncReturnType" : "DeleteDataCatalogResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a data catalog.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDataCatalogRequest",
        "variableName" : "deleteDataCatalogRequest",
        "variableType" : "DeleteDataCatalogRequest",
        "documentation" : "",
        "simpleType" : "DeleteDataCatalogRequest",
        "variableSetterType" : "DeleteDataCatalogRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataCatalog",
      "operationName" : "DeleteDataCatalog",
      "returnType" : {
        "returnType" : "DeleteDataCatalogResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDataCatalogResult"
    },
    "DeleteNamedQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNamedQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNamedQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNamedQueryRequest, DeleteNamedQueryResult>",
      "asyncReturnType" : "DeleteNamedQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the named query if you have access to the workgroup in which the query was saved.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteNamedQueryRequest",
        "variableName" : "deleteNamedQueryRequest",
        "variableType" : "DeleteNamedQueryRequest",
        "documentation" : "",
        "simpleType" : "DeleteNamedQueryRequest",
        "variableSetterType" : "DeleteNamedQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNamedQuery",
      "operationName" : "DeleteNamedQuery",
      "returnType" : {
        "returnType" : "DeleteNamedQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNamedQueryResult"
    },
    "DeletePreparedStatement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePreparedStatementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePreparedStatementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePreparedStatementRequest, DeletePreparedStatementResult>",
      "asyncReturnType" : "DeletePreparedStatementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the prepared statement with the specified name from the specified workgroup.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource, such as a workgroup, was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePreparedStatementRequest",
        "variableName" : "deletePreparedStatementRequest",
        "variableType" : "DeletePreparedStatementRequest",
        "documentation" : "",
        "simpleType" : "DeletePreparedStatementRequest",
        "variableSetterType" : "DeletePreparedStatementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePreparedStatement",
      "operationName" : "DeletePreparedStatement",
      "returnType" : {
        "returnType" : "DeletePreparedStatementResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePreparedStatementResult"
    },
    "DeleteWorkGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkGroupRequest, DeleteWorkGroupResult>",
      "asyncReturnType" : "DeleteWorkGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the workgroup with the specified name. The primary workgroup cannot be deleted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkGroupRequest",
        "variableName" : "deleteWorkGroupRequest",
        "variableType" : "DeleteWorkGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkGroupRequest",
        "variableSetterType" : "DeleteWorkGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkGroup",
      "operationName" : "DeleteWorkGroup",
      "returnType" : {
        "returnType" : "DeleteWorkGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkGroupResult"
    },
    "GetDataCatalog" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataCatalogResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataCatalogResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataCatalogRequest, GetDataCatalogResult>",
      "asyncReturnType" : "GetDataCatalogResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the specified data catalog.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataCatalogRequest",
        "variableName" : "getDataCatalogRequest",
        "variableType" : "GetDataCatalogRequest",
        "documentation" : "",
        "simpleType" : "GetDataCatalogRequest",
        "variableSetterType" : "GetDataCatalogRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataCatalog",
      "operationName" : "GetDataCatalog",
      "returnType" : {
        "returnType" : "GetDataCatalogResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDataCatalogResult"
    },
    "GetDatabase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDatabaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDatabaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDatabaseRequest, GetDatabaseResult>",
      "asyncReturnType" : "GetDatabaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a database object for the specified database and data catalog.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MetadataException",
        "documentation" : "<p>An exception that Athena received when it called a custom metastore. Occurs if the error is not caused by user input (<code>InvalidRequestException</code>) or from the Athena platform (<code>InternalServerException</code>). For example, if a user-created Lambda function is missing permissions, the Lambda <code>4XX</code> exception is returned in a <code>MetadataException</code>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDatabaseRequest",
        "variableName" : "getDatabaseRequest",
        "variableType" : "GetDatabaseRequest",
        "documentation" : "",
        "simpleType" : "GetDatabaseRequest",
        "variableSetterType" : "GetDatabaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDatabase",
      "operationName" : "GetDatabase",
      "returnType" : {
        "returnType" : "GetDatabaseResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDatabaseResult"
    },
    "GetNamedQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNamedQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNamedQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNamedQueryRequest, GetNamedQueryResult>",
      "asyncReturnType" : "GetNamedQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a single query. Requires that you have access to the workgroup in which the query was saved.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetNamedQueryRequest",
        "variableName" : "getNamedQueryRequest",
        "variableType" : "GetNamedQueryRequest",
        "documentation" : "",
        "simpleType" : "GetNamedQueryRequest",
        "variableSetterType" : "GetNamedQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNamedQuery",
      "operationName" : "GetNamedQuery",
      "returnType" : {
        "returnType" : "GetNamedQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetNamedQueryResult"
    },
    "GetPreparedStatement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPreparedStatementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPreparedStatementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPreparedStatementRequest, GetPreparedStatementResult>",
      "asyncReturnType" : "GetPreparedStatementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the prepared statement with the specified name from the specified workgroup.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource, such as a workgroup, was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPreparedStatementRequest",
        "variableName" : "getPreparedStatementRequest",
        "variableType" : "GetPreparedStatementRequest",
        "documentation" : "",
        "simpleType" : "GetPreparedStatementRequest",
        "variableSetterType" : "GetPreparedStatementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPreparedStatement",
      "operationName" : "GetPreparedStatement",
      "returnType" : {
        "returnType" : "GetPreparedStatementResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPreparedStatementResult"
    },
    "GetQueryExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQueryExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQueryExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQueryExecutionRequest, GetQueryExecutionResult>",
      "asyncReturnType" : "GetQueryExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a single execution of a query if you have access to the workgroup in which the query ran. Each time a query executes, information about the query execution is saved with a unique ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQueryExecutionRequest",
        "variableName" : "getQueryExecutionRequest",
        "variableType" : "GetQueryExecutionRequest",
        "documentation" : "",
        "simpleType" : "GetQueryExecutionRequest",
        "variableSetterType" : "GetQueryExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQueryExecution",
      "operationName" : "GetQueryExecution",
      "returnType" : {
        "returnType" : "GetQueryExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQueryExecutionResult"
    },
    "GetQueryResults" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQueryResultsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQueryResultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQueryResultsRequest, GetQueryResultsResult>",
      "asyncReturnType" : "GetQueryResultsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Streams the results of a single query execution specified by <code>QueryExecutionId</code> from the Athena query results location in Amazon S3. For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/querying.html\">Query Results</a> in the <i>Amazon Athena User Guide</i>. This request does not execute the query but returns results. Use <a>StartQueryExecution</a> to run a query.</p> <p>To stream query results successfully, the IAM principal with permission to call <code>GetQueryResults</code> also must have permissions to the Amazon S3 <code>GetObject</code> action for the Athena query results location.</p> <important> <p>IAM principals with permission to the Amazon S3 <code>GetObject</code> action for the query results location are able to retrieve query results from Amazon S3 even if permission to the <code>GetQueryResults</code> action is denied. To restrict user or role access, ensure that Amazon S3 permissions to the Athena query location are denied.</p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQueryResultsRequest",
        "variableName" : "getQueryResultsRequest",
        "variableType" : "GetQueryResultsRequest",
        "documentation" : "",
        "simpleType" : "GetQueryResultsRequest",
        "variableSetterType" : "GetQueryResultsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQueryResults",
      "operationName" : "GetQueryResults",
      "returnType" : {
        "returnType" : "GetQueryResultsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQueryResultsResult"
    },
    "GetTableMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTableMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTableMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTableMetadataRequest, GetTableMetadataResult>",
      "asyncReturnType" : "GetTableMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns table metadata for the specified catalog, database, and table.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MetadataException",
        "documentation" : "<p>An exception that Athena received when it called a custom metastore. Occurs if the error is not caused by user input (<code>InvalidRequestException</code>) or from the Athena platform (<code>InternalServerException</code>). For example, if a user-created Lambda function is missing permissions, the Lambda <code>4XX</code> exception is returned in a <code>MetadataException</code>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTableMetadataRequest",
        "variableName" : "getTableMetadataRequest",
        "variableType" : "GetTableMetadataRequest",
        "documentation" : "",
        "simpleType" : "GetTableMetadataRequest",
        "variableSetterType" : "GetTableMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTableMetadata",
      "operationName" : "GetTableMetadata",
      "returnType" : {
        "returnType" : "GetTableMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTableMetadataResult"
    },
    "GetWorkGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkGroupRequest, GetWorkGroupResult>",
      "asyncReturnType" : "GetWorkGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the workgroup with the specified name.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkGroupRequest",
        "variableName" : "getWorkGroupRequest",
        "variableType" : "GetWorkGroupRequest",
        "documentation" : "",
        "simpleType" : "GetWorkGroupRequest",
        "variableSetterType" : "GetWorkGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorkGroup",
      "operationName" : "GetWorkGroup",
      "returnType" : {
        "returnType" : "GetWorkGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWorkGroupResult"
    },
    "ListDataCatalogs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataCatalogsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataCatalogsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataCatalogsRequest, ListDataCatalogsResult>",
      "asyncReturnType" : "ListDataCatalogsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the data catalogs in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataCatalogsRequest",
        "variableName" : "listDataCatalogsRequest",
        "variableType" : "ListDataCatalogsRequest",
        "documentation" : "",
        "simpleType" : "ListDataCatalogsRequest",
        "variableSetterType" : "ListDataCatalogsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataCatalogs",
      "operationName" : "ListDataCatalogs",
      "returnType" : {
        "returnType" : "ListDataCatalogsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataCatalogsResult"
    },
    "ListDatabases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatabasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatabasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatabasesRequest, ListDatabasesResult>",
      "asyncReturnType" : "ListDatabasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the databases in the specified data catalog.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MetadataException",
        "documentation" : "<p>An exception that Athena received when it called a custom metastore. Occurs if the error is not caused by user input (<code>InvalidRequestException</code>) or from the Athena platform (<code>InternalServerException</code>). For example, if a user-created Lambda function is missing permissions, the Lambda <code>4XX</code> exception is returned in a <code>MetadataException</code>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatabasesRequest",
        "variableName" : "listDatabasesRequest",
        "variableType" : "ListDatabasesRequest",
        "documentation" : "",
        "simpleType" : "ListDatabasesRequest",
        "variableSetterType" : "ListDatabasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatabases",
      "operationName" : "ListDatabases",
      "returnType" : {
        "returnType" : "ListDatabasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatabasesResult"
    },
    "ListEngineVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEngineVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEngineVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEngineVersionsRequest, ListEngineVersionsResult>",
      "asyncReturnType" : "ListEngineVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of engine versions that are available to choose from, including the Auto option.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEngineVersionsRequest",
        "variableName" : "listEngineVersionsRequest",
        "variableType" : "ListEngineVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListEngineVersionsRequest",
        "variableSetterType" : "ListEngineVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEngineVersions",
      "operationName" : "ListEngineVersions",
      "returnType" : {
        "returnType" : "ListEngineVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEngineVersionsResult"
    },
    "ListNamedQueries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNamedQueriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNamedQueriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNamedQueriesRequest, ListNamedQueriesResult>",
      "asyncReturnType" : "ListNamedQueriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of available query IDs only for queries saved in the specified workgroup. Requires that you have access to the specified workgroup. If a workgroup is not specified, lists the saved queries for the primary workgroup.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNamedQueriesRequest",
        "variableName" : "listNamedQueriesRequest",
        "variableType" : "ListNamedQueriesRequest",
        "documentation" : "",
        "simpleType" : "ListNamedQueriesRequest",
        "variableSetterType" : "ListNamedQueriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNamedQueries",
      "operationName" : "ListNamedQueries",
      "returnType" : {
        "returnType" : "ListNamedQueriesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNamedQueriesResult"
    },
    "ListPreparedStatements" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPreparedStatementsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPreparedStatementsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPreparedStatementsRequest, ListPreparedStatementsResult>",
      "asyncReturnType" : "ListPreparedStatementsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the prepared statements in the specfied workgroup.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPreparedStatementsRequest",
        "variableName" : "listPreparedStatementsRequest",
        "variableType" : "ListPreparedStatementsRequest",
        "documentation" : "",
        "simpleType" : "ListPreparedStatementsRequest",
        "variableSetterType" : "ListPreparedStatementsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPreparedStatements",
      "operationName" : "ListPreparedStatements",
      "returnType" : {
        "returnType" : "ListPreparedStatementsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPreparedStatementsResult"
    },
    "ListQueryExecutions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListQueryExecutionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListQueryExecutionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListQueryExecutionsRequest, ListQueryExecutionsResult>",
      "asyncReturnType" : "ListQueryExecutionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of available query execution IDs for the queries in the specified workgroup. If a workgroup is not specified, returns a list of query execution IDs for the primary workgroup. Requires you to have access to the workgroup in which the queries ran.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListQueryExecutionsRequest",
        "variableName" : "listQueryExecutionsRequest",
        "variableType" : "ListQueryExecutionsRequest",
        "documentation" : "",
        "simpleType" : "ListQueryExecutionsRequest",
        "variableSetterType" : "ListQueryExecutionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listQueryExecutions",
      "operationName" : "ListQueryExecutions",
      "returnType" : {
        "returnType" : "ListQueryExecutionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListQueryExecutionsResult"
    },
    "ListTableMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTableMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTableMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTableMetadataRequest, ListTableMetadataResult>",
      "asyncReturnType" : "ListTableMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the metadata for the tables in the specified data catalog database.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MetadataException",
        "documentation" : "<p>An exception that Athena received when it called a custom metastore. Occurs if the error is not caused by user input (<code>InvalidRequestException</code>) or from the Athena platform (<code>InternalServerException</code>). For example, if a user-created Lambda function is missing permissions, the Lambda <code>4XX</code> exception is returned in a <code>MetadataException</code>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTableMetadataRequest",
        "variableName" : "listTableMetadataRequest",
        "variableType" : "ListTableMetadataRequest",
        "documentation" : "",
        "simpleType" : "ListTableMetadataRequest",
        "variableSetterType" : "ListTableMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTableMetadata",
      "operationName" : "ListTableMetadata",
      "returnType" : {
        "returnType" : "ListTableMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTableMetadataResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags associated with an Athena workgroup or data catalog resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource, such as a workgroup, was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListWorkGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkGroupsRequest, ListWorkGroupsResult>",
      "asyncReturnType" : "ListWorkGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists available workgroups for the account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkGroupsRequest",
        "variableName" : "listWorkGroupsRequest",
        "variableType" : "ListWorkGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListWorkGroupsRequest",
        "variableSetterType" : "ListWorkGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkGroups",
      "operationName" : "ListWorkGroups",
      "returnType" : {
        "returnType" : "ListWorkGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkGroupsResult"
    },
    "StartQueryExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartQueryExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartQueryExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartQueryExecutionRequest, StartQueryExecutionResult>",
      "asyncReturnType" : "StartQueryExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Runs the SQL query statements contained in the <code>Query</code>. Requires you to have access to the workgroup in which the query ran. Running queries against an external catalog requires <a>GetDataCatalog</a> permission to the catalog. For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Indicates that the request was throttled.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartQueryExecutionRequest",
        "variableName" : "startQueryExecutionRequest",
        "variableType" : "StartQueryExecutionRequest",
        "documentation" : "",
        "simpleType" : "StartQueryExecutionRequest",
        "variableSetterType" : "StartQueryExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startQueryExecution",
      "operationName" : "StartQueryExecution",
      "returnType" : {
        "returnType" : "StartQueryExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "StartQueryExecutionResult"
    },
    "StopQueryExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopQueryExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopQueryExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopQueryExecutionRequest, StopQueryExecutionResult>",
      "asyncReturnType" : "StopQueryExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a query execution. Requires you to have access to the workgroup in which the query ran.</p> <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopQueryExecutionRequest",
        "variableName" : "stopQueryExecutionRequest",
        "variableType" : "StopQueryExecutionRequest",
        "documentation" : "",
        "simpleType" : "StopQueryExecutionRequest",
        "variableSetterType" : "StopQueryExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopQueryExecution",
      "operationName" : "StopQueryExecution",
      "returnType" : {
        "returnType" : "StopQueryExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "StopQueryExecutionResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to an Athena resource. A tag is a label that you assign to a resource. In Athena, a resource can be a workgroup or data catalog. Each tag consists of a key and an optional value, both of which you define. For example, you can use tags to categorize Athena workgroups or data catalogs by purpose, owner, or environment. Use a consistent set of tag keys to make it easier to search and filter workgroups or data catalogs in your account. For best practices, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">Tagging Best Practices</a>. Tag keys can be from 1 to 128 UTF-8 Unicode characters, and tag values can be from 0 to 256 UTF-8 Unicode characters. Tags can use letters and numbers representable in UTF-8, and the following characters: + - = . _ : / @. Tag keys and values are case-sensitive. Tag keys must be unique per resource. If you specify more than one tag, separate them by commas.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource, such as a workgroup, was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from a data catalog or workgroup resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource, such as a workgroup, was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDataCatalog" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDataCatalogResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDataCatalogResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDataCatalogRequest, UpdateDataCatalogResult>",
      "asyncReturnType" : "UpdateDataCatalogResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the data catalog that has the specified name.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDataCatalogRequest",
        "variableName" : "updateDataCatalogRequest",
        "variableType" : "UpdateDataCatalogRequest",
        "documentation" : "",
        "simpleType" : "UpdateDataCatalogRequest",
        "variableSetterType" : "UpdateDataCatalogRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDataCatalog",
      "operationName" : "UpdateDataCatalog",
      "returnType" : {
        "returnType" : "UpdateDataCatalogResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDataCatalogResult"
    },
    "UpdatePreparedStatement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePreparedStatementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePreparedStatementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePreparedStatementRequest, UpdatePreparedStatementResult>",
      "asyncReturnType" : "UpdatePreparedStatementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a prepared statement.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource, such as a workgroup, was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePreparedStatementRequest",
        "variableName" : "updatePreparedStatementRequest",
        "variableType" : "UpdatePreparedStatementRequest",
        "documentation" : "",
        "simpleType" : "UpdatePreparedStatementRequest",
        "variableSetterType" : "UpdatePreparedStatementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePreparedStatement",
      "operationName" : "UpdatePreparedStatement",
      "returnType" : {
        "returnType" : "UpdatePreparedStatementResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePreparedStatementResult"
    },
    "UpdateWorkGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkGroupRequest, UpdateWorkGroupResult>",
      "asyncReturnType" : "UpdateWorkGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the workgroup with the specified name. The workgroup's name cannot be changed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkGroupRequest",
        "variableName" : "updateWorkGroupRequest",
        "variableType" : "UpdateWorkGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateWorkGroupRequest",
        "variableSetterType" : "UpdateWorkGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkGroup",
      "operationName" : "UpdateWorkGroup",
      "returnType" : {
        "returnType" : "UpdateWorkGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkGroupResult"
    }
  },
  "shapes" : {
    "BatchGetNamedQueryRequest" : {
      "c2jName" : "BatchGetNamedQueryInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.athena.request.BatchGetNamedQueryRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchGetNamedQuery",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AmazonAthena.BatchGetNamedQuery",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "NamedQueryIds",
        "c2jShape" : "NamedQueryIdList",
        "deprecated" : false,
        "documentation" : "<p>An array of query IDs.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of query IDs.</p>\n@param namedQueryIds An array of query IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNamedQueryIds",
        "getterDocumentation" : "/**<p>An array of query IDs.</p>\n@return An array of query IDs.*/",
        "getterMethodName" : "getNamedQueryIds",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NamedQueryIds",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NamedQueryIds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NamedQueryId",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "NamedQueryIds",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of query IDs.</p>\n@param namedQueryIds An array of query IDs.*/",
        "setterMethodName" : "setNamedQueryIds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "namedQueryIds",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of query IDs.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNamedQueryIds(java.util.Collection)} or {@link #withNamedQueryIds(java.util.Collection)} if you want to override the existing values.</p>\n@param namedQueryIds An array of query IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "namedQueryIds",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>An array of query IDs.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "NamedQueryIds" : {
          "c2jName" : "NamedQueryIds",
          "c2jShape" : "NamedQueryIdList",
          "deprecated" : false,
          "documentation" : "<p>An array of query IDs.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of query IDs.</p>\n@param namedQueryIds An array of query IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNamedQueryIds",
          "getterDocumentation" : "/**<p>An array of query IDs.</p>\n@return An array of query IDs.*/",
          "getterMethodName" : "getNamedQueryIds",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "NamedQueryIds",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NamedQueryIds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "NamedQueryId",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "NamedQueryIds",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An array of query IDs.</p>\n@param namedQueryIds An array of query IDs.*/",
          "setterMethodName" : "setNamedQueryIds",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "namedQueryIds",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An array of query IDs.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNamedQueryIds(java.util.Collection)} or {@link #withNamedQueryIds(java.util.Collection)} if you want to override the existing values.</p>\n@param namedQueryIds An array of query IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "namedQueryIds",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>An array of query IDs.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.athena.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "NamedQueryIds" ],
      "shapeName" : "BatchGetNamedQueryRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetNamedQueryRequest",
        "variableName" : "batchGetNamedQueryRequest",
        "variableType" : "BatchGetNamedQueryRequest",
        "documentation" : null,
        "simpleType" : "BatchGetNamedQueryRequest",
        "variableSetterType" : "BatchGetNamedQueryRequest"
      },
      "wrapper" : false
    },
    "BatchGetNamedQueryResult" : {
      "c2jName" : "BatchGetNamedQueryOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.athena.response.BatchGetNamedQueryResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "NamedQueries",
        "c2jShape" : "NamedQueryList",
        "deprecated" : false,
        "documentation" : "<p>Information about the named query IDs submitted.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the named query IDs submitted.</p>\n@param namedQueries Information about the named query IDs submitted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNamedQueries",
        "getterDocumentation" : "/**<p>Information about the named query IDs submitted.</p>\n@return Information about the named query IDs submitted.*/",
        "getterMethodName" : "getNamedQueries",
        "getterModel" : {
          "returnType" : "java.util.List<NamedQuery>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NamedQueries",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NamedQueries",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NamedQuery",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "NamedQuery",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "NamedQuery",
              "variableName" : "member",
              "variableType" : "NamedQuery",
              "documentation" : "",
              "simpleType" : "NamedQuery",
              "variableSetterType" : "NamedQuery"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "NamedQuery",
              "variableName" : "member",
              "variableType" : "NamedQuery",
              "documentation" : "",
              "simpleType" : "NamedQuery",
              "variableSetterType" : "NamedQuery"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "NamedQuery",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "NamedQuery",
          "templateImplType" : "java.util.ArrayList<NamedQuery>",
          "templateType" : "java.util.List<NamedQuery>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "NamedQueries",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the named query IDs submitted.</p>\n@param namedQueries Information about the named query IDs submitted.*/",
        "setterMethodName" : "setNamedQueries",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<NamedQuery>",
          "variableName" : "namedQueries",
          "variableType" : "java.util.List<NamedQuery>",
          "documentation" : "",
          "simpleType" : "List<NamedQuery>",
          "variableSetterType" : "java.util.Collection<NamedQuery>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
[...]
