{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-07-25",
    "asyncClient" : "AWSAuditManagerAsyncClient",
    "asyncClientBuilderClassName" : "AWSAuditManagerAsyncClientBuilder",
    "asyncInterface" : "AWSAuditManagerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSAuditManagerModuleInjector",
    "defaultEndpoint" : "auditmanager.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "auditmanager.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Welcome to the AWS Audit Manager API reference. This guide is for developers who need detailed information about the AWS Audit Manager API operations, data types, and errors. </p> <p>AWS Audit Manager is a service that provides automated evidence collection so that you can continuously audit your AWS usage, and assess the effectiveness of your controls to better manage risk and simplify compliance.</p> <p>AWS Audit Manager provides pre-built frameworks that structure and automate assessments for a given compliance standard. Frameworks include a pre-built collection of controls with descriptions and testing procedures, which are grouped according to the requirements of the specified compliance standard or regulation. You can also customize frameworks and controls to support internal audits with unique requirements. </p> <p>Use the following links to get started with the AWS Audit Manager API:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_Operations.html\">Actions</a>: An alphabetical list of all AWS Audit Manager API operations.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_Types.html\">Data types</a>: An alphabetical list of all AWS Audit Manager data types.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/CommonParameters.html\">Common parameters</a>: Parameters that all Query operations can use.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/CommonErrors.html\">Common errors</a>: Client and server errors that all operations can return.</p> </li> </ul> <p>If you're new to AWS Audit Manager, we recommend that you review the <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/what-is.html\"> AWS Audit Manager User Guide</a>.</p>",
    "endpointPrefix" : "auditmanager",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.auditmanager",
    "packagePath" : "com/amazonaws/services/auditmanager",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Audit Manager",
    "serviceId" : "AuditManager",
    "serviceName" : "AWS Audit Manager",
    "signingName" : "auditmanager",
    "smokeTestsPackageName" : "com.amazonaws.services.auditmanager.smoketests",
    "syncClient" : "AWSAuditManagerClient",
    "syncClientBuilderClassName" : "AWSAuditManagerClientBuilder",
    "syncInterface" : "AWSAuditManager",
    "uid" : "auditmanager-2017-07-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateAssessmentReportEvidenceFolder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateAssessmentReportEvidenceFolderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateAssessmentReportEvidenceFolderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateAssessmentReportEvidenceFolderRequest, AssociateAssessmentReportEvidenceFolderResult>",
      "asyncReturnType" : "AssociateAssessmentReportEvidenceFolderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Associates an evidence folder to the specified assessment report in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateAssessmentReportEvidenceFolderRequest",
        "variableName" : "associateAssessmentReportEvidenceFolderRequest",
        "variableType" : "AssociateAssessmentReportEvidenceFolderRequest",
        "documentation" : "",
        "simpleType" : "AssociateAssessmentReportEvidenceFolderRequest",
        "variableSetterType" : "AssociateAssessmentReportEvidenceFolderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateAssessmentReportEvidenceFolder",
      "operationName" : "AssociateAssessmentReportEvidenceFolder",
      "returnType" : {
        "returnType" : "AssociateAssessmentReportEvidenceFolderResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateAssessmentReportEvidenceFolderResult"
    },
    "BatchAssociateAssessmentReportEvidence" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchAssociateAssessmentReportEvidenceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchAssociateAssessmentReportEvidenceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchAssociateAssessmentReportEvidenceRequest, BatchAssociateAssessmentReportEvidenceResult>",
      "asyncReturnType" : "BatchAssociateAssessmentReportEvidenceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Associates a list of evidence to an assessment report in an AWS Audit Manager assessment. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchAssociateAssessmentReportEvidenceRequest",
        "variableName" : "batchAssociateAssessmentReportEvidenceRequest",
        "variableType" : "BatchAssociateAssessmentReportEvidenceRequest",
        "documentation" : "",
        "simpleType" : "BatchAssociateAssessmentReportEvidenceRequest",
        "variableSetterType" : "BatchAssociateAssessmentReportEvidenceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchAssociateAssessmentReportEvidence",
      "operationName" : "BatchAssociateAssessmentReportEvidence",
      "returnType" : {
        "returnType" : "BatchAssociateAssessmentReportEvidenceResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchAssociateAssessmentReportEvidenceResult"
    },
    "BatchCreateDelegationByAssessment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCreateDelegationByAssessmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCreateDelegationByAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCreateDelegationByAssessmentRequest, BatchCreateDelegationByAssessmentResult>",
      "asyncReturnType" : "BatchCreateDelegationByAssessmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Create a batch of delegations for a specified assessment in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCreateDelegationByAssessmentRequest",
        "variableName" : "batchCreateDelegationByAssessmentRequest",
        "variableType" : "BatchCreateDelegationByAssessmentRequest",
        "documentation" : "",
        "simpleType" : "BatchCreateDelegationByAssessmentRequest",
        "variableSetterType" : "BatchCreateDelegationByAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCreateDelegationByAssessment",
      "operationName" : "BatchCreateDelegationByAssessment",
      "returnType" : {
        "returnType" : "BatchCreateDelegationByAssessmentResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCreateDelegationByAssessmentResult"
    },
    "BatchDeleteDelegationByAssessment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteDelegationByAssessmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteDelegationByAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteDelegationByAssessmentRequest, BatchDeleteDelegationByAssessmentResult>",
      "asyncReturnType" : "BatchDeleteDelegationByAssessmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes the delegations in the specified AWS Audit Manager assessment. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteDelegationByAssessmentRequest",
        "variableName" : "batchDeleteDelegationByAssessmentRequest",
        "variableType" : "BatchDeleteDelegationByAssessmentRequest",
        "documentation" : "",
        "simpleType" : "BatchDeleteDelegationByAssessmentRequest",
        "variableSetterType" : "BatchDeleteDelegationByAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteDelegationByAssessment",
      "operationName" : "BatchDeleteDelegationByAssessment",
      "returnType" : {
        "returnType" : "BatchDeleteDelegationByAssessmentResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteDelegationByAssessmentResult"
    },
    "BatchDisassociateAssessmentReportEvidence" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDisassociateAssessmentReportEvidenceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDisassociateAssessmentReportEvidenceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDisassociateAssessmentReportEvidenceRequest, BatchDisassociateAssessmentReportEvidenceResult>",
      "asyncReturnType" : "BatchDisassociateAssessmentReportEvidenceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Disassociates a list of evidence from the specified assessment report in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDisassociateAssessmentReportEvidenceRequest",
        "variableName" : "batchDisassociateAssessmentReportEvidenceRequest",
        "variableType" : "BatchDisassociateAssessmentReportEvidenceRequest",
        "documentation" : "",
        "simpleType" : "BatchDisassociateAssessmentReportEvidenceRequest",
        "variableSetterType" : "BatchDisassociateAssessmentReportEvidenceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDisassociateAssessmentReportEvidence",
      "operationName" : "BatchDisassociateAssessmentReportEvidence",
      "returnType" : {
        "returnType" : "BatchDisassociateAssessmentReportEvidenceResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDisassociateAssessmentReportEvidenceResult"
    },
    "BatchImportEvidenceToAssessmentControl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchImportEvidenceToAssessmentControlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchImportEvidenceToAssessmentControlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchImportEvidenceToAssessmentControlRequest, BatchImportEvidenceToAssessmentControlResult>",
      "asyncReturnType" : "BatchImportEvidenceToAssessmentControlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Uploads one or more pieces of evidence to the specified control in the assessment in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchImportEvidenceToAssessmentControlRequest",
        "variableName" : "batchImportEvidenceToAssessmentControlRequest",
        "variableType" : "BatchImportEvidenceToAssessmentControlRequest",
        "documentation" : "",
        "simpleType" : "BatchImportEvidenceToAssessmentControlRequest",
        "variableSetterType" : "BatchImportEvidenceToAssessmentControlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchImportEvidenceToAssessmentControl",
      "operationName" : "BatchImportEvidenceToAssessmentControl",
      "returnType" : {
        "returnType" : "BatchImportEvidenceToAssessmentControlResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchImportEvidenceToAssessmentControlResult"
    },
    "CreateAssessment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssessmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssessmentRequest, CreateAssessmentResult>",
      "asyncReturnType" : "CreateAssessmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates an assessment in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAssessmentRequest",
        "variableName" : "createAssessmentRequest",
        "variableType" : "CreateAssessmentRequest",
        "documentation" : "",
        "simpleType" : "CreateAssessmentRequest",
        "variableSetterType" : "CreateAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAssessment",
      "operationName" : "CreateAssessment",
      "returnType" : {
        "returnType" : "CreateAssessmentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAssessmentResult"
    },
    "CreateAssessmentFramework" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssessmentFrameworkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssessmentFrameworkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssessmentFrameworkRequest, CreateAssessmentFrameworkResult>",
      "asyncReturnType" : "CreateAssessmentFrameworkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a custom framework in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAssessmentFrameworkRequest",
        "variableName" : "createAssessmentFrameworkRequest",
        "variableType" : "CreateAssessmentFrameworkRequest",
        "documentation" : "",
        "simpleType" : "CreateAssessmentFrameworkRequest",
        "variableSetterType" : "CreateAssessmentFrameworkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAssessmentFramework",
      "operationName" : "CreateAssessmentFramework",
      "returnType" : {
        "returnType" : "CreateAssessmentFrameworkResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAssessmentFrameworkResult"
    },
    "CreateAssessmentReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssessmentReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssessmentReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssessmentReportRequest, CreateAssessmentReportResult>",
      "asyncReturnType" : "CreateAssessmentReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates an assessment report for the specified assessment. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAssessmentReportRequest",
        "variableName" : "createAssessmentReportRequest",
        "variableType" : "CreateAssessmentReportRequest",
        "documentation" : "",
        "simpleType" : "CreateAssessmentReportRequest",
        "variableSetterType" : "CreateAssessmentReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAssessmentReport",
      "operationName" : "CreateAssessmentReport",
      "returnType" : {
        "returnType" : "CreateAssessmentReportResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAssessmentReportResult"
    },
    "CreateControl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateControlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateControlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateControlRequest, CreateControlResult>",
      "asyncReturnType" : "CreateControlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new custom control in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateControlRequest",
        "variableName" : "createControlRequest",
        "variableType" : "CreateControlRequest",
        "documentation" : "",
        "simpleType" : "CreateControlRequest",
        "variableSetterType" : "CreateControlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createControl",
      "operationName" : "CreateControl",
      "returnType" : {
        "returnType" : "CreateControlResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateControlResult"
    },
    "DeleteAssessment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssessmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssessmentRequest, DeleteAssessmentResult>",
      "asyncReturnType" : "DeleteAssessmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes an assessment in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAssessmentRequest",
        "variableName" : "deleteAssessmentRequest",
        "variableType" : "DeleteAssessmentRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssessmentRequest",
        "variableSetterType" : "DeleteAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAssessment",
      "operationName" : "DeleteAssessment",
      "returnType" : {
        "returnType" : "DeleteAssessmentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAssessmentResult"
    },
    "DeleteAssessmentFramework" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssessmentFrameworkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssessmentFrameworkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssessmentFrameworkRequest, DeleteAssessmentFrameworkResult>",
      "asyncReturnType" : "DeleteAssessmentFrameworkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a custom framework in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAssessmentFrameworkRequest",
        "variableName" : "deleteAssessmentFrameworkRequest",
        "variableType" : "DeleteAssessmentFrameworkRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssessmentFrameworkRequest",
        "variableSetterType" : "DeleteAssessmentFrameworkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAssessmentFramework",
      "operationName" : "DeleteAssessmentFramework",
      "returnType" : {
        "returnType" : "DeleteAssessmentFrameworkResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAssessmentFrameworkResult"
    },
    "DeleteAssessmentReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssessmentReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssessmentReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssessmentReportRequest, DeleteAssessmentReportResult>",
      "asyncReturnType" : "DeleteAssessmentReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes an assessment report from an assessment in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAssessmentReportRequest",
        "variableName" : "deleteAssessmentReportRequest",
        "variableType" : "DeleteAssessmentReportRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssessmentReportRequest",
        "variableSetterType" : "DeleteAssessmentReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAssessmentReport",
      "operationName" : "DeleteAssessmentReport",
      "returnType" : {
        "returnType" : "DeleteAssessmentReportResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAssessmentReportResult"
    },
    "DeleteControl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteControlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteControlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteControlRequest, DeleteControlResult>",
      "asyncReturnType" : "DeleteControlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a custom control in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteControlRequest",
        "variableName" : "deleteControlRequest",
        "variableType" : "DeleteControlRequest",
        "documentation" : "",
        "simpleType" : "DeleteControlRequest",
        "variableSetterType" : "DeleteControlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteControl",
      "operationName" : "DeleteControl",
      "returnType" : {
        "returnType" : "DeleteControlResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteControlResult"
    },
    "DeregisterAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterAccountRequest, DeregisterAccountResult>",
      "asyncReturnType" : "DeregisterAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deregisters an account in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterAccountRequest",
        "variableName" : "deregisterAccountRequest",
        "variableType" : "DeregisterAccountRequest",
        "documentation" : "",
        "simpleType" : "DeregisterAccountRequest",
        "variableSetterType" : "DeregisterAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterAccount",
      "operationName" : "DeregisterAccount",
      "returnType" : {
        "returnType" : "DeregisterAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterAccountResult"
    },
    "DeregisterOrganizationAdminAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterOrganizationAdminAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterOrganizationAdminAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterOrganizationAdminAccountRequest, DeregisterOrganizationAdminAccountResult>",
      "asyncReturnType" : "DeregisterOrganizationAdminAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deregisters the delegated AWS administrator account from the AWS organization. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterOrganizationAdminAccountRequest",
        "variableName" : "deregisterOrganizationAdminAccountRequest",
        "variableType" : "DeregisterOrganizationAdminAccountRequest",
        "documentation" : "",
        "simpleType" : "DeregisterOrganizationAdminAccountRequest",
        "variableSetterType" : "DeregisterOrganizationAdminAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterOrganizationAdminAccount",
      "operationName" : "DeregisterOrganizationAdminAccount",
      "returnType" : {
        "returnType" : "DeregisterOrganizationAdminAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterOrganizationAdminAccountResult"
    },
    "DisassociateAssessmentReportEvidenceFolder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateAssessmentReportEvidenceFolderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateAssessmentReportEvidenceFolderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateAssessmentReportEvidenceFolderRequest, DisassociateAssessmentReportEvidenceFolderResult>",
      "asyncReturnType" : "DisassociateAssessmentReportEvidenceFolderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Disassociates an evidence folder from the specified assessment report in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateAssessmentReportEvidenceFolderRequest",
        "variableName" : "disassociateAssessmentReportEvidenceFolderRequest",
        "variableType" : "DisassociateAssessmentReportEvidenceFolderRequest",
        "documentation" : "",
        "simpleType" : "DisassociateAssessmentReportEvidenceFolderRequest",
        "variableSetterType" : "DisassociateAssessmentReportEvidenceFolderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateAssessmentReportEvidenceFolder",
      "operationName" : "DisassociateAssessmentReportEvidenceFolder",
      "returnType" : {
        "returnType" : "DisassociateAssessmentReportEvidenceFolderResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateAssessmentReportEvidenceFolderResult"
    },
    "GetAccountStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountStatusRequest, GetAccountStatusResult>",
      "asyncReturnType" : "GetAccountStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the registration status of an account in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountStatusRequest",
        "variableName" : "getAccountStatusRequest",
        "variableType" : "GetAccountStatusRequest",
        "documentation" : "",
        "simpleType" : "GetAccountStatusRequest",
        "variableSetterType" : "GetAccountStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccountStatus",
      "operationName" : "GetAccountStatus",
      "returnType" : {
        "returnType" : "GetAccountStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccountStatusResult"
    },
    "GetAssessment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssessmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssessmentRequest, GetAssessmentResult>",
      "asyncReturnType" : "GetAssessmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns an assessment from AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssessmentRequest",
        "variableName" : "getAssessmentRequest",
        "variableType" : "GetAssessmentRequest",
        "documentation" : "",
        "simpleType" : "GetAssessmentRequest",
        "variableSetterType" : "GetAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssessment",
      "operationName" : "GetAssessment",
      "returnType" : {
        "returnType" : "GetAssessmentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssessmentResult"
    },
    "GetAssessmentFramework" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssessmentFrameworkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssessmentFrameworkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssessmentFrameworkRequest, GetAssessmentFrameworkResult>",
      "asyncReturnType" : "GetAssessmentFrameworkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a framework from AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssessmentFrameworkRequest",
        "variableName" : "getAssessmentFrameworkRequest",
        "variableType" : "GetAssessmentFrameworkRequest",
        "documentation" : "",
        "simpleType" : "GetAssessmentFrameworkRequest",
        "variableSetterType" : "GetAssessmentFrameworkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssessmentFramework",
      "operationName" : "GetAssessmentFramework",
      "returnType" : {
        "returnType" : "GetAssessmentFrameworkResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssessmentFrameworkResult"
    },
    "GetAssessmentReportUrl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssessmentReportUrlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssessmentReportUrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssessmentReportUrlRequest, GetAssessmentReportUrlResult>",
      "asyncReturnType" : "GetAssessmentReportUrlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the URL of a specified assessment report in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssessmentReportUrlRequest",
        "variableName" : "getAssessmentReportUrlRequest",
        "variableType" : "GetAssessmentReportUrlRequest",
        "documentation" : "",
        "simpleType" : "GetAssessmentReportUrlRequest",
        "variableSetterType" : "GetAssessmentReportUrlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssessmentReportUrl",
      "operationName" : "GetAssessmentReportUrl",
      "returnType" : {
        "returnType" : "GetAssessmentReportUrlResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssessmentReportUrlResult"
    },
    "GetChangeLogs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetChangeLogsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetChangeLogsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChangeLogsRequest, GetChangeLogsResult>",
      "asyncReturnType" : "GetChangeLogsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of changelogs from AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetChangeLogsRequest",
        "variableName" : "getChangeLogsRequest",
        "variableType" : "GetChangeLogsRequest",
        "documentation" : "",
        "simpleType" : "GetChangeLogsRequest",
        "variableSetterType" : "GetChangeLogsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getChangeLogs",
      "operationName" : "GetChangeLogs",
      "returnType" : {
        "returnType" : "GetChangeLogsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetChangeLogsResult"
    },
    "GetControl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetControlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetControlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetControlRequest, GetControlResult>",
      "asyncReturnType" : "GetControlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a control from AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetControlRequest",
        "variableName" : "getControlRequest",
        "variableType" : "GetControlRequest",
        "documentation" : "",
        "simpleType" : "GetControlRequest",
        "variableSetterType" : "GetControlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getControl",
      "operationName" : "GetControl",
      "returnType" : {
        "returnType" : "GetControlResult",
        "documentation" : null
      },
      "syncReturnType" : "GetControlResult"
    },
    "GetDelegations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDelegationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDelegationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDelegationsRequest, GetDelegationsResult>",
      "asyncReturnType" : "GetDelegationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of delegations from an audit owner to a delegate. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDelegationsRequest",
        "variableName" : "getDelegationsRequest",
        "variableType" : "GetDelegationsRequest",
        "documentation" : "",
        "simpleType" : "GetDelegationsRequest",
        "variableSetterType" : "GetDelegationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDelegations",
      "operationName" : "GetDelegations",
      "returnType" : {
        "returnType" : "GetDelegationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDelegationsResult"
    },
    "GetEvidence" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEvidenceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEvidenceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEvidenceRequest, GetEvidenceResult>",
      "asyncReturnType" : "GetEvidenceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns evidence from AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEvidenceRequest",
        "variableName" : "getEvidenceRequest",
        "variableType" : "GetEvidenceRequest",
        "documentation" : "",
        "simpleType" : "GetEvidenceRequest",
        "variableSetterType" : "GetEvidenceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEvidence",
      "operationName" : "GetEvidence",
      "returnType" : {
        "returnType" : "GetEvidenceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEvidenceResult"
    },
    "GetEvidenceByEvidenceFolder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEvidenceByEvidenceFolderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEvidenceByEvidenceFolderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEvidenceByEvidenceFolderRequest, GetEvidenceByEvidenceFolderResult>",
      "asyncReturnType" : "GetEvidenceByEvidenceFolderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns all evidence from a specified evidence folder in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEvidenceByEvidenceFolderRequest",
        "variableName" : "getEvidenceByEvidenceFolderRequest",
        "variableType" : "GetEvidenceByEvidenceFolderRequest",
        "documentation" : "",
        "simpleType" : "GetEvidenceByEvidenceFolderRequest",
        "variableSetterType" : "GetEvidenceByEvidenceFolderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEvidenceByEvidenceFolder",
      "operationName" : "GetEvidenceByEvidenceFolder",
      "returnType" : {
        "returnType" : "GetEvidenceByEvidenceFolderResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEvidenceByEvidenceFolderResult"
    },
    "GetEvidenceFolder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEvidenceFolderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEvidenceFolderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEvidenceFolderRequest, GetEvidenceFolderResult>",
      "asyncReturnType" : "GetEvidenceFolderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns an evidence folder from the specified assessment in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEvidenceFolderRequest",
        "variableName" : "getEvidenceFolderRequest",
        "variableType" : "GetEvidenceFolderRequest",
        "documentation" : "",
        "simpleType" : "GetEvidenceFolderRequest",
        "variableSetterType" : "GetEvidenceFolderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEvidenceFolder",
      "operationName" : "GetEvidenceFolder",
      "returnType" : {
        "returnType" : "GetEvidenceFolderResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEvidenceFolderResult"
    },
    "GetEvidenceFoldersByAssessment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEvidenceFoldersByAssessmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEvidenceFoldersByAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEvidenceFoldersByAssessmentRequest, GetEvidenceFoldersByAssessmentResult>",
      "asyncReturnType" : "GetEvidenceFoldersByAssessmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the evidence folders from a specified assessment in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEvidenceFoldersByAssessmentRequest",
        "variableName" : "getEvidenceFoldersByAssessmentRequest",
        "variableType" : "GetEvidenceFoldersByAssessmentRequest",
        "documentation" : "",
        "simpleType" : "GetEvidenceFoldersByAssessmentRequest",
        "variableSetterType" : "GetEvidenceFoldersByAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEvidenceFoldersByAssessment",
      "operationName" : "GetEvidenceFoldersByAssessment",
      "returnType" : {
        "returnType" : "GetEvidenceFoldersByAssessmentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEvidenceFoldersByAssessmentResult"
    },
    "GetEvidenceFoldersByAssessmentControl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEvidenceFoldersByAssessmentControlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEvidenceFoldersByAssessmentControlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEvidenceFoldersByAssessmentControlRequest, GetEvidenceFoldersByAssessmentControlResult>",
      "asyncReturnType" : "GetEvidenceFoldersByAssessmentControlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of evidence folders associated with a specified control of an assessment in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEvidenceFoldersByAssessmentControlRequest",
        "variableName" : "getEvidenceFoldersByAssessmentControlRequest",
        "variableType" : "GetEvidenceFoldersByAssessmentControlRequest",
        "documentation" : "",
        "simpleType" : "GetEvidenceFoldersByAssessmentControlRequest",
        "variableSetterType" : "GetEvidenceFoldersByAssessmentControlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEvidenceFoldersByAssessmentControl",
      "operationName" : "GetEvidenceFoldersByAssessmentControl",
      "returnType" : {
        "returnType" : "GetEvidenceFoldersByAssessmentControlResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEvidenceFoldersByAssessmentControlResult"
    },
    "GetOrganizationAdminAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOrganizationAdminAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOrganizationAdminAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOrganizationAdminAccountRequest, GetOrganizationAdminAccountResult>",
      "asyncReturnType" : "GetOrganizationAdminAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the name of the delegated AWS administrator account for the AWS organization. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOrganizationAdminAccountRequest",
        "variableName" : "getOrganizationAdminAccountRequest",
        "variableType" : "GetOrganizationAdminAccountRequest",
        "documentation" : "",
        "simpleType" : "GetOrganizationAdminAccountRequest",
        "variableSetterType" : "GetOrganizationAdminAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOrganizationAdminAccount",
      "operationName" : "GetOrganizationAdminAccount",
      "returnType" : {
        "returnType" : "GetOrganizationAdminAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOrganizationAdminAccountResult"
    },
    "GetServicesInScope" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServicesInScopeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServicesInScopeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServicesInScopeRequest, GetServicesInScopeResult>",
      "asyncReturnType" : "GetServicesInScopeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of the in-scope AWS services for the specified assessment. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServicesInScopeRequest",
        "variableName" : "getServicesInScopeRequest",
        "variableType" : "GetServicesInScopeRequest",
        "documentation" : "",
        "simpleType" : "GetServicesInScopeRequest",
        "variableSetterType" : "GetServicesInScopeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServicesInScope",
      "operationName" : "GetServicesInScope",
      "returnType" : {
        "returnType" : "GetServicesInScopeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServicesInScopeResult"
    },
    "GetSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSettingsRequest, GetSettingsResult>",
      "asyncReturnType" : "GetSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the settings for the specified AWS account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSettingsRequest",
        "variableName" : "getSettingsRequest",
        "variableType" : "GetSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetSettingsRequest",
        "variableSetterType" : "GetSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSettings",
      "operationName" : "GetSettings",
      "returnType" : {
        "returnType" : "GetSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSettingsResult"
    },
    "ListAssessmentFrameworks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentFrameworksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentFrameworksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentFrameworksRequest, ListAssessmentFrameworksResult>",
      "asyncReturnType" : "ListAssessmentFrameworksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of the frameworks available in the AWS Audit Manager framework library. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssessmentFrameworksRequest",
        "variableName" : "listAssessmentFrameworksRequest",
        "variableType" : "ListAssessmentFrameworksRequest",
        "documentation" : "",
        "simpleType" : "ListAssessmentFrameworksRequest",
        "variableSetterType" : "ListAssessmentFrameworksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssessmentFrameworks",
      "operationName" : "ListAssessmentFrameworks",
      "returnType" : {
        "returnType" : "ListAssessmentFrameworksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssessmentFrameworksResult"
    },
    "ListAssessmentReports" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentReportsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentReportsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentReportsRequest, ListAssessmentReportsResult>",
      "asyncReturnType" : "ListAssessmentReportsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of assessment reports created in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssessmentReportsRequest",
        "variableName" : "listAssessmentReportsRequest",
        "variableType" : "ListAssessmentReportsRequest",
        "documentation" : "",
        "simpleType" : "ListAssessmentReportsRequest",
        "variableSetterType" : "ListAssessmentReportsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssessmentReports",
      "operationName" : "ListAssessmentReports",
      "returnType" : {
        "returnType" : "ListAssessmentReportsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssessmentReportsResult"
    },
    "ListAssessments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentsRequest, ListAssessmentsResult>",
      "asyncReturnType" : "ListAssessmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of current and past assessments from AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssessmentsRequest",
        "variableName" : "listAssessmentsRequest",
        "variableType" : "ListAssessmentsRequest",
        "documentation" : "",
        "simpleType" : "ListAssessmentsRequest",
        "variableSetterType" : "ListAssessmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssessments",
      "operationName" : "ListAssessments",
      "returnType" : {
        "returnType" : "ListAssessmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssessmentsResult"
    },
    "ListControls" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListControlsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListControlsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListControlsRequest, ListControlsResult>",
      "asyncReturnType" : "ListControlsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of controls from AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListControlsRequest",
        "variableName" : "listControlsRequest",
        "variableType" : "ListControlsRequest",
        "documentation" : "",
        "simpleType" : "ListControlsRequest",
        "variableSetterType" : "ListControlsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listControls",
      "operationName" : "ListControls",
      "returnType" : {
        "returnType" : "ListControlsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListControlsResult"
    },
    "ListKeywordsForDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKeywordsForDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKeywordsForDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKeywordsForDataSourceRequest, ListKeywordsForDataSourceResult>",
      "asyncReturnType" : "ListKeywordsForDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of keywords that pre-mapped to the specified control data source. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKeywordsForDataSourceRequest",
        "variableName" : "listKeywordsForDataSourceRequest",
        "variableType" : "ListKeywordsForDataSourceRequest",
        "documentation" : "",
        "simpleType" : "ListKeywordsForDataSourceRequest",
        "variableSetterType" : "ListKeywordsForDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKeywordsForDataSource",
      "operationName" : "ListKeywordsForDataSource",
      "returnType" : {
        "returnType" : "ListKeywordsForDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKeywordsForDataSourceResult"
    },
    "ListNotifications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNotificationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNotificationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNotificationsRequest, ListNotificationsResult>",
      "asyncReturnType" : "ListNotificationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of all AWS Audit Manager notifications. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNotificationsRequest",
        "variableName" : "listNotificationsRequest",
        "variableType" : "ListNotificationsRequest",
        "documentation" : "",
        "simpleType" : "ListNotificationsRequest",
        "variableSetterType" : "ListNotificationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNotifications",
      "operationName" : "ListNotifications",
      "returnType" : {
        "returnType" : "ListNotificationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNotificationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of tags for the specified resource in AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RegisterAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterAccountRequest, RegisterAccountResult>",
      "asyncReturnType" : "RegisterAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Enables AWS Audit Manager for the specified AWS account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterAccountRequest",
        "variableName" : "registerAccountRequest",
        "variableType" : "RegisterAccountRequest",
        "documentation" : "",
        "simpleType" : "RegisterAccountRequest",
        "variableSetterType" : "RegisterAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerAccount",
      "operationName" : "RegisterAccount",
      "returnType" : {
        "returnType" : "RegisterAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterAccountResult"
    },
    "RegisterOrganizationAdminAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterOrganizationAdminAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterOrganizationAdminAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterOrganizationAdminAccountRequest, RegisterOrganizationAdminAccountResult>",
      "asyncReturnType" : "RegisterOrganizationAdminAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Enables an AWS account within the organization as the delegated administrator for AWS Audit Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request has invalid or missing parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> Your account is not registered with AWS Audit Manager. Check the delegated administrator setup on the AWS Audit Manager settings page, and try again. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal service error occurred during the processing of your request. Try again later. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource specified in the request cannot be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterOrganizationAdminAccountRequest",
        "variableName" : "registerOrganizationAdminAccountRequest",
[...]
