{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2018-01-06",
    "asyncClient" : "AWSAutoScalingPlansAsyncClient",
    "asyncClientBuilderClassName" : "AWSAutoScalingPlansAsyncClientBuilder",
    "asyncInterface" : "AWSAutoScalingPlansAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSAutoScalingPlansModuleInjector",
    "defaultEndpoint" : "autoscaling.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "autoscaling.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : null,
    "endpointPrefix" : "autoscaling",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.autoscalingplans",
    "packagePath" : "com/amazonaws/services/autoscalingplans",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Auto Scaling Plans",
    "serviceName" : "AWS Auto Scaling Plans",
    "signingName" : "autoscaling-plans",
    "smokeTestsPackageName" : "com.amazonaws.services.autoscalingplans.smoketests",
    "syncClient" : "AWSAutoScalingPlansClient",
    "syncClientBuilderClassName" : "AWSAutoScalingPlansClientBuilder",
    "syncInterface" : "AWSAutoScalingPlans",
    "uid" : "autoscaling-plans-2018-01-06",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateScalingPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateScalingPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateScalingPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateScalingPlanRequest, CreateScalingPlanResult>",
      "asyncReturnType" : "CreateScalingPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateScalingPlanRequest",
        "variableName" : "createScalingPlanRequest",
        "variableType" : "CreateScalingPlanRequest",
        "documentation" : "",
        "simpleType" : "CreateScalingPlanRequest",
        "variableSetterType" : "CreateScalingPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createScalingPlan",
      "operationName" : "CreateScalingPlan",
      "returnType" : {
        "returnType" : "CreateScalingPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateScalingPlanResult"
    },
    "DeleteScalingPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteScalingPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteScalingPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteScalingPlanRequest, DeleteScalingPlanResult>",
      "asyncReturnType" : "DeleteScalingPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteScalingPlanRequest",
        "variableName" : "deleteScalingPlanRequest",
        "variableType" : "DeleteScalingPlanRequest",
        "documentation" : "",
        "simpleType" : "DeleteScalingPlanRequest",
        "variableSetterType" : "DeleteScalingPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteScalingPlan",
      "operationName" : "DeleteScalingPlan",
      "returnType" : {
        "returnType" : "DeleteScalingPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteScalingPlanResult"
    },
    "DescribeScalingPlanResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingPlanResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingPlanResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingPlanResourcesRequest, DescribeScalingPlanResourcesResult>",
      "asyncReturnType" : "DescribeScalingPlanResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScalingPlanResourcesRequest",
        "variableName" : "describeScalingPlanResourcesRequest",
        "variableType" : "DescribeScalingPlanResourcesRequest",
        "documentation" : "",
        "simpleType" : "DescribeScalingPlanResourcesRequest",
        "variableSetterType" : "DescribeScalingPlanResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalingPlanResources",
      "operationName" : "DescribeScalingPlanResources",
      "returnType" : {
        "returnType" : "DescribeScalingPlanResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeScalingPlanResourcesResult"
    },
    "DescribeScalingPlans" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingPlansResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingPlansResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingPlansRequest, DescribeScalingPlansResult>",
      "asyncReturnType" : "DescribeScalingPlansResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScalingPlansRequest",
        "variableName" : "describeScalingPlansRequest",
        "variableType" : "DescribeScalingPlansRequest",
        "documentation" : "",
        "simpleType" : "DescribeScalingPlansRequest",
        "variableSetterType" : "DescribeScalingPlansRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalingPlans",
      "operationName" : "DescribeScalingPlans",
      "returnType" : {
        "returnType" : "DescribeScalingPlansResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeScalingPlansResult"
    }
  },
  "shapes" : {
    "ApplicationSource" : {
      "c2jName" : "ApplicationSource",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CloudFormationStackARN",
        "c2jShape" : "XmlString",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param cloudFormationStackARN \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCloudFormationStackARN",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCloudFormationStackARN",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CloudFormationStackARN",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CloudFormationStackARN",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CloudFormationStackARN",
        "setterDocumentation" : "/**\n@param cloudFormationStackARN */",
        "setterMethodName" : "setCloudFormationStackARN",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "cloudFormationStackARN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param cloudFormationStackARN \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "cloudFormationStackARN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CloudFormationStackARN" : {
          "c2jName" : "CloudFormationStackARN",
          "c2jShape" : "XmlString",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param cloudFormationStackARN \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCloudFormationStackARN",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCloudFormationStackARN",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CloudFormationStackARN",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CloudFormationStackARN",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CloudFormationStackARN",
          "setterDocumentation" : "/**\n@param cloudFormationStackARN */",
          "setterMethodName" : "setCloudFormationStackARN",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "cloudFormationStackARN",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param cloudFormationStackARN \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "cloudFormationStackARN",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ApplicationSource",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ApplicationSource",
        "variableName" : "applicationSource",
        "variableType" : "ApplicationSource",
        "documentation" : null,
        "simpleType" : "ApplicationSource",
        "variableSetterType" : "ApplicationSource"
      },
      "wrapper" : false
    },
    "ConcurrentUpdateException" : {
      "c2jName" : "ConcurrentUpdateException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : "ConcurrentUpdateException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConcurrentUpdateException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ConcurrentUpdateException",
        "variableName" : "concurrentUpdateException",
        "variableType" : "ConcurrentUpdateException",
        "documentation" : null,
        "simpleType" : "ConcurrentUpdateException",
        "variableSetterType" : "ConcurrentUpdateException"
      },
      "wrapper" : false
    },
    "CreateScalingPlanRequest" : {
      "c2jName" : "CreateScalingPlanRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateScalingPlan",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AnyScaleScalingPlannerFrontendService.CreateScalingPlan",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ScalingPlanName",
        "c2jShape" : "ScalingPlanName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param scalingPlanName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScalingPlanName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getScalingPlanName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ScalingPlanName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalingPlanName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ScalingPlanName",
        "setterDocumentation" : "/**\n@param scalingPlanName */",
        "setterMethodName" : "setScalingPlanName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "scalingPlanName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param scalingPlanName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "scalingPlanName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ApplicationSource",
        "c2jShape" : "ApplicationSource",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param applicationSource \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationSource",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getApplicationSource",
        "getterModel" : {
          "returnType" : "ApplicationSource",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApplicationSource",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationSource",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ApplicationSource",
        "setterDocumentation" : "/**\n@param applicationSource */",
        "setterMethodName" : "setApplicationSource",
        "setterModel" : {
          "variableDeclarationType" : "ApplicationSource",
          "variableName" : "applicationSource",
          "variableType" : "ApplicationSource",
          "documentation" : "",
          "simpleType" : "ApplicationSource",
          "variableSetterType" : "ApplicationSource"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param applicationSource \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "ApplicationSource",
          "variableName" : "applicationSource",
          "variableType" : "ApplicationSource",
          "documentation" : "",
          "simpleType" : "ApplicationSource",
          "variableSetterType" : "ApplicationSource"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ScalingInstructions",
        "c2jShape" : "ScalingInstructions",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param scalingInstructions \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScalingInstructions",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getScalingInstructions",
        "getterModel" : {
          "returnType" : "java.util.List<ScalingInstruction>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ScalingInstructions",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalingInstructions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ScalingInstruction",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "ScalingInstruction",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "ScalingInstruction",
              "variableName" : "member",
              "variableType" : "ScalingInstruction",
              "documentation" : "",
              "simpleType" : "ScalingInstruction",
              "variableSetterType" : "ScalingInstruction"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "ScalingInstruction",
              "variableName" : "member",
              "variableType" : "ScalingInstruction",
              "documentation" : "",
              "simpleType" : "ScalingInstruction",
              "variableSetterType" : "ScalingInstruction"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "ScalingInstruction",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "ScalingInstruction",
          "templateImplType" : "java.util.ArrayList<ScalingInstruction>",
          "templateType" : "java.util.List<ScalingInstruction>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ScalingInstructions",
        "setterDocumentation" : "/**\n@param scalingInstructions */",
        "setterMethodName" : "setScalingInstructions",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<ScalingInstruction>",
          "variableName" : "scalingInstructions",
          "variableType" : "java.util.List<ScalingInstruction>",
          "documentation" : "",
          "simpleType" : "List<ScalingInstruction>",
          "variableSetterType" : "java.util.Collection<ScalingInstruction>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setScalingInstructions(java.util.Collection)} or {@link #withScalingInstructions(java.util.Collection)} if you want to override the existing values.</p>\n@param scalingInstructions \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<ScalingInstruction>",
          "variableName" : "scalingInstructions",
          "variableType" : "java.util.List<ScalingInstruction>",
          "documentation" : "",
          "simpleType" : "List<ScalingInstruction>",
          "variableSetterType" : "java.util.Collection<ScalingInstruction>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationSource" : {
          "c2jName" : "ApplicationSource",
          "c2jShape" : "ApplicationSource",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param applicationSource \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationSource",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getApplicationSource",
          "getterModel" : {
            "returnType" : "ApplicationSource",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ApplicationSource",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ApplicationSource",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ApplicationSource",
          "setterDocumentation" : "/**\n@param applicationSource */",
          "setterMethodName" : "setApplicationSource",
          "setterModel" : {
            "variableDeclarationType" : "ApplicationSource",
            "variableName" : "applicationSource",
            "variableType" : "ApplicationSource",
            "documentation" : "",
            "simpleType" : "ApplicationSource",
            "variableSetterType" : "ApplicationSource"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param applicationSource \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "ApplicationSource",
            "variableName" : "applicationSource",
            "variableType" : "ApplicationSource",
            "documentation" : "",
            "simpleType" : "ApplicationSource",
            "variableSetterType" : "ApplicationSource"
          },
          "xmlNameSpaceUri" : null
        },
        "ScalingInstructions" : {
          "c2jName" : "ScalingInstructions",
          "c2jShape" : "ScalingInstructions",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param scalingInstructions \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScalingInstructions",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getScalingInstructions",
          "getterModel" : {
            "returnType" : "java.util.List<ScalingInstruction>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ScalingInstructions",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ScalingInstructions",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ScalingInstruction",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "ScalingInstruction",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "ScalingInstruction",
                "variableName" : "member",
                "variableType" : "ScalingInstruction",
                "documentation" : "",
                "simpleType" : "ScalingInstruction",
                "variableSetterType" : "ScalingInstruction"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "ScalingInstruction",
                "variableName" : "member",
                "variableType" : "ScalingInstruction",
                "documentation" : "",
                "simpleType" : "ScalingInstruction",
                "variableSetterType" : "ScalingInstruction"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "ScalingInstruction",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "ScalingInstruction",
            "templateImplType" : "java.util.ArrayList<ScalingInstruction>",
            "templateType" : "java.util.List<ScalingInstruction>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ScalingInstructions",
          "setterDocumentation" : "/**\n@param scalingInstructions */",
          "setterMethodName" : "setScalingInstructions",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<ScalingInstruction>",
            "variableName" : "scalingInstructions",
            "variableType" : "java.util.List<ScalingInstruction>",
            "documentation" : "",
            "simpleType" : "List<ScalingInstruction>",
            "variableSetterType" : "java.util.Collection<ScalingInstruction>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setScalingInstructions(java.util.Collection)} or {@link #withScalingInstructions(java.util.Collection)} if you want to override the existing values.</p>\n@param scalingInstructions \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<ScalingInstruction>",
            "variableName" : "scalingInstructions",
            "variableType" : "java.util.List<ScalingInstruction>",
            "documentation" : "",
            "simpleType" : "List<ScalingInstruction>",
            "variableSetterType" : "java.util.Collection<ScalingInstruction>"
          },
          "xmlNameSpaceUri" : null
        },
        "ScalingPlanName" : {
          "c2jName" : "ScalingPlanName",
          "c2jShape" : "ScalingPlanName",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param scalingPlanName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScalingPlanName",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getScalingPlanName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ScalingPlanName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ScalingPlanName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ScalingPlanName",
          "setterDocumentation" : "/**\n@param scalingPlanName */",
          "setterMethodName" : "setScalingPlanName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "scalingPlanName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param scalingPlanName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "scalingPlanName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ScalingPlanName", "ApplicationSource", "ScalingInstructions" ],
      "shapeName" : "CreateScalingPlanRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreateScalingPlanRequest",
        "variableName" : "createScalingPlanRequest",
        "variableType" : "CreateScalingPlanRequest",
        "documentation" : null,
        "simpleType" : "CreateScalingPlanRequest",
        "variableSetterType" : "CreateScalingPlanRequest"
      },
      "wrapper" : false
    },
    "CreateScalingPlanResult" : {
      "c2jName" : "CreateScalingPlanResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ScalingPlanVersion",
        "c2jShape" : "ScalingPlanVersion",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param scalingPlanVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScalingPlanVersion",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getScalingPlanVersion",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ScalingPlanVersion",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalingPlanVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ScalingPlanVersion",
        "setterDocumentation" : "/**\n@param scalingPlanVersion */",
        "setterMethodName" : "setScalingPlanVersion",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "scalingPlanVersion",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param scalingPlanVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "scalingPlanVersion",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ScalingPlanVersion" : {
          "c2jName" : "ScalingPlanVersion",
          "c2jShape" : "ScalingPlanVersion",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param scalingPlanVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScalingPlanVersion",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getScalingPlanVersion",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ScalingPlanVersion",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ScalingPlanVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "ScalingPlanVersion",
          "setterDocumentation" : "/**\n@param scalingPlanVersion */",
          "setterMethodName" : "setScalingPlanVersion",
          "setterModel" : {
            "variableDeclarationType" : "Long",
            "variableName" : "scalingPlanVersion",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param scalingPlanVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Long",
            "variableName" : "scalingPlanVersion",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ScalingPlanVersion" ],
      "shapeName" : "CreateScalingPlanResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CreateScalingPlanResult",
        "variableName" : "createScalingPlanResult",
        "variableType" : "CreateScalingPlanResult",
        "documentation" : null,
        "simpleType" : "CreateScalingPlanResult",
        "variableSetterType" : "CreateScalingPlanResult"
      },
      "wrapper" : false
    },
    "CustomizedScalingMetricSpecification" : {
      "c2jName" : "CustomizedScalingMetricSpecification",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "MetricName",
        "c2jShape" : "MetricName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param metricName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMetricName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getMetricName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MetricName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MetricName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MetricName",
        "setterDocumentation" : "/**\n@param metricName */",
        "setterMethodName" : "setMetricName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "metricName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param metricName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "metricName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Namespace",
        "c2jShape" : "MetricNamespace",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param namespace \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNamespace",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getNamespace",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Namespace",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Namespace",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Namespace",
        "setterDocumentation" : "/**\n@param namespace */",
        "setterMethodName" : "setNamespace",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "namespace",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param namespace \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "namespace",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Dimensions",
        "c2jShape" : "MetricDimensions",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param dimensions \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDimensions",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getDimensions",
        "getterModel" : {
          "returnType" : "java.util.List<MetricDimension>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Dimensions",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Dimensions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "MetricDimension",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "MetricDimension",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "MetricDimension",
              "variableName" : "member",
              "variableType" : "MetricDimension",
              "documentation" : "",
              "simpleType" : "MetricDimension",
              "variableSetterType" : "MetricDimension"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "MetricDimension",
              "variableName" : "member",
              "variableType" : "MetricDimension",
              "documentation" : "",
              "simpleType" : "MetricDimension",
              "variableSetterType" : "MetricDimension"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "MetricDimension",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "MetricDimension",
          "templateImplType" : "java.util.ArrayList<MetricDimension>",
          "templateType" : "java.util.List<MetricDimension>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Dimensions",
        "setterDocumentation" : "/**\n@param dimensions */",
        "setterMethodName" : "setDimensions",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<MetricDimension>",
          "variableName" : "dimensions",
          "variableType" : "java.util.List<MetricDimension>",
          "documentation" : "",
          "simpleType" : "List<MetricDimension>",
          "variableSetterType" : "java.util.Collection<MetricDimension>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setDimensions(java.util.Collection)} or {@link #withDimensions(java.util.Collection)} if you want to override the existing values.</p>\n@param dimensions \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<MetricDimension>",
          "variableName" : "dimensions",
          "variableType" : "java.util.List<MetricDimension>",
          "documentation" : "",
          "simpleType" : "List<MetricDimension>",
          "variableSetterType" : "java.util.Collection<MetricDimension>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Statistic",
        "c2jShape" : "MetricStatistic",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "MetricStatistic",
        "fluentSetterDocumentation" : "/**\n@param statistic \n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricStatistic*/",
        "fluentSetterMethodName" : "withStatistic",
        "getterDocumentation" : "/**\n@return \n@see MetricStatistic*/",
        "getterMethodName" : "getStatistic",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Statistic",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Statistic",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Statistic",
        "setterDocumentation" : "/**\n@param statistic \n@see MetricStatistic*/",
        "setterMethodName" : "setStatistic",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "statistic",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param statistic \n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricStatistic*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "statistic",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Unit",
        "c2jShape" : "MetricUnit",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param unit \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUnit",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getUnit",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Unit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Unit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Unit",
        "setterDocumentation" : "/**\n@param unit */",
        "setterMethodName" : "setUnit",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "unit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param unit \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "unit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Dimensions" : {
          "c2jName" : "Dimensions",
          "c2jShape" : "MetricDimensions",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param dimensions \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDimensions",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getDimensions",
          "getterModel" : {
            "returnType" : "java.util.List<MetricDimension>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Dimensions",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Dimensions",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "MetricDimension",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "MetricDimension",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "MetricDimension",
                "variableName" : "member",
                "variableType" : "MetricDimension",
                "documentation" : "",
                "simpleType" : "MetricDimension",
                "variableSetterType" : "MetricDimension"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "MetricDimension",
                "variableName" : "member",
                "variableType" : "MetricDimension",
                "documentation" : "",
                "simpleType" : "MetricDimension",
                "variableSetterType" : "MetricDimension"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "MetricDimension",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "MetricDimension",
            "templateImplType" : "java.util.ArrayList<MetricDimension>",
            "templateType" : "java.util.List<MetricDimension>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Dimensions",
          "setterDocumentation" : "/**\n@param dimensions */",
          "setterMethodName" : "setDimensions",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<MetricDimension>",
            "variableName" : "dimensions",
            "variableType" : "java.util.List<MetricDimension>",
            "documentation" : "",
            "simpleType" : "List<MetricDimension>",
            "variableSetterType" : "java.util.Collection<MetricDimension>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setDimensions(java.util.Collection)} or {@link #withDimensions(java.util.Collection)} if you want to override the existing values.</p>\n@param dimensions \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<MetricDimension>",
            "variableName" : "dimensions",
            "variableType" : "java.util.List<MetricDimension>",
            "documentation" : "",
            "simpleType" : "List<MetricDimension>",
            "variableSetterType" : "java.util.Collection<MetricDimension>"
          },
          "xmlNameSpaceUri" : null
        },
        "MetricName" : {
          "c2jName" : "MetricName",
          "c2jShape" : "MetricName",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param metricName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMetricName",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getMetricName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MetricName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MetricName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MetricName",
          "setterDocumentation" : "/**\n@param metricName */",
          "setterMethodName" : "setMetricName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "metricName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param metricName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "metricName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Namespace" : {
          "c2jName" : "Namespace",
          "c2jShape" : "MetricNamespace",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param namespace \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNamespace",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getNamespace",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Namespace",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Namespace",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Namespace",
          "setterDocumentation" : "/**\n@param namespace */",
          "setterMethodName" : "setNamespace",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "namespace",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param namespace \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "namespace",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Statistic" : {
          "c2jName" : "Statistic",
          "c2jShape" : "MetricStatistic",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : "MetricStatistic",
          "fluentSetterDocumentation" : "/**\n@param statistic \n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricStatistic*/",
          "fluentSetterMethodName" : "withStatistic",
          "getterDocumentation" : "/**\n@return \n@see MetricStatistic*/",
          "getterMethodName" : "getStatistic",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Statistic",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Statistic",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Statistic",
          "setterDocumentation" : "/**\n@param statistic \n@see MetricStatistic*/",
          "setterMethodName" : "setStatistic",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "statistic",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param statistic \n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricStatistic*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "statistic",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Unit" : {
          "c2jName" : "Unit",
          "c2jShape" : "MetricUnit",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param unit \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUnit",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getUnit",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Unit",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Unit",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Unit",
          "setterDocumentation" : "/**\n@param unit */",
          "setterMethodName" : "setUnit",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "unit",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param unit \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "unit",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "MetricName", "Namespace", "Statistic" ],
      "shapeName" : "CustomizedScalingMetricSpecification",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CustomizedScalingMetricSpecification",
        "variableName" : "customizedScalingMetricSpecification",
        "variableType" : "CustomizedScalingMetricSpecification",
        "documentation" : null,
        "simpleType" : "CustomizedScalingMetricSpecification",
        "variableSetterType" : "CustomizedScalingMetricSpecification"
      },
      "wrapper" : false
    },
    "DeleteScalingPlanRequest" : {
      "c2jName" : "DeleteScalingPlanRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteScalingPlan",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AnyScaleScalingPlannerFrontendService.DeleteScalingPlan",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ScalingPlanName",
        "c2jShape" : "ScalingPlanName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param scalingPlanName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScalingPlanName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getScalingPlanName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ScalingPlanName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalingPlanName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ScalingPlanName",
        "setterDocumentation" : "/**\n@param scalingPlanName */",
        "setterMethodName" : "setScalingPlanName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "scalingPlanName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param scalingPlanName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "scalingPlanName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ScalingPlanVersion",
        "c2jShape" : "ScalingPlanVersion",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param scalingPlanVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScalingPlanVersion",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getScalingPlanVersion",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ScalingPlanVersion",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalingPlanVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ScalingPlanVersion",
        "setterDocumentation" : "/**\n@param scalingPlanVersion */",
        "setterMethodName" : "setScalingPlanVersion",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "scalingPlanVersion",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param scalingPlanVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "scalingPlanVersion",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ScalingPlanName" : {
          "c2jName" : "ScalingPlanName",
          "c2jShape" : "ScalingPlanName",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param scalingPlanName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScalingPlanName",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getScalingPlanName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ScalingPlanName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ScalingPlanName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ScalingPlanName",
          "setterDocumentation" : "/**\n@param scalingPlanName */",
          "setterMethodName" : "setScalingPlanName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "scalingPlanName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param scalingPlanName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "scalingPlanName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ScalingPlanVersion" : {
          "c2jName" : "ScalingPlanVersion",
          "c2jShape" : "ScalingPlanVersion",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param scalingPlanVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScalingPlanVersion",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getScalingPlanVersion",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ScalingPlanVersion",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ScalingPlanVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "ScalingPlanVersion",
          "setterDocumentation" : "/**\n@param scalingPlanVersion */",
          "setterMethodName" : "setScalingPlanVersion",
          "setterModel" : {
            "variableDeclarationType" : "Long",
            "variableName" : "scalingPlanVersion",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param scalingPlanVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Long",
            "variableName" : "scalingPlanVersion",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ScalingPlanName", "ScalingPlanVersion" ],
      "shapeName" : "DeleteScalingPlanRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "DeleteScalingPlanRequest",
        "variableName" : "deleteScalingPlanRequest",
        "variableType" : "DeleteScalingPlanRequest",
        "documentation" : null,
        "simpleType" : "DeleteScalingPlanRequest",
        "variableSetterType" : "DeleteScalingPlanRequest"
      },
      "wrapper" : false
    },
    "DeleteScalingPlanResult" : {
      "c2jName" : "DeleteScalingPlanResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteScalingPlanResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "DeleteScalingPlanResult",
        "variableName" : "deleteScalingPlanResult",
        "variableType" : "DeleteScalingPlanResult",
        "documentation" : null,
        "simpleType" : "DeleteScalingPlanResult",
        "variableSetterType" : "DeleteScalingPlanResult"
      },
      "wrapper" : false
    },
    "DescribeScalingPlanResourcesRequest" : {
      "c2jName" : "DescribeScalingPlanResourcesRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeScalingPlanResources",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AnyScaleScalingPlannerFrontendService.DescribeScalingPlanResources",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ScalingPlanName",
        "c2jShape" : "ScalingPlanName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param scalingPlanName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScalingPlanName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getScalingPlanName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ScalingPlanName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalingPlanName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ScalingPlanName",
        "setterDocumentation" : "/**\n@param scalingPlanName */",
        "setterMethodName" : "setScalingPlanName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "scalingPlanName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param scalingPlanName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "scalingPlanName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ScalingPlanVersion",
        "c2jShape" : "ScalingPlanVersion",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param scalingPlanVersion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScalingPlanVersion",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getScalingPlanVersion",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ScalingPlanVersion",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalingPlanVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
[...]
