{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : "AutoScaling",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "AttachLoadBalancers" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeAccountLimits" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeAdjustmentTypes" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeAutoScalingGroups" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeAutoScalingInstances" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeAutoScalingNotificationTypes" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeLaunchConfigurations" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeLifecycleHookTypes" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeMetricCollectionTypes" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeNotificationConfigurations" : {
        "methodForms" : [ [ ] ]
      },
      "DescribePolicies" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeScalingActivities" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeScalingProcessTypes" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeScheduledActions" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeTags" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeTerminationPolicyTypes" : {
        "methodForms" : [ [ ] ]
      },
      "DetachLoadBalancers" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2011-01-01",
    "asyncClient" : "AmazonAutoScalingAsyncClient",
    "asyncClientBuilderClassName" : "AmazonAutoScalingAsyncClientBuilder",
    "asyncInterface" : "AmazonAutoScalingAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonAutoScalingModuleInjector",
    "defaultEndpoint" : "https://autoscaling.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "autoscaling.amazonaws.com",
    "documentation" : "<fullname>Auto Scaling</fullname> <p>Auto Scaling is designed to automatically launch or terminate EC2 instances based on user-defined policies, schedules, and health checks. Use this service in conjunction with the Amazon CloudWatch and Elastic Load Balancing services.</p>",
    "endpointPrefix" : "autoscaling",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.autoscaling",
    "packagePath" : "com/amazonaws/services/autoscaling",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Auto Scaling",
    "serviceName" : "Auto Scaling",
    "signingName" : "autoscaling",
    "smokeTestsPackageName" : "com.amazonaws.services.autoscaling.smoketests",
    "syncClient" : "AmazonAutoScalingClient",
    "syncClientBuilderClassName" : "AmazonAutoScalingClientBuilder",
    "syncInterface" : "AmazonAutoScaling",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "AttachInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AttachInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AttachInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachInstancesRequest, AttachInstancesResult>",
      "asyncReturnType" : "AttachInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p> <p>When you attach instances, Auto Scaling increases the desired capacity of the group by the number of instances being attached. If the number of instances being attached plus the desired capacity of the group exceeds the maximum size of the group, the operation fails.</p> <p>If there is a Classic load balancer attached to your Auto Scaling group, the instances are also registered with the load balancer. If there are target groups attached to your Auto Scaling group, the instances are also registered with the target groups.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/attach-instance-asg.html\">Attach EC2 Instances to Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AttachInstancesRequest",
        "variableName" : "attachInstancesRequest",
        "variableType" : "AttachInstancesRequest",
        "documentation" : "<p>Contains the parameters for AttachInstances.</p>",
        "simpleType" : "AttachInstancesRequest",
        "variableSetterType" : "AttachInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "attachInstances",
      "operationName" : "AttachInstances",
      "returnType" : {
        "returnType" : "AttachInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "AttachInstancesResult"
    },
    "AttachLoadBalancerTargetGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AttachLoadBalancerTargetGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AttachLoadBalancerTargetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachLoadBalancerTargetGroupsRequest, AttachLoadBalancerTargetGroupsResult>",
      "asyncReturnType" : "AttachLoadBalancerTargetGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches one or more target groups to the specified Auto Scaling group.</p> <p>To describe the target groups for an Auto Scaling group, use <a>DescribeLoadBalancerTargetGroups</a>. To detach the target group from the Auto Scaling group, use <a>DetachLoadBalancerTargetGroups</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/attach-load-balancer-asg.html\">Attach a Load Balancer to Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AttachLoadBalancerTargetGroupsRequest",
        "variableName" : "attachLoadBalancerTargetGroupsRequest",
        "variableType" : "AttachLoadBalancerTargetGroupsRequest",
        "documentation" : "<p>Contains the parameters for AttachLoadBalancerTargetGroups.</p>",
        "simpleType" : "AttachLoadBalancerTargetGroupsRequest",
        "variableSetterType" : "AttachLoadBalancerTargetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "attachLoadBalancerTargetGroups",
      "operationName" : "AttachLoadBalancerTargetGroups",
      "returnType" : {
        "returnType" : "AttachLoadBalancerTargetGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "AttachLoadBalancerTargetGroupsResult"
    },
    "AttachLoadBalancers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AttachLoadBalancersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AttachLoadBalancersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachLoadBalancersRequest, AttachLoadBalancersResult>",
      "asyncReturnType" : "AttachLoadBalancersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches one or more Classic load balancers to the specified Auto Scaling group.</p> <p>To attach an Application load balancer instead, see <a>AttachLoadBalancerTargetGroups</a>.</p> <p>To describe the load balancers for an Auto Scaling group, use <a>DescribeLoadBalancers</a>. To detach the load balancer from the Auto Scaling group, use <a>DetachLoadBalancers</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/attach-load-balancer-asg.html\">Attach a Load Balancer to Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AttachLoadBalancersRequest",
        "variableName" : "attachLoadBalancersRequest",
        "variableType" : "AttachLoadBalancersRequest",
        "documentation" : "<p>Contains the parameters for AttachLoadBalancers.</p>",
        "simpleType" : "AttachLoadBalancersRequest",
        "variableSetterType" : "AttachLoadBalancersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "attachLoadBalancers",
      "operationName" : "AttachLoadBalancers",
      "returnType" : {
        "returnType" : "AttachLoadBalancersResult",
        "documentation" : "<p>Contains the output of AttachLoadBalancers.</p>"
      },
      "syncReturnType" : "AttachLoadBalancersResult"
    },
    "CompleteLifecycleAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CompleteLifecycleActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CompleteLifecycleActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CompleteLifecycleActionRequest, CompleteLifecycleActionResult>",
      "asyncReturnType" : "CompleteLifecycleActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Completes the lifecycle action for the specified token or instance with the specified result.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</p> </li> <li> <p> <b>If you finish before the timeout period ends, complete the lifecycle action.</b> </p> </li> </ol> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroupLifecycle.html\">Auto Scaling Lifecycle</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CompleteLifecycleActionRequest",
        "variableName" : "completeLifecycleActionRequest",
        "variableType" : "CompleteLifecycleActionRequest",
        "documentation" : "<p>Contains the parameters for CompleteLifecycleAction.</p>",
        "simpleType" : "CompleteLifecycleActionRequest",
        "variableSetterType" : "CompleteLifecycleActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "completeLifecycleAction",
      "operationName" : "CompleteLifecycleAction",
      "returnType" : {
        "returnType" : "CompleteLifecycleActionResult",
        "documentation" : "<p>Contains the output of CompleteLifecycleAction.</p>"
      },
      "syncReturnType" : "CompleteLifecycleActionResult"
    },
    "CreateAutoScalingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAutoScalingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAutoScalingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAutoScalingGroupRequest, CreateAutoScalingGroupResult>",
      "asyncReturnType" : "CreateAutoScalingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Auto Scaling group with the specified name and attributes.</p> <p>If you exceed your maximum limit of Auto Scaling groups, which by default is 20 per region, the call fails. For information about viewing and updating this limit, see <a>DescribeAccountLimits</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroup.html\">Auto Scaling Groups</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateAutoScalingGroupRequest",
        "variableName" : "createAutoScalingGroupRequest",
        "variableType" : "CreateAutoScalingGroupRequest",
        "documentation" : "<p>Contains the parameters for CreateAutoScalingGroup.</p>",
        "simpleType" : "CreateAutoScalingGroupRequest",
        "variableSetterType" : "CreateAutoScalingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAutoScalingGroup",
      "operationName" : "CreateAutoScalingGroup",
      "returnType" : {
        "returnType" : "CreateAutoScalingGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAutoScalingGroupResult"
    },
    "CreateLaunchConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLaunchConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLaunchConfigurationRequest, CreateLaunchConfigurationResult>",
      "asyncReturnType" : "CreateLaunchConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a launch configuration.</p> <p>If you exceed your maximum limit of launch configurations, which by default is 100 per region, the call fails. For information about viewing and updating this limit, see <a>DescribeAccountLimits</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/LaunchConfiguration.html\">Launch Configurations</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateLaunchConfigurationRequest",
        "variableName" : "createLaunchConfigurationRequest",
        "variableType" : "CreateLaunchConfigurationRequest",
        "documentation" : "<p>Contains the parameters for CreateLaunchConfiguration.</p>",
        "simpleType" : "CreateLaunchConfigurationRequest",
        "variableSetterType" : "CreateLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLaunchConfiguration",
      "operationName" : "CreateLaunchConfiguration",
      "returnType" : {
        "returnType" : "CreateLaunchConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLaunchConfigurationResult"
    },
    "CreateOrUpdateTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateOrUpdateTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateOrUpdateTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateOrUpdateTagsRequest, CreateOrUpdateTagsResult>",
      "asyncReturnType" : "CreateOrUpdateTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates tags for the specified Auto Scaling group.</p> <p>When you specify a tag with a key that already exists, the operation overwrites the previous tag definition, and you do not get an error message.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/autoscaling-tagging.html\">Tagging Auto Scaling Groups and Instances</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateOrUpdateTagsRequest",
        "variableName" : "createOrUpdateTagsRequest",
        "variableType" : "CreateOrUpdateTagsRequest",
        "documentation" : "<p>Contains the parameters for CreateOrUpdateTags.</p>",
        "simpleType" : "CreateOrUpdateTagsRequest",
        "variableSetterType" : "CreateOrUpdateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createOrUpdateTags",
      "operationName" : "CreateOrUpdateTags",
      "returnType" : {
        "returnType" : "CreateOrUpdateTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateOrUpdateTagsResult"
    },
    "DeleteAutoScalingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAutoScalingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAutoScalingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAutoScalingGroupRequest, DeleteAutoScalingGroupResult>",
      "asyncReturnType" : "DeleteAutoScalingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Auto Scaling group.</p> <p>If the group has instances or scaling activities in progress, you must specify the option to force the deletion in order for it to succeed.</p> <p>If the group has policies, deleting the group deletes the policies, the underlying alarm actions, and any alarm that no longer has an associated action.</p> <p>To remove instances from the Auto Scaling group before deleting it, call <a>DetachInstances</a> with the list of instances and the option to decrement the desired capacity so that Auto Scaling does not launch replacement instances.</p> <p>To terminate all instances before deleting the Auto Scaling group, call <a>UpdateAutoScalingGroup</a> and set the minimum size and desired capacity of the Auto Scaling group to zero.</p>",
      "exceptions" : [ {
        "exceptionName" : "ScalingActivityInProgressException",
        "documentation" : "<p>The operation can't be performed because there are scaling activities in progress.</p>"
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The operation can't be performed because the resource is in use.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteAutoScalingGroupRequest",
        "variableName" : "deleteAutoScalingGroupRequest",
        "variableType" : "DeleteAutoScalingGroupRequest",
        "documentation" : "<p>Contains the parameters for DeleteAutoScalingGroup.</p>",
        "simpleType" : "DeleteAutoScalingGroupRequest",
        "variableSetterType" : "DeleteAutoScalingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAutoScalingGroup",
      "operationName" : "DeleteAutoScalingGroup",
      "returnType" : {
        "returnType" : "DeleteAutoScalingGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAutoScalingGroupResult"
    },
    "DeleteLaunchConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLaunchConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLaunchConfigurationRequest, DeleteLaunchConfigurationResult>",
      "asyncReturnType" : "DeleteLaunchConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified launch configuration.</p> <p>The launch configuration must not be attached to an Auto Scaling group. When this call completes, the launch configuration is no longer available for use.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The operation can't be performed because the resource is in use.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteLaunchConfigurationRequest",
        "variableName" : "deleteLaunchConfigurationRequest",
        "variableType" : "DeleteLaunchConfigurationRequest",
        "documentation" : "<p>Contains the parameters for DeleteLaunchConfiguration.</p>",
        "simpleType" : "DeleteLaunchConfigurationRequest",
        "variableSetterType" : "DeleteLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLaunchConfiguration",
      "operationName" : "DeleteLaunchConfiguration",
      "returnType" : {
        "returnType" : "DeleteLaunchConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLaunchConfigurationResult"
    },
    "DeleteLifecycleHook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLifecycleHookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLifecycleHookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLifecycleHookRequest, DeleteLifecycleHookResult>",
      "asyncReturnType" : "DeleteLifecycleHookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified lifecycle hook.</p> <p>If there are any outstanding lifecycle actions, they are completed first (<code>ABANDON</code> for launching instances, <code>CONTINUE</code> for terminating instances).</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteLifecycleHookRequest",
        "variableName" : "deleteLifecycleHookRequest",
        "variableType" : "DeleteLifecycleHookRequest",
        "documentation" : "<p>Contains the parameters for DeleteLifecycleHook.</p>",
        "simpleType" : "DeleteLifecycleHookRequest",
        "variableSetterType" : "DeleteLifecycleHookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLifecycleHook",
      "operationName" : "DeleteLifecycleHook",
      "returnType" : {
        "returnType" : "DeleteLifecycleHookResult",
        "documentation" : "<p>Contains the output of DeleteLifecycleHook.</p>"
      },
      "syncReturnType" : "DeleteLifecycleHookResult"
    },
    "DeleteNotificationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNotificationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNotificationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNotificationConfigurationRequest, DeleteNotificationConfigurationResult>",
      "asyncReturnType" : "DeleteNotificationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified notification.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteNotificationConfigurationRequest",
        "variableName" : "deleteNotificationConfigurationRequest",
        "variableType" : "DeleteNotificationConfigurationRequest",
        "documentation" : "<p>Contains the parameters for DeleteNotificationConfiguration.</p>",
        "simpleType" : "DeleteNotificationConfigurationRequest",
        "variableSetterType" : "DeleteNotificationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNotificationConfiguration",
      "operationName" : "DeleteNotificationConfiguration",
      "returnType" : {
        "returnType" : "DeleteNotificationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNotificationConfigurationResult"
    },
    "DeletePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePolicyRequest, DeletePolicyResult>",
      "asyncReturnType" : "DeletePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Auto Scaling policy.</p> <p>Deleting a policy deletes the underlying alarm action, but does not delete the alarm, even if it no longer has an associated action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeletePolicyRequest",
        "variableName" : "deletePolicyRequest",
        "variableType" : "DeletePolicyRequest",
        "documentation" : "<p>Contains the parameters for DeletePolicy.</p>",
        "simpleType" : "DeletePolicyRequest",
        "variableSetterType" : "DeletePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePolicy",
      "operationName" : "DeletePolicy",
      "returnType" : {
        "returnType" : "DeletePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePolicyResult"
    },
    "DeleteScheduledAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteScheduledActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteScheduledActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteScheduledActionRequest, DeleteScheduledActionResult>",
      "asyncReturnType" : "DeleteScheduledActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified scheduled action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteScheduledActionRequest",
        "variableName" : "deleteScheduledActionRequest",
        "variableType" : "DeleteScheduledActionRequest",
        "documentation" : "<p>Contains the parameters for DeleteScheduledAction.</p>",
        "simpleType" : "DeleteScheduledActionRequest",
        "variableSetterType" : "DeleteScheduledActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteScheduledAction",
      "operationName" : "DeleteScheduledAction",
      "returnType" : {
        "returnType" : "DeleteScheduledActionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteScheduledActionResult"
    },
    "DeleteTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "asyncReturnType" : "DeleteTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified tags.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTagsRequest",
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "documentation" : "<p>Contains the parameters for DeleteTags.</p>",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTags",
      "operationName" : "DeleteTags",
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTagsResult"
    },
    "DescribeAccountLimits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountLimitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountLimitsRequest, DescribeAccountLimitsResult>",
      "asyncReturnType" : "DescribeAccountLimitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the current Auto Scaling resource limits for your AWS account.</p> <p>For information about requesting an increase in these limits, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAccountLimitsRequest",
        "variableName" : "describeAccountLimitsRequest",
        "variableType" : "DescribeAccountLimitsRequest",
        "documentation" : null,
        "simpleType" : "DescribeAccountLimitsRequest",
        "variableSetterType" : "DescribeAccountLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountLimits",
      "operationName" : "DescribeAccountLimits",
      "returnType" : {
        "returnType" : "DescribeAccountLimitsResult",
        "documentation" : "<p>Contains the parameters for DescribeAccountLimits.</p>"
      },
      "syncReturnType" : "DescribeAccountLimitsResult"
    },
    "DescribeAdjustmentTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAdjustmentTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAdjustmentTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAdjustmentTypesRequest, DescribeAdjustmentTypesResult>",
      "asyncReturnType" : "DescribeAdjustmentTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the policy adjustment types for use with <a>PutScalingPolicy</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAdjustmentTypesRequest",
        "variableName" : "describeAdjustmentTypesRequest",
        "variableType" : "DescribeAdjustmentTypesRequest",
        "documentation" : null,
        "simpleType" : "DescribeAdjustmentTypesRequest",
        "variableSetterType" : "DescribeAdjustmentTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAdjustmentTypes",
      "operationName" : "DescribeAdjustmentTypes",
      "returnType" : {
        "returnType" : "DescribeAdjustmentTypesResult",
        "documentation" : "<p>Contains the parameters for DescribeAdjustmentTypes.</p>"
      },
      "syncReturnType" : "DescribeAdjustmentTypesResult"
    },
    "DescribeAutoScalingGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAutoScalingGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAutoScalingGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAutoScalingGroupsRequest, DescribeAutoScalingGroupsResult>",
      "asyncReturnType" : "DescribeAutoScalingGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes one or more Auto Scaling groups.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAutoScalingGroupsRequest",
        "variableName" : "describeAutoScalingGroupsRequest",
        "variableType" : "DescribeAutoScalingGroupsRequest",
        "documentation" : "<p>Contains the parameters for DescribeAutoScalingGroups.</p>",
        "simpleType" : "DescribeAutoScalingGroupsRequest",
        "variableSetterType" : "DescribeAutoScalingGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAutoScalingGroups",
      "operationName" : "DescribeAutoScalingGroups",
      "returnType" : {
        "returnType" : "DescribeAutoScalingGroupsResult",
        "documentation" : "<p>Contains the output for DescribeAutoScalingGroups.</p>"
      },
      "syncReturnType" : "DescribeAutoScalingGroupsResult"
    },
    "DescribeAutoScalingInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAutoScalingInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAutoScalingInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAutoScalingInstancesRequest, DescribeAutoScalingInstancesResult>",
      "asyncReturnType" : "DescribeAutoScalingInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes one or more Auto Scaling instances.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAutoScalingInstancesRequest",
        "variableName" : "describeAutoScalingInstancesRequest",
        "variableType" : "DescribeAutoScalingInstancesRequest",
        "documentation" : "<p>Contains the parameters for DescribeAutoScalingInstances.</p>",
        "simpleType" : "DescribeAutoScalingInstancesRequest",
        "variableSetterType" : "DescribeAutoScalingInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAutoScalingInstances",
      "operationName" : "DescribeAutoScalingInstances",
      "returnType" : {
        "returnType" : "DescribeAutoScalingInstancesResult",
        "documentation" : "<p>Contains the output of DescribeAutoScalingInstances.</p>"
      },
      "syncReturnType" : "DescribeAutoScalingInstancesResult"
    },
    "DescribeAutoScalingNotificationTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAutoScalingNotificationTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAutoScalingNotificationTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAutoScalingNotificationTypesRequest, DescribeAutoScalingNotificationTypesResult>",
      "asyncReturnType" : "DescribeAutoScalingNotificationTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the notification types that are supported by Auto Scaling.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAutoScalingNotificationTypesRequest",
        "variableName" : "describeAutoScalingNotificationTypesRequest",
        "variableType" : "DescribeAutoScalingNotificationTypesRequest",
        "documentation" : null,
        "simpleType" : "DescribeAutoScalingNotificationTypesRequest",
        "variableSetterType" : "DescribeAutoScalingNotificationTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAutoScalingNotificationTypes",
      "operationName" : "DescribeAutoScalingNotificationTypes",
      "returnType" : {
        "returnType" : "DescribeAutoScalingNotificationTypesResult",
        "documentation" : "<p>Contains the output of DescribeAutoScalingNotificationTypes.</p>"
      },
      "syncReturnType" : "DescribeAutoScalingNotificationTypesResult"
    },
    "DescribeLaunchConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLaunchConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLaunchConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLaunchConfigurationsRequest, DescribeLaunchConfigurationsResult>",
      "asyncReturnType" : "DescribeLaunchConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes one or more launch configurations.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLaunchConfigurationsRequest",
        "variableName" : "describeLaunchConfigurationsRequest",
        "variableType" : "DescribeLaunchConfigurationsRequest",
        "documentation" : "<p>Contains the parameters for DescribeLaunchConfigurations.</p>",
        "simpleType" : "DescribeLaunchConfigurationsRequest",
        "variableSetterType" : "DescribeLaunchConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLaunchConfigurations",
      "operationName" : "DescribeLaunchConfigurations",
      "returnType" : {
        "returnType" : "DescribeLaunchConfigurationsResult",
        "documentation" : "<p>Contains the output of DescribeLaunchConfigurations.</p>"
      },
      "syncReturnType" : "DescribeLaunchConfigurationsResult"
    },
    "DescribeLifecycleHookTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLifecycleHookTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLifecycleHookTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLifecycleHookTypesRequest, DescribeLifecycleHookTypesResult>",
      "asyncReturnType" : "DescribeLifecycleHookTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the available types of lifecycle hooks.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLifecycleHookTypesRequest",
        "variableName" : "describeLifecycleHookTypesRequest",
        "variableType" : "DescribeLifecycleHookTypesRequest",
        "documentation" : null,
        "simpleType" : "DescribeLifecycleHookTypesRequest",
        "variableSetterType" : "DescribeLifecycleHookTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLifecycleHookTypes",
      "operationName" : "DescribeLifecycleHookTypes",
      "returnType" : {
        "returnType" : "DescribeLifecycleHookTypesResult",
        "documentation" : "<p>Contains the output of DescribeLifecycleHookTypes.</p>"
      },
      "syncReturnType" : "DescribeLifecycleHookTypesResult"
    },
    "DescribeLifecycleHooks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLifecycleHooksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLifecycleHooksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLifecycleHooksRequest, DescribeLifecycleHooksResult>",
      "asyncReturnType" : "DescribeLifecycleHooksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the lifecycle hooks for the specified Auto Scaling group.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLifecycleHooksRequest",
        "variableName" : "describeLifecycleHooksRequest",
        "variableType" : "DescribeLifecycleHooksRequest",
        "documentation" : "<p>Contains the parameters for DescribeLifecycleHooks.</p>",
        "simpleType" : "DescribeLifecycleHooksRequest",
        "variableSetterType" : "DescribeLifecycleHooksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLifecycleHooks",
      "operationName" : "DescribeLifecycleHooks",
      "returnType" : {
        "returnType" : "DescribeLifecycleHooksResult",
        "documentation" : "<p>Contains the output of DescribeLifecycleHooks.</p>"
      },
      "syncReturnType" : "DescribeLifecycleHooksResult"
    },
    "DescribeLoadBalancerTargetGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancerTargetGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancerTargetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancerTargetGroupsRequest, DescribeLoadBalancerTargetGroupsResult>",
      "asyncReturnType" : "DescribeLoadBalancerTargetGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the target groups for the specified Auto Scaling group.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLoadBalancerTargetGroupsRequest",
        "variableName" : "describeLoadBalancerTargetGroupsRequest",
        "variableType" : "DescribeLoadBalancerTargetGroupsRequest",
        "documentation" : "<p>Contains the parameters for DescribeLoadBalancerTargetGroups.</p>",
        "simpleType" : "DescribeLoadBalancerTargetGroupsRequest",
        "variableSetterType" : "DescribeLoadBalancerTargetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoadBalancerTargetGroups",
      "operationName" : "DescribeLoadBalancerTargetGroups",
      "returnType" : {
        "returnType" : "DescribeLoadBalancerTargetGroupsResult",
        "documentation" : "<p>Contains the output of DescribeLoadBalancerTargetGroups.</p>"
      },
      "syncReturnType" : "DescribeLoadBalancerTargetGroupsResult"
    },
    "DescribeLoadBalancers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancersRequest, DescribeLoadBalancersResult>",
      "asyncReturnType" : "DescribeLoadBalancersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the load balancers for the specified Auto Scaling group.</p> <p>Note that this operation describes only Classic load balancers. If you have Application load balancers, use <a>DescribeLoadBalancerTargetGroups</a> instead.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLoadBalancersRequest",
        "variableName" : "describeLoadBalancersRequest",
        "variableType" : "DescribeLoadBalancersRequest",
        "documentation" : "<p>Contains the parameters for DescribeLoadBalancers.</p>",
        "simpleType" : "DescribeLoadBalancersRequest",
        "variableSetterType" : "DescribeLoadBalancersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoadBalancers",
      "operationName" : "DescribeLoadBalancers",
      "returnType" : {
        "returnType" : "DescribeLoadBalancersResult",
        "documentation" : "<p>Contains the output of DescribeLoadBalancers.</p>"
      },
      "syncReturnType" : "DescribeLoadBalancersResult"
    },
    "DescribeMetricCollectionTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMetricCollectionTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMetricCollectionTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMetricCollectionTypesRequest, DescribeMetricCollectionTypesResult>",
      "asyncReturnType" : "DescribeMetricCollectionTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the available CloudWatch metrics for Auto Scaling.</p> <p>Note that the <code>GroupStandbyInstances</code> metric is not returned by default. You must explicitly request this metric when calling <a>EnableMetricsCollection</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeMetricCollectionTypesRequest",
        "variableName" : "describeMetricCollectionTypesRequest",
        "variableType" : "DescribeMetricCollectionTypesRequest",
        "documentation" : null,
        "simpleType" : "DescribeMetricCollectionTypesRequest",
        "variableSetterType" : "DescribeMetricCollectionTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMetricCollectionTypes",
      "operationName" : "DescribeMetricCollectionTypes",
      "returnType" : {
        "returnType" : "DescribeMetricCollectionTypesResult",
        "documentation" : "<p>Contains the output of DescribeMetricsCollectionTypes.</p>"
      },
      "syncReturnType" : "DescribeMetricCollectionTypesResult"
    },
    "DescribeNotificationConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNotificationConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNotificationConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNotificationConfigurationsRequest, DescribeNotificationConfigurationsResult>",
      "asyncReturnType" : "DescribeNotificationConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the notification actions associated with the specified Auto Scaling group.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeNotificationConfigurationsRequest",
        "variableName" : "describeNotificationConfigurationsRequest",
        "variableType" : "DescribeNotificationConfigurationsRequest",
        "documentation" : "<p>Contains the parameters for DescribeNotificationConfigurations.</p>",
        "simpleType" : "DescribeNotificationConfigurationsRequest",
        "variableSetterType" : "DescribeNotificationConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNotificationConfigurations",
      "operationName" : "DescribeNotificationConfigurations",
      "returnType" : {
        "returnType" : "DescribeNotificationConfigurationsResult",
        "documentation" : "<p>Contains the output from DescribeNotificationConfigurations.</p>"
      },
      "syncReturnType" : "DescribeNotificationConfigurationsResult"
    },
    "DescribePolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePoliciesRequest, DescribePoliciesResult>",
      "asyncReturnType" : "DescribePoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the policies for the specified Auto Scaling group.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribePoliciesRequest",
        "variableName" : "describePoliciesRequest",
        "variableType" : "DescribePoliciesRequest",
        "documentation" : "<p>Contains the parameters for DescribePolicies.</p>",
        "simpleType" : "DescribePoliciesRequest",
        "variableSetterType" : "DescribePoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePolicies",
      "operationName" : "DescribePolicies",
      "returnType" : {
        "returnType" : "DescribePoliciesResult",
        "documentation" : "<p>Contains the output of DescribePolicies.</p>"
      },
      "syncReturnType" : "DescribePoliciesResult"
    },
    "DescribeScalingActivities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingActivitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingActivitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingActivitiesRequest, DescribeScalingActivitiesResult>",
      "asyncReturnType" : "DescribeScalingActivitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes one or more scaling activities for the specified Auto Scaling group.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScalingActivitiesRequest",
        "variableName" : "describeScalingActivitiesRequest",
        "variableType" : "DescribeScalingActivitiesRequest",
        "documentation" : "<p>Contains the parameters for DescribeScalingActivities.</p>",
        "simpleType" : "DescribeScalingActivitiesRequest",
        "variableSetterType" : "DescribeScalingActivitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalingActivities",
      "operationName" : "DescribeScalingActivities",
      "returnType" : {
        "returnType" : "DescribeScalingActivitiesResult",
        "documentation" : "<p>Contains the output of DescribeScalingActivities.</p>"
      },
      "syncReturnType" : "DescribeScalingActivitiesResult"
    },
    "DescribeScalingProcessTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingProcessTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingProcessTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingProcessTypesRequest, DescribeScalingProcessTypesResult>",
      "asyncReturnType" : "DescribeScalingProcessTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the scaling process types for use with <a>ResumeProcesses</a> and <a>SuspendProcesses</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScalingProcessTypesRequest",
        "variableName" : "describeScalingProcessTypesRequest",
        "variableType" : "DescribeScalingProcessTypesRequest",
        "documentation" : null,
        "simpleType" : "DescribeScalingProcessTypesRequest",
        "variableSetterType" : "DescribeScalingProcessTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalingProcessTypes",
      "operationName" : "DescribeScalingProcessTypes",
      "returnType" : {
        "returnType" : "DescribeScalingProcessTypesResult",
        "documentation" : "<p>Contains the output of DescribeScalingProcessTypes.</p>"
      },
      "syncReturnType" : "DescribeScalingProcessTypesResult"
    },
    "DescribeScheduledActions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScheduledActionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScheduledActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScheduledActionsRequest, DescribeScheduledActionsResult>",
      "asyncReturnType" : "DescribeScheduledActionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the actions scheduled for your Auto Scaling group that haven't run. To describe the actions that have already run, use <a>DescribeScalingActivities</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScheduledActionsRequest",
        "variableName" : "describeScheduledActionsRequest",
        "variableType" : "DescribeScheduledActionsRequest",
        "documentation" : "<p>Contains the parameters for DescribeScheduledActions.</p>",
        "simpleType" : "DescribeScheduledActionsRequest",
        "variableSetterType" : "DescribeScheduledActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScheduledActions",
      "operationName" : "DescribeScheduledActions",
      "returnType" : {
        "returnType" : "DescribeScheduledActionsResult",
        "documentation" : "<p>Contains the output of DescribeScheduledActions.</p>"
      },
      "syncReturnType" : "DescribeScheduledActionsResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified tags.</p> <p>You can use filters to limit the results. For example, you can query for the tags for a specific Auto Scaling group. You can specify multiple values for a filter. A tag must match at least one of the specified values for it to be included in the results.</p> <p>You can also specify multiple filters. The result includes information for a particular tag only if it matches all the filters. If there's no match, no special message is returned.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "<p>Contains the parameters for DescribeTags.</p>",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p>Contains the output of DescribeTags.</p>"
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "DescribeTerminationPolicyTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTerminationPolicyTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTerminationPolicyTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTerminationPolicyTypesRequest, DescribeTerminationPolicyTypesResult>",
      "asyncReturnType" : "DescribeTerminationPolicyTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the termination policies supported by Auto Scaling.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTerminationPolicyTypesRequest",
        "variableName" : "describeTerminationPolicyTypesRequest",
        "variableType" : "DescribeTerminationPolicyTypesRequest",
        "documentation" : null,
        "simpleType" : "DescribeTerminationPolicyTypesRequest",
        "variableSetterType" : "DescribeTerminationPolicyTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTerminationPolicyTypes",
      "operationName" : "DescribeTerminationPolicyTypes",
      "returnType" : {
        "returnType" : "DescribeTerminationPolicyTypesResult",
        "documentation" : "<p>Contains the output of DescribeTerminationPolicyTypes.</p>"
      },
      "syncReturnType" : "DescribeTerminationPolicyTypesResult"
    },
    "DetachInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetachInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetachInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachInstancesRequest, DetachInstancesResult>",
      "asyncReturnType" : "DetachInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more instances from the specified Auto Scaling group.</p> <p>After the instances are detached, you can manage them independently from the rest of the Auto Scaling group.</p> <p>If you do not specify the option to decrement the desired capacity, Auto Scaling launches instances to replace the ones that are detached.</p> <p>If there is a Classic load balancer attached to the Auto Scaling group, the instances are deregistered from the load balancer. If there are target groups attached to the Auto Scaling group, the instances are deregistered from the target groups.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/detach-instance-asg.html\">Detach EC2 Instances from Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetachInstancesRequest",
        "variableName" : "detachInstancesRequest",
        "variableType" : "DetachInstancesRequest",
        "documentation" : "<p>Contains the parameters for DetachInstances.</p>",
        "simpleType" : "DetachInstancesRequest",
        "variableSetterType" : "DetachInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detachInstances",
      "operationName" : "DetachInstances",
      "returnType" : {
        "returnType" : "DetachInstancesResult",
        "documentation" : "<p>Contains the output of DetachInstances.</p>"
      },
      "syncReturnType" : "DetachInstancesResult"
    },
    "DetachLoadBalancerTargetGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetachLoadBalancerTargetGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetachLoadBalancerTargetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachLoadBalancerTargetGroupsRequest, DetachLoadBalancerTargetGroupsResult>",
      "asyncReturnType" : "DetachLoadBalancerTargetGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detaches one or more target groups from the specified Auto Scaling group.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetachLoadBalancerTargetGroupsRequest",
        "variableName" : "detachLoadBalancerTargetGroupsRequest",
        "variableType" : "DetachLoadBalancerTargetGroupsRequest",
        "documentation" : "",
        "simpleType" : "DetachLoadBalancerTargetGroupsRequest",
        "variableSetterType" : "DetachLoadBalancerTargetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detachLoadBalancerTargetGroups",
      "operationName" : "DetachLoadBalancerTargetGroups",
      "returnType" : {
        "returnType" : "DetachLoadBalancerTargetGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DetachLoadBalancerTargetGroupsResult"
    },
    "DetachLoadBalancers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetachLoadBalancersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetachLoadBalancersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachLoadBalancersRequest, DetachLoadBalancersResult>",
      "asyncReturnType" : "DetachLoadBalancersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detaches one or more Classic load balancers from the specified Auto Scaling group.</p> <p>Note that this operation detaches only Classic load balancers. If you have Application load balancers, use <a>DetachLoadBalancerTargetGroups</a> instead.</p> <p>When you detach a load balancer, it enters the <code>Removing</code> state while deregistering the instances in the group. When all instances are deregistered, then you can no longer describe the load balancer using <a>DescribeLoadBalancers</a>. Note that the instances remain running.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetachLoadBalancersRequest",
        "variableName" : "detachLoadBalancersRequest",
        "variableType" : "DetachLoadBalancersRequest",
        "documentation" : "<p>Contains the parameters for DetachLoadBalancers.</p>",
        "simpleType" : "DetachLoadBalancersRequest",
        "variableSetterType" : "DetachLoadBalancersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detachLoadBalancers",
      "operationName" : "DetachLoadBalancers",
      "returnType" : {
        "returnType" : "DetachLoadBalancersResult",
        "documentation" : "<p>Contains the output for DetachLoadBalancers.</p>"
      },
      "syncReturnType" : "DetachLoadBalancersResult"
    },
    "DisableMetricsCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableMetricsCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableMetricsCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableMetricsCollectionRequest, DisableMetricsCollectionResult>",
      "asyncReturnType" : "DisableMetricsCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables group metrics for the specified Auto Scaling group.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableMetricsCollectionRequest",
        "variableName" : "disableMetricsCollectionRequest",
        "variableType" : "DisableMetricsCollectionRequest",
        "documentation" : "<p>Contains the parameters for DisableMetricsCollection.</p>",
        "simpleType" : "DisableMetricsCollectionRequest",
        "variableSetterType" : "DisableMetricsCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableMetricsCollection",
      "operationName" : "DisableMetricsCollection",
      "returnType" : {
        "returnType" : "DisableMetricsCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableMetricsCollectionResult"
    },
    "EnableMetricsCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableMetricsCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableMetricsCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableMetricsCollectionRequest, EnableMetricsCollectionResult>",
      "asyncReturnType" : "EnableMetricsCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables group metrics for the specified Auto Scaling group. For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/as-instance-monitoring.html\">Monitoring Your Auto Scaling Groups and Instances</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableMetricsCollectionRequest",
        "variableName" : "enableMetricsCollectionRequest",
        "variableType" : "EnableMetricsCollectionRequest",
        "documentation" : "<p>Contains the parameters for EnableMetricsCollection.</p>",
        "simpleType" : "EnableMetricsCollectionRequest",
        "variableSetterType" : "EnableMetricsCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableMetricsCollection",
      "operationName" : "EnableMetricsCollection",
      "returnType" : {
        "returnType" : "EnableMetricsCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableMetricsCollectionResult"
    },
    "EnterStandby" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnterStandbyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnterStandbyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnterStandbyRequest, EnterStandbyResult>",
      "asyncReturnType" : "EnterStandbyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Moves the specified instances into <code>Standby</code> mode.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroupLifecycle.html\">Auto Scaling Lifecycle</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnterStandbyRequest",
        "variableName" : "enterStandbyRequest",
        "variableType" : "EnterStandbyRequest",
        "documentation" : "<p>Contains the parameters for EnteStandby.</p>",
        "simpleType" : "EnterStandbyRequest",
        "variableSetterType" : "EnterStandbyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enterStandby",
      "operationName" : "EnterStandby",
      "returnType" : {
        "returnType" : "EnterStandbyResult",
        "documentation" : "<p>Contains the output of EnterStandby.</p>"
      },
      "syncReturnType" : "EnterStandbyResult"
    },
    "ExecutePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExecutePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExecutePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecutePolicyRequest, ExecutePolicyResult>",
      "asyncReturnType" : "ExecutePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Executes the specified policy.</p>",
      "exceptions" : [ {
        "exceptionName" : "ScalingActivityInProgressException",
        "documentation" : "<p>The operation can't be performed because there are scaling activities in progress.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ExecutePolicyRequest",
        "variableName" : "executePolicyRequest",
        "variableType" : "ExecutePolicyRequest",
        "documentation" : "<p>Contains the parameters for ExecutePolicy.</p>",
        "simpleType" : "ExecutePolicyRequest",
        "variableSetterType" : "ExecutePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "executePolicy",
      "operationName" : "ExecutePolicy",
      "returnType" : {
        "returnType" : "ExecutePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "ExecutePolicyResult"
    },
    "ExitStandby" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExitStandbyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExitStandbyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExitStandbyRequest, ExitStandbyResult>",
      "asyncReturnType" : "ExitStandbyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Moves the specified instances out of <code>Standby</code> mode.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroupLifecycle.html\">Auto Scaling Lifecycle</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ExitStandbyRequest",
        "variableName" : "exitStandbyRequest",
        "variableType" : "ExitStandbyRequest",
        "documentation" : "<p>Contains the parameters for ExitStandby.</p>",
        "simpleType" : "ExitStandbyRequest",
        "variableSetterType" : "ExitStandbyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exitStandby",
      "operationName" : "ExitStandby",
      "returnType" : {
        "returnType" : "ExitStandbyResult",
        "documentation" : "<p>Contains the parameters for ExitStandby.</p>"
      },
      "syncReturnType" : "ExitStandbyResult"
    },
    "PutLifecycleHook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutLifecycleHookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutLifecycleHookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutLifecycleHookRequest, PutLifecycleHookResult>",
      "asyncReturnType" : "PutLifecycleHookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a lifecycle hook for the specified Auto Scaling Group.</p> <p>A lifecycle hook tells Auto Scaling that you want to perform an action on an instance that is not actively in service; for example, either when the instance launches or before the instance terminates.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p> <b>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</b> </p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</p> </li> <li> <p>If you finish before the timeout period ends, complete the lifecycle action.</p> </li> </ol> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/lifecycle-hooks.html\">Auto Scaling Lifecycle Hooks</a> in the <i>Auto Scaling User Guide</i>.</p> <p>If you exceed your maximum limit of lifecycle hooks, which by default is 50 per Auto Scaling group, the call fails. For information about updating this limit, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutLifecycleHookRequest",
        "variableName" : "putLifecycleHookRequest",
        "variableType" : "PutLifecycleHookRequest",
        "documentation" : "<p>Contains the parameters for PutLifecycleHook.</p>",
        "simpleType" : "PutLifecycleHookRequest",
        "variableSetterType" : "PutLifecycleHookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putLifecycleHook",
      "operationName" : "PutLifecycleHook",
      "returnType" : {
        "returnType" : "PutLifecycleHookResult",
        "documentation" : "<p>Contains the output of PutLifecycleHook.</p>"
      },
      "syncReturnType" : "PutLifecycleHookResult"
    },
    "PutNotificationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutNotificationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutNotificationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutNotificationConfigurationRequest, PutNotificationConfigurationResult>",
      "asyncReturnType" : "PutNotificationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures an Auto Scaling group to send notifications when specified events take place. Subscribers to the specified topic can have messages delivered to an endpoint such as a web server or an email address.</p> <p>This configuration overwrites any existing configuration.</p> <p>For more information see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/ASGettingNotifications.html\">Getting SNS Notifications When Your Auto Scaling Group Scales</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutNotificationConfigurationRequest",
        "variableName" : "putNotificationConfigurationRequest",
        "variableType" : "PutNotificationConfigurationRequest",
        "documentation" : "<p>Contains the parameters for PutNotificationConfiguration.</p>",
        "simpleType" : "PutNotificationConfigurationRequest",
        "variableSetterType" : "PutNotificationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putNotificationConfiguration",
      "operationName" : "PutNotificationConfiguration",
      "returnType" : {
        "returnType" : "PutNotificationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutNotificationConfigurationResult"
    },
    "PutScalingPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutScalingPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutScalingPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutScalingPolicyRequest, PutScalingPolicyResult>",
      "asyncReturnType" : "PutScalingPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a policy for an Auto Scaling group. To update an existing policy, use the existing policy name and set the parameters you want to change. Any existing parameter not changed in an update to an existing policy is not changed in this update request.</p> <p>If you exceed your maximum limit of step adjustments, which by default is 20 per region, the call fails. For information about updating this limit, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutScalingPolicyRequest",
        "variableName" : "putScalingPolicyRequest",
        "variableType" : "PutScalingPolicyRequest",
        "documentation" : "<p>Contains the parameters for PutScalingPolicy.</p>",
        "simpleType" : "PutScalingPolicyRequest",
        "variableSetterType" : "PutScalingPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putScalingPolicy",
      "operationName" : "PutScalingPolicy",
      "returnType" : {
        "returnType" : "PutScalingPolicyResult",
        "documentation" : "<p>Contains the output of PutScalingPolicy.</p>"
      },
      "syncReturnType" : "PutScalingPolicyResult"
    },
    "PutScheduledUpdateGroupAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutScheduledUpdateGroupActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutScheduledUpdateGroupActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutScheduledUpdateGroupActionRequest, PutScheduledUpdateGroupActionResult>",
      "asyncReturnType" : "PutScheduledUpdateGroupActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a scheduled scaling action for an Auto Scaling group. When updating a scheduled scaling action, if you leave a parameter unspecified, the corresponding value remains unchanged.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/schedule_time.html\">Scheduled Scaling</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutScheduledUpdateGroupActionRequest",
        "variableName" : "putScheduledUpdateGroupActionRequest",
        "variableType" : "PutScheduledUpdateGroupActionRequest",
        "documentation" : "<p>Contains the parameters for PutScheduledUpdateGroupAction.</p>",
        "simpleType" : "PutScheduledUpdateGroupActionRequest",
        "variableSetterType" : "PutScheduledUpdateGroupActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putScheduledUpdateGroupAction",
      "operationName" : "PutScheduledUpdateGroupAction",
      "returnType" : {
        "returnType" : "PutScheduledUpdateGroupActionResult",
        "documentation" : null
      },
      "syncReturnType" : "PutScheduledUpdateGroupActionResult"
    },
    "RecordLifecycleActionHeartbeat" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RecordLifecycleActionHeartbeatResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RecordLifecycleActionHeartbeatResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RecordLifecycleActionHeartbeatRequest, RecordLifecycleActionHeartbeatResult>",
      "asyncReturnType" : "RecordLifecycleActionHeartbeatResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Records a heartbeat for the lifecycle action associated with the specified token or instance. This extends the timeout by the length of time defined using <a>PutLifecycleHook</a>.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p> <b>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</b> </p> </li> <li> <p>If you finish before the timeout period ends, complete the lifecycle action.</p> </li> </ol> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroupLifecycle.html\">Auto Scaling Lifecycle</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RecordLifecycleActionHeartbeatRequest",
        "variableName" : "recordLifecycleActionHeartbeatRequest",
        "variableType" : "RecordLifecycleActionHeartbeatRequest",
        "documentation" : "<p>Contains the parameters for RecordLifecycleActionHeartbeat.</p>",
        "simpleType" : "RecordLifecycleActionHeartbeatRequest",
        "variableSetterType" : "RecordLifecycleActionHeartbeatRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "recordLifecycleActionHeartbeat",
      "operationName" : "RecordLifecycleActionHeartbeat",
      "returnType" : {
        "returnType" : "RecordLifecycleActionHeartbeatResult",
        "documentation" : "<p>Contains the output of RecordLifecycleActionHeartBeat.</p>"
      },
      "syncReturnType" : "RecordLifecycleActionHeartbeatResult"
    },
    "ResumeProcesses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResumeProcessesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResumeProcessesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResumeProcessesRequest, ResumeProcessesResult>",
      "asyncReturnType" : "ResumeProcessesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resumes the specified suspended Auto Scaling processes, or all suspended process, for the specified Auto Scaling group.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/as-suspend-resume-processes.html\">Suspending and Resuming Auto Scaling Processes</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The operation can't be performed because the resource is in use.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ResumeProcessesRequest",
        "variableName" : "resumeProcessesRequest",
        "variableType" : "ResumeProcessesRequest",
        "documentation" : "<p>Contains the parameters for SuspendProcesses and ResumeProcesses.</p>",
        "simpleType" : "ResumeProcessesRequest",
        "variableSetterType" : "ResumeProcessesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resumeProcesses",
      "operationName" : "ResumeProcesses",
      "returnType" : {
        "returnType" : "ResumeProcessesResult",
        "documentation" : null
      },
      "syncReturnType" : "ResumeProcessesResult"
    },
    "SetDesiredCapacity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetDesiredCapacityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetDesiredCapacityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetDesiredCapacityRequest, SetDesiredCapacityResult>",
      "asyncReturnType" : "SetDesiredCapacityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the size of the specified Auto Scaling group.</p> <p>For more information about desired capacity, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/WhatIsAutoScaling.html\">What Is Auto Scaling?</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ScalingActivityInProgressException",
        "documentation" : "<p>The operation can't be performed because there are scaling activities in progress.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetDesiredCapacityRequest",
        "variableName" : "setDesiredCapacityRequest",
        "variableType" : "SetDesiredCapacityRequest",
        "documentation" : "<p>Contains the parameters for SetDesiredCapacity.</p>",
        "simpleType" : "SetDesiredCapacityRequest",
        "variableSetterType" : "SetDesiredCapacityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setDesiredCapacity",
      "operationName" : "SetDesiredCapacity",
      "returnType" : {
        "returnType" : "SetDesiredCapacityResult",
        "documentation" : null
      },
      "syncReturnType" : "SetDesiredCapacityResult"
    },
    "SetInstanceHealth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetInstanceHealthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetInstanceHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetInstanceHealthRequest, SetInstanceHealthResult>",
      "asyncReturnType" : "SetInstanceHealthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the health status of the specified instance.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/healthcheck.html\">Health Checks</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetInstanceHealthRequest",
        "variableName" : "setInstanceHealthRequest",
        "variableType" : "SetInstanceHealthRequest",
        "documentation" : "<p>Contains the parameters for SetInstanceHealth.</p>",
        "simpleType" : "SetInstanceHealthRequest",
        "variableSetterType" : "SetInstanceHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setInstanceHealth",
      "operationName" : "SetInstanceHealth",
      "returnType" : {
        "returnType" : "SetInstanceHealthResult",
        "documentation" : null
      },
      "syncReturnType" : "SetInstanceHealthResult"
    },
    "SetInstanceProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetInstanceProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetInstanceProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetInstanceProtectionRequest, SetInstanceProtectionResult>",
      "asyncReturnType" : "SetInstanceProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the instance protection settings of the specified instances.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/as-instance-termination.html#instance-protection\">Instance Protection</a> in the <i>Auto Scaling User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
      }, {
        "exceptionName" : "ResourceContentionException",
        "documentation" : "<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetInstanceProtectionRequest",
        "variableName" : "setInstanceProtectionRequest",
[...]
