{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-02-06",
    "asyncClient" : "AWSApplicationAutoScalingAsyncClient",
    "asyncClientBuilderClassName" : "AWSApplicationAutoScalingAsyncClientBuilder",
    "asyncInterface" : "AWSApplicationAutoScalingAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSApplicationAutoScalingModuleInjector",
    "defaultEndpoint" : "https://autoscaling.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "autoscaling.us-east-1.amazonaws.com",
    "documentation" : "<p>Application Auto Scaling is a general purpose Auto Scaling service for supported elastic AWS resources. With Application Auto Scaling, you can automatically scale your AWS resources, with an experience similar to that of Auto Scaling.</p> <p>Application Auto Scaling supports scaling the following AWS resources:</p> <ul> <li> <p>Amazon ECS services</p> </li> <li> <p>Amazon EC2 Spot fleet instances</p> </li> </ul> <p>You can use Application Auto Scaling to accomplish the following tasks:</p> <ul> <li> <p>Define scaling policies for automatically adjusting your AWS resources</p> </li> <li> <p>Scale your resources in response to CloudWatch alarms</p> </li> <li> <p>View history of your scaling events </p> </li> </ul> <p>Application Auto Scaling is available in the following regions:</p> <ul> <li> <p> <code>us-east-1</code> </p> </li> <li> <p> <code>us-west-1</code> </p> </li> <li> <p> <code>us-west-2</code> </p> </li> <li> <p> <code>ap-southeast-1</code> </p> </li> <li> <p> <code>ap-southeast-2</code> </p> </li> <li> <p> <code>ap-northeast-1</code> </p> </li> <li> <p> <code>eu-central-1</code> </p> </li> <li> <p> <code>eu-west-1</code> </p> </li> </ul>",
    "endpointPrefix" : "autoscaling",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.applicationautoscaling",
    "packagePath" : "com/amazonaws/services/applicationautoscaling",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Application Auto Scaling",
    "serviceName" : "Application Auto Scaling",
    "signingName" : "application-autoscaling",
    "smokeTestsPackageName" : "com.amazonaws.services.applicationautoscaling.smoketests",
    "syncClient" : "AWSApplicationAutoScalingClient",
    "syncClientBuilderClassName" : "AWSApplicationAutoScalingClientBuilder",
    "syncInterface" : "AWSApplicationAutoScaling",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteScalingPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteScalingPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteScalingPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteScalingPolicyRequest, DeleteScalingPolicyResult>",
      "asyncReturnType" : "DeleteScalingPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Application Auto Scaling scaling policy that was previously created. If you are no longer using a scaling policy, you can delete it with this operation.</p> <p>Deleting a policy deletes the underlying alarm action, but does not delete the CloudWatch alarm associated with the scaling policy, even if it no longer has an associated action.</p> <p>To create a new scaling policy or update an existing one, see <a>PutScalingPolicy</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found. For any <code>Put</code> or <code>Register</code> API operation, which depends on the existence of a scalable target, this exception is thrown if the scalable target with the specified service namespace, resource ID, and scalable dimension does not exist. For any <code>Delete</code> or <code>Deregister</code> API operation, this exception is thrown if the resource that is to be deleted or deregistered cannot be found.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteScalingPolicyRequest",
        "variableName" : "deleteScalingPolicyRequest",
        "variableType" : "DeleteScalingPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteScalingPolicyRequest",
        "variableSetterType" : "DeleteScalingPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteScalingPolicy",
      "operationName" : "DeleteScalingPolicy",
      "returnType" : {
        "returnType" : "DeleteScalingPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteScalingPolicyResult"
    },
    "DeregisterScalableTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterScalableTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterScalableTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterScalableTargetRequest, DeregisterScalableTargetResult>",
      "asyncReturnType" : "DeregisterScalableTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters a scalable target that was previously registered. If you are no longer using a scalable target, you can delete it with this operation. When you deregister a scalable target, all of the scaling policies that are associated with that scalable target are deleted.</p> <p>To create a new scalable target or update an existing one, see <a>RegisterScalableTarget</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found. For any <code>Put</code> or <code>Register</code> API operation, which depends on the existence of a scalable target, this exception is thrown if the scalable target with the specified service namespace, resource ID, and scalable dimension does not exist. For any <code>Delete</code> or <code>Deregister</code> API operation, this exception is thrown if the resource that is to be deleted or deregistered cannot be found.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeregisterScalableTargetRequest",
        "variableName" : "deregisterScalableTargetRequest",
        "variableType" : "DeregisterScalableTargetRequest",
        "documentation" : "",
        "simpleType" : "DeregisterScalableTargetRequest",
        "variableSetterType" : "DeregisterScalableTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterScalableTarget",
      "operationName" : "DeregisterScalableTarget",
      "returnType" : {
        "returnType" : "DeregisterScalableTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterScalableTargetResult"
    },
    "DescribeScalableTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalableTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalableTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalableTargetsRequest, DescribeScalableTargetsResult>",
      "asyncReturnType" : "DescribeScalableTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides descriptive information for scalable targets with a specified service namespace.</p> <p>You can filter the results in a service namespace with the <code>ResourceIds</code> and <code>ScalableDimension</code> parameters.</p> <p>To create a new scalable target or update an existing one, see <a>RegisterScalableTarget</a>. If you are no longer using a scalable target, you can deregister it with <a>DeregisterScalableTarget</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token supplied was invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScalableTargetsRequest",
        "variableName" : "describeScalableTargetsRequest",
        "variableType" : "DescribeScalableTargetsRequest",
        "documentation" : "",
        "simpleType" : "DescribeScalableTargetsRequest",
        "variableSetterType" : "DescribeScalableTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalableTargets",
      "operationName" : "DescribeScalableTargets",
      "returnType" : {
        "returnType" : "DescribeScalableTargetsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeScalableTargetsResult"
    },
    "DescribeScalingActivities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingActivitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingActivitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingActivitiesRequest, DescribeScalingActivitiesResult>",
      "asyncReturnType" : "DescribeScalingActivitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides descriptive information for scaling activities with a specified service namespace for the previous six weeks.</p> <p>You can filter the results in a service namespace with the <code>ResourceId</code> and <code>ScalableDimension</code> parameters.</p> <p>Scaling activities are triggered by CloudWatch alarms that are associated with scaling policies. To view the existing scaling policies for a service namespace, see <a>DescribeScalingPolicies</a>. To create a new scaling policy or update an existing one, see <a>PutScalingPolicy</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token supplied was invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScalingActivitiesRequest",
        "variableName" : "describeScalingActivitiesRequest",
        "variableType" : "DescribeScalingActivitiesRequest",
        "documentation" : "",
        "simpleType" : "DescribeScalingActivitiesRequest",
        "variableSetterType" : "DescribeScalingActivitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalingActivities",
      "operationName" : "DescribeScalingActivities",
      "returnType" : {
        "returnType" : "DescribeScalingActivitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeScalingActivitiesResult"
    },
    "DescribeScalingPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingPoliciesRequest, DescribeScalingPoliciesResult>",
      "asyncReturnType" : "DescribeScalingPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides descriptive information for scaling policies with a specified service namespace.</p> <p>You can filter the results in a service namespace with the <code>ResourceId</code>, <code>ScalableDimension</code>, and <code>PolicyNames</code> parameters.</p> <p>To create a new scaling policy or update an existing one, see <a>PutScalingPolicy</a>. If you are no longer using a scaling policy, you can delete it with <a>DeleteScalingPolicy</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "FailedResourceAccessException",
        "documentation" : "<p>Failed access to resources caused an exception. This exception currently only applies to <a>DescribeScalingPolicies</a>. It is thrown when Application Auto Scaling is unable to retrieve the alarms associated with a scaling policy due to a client error, for example, if the role ARN specified for a scalable target does not have the proper permissions to call the CloudWatch <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarms.html\">DescribeAlarms</a> API operation on behalf of your account.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token supplied was invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScalingPoliciesRequest",
        "variableName" : "describeScalingPoliciesRequest",
        "variableType" : "DescribeScalingPoliciesRequest",
        "documentation" : "",
        "simpleType" : "DescribeScalingPoliciesRequest",
        "variableSetterType" : "DescribeScalingPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalingPolicies",
      "operationName" : "DescribeScalingPolicies",
      "returnType" : {
        "returnType" : "DescribeScalingPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeScalingPoliciesResult"
    },
    "PutScalingPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutScalingPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutScalingPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutScalingPolicyRequest, PutScalingPolicyResult>",
      "asyncReturnType" : "PutScalingPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a policy for an existing Application Auto Scaling scalable target. Each scalable target is identified by service namespace, a resource ID, and a scalable dimension, and a scaling policy applies to a scalable target that is identified by those three attributes. You cannot create a scaling policy without first registering a scalable target with <a>RegisterScalableTarget</a>.</p> <p>To update an existing policy, use the existing policy name and set the parameters you want to change. Any existing parameter not changed in an update to an existing policy is not changed in this update request.</p> <p>You can view the existing scaling policies for a service namespace with <a>DescribeScalingPolicies</a>. If you are no longer using a scaling policy, you can delete it with <a>DeleteScalingPolicy</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Your account exceeded a limit. This exception is thrown when a per-account resource limit is exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_as-app\">Application Auto Scaling Limits</a>.</p>"
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found. For any <code>Put</code> or <code>Register</code> API operation, which depends on the existence of a scalable target, this exception is thrown if the scalable target with the specified service namespace, resource ID, and scalable dimension does not exist. For any <code>Delete</code> or <code>Deregister</code> API operation, this exception is thrown if the resource that is to be deleted or deregistered cannot be found.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutScalingPolicyRequest",
        "variableName" : "putScalingPolicyRequest",
        "variableType" : "PutScalingPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutScalingPolicyRequest",
        "variableSetterType" : "PutScalingPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putScalingPolicy",
      "operationName" : "PutScalingPolicy",
      "returnType" : {
        "returnType" : "PutScalingPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutScalingPolicyResult"
    },
    "RegisterScalableTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterScalableTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterScalableTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterScalableTargetRequest, RegisterScalableTargetResult>",
      "asyncReturnType" : "RegisterScalableTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers or updates a scalable target. A scalable target is a resource that can be scaled out or in with Application Auto Scaling. After you have registered a scalable target, you can use this operation to update the minimum and maximum values for your scalable dimension.</p> <p>After you register a scalable target with Application Auto Scaling, you can create and apply scaling policies to it with <a>PutScalingPolicy</a>. You can view the existing scaling policies for a service namespace with <a>DescribeScalableTargets</a>. If you are no longer using a scalable target, you can deregister it with <a>DeregisterScalableTarget</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Your account exceeded a limit. This exception is thrown when a per-account resource limit is exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_as-app\">Application Auto Scaling Limits</a>.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RegisterScalableTargetRequest",
        "variableName" : "registerScalableTargetRequest",
        "variableType" : "RegisterScalableTargetRequest",
        "documentation" : "",
        "simpleType" : "RegisterScalableTargetRequest",
        "variableSetterType" : "RegisterScalableTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerScalableTarget",
      "operationName" : "RegisterScalableTarget",
      "returnType" : {
        "returnType" : "RegisterScalableTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterScalableTargetResult"
    }
  },
  "shapes" : {
    "AdjustmentType" : {
      "c2jName" : "AdjustmentType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "ChangeInCapacity",
        "value" : "ChangeInCapacity"
      }, {
        "name" : "PercentChangeInCapacity",
        "value" : "PercentChangeInCapacity"
      }, {
        "name" : "ExactCapacity",
        "value" : "ExactCapacity"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AdjustmentType",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AdjustmentType",
        "variableName" : "adjustmentType",
        "variableType" : "AdjustmentType",
        "documentation" : null,
        "simpleType" : "AdjustmentType",
        "variableSetterType" : "AdjustmentType"
      },
      "wrapper" : false
    },
    "Alarm" : {
      "c2jName" : "Alarm",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object representing a CloudWatch alarm associated with a scaling policy.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AlarmName",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The name of the alarm.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the alarm.</p>\n@param alarmName The name of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the alarm.</p>\n@return The name of the alarm.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AlarmName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AlarmName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AlarmName",
        "setterDocumentation" : "/**<p>The name of the alarm.</p>\n@param alarmName The name of the alarm.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "alarmName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the alarm.</p>\n@param alarmName The name of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "alarmName",
          "variableType" : "String",
          "documentation" : "<p>The name of the alarm.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AlarmARN",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the alarm.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@param alarmARN The Amazon Resource Name (ARN) of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@return The Amazon Resource Name (ARN) of the alarm.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AlarmARN",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AlarmARN",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AlarmARN",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@param alarmARN The Amazon Resource Name (ARN) of the alarm.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "alarmARN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@param alarmARN The Amazon Resource Name (ARN) of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "alarmARN",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the alarm.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AlarmARN" : {
          "c2jName" : "AlarmARN",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the alarm.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@param alarmARN The Amazon Resource Name (ARN) of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@return The Amazon Resource Name (ARN) of the alarm.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AlarmARN",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AlarmARN",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AlarmARN",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@param alarmARN The Amazon Resource Name (ARN) of the alarm.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "alarmARN",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@param alarmARN The Amazon Resource Name (ARN) of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "alarmARN",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the alarm.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AlarmName" : {
          "c2jName" : "AlarmName",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>The name of the alarm.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the alarm.</p>\n@param alarmName The name of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of the alarm.</p>\n@return The name of the alarm.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AlarmName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AlarmName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AlarmName",
          "setterDocumentation" : "/**<p>The name of the alarm.</p>\n@param alarmName The name of the alarm.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "alarmName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of the alarm.</p>\n@param alarmName The name of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "alarmName",
            "variableType" : "String",
            "documentation" : "<p>The name of the alarm.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "AlarmName", "AlarmARN" ],
      "shapeName" : "Alarm",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Alarm",
        "variableName" : "alarm",
        "variableType" : "Alarm",
        "documentation" : null,
        "simpleType" : "Alarm",
        "variableSetterType" : "Alarm"
      },
      "wrapper" : false
    },
    "ConcurrentUpdateException" : {
      "c2jName" : "ConcurrentUpdateException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>",
      "enums" : null,
      "errorCode" : "ConcurrentUpdateException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ConcurrentUpdateException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ConcurrentUpdateException",
        "variableName" : "concurrentUpdateException",
        "variableType" : "ConcurrentUpdateException",
        "documentation" : null,
        "simpleType" : "ConcurrentUpdateException",
        "variableSetterType" : "ConcurrentUpdateException"
      },
      "wrapper" : false
    },
    "DeleteScalingPolicyRequest" : {
      "c2jName" : "DeleteScalingPolicyRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteScalingPolicy",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AnyScaleFrontendService.DeleteScalingPolicy",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "PolicyName",
        "c2jShape" : "ResourceIdMaxLen1600",
        "deprecated" : false,
        "documentation" : "<p>The name of the scaling policy to delete.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the scaling policy to delete.</p>\n@param policyName The name of the scaling policy to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the scaling policy to delete.</p>\n@return The name of the scaling policy to delete.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "PolicyName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PolicyName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "PolicyName",
        "setterDocumentation" : "/**<p>The name of the scaling policy to delete.</p>\n@param policyName The name of the scaling policy to delete.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "policyName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the scaling policy to delete.</p>\n@param policyName The name of the scaling policy to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "policyName",
          "variableType" : "String",
          "documentation" : "<p>The name of the scaling policy to delete.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ServiceNamespace",
        "c2jShape" : "ServiceNamespace",
        "deprecated" : false,
        "documentation" : "<p>The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>",
        "enumType" : "ServiceNamespace",
        "fluentSetterDocumentation" : "/**<p>The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ServiceNamespace*/",
        "getterDocumentation" : "/**<p>The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@return The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@see ServiceNamespace*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ServiceNamespace",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServiceNamespace",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ServiceNamespace",
        "setterDocumentation" : "/**<p>The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@see ServiceNamespace*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "serviceNamespace",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ServiceNamespace*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "serviceNamespace",
          "variableType" : "String",
          "documentation" : "<p>The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceId",
        "c2jShape" : "ResourceIdMaxLen1600",
        "deprecated" : false,
        "documentation" : "<p>The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>\n@param resourceId The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>\n@return The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ResourceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ResourceId",
        "setterDocumentation" : "/**<p>The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>\n@param resourceId The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>\n@param resourceId The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "<p>The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ScalableDimension",
        "c2jShape" : "ScalableDimension",
        "deprecated" : false,
        "documentation" : "<p>The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>",
        "enumType" : "ScalableDimension",
        "fluentSetterDocumentation" : "/**<p>The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>\n@param scalableDimension The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ScalableDimension*/",
        "getterDocumentation" : "/**<p>The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>\n@return The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.\n@see ScalableDimension*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ScalableDimension",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalableDimension",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ScalableDimension",
        "setterDocumentation" : "/**<p>The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>\n@param scalableDimension The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.\n@see ScalableDimension*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "scalableDimension",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>\n@param scalableDimension The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ScalableDimension*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "scalableDimension",
          "variableType" : "String",
          "documentation" : "<p>The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "PolicyName" : {
          "c2jName" : "PolicyName",
          "c2jShape" : "ResourceIdMaxLen1600",
          "deprecated" : false,
          "documentation" : "<p>The name of the scaling policy to delete.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the scaling policy to delete.</p>\n@param policyName The name of the scaling policy to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of the scaling policy to delete.</p>\n@return The name of the scaling policy to delete.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "PolicyName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PolicyName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "PolicyName",
          "setterDocumentation" : "/**<p>The name of the scaling policy to delete.</p>\n@param policyName The name of the scaling policy to delete.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "policyName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of the scaling policy to delete.</p>\n@param policyName The name of the scaling policy to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "policyName",
            "variableType" : "String",
            "documentation" : "<p>The name of the scaling policy to delete.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceId" : {
          "c2jName" : "ResourceId",
          "c2jShape" : "ResourceIdMaxLen1600",
          "deprecated" : false,
          "documentation" : "<p>The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>\n@param resourceId The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>\n@return The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ResourceId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ResourceId",
          "setterDocumentation" : "/**<p>The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>\n@param resourceId The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>\n@param resourceId The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "<p>The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ScalableDimension" : {
          "c2jName" : "ScalableDimension",
          "c2jShape" : "ScalableDimension",
          "deprecated" : false,
          "documentation" : "<p>The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>",
          "enumType" : "ScalableDimension",
          "fluentSetterDocumentation" : "/**<p>The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>\n@param scalableDimension The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ScalableDimension*/",
          "getterDocumentation" : "/**<p>The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>\n@return The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.\n@see ScalableDimension*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ScalableDimension",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ScalableDimension",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ScalableDimension",
          "setterDocumentation" : "/**<p>The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>\n@param scalableDimension The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.\n@see ScalableDimension*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "scalableDimension",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>\n@param scalableDimension The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ScalableDimension*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "scalableDimension",
            "variableType" : "String",
            "documentation" : "<p>The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ServiceNamespace" : {
          "c2jName" : "ServiceNamespace",
          "c2jShape" : "ServiceNamespace",
          "deprecated" : false,
          "documentation" : "<p>The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>",
          "enumType" : "ServiceNamespace",
          "fluentSetterDocumentation" : "/**<p>The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ServiceNamespace*/",
          "getterDocumentation" : "/**<p>The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@return The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@see ServiceNamespace*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ServiceNamespace",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ServiceNamespace",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ServiceNamespace",
          "setterDocumentation" : "/**<p>The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@see ServiceNamespace*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "serviceNamespace",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ServiceNamespace*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "serviceNamespace",
            "variableType" : "String",
            "documentation" : "<p>The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "PolicyName", "ServiceNamespace", "ResourceId", "ScalableDimension" ],
      "shapeName" : "DeleteScalingPolicyRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "DeleteScalingPolicyRequest",
        "variableName" : "deleteScalingPolicyRequest",
        "variableType" : "DeleteScalingPolicyRequest",
        "documentation" : null,
        "simpleType" : "DeleteScalingPolicyRequest",
        "variableSetterType" : "DeleteScalingPolicyRequest"
      },
      "wrapper" : false
    },
    "DeleteScalingPolicyResult" : {
      "c2jName" : "DeleteScalingPolicyResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "DeleteScalingPolicyResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "DeleteScalingPolicyResult",
        "variableName" : "deleteScalingPolicyResult",
        "variableType" : "DeleteScalingPolicyResult",
        "documentation" : null,
        "simpleType" : "DeleteScalingPolicyResult",
        "variableSetterType" : "DeleteScalingPolicyResult"
      },
      "wrapper" : false
    },
    "DeregisterScalableTargetRequest" : {
      "c2jName" : "DeregisterScalableTargetRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeregisterScalableTarget",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AnyScaleFrontendService.DeregisterScalableTarget",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ServiceNamespace",
        "c2jShape" : "ServiceNamespace",
        "deprecated" : false,
        "documentation" : "<p>The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>",
        "enumType" : "ServiceNamespace",
        "fluentSetterDocumentation" : "/**<p>The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ServiceNamespace*/",
        "getterDocumentation" : "/**<p>The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@return The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@see ServiceNamespace*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ServiceNamespace",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServiceNamespace",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ServiceNamespace",
        "setterDocumentation" : "/**<p>The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@see ServiceNamespace*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "serviceNamespace",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ServiceNamespace*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "serviceNamespace",
          "variableType" : "String",
          "documentation" : "<p>The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceId",
        "c2jShape" : "ResourceIdMaxLen1600",
        "deprecated" : false,
        "documentation" : "<p>The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>\n@param resourceId The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>\n@return The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ResourceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ResourceId",
        "setterDocumentation" : "/**<p>The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>\n@param resourceId The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>\n@param resourceId The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "<p>The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ScalableDimension",
        "c2jShape" : "ScalableDimension",
        "deprecated" : false,
        "documentation" : "<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>",
        "enumType" : "ScalableDimension",
        "fluentSetterDocumentation" : "/**<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>\n@param scalableDimension The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ScalableDimension*/",
        "getterDocumentation" : "/**<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>\n@return The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.\n@see ScalableDimension*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ScalableDimension",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalableDimension",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ScalableDimension",
        "setterDocumentation" : "/**<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>\n@param scalableDimension The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.\n@see ScalableDimension*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "scalableDimension",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>\n@param scalableDimension The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ScalableDimension*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "scalableDimension",
          "variableType" : "String",
          "documentation" : "<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceId" : {
          "c2jName" : "ResourceId",
          "c2jShape" : "ResourceIdMaxLen1600",
          "deprecated" : false,
[...]
