{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "CustomizedMetricSpecification" : [ "Statistic" ],
      "DeleteScalingPolicyRequest" : [ "ServiceNamespace", "ScalableDimension" ],
      "DeregisterScalableTargetRequest" : [ "ServiceNamespace", "ScalableDimension" ],
      "DescribeScalableTargetsRequest" : [ "ServiceNamespace", "ScalableDimension" ],
      "DescribeScalingActivitiesRequest" : [ "ServiceNamespace", "ScalableDimension" ],
      "DescribeScalingPoliciesRequest" : [ "ServiceNamespace", "ScalableDimension" ],
      "PredefinedMetricSpecification" : [ "PredefinedMetricType" ],
      "PutScalingPolicyRequest" : [ "ServiceNamespace", "ScalableDimension", "PolicyType" ],
      "RegisterScalableTargetRequest" : [ "ServiceNamespace", "ScalableDimension" ],
      "ScalableTarget" : [ "ServiceNamespace", "ScalableDimension" ],
      "ScalingActivity" : [ "ServiceNamespace", "ScalableDimension", "StatusCode" ],
      "ScalingPolicy" : [ "ServiceNamespace", "ScalableDimension", "PolicyType" ],
      "StepScalingPolicyConfiguration" : [ "AdjustmentType", "MetricAggregationType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-02-06",
    "asyncClient" : "AWSApplicationAutoScalingAsyncClient",
    "asyncClientBuilderClassName" : "AWSApplicationAutoScalingAsyncClientBuilder",
    "asyncInterface" : "AWSApplicationAutoScalingAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSApplicationAutoScalingModuleInjector",
    "defaultEndpoint" : "https://autoscaling.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "autoscaling.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>With Application Auto Scaling, you can automatically scale your AWS resources. The experience is similar to that of <a href=\"https://aws.amazon.com/autoscaling/\">Auto Scaling</a>. You can use Application Auto Scaling to accomplish the following tasks:</p> <ul> <li> <p>Define scaling policies to automatically scale your AWS resources</p> </li> <li> <p>Scale your resources in response to CloudWatch alarms</p> </li> <li> <p>Schedule one-time or recurring scaling actions</p> </li> <li> <p>View the history of your scaling events</p> </li> </ul> <p>Application Auto Scaling can scale the following AWS resources:</p> <ul> <li> <p>Amazon ECS services. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-auto-scaling.html\">Service Auto Scaling</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p> </li> <li> <p>Amazon EC2 Spot fleets. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/fleet-auto-scaling.html\">Automatic Scaling for Spot Fleet</a> in the <i>Amazon EC2 User Guide</i>.</p> </li> <li> <p>Amazon EMR clusters. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/ManagementGuide/emr-automatic-scaling.html\">Using Automatic Scaling in Amazon EMR</a> in the <i>Amazon EMR Management Guide</i>.</p> </li> <li> <p>AppStream 2.0 fleets. For more information, see <a href=\"http://docs.aws.amazon.com/appstream2/latest/developerguide/autoscaling.html\">Fleet Auto Scaling for Amazon AppStream 2.0</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>.</p> </li> <li> <p>Provisioned read and write capacity for Amazon DynamoDB tables and global secondary indexes. For more information, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/AutoScaling.html\">Managing Throughput Capacity Automatically with DynamoDB Auto Scaling</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p> </li> <li> <p>Amazon Aurora Replicas. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Aurora.Integrating.AutoScaling.html\">Using Amazon Aurora Auto Scaling with Aurora Replicas</a>.</p> </li> </ul> <p>For a list of supported regions, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#as-app_region\">AWS Regions and Endpoints: Application Auto Scaling</a> in the <i>AWS General Reference</i>.</p>",
    "endpointPrefix" : "autoscaling",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.applicationautoscaling",
    "packagePath" : "com/amazonaws/services/applicationautoscaling",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Application Auto Scaling",
    "serviceName" : "Application Auto Scaling",
    "signingName" : "application-autoscaling",
    "smokeTestsPackageName" : "com.amazonaws.services.applicationautoscaling.smoketests",
    "syncClient" : "AWSApplicationAutoScalingClient",
    "syncClientBuilderClassName" : "AWSApplicationAutoScalingClientBuilder",
    "syncInterface" : "AWSApplicationAutoScaling",
    "uid" : "application-autoscaling-2016-02-06",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteScalingPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteScalingPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteScalingPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteScalingPolicyRequest, DeleteScalingPolicyResult>",
      "asyncReturnType" : "DeleteScalingPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Application Auto Scaling scaling policy.</p> <p>Deleting a policy deletes the underlying alarm action, but does not delete the CloudWatch alarm associated with the scaling policy, even if it no longer has an associated action.</p> <p>To create a scaling policy or update an existing one, see <a>PutScalingPolicy</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found. For any operation that depends on the existence of a scalable target, this exception is thrown if the scalable target with the specified service namespace, resource ID, and scalable dimension does not exist. For any operation that deletes or deregisters a resource, this exception is thrown if the resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteScalingPolicyRequest",
        "variableName" : "deleteScalingPolicyRequest",
        "variableType" : "DeleteScalingPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteScalingPolicyRequest",
        "variableSetterType" : "DeleteScalingPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteScalingPolicy",
      "operationName" : "DeleteScalingPolicy",
      "returnType" : {
        "returnType" : "DeleteScalingPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteScalingPolicyResult"
    },
    "DeleteScheduledAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteScheduledActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteScheduledActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteScheduledActionRequest, DeleteScheduledActionResult>",
      "asyncReturnType" : "DeleteScheduledActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Application Auto Scaling scheduled action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found. For any operation that depends on the existence of a scalable target, this exception is thrown if the scalable target with the specified service namespace, resource ID, and scalable dimension does not exist. For any operation that deletes or deregisters a resource, this exception is thrown if the resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteScheduledActionRequest",
        "variableName" : "deleteScheduledActionRequest",
        "variableType" : "DeleteScheduledActionRequest",
        "documentation" : "",
        "simpleType" : "DeleteScheduledActionRequest",
        "variableSetterType" : "DeleteScheduledActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteScheduledAction",
      "operationName" : "DeleteScheduledAction",
      "returnType" : {
        "returnType" : "DeleteScheduledActionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteScheduledActionResult"
    },
    "DeregisterScalableTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterScalableTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterScalableTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterScalableTargetRequest, DeregisterScalableTargetResult>",
      "asyncReturnType" : "DeregisterScalableTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters a scalable target.</p> <p>Deregistering a scalable target deletes the scaling policies that are associated with it.</p> <p>To create a scalable target or update an existing one, see <a>RegisterScalableTarget</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found. For any operation that depends on the existence of a scalable target, this exception is thrown if the scalable target with the specified service namespace, resource ID, and scalable dimension does not exist. For any operation that deletes or deregisters a resource, this exception is thrown if the resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeregisterScalableTargetRequest",
        "variableName" : "deregisterScalableTargetRequest",
        "variableType" : "DeregisterScalableTargetRequest",
        "documentation" : "",
        "simpleType" : "DeregisterScalableTargetRequest",
        "variableSetterType" : "DeregisterScalableTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterScalableTarget",
      "operationName" : "DeregisterScalableTarget",
      "returnType" : {
        "returnType" : "DeregisterScalableTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterScalableTargetResult"
    },
    "DescribeScalableTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalableTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalableTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalableTargetsRequest, DescribeScalableTargetsResult>",
      "asyncReturnType" : "DescribeScalableTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the scalable targets in the specified namespace.</p> <p>You can filter the results using the <code>ResourceIds</code> and <code>ScalableDimension</code> parameters.</p> <p>To create a scalable target or update an existing one, see <a>RegisterScalableTarget</a>. If you are no longer using a scalable target, you can deregister it using <a>DeregisterScalableTarget</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token supplied was invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScalableTargetsRequest",
        "variableName" : "describeScalableTargetsRequest",
        "variableType" : "DescribeScalableTargetsRequest",
        "documentation" : "",
        "simpleType" : "DescribeScalableTargetsRequest",
        "variableSetterType" : "DescribeScalableTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalableTargets",
      "operationName" : "DescribeScalableTargets",
      "returnType" : {
        "returnType" : "DescribeScalableTargetsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeScalableTargetsResult"
    },
    "DescribeScalingActivities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingActivitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingActivitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingActivitiesRequest, DescribeScalingActivitiesResult>",
      "asyncReturnType" : "DescribeScalingActivitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides descriptive information about the scaling activities in the specified namespace from the previous six weeks.</p> <p>You can filter the results using the <code>ResourceId</code> and <code>ScalableDimension</code> parameters.</p> <p>Scaling activities are triggered by CloudWatch alarms that are associated with scaling policies. To view the scaling policies for a service namespace, see <a>DescribeScalingPolicies</a>. To create a scaling policy or update an existing one, see <a>PutScalingPolicy</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token supplied was invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScalingActivitiesRequest",
        "variableName" : "describeScalingActivitiesRequest",
        "variableType" : "DescribeScalingActivitiesRequest",
        "documentation" : "",
        "simpleType" : "DescribeScalingActivitiesRequest",
        "variableSetterType" : "DescribeScalingActivitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalingActivities",
      "operationName" : "DescribeScalingActivities",
      "returnType" : {
        "returnType" : "DescribeScalingActivitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeScalingActivitiesResult"
    },
    "DescribeScalingPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingPoliciesRequest, DescribeScalingPoliciesResult>",
      "asyncReturnType" : "DescribeScalingPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the scaling policies for the specified service namespace.</p> <p>You can filter the results using the <code>ResourceId</code>, <code>ScalableDimension</code>, and <code>PolicyNames</code> parameters.</p> <p>To create a scaling policy or update an existing one, see <a>PutScalingPolicy</a>. If you are no longer using a scaling policy, you can delete it using <a>DeleteScalingPolicy</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FailedResourceAccessException",
        "documentation" : "<p>Failed access to resources caused an exception. This exception is thrown when Application Auto Scaling is unable to retrieve the alarms associated with a scaling policy due to a client error, for example, if the role ARN specified for a scalable target does not have permission to call the CloudWatch <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarms.html\">DescribeAlarms</a> on your behalf.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token supplied was invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScalingPoliciesRequest",
        "variableName" : "describeScalingPoliciesRequest",
        "variableType" : "DescribeScalingPoliciesRequest",
        "documentation" : "",
        "simpleType" : "DescribeScalingPoliciesRequest",
        "variableSetterType" : "DescribeScalingPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalingPolicies",
      "operationName" : "DescribeScalingPolicies",
      "returnType" : {
        "returnType" : "DescribeScalingPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeScalingPoliciesResult"
    },
    "DescribeScheduledActions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScheduledActionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScheduledActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScheduledActionsRequest, DescribeScheduledActionsResult>",
      "asyncReturnType" : "DescribeScheduledActionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the scheduled actions for the specified service namespace.</p> <p>You can filter the results using the <code>ResourceId</code>, <code>ScalableDimension</code>, and <code>ScheduledActionNames</code> parameters.</p> <p>To create a scheduled action or update an existing one, see <a>PutScheduledAction</a>. If you are no longer using a scheduled action, you can delete it using <a>DeleteScheduledAction</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token supplied was invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeScheduledActionsRequest",
        "variableName" : "describeScheduledActionsRequest",
        "variableType" : "DescribeScheduledActionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeScheduledActionsRequest",
        "variableSetterType" : "DescribeScheduledActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScheduledActions",
      "operationName" : "DescribeScheduledActions",
      "returnType" : {
        "returnType" : "DescribeScheduledActionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeScheduledActionsResult"
    },
    "PutScalingPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutScalingPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutScalingPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutScalingPolicyRequest, PutScalingPolicyResult>",
      "asyncReturnType" : "PutScalingPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a policy for an Application Auto Scaling scalable target.</p> <p>Each scalable target is identified by a service namespace, resource ID, and scalable dimension. A scaling policy applies to the scalable target identified by those three attributes. You cannot create a scaling policy until you register the scalable target using <a>RegisterScalableTarget</a>.</p> <p>To update a policy, specify its policy name and the parameters that you want to change. Any parameters that you don't specify are not changed by this update request.</p> <p>You can view the scaling policies for a service namespace using <a>DescribeScalingPolicies</a>. If you are no longer using a scaling policy, you can delete it using <a>DeleteScalingPolicy</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A per-account resource limit is exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/ApplicationAutoScaling/latest/userguide/application-auto-scaling-limits.html\">Application Auto Scaling Limits</a>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found. For any operation that depends on the existence of a scalable target, this exception is thrown if the scalable target with the specified service namespace, resource ID, and scalable dimension does not exist. For any operation that deletes or deregisters a resource, this exception is thrown if the resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FailedResourceAccessException",
        "documentation" : "<p>Failed access to resources caused an exception. This exception is thrown when Application Auto Scaling is unable to retrieve the alarms associated with a scaling policy due to a client error, for example, if the role ARN specified for a scalable target does not have permission to call the CloudWatch <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarms.html\">DescribeAlarms</a> on your behalf.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutScalingPolicyRequest",
        "variableName" : "putScalingPolicyRequest",
        "variableType" : "PutScalingPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutScalingPolicyRequest",
        "variableSetterType" : "PutScalingPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putScalingPolicy",
      "operationName" : "PutScalingPolicy",
      "returnType" : {
        "returnType" : "PutScalingPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutScalingPolicyResult"
    },
    "PutScheduledAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutScheduledActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutScheduledActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutScheduledActionRequest, PutScheduledActionResult>",
      "asyncReturnType" : "PutScheduledActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a scheduled action for an Application Auto Scaling scalable target.</p> <p>Each scalable target is identified by a service namespace, resource ID, and scalable dimension. A scheduled action applies to the scalable target identified by those three attributes. You cannot create a scheduled action until you register the scalable target using <a>RegisterScalableTarget</a>.</p> <p>To update an action, specify its name and the parameters that you want to change. If you don't specify start and end times, the old values are deleted. Any other parameters that you don't specify are not changed by this update request.</p> <p>You can view the scheduled actions using <a>DescribeScheduledActions</a>. If you are no longer using a scheduled action, you can delete it using <a>DeleteScheduledAction</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A per-account resource limit is exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/ApplicationAutoScaling/latest/userguide/application-auto-scaling-limits.html\">Application Auto Scaling Limits</a>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found. For any operation that depends on the existence of a scalable target, this exception is thrown if the scalable target with the specified service namespace, resource ID, and scalable dimension does not exist. For any operation that deletes or deregisters a resource, this exception is thrown if the resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutScheduledActionRequest",
        "variableName" : "putScheduledActionRequest",
        "variableType" : "PutScheduledActionRequest",
        "documentation" : "",
        "simpleType" : "PutScheduledActionRequest",
        "variableSetterType" : "PutScheduledActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putScheduledAction",
      "operationName" : "PutScheduledAction",
      "returnType" : {
        "returnType" : "PutScheduledActionResult",
        "documentation" : null
      },
      "syncReturnType" : "PutScheduledActionResult"
    },
    "RegisterScalableTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterScalableTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterScalableTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterScalableTargetRequest, RegisterScalableTargetResult>",
      "asyncReturnType" : "RegisterScalableTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers or updates a scalable target. A scalable target is a resource that Application Auto Scaling can scale out or scale in. After you have registered a scalable target, you can use this operation to update the minimum and maximum values for its scalable dimension.</p> <p>After you register a scalable target, you can create and apply scaling policies using <a>PutScalingPolicy</a>. You can view the scaling policies for a service namespace using <a>DescribeScalableTargets</a>. If you no longer need a scalable target, you can deregister it using <a>DeregisterScalableTarget</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A per-account resource limit is exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/ApplicationAutoScaling/latest/userguide/application-auto-scaling-limits.html\">Application Auto Scaling Limits</a>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RegisterScalableTargetRequest",
        "variableName" : "registerScalableTargetRequest",
        "variableType" : "RegisterScalableTargetRequest",
        "documentation" : "",
        "simpleType" : "RegisterScalableTargetRequest",
        "variableSetterType" : "RegisterScalableTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerScalableTarget",
      "operationName" : "RegisterScalableTarget",
      "returnType" : {
        "returnType" : "RegisterScalableTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterScalableTargetResult"
    }
  },
  "shapes" : {
    "AdjustmentType" : {
      "c2jName" : "AdjustmentType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "ChangeInCapacity",
        "value" : "ChangeInCapacity"
      }, {
        "name" : "PercentChangeInCapacity",
        "value" : "PercentChangeInCapacity"
      }, {
        "name" : "ExactCapacity",
        "value" : "ExactCapacity"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AdjustmentType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AdjustmentType",
        "variableName" : "adjustmentType",
        "variableType" : "AdjustmentType",
        "documentation" : null,
        "simpleType" : "AdjustmentType",
        "variableSetterType" : "AdjustmentType"
      },
      "wrapper" : false
    },
    "Alarm" : {
      "c2jName" : "Alarm",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents a CloudWatch alarm associated with a scaling policy.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AlarmName",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The name of the alarm.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the alarm.</p>\n@param alarmName The name of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAlarmName",
        "getterDocumentation" : "/**<p>The name of the alarm.</p>\n@return The name of the alarm.*/",
        "getterMethodName" : "getAlarmName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AlarmName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AlarmName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AlarmName",
        "setterDocumentation" : "/**<p>The name of the alarm.</p>\n@param alarmName The name of the alarm.*/",
        "setterMethodName" : "setAlarmName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "alarmName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the alarm.</p>\n@param alarmName The name of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "alarmName",
          "variableType" : "String",
          "documentation" : "<p>The name of the alarm.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AlarmARN",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the alarm.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@param alarmARN The Amazon Resource Name (ARN) of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAlarmARN",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@return The Amazon Resource Name (ARN) of the alarm.*/",
        "getterMethodName" : "getAlarmARN",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AlarmARN",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AlarmARN",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AlarmARN",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@param alarmARN The Amazon Resource Name (ARN) of the alarm.*/",
        "setterMethodName" : "setAlarmARN",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "alarmARN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@param alarmARN The Amazon Resource Name (ARN) of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "alarmARN",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the alarm.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AlarmARN" : {
          "c2jName" : "AlarmARN",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the alarm.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@param alarmARN The Amazon Resource Name (ARN) of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAlarmARN",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@return The Amazon Resource Name (ARN) of the alarm.*/",
          "getterMethodName" : "getAlarmARN",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AlarmARN",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AlarmARN",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AlarmARN",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@param alarmARN The Amazon Resource Name (ARN) of the alarm.*/",
          "setterMethodName" : "setAlarmARN",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "alarmARN",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the alarm.</p>\n@param alarmARN The Amazon Resource Name (ARN) of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "alarmARN",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the alarm.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AlarmName" : {
          "c2jName" : "AlarmName",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>The name of the alarm.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the alarm.</p>\n@param alarmName The name of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAlarmName",
          "getterDocumentation" : "/**<p>The name of the alarm.</p>\n@return The name of the alarm.*/",
          "getterMethodName" : "getAlarmName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AlarmName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AlarmName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AlarmName",
          "setterDocumentation" : "/**<p>The name of the alarm.</p>\n@param alarmName The name of the alarm.*/",
          "setterMethodName" : "setAlarmName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "alarmName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the alarm.</p>\n@param alarmName The name of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "alarmName",
            "variableType" : "String",
            "documentation" : "<p>The name of the alarm.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "AlarmName", "AlarmARN" ],
      "shapeName" : "Alarm",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Alarm",
        "variableName" : "alarm",
        "variableType" : "Alarm",
        "documentation" : null,
        "simpleType" : "Alarm",
        "variableSetterType" : "Alarm"
      },
      "wrapper" : false
    },
    "ConcurrentUpdateException" : {
      "c2jName" : "ConcurrentUpdateException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>",
      "enums" : null,
      "errorCode" : "ConcurrentUpdateException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConcurrentUpdateException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ConcurrentUpdateException",
        "variableName" : "concurrentUpdateException",
        "variableType" : "ConcurrentUpdateException",
        "documentation" : null,
        "simpleType" : "ConcurrentUpdateException",
        "variableSetterType" : "ConcurrentUpdateException"
      },
      "wrapper" : false
    },
    "CustomizedMetricSpecification" : {
      "c2jName" : "CustomizedMetricSpecification",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Configures a customized metric for a target tracking policy.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "MetricName",
        "c2jShape" : "MetricName",
        "deprecated" : false,
        "documentation" : "<p>The name of the metric.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the metric.</p>\n@param metricName The name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMetricName",
        "getterDocumentation" : "/**<p>The name of the metric.</p>\n@return The name of the metric.*/",
        "getterMethodName" : "getMetricName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MetricName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MetricName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MetricName",
        "setterDocumentation" : "/**<p>The name of the metric.</p>\n@param metricName The name of the metric.*/",
        "setterMethodName" : "setMetricName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "metricName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the metric.</p>\n@param metricName The name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "metricName",
          "variableType" : "String",
          "documentation" : "<p>The name of the metric.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Namespace",
        "c2jShape" : "MetricNamespace",
        "deprecated" : false,
        "documentation" : "<p>The namespace of the metric.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The namespace of the metric.</p>\n@param namespace The namespace of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNamespace",
        "getterDocumentation" : "/**<p>The namespace of the metric.</p>\n@return The namespace of the metric.*/",
        "getterMethodName" : "getNamespace",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Namespace",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Namespace",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Namespace",
        "setterDocumentation" : "/**<p>The namespace of the metric.</p>\n@param namespace The namespace of the metric.*/",
        "setterMethodName" : "setNamespace",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "namespace",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The namespace of the metric.</p>\n@param namespace The namespace of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "namespace",
          "variableType" : "String",
          "documentation" : "<p>The namespace of the metric.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Dimensions",
        "c2jShape" : "MetricDimensions",
        "deprecated" : false,
        "documentation" : "<p>The dimensions of the metric.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The dimensions of the metric.</p>\n@param dimensions The dimensions of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDimensions",
        "getterDocumentation" : "/**<p>The dimensions of the metric.</p>\n@return The dimensions of the metric.*/",
        "getterMethodName" : "getDimensions",
        "getterModel" : {
          "returnType" : "java.util.List<MetricDimension>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Dimensions",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Dimensions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "MetricDimension",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "MetricDimension",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "MetricDimension",
              "variableName" : "member",
              "variableType" : "MetricDimension",
              "documentation" : "",
              "simpleType" : "MetricDimension",
              "variableSetterType" : "MetricDimension"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "MetricDimension",
              "variableName" : "member",
              "variableType" : "MetricDimension",
              "documentation" : "",
              "simpleType" : "MetricDimension",
              "variableSetterType" : "MetricDimension"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "MetricDimension",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "MetricDimension",
          "templateImplType" : "java.util.ArrayList<MetricDimension>",
          "templateType" : "java.util.List<MetricDimension>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Dimensions",
        "setterDocumentation" : "/**<p>The dimensions of the metric.</p>\n@param dimensions The dimensions of the metric.*/",
        "setterMethodName" : "setDimensions",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<MetricDimension>",
          "variableName" : "dimensions",
          "variableType" : "java.util.List<MetricDimension>",
          "documentation" : "",
          "simpleType" : "List<MetricDimension>",
          "variableSetterType" : "java.util.Collection<MetricDimension>"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The dimensions of the metric.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setDimensions(java.util.Collection)} or {@link #withDimensions(java.util.Collection)} if you want to override the existing values.</p>\n@param dimensions The dimensions of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<MetricDimension>",
          "variableName" : "dimensions",
          "variableType" : "java.util.List<MetricDimension>",
          "documentation" : "<p>The dimensions of the metric.</p>",
          "simpleType" : "List<MetricDimension>",
          "variableSetterType" : "java.util.Collection<MetricDimension>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Statistic",
        "c2jShape" : "MetricStatistic",
        "deprecated" : false,
        "documentation" : "<p>The statistic of the metric.</p>",
        "enumType" : "MetricStatistic",
        "fluentSetterDocumentation" : "/**<p>The statistic of the metric.</p>\n@param statistic The statistic of the metric.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricStatistic*/",
        "fluentSetterMethodName" : "withStatistic",
        "getterDocumentation" : "/**<p>The statistic of the metric.</p>\n@return The statistic of the metric.\n@see MetricStatistic*/",
        "getterMethodName" : "getStatistic",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Statistic",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Statistic",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Statistic",
        "setterDocumentation" : "/**<p>The statistic of the metric.</p>\n@param statistic The statistic of the metric.\n@see MetricStatistic*/",
        "setterMethodName" : "setStatistic",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "statistic",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The statistic of the metric.</p>\n@param statistic The statistic of the metric.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricStatistic*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "statistic",
          "variableType" : "String",
          "documentation" : "<p>The statistic of the metric.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Unit",
        "c2jShape" : "MetricUnit",
        "deprecated" : false,
        "documentation" : "<p>The unit of the metric.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unit of the metric.</p>\n@param unit The unit of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUnit",
        "getterDocumentation" : "/**<p>The unit of the metric.</p>\n@return The unit of the metric.*/",
        "getterMethodName" : "getUnit",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Unit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Unit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Unit",
        "setterDocumentation" : "/**<p>The unit of the metric.</p>\n@param unit The unit of the metric.*/",
        "setterMethodName" : "setUnit",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "unit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unit of the metric.</p>\n@param unit The unit of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "unit",
          "variableType" : "String",
          "documentation" : "<p>The unit of the metric.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Dimensions" : {
          "c2jName" : "Dimensions",
          "c2jShape" : "MetricDimensions",
          "deprecated" : false,
          "documentation" : "<p>The dimensions of the metric.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The dimensions of the metric.</p>\n@param dimensions The dimensions of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDimensions",
          "getterDocumentation" : "/**<p>The dimensions of the metric.</p>\n@return The dimensions of the metric.*/",
          "getterMethodName" : "getDimensions",
          "getterModel" : {
            "returnType" : "java.util.List<MetricDimension>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Dimensions",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Dimensions",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "MetricDimension",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "MetricDimension",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "MetricDimension",
                "variableName" : "member",
                "variableType" : "MetricDimension",
                "documentation" : "",
                "simpleType" : "MetricDimension",
                "variableSetterType" : "MetricDimension"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "MetricDimension",
                "variableName" : "member",
                "variableType" : "MetricDimension",
                "documentation" : "",
                "simpleType" : "MetricDimension",
                "variableSetterType" : "MetricDimension"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "MetricDimension",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "MetricDimension",
            "templateImplType" : "java.util.ArrayList<MetricDimension>",
            "templateType" : "java.util.List<MetricDimension>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Dimensions",
          "setterDocumentation" : "/**<p>The dimensions of the metric.</p>\n@param dimensions The dimensions of the metric.*/",
          "setterMethodName" : "setDimensions",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<MetricDimension>",
            "variableName" : "dimensions",
            "variableType" : "java.util.List<MetricDimension>",
            "documentation" : "",
            "simpleType" : "List<MetricDimension>",
            "variableSetterType" : "java.util.Collection<MetricDimension>"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The dimensions of the metric.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setDimensions(java.util.Collection)} or {@link #withDimensions(java.util.Collection)} if you want to override the existing values.</p>\n@param dimensions The dimensions of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<MetricDimension>",
            "variableName" : "dimensions",
            "variableType" : "java.util.List<MetricDimension>",
            "documentation" : "<p>The dimensions of the metric.</p>",
            "simpleType" : "List<MetricDimension>",
            "variableSetterType" : "java.util.Collection<MetricDimension>"
          },
          "xmlNameSpaceUri" : null
        },
        "MetricName" : {
          "c2jName" : "MetricName",
          "c2jShape" : "MetricName",
          "deprecated" : false,
          "documentation" : "<p>The name of the metric.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the metric.</p>\n@param metricName The name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMetricName",
          "getterDocumentation" : "/**<p>The name of the metric.</p>\n@return The name of the metric.*/",
          "getterMethodName" : "getMetricName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MetricName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MetricName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MetricName",
          "setterDocumentation" : "/**<p>The name of the metric.</p>\n@param metricName The name of the metric.*/",
          "setterMethodName" : "setMetricName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "metricName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the metric.</p>\n@param metricName The name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "metricName",
            "variableType" : "String",
            "documentation" : "<p>The name of the metric.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Namespace" : {
          "c2jName" : "Namespace",
          "c2jShape" : "MetricNamespace",
          "deprecated" : false,
          "documentation" : "<p>The namespace of the metric.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The namespace of the metric.</p>\n@param namespace The namespace of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNamespace",
          "getterDocumentation" : "/**<p>The namespace of the metric.</p>\n@return The namespace of the metric.*/",
          "getterMethodName" : "getNamespace",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Namespace",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Namespace",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Namespace",
          "setterDocumentation" : "/**<p>The namespace of the metric.</p>\n@param namespace The namespace of the metric.*/",
          "setterMethodName" : "setNamespace",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "namespace",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The namespace of the metric.</p>\n@param namespace The namespace of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "namespace",
            "variableType" : "String",
            "documentation" : "<p>The namespace of the metric.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Statistic" : {
          "c2jName" : "Statistic",
          "c2jShape" : "MetricStatistic",
          "deprecated" : false,
          "documentation" : "<p>The statistic of the metric.</p>",
          "enumType" : "MetricStatistic",
          "fluentSetterDocumentation" : "/**<p>The statistic of the metric.</p>\n@param statistic The statistic of the metric.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricStatistic*/",
          "fluentSetterMethodName" : "withStatistic",
          "getterDocumentation" : "/**<p>The statistic of the metric.</p>\n@return The statistic of the metric.\n@see MetricStatistic*/",
          "getterMethodName" : "getStatistic",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Statistic",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Statistic",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Statistic",
          "setterDocumentation" : "/**<p>The statistic of the metric.</p>\n@param statistic The statistic of the metric.\n@see MetricStatistic*/",
          "setterMethodName" : "setStatistic",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "statistic",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The statistic of the metric.</p>\n@param statistic The statistic of the metric.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricStatistic*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "statistic",
            "variableType" : "String",
            "documentation" : "<p>The statistic of the metric.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Unit" : {
          "c2jName" : "Unit",
          "c2jShape" : "MetricUnit",
          "deprecated" : false,
          "documentation" : "<p>The unit of the metric.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unit of the metric.</p>\n@param unit The unit of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUnit",
          "getterDocumentation" : "/**<p>The unit of the metric.</p>\n@return The unit of the metric.*/",
          "getterMethodName" : "getUnit",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Unit",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Unit",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Unit",
          "setterDocumentation" : "/**<p>The unit of the metric.</p>\n@param unit The unit of the metric.*/",
          "setterMethodName" : "setUnit",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "unit",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unit of the metric.</p>\n@param unit The unit of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "unit",
            "variableType" : "String",
            "documentation" : "<p>The unit of the metric.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "MetricName", "Namespace", "Statistic" ],
      "shapeName" : "CustomizedMetricSpecification",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CustomizedMetricSpecification",
        "variableName" : "customizedMetricSpecification",
        "variableType" : "CustomizedMetricSpecification",
        "documentation" : null,
        "simpleType" : "CustomizedMetricSpecification",
        "variableSetterType" : "CustomizedMetricSpecification"
      },
      "wrapper" : false
    },
    "DeleteScalingPolicyRequest" : {
      "c2jName" : "DeleteScalingPolicyRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteScalingPolicy",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AnyScaleFrontendService.DeleteScalingPolicy",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "PolicyName",
        "c2jShape" : "ResourceIdMaxLen1600",
        "deprecated" : false,
        "documentation" : "<p>The name of the scaling policy.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the scaling policy.</p>\n@param policyName The name of the scaling policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPolicyName",
        "getterDocumentation" : "/**<p>The name of the scaling policy.</p>\n@return The name of the scaling policy.*/",
        "getterMethodName" : "getPolicyName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PolicyName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PolicyName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PolicyName",
        "setterDocumentation" : "/**<p>The name of the scaling policy.</p>\n@param policyName The name of the scaling policy.*/",
        "setterMethodName" : "setPolicyName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "policyName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the scaling policy.</p>\n@param policyName The name of the scaling policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "policyName",
          "variableType" : "String",
          "documentation" : "<p>The name of the scaling policy.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ServiceNamespace",
        "c2jShape" : "ServiceNamespace",
        "deprecated" : false,
        "documentation" : "<p>The namespace of the AWS service. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
        "enumType" : "ServiceNamespace",
        "fluentSetterDocumentation" : "/**<p>The namespace of the AWS service. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>\n@param serviceNamespace The namespace of the AWS service. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ServiceNamespace*/",
        "fluentSetterMethodName" : "withServiceNamespace",
        "getterDocumentation" : "/**<p>The namespace of the AWS service. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>\n@return The namespace of the AWS service. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.\n@see ServiceNamespace*/",
        "getterMethodName" : "getServiceNamespace",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ServiceNamespace",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServiceNamespace",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ServiceNamespace",
        "setterDocumentation" : "/**<p>The namespace of the AWS service. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>\n@param serviceNamespace The namespace of the AWS service. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.\n@see ServiceNamespace*/",
        "setterMethodName" : "setServiceNamespace",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "serviceNamespace",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The namespace of the AWS service. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>\n@param serviceNamespace The namespace of the AWS service. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ServiceNamespace*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "serviceNamespace",
          "variableType" : "String",
          "documentation" : "<p>The namespace of the AWS service. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceId",
        "c2jShape" : "ResourceIdMaxLen1600",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the resource associated with the scalable target. This string consists of the resource type and unique identifier.</p> <ul> <li> <p>ECS service - The resource type is <code>service</code> and the unique identifier is the cluster name and service name. Example: <code>service/default/sample-webapp</code>.</p> </li> <li> <p>Spot fleet request - The resource type is <code>spot-fleet-request</code> and the unique identifier is the Spot fleet request ID. Example: <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p> </li> <li> <p>EMR cluster - The resource type is <code>instancegroup</code> and the unique identifier is the cluster ID and instance group ID. Example: <code>instancegroup/j-2EEZNYKUA1NTV/ig-1791Y4E1L8YI0</code>.</p> </li> <li> <p>AppStream 2.0 fleet - The resource type is <code>fleet</code> and the unique identifier is the fleet name. Example: <code>fleet/sample-fleet</code>.</p> </li> <li> <p>DynamoDB table - The resource type is <code>table</code> and the unique identifier is the resource ID. Example: <code>table/my-table</code>.</p> </li> <li> <p>DynamoDB global secondary index - The resource type is <code>index</code> and the unique identifier is the resource ID. Example: <code>table/my-table/index/my-table-index</code>.</p> </li> <li> <p>Aurora DB cluster - The resource type is <code>cluster</code> and the unique identifier is the cluster name. Example: <code>cluster:my-db-cluster</code>.</p> </li> </ul>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the resource associated with the scalable target. This string consists of the resource type and unique identifier.</p> <ul> <li> <p>ECS service - The resource type is <code>service</code> and the unique identifier is the cluster name and service name. Example: <code>service/default/sample-webapp</code>.</p> </li> <li> <p>Spot fleet request - The resource type is <code>spot-fleet-request</code> and the unique identifier is the Spot fleet request ID. Example: <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p> </li> <li> <p>EMR cluster - The resource type is <code>instancegroup</code> and the unique identifier is the cluster ID and instance group ID. Example: <code>instancegroup/j-2EEZNYKUA1NTV/ig-1791Y4E1L8YI0</code>.</p> </li> <li> <p>AppStream 2.0 fleet - The resource type is <code>fleet</code> and the unique identifier is the fleet name. Example: <code>fleet/sample-fleet</code>.</p> </li> <li> <p>DynamoDB table - The resource type is <code>table</code> and the unique identifier is the resource ID. Example: <code>table/my-table</code>.</p> </li> <li> <p>DynamoDB global secondary index - The resource type is <code>index</code> and the unique identifier is the resource ID. Example: <code>table/my-table/index/my-table-index</code>.</p> </li> <li> <p>Aurora DB cluster - The resource type is <code>cluster</code> and the unique identifier is the cluster name. Example: <code>cluster:my-db-cluster</code>.</p> </li> </ul>\n@param resourceId The identifier of the resource associated with the scalable target. This string consists of the resource type and unique identifier.</p> <ul> <li> <p>ECS service - The resource type is <code>service</code> and the unique identifier is the cluster name and service name. Example: <code>service/default/sample-webapp</code>.</p> </li> <li> <p>Spot fleet request - The resource type is <code>spot-fleet-request</code> and the unique identifier is the Spot fleet r
[...]
