{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-01-06",
    "asyncClient" : "AWSAutoScalingPlansAsyncClient",
    "asyncClientBuilderClassName" : "AWSAutoScalingPlansAsyncClientBuilder",
    "asyncInterface" : "AWSAutoScalingPlansAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSAutoScalingPlansModuleInjector",
    "defaultEndpoint" : "autoscaling.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "autoscaling.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Auto Scaling</fullname> <p>Use AWS Auto Scaling to quickly discover all the scalable AWS resources for your application and configure dynamic scaling and predictive scaling for your resources using scaling plans. Use this service in conjunction with the Amazon EC2 Auto Scaling, Application Auto Scaling, Amazon CloudWatch, and AWS CloudFormation services. </p> <p>Currently, predictive scaling is only available for Amazon EC2 Auto Scaling groups.</p> <p>For more information about AWS Auto Scaling, including information about granting IAM users required permissions for AWS Auto Scaling actions, see the <a href=\"https://docs.aws.amazon.com/autoscaling/plans/userguide/what-is-aws-auto-scaling.html\">AWS Auto Scaling User Guide</a>.</p>",
    "endpointPrefix" : "autoscaling",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.autoscalingplans",
    "packagePath" : "com/amazonaws/services/autoscalingplans",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Auto Scaling Plans",
    "serviceId" : "Auto Scaling Plans",
    "serviceName" : "AWS Auto Scaling Plans",
    "signingName" : "autoscaling-plans",
    "smokeTestsPackageName" : "com.amazonaws.services.autoscalingplans.smoketests",
    "syncClient" : "AWSAutoScalingPlansClient",
    "syncClientBuilderClassName" : "AWSAutoScalingPlansClientBuilder",
    "syncInterface" : "AWSAutoScalingPlans",
    "uid" : "autoscaling-plans-2018-01-06",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateScalingPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateScalingPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateScalingPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateScalingPlanRequest, CreateScalingPlanResult>",
      "asyncReturnType" : "CreateScalingPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a scaling plan.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the parameters provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Your account exceeded a limit. This exception is thrown when a per-account resource limit is exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to a scaling plan that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateScalingPlanRequest",
        "variableName" : "createScalingPlanRequest",
        "variableType" : "CreateScalingPlanRequest",
        "documentation" : "",
        "simpleType" : "CreateScalingPlanRequest",
        "variableSetterType" : "CreateScalingPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createScalingPlan",
      "operationName" : "CreateScalingPlan",
      "returnType" : {
        "returnType" : "CreateScalingPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateScalingPlanResult"
    },
    "DeleteScalingPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteScalingPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteScalingPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteScalingPlanRequest, DeleteScalingPlanResult>",
      "asyncReturnType" : "DeleteScalingPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified scaling plan.</p> <p>Deleting a scaling plan deletes the underlying <a>ScalingInstruction</a> for all of the scalable resources that are covered by the plan.</p> <p>If the plan has launched resources or has scaling activities in progress, you must delete those resources separately.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the parameters provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to a scaling plan that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteScalingPlanRequest",
        "variableName" : "deleteScalingPlanRequest",
        "variableType" : "DeleteScalingPlanRequest",
        "documentation" : "",
        "simpleType" : "DeleteScalingPlanRequest",
        "variableSetterType" : "DeleteScalingPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteScalingPlan",
      "operationName" : "DeleteScalingPlan",
      "returnType" : {
        "returnType" : "DeleteScalingPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteScalingPlanResult"
    },
    "DescribeScalingPlanResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingPlanResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingPlanResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingPlanResourcesRequest, DescribeScalingPlanResourcesResult>",
      "asyncReturnType" : "DescribeScalingPlanResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the scalable resources in the specified scaling plan.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the parameters provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to a scaling plan that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeScalingPlanResourcesRequest",
        "variableName" : "describeScalingPlanResourcesRequest",
        "variableType" : "DescribeScalingPlanResourcesRequest",
        "documentation" : "",
        "simpleType" : "DescribeScalingPlanResourcesRequest",
        "variableSetterType" : "DescribeScalingPlanResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalingPlanResources",
      "operationName" : "DescribeScalingPlanResources",
      "returnType" : {
        "returnType" : "DescribeScalingPlanResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeScalingPlanResourcesResult"
    },
    "DescribeScalingPlans" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingPlansResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingPlansResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingPlansRequest, DescribeScalingPlansResult>",
      "asyncReturnType" : "DescribeScalingPlansResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes one or more of your scaling plans.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the parameters provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to a scaling plan that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeScalingPlansRequest",
        "variableName" : "describeScalingPlansRequest",
        "variableType" : "DescribeScalingPlansRequest",
        "documentation" : "",
        "simpleType" : "DescribeScalingPlansRequest",
        "variableSetterType" : "DescribeScalingPlansRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalingPlans",
      "operationName" : "DescribeScalingPlans",
      "returnType" : {
        "returnType" : "DescribeScalingPlansResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeScalingPlansResult"
    },
    "GetScalingPlanResourceForecastData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetScalingPlanResourceForecastDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetScalingPlanResourceForecastDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetScalingPlanResourceForecastDataRequest, GetScalingPlanResourceForecastDataResult>",
      "asyncReturnType" : "GetScalingPlanResourceForecastDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the forecast data for a scalable resource.</p> <p>Capacity forecasts are represented as predicted values, or data points, that are calculated using historical data points from a specified CloudWatch load metric. Data points are available for up to 56 days. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the parameters provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetScalingPlanResourceForecastDataRequest",
        "variableName" : "getScalingPlanResourceForecastDataRequest",
        "variableType" : "GetScalingPlanResourceForecastDataRequest",
        "documentation" : "",
        "simpleType" : "GetScalingPlanResourceForecastDataRequest",
        "variableSetterType" : "GetScalingPlanResourceForecastDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getScalingPlanResourceForecastData",
      "operationName" : "GetScalingPlanResourceForecastData",
      "returnType" : {
        "returnType" : "GetScalingPlanResourceForecastDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetScalingPlanResourceForecastDataResult"
    },
    "UpdateScalingPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateScalingPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateScalingPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateScalingPlanRequest, UpdateScalingPlanResult>",
      "asyncReturnType" : "UpdateScalingPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified scaling plan.</p> <p>You cannot update a scaling plan if it is in the process of being created, updated, or deleted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the parameters provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to a scaling plan that already has a pending update.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateScalingPlanRequest",
        "variableName" : "updateScalingPlanRequest",
        "variableType" : "UpdateScalingPlanRequest",
        "documentation" : "",
        "simpleType" : "UpdateScalingPlanRequest",
        "variableSetterType" : "UpdateScalingPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateScalingPlan",
      "operationName" : "UpdateScalingPlan",
      "returnType" : {
        "returnType" : "UpdateScalingPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateScalingPlanResult"
    }
  },
  "shapes" : {
    "ApplicationSource" : {
      "c2jName" : "ApplicationSource",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents an application source.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CloudFormationStackARN",
        "c2jShape" : "XmlString",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>\n@param cloudFormationStackARN The Amazon Resource Name (ARN) of a AWS CloudFormation stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCloudFormationStackARN",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>\n@return The Amazon Resource Name (ARN) of a AWS CloudFormation stack.*/",
        "getterMethodName" : "getCloudFormationStackARN",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CloudFormationStackARN",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CloudFormationStackARN",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CloudFormationStackARN",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>\n@param cloudFormationStackARN The Amazon Resource Name (ARN) of a AWS CloudFormation stack.*/",
        "setterMethodName" : "setCloudFormationStackARN",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cloudFormationStackARN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>\n@param cloudFormationStackARN The Amazon Resource Name (ARN) of a AWS CloudFormation stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cloudFormationStackARN",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TagFilters",
        "c2jShape" : "TagFilters",
        "deprecated" : false,
        "documentation" : "<p>A set of tags (up to 50).</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A set of tags (up to 50).</p>\n@param tagFilters A set of tags (up to 50).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTagFilters",
        "getterDocumentation" : "/**<p>A set of tags (up to 50).</p>\n@return A set of tags (up to 50).*/",
        "getterMethodName" : "getTagFilters",
        "getterModel" : {
          "returnType" : "java.util.List<TagFilter>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TagFilters",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TagFilters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "TagFilter",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "TagFilter",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "TagFilter",
              "variableName" : "member",
              "variableType" : "TagFilter",
              "documentation" : "",
              "simpleType" : "TagFilter",
              "variableSetterType" : "TagFilter"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "TagFilter",
              "variableName" : "member",
              "variableType" : "TagFilter",
              "documentation" : "",
              "simpleType" : "TagFilter",
              "variableSetterType" : "TagFilter"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "TagFilter",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "TagFilter",
          "templateImplType" : "java.util.ArrayList<TagFilter>",
          "templateType" : "java.util.List<TagFilter>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "TagFilters",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A set of tags (up to 50).</p>\n@param tagFilters A set of tags (up to 50).*/",
        "setterMethodName" : "setTagFilters",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<TagFilter>",
          "variableName" : "tagFilters",
          "variableType" : "java.util.List<TagFilter>",
          "documentation" : "",
          "simpleType" : "List<TagFilter>",
          "variableSetterType" : "java.util.Collection<TagFilter>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A set of tags (up to 50).</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagFilters(java.util.Collection)} or {@link #withTagFilters(java.util.Collection)} if you want to override the existing values.</p>\n@param tagFilters A set of tags (up to 50).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<TagFilter>",
          "variableName" : "tagFilters",
          "variableType" : "java.util.List<TagFilter>",
          "documentation" : "<p>A set of tags (up to 50).</p>",
          "simpleType" : "List<TagFilter>",
          "variableSetterType" : "java.util.Collection<TagFilter>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CloudFormationStackARN" : {
          "c2jName" : "CloudFormationStackARN",
          "c2jShape" : "XmlString",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>\n@param cloudFormationStackARN The Amazon Resource Name (ARN) of a AWS CloudFormation stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCloudFormationStackARN",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>\n@return The Amazon Resource Name (ARN) of a AWS CloudFormation stack.*/",
          "getterMethodName" : "getCloudFormationStackARN",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CloudFormationStackARN",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CloudFormationStackARN",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CloudFormationStackARN",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>\n@param cloudFormationStackARN The Amazon Resource Name (ARN) of a AWS CloudFormation stack.*/",
          "setterMethodName" : "setCloudFormationStackARN",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cloudFormationStackARN",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>\n@param cloudFormationStackARN The Amazon Resource Name (ARN) of a AWS CloudFormation stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cloudFormationStackARN",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TagFilters" : {
          "c2jName" : "TagFilters",
          "c2jShape" : "TagFilters",
          "deprecated" : false,
          "documentation" : "<p>A set of tags (up to 50).</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A set of tags (up to 50).</p>\n@param tagFilters A set of tags (up to 50).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTagFilters",
          "getterDocumentation" : "/**<p>A set of tags (up to 50).</p>\n@return A set of tags (up to 50).*/",
          "getterMethodName" : "getTagFilters",
          "getterModel" : {
            "returnType" : "java.util.List<TagFilter>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TagFilters",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TagFilters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "TagFilter",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "TagFilter",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "TagFilter",
                "variableName" : "member",
                "variableType" : "TagFilter",
                "documentation" : "",
                "simpleType" : "TagFilter",
                "variableSetterType" : "TagFilter"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "TagFilter",
                "variableName" : "member",
                "variableType" : "TagFilter",
                "documentation" : "",
                "simpleType" : "TagFilter",
                "variableSetterType" : "TagFilter"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "TagFilter",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "TagFilter",
            "templateImplType" : "java.util.ArrayList<TagFilter>",
            "templateType" : "java.util.List<TagFilter>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "TagFilters",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A set of tags (up to 50).</p>\n@param tagFilters A set of tags (up to 50).*/",
          "setterMethodName" : "setTagFilters",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<TagFilter>",
            "variableName" : "tagFilters",
            "variableType" : "java.util.List<TagFilter>",
            "documentation" : "",
            "simpleType" : "List<TagFilter>",
            "variableSetterType" : "java.util.Collection<TagFilter>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A set of tags (up to 50).</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagFilters(java.util.Collection)} or {@link #withTagFilters(java.util.Collection)} if you want to override the existing values.</p>\n@param tagFilters A set of tags (up to 50).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<TagFilter>",
            "variableName" : "tagFilters",
            "variableType" : "java.util.List<TagFilter>",
            "documentation" : "<p>A set of tags (up to 50).</p>",
            "simpleType" : "List<TagFilter>",
            "variableSetterType" : "java.util.Collection<TagFilter>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ApplicationSource",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplicationSource",
        "variableName" : "applicationSource",
        "variableType" : "ApplicationSource",
        "documentation" : null,
        "simpleType" : "ApplicationSource",
        "variableSetterType" : "ApplicationSource"
      },
      "wrapper" : false
    },
    "ConcurrentUpdateException" : {
      "c2jName" : "ConcurrentUpdateException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to a scaling plan that already has a pending update.</p>",
      "enums" : null,
      "errorCode" : "ConcurrentUpdateException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConcurrentUpdateException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConcurrentUpdateException",
        "variableName" : "concurrentUpdateException",
        "variableType" : "ConcurrentUpdateException",
        "documentation" : null,
        "simpleType" : "ConcurrentUpdateException",
        "variableSetterType" : "ConcurrentUpdateException"
      },
      "wrapper" : false
    },
    "CreateScalingPlanRequest" : {
      "c2jName" : "CreateScalingPlanRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateScalingPlan",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AnyScaleScalingPlannerFrontendService.CreateScalingPlan",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ScalingPlanName",
        "c2jShape" : "ScalingPlanName",
        "deprecated" : false,
        "documentation" : "<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.</p>\n@param scalingPlanName The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScalingPlanName",
        "getterDocumentation" : "/**<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.</p>\n@return The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.*/",
        "getterMethodName" : "getScalingPlanName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ScalingPlanName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalingPlanName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ScalingPlanName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.</p>\n@param scalingPlanName The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.*/",
        "setterMethodName" : "setScalingPlanName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "scalingPlanName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.</p>\n@param scalingPlanName The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "scalingPlanName",
          "variableType" : "String",
          "documentation" : "<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ApplicationSource",
        "c2jShape" : "ApplicationSource",
        "deprecated" : false,
        "documentation" : "<p>A CloudFormation stack or set of tags. You can create one scaling plan per application source.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A CloudFormation stack or set of tags. You can create one scaling plan per application source.</p>\n@param applicationSource A CloudFormation stack or set of tags. You can create one scaling plan per application source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationSource",
        "getterDocumentation" : "/**<p>A CloudFormation stack or set of tags. You can create one scaling plan per application source.</p>\n@return A CloudFormation stack or set of tags. You can create one scaling plan per application source.*/",
        "getterMethodName" : "getApplicationSource",
        "getterModel" : {
          "returnType" : "ApplicationSource",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApplicationSource",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationSource",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ApplicationSource",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A CloudFormation stack or set of tags. You can create one scaling plan per application source.</p>\n@param applicationSource A CloudFormation stack or set of tags. You can create one scaling plan per application source.*/",
        "setterMethodName" : "setApplicationSource",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ApplicationSource",
          "variableName" : "applicationSource",
          "variableType" : "ApplicationSource",
          "documentation" : "",
          "simpleType" : "ApplicationSource",
          "variableSetterType" : "ApplicationSource"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A CloudFormation stack or set of tags. You can create one scaling plan per application source.</p>\n@param applicationSource A CloudFormation stack or set of tags. You can create one scaling plan per application source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ApplicationSource",
          "variableName" : "applicationSource",
          "variableType" : "ApplicationSource",
          "documentation" : "<p>A CloudFormation stack or set of tags. You can create one scaling plan per application source.</p>",
          "simpleType" : "ApplicationSource",
          "variableSetterType" : "ApplicationSource"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ScalingInstructions",
        "c2jShape" : "ScalingInstructions",
        "deprecated" : false,
        "documentation" : "<p>The scaling instructions.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The scaling instructions.</p>\n@param scalingInstructions The scaling instructions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScalingInstructions",
        "getterDocumentation" : "/**<p>The scaling instructions.</p>\n@return The scaling instructions.*/",
        "getterMethodName" : "getScalingInstructions",
        "getterModel" : {
          "returnType" : "java.util.List<ScalingInstruction>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ScalingInstructions",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalingInstructions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ScalingInstruction",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "ScalingInstruction",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ScalingInstruction",
              "variableName" : "member",
              "variableType" : "ScalingInstruction",
              "documentation" : "",
              "simpleType" : "ScalingInstruction",
              "variableSetterType" : "ScalingInstruction"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ScalingInstruction",
              "variableName" : "member",
              "variableType" : "ScalingInstruction",
              "documentation" : "",
              "simpleType" : "ScalingInstruction",
              "variableSetterType" : "ScalingInstruction"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "ScalingInstruction",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "ScalingInstruction",
          "templateImplType" : "java.util.ArrayList<ScalingInstruction>",
          "templateType" : "java.util.List<ScalingInstruction>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ScalingInstructions",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The scaling instructions.</p>\n@param scalingInstructions The scaling instructions.*/",
        "setterMethodName" : "setScalingInstructions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ScalingInstruction>",
          "variableName" : "scalingInstructions",
          "variableType" : "java.util.List<ScalingInstruction>",
          "documentation" : "",
          "simpleType" : "List<ScalingInstruction>",
          "variableSetterType" : "java.util.Collection<ScalingInstruction>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The scaling instructions.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setScalingInstructions(java.util.Collection)} or {@link #withScalingInstructions(java.util.Collection)} if you want to override the existing values.</p>\n@param scalingInstructions The scaling instructions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ScalingInstruction>",
          "variableName" : "scalingInstructions",
          "variableType" : "java.util.List<ScalingInstruction>",
          "documentation" : "<p>The scaling instructions.</p>",
          "simpleType" : "List<ScalingInstruction>",
          "variableSetterType" : "java.util.Collection<ScalingInstruction>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationSource" : {
          "c2jName" : "ApplicationSource",
          "c2jShape" : "ApplicationSource",
          "deprecated" : false,
          "documentation" : "<p>A CloudFormation stack or set of tags. You can create one scaling plan per application source.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A CloudFormation stack or set of tags. You can create one scaling plan per application source.</p>\n@param applicationSource A CloudFormation stack or set of tags. You can create one scaling plan per application source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationSource",
          "getterDocumentation" : "/**<p>A CloudFormation stack or set of tags. You can create one scaling plan per application source.</p>\n@return A CloudFormation stack or set of tags. You can create one scaling plan per application source.*/",
          "getterMethodName" : "getApplicationSource",
          "getterModel" : {
            "returnType" : "ApplicationSource",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ApplicationSource",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ApplicationSource",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ApplicationSource",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A CloudFormation stack or set of tags. You can create one scaling plan per application source.</p>\n@param applicationSource A CloudFormation stack or set of tags. You can create one scaling plan per application source.*/",
          "setterMethodName" : "setApplicationSource",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ApplicationSource",
            "variableName" : "applicationSource",
            "variableType" : "ApplicationSource",
            "documentation" : "",
            "simpleType" : "ApplicationSource",
            "variableSetterType" : "ApplicationSource"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A CloudFormation stack or set of tags. You can create one scaling plan per application source.</p>\n@param applicationSource A CloudFormation stack or set of tags. You can create one scaling plan per application source.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ApplicationSource",
            "variableName" : "applicationSource",
            "variableType" : "ApplicationSource",
            "documentation" : "<p>A CloudFormation stack or set of tags. You can create one scaling plan per application source.</p>",
            "simpleType" : "ApplicationSource",
            "variableSetterType" : "ApplicationSource"
          },
          "xmlNameSpaceUri" : null
        },
        "ScalingInstructions" : {
          "c2jName" : "ScalingInstructions",
          "c2jShape" : "ScalingInstructions",
          "deprecated" : false,
          "documentation" : "<p>The scaling instructions.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The scaling instructions.</p>\n@param scalingInstructions The scaling instructions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScalingInstructions",
          "getterDocumentation" : "/**<p>The scaling instructions.</p>\n@return The scaling instructions.*/",
          "getterMethodName" : "getScalingInstructions",
          "getterModel" : {
            "returnType" : "java.util.List<ScalingInstruction>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ScalingInstructions",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ScalingInstructions",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ScalingInstruction",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "ScalingInstruction",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ScalingInstruction",
                "variableName" : "member",
                "variableType" : "ScalingInstruction",
                "documentation" : "",
                "simpleType" : "ScalingInstruction",
                "variableSetterType" : "ScalingInstruction"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ScalingInstruction",
                "variableName" : "member",
                "variableType" : "ScalingInstruction",
                "documentation" : "",
                "simpleType" : "ScalingInstruction",
                "variableSetterType" : "ScalingInstruction"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "ScalingInstruction",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "ScalingInstruction",
            "templateImplType" : "java.util.ArrayList<ScalingInstruction>",
            "templateType" : "java.util.List<ScalingInstruction>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ScalingInstructions",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The scaling instructions.</p>\n@param scalingInstructions The scaling instructions.*/",
          "setterMethodName" : "setScalingInstructions",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<ScalingInstruction>",
            "variableName" : "scalingInstructions",
            "variableType" : "java.util.List<ScalingInstruction>",
            "documentation" : "",
            "simpleType" : "List<ScalingInstruction>",
            "variableSetterType" : "java.util.Collection<ScalingInstruction>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The scaling instructions.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setScalingInstructions(java.util.Collection)} or {@link #withScalingInstructions(java.util.Collection)} if you want to override the existing values.</p>\n@param scalingInstructions The scaling instructions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<ScalingInstruction>",
            "variableName" : "scalingInstructions",
            "variableType" : "java.util.List<ScalingInstruction>",
            "documentation" : "<p>The scaling instructions.</p>",
            "simpleType" : "List<ScalingInstruction>",
            "variableSetterType" : "java.util.Collection<ScalingInstruction>"
          },
          "xmlNameSpaceUri" : null
        },
        "ScalingPlanName" : {
          "c2jName" : "ScalingPlanName",
          "c2jShape" : "ScalingPlanName",
          "deprecated" : false,
          "documentation" : "<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.</p>\n@param scalingPlanName The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScalingPlanName",
          "getterDocumentation" : "/**<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.</p>\n@return The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.*/",
          "getterMethodName" : "getScalingPlanName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ScalingPlanName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ScalingPlanName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ScalingPlanName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.</p>\n@param scalingPlanName The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.*/",
          "setterMethodName" : "setScalingPlanName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "scalingPlanName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.</p>\n@param scalingPlanName The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "scalingPlanName",
            "variableType" : "String",
            "documentation" : "<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ScalingPlanName", "ApplicationSource", "ScalingInstructions" ],
      "shapeName" : "CreateScalingPlanRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateScalingPlanRequest",
        "variableName" : "createScalingPlanRequest",
        "variableType" : "CreateScalingPlanRequest",
        "documentation" : null,
        "simpleType" : "CreateScalingPlanRequest",
        "variableSetterType" : "CreateScalingPlanRequest"
      },
      "wrapper" : false
    },
    "CreateScalingPlanResult" : {
      "c2jName" : "CreateScalingPlanResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ScalingPlanVersion",
        "c2jShape" : "ScalingPlanVersion",
        "deprecated" : false,
        "documentation" : "<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>\n@param scalingPlanVersion The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScalingPlanVersion",
        "getterDocumentation" : "/**<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>\n@return The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.*/",
        "getterMethodName" : "getScalingPlanVersion",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ScalingPlanVersion",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalingPlanVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ScalingPlanVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>\n@param scalingPlanVersion The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.*/",
        "setterMethodName" : "setScalingPlanVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "scalingPlanVersion",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>\n@param scalingPlanVersion The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "scalingPlanVersion",
          "variableType" : "Long",
          "documentation" : "<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ScalingPlanVersion" : {
          "c2jName" : "ScalingPlanVersion",
          "c2jShape" : "ScalingPlanVersion",
          "deprecated" : false,
          "documentation" : "<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>\n@param scalingPlanVersion The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScalingPlanVersion",
          "getterDocumentation" : "/**<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>\n@return The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.*/",
          "getterMethodName" : "getScalingPlanVersion",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ScalingPlanVersion",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ScalingPlanVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "ScalingPlanVersion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>\n@param scalingPlanVersion The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.*/",
          "setterMethodName" : "setScalingPlanVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "scalingPlanVersion",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>\n@param scalingPlanVersion The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "scalingPlanVersion",
            "variableType" : "Long",
            "documentation" : "<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ScalingPlanVersion" ],
      "shapeName" : "CreateScalingPlanResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateScalingPlanResult",
        "variableName" : "createScalingPlanResult",
        "variableType" : "CreateScalingPlanResult",
        "documentation" : null,
        "simpleType" : "CreateScalingPlanResult",
        "variableSetterType" : "CreateScalingPlanResult"
      },
      "wrapper" : false
    },
    "CustomizedLoadMetricSpecification" : {
      "c2jName" : "CustomizedLoadMetricSpecification",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents a CloudWatch metric of your choosing that can be used for predictive scaling. </p> <p>For predictive scaling to work with a customized load metric specification, AWS Auto Scaling needs access to the <code>Sum</code> and <code>Average</code> statistics that CloudWatch computes from metric data. Statistics are calculations used to aggregate data over specified time periods.</p> <p>When you choose a load metric, make sure that the required <code>Sum</code> and <code>Average</code> statistics for your metric are available in CloudWatch and that they provide relevant data for predictive scaling. The <code>Sum</code> statistic must represent the total load on the resource, and the <code>Average</code> statistic must represent the average load per capacity unit of the resource. For example, there is a metric that counts the number of requests processed by your Auto Scaling group. If the <code>Sum</code> statistic represents the total request count processed by the group, then the <code>Average</code> statistic for the specified metric must represent the average request count processed by each instance of the group.</p> <p>For information about terminology, available metrics, or how to publish new metrics, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html\">Amazon CloudWatch Concepts</a> in the <i>Amazon CloudWatch User Guide</i>. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "MetricName",
        "c2jShape" : "MetricName",
        "deprecated" : false,
        "documentation" : "<p>The name of the metric.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the metric.</p>\n@param metricName The name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMetricName",
        "getterDocumentation" : "/**<p>The name of the metric.</p>\n@return The name of the metric.*/",
        "getterMethodName" : "getMetricName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MetricName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MetricName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MetricName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the metric.</p>\n@param metricName The name of the metric.*/",
        "setterMethodName" : "setMetricName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "metricName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the metric.</p>\n@param metricName The name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "metricName",
          "variableType" : "String",
          "documentation" : "<p>The name of the metric.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Namespace",
        "c2jShape" : "MetricNamespace",
        "deprecated" : false,
        "documentation" : "<p>The namespace of the metric.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The namespace of the metric.</p>\n@param namespace The namespace of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNamespace",
        "getterDocumentation" : "/**<p>The namespace of the metric.</p>\n@return The namespace of the metric.*/",
        "getterMethodName" : "getNamespace",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Namespace",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Namespace",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Namespace",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The namespace of the metric.</p>\n@param namespace The namespace of the metric.*/",
        "setterMethodName" : "setNamespace",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "namespace",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The namespace of the metric.</p>\n@param namespace The namespace of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "namespace",
          "variableType" : "String",
          "documentation" : "<p>The namespace of the metric.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Dimensions",
        "c2jShape" : "MetricDimensions",
        "deprecated" : false,
        "documentation" : "<p>The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized load metric specification.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized load metric specification.</p>\n@param dimensions The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized load metric specification.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDimensions",
        "getterDocumentation" : "/**<p>The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized load metric specification.</p>\n@return The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized load metric specification.*/",
        "getterMethodName" : "getDimensions",
        "getterModel" : {
          "returnType" : "java.util.List<MetricDimension>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Dimensions",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Dimensions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "MetricDimension",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "MetricDimension",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "MetricDimension",
              "variableName" : "member",
              "variableType" : "MetricDimension",
              "documentation" : "",
              "simpleType" : "MetricDimension",
              "variableSetterType" : "MetricDimension"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "MetricDimension",
              "variableName" : "member",
              "variableType" : "MetricDimension",
              "documentation" : "",
              "simpleType" : "MetricDimension",
              "variableSetterType" : "MetricDimension"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "MetricDimension",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "MetricDimension",
          "templateImplType" : "java.util.ArrayList<MetricDimension>",
          "templateType" : "java.util.List<MetricDimension>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Dimensions",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized load metric specification.</p>\n@param dimensions The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized load metric specification.*/",
        "setterMethodName" : "setDimensions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<MetricDimension>",
          "variableName" : "dimensions",
          "variableType" : "java.util.List<MetricDimension>",
          "documentation" : "",
          "simpleType" : "List<MetricDimension>",
          "variableSetterType" : "java.util.Collection<MetricDimension>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized load metric specification.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setDimensions(java.util.Collection)} or {@link #withDimensions(java.util.Collection)} if you want to override the existing values.</p>\n@param dimensions The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized load metric specification.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<MetricDimension>",
          "variableName" : "dimensions",
          "variableType" : "java.util.List<MetricDimension>",
          "documentation" : "<p>The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized load metric specification.</p>",
          "simpleType" : "List<MetricDimension>",
          "variableSetterType" : "java.util.Collection<MetricDimension>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Statistic",
        "c2jShape" : "MetricStatistic",
        "deprecated" : false,
        "documentation" : "<p>The statistic of the metric. Currently, the value must always be <code>Sum</code>. </p>",
        "enumType" : "MetricStatistic",
        "fluentSetterDocumentation" : "/**<p>The statistic of the metric. Currently, the value must always be <code>Sum</code>. </p>\n@param statistic The statistic of the metric. Currently, the value must always be <code>Sum</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricStatistic*/",
        "fluentSetterMethodName" : "withStatistic",
        "getterDocumentation" : "/**<p>The statistic of the metric. Currently, the value must always be <code>Sum</code>. </p>\n@return The statistic of the metric. Currently, the value must always be <code>Sum</code>.\n@see MetricStatistic*/",
        "getterMethodName" : "getStatistic",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Statistic",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Statistic",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Statistic",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The statistic of the metric. Currently, the value must always be <code>Sum</code>. </p>\n@param statistic The statistic of the metric. Currently, the value must always be <code>Sum</code>.\n@see MetricStatistic*/",
        "setterMethodName" : "setStatistic",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statistic",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The statistic of the metric. Currently, the value must always be <code>Sum</code>. </p>\n@param statistic The statistic of the metric. Currently, the value must always be <code>Sum</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MetricStatistic*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statistic",
          "variableType" : "String",
          "documentation" : "<p>The statistic of the metric. Currently, the value must always be <code>Sum</code>. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Unit",
        "c2jShape" : "MetricUnit",
        "deprecated" : false,
        "documentation" : "<p>The unit of the metric.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unit of the metric.</p>\n@param unit The unit of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUnit",
        "getterDocumentation" : "/**<p>The unit of the metric.</p>\n@return The unit of the metric.*/",
[...]
