{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-06-24",
    "asyncClient" : "AWSAppRegistryAsyncClient",
    "asyncClientBuilderClassName" : "AWSAppRegistryAsyncClientBuilder",
    "asyncInterface" : "AWSAppRegistryAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSAppRegistryModuleInjector",
    "defaultEndpoint" : "servicecatalog-appregistry.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "servicecatalog-appregistry.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> Amazon Web Services Service Catalog AppRegistry enables organizations to understand the application context of their Amazon Web Services resources. AppRegistry provides a repository of your applications, their resources, and the application metadata that you use within your enterprise.</p>",
    "endpointPrefix" : "servicecatalog-appregistry",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.appregistry",
    "packagePath" : "com/amazonaws/services/appregistry",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AppRegistry",
    "serviceFullName" : "AWS Service Catalog App Registry",
    "serviceId" : "Service Catalog AppRegistry",
    "serviceName" : "AppRegistry",
    "signingName" : "servicecatalog",
    "smokeTestsPackageName" : "com.amazonaws.services.appregistry.smoketests",
    "syncClient" : "AWSAppRegistryClient",
    "syncClientBuilderClassName" : "AWSAppRegistryClientBuilder",
    "syncInterface" : "AWSAppRegistry",
    "uid" : "AWS242AppRegistry-2020-06-24",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateAttributeGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateAttributeGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateAttributeGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateAttributeGroupRequest, AssociateAttributeGroupResult>",
      "asyncReturnType" : "AssociateAttributeGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates an attribute group with an application to augment the application's metadata with the group's attributes. This feature enables applications to be described with user-defined details that are machine-readable, such as third-party integrations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The maximum number of resources per account has been reached.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict when processing the request (for example, a resource with the given name already exists within the account).</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateAttributeGroupRequest",
        "variableName" : "associateAttributeGroupRequest",
        "variableType" : "AssociateAttributeGroupRequest",
        "documentation" : "",
        "simpleType" : "AssociateAttributeGroupRequest",
        "variableSetterType" : "AssociateAttributeGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateAttributeGroup",
      "operationName" : "AssociateAttributeGroup",
      "returnType" : {
        "returnType" : "AssociateAttributeGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateAttributeGroupResult"
    },
    "AssociateResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResourceRequest, AssociateResourceResult>",
      "asyncReturnType" : "AssociateResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Associates a resource with an application. The resource can be specified by its ARN or name. The application can be specified by ARN, ID, or name. </p> <p> <b>Minimum permissions</b> </p> <p> You must have the following permissions to associate a resource using the <code>OPTIONS</code> parameter set to <code>APPLY_APPLICATION_TAG</code>. </p> <ul> <li> <p> <code>tag:GetResources</code> </p> </li> <li> <p> <code>tag:TagResources</code> </p> </li> </ul> <p> You must also have these additional permissions if you don't use the <code>AWSServiceCatalogAppRegistryFullAccess</code> policy. For more information, see <a href=\"https://docs.aws.amazon.com/servicecatalog/latest/arguide/full.html\">AWSServiceCatalogAppRegistryFullAccess</a> in the AppRegistry Administrator Guide. </p> <ul> <li> <p> <code>resource-groups:AssociateResource</code> </p> </li> <li> <p> <code>cloudformation:UpdateStack</code> </p> </li> <li> <p> <code>cloudformation:DescribeStacks</code> </p> </li> </ul> <note> <p> In addition, you must have the tagging permission defined by the Amazon Web Services service that creates the resource. For more information, see <a href=\"https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/API_TagResources.html\">TagResources</a> in the <i>Resource Groups Tagging API Reference</i>. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The maximum number of resources per account has been reached.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict when processing the request (for example, a resource with the given name already exists within the account).</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The maximum number of API requests has been exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResourceRequest",
        "variableName" : "associateResourceRequest",
        "variableType" : "AssociateResourceRequest",
        "documentation" : "",
        "simpleType" : "AssociateResourceRequest",
        "variableSetterType" : "AssociateResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResource",
      "operationName" : "AssociateResource",
      "returnType" : {
        "returnType" : "AssociateResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResourceResult"
    },
    "CreateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "asyncReturnType" : "CreateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new application that is the top-level node in a hierarchy of related cloud resource abstractions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The maximum number of resources per account has been reached.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict when processing the request (for example, a resource with the given name already exists within the account).</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The maximum number of API requests has been exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateApplicationRequest",
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "documentation" : "",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplication",
      "operationName" : "CreateApplication",
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateApplicationResult"
    },
    "CreateAttributeGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAttributeGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAttributeGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAttributeGroupRequest, CreateAttributeGroupResult>",
      "asyncReturnType" : "CreateAttributeGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new attribute group as a container for user-defined attributes. This feature enables users to have full control over their cloud application's metadata in a rich machine-readable format to facilitate integration with automated workflows and third-party tools.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The maximum number of resources per account has been reached.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict when processing the request (for example, a resource with the given name already exists within the account).</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAttributeGroupRequest",
        "variableName" : "createAttributeGroupRequest",
        "variableType" : "CreateAttributeGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateAttributeGroupRequest",
        "variableSetterType" : "CreateAttributeGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAttributeGroup",
      "operationName" : "CreateAttributeGroup",
      "returnType" : {
        "returnType" : "CreateAttributeGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAttributeGroupResult"
    },
    "DeleteApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "asyncReturnType" : "DeleteApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an application that is specified either by its application ID, name, or ARN. All associated attribute groups and resources must be disassociated from it before deleting an application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationRequest",
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplication",
      "operationName" : "DeleteApplication",
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationResult"
    },
    "DeleteAttributeGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAttributeGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAttributeGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAttributeGroupRequest, DeleteAttributeGroupResult>",
      "asyncReturnType" : "DeleteAttributeGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an attribute group, specified either by its attribute group ID, name, or ARN.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAttributeGroupRequest",
        "variableName" : "deleteAttributeGroupRequest",
        "variableType" : "DeleteAttributeGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteAttributeGroupRequest",
        "variableSetterType" : "DeleteAttributeGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAttributeGroup",
      "operationName" : "DeleteAttributeGroup",
      "returnType" : {
        "returnType" : "DeleteAttributeGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAttributeGroupResult"
    },
    "DisassociateAttributeGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateAttributeGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateAttributeGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateAttributeGroupRequest, DisassociateAttributeGroupResult>",
      "asyncReturnType" : "DisassociateAttributeGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates an attribute group from an application to remove the extra attributes contained in the attribute group from the application's metadata. This operation reverts <code>AssociateAttributeGroup</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateAttributeGroupRequest",
        "variableName" : "disassociateAttributeGroupRequest",
        "variableType" : "DisassociateAttributeGroupRequest",
        "documentation" : "",
        "simpleType" : "DisassociateAttributeGroupRequest",
        "variableSetterType" : "DisassociateAttributeGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateAttributeGroup",
      "operationName" : "DisassociateAttributeGroup",
      "returnType" : {
        "returnType" : "DisassociateAttributeGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateAttributeGroupResult"
    },
    "DisassociateResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResourceRequest, DisassociateResourceResult>",
      "asyncReturnType" : "DisassociateResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Disassociates a resource from application. Both the resource and the application can be specified either by ID or name. </p> <p> <b>Minimum permissions</b> </p> <p> You must have the following permissions to remove a resource that's been associated with an application using the <code>APPLY_APPLICATION_TAG</code> option for <a href=\"https://docs.aws.amazon.com/servicecatalog/latest/dg/API_app-registry_AssociateResource.html\">AssociateResource</a>. </p> <ul> <li> <p> <code>tag:GetResources</code> </p> </li> <li> <p> <code>tag:UntagResources</code> </p> </li> </ul> <p> You must also have the following permissions if you don't use the <code>AWSServiceCatalogAppRegistryFullAccess</code> policy. For more information, see <a href=\"https://docs.aws.amazon.com/servicecatalog/latest/arguide/full.html\">AWSServiceCatalogAppRegistryFullAccess</a> in the AppRegistry Administrator Guide. </p> <ul> <li> <p> <code>resource-groups:DisassociateResource</code> </p> </li> <li> <p> <code>cloudformation:UpdateStack</code> </p> </li> <li> <p> <code>cloudformation:DescribeStacks</code> </p> </li> </ul> <note> <p> In addition, you must have the tagging permission defined by the Amazon Web Services service that creates the resource. For more information, see <a href=\"https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/API_UntTagResources.html\">UntagResources</a> in the <i>Resource Groups Tagging API Reference</i>. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The maximum number of API requests has been exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResourceRequest",
        "variableName" : "disassociateResourceRequest",
        "variableType" : "DisassociateResourceRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResourceRequest",
        "variableSetterType" : "DisassociateResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResource",
      "operationName" : "DisassociateResource",
      "returnType" : {
        "returnType" : "DisassociateResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResourceResult"
    },
    "GetApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationRequest, GetApplicationResult>",
      "asyncReturnType" : "GetApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves metadata information about one of your applications. The application can be specified by its ARN, ID, or name (which is unique within one account in one region at a given point in time). Specify by ARN or ID in automated workflows if you want to make sure that the exact same application is returned or a <code>ResourceNotFoundException</code> is thrown, avoiding the ABA addressing problem. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict when processing the request (for example, a resource with the given name already exists within the account).</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetApplicationRequest",
        "variableName" : "getApplicationRequest",
        "variableType" : "GetApplicationRequest",
        "documentation" : "",
        "simpleType" : "GetApplicationRequest",
        "variableSetterType" : "GetApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApplication",
      "operationName" : "GetApplication",
      "returnType" : {
        "returnType" : "GetApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetApplicationResult"
    },
    "GetAssociatedResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssociatedResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssociatedResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssociatedResourceRequest, GetAssociatedResourceResult>",
      "asyncReturnType" : "GetAssociatedResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the resource associated with the application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssociatedResourceRequest",
        "variableName" : "getAssociatedResourceRequest",
        "variableType" : "GetAssociatedResourceRequest",
        "documentation" : "",
        "simpleType" : "GetAssociatedResourceRequest",
        "variableSetterType" : "GetAssociatedResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssociatedResource",
      "operationName" : "GetAssociatedResource",
      "returnType" : {
        "returnType" : "GetAssociatedResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssociatedResourceResult"
    },
    "GetAttributeGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAttributeGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAttributeGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAttributeGroupRequest, GetAttributeGroupResult>",
      "asyncReturnType" : "GetAttributeGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves an attribute group by its ARN, ID, or name. The attribute group can be specified by its ARN, ID, or name. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict when processing the request (for example, a resource with the given name already exists within the account).</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAttributeGroupRequest",
        "variableName" : "getAttributeGroupRequest",
        "variableType" : "GetAttributeGroupRequest",
        "documentation" : "",
        "simpleType" : "GetAttributeGroupRequest",
        "variableSetterType" : "GetAttributeGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAttributeGroup",
      "operationName" : "GetAttributeGroup",
      "returnType" : {
        "returnType" : "GetAttributeGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAttributeGroupResult"
    },
    "GetConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfigurationRequest, GetConfigurationResult>",
      "asyncReturnType" : "GetConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves a <code>TagKey</code> configuration from an account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConfigurationRequest",
        "variableName" : "getConfigurationRequest",
        "variableType" : "GetConfigurationRequest",
        "documentation" : null,
        "simpleType" : "GetConfigurationRequest",
        "variableSetterType" : "GetConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfiguration",
      "operationName" : "GetConfiguration",
      "returnType" : {
        "returnType" : "GetConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConfigurationResult"
    },
    "ListApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "asyncReturnType" : "ListApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of all of your applications. Results are paginated.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationsRequest",
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplications",
      "operationName" : "ListApplications",
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationsResult"
    },
    "ListAssociatedAttributeGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociatedAttributeGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociatedAttributeGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociatedAttributeGroupsRequest, ListAssociatedAttributeGroupsResult>",
      "asyncReturnType" : "ListAssociatedAttributeGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all attribute groups that are associated with specified application. Results are paginated.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssociatedAttributeGroupsRequest",
        "variableName" : "listAssociatedAttributeGroupsRequest",
        "variableType" : "ListAssociatedAttributeGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListAssociatedAttributeGroupsRequest",
        "variableSetterType" : "ListAssociatedAttributeGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociatedAttributeGroups",
      "operationName" : "ListAssociatedAttributeGroups",
      "returnType" : {
        "returnType" : "ListAssociatedAttributeGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssociatedAttributeGroupsResult"
    },
    "ListAssociatedResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociatedResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociatedResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociatedResourcesRequest, ListAssociatedResourcesResult>",
      "asyncReturnType" : "ListAssociatedResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists all of the resources that are associated with the specified application. Results are paginated. </p> <note> <p> If you share an application, and a consumer account associates a tag query to the application, all of the users who can access the application can also view the tag values in all accounts that are associated with it using this API. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssociatedResourcesRequest",
        "variableName" : "listAssociatedResourcesRequest",
        "variableType" : "ListAssociatedResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListAssociatedResourcesRequest",
        "variableSetterType" : "ListAssociatedResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociatedResources",
      "operationName" : "ListAssociatedResources",
      "returnType" : {
        "returnType" : "ListAssociatedResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssociatedResourcesResult"
    },
    "ListAttributeGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAttributeGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAttributeGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAttributeGroupsRequest, ListAttributeGroupsResult>",
      "asyncReturnType" : "ListAttributeGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all attribute groups which you have access to. Results are paginated.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAttributeGroupsRequest",
        "variableName" : "listAttributeGroupsRequest",
        "variableType" : "ListAttributeGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListAttributeGroupsRequest",
        "variableSetterType" : "ListAttributeGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAttributeGroups",
      "operationName" : "ListAttributeGroups",
      "returnType" : {
        "returnType" : "ListAttributeGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAttributeGroupsResult"
    },
    "ListAttributeGroupsForApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAttributeGroupsForApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAttributeGroupsForApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAttributeGroupsForApplicationRequest, ListAttributeGroupsForApplicationResult>",
      "asyncReturnType" : "ListAttributeGroupsForApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the details of all attribute groups associated with a specific application. The results display in pages.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAttributeGroupsForApplicationRequest",
        "variableName" : "listAttributeGroupsForApplicationRequest",
        "variableType" : "ListAttributeGroupsForApplicationRequest",
        "documentation" : "",
        "simpleType" : "ListAttributeGroupsForApplicationRequest",
        "variableSetterType" : "ListAttributeGroupsForApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAttributeGroupsForApplication",
      "operationName" : "ListAttributeGroupsForApplication",
      "returnType" : {
        "returnType" : "ListAttributeGroupsForApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAttributeGroupsForApplicationResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the tags on the resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutConfigurationRequest, PutConfigurationResult>",
      "asyncReturnType" : "PutConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Associates a <code>TagKey</code> configuration to an account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict when processing the request (for example, a resource with the given name already exists within the account).</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutConfigurationRequest",
        "variableName" : "putConfigurationRequest",
        "variableType" : "PutConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutConfigurationRequest",
        "variableSetterType" : "PutConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putConfiguration",
      "operationName" : "PutConfiguration",
      "returnType" : {
        "returnType" : "PutConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutConfigurationResult"
    },
    "SyncResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SyncResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SyncResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SyncResourceRequest, SyncResourceResult>",
      "asyncReturnType" : "SyncResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Syncs the resource with current AppRegistry records.</p> <p>Specifically, the resource’s AppRegistry system tags sync with its associated application. We remove the resource's AppRegistry system tags if it does not associate with the application. The caller must have permissions to read and update the resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict when processing the request (for example, a resource with the given name already exists within the account).</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The maximum number of API requests has been exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SyncResourceRequest",
        "variableName" : "syncResourceRequest",
        "variableType" : "SyncResourceRequest",
        "documentation" : "",
        "simpleType" : "SyncResourceRequest",
        "variableSetterType" : "SyncResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "syncResource",
      "operationName" : "SyncResource",
      "returnType" : {
        "returnType" : "SyncResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "SyncResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns one or more tags (key-value pairs) to the specified resource.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the resource, this action updates its value.</p> <p>This operation returns an empty response if the call was successful.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from a resource.</p> <p>This operation returns an empty response if the call was successful.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "asyncReturnType" : "UpdateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing application with new attributes.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict when processing the request (for example, a resource with the given name already exists within the account).</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The maximum number of API requests has been exceeded. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateApplicationRequest",
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplication",
      "operationName" : "UpdateApplication",
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationResult"
    },
    "UpdateAttributeGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAttributeGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAttributeGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAttributeGroupRequest, UpdateAttributeGroupResult>",
      "asyncReturnType" : "UpdateAttributeGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing attribute group with new details. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request has invalid or missing parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict when processing the request (for example, a resource with the given name already exists within the account).</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service is experiencing internal problems.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAttributeGroupRequest",
        "variableName" : "updateAttributeGroupRequest",
        "variableType" : "UpdateAttributeGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateAttributeGroupRequest",
        "variableSetterType" : "UpdateAttributeGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAttributeGroup",
      "operationName" : "UpdateAttributeGroup",
      "returnType" : {
        "returnType" : "UpdateAttributeGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAttributeGroupResult"
    }
  },
  "shapes" : {
    "AppRegistryConfiguration" : {
      "c2jName" : "AppRegistryConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Includes all of the AppRegistry settings. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appregistry.model.AppRegistryConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "tagQueryConfiguration",
        "c2jShape" : "TagQueryConfiguration",
        "deprecated" : false,
        "documentation" : "<p> Includes the definition of a <code>tagQuery</code>. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Includes the definition of a <code>tagQuery</code>. </p>\n@param tagQueryConfiguration Includes the definition of a <code>tagQuery</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTagQueryConfiguration",
        "getterDocumentation" : "/**<p> Includes the definition of a <code>tagQuery</code>. </p>\n@return Includes the definition of a <code>tagQuery</code>.*/",
        "getterMethodName" : "getTagQueryConfiguration",
        "getterModel" : {
          "returnType" : "TagQueryConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tagQueryConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tagQueryConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TagQueryConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Includes the definition of a <code>tagQuery</code>. </p>\n@param tagQueryConfiguration Includes the definition of a <code>tagQuery</code>.*/",
        "setterMethodName" : "setTagQueryConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TagQueryConfiguration",
          "variableName" : "tagQueryConfiguration",
          "variableType" : "TagQueryConfiguration",
          "documentation" : "",
          "simpleType" : "TagQueryConfiguration",
          "variableSetterType" : "TagQueryConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Includes the definition of a <code>tagQuery</code>. </p>\n@param tagQueryConfiguration Includes the definition of a <code>tagQuery</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TagQueryConfiguration",
          "variableName" : "tagQueryConfiguration",
          "variableType" : "TagQueryConfiguration",
          "documentation" : "<p> Includes the definition of a <code>tagQuery</code>. </p>",
          "simpleType" : "TagQueryConfiguration",
          "variableSetterType" : "TagQueryConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TagQueryConfiguration" : {
          "c2jName" : "tagQueryConfiguration",
          "c2jShape" : "TagQueryConfiguration",
          "deprecated" : false,
          "documentation" : "<p> Includes the definition of a <code>tagQuery</code>. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Includes the definition of a <code>tagQuery</code>. </p>\n@param tagQueryConfiguration Includes the definition of a <code>tagQuery</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTagQueryConfiguration",
          "getterDocumentation" : "/**<p> Includes the definition of a <code>tagQuery</code>. </p>\n@return Includes the definition of a <code>tagQuery</code>.*/",
          "getterMethodName" : "getTagQueryConfiguration",
          "getterModel" : {
            "returnType" : "TagQueryConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "tagQueryConfiguration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "tagQueryConfiguration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "TagQueryConfiguration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> Includes the definition of a <code>tagQuery</code>. </p>\n@param tagQueryConfiguration Includes the definition of a <code>tagQuery</code>.*/",
          "setterMethodName" : "setTagQueryConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "TagQueryConfiguration",
            "variableName" : "tagQueryConfiguration",
            "variableType" : "TagQueryConfiguration",
            "documentation" : "",
            "simpleType" : "TagQueryConfiguration",
            "variableSetterType" : "TagQueryConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> Includes the definition of a <code>tagQuery</code>. </p>\n@param tagQueryConfiguration Includes the definition of a <code>tagQuery</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "TagQueryConfiguration",
            "variableName" : "tagQueryConfiguration",
            "variableType" : "TagQueryConfiguration",
            "documentation" : "<p> Includes the definition of a <code>tagQuery</code>. </p>",
            "simpleType" : "TagQueryConfiguration",
            "variableSetterType" : "TagQueryConfiguration"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.appregistry.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AppRegistryConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AppRegistryConfiguration",
        "variableName" : "appRegistryConfiguration",
        "variableType" : "AppRegistryConfiguration",
        "documentation" : null,
        "simpleType" : "AppRegistryConfiguration",
        "variableSetterType" : "AppRegistryConfiguration"
      },
      "wrapper" : false
    },
    "Application" : {
      "c2jName" : "Application",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents a Amazon Web Services Service Catalog AppRegistry application that is the top-level node in a hierarchy of related cloud resource abstractions.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.appregistry.model.Application",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "id",
        "c2jShape" : "ApplicationId",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the application.</p>\n@param id The identifier of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The identifier of the application.</p>\n@return The identifier of the application.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier of the application.</p>\n@param id The identifier of the application.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier of the application.</p>\n@param id The identifier of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The identifier of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "arn",
        "c2jShape" : "ApplicationArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon resource name (ARN) that specifies the application across services.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon resource name (ARN) that specifies the application across services.</p>\n@param arn The Amazon resource name (ARN) that specifies the application across services.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The Amazon resource name (ARN) that specifies the application across services.</p>\n@return The Amazon resource name (ARN) that specifies the application across services.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon resource name (ARN) that specifies the application across services.</p>\n@param arn The Amazon resource name (ARN) that specifies the application across services.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon resource name (ARN) that specifies the application across services.</p>\n@param arn The Amazon resource name (ARN) that specifies the application across services.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon resource name (ARN) that specifies the application across services.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "<p>The name of the application. The name must be unique in the region in which you are creating the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the application. The name must be unique in the region in which you are creating the application.</p>\n@param name The name of the application. The name must be unique in the region in which you are creating the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the application. The name must be unique in the region in which you are creating the application.</p>\n@return The name of the application. The name must be unique in the region in which you are creating the application.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the application. The name must be unique in the region in which you are creating the application.</p>\n@param name The name of the application. The name must be unique in the region in which you are creating the application.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the application. The name must be unique in the region in which you are creating the application.</p>\n@param name The name of the application. The name must be unique in the region in which you are creating the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the application. The name must be unique in the region in which you are creating the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "Description",
        "deprecated" : false,
        "documentation" : "<p>The description of the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description of the application.</p>\n@param description The description of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The description of the application.</p>\n@return The description of the application.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The description of the application.</p>\n@param description The description of the application.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The description of the application.</p>\n@param description The description of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The description of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "creationTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The ISO-8601 formatted timestamp of the moment when the application was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ISO-8601 formatted timestamp of the moment when the application was created.</p>\n@param creationTime The ISO-8601 formatted timestamp of the moment when the application was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreationTime",
        "getterDocumentation" : "/**<p>The ISO-8601 formatted timestamp of the moment when the application was created.</p>\n@return The ISO-8601 formatted timestamp of the moment when the application was created.*/",
        "getterMethodName" : "getCreationTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "creationTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "creationTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreationTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ISO-8601 formatted timestamp of the moment when the application was created.</p>\n@param creationTime The ISO-8601 formatted timestamp of the moment when the application was created.*/",
        "setterMethodName" : "setCreationTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ISO-8601 formatted timestamp of the moment when the application was created.</p>\n@param creationTime The ISO-8601 formatted timestamp of the moment when the application was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The ISO-8601 formatted timestamp of the moment when the application was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "lastUpdateTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p> The ISO-8601 formatted timestamp of the moment when the application was last updated.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The ISO-8601 formatted timestamp of the moment when the application was last updated.</p>\n@param lastUpdateTime The ISO-8601 formatted timestamp of the moment when the application was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastUpdateTime",
        "getterDocumentation" : "/**<p> The ISO-8601 formatted timestamp of the moment when the application was last updated.</p>\n@return The ISO-8601 formatted timestamp of the moment when the application was last updated.*/",
        "getterMethodName" : "getLastUpdateTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lastUpdateTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "lastUpdateTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastUpdateTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The ISO-8601 formatted timestamp of the moment when the application was last updated.</p>\n@param lastUpdateTime The ISO-8601 formatted timestamp of the moment when the application was last updated.*/",
        "setterMethodName" : "setLastUpdateTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdateTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The ISO-8601 formatted timestamp of the moment when the application was last updated.</p>\n@param lastUpdateTime The ISO-8601 formatted timestamp of the moment when the application was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdateTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p> The ISO-8601 formatted timestamp of the moment when the application was last updated.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "Tags",
        "deprecated" : false,
        "documentation" : "<p>Key-value pairs you can use to associate with the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Key-value pairs you can use to associate with the application.</p>\n@param tags Key-value pairs you can use to associate with the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>Key-value pairs you can use to associate with the application.</p>\n@return Key-value pairs you can use to associate with the application.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Key-value pairs you can use to associate with the application.</p>\n@param tags Key-value pairs you can use to associate with the application.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Key-value pairs you can use to associate with the application.</p>\n@param tags Key-value pairs you can use to associate with the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>Key-value pairs you can use to associate with the application.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "applicationTag",
        "c2jShape" : "ApplicationTagDefinition",
        "deprecated" : false,
        "documentation" : "<p> A key-value pair that identifies an associated resource. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> A key-value pair that identifies an associated resource. </p>\n@param applicationTag A key-value pair that identifies an associated resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationTag",
        "getterDocumentation" : "/**<p> A key-value pair that identifies an associated resource. </p>\n@return A key-value pair that identifies an associated resource.*/",
        "getterMethodName" : "getApplicationTag",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "applicationTag",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "applicationTag",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
[...]
