{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-09-10",
    "asyncClient" : "AWSApplicationCostProfilerAsyncClient",
    "asyncClientBuilderClassName" : "AWSApplicationCostProfilerAsyncClientBuilder",
    "asyncInterface" : "AWSApplicationCostProfilerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSApplicationCostProfilerModuleInjector",
    "defaultEndpoint" : "application-cost-profiler.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "application-cost-profiler.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This reference provides descriptions of the AWS Application Cost Profiler API.</p> <p>The AWS Application Cost Profiler API provides programmatic access to view, create, update, and delete application cost report definitions, as well as to import your usage data into the Application Cost Profiler service.</p> <p>For more information about using this service, see the <a href=\"https://docs.aws.amazon.com/application-cost-profiler/latest/userguide/introduction.html\">AWS Application Cost Profiler User Guide</a>.</p>",
    "endpointPrefix" : "application-cost-profiler",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.applicationcostprofiler",
    "packagePath" : "com/amazonaws/services/applicationcostprofiler",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Application Cost Profiler",
    "serviceId" : "ApplicationCostProfiler",
    "serviceName" : "AWS Application Cost Profiler",
    "signingName" : "application-cost-profiler",
    "smokeTestsPackageName" : "com.amazonaws.services.applicationcostprofiler.smoketests",
    "syncClient" : "AWSApplicationCostProfilerClient",
    "syncClientBuilderClassName" : "AWSApplicationCostProfilerClientBuilder",
    "syncInterface" : "AWSApplicationCostProfiler",
    "uid" : "AWSApplicationCostProfiler-2020-09-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteReportDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReportDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReportDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReportDefinitionRequest, DeleteReportDefinitionResult>",
      "asyncReturnType" : "DeleteReportDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified report definition in AWS Application Cost Profiler. This stops the report from being generated.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The calls to AWS Application Cost Profiler API are throttled. The request was denied.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints for the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReportDefinitionRequest",
        "variableName" : "deleteReportDefinitionRequest",
        "variableType" : "DeleteReportDefinitionRequest",
        "documentation" : "",
        "simpleType" : "DeleteReportDefinitionRequest",
        "variableSetterType" : "DeleteReportDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReportDefinition",
      "operationName" : "DeleteReportDefinition",
      "returnType" : {
        "returnType" : "DeleteReportDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteReportDefinitionResult"
    },
    "GetReportDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReportDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReportDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReportDefinitionRequest, GetReportDefinitionResult>",
      "asyncReturnType" : "GetReportDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the definition of a report already configured in AWS Application Cost Profiler.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The calls to AWS Application Cost Profiler API are throttled. The request was denied.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints for the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReportDefinitionRequest",
        "variableName" : "getReportDefinitionRequest",
        "variableType" : "GetReportDefinitionRequest",
        "documentation" : "",
        "simpleType" : "GetReportDefinitionRequest",
        "variableSetterType" : "GetReportDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReportDefinition",
      "operationName" : "GetReportDefinition",
      "returnType" : {
        "returnType" : "GetReportDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReportDefinitionResult"
    },
    "ImportApplicationUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportApplicationUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportApplicationUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportApplicationUsageRequest, ImportApplicationUsageResult>",
      "asyncReturnType" : "ImportApplicationUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Ingests application usage data from Amazon Simple Storage Service (Amazon S3).</p> <p>The data must already exist in the S3 location. As part of the action, AWS Application Cost Profiler copies the object from your S3 bucket to an S3 bucket owned by Amazon for processing asynchronously.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The calls to AWS Application Cost Profiler API are throttled. The request was denied.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints for the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportApplicationUsageRequest",
        "variableName" : "importApplicationUsageRequest",
        "variableType" : "ImportApplicationUsageRequest",
        "documentation" : "",
        "simpleType" : "ImportApplicationUsageRequest",
        "variableSetterType" : "ImportApplicationUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importApplicationUsage",
      "operationName" : "ImportApplicationUsage",
      "returnType" : {
        "returnType" : "ImportApplicationUsageResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportApplicationUsageResult"
    },
    "ListReportDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReportDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReportDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReportDefinitionsRequest, ListReportDefinitionsResult>",
      "asyncReturnType" : "ListReportDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of all reports and their configurations for your AWS account.</p> <p>The maximum number of reports is one.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The calls to AWS Application Cost Profiler API are throttled. The request was denied.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints for the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListReportDefinitionsRequest",
        "variableName" : "listReportDefinitionsRequest",
        "variableType" : "ListReportDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "ListReportDefinitionsRequest",
        "variableSetterType" : "ListReportDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReportDefinitions",
      "operationName" : "ListReportDefinitions",
      "returnType" : {
        "returnType" : "ListReportDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListReportDefinitionsResult"
    },
    "PutReportDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutReportDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutReportDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutReportDefinitionRequest, PutReportDefinitionResult>",
      "asyncReturnType" : "PutReportDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the report definition for a report in Application Cost Profiler.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The calls to AWS Application Cost Profiler API are throttled. The request was denied.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints for the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your request exceeds one or more of the service quotas.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutReportDefinitionRequest",
        "variableName" : "putReportDefinitionRequest",
        "variableType" : "PutReportDefinitionRequest",
        "documentation" : "",
        "simpleType" : "PutReportDefinitionRequest",
        "variableSetterType" : "PutReportDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putReportDefinition",
      "operationName" : "PutReportDefinition",
      "returnType" : {
        "returnType" : "PutReportDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "PutReportDefinitionResult"
    },
    "UpdateReportDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateReportDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateReportDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateReportDefinitionRequest, UpdateReportDefinitionResult>",
      "asyncReturnType" : "UpdateReportDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates existing report in AWS Application Cost Profiler.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The calls to AWS Application Cost Profiler API are throttled. The request was denied.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints for the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateReportDefinitionRequest",
        "variableName" : "updateReportDefinitionRequest",
        "variableType" : "UpdateReportDefinitionRequest",
        "documentation" : "",
        "simpleType" : "UpdateReportDefinitionRequest",
        "variableSetterType" : "UpdateReportDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateReportDefinition",
      "operationName" : "UpdateReportDefinition",
      "returnType" : {
        "returnType" : "UpdateReportDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateReportDefinitionResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have permission to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.applicationcostprofiler.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.applicationcostprofiler.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "DeleteReportDefinitionRequest" : {
      "c2jName" : "DeleteReportDefinitionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.applicationcostprofiler.request.DeleteReportDefinitionRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteReportDefinition",
        "locationName" : null,
        "requestUri" : "/reportDefinition/{reportId}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "reportId",
        "c2jShape" : "ReportId",
        "deprecated" : false,
        "documentation" : "<p>Required. ID of the report to delete.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Required. ID of the report to delete.</p>\n@param reportId Required. ID of the report to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportId",
        "getterDocumentation" : "/**<p>Required. ID of the report to delete.</p>\n@return Required. ID of the report to delete.*/",
        "getterMethodName" : "getReportId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "reportId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "reportId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReportId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Required. ID of the report to delete.</p>\n@param reportId Required. ID of the report to delete.*/",
        "setterMethodName" : "setReportId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Required. ID of the report to delete.</p>\n@param reportId Required. ID of the report to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportId",
          "variableType" : "String",
          "documentation" : "<p>Required. ID of the report to delete.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ReportId" : {
          "c2jName" : "reportId",
          "c2jShape" : "ReportId",
          "deprecated" : false,
          "documentation" : "<p>Required. ID of the report to delete.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Required. ID of the report to delete.</p>\n@param reportId Required. ID of the report to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportId",
          "getterDocumentation" : "/**<p>Required. ID of the report to delete.</p>\n@return Required. ID of the report to delete.*/",
          "getterMethodName" : "getReportId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "reportId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "reportId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ReportId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Required. ID of the report to delete.</p>\n@param reportId Required. ID of the report to delete.*/",
          "setterMethodName" : "setReportId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Required. ID of the report to delete.</p>\n@param reportId Required. ID of the report to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportId",
            "variableType" : "String",
            "documentation" : "<p>Required. ID of the report to delete.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.applicationcostprofiler.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "reportId" ],
      "shapeName" : "DeleteReportDefinitionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReportDefinitionRequest",
        "variableName" : "deleteReportDefinitionRequest",
        "variableType" : "DeleteReportDefinitionRequest",
        "documentation" : null,
        "simpleType" : "DeleteReportDefinitionRequest",
        "variableSetterType" : "DeleteReportDefinitionRequest"
      },
      "wrapper" : false
    },
    "DeleteReportDefinitionResult" : {
      "c2jName" : "DeleteReportDefinitionResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.applicationcostprofiler.response.DeleteReportDefinitionResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "reportId",
        "c2jShape" : "ReportId",
        "deprecated" : false,
        "documentation" : "<p>ID of the report that was deleted.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>ID of the report that was deleted.</p>\n@param reportId ID of the report that was deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportId",
        "getterDocumentation" : "/**<p>ID of the report that was deleted.</p>\n@return ID of the report that was deleted.*/",
        "getterMethodName" : "getReportId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "reportId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "reportId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReportId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>ID of the report that was deleted.</p>\n@param reportId ID of the report that was deleted.*/",
        "setterMethodName" : "setReportId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>ID of the report that was deleted.</p>\n@param reportId ID of the report that was deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportId",
          "variableType" : "String",
          "documentation" : "<p>ID of the report that was deleted.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ReportId" : {
          "c2jName" : "reportId",
          "c2jShape" : "ReportId",
          "deprecated" : false,
          "documentation" : "<p>ID of the report that was deleted.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>ID of the report that was deleted.</p>\n@param reportId ID of the report that was deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportId",
          "getterDocumentation" : "/**<p>ID of the report that was deleted.</p>\n@return ID of the report that was deleted.*/",
          "getterMethodName" : "getReportId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "reportId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "reportId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ReportId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>ID of the report that was deleted.</p>\n@param reportId ID of the report that was deleted.*/",
          "setterMethodName" : "setReportId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>ID of the report that was deleted.</p>\n@param reportId ID of the report that was deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportId",
            "variableType" : "String",
            "documentation" : "<p>ID of the report that was deleted.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.applicationcostprofiler.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteReportDefinitionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReportDefinitionResult",
        "variableName" : "deleteReportDefinitionResult",
        "variableType" : "DeleteReportDefinitionResult",
        "documentation" : null,
        "simpleType" : "DeleteReportDefinitionResult",
        "variableSetterType" : "DeleteReportDefinitionResult"
      },
      "wrapper" : false
    },
    "Format" : {
      "c2jName" : "Format",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "CSV",
        "value" : "CSV"
      }, {
        "name" : "PARQUET",
        "value" : "PARQUET"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.applicationcostprofiler.enum.Format",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.applicationcostprofiler.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Format",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Format",
        "variableName" : "format",
        "variableType" : "Format",
        "documentation" : null,
        "simpleType" : "Format",
        "variableSetterType" : "Format"
      },
      "wrapper" : false
    },
    "GetReportDefinitionRequest" : {
      "c2jName" : "GetReportDefinitionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.applicationcostprofiler.request.GetReportDefinitionRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetReportDefinition",
        "locationName" : null,
        "requestUri" : "/reportDefinition/{reportId}",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "reportId",
        "c2jShape" : "ReportId",
        "deprecated" : false,
        "documentation" : "<p>ID of the report to retrieve.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>ID of the report to retrieve.</p>\n@param reportId ID of the report to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportId",
        "getterDocumentation" : "/**<p>ID of the report to retrieve.</p>\n@return ID of the report to retrieve.*/",
        "getterMethodName" : "getReportId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "reportId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "reportId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReportId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>ID of the report to retrieve.</p>\n@param reportId ID of the report to retrieve.*/",
        "setterMethodName" : "setReportId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>ID of the report to retrieve.</p>\n@param reportId ID of the report to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportId",
          "variableType" : "String",
          "documentation" : "<p>ID of the report to retrieve.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ReportId" : {
          "c2jName" : "reportId",
          "c2jShape" : "ReportId",
          "deprecated" : false,
          "documentation" : "<p>ID of the report to retrieve.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>ID of the report to retrieve.</p>\n@param reportId ID of the report to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportId",
          "getterDocumentation" : "/**<p>ID of the report to retrieve.</p>\n@return ID of the report to retrieve.*/",
          "getterMethodName" : "getReportId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "reportId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "reportId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ReportId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>ID of the report to retrieve.</p>\n@param reportId ID of the report to retrieve.*/",
          "setterMethodName" : "setReportId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>ID of the report to retrieve.</p>\n@param reportId ID of the report to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportId",
            "variableType" : "String",
            "documentation" : "<p>ID of the report to retrieve.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.applicationcostprofiler.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "reportId" ],
      "shapeName" : "GetReportDefinitionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReportDefinitionRequest",
        "variableName" : "getReportDefinitionRequest",
        "variableType" : "GetReportDefinitionRequest",
        "documentation" : null,
        "simpleType" : "GetReportDefinitionRequest",
        "variableSetterType" : "GetReportDefinitionRequest"
      },
      "wrapper" : false
    },
    "GetReportDefinitionResult" : {
      "c2jName" : "GetReportDefinitionResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.applicationcostprofiler.response.GetReportDefinitionResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "reportId",
        "c2jShape" : "ReportId",
        "deprecated" : false,
        "documentation" : "<p>ID of the report retrieved.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>ID of the report retrieved.</p>\n@param reportId ID of the report retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportId",
        "getterDocumentation" : "/**<p>ID of the report retrieved.</p>\n@return ID of the report retrieved.*/",
        "getterMethodName" : "getReportId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "reportId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "reportId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReportId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>ID of the report retrieved.</p>\n@param reportId ID of the report retrieved.*/",
        "setterMethodName" : "setReportId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>ID of the report retrieved.</p>\n@param reportId ID of the report retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportId",
          "variableType" : "String",
          "documentation" : "<p>ID of the report retrieved.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "reportDescription",
        "c2jShape" : "ReportDescription",
        "deprecated" : false,
        "documentation" : "<p>Description of the report.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Description of the report.</p>\n@param reportDescription Description of the report.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportDescription",
        "getterDocumentation" : "/**<p>Description of the report.</p>\n@return Description of the report.*/",
        "getterMethodName" : "getReportDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "reportDescription",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "reportDescription",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReportDescription",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Description of the report.</p>\n@param reportDescription Description of the report.*/",
        "setterMethodName" : "setReportDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportDescription",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Description of the report.</p>\n@param reportDescription Description of the report.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportDescription",
          "variableType" : "String",
          "documentation" : "<p>Description of the report.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "reportFrequency",
        "c2jShape" : "ReportFrequency",
        "deprecated" : false,
        "documentation" : "<p>Cadence used to generate the report.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ReportFrequency",
        "fluentSetterDocumentation" : "/**<p>Cadence used to generate the report.</p>\n@param reportFrequency Cadence used to generate the report.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ReportFrequency*/",
        "fluentSetterMethodName" : "withReportFrequency",
        "getterDocumentation" : "/**<p>Cadence used to generate the report.</p>\n@return Cadence used to generate the report.\n@see ReportFrequency*/",
        "getterMethodName" : "getReportFrequency",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "reportFrequency",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "reportFrequency",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReportFrequency",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Cadence used to generate the report.</p>\n@param reportFrequency Cadence used to generate the report.\n@see ReportFrequency*/",
        "setterMethodName" : "setReportFrequency",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportFrequency",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Cadence used to generate the report.</p>\n@param reportFrequency Cadence used to generate the report.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ReportFrequency*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportFrequency",
          "variableType" : "String",
          "documentation" : "<p>Cadence used to generate the report.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "format",
        "c2jShape" : "Format",
        "deprecated" : false,
        "documentation" : "<p>Format of the generated report.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "Format",
        "fluentSetterDocumentation" : "/**<p>Format of the generated report.</p>\n@param format Format of the generated report.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Format*/",
        "fluentSetterMethodName" : "withFormat",
        "getterDocumentation" : "/**<p>Format of the generated report.</p>\n@return Format of the generated report.\n@see Format*/",
        "getterMethodName" : "getFormat",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "format",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "format",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Format",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Format of the generated report.</p>\n@param format Format of the generated report.\n@see Format*/",
        "setterMethodName" : "setFormat",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "format",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Format of the generated report.</p>\n@param format Format of the generated report.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Format*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "format",
          "variableType" : "String",
          "documentation" : "<p>Format of the generated report.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "destinationS3Location",
        "c2jShape" : "S3Location",
        "deprecated" : false,
        "documentation" : "<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>\n@param destinationS3Location Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDestinationS3Location",
        "getterDocumentation" : "/**<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>\n@return Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.*/",
        "getterMethodName" : "getDestinationS3Location",
        "getterModel" : {
          "returnType" : "S3Location",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "destinationS3Location",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "destinationS3Location",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "DestinationS3Location",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>\n@param destinationS3Location Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.*/",
        "setterMethodName" : "setDestinationS3Location",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3Location",
          "variableName" : "destinationS3Location",
          "variableType" : "S3Location",
          "documentation" : "",
          "simpleType" : "S3Location",
          "variableSetterType" : "S3Location"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>\n@param destinationS3Location Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3Location",
          "variableName" : "destinationS3Location",
          "variableType" : "S3Location",
          "documentation" : "<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>",
          "simpleType" : "S3Location",
          "variableSetterType" : "S3Location"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "createdAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>Timestamp (milliseconds) when this report definition was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was created.</p>\n@param createdAt Timestamp (milliseconds) when this report definition was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedAt",
        "getterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was created.</p>\n@return Timestamp (milliseconds) when this report definition was created.*/",
        "getterMethodName" : "getCreatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createdAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createdAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was created.</p>\n@param createdAt Timestamp (milliseconds) when this report definition was created.*/",
        "setterMethodName" : "setCreatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was created.</p>\n@param createdAt Timestamp (milliseconds) when this report definition was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>Timestamp (milliseconds) when this report definition was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "lastUpdated",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>Timestamp (milliseconds) when this report definition was last updated.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was last updated.</p>\n@param lastUpdated Timestamp (milliseconds) when this report definition was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastUpdated",
        "getterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was last updated.</p>\n@return Timestamp (milliseconds) when this report definition was last updated.*/",
        "getterMethodName" : "getLastUpdated",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lastUpdated",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "lastUpdated",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastUpdated",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was last updated.</p>\n@param lastUpdated Timestamp (milliseconds) when this report definition was last updated.*/",
        "setterMethodName" : "setLastUpdated",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdated",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was last updated.</p>\n@param lastUpdated Timestamp (milliseconds) when this report definition was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdated",
          "variableType" : "java.util.Date",
          "documentation" : "<p>Timestamp (milliseconds) when this report definition was last updated.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CreatedAt" : {
          "c2jName" : "createdAt",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>Timestamp (milliseconds) when this report definition was created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was created.</p>\n@param createdAt Timestamp (milliseconds) when this report definition was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatedAt",
          "getterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was created.</p>\n@return Timestamp (milliseconds) when this report definition was created.*/",
          "getterMethodName" : "getCreatedAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "createdAt",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "createdAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreatedAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was created.</p>\n@param createdAt Timestamp (milliseconds) when this report definition was created.*/",
          "setterMethodName" : "setCreatedAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was created.</p>\n@param createdAt Timestamp (milliseconds) when this report definition was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>Timestamp (milliseconds) when this report definition was created.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "DestinationS3Location" : {
          "c2jName" : "destinationS3Location",
          "c2jShape" : "S3Location",
          "deprecated" : false,
          "documentation" : "<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>\n@param destinationS3Location Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDestinationS3Location",
          "getterDocumentation" : "/**<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>\n@return Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.*/",
          "getterMethodName" : "getDestinationS3Location",
          "getterModel" : {
            "returnType" : "S3Location",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "destinationS3Location",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "destinationS3Location",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "DestinationS3Location",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>\n@param destinationS3Location Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.*/",
          "setterMethodName" : "setDestinationS3Location",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3Location",
            "variableName" : "destinationS3Location",
            "variableType" : "S3Location",
            "documentation" : "",
            "simpleType" : "S3Location",
            "variableSetterType" : "S3Location"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>\n@param destinationS3Location Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3Location",
            "variableName" : "destinationS3Location",
            "variableType" : "S3Location",
            "documentation" : "<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>",
            "simpleType" : "S3Location",
            "variableSetterType" : "S3Location"
          },
          "xmlNameSpaceUri" : null
        },
        "Format" : {
          "c2jName" : "format",
          "c2jShape" : "Format",
          "deprecated" : false,
          "documentation" : "<p>Format of the generated report.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "Format",
          "fluentSetterDocumentation" : "/**<p>Format of the generated report.</p>\n@param format Format of the generated report.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Format*/",
          "fluentSetterMethodName" : "withFormat",
          "getterDocumentation" : "/**<p>Format of the generated report.</p>\n@return Format of the generated report.\n@see Format*/",
          "getterMethodName" : "getFormat",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "format",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "format",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Format",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Format of the generated report.</p>\n@param format Format of the generated report.\n@see Format*/",
          "setterMethodName" : "setFormat",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "format",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Format of the generated report.</p>\n@param format Format of the generated report.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Format*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "format",
            "variableType" : "String",
            "documentation" : "<p>Format of the generated report.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LastUpdated" : {
          "c2jName" : "lastUpdated",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>Timestamp (milliseconds) when this report definition was last updated.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was last updated.</p>\n@param lastUpdated Timestamp (milliseconds) when this report definition was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLastUpdated",
          "getterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was last updated.</p>\n@return Timestamp (milliseconds) when this report definition was last updated.*/",
          "getterMethodName" : "getLastUpdated",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "lastUpdated",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "lastUpdated",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "LastUpdated",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was last updated.</p>\n@param lastUpdated Timestamp (milliseconds) when this report definition was last updated.*/",
          "setterMethodName" : "setLastUpdated",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastUpdated",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Timestamp (milliseconds) when this report definition was last updated.</p>\n@param lastUpdated Timestamp (milliseconds) when this report definition was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastUpdated",
            "variableType" : "java.util.Date",
            "documentation" : "<p>Timestamp (milliseconds) when this report definition was last updated.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "ReportDescription" : {
          "c2jName" : "reportDescription",
          "c2jShape" : "ReportDescription",
          "deprecated" : false,
          "documentation" : "<p>Description of the report.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Description of the report.</p>\n@param reportDescription Description of the report.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportDescription",
          "getterDocumentation" : "/**<p>Description of the report.</p>\n@return Description of the report.*/",
          "getterMethodName" : "getReportDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "reportDescription",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "reportDescription",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ReportDescription",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Description of the report.</p>\n@param reportDescription Description of the report.*/",
          "setterMethodName" : "setReportDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportDescription",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Description of the report.</p>\n@param reportDescription Description of the report.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportDescription",
            "variableType" : "String",
            "documentation" : "<p>Description of the report.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ReportFrequency" : {
          "c2jName" : "reportFrequency",
          "c2jShape" : "ReportFrequency",
          "deprecated" : false,
          "documentation" : "<p>Cadence used to generate the report.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ReportFrequency",
          "fluentSetterDocumentation" : "/**<p>Cadence used to generate the report.</p>\n@param reportFrequency Cadence used to generate the report.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ReportFrequency*/",
          "fluentSetterMethodName" : "withReportFrequency",
          "getterDocumentation" : "/**<p>Cadence used to generate the report.</p>\n@return Cadence used to generate the report.\n@see ReportFrequency*/",
          "getterMethodName" : "getReportFrequency",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "reportFrequency",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "reportFrequency",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ReportFrequency",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Cadence used to generate the report.</p>\n@param reportFrequency Cadence used to generate the report.\n@see ReportFrequency*/",
          "setterMethodName" : "setReportFrequency",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportFrequency",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Cadence used to generate the report.</p>\n@param reportFrequency Cadence used to generate the report.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ReportFrequency*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportFrequency",
            "variableType" : "String",
            "documentation" : "<p>Cadence used to generate the report.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ReportId" : {
          "c2jName" : "reportId",
          "c2jShape" : "ReportId",
          "deprecated" : false,
          "documentation" : "<p>ID of the report retrieved.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>ID of the report retrieved.</p>\n@param reportId ID of the report retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportId",
          "getterDocumentation" : "/**<p>ID of the report retrieved.</p>\n@return ID of the report retrieved.*/",
          "getterMethodName" : "getReportId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "reportId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "reportId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ReportId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>ID of the report retrieved.</p>\n@param reportId ID of the report retrieved.*/",
          "setterMethodName" : "setReportId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>ID of the report retrieved.</p>\n@param reportId ID of the report retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportId",
            "variableType" : "String",
            "documentation" : "<p>ID of the report retrieved.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.applicationcostprofiler.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "reportId", "reportDescription", "reportFrequency", "format", "destinationS3Location", "createdAt", "lastUpdated" ],
      "shapeName" : "GetReportDefinitionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReportDefinitionResult",
        "variableName" : "getReportDefinitionResult",
        "variableType" : "GetReportDefinitionResult",
        "documentation" : null,
        "simpleType" : "GetReportDefinitionResult",
        "variableSetterType" : "GetReportDefinitionResult"
      },
      "wrapper" : false
    },
    "ImportApplicationUsageRequest" : {
      "c2jName" : "ImportApplicationUsageRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.applicationcostprofiler.request.ImportApplicationUsageRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ImportApplicationUsage",
        "locationName" : null,
        "requestUri" : "/importApplicationUsage",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "sourceS3Location",
        "c2jShape" : "SourceS3Location",
        "deprecated" : false,
        "documentation" : "<p>Amazon S3 location to import application usage data from.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Amazon S3 location to import application usage data from.</p>\n@param sourceS3Location Amazon S3 location to import application usage data from.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSourceS3Location",
        "getterDocumentation" : "/**<p>Amazon S3 location to import application usage data from.</p>\n@return Amazon S3 location to import application usage data from.*/",
        "getterMethodName" : "getSourceS3Location",
        "getterModel" : {
          "returnType" : "SourceS3Location",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "sourceS3Location",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sourceS3Location",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SourceS3Location",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Amazon S3 location to import application usage data from.</p>\n@param sourceS3Location Amazon S3 location to import application usage data from.*/",
        "setterMethodName" : "setSourceS3Location",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SourceS3Location",
          "variableName" : "sourceS3Location",
          "variableType" : "SourceS3Location",
          "documentation" : "",
          "simpleType" : "SourceS3Location",
          "variableSetterType" : "SourceS3Location"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Amazon S3 location to import application usage data from.</p>\n@param sourceS3Location Amazon S3 location to import application usage data from.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SourceS3Location",
          "variableName" : "sourceS3Location",
          "variableType" : "SourceS3Location",
          "documentation" : "<p>Amazon S3 location to import application usage data from.</p>",
          "simpleType" : "SourceS3Location",
          "variableSetterType" : "SourceS3Location"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "SourceS3Location" : {
          "c2jName" : "sourceS3Location",
          "c2jShape" : "SourceS3Location",
          "deprecated" : false,
          "documentation" : "<p>Amazon S3 location to import application usage data from.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Amazon S3 location to import application usage data from.</p>\n@param sourceS3Location Amazon S3 location to import application usage data from.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSourceS3Location",
          "getterDocumentation" : "/**<p>Amazon S3 location to import application usage data from.</p>\n@return Amazon S3 location to import application usage data from.*/",
          "getterMethodName" : "getSourceS3Location",
          "getterModel" : {
            "returnType" : "SourceS3Location",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "sourceS3Location",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "sourceS3Location",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "SourceS3Location",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Amazon S3 location to import application usage data from.</p>\n@param sourceS3Location Amazon S3 location to import application usage data from.*/",
          "setterMethodName" : "setSourceS3Location",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SourceS3Location",
            "variableName" : "sourceS3Location",
            "variableType" : "SourceS3Location",
            "documentation" : "",
            "simpleType" : "SourceS3Location",
            "variableSetterType" : "SourceS3Location"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Amazon S3 location to import application usage data from.</p>\n@param sourceS3Location Amazon S3 location to import application usage data from.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SourceS3Location",
            "variableName" : "sourceS3Location",
            "variableType" : "SourceS3Location",
            "documentation" : "<p>Amazon S3 location to import application usage data from.</p>",
            "simpleType" : "SourceS3Location",
            "variableSetterType" : "SourceS3Location"
          },
          "xmlNameSpaceUri" : null
        }
      },
[...]
