{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2022-06-23",
    "asyncClient" : "AWSB2BiAsyncClient",
    "asyncClientBuilderClassName" : "AWSB2BiAsyncClientBuilder",
    "asyncInterface" : "AWSB2BiAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSB2BiModuleInjector",
    "defaultEndpoint" : "b2bi.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "b2bi.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This is the <i>Amazon Web Services B2B Data Interchange API Reference</i>. It provides descriptions, API request parameters, and the XML response for each of the B2BI API actions.</p> <p>B2BI enables automated exchange of EDI (electronic data interchange) based business-critical transactions at cloud scale, with elasticity and pay-as-you-go pricing. Businesses use EDI documents to exchange transactional data with trading partners, such as suppliers and end customers, using standardized formats such as X12.</p> <note> <p>Rather than actually running a command, you can use the <code>--generate-cli-skeleton</code> parameter with any API call to generate and display a parameter template. You can then use the generated template to customize and use as input on a later command. For details, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-skeleton.html#cli-usage-skeleton-generate\">Generate and use a parameter skeleton file</a>.</p> </note>",
    "endpointPrefix" : "b2bi",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.b2bi",
    "packagePath" : "com/amazonaws/services/b2bi",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS B2BI",
    "serviceFullName" : "AWS B2B Data Interchange",
    "serviceId" : "b2bi",
    "serviceName" : "AWS B2BI",
    "signingName" : "b2bi",
    "smokeTestsPackageName" : "com.amazonaws.services.b2bi.smoketests",
    "syncClient" : "AWSB2BiClient",
    "syncClientBuilderClassName" : "AWSB2BiClientBuilder",
    "syncInterface" : "AWSB2Bi",
    "uid" : "b2bi-2022-06-23",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateCapability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCapabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCapabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCapabilityRequest, CreateCapabilityResult>",
      "asyncReturnType" : "CreateCapabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Instantiates a capability based on the specified parameters. A trading capability contains the information required to transform incoming EDI documents into JSON or XML outputs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when the calling command attempts to exceed one of the service quotas, for example trying to create a capability when you already have the maximum number of capabilities allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCapabilityRequest",
        "variableName" : "createCapabilityRequest",
        "variableType" : "CreateCapabilityRequest",
        "documentation" : "",
        "simpleType" : "CreateCapabilityRequest",
        "variableSetterType" : "CreateCapabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCapability",
      "operationName" : "CreateCapability",
      "returnType" : {
        "returnType" : "CreateCapabilityResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCapabilityResult"
    },
    "CreatePartnership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePartnershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePartnershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePartnershipRequest, CreatePartnershipResult>",
      "asyncReturnType" : "CreatePartnershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a partnership between a customer and a trading partner, based on the supplied parameters. A partnership represents the connection between you and your trading partner. It ties together a profile and one or more trading capabilities.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when the calling command attempts to exceed one of the service quotas, for example trying to create a capability when you already have the maximum number of capabilities allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePartnershipRequest",
        "variableName" : "createPartnershipRequest",
        "variableType" : "CreatePartnershipRequest",
        "documentation" : "",
        "simpleType" : "CreatePartnershipRequest",
        "variableSetterType" : "CreatePartnershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPartnership",
      "operationName" : "CreatePartnership",
      "returnType" : {
        "returnType" : "CreatePartnershipResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePartnershipResult"
    },
    "CreateProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProfileRequest, CreateProfileResult>",
      "asyncReturnType" : "CreateProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a customer profile. You can have up to five customer profiles, each representing a distinct private network. A profile is the mechanism used to create the concept of a private network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when the calling command attempts to exceed one of the service quotas, for example trying to create a capability when you already have the maximum number of capabilities allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProfileRequest",
        "variableName" : "createProfileRequest",
        "variableType" : "CreateProfileRequest",
        "documentation" : "",
        "simpleType" : "CreateProfileRequest",
        "variableSetterType" : "CreateProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProfile",
      "operationName" : "CreateProfile",
      "returnType" : {
        "returnType" : "CreateProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProfileResult"
    },
    "CreateTransformer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTransformerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTransformerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTransformerRequest, CreateTransformerResult>",
      "asyncReturnType" : "CreateTransformerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a transformer. A transformer describes how to process the incoming EDI documents and extract the necessary information to the output file.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when the calling command attempts to exceed one of the service quotas, for example trying to create a capability when you already have the maximum number of capabilities allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTransformerRequest",
        "variableName" : "createTransformerRequest",
        "variableType" : "CreateTransformerRequest",
        "documentation" : "",
        "simpleType" : "CreateTransformerRequest",
        "variableSetterType" : "CreateTransformerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTransformer",
      "operationName" : "CreateTransformer",
      "returnType" : {
        "returnType" : "CreateTransformerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTransformerResult"
    },
    "DeleteCapability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCapabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCapabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCapabilityRequest, DeleteCapabilityResult>",
      "asyncReturnType" : "DeleteCapabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified capability. A trading capability contains the information required to transform incoming EDI documents into JSON or XML outputs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCapabilityRequest",
        "variableName" : "deleteCapabilityRequest",
        "variableType" : "DeleteCapabilityRequest",
        "documentation" : "",
        "simpleType" : "DeleteCapabilityRequest",
        "variableSetterType" : "DeleteCapabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCapability",
      "operationName" : "DeleteCapability",
      "returnType" : {
        "returnType" : "DeleteCapabilityResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCapabilityResult"
    },
    "DeletePartnership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePartnershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePartnershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePartnershipRequest, DeletePartnershipResult>",
      "asyncReturnType" : "DeletePartnershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified partnership. A partnership represents the connection between you and your trading partner. It ties together a profile and one or more trading capabilities.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePartnershipRequest",
        "variableName" : "deletePartnershipRequest",
        "variableType" : "DeletePartnershipRequest",
        "documentation" : "",
        "simpleType" : "DeletePartnershipRequest",
        "variableSetterType" : "DeletePartnershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePartnership",
      "operationName" : "DeletePartnership",
      "returnType" : {
        "returnType" : "DeletePartnershipResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePartnershipResult"
    },
    "DeleteProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProfileRequest, DeleteProfileResult>",
      "asyncReturnType" : "DeleteProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified profile. A profile is the mechanism used to create the concept of a private network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProfileRequest",
        "variableName" : "deleteProfileRequest",
        "variableType" : "DeleteProfileRequest",
        "documentation" : "",
        "simpleType" : "DeleteProfileRequest",
        "variableSetterType" : "DeleteProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProfile",
      "operationName" : "DeleteProfile",
      "returnType" : {
        "returnType" : "DeleteProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProfileResult"
    },
    "DeleteTransformer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTransformerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTransformerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTransformerRequest, DeleteTransformerResult>",
      "asyncReturnType" : "DeleteTransformerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified transformer. A transformer describes how to process the incoming EDI documents and extract the necessary information to the output file.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTransformerRequest",
        "variableName" : "deleteTransformerRequest",
        "variableType" : "DeleteTransformerRequest",
        "documentation" : "",
        "simpleType" : "DeleteTransformerRequest",
        "variableSetterType" : "DeleteTransformerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTransformer",
      "operationName" : "DeleteTransformer",
      "returnType" : {
        "returnType" : "DeleteTransformerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTransformerResult"
    },
    "GetCapability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCapabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCapabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCapabilityRequest, GetCapabilityResult>",
      "asyncReturnType" : "GetCapabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details for the specified capability. A trading capability contains the information required to transform incoming EDI documents into JSON or XML outputs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCapabilityRequest",
        "variableName" : "getCapabilityRequest",
        "variableType" : "GetCapabilityRequest",
        "documentation" : "",
        "simpleType" : "GetCapabilityRequest",
        "variableSetterType" : "GetCapabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCapability",
      "operationName" : "GetCapability",
      "returnType" : {
        "returnType" : "GetCapabilityResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCapabilityResult"
    },
    "GetPartnership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPartnershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPartnershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPartnershipRequest, GetPartnershipResult>",
      "asyncReturnType" : "GetPartnershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details for a partnership, based on the partner and profile IDs specified. A partnership represents the connection between you and your trading partner. It ties together a profile and one or more trading capabilities.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPartnershipRequest",
        "variableName" : "getPartnershipRequest",
        "variableType" : "GetPartnershipRequest",
        "documentation" : "",
        "simpleType" : "GetPartnershipRequest",
        "variableSetterType" : "GetPartnershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPartnership",
      "operationName" : "GetPartnership",
      "returnType" : {
        "returnType" : "GetPartnershipResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPartnershipResult"
    },
    "GetProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProfileRequest, GetProfileResult>",
      "asyncReturnType" : "GetProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details for the profile specified by the profile ID. A profile is the mechanism used to create the concept of a private network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProfileRequest",
        "variableName" : "getProfileRequest",
        "variableType" : "GetProfileRequest",
        "documentation" : "",
        "simpleType" : "GetProfileRequest",
        "variableSetterType" : "GetProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProfile",
      "operationName" : "GetProfile",
      "returnType" : {
        "returnType" : "GetProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProfileResult"
    },
    "GetTransformer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTransformerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTransformerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTransformerRequest, GetTransformerResult>",
      "asyncReturnType" : "GetTransformerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details for the transformer specified by the transformer ID. A transformer describes how to process the incoming EDI documents and extract the necessary information to the output file.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTransformerRequest",
        "variableName" : "getTransformerRequest",
        "variableType" : "GetTransformerRequest",
        "documentation" : "",
        "simpleType" : "GetTransformerRequest",
        "variableSetterType" : "GetTransformerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTransformer",
      "operationName" : "GetTransformer",
      "returnType" : {
        "returnType" : "GetTransformerResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTransformerResult"
    },
    "GetTransformerJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTransformerJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTransformerJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTransformerJobRequest, GetTransformerJobResult>",
      "asyncReturnType" : "GetTransformerJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of the transformer run, based on the Transformer job ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTransformerJobRequest",
        "variableName" : "getTransformerJobRequest",
        "variableType" : "GetTransformerJobRequest",
        "documentation" : "",
        "simpleType" : "GetTransformerJobRequest",
        "variableSetterType" : "GetTransformerJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTransformerJob",
      "operationName" : "GetTransformerJob",
      "returnType" : {
        "returnType" : "GetTransformerJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTransformerJobResult"
    },
    "ListCapabilities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCapabilitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCapabilitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCapabilitiesRequest, ListCapabilitiesResult>",
      "asyncReturnType" : "ListCapabilitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the capabilities associated with your Amazon Web Services account for your current or specified region. A trading capability contains the information required to transform incoming EDI documents into JSON or XML outputs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCapabilitiesRequest",
        "variableName" : "listCapabilitiesRequest",
        "variableType" : "ListCapabilitiesRequest",
        "documentation" : "",
        "simpleType" : "ListCapabilitiesRequest",
        "variableSetterType" : "ListCapabilitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCapabilities",
      "operationName" : "ListCapabilities",
      "returnType" : {
        "returnType" : "ListCapabilitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCapabilitiesResult"
    },
    "ListPartnerships" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPartnershipsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPartnershipsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPartnershipsRequest, ListPartnershipsResult>",
      "asyncReturnType" : "ListPartnershipsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the partnerships associated with your Amazon Web Services account for your current or specified region. A partnership represents the connection between you and your trading partner. It ties together a profile and one or more trading capabilities.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPartnershipsRequest",
        "variableName" : "listPartnershipsRequest",
        "variableType" : "ListPartnershipsRequest",
        "documentation" : "",
        "simpleType" : "ListPartnershipsRequest",
        "variableSetterType" : "ListPartnershipsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPartnerships",
      "operationName" : "ListPartnerships",
      "returnType" : {
        "returnType" : "ListPartnershipsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPartnershipsResult"
    },
    "ListProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProfilesRequest, ListProfilesResult>",
      "asyncReturnType" : "ListProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the profiles associated with your Amazon Web Services account for your current or specified region. A profile is the mechanism used to create the concept of a private network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProfilesRequest",
        "variableName" : "listProfilesRequest",
        "variableType" : "ListProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListProfilesRequest",
        "variableSetterType" : "ListProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProfiles",
      "operationName" : "ListProfiles",
      "returnType" : {
        "returnType" : "ListProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProfilesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the tags associated with the Amazon Resource Name (ARN) that you specify. The resource can be a capability, partnership, profile, or transformer.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTransformers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTransformersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTransformersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTransformersRequest, ListTransformersResult>",
      "asyncReturnType" : "ListTransformersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the available transformers. A transformer describes how to process the incoming EDI documents and extract the necessary information to the output file.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTransformersRequest",
        "variableName" : "listTransformersRequest",
        "variableType" : "ListTransformersRequest",
        "documentation" : "",
        "simpleType" : "ListTransformersRequest",
        "variableSetterType" : "ListTransformersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTransformers",
      "operationName" : "ListTransformers",
      "returnType" : {
        "returnType" : "ListTransformersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTransformersResult"
    },
    "StartTransformerJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartTransformerJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartTransformerJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartTransformerJobRequest, StartTransformerJobResult>",
      "asyncReturnType" : "StartTransformerJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Runs a job, using a transformer, to parse input EDI (electronic data interchange) file into the output structures used by Amazon Web Services B2BI Data Interchange.</p> <p>If you only want to transform EDI (electronic data interchange) documents, you don't need to create profiles, partnerships or capabilities. Just create and configure a transformer, and then run the <code>StartTransformerJob</code> API to process your files.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartTransformerJobRequest",
        "variableName" : "startTransformerJobRequest",
        "variableType" : "StartTransformerJobRequest",
        "documentation" : "",
        "simpleType" : "StartTransformerJobRequest",
        "variableSetterType" : "StartTransformerJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startTransformerJob",
      "operationName" : "StartTransformerJob",
      "returnType" : {
        "returnType" : "StartTransformerJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartTransformerJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches a key-value pair to a resource, as identified by its Amazon Resource Name (ARN). Resources are capability, partnership, profile, transformers and other entities.</p> <p>There is no response returned from this call.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "TestMapping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TestMappingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TestMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestMappingRequest, TestMappingResult>",
      "asyncReturnType" : "TestMappingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Maps the input file according to the provided template file. The API call downloads the file contents from the Amazon S3 location, and passes the contents in as a string, to the <code>inputFileContent</code> parameter.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TestMappingRequest",
        "variableName" : "testMappingRequest",
        "variableType" : "TestMappingRequest",
        "documentation" : "",
        "simpleType" : "TestMappingRequest",
        "variableSetterType" : "TestMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "testMapping",
      "operationName" : "TestMapping",
      "returnType" : {
        "returnType" : "TestMappingResult",
        "documentation" : null
      },
      "syncReturnType" : "TestMappingResult"
    },
    "TestParsing" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TestParsingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TestParsingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestParsingRequest, TestParsingResult>",
      "asyncReturnType" : "TestParsingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Parses the input EDI (electronic data interchange) file. The input file has a file size limit of 250 KB.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TestParsingRequest",
        "variableName" : "testParsingRequest",
        "variableType" : "TestParsingRequest",
        "documentation" : "",
        "simpleType" : "TestParsingRequest",
        "variableSetterType" : "TestParsingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "testParsing",
      "operationName" : "TestParsing",
      "returnType" : {
        "returnType" : "TestParsingResult",
        "documentation" : null
      },
      "syncReturnType" : "TestParsingResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detaches a key-value pair from the specified resource, as identified by its Amazon Resource Name (ARN). Resources are capability, partnership, profile, transformers and other entities.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateCapability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCapabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCapabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCapabilityRequest, UpdateCapabilityResult>",
      "asyncReturnType" : "UpdateCapabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates some of the parameters for a capability, based on the specified parameters. A trading capability contains the information required to transform incoming EDI documents into JSON or XML outputs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when the calling command attempts to exceed one of the service quotas, for example trying to create a capability when you already have the maximum number of capabilities allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCapabilityRequest",
        "variableName" : "updateCapabilityRequest",
        "variableType" : "UpdateCapabilityRequest",
        "documentation" : "",
        "simpleType" : "UpdateCapabilityRequest",
        "variableSetterType" : "UpdateCapabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCapability",
      "operationName" : "UpdateCapability",
      "returnType" : {
        "returnType" : "UpdateCapabilityResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateCapabilityResult"
    },
    "UpdatePartnership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePartnershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePartnershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePartnershipRequest, UpdatePartnershipResult>",
      "asyncReturnType" : "UpdatePartnershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates some of the parameters for a partnership between a customer and trading partner. A partnership represents the connection between you and your trading partner. It ties together a profile and one or more trading capabilities.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when the calling command attempts to exceed one of the service quotas, for example trying to create a capability when you already have the maximum number of capabilities allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePartnershipRequest",
        "variableName" : "updatePartnershipRequest",
        "variableType" : "UpdatePartnershipRequest",
        "documentation" : "",
        "simpleType" : "UpdatePartnershipRequest",
        "variableSetterType" : "UpdatePartnershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePartnership",
      "operationName" : "UpdatePartnership",
      "returnType" : {
        "returnType" : "UpdatePartnershipResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePartnershipResult"
    },
    "UpdateProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProfileRequest, UpdateProfileResult>",
      "asyncReturnType" : "UpdateProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified parameters for a profile. A profile is the mechanism used to create the concept of a private network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when the calling command attempts to exceed one of the service quotas, for example trying to create a capability when you already have the maximum number of capabilities allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProfileRequest",
        "variableName" : "updateProfileRequest",
        "variableType" : "UpdateProfileRequest",
        "documentation" : "",
        "simpleType" : "UpdateProfileRequest",
        "variableSetterType" : "UpdateProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProfile",
      "operationName" : "UpdateProfile",
      "returnType" : {
        "returnType" : "UpdateProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProfileResult"
    },
    "UpdateTransformer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTransformerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTransformerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTransformerRequest, UpdateTransformerResult>",
      "asyncReturnType" : "UpdateTransformerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified parameters for a transformer. A transformer describes how to process the incoming EDI documents and extract the necessary information to the output file.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Occurs when a B2BI object cannot be validated against a request from another object.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to throttling: the data speed and rendering may be limited depending on various parameters and conditions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when the requested resource does not exist, or cannot be found. In some cases, the resource exists in a region other than the region specified in the API call.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when the calling command attempts to exceed one of the service quotas, for example trying to create a capability when you already have the maximum number of capabilities allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown when an error occurs in the Amazon Web Services B2B Data Interchange service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTransformerRequest",
        "variableName" : "updateTransformerRequest",
        "variableType" : "UpdateTransformerRequest",
        "documentation" : "",
        "simpleType" : "UpdateTransformerRequest",
        "variableSetterType" : "UpdateTransformerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTransformer",
      "operationName" : "UpdateTransformer",
      "returnType" : {
        "returnType" : "UpdateTransformerResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTransformerResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.b2bi.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.b2bi.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CapabilityConfiguration" : {
      "c2jName" : "CapabilityConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A capability object. Currently, only EDI (electronic data interchange) capabilities are supported. A trading capability contains the information required to transform incoming EDI documents into JSON or XML outputs.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.b2bi.model.CapabilityConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "edi",
        "c2jShape" : "EdiConfiguration",
        "deprecated" : false,
        "documentation" : "<p>An EDI (electronic data interchange) configuration object.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An EDI (electronic data interchange) configuration object.</p>\n@param edi An EDI (electronic data interchange) configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEdi",
        "getterDocumentation" : "/**<p>An EDI (electronic data interchange) configuration object.</p>\n@return An EDI (electronic data interchange) configuration object.*/",
        "getterMethodName" : "getEdi",
        "getterModel" : {
          "returnType" : "EdiConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "edi",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "edi",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Edi",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An EDI (electronic data interchange) configuration object.</p>\n@param edi An EDI (electronic data interchange) configuration object.*/",
        "setterMethodName" : "setEdi",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "EdiConfiguration",
          "variableName" : "edi",
          "variableType" : "EdiConfiguration",
          "documentation" : "",
          "simpleType" : "EdiConfiguration",
          "variableSetterType" : "EdiConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An EDI (electronic data interchange) configuration object.</p>\n@param edi An EDI (electronic data interchange) configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "EdiConfiguration",
          "variableName" : "edi",
          "variableType" : "EdiConfiguration",
          "documentation" : "<p>An EDI (electronic data interchange) configuration object.</p>",
          "simpleType" : "EdiConfiguration",
          "variableSetterType" : "EdiConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Edi" : {
          "c2jName" : "edi",
          "c2jShape" : "EdiConfiguration",
          "deprecated" : false,
          "documentation" : "<p>An EDI (electronic data interchange) configuration object.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An EDI (electronic data interchange) configuration object.</p>\n@param edi An EDI (electronic data interchange) configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEdi",
          "getterDocumentation" : "/**<p>An EDI (electronic data interchange) configuration object.</p>\n@return An EDI (electronic data interchange) configuration object.*/",
          "getterMethodName" : "getEdi",
          "getterModel" : {
            "returnType" : "EdiConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "edi",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "edi",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Edi",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An EDI (electronic data interchange) configuration object.</p>\n@param edi An EDI (electronic data interchange) configuration object.*/",
          "setterMethodName" : "setEdi",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "EdiConfiguration",
            "variableName" : "edi",
            "variableType" : "EdiConfiguration",
            "documentation" : "",
            "simpleType" : "EdiConfiguration",
            "variableSetterType" : "EdiConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An EDI (electronic data interchange) configuration object.</p>\n@param edi An EDI (electronic data interchange) configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "EdiConfiguration",
            "variableName" : "edi",
            "variableType" : "EdiConfiguration",
            "documentation" : "<p>An EDI (electronic data interchange) configuration object.</p>",
            "simpleType" : "EdiConfiguration",
            "variableSetterType" : "EdiConfiguration"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.b2bi.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "CapabilityConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CapabilityConfiguration",
        "variableName" : "capabilityConfiguration",
        "variableType" : "CapabilityConfiguration",
        "documentation" : null,
        "simpleType" : "CapabilityConfiguration",
        "variableSetterType" : "CapabilityConfiguration"
      },
      "wrapper" : false
    },
    "CapabilitySummary" : {
      "c2jName" : "CapabilitySummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Returns the capability summary details. A trading capability contains the information required to transform incoming EDI documents into JSON or XML outputs.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.b2bi.model.CapabilitySummary",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "capabilityId",
        "c2jShape" : "CapabilityId",
        "deprecated" : false,
        "documentation" : "<p>Returns a system-assigned unique identifier for the capability.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Returns a system-assigned unique identifier for the capability.</p>\n@param capabilityId Returns a system-assigned unique identifier for the capability.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCapabilityId",
        "getterDocumentation" : "/**<p>Returns a system-assigned unique identifier for the capability.</p>\n@return Returns a system-assigned unique identifier for the capability.*/",
        "getterMethodName" : "getCapabilityId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "capabilityId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "capabilityId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CapabilityId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Returns a system-assigned unique identifier for the capability.</p>\n@param capabilityId Returns a system-assigned unique identifier for the capability.*/",
        "setterMethodName" : "setCapabilityId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "capabilityId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Returns a system-assigned unique identifier for the capability.</p>\n@param capabilityId Returns a system-assigned unique identifier for the capability.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "capabilityId",
          "variableType" : "String",
          "documentation" : "<p>Returns a system-assigned unique identifier for the capability.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "CapabilityName",
        "deprecated" : false,
        "documentation" : "<p>The display name of the capability.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The display name of the capability.</p>\n@param name The display name of the capability.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The display name of the capability.</p>\n@return The display name of the capability.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The display name of the capability.</p>\n@param name The display name of the capability.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The display name of the capability.</p>\n@param name The display name of the capability.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The display name of the capability.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "type",
        "c2jShape" : "CapabilityType",
        "deprecated" : false,
        "documentation" : "<p>Returns the type of the capability. Currently, only <code>edi</code> is supported.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "CapabilityType",
        "fluentSetterDocumentation" : "/**<p>Returns the type of the capability. Currently, only <code>edi</code> is supported.</p>\n@param type Returns the type of the capability. Currently, only <code>edi</code> is supported.\n@return Returns a reference to this object so that method calls can be chained together.\n@see CapabilityType*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p>Returns the type of the capability. Currently, only <code>edi</code> is supported.</p>\n@return Returns the type of the capability. Currently, only <code>edi</code> is supported.\n@see CapabilityType*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "type",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Returns the type of the capability. Currently, only <code>edi</code> is supported.</p>\n@param type Returns the type of the capability. Currently, only <code>edi</code> is supported.\n@see CapabilityType*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Returns the type of the capability. Currently, only <code>edi</code> is supported.</p>\n@param type Returns the type of the capability. Currently, only <code>edi</code> is supported.\n@return Returns a reference to this object so that method calls can be chained together.\n@see CapabilityType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>Returns the type of the capability. Currently, only <code>edi</code> is supported.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "createdAt",
        "c2jShape" : "CreatedDate",
        "deprecated" : false,
        "documentation" : "<p>Returns a timestamp for creation date and time of the capability.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Returns a timestamp for creation date and time of the capability.</p>\n@param createdAt Returns a timestamp for creation date and time of the capability.\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
