{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-04-10",
    "asyncClient" : "AWSBackupStorageAsyncClient",
    "asyncClientBuilderClassName" : "AWSBackupStorageAsyncClientBuilder",
    "asyncInterface" : "AWSBackupStorageAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSBackupStorageModuleInjector",
    "defaultEndpoint" : "backupstorage.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "backupstorage.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "The frontend service for Cryo Storage.",
    "endpointPrefix" : "backupstorage",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.backupstorage",
    "packagePath" : "com/amazonaws/services/backupstorage",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Backup Storage",
    "serviceId" : "BackupStorage",
    "serviceName" : "AWS Backup Storage",
    "signingName" : "backup-storage",
    "smokeTestsPackageName" : "com.amazonaws.services.backupstorage.smoketests",
    "syncClient" : "AWSBackupStorageClient",
    "syncClientBuilderClassName" : "AWSBackupStorageClientBuilder",
    "syncInterface" : "AWSBackupStorage",
    "uid" : "backupstorage-2018-04-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteObject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteObjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteObjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteObjectRequest, DeleteObjectResult>",
      "asyncReturnType" : "DeleteObjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Delete Object from the incremental base Backup.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "Retryable exception, indicates internal server error.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceInternalException",
        "documentation" : "Deprecated. To be removed from the model.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "RetryableException",
        "documentation" : "Retryable exception. In general indicates internal failure that can be fixed by retry.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "Non-retryable exception, indicates client error (wrong argument passed to API). See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Non-retryable exception. Attempted to make an operation on non-existing or expired resource.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Increased rate over throttling limits. Can be retried with exponential backoff.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteObjectRequest",
        "variableName" : "deleteObjectRequest",
        "variableType" : "DeleteObjectRequest",
        "documentation" : "",
        "simpleType" : "DeleteObjectRequest",
        "variableSetterType" : "DeleteObjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteObject",
      "operationName" : "DeleteObject",
      "returnType" : {
        "returnType" : "DeleteObjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteObjectResult"
    },
    "GetChunk" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetChunkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetChunkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChunkRequest, GetChunkResult>",
      "asyncReturnType" : "GetChunkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Gets the specified object's chunk.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "Non-retryable exception, indicates client error (wrong argument passed to API). See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableException",
        "documentation" : "Retryable exception. In general indicates internal failure that can be fixed by retry.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Non-retryable exception. Attempted to make an operation on non-existing or expired resource.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceInternalException",
        "documentation" : "Deprecated. To be removed from the model.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Increased rate over throttling limits. Can be retried with exponential backoff.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "KMSInvalidKeyUsageException",
        "documentation" : "Non-retryable exception. Indicates the KMS key usage is incorrect. See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetChunkRequest",
        "variableName" : "getChunkRequest",
        "variableType" : "GetChunkRequest",
        "documentation" : "",
        "simpleType" : "GetChunkRequest",
        "variableSetterType" : "GetChunkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getChunk",
      "operationName" : "GetChunk",
      "returnType" : {
        "returnType" : "GetChunkResult",
        "documentation" : null
      },
      "syncReturnType" : "GetChunkResult"
    },
    "GetObjectMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetObjectMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetObjectMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetObjectMetadataRequest, GetObjectMetadataResult>",
      "asyncReturnType" : "GetObjectMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get metadata associated with an Object.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "Retryable exception, indicates internal server error.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceInternalException",
        "documentation" : "Deprecated. To be removed from the model.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Non-retryable exception. Attempted to make an operation on non-existing or expired resource.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "RetryableException",
        "documentation" : "Retryable exception. In general indicates internal failure that can be fixed by retry.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "Non-retryable exception, indicates client error (wrong argument passed to API). See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Increased rate over throttling limits. Can be retried with exponential backoff.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "KMSInvalidKeyUsageException",
        "documentation" : "Non-retryable exception. Indicates the KMS key usage is incorrect. See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetObjectMetadataRequest",
        "variableName" : "getObjectMetadataRequest",
        "variableType" : "GetObjectMetadataRequest",
        "documentation" : "",
        "simpleType" : "GetObjectMetadataRequest",
        "variableSetterType" : "GetObjectMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getObjectMetadata",
      "operationName" : "GetObjectMetadata",
      "returnType" : {
        "returnType" : "GetObjectMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetObjectMetadataResult"
    },
    "ListChunks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChunksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChunksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChunksRequest, ListChunksResult>",
      "asyncReturnType" : "ListChunksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "List chunks in a given Object",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "Retryable exception, indicates internal server error.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Non-retryable exception. Attempted to make an operation on non-existing or expired resource.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceInternalException",
        "documentation" : "Deprecated. To be removed from the model.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "RetryableException",
        "documentation" : "Retryable exception. In general indicates internal failure that can be fixed by retry.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "Non-retryable exception, indicates client error (wrong argument passed to API). See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChunksRequest",
        "variableName" : "listChunksRequest",
        "variableType" : "ListChunksRequest",
        "documentation" : "",
        "simpleType" : "ListChunksRequest",
        "variableSetterType" : "ListChunksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChunks",
      "operationName" : "ListChunks",
      "returnType" : {
        "returnType" : "ListChunksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListChunksResult"
    },
    "ListObjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListObjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListObjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListObjectsRequest, ListObjectsResult>",
      "asyncReturnType" : "ListObjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "List all Objects in a given Backup.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "Retryable exception, indicates internal server error.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceInternalException",
        "documentation" : "Deprecated. To be removed from the model.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "RetryableException",
        "documentation" : "Retryable exception. In general indicates internal failure that can be fixed by retry.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "Non-retryable exception, indicates client error (wrong argument passed to API). See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Increased rate over throttling limits. Can be retried with exponential backoff.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Non-retryable exception. Attempted to make an operation on non-existing or expired resource.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "KMSInvalidKeyUsageException",
        "documentation" : "Non-retryable exception. Indicates the KMS key usage is incorrect. See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListObjectsRequest",
        "variableName" : "listObjectsRequest",
        "variableType" : "ListObjectsRequest",
        "documentation" : "",
        "simpleType" : "ListObjectsRequest",
        "variableSetterType" : "ListObjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listObjects",
      "operationName" : "ListObjects",
      "returnType" : {
        "returnType" : "ListObjectsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListObjectsResult"
    },
    "NotifyObjectComplete" : {
      "asyncCallableType" : "java.util.concurrent.Callable<NotifyObjectCompleteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<NotifyObjectCompleteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<NotifyObjectCompleteRequest, NotifyObjectCompleteResult>",
      "asyncReturnType" : "NotifyObjectCompleteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Complete upload",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "Retryable exception, indicates internal server error.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceInternalException",
        "documentation" : "Deprecated. To be removed from the model.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotReadableInputStreamException",
        "documentation" : "Retryalble exception. Indicated issues while reading an input stream due to the networking issues or connection drop on the client side.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableException",
        "documentation" : "Retryable exception. In general indicates internal failure that can be fixed by retry.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "Non-retryable exception, indicates client error (wrong argument passed to API). See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Increased rate over throttling limits. Can be retried with exponential backoff.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "KMSInvalidKeyUsageException",
        "documentation" : "Non-retryable exception. Indicates the KMS key usage is incorrect. See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "NotifyObjectCompleteRequest",
        "variableName" : "notifyObjectCompleteRequest",
        "variableType" : "NotifyObjectCompleteRequest",
        "documentation" : "",
        "simpleType" : "NotifyObjectCompleteRequest",
        "variableSetterType" : "NotifyObjectCompleteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "notifyObjectComplete",
      "operationName" : "NotifyObjectComplete",
      "returnType" : {
        "returnType" : "NotifyObjectCompleteResult",
        "documentation" : null
      },
      "syncReturnType" : "NotifyObjectCompleteResult"
    },
    "PutChunk" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutChunkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutChunkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutChunkRequest, PutChunkResult>",
      "asyncReturnType" : "PutChunkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Upload chunk.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "Retryable exception, indicates internal server error.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceInternalException",
        "documentation" : "Deprecated. To be removed from the model.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotReadableInputStreamException",
        "documentation" : "Retryalble exception. Indicated issues while reading an input stream due to the networking issues or connection drop on the client side.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableException",
        "documentation" : "Retryable exception. In general indicates internal failure that can be fixed by retry.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "Non-retryable exception, indicates client error (wrong argument passed to API). See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Increased rate over throttling limits. Can be retried with exponential backoff.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "KMSInvalidKeyUsageException",
        "documentation" : "Non-retryable exception. Indicates the KMS key usage is incorrect. See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutChunkRequest",
        "variableName" : "putChunkRequest",
        "variableType" : "PutChunkRequest",
        "documentation" : "",
        "simpleType" : "PutChunkRequest",
        "variableSetterType" : "PutChunkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putChunk",
      "operationName" : "PutChunk",
      "returnType" : {
        "returnType" : "PutChunkResult",
        "documentation" : null
      },
      "syncReturnType" : "PutChunkResult"
    },
    "PutObject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutObjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutObjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutObjectRequest, PutObjectResult>",
      "asyncReturnType" : "PutObjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Upload object that can store object metadata String and data blob in single API call using inline chunk field.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "Retryable exception, indicates internal server error.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceInternalException",
        "documentation" : "Deprecated. To be removed from the model.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotReadableInputStreamException",
        "documentation" : "Retryalble exception. Indicated issues while reading an input stream due to the networking issues or connection drop on the client side.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableException",
        "documentation" : "Retryable exception. In general indicates internal failure that can be fixed by retry.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "Non-retryable exception, indicates client error (wrong argument passed to API). See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Increased rate over throttling limits. Can be retried with exponential backoff.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "KMSInvalidKeyUsageException",
        "documentation" : "Non-retryable exception. Indicates the KMS key usage is incorrect. See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutObjectRequest",
        "variableName" : "putObjectRequest",
        "variableType" : "PutObjectRequest",
        "documentation" : "",
        "simpleType" : "PutObjectRequest",
        "variableSetterType" : "PutObjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putObject",
      "operationName" : "PutObject",
      "returnType" : {
        "returnType" : "PutObjectResult",
        "documentation" : null
      },
      "syncReturnType" : "PutObjectResult"
    },
    "StartObject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartObjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartObjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartObjectRequest, StartObjectResult>",
      "asyncReturnType" : "StartObjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Start upload containing one or many chunks.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "Retryable exception, indicates internal server error.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceInternalException",
        "documentation" : "Deprecated. To be removed from the model.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "RetryableException",
        "documentation" : "Retryable exception. In general indicates internal failure that can be fixed by retry.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "Non-retryable exception, indicates client error (wrong argument passed to API). See exception message for details.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Non-retryable exception. Attempted to make an operation on non-existing or expired resource.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "DataAlreadyExistsException",
        "documentation" : "Non-retryable exception. Attempted to create already existing object or chunk. This message contains a checksum of already presented data.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Increased rate over throttling limits. Can be retried with exponential backoff.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartObjectRequest",
        "variableName" : "startObjectRequest",
        "variableType" : "StartObjectRequest",
        "documentation" : "",
        "simpleType" : "StartObjectRequest",
        "variableSetterType" : "StartObjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startObject",
      "operationName" : "StartObject",
      "returnType" : {
        "returnType" : "StartObjectResult",
        "documentation" : null
      },
      "syncReturnType" : "StartObjectResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.backupstorage.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.backupstorage.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "BackupObject" : {
      "c2jName" : "BackupObject",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Object",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.backupstorage.model.BackupObject",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "string",
        "deprecated" : false,
        "documentation" : "Object name",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Object name\n@param name Object name\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**Object name\n@return Object name*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**Object name\n@param name Object name*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Object name\n@param name Object name\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "Object name",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChunksCount",
        "c2jShape" : "OptionalLong",
        "deprecated" : false,
        "documentation" : "Number of chunks in object",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Number of chunks in object\n@param chunksCount Number of chunks in object\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChunksCount",
        "getterDocumentation" : "/**Number of chunks in object\n@return Number of chunks in object*/",
        "getterMethodName" : "getChunksCount",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChunksCount",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChunksCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ChunksCount",
        "sensitive" : false,
        "setterDocumentation" : "/**Number of chunks in object\n@param chunksCount Number of chunks in object*/",
        "setterMethodName" : "setChunksCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "chunksCount",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Number of chunks in object\n@param chunksCount Number of chunks in object\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "chunksCount",
          "variableType" : "Long",
          "documentation" : "Number of chunks in object",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MetadataString",
        "c2jShape" : "string",
        "deprecated" : false,
        "documentation" : "Metadata string associated with the Object",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Metadata string associated with the Object\n@param metadataString Metadata string associated with the Object\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMetadataString",
        "getterDocumentation" : "/**Metadata string associated with the Object\n@return Metadata string associated with the Object*/",
        "getterMethodName" : "getMetadataString",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MetadataString",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MetadataString",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MetadataString",
        "sensitive" : false,
        "setterDocumentation" : "/**Metadata string associated with the Object\n@param metadataString Metadata string associated with the Object*/",
        "setterMethodName" : "setMetadataString",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "metadataString",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Metadata string associated with the Object\n@param metadataString Metadata string associated with the Object\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "metadataString",
          "variableType" : "String",
          "documentation" : "Metadata string associated with the Object",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ObjectChecksum",
        "c2jShape" : "string",
        "deprecated" : false,
        "documentation" : "Object checksum",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Object checksum\n@param objectChecksum Object checksum\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withObjectChecksum",
        "getterDocumentation" : "/**Object checksum\n@return Object checksum*/",
        "getterMethodName" : "getObjectChecksum",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ObjectChecksum",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ObjectChecksum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ObjectChecksum",
        "sensitive" : false,
        "setterDocumentation" : "/**Object checksum\n@param objectChecksum Object checksum*/",
        "setterMethodName" : "setObjectChecksum",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "objectChecksum",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Object checksum\n@param objectChecksum Object checksum\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "objectChecksum",
          "variableType" : "String",
          "documentation" : "Object checksum",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ObjectChecksumAlgorithm",
        "c2jShape" : "SummaryChecksumAlgorithm",
        "deprecated" : false,
        "documentation" : "Checksum algorithm",
        "endpointDiscoveryId" : false,
        "enumType" : "SummaryChecksumAlgorithm",
        "fluentSetterDocumentation" : "/**Checksum algorithm\n@param objectChecksumAlgorithm Checksum algorithm\n@return Returns a reference to this object so that method calls can be chained together.\n@see SummaryChecksumAlgorithm*/",
        "fluentSetterMethodName" : "withObjectChecksumAlgorithm",
        "getterDocumentation" : "/**Checksum algorithm\n@return Checksum algorithm\n@see SummaryChecksumAlgorithm*/",
        "getterMethodName" : "getObjectChecksumAlgorithm",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ObjectChecksumAlgorithm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ObjectChecksumAlgorithm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ObjectChecksumAlgorithm",
        "sensitive" : false,
        "setterDocumentation" : "/**Checksum algorithm\n@param objectChecksumAlgorithm Checksum algorithm\n@see SummaryChecksumAlgorithm*/",
        "setterMethodName" : "setObjectChecksumAlgorithm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "objectChecksumAlgorithm",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Checksum algorithm\n@param objectChecksumAlgorithm Checksum algorithm\n@return Returns a reference to this object so that method calls can be chained together.\n@see SummaryChecksumAlgorithm*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "objectChecksumAlgorithm",
          "variableType" : "String",
          "documentation" : "Checksum algorithm",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ObjectToken",
        "c2jShape" : "string",
        "deprecated" : false,
        "documentation" : "Object token",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Object token\n@param objectToken Object token\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withObjectToken",
        "getterDocumentation" : "/**Object token\n@return Object token*/",
        "getterMethodName" : "getObjectToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ObjectToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ObjectToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ObjectToken",
        "sensitive" : false,
        "setterDocumentation" : "/**Object token\n@param objectToken Object token*/",
        "setterMethodName" : "setObjectToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "objectToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Object token\n@param objectToken Object token\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "objectToken",
          "variableType" : "String",
          "documentation" : "Object token",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ChunksCount" : {
          "c2jName" : "ChunksCount",
          "c2jShape" : "OptionalLong",
          "deprecated" : false,
          "documentation" : "Number of chunks in object",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Number of chunks in object\n@param chunksCount Number of chunks in object\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChunksCount",
          "getterDocumentation" : "/**Number of chunks in object\n@return Number of chunks in object*/",
          "getterMethodName" : "getChunksCount",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ChunksCount",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ChunksCount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "ChunksCount",
          "sensitive" : false,
          "setterDocumentation" : "/**Number of chunks in object\n@param chunksCount Number of chunks in object*/",
          "setterMethodName" : "setChunksCount",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "chunksCount",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Number of chunks in object\n@param chunksCount Number of chunks in object\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "chunksCount",
            "variableType" : "Long",
            "documentation" : "Number of chunks in object",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "MetadataString" : {
          "c2jName" : "MetadataString",
          "c2jShape" : "string",
          "deprecated" : false,
          "documentation" : "Metadata string associated with the Object",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Metadata string associated with the Object\n@param metadataString Metadata string associated with the Object\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMetadataString",
          "getterDocumentation" : "/**Metadata string associated with the Object\n@return Metadata string associated with the Object*/",
          "getterMethodName" : "getMetadataString",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MetadataString",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MetadataString",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MetadataString",
          "sensitive" : false,
          "setterDocumentation" : "/**Metadata string associated with the Object\n@param metadataString Metadata string associated with the Object*/",
          "setterMethodName" : "setMetadataString",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "metadataString",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Metadata string associated with the Object\n@param metadataString Metadata string associated with the Object\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "metadataString",
            "variableType" : "String",
            "documentation" : "Metadata string associated with the Object",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "string",
          "deprecated" : false,
          "documentation" : "Object name",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Object name\n@param name Object name\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**Object name\n@return Object name*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**Object name\n@param name Object name*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Object name\n@param name Object name\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "Object name",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ObjectChecksum" : {
          "c2jName" : "ObjectChecksum",
          "c2jShape" : "string",
          "deprecated" : false,
          "documentation" : "Object checksum",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Object checksum\n@param objectChecksum Object checksum\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withObjectChecksum",
          "getterDocumentation" : "/**Object checksum\n@return Object checksum*/",
          "getterMethodName" : "getObjectChecksum",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ObjectChecksum",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ObjectChecksum",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ObjectChecksum",
          "sensitive" : false,
          "setterDocumentation" : "/**Object checksum\n@param objectChecksum Object checksum*/",
          "setterMethodName" : "setObjectChecksum",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "objectChecksum",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Object checksum\n@param objectChecksum Object checksum\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "objectChecksum",
            "variableType" : "String",
            "documentation" : "Object checksum",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ObjectChecksumAlgorithm" : {
          "c2jName" : "ObjectChecksumAlgorithm",
          "c2jShape" : "SummaryChecksumAlgorithm",
          "deprecated" : false,
          "documentation" : "Checksum algorithm",
          "endpointDiscoveryId" : false,
          "enumType" : "SummaryChecksumAlgorithm",
          "fluentSetterDocumentation" : "/**Checksum algorithm\n@param objectChecksumAlgorithm Checksum algorithm\n@return Returns a reference to this object so that method calls can be chained together.\n@see SummaryChecksumAlgorithm*/",
          "fluentSetterMethodName" : "withObjectChecksumAlgorithm",
          "getterDocumentation" : "/**Checksum algorithm\n@return Checksum algorithm\n@see SummaryChecksumAlgorithm*/",
          "getterMethodName" : "getObjectChecksumAlgorithm",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ObjectChecksumAlgorithm",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ObjectChecksumAlgorithm",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ObjectChecksumAlgorithm",
          "sensitive" : false,
          "setterDocumentation" : "/**Checksum algorithm\n@param objectChecksumAlgorithm Checksum algorithm\n@see SummaryChecksumAlgorithm*/",
          "setterMethodName" : "setObjectChecksumAlgorithm",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "objectChecksumAlgorithm",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Checksum algorithm\n@param objectChecksumAlgorithm Checksum algorithm\n@return Returns a reference to this object so that method calls can be chained together.\n@see SummaryChecksumAlgorithm*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "objectChecksumAlgorithm",
            "variableType" : "String",
            "documentation" : "Checksum algorithm",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ObjectToken" : {
          "c2jName" : "ObjectToken",
          "c2jShape" : "string",
          "deprecated" : false,
          "documentation" : "Object token",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Object token\n@param objectToken Object token\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withObjectToken",
          "getterDocumentation" : "/**Object token\n@return Object token*/",
          "getterMethodName" : "getObjectToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ObjectToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ObjectToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ObjectToken",
          "sensitive" : false,
          "setterDocumentation" : "/**Object token\n@param objectToken Object token*/",
          "setterMethodName" : "setObjectToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "objectToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Object token\n@param objectToken Object token\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "objectToken",
            "variableType" : "String",
            "documentation" : "Object token",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.backupstorage.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Name", "ObjectChecksum", "ObjectChecksumAlgorithm", "ObjectToken" ],
      "shapeName" : "BackupObject",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BackupObject",
        "variableName" : "backupObject",
        "variableType" : "BackupObject",
        "documentation" : null,
        "simpleType" : "BackupObject",
        "variableSetterType" : "BackupObject"
      },
      "wrapper" : false
    },
    "Chunk" : {
      "c2jName" : "Chunk",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Chunk",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.backupstorage.model.Chunk",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Index",
        "c2jShape" : "long",
        "deprecated" : false,
        "documentation" : "Chunk index",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Chunk index\n@param index Chunk index\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIndex",
        "getterDocumentation" : "/**Chunk index\n@return Chunk index*/",
        "getterMethodName" : "getIndex",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Index",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Index",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "Index",
        "sensitive" : false,
        "setterDocumentation" : "/**Chunk index\n@param index Chunk index*/",
        "setterMethodName" : "setIndex",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "index",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Chunk index\n@param index Chunk index\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "index",
          "variableType" : "Long",
          "documentation" : "Chunk index",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Length",
        "c2jShape" : "long",
        "deprecated" : false,
        "documentation" : "Chunk length",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Chunk length\n@param length Chunk length\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLength",
        "getterDocumentation" : "/**Chunk length\n@return Chunk length*/",
        "getterMethodName" : "getLength",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Length",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Length",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "Length",
        "sensitive" : false,
        "setterDocumentation" : "/**Chunk length\n@param length Chunk length*/",
        "setterMethodName" : "setLength",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "length",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Chunk length\n@param length Chunk length\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "length",
          "variableType" : "Long",
          "documentation" : "Chunk length",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Checksum",
        "c2jShape" : "string",
        "deprecated" : false,
        "documentation" : "Chunk checksum",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Chunk checksum\n@param checksum Chunk checksum\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChecksum",
        "getterDocumentation" : "/**Chunk checksum\n@return Chunk checksum*/",
        "getterMethodName" : "getChecksum",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Checksum",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Checksum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Checksum",
        "sensitive" : false,
        "setterDocumentation" : "/**Chunk checksum\n@param checksum Chunk checksum*/",
        "setterMethodName" : "setChecksum",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksum",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Chunk checksum\n@param checksum Chunk checksum\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksum",
          "variableType" : "String",
          "documentation" : "Chunk checksum",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChecksumAlgorithm",
        "c2jShape" : "DataChecksumAlgorithm",
        "deprecated" : false,
        "documentation" : "Checksum algorithm",
        "endpointDiscoveryId" : false,
        "enumType" : "DataChecksumAlgorithm",
        "fluentSetterDocumentation" : "/**Checksum algorithm\n@param checksumAlgorithm Checksum algorithm\n@return Returns a reference to this object so that method calls can be chained together.\n@see DataChecksumAlgorithm*/",
        "fluentSetterMethodName" : "withChecksumAlgorithm",
        "getterDocumentation" : "/**Checksum algorithm\n@return Checksum algorithm\n@see DataChecksumAlgorithm*/",
        "getterMethodName" : "getChecksumAlgorithm",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChecksumAlgorithm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChecksumAlgorithm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChecksumAlgorithm",
        "sensitive" : false,
        "setterDocumentation" : "/**Checksum algorithm\n@param checksumAlgorithm Checksum algorithm\n@see DataChecksumAlgorithm*/",
        "setterMethodName" : "setChecksumAlgorithm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksumAlgorithm",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Checksum algorithm\n@param checksumAlgorithm Checksum algorithm\n@return Returns a reference to this object so that method calls can be chained together.\n@see DataChecksumAlgorithm*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksumAlgorithm",
          "variableType" : "String",
          "documentation" : "Checksum algorithm",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChunkToken",
        "c2jShape" : "string",
        "deprecated" : false,
        "documentation" : "Chunk token",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Chunk token\n@param chunkToken Chunk token\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChunkToken",
        "getterDocumentation" : "/**Chunk token\n@return Chunk token*/",
        "getterMethodName" : "getChunkToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChunkToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChunkToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChunkToken",
        "sensitive" : false,
        "setterDocumentation" : "/**Chunk token\n@param chunkToken Chunk token*/",
        "setterMethodName" : "setChunkToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "chunkToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Chunk token\n@param chunkToken Chunk token\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "chunkToken",
          "variableType" : "String",
          "documentation" : "Chunk token",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Checksum" : {
          "c2jName" : "Checksum",
          "c2jShape" : "string",
          "deprecated" : false,
          "documentation" : "Chunk checksum",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Chunk checksum\n@param checksum Chunk checksum\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChecksum",
          "getterDocumentation" : "/**Chunk checksum\n@return Chunk checksum*/",
          "getterMethodName" : "getChecksum",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Checksum",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Checksum",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Checksum",
          "sensitive" : false,
          "setterDocumentation" : "/**Chunk checksum\n@param checksum Chunk checksum*/",
          "setterMethodName" : "setChecksum",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "checksum",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Chunk checksum\n@param checksum Chunk checksum\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "checksum",
            "variableType" : "String",
            "documentation" : "Chunk checksum",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ChecksumAlgorithm" : {
          "c2jName" : "ChecksumAlgorithm",
          "c2jShape" : "DataChecksumAlgorithm",
          "deprecated" : false,
          "documentation" : "Checksum algorithm",
          "endpointDiscoveryId" : false,
          "enumType" : "DataChecksumAlgorithm",
          "fluentSetterDocumentation" : "/**Checksum algorithm\n@param checksumAlgorithm Checksum algorithm\n@return Returns a reference to this object so that method calls can be chained together.\n@see DataChecksumAlgorithm*/",
          "fluentSetterMethodName" : "withChecksumAlgorithm",
          "getterDocumentation" : "/**Checksum algorithm\n@return Checksum algorithm\n@see DataChecksumAlgorithm*/",
          "getterMethodName" : "getChecksumAlgorithm",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ChecksumAlgorithm",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ChecksumAlgorithm",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChecksumAlgorithm",
          "sensitive" : false,
          "setterDocumentation" : "/**Checksum algorithm\n@param checksumAlgorithm Checksum algorithm\n@see DataChecksumAlgorithm*/",
          "setterMethodName" : "setChecksumAlgorithm",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "checksumAlgorithm",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Checksum algorithm\n@param checksumAlgorithm Checksum algorithm\n@return Returns a reference to this object so that method calls can be chained together.\n@see DataChecksumAlgorithm*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "checksumAlgorithm",
            "variableType" : "String",
            "documentation" : "Checksum algorithm",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ChunkToken" : {
          "c2jName" : "ChunkToken",
          "c2jShape" : "string",
          "deprecated" : false,
          "documentation" : "Chunk token",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Chunk token\n@param chunkToken Chunk token\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChunkToken",
          "getterDocumentation" : "/**Chunk token\n@return Chunk token*/",
          "getterMethodName" : "getChunkToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ChunkToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ChunkToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChunkToken",
          "sensitive" : false,
          "setterDocumentation" : "/**Chunk token\n@param chunkToken Chunk token*/",
          "setterMethodName" : "setChunkToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "chunkToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Chunk token\n@param chunkToken Chunk token\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "chunkToken",
            "variableType" : "String",
            "documentation" : "Chunk token",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Index" : {
          "c2jName" : "Index",
          "c2jShape" : "long",
          "deprecated" : false,
          "documentation" : "Chunk index",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Chunk index\n@param index Chunk index\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIndex",
          "getterDocumentation" : "/**Chunk index\n@return Chunk index*/",
          "getterMethodName" : "getIndex",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Index",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Index",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "Index",
          "sensitive" : false,
          "setterDocumentation" : "/**Chunk index\n@param index Chunk index*/",
          "setterMethodName" : "setIndex",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "index",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Chunk index\n@param index Chunk index\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "index",
            "variableType" : "Long",
            "documentation" : "Chunk index",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "Length" : {
          "c2jName" : "Length",
          "c2jShape" : "long",
          "deprecated" : false,
          "documentation" : "Chunk length",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Chunk length\n@param length Chunk length\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLength",
          "getterDocumentation" : "/**Chunk length\n@return Chunk length*/",
          "getterMethodName" : "getLength",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Length",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Length",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "Length",
          "sensitive" : false,
          "setterDocumentation" : "/**Chunk length\n@param length Chunk length*/",
          "setterMethodName" : "setLength",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "length",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Chunk length\n@param length Chunk length\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "length",
            "variableType" : "Long",
            "documentation" : "Chunk length",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.backupstorage.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Index", "Length", "Checksum", "ChecksumAlgorithm", "ChunkToken" ],
      "shapeName" : "Chunk",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Chunk",
        "variableName" : "chunk",
        "variableType" : "Chunk",
        "documentation" : null,
        "simpleType" : "Chunk",
        "variableSetterType" : "Chunk"
      },
      "wrapper" : false
    },
    "DataAlreadyExistsException" : {
      "c2jName" : "DataAlreadyExistsException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Non-retryable exception. Attempted to create already existing object or chunk. This message contains a checksum of already presented data.",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "DataAlreadyExistsException",
      "fullyQualifiedName" : "com.amazonaws.services.backupstorage.exception.DataAlreadyExistsException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Checksum",
        "c2jShape" : "string",
        "deprecated" : false,
        "documentation" : "Data checksum used",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Data checksum used\n@param checksum Data checksum used\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChecksum",
        "getterDocumentation" : "/**Data checksum used\n@return Data checksum used*/",
        "getterMethodName" : "getChecksum",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Checksum",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Checksum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Checksum",
        "sensitive" : false,
        "setterDocumentation" : "/**Data checksum used\n@param checksum Data checksum used*/",
        "setterMethodName" : "setChecksum",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksum",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Data checksum used\n@param checksum Data checksum used\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
[...]
