{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-01-01",
    "asyncClient" : "AWSBackupGatewayAsyncClient",
    "asyncClientBuilderClassName" : "AWSBackupGatewayAsyncClientBuilder",
    "asyncInterface" : "AWSBackupGatewayAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSBackupGatewayModuleInjector",
    "defaultEndpoint" : "backup-gateway.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "backup-gateway.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p><fullname>Backup gateway</fullname> <p>Backup gateway connects Backup to your hypervisor, so you can create, store, and restore backups of your virtual machines (VMs) anywhere, whether on-premises or in the VMware Cloud (VMC) on Amazon Web Services.</p> <p>Add on-premises resources by connecting to a hypervisor through a gateway. Backup will automatically discover the resources in your hypervisor.</p> <p>Use Backup to assign virtual or on-premises resources to a backup plan, or run on-demand backups. Once you have backed up your resources, you can view them and restore them like any resource supported by Backup.</p> <p>To download the Amazon Web Services software to get started, navigate to the Backup console, choose <b>Gateways</b>, then choose <b>Create gateway</b>.</p></p>",
    "endpointPrefix" : "backup-gateway",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.backupgateway",
    "packagePath" : "com/amazonaws/services/backupgateway",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Backup Gateway",
    "serviceId" : "Backup Gateway",
    "serviceName" : "AWS Backup Gateway",
    "signingName" : "backup-gateway",
    "smokeTestsPackageName" : "com.amazonaws.services.backupgateway.smoketests",
    "syncClient" : "AWSBackupGatewayClient",
    "syncClientBuilderClassName" : "AWSBackupGatewayClientBuilder",
    "syncInterface" : "AWSBackupGateway",
    "uid" : "backup-gateway-2021-01-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateGatewayToServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateGatewayToServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateGatewayToServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateGatewayToServerRequest, AssociateGatewayToServerResult>",
      "asyncReturnType" : "AssociateGatewayToServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a backup gateway with your server. After you complete the association process, you can back up and restore your VMs through the gateway.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The operation cannot proceed because it is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateGatewayToServerRequest",
        "variableName" : "associateGatewayToServerRequest",
        "variableType" : "AssociateGatewayToServerRequest",
        "documentation" : "",
        "simpleType" : "AssociateGatewayToServerRequest",
        "variableSetterType" : "AssociateGatewayToServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateGatewayToServer",
      "operationName" : "AssociateGatewayToServer",
      "returnType" : {
        "returnType" : "AssociateGatewayToServerResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateGatewayToServerResult"
    },
    "CreateGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGatewayRequest, CreateGatewayResult>",
      "asyncReturnType" : "CreateGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a backup gateway. After you create a gateway, you can associate it with a server using the <code>AssociateGatewayToServer</code> operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGatewayRequest",
        "variableName" : "createGatewayRequest",
        "variableType" : "CreateGatewayRequest",
        "documentation" : "",
        "simpleType" : "CreateGatewayRequest",
        "variableSetterType" : "CreateGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGateway",
      "operationName" : "CreateGateway",
      "returnType" : {
        "returnType" : "CreateGatewayResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGatewayResult"
    },
    "DeleteGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGatewayRequest, DeleteGatewayResult>",
      "asyncReturnType" : "DeleteGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a backup gateway.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGatewayRequest",
        "variableName" : "deleteGatewayRequest",
        "variableType" : "DeleteGatewayRequest",
        "documentation" : "",
        "simpleType" : "DeleteGatewayRequest",
        "variableSetterType" : "DeleteGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGateway",
      "operationName" : "DeleteGateway",
      "returnType" : {
        "returnType" : "DeleteGatewayResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGatewayResult"
    },
    "DeleteHypervisor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHypervisorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHypervisorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHypervisorRequest, DeleteHypervisorResult>",
      "asyncReturnType" : "DeleteHypervisorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a hypervisor.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The operation cannot proceed because you have insufficient permissions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteHypervisorRequest",
        "variableName" : "deleteHypervisorRequest",
        "variableType" : "DeleteHypervisorRequest",
        "documentation" : "",
        "simpleType" : "DeleteHypervisorRequest",
        "variableSetterType" : "DeleteHypervisorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteHypervisor",
      "operationName" : "DeleteHypervisor",
      "returnType" : {
        "returnType" : "DeleteHypervisorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteHypervisorResult"
    },
    "DisassociateGatewayFromServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateGatewayFromServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateGatewayFromServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateGatewayFromServerRequest, DisassociateGatewayFromServerResult>",
      "asyncReturnType" : "DisassociateGatewayFromServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a backup gateway from the specified server. After the disassociation process finishes, the gateway can no longer access the virtual machines on the server.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The operation cannot proceed because it is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateGatewayFromServerRequest",
        "variableName" : "disassociateGatewayFromServerRequest",
        "variableType" : "DisassociateGatewayFromServerRequest",
        "documentation" : "",
        "simpleType" : "DisassociateGatewayFromServerRequest",
        "variableSetterType" : "DisassociateGatewayFromServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateGatewayFromServer",
      "operationName" : "DisassociateGatewayFromServer",
      "returnType" : {
        "returnType" : "DisassociateGatewayFromServerResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateGatewayFromServerResult"
    },
    "GetGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGatewayRequest, GetGatewayResult>",
      "asyncReturnType" : "GetGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>By providing the ARN (Amazon Resource Name), this API returns the gateway.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGatewayRequest",
        "variableName" : "getGatewayRequest",
        "variableType" : "GetGatewayRequest",
        "documentation" : "",
        "simpleType" : "GetGatewayRequest",
        "variableSetterType" : "GetGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGateway",
      "operationName" : "GetGateway",
      "returnType" : {
        "returnType" : "GetGatewayResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGatewayResult"
    },
    "GetVirtualMachine" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVirtualMachineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVirtualMachineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVirtualMachineRequest, GetVirtualMachineResult>",
      "asyncReturnType" : "GetVirtualMachineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>By providing the ARN (Amazon Resource Name), this API returns the virtual machine.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVirtualMachineRequest",
        "variableName" : "getVirtualMachineRequest",
        "variableType" : "GetVirtualMachineRequest",
        "documentation" : "",
        "simpleType" : "GetVirtualMachineRequest",
        "variableSetterType" : "GetVirtualMachineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVirtualMachine",
      "operationName" : "GetVirtualMachine",
      "returnType" : {
        "returnType" : "GetVirtualMachineResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVirtualMachineResult"
    },
    "ImportHypervisorConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportHypervisorConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportHypervisorConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportHypervisorConfigurationRequest, ImportHypervisorConfigurationResult>",
      "asyncReturnType" : "ImportHypervisorConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Connect to a hypervisor by importing its configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The operation cannot proceed because you have insufficient permissions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportHypervisorConfigurationRequest",
        "variableName" : "importHypervisorConfigurationRequest",
        "variableType" : "ImportHypervisorConfigurationRequest",
        "documentation" : "",
        "simpleType" : "ImportHypervisorConfigurationRequest",
        "variableSetterType" : "ImportHypervisorConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importHypervisorConfiguration",
      "operationName" : "ImportHypervisorConfiguration",
      "returnType" : {
        "returnType" : "ImportHypervisorConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportHypervisorConfigurationResult"
    },
    "ListGateways" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGatewaysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGatewaysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGatewaysRequest, ListGatewaysResult>",
      "asyncReturnType" : "ListGatewaysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists backup gateways owned by an Amazon Web Services account in an Amazon Web Services Region. The returned list is ordered by gateway Amazon Resource Name (ARN).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGatewaysRequest",
        "variableName" : "listGatewaysRequest",
        "variableType" : "ListGatewaysRequest",
        "documentation" : "",
        "simpleType" : "ListGatewaysRequest",
        "variableSetterType" : "ListGatewaysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGateways",
      "operationName" : "ListGateways",
      "returnType" : {
        "returnType" : "ListGatewaysResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGatewaysResult"
    },
    "ListHypervisors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListHypervisorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListHypervisorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHypervisorsRequest, ListHypervisorsResult>",
      "asyncReturnType" : "ListHypervisorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists your hypervisors.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListHypervisorsRequest",
        "variableName" : "listHypervisorsRequest",
        "variableType" : "ListHypervisorsRequest",
        "documentation" : "",
        "simpleType" : "ListHypervisorsRequest",
        "variableSetterType" : "ListHypervisorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listHypervisors",
      "operationName" : "ListHypervisors",
      "returnType" : {
        "returnType" : "ListHypervisorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListHypervisorsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags applied to the resource identified by its Amazon Resource Name (ARN).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListVirtualMachines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVirtualMachinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVirtualMachinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVirtualMachinesRequest, ListVirtualMachinesResult>",
      "asyncReturnType" : "ListVirtualMachinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists your virtual machines.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVirtualMachinesRequest",
        "variableName" : "listVirtualMachinesRequest",
        "variableType" : "ListVirtualMachinesRequest",
        "documentation" : "",
        "simpleType" : "ListVirtualMachinesRequest",
        "variableSetterType" : "ListVirtualMachinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVirtualMachines",
      "operationName" : "ListVirtualMachines",
      "returnType" : {
        "returnType" : "ListVirtualMachinesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListVirtualMachinesResult"
    },
    "PutMaintenanceStartTime" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutMaintenanceStartTimeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutMaintenanceStartTimeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMaintenanceStartTimeRequest, PutMaintenanceStartTimeResult>",
      "asyncReturnType" : "PutMaintenanceStartTimeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Set the maintenance start time for a gateway.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The operation cannot proceed because it is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutMaintenanceStartTimeRequest",
        "variableName" : "putMaintenanceStartTimeRequest",
        "variableType" : "PutMaintenanceStartTimeRequest",
        "documentation" : "",
        "simpleType" : "PutMaintenanceStartTimeRequest",
        "variableSetterType" : "PutMaintenanceStartTimeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putMaintenanceStartTime",
      "operationName" : "PutMaintenanceStartTime",
      "returnType" : {
        "returnType" : "PutMaintenanceStartTimeResult",
        "documentation" : null
      },
      "syncReturnType" : "PutMaintenanceStartTimeResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tag the resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "TestHypervisorConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TestHypervisorConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TestHypervisorConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestHypervisorConfigurationRequest, TestHypervisorConfigurationResult>",
      "asyncReturnType" : "TestHypervisorConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tests your hypervisor configuration to validate that backup gateway can connect with the hypervisor and its resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The operation cannot proceed because it is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TestHypervisorConfigurationRequest",
        "variableName" : "testHypervisorConfigurationRequest",
        "variableType" : "TestHypervisorConfigurationRequest",
        "documentation" : "",
        "simpleType" : "TestHypervisorConfigurationRequest",
        "variableSetterType" : "TestHypervisorConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "testHypervisorConfiguration",
      "operationName" : "TestHypervisorConfiguration",
      "returnType" : {
        "returnType" : "TestHypervisorConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "TestHypervisorConfigurationResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from the resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateGatewayInformation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGatewayInformationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGatewayInformationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGatewayInformationRequest, UpdateGatewayInformationResult>",
      "asyncReturnType" : "UpdateGatewayInformationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a gateway's name. Specify which gateway to update using the Amazon Resource Name (ARN) of the gateway in your request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The operation cannot proceed because it is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateGatewayInformationRequest",
        "variableName" : "updateGatewayInformationRequest",
        "variableType" : "UpdateGatewayInformationRequest",
        "documentation" : "",
        "simpleType" : "UpdateGatewayInformationRequest",
        "variableSetterType" : "UpdateGatewayInformationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGatewayInformation",
      "operationName" : "UpdateGatewayInformation",
      "returnType" : {
        "returnType" : "UpdateGatewayInformationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGatewayInformationResult"
    },
    "UpdateGatewaySoftwareNow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGatewaySoftwareNowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGatewaySoftwareNowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGatewaySoftwareNowRequest, UpdateGatewaySoftwareNowResult>",
      "asyncReturnType" : "UpdateGatewaySoftwareNowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the gateway virtual machine (VM) software. The request immediately triggers the software update.</p> <note> <p>When you make this request, you get a <code>200 OK</code> success response immediately. However, it might take some time for the update to complete.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateGatewaySoftwareNowRequest",
        "variableName" : "updateGatewaySoftwareNowRequest",
        "variableType" : "UpdateGatewaySoftwareNowRequest",
        "documentation" : "",
        "simpleType" : "UpdateGatewaySoftwareNowRequest",
        "variableSetterType" : "UpdateGatewaySoftwareNowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGatewaySoftwareNow",
      "operationName" : "UpdateGatewaySoftwareNow",
      "returnType" : {
        "returnType" : "UpdateGatewaySoftwareNowResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGatewaySoftwareNowResult"
    },
    "UpdateHypervisor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateHypervisorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateHypervisorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateHypervisorRequest, UpdateHypervisorResult>",
      "asyncReturnType" : "UpdateHypervisorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a hypervisor metadata, including its host, username, and password. Specify which hypervisor to update using the Amazon Resource Name (ARN) of the hypervisor in your request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The operation did not succeed because a validation error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The operation cannot proceed because you have insufficient permissions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action wasn't found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>TPS has been limited to protect against intentional or unintentional high request volumes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateHypervisorRequest",
        "variableName" : "updateHypervisorRequest",
        "variableType" : "UpdateHypervisorRequest",
        "documentation" : "",
        "simpleType" : "UpdateHypervisorRequest",
        "variableSetterType" : "UpdateHypervisorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateHypervisor",
      "operationName" : "UpdateHypervisor",
      "returnType" : {
        "returnType" : "UpdateHypervisorResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateHypervisorResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The operation cannot proceed because you have insufficient permissions.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.backupgateway.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ErrorCode",
        "c2jShape" : "string",
        "deprecated" : false,
        "documentation" : "<p>A description of why you have insufficient permissions.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description of why you have insufficient permissions.</p>\n@param errorCode A description of why you have insufficient permissions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorCode",
        "getterDocumentation" : "/**<p>A description of why you have insufficient permissions.</p>\n@return A description of why you have insufficient permissions.*/",
        "getterMethodName" : "getErrorCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ErrorCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ErrorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A description of why you have insufficient permissions.</p>\n@param errorCode A description of why you have insufficient permissions.*/",
        "setterMethodName" : "setErrorCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description of why you have insufficient permissions.</p>\n@param errorCode A description of why you have insufficient permissions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "<p>A description of why you have insufficient permissions.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ErrorCode" : {
          "c2jName" : "ErrorCode",
          "c2jShape" : "string",
          "deprecated" : false,
          "documentation" : "<p>A description of why you have insufficient permissions.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description of why you have insufficient permissions.</p>\n@param errorCode A description of why you have insufficient permissions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withErrorCode",
          "getterDocumentation" : "/**<p>A description of why you have insufficient permissions.</p>\n@return A description of why you have insufficient permissions.*/",
          "getterMethodName" : "getErrorCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ErrorCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ErrorCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ErrorCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A description of why you have insufficient permissions.</p>\n@param errorCode A description of why you have insufficient permissions.*/",
          "setterMethodName" : "setErrorCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A description of why you have insufficient permissions.</p>\n@param errorCode A description of why you have insufficient permissions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "<p>A description of why you have insufficient permissions.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.backupgateway.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ErrorCode" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AssociateGatewayToServerRequest" : {
      "c2jName" : "AssociateGatewayToServerInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.backupgateway.request.AssociateGatewayToServerRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateGatewayToServer",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "BackupOnPremises_v20210101.AssociateGatewayToServer",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "GatewayArn",
        "c2jShape" : "GatewayArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.</p>\n@param gatewayArn The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGatewayArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.</p>\n@return The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.*/",
        "getterMethodName" : "getGatewayArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "GatewayArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "GatewayArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GatewayArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.</p>\n@param gatewayArn The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.*/",
        "setterMethodName" : "setGatewayArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "gatewayArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.</p>\n@param gatewayArn The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "gatewayArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ServerArn",
        "c2jShape" : "ServerArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>\n@param serverArn The Amazon Resource Name (ARN) of the server that hosts your virtual machines.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withServerArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>\n@return The Amazon Resource Name (ARN) of the server that hosts your virtual machines.*/",
        "getterMethodName" : "getServerArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ServerArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServerArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ServerArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>\n@param serverArn The Amazon Resource Name (ARN) of the server that hosts your virtual machines.*/",
        "setterMethodName" : "setServerArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serverArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>\n@param serverArn The Amazon Resource Name (ARN) of the server that hosts your virtual machines.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serverArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "GatewayArn" : {
          "c2jName" : "GatewayArn",
          "c2jShape" : "GatewayArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.</p>\n@param gatewayArn The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGatewayArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.</p>\n@return The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.*/",
          "getterMethodName" : "getGatewayArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "GatewayArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "GatewayArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "GatewayArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.</p>\n@param gatewayArn The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.*/",
          "setterMethodName" : "setGatewayArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "gatewayArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.</p>\n@param gatewayArn The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "gatewayArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation to return a list of gateways for your account and Amazon Web Services Region.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ServerArn" : {
          "c2jName" : "ServerArn",
          "c2jShape" : "ServerArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>\n@param serverArn The Amazon Resource Name (ARN) of the server that hosts your virtual machines.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withServerArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>\n@return The Amazon Resource Name (ARN) of the server that hosts your virtual machines.*/",
          "getterMethodName" : "getServerArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ServerArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ServerArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ServerArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>\n@param serverArn The Amazon Resource Name (ARN) of the server that hosts your virtual machines.*/",
          "setterMethodName" : "setServerArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "serverArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>\n@param serverArn The Amazon Resource Name (ARN) of the server that hosts your virtual machines.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "serverArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.backupgateway.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "GatewayArn", "ServerArn" ],
      "shapeName" : "AssociateGatewayToServerRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateGatewayToServerRequest",
        "variableName" : "associateGatewayToServerRequest",
        "variableType" : "AssociateGatewayToServerRequest",
        "documentation" : null,
        "simpleType" : "AssociateGatewayToServerRequest",
        "variableSetterType" : "AssociateGatewayToServerRequest"
      },
      "wrapper" : false
    },
    "AssociateGatewayToServerResult" : {
      "c2jName" : "AssociateGatewayToServerOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.backupgateway.response.AssociateGatewayToServerResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "GatewayArn",
        "c2jShape" : "GatewayArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of a gateway.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a gateway.</p>\n@param gatewayArn The Amazon Resource Name (ARN) of a gateway.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGatewayArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a gateway.</p>\n@return The Amazon Resource Name (ARN) of a gateway.*/",
        "getterMethodName" : "getGatewayArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "GatewayArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "GatewayArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GatewayArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a gateway.</p>\n@param gatewayArn The Amazon Resource Name (ARN) of a gateway.*/",
        "setterMethodName" : "setGatewayArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "gatewayArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a gateway.</p>\n@param gatewayArn The Amazon Resource Name (ARN) of a gateway.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "gatewayArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of a gateway.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "GatewayArn" : {
          "c2jName" : "GatewayArn",
          "c2jShape" : "GatewayArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of a gateway.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a gateway.</p>\n@param gatewayArn The Amazon Resource Name (ARN) of a gateway.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGatewayArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a gateway.</p>\n@return The Amazon Resource Name (ARN) of a gateway.*/",
          "getterMethodName" : "getGatewayArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "GatewayArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "GatewayArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "GatewayArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a gateway.</p>\n@param gatewayArn The Amazon Resource Name (ARN) of a gateway.*/",
          "setterMethodName" : "setGatewayArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "gatewayArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of a gateway.</p>\n@param gatewayArn The Amazon Resource Name (ARN) of a gateway.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "gatewayArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of a gateway.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.backupgateway.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AssociateGatewayToServerResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateGatewayToServerResult",
        "variableName" : "associateGatewayToServerResult",
        "variableType" : "AssociateGatewayToServerResult",
        "documentation" : null,
        "simpleType" : "AssociateGatewayToServerResult",
        "variableSetterType" : "AssociateGatewayToServerResult"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The operation cannot proceed because it is not supported.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.backupgateway.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ErrorCode",
        "c2jShape" : "string",
        "deprecated" : false,
        "documentation" : "<p>A description of why the operation is not supported.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description of why the operation is not supported.</p>\n@param errorCode A description of why the operation is not supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorCode",
        "getterDocumentation" : "/**<p>A description of why the operation is not supported.</p>\n@return A description of why the operation is not supported.*/",
        "getterMethodName" : "getErrorCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ErrorCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ErrorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A description of why the operation is not supported.</p>\n@param errorCode A description of why the operation is not supported.*/",
        "setterMethodName" : "setErrorCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description of why the operation is not supported.</p>\n@param errorCode A description of why the operation is not supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "<p>A description of why the operation is not supported.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ErrorCode" : {
          "c2jName" : "ErrorCode",
          "c2jShape" : "string",
          "deprecated" : false,
          "documentation" : "<p>A description of why the operation is not supported.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description of why the operation is not supported.</p>\n@param errorCode A description of why the operation is not supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withErrorCode",
          "getterDocumentation" : "/**<p>A description of why the operation is not supported.</p>\n@return A description of why the operation is not supported.*/",
          "getterMethodName" : "getErrorCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ErrorCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ErrorCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ErrorCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A description of why the operation is not supported.</p>\n@param errorCode A description of why the operation is not supported.*/",
          "setterMethodName" : "setErrorCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A description of why the operation is not supported.</p>\n@param errorCode A description of why the operation is not supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "<p>A description of why the operation is not supported.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.backupgateway.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ErrorCode" ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateGatewayRequest" : {
      "c2jName" : "CreateGatewayInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.backupgateway.request.CreateGatewayRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateGateway",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "BackupOnPremises_v20210101.CreateGateway",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ActivationKey",
        "c2jShape" : "ActivationKey",
        "deprecated" : false,
        "documentation" : "<p>The activation key of the created gateway.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The activation key of the created gateway.</p>\n@param activationKey The activation key of the created gateway.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withActivationKey",
        "getterDocumentation" : "/**<p>The activation key of the created gateway.</p>\n@return The activation key of the created gateway.*/",
        "getterMethodName" : "getActivationKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ActivationKey",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ActivationKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ActivationKey",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The activation key of the created gateway.</p>\n@param activationKey The activation key of the created gateway.*/",
        "setterMethodName" : "setActivationKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "activationKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The activation key of the created gateway.</p>\n@param activationKey The activation key of the created gateway.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "activationKey",
          "variableType" : "String",
          "documentation" : "<p>The activation key of the created gateway.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "GatewayDisplayName",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "<p>The display name of the created gateway.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The display name of the created gateway.</p>\n@param gatewayDisplayName The display name of the created gateway.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGatewayDisplayName",
        "getterDocumentation" : "/**<p>The display name of the created gateway.</p>\n@return The display name of the created gateway.*/",
        "getterMethodName" : "getGatewayDisplayName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "GatewayDisplayName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "GatewayDisplayName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GatewayDisplayName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The display name of the created gateway.</p>\n@param gatewayDisplayName The display name of the created gateway.*/",
        "setterMethodName" : "setGatewayDisplayName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "gatewayDisplayName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The display name of the created gateway.</p>\n@param gatewayDisplayName The display name of the created gateway.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "gatewayDisplayName",
          "variableType" : "String",
          "documentation" : "<p>The display name of the created gateway.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "GatewayType",
        "c2jShape" : "GatewayType",
        "deprecated" : false,
        "documentation" : "<p>The type of created gateway.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "GatewayType",
        "fluentSetterDocumentation" : "/**<p>The type of created gateway.</p>\n@param gatewayType The type of created gateway.\n@return Returns a reference to this object so that method calls can be chained together.\n@see GatewayType*/",
        "fluentSetterMethodName" : "withGatewayType",
        "getterDocumentation" : "/**<p>The type of created gateway.</p>\n@return The type of created gateway.\n@see GatewayType*/",
        "getterMethodName" : "getGatewayType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "GatewayType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "GatewayType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GatewayType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of created gateway.</p>\n@param gatewayType The type of created gateway.\n@see GatewayType*/",
        "setterMethodName" : "setGatewayType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "gatewayType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of created gateway.</p>\n@param gatewayType The type of created gateway.\n@return Returns a reference to this object so that method calls can be chained together.\n@see GatewayType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "gatewayType",
          "variableType" : "String",
          "documentation" : "<p>The type of created gateway.</p>",
[...]
