{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-11-15",
    "asyncClient" : "AWSBackupAsyncClient",
    "asyncClientBuilderClassName" : "AWSBackupAsyncClientBuilder",
    "asyncInterface" : "AWSBackupAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSBackupModuleInjector",
    "defaultEndpoint" : "backup.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "backup.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Backup</fullname> <p>AWS Backup is a unified backup service designed to protect AWS services and their associated data. AWS Backup simplifies the creation, migration, restoration, and deletion of backups, while also providing reporting and auditing.</p>",
    "endpointPrefix" : "backup",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.backup",
    "packagePath" : "com/amazonaws/services/backup",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Backup",
    "serviceId" : "Backup",
    "serviceName" : "AWS Backup",
    "signingName" : "backup",
    "smokeTestsPackageName" : "com.amazonaws.services.backup.smoketests",
    "syncClient" : "AWSBackupClient",
    "syncClientBuilderClassName" : "AWSBackupClientBuilder",
    "syncInterface" : "AWSBackup",
    "uid" : "backup-2018-11-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateBackupPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBackupPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBackupPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBackupPlanRequest, CreateBackupPlanResult>",
      "asyncReturnType" : "CreateBackupPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Backup plans are documents that contain information that AWS Backup uses to schedule tasks that create recovery points of resources.</p> <p>If you call <code>CreateBackupPlan</code> with a plan that already exists, the existing <code>backupPlanId</code> is returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit in the request has been exceeded; for example, a maximum number of items allowed in a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The required resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBackupPlanRequest",
        "variableName" : "createBackupPlanRequest",
        "variableType" : "CreateBackupPlanRequest",
        "documentation" : "",
        "simpleType" : "CreateBackupPlanRequest",
        "variableSetterType" : "CreateBackupPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBackupPlan",
      "operationName" : "CreateBackupPlan",
      "returnType" : {
        "returnType" : "CreateBackupPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBackupPlanResult"
    },
    "CreateBackupSelection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBackupSelectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBackupSelectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBackupSelectionRequest, CreateBackupSelectionResult>",
      "asyncReturnType" : "CreateBackupSelectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a JSON document that specifies a set of resources to assign to a backup plan. Resources can be included by specifying patterns for a <code>ListOfTags</code> and selected <code>Resources</code>. </p> <p>For example, consider the following patterns:</p> <ul> <li> <p> <code>Resources: \"arn:aws:ec2:region:account-id:volume/volume-id\"</code> </p> </li> <li> <p> <code>ConditionKey:\"department\"</code> </p> <p> <code>ConditionValue:\"finance\"</code> </p> <p> <code>ConditionType:\"StringEquals\"</code> </p> </li> <li> <p> <code>ConditionKey:\"importance\"</code> </p> <p> <code>ConditionValue:\"critical\"</code> </p> <p> <code>ConditionType:\"StringEquals\"</code> </p> </li> </ul> <p>Using these patterns would back up all Amazon Elastic Block Store (Amazon EBS) volumes that are tagged as <code>\"department=finance\"</code>, <code>\"importance=critical\"</code>, in addition to an EBS volume with the specified volume Id.</p> <p>Resources and conditions are additive in that all resources that match the pattern are selected. This shouldn't be confused with a logical AND, where all conditions must match. The matching patterns are logically 'put together using the OR operator. In other words, all patterns that match are selected for backup.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit in the request has been exceeded; for example, a maximum number of items allowed in a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The required resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBackupSelectionRequest",
        "variableName" : "createBackupSelectionRequest",
        "variableType" : "CreateBackupSelectionRequest",
        "documentation" : "",
        "simpleType" : "CreateBackupSelectionRequest",
        "variableSetterType" : "CreateBackupSelectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBackupSelection",
      "operationName" : "CreateBackupSelection",
      "returnType" : {
        "returnType" : "CreateBackupSelectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBackupSelectionResult"
    },
    "CreateBackupVault" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBackupVaultResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBackupVaultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBackupVaultRequest, CreateBackupVaultResult>",
      "asyncReturnType" : "CreateBackupVaultResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a logical container where backups are stored. A <code>CreateBackupVault</code> request includes a name, optionally one or more resource tags, an encryption key, and a request ID.</p> <note> <p>Sensitive data, such as passport numbers, should not be included the name of a backup vault.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit in the request has been exceeded; for example, a maximum number of items allowed in a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The required resource already exists.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBackupVaultRequest",
        "variableName" : "createBackupVaultRequest",
        "variableType" : "CreateBackupVaultRequest",
        "documentation" : "",
        "simpleType" : "CreateBackupVaultRequest",
        "variableSetterType" : "CreateBackupVaultRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBackupVault",
      "operationName" : "CreateBackupVault",
      "returnType" : {
        "returnType" : "CreateBackupVaultResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBackupVaultResult"
    },
    "DeleteBackupPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackupPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackupPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackupPlanRequest, DeleteBackupPlanResult>",
      "asyncReturnType" : "DeleteBackupPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a backup plan. A backup plan can only be deleted after all associated selections of resources have been deleted. Deleting a backup plan deletes the current version of a backup plan. Previous versions, if any, will still exist.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a parameter is of the wrong type.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBackupPlanRequest",
        "variableName" : "deleteBackupPlanRequest",
        "variableType" : "DeleteBackupPlanRequest",
        "documentation" : "",
        "simpleType" : "DeleteBackupPlanRequest",
        "variableSetterType" : "DeleteBackupPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackupPlan",
      "operationName" : "DeleteBackupPlan",
      "returnType" : {
        "returnType" : "DeleteBackupPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBackupPlanResult"
    },
    "DeleteBackupSelection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackupSelectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackupSelectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackupSelectionRequest, DeleteBackupSelectionResult>",
      "asyncReturnType" : "DeleteBackupSelectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the resource selection associated with a backup plan that is specified by the <code>SelectionId</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBackupSelectionRequest",
        "variableName" : "deleteBackupSelectionRequest",
        "variableType" : "DeleteBackupSelectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteBackupSelectionRequest",
        "variableSetterType" : "DeleteBackupSelectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackupSelection",
      "operationName" : "DeleteBackupSelection",
      "returnType" : {
        "returnType" : "DeleteBackupSelectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBackupSelectionResult"
    },
    "DeleteBackupVault" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackupVaultResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackupVaultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackupVaultRequest, DeleteBackupVaultResult>",
      "asyncReturnType" : "DeleteBackupVaultResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the backup vault identified by its name. A vault can be deleted only if it is empty.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a parameter is of the wrong type.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBackupVaultRequest",
        "variableName" : "deleteBackupVaultRequest",
        "variableType" : "DeleteBackupVaultRequest",
        "documentation" : "",
        "simpleType" : "DeleteBackupVaultRequest",
        "variableSetterType" : "DeleteBackupVaultRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackupVault",
      "operationName" : "DeleteBackupVault",
      "returnType" : {
        "returnType" : "DeleteBackupVaultResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBackupVaultResult"
    },
    "DeleteBackupVaultAccessPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackupVaultAccessPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackupVaultAccessPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackupVaultAccessPolicyRequest, DeleteBackupVaultAccessPolicyResult>",
      "asyncReturnType" : "DeleteBackupVaultAccessPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the policy document that manages permissions on a backup vault.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBackupVaultAccessPolicyRequest",
        "variableName" : "deleteBackupVaultAccessPolicyRequest",
        "variableType" : "DeleteBackupVaultAccessPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteBackupVaultAccessPolicyRequest",
        "variableSetterType" : "DeleteBackupVaultAccessPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackupVaultAccessPolicy",
      "operationName" : "DeleteBackupVaultAccessPolicy",
      "returnType" : {
        "returnType" : "DeleteBackupVaultAccessPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBackupVaultAccessPolicyResult"
    },
    "DeleteBackupVaultNotifications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackupVaultNotificationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackupVaultNotificationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackupVaultNotificationsRequest, DeleteBackupVaultNotificationsResult>",
      "asyncReturnType" : "DeleteBackupVaultNotificationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes event notifications for the specified backup vault.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBackupVaultNotificationsRequest",
        "variableName" : "deleteBackupVaultNotificationsRequest",
        "variableType" : "DeleteBackupVaultNotificationsRequest",
        "documentation" : "",
        "simpleType" : "DeleteBackupVaultNotificationsRequest",
        "variableSetterType" : "DeleteBackupVaultNotificationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackupVaultNotifications",
      "operationName" : "DeleteBackupVaultNotifications",
      "returnType" : {
        "returnType" : "DeleteBackupVaultNotificationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBackupVaultNotificationsResult"
    },
    "DeleteRecoveryPoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRecoveryPointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRecoveryPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRecoveryPointRequest, DeleteRecoveryPointResult>",
      "asyncReturnType" : "DeleteRecoveryPointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the recovery point specified by a recovery point ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a parameter is of the wrong type.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRecoveryPointRequest",
        "variableName" : "deleteRecoveryPointRequest",
        "variableType" : "DeleteRecoveryPointRequest",
        "documentation" : "",
        "simpleType" : "DeleteRecoveryPointRequest",
        "variableSetterType" : "DeleteRecoveryPointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRecoveryPoint",
      "operationName" : "DeleteRecoveryPoint",
      "returnType" : {
        "returnType" : "DeleteRecoveryPointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRecoveryPointResult"
    },
    "DescribeBackupJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBackupJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBackupJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBackupJobRequest, DescribeBackupJobResult>",
      "asyncReturnType" : "DescribeBackupJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata associated with creating a backup of a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyFailureException",
        "documentation" : "<p>A dependent AWS service or resource returned an error to the AWS Backup service, and the action cannot be completed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBackupJobRequest",
        "variableName" : "describeBackupJobRequest",
        "variableType" : "DescribeBackupJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeBackupJobRequest",
        "variableSetterType" : "DescribeBackupJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBackupJob",
      "operationName" : "DescribeBackupJob",
      "returnType" : {
        "returnType" : "DescribeBackupJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBackupJobResult"
    },
    "DescribeBackupVault" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBackupVaultResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBackupVaultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBackupVaultRequest, DescribeBackupVaultResult>",
      "asyncReturnType" : "DescribeBackupVaultResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata about a backup vault specified by its name.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBackupVaultRequest",
        "variableName" : "describeBackupVaultRequest",
        "variableType" : "DescribeBackupVaultRequest",
        "documentation" : "",
        "simpleType" : "DescribeBackupVaultRequest",
        "variableSetterType" : "DescribeBackupVaultRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBackupVault",
      "operationName" : "DescribeBackupVault",
      "returnType" : {
        "returnType" : "DescribeBackupVaultResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBackupVaultResult"
    },
    "DescribeProtectedResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProtectedResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProtectedResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProtectedResourceRequest, DescribeProtectedResourceResult>",
      "asyncReturnType" : "DescribeProtectedResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a saved resource, including the last time it was backed-up, its Amazon Resource Name (ARN), and the AWS service type of the saved resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeProtectedResourceRequest",
        "variableName" : "describeProtectedResourceRequest",
        "variableType" : "DescribeProtectedResourceRequest",
        "documentation" : "",
        "simpleType" : "DescribeProtectedResourceRequest",
        "variableSetterType" : "DescribeProtectedResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProtectedResource",
      "operationName" : "DescribeProtectedResource",
      "returnType" : {
        "returnType" : "DescribeProtectedResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProtectedResourceResult"
    },
    "DescribeRecoveryPoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRecoveryPointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRecoveryPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRecoveryPointRequest, DescribeRecoveryPointResult>",
      "asyncReturnType" : "DescribeRecoveryPointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata associated with a recovery point, including ID, status, encryption, and lifecycle.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRecoveryPointRequest",
        "variableName" : "describeRecoveryPointRequest",
        "variableType" : "DescribeRecoveryPointRequest",
        "documentation" : "",
        "simpleType" : "DescribeRecoveryPointRequest",
        "variableSetterType" : "DescribeRecoveryPointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRecoveryPoint",
      "operationName" : "DescribeRecoveryPoint",
      "returnType" : {
        "returnType" : "DescribeRecoveryPointResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRecoveryPointResult"
    },
    "DescribeRestoreJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRestoreJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRestoreJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRestoreJobRequest, DescribeRestoreJobResult>",
      "asyncReturnType" : "DescribeRestoreJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata associated with a restore job that is specified by a job ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyFailureException",
        "documentation" : "<p>A dependent AWS service or resource returned an error to the AWS Backup service, and the action cannot be completed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRestoreJobRequest",
        "variableName" : "describeRestoreJobRequest",
        "variableType" : "DescribeRestoreJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeRestoreJobRequest",
        "variableSetterType" : "DescribeRestoreJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRestoreJob",
      "operationName" : "DescribeRestoreJob",
      "returnType" : {
        "returnType" : "DescribeRestoreJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRestoreJobResult"
    },
    "ExportBackupPlanTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportBackupPlanTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportBackupPlanTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportBackupPlanTemplateRequest, ExportBackupPlanTemplateResult>",
      "asyncReturnType" : "ExportBackupPlanTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the backup plan that is specified by the plan ID as a backup template.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportBackupPlanTemplateRequest",
        "variableName" : "exportBackupPlanTemplateRequest",
        "variableType" : "ExportBackupPlanTemplateRequest",
        "documentation" : "",
        "simpleType" : "ExportBackupPlanTemplateRequest",
        "variableSetterType" : "ExportBackupPlanTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportBackupPlanTemplate",
      "operationName" : "ExportBackupPlanTemplate",
      "returnType" : {
        "returnType" : "ExportBackupPlanTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportBackupPlanTemplateResult"
    },
    "GetBackupPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBackupPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBackupPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBackupPlanRequest, GetBackupPlanResult>",
      "asyncReturnType" : "GetBackupPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the body of a backup plan in JSON format, in addition to plan metadata.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBackupPlanRequest",
        "variableName" : "getBackupPlanRequest",
        "variableType" : "GetBackupPlanRequest",
        "documentation" : "",
        "simpleType" : "GetBackupPlanRequest",
        "variableSetterType" : "GetBackupPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBackupPlan",
      "operationName" : "GetBackupPlan",
      "returnType" : {
        "returnType" : "GetBackupPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBackupPlanResult"
    },
    "GetBackupPlanFromJSON" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBackupPlanFromJSONResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBackupPlanFromJSONResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBackupPlanFromJSONRequest, GetBackupPlanFromJSONResult>",
      "asyncReturnType" : "GetBackupPlanFromJSONResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a valid JSON document specifying a backup plan or an error.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit in the request has been exceeded; for example, a maximum number of items allowed in a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a parameter is of the wrong type.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBackupPlanFromJSONRequest",
        "variableName" : "getBackupPlanFromJSONRequest",
        "variableType" : "GetBackupPlanFromJSONRequest",
        "documentation" : "",
        "simpleType" : "GetBackupPlanFromJSONRequest",
        "variableSetterType" : "GetBackupPlanFromJSONRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBackupPlanFromJSON",
      "operationName" : "GetBackupPlanFromJSON",
      "returnType" : {
        "returnType" : "GetBackupPlanFromJSONResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBackupPlanFromJSONResult"
    },
    "GetBackupPlanFromTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBackupPlanFromTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBackupPlanFromTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBackupPlanFromTemplateRequest, GetBackupPlanFromTemplateResult>",
      "asyncReturnType" : "GetBackupPlanFromTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the template specified by its <code>templateId</code> as a backup plan.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBackupPlanFromTemplateRequest",
        "variableName" : "getBackupPlanFromTemplateRequest",
        "variableType" : "GetBackupPlanFromTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetBackupPlanFromTemplateRequest",
        "variableSetterType" : "GetBackupPlanFromTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBackupPlanFromTemplate",
      "operationName" : "GetBackupPlanFromTemplate",
      "returnType" : {
        "returnType" : "GetBackupPlanFromTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBackupPlanFromTemplateResult"
    },
    "GetBackupSelection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBackupSelectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBackupSelectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBackupSelectionRequest, GetBackupSelectionResult>",
      "asyncReturnType" : "GetBackupSelectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns selection metadata and a document in JSON format that specifies a list of resources that are associated with a backup plan.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBackupSelectionRequest",
        "variableName" : "getBackupSelectionRequest",
        "variableType" : "GetBackupSelectionRequest",
        "documentation" : "",
        "simpleType" : "GetBackupSelectionRequest",
        "variableSetterType" : "GetBackupSelectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBackupSelection",
      "operationName" : "GetBackupSelection",
      "returnType" : {
        "returnType" : "GetBackupSelectionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBackupSelectionResult"
    },
    "GetBackupVaultAccessPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBackupVaultAccessPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBackupVaultAccessPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBackupVaultAccessPolicyRequest, GetBackupVaultAccessPolicyResult>",
      "asyncReturnType" : "GetBackupVaultAccessPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the access policy document that is associated with the named backup vault.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBackupVaultAccessPolicyRequest",
        "variableName" : "getBackupVaultAccessPolicyRequest",
        "variableType" : "GetBackupVaultAccessPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetBackupVaultAccessPolicyRequest",
        "variableSetterType" : "GetBackupVaultAccessPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBackupVaultAccessPolicy",
      "operationName" : "GetBackupVaultAccessPolicy",
      "returnType" : {
        "returnType" : "GetBackupVaultAccessPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBackupVaultAccessPolicyResult"
    },
    "GetBackupVaultNotifications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBackupVaultNotificationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBackupVaultNotificationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBackupVaultNotificationsRequest, GetBackupVaultNotificationsResult>",
      "asyncReturnType" : "GetBackupVaultNotificationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns event notifications for the specified backup vault.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBackupVaultNotificationsRequest",
        "variableName" : "getBackupVaultNotificationsRequest",
        "variableType" : "GetBackupVaultNotificationsRequest",
        "documentation" : "",
        "simpleType" : "GetBackupVaultNotificationsRequest",
        "variableSetterType" : "GetBackupVaultNotificationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBackupVaultNotifications",
      "operationName" : "GetBackupVaultNotifications",
      "returnType" : {
        "returnType" : "GetBackupVaultNotificationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBackupVaultNotificationsResult"
    },
    "GetRecoveryPointRestoreMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecoveryPointRestoreMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecoveryPointRestoreMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecoveryPointRestoreMetadataRequest, GetRecoveryPointRestoreMetadataResult>",
      "asyncReturnType" : "GetRecoveryPointRestoreMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns two sets of metadata key-value pairs. The first set lists the metadata that the recovery point was created with. The second set lists the metadata key-value pairs that are required to restore the recovery point.</p> <p>These sets can be the same, or the restore metadata set can contain different values if the target service to be restored has changed since the recovery point was created and now requires additional or different information in order to be restored.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecoveryPointRestoreMetadataRequest",
        "variableName" : "getRecoveryPointRestoreMetadataRequest",
        "variableType" : "GetRecoveryPointRestoreMetadataRequest",
        "documentation" : "",
        "simpleType" : "GetRecoveryPointRestoreMetadataRequest",
        "variableSetterType" : "GetRecoveryPointRestoreMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecoveryPointRestoreMetadata",
      "operationName" : "GetRecoveryPointRestoreMetadata",
      "returnType" : {
        "returnType" : "GetRecoveryPointRestoreMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRecoveryPointRestoreMetadataResult"
    },
    "GetSupportedResourceTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSupportedResourceTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSupportedResourceTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSupportedResourceTypesRequest, GetSupportedResourceTypesResult>",
      "asyncReturnType" : "GetSupportedResourceTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the AWS resource types supported by AWS Backup.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSupportedResourceTypesRequest",
        "variableName" : "getSupportedResourceTypesRequest",
        "variableType" : "GetSupportedResourceTypesRequest",
        "documentation" : null,
        "simpleType" : "GetSupportedResourceTypesRequest",
        "variableSetterType" : "GetSupportedResourceTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSupportedResourceTypes",
      "operationName" : "GetSupportedResourceTypes",
      "returnType" : {
        "returnType" : "GetSupportedResourceTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSupportedResourceTypesResult"
    },
    "ListBackupJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBackupJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBackupJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBackupJobsRequest, ListBackupJobsResult>",
      "asyncReturnType" : "ListBackupJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata about your backup jobs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBackupJobsRequest",
        "variableName" : "listBackupJobsRequest",
        "variableType" : "ListBackupJobsRequest",
        "documentation" : "",
        "simpleType" : "ListBackupJobsRequest",
        "variableSetterType" : "ListBackupJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBackupJobs",
      "operationName" : "ListBackupJobs",
      "returnType" : {
        "returnType" : "ListBackupJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBackupJobsResult"
    },
    "ListBackupPlanTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBackupPlanTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBackupPlanTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBackupPlanTemplatesRequest, ListBackupPlanTemplatesResult>",
      "asyncReturnType" : "ListBackupPlanTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata of your saved backup plan templates, including the template ID, name, and the creation and deletion dates.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBackupPlanTemplatesRequest",
        "variableName" : "listBackupPlanTemplatesRequest",
        "variableType" : "ListBackupPlanTemplatesRequest",
        "documentation" : "",
        "simpleType" : "ListBackupPlanTemplatesRequest",
        "variableSetterType" : "ListBackupPlanTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBackupPlanTemplates",
      "operationName" : "ListBackupPlanTemplates",
      "returnType" : {
        "returnType" : "ListBackupPlanTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBackupPlanTemplatesResult"
    },
    "ListBackupPlanVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBackupPlanVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBackupPlanVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBackupPlanVersionsRequest, ListBackupPlanVersionsResult>",
      "asyncReturnType" : "ListBackupPlanVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns version metadata of your backup plans, including Amazon Resource Names (ARNs), backup plan IDs, creation and deletion dates, plan names, and version IDs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBackupPlanVersionsRequest",
        "variableName" : "listBackupPlanVersionsRequest",
        "variableType" : "ListBackupPlanVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListBackupPlanVersionsRequest",
        "variableSetterType" : "ListBackupPlanVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBackupPlanVersions",
      "operationName" : "ListBackupPlanVersions",
      "returnType" : {
        "returnType" : "ListBackupPlanVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBackupPlanVersionsResult"
    },
    "ListBackupPlans" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBackupPlansResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBackupPlansResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBackupPlansRequest, ListBackupPlansResult>",
      "asyncReturnType" : "ListBackupPlansResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata of your saved backup plans, including Amazon Resource Names (ARNs), plan IDs, creation and deletion dates, version IDs, plan names, and creator request IDs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBackupPlansRequest",
        "variableName" : "listBackupPlansRequest",
        "variableType" : "ListBackupPlansRequest",
        "documentation" : "",
        "simpleType" : "ListBackupPlansRequest",
        "variableSetterType" : "ListBackupPlansRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBackupPlans",
      "operationName" : "ListBackupPlans",
      "returnType" : {
        "returnType" : "ListBackupPlansResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBackupPlansResult"
    },
    "ListBackupSelections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBackupSelectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBackupSelectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBackupSelectionsRequest, ListBackupSelectionsResult>",
      "asyncReturnType" : "ListBackupSelectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array containing metadata of the resources associated with the target backup plan.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBackupSelectionsRequest",
        "variableName" : "listBackupSelectionsRequest",
        "variableType" : "ListBackupSelectionsRequest",
        "documentation" : "",
        "simpleType" : "ListBackupSelectionsRequest",
        "variableSetterType" : "ListBackupSelectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBackupSelections",
      "operationName" : "ListBackupSelections",
      "returnType" : {
        "returnType" : "ListBackupSelectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBackupSelectionsResult"
    },
    "ListBackupVaults" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBackupVaultsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBackupVaultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBackupVaultsRequest, ListBackupVaultsResult>",
      "asyncReturnType" : "ListBackupVaultsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of recovery point storage containers along with information about them.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBackupVaultsRequest",
        "variableName" : "listBackupVaultsRequest",
        "variableType" : "ListBackupVaultsRequest",
        "documentation" : "",
        "simpleType" : "ListBackupVaultsRequest",
        "variableSetterType" : "ListBackupVaultsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBackupVaults",
      "operationName" : "ListBackupVaults",
      "returnType" : {
        "returnType" : "ListBackupVaultsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBackupVaultsResult"
    },
    "ListProtectedResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProtectedResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProtectedResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProtectedResourcesRequest, ListProtectedResourcesResult>",
      "asyncReturnType" : "ListProtectedResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of resources successfully backed up by AWS Backup, including the time the resource was saved, an Amazon Resource Name (ARN) of the resource, and a resource type.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProtectedResourcesRequest",
        "variableName" : "listProtectedResourcesRequest",
        "variableType" : "ListProtectedResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListProtectedResourcesRequest",
        "variableSetterType" : "ListProtectedResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProtectedResources",
      "operationName" : "ListProtectedResources",
      "returnType" : {
        "returnType" : "ListProtectedResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProtectedResourcesResult"
    },
    "ListRecoveryPointsByBackupVault" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecoveryPointsByBackupVaultResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecoveryPointsByBackupVaultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecoveryPointsByBackupVaultRequest, ListRecoveryPointsByBackupVaultResult>",
      "asyncReturnType" : "ListRecoveryPointsByBackupVaultResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns detailed information about the recovery points stored in a backup vault.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecoveryPointsByBackupVaultRequest",
        "variableName" : "listRecoveryPointsByBackupVaultRequest",
        "variableType" : "ListRecoveryPointsByBackupVaultRequest",
        "documentation" : "",
        "simpleType" : "ListRecoveryPointsByBackupVaultRequest",
        "variableSetterType" : "ListRecoveryPointsByBackupVaultRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecoveryPointsByBackupVault",
      "operationName" : "ListRecoveryPointsByBackupVault",
      "returnType" : {
        "returnType" : "ListRecoveryPointsByBackupVaultResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecoveryPointsByBackupVaultResult"
    },
    "ListRecoveryPointsByResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecoveryPointsByResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecoveryPointsByResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecoveryPointsByResourceRequest, ListRecoveryPointsByResourceResult>",
      "asyncReturnType" : "ListRecoveryPointsByResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns detailed information about recovery points of the type specified by a resource Amazon Resource Name (ARN).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecoveryPointsByResourceRequest",
        "variableName" : "listRecoveryPointsByResourceRequest",
        "variableType" : "ListRecoveryPointsByResourceRequest",
        "documentation" : "",
        "simpleType" : "ListRecoveryPointsByResourceRequest",
        "variableSetterType" : "ListRecoveryPointsByResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecoveryPointsByResource",
      "operationName" : "ListRecoveryPointsByResource",
      "returnType" : {
        "returnType" : "ListRecoveryPointsByResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecoveryPointsByResourceResult"
    },
    "ListRestoreJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRestoreJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRestoreJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRestoreJobsRequest, ListRestoreJobsResult>",
      "asyncReturnType" : "ListRestoreJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of jobs that AWS Backup initiated to restore a saved resource, including metadata about the recovery process.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRestoreJobsRequest",
        "variableName" : "listRestoreJobsRequest",
        "variableType" : "ListRestoreJobsRequest",
        "documentation" : "",
        "simpleType" : "ListRestoreJobsRequest",
        "variableSetterType" : "ListRestoreJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRestoreJobs",
      "operationName" : "ListRestoreJobs",
      "returnType" : {
        "returnType" : "ListRestoreJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRestoreJobsResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of key-value pairs assigned to a target recovery point, backup plan, or backup vault.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsResult"
    },
    "PutBackupVaultAccessPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutBackupVaultAccessPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutBackupVaultAccessPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutBackupVaultAccessPolicyRequest, PutBackupVaultAccessPolicyResult>",
      "asyncReturnType" : "PutBackupVaultAccessPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets a resource-based policy that is used to manage access permissions on the target backup vault. Requires a backup vault name and an access policy document in JSON format.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutBackupVaultAccessPolicyRequest",
        "variableName" : "putBackupVaultAccessPolicyRequest",
        "variableType" : "PutBackupVaultAccessPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutBackupVaultAccessPolicyRequest",
        "variableSetterType" : "PutBackupVaultAccessPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putBackupVaultAccessPolicy",
      "operationName" : "PutBackupVaultAccessPolicy",
      "returnType" : {
        "returnType" : "PutBackupVaultAccessPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutBackupVaultAccessPolicyResult"
    },
    "PutBackupVaultNotifications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutBackupVaultNotificationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutBackupVaultNotificationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutBackupVaultNotificationsRequest, PutBackupVaultNotificationsResult>",
      "asyncReturnType" : "PutBackupVaultNotificationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Turns on notifications on a backup vault for the specified topic and events.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutBackupVaultNotificationsRequest",
        "variableName" : "putBackupVaultNotificationsRequest",
        "variableType" : "PutBackupVaultNotificationsRequest",
        "documentation" : "",
        "simpleType" : "PutBackupVaultNotificationsRequest",
        "variableSetterType" : "PutBackupVaultNotificationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putBackupVaultNotifications",
      "operationName" : "PutBackupVaultNotifications",
      "returnType" : {
        "returnType" : "PutBackupVaultNotificationsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutBackupVaultNotificationsResult"
    },
    "StartBackupJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartBackupJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartBackupJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartBackupJobRequest, StartBackupJobResult>",
      "asyncReturnType" : "StartBackupJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a job to create a one-time backup of the specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit in the request has been exceeded; for example, a maximum number of items allowed in a request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartBackupJobRequest",
        "variableName" : "startBackupJobRequest",
        "variableType" : "StartBackupJobRequest",
        "documentation" : "",
        "simpleType" : "StartBackupJobRequest",
        "variableSetterType" : "StartBackupJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startBackupJob",
      "operationName" : "StartBackupJob",
      "returnType" : {
        "returnType" : "StartBackupJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartBackupJobResult"
    },
    "StartRestoreJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartRestoreJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartRestoreJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartRestoreJobRequest, StartRestoreJobResult>",
      "asyncReturnType" : "StartRestoreJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Recovers the saved resource identified by an Amazon Resource Name (ARN). </p> <p>If the resource ARN is included in the request, then the last complete backup of that resource is recovered. If the ARN of a recovery point is supplied, then that recovery point is restored.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartRestoreJobRequest",
        "variableName" : "startRestoreJobRequest",
        "variableType" : "StartRestoreJobRequest",
        "documentation" : "",
        "simpleType" : "StartRestoreJobRequest",
        "variableSetterType" : "StartRestoreJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startRestoreJob",
      "operationName" : "StartRestoreJob",
      "returnType" : {
        "returnType" : "StartRestoreJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartRestoreJobResult"
    },
    "StopBackupJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopBackupJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopBackupJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopBackupJobRequest, StopBackupJobResult>",
      "asyncReturnType" : "StopBackupJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attempts to cancel a job to create a one-time backup of a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a parameter is of the wrong type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopBackupJobRequest",
        "variableName" : "stopBackupJobRequest",
        "variableType" : "StopBackupJobRequest",
        "documentation" : "",
        "simpleType" : "StopBackupJobRequest",
        "variableSetterType" : "StopBackupJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopBackupJob",
      "operationName" : "StopBackupJob",
      "returnType" : {
        "returnType" : "StopBackupJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopBackupJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns a set of key-value pairs to a recovery point, backup plan, or backup vault identified by an Amazon Resource Name (ARN).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingParameterValueException",
        "documentation" : "<p>Indicates that a required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit in the request has been exceeded; for example, a maximum number of items allowed in a request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a set of key-value pairs from a recovery point, backup plan, or backup vault identified by an Amazon Resource Name (ARN)</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that something is wrong with a parameter's value. For example, the value is out of range.</p>",
        "httpStatusCode" : null
      }, {
[...]
