{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "ComputeEnvironmentDetail" : [ "type", "state", "status" ],
      "ComputeResource" : [ "type" ],
      "CreateComputeEnvironmentRequest" : [ "type", "state" ],
      "CreateJobQueueRequest" : [ "state" ],
      "JobDetail" : [ "status" ],
      "JobQueueDetail" : [ "state", "status" ],
      "ListJobsRequest" : [ "jobStatus" ],
      "RegisterJobDefinitionRequest" : [ "type" ],
      "UpdateComputeEnvironmentRequest" : [ "state" ],
      "UpdateJobQueueRequest" : [ "state" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-08-10",
    "asyncClient" : "AWSBatchAsyncClient",
    "asyncClientBuilderClassName" : "AWSBatchAsyncClientBuilder",
    "asyncInterface" : "AWSBatchAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSBatchModuleInjector",
    "defaultEndpoint" : "batch.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "batch.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Batch enables you to run batch computing workloads on the AWS Cloud. Batch computing is a common way for developers, scientists, and engineers to access large amounts of compute resources, and AWS Batch removes the undifferentiated heavy lifting of configuring and managing the required infrastructure. AWS Batch will be familiar to users of traditional batch computing software. This service can efficiently provision resources in response to jobs submitted in order to eliminate capacity constraints, reduce compute costs, and deliver results quickly.</p> <p>As a fully managed service, AWS Batch enables developers, scientists, and engineers to run batch computing workloads of any scale. AWS Batch automatically provisions compute resources and optimizes the workload distribution based on the quantity and scale of the workloads. With AWS Batch, there is no need to install or manage batch computing software, which allows you to focus on analyzing results and solving problems. AWS Batch reduces operational complexities, saves time, and reduces costs, which makes it easy for developers, scientists, and engineers to run their batch jobs in the AWS Cloud.</p>",
    "endpointPrefix" : "batch",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.batch",
    "packagePath" : "com/amazonaws/services/batch",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS Batch",
    "serviceFullName" : "AWS Batch",
    "serviceId" : "Batch",
    "serviceName" : "AWS Batch",
    "signingName" : "batch",
    "smokeTestsPackageName" : "com.amazonaws.services.batch.smoketests",
    "syncClient" : "AWSBatchClient",
    "syncClientBuilderClassName" : "AWSBatchClientBuilder",
    "syncInterface" : "AWSBatch",
    "uid" : "batch-2016-08-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRequest, CancelJobResult>",
      "asyncReturnType" : "CancelJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a job in an AWS Batch job queue. Jobs that are in the <code>SUBMITTED</code>, <code>PENDING</code>, or <code>RUNNABLE</code> state are cancelled. Jobs that have progressed to <code>STARTING</code> or <code>RUNNING</code> are not cancelled (but the API operation still succeeds, even if no job is cancelled); these jobs must be terminated with the <a>TerminateJob</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJobRequest",
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "documentation" : "",
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelJob",
      "operationName" : "CancelJob",
      "returnType" : {
        "returnType" : "CancelJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelJobResult"
    },
    "CreateComputeEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateComputeEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateComputeEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateComputeEnvironmentRequest, CreateComputeEnvironmentResult>",
      "asyncReturnType" : "CreateComputeEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an AWS Batch compute environment. You can create <code>MANAGED</code> or <code>UNMANAGED</code> compute environments.</p> <p>In a managed compute environment, AWS Batch manages the capacity and instance types of the compute resources within the environment. This is based on the compute resource specification that you define or the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-launch-templates.html\">launch template</a> that you specify when you create the compute environment. You can choose to use Amazon EC2 On-Demand Instances or Spot Instances in your managed compute environment. You can optionally set a maximum price so that Spot Instances only launch when the Spot Instance price is below a specified percentage of the On-Demand price.</p> <note> <p>Multi-node parallel jobs are not supported on Spot Instances.</p> </note> <p>In an unmanaged compute environment, you can manage your own compute resources. This provides more compute resource configuration options, such as using a custom AMI, but you must ensure that your AMI meets the Amazon ECS container instance AMI specification. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/container_instance_AMIs.html\">Container Instance AMIs</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. After you have created your unmanaged compute environment, you can use the <a>DescribeComputeEnvironments</a> operation to find the Amazon ECS cluster that is associated with it. Then, manually launch your container instances into that Amazon ECS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/launch_container_instance.html\">Launching an Amazon ECS Container Instance</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p> <note> <p>AWS Batch does not upgrade the AMIs in a compute environment after it is created (for example, when a newer version of the Amazon ECS-optimized AMI is available). You are responsible for the management of the guest operating system (including updates and security patches) and any additional application software or utilities that you install on the compute resources. To use a new AMI for your AWS Batch jobs:</p> <ol> <li> <p>Create a new compute environment with the new AMI.</p> </li> <li> <p>Add the compute environment to an existing job queue.</p> </li> <li> <p>Remove the old compute environment from your job queue.</p> </li> <li> <p>Delete the old compute environment.</p> </li> </ol> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateComputeEnvironmentRequest",
        "variableName" : "createComputeEnvironmentRequest",
        "variableType" : "CreateComputeEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "CreateComputeEnvironmentRequest",
        "variableSetterType" : "CreateComputeEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createComputeEnvironment",
      "operationName" : "CreateComputeEnvironment",
      "returnType" : {
        "returnType" : "CreateComputeEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateComputeEnvironmentResult"
    },
    "CreateJobQueue" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobQueueResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobQueueResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobQueueRequest, CreateJobQueueResult>",
      "asyncReturnType" : "CreateJobQueueResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an AWS Batch job queue. When you create a job queue, you associate one or more compute environments to the queue and assign an order of preference for the compute environments.</p> <p>You also set a priority to the job queue that determines the order in which the AWS Batch scheduler places jobs onto its associated compute environments. For example, if a compute environment is associated with more than one job queue, the job queue with a higher priority is given preference for scheduling jobs to that compute environment.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateJobQueueRequest",
        "variableName" : "createJobQueueRequest",
        "variableType" : "CreateJobQueueRequest",
        "documentation" : "",
        "simpleType" : "CreateJobQueueRequest",
        "variableSetterType" : "CreateJobQueueRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createJobQueue",
      "operationName" : "CreateJobQueue",
      "returnType" : {
        "returnType" : "CreateJobQueueResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateJobQueueResult"
    },
    "DeleteComputeEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteComputeEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteComputeEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteComputeEnvironmentRequest, DeleteComputeEnvironmentResult>",
      "asyncReturnType" : "DeleteComputeEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an AWS Batch compute environment.</p> <p>Before you can delete a compute environment, you must set its state to <code>DISABLED</code> with the <a>UpdateComputeEnvironment</a> API operation and disassociate it from any job queues with the <a>UpdateJobQueue</a> API operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteComputeEnvironmentRequest",
        "variableName" : "deleteComputeEnvironmentRequest",
        "variableType" : "DeleteComputeEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "DeleteComputeEnvironmentRequest",
        "variableSetterType" : "DeleteComputeEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteComputeEnvironment",
      "operationName" : "DeleteComputeEnvironment",
      "returnType" : {
        "returnType" : "DeleteComputeEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteComputeEnvironmentResult"
    },
    "DeleteJobQueue" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteJobQueueResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteJobQueueResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteJobQueueRequest, DeleteJobQueueResult>",
      "asyncReturnType" : "DeleteJobQueueResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified job queue. You must first disable submissions for a queue with the <a>UpdateJobQueue</a> operation. All jobs in the queue are terminated when you delete a job queue.</p> <p>It is not necessary to disassociate compute environments from a queue before submitting a <code>DeleteJobQueue</code> request. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteJobQueueRequest",
        "variableName" : "deleteJobQueueRequest",
        "variableType" : "DeleteJobQueueRequest",
        "documentation" : "",
        "simpleType" : "DeleteJobQueueRequest",
        "variableSetterType" : "DeleteJobQueueRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteJobQueue",
      "operationName" : "DeleteJobQueue",
      "returnType" : {
        "returnType" : "DeleteJobQueueResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteJobQueueResult"
    },
    "DeregisterJobDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterJobDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterJobDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterJobDefinitionRequest, DeregisterJobDefinitionResult>",
      "asyncReturnType" : "DeregisterJobDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters an AWS Batch job definition.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterJobDefinitionRequest",
        "variableName" : "deregisterJobDefinitionRequest",
        "variableType" : "DeregisterJobDefinitionRequest",
        "documentation" : "",
        "simpleType" : "DeregisterJobDefinitionRequest",
        "variableSetterType" : "DeregisterJobDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterJobDefinition",
      "operationName" : "DeregisterJobDefinition",
      "returnType" : {
        "returnType" : "DeregisterJobDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterJobDefinitionResult"
    },
    "DescribeComputeEnvironments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeComputeEnvironmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeComputeEnvironmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeComputeEnvironmentsRequest, DescribeComputeEnvironmentsResult>",
      "asyncReturnType" : "DescribeComputeEnvironmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes one or more of your compute environments.</p> <p>If you are using an unmanaged compute environment, you can use the <code>DescribeComputeEnvironment</code> operation to determine the <code>ecsClusterArn</code> that you should launch your Amazon ECS container instances into.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeComputeEnvironmentsRequest",
        "variableName" : "describeComputeEnvironmentsRequest",
        "variableType" : "DescribeComputeEnvironmentsRequest",
        "documentation" : "",
        "simpleType" : "DescribeComputeEnvironmentsRequest",
        "variableSetterType" : "DescribeComputeEnvironmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeComputeEnvironments",
      "operationName" : "DescribeComputeEnvironments",
      "returnType" : {
        "returnType" : "DescribeComputeEnvironmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeComputeEnvironmentsResult"
    },
    "DescribeJobDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobDefinitionsRequest, DescribeJobDefinitionsResult>",
      "asyncReturnType" : "DescribeJobDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a list of job definitions. You can specify a <code>status</code> (such as <code>ACTIVE</code>) to only return job definitions that match that status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobDefinitionsRequest",
        "variableName" : "describeJobDefinitionsRequest",
        "variableType" : "DescribeJobDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobDefinitionsRequest",
        "variableSetterType" : "DescribeJobDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJobDefinitions",
      "operationName" : "DescribeJobDefinitions",
      "returnType" : {
        "returnType" : "DescribeJobDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobDefinitionsResult"
    },
    "DescribeJobQueues" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobQueuesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobQueuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobQueuesRequest, DescribeJobQueuesResult>",
      "asyncReturnType" : "DescribeJobQueuesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes one or more of your job queues.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobQueuesRequest",
        "variableName" : "describeJobQueuesRequest",
        "variableType" : "DescribeJobQueuesRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobQueuesRequest",
        "variableSetterType" : "DescribeJobQueuesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJobQueues",
      "operationName" : "DescribeJobQueues",
      "returnType" : {
        "returnType" : "DescribeJobQueuesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobQueuesResult"
    },
    "DescribeJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobsRequest, DescribeJobsResult>",
      "asyncReturnType" : "DescribeJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a list of AWS Batch jobs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobsRequest",
        "variableName" : "describeJobsRequest",
        "variableType" : "DescribeJobsRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobsRequest",
        "variableSetterType" : "DescribeJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJobs",
      "operationName" : "DescribeJobs",
      "returnType" : {
        "returnType" : "DescribeJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobsResult"
    },
    "ListJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "asyncReturnType" : "ListJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of AWS Batch jobs.</p> <p>You must specify only one of the following:</p> <ul> <li> <p>a job queue ID to return a list of jobs in that job queue</p> </li> <li> <p>a multi-node parallel job ID to return a list of that job's nodes</p> </li> <li> <p>an array job ID to return a list of that job's children</p> </li> </ul> <p>You can filter the results by job status with the <code>jobStatus</code> parameter. If you do not specify a status, only <code>RUNNING</code> jobs are returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJobsRequest",
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "documentation" : "",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobs",
      "operationName" : "ListJobs",
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJobsResult"
    },
    "RegisterJobDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterJobDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterJobDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterJobDefinitionRequest, RegisterJobDefinitionResult>",
      "asyncReturnType" : "RegisterJobDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers an AWS Batch job definition. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterJobDefinitionRequest",
        "variableName" : "registerJobDefinitionRequest",
        "variableType" : "RegisterJobDefinitionRequest",
        "documentation" : "",
        "simpleType" : "RegisterJobDefinitionRequest",
        "variableSetterType" : "RegisterJobDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerJobDefinition",
      "operationName" : "RegisterJobDefinition",
      "returnType" : {
        "returnType" : "RegisterJobDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterJobDefinitionResult"
    },
    "SubmitJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SubmitJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SubmitJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SubmitJobRequest, SubmitJobResult>",
      "asyncReturnType" : "SubmitJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Submits an AWS Batch job from a job definition. Parameters specified during <a>SubmitJob</a> override parameters defined in the job definition. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SubmitJobRequest",
        "variableName" : "submitJobRequest",
        "variableType" : "SubmitJobRequest",
        "documentation" : "",
        "simpleType" : "SubmitJobRequest",
        "variableSetterType" : "SubmitJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "submitJob",
      "operationName" : "SubmitJob",
      "returnType" : {
        "returnType" : "SubmitJobResult",
        "documentation" : null
      },
      "syncReturnType" : "SubmitJobResult"
    },
    "TerminateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateJobRequest, TerminateJobResult>",
      "asyncReturnType" : "TerminateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Terminates a job in a job queue. Jobs that are in the <code>STARTING</code> or <code>RUNNING</code> state are terminated, which causes them to transition to <code>FAILED</code>. Jobs that have not progressed to the <code>STARTING</code> state are cancelled.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TerminateJobRequest",
        "variableName" : "terminateJobRequest",
        "variableType" : "TerminateJobRequest",
        "documentation" : "",
        "simpleType" : "TerminateJobRequest",
        "variableSetterType" : "TerminateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateJob",
      "operationName" : "TerminateJob",
      "returnType" : {
        "returnType" : "TerminateJobResult",
        "documentation" : null
      },
      "syncReturnType" : "TerminateJobResult"
    },
    "UpdateComputeEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateComputeEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateComputeEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateComputeEnvironmentRequest, UpdateComputeEnvironmentResult>",
      "asyncReturnType" : "UpdateComputeEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an AWS Batch compute environment.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateComputeEnvironmentRequest",
        "variableName" : "updateComputeEnvironmentRequest",
        "variableType" : "UpdateComputeEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "UpdateComputeEnvironmentRequest",
        "variableSetterType" : "UpdateComputeEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateComputeEnvironment",
      "operationName" : "UpdateComputeEnvironment",
      "returnType" : {
        "returnType" : "UpdateComputeEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateComputeEnvironmentResult"
    },
    "UpdateJobQueue" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateJobQueueResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateJobQueueResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateJobQueueRequest, UpdateJobQueueResult>",
      "asyncReturnType" : "UpdateJobQueueResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a job queue.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateJobQueueRequest",
        "variableName" : "updateJobQueueRequest",
        "variableType" : "UpdateJobQueueRequest",
        "documentation" : "",
        "simpleType" : "UpdateJobQueueRequest",
        "variableSetterType" : "UpdateJobQueueRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateJobQueue",
      "operationName" : "UpdateJobQueue",
      "returnType" : {
        "returnType" : "UpdateJobQueueResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateJobQueueResult"
    }
  },
  "shapes" : {
    "ArrayJobDependency" : {
      "c2jName" : "ArrayJobDependency",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "N_TO_N",
        "value" : "N_TO_N"
      }, {
        "name" : "SEQUENTIAL",
        "value" : "SEQUENTIAL"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ArrayJobDependency",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArrayJobDependency",
        "variableName" : "arrayJobDependency",
        "variableType" : "ArrayJobDependency",
        "documentation" : null,
        "simpleType" : "ArrayJobDependency",
        "variableSetterType" : "ArrayJobDependency"
      },
      "wrapper" : false
    },
    "ArrayProperties" : {
      "c2jName" : "ArrayProperties",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object representing an AWS Batch array job.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "size",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>The size of the array job.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The size of the array job.</p>\n@param size The size of the array job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSize",
        "getterDocumentation" : "/**<p>The size of the array job.</p>\n@return The size of the array job.*/",
        "getterMethodName" : "getSize",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "size",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "size",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Size",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The size of the array job.</p>\n@param size The size of the array job.*/",
        "setterMethodName" : "setSize",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "size",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The size of the array job.</p>\n@param size The size of the array job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "size",
          "variableType" : "Integer",
          "documentation" : "<p>The size of the array job.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Size" : {
          "c2jName" : "size",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p>The size of the array job.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The size of the array job.</p>\n@param size The size of the array job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSize",
          "getterDocumentation" : "/**<p>The size of the array job.</p>\n@return The size of the array job.*/",
          "getterMethodName" : "getSize",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "size",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "size",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Size",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The size of the array job.</p>\n@param size The size of the array job.*/",
          "setterMethodName" : "setSize",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "size",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The size of the array job.</p>\n@param size The size of the array job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "size",
            "variableType" : "Integer",
            "documentation" : "<p>The size of the array job.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ArrayProperties",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArrayProperties",
        "variableName" : "arrayProperties",
        "variableType" : "ArrayProperties",
        "documentation" : null,
        "simpleType" : "ArrayProperties",
        "variableSetterType" : "ArrayProperties"
      },
      "wrapper" : false
    },
    "ArrayPropertiesDetail" : {
      "c2jName" : "ArrayPropertiesDetail",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object representing the array properties of a job.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "statusSummary",
        "c2jShape" : "ArrayJobStatusSummary",
        "deprecated" : false,
        "documentation" : "<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>\n@param statusSummary A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatusSummary",
        "getterDocumentation" : "/**<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>\n@return A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.*/",
        "getterMethodName" : "getStatusSummary",
        "getterModel" : {
          "returnType" : "java.util.Map<String,Integer>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "statusSummary",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "statusSummary",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "Integer",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "Integer",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "Integer",
            "marshallingType" : "INTEGER",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Integer",
              "variableName" : "value",
              "variableType" : "Integer",
              "documentation" : "",
              "simpleType" : "Integer",
              "variableSetterType" : "Integer"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Integer",
              "variableName" : "value",
              "variableType" : "Integer",
              "documentation" : "",
              "simpleType" : "Integer",
              "variableSetterType" : "Integer"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "Integer",
          "entryType" : "Map.Entry<String, Integer>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,Integer>",
          "templateType" : "java.util.Map<String,Integer>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "StatusSummary",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>\n@param statusSummary A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.*/",
        "setterMethodName" : "setStatusSummary",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,Integer>",
          "variableName" : "statusSummary",
          "variableType" : "java.util.Map<String,Integer>",
          "documentation" : "",
          "simpleType" : "Map<String,Integer>",
          "variableSetterType" : "java.util.Map<String,Integer>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>\n@param statusSummary A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,Integer>",
          "variableName" : "statusSummary",
          "variableType" : "java.util.Map<String,Integer>",
          "documentation" : "<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>",
          "simpleType" : "Map<String,Integer>",
          "variableSetterType" : "java.util.Map<String,Integer>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "size",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>The size of the array job. This parameter is returned for parent array jobs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@param size The size of the array job. This parameter is returned for parent array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSize",
        "getterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@return The size of the array job. This parameter is returned for parent array jobs.*/",
        "getterMethodName" : "getSize",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "size",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "size",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Size",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@param size The size of the array job. This parameter is returned for parent array jobs.*/",
        "setterMethodName" : "setSize",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "size",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@param size The size of the array job. This parameter is returned for parent array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "size",
          "variableType" : "Integer",
          "documentation" : "<p>The size of the array job. This parameter is returned for parent array jobs.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "index",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>The job index within the array that is associated with this job. This parameter is returned for array job children.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for array job children.</p>\n@param index The job index within the array that is associated with this job. This parameter is returned for array job children.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIndex",
        "getterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for array job children.</p>\n@return The job index within the array that is associated with this job. This parameter is returned for array job children.*/",
        "getterMethodName" : "getIndex",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "index",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "index",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Index",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for array job children.</p>\n@param index The job index within the array that is associated with this job. This parameter is returned for array job children.*/",
        "setterMethodName" : "setIndex",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "index",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for array job children.</p>\n@param index The job index within the array that is associated with this job. This parameter is returned for array job children.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "index",
          "variableType" : "Integer",
          "documentation" : "<p>The job index within the array that is associated with this job. This parameter is returned for array job children.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Index" : {
          "c2jName" : "index",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p>The job index within the array that is associated with this job. This parameter is returned for array job children.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for array job children.</p>\n@param index The job index within the array that is associated with this job. This parameter is returned for array job children.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIndex",
          "getterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for array job children.</p>\n@return The job index within the array that is associated with this job. This parameter is returned for array job children.*/",
          "getterMethodName" : "getIndex",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "index",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "index",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Index",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for array job children.</p>\n@param index The job index within the array that is associated with this job. This parameter is returned for array job children.*/",
          "setterMethodName" : "setIndex",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "index",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for array job children.</p>\n@param index The job index within the array that is associated with this job. This parameter is returned for array job children.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "index",
            "variableType" : "Integer",
            "documentation" : "<p>The job index within the array that is associated with this job. This parameter is returned for array job children.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Size" : {
          "c2jName" : "size",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p>The size of the array job. This parameter is returned for parent array jobs.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@param size The size of the array job. This parameter is returned for parent array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSize",
          "getterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@return The size of the array job. This parameter is returned for parent array jobs.*/",
          "getterMethodName" : "getSize",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "size",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "size",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Size",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@param size The size of the array job. This parameter is returned for parent array jobs.*/",
          "setterMethodName" : "setSize",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "size",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@param size The size of the array job. This parameter is returned for parent array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "size",
            "variableType" : "Integer",
            "documentation" : "<p>The size of the array job. This parameter is returned for parent array jobs.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "StatusSummary" : {
          "c2jName" : "statusSummary",
          "c2jShape" : "ArrayJobStatusSummary",
          "deprecated" : false,
          "documentation" : "<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>\n@param statusSummary A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStatusSummary",
          "getterDocumentation" : "/**<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>\n@return A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.*/",
          "getterMethodName" : "getStatusSummary",
          "getterModel" : {
            "returnType" : "java.util.Map<String,Integer>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "statusSummary",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "statusSummary",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "Integer",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "Integer",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "Integer",
              "marshallingType" : "INTEGER",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Integer",
                "variableName" : "value",
                "variableType" : "Integer",
                "documentation" : "",
                "simpleType" : "Integer",
                "variableSetterType" : "Integer"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Integer",
                "variableName" : "value",
                "variableType" : "Integer",
                "documentation" : "",
                "simpleType" : "Integer",
                "variableSetterType" : "Integer"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "Integer",
            "entryType" : "Map.Entry<String, Integer>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,Integer>",
            "templateType" : "java.util.Map<String,Integer>",
            "valueList" : false,
            "valueSimple" : true
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "StatusSummary",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>\n@param statusSummary A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.*/",
          "setterMethodName" : "setStatusSummary",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,Integer>",
            "variableName" : "statusSummary",
            "variableType" : "java.util.Map<String,Integer>",
            "documentation" : "",
            "simpleType" : "Map<String,Integer>",
            "variableSetterType" : "java.util.Map<String,Integer>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>\n@param statusSummary A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,Integer>",
            "variableName" : "statusSummary",
            "variableType" : "java.util.Map<String,Integer>",
            "documentation" : "<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>",
            "simpleType" : "Map<String,Integer>",
            "variableSetterType" : "java.util.Map<String,Integer>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ArrayPropertiesDetail",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArrayPropertiesDetail",
        "variableName" : "arrayPropertiesDetail",
        "variableType" : "ArrayPropertiesDetail",
        "documentation" : null,
        "simpleType" : "ArrayPropertiesDetail",
        "variableSetterType" : "ArrayPropertiesDetail"
      },
      "wrapper" : false
    },
    "ArrayPropertiesSummary" : {
      "c2jName" : "ArrayPropertiesSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object representing the array properties of a job.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "size",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>The size of the array job. This parameter is returned for parent array jobs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@param size The size of the array job. This parameter is returned for parent array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSize",
        "getterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@return The size of the array job. This parameter is returned for parent array jobs.*/",
        "getterMethodName" : "getSize",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "size",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "size",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Size",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@param size The size of the array job. This parameter is returned for parent array jobs.*/",
        "setterMethodName" : "setSize",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "size",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@param size The size of the array job. This parameter is returned for parent array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "size",
          "variableType" : "Integer",
          "documentation" : "<p>The size of the array job. This parameter is returned for parent array jobs.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "index",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>The job index within the array that is associated with this job. This parameter is returned for children of array jobs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for children of array jobs.</p>\n@param index The job index within the array that is associated with this job. This parameter is returned for children of array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIndex",
        "getterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for children of array jobs.</p>\n@return The job index within the array that is associated with this job. This parameter is returned for children of array jobs.*/",
        "getterMethodName" : "getIndex",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "index",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "index",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Index",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for children of array jobs.</p>\n@param index The job index within the array that is associated with this job. This parameter is returned for children of array jobs.*/",
        "setterMethodName" : "setIndex",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "index",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for children of array jobs.</p>\n@param index The job index within the array that is associated with this job. This parameter is returned for children of array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "index",
          "variableType" : "Integer",
          "documentation" : "<p>The job index within the array that is associated with this job. This parameter is returned for children of array jobs.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Index" : {
          "c2jName" : "index",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p>The job index within the array that is associated with this job. This parameter is returned for children of array jobs.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for children of array jobs.</p>\n@param index The job index within the array that is associated with this job. This parameter is returned for children of array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIndex",
          "getterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for children of array jobs.</p>\n@return The job index within the array that is associated with this job. This parameter is returned for children of array jobs.*/",
          "getterMethodName" : "getIndex",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "index",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "index",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Index",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for children of array jobs.</p>\n@param index The job index within the array that is associated with this job. This parameter is returned for children of array jobs.*/",
          "setterMethodName" : "setIndex",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "index",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The job index within the array that is associated with this job. This parameter is returned for children of array jobs.</p>\n@param index The job index within the array that is associated with this job. This parameter is returned for children of array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "index",
            "variableType" : "Integer",
            "documentation" : "<p>The job index within the array that is associated with this job. This parameter is returned for children of array jobs.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Size" : {
          "c2jName" : "size",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p>The size of the array job. This parameter is returned for parent array jobs.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@param size The size of the array job. This parameter is returned for parent array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSize",
          "getterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@return The size of the array job. This parameter is returned for parent array jobs.*/",
          "getterMethodName" : "getSize",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "size",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "size",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Size",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@param size The size of the array job. This parameter is returned for parent array jobs.*/",
          "setterMethodName" : "setSize",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "size",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The size of the array job. This parameter is returned for parent array jobs.</p>\n@param size The size of the array job. This parameter is returned for parent array jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "size",
            "variableType" : "Integer",
            "documentation" : "<p>The size of the array job. This parameter is returned for parent array jobs.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ArrayPropertiesSummary",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArrayPropertiesSummary",
        "variableName" : "arrayPropertiesSummary",
        "variableType" : "ArrayPropertiesSummary",
        "documentation" : null,
        "simpleType" : "ArrayPropertiesSummary",
        "variableSetterType" : "ArrayPropertiesSummary"
      },
      "wrapper" : false
    },
    "AttemptContainerDetail" : {
      "c2jName" : "AttemptContainerDetail",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object representing the details of a container that is part of a job attempt.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "containerInstanceArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.</p>\n@param containerInstanceArn The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContainerInstanceArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.</p>\n@return The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.*/",
        "getterMethodName" : "getContainerInstanceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "containerInstanceArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "containerInstanceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ContainerInstanceArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.</p>\n@param containerInstanceArn The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.*/",
        "setterMethodName" : "setContainerInstanceArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "containerInstanceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.</p>\n@param containerInstanceArn The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "containerInstanceArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "taskArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the job attempt. Each container attempt receives a task ARN when they reach the <code>STARTING</code> status.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the job attempt. Each container attempt receives a task ARN when they reach the <code>STARTING</code> status.</p>\n@param taskArn The Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the job attempt. Each container attempt receives a task ARN when they reach the <code>STARTING</code> status.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTaskArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the job attempt. Each container attempt receives a task ARN when they reach the <code>STARTING</code> status.</p>\n@return The Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the job attempt. Each container attempt receives a task ARN when they reach the <code>STARTING</code> status.*/",
        "getterMethodName" : "getTaskArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "taskArn",
          "queryString" : false,
          "statusCode" : false,
[...]
