{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-11-26",
    "asyncClient" : "AWSBCMDataExportsAsyncClient",
    "asyncClientBuilderClassName" : "AWSBCMDataExportsAsyncClientBuilder",
    "asyncInterface" : "AWSBCMDataExportsAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSBCMDataExportsModuleInjector",
    "defaultEndpoint" : "bcm-data-exports.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "bcm-data-exports.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>You can use the Data Exports API to create customized exports from multiple Amazon Web Services cost management and billing datasets, such as cost and usage data and cost optimization recommendations.</p> <p>The Data Exports API provides the following endpoint:</p> <ul> <li> <p>https://bcm-data-exports.us-east-1.api.aws</p> </li> </ul>",
    "endpointPrefix" : "bcm-data-exports",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.bcmdataexports",
    "packagePath" : "com/amazonaws/services/bcmdataexports",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Billing and Cost Management Data Exports",
    "serviceId" : "BCM Data Exports",
    "serviceName" : "AWS Billing and Cost Management Data Exports",
    "signingName" : "bcm-data-exports",
    "smokeTestsPackageName" : "com.amazonaws.services.bcmdataexports.smoketests",
    "syncClient" : "AWSBCMDataExportsClient",
    "syncClientBuilderClassName" : "AWSBCMDataExportsClientBuilder",
    "syncInterface" : "AWSBCMDataExports",
    "uid" : "bcm-data-exports-2023-11-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateExport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateExportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateExportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateExportRequest, CreateExportResult>",
      "asyncReturnType" : "CreateExportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a data export and specifies the data query, the delivery preference, and any optional resource tags.</p> <p>A <code>DataQuery</code> consists of both a <code>QueryStatement</code> and <code>TableConfigurations</code>.</p> <p>The <code>QueryStatement</code> is an SQL statement. Data Exports only supports a limited subset of the SQL syntax. For more information on the SQL syntax that is supported, see <a href=\"https://docs.aws.amazon.com/cur/latest/userguide/de-data-query.html\">Data query</a>. To view the available tables and columns, see the <a href=\"https://docs.aws.amazon.com/cur/latest/userguide/de-table-dictionary.html\">Data Exports table dictionary</a>.</p> <p>The <code>TableConfigurations</code> is a collection of specified <code>TableProperties</code> for the table being queried in the <code>QueryStatement</code>. TableProperties are additional configurations you can provide to change the data and schema of a table. Each table can have different TableProperties. However, tables are not required to have any TableProperties. Each table property has a default value that it assumes if not specified. For more information on table configurations, see <a href=\"https://docs.aws.amazon.com/cur/latest/userguide/de-data-query.html\">Data query</a>. To view the table properties available for each table, see the <a href=\"https://docs.aws.amazon.com/cur/latest/userguide/de-table-dictionary.html\">Data Exports table dictionary</a> or use the <code>ListTables</code> API to get a response of all tables and their available properties.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You've reached the limit on the number of resources you can create, or exceeded the size of an individual resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateExportRequest",
        "variableName" : "createExportRequest",
        "variableType" : "CreateExportRequest",
        "documentation" : "",
        "simpleType" : "CreateExportRequest",
        "variableSetterType" : "CreateExportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createExport",
      "operationName" : "CreateExport",
      "returnType" : {
        "returnType" : "CreateExportResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateExportResult"
    },
    "DeleteExport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteExportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteExportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteExportRequest, DeleteExportResult>",
      "asyncReturnType" : "DeleteExportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing data export.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) in the request doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteExportRequest",
        "variableName" : "deleteExportRequest",
        "variableType" : "DeleteExportRequest",
        "documentation" : "",
        "simpleType" : "DeleteExportRequest",
        "variableSetterType" : "DeleteExportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteExport",
      "operationName" : "DeleteExport",
      "returnType" : {
        "returnType" : "DeleteExportResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteExportResult"
    },
    "GetExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExecutionRequest, GetExecutionResult>",
      "asyncReturnType" : "GetExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports data based on the source data update.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) in the request doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExecutionRequest",
        "variableName" : "getExecutionRequest",
        "variableType" : "GetExecutionRequest",
        "documentation" : "",
        "simpleType" : "GetExecutionRequest",
        "variableSetterType" : "GetExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExecution",
      "operationName" : "GetExecution",
      "returnType" : {
        "returnType" : "GetExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExecutionResult"
    },
    "GetExport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExportRequest, GetExportResult>",
      "asyncReturnType" : "GetExportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Views the definition of an existing data export.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) in the request doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExportRequest",
        "variableName" : "getExportRequest",
        "variableType" : "GetExportRequest",
        "documentation" : "",
        "simpleType" : "GetExportRequest",
        "variableSetterType" : "GetExportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExport",
      "operationName" : "GetExport",
      "returnType" : {
        "returnType" : "GetExportResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExportResult"
    },
    "GetTable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTableRequest, GetTableResult>",
      "asyncReturnType" : "GetTableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the metadata for the specified table and table properties. This includes the list of columns in the table schema, their data types, and column descriptions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTableRequest",
        "variableName" : "getTableRequest",
        "variableType" : "GetTableRequest",
        "documentation" : "",
        "simpleType" : "GetTableRequest",
        "variableSetterType" : "GetTableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTable",
      "operationName" : "GetTable",
      "returnType" : {
        "returnType" : "GetTableResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTableResult"
    },
    "ListExecutions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExecutionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExecutionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExecutionsRequest, ListExecutionsResult>",
      "asyncReturnType" : "ListExecutionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the historical executions for the export.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) in the request doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListExecutionsRequest",
        "variableName" : "listExecutionsRequest",
        "variableType" : "ListExecutionsRequest",
        "documentation" : "",
        "simpleType" : "ListExecutionsRequest",
        "variableSetterType" : "ListExecutionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExecutions",
      "operationName" : "ListExecutions",
      "returnType" : {
        "returnType" : "ListExecutionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExecutionsResult"
    },
    "ListExports" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExportsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExportsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExportsRequest, ListExportsResult>",
      "asyncReturnType" : "ListExportsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all data export definitions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListExportsRequest",
        "variableName" : "listExportsRequest",
        "variableType" : "ListExportsRequest",
        "documentation" : "",
        "simpleType" : "ListExportsRequest",
        "variableSetterType" : "ListExportsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExports",
      "operationName" : "ListExports",
      "returnType" : {
        "returnType" : "ListExportsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExportsResult"
    },
    "ListTables" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTablesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTablesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTablesRequest, ListTablesResult>",
      "asyncReturnType" : "ListTablesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all available tables in data exports.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTablesRequest",
        "variableName" : "listTablesRequest",
        "variableType" : "ListTablesRequest",
        "documentation" : "",
        "simpleType" : "ListTablesRequest",
        "variableSetterType" : "ListTablesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTables",
      "operationName" : "ListTables",
      "returnType" : {
        "returnType" : "ListTablesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTablesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List tags associated with an existing data export.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) in the request doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags for an existing data export definition.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) in the request doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes tags associated with an existing data export definition.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) in the request doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateExport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateExportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateExportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateExportRequest, UpdateExportResult>",
      "asyncReturnType" : "UpdateExportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing data export by overwriting all export parameters. All export parameters must be provided in the UpdateExport request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) in the request doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateExportRequest",
        "variableName" : "updateExportRequest",
        "variableType" : "UpdateExportRequest",
        "documentation" : "",
        "simpleType" : "UpdateExportRequest",
        "variableSetterType" : "UpdateExportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateExport",
      "operationName" : "UpdateExport",
      "returnType" : {
        "returnType" : "UpdateExportResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateExportResult"
    }
  },
  "shapes" : {
    "Column" : {
      "c2jName" : "Column",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Includes basic information for a data column such as its description, name, and type.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bcmdataexports.model.Column",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Description",
        "c2jShape" : "GenericString",
        "deprecated" : false,
        "documentation" : "<p>The description for a column.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description for a column.</p>\n@param description The description for a column.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The description for a column.</p>\n@return The description for a column.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The description for a column.</p>\n@param description The description for a column.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The description for a column.</p>\n@param description The description for a column.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The description for a column.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "GenericString",
        "deprecated" : false,
        "documentation" : "<p>The column name.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The column name.</p>\n@param name The column name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The column name.</p>\n@return The column name.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The column name.</p>\n@param name The column name.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The column name.</p>\n@param name The column name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The column name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Type",
        "c2jShape" : "GenericString",
        "deprecated" : false,
        "documentation" : "<p>The kind of data a column stores.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The kind of data a column stores.</p>\n@param type The kind of data a column stores.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p>The kind of data a column stores.</p>\n@return The kind of data a column stores.*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Type",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The kind of data a column stores.</p>\n@param type The kind of data a column stores.*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The kind of data a column stores.</p>\n@param type The kind of data a column stores.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The kind of data a column stores.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "GenericString",
          "deprecated" : false,
          "documentation" : "<p>The description for a column.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The description for a column.</p>\n@param description The description for a column.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>The description for a column.</p>\n@return The description for a column.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The description for a column.</p>\n@param description The description for a column.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The description for a column.</p>\n@param description The description for a column.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>The description for a column.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "GenericString",
          "deprecated" : false,
          "documentation" : "<p>The column name.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The column name.</p>\n@param name The column name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The column name.</p>\n@return The column name.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The column name.</p>\n@param name The column name.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The column name.</p>\n@param name The column name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The column name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "GenericString",
          "deprecated" : false,
          "documentation" : "<p>The kind of data a column stores.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The kind of data a column stores.</p>\n@param type The kind of data a column stores.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withType",
          "getterDocumentation" : "/**<p>The kind of data a column stores.</p>\n@return The kind of data a column stores.*/",
          "getterMethodName" : "getType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Type",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Type",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The kind of data a column stores.</p>\n@param type The kind of data a column stores.*/",
          "setterMethodName" : "setType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The kind of data a column stores.</p>\n@param type The kind of data a column stores.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p>The kind of data a column stores.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bcmdataexports.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Column",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Column",
        "variableName" : "column",
        "variableType" : "Column",
        "documentation" : null,
        "simpleType" : "Column",
        "variableSetterType" : "Column"
      },
      "wrapper" : false
    },
    "CompressionOption" : {
      "c2jName" : "CompressionOption",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "GZIP",
        "value" : "GZIP"
      }, {
        "name" : "PARQUET",
        "value" : "PARQUET"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bcmdataexports.enum.CompressionOption",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bcmdataexports.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "CompressionOption",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CompressionOption",
        "variableName" : "compressionOption",
        "variableType" : "CompressionOption",
        "documentation" : null,
        "simpleType" : "CompressionOption",
        "variableSetterType" : "CompressionOption"
      },
      "wrapper" : false
    },
    "CreateExportRequest" : {
      "c2jName" : "CreateExportRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bcmdataexports.request.CreateExportRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateExport",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSBillingAndCostManagementDataExports.CreateExport",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Export",
        "c2jShape" : "Export",
        "deprecated" : false,
        "documentation" : "<p>The details of the export, including data query, name, description, and destination configuration.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The details of the export, including data query, name, description, and destination configuration.</p>\n@param export The details of the export, including data query, name, description, and destination configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExport",
        "getterDocumentation" : "/**<p>The details of the export, including data query, name, description, and destination configuration.</p>\n@return The details of the export, including data query, name, description, and destination configuration.*/",
        "getterMethodName" : "getExport",
        "getterModel" : {
          "returnType" : "Export",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Export",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Export",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Export",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The details of the export, including data query, name, description, and destination configuration.</p>\n@param export The details of the export, including data query, name, description, and destination configuration.*/",
        "setterMethodName" : "setExport",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Export",
          "variableName" : "export",
          "variableType" : "Export",
          "documentation" : "",
          "simpleType" : "Export",
          "variableSetterType" : "Export"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The details of the export, including data query, name, description, and destination configuration.</p>\n@param export The details of the export, including data query, name, description, and destination configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Export",
          "variableName" : "export",
          "variableType" : "Export",
          "documentation" : "<p>The details of the export, including data query, name, description, and destination configuration.</p>",
          "simpleType" : "Export",
          "variableSetterType" : "Export"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceTags",
        "c2jShape" : "ResourceTagList",
        "deprecated" : false,
        "documentation" : "<p>An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.</p>\n@param resourceTags An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceTags",
        "getterDocumentation" : "/**<p>An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.</p>\n@return An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.*/",
        "getterMethodName" : "getResourceTags",
        "getterModel" : {
          "returnType" : "java.util.List<ResourceTag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceTags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceTags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ResourceTag",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "ResourceTag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ResourceTag",
              "variableName" : "member",
              "variableType" : "ResourceTag",
              "documentation" : "",
              "simpleType" : "ResourceTag",
              "variableSetterType" : "ResourceTag"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ResourceTag",
              "variableName" : "member",
              "variableType" : "ResourceTag",
              "documentation" : "",
              "simpleType" : "ResourceTag",
              "variableSetterType" : "ResourceTag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "ResourceTag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "ResourceTag",
          "templateImplType" : "java.util.ArrayList<ResourceTag>",
          "templateType" : "java.util.List<ResourceTag>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ResourceTags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.</p>\n@param resourceTags An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.*/",
        "setterMethodName" : "setResourceTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ResourceTag>",
          "variableName" : "resourceTags",
          "variableType" : "java.util.List<ResourceTag>",
          "documentation" : "",
          "simpleType" : "List<ResourceTag>",
          "variableSetterType" : "java.util.Collection<ResourceTag>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setResourceTags(java.util.Collection)} or {@link #withResourceTags(java.util.Collection)} if you want to override the existing values.</p>\n@param resourceTags An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ResourceTag>",
          "variableName" : "resourceTags",
          "variableType" : "java.util.List<ResourceTag>",
          "documentation" : "<p>An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.</p>",
          "simpleType" : "List<ResourceTag>",
          "variableSetterType" : "java.util.Collection<ResourceTag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Export" : {
          "c2jName" : "Export",
          "c2jShape" : "Export",
          "deprecated" : false,
          "documentation" : "<p>The details of the export, including data query, name, description, and destination configuration.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The details of the export, including data query, name, description, and destination configuration.</p>\n@param export The details of the export, including data query, name, description, and destination configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExport",
          "getterDocumentation" : "/**<p>The details of the export, including data query, name, description, and destination configuration.</p>\n@return The details of the export, including data query, name, description, and destination configuration.*/",
          "getterMethodName" : "getExport",
          "getterModel" : {
            "returnType" : "Export",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Export",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Export",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Export",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The details of the export, including data query, name, description, and destination configuration.</p>\n@param export The details of the export, including data query, name, description, and destination configuration.*/",
          "setterMethodName" : "setExport",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Export",
            "variableName" : "export",
            "variableType" : "Export",
            "documentation" : "",
            "simpleType" : "Export",
            "variableSetterType" : "Export"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The details of the export, including data query, name, description, and destination configuration.</p>\n@param export The details of the export, including data query, name, description, and destination configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Export",
            "variableName" : "export",
            "variableType" : "Export",
            "documentation" : "<p>The details of the export, including data query, name, description, and destination configuration.</p>",
            "simpleType" : "Export",
            "variableSetterType" : "Export"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceTags" : {
          "c2jName" : "ResourceTags",
          "c2jShape" : "ResourceTagList",
          "deprecated" : false,
          "documentation" : "<p>An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.</p>\n@param resourceTags An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceTags",
          "getterDocumentation" : "/**<p>An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.</p>\n@return An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.*/",
          "getterMethodName" : "getResourceTags",
          "getterModel" : {
            "returnType" : "java.util.List<ResourceTag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResourceTags",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceTags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ResourceTag",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "ResourceTag",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ResourceTag",
                "variableName" : "member",
                "variableType" : "ResourceTag",
                "documentation" : "",
                "simpleType" : "ResourceTag",
                "variableSetterType" : "ResourceTag"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ResourceTag",
                "variableName" : "member",
                "variableType" : "ResourceTag",
                "documentation" : "",
                "simpleType" : "ResourceTag",
                "variableSetterType" : "ResourceTag"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "ResourceTag",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "ResourceTag",
            "templateImplType" : "java.util.ArrayList<ResourceTag>",
            "templateType" : "java.util.List<ResourceTag>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ResourceTags",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.</p>\n@param resourceTags An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.*/",
          "setterMethodName" : "setResourceTags",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<ResourceTag>",
            "variableName" : "resourceTags",
            "variableType" : "java.util.List<ResourceTag>",
            "documentation" : "",
            "simpleType" : "List<ResourceTag>",
            "variableSetterType" : "java.util.Collection<ResourceTag>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setResourceTags(java.util.Collection)} or {@link #withResourceTags(java.util.Collection)} if you want to override the existing values.</p>\n@param resourceTags An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<ResourceTag>",
            "variableName" : "resourceTags",
            "variableType" : "java.util.List<ResourceTag>",
            "documentation" : "<p>An optional list of tags to associate with the specified export. Each tag consists of a key and a value, and each key must be unique for the resource.</p>",
            "simpleType" : "List<ResourceTag>",
            "variableSetterType" : "java.util.Collection<ResourceTag>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bcmdataexports.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Export" ],
      "shapeName" : "CreateExportRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateExportRequest",
        "variableName" : "createExportRequest",
        "variableType" : "CreateExportRequest",
        "documentation" : null,
        "simpleType" : "CreateExportRequest",
        "variableSetterType" : "CreateExportRequest"
      },
      "wrapper" : false
    },
    "CreateExportResult" : {
      "c2jName" : "CreateExportResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bcmdataexports.response.CreateExportResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ExportArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) for this export.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for this export.</p>\n@param exportArn The Amazon Resource Name (ARN) for this export.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExportArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for this export.</p>\n@return The Amazon Resource Name (ARN) for this export.*/",
        "getterMethodName" : "getExportArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ExportArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ExportArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ExportArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for this export.</p>\n@param exportArn The Amazon Resource Name (ARN) for this export.*/",
        "setterMethodName" : "setExportArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "exportArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for this export.</p>\n@param exportArn The Amazon Resource Name (ARN) for this export.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "exportArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) for this export.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ExportArn" : {
          "c2jName" : "ExportArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) for this export.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for this export.</p>\n@param exportArn The Amazon Resource Name (ARN) for this export.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExportArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for this export.</p>\n@return The Amazon Resource Name (ARN) for this export.*/",
          "getterMethodName" : "getExportArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ExportArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ExportArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ExportArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for this export.</p>\n@param exportArn The Amazon Resource Name (ARN) for this export.*/",
          "setterMethodName" : "setExportArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "exportArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for this export.</p>\n@param exportArn The Amazon Resource Name (ARN) for this export.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "exportArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) for this export.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bcmdataexports.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "CreateExportResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateExportResult",
        "variableName" : "createExportResult",
        "variableType" : "CreateExportResult",
        "documentation" : null,
        "simpleType" : "CreateExportResult",
        "variableSetterType" : "CreateExportResult"
      },
      "wrapper" : false
    },
    "DataQuery" : {
      "c2jName" : "DataQuery",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The SQL query of column selections and row filters from the data table you want.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bcmdataexports.model.DataQuery",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "QueryStatement",
        "c2jShape" : "QueryStatement",
        "deprecated" : false,
        "documentation" : "<p>The query statement.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The query statement.</p>\n@param queryStatement The query statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQueryStatement",
        "getterDocumentation" : "/**<p>The query statement.</p>\n@return The query statement.*/",
        "getterMethodName" : "getQueryStatement",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "QueryStatement",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "QueryStatement",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "QueryStatement",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The query statement.</p>\n@param queryStatement The query statement.*/",
        "setterMethodName" : "setQueryStatement",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "queryStatement",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The query statement.</p>\n@param queryStatement The query statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "queryStatement",
          "variableType" : "String",
          "documentation" : "<p>The query statement.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TableConfigurations",
        "c2jShape" : "TableConfigurations",
        "deprecated" : false,
        "documentation" : "<p>The table configuration.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The table configuration.</p>\n@param tableConfigurations The table configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTableConfigurations",
        "getterDocumentation" : "/**<p>The table configuration.</p>\n@return The table configuration.*/",
        "getterMethodName" : "getTableConfigurations",
        "getterModel" : {
          "returnType" : "java.util.Map<String,java.util.Map<String,String>>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TableConfigurations",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TableConfigurations",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TableProperties",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "java.util.Map<String,String>",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : true,
            "mapModel" : {
              "implType" : "java.util.HashMap",
              "interfaceType" : "java.util.Map",
              "keyLocationName" : "key",
              "keyModel" : null,
              "keyType" : "String",
              "valueLocationName" : "value",
              "valueModel" : {
                "c2jName" : "value",
                "c2jShape" : "GenericString",
                "deprecated" : false,
                "documentation" : "",
                "endpointDiscoveryId" : false,
                "enumType" : null,
                "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
                "fluentSetterMethodName" : "withValue",
                "getterDocumentation" : "/**\n@return */",
                "getterMethodName" : "getValue",
                "getterModel" : {
                  "returnType" : "String",
                  "documentation" : null
                },
                "http" : {
                  "additionalMarshallingPath" : null,
                  "additionalUnmarshallingPath" : null,
                  "flattened" : false,
                  "greedy" : false,
                  "header" : false,
                  "isPayload" : false,
                  "isStreaming" : false,
                  "location" : null,
                  "marshallLocation" : "PAYLOAD",
                  "marshallLocationName" : "value",
                  "queryString" : false,
                  "requiresLength" : false,
                  "statusCode" : false,
                  "unmarshallLocationName" : "value",
                  "uri" : false
                },
                "idempotencyToken" : false,
                "isBinary" : false,
                "jsonValue" : false,
                "list" : false,
                "listModel" : null,
                "map" : false,
                "mapModel" : null,
                "marshallingTargetClass" : "String",
                "marshallingType" : "STRING",
                "name" : "Value",
                "sensitive" : false,
                "setterDocumentation" : "/**\n@param value */",
                "setterMethodName" : "setValue",
                "setterModel" : {
                  "timestampFormat" : null,
                  "variableDeclarationType" : "String",
                  "variableName" : "value",
                  "variableType" : "String",
                  "documentation" : "",
                  "simpleType" : "String",
                  "variableSetterType" : "String"
                },
                "shouldEmitLegacyEnumSetter" : false,
                "shouldFullyQualify" : false,
                "simple" : true,
                "unmarshallingType" : null,
                "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
                "variable" : {
                  "timestampFormat" : null,
                  "variableDeclarationType" : "String",
                  "variableName" : "value",
                  "variableType" : "String",
                  "documentation" : "",
                  "simpleType" : "String",
                  "variableSetterType" : "String"
                },
                "xmlNameSpaceUri" : null
              },
              "valueType" : "String",
              "entryType" : "Map.Entry<String, String>",
              "keySimple" : true,
              "templateImplType" : "java.util.HashMap<String,String>",
              "templateType" : "java.util.Map<String,String>",
              "valueList" : false,
              "valueSimple" : true
            },
            "marshallingTargetClass" : "Map",
            "marshallingType" : "MAP",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "java.util.Map<String,String>",
              "variableName" : "value",
              "variableType" : "java.util.Map<String,String>",
              "documentation" : "",
              "simpleType" : "Map<String,String>",
              "variableSetterType" : "java.util.Map<String,String>"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "java.util.Map<String,String>",
              "variableName" : "value",
              "variableType" : "java.util.Map<String,String>",
              "documentation" : "",
              "simpleType" : "Map<String,String>",
              "variableSetterType" : "java.util.Map<String,String>"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "java.util.Map<String,String>",
          "entryType" : "Map.Entry<String, java.util.Map<String,String>>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,java.util.Map<String,String>>",
          "templateType" : "java.util.Map<String,java.util.Map<String,String>>",
          "valueList" : false,
          "valueSimple" : false
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "TableConfigurations",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The table configuration.</p>\n@param tableConfigurations The table configuration.*/",
        "setterMethodName" : "setTableConfigurations",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,java.util.Map<String,String>>",
          "variableName" : "tableConfigurations",
          "variableType" : "java.util.Map<String,java.util.Map<String,String>>",
          "documentation" : "",
          "simpleType" : "Map<String,String>>",
          "variableSetterType" : "java.util.Map<String,java.util.Map<String,String>>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The table configuration.</p>\n@param tableConfigurations The table configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,java.util.Map<String,String>>",
          "variableName" : "tableConfigurations",
          "variableType" : "java.util.Map<String,java.util.Map<String,String>>",
          "documentation" : "<p>The table configuration.</p>",
          "simpleType" : "Map<String,String>>",
          "variableSetterType" : "java.util.Map<String,java.util.Map<String,String>>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "QueryStatement" : {
          "c2jName" : "QueryStatement",
          "c2jShape" : "QueryStatement",
          "deprecated" : false,
          "documentation" : "<p>The query statement.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The query statement.</p>\n@param queryStatement The query statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withQueryStatement",
          "getterDocumentation" : "/**<p>The query statement.</p>\n@return The query statement.*/",
          "getterMethodName" : "getQueryStatement",
          "getterModel" : {
[...]
