{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-09-30",
    "asyncClient" : "AmazonBedrockRuntimeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonBedrockRuntimeAsyncClientBuilder",
    "asyncInterface" : "AmazonBedrockRuntimeAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonBedrockRuntimeModuleInjector",
    "defaultEndpoint" : "bedrock-runtime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "bedrock-runtime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Describes the API operations for running inference using Amazon Bedrock models.</p>",
    "endpointPrefix" : "bedrock-runtime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.bedrockruntime",
    "packagePath" : "com/amazonaws/services/bedrockruntime",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Bedrock Runtime",
    "serviceId" : "Bedrock Runtime",
    "serviceName" : "Amazon Bedrock Runtime",
    "signingName" : "bedrock",
    "smokeTestsPackageName" : "com.amazonaws.services.bedrockruntime.smoketests",
    "syncClient" : "AmazonBedrockRuntimeClient",
    "syncClientBuilderClassName" : "AmazonBedrockRuntimeClientBuilder",
    "syncInterface" : "AmazonBedrockRuntime",
    "uid" : "bedrock-runtime-2023-09-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ApplyGuardrail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ApplyGuardrailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ApplyGuardrailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ApplyGuardrailRequest, ApplyGuardrailResult>",
      "asyncReturnType" : "ApplyGuardrailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The action to apply a guardrail.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request was throttled because of service-wide limitations. Resubmit your request later or in a different region. You can also purchase <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> to increase the rate or number of tokens you can process.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your request exceeds the service quota for your account. You can view your quotas at <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/gs-request-quota.html\">Viewing service quotas</a>. You can resubmit your request later.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplyGuardrailRequest",
        "variableName" : "applyGuardrailRequest",
        "variableType" : "ApplyGuardrailRequest",
        "documentation" : "",
        "simpleType" : "ApplyGuardrailRequest",
        "variableSetterType" : "ApplyGuardrailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "applyGuardrail",
      "operationName" : "ApplyGuardrail",
      "returnType" : {
        "returnType" : "ApplyGuardrailResult",
        "documentation" : null
      },
      "syncReturnType" : "ApplyGuardrailResult"
    },
    "Converse" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConverseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConverseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConverseRequest, ConverseResult>",
      "asyncReturnType" : "ConverseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends messages to the specified Amazon Bedrock model. <code>Converse</code> provides a consistent interface that works with all models that support messages. This allows you to write code once and use it with different models. If a model has unique inference parameters, you can also pass those unique parameters to the model.</p> <p>Amazon Bedrock doesn't store any text, images, or documents that you provide as content. The data is only used to generate the response.</p> <p>For information about the Converse API, see <i>Use the Converse API</i> in the <i>Amazon Bedrock User Guide</i>. To use a guardrail, see <i>Use a guardrail with the Converse API</i> in the <i>Amazon Bedrock User Guide</i>. To use a tool with a model, see <i>Tool use (Function calling)</i> in the <i>Amazon Bedrock User Guide</i> </p> <p>For example code, see <i>Converse API examples</i> in the <i>Amazon Bedrock User Guide</i>. </p> <p>This operation requires permission for the <code>bedrock:InvokeModel</code> action. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request was throttled because of service-wide limitations. Resubmit your request later or in a different region. You can also purchase <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> to increase the rate or number of tokens you can process.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ModelTimeoutException",
        "documentation" : "<p>The request took too long to process. Processing time exceeded the model timeout length.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service isn't currently available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ModelNotReadyException",
        "documentation" : "<p>The model specified in the request is not ready to serve inference requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ModelErrorException",
        "documentation" : "<p>The request failed due to an error while processing the model.</p>",
        "httpStatusCode" : 424
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConverseRequest",
        "variableName" : "converseRequest",
        "variableType" : "ConverseRequest",
        "documentation" : "",
        "simpleType" : "ConverseRequest",
        "variableSetterType" : "ConverseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "converse",
      "operationName" : "Converse",
      "returnType" : {
        "returnType" : "ConverseResult",
        "documentation" : null
      },
      "syncReturnType" : "ConverseResult"
    },
    "InvokeModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InvokeModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InvokeModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InvokeModelRequest, InvokeModelResult>",
      "asyncReturnType" : "InvokeModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Invokes the specified Amazon Bedrock model to run inference using the prompt and inference parameters provided in the request body. You use model inference to generate text, images, and embeddings.</p> <p>For example code, see <i>Invoke model code examples</i> in the <i>Amazon Bedrock User Guide</i>. </p> <p>This operation requires permission for the <code>bedrock:InvokeModel</code> action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request was throttled because of service-wide limitations. Resubmit your request later or in a different region. You can also purchase <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> to increase the rate or number of tokens you can process.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ModelTimeoutException",
        "documentation" : "<p>The request took too long to process. Processing time exceeded the model timeout length.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service isn't currently available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ModelNotReadyException",
        "documentation" : "<p>The model specified in the request is not ready to serve inference requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your request exceeds the service quota for your account. You can view your quotas at <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/gs-request-quota.html\">Viewing service quotas</a>. You can resubmit your request later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ModelErrorException",
        "documentation" : "<p>The request failed due to an error while processing the model.</p>",
        "httpStatusCode" : 424
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvokeModelRequest",
        "variableName" : "invokeModelRequest",
        "variableType" : "InvokeModelRequest",
        "documentation" : "",
        "simpleType" : "InvokeModelRequest",
        "variableSetterType" : "InvokeModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "invokeModel",
      "operationName" : "InvokeModel",
      "returnType" : {
        "returnType" : "InvokeModelResult",
        "documentation" : null
      },
      "syncReturnType" : "InvokeModelResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request is denied because of missing access permissions.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrockruntime.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrockruntime.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AnyToolChoice" : {
      "c2jName" : "AnyToolChoice",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The model must request at least one tool (no text is generated). For example, <code>{\"any\" : {}}</code>.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockruntime.model.AnyToolChoice",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrockruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AnyToolChoice",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AnyToolChoice",
        "variableName" : "anyToolChoice",
        "variableType" : "AnyToolChoice",
        "documentation" : null,
        "simpleType" : "AnyToolChoice",
        "variableSetterType" : "AnyToolChoice"
      },
      "wrapper" : false
    },
    "ApplyGuardrailRequest" : {
      "c2jName" : "ApplyGuardrailRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockruntime.request.ApplyGuardrailRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ApplyGuardrail",
        "locationName" : null,
        "requestUri" : "/guardrail/{guardrailIdentifier}/version/{guardrailVersion}/apply",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "guardrailIdentifier",
        "c2jShape" : "GuardrailIdentifier",
        "deprecated" : false,
        "documentation" : "<p>The guardrail identifier used in the request to apply the guardrail.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The guardrail identifier used in the request to apply the guardrail.</p>\n@param guardrailIdentifier The guardrail identifier used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGuardrailIdentifier",
        "getterDocumentation" : "/**<p>The guardrail identifier used in the request to apply the guardrail.</p>\n@return The guardrail identifier used in the request to apply the guardrail.*/",
        "getterMethodName" : "getGuardrailIdentifier",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "guardrailIdentifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "guardrailIdentifier",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GuardrailIdentifier",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The guardrail identifier used in the request to apply the guardrail.</p>\n@param guardrailIdentifier The guardrail identifier used in the request to apply the guardrail.*/",
        "setterMethodName" : "setGuardrailIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "guardrailIdentifier",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The guardrail identifier used in the request to apply the guardrail.</p>\n@param guardrailIdentifier The guardrail identifier used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "guardrailIdentifier",
          "variableType" : "String",
          "documentation" : "<p>The guardrail identifier used in the request to apply the guardrail.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "guardrailVersion",
        "c2jShape" : "GuardrailVersion",
        "deprecated" : false,
        "documentation" : "<p>The guardrail version used in the request to apply the guardrail.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The guardrail version used in the request to apply the guardrail.</p>\n@param guardrailVersion The guardrail version used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGuardrailVersion",
        "getterDocumentation" : "/**<p>The guardrail version used in the request to apply the guardrail.</p>\n@return The guardrail version used in the request to apply the guardrail.*/",
        "getterMethodName" : "getGuardrailVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "guardrailVersion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "guardrailVersion",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GuardrailVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The guardrail version used in the request to apply the guardrail.</p>\n@param guardrailVersion The guardrail version used in the request to apply the guardrail.*/",
        "setterMethodName" : "setGuardrailVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "guardrailVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The guardrail version used in the request to apply the guardrail.</p>\n@param guardrailVersion The guardrail version used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "guardrailVersion",
          "variableType" : "String",
          "documentation" : "<p>The guardrail version used in the request to apply the guardrail.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "source",
        "c2jShape" : "GuardrailContentSource",
        "deprecated" : false,
        "documentation" : "<p>The source of data used in the request to apply the guardrail.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "GuardrailContentSource",
        "fluentSetterDocumentation" : "/**<p>The source of data used in the request to apply the guardrail.</p>\n@param source The source of data used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.\n@see GuardrailContentSource*/",
        "fluentSetterMethodName" : "withSource",
        "getterDocumentation" : "/**<p>The source of data used in the request to apply the guardrail.</p>\n@return The source of data used in the request to apply the guardrail.\n@see GuardrailContentSource*/",
        "getterMethodName" : "getSource",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "source",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "source",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Source",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The source of data used in the request to apply the guardrail.</p>\n@param source The source of data used in the request to apply the guardrail.\n@see GuardrailContentSource*/",
        "setterMethodName" : "setSource",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "source",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The source of data used in the request to apply the guardrail.</p>\n@param source The source of data used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.\n@see GuardrailContentSource*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "source",
          "variableType" : "String",
          "documentation" : "<p>The source of data used in the request to apply the guardrail.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "content",
        "c2jShape" : "GuardrailContentBlockList",
        "deprecated" : false,
        "documentation" : "<p>The content details used in the request to apply the guardrail.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The content details used in the request to apply the guardrail.</p>\n@param content The content details used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContent",
        "getterDocumentation" : "/**<p>The content details used in the request to apply the guardrail.</p>\n@return The content details used in the request to apply the guardrail.*/",
        "getterMethodName" : "getContent",
        "getterModel" : {
          "returnType" : "java.util.List<GuardrailContentBlock>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "content",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "content",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "GuardrailContentBlock",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "GuardrailContentBlock",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "GuardrailContentBlock",
              "variableName" : "member",
              "variableType" : "GuardrailContentBlock",
              "documentation" : "",
              "simpleType" : "GuardrailContentBlock",
              "variableSetterType" : "GuardrailContentBlock"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "GuardrailContentBlock",
              "variableName" : "member",
              "variableType" : "GuardrailContentBlock",
              "documentation" : "",
              "simpleType" : "GuardrailContentBlock",
              "variableSetterType" : "GuardrailContentBlock"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "GuardrailContentBlock",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "GuardrailContentBlock",
          "templateImplType" : "java.util.ArrayList<GuardrailContentBlock>",
          "templateType" : "java.util.List<GuardrailContentBlock>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Content",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The content details used in the request to apply the guardrail.</p>\n@param content The content details used in the request to apply the guardrail.*/",
        "setterMethodName" : "setContent",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<GuardrailContentBlock>",
          "variableName" : "content",
          "variableType" : "java.util.List<GuardrailContentBlock>",
          "documentation" : "",
          "simpleType" : "List<GuardrailContentBlock>",
          "variableSetterType" : "java.util.Collection<GuardrailContentBlock>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The content details used in the request to apply the guardrail.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setContent(java.util.Collection)} or {@link #withContent(java.util.Collection)} if you want to override the existing values.</p>\n@param content The content details used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<GuardrailContentBlock>",
          "variableName" : "content",
          "variableType" : "java.util.List<GuardrailContentBlock>",
          "documentation" : "<p>The content details used in the request to apply the guardrail.</p>",
          "simpleType" : "List<GuardrailContentBlock>",
          "variableSetterType" : "java.util.Collection<GuardrailContentBlock>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Content" : {
          "c2jName" : "content",
          "c2jShape" : "GuardrailContentBlockList",
          "deprecated" : false,
          "documentation" : "<p>The content details used in the request to apply the guardrail.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The content details used in the request to apply the guardrail.</p>\n@param content The content details used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withContent",
          "getterDocumentation" : "/**<p>The content details used in the request to apply the guardrail.</p>\n@return The content details used in the request to apply the guardrail.*/",
          "getterMethodName" : "getContent",
          "getterModel" : {
            "returnType" : "java.util.List<GuardrailContentBlock>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "content",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "content",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "GuardrailContentBlock",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "GuardrailContentBlock",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "GuardrailContentBlock",
                "variableName" : "member",
                "variableType" : "GuardrailContentBlock",
                "documentation" : "",
                "simpleType" : "GuardrailContentBlock",
                "variableSetterType" : "GuardrailContentBlock"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "GuardrailContentBlock",
                "variableName" : "member",
                "variableType" : "GuardrailContentBlock",
                "documentation" : "",
                "simpleType" : "GuardrailContentBlock",
                "variableSetterType" : "GuardrailContentBlock"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "GuardrailContentBlock",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "GuardrailContentBlock",
            "templateImplType" : "java.util.ArrayList<GuardrailContentBlock>",
            "templateType" : "java.util.List<GuardrailContentBlock>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Content",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The content details used in the request to apply the guardrail.</p>\n@param content The content details used in the request to apply the guardrail.*/",
          "setterMethodName" : "setContent",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<GuardrailContentBlock>",
            "variableName" : "content",
            "variableType" : "java.util.List<GuardrailContentBlock>",
            "documentation" : "",
            "simpleType" : "List<GuardrailContentBlock>",
            "variableSetterType" : "java.util.Collection<GuardrailContentBlock>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The content details used in the request to apply the guardrail.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setContent(java.util.Collection)} or {@link #withContent(java.util.Collection)} if you want to override the existing values.</p>\n@param content The content details used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<GuardrailContentBlock>",
            "variableName" : "content",
            "variableType" : "java.util.List<GuardrailContentBlock>",
            "documentation" : "<p>The content details used in the request to apply the guardrail.</p>",
            "simpleType" : "List<GuardrailContentBlock>",
            "variableSetterType" : "java.util.Collection<GuardrailContentBlock>"
          },
          "xmlNameSpaceUri" : null
        },
        "GuardrailIdentifier" : {
          "c2jName" : "guardrailIdentifier",
          "c2jShape" : "GuardrailIdentifier",
          "deprecated" : false,
          "documentation" : "<p>The guardrail identifier used in the request to apply the guardrail.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The guardrail identifier used in the request to apply the guardrail.</p>\n@param guardrailIdentifier The guardrail identifier used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGuardrailIdentifier",
          "getterDocumentation" : "/**<p>The guardrail identifier used in the request to apply the guardrail.</p>\n@return The guardrail identifier used in the request to apply the guardrail.*/",
          "getterMethodName" : "getGuardrailIdentifier",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "guardrailIdentifier",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "guardrailIdentifier",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "GuardrailIdentifier",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The guardrail identifier used in the request to apply the guardrail.</p>\n@param guardrailIdentifier The guardrail identifier used in the request to apply the guardrail.*/",
          "setterMethodName" : "setGuardrailIdentifier",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "guardrailIdentifier",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The guardrail identifier used in the request to apply the guardrail.</p>\n@param guardrailIdentifier The guardrail identifier used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "guardrailIdentifier",
            "variableType" : "String",
            "documentation" : "<p>The guardrail identifier used in the request to apply the guardrail.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "GuardrailVersion" : {
          "c2jName" : "guardrailVersion",
          "c2jShape" : "GuardrailVersion",
          "deprecated" : false,
          "documentation" : "<p>The guardrail version used in the request to apply the guardrail.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The guardrail version used in the request to apply the guardrail.</p>\n@param guardrailVersion The guardrail version used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGuardrailVersion",
          "getterDocumentation" : "/**<p>The guardrail version used in the request to apply the guardrail.</p>\n@return The guardrail version used in the request to apply the guardrail.*/",
          "getterMethodName" : "getGuardrailVersion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "guardrailVersion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "guardrailVersion",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "GuardrailVersion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The guardrail version used in the request to apply the guardrail.</p>\n@param guardrailVersion The guardrail version used in the request to apply the guardrail.*/",
          "setterMethodName" : "setGuardrailVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "guardrailVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The guardrail version used in the request to apply the guardrail.</p>\n@param guardrailVersion The guardrail version used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "guardrailVersion",
            "variableType" : "String",
            "documentation" : "<p>The guardrail version used in the request to apply the guardrail.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Source" : {
          "c2jName" : "source",
          "c2jShape" : "GuardrailContentSource",
          "deprecated" : false,
          "documentation" : "<p>The source of data used in the request to apply the guardrail.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "GuardrailContentSource",
          "fluentSetterDocumentation" : "/**<p>The source of data used in the request to apply the guardrail.</p>\n@param source The source of data used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.\n@see GuardrailContentSource*/",
          "fluentSetterMethodName" : "withSource",
          "getterDocumentation" : "/**<p>The source of data used in the request to apply the guardrail.</p>\n@return The source of data used in the request to apply the guardrail.\n@see GuardrailContentSource*/",
          "getterMethodName" : "getSource",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "source",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "source",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Source",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The source of data used in the request to apply the guardrail.</p>\n@param source The source of data used in the request to apply the guardrail.\n@see GuardrailContentSource*/",
          "setterMethodName" : "setSource",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "source",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The source of data used in the request to apply the guardrail.</p>\n@param source The source of data used in the request to apply the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.\n@see GuardrailContentSource*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "source",
            "variableType" : "String",
            "documentation" : "<p>The source of data used in the request to apply the guardrail.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockruntime.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "guardrailIdentifier", "guardrailVersion", "source", "content" ],
      "shapeName" : "ApplyGuardrailRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplyGuardrailRequest",
        "variableName" : "applyGuardrailRequest",
        "variableType" : "ApplyGuardrailRequest",
        "documentation" : null,
        "simpleType" : "ApplyGuardrailRequest",
        "variableSetterType" : "ApplyGuardrailRequest"
      },
      "wrapper" : false
    },
    "ApplyGuardrailResult" : {
      "c2jName" : "ApplyGuardrailResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockruntime.response.ApplyGuardrailResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "usage",
        "c2jShape" : "GuardrailUsage",
        "deprecated" : false,
        "documentation" : "<p>The usage details in the response from the guardrail.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The usage details in the response from the guardrail.</p>\n@param usage The usage details in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUsage",
        "getterDocumentation" : "/**<p>The usage details in the response from the guardrail.</p>\n@return The usage details in the response from the guardrail.*/",
        "getterMethodName" : "getUsage",
        "getterModel" : {
          "returnType" : "GuardrailUsage",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "usage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "usage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Usage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The usage details in the response from the guardrail.</p>\n@param usage The usage details in the response from the guardrail.*/",
        "setterMethodName" : "setUsage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "GuardrailUsage",
          "variableName" : "usage",
          "variableType" : "GuardrailUsage",
          "documentation" : "",
          "simpleType" : "GuardrailUsage",
          "variableSetterType" : "GuardrailUsage"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The usage details in the response from the guardrail.</p>\n@param usage The usage details in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "GuardrailUsage",
          "variableName" : "usage",
          "variableType" : "GuardrailUsage",
          "documentation" : "<p>The usage details in the response from the guardrail.</p>",
          "simpleType" : "GuardrailUsage",
          "variableSetterType" : "GuardrailUsage"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "action",
        "c2jShape" : "GuardrailAction",
        "deprecated" : false,
        "documentation" : "<p>The action taken in the response from the guardrail.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "GuardrailAction",
        "fluentSetterDocumentation" : "/**<p>The action taken in the response from the guardrail.</p>\n@param action The action taken in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.\n@see GuardrailAction*/",
        "fluentSetterMethodName" : "withAction",
        "getterDocumentation" : "/**<p>The action taken in the response from the guardrail.</p>\n@return The action taken in the response from the guardrail.\n@see GuardrailAction*/",
        "getterMethodName" : "getAction",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "action",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "action",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Action",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The action taken in the response from the guardrail.</p>\n@param action The action taken in the response from the guardrail.\n@see GuardrailAction*/",
        "setterMethodName" : "setAction",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "action",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The action taken in the response from the guardrail.</p>\n@param action The action taken in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.\n@see GuardrailAction*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "action",
          "variableType" : "String",
          "documentation" : "<p>The action taken in the response from the guardrail.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "outputs",
        "c2jShape" : "GuardrailOutputContentList",
        "deprecated" : false,
        "documentation" : "<p>The output details in the response from the guardrail.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The output details in the response from the guardrail.</p>\n@param outputs The output details in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOutputs",
        "getterDocumentation" : "/**<p>The output details in the response from the guardrail.</p>\n@return The output details in the response from the guardrail.*/",
        "getterMethodName" : "getOutputs",
        "getterModel" : {
          "returnType" : "java.util.List<GuardrailOutputContent>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "outputs",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "outputs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "GuardrailOutputContent",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "GuardrailOutputContent",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "GuardrailOutputContent",
              "variableName" : "member",
              "variableType" : "GuardrailOutputContent",
              "documentation" : "",
              "simpleType" : "GuardrailOutputContent",
              "variableSetterType" : "GuardrailOutputContent"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "GuardrailOutputContent",
              "variableName" : "member",
              "variableType" : "GuardrailOutputContent",
              "documentation" : "",
              "simpleType" : "GuardrailOutputContent",
              "variableSetterType" : "GuardrailOutputContent"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "GuardrailOutputContent",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "GuardrailOutputContent",
          "templateImplType" : "java.util.ArrayList<GuardrailOutputContent>",
          "templateType" : "java.util.List<GuardrailOutputContent>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Outputs",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The output details in the response from the guardrail.</p>\n@param outputs The output details in the response from the guardrail.*/",
        "setterMethodName" : "setOutputs",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<GuardrailOutputContent>",
          "variableName" : "outputs",
          "variableType" : "java.util.List<GuardrailOutputContent>",
          "documentation" : "",
          "simpleType" : "List<GuardrailOutputContent>",
          "variableSetterType" : "java.util.Collection<GuardrailOutputContent>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The output details in the response from the guardrail.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOutputs(java.util.Collection)} or {@link #withOutputs(java.util.Collection)} if you want to override the existing values.</p>\n@param outputs The output details in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<GuardrailOutputContent>",
          "variableName" : "outputs",
          "variableType" : "java.util.List<GuardrailOutputContent>",
          "documentation" : "<p>The output details in the response from the guardrail.</p>",
          "simpleType" : "List<GuardrailOutputContent>",
          "variableSetterType" : "java.util.Collection<GuardrailOutputContent>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "assessments",
        "c2jShape" : "GuardrailAssessmentList",
        "deprecated" : false,
        "documentation" : "<p>The assessment details in the response from the guardrail.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The assessment details in the response from the guardrail.</p>\n@param assessments The assessment details in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAssessments",
        "getterDocumentation" : "/**<p>The assessment details in the response from the guardrail.</p>\n@return The assessment details in the response from the guardrail.*/",
        "getterMethodName" : "getAssessments",
        "getterModel" : {
          "returnType" : "java.util.List<GuardrailAssessment>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "assessments",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "assessments",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "GuardrailAssessment",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "GuardrailAssessment",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "GuardrailAssessment",
              "variableName" : "member",
              "variableType" : "GuardrailAssessment",
              "documentation" : "",
              "simpleType" : "GuardrailAssessment",
              "variableSetterType" : "GuardrailAssessment"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "GuardrailAssessment",
              "variableName" : "member",
              "variableType" : "GuardrailAssessment",
              "documentation" : "",
              "simpleType" : "GuardrailAssessment",
              "variableSetterType" : "GuardrailAssessment"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "GuardrailAssessment",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "GuardrailAssessment",
          "templateImplType" : "java.util.ArrayList<GuardrailAssessment>",
          "templateType" : "java.util.List<GuardrailAssessment>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Assessments",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The assessment details in the response from the guardrail.</p>\n@param assessments The assessment details in the response from the guardrail.*/",
        "setterMethodName" : "setAssessments",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<GuardrailAssessment>",
          "variableName" : "assessments",
          "variableType" : "java.util.List<GuardrailAssessment>",
          "documentation" : "",
          "simpleType" : "List<GuardrailAssessment>",
          "variableSetterType" : "java.util.Collection<GuardrailAssessment>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The assessment details in the response from the guardrail.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAssessments(java.util.Collection)} or {@link #withAssessments(java.util.Collection)} if you want to override the existing values.</p>\n@param assessments The assessment details in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<GuardrailAssessment>",
          "variableName" : "assessments",
          "variableType" : "java.util.List<GuardrailAssessment>",
          "documentation" : "<p>The assessment details in the response from the guardrail.</p>",
          "simpleType" : "List<GuardrailAssessment>",
          "variableSetterType" : "java.util.Collection<GuardrailAssessment>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Action" : {
          "c2jName" : "action",
          "c2jShape" : "GuardrailAction",
          "deprecated" : false,
          "documentation" : "<p>The action taken in the response from the guardrail.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "GuardrailAction",
          "fluentSetterDocumentation" : "/**<p>The action taken in the response from the guardrail.</p>\n@param action The action taken in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.\n@see GuardrailAction*/",
          "fluentSetterMethodName" : "withAction",
          "getterDocumentation" : "/**<p>The action taken in the response from the guardrail.</p>\n@return The action taken in the response from the guardrail.\n@see GuardrailAction*/",
          "getterMethodName" : "getAction",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "action",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "action",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Action",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The action taken in the response from the guardrail.</p>\n@param action The action taken in the response from the guardrail.\n@see GuardrailAction*/",
          "setterMethodName" : "setAction",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "action",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The action taken in the response from the guardrail.</p>\n@param action The action taken in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.\n@see GuardrailAction*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "action",
            "variableType" : "String",
            "documentation" : "<p>The action taken in the response from the guardrail.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Assessments" : {
          "c2jName" : "assessments",
          "c2jShape" : "GuardrailAssessmentList",
          "deprecated" : false,
          "documentation" : "<p>The assessment details in the response from the guardrail.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The assessment details in the response from the guardrail.</p>\n@param assessments The assessment details in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAssessments",
          "getterDocumentation" : "/**<p>The assessment details in the response from the guardrail.</p>\n@return The assessment details in the response from the guardrail.*/",
          "getterMethodName" : "getAssessments",
          "getterModel" : {
            "returnType" : "java.util.List<GuardrailAssessment>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "assessments",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "assessments",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "GuardrailAssessment",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "GuardrailAssessment",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "GuardrailAssessment",
                "variableName" : "member",
                "variableType" : "GuardrailAssessment",
                "documentation" : "",
                "simpleType" : "GuardrailAssessment",
                "variableSetterType" : "GuardrailAssessment"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "GuardrailAssessment",
                "variableName" : "member",
                "variableType" : "GuardrailAssessment",
                "documentation" : "",
                "simpleType" : "GuardrailAssessment",
                "variableSetterType" : "GuardrailAssessment"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "GuardrailAssessment",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "GuardrailAssessment",
            "templateImplType" : "java.util.ArrayList<GuardrailAssessment>",
            "templateType" : "java.util.List<GuardrailAssessment>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Assessments",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The assessment details in the response from the guardrail.</p>\n@param assessments The assessment details in the response from the guardrail.*/",
          "setterMethodName" : "setAssessments",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<GuardrailAssessment>",
            "variableName" : "assessments",
            "variableType" : "java.util.List<GuardrailAssessment>",
            "documentation" : "",
            "simpleType" : "List<GuardrailAssessment>",
            "variableSetterType" : "java.util.Collection<GuardrailAssessment>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The assessment details in the response from the guardrail.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAssessments(java.util.Collection)} or {@link #withAssessments(java.util.Collection)} if you want to override the existing values.</p>\n@param assessments The assessment details in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<GuardrailAssessment>",
            "variableName" : "assessments",
            "variableType" : "java.util.List<GuardrailAssessment>",
            "documentation" : "<p>The assessment details in the response from the guardrail.</p>",
            "simpleType" : "List<GuardrailAssessment>",
            "variableSetterType" : "java.util.Collection<GuardrailAssessment>"
          },
          "xmlNameSpaceUri" : null
        },
        "Outputs" : {
          "c2jName" : "outputs",
          "c2jShape" : "GuardrailOutputContentList",
          "deprecated" : false,
          "documentation" : "<p>The output details in the response from the guardrail.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The output details in the response from the guardrail.</p>\n@param outputs The output details in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOutputs",
          "getterDocumentation" : "/**<p>The output details in the response from the guardrail.</p>\n@return The output details in the response from the guardrail.*/",
          "getterMethodName" : "getOutputs",
          "getterModel" : {
            "returnType" : "java.util.List<GuardrailOutputContent>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "outputs",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "outputs",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "GuardrailOutputContent",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "GuardrailOutputContent",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "GuardrailOutputContent",
                "variableName" : "member",
                "variableType" : "GuardrailOutputContent",
                "documentation" : "",
                "simpleType" : "GuardrailOutputContent",
                "variableSetterType" : "GuardrailOutputContent"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "GuardrailOutputContent",
                "variableName" : "member",
                "variableType" : "GuardrailOutputContent",
                "documentation" : "",
                "simpleType" : "GuardrailOutputContent",
                "variableSetterType" : "GuardrailOutputContent"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "GuardrailOutputContent",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "GuardrailOutputContent",
            "templateImplType" : "java.util.ArrayList<GuardrailOutputContent>",
            "templateType" : "java.util.List<GuardrailOutputContent>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Outputs",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The output details in the response from the guardrail.</p>\n@param outputs The output details in the response from the guardrail.*/",
          "setterMethodName" : "setOutputs",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<GuardrailOutputContent>",
            "variableName" : "outputs",
            "variableType" : "java.util.List<GuardrailOutputContent>",
            "documentation" : "",
            "simpleType" : "List<GuardrailOutputContent>",
            "variableSetterType" : "java.util.Collection<GuardrailOutputContent>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The output details in the response from the guardrail.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOutputs(java.util.Collection)} or {@link #withOutputs(java.util.Collection)} if you want to override the existing values.</p>\n@param outputs The output details in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<GuardrailOutputContent>",
            "variableName" : "outputs",
            "variableType" : "java.util.List<GuardrailOutputContent>",
            "documentation" : "<p>The output details in the response from the guardrail.</p>",
            "simpleType" : "List<GuardrailOutputContent>",
            "variableSetterType" : "java.util.Collection<GuardrailOutputContent>"
          },
          "xmlNameSpaceUri" : null
        },
        "Usage" : {
          "c2jName" : "usage",
          "c2jShape" : "GuardrailUsage",
          "deprecated" : false,
          "documentation" : "<p>The usage details in the response from the guardrail.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The usage details in the response from the guardrail.</p>\n@param usage The usage details in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUsage",
          "getterDocumentation" : "/**<p>The usage details in the response from the guardrail.</p>\n@return The usage details in the response from the guardrail.*/",
          "getterMethodName" : "getUsage",
          "getterModel" : {
            "returnType" : "GuardrailUsage",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "usage",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "usage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Usage",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The usage details in the response from the guardrail.</p>\n@param usage The usage details in the response from the guardrail.*/",
          "setterMethodName" : "setUsage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "GuardrailUsage",
            "variableName" : "usage",
            "variableType" : "GuardrailUsage",
            "documentation" : "",
            "simpleType" : "GuardrailUsage",
            "variableSetterType" : "GuardrailUsage"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The usage details in the response from the guardrail.</p>\n@param usage The usage details in the response from the guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "GuardrailUsage",
            "variableName" : "usage",
            "variableType" : "GuardrailUsage",
            "documentation" : "<p>The usage details in the response from the guardrail.</p>",
            "simpleType" : "GuardrailUsage",
            "variableSetterType" : "GuardrailUsage"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockruntime.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "usage", "action", "outputs", "assessments" ],
      "shapeName" : "ApplyGuardrailResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
[...]
