{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-07-26",
    "asyncClient" : "AWSBedrockAgentRuntimeAsyncClient",
    "asyncClientBuilderClassName" : "AWSBedrockAgentRuntimeAsyncClientBuilder",
    "asyncInterface" : "AWSBedrockAgentRuntimeAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSBedrockAgentRuntimeModuleInjector",
    "defaultEndpoint" : "bedrock-agent-runtime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "bedrock-agent-runtime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Contains APIs related to model invocation and querying of knowledge bases.</p>",
    "endpointPrefix" : "bedrock-agent-runtime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.bedrockagentruntime",
    "packagePath" : "com/amazonaws/services/bedrockagentruntime",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Agents for Amazon Bedrock Runtime",
    "serviceId" : "Bedrock Agent Runtime",
    "serviceName" : "Agents for Amazon Bedrock Runtime",
    "signingName" : "bedrock",
    "smokeTestsPackageName" : "com.amazonaws.services.bedrockagentruntime.smoketests",
    "syncClient" : "AWSBedrockAgentRuntimeClient",
    "syncClientBuilderClassName" : "AWSBedrockAgentRuntimeClientBuilder",
    "syncInterface" : "AWSBedrockAgentRuntime",
    "uid" : "bedrock-agent-runtime-2023-07-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "Retrieve" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RetrieveResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RetrieveResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetrieveRequest, RetrieveResult>",
      "asyncReturnType" : "RetrieveResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Queries a knowledge base and retrieves information from it.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict performing an operation. Resolve the conflict and retry your request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependencyFailedException",
        "documentation" : "<p>There was an issue with a dependency. Check the resource configurations and retry the request.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "BadGatewayException",
        "documentation" : "<p>There was an issue with a dependency due to a server issue. Retry your request.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions. Check your permissions and retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RetrieveRequest",
        "variableName" : "retrieveRequest",
        "variableType" : "RetrieveRequest",
        "documentation" : "",
        "simpleType" : "RetrieveRequest",
        "variableSetterType" : "RetrieveRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "retrieve",
      "operationName" : "Retrieve",
      "returnType" : {
        "returnType" : "RetrieveResult",
        "documentation" : null
      },
      "syncReturnType" : "RetrieveResult"
    },
    "RetrieveAndGenerate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RetrieveAndGenerateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RetrieveAndGenerateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetrieveAndGenerateRequest, RetrieveAndGenerateResult>",
      "asyncReturnType" : "RetrieveAndGenerateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Queries a knowledge base and generates responses based on the retrieved results. The response only cites sources that are relevant to the query.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict performing an operation. Resolve the conflict and retry your request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependencyFailedException",
        "documentation" : "<p>There was an issue with a dependency. Check the resource configurations and retry the request.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "BadGatewayException",
        "documentation" : "<p>There was an issue with a dependency due to a server issue. Retry your request.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions. Check your permissions and retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RetrieveAndGenerateRequest",
        "variableName" : "retrieveAndGenerateRequest",
        "variableType" : "RetrieveAndGenerateRequest",
        "documentation" : "",
        "simpleType" : "RetrieveAndGenerateRequest",
        "variableSetterType" : "RetrieveAndGenerateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "retrieveAndGenerate",
      "operationName" : "RetrieveAndGenerate",
      "returnType" : {
        "returnType" : "RetrieveAndGenerateResult",
        "documentation" : null
      },
      "syncReturnType" : "RetrieveAndGenerateResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request is denied because of missing access permissions. Check your permissions and retry your request.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "BadGatewayException" : {
      "c2jName" : "BadGatewayException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>There was an issue with a dependency due to a server issue. Retry your request.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "BadGatewayException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.exception.BadGatewayException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "resourceName",
        "c2jShape" : "NonBlankString",
        "deprecated" : false,
        "documentation" : "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@param resourceName The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceName",
        "getterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@return The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.*/",
        "getterMethodName" : "getResourceName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@param resourceName The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.*/",
        "setterMethodName" : "setResourceName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@param resourceName The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceName",
          "variableType" : "String",
          "documentation" : "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceName" : {
          "c2jName" : "resourceName",
          "c2jShape" : "NonBlankString",
          "deprecated" : false,
          "documentation" : "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@param resourceName The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceName",
          "getterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@return The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.*/",
          "getterMethodName" : "getResourceName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@param resourceName The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.*/",
          "setterMethodName" : "setResourceName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@param resourceName The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceName",
            "variableType" : "String",
            "documentation" : "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "BadGatewayException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadGatewayException",
        "variableName" : "badGatewayException",
        "variableType" : "BadGatewayException",
        "documentation" : null,
        "simpleType" : "BadGatewayException",
        "variableSetterType" : "BadGatewayException"
      },
      "wrapper" : false
    },
    "ByteContentDoc" : {
      "c2jName" : "ByteContentDoc",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This property contains the document to chat with, along with its attributes.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.model.ByteContentDoc",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "contentType",
        "c2jShape" : "ContentType",
        "deprecated" : false,
        "documentation" : "<p>The MIME type of the document contained in the wrapper object.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The MIME type of the document contained in the wrapper object.</p>\n@param contentType The MIME type of the document contained in the wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContentType",
        "getterDocumentation" : "/**<p>The MIME type of the document contained in the wrapper object.</p>\n@return The MIME type of the document contained in the wrapper object.*/",
        "getterMethodName" : "getContentType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "contentType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "contentType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ContentType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The MIME type of the document contained in the wrapper object.</p>\n@param contentType The MIME type of the document contained in the wrapper object.*/",
        "setterMethodName" : "setContentType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "contentType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The MIME type of the document contained in the wrapper object.</p>\n@param contentType The MIME type of the document contained in the wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "contentType",
          "variableType" : "String",
          "documentation" : "<p>The MIME type of the document contained in the wrapper object.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "data",
        "c2jShape" : "ByteContentBlob",
        "deprecated" : false,
        "documentation" : "<p>The byte value of the file to upload, encoded as a Base-64 string.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The byte value of the file to upload, encoded as a Base-64 string.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The byte value of the file to upload, encoded as a Base-64 string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withData",
        "getterDocumentation" : "/**<p>The byte value of the file to upload, encoded as a Base-64 string.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return The byte value of the file to upload, encoded as a Base-64 string.*/",
        "getterMethodName" : "getData",
        "getterModel" : {
          "returnType" : "java.nio.ByteBuffer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "data",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "data",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.nio.ByteBuffer",
        "marshallingType" : "BYTE_BUFFER",
        "name" : "Data",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The byte value of the file to upload, encoded as a Base-64 string.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The byte value of the file to upload, encoded as a Base-64 string.*/",
        "setterMethodName" : "setData",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "data",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The byte value of the file to upload, encoded as a Base-64 string.</p>\n@param data The byte value of the file to upload, encoded as a Base-64 string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "data",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "<p>The byte value of the file to upload, encoded as a Base-64 string.</p>",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "identifier",
        "c2jShape" : "Identifier",
        "deprecated" : false,
        "documentation" : "<p>The file name of the document contained in the wrapper object.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The file name of the document contained in the wrapper object.</p>\n@param identifier The file name of the document contained in the wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIdentifier",
        "getterDocumentation" : "/**<p>The file name of the document contained in the wrapper object.</p>\n@return The file name of the document contained in the wrapper object.*/",
        "getterMethodName" : "getIdentifier",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "identifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "identifier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Identifier",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The file name of the document contained in the wrapper object.</p>\n@param identifier The file name of the document contained in the wrapper object.*/",
        "setterMethodName" : "setIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "identifier",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The file name of the document contained in the wrapper object.</p>\n@param identifier The file name of the document contained in the wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "identifier",
          "variableType" : "String",
          "documentation" : "<p>The file name of the document contained in the wrapper object.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ContentType" : {
          "c2jName" : "contentType",
          "c2jShape" : "ContentType",
          "deprecated" : false,
          "documentation" : "<p>The MIME type of the document contained in the wrapper object.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The MIME type of the document contained in the wrapper object.</p>\n@param contentType The MIME type of the document contained in the wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withContentType",
          "getterDocumentation" : "/**<p>The MIME type of the document contained in the wrapper object.</p>\n@return The MIME type of the document contained in the wrapper object.*/",
          "getterMethodName" : "getContentType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "contentType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "contentType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ContentType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The MIME type of the document contained in the wrapper object.</p>\n@param contentType The MIME type of the document contained in the wrapper object.*/",
          "setterMethodName" : "setContentType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "contentType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The MIME type of the document contained in the wrapper object.</p>\n@param contentType The MIME type of the document contained in the wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "contentType",
            "variableType" : "String",
            "documentation" : "<p>The MIME type of the document contained in the wrapper object.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Data" : {
          "c2jName" : "data",
          "c2jShape" : "ByteContentBlob",
          "deprecated" : false,
          "documentation" : "<p>The byte value of the file to upload, encoded as a Base-64 string.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The byte value of the file to upload, encoded as a Base-64 string.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The byte value of the file to upload, encoded as a Base-64 string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withData",
          "getterDocumentation" : "/**<p>The byte value of the file to upload, encoded as a Base-64 string.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return The byte value of the file to upload, encoded as a Base-64 string.*/",
          "getterMethodName" : "getData",
          "getterModel" : {
            "returnType" : "java.nio.ByteBuffer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "data",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "data",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.nio.ByteBuffer",
          "marshallingType" : "BYTE_BUFFER",
          "name" : "Data",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The byte value of the file to upload, encoded as a Base-64 string.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The byte value of the file to upload, encoded as a Base-64 string.*/",
          "setterMethodName" : "setData",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.nio.ByteBuffer",
            "variableName" : "data",
            "variableType" : "java.nio.ByteBuffer",
            "documentation" : "",
            "simpleType" : "ByteBuffer",
            "variableSetterType" : "java.nio.ByteBuffer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The byte value of the file to upload, encoded as a Base-64 string.</p>\n@param data The byte value of the file to upload, encoded as a Base-64 string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.nio.ByteBuffer",
            "variableName" : "data",
            "variableType" : "java.nio.ByteBuffer",
            "documentation" : "<p>The byte value of the file to upload, encoded as a Base-64 string.</p>",
            "simpleType" : "ByteBuffer",
            "variableSetterType" : "java.nio.ByteBuffer"
          },
          "xmlNameSpaceUri" : null
        },
        "Identifier" : {
          "c2jName" : "identifier",
          "c2jShape" : "Identifier",
          "deprecated" : false,
          "documentation" : "<p>The file name of the document contained in the wrapper object.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The file name of the document contained in the wrapper object.</p>\n@param identifier The file name of the document contained in the wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIdentifier",
          "getterDocumentation" : "/**<p>The file name of the document contained in the wrapper object.</p>\n@return The file name of the document contained in the wrapper object.*/",
          "getterMethodName" : "getIdentifier",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "identifier",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "identifier",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Identifier",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The file name of the document contained in the wrapper object.</p>\n@param identifier The file name of the document contained in the wrapper object.*/",
          "setterMethodName" : "setIdentifier",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "identifier",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The file name of the document contained in the wrapper object.</p>\n@param identifier The file name of the document contained in the wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "identifier",
            "variableType" : "String",
            "documentation" : "<p>The file name of the document contained in the wrapper object.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "contentType", "data", "identifier" ],
      "shapeName" : "ByteContentDoc",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ByteContentDoc",
        "variableName" : "byteContentDoc",
        "variableType" : "ByteContentDoc",
        "documentation" : null,
        "simpleType" : "ByteContentDoc",
        "variableSetterType" : "ByteContentDoc"
      },
      "wrapper" : false
    },
    "Citation" : {
      "c2jName" : "Citation",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object containing a segment of the generated response that is based on a source in the knowledge base, alongside information about the source.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> – in the <code>citations</code> field</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_ResponseSyntax\">RetrieveAndGenerate response</a> – in the <code>citations</code> field</p> </li> </ul>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.model.Citation",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "generatedResponsePart",
        "c2jShape" : "GeneratedResponsePart",
        "deprecated" : false,
        "documentation" : "<p>Contains the generated response and metadata </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Contains the generated response and metadata </p>\n@param generatedResponsePart Contains the generated response and metadata\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGeneratedResponsePart",
        "getterDocumentation" : "/**<p>Contains the generated response and metadata </p>\n@return Contains the generated response and metadata*/",
        "getterMethodName" : "getGeneratedResponsePart",
        "getterModel" : {
          "returnType" : "GeneratedResponsePart",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "generatedResponsePart",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "generatedResponsePart",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "GeneratedResponsePart",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Contains the generated response and metadata </p>\n@param generatedResponsePart Contains the generated response and metadata*/",
        "setterMethodName" : "setGeneratedResponsePart",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "GeneratedResponsePart",
          "variableName" : "generatedResponsePart",
          "variableType" : "GeneratedResponsePart",
          "documentation" : "",
          "simpleType" : "GeneratedResponsePart",
          "variableSetterType" : "GeneratedResponsePart"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Contains the generated response and metadata </p>\n@param generatedResponsePart Contains the generated response and metadata\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "GeneratedResponsePart",
          "variableName" : "generatedResponsePart",
          "variableType" : "GeneratedResponsePart",
          "documentation" : "<p>Contains the generated response and metadata </p>",
          "simpleType" : "GeneratedResponsePart",
          "variableSetterType" : "GeneratedResponsePart"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "retrievedReferences",
        "c2jShape" : "RetrievedReferences",
        "deprecated" : false,
        "documentation" : "<p>Contains metadata about the sources cited for the generated response.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Contains metadata about the sources cited for the generated response.</p>\n@param retrievedReferences Contains metadata about the sources cited for the generated response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRetrievedReferences",
        "getterDocumentation" : "/**<p>Contains metadata about the sources cited for the generated response.</p>\n@return Contains metadata about the sources cited for the generated response.*/",
        "getterMethodName" : "getRetrievedReferences",
        "getterModel" : {
          "returnType" : "java.util.List<RetrievedReference>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "retrievedReferences",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "retrievedReferences",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "RetrievedReference",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "RetrievedReference",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "RetrievedReference",
              "variableName" : "member",
              "variableType" : "RetrievedReference",
              "documentation" : "",
              "simpleType" : "RetrievedReference",
              "variableSetterType" : "RetrievedReference"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "RetrievedReference",
              "variableName" : "member",
              "variableType" : "RetrievedReference",
              "documentation" : "",
              "simpleType" : "RetrievedReference",
              "variableSetterType" : "RetrievedReference"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "RetrievedReference",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "RetrievedReference",
          "templateImplType" : "java.util.ArrayList<RetrievedReference>",
          "templateType" : "java.util.List<RetrievedReference>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "RetrievedReferences",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Contains metadata about the sources cited for the generated response.</p>\n@param retrievedReferences Contains metadata about the sources cited for the generated response.*/",
        "setterMethodName" : "setRetrievedReferences",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<RetrievedReference>",
          "variableName" : "retrievedReferences",
          "variableType" : "java.util.List<RetrievedReference>",
          "documentation" : "",
          "simpleType" : "List<RetrievedReference>",
          "variableSetterType" : "java.util.Collection<RetrievedReference>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Contains metadata about the sources cited for the generated response.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRetrievedReferences(java.util.Collection)} or {@link #withRetrievedReferences(java.util.Collection)} if you want to override the existing values.</p>\n@param retrievedReferences Contains metadata about the sources cited for the generated response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<RetrievedReference>",
          "variableName" : "retrievedReferences",
          "variableType" : "java.util.List<RetrievedReference>",
          "documentation" : "<p>Contains metadata about the sources cited for the generated response.</p>",
          "simpleType" : "List<RetrievedReference>",
          "variableSetterType" : "java.util.Collection<RetrievedReference>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "GeneratedResponsePart" : {
          "c2jName" : "generatedResponsePart",
          "c2jShape" : "GeneratedResponsePart",
          "deprecated" : false,
          "documentation" : "<p>Contains the generated response and metadata </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Contains the generated response and metadata </p>\n@param generatedResponsePart Contains the generated response and metadata\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGeneratedResponsePart",
          "getterDocumentation" : "/**<p>Contains the generated response and metadata </p>\n@return Contains the generated response and metadata*/",
          "getterMethodName" : "getGeneratedResponsePart",
          "getterModel" : {
            "returnType" : "GeneratedResponsePart",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "generatedResponsePart",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "generatedResponsePart",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "GeneratedResponsePart",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Contains the generated response and metadata </p>\n@param generatedResponsePart Contains the generated response and metadata*/",
          "setterMethodName" : "setGeneratedResponsePart",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "GeneratedResponsePart",
            "variableName" : "generatedResponsePart",
            "variableType" : "GeneratedResponsePart",
            "documentation" : "",
            "simpleType" : "GeneratedResponsePart",
            "variableSetterType" : "GeneratedResponsePart"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Contains the generated response and metadata </p>\n@param generatedResponsePart Contains the generated response and metadata\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "GeneratedResponsePart",
            "variableName" : "generatedResponsePart",
            "variableType" : "GeneratedResponsePart",
            "documentation" : "<p>Contains the generated response and metadata </p>",
            "simpleType" : "GeneratedResponsePart",
            "variableSetterType" : "GeneratedResponsePart"
          },
          "xmlNameSpaceUri" : null
        },
        "RetrievedReferences" : {
          "c2jName" : "retrievedReferences",
          "c2jShape" : "RetrievedReferences",
          "deprecated" : false,
          "documentation" : "<p>Contains metadata about the sources cited for the generated response.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Contains metadata about the sources cited for the generated response.</p>\n@param retrievedReferences Contains metadata about the sources cited for the generated response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRetrievedReferences",
          "getterDocumentation" : "/**<p>Contains metadata about the sources cited for the generated response.</p>\n@return Contains metadata about the sources cited for the generated response.*/",
          "getterMethodName" : "getRetrievedReferences",
          "getterModel" : {
            "returnType" : "java.util.List<RetrievedReference>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "retrievedReferences",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "retrievedReferences",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "RetrievedReference",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "RetrievedReference",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "RetrievedReference",
                "variableName" : "member",
                "variableType" : "RetrievedReference",
                "documentation" : "",
                "simpleType" : "RetrievedReference",
                "variableSetterType" : "RetrievedReference"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "RetrievedReference",
                "variableName" : "member",
                "variableType" : "RetrievedReference",
                "documentation" : "",
                "simpleType" : "RetrievedReference",
                "variableSetterType" : "RetrievedReference"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "RetrievedReference",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "RetrievedReference",
            "templateImplType" : "java.util.ArrayList<RetrievedReference>",
            "templateType" : "java.util.List<RetrievedReference>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "RetrievedReferences",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Contains metadata about the sources cited for the generated response.</p>\n@param retrievedReferences Contains metadata about the sources cited for the generated response.*/",
          "setterMethodName" : "setRetrievedReferences",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<RetrievedReference>",
            "variableName" : "retrievedReferences",
            "variableType" : "java.util.List<RetrievedReference>",
            "documentation" : "",
            "simpleType" : "List<RetrievedReference>",
            "variableSetterType" : "java.util.Collection<RetrievedReference>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Contains metadata about the sources cited for the generated response.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRetrievedReferences(java.util.Collection)} or {@link #withRetrievedReferences(java.util.Collection)} if you want to override the existing values.</p>\n@param retrievedReferences Contains metadata about the sources cited for the generated response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<RetrievedReference>",
            "variableName" : "retrievedReferences",
            "variableType" : "java.util.List<RetrievedReference>",
            "documentation" : "<p>Contains metadata about the sources cited for the generated response.</p>",
            "simpleType" : "List<RetrievedReference>",
            "variableSetterType" : "java.util.Collection<RetrievedReference>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Citation",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Citation",
        "variableName" : "citation",
        "variableType" : "Citation",
        "documentation" : null,
        "simpleType" : "Citation",
        "variableSetterType" : "Citation"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>There was a conflict performing an operation. Resolve the conflict and retry your request.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "DependencyFailedException" : {
      "c2jName" : "DependencyFailedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>There was an issue with a dependency. Check the resource configurations and retry the request.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "DependencyFailedException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.exception.DependencyFailedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "resourceName",
        "c2jShape" : "NonBlankString",
        "deprecated" : false,
        "documentation" : "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@param resourceName The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceName",
        "getterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@return The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.*/",
        "getterMethodName" : "getResourceName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@param resourceName The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.*/",
        "setterMethodName" : "setResourceName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@param resourceName The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceName",
          "variableType" : "String",
          "documentation" : "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceName" : {
          "c2jName" : "resourceName",
          "c2jShape" : "NonBlankString",
          "deprecated" : false,
          "documentation" : "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@param resourceName The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceName",
          "getterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@return The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.*/",
          "getterMethodName" : "getResourceName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@param resourceName The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.*/",
          "setterMethodName" : "setResourceName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>\n@param resourceName The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceName",
            "variableType" : "String",
            "documentation" : "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "DependencyFailedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DependencyFailedException",
        "variableName" : "dependencyFailedException",
        "variableType" : "DependencyFailedException",
        "documentation" : null,
        "simpleType" : "DependencyFailedException",
        "variableSetterType" : "DependencyFailedException"
      },
      "wrapper" : false
    },
    "ExternalSource" : {
      "c2jName" : "ExternalSource",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The unique external source of the content contained in the wrapper object.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.model.ExternalSource",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "byteContent",
        "c2jShape" : "ByteContentDoc",
        "deprecated" : false,
        "documentation" : "<p>The identifier, contentType, and data of the external source wrapper object.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier, contentType, and data of the external source wrapper object.</p>\n@param byteContent The identifier, contentType, and data of the external source wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withByteContent",
        "getterDocumentation" : "/**<p>The identifier, contentType, and data of the external source wrapper object.</p>\n@return The identifier, contentType, and data of the external source wrapper object.*/",
        "getterMethodName" : "getByteContent",
        "getterModel" : {
          "returnType" : "ByteContentDoc",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "byteContent",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "byteContent",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ByteContent",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier, contentType, and data of the external source wrapper object.</p>\n@param byteContent The identifier, contentType, and data of the external source wrapper object.*/",
        "setterMethodName" : "setByteContent",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ByteContentDoc",
          "variableName" : "byteContent",
          "variableType" : "ByteContentDoc",
          "documentation" : "",
          "simpleType" : "ByteContentDoc",
          "variableSetterType" : "ByteContentDoc"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier, contentType, and data of the external source wrapper object.</p>\n@param byteContent The identifier, contentType, and data of the external source wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ByteContentDoc",
          "variableName" : "byteContent",
          "variableType" : "ByteContentDoc",
          "documentation" : "<p>The identifier, contentType, and data of the external source wrapper object.</p>",
          "simpleType" : "ByteContentDoc",
          "variableSetterType" : "ByteContentDoc"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "s3Location",
        "c2jShape" : "S3ObjectDoc",
        "deprecated" : false,
        "documentation" : "<p>The S3 location of the external source wrapper object.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The S3 location of the external source wrapper object.</p>\n@param s3Location The S3 location of the external source wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3Location",
        "getterDocumentation" : "/**<p>The S3 location of the external source wrapper object.</p>\n@return The S3 location of the external source wrapper object.*/",
        "getterMethodName" : "getS3Location",
        "getterModel" : {
          "returnType" : "S3ObjectDoc",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "s3Location",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "s3Location",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "S3Location",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The S3 location of the external source wrapper object.</p>\n@param s3Location The S3 location of the external source wrapper object.*/",
        "setterMethodName" : "setS3Location",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3ObjectDoc",
          "variableName" : "s3Location",
          "variableType" : "S3ObjectDoc",
          "documentation" : "",
          "simpleType" : "S3ObjectDoc",
          "variableSetterType" : "S3ObjectDoc"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The S3 location of the external source wrapper object.</p>\n@param s3Location The S3 location of the external source wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3ObjectDoc",
          "variableName" : "s3Location",
          "variableType" : "S3ObjectDoc",
          "documentation" : "<p>The S3 location of the external source wrapper object.</p>",
          "simpleType" : "S3ObjectDoc",
          "variableSetterType" : "S3ObjectDoc"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "sourceType",
        "c2jShape" : "ExternalSourceType",
        "deprecated" : false,
        "documentation" : "<p>The source type of the external source wrapper object.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ExternalSourceType",
        "fluentSetterDocumentation" : "/**<p>The source type of the external source wrapper object.</p>\n@param sourceType The source type of the external source wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ExternalSourceType*/",
        "fluentSetterMethodName" : "withSourceType",
        "getterDocumentation" : "/**<p>The source type of the external source wrapper object.</p>\n@return The source type of the external source wrapper object.\n@see ExternalSourceType*/",
        "getterMethodName" : "getSourceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "sourceType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sourceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SourceType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The source type of the external source wrapper object.</p>\n@param sourceType The source type of the external source wrapper object.\n@see ExternalSourceType*/",
        "setterMethodName" : "setSourceType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The source type of the external source wrapper object.</p>\n@param sourceType The source type of the external source wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ExternalSourceType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceType",
          "variableType" : "String",
          "documentation" : "<p>The source type of the external source wrapper object.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ByteContent" : {
          "c2jName" : "byteContent",
          "c2jShape" : "ByteContentDoc",
          "deprecated" : false,
          "documentation" : "<p>The identifier, contentType, and data of the external source wrapper object.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier, contentType, and data of the external source wrapper object.</p>\n@param byteContent The identifier, contentType, and data of the external source wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withByteContent",
          "getterDocumentation" : "/**<p>The identifier, contentType, and data of the external source wrapper object.</p>\n@return The identifier, contentType, and data of the external source wrapper object.*/",
          "getterMethodName" : "getByteContent",
          "getterModel" : {
            "returnType" : "ByteContentDoc",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "byteContent",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "byteContent",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ByteContent",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier, contentType, and data of the external source wrapper object.</p>\n@param byteContent The identifier, contentType, and data of the external source wrapper object.*/",
          "setterMethodName" : "setByteContent",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ByteContentDoc",
            "variableName" : "byteContent",
            "variableType" : "ByteContentDoc",
            "documentation" : "",
            "simpleType" : "ByteContentDoc",
            "variableSetterType" : "ByteContentDoc"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier, contentType, and data of the external source wrapper object.</p>\n@param byteContent The identifier, contentType, and data of the external source wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ByteContentDoc",
            "variableName" : "byteContent",
            "variableType" : "ByteContentDoc",
            "documentation" : "<p>The identifier, contentType, and data of the external source wrapper object.</p>",
            "simpleType" : "ByteContentDoc",
            "variableSetterType" : "ByteContentDoc"
          },
          "xmlNameSpaceUri" : null
        },
        "S3Location" : {
          "c2jName" : "s3Location",
          "c2jShape" : "S3ObjectDoc",
          "deprecated" : false,
          "documentation" : "<p>The S3 location of the external source wrapper object.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The S3 location of the external source wrapper object.</p>\n@param s3Location The S3 location of the external source wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withS3Location",
          "getterDocumentation" : "/**<p>The S3 location of the external source wrapper object.</p>\n@return The S3 location of the external source wrapper object.*/",
          "getterMethodName" : "getS3Location",
          "getterModel" : {
            "returnType" : "S3ObjectDoc",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "s3Location",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "s3Location",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "S3Location",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The S3 location of the external source wrapper object.</p>\n@param s3Location The S3 location of the external source wrapper object.*/",
          "setterMethodName" : "setS3Location",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3ObjectDoc",
            "variableName" : "s3Location",
            "variableType" : "S3ObjectDoc",
            "documentation" : "",
            "simpleType" : "S3ObjectDoc",
            "variableSetterType" : "S3ObjectDoc"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The S3 location of the external source wrapper object.</p>\n@param s3Location The S3 location of the external source wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3ObjectDoc",
            "variableName" : "s3Location",
            "variableType" : "S3ObjectDoc",
            "documentation" : "<p>The S3 location of the external source wrapper object.</p>",
            "simpleType" : "S3ObjectDoc",
            "variableSetterType" : "S3ObjectDoc"
          },
          "xmlNameSpaceUri" : null
        },
        "SourceType" : {
          "c2jName" : "sourceType",
          "c2jShape" : "ExternalSourceType",
          "deprecated" : false,
          "documentation" : "<p>The source type of the external source wrapper object.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ExternalSourceType",
          "fluentSetterDocumentation" : "/**<p>The source type of the external source wrapper object.</p>\n@param sourceType The source type of the external source wrapper object.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ExternalSourceType*/",
          "fluentSetterMethodName" : "withSourceType",
          "getterDocumentation" : "/**<p>The source type of the external source wrapper object.</p>\n@return The source type of the external source wrapper object.\n@see ExternalSourceType*/",
          "getterMethodName" : "getSourceType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
[...]
