{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-04-20",
    "asyncClient" : "AmazonBedrockAsyncClient",
    "asyncClientBuilderClassName" : "AmazonBedrockAsyncClientBuilder",
    "asyncInterface" : "AmazonBedrockAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonBedrockModuleInjector",
    "defaultEndpoint" : "bedrock.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "bedrock.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Describes the API operations for creating, managing, fine-turning, and evaluating Amazon Bedrock models.</p>",
    "endpointPrefix" : "bedrock",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.bedrock",
    "packagePath" : "com/amazonaws/services/bedrock",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Bedrock",
    "serviceId" : "Bedrock",
    "serviceName" : "Amazon Bedrock",
    "signingName" : "bedrock",
    "smokeTestsPackageName" : "com.amazonaws.services.bedrock.smoketests",
    "syncClient" : "AmazonBedrockClient",
    "syncClientBuilderClassName" : "AmazonBedrockClientBuilder",
    "syncInterface" : "AmazonBedrock",
    "uid" : "bedrock-2023-04-20",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateEvaluationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEvaluationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEvaluationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEvaluationJobRequest, CreateEvaluationJobResult>",
      "asyncReturnType" : "CreateEvaluationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>API operation for creating and managing Amazon Bedrock automatic model evaluation jobs and model evaluation jobs that use human workers. To learn more about the requirements for creating a model evaluation job see, <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-evaluation.html\">Model evaluations</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEvaluationJobRequest",
        "variableName" : "createEvaluationJobRequest",
        "variableType" : "CreateEvaluationJobRequest",
        "documentation" : "",
        "simpleType" : "CreateEvaluationJobRequest",
        "variableSetterType" : "CreateEvaluationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEvaluationJob",
      "operationName" : "CreateEvaluationJob",
      "returnType" : {
        "returnType" : "CreateEvaluationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEvaluationJobResult"
    },
    "CreateGuardrail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGuardrailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGuardrailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGuardrailRequest, CreateGuardrailResult>",
      "asyncReturnType" : "CreateGuardrailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a guardrail to block topics and to filter out harmful content.</p> <ul> <li> <p>Specify a <code>name</code> and optional <code>description</code>.</p> </li> <li> <p>Specify messages for when the guardrail successfully blocks a prompt or a model response in the <code>blockedInputMessaging</code> and <code>blockedOutputsMessaging</code> fields.</p> </li> <li> <p>Specify topics for the guardrail to deny in the <code>topicPolicyConfig</code> object. Each <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GuardrailTopicConfig.html\">GuardrailTopicConfig</a> object in the <code>topicsConfig</code> list pertains to one topic.</p> <ul> <li> <p>Give a <code>name</code> and <code>description</code> so that the guardrail can properly identify the topic.</p> </li> <li> <p>Specify <code>DENY</code> in the <code>type</code> field.</p> </li> <li> <p>(Optional) Provide up to five prompts that you would categorize as belonging to the topic in the <code>examples</code> list.</p> </li> </ul> </li> <li> <p>Specify filter strengths for the harmful categories defined in Amazon Bedrock in the <code>contentPolicyConfig</code> object. Each <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GuardrailContentFilterConfig.html\">GuardrailContentFilterConfig</a> object in the <code>filtersConfig</code> list pertains to a harmful category. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/guardrails-filters\">Content filters</a>. For more information about the fields in a content filter, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GuardrailContentFilterConfig.html\">GuardrailContentFilterConfig</a>.</p> <ul> <li> <p>Specify the category in the <code>type</code> field.</p> </li> <li> <p>Specify the strength of the filter for prompts in the <code>inputStrength</code> field and for model responses in the <code>strength</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GuardrailContentFilterConfig.html\">GuardrailContentFilterConfig</a>.</p> </li> </ul> </li> <li> <p>(Optional) For security, include the ARN of a KMS key in the <code>kmsKeyId</code> field.</p> </li> <li> <p>(Optional) Attach any tags to the guardrail in the <code>tags</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/tagging\">Tag resources</a>.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request contains more tags than can be associated with a resource (50 tags per resource). The maximum number of tags includes both existing tags and those included in your current request. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGuardrailRequest",
        "variableName" : "createGuardrailRequest",
        "variableType" : "CreateGuardrailRequest",
        "documentation" : "",
        "simpleType" : "CreateGuardrailRequest",
        "variableSetterType" : "CreateGuardrailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGuardrail",
      "operationName" : "CreateGuardrail",
      "returnType" : {
        "returnType" : "CreateGuardrailResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGuardrailResult"
    },
    "CreateGuardrailVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGuardrailVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGuardrailVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGuardrailVersionRequest, CreateGuardrailVersionResult>",
      "asyncReturnType" : "CreateGuardrailVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a version of the guardrail. Use this API to create a snapshot of the guardrail when you are satisfied with a configuration, or to compare the configuration with another version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGuardrailVersionRequest",
        "variableName" : "createGuardrailVersionRequest",
        "variableType" : "CreateGuardrailVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateGuardrailVersionRequest",
        "variableSetterType" : "CreateGuardrailVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGuardrailVersion",
      "operationName" : "CreateGuardrailVersion",
      "returnType" : {
        "returnType" : "CreateGuardrailVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGuardrailVersionResult"
    },
    "CreateModelCustomizationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateModelCustomizationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateModelCustomizationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateModelCustomizationJobRequest, CreateModelCustomizationJobResult>",
      "asyncReturnType" : "CreateModelCustomizationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a fine-tuning job to customize a base model.</p> <p>You specify the base foundation model and the location of the training data. After the model-customization job completes successfully, your custom model resource will be ready to use. Amazon Bedrock returns validation loss metrics and output generations after the job completes. </p> <p>For information on the format of training and validation data, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-prepare.html\">Prepare the datasets</a>.</p> <p> Model-customization jobs are asynchronous and the completion time depends on the base model and the training/validation data size. To monitor a job, use the <code>GetModelCustomizationJob</code> operation to retrieve the job status.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request contains more tags than can be associated with a resource (50 tags per resource). The maximum number of tags includes both existing tags and those included in your current request. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateModelCustomizationJobRequest",
        "variableName" : "createModelCustomizationJobRequest",
        "variableType" : "CreateModelCustomizationJobRequest",
        "documentation" : "",
        "simpleType" : "CreateModelCustomizationJobRequest",
        "variableSetterType" : "CreateModelCustomizationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createModelCustomizationJob",
      "operationName" : "CreateModelCustomizationJob",
      "returnType" : {
        "returnType" : "CreateModelCustomizationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateModelCustomizationJobResult"
    },
    "CreateProvisionedModelThroughput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProvisionedModelThroughputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProvisionedModelThroughputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProvisionedModelThroughputRequest, CreateProvisionedModelThroughputResult>",
      "asyncReturnType" : "CreateProvisionedModelThroughputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates dedicated throughput for a base or custom model with the model units and for the duration that you specify. For pricing details, see <a href=\"http://aws.amazon.com/bedrock/pricing/\">Amazon Bedrock Pricing</a>. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request contains more tags than can be associated with a resource (50 tags per resource). The maximum number of tags includes both existing tags and those included in your current request. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProvisionedModelThroughputRequest",
        "variableName" : "createProvisionedModelThroughputRequest",
        "variableType" : "CreateProvisionedModelThroughputRequest",
        "documentation" : "",
        "simpleType" : "CreateProvisionedModelThroughputRequest",
        "variableSetterType" : "CreateProvisionedModelThroughputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProvisionedModelThroughput",
      "operationName" : "CreateProvisionedModelThroughput",
      "returnType" : {
        "returnType" : "CreateProvisionedModelThroughputResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProvisionedModelThroughputResult"
    },
    "DeleteCustomModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCustomModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCustomModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCustomModelRequest, DeleteCustomModelResult>",
      "asyncReturnType" : "DeleteCustomModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a custom model that you created earlier. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCustomModelRequest",
        "variableName" : "deleteCustomModelRequest",
        "variableType" : "DeleteCustomModelRequest",
        "documentation" : "",
        "simpleType" : "DeleteCustomModelRequest",
        "variableSetterType" : "DeleteCustomModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCustomModel",
      "operationName" : "DeleteCustomModel",
      "returnType" : {
        "returnType" : "DeleteCustomModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCustomModelResult"
    },
    "DeleteGuardrail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGuardrailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGuardrailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGuardrailRequest, DeleteGuardrailResult>",
      "asyncReturnType" : "DeleteGuardrailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a guardrail.</p> <ul> <li> <p>To delete a guardrail, only specify the ARN of the guardrail in the <code>guardrailIdentifier</code> field. If you delete a guardrail, all of its versions will be deleted.</p> </li> <li> <p>To delete a version of a guardrail, specify the ARN of the guardrail in the <code>guardrailIdentifier</code> field and the version in the <code>guardrailVersion</code> field.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGuardrailRequest",
        "variableName" : "deleteGuardrailRequest",
        "variableType" : "DeleteGuardrailRequest",
        "documentation" : "",
        "simpleType" : "DeleteGuardrailRequest",
        "variableSetterType" : "DeleteGuardrailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGuardrail",
      "operationName" : "DeleteGuardrail",
      "returnType" : {
        "returnType" : "DeleteGuardrailResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGuardrailResult"
    },
    "DeleteModelInvocationLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteModelInvocationLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteModelInvocationLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteModelInvocationLoggingConfigurationRequest, DeleteModelInvocationLoggingConfigurationResult>",
      "asyncReturnType" : "DeleteModelInvocationLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete the invocation logging. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteModelInvocationLoggingConfigurationRequest",
        "variableName" : "deleteModelInvocationLoggingConfigurationRequest",
        "variableType" : "DeleteModelInvocationLoggingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteModelInvocationLoggingConfigurationRequest",
        "variableSetterType" : "DeleteModelInvocationLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteModelInvocationLoggingConfiguration",
      "operationName" : "DeleteModelInvocationLoggingConfiguration",
      "returnType" : {
        "returnType" : "DeleteModelInvocationLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteModelInvocationLoggingConfigurationResult"
    },
    "DeleteProvisionedModelThroughput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProvisionedModelThroughputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProvisionedModelThroughputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProvisionedModelThroughputRequest, DeleteProvisionedModelThroughputResult>",
      "asyncReturnType" : "DeleteProvisionedModelThroughputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Provisioned Throughput. You can't delete a Provisioned Throughput before the commitment term is over. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProvisionedModelThroughputRequest",
        "variableName" : "deleteProvisionedModelThroughputRequest",
        "variableType" : "DeleteProvisionedModelThroughputRequest",
        "documentation" : "",
        "simpleType" : "DeleteProvisionedModelThroughputRequest",
        "variableSetterType" : "DeleteProvisionedModelThroughputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProvisionedModelThroughput",
      "operationName" : "DeleteProvisionedModelThroughput",
      "returnType" : {
        "returnType" : "DeleteProvisionedModelThroughputResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProvisionedModelThroughputResult"
    },
    "GetCustomModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCustomModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCustomModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCustomModelRequest, GetCustomModelResult>",
      "asyncReturnType" : "GetCustomModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the properties associated with a Amazon Bedrock custom model that you have created.For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCustomModelRequest",
        "variableName" : "getCustomModelRequest",
        "variableType" : "GetCustomModelRequest",
        "documentation" : "",
        "simpleType" : "GetCustomModelRequest",
        "variableSetterType" : "GetCustomModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCustomModel",
      "operationName" : "GetCustomModel",
      "returnType" : {
        "returnType" : "GetCustomModelResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCustomModelResult"
    },
    "GetEvaluationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEvaluationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEvaluationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEvaluationJobRequest, GetEvaluationJobResult>",
      "asyncReturnType" : "GetEvaluationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the properties associated with a model evaluation job, including the status of the job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/latest/userguide/model-evaluation.html\">Model evaluations</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEvaluationJobRequest",
        "variableName" : "getEvaluationJobRequest",
        "variableType" : "GetEvaluationJobRequest",
        "documentation" : "",
        "simpleType" : "GetEvaluationJobRequest",
        "variableSetterType" : "GetEvaluationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEvaluationJob",
      "operationName" : "GetEvaluationJob",
      "returnType" : {
        "returnType" : "GetEvaluationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEvaluationJobResult"
    },
    "GetFoundationModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFoundationModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFoundationModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFoundationModelRequest, GetFoundationModelResult>",
      "asyncReturnType" : "GetFoundationModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get details about a Amazon Bedrock foundation model.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFoundationModelRequest",
        "variableName" : "getFoundationModelRequest",
        "variableType" : "GetFoundationModelRequest",
        "documentation" : "",
        "simpleType" : "GetFoundationModelRequest",
        "variableSetterType" : "GetFoundationModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFoundationModel",
      "operationName" : "GetFoundationModel",
      "returnType" : {
        "returnType" : "GetFoundationModelResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFoundationModelResult"
    },
    "GetGuardrail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGuardrailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGuardrailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGuardrailRequest, GetGuardrailResult>",
      "asyncReturnType" : "GetGuardrailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets details about a guardrail. If you don't specify a version, the response returns details for the <code>DRAFT</code> version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGuardrailRequest",
        "variableName" : "getGuardrailRequest",
        "variableType" : "GetGuardrailRequest",
        "documentation" : "",
        "simpleType" : "GetGuardrailRequest",
        "variableSetterType" : "GetGuardrailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGuardrail",
      "operationName" : "GetGuardrail",
      "returnType" : {
        "returnType" : "GetGuardrailResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGuardrailResult"
    },
    "GetModelCustomizationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetModelCustomizationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetModelCustomizationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetModelCustomizationJobRequest, GetModelCustomizationJobResult>",
      "asyncReturnType" : "GetModelCustomizationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the properties associated with a model-customization job, including the status of the job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetModelCustomizationJobRequest",
        "variableName" : "getModelCustomizationJobRequest",
        "variableType" : "GetModelCustomizationJobRequest",
        "documentation" : "",
        "simpleType" : "GetModelCustomizationJobRequest",
        "variableSetterType" : "GetModelCustomizationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getModelCustomizationJob",
      "operationName" : "GetModelCustomizationJob",
      "returnType" : {
        "returnType" : "GetModelCustomizationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetModelCustomizationJobResult"
    },
    "GetModelInvocationLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetModelInvocationLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetModelInvocationLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetModelInvocationLoggingConfigurationRequest, GetModelInvocationLoggingConfigurationResult>",
      "asyncReturnType" : "GetModelInvocationLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the current configuration values for model invocation logging.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetModelInvocationLoggingConfigurationRequest",
        "variableName" : "getModelInvocationLoggingConfigurationRequest",
        "variableType" : "GetModelInvocationLoggingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetModelInvocationLoggingConfigurationRequest",
        "variableSetterType" : "GetModelInvocationLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getModelInvocationLoggingConfiguration",
      "operationName" : "GetModelInvocationLoggingConfiguration",
      "returnType" : {
        "returnType" : "GetModelInvocationLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetModelInvocationLoggingConfigurationResult"
    },
    "GetProvisionedModelThroughput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProvisionedModelThroughputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProvisionedModelThroughputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProvisionedModelThroughputRequest, GetProvisionedModelThroughputResult>",
      "asyncReturnType" : "GetProvisionedModelThroughputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details for a Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProvisionedModelThroughputRequest",
        "variableName" : "getProvisionedModelThroughputRequest",
        "variableType" : "GetProvisionedModelThroughputRequest",
        "documentation" : "",
        "simpleType" : "GetProvisionedModelThroughputRequest",
        "variableSetterType" : "GetProvisionedModelThroughputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProvisionedModelThroughput",
      "operationName" : "GetProvisionedModelThroughput",
      "returnType" : {
        "returnType" : "GetProvisionedModelThroughputResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProvisionedModelThroughputResult"
    },
    "ListCustomModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCustomModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCustomModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCustomModelsRequest, ListCustomModelsResult>",
      "asyncReturnType" : "ListCustomModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the custom models that you have created with the <code>CreateModelCustomizationJob</code> operation.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCustomModelsRequest",
        "variableName" : "listCustomModelsRequest",
        "variableType" : "ListCustomModelsRequest",
        "documentation" : "",
        "simpleType" : "ListCustomModelsRequest",
        "variableSetterType" : "ListCustomModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCustomModels",
      "operationName" : "ListCustomModels",
      "returnType" : {
        "returnType" : "ListCustomModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCustomModelsResult"
    },
    "ListEvaluationJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEvaluationJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEvaluationJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEvaluationJobsRequest, ListEvaluationJobsResult>",
      "asyncReturnType" : "ListEvaluationJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists model evaluation jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEvaluationJobsRequest",
        "variableName" : "listEvaluationJobsRequest",
        "variableType" : "ListEvaluationJobsRequest",
        "documentation" : "",
        "simpleType" : "ListEvaluationJobsRequest",
        "variableSetterType" : "ListEvaluationJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEvaluationJobs",
      "operationName" : "ListEvaluationJobs",
      "returnType" : {
        "returnType" : "ListEvaluationJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEvaluationJobsResult"
    },
    "ListFoundationModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFoundationModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFoundationModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFoundationModelsRequest, ListFoundationModelsResult>",
      "asyncReturnType" : "ListFoundationModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists Amazon Bedrock foundation models that you can use. You can filter the results with the request parameters. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/foundation-models.html\">Foundation models</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFoundationModelsRequest",
        "variableName" : "listFoundationModelsRequest",
        "variableType" : "ListFoundationModelsRequest",
        "documentation" : "",
        "simpleType" : "ListFoundationModelsRequest",
        "variableSetterType" : "ListFoundationModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFoundationModels",
      "operationName" : "ListFoundationModels",
      "returnType" : {
        "returnType" : "ListFoundationModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFoundationModelsResult"
    },
    "ListGuardrails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGuardrailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGuardrailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGuardrailsRequest, ListGuardrailsResult>",
      "asyncReturnType" : "ListGuardrailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists details about all the guardrails in an account. To list the <code>DRAFT</code> version of all your guardrails, don't specify the <code>guardrailIdentifier</code> field. To list all versions of a guardrail, specify the ARN of the guardrail in the <code>guardrailIdentifier</code> field.</p> <p>You can set the maximum number of results to return in a response in the <code>maxResults</code> field. If there are more results than the number you set, the response returns a <code>nextToken</code> that you can send in another <code>ListGuardrails</code> request to see the next batch of results.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGuardrailsRequest",
        "variableName" : "listGuardrailsRequest",
        "variableType" : "ListGuardrailsRequest",
        "documentation" : "",
        "simpleType" : "ListGuardrailsRequest",
        "variableSetterType" : "ListGuardrailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGuardrails",
      "operationName" : "ListGuardrails",
      "returnType" : {
        "returnType" : "ListGuardrailsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGuardrailsResult"
    },
    "ListModelCustomizationJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListModelCustomizationJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListModelCustomizationJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListModelCustomizationJobsRequest, ListModelCustomizationJobsResult>",
      "asyncReturnType" : "ListModelCustomizationJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of model customization jobs that you have submitted. You can filter the jobs to return based on one or more criteria.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListModelCustomizationJobsRequest",
        "variableName" : "listModelCustomizationJobsRequest",
        "variableType" : "ListModelCustomizationJobsRequest",
        "documentation" : "",
        "simpleType" : "ListModelCustomizationJobsRequest",
        "variableSetterType" : "ListModelCustomizationJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listModelCustomizationJobs",
      "operationName" : "ListModelCustomizationJobs",
      "returnType" : {
        "returnType" : "ListModelCustomizationJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListModelCustomizationJobsResult"
    },
    "ListProvisionedModelThroughputs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProvisionedModelThroughputsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProvisionedModelThroughputsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProvisionedModelThroughputsRequest, ListProvisionedModelThroughputsResult>",
      "asyncReturnType" : "ListProvisionedModelThroughputsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Provisioned Throughputs in the account. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProvisionedModelThroughputsRequest",
        "variableName" : "listProvisionedModelThroughputsRequest",
        "variableType" : "ListProvisionedModelThroughputsRequest",
        "documentation" : "",
        "simpleType" : "ListProvisionedModelThroughputsRequest",
        "variableSetterType" : "ListProvisionedModelThroughputsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProvisionedModelThroughputs",
      "operationName" : "ListProvisionedModelThroughputs",
      "returnType" : {
        "returnType" : "ListProvisionedModelThroughputsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProvisionedModelThroughputsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the tags associated with the specified resource.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/tagging.html\">Tagging resources</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutModelInvocationLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutModelInvocationLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutModelInvocationLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutModelInvocationLoggingConfigurationRequest, PutModelInvocationLoggingConfigurationResult>",
      "asyncReturnType" : "PutModelInvocationLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Set the configuration values for model invocation logging.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutModelInvocationLoggingConfigurationRequest",
        "variableName" : "putModelInvocationLoggingConfigurationRequest",
        "variableType" : "PutModelInvocationLoggingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutModelInvocationLoggingConfigurationRequest",
        "variableSetterType" : "PutModelInvocationLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putModelInvocationLoggingConfiguration",
      "operationName" : "PutModelInvocationLoggingConfiguration",
      "returnType" : {
        "returnType" : "PutModelInvocationLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutModelInvocationLoggingConfigurationResult"
    },
    "StopEvaluationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopEvaluationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopEvaluationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopEvaluationJobRequest, StopEvaluationJobResult>",
      "asyncReturnType" : "StopEvaluationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an in progress model evaluation job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopEvaluationJobRequest",
        "variableName" : "stopEvaluationJobRequest",
        "variableType" : "StopEvaluationJobRequest",
        "documentation" : "",
        "simpleType" : "StopEvaluationJobRequest",
        "variableSetterType" : "StopEvaluationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopEvaluationJob",
      "operationName" : "StopEvaluationJob",
      "returnType" : {
        "returnType" : "StopEvaluationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopEvaluationJobResult"
    },
    "StopModelCustomizationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopModelCustomizationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopModelCustomizationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopModelCustomizationJobRequest, StopModelCustomizationJobResult>",
      "asyncReturnType" : "StopModelCustomizationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an active model customization job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopModelCustomizationJobRequest",
        "variableName" : "stopModelCustomizationJobRequest",
        "variableType" : "StopModelCustomizationJobRequest",
        "documentation" : "",
        "simpleType" : "StopModelCustomizationJobRequest",
        "variableSetterType" : "StopModelCustomizationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopModelCustomizationJob",
      "operationName" : "StopModelCustomizationJob",
      "returnType" : {
        "returnType" : "StopModelCustomizationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopModelCustomizationJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associate tags with a resource. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/tagging.html\">Tagging resources</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request contains more tags than can be associated with a resource (50 tags per resource). The maximum number of tags includes both existing tags and those included in your current request. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove one or more tags from a resource. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/tagging.html\">Tagging resources</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateGuardrail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGuardrailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGuardrailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGuardrailRequest, UpdateGuardrailResult>",
      "asyncReturnType" : "UpdateGuardrailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a guardrail with the values you specify.</p> <ul> <li> <p>Specify a <code>name</code> and optional <code>description</code>.</p> </li> <li> <p>Specify messages for when the guardrail successfully blocks a prompt or a model response in the <code>blockedInputMessaging</code> and <code>blockedOutputsMessaging</code> fields.</p> </li> <li> <p>Specify topics for the guardrail to deny in the <code>topicPolicyConfig</code> object. Each <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GuardrailTopicConfig.html\">GuardrailTopicConfig</a> object in the <code>topicsConfig</code> list pertains to one topic.</p> <ul> <li> <p>Give a <code>name</code> and <code>description</code> so that the guardrail can properly identify the topic.</p> </li> <li> <p>Specify <code>DENY</code> in the <code>type</code> field.</p> </li> <li> <p>(Optional) Provide up to five prompts that you would categorize as belonging to the topic in the <code>examples</code> list.</p> </li> </ul> </li> <li> <p>Specify filter strengths for the harmful categories defined in Amazon Bedrock in the <code>contentPolicyConfig</code> object. Each <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GuardrailContentFilterConfig.html\">GuardrailContentFilterConfig</a> object in the <code>filtersConfig</code> list pertains to a harmful category. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/guardrails-filters\">Content filters</a>. For more information about the fields in a content filter, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GuardrailContentFilterConfig.html\">GuardrailContentFilterConfig</a>.</p> <ul> <li> <p>Specify the category in the <code>type</code> field.</p> </li> <li> <p>Specify the strength of the filter for prompts in the <code>inputStrength</code> field and for model responses in the <code>strength</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GuardrailContentFilterConfig.html\">GuardrailContentFilterConfig</a>.</p> </li> </ul> </li> <li> <p>(Optional) For security, include the ARN of a KMS key in the <code>kmsKeyId</code> field.</p> </li> <li> <p>(Optional) Attach any tags to the guardrail in the <code>tags</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/tagging\">Tag resources</a>.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateGuardrailRequest",
        "variableName" : "updateGuardrailRequest",
        "variableType" : "UpdateGuardrailRequest",
        "documentation" : "",
        "simpleType" : "UpdateGuardrailRequest",
        "variableSetterType" : "UpdateGuardrailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGuardrail",
      "operationName" : "UpdateGuardrail",
      "returnType" : {
        "returnType" : "UpdateGuardrailResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGuardrailResult"
    },
    "UpdateProvisionedModelThroughput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProvisionedModelThroughputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProvisionedModelThroughputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProvisionedModelThroughputRequest, UpdateProvisionedModelThroughputResult>",
      "asyncReturnType" : "UpdateProvisionedModelThroughputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the name or associated model for a Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProvisionedModelThroughputRequest",
        "variableName" : "updateProvisionedModelThroughputRequest",
        "variableType" : "UpdateProvisionedModelThroughputRequest",
        "documentation" : "",
        "simpleType" : "UpdateProvisionedModelThroughputRequest",
        "variableSetterType" : "UpdateProvisionedModelThroughputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProvisionedModelThroughput",
      "operationName" : "UpdateProvisionedModelThroughput",
      "returnType" : {
        "returnType" : "UpdateProvisionedModelThroughputResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProvisionedModelThroughputResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request is denied because of missing access permissions.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrock.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrock.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AutomatedEvaluationConfig" : {
      "c2jName" : "AutomatedEvaluationConfig",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Use to specify a automatic model evaluation job. The <code>EvaluationDatasetMetricConfig</code> object is used to specify the prompt datasets, task type, and metric names.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrock.model.AutomatedEvaluationConfig",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "datasetMetricConfigs",
        "c2jShape" : "EvaluationDatasetMetricConfigs",
        "deprecated" : false,
        "documentation" : "<p>Specifies the required elements for an automatic model evaluation job.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the required elements for an automatic model evaluation job.</p>\n@param datasetMetricConfigs Specifies the required elements for an automatic model evaluation job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDatasetMetricConfigs",
        "getterDocumentation" : "/**<p>Specifies the required elements for an automatic model evaluation job.</p>\n@return Specifies the required elements for an automatic model evaluation job.*/",
        "getterMethodName" : "getDatasetMetricConfigs",
        "getterModel" : {
          "returnType" : "java.util.List<EvaluationDatasetMetricConfig>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "datasetMetricConfigs",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "datasetMetricConfigs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "EvaluationDatasetMetricConfig",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "EvaluationDatasetMetricConfig",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "EvaluationDatasetMetricConfig",
              "variableName" : "member",
              "variableType" : "EvaluationDatasetMetricConfig",
              "documentation" : "",
              "simpleType" : "EvaluationDatasetMetricConfig",
              "variableSetterType" : "EvaluationDatasetMetricConfig"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "EvaluationDatasetMetricConfig",
              "variableName" : "member",
              "variableType" : "EvaluationDatasetMetricConfig",
              "documentation" : "",
              "simpleType" : "EvaluationDatasetMetricConfig",
              "variableSetterType" : "EvaluationDatasetMetricConfig"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "EvaluationDatasetMetricConfig",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "EvaluationDatasetMetricConfig",
          "templateImplType" : "java.util.ArrayList<EvaluationDatasetMetricConfig>",
          "templateType" : "java.util.List<EvaluationDatasetMetricConfig>"
        },
        "map" : false,
[...]
