{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-07-30",
    "asyncClient" : "AWSBillingConductorAsyncClient",
    "asyncClientBuilderClassName" : "AWSBillingConductorAsyncClientBuilder",
    "asyncInterface" : "AWSBillingConductorAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSBillingConductorModuleInjector",
    "defaultEndpoint" : "billingconductor.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "billingconductor.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Web Services Billing Conductor is a fully managed service that you can use to customize a <a href=\"https://docs.aws.amazon.com/billingconductor/latest/userguide/understanding-eb.html#eb-other-definitions\">proforma</a> version of your billing data each month, to accurately show or chargeback your end customers. Amazon Web Services Billing Conductor doesn't change the way you're billed by Amazon Web Services each month by design. Instead, it provides you with a mechanism to configure, generate, and display rates to certain customers over a given billing period. You can also analyze the difference between the rates you apply to your accounting groupings relative to your actual rates from Amazon Web Services. As a result of your Amazon Web Services Billing Conductor configuration, the payer account can also see the custom rate applied on the billing details page of the <a href=\"https://console.aws.amazon.com/billing\">Amazon Web Services Billing console</a>, or configure a cost and usage report per billing group.</p> <p>This documentation shows how you can configure Amazon Web Services Billing Conductor using its API. For more information about using the <a href=\"https://console.aws.amazon.com/billingconductor/\">Amazon Web Services Billing Conductor</a> user interface, see the <a href=\"https://docs.aws.amazon.com/billingconductor/latest/userguide/what-is-billingconductor.html\"> Amazon Web Services Billing Conductor User Guide</a>.</p>",
    "endpointPrefix" : "billingconductor",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.billingconductor",
    "packagePath" : "com/amazonaws/services/billingconductor",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWSBillingConductor",
    "serviceId" : "billingconductor",
    "serviceName" : "AWSBillingConductor",
    "signingName" : "billingconductor",
    "smokeTestsPackageName" : "com.amazonaws.services.billingconductor.smoketests",
    "syncClient" : "AWSBillingConductorClient",
    "syncClientBuilderClassName" : "AWSBillingConductorClientBuilder",
    "syncInterface" : "AWSBillingConductor",
    "uid" : "billingconductor-2021-07-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateAccounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateAccountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateAccountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateAccountsRequest, AssociateAccountsResult>",
      "asyncReturnType" : "AssociateAccountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Connects an array of account IDs in a consolidated billing family to a predefined billing group. The account IDs must be a part of the consolidated billing family during the current month, and not already associated with another billing group. The maximum number of accounts that can be associated in one call is 30. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The request would cause a service limit to exceed. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateAccountsRequest",
        "variableName" : "associateAccountsRequest",
        "variableType" : "AssociateAccountsRequest",
        "documentation" : "",
        "simpleType" : "AssociateAccountsRequest",
        "variableSetterType" : "AssociateAccountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateAccounts",
      "operationName" : "AssociateAccounts",
      "returnType" : {
        "returnType" : "AssociateAccountsResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateAccountsResult"
    },
    "AssociatePricingRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociatePricingRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociatePricingRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociatePricingRulesRequest, AssociatePricingRulesResult>",
      "asyncReturnType" : "AssociatePricingRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Connects an array of <code>PricingRuleArns</code> to a defined <code>PricingPlan</code>. The maximum number <code>PricingRuleArn</code> that can be associated in one call is 30. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The request would cause a service limit to exceed. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociatePricingRulesRequest",
        "variableName" : "associatePricingRulesRequest",
        "variableType" : "AssociatePricingRulesRequest",
        "documentation" : "",
        "simpleType" : "AssociatePricingRulesRequest",
        "variableSetterType" : "AssociatePricingRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associatePricingRules",
      "operationName" : "AssociatePricingRules",
      "returnType" : {
        "returnType" : "AssociatePricingRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociatePricingRulesResult"
    },
    "BatchAssociateResourcesToCustomLineItem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchAssociateResourcesToCustomLineItemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchAssociateResourcesToCustomLineItemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchAssociateResourcesToCustomLineItemRequest, BatchAssociateResourcesToCustomLineItemResult>",
      "asyncReturnType" : "BatchAssociateResourcesToCustomLineItemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Associates a batch of resources to a percentage custom line item. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The request would cause a service limit to exceed. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchAssociateResourcesToCustomLineItemRequest",
        "variableName" : "batchAssociateResourcesToCustomLineItemRequest",
        "variableType" : "BatchAssociateResourcesToCustomLineItemRequest",
        "documentation" : "",
        "simpleType" : "BatchAssociateResourcesToCustomLineItemRequest",
        "variableSetterType" : "BatchAssociateResourcesToCustomLineItemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchAssociateResourcesToCustomLineItem",
      "operationName" : "BatchAssociateResourcesToCustomLineItem",
      "returnType" : {
        "returnType" : "BatchAssociateResourcesToCustomLineItemResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchAssociateResourcesToCustomLineItemResult"
    },
    "BatchDisassociateResourcesFromCustomLineItem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDisassociateResourcesFromCustomLineItemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDisassociateResourcesFromCustomLineItemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDisassociateResourcesFromCustomLineItemRequest, BatchDisassociateResourcesFromCustomLineItemResult>",
      "asyncReturnType" : "BatchDisassociateResourcesFromCustomLineItemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Disassociates a batch of resources from a percentage custom line item. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDisassociateResourcesFromCustomLineItemRequest",
        "variableName" : "batchDisassociateResourcesFromCustomLineItemRequest",
        "variableType" : "BatchDisassociateResourcesFromCustomLineItemRequest",
        "documentation" : "",
        "simpleType" : "BatchDisassociateResourcesFromCustomLineItemRequest",
        "variableSetterType" : "BatchDisassociateResourcesFromCustomLineItemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDisassociateResourcesFromCustomLineItem",
      "operationName" : "BatchDisassociateResourcesFromCustomLineItem",
      "returnType" : {
        "returnType" : "BatchDisassociateResourcesFromCustomLineItemResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDisassociateResourcesFromCustomLineItemResult"
    },
    "CreateBillingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBillingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBillingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBillingGroupRequest, CreateBillingGroupResult>",
      "asyncReturnType" : "CreateBillingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a billing group that resembles a consolidated billing family that Amazon Web Services charges, based off of the predefined pricing plan computation. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The request would cause a service limit to exceed. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBillingGroupRequest",
        "variableName" : "createBillingGroupRequest",
        "variableType" : "CreateBillingGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateBillingGroupRequest",
        "variableSetterType" : "CreateBillingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBillingGroup",
      "operationName" : "CreateBillingGroup",
      "returnType" : {
        "returnType" : "CreateBillingGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBillingGroupResult"
    },
    "CreateCustomLineItem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCustomLineItemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCustomLineItemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCustomLineItemRequest, CreateCustomLineItemResult>",
      "asyncReturnType" : "CreateCustomLineItemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a custom line item that can be used to create a one-time fixed charge that can be applied to a single billing group for the current or previous billing period. The one-time fixed charge is either a fee or discount. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The request would cause a service limit to exceed. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCustomLineItemRequest",
        "variableName" : "createCustomLineItemRequest",
        "variableType" : "CreateCustomLineItemRequest",
        "documentation" : "",
        "simpleType" : "CreateCustomLineItemRequest",
        "variableSetterType" : "CreateCustomLineItemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCustomLineItem",
      "operationName" : "CreateCustomLineItem",
      "returnType" : {
        "returnType" : "CreateCustomLineItemResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCustomLineItemResult"
    },
    "CreatePricingPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePricingPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePricingPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePricingPlanRequest, CreatePricingPlanResult>",
      "asyncReturnType" : "CreatePricingPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a pricing plan that is used for computing Amazon Web Services charges for billing groups. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The request would cause a service limit to exceed. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePricingPlanRequest",
        "variableName" : "createPricingPlanRequest",
        "variableType" : "CreatePricingPlanRequest",
        "documentation" : "",
        "simpleType" : "CreatePricingPlanRequest",
        "variableSetterType" : "CreatePricingPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPricingPlan",
      "operationName" : "CreatePricingPlan",
      "returnType" : {
        "returnType" : "CreatePricingPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePricingPlanResult"
    },
    "CreatePricingRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePricingRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePricingRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePricingRuleRequest, CreatePricingRuleResult>",
      "asyncReturnType" : "CreatePricingRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a pricing rule can be associated to a pricing plan, or a set of pricing plans. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The request would cause a service limit to exceed. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePricingRuleRequest",
        "variableName" : "createPricingRuleRequest",
        "variableType" : "CreatePricingRuleRequest",
        "documentation" : "",
        "simpleType" : "CreatePricingRuleRequest",
        "variableSetterType" : "CreatePricingRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPricingRule",
      "operationName" : "CreatePricingRule",
      "returnType" : {
        "returnType" : "CreatePricingRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePricingRuleResult"
    },
    "DeleteBillingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBillingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBillingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBillingGroupRequest, DeleteBillingGroupResult>",
      "asyncReturnType" : "DeleteBillingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a billing group. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBillingGroupRequest",
        "variableName" : "deleteBillingGroupRequest",
        "variableType" : "DeleteBillingGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteBillingGroupRequest",
        "variableSetterType" : "DeleteBillingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBillingGroup",
      "operationName" : "DeleteBillingGroup",
      "returnType" : {
        "returnType" : "DeleteBillingGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBillingGroupResult"
    },
    "DeleteCustomLineItem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCustomLineItemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCustomLineItemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCustomLineItemRequest, DeleteCustomLineItemResult>",
      "asyncReturnType" : "DeleteCustomLineItemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes the custom line item identified by the given ARN in the current, or previous billing period. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCustomLineItemRequest",
        "variableName" : "deleteCustomLineItemRequest",
        "variableType" : "DeleteCustomLineItemRequest",
        "documentation" : "",
        "simpleType" : "DeleteCustomLineItemRequest",
        "variableSetterType" : "DeleteCustomLineItemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCustomLineItem",
      "operationName" : "DeleteCustomLineItem",
      "returnType" : {
        "returnType" : "DeleteCustomLineItemResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCustomLineItemResult"
    },
    "DeletePricingPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePricingPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePricingPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePricingPlanRequest, DeletePricingPlanResult>",
      "asyncReturnType" : "DeletePricingPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a pricing plan. The pricing plan must not be associated with any billing groups to delete successfully.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePricingPlanRequest",
        "variableName" : "deletePricingPlanRequest",
        "variableType" : "DeletePricingPlanRequest",
        "documentation" : "",
        "simpleType" : "DeletePricingPlanRequest",
        "variableSetterType" : "DeletePricingPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePricingPlan",
      "operationName" : "DeletePricingPlan",
      "returnType" : {
        "returnType" : "DeletePricingPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePricingPlanResult"
    },
    "DeletePricingRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePricingRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePricingRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePricingRuleRequest, DeletePricingRuleResult>",
      "asyncReturnType" : "DeletePricingRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes the pricing rule that's identified by the input Amazon Resource Name (ARN). </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePricingRuleRequest",
        "variableName" : "deletePricingRuleRequest",
        "variableType" : "DeletePricingRuleRequest",
        "documentation" : "",
        "simpleType" : "DeletePricingRuleRequest",
        "variableSetterType" : "DeletePricingRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePricingRule",
      "operationName" : "DeletePricingRule",
      "returnType" : {
        "returnType" : "DeletePricingRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePricingRuleResult"
    },
    "DisassociateAccounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateAccountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateAccountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateAccountsRequest, DisassociateAccountsResult>",
      "asyncReturnType" : "DisassociateAccountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified list of account IDs from the given billing group. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateAccountsRequest",
        "variableName" : "disassociateAccountsRequest",
        "variableType" : "DisassociateAccountsRequest",
        "documentation" : "",
        "simpleType" : "DisassociateAccountsRequest",
        "variableSetterType" : "DisassociateAccountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateAccounts",
      "operationName" : "DisassociateAccounts",
      "returnType" : {
        "returnType" : "DisassociateAccountsResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateAccountsResult"
    },
    "DisassociatePricingRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociatePricingRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociatePricingRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociatePricingRulesRequest, DisassociatePricingRulesResult>",
      "asyncReturnType" : "DisassociatePricingRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Disassociates a list of pricing rules from a pricing plan. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociatePricingRulesRequest",
        "variableName" : "disassociatePricingRulesRequest",
        "variableType" : "DisassociatePricingRulesRequest",
        "documentation" : "",
        "simpleType" : "DisassociatePricingRulesRequest",
        "variableSetterType" : "DisassociatePricingRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociatePricingRules",
      "operationName" : "DisassociatePricingRules",
      "returnType" : {
        "returnType" : "DisassociatePricingRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociatePricingRulesResult"
    },
    "GetBillingGroupCostReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBillingGroupCostReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBillingGroupCostReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBillingGroupCostReportRequest, GetBillingGroupCostReportResult>",
      "asyncReturnType" : "GetBillingGroupCostReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the margin summary report, which includes the Amazon Web Services cost and charged amount (pro forma cost) by Amazon Web Service for a specific billing group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBillingGroupCostReportRequest",
        "variableName" : "getBillingGroupCostReportRequest",
        "variableType" : "GetBillingGroupCostReportRequest",
        "documentation" : "",
        "simpleType" : "GetBillingGroupCostReportRequest",
        "variableSetterType" : "GetBillingGroupCostReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBillingGroupCostReport",
      "operationName" : "GetBillingGroupCostReport",
      "returnType" : {
        "returnType" : "GetBillingGroupCostReportResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBillingGroupCostReportResult"
    },
    "ListAccountAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAccountAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAccountAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAccountAssociationsRequest, ListAccountAssociationsResult>",
      "asyncReturnType" : "ListAccountAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> This is a paginated call to list linked accounts that are linked to the payer account for the specified time period. If no information is provided, the current billing period is used. The response will optionally include the billing group that's associated with the linked account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAccountAssociationsRequest",
        "variableName" : "listAccountAssociationsRequest",
        "variableType" : "ListAccountAssociationsRequest",
        "documentation" : "",
        "simpleType" : "ListAccountAssociationsRequest",
        "variableSetterType" : "ListAccountAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAccountAssociations",
      "operationName" : "ListAccountAssociations",
      "returnType" : {
        "returnType" : "ListAccountAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAccountAssociationsResult"
    },
    "ListBillingGroupCostReports" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBillingGroupCostReportsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBillingGroupCostReportsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBillingGroupCostReportsRequest, ListBillingGroupCostReportsResult>",
      "asyncReturnType" : "ListBillingGroupCostReportsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A paginated call to retrieve a summary report of actual Amazon Web Services charges and the calculated Amazon Web Services charges based on the associated pricing plan of a billing group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBillingGroupCostReportsRequest",
        "variableName" : "listBillingGroupCostReportsRequest",
        "variableType" : "ListBillingGroupCostReportsRequest",
        "documentation" : "",
        "simpleType" : "ListBillingGroupCostReportsRequest",
        "variableSetterType" : "ListBillingGroupCostReportsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBillingGroupCostReports",
      "operationName" : "ListBillingGroupCostReports",
      "returnType" : {
        "returnType" : "ListBillingGroupCostReportsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBillingGroupCostReportsResult"
    },
    "ListBillingGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBillingGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBillingGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBillingGroupsRequest, ListBillingGroupsResult>",
      "asyncReturnType" : "ListBillingGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A paginated call to retrieve a list of billing groups for the given billing period. If you don't provide a billing group, the current billing period is used.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBillingGroupsRequest",
        "variableName" : "listBillingGroupsRequest",
        "variableType" : "ListBillingGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListBillingGroupsRequest",
        "variableSetterType" : "ListBillingGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBillingGroups",
      "operationName" : "ListBillingGroups",
      "returnType" : {
        "returnType" : "ListBillingGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBillingGroupsResult"
    },
    "ListCustomLineItemVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCustomLineItemVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCustomLineItemVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCustomLineItemVersionsRequest, ListCustomLineItemVersionsResult>",
      "asyncReturnType" : "ListCustomLineItemVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A paginated call to get a list of all custom line item versions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCustomLineItemVersionsRequest",
        "variableName" : "listCustomLineItemVersionsRequest",
        "variableType" : "ListCustomLineItemVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListCustomLineItemVersionsRequest",
        "variableSetterType" : "ListCustomLineItemVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCustomLineItemVersions",
      "operationName" : "ListCustomLineItemVersions",
      "returnType" : {
        "returnType" : "ListCustomLineItemVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCustomLineItemVersionsResult"
    },
    "ListCustomLineItems" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCustomLineItemsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCustomLineItemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCustomLineItemsRequest, ListCustomLineItemsResult>",
      "asyncReturnType" : "ListCustomLineItemsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> A paginated call to get a list of all custom line items (FFLIs) for the given billing period. If you don't provide a billing period, the current billing period is used. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCustomLineItemsRequest",
        "variableName" : "listCustomLineItemsRequest",
        "variableType" : "ListCustomLineItemsRequest",
        "documentation" : "",
        "simpleType" : "ListCustomLineItemsRequest",
        "variableSetterType" : "ListCustomLineItemsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCustomLineItems",
      "operationName" : "ListCustomLineItems",
      "returnType" : {
        "returnType" : "ListCustomLineItemsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCustomLineItemsResult"
    },
    "ListPricingPlans" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPricingPlansResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPricingPlansResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPricingPlansRequest, ListPricingPlansResult>",
      "asyncReturnType" : "ListPricingPlansResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A paginated call to get pricing plans for the given billing period. If you don't provide a billing period, the current billing period is used. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPricingPlansRequest",
        "variableName" : "listPricingPlansRequest",
        "variableType" : "ListPricingPlansRequest",
        "documentation" : "",
        "simpleType" : "ListPricingPlansRequest",
        "variableSetterType" : "ListPricingPlansRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPricingPlans",
      "operationName" : "ListPricingPlans",
      "returnType" : {
        "returnType" : "ListPricingPlansResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPricingPlansResult"
    },
    "ListPricingPlansAssociatedWithPricingRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPricingPlansAssociatedWithPricingRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPricingPlansAssociatedWithPricingRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPricingPlansAssociatedWithPricingRuleRequest, ListPricingPlansAssociatedWithPricingRuleResult>",
      "asyncReturnType" : "ListPricingPlansAssociatedWithPricingRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> A list of the pricing plans that are associated with a pricing rule. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPricingPlansAssociatedWithPricingRuleRequest",
        "variableName" : "listPricingPlansAssociatedWithPricingRuleRequest",
        "variableType" : "ListPricingPlansAssociatedWithPricingRuleRequest",
        "documentation" : "",
        "simpleType" : "ListPricingPlansAssociatedWithPricingRuleRequest",
        "variableSetterType" : "ListPricingPlansAssociatedWithPricingRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPricingPlansAssociatedWithPricingRule",
      "operationName" : "ListPricingPlansAssociatedWithPricingRule",
      "returnType" : {
        "returnType" : "ListPricingPlansAssociatedWithPricingRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPricingPlansAssociatedWithPricingRuleResult"
    },
    "ListPricingRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPricingRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPricingRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPricingRulesRequest, ListPricingRulesResult>",
      "asyncReturnType" : "ListPricingRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes a pricing rule that can be associated to a pricing plan, or set of pricing plans. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPricingRulesRequest",
        "variableName" : "listPricingRulesRequest",
        "variableType" : "ListPricingRulesRequest",
        "documentation" : "",
        "simpleType" : "ListPricingRulesRequest",
        "variableSetterType" : "ListPricingRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPricingRules",
      "operationName" : "ListPricingRules",
      "returnType" : {
        "returnType" : "ListPricingRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPricingRulesResult"
    },
    "ListPricingRulesAssociatedToPricingPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPricingRulesAssociatedToPricingPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPricingRulesAssociatedToPricingPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPricingRulesAssociatedToPricingPlanRequest, ListPricingRulesAssociatedToPricingPlanResult>",
      "asyncReturnType" : "ListPricingRulesAssociatedToPricingPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists the pricing rules that are associated with a pricing plan. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPricingRulesAssociatedToPricingPlanRequest",
        "variableName" : "listPricingRulesAssociatedToPricingPlanRequest",
        "variableType" : "ListPricingRulesAssociatedToPricingPlanRequest",
        "documentation" : "",
        "simpleType" : "ListPricingRulesAssociatedToPricingPlanRequest",
        "variableSetterType" : "ListPricingRulesAssociatedToPricingPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPricingRulesAssociatedToPricingPlan",
      "operationName" : "ListPricingRulesAssociatedToPricingPlan",
      "returnType" : {
        "returnType" : "ListPricingRulesAssociatedToPricingPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPricingRulesAssociatedToPricingPlanResult"
    },
    "ListResourcesAssociatedToCustomLineItem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesAssociatedToCustomLineItemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesAssociatedToCustomLineItemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesAssociatedToCustomLineItemRequest, ListResourcesAssociatedToCustomLineItemResult>",
      "asyncReturnType" : "ListResourcesAssociatedToCustomLineItemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> List the resources that are associated to a custom line item. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourcesAssociatedToCustomLineItemRequest",
        "variableName" : "listResourcesAssociatedToCustomLineItemRequest",
        "variableType" : "ListResourcesAssociatedToCustomLineItemRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesAssociatedToCustomLineItemRequest",
        "variableSetterType" : "ListResourcesAssociatedToCustomLineItemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourcesAssociatedToCustomLineItem",
      "operationName" : "ListResourcesAssociatedToCustomLineItem",
      "returnType" : {
        "returnType" : "ListResourcesAssociatedToCustomLineItemResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesAssociatedToCustomLineItemResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> A list the tags for a resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Associates the specified tags to a resource with the specified <code>resourceArn</code>. If existing tags on a resource are not specified in the request parameters, they are not changed. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes specified tags from a resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateBillingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBillingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBillingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBillingGroupRequest, UpdateBillingGroupResult>",
      "asyncReturnType" : "UpdateBillingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This updates an existing billing group. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBillingGroupRequest",
        "variableName" : "updateBillingGroupRequest",
        "variableType" : "UpdateBillingGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateBillingGroupRequest",
        "variableSetterType" : "UpdateBillingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBillingGroup",
      "operationName" : "UpdateBillingGroup",
      "returnType" : {
        "returnType" : "UpdateBillingGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateBillingGroupResult"
    },
    "UpdateCustomLineItem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCustomLineItemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCustomLineItemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCustomLineItemRequest, UpdateCustomLineItemResult>",
      "asyncReturnType" : "UpdateCustomLineItemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Update an existing custom line item in the current or previous billing period. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCustomLineItemRequest",
        "variableName" : "updateCustomLineItemRequest",
        "variableType" : "UpdateCustomLineItemRequest",
        "documentation" : "",
        "simpleType" : "UpdateCustomLineItemRequest",
        "variableSetterType" : "UpdateCustomLineItemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCustomLineItem",
      "operationName" : "UpdateCustomLineItem",
      "returnType" : {
        "returnType" : "UpdateCustomLineItemResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateCustomLineItemResult"
    },
    "UpdatePricingPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePricingPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePricingPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePricingPlanRequest, UpdatePricingPlanResult>",
      "asyncReturnType" : "UpdatePricingPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This updates an existing pricing plan. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePricingPlanRequest",
        "variableName" : "updatePricingPlanRequest",
        "variableType" : "UpdatePricingPlanRequest",
        "documentation" : "",
        "simpleType" : "UpdatePricingPlanRequest",
        "variableSetterType" : "UpdatePricingPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePricingPlan",
      "operationName" : "UpdatePricingPlan",
      "returnType" : {
        "returnType" : "UpdatePricingPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePricingPlanResult"
    },
    "UpdatePricingRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePricingRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePricingRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePricingRuleRequest, UpdatePricingRuleResult>",
      "asyncReturnType" : "UpdatePricingRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates an existing pricing rule. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input doesn't match with the constraints specified by Amazon Web Services.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePricingRuleRequest",
        "variableName" : "updatePricingRuleRequest",
        "variableType" : "UpdatePricingRuleRequest",
        "documentation" : "",
        "simpleType" : "UpdatePricingRuleRequest",
        "variableSetterType" : "UpdatePricingRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePricingRule",
      "operationName" : "UpdatePricingRule",
      "returnType" : {
        "returnType" : "UpdatePricingRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePricingRuleResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.billingconductor.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.billingconductor.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccountAssociationsListElement" : {
      "c2jName" : "AccountAssociationsListElement",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A representation of a linked account.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.billingconductor.model.AccountAssociationsListElement",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AccountId",
        "c2jShape" : "AccountId",
        "deprecated" : false,
        "documentation" : "<p>The associating array of account IDs.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The associating array of account IDs.</p>\n@param accountId The associating array of account IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountId",
        "getterDocumentation" : "/**<p>The associating array of account IDs.</p>\n@return The associating array of account IDs.*/",
        "getterMethodName" : "getAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccountId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The associating array of account IDs.</p>\n@param accountId The associating array of account IDs.*/",
        "setterMethodName" : "setAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The associating array of account IDs.</p>\n@param accountId The associating array of account IDs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "<p>The associating array of account IDs.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BillingGroupArn",
        "c2jShape" : "BillingGroupArn",
        "deprecated" : false,
        "documentation" : "<p>The Billing Group Arn that the linked account is associated to.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Billing Group Arn that the linked account is associated to.</p>\n@param billingGroupArn The Billing Group Arn that the linked account is associated to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBillingGroupArn",
        "getterDocumentation" : "/**<p>The Billing Group Arn that the linked account is associated to.</p>\n@return The Billing Group Arn that the linked account is associated to.*/",
        "getterMethodName" : "getBillingGroupArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BillingGroupArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BillingGroupArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BillingGroupArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Billing Group Arn that the linked account is associated to.</p>\n@param billingGroupArn The Billing Group Arn that the linked account is associated to.*/",
        "setterMethodName" : "setBillingGroupArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "billingGroupArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Billing Group Arn that the linked account is associated to.</p>\n@param billingGroupArn The Billing Group Arn that the linked account is associated to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "billingGroupArn",
          "variableType" : "String",
          "documentation" : "<p>The Billing Group Arn that the linked account is associated to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AccountName",
        "c2jShape" : "AccountName",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Web Services account name.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Web Services account name.</p>\n@param accountName The Amazon Web Services account name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountName",
        "getterDocumentation" : "/**<p>The Amazon Web Services account name.</p>\n@return The Amazon Web Services account name.*/",
        "getterMethodName" : "getAccountName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccountName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccountName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountName",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The Amazon Web Services account name.</p>\n@param accountName The Amazon Web Services account name.*/",
        "setterMethodName" : "setAccountName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Web Services account name.</p>\n@param accountName The Amazon Web Services account name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountName",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Web Services account name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AccountEmail",
        "c2jShape" : "AccountEmail",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Web Services account email.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
[...]
