{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-09-01",
    "asyncClient" : "AWSBraketAsyncClient",
    "asyncClientBuilderClassName" : "AWSBraketAsyncClientBuilder",
    "asyncInterface" : "AWSBraketAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSBraketModuleInjector",
    "defaultEndpoint" : "braket.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "braket.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Braket API Reference provides information about the operations and structures supported in Amazon Braket.</p> <p>Additional Resources:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/braket/latest/developerguide/what-is-braket.html\">Amazon Braket Developer Guide</a> </p> </li> </ul>",
    "endpointPrefix" : "braket",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.braket",
    "packagePath" : "com/amazonaws/services/braket",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Braket",
    "serviceId" : "Braket",
    "serviceName" : "Braket",
    "signingName" : "braket",
    "smokeTestsPackageName" : "com.amazonaws.services.braket.smoketests",
    "syncClient" : "AWSBraketClient",
    "syncClientBuilderClassName" : "AWSBraketClientBuilder",
    "syncInterface" : "AWSBraket",
    "uid" : "braket-2019-09-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRequest, CancelJobResult>",
      "asyncReturnType" : "CancelJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels an Amazon Braket job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An error occurred due to a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJobRequest",
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "documentation" : "",
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelJob",
      "operationName" : "CancelJob",
      "returnType" : {
        "returnType" : "CancelJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelJobResult"
    },
    "CancelQuantumTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelQuantumTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelQuantumTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelQuantumTaskRequest, CancelQuantumTaskResult>",
      "asyncReturnType" : "CancelQuantumTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the specified task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An error occurred due to a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelQuantumTaskRequest",
        "variableName" : "cancelQuantumTaskRequest",
        "variableType" : "CancelQuantumTaskRequest",
        "documentation" : "",
        "simpleType" : "CancelQuantumTaskRequest",
        "variableSetterType" : "CancelQuantumTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelQuantumTask",
      "operationName" : "CancelQuantumTask",
      "returnType" : {
        "returnType" : "CancelQuantumTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelQuantumTaskResult"
    },
    "CreateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobRequest, CreateJobResult>",
      "asyncReturnType" : "CreateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Braket job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An error occurred due to a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DeviceOfflineException",
        "documentation" : "<p>The specified device is currently offline.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "DeviceRetiredException",
        "documentation" : "<p>The specified device has been retired.</p>",
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateJobRequest",
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "documentation" : "",
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createJob",
      "operationName" : "CreateJob",
      "returnType" : {
        "returnType" : "CreateJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateJobResult"
    },
    "CreateQuantumTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateQuantumTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateQuantumTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateQuantumTaskRequest, CreateQuantumTaskResult>",
      "asyncReturnType" : "CreateQuantumTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a quantum task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DeviceOfflineException",
        "documentation" : "<p>The specified device is currently offline.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "DeviceRetiredException",
        "documentation" : "<p>The specified device has been retired.</p>",
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateQuantumTaskRequest",
        "variableName" : "createQuantumTaskRequest",
        "variableType" : "CreateQuantumTaskRequest",
        "documentation" : "",
        "simpleType" : "CreateQuantumTaskRequest",
        "variableSetterType" : "CreateQuantumTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createQuantumTask",
      "operationName" : "CreateQuantumTask",
      "returnType" : {
        "returnType" : "CreateQuantumTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateQuantumTaskResult"
    },
    "GetDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceRequest, GetDeviceResult>",
      "asyncReturnType" : "GetDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the devices available in Amazon Braket.</p> <note> <p>For backwards compatibility with older versions of BraketSchemas, OpenQASM information is omitted from GetDevice API calls. To get this information the user-agent needs to present a recent version of the BraketSchemas (1.8.0 or later). The Braket SDK automatically reports this for you. If you do not see OpenQASM results in the GetDevice response when using a Braket SDK, you may need to set AWS_EXECUTION_ENV environment variable to configure user-agent. See the code examples provided below for how to do this for the AWS CLI, Boto3, and the Go, Java, and JavaScript/TypeScript SDKs.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeviceRequest",
        "variableName" : "getDeviceRequest",
        "variableType" : "GetDeviceRequest",
        "documentation" : "",
        "simpleType" : "GetDeviceRequest",
        "variableSetterType" : "GetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDevice",
      "operationName" : "GetDevice",
      "returnType" : {
        "returnType" : "GetDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeviceResult"
    },
    "GetJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobRequest, GetJobResult>",
      "asyncReturnType" : "GetJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the specified Amazon Braket job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetJobRequest",
        "variableName" : "getJobRequest",
        "variableType" : "GetJobRequest",
        "documentation" : "",
        "simpleType" : "GetJobRequest",
        "variableSetterType" : "GetJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getJob",
      "operationName" : "GetJob",
      "returnType" : {
        "returnType" : "GetJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetJobResult"
    },
    "GetQuantumTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQuantumTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQuantumTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQuantumTaskRequest, GetQuantumTaskResult>",
      "asyncReturnType" : "GetQuantumTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the specified quantum task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQuantumTaskRequest",
        "variableName" : "getQuantumTaskRequest",
        "variableType" : "GetQuantumTaskRequest",
        "documentation" : "",
        "simpleType" : "GetQuantumTaskRequest",
        "variableSetterType" : "GetQuantumTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQuantumTask",
      "operationName" : "GetQuantumTask",
      "returnType" : {
        "returnType" : "GetQuantumTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQuantumTaskResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Shows the tags associated with this resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "SearchDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchDevicesRequest, SearchDevicesResult>",
      "asyncReturnType" : "SearchDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for devices using the specified filters.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchDevicesRequest",
        "variableName" : "searchDevicesRequest",
        "variableType" : "SearchDevicesRequest",
        "documentation" : "",
        "simpleType" : "SearchDevicesRequest",
        "variableSetterType" : "SearchDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchDevices",
      "operationName" : "SearchDevices",
      "returnType" : {
        "returnType" : "SearchDevicesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchDevicesResult"
    },
    "SearchJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchJobsRequest, SearchJobsResult>",
      "asyncReturnType" : "SearchJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for Amazon Braket jobs that match the specified filter values.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchJobsRequest",
        "variableName" : "searchJobsRequest",
        "variableType" : "SearchJobsRequest",
        "documentation" : "",
        "simpleType" : "SearchJobsRequest",
        "variableSetterType" : "SearchJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchJobs",
      "operationName" : "SearchJobs",
      "returnType" : {
        "returnType" : "SearchJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchJobsResult"
    },
    "SearchQuantumTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchQuantumTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchQuantumTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchQuantumTasksRequest, SearchQuantumTasksResult>",
      "asyncReturnType" : "SearchQuantumTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for tasks that match the specified filter values.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchQuantumTasksRequest",
        "variableName" : "searchQuantumTasksRequest",
        "variableType" : "SearchQuantumTasksRequest",
        "documentation" : "",
        "simpleType" : "SearchQuantumTasksRequest",
        "variableSetterType" : "SearchQuantumTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchQuantumTasks",
      "operationName" : "SearchQuantumTasks",
      "returnType" : {
        "returnType" : "SearchQuantumTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchQuantumTasksResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Add a tag to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove tags from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.braket.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.braket.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AlgorithmSpecification" : {
      "c2jName" : "AlgorithmSpecification",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Defines the Amazon Braket job to be created. Specifies the container image the job uses and the paths to the Python scripts used for entry and training.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.braket.model.AlgorithmSpecification",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "containerImage",
        "c2jShape" : "ContainerImage",
        "deprecated" : false,
        "documentation" : "<p>The container image used to create an Amazon Braket job.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The container image used to create an Amazon Braket job.</p>\n@param containerImage The container image used to create an Amazon Braket job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContainerImage",
        "getterDocumentation" : "/**<p>The container image used to create an Amazon Braket job.</p>\n@return The container image used to create an Amazon Braket job.*/",
        "getterMethodName" : "getContainerImage",
        "getterModel" : {
          "returnType" : "ContainerImage",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "containerImage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "containerImage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ContainerImage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The container image used to create an Amazon Braket job.</p>\n@param containerImage The container image used to create an Amazon Braket job.*/",
        "setterMethodName" : "setContainerImage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ContainerImage",
          "variableName" : "containerImage",
          "variableType" : "ContainerImage",
          "documentation" : "",
          "simpleType" : "ContainerImage",
          "variableSetterType" : "ContainerImage"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The container image used to create an Amazon Braket job.</p>\n@param containerImage The container image used to create an Amazon Braket job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ContainerImage",
          "variableName" : "containerImage",
          "variableType" : "ContainerImage",
          "documentation" : "<p>The container image used to create an Amazon Braket job.</p>",
          "simpleType" : "ContainerImage",
          "variableSetterType" : "ContainerImage"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "scriptModeConfig",
        "c2jShape" : "ScriptModeConfig",
        "deprecated" : false,
        "documentation" : "<p>Configures the paths to the Python scripts used for entry and training.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Configures the paths to the Python scripts used for entry and training.</p>\n@param scriptModeConfig Configures the paths to the Python scripts used for entry and training.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScriptModeConfig",
        "getterDocumentation" : "/**<p>Configures the paths to the Python scripts used for entry and training.</p>\n@return Configures the paths to the Python scripts used for entry and training.*/",
        "getterMethodName" : "getScriptModeConfig",
        "getterModel" : {
          "returnType" : "ScriptModeConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "scriptModeConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "scriptModeConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ScriptModeConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Configures the paths to the Python scripts used for entry and training.</p>\n@param scriptModeConfig Configures the paths to the Python scripts used for entry and training.*/",
        "setterMethodName" : "setScriptModeConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ScriptModeConfig",
          "variableName" : "scriptModeConfig",
          "variableType" : "ScriptModeConfig",
          "documentation" : "",
          "simpleType" : "ScriptModeConfig",
          "variableSetterType" : "ScriptModeConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Configures the paths to the Python scripts used for entry and training.</p>\n@param scriptModeConfig Configures the paths to the Python scripts used for entry and training.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ScriptModeConfig",
          "variableName" : "scriptModeConfig",
          "variableType" : "ScriptModeConfig",
          "documentation" : "<p>Configures the paths to the Python scripts used for entry and training.</p>",
          "simpleType" : "ScriptModeConfig",
          "variableSetterType" : "ScriptModeConfig"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ContainerImage" : {
          "c2jName" : "containerImage",
          "c2jShape" : "ContainerImage",
          "deprecated" : false,
          "documentation" : "<p>The container image used to create an Amazon Braket job.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The container image used to create an Amazon Braket job.</p>\n@param containerImage The container image used to create an Amazon Braket job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withContainerImage",
          "getterDocumentation" : "/**<p>The container image used to create an Amazon Braket job.</p>\n@return The container image used to create an Amazon Braket job.*/",
          "getterMethodName" : "getContainerImage",
          "getterModel" : {
            "returnType" : "ContainerImage",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "containerImage",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "containerImage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ContainerImage",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The container image used to create an Amazon Braket job.</p>\n@param containerImage The container image used to create an Amazon Braket job.*/",
          "setterMethodName" : "setContainerImage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ContainerImage",
            "variableName" : "containerImage",
            "variableType" : "ContainerImage",
            "documentation" : "",
            "simpleType" : "ContainerImage",
            "variableSetterType" : "ContainerImage"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The container image used to create an Amazon Braket job.</p>\n@param containerImage The container image used to create an Amazon Braket job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ContainerImage",
            "variableName" : "containerImage",
            "variableType" : "ContainerImage",
            "documentation" : "<p>The container image used to create an Amazon Braket job.</p>",
            "simpleType" : "ContainerImage",
            "variableSetterType" : "ContainerImage"
          },
          "xmlNameSpaceUri" : null
        },
        "ScriptModeConfig" : {
          "c2jName" : "scriptModeConfig",
          "c2jShape" : "ScriptModeConfig",
          "deprecated" : false,
          "documentation" : "<p>Configures the paths to the Python scripts used for entry and training.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Configures the paths to the Python scripts used for entry and training.</p>\n@param scriptModeConfig Configures the paths to the Python scripts used for entry and training.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScriptModeConfig",
          "getterDocumentation" : "/**<p>Configures the paths to the Python scripts used for entry and training.</p>\n@return Configures the paths to the Python scripts used for entry and training.*/",
          "getterMethodName" : "getScriptModeConfig",
          "getterModel" : {
            "returnType" : "ScriptModeConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "scriptModeConfig",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "scriptModeConfig",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ScriptModeConfig",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Configures the paths to the Python scripts used for entry and training.</p>\n@param scriptModeConfig Configures the paths to the Python scripts used for entry and training.*/",
          "setterMethodName" : "setScriptModeConfig",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ScriptModeConfig",
            "variableName" : "scriptModeConfig",
            "variableType" : "ScriptModeConfig",
            "documentation" : "",
            "simpleType" : "ScriptModeConfig",
            "variableSetterType" : "ScriptModeConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Configures the paths to the Python scripts used for entry and training.</p>\n@param scriptModeConfig Configures the paths to the Python scripts used for entry and training.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ScriptModeConfig",
            "variableName" : "scriptModeConfig",
            "variableType" : "ScriptModeConfig",
            "documentation" : "<p>Configures the paths to the Python scripts used for entry and training.</p>",
            "simpleType" : "ScriptModeConfig",
            "variableSetterType" : "ScriptModeConfig"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.braket.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AlgorithmSpecification",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlgorithmSpecification",
        "variableName" : "algorithmSpecification",
        "variableType" : "AlgorithmSpecification",
        "documentation" : null,
        "simpleType" : "AlgorithmSpecification",
        "variableSetterType" : "AlgorithmSpecification"
      },
      "wrapper" : false
    },
    "Association" : {
      "c2jName" : "Association",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The Amazon Braket resource and the association type.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.braket.model.Association",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "arn",
        "c2jShape" : "BraketResourceArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Braket resource arn.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Braket resource arn.</p>\n@param arn The Amazon Braket resource arn.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The Amazon Braket resource arn.</p>\n@return The Amazon Braket resource arn.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Braket resource arn.</p>\n@param arn The Amazon Braket resource arn.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Braket resource arn.</p>\n@param arn The Amazon Braket resource arn.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Braket resource arn.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "type",
        "c2jShape" : "AssociationType",
        "deprecated" : false,
        "documentation" : "<p>The association type for the specified Amazon Braket resource arn.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "AssociationType",
        "fluentSetterDocumentation" : "/**<p>The association type for the specified Amazon Braket resource arn.</p>\n@param type The association type for the specified Amazon Braket resource arn.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AssociationType*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p>The association type for the specified Amazon Braket resource arn.</p>\n@return The association type for the specified Amazon Braket resource arn.\n@see AssociationType*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "type",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The association type for the specified Amazon Braket resource arn.</p>\n@param type The association type for the specified Amazon Braket resource arn.\n@see AssociationType*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The association type for the specified Amazon Braket resource arn.</p>\n@param type The association type for the specified Amazon Braket resource arn.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AssociationType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The association type for the specified Amazon Braket resource arn.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "arn",
          "c2jShape" : "BraketResourceArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Braket resource arn.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Braket resource arn.</p>\n@param arn The Amazon Braket resource arn.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**<p>The Amazon Braket resource arn.</p>\n@return The Amazon Braket resource arn.*/",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "arn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Braket resource arn.</p>\n@param arn The Amazon Braket resource arn.*/",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Braket resource arn.</p>\n@param arn The Amazon Braket resource arn.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Braket resource arn.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "type",
          "c2jShape" : "AssociationType",
          "deprecated" : false,
          "documentation" : "<p>The association type for the specified Amazon Braket resource arn.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "AssociationType",
          "fluentSetterDocumentation" : "/**<p>The association type for the specified Amazon Braket resource arn.</p>\n@param type The association type for the specified Amazon Braket resource arn.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AssociationType*/",
          "fluentSetterMethodName" : "withType",
          "getterDocumentation" : "/**<p>The association type for the specified Amazon Braket resource arn.</p>\n@return The association type for the specified Amazon Braket resource arn.\n@see AssociationType*/",
          "getterMethodName" : "getType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "type",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Type",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The association type for the specified Amazon Braket resource arn.</p>\n@param type The association type for the specified Amazon Braket resource arn.\n@see AssociationType*/",
          "setterMethodName" : "setType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The association type for the specified Amazon Braket resource arn.</p>\n@param type The association type for the specified Amazon Braket resource arn.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AssociationType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p>The association type for the specified Amazon Braket resource arn.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.braket.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "arn", "type" ],
      "shapeName" : "Association",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Association",
        "variableName" : "association",
        "variableType" : "Association",
        "documentation" : null,
        "simpleType" : "Association",
        "variableSetterType" : "Association"
      },
      "wrapper" : false
    },
    "AssociationType" : {
      "c2jName" : "AssociationType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "RESERVATION_TIME_WINDOW_ARN",
        "value" : "RESERVATION_TIME_WINDOW_ARN"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.braket.enum.AssociationType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.braket.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AssociationType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociationType",
        "variableName" : "associationType",
        "variableType" : "AssociationType",
        "documentation" : null,
        "simpleType" : "AssociationType",
        "variableSetterType" : "AssociationType"
      },
      "wrapper" : false
    },
    "CancelJobRequest" : {
      "c2jName" : "CancelJobRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.braket.request.CancelJobRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelJob",
        "locationName" : null,
        "requestUri" : "/job/{jobArn}/cancel",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "jobArn",
        "c2jShape" : "JobArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the Amazon Braket job to cancel.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the Amazon Braket job to cancel.</p>\n@param jobArn The ARN of the Amazon Braket job to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJobArn",
        "getterDocumentation" : "/**<p>The ARN of the Amazon Braket job to cancel.</p>\n@return The ARN of the Amazon Braket job to cancel.*/",
        "getterMethodName" : "getJobArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "jobArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobArn",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "JobArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the Amazon Braket job to cancel.</p>\n@param jobArn The ARN of the Amazon Braket job to cancel.*/",
        "setterMethodName" : "setJobArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the Amazon Braket job to cancel.</p>\n@param jobArn The ARN of the Amazon Braket job to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the Amazon Braket job to cancel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "JobArn" : {
          "c2jName" : "jobArn",
          "c2jShape" : "JobArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the Amazon Braket job to cancel.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the Amazon Braket job to cancel.</p>\n@param jobArn The ARN of the Amazon Braket job to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withJobArn",
          "getterDocumentation" : "/**<p>The ARN of the Amazon Braket job to cancel.</p>\n@return The ARN of the Amazon Braket job to cancel.*/",
          "getterMethodName" : "getJobArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "jobArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "jobArn",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "JobArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the Amazon Braket job to cancel.</p>\n@param jobArn The ARN of the Amazon Braket job to cancel.*/",
          "setterMethodName" : "setJobArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the Amazon Braket job to cancel.</p>\n@param jobArn The ARN of the Amazon Braket job to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the Amazon Braket job to cancel.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.braket.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "jobArn" ],
      "shapeName" : "CancelJobRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJobRequest",
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "documentation" : null,
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "wrapper" : false
    },
    "CancelJobResult" : {
      "c2jName" : "CancelJobResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.braket.response.CancelJobResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "cancellationStatus",
        "c2jShape" : "CancellationStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the job cancellation request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "CancellationStatus",
        "fluentSetterDocumentation" : "/**<p>The status of the job cancellation request.</p>\n@param cancellationStatus The status of the job cancellation request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see CancellationStatus*/",
        "fluentSetterMethodName" : "withCancellationStatus",
        "getterDocumentation" : "/**<p>The status of the job cancellation request.</p>\n@return The status of the job cancellation request.\n@see CancellationStatus*/",
        "getterMethodName" : "getCancellationStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cancellationStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cancellationStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CancellationStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of the job cancellation request.</p>\n@param cancellationStatus The status of the job cancellation request.\n@see CancellationStatus*/",
        "setterMethodName" : "setCancellationStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cancellationStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of the job cancellation request.</p>\n@param cancellationStatus The status of the job cancellation request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see CancellationStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cancellationStatus",
          "variableType" : "String",
          "documentation" : "<p>The status of the job cancellation request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "jobArn",
        "c2jShape" : "JobArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the Amazon Braket job.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the Amazon Braket job.</p>\n@param jobArn The ARN of the Amazon Braket job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJobArn",
        "getterDocumentation" : "/**<p>The ARN of the Amazon Braket job.</p>\n@return The ARN of the Amazon Braket job.*/",
        "getterMethodName" : "getJobArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "jobArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "JobArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the Amazon Braket job.</p>\n@param jobArn The ARN of the Amazon Braket job.*/",
        "setterMethodName" : "setJobArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the Amazon Braket job.</p>\n@param jobArn The ARN of the Amazon Braket job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the Amazon Braket job.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CancellationStatus" : {
          "c2jName" : "cancellationStatus",
          "c2jShape" : "CancellationStatus",
          "deprecated" : false,
          "documentation" : "<p>The status of the job cancellation request.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "CancellationStatus",
          "fluentSetterDocumentation" : "/**<p>The status of the job cancellation request.</p>\n@param cancellationStatus The status of the job cancellation request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see CancellationStatus*/",
          "fluentSetterMethodName" : "withCancellationStatus",
          "getterDocumentation" : "/**<p>The status of the job cancellation request.</p>\n@return The status of the job cancellation request.\n@see CancellationStatus*/",
          "getterMethodName" : "getCancellationStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "cancellationStatus",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "cancellationStatus",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CancellationStatus",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The status of the job cancellation request.</p>\n@param cancellationStatus The status of the job cancellation request.\n@see CancellationStatus*/",
          "setterMethodName" : "setCancellationStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cancellationStatus",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The status of the job cancellation request.</p>\n@param cancellationStatus The status of the job cancellation request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see CancellationStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cancellationStatus",
            "variableType" : "String",
            "documentation" : "<p>The status of the job cancellation request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "JobArn" : {
          "c2jName" : "jobArn",
          "c2jShape" : "JobArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the Amazon Braket job.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the Amazon Braket job.</p>\n@param jobArn The ARN of the Amazon Braket job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withJobArn",
          "getterDocumentation" : "/**<p>The ARN of the Amazon Braket job.</p>\n@return The ARN of the Amazon Braket job.*/",
          "getterMethodName" : "getJobArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "jobArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "jobArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "JobArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the Amazon Braket job.</p>\n@param jobArn The ARN of the Amazon Braket job.*/",
          "setterMethodName" : "setJobArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the Amazon Braket job.</p>\n@param jobArn The ARN of the Amazon Braket job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the Amazon Braket job.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.braket.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "cancellationStatus", "jobArn" ],
      "shapeName" : "CancelJobResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJobResult",
        "variableName" : "cancelJobResult",
        "variableType" : "CancelJobResult",
        "documentation" : null,
        "simpleType" : "CancelJobResult",
        "variableSetterType" : "CancelJobResult"
      },
      "wrapper" : false
    },
    "CancelQuantumTaskRequest" : {
      "c2jName" : "CancelQuantumTaskRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.braket.request.CancelQuantumTaskRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelQuantumTask",
        "locationName" : null,
        "requestUri" : "/quantum-task/{quantumTaskArn}/cancel",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "clientToken",
        "c2jShape" : "String64",
        "deprecated" : false,
        "documentation" : "<p>The client token associated with the request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>The client token associated with the request.</p>\n@return The client token associated with the request.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>The client token associated with the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "quantumTaskArn",
        "c2jShape" : "QuantumTaskArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the task to cancel.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@param quantumTaskArn The ARN of the task to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQuantumTaskArn",
        "getterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@return The ARN of the task to cancel.*/",
        "getterMethodName" : "getQuantumTaskArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "quantumTaskArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "quantumTaskArn",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "QuantumTaskArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@param quantumTaskArn The ARN of the task to cancel.*/",
        "setterMethodName" : "setQuantumTaskArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "quantumTaskArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@param quantumTaskArn The ARN of the task to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "quantumTaskArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the task to cancel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "String64",
          "deprecated" : false,
          "documentation" : "<p>The client token associated with the request.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>The client token associated with the request.</p>\n@return The client token associated with the request.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p>The client token associated with the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "QuantumTaskArn" : {
          "c2jName" : "quantumTaskArn",
          "c2jShape" : "QuantumTaskArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the task to cancel.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@param quantumTaskArn The ARN of the task to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withQuantumTaskArn",
          "getterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@return The ARN of the task to cancel.*/",
          "getterMethodName" : "getQuantumTaskArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
[...]
