{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-09-01",
    "asyncClient" : "AWSBraketAsyncClient",
    "asyncClientBuilderClassName" : "AWSBraketAsyncClientBuilder",
    "asyncInterface" : "AWSBraketAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSBraketModuleInjector",
    "defaultEndpoint" : "braket.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "braket.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Braket API Reference provides information about the operations and structures supported in Amazon Braket.</p>",
    "endpointPrefix" : "braket",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.braket",
    "packagePath" : "com/amazonaws/services/braket",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Braket",
    "serviceId" : "Braket",
    "serviceName" : "Braket",
    "signingName" : "braket",
    "smokeTestsPackageName" : "com.amazonaws.services.braket.smoketests",
    "syncClient" : "AWSBraketClient",
    "syncClientBuilderClassName" : "AWSBraketClientBuilder",
    "syncInterface" : "AWSBraket",
    "uid" : "braket-2019-09-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelQuantumTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelQuantumTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelQuantumTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelQuantumTaskRequest, CancelQuantumTaskResult>",
      "asyncReturnType" : "CancelQuantumTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the specified task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An error occurred due to a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelQuantumTaskRequest",
        "variableName" : "cancelQuantumTaskRequest",
        "variableType" : "CancelQuantumTaskRequest",
        "documentation" : "",
        "simpleType" : "CancelQuantumTaskRequest",
        "variableSetterType" : "CancelQuantumTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelQuantumTask",
      "operationName" : "CancelQuantumTask",
      "returnType" : {
        "returnType" : "CancelQuantumTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelQuantumTaskResult"
    },
    "CreateQuantumTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateQuantumTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateQuantumTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateQuantumTaskRequest, CreateQuantumTaskResult>",
      "asyncReturnType" : "CreateQuantumTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a quantum task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DeviceOfflineException",
        "documentation" : "<p>The specified device is currently offline.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is met.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateQuantumTaskRequest",
        "variableName" : "createQuantumTaskRequest",
        "variableType" : "CreateQuantumTaskRequest",
        "documentation" : "",
        "simpleType" : "CreateQuantumTaskRequest",
        "variableSetterType" : "CreateQuantumTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createQuantumTask",
      "operationName" : "CreateQuantumTask",
      "returnType" : {
        "returnType" : "CreateQuantumTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateQuantumTaskResult"
    },
    "GetDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceRequest, GetDeviceResult>",
      "asyncReturnType" : "GetDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the devices available in Amazon Braket.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeviceRequest",
        "variableName" : "getDeviceRequest",
        "variableType" : "GetDeviceRequest",
        "documentation" : "",
        "simpleType" : "GetDeviceRequest",
        "variableSetterType" : "GetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDevice",
      "operationName" : "GetDevice",
      "returnType" : {
        "returnType" : "GetDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeviceResult"
    },
    "GetQuantumTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQuantumTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQuantumTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQuantumTaskRequest, GetQuantumTaskResult>",
      "asyncReturnType" : "GetQuantumTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the specified quantum task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQuantumTaskRequest",
        "variableName" : "getQuantumTaskRequest",
        "variableType" : "GetQuantumTaskRequest",
        "documentation" : "",
        "simpleType" : "GetQuantumTaskRequest",
        "variableSetterType" : "GetQuantumTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQuantumTask",
      "operationName" : "GetQuantumTask",
      "returnType" : {
        "returnType" : "GetQuantumTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQuantumTaskResult"
    },
    "SearchDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchDevicesRequest, SearchDevicesResult>",
      "asyncReturnType" : "SearchDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for devices using the specified filters.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchDevicesRequest",
        "variableName" : "searchDevicesRequest",
        "variableType" : "SearchDevicesRequest",
        "documentation" : "",
        "simpleType" : "SearchDevicesRequest",
        "variableSetterType" : "SearchDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchDevices",
      "operationName" : "SearchDevices",
      "returnType" : {
        "returnType" : "SearchDevicesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchDevicesResult"
    },
    "SearchQuantumTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchQuantumTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchQuantumTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchQuantumTasksRequest, SearchQuantumTasksResult>",
      "asyncReturnType" : "SearchQuantumTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for tasks that match the specified filter values.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling rate limit is met.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchQuantumTasksRequest",
        "variableName" : "searchQuantumTasksRequest",
        "variableType" : "SearchQuantumTasksRequest",
        "documentation" : "",
        "simpleType" : "SearchQuantumTasksRequest",
        "variableSetterType" : "SearchQuantumTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchQuantumTasks",
      "operationName" : "SearchQuantumTasks",
      "returnType" : {
        "returnType" : "SearchQuantumTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchQuantumTasksResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.braket.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.braket.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CancelQuantumTaskRequest" : {
      "c2jName" : "CancelQuantumTaskRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.braket.request.CancelQuantumTaskRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelQuantumTask",
        "locationName" : null,
        "requestUri" : "/quantum-task/{quantumTaskArn}/cancel",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "clientToken",
        "c2jShape" : "String64",
        "deprecated" : false,
        "documentation" : "<p>The client token associated with the request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>The client token associated with the request.</p>\n@return The client token associated with the request.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>The client token associated with the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "quantumTaskArn",
        "c2jShape" : "QuantumTaskArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the task to cancel.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@param quantumTaskArn The ARN of the task to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQuantumTaskArn",
        "getterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@return The ARN of the task to cancel.*/",
        "getterMethodName" : "getQuantumTaskArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "quantumTaskArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "quantumTaskArn",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "QuantumTaskArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@param quantumTaskArn The ARN of the task to cancel.*/",
        "setterMethodName" : "setQuantumTaskArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "quantumTaskArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@param quantumTaskArn The ARN of the task to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "quantumTaskArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the task to cancel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "String64",
          "deprecated" : false,
          "documentation" : "<p>The client token associated with the request.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>The client token associated with the request.</p>\n@return The client token associated with the request.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p>The client token associated with the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "QuantumTaskArn" : {
          "c2jName" : "quantumTaskArn",
          "c2jShape" : "QuantumTaskArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the task to cancel.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@param quantumTaskArn The ARN of the task to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withQuantumTaskArn",
          "getterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@return The ARN of the task to cancel.*/",
          "getterMethodName" : "getQuantumTaskArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "quantumTaskArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "quantumTaskArn",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "QuantumTaskArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@param quantumTaskArn The ARN of the task to cancel.*/",
          "setterMethodName" : "setQuantumTaskArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "quantumTaskArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the task to cancel.</p>\n@param quantumTaskArn The ARN of the task to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "quantumTaskArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the task to cancel.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.braket.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "clientToken", "quantumTaskArn" ],
      "shapeName" : "CancelQuantumTaskRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelQuantumTaskRequest",
        "variableName" : "cancelQuantumTaskRequest",
        "variableType" : "CancelQuantumTaskRequest",
        "documentation" : null,
        "simpleType" : "CancelQuantumTaskRequest",
        "variableSetterType" : "CancelQuantumTaskRequest"
      },
      "wrapper" : false
    },
    "CancelQuantumTaskResult" : {
      "c2jName" : "CancelQuantumTaskResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.braket.response.CancelQuantumTaskResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "cancellationStatus",
        "c2jShape" : "CancellationStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the cancellation request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "CancellationStatus",
        "fluentSetterDocumentation" : "/**<p>The status of the cancellation request.</p>\n@param cancellationStatus The status of the cancellation request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see CancellationStatus*/",
        "fluentSetterMethodName" : "withCancellationStatus",
        "getterDocumentation" : "/**<p>The status of the cancellation request.</p>\n@return The status of the cancellation request.\n@see CancellationStatus*/",
        "getterMethodName" : "getCancellationStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cancellationStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cancellationStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CancellationStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of the cancellation request.</p>\n@param cancellationStatus The status of the cancellation request.\n@see CancellationStatus*/",
        "setterMethodName" : "setCancellationStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cancellationStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of the cancellation request.</p>\n@param cancellationStatus The status of the cancellation request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see CancellationStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cancellationStatus",
          "variableType" : "String",
          "documentation" : "<p>The status of the cancellation request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "quantumTaskArn",
        "c2jShape" : "QuantumTaskArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the task.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the task.</p>\n@param quantumTaskArn The ARN of the task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQuantumTaskArn",
        "getterDocumentation" : "/**<p>The ARN of the task.</p>\n@return The ARN of the task.*/",
        "getterMethodName" : "getQuantumTaskArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "quantumTaskArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "quantumTaskArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "QuantumTaskArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the task.</p>\n@param quantumTaskArn The ARN of the task.*/",
        "setterMethodName" : "setQuantumTaskArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "quantumTaskArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the task.</p>\n@param quantumTaskArn The ARN of the task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "quantumTaskArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the task.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CancellationStatus" : {
          "c2jName" : "cancellationStatus",
          "c2jShape" : "CancellationStatus",
          "deprecated" : false,
          "documentation" : "<p>The status of the cancellation request.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "CancellationStatus",
          "fluentSetterDocumentation" : "/**<p>The status of the cancellation request.</p>\n@param cancellationStatus The status of the cancellation request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see CancellationStatus*/",
          "fluentSetterMethodName" : "withCancellationStatus",
          "getterDocumentation" : "/**<p>The status of the cancellation request.</p>\n@return The status of the cancellation request.\n@see CancellationStatus*/",
          "getterMethodName" : "getCancellationStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "cancellationStatus",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "cancellationStatus",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CancellationStatus",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The status of the cancellation request.</p>\n@param cancellationStatus The status of the cancellation request.\n@see CancellationStatus*/",
          "setterMethodName" : "setCancellationStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cancellationStatus",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The status of the cancellation request.</p>\n@param cancellationStatus The status of the cancellation request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see CancellationStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cancellationStatus",
            "variableType" : "String",
            "documentation" : "<p>The status of the cancellation request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "QuantumTaskArn" : {
          "c2jName" : "quantumTaskArn",
          "c2jShape" : "QuantumTaskArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the task.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the task.</p>\n@param quantumTaskArn The ARN of the task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withQuantumTaskArn",
          "getterDocumentation" : "/**<p>The ARN of the task.</p>\n@return The ARN of the task.*/",
          "getterMethodName" : "getQuantumTaskArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "quantumTaskArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "quantumTaskArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "QuantumTaskArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the task.</p>\n@param quantumTaskArn The ARN of the task.*/",
          "setterMethodName" : "setQuantumTaskArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "quantumTaskArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the task.</p>\n@param quantumTaskArn The ARN of the task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "quantumTaskArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the task.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.braket.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "cancellationStatus", "quantumTaskArn" ],
      "shapeName" : "CancelQuantumTaskResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelQuantumTaskResult",
        "variableName" : "cancelQuantumTaskResult",
        "variableType" : "CancelQuantumTaskResult",
        "documentation" : null,
        "simpleType" : "CancelQuantumTaskResult",
        "variableSetterType" : "CancelQuantumTaskResult"
      },
      "wrapper" : false
    },
    "CancellationStatus" : {
      "c2jName" : "CancellationStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "CANCELLED",
        "value" : "CANCELLED"
      }, {
        "name" : "CANCELLING",
        "value" : "CANCELLING"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.braket.enum.CancellationStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.braket.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CancellationStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancellationStatus",
        "variableName" : "cancellationStatus",
        "variableType" : "CancellationStatus",
        "documentation" : null,
        "simpleType" : "CancellationStatus",
        "variableSetterType" : "CancellationStatus"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An error occurred due to a conflict.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.braket.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.braket.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateQuantumTaskRequest" : {
      "c2jName" : "CreateQuantumTaskRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.braket.request.CreateQuantumTaskRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateQuantumTask",
        "locationName" : null,
        "requestUri" : "/quantum-task",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "action",
        "c2jShape" : "JsonValue",
        "deprecated" : false,
        "documentation" : "<p>The action associated with the task.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The action associated with the task.</p><p>\nThis field's value must be valid JSON according to RFC 7159, including the opening and closing braces. For example: '{\"key\": \"value\"}'.\n</p>\n<p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n\n@param action The action associated with the task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAction",
        "getterDocumentation" : "/**<p>The action associated with the task.</p>\n<p>\nThis field's value will be valid JSON according to RFC 7159, including the opening and closing braces. For example: '{\"key\": \"value\"}'.\n</p>\n@return The action associated with the task.*/",
        "getterMethodName" : "getAction",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "action",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "action",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : true,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "JSON_VALUE",
        "name" : "Action",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The action associated with the task.</p><p>\nThis field's value must be valid JSON according to RFC 7159, including the opening and closing braces. For example: '{\"key\": \"value\"}'.\n</p>\n<p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n\n@param action The action associated with the task.*/",
        "setterMethodName" : "setAction",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "action",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : "JSON_VALUE",
        "varargSetterDocumentation" : "/**<p>The action associated with the task.</p>\n@param action The action associated with the task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "action",
          "variableType" : "String",
          "documentation" : "<p>The action associated with the task.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientToken",
        "c2jShape" : "String64",
        "deprecated" : false,
        "documentation" : "<p>The client token associated with the request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>The client token associated with the request.</p>\n@return The client token associated with the request.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>The client token associated with the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "deviceArn",
        "c2jShape" : "DeviceArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the device to run the task on.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the device to run the task on.</p>\n@param deviceArn The ARN of the device to run the task on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceArn",
        "getterDocumentation" : "/**<p>The ARN of the device to run the task on.</p>\n@return The ARN of the device to run the task on.*/",
        "getterMethodName" : "getDeviceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "deviceArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deviceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the device to run the task on.</p>\n@param deviceArn The ARN of the device to run the task on.*/",
        "setterMethodName" : "setDeviceArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the device to run the task on.</p>\n@param deviceArn The ARN of the device to run the task on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the device to run the task on.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "deviceParameters",
        "c2jShape" : "CreateQuantumTaskRequestdeviceParametersJsonValue",
        "deprecated" : false,
        "documentation" : "<p>The parameters for the device to run the task on.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The parameters for the device to run the task on.</p><p>\nThis field's value must be valid JSON according to RFC 7159, including the opening and closing braces. For example: '{\"key\": \"value\"}'.\n</p>\n<p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n\n@param deviceParameters The parameters for the device to run the task on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceParameters",
        "getterDocumentation" : "/**<p>The parameters for the device to run the task on.</p>\n<p>\nThis field's value will be valid JSON according to RFC 7159, including the opening and closing braces. For example: '{\"key\": \"value\"}'.\n</p>\n@return The parameters for the device to run the task on.*/",
        "getterMethodName" : "getDeviceParameters",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "deviceParameters",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deviceParameters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : true,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "JSON_VALUE",
        "name" : "DeviceParameters",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The parameters for the device to run the task on.</p><p>\nThis field's value must be valid JSON according to RFC 7159, including the opening and closing braces. For example: '{\"key\": \"value\"}'.\n</p>\n<p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n\n@param deviceParameters The parameters for the device to run the task on.*/",
        "setterMethodName" : "setDeviceParameters",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceParameters",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : "JSON_VALUE",
        "varargSetterDocumentation" : "/**<p>The parameters for the device to run the task on.</p>\n@param deviceParameters The parameters for the device to run the task on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceParameters",
          "variableType" : "String",
          "documentation" : "<p>The parameters for the device to run the task on.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "outputS3Bucket",
        "c2jShape" : "CreateQuantumTaskRequestoutputS3BucketString",
        "deprecated" : false,
        "documentation" : "<p>The S3 bucket to store task result files in.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The S3 bucket to store task result files in.</p>\n@param outputS3Bucket The S3 bucket to store task result files in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOutputS3Bucket",
        "getterDocumentation" : "/**<p>The S3 bucket to store task result files in.</p>\n@return The S3 bucket to store task result files in.*/",
        "getterMethodName" : "getOutputS3Bucket",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "outputS3Bucket",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "outputS3Bucket",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OutputS3Bucket",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The S3 bucket to store task result files in.</p>\n@param outputS3Bucket The S3 bucket to store task result files in.*/",
        "setterMethodName" : "setOutputS3Bucket",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "outputS3Bucket",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The S3 bucket to store task result files in.</p>\n@param outputS3Bucket The S3 bucket to store task result files in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "outputS3Bucket",
          "variableType" : "String",
          "documentation" : "<p>The S3 bucket to store task result files in.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "outputS3KeyPrefix",
        "c2jShape" : "CreateQuantumTaskRequestoutputS3KeyPrefixString",
        "deprecated" : false,
        "documentation" : "<p>The key prefix for the location in the S3 bucket to store task results in.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The key prefix for the location in the S3 bucket to store task results in.</p>\n@param outputS3KeyPrefix The key prefix for the location in the S3 bucket to store task results in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOutputS3KeyPrefix",
        "getterDocumentation" : "/**<p>The key prefix for the location in the S3 bucket to store task results in.</p>\n@return The key prefix for the location in the S3 bucket to store task results in.*/",
        "getterMethodName" : "getOutputS3KeyPrefix",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "outputS3KeyPrefix",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "outputS3KeyPrefix",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OutputS3KeyPrefix",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The key prefix for the location in the S3 bucket to store task results in.</p>\n@param outputS3KeyPrefix The key prefix for the location in the S3 bucket to store task results in.*/",
        "setterMethodName" : "setOutputS3KeyPrefix",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "outputS3KeyPrefix",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The key prefix for the location in the S3 bucket to store task results in.</p>\n@param outputS3KeyPrefix The key prefix for the location in the S3 bucket to store task results in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "outputS3KeyPrefix",
          "variableType" : "String",
          "documentation" : "<p>The key prefix for the location in the S3 bucket to store task results in.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "shots",
        "c2jShape" : "CreateQuantumTaskRequestshotsLong",
        "deprecated" : false,
        "documentation" : "<p>The number of shots to use for the task.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of shots to use for the task.</p>\n@param shots The number of shots to use for the task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withShots",
        "getterDocumentation" : "/**<p>The number of shots to use for the task.</p>\n@return The number of shots to use for the task.*/",
        "getterMethodName" : "getShots",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "shots",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "shots",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "Shots",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of shots to use for the task.</p>\n@param shots The number of shots to use for the task.*/",
        "setterMethodName" : "setShots",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "shots",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of shots to use for the task.</p>\n@param shots The number of shots to use for the task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "shots",
          "variableType" : "Long",
          "documentation" : "<p>The number of shots to use for the task.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Action" : {
          "c2jName" : "action",
          "c2jShape" : "JsonValue",
          "deprecated" : false,
          "documentation" : "<p>The action associated with the task.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The action associated with the task.</p><p>\nThis field's value must be valid JSON according to RFC 7159, including the opening and closing braces. For example: '{\"key\": \"value\"}'.\n</p>\n<p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n\n@param action The action associated with the task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAction",
          "getterDocumentation" : "/**<p>The action associated with the task.</p>\n<p>\nThis field's value will be valid JSON according to RFC 7159, including the opening and closing braces. For example: '{\"key\": \"value\"}'.\n</p>\n@return The action associated with the task.*/",
          "getterMethodName" : "getAction",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "action",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "action",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : true,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "JSON_VALUE",
          "name" : "Action",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The action associated with the task.</p><p>\nThis field's value must be valid JSON according to RFC 7159, including the opening and closing braces. For example: '{\"key\": \"value\"}'.\n</p>\n<p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n\n@param action The action associated with the task.*/",
          "setterMethodName" : "setAction",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "action",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : "JSON_VALUE",
          "varargSetterDocumentation" : "/**<p>The action associated with the task.</p>\n@param action The action associated with the task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "action",
            "variableType" : "String",
            "documentation" : "<p>The action associated with the task.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "String64",
          "deprecated" : false,
          "documentation" : "<p>The client token associated with the request.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>The client token associated with the request.</p>\n@return The client token associated with the request.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The client token associated with the request.</p>\n@param clientToken The client token associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p>The client token associated with the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DeviceArn" : {
          "c2jName" : "deviceArn",
          "c2jShape" : "DeviceArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the device to run the task on.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the device to run the task on.</p>\n@param deviceArn The ARN of the device to run the task on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceArn",
          "getterDocumentation" : "/**<p>The ARN of the device to run the task on.</p>\n@return The ARN of the device to run the task on.*/",
          "getterMethodName" : "getDeviceArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "deviceArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "deviceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeviceArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the device to run the task on.</p>\n@param deviceArn The ARN of the device to run the task on.*/",
          "setterMethodName" : "setDeviceArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the device to run the task on.</p>\n@param deviceArn The ARN of the device to run the task on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the device to run the task on.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DeviceParameters" : {
          "c2jName" : "deviceParameters",
          "c2jShape" : "CreateQuantumTaskRequestdeviceParametersJsonValue",
          "deprecated" : false,
          "documentation" : "<p>The parameters for the device to run the task on.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The parameters for the device to run the task on.</p><p>\nThis field's value must be valid JSON according to RFC 7159, including the opening and closing braces. For example: '{\"key\": \"value\"}'.\n</p>\n<p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n\n@param deviceParameters The parameters for the device to run the task on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceParameters",
          "getterDocumentation" : "/**<p>The parameters for the device to run the task on.</p>\n<p>\nThis field's value will be valid JSON according to RFC 7159, including the opening and closing braces. For example: '{\"key\": \"value\"}'.\n</p>\n@return The parameters for the device to run the task on.*/",
          "getterMethodName" : "getDeviceParameters",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "deviceParameters",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "deviceParameters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : true,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "JSON_VALUE",
          "name" : "DeviceParameters",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The parameters for the device to run the task on.</p><p>\nThis field's value must be valid JSON according to RFC 7159, including the opening and closing braces. For example: '{\"key\": \"value\"}'.\n</p>\n<p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n\n@param deviceParameters The parameters for the device to run the task on.*/",
          "setterMethodName" : "setDeviceParameters",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceParameters",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : "JSON_VALUE",
          "varargSetterDocumentation" : "/**<p>The parameters for the device to run the task on.</p>\n@param deviceParameters The parameters for the device to run the task on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceParameters",
            "variableType" : "String",
            "documentation" : "<p>The parameters for the device to run the task on.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "OutputS3Bucket" : {
          "c2jName" : "outputS3Bucket",
          "c2jShape" : "CreateQuantumTaskRequestoutputS3BucketString",
          "deprecated" : false,
          "documentation" : "<p>The S3 bucket to store task result files in.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The S3 bucket to store task result files in.</p>\n@param outputS3Bucket The S3 bucket to store task result files in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOutputS3Bucket",
          "getterDocumentation" : "/**<p>The S3 bucket to store task result files in.</p>\n@return The S3 bucket to store task result files in.*/",
          "getterMethodName" : "getOutputS3Bucket",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "outputS3Bucket",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "outputS3Bucket",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OutputS3Bucket",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The S3 bucket to store task result files in.</p>\n@param outputS3Bucket The S3 bucket to store task result files in.*/",
          "setterMethodName" : "setOutputS3Bucket",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "outputS3Bucket",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The S3 bucket to store task result files in.</p>\n@param outputS3Bucket The S3 bucket to store task result files in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "outputS3Bucket",
            "variableType" : "String",
            "documentation" : "<p>The S3 bucket to store task result files in.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "OutputS3KeyPrefix" : {
          "c2jName" : "outputS3KeyPrefix",
          "c2jShape" : "CreateQuantumTaskRequestoutputS3KeyPrefixString",
          "deprecated" : false,
          "documentation" : "<p>The key prefix for the location in the S3 bucket to store task results in.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The key prefix for the location in the S3 bucket to store task results in.</p>\n@param outputS3KeyPrefix The key prefix for the location in the S3 bucket to store task results in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOutputS3KeyPrefix",
          "getterDocumentation" : "/**<p>The key prefix for the location in the S3 bucket to store task results in.</p>\n@return The key prefix for the location in the S3 bucket to store task results in.*/",
          "getterMethodName" : "getOutputS3KeyPrefix",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "outputS3KeyPrefix",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "outputS3KeyPrefix",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OutputS3KeyPrefix",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The key prefix for the location in the S3 bucket to store task results in.</p>\n@param outputS3KeyPrefix The key prefix for the location in the S3 bucket to store task results in.*/",
          "setterMethodName" : "setOutputS3KeyPrefix",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "outputS3KeyPrefix",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The key prefix for the location in the S3 bucket to store task results in.</p>\n@param outputS3KeyPrefix The key prefix for the location in the S3 bucket to store task results in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "outputS3KeyPrefix",
            "variableType" : "String",
            "documentation" : "<p>The key prefix for the location in the S3 bucket to store task results in.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Shots" : {
          "c2jName" : "shots",
          "c2jShape" : "CreateQuantumTaskRequestshotsLong",
          "deprecated" : false,
          "documentation" : "<p>The number of shots to use for the task.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of shots to use for the task.</p>\n@param shots The number of shots to use for the task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withShots",
          "getterDocumentation" : "/**<p>The number of shots to use for the task.</p>\n@return The number of shots to use for the task.*/",
          "getterMethodName" : "getShots",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "shots",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "shots",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "Shots",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The number of shots to use for the task.</p>\n@param shots The number of shots to use for the task.*/",
          "setterMethodName" : "setShots",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "shots",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The number of shots to use for the task.</p>\n@param shots The number of shots to use for the task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "shots",
            "variableType" : "Long",
            "documentation" : "<p>The number of shots to use for the task.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.braket.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "action", "clientToken", "deviceArn", "outputS3Bucket", "outputS3KeyPrefix", "shots" ],
      "shapeName" : "CreateQuantumTaskRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
[...]
