{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Budget" : [ "TimeUnit", "BudgetType" ],
      "Notification" : [ "NotificationType", "ComparisonOperator" ],
      "Subscriber" : [ "SubscriptionType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "Spend" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "injectEnumValues" : null,
        "modify" : [ {
          "Amount" : {
            "emitAsType" : "bigdecimal",
            "emitEnumName" : null,
            "emitPropertyName" : null,
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-10-20",
    "asyncClient" : "AWSBudgetsAsyncClient",
    "asyncClientBuilderClassName" : "AWSBudgetsAsyncClientBuilder",
    "asyncInterface" : "AWSBudgetsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSBudgetsModuleInjector",
    "defaultEndpoint" : "budgets.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "budgets.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Budgets enable you to plan your service usage, service costs, and your RI utilization. You can also track how close your plan is to your budgeted amount or to the free tier limits. Budgets provide you with a quick way to see your usage-to-date and current estimated charges from AWS and to see how much your predicted usage accrues in charges by the end of the month. Budgets also compare current estimates and charges to the amount that you indicated you want to use or spend and lets you see how much of your budget has been used. AWS updates your budget status several times a day. Budgets track your unblended costs, subscriptions, and refunds. You can create the following types of budgets:</p> <ul> <li> <p>Cost budgets allow you to say how much you want to spend on a service.</p> </li> <li> <p>Usage budgets allow you to say how many hours you want to use for one or more services.</p> </li> <li> <p>RI utilization budgets allow you to define a utilization threshold and receive alerts when RIs are tracking below that threshold.</p> </li> </ul> <p>You can create up to 20,000 budgets per AWS master account. Your first two budgets are free of charge. Each additional budget costs $0.02 per day. You can set up optional notifications that warn you if you exceed, or are forecasted to exceed, your budgeted amount. You can have notifications sent to an Amazon SNS topic, to an email address, or to both. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/budgets-sns-policy.html\">Creating an Amazon SNS Topic for Budget Notifications</a>. AWS Free Tier usage alerts via AWS Budgets are provided for you, and do not count toward your budget limits.</p> <p>Service Endpoint</p> <p>The AWS Budgets API provides the following endpoint:</p> <ul> <li> <p>https://budgets.amazonaws.com</p> </li> </ul> <p>For information about costs associated with the AWS Budgets API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
    "endpointPrefix" : "budgets",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.budgets",
    "packagePath" : "com/amazonaws/services/budgets",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWSBudgets",
    "serviceFullName" : "AWS Budgets",
    "serviceName" : "AWSBudgets",
    "signingName" : "budgets",
    "smokeTestsPackageName" : "com.amazonaws.services.budgets.smoketests",
    "syncClient" : "AWSBudgetsClient",
    "syncClientBuilderClassName" : "AWSBudgetsClientBuilder",
    "syncInterface" : "AWSBudgets",
    "uid" : "budgets-2016-10-20",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBudgetRequest, CreateBudgetResult>",
      "asyncReturnType" : "CreateBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a budget and, if included, notifications and subscribers. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "<p>You've exceeded the notification or subscriber limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateBudgetRequest",
        "variableName" : "createBudgetRequest",
        "variableType" : "CreateBudgetRequest",
        "documentation" : "<p> Request of CreateBudget </p>",
        "simpleType" : "CreateBudgetRequest",
        "variableSetterType" : "CreateBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBudget",
      "operationName" : "CreateBudget",
      "returnType" : {
        "returnType" : "CreateBudgetResult",
        "documentation" : "<p> Response of CreateBudget </p>"
      },
      "syncReturnType" : "CreateBudgetResult"
    },
    "CreateNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNotificationRequest, CreateNotificationResult>",
      "asyncReturnType" : "CreateNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a notification. You must create the budget before you create the associated notification.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "<p>You've exceeded the notification or subscriber limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateNotificationRequest",
        "variableName" : "createNotificationRequest",
        "variableType" : "CreateNotificationRequest",
        "documentation" : "<p> Request of CreateNotification </p>",
        "simpleType" : "CreateNotificationRequest",
        "variableSetterType" : "CreateNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNotification",
      "operationName" : "CreateNotification",
      "returnType" : {
        "returnType" : "CreateNotificationResult",
        "documentation" : "<p> Response of CreateNotification </p>"
      },
      "syncReturnType" : "CreateNotificationResult"
    },
    "CreateSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubscriberRequest, CreateSubscriberResult>",
      "asyncReturnType" : "CreateSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a subscriber. You must create the associated budget and notification before you create the subscriber.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "<p>You've exceeded the notification or subscriber limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSubscriberRequest",
        "variableName" : "createSubscriberRequest",
        "variableType" : "CreateSubscriberRequest",
        "documentation" : "<p> Request of CreateSubscriber </p>",
        "simpleType" : "CreateSubscriberRequest",
        "variableSetterType" : "CreateSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubscriber",
      "operationName" : "CreateSubscriber",
      "returnType" : {
        "returnType" : "CreateSubscriberResult",
        "documentation" : "<p> Response of CreateSubscriber </p>"
      },
      "syncReturnType" : "CreateSubscriberResult"
    },
    "DeleteBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBudgetRequest, DeleteBudgetResult>",
      "asyncReturnType" : "DeleteBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a budget. You can delete your budget at any time.</p> <p> <b>Deleting a budget also deletes the notifications and subscribers associated with that budget.</b> </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteBudgetRequest",
        "variableName" : "deleteBudgetRequest",
        "variableType" : "DeleteBudgetRequest",
        "documentation" : "<p> Request of DeleteBudget </p>",
        "simpleType" : "DeleteBudgetRequest",
        "variableSetterType" : "DeleteBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBudget",
      "operationName" : "DeleteBudget",
      "returnType" : {
        "returnType" : "DeleteBudgetResult",
        "documentation" : "<p> Response of DeleteBudget </p>"
      },
      "syncReturnType" : "DeleteBudgetResult"
    },
    "DeleteNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNotificationRequest, DeleteNotificationResult>",
      "asyncReturnType" : "DeleteNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a notification.</p> <p> <b>Deleting a notification also deletes the subscribers associated with the notification.</b> </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteNotificationRequest",
        "variableName" : "deleteNotificationRequest",
        "variableType" : "DeleteNotificationRequest",
        "documentation" : "<p> Request of DeleteNotification </p>",
        "simpleType" : "DeleteNotificationRequest",
        "variableSetterType" : "DeleteNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNotification",
      "operationName" : "DeleteNotification",
      "returnType" : {
        "returnType" : "DeleteNotificationResult",
        "documentation" : "<p> Response of DeleteNotification </p>"
      },
      "syncReturnType" : "DeleteNotificationResult"
    },
    "DeleteSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriberRequest, DeleteSubscriberResult>",
      "asyncReturnType" : "DeleteSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a subscriber.</p> <p> <b>Deleting the last subscriber to a notification also deletes the notification.</b> </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSubscriberRequest",
        "variableName" : "deleteSubscriberRequest",
        "variableType" : "DeleteSubscriberRequest",
        "documentation" : "<p> Request of DeleteSubscriber </p>",
        "simpleType" : "DeleteSubscriberRequest",
        "variableSetterType" : "DeleteSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscriber",
      "operationName" : "DeleteSubscriber",
      "returnType" : {
        "returnType" : "DeleteSubscriberResult",
        "documentation" : "<p> Response of DeleteSubscriber </p>"
      },
      "syncReturnType" : "DeleteSubscriberResult"
    },
    "DescribeBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetRequest, DescribeBudgetResult>",
      "asyncReturnType" : "DescribeBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a budget.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeBudgetRequest",
        "variableName" : "describeBudgetRequest",
        "variableType" : "DescribeBudgetRequest",
        "documentation" : "<p> Request of DescribeBudget </p>",
        "simpleType" : "DescribeBudgetRequest",
        "variableSetterType" : "DescribeBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudget",
      "operationName" : "DescribeBudget",
      "returnType" : {
        "returnType" : "DescribeBudgetResult",
        "documentation" : "<p> Response of DescribeBudget </p>"
      },
      "syncReturnType" : "DescribeBudgetResult"
    },
    "DescribeBudgets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetsRequest, DescribeBudgetsResult>",
      "asyncReturnType" : "DescribeBudgetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the budgets associated with an account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "<p>The pagination token expired.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeBudgetsRequest",
        "variableName" : "describeBudgetsRequest",
        "variableType" : "DescribeBudgetsRequest",
        "documentation" : "<p> Request of DescribeBudgets </p>",
        "simpleType" : "DescribeBudgetsRequest",
        "variableSetterType" : "DescribeBudgetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudgets",
      "operationName" : "DescribeBudgets",
      "returnType" : {
        "returnType" : "DescribeBudgetsResult",
        "documentation" : "<p> Response of DescribeBudgets </p>"
      },
      "syncReturnType" : "DescribeBudgetsResult"
    },
    "DescribeNotificationsForBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNotificationsForBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNotificationsForBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNotificationsForBudgetRequest, DescribeNotificationsForBudgetResult>",
      "asyncReturnType" : "DescribeNotificationsForBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the notifications associated with a budget.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "<p>The pagination token expired.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeNotificationsForBudgetRequest",
        "variableName" : "describeNotificationsForBudgetRequest",
        "variableType" : "DescribeNotificationsForBudgetRequest",
        "documentation" : "<p> Request of DescribeNotificationsForBudget </p>",
        "simpleType" : "DescribeNotificationsForBudgetRequest",
        "variableSetterType" : "DescribeNotificationsForBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNotificationsForBudget",
      "operationName" : "DescribeNotificationsForBudget",
      "returnType" : {
        "returnType" : "DescribeNotificationsForBudgetResult",
        "documentation" : "<p> Response of GetNotificationsForBudget </p>"
      },
      "syncReturnType" : "DescribeNotificationsForBudgetResult"
    },
    "DescribeSubscribersForNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubscribersForNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubscribersForNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubscribersForNotificationRequest, DescribeSubscribersForNotificationResult>",
      "asyncReturnType" : "DescribeSubscribersForNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the subscribers associated with a notification.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "<p>The pagination token expired.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSubscribersForNotificationRequest",
        "variableName" : "describeSubscribersForNotificationRequest",
        "variableType" : "DescribeSubscribersForNotificationRequest",
        "documentation" : "<p> Request of DescribeSubscribersForNotification </p>",
        "simpleType" : "DescribeSubscribersForNotificationRequest",
        "variableSetterType" : "DescribeSubscribersForNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSubscribersForNotification",
      "operationName" : "DescribeSubscribersForNotification",
      "returnType" : {
        "returnType" : "DescribeSubscribersForNotificationResult",
        "documentation" : "<p> Response of DescribeSubscribersForNotification </p>"
      },
      "syncReturnType" : "DescribeSubscribersForNotificationResult"
    },
    "UpdateBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBudgetRequest, UpdateBudgetResult>",
      "asyncReturnType" : "UpdateBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a budget. You can change every part of a budget except for the <code>budgetName</code> and the <code>calculatedSpend</code>. When a budget is modified, the <code>calculatedSpend</code> drops to zero until AWS has new usage data to use for forecasting.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateBudgetRequest",
        "variableName" : "updateBudgetRequest",
        "variableType" : "UpdateBudgetRequest",
        "documentation" : "<p> Request of UpdateBudget </p>",
        "simpleType" : "UpdateBudgetRequest",
        "variableSetterType" : "UpdateBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBudget",
      "operationName" : "UpdateBudget",
      "returnType" : {
        "returnType" : "UpdateBudgetResult",
        "documentation" : "<p> Response of UpdateBudget </p>"
      },
      "syncReturnType" : "UpdateBudgetResult"
    },
    "UpdateNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateNotificationRequest, UpdateNotificationResult>",
      "asyncReturnType" : "UpdateNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a notification.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateNotificationRequest",
        "variableName" : "updateNotificationRequest",
        "variableType" : "UpdateNotificationRequest",
        "documentation" : "<p> Request of UpdateNotification </p>",
        "simpleType" : "UpdateNotificationRequest",
        "variableSetterType" : "UpdateNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateNotification",
      "operationName" : "UpdateNotification",
      "returnType" : {
        "returnType" : "UpdateNotificationResult",
        "documentation" : "<p> Response of UpdateNotification </p>"
      },
      "syncReturnType" : "UpdateNotificationResult"
    },
    "UpdateSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSubscriberRequest, UpdateSubscriberResult>",
      "asyncReturnType" : "UpdateSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a subscriber.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateSubscriberRequest",
        "variableName" : "updateSubscriberRequest",
        "variableType" : "UpdateSubscriberRequest",
        "documentation" : "<p> Request of UpdateSubscriber </p>",
        "simpleType" : "UpdateSubscriberRequest",
        "variableSetterType" : "UpdateSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSubscriber",
      "operationName" : "UpdateSubscriber",
      "returnType" : {
        "returnType" : "UpdateSubscriberResult",
        "documentation" : "<p> Response of UpdateSubscriber </p>"
      },
      "syncReturnType" : "UpdateSubscriberResult"
    }
  },
  "shapes" : {
    "Budget" : {
      "c2jName" : "Budget",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents the output of the <code>CreateBudget</code> operation. The content consists of the detailed metadata and data file information, and the current status of the <code>budget</code>.</p> <p>The ARN pattern for a budget is: <code>arn:aws:budgetservice::AccountId:budget/budgetName</code> </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BudgetName",
        "c2jShape" : "BudgetName",
        "deprecated" : false,
        "documentation" : "<p>The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.</p>\n@param budgetName The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBudgetName",
        "getterDocumentation" : "/**<p>The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.</p>\n@return The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.*/",
        "getterMethodName" : "getBudgetName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BudgetName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BudgetName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BudgetName",
        "setterDocumentation" : "/**<p>The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.</p>\n@param budgetName The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.*/",
        "setterMethodName" : "setBudgetName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "budgetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.</p>\n@param budgetName The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "budgetName",
          "variableType" : "String",
          "documentation" : "<p>The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BudgetLimit",
        "c2jShape" : "Spend",
        "deprecated" : false,
        "documentation" : "<p>The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.</p>\n@param budgetLimit The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBudgetLimit",
        "getterDocumentation" : "/**<p>The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.</p>\n@return The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.*/",
        "getterMethodName" : "getBudgetLimit",
        "getterModel" : {
          "returnType" : "Spend",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BudgetLimit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BudgetLimit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "BudgetLimit",
        "setterDocumentation" : "/**<p>The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.</p>\n@param budgetLimit The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.*/",
        "setterMethodName" : "setBudgetLimit",
        "setterModel" : {
          "variableDeclarationType" : "Spend",
          "variableName" : "budgetLimit",
          "variableType" : "Spend",
          "documentation" : "",
          "simpleType" : "Spend",
          "variableSetterType" : "Spend"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.</p>\n@param budgetLimit The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Spend",
          "variableName" : "budgetLimit",
          "variableType" : "Spend",
          "documentation" : "<p>The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.</p>",
          "simpleType" : "Spend",
          "variableSetterType" : "Spend"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CostFilters",
        "c2jShape" : "CostFilters",
        "deprecated" : false,
        "documentation" : "<p>The cost filters applied to a budget, such as service or region.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The cost filters applied to a budget, such as service or region.</p>\n@param costFilters The cost filters applied to a budget, such as service or region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCostFilters",
        "getterDocumentation" : "/**<p>The cost filters applied to a budget, such as service or region.</p>\n@return The cost filters applied to a budget, such as service or region.*/",
        "getterMethodName" : "getCostFilters",
        "getterModel" : {
          "returnType" : "java.util.Map<String,java.util.List<String>>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CostFilters",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CostFilters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "DimensionValues",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "java.util.List<String>",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : true,
            "listModel" : {
              "implType" : "java.util.ArrayList",
              "interfaceType" : "java.util.List",
              "listMemberModel" : {
                "c2jName" : "member",
                "c2jShape" : "GenericString",
                "deprecated" : false,
                "documentation" : "",
                "enumType" : null,
                "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                "fluentSetterMethodName" : "withMember",
                "getterDocumentation" : "/**\n@return */",
                "getterMethodName" : "getMember",
                "getterModel" : {
                  "returnType" : "String",
                  "documentation" : null
                },
                "http" : {
                  "additionalMarshallingPath" : null,
                  "additionalUnmarshallingPath" : null,
                  "flattened" : false,
                  "greedy" : false,
                  "header" : false,
                  "isPayload" : false,
                  "isStreaming" : false,
                  "location" : null,
                  "marshallLocation" : "PAYLOAD",
                  "marshallLocationName" : "member",
                  "queryString" : false,
                  "statusCode" : false,
                  "unmarshallLocationName" : "member",
                  "uri" : false
                },
                "idempotencyToken" : false,
                "isBinary" : false,
                "jsonValue" : false,
                "list" : false,
                "listModel" : null,
                "map" : false,
                "mapModel" : null,
                "marshallingTargetClass" : "String",
                "marshallingType" : "STRING",
                "name" : "Member",
                "setterDocumentation" : "/**\n@param member */",
                "setterMethodName" : "setMember",
                "setterModel" : {
                  "variableDeclarationType" : "String",
                  "variableName" : "member",
                  "variableType" : "String",
                  "documentation" : "",
                  "simpleType" : "String",
                  "variableSetterType" : "String"
                },
                "shouldEmitLegacyEnumSetter" : false,
                "simple" : true,
                "unmarshallingType" : null,
                "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                "variable" : {
                  "variableDeclarationType" : "String",
                  "variableName" : "member",
                  "variableType" : "String",
                  "documentation" : "",
                  "simpleType" : "String",
                  "variableSetterType" : "String"
                },
                "xmlNameSpaceUri" : null
              },
              "memberLocationName" : null,
              "memberType" : "String",
              "map" : false,
              "marshallNonAutoConstructedEmptyLists" : false,
              "memberAdditionalMarshallingPath" : null,
              "memberAdditionalUnmarshallingPath" : null,
              "sendEmptyQueryString" : false,
              "simple" : true,
              "simpleType" : "String",
              "templateImplType" : "java.util.ArrayList<String>",
              "templateType" : "java.util.List<String>"
            },
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "List",
            "marshallingType" : "LIST",
            "name" : "Value",
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "variableDeclarationType" : "java.util.List<String>",
              "variableName" : "value",
              "variableType" : "java.util.List<String>",
              "documentation" : "",
              "simpleType" : "List<String>",
              "variableSetterType" : "java.util.Collection<String>"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValue(java.util.Collection)} or {@link #withValue(java.util.Collection)} if you want to override the existing values.</p>\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "java.util.List<String>",
              "variableName" : "value",
              "variableType" : "java.util.List<String>",
              "documentation" : "",
              "simpleType" : "List<String>",
              "variableSetterType" : "java.util.Collection<String>"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "java.util.List<String>",
          "entryType" : "Map.Entry<String, java.util.List<String>>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,java.util.List<String>>",
          "templateType" : "java.util.Map<String,java.util.List<String>>",
          "valueList" : true,
          "valueSimple" : false
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "CostFilters",
        "setterDocumentation" : "/**<p>The cost filters applied to a budget, such as service or region.</p>\n@param costFilters The cost filters applied to a budget, such as service or region.*/",
        "setterMethodName" : "setCostFilters",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Map<String,java.util.List<String>>",
          "variableName" : "costFilters",
          "variableType" : "java.util.Map<String,java.util.List<String>>",
          "documentation" : "",
          "simpleType" : "List<String>>",
          "variableSetterType" : "java.util.Map<String,java.util.List<String>>"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The cost filters applied to a budget, such as service or region.</p>\n@param costFilters The cost filters applied to a budget, such as service or region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Map<String,java.util.List<String>>",
          "variableName" : "costFilters",
          "variableType" : "java.util.Map<String,java.util.List<String>>",
          "documentation" : "<p>The cost filters applied to a budget, such as service or region.</p>",
          "simpleType" : "List<String>>",
          "variableSetterType" : "java.util.Map<String,java.util.List<String>>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CostTypes",
        "c2jShape" : "CostTypes",
        "deprecated" : false,
        "documentation" : "<p>The types of costs included in this budget.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The types of costs included in this budget.</p>\n@param costTypes The types of costs included in this budget.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCostTypes",
        "getterDocumentation" : "/**<p>The types of costs included in this budget.</p>\n@return The types of costs included in this budget.*/",
        "getterMethodName" : "getCostTypes",
        "getterModel" : {
          "returnType" : "CostTypes",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CostTypes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CostTypes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CostTypes",
        "setterDocumentation" : "/**<p>The types of costs included in this budget.</p>\n@param costTypes The types of costs included in this budget.*/",
        "setterMethodName" : "setCostTypes",
        "setterModel" : {
          "variableDeclarationType" : "CostTypes",
          "variableName" : "costTypes",
          "variableType" : "CostTypes",
          "documentation" : "",
          "simpleType" : "CostTypes",
          "variableSetterType" : "CostTypes"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The types of costs included in this budget.</p>\n@param costTypes The types of costs included in this budget.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "CostTypes",
          "variableName" : "costTypes",
          "variableType" : "CostTypes",
          "documentation" : "<p>The types of costs included in this budget.</p>",
          "simpleType" : "CostTypes",
          "variableSetterType" : "CostTypes"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TimeUnit",
        "c2jShape" : "TimeUnit",
        "deprecated" : false,
        "documentation" : "<p>The length of time until a budget resets the actual and forecasted spend.</p>",
        "enumType" : "TimeUnit",
        "fluentSetterDocumentation" : "/**<p>The length of time until a budget resets the actual and forecasted spend.</p>\n@param timeUnit The length of time until a budget resets the actual and forecasted spend.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TimeUnit*/",
        "fluentSetterMethodName" : "withTimeUnit",
        "getterDocumentation" : "/**<p>The length of time until a budget resets the actual and forecasted spend.</p>\n@return The length of time until a budget resets the actual and forecasted spend.\n@see TimeUnit*/",
        "getterMethodName" : "getTimeUnit",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TimeUnit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TimeUnit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TimeUnit",
        "setterDocumentation" : "/**<p>The length of time until a budget resets the actual and forecasted spend.</p>\n@param timeUnit The length of time until a budget resets the actual and forecasted spend.\n@see TimeUnit*/",
        "setterMethodName" : "setTimeUnit",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "timeUnit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The length of time until a budget resets the actual and forecasted spend.</p>\n@param timeUnit The length of time until a budget resets the actual and forecasted spend.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TimeUnit*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "timeUnit",
          "variableType" : "String",
          "documentation" : "<p>The length of time until a budget resets the actual and forecasted spend.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TimePeriod",
        "c2jShape" : "TimePeriod",
        "deprecated" : false,
        "documentation" : "<p>The period of time covered by a budget. Has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. </p> <p>If you created your budget and didn't specify a start date, AWS defaults to the start of your chosen time period (i.e. DAILY, MONTHLY, QUARTERLY, ANNUALLY). For example, if you created your budget on January 24th 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The period of time covered by a budget. Has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. </p> <p>If you created your budget and didn't specify a start date, AWS defaults to the start of your chosen time period (i.e. DAILY, MONTHLY, QUARTERLY, ANNUALLY). For example, if you created your budget on January 24th 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>\n@param timePeriod The period of time covered by a budget. Has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. </p> <p>If you created your budget and didn't specify a start date, AWS defaults to the start of your chosen time period (i.e. DAILY, MONTHLY, QUARTERLY, ANNUALLY). For example, if you created your budget on January 24th 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTimePeriod",
        "getterDocumentation" : "/**<p>The period of time covered by a budget. Has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. </p> <p>If you created your budget and didn't specify a start date, AWS defaults to the start of your chosen time period (i.e. DAILY, MONTHLY, QUARTERLY, ANNUALLY). For example, if you created your budget on January 24th 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>\n@return The period of time covered by a budget. Has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. </p> <p>If you created your budget and didn't specify a start date, AWS defaults to the start of your chosen time period (i.e. DAILY, MONTHLY, QUARTERLY, ANNUALLY). For example, if you created your budget on January 24th 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.*/",
        "getterMethodName" : "getTimePeriod",
        "getterModel" : {
          "returnType" : "TimePeriod",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TimePeriod",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TimePeriod",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TimePeriod",
        "setterDocumentation" : "/**<p>The period of time covered by a budget. Has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. </p> <p>If you created your budget and didn't specify a start date, AWS defaults to the start of your chosen time period (i.e. DAILY, MONTHLY, QUARTERLY, ANNUALLY). For example, if you created your budget on January 24th 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>\n@param timePeriod The period of time covered by a budget. Has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. </p> <p>If you created your budget and didn't specify a start date, AWS defaults to the start of your chosen time period (i.e. DAILY, MONTHLY, QUARTERLY, ANNUALLY). For example, if you created your budget on January 24th 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.*/",
        "setterMethodName" : "setTimePeriod",
        "setterModel" : {
          "variableDeclarationType" : "TimePeriod",
          "variableName" : "timePeriod",
          "variableType" : "TimePeriod",
          "documentation" : "",
          "simpleType" : "TimePeriod",
          "variableSetterType" : "TimePeriod"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The period of time covered by a budget. Has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. </p> <p>If you created your budget and didn't specify a start date, AWS defaults to the start of your chosen time period (i.e. DAILY, MONTHLY, QUARTERLY, ANNUALLY). For example, if you created your budget on January 24th 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>\n@param timePeriod The period of time covered by a budget. Has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. </p> <p>If you created your budget and didn't specify a start date, AWS defaults to the start of your chosen time period (i.e. DAILY, MONTHLY, QUARTERLY, ANNUALLY). For example, if you created your budget on January 24th 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "TimePeriod",
          "variableName" : "timePeriod",
          "variableType" : "TimePeriod",
          "documentation" : "<p>The period of time covered by a budget. Has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. </p> <p>If you created your budget and didn't specify a start date, AWS defaults to the start of your chosen time period (i.e. DAILY, MONTHLY, QUARTERLY, ANNUALLY). For example, if you created your budget on January 24th 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>",
          "simpleType" : "TimePeriod",
          "variableSetterType" : "TimePeriod"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CalculatedSpend",
        "c2jShape" : "CalculatedSpend",
        "deprecated" : false,
        "documentation" : "<p>The actual and forecasted cost or usage being tracked by a budget.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The actual and forecasted cost or usage being tracked by a budget.</p>\n@param calculatedSpend The actual and forecasted cost or usage being tracked by a budget.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCalculatedSpend",
        "getterDocumentation" : "/**<p>The actual and forecasted cost or usage being tracked by a budget.</p>\n@return The actual and forecasted cost or usage being tracked by a budget.*/",
        "getterMethodName" : "getCalculatedSpend",
        "getterModel" : {
          "returnType" : "CalculatedSpend",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CalculatedSpend",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CalculatedSpend",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CalculatedSpend",
        "setterDocumentation" : "/**<p>The actual and forecasted cost or usage being tracked by a budget.</p>\n@param calculatedSpend The actual and forecasted cost or usage being tracked by a budget.*/",
        "setterMethodName" : "setCalculatedSpend",
        "setterModel" : {
          "variableDeclarationType" : "CalculatedSpend",
          "variableName" : "calculatedSpend",
          "variableType" : "CalculatedSpend",
          "documentation" : "",
          "simpleType" : "CalculatedSpend",
          "variableSetterType" : "CalculatedSpend"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The actual and forecasted cost or usage being tracked by a budget.</p>\n@param calculatedSpend The actual and forecasted cost or usage being tracked by a budget.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "CalculatedSpend",
          "variableName" : "calculatedSpend",
          "variableType" : "CalculatedSpend",
          "documentation" : "<p>The actual and forecasted cost or usage being tracked by a budget.</p>",
          "simpleType" : "CalculatedSpend",
          "variableSetterType" : "CalculatedSpend"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BudgetType",
        "c2jShape" : "BudgetType",
        "deprecated" : false,
        "documentation" : "<p>Whether this budget tracks monetary costs, usage, or RI utilization.</p>",
        "enumType" : "BudgetType",
        "fluentSetterDocumentation" : "/**<p>Whether this budget tracks monetary costs, usage, or RI utilization.</p>\n@param budgetType Whether this budget tracks monetary costs, usage, or RI utilization.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BudgetType*/",
        "fluentSetterMethodName" : "withBudgetType",
        "getterDocumentation" : "/**<p>Whether this budget tracks monetary costs, usage, or RI utilization.</p>\n@return Whether this budget tracks monetary costs, usage, or RI utilization.\n@see BudgetType*/",
        "getterMethodName" : "getBudgetType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BudgetType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BudgetType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BudgetType",
        "setterDocumentation" : "/**<p>Whether this budget tracks monetary costs, usage, or RI utilization.</p>\n@param budgetType Whether this budget tracks monetary costs, usage, or RI utilization.\n@see BudgetType*/",
        "setterMethodName" : "setBudgetType",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "budgetType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Whether this budget tracks monetary costs, usage, or RI utilization.</p>\n@param budgetType Whether this budget tracks monetary costs, usage, or RI utilization.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BudgetType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "budgetType",
          "variableType" : "String",
          "documentation" : "<p>Whether this budget tracks monetary costs, usage, or RI utilization.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BudgetLimit" : {
          "c2jName" : "BudgetLimit",
          "c2jShape" : "Spend",
          "deprecated" : false,
          "documentation" : "<p>The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.</p>\n@param budgetLimit The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBudgetLimit",
          "getterDocumentation" : "/**<p>The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.</p>\n@return The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.*/",
          "getterMethodName" : "getBudgetLimit",
          "getterModel" : {
            "returnType" : "Spend",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BudgetLimit",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BudgetLimit",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "BudgetLimit",
          "setterDocumentation" : "/**<p>The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.</p>\n@param budgetLimit The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.*/",
          "setterMethodName" : "setBudgetLimit",
          "setterModel" : {
            "variableDeclarationType" : "Spend",
            "variableName" : "budgetLimit",
            "variableType" : "Spend",
            "documentation" : "",
            "simpleType" : "Spend",
            "variableSetterType" : "Spend"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.</p>\n@param budgetLimit The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Spend",
            "variableName" : "budgetLimit",
            "variableType" : "Spend",
            "documentation" : "<p>The total amount of cost, usage, or RI utilization that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization budgets. RI utilization budgets default to the only valid value for RI utilization budgets, which is <code>100</code>.</p>",
            "simpleType" : "Spend",
            "variableSetterType" : "Spend"
          },
          "xmlNameSpaceUri" : null
        },
        "BudgetName" : {
          "c2jName" : "BudgetName",
          "c2jShape" : "BudgetName",
          "deprecated" : false,
          "documentation" : "<p>The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.</p>\n@param budgetName The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBudgetName",
          "getterDocumentation" : "/**<p>The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.</p>\n@return The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.*/",
          "getterMethodName" : "getBudgetName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BudgetName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BudgetName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BudgetName",
          "setterDocumentation" : "/**<p>The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.</p>\n@param budgetName The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.*/",
          "setterMethodName" : "setBudgetName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "budgetName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.</p>\n@param budgetName The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "budgetName",
            "variableType" : "String",
            "documentation" : "<p>The name of a budget. Unique within accounts. <code>:</code> and <code>\\</code> characters are not allowed in the <code>BudgetName</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "BudgetType" : {
          "c2jName" : "BudgetType",
          "c2jShape" : "BudgetType",
          "deprecated" : false,
          "documentation" : "<p>Whether this budget tracks monetary costs, usage, or RI utilization.</p>",
          "enumType" : "BudgetType",
          "fluentSetterDocumentation" : "/**<p>Whether this budget tracks monetary costs, usage, or RI utilization.</p>\n@param budgetType Whether this budget tracks monetary costs, usage, or RI utilization.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BudgetType*/",
          "fluentSetterMethodName" : "withBudgetType",
          "getterDocumentation" : "/**<p>Whether this budget tracks monetary costs, usage, or RI utilization.</p>\n@return Whether this budget tracks monetary costs, usage, or RI utilization.\n@see BudgetType*/",
          "getterMethodName" : "getBudgetType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BudgetType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BudgetType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BudgetType",
          "setterDocumentation" : "/**<p>Whether this budget tracks monetary costs, usage, or RI utilization.</p>\n@param budgetType Whether this budget tracks monetary costs, usage, or RI utilization.\n@see BudgetType*/",
          "setterMethodName" : "setBudgetType",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "budgetType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Whether this budget tracks monetary costs, usage, or RI utilization.</p>\n@param budgetType Whether this budget tracks monetary costs, usage, or RI utilization.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BudgetType*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "budgetType",
            "variableType" : "String",
            "documentation" : "<p>Whether this budget tracks monetary costs, usage, or RI utilization.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CalculatedSpend" : {
          "c2jName" : "CalculatedSpend",
          "c2jShape" : "CalculatedSpend",
          "deprecated" : false,
          "documentation" : "<p>The actual and forecasted cost or usage being tracked by a budget.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The actual and forecasted cost or usage being tracked by a budget.</p>\n@param calculatedSpend The actual and forecasted cost or usage being tracked by a budget.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCalculatedSpend",
          "getterDocumentation" : "/**<p>The actual and forecasted cost or usage being tracked by a budget.</p>\n@return The actual and forecasted cost or usage being tracked by a budget.*/",
          "getterMethodName" : "getCalculatedSpend",
          "getterModel" : {
            "returnType" : "CalculatedSpend",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CalculatedSpend",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CalculatedSpend",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CalculatedSpend",
          "setterDocumentation" : "/**<p>The actual and forecasted cost or usage being tracked by a budget.</p>\n@param calculatedSpend The actual and forecasted cost or usage being tracked by a budget.*/",
          "setterMethodName" : "setCalculatedSpend",
          "setterModel" : {
            "variableDeclarationType" : "CalculatedSpend",
            "variableName" : "calculatedSpend",
            "variableType" : "CalculatedSpend",
            "documentation" : "",
            "simpleType" : "CalculatedSpend",
            "variableSetterType" : "CalculatedSpend"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The actual and forecasted cost or usage being tracked by a budget.</p>\n@param calculatedSpend The actual and forecasted cost or usage being tracked by a budget.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "CalculatedSpend",
            "variableName" : "calculatedSpend",
            "variableType" : "CalculatedSpend",
            "documentation" : "<p>The actual and forecasted cost or usage being tracked by a budget.</p>",
            "simpleType" : "CalculatedSpend",
            "variableSetterType" : "CalculatedSpend"
          },
          "xmlNameSpaceUri" : null
        },
        "CostFilters" : {
          "c2jName" : "CostFilters",
          "c2jShape" : "CostFilters",
          "deprecated" : false,
          "documentation" : "<p>The cost filters applied to a budget, such as service or region.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The cost filters applied to a budget, such as service or region.</p>\n@param costFilters The cost filters applied to a budget, such as service or region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCostFilters",
          "getterDocumentation" : "/**<p>The cost filters applied to a budget, such as service or region.</p>\n@return The cost filters applied to a budget, such as service or region.*/",
          "getterMethodName" : "getCostFilters",
          "getterModel" : {
            "returnType" : "java.util.Map<String,java.util.List<String>>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CostFilters",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CostFilters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "DimensionValues",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "java.util.List<String>",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : true,
              "listModel" : {
                "implType" : "java.util.ArrayList",
                "interfaceType" : "java.util.List",
                "listMemberModel" : {
                  "c2jName" : "member",
                  "c2jShape" : "GenericString",
                  "deprecated" : false,
                  "documentation" : "",
                  "enumType" : null,
                  "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                  "fluentSetterMethodName" : "withMember",
                  "getterDocumentation" : "/**\n@return */",
                  "getterMethodName" : "getMember",
                  "getterModel" : {
                    "returnType" : "String",
                    "documentation" : null
                  },
                  "http" : {
                    "additionalMarshallingPath" : null,
                    "additionalUnmarshallingPath" : null,
                    "flattened" : false,
                    "greedy" : false,
                    "header" : false,
                    "isPayload" : false,
                    "isStreaming" : false,
                    "location" : null,
                    "marshallLocation" : "PAYLOAD",
                    "marshallLocationName" : "member",
                    "queryString" : false,
                    "statusCode" : false,
                    "unmarshallLocationName" : "member",
                    "uri" : false
                  },
                  "idempotencyToken" : false,
                  "isBinary" : false,
                  "jsonValue" : false,
                  "list" : false,
[...]
