{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Budget" : [ "TimeUnit", "BudgetType" ],
      "Notification" : [ "NotificationType", "ComparisonOperator" ],
      "Subscriber" : [ "SubscriptionType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "Spend" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "injectEnumValues" : null,
        "modify" : [ {
          "Amount" : {
            "emitAsType" : "bigdecimal",
            "emitEnumName" : null,
            "emitPropertyName" : null,
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-10-20",
    "asyncClient" : "AWSBudgetsAsyncClient",
    "asyncClientBuilderClassName" : "AWSBudgetsAsyncClientBuilder",
    "asyncInterface" : "AWSBudgetsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSBudgetsModuleInjector",
    "defaultEndpoint" : "budgets.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "budgets.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The AWS Budgets API enables you to use AWS Budgets to plan your service usage, service costs, and instance reservations. The API reference provides descriptions, syntax, and usage examples for each of the actions and data types for AWS Budgets. </p> <p>Budgets provide you with a way to see the following information:</p> <ul> <li> <p>How close your plan is to your budgeted amount or to the free tier limits</p> </li> <li> <p>Your usage-to-date, including how much you've used of your Reserved Instances (RIs)</p> </li> <li> <p>Your current estimated charges from AWS, and how much your predicted usage will accrue in charges by the end of the month</p> </li> <li> <p>How much of your budget has been used</p> </li> </ul> <p>AWS updates your budget status several times a day. Budgets track your unblended costs, subscriptions, refunds, and RIs. You can create the following types of budgets:</p> <ul> <li> <p> <b>Cost budgets</b> - Plan how much you want to spend on a service.</p> </li> <li> <p> <b>Usage budgets</b> - Plan how much you want to use one or more services.</p> </li> <li> <p> <b>RI utilization budgets</b> - Define a utilization threshold, and receive alerts when your RI usage falls below that threshold. This lets you see if your RIs are unused or under-utilized.</p> </li> <li> <p> <b>RI coverage budgets</b> - Define a coverage threshold, and receive alerts when the number of your instance hours that are covered by RIs fall below that threshold. This lets you see how much of your instance usage is covered by a reservation.</p> </li> </ul> <p>Service Endpoint</p> <p>The AWS Budgets API provides the following endpoint:</p> <ul> <li> <p>https://budgets.amazonaws.com</p> </li> </ul> <p>For information about costs that are associated with the AWS Budgets API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
    "endpointPrefix" : "budgets",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.budgets",
    "packagePath" : "com/amazonaws/services/budgets",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWSBudgets",
    "serviceFullName" : "AWS Budgets",
    "serviceId" : "Budgets",
    "serviceName" : "AWSBudgets",
    "signingName" : "budgets",
    "smokeTestsPackageName" : "com.amazonaws.services.budgets.smoketests",
    "syncClient" : "AWSBudgetsClient",
    "syncClientBuilderClassName" : "AWSBudgetsClientBuilder",
    "syncInterface" : "AWSBudgets",
    "uid" : "budgets-2016-10-20",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBudgetRequest, CreateBudgetResult>",
      "asyncReturnType" : "CreateBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a budget and, if included, notifications and subscribers. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "<p>You've exceeded the notification or subscriber limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBudgetRequest",
        "variableName" : "createBudgetRequest",
        "variableType" : "CreateBudgetRequest",
        "documentation" : "<p> Request of CreateBudget </p>",
        "simpleType" : "CreateBudgetRequest",
        "variableSetterType" : "CreateBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBudget",
      "operationName" : "CreateBudget",
      "returnType" : {
        "returnType" : "CreateBudgetResult",
        "documentation" : "<p> Response of CreateBudget </p>"
      },
      "syncReturnType" : "CreateBudgetResult"
    },
    "CreateNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNotificationRequest, CreateNotificationResult>",
      "asyncReturnType" : "CreateNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a notification. You must create the budget before you create the associated notification.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "<p>You've exceeded the notification or subscriber limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateNotificationRequest",
        "variableName" : "createNotificationRequest",
        "variableType" : "CreateNotificationRequest",
        "documentation" : "<p> Request of CreateNotification </p>",
        "simpleType" : "CreateNotificationRequest",
        "variableSetterType" : "CreateNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNotification",
      "operationName" : "CreateNotification",
      "returnType" : {
        "returnType" : "CreateNotificationResult",
        "documentation" : "<p> Response of CreateNotification </p>"
      },
      "syncReturnType" : "CreateNotificationResult"
    },
    "CreateSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubscriberRequest, CreateSubscriberResult>",
      "asyncReturnType" : "CreateSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a subscriber. You must create the associated budget and notification before you create the subscriber.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "<p>You've exceeded the notification or subscriber limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSubscriberRequest",
        "variableName" : "createSubscriberRequest",
        "variableType" : "CreateSubscriberRequest",
        "documentation" : "<p> Request of CreateSubscriber </p>",
        "simpleType" : "CreateSubscriberRequest",
        "variableSetterType" : "CreateSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubscriber",
      "operationName" : "CreateSubscriber",
      "returnType" : {
        "returnType" : "CreateSubscriberResult",
        "documentation" : "<p> Response of CreateSubscriber </p>"
      },
      "syncReturnType" : "CreateSubscriberResult"
    },
    "DeleteBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBudgetRequest, DeleteBudgetResult>",
      "asyncReturnType" : "DeleteBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a budget. You can delete your budget at any time.</p> <important> <p>Deleting a budget also deletes the notifications and subscribers that are associated with that budget.</p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBudgetRequest",
        "variableName" : "deleteBudgetRequest",
        "variableType" : "DeleteBudgetRequest",
        "documentation" : "<p> Request of DeleteBudget </p>",
        "simpleType" : "DeleteBudgetRequest",
        "variableSetterType" : "DeleteBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBudget",
      "operationName" : "DeleteBudget",
      "returnType" : {
        "returnType" : "DeleteBudgetResult",
        "documentation" : "<p> Response of DeleteBudget </p>"
      },
      "syncReturnType" : "DeleteBudgetResult"
    },
    "DeleteNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNotificationRequest, DeleteNotificationResult>",
      "asyncReturnType" : "DeleteNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a notification.</p> <important> <p>Deleting a notification also deletes the subscribers that are associated with the notification.</p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteNotificationRequest",
        "variableName" : "deleteNotificationRequest",
        "variableType" : "DeleteNotificationRequest",
        "documentation" : "<p> Request of DeleteNotification </p>",
        "simpleType" : "DeleteNotificationRequest",
        "variableSetterType" : "DeleteNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNotification",
      "operationName" : "DeleteNotification",
      "returnType" : {
        "returnType" : "DeleteNotificationResult",
        "documentation" : "<p> Response of DeleteNotification </p>"
      },
      "syncReturnType" : "DeleteNotificationResult"
    },
    "DeleteSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriberRequest, DeleteSubscriberResult>",
      "asyncReturnType" : "DeleteSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a subscriber.</p> <important> <p>Deleting the last subscriber to a notification also deletes the notification.</p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSubscriberRequest",
        "variableName" : "deleteSubscriberRequest",
        "variableType" : "DeleteSubscriberRequest",
        "documentation" : "<p> Request of DeleteSubscriber </p>",
        "simpleType" : "DeleteSubscriberRequest",
        "variableSetterType" : "DeleteSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscriber",
      "operationName" : "DeleteSubscriber",
      "returnType" : {
        "returnType" : "DeleteSubscriberResult",
        "documentation" : "<p> Response of DeleteSubscriber </p>"
      },
      "syncReturnType" : "DeleteSubscriberResult"
    },
    "DescribeBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetRequest, DescribeBudgetResult>",
      "asyncReturnType" : "DescribeBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a budget.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBudgetRequest",
        "variableName" : "describeBudgetRequest",
        "variableType" : "DescribeBudgetRequest",
        "documentation" : "<p> Request of DescribeBudget </p>",
        "simpleType" : "DescribeBudgetRequest",
        "variableSetterType" : "DescribeBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudget",
      "operationName" : "DescribeBudget",
      "returnType" : {
        "returnType" : "DescribeBudgetResult",
        "documentation" : "<p> Response of DescribeBudget </p>"
      },
      "syncReturnType" : "DescribeBudgetResult"
    },
    "DescribeBudgetPerformanceHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetPerformanceHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetPerformanceHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetPerformanceHistoryRequest, DescribeBudgetPerformanceHistoryResult>",
      "asyncReturnType" : "DescribeBudgetPerformanceHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the history for <code>DAILY</code>, <code>MONTHLY</code>, and <code>QUARTERLY</code> budgets. Budget history isn't available for <code>ANNUAL</code> budgets.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "<p>The pagination token expired.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBudgetPerformanceHistoryRequest",
        "variableName" : "describeBudgetPerformanceHistoryRequest",
        "variableType" : "DescribeBudgetPerformanceHistoryRequest",
        "documentation" : "",
        "simpleType" : "DescribeBudgetPerformanceHistoryRequest",
        "variableSetterType" : "DescribeBudgetPerformanceHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudgetPerformanceHistory",
      "operationName" : "DescribeBudgetPerformanceHistory",
      "returnType" : {
        "returnType" : "DescribeBudgetPerformanceHistoryResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBudgetPerformanceHistoryResult"
    },
    "DescribeBudgets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetsRequest, DescribeBudgetsResult>",
      "asyncReturnType" : "DescribeBudgetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the budgets that are associated with an account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "<p>The pagination token expired.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBudgetsRequest",
        "variableName" : "describeBudgetsRequest",
        "variableType" : "DescribeBudgetsRequest",
        "documentation" : "<p> Request of DescribeBudgets </p>",
        "simpleType" : "DescribeBudgetsRequest",
        "variableSetterType" : "DescribeBudgetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudgets",
      "operationName" : "DescribeBudgets",
      "returnType" : {
        "returnType" : "DescribeBudgetsResult",
        "documentation" : "<p> Response of DescribeBudgets </p>"
      },
      "syncReturnType" : "DescribeBudgetsResult"
    },
    "DescribeNotificationsForBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNotificationsForBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNotificationsForBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNotificationsForBudgetRequest, DescribeNotificationsForBudgetResult>",
      "asyncReturnType" : "DescribeNotificationsForBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the notifications that are associated with a budget.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "<p>The pagination token expired.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeNotificationsForBudgetRequest",
        "variableName" : "describeNotificationsForBudgetRequest",
        "variableType" : "DescribeNotificationsForBudgetRequest",
        "documentation" : "<p> Request of DescribeNotificationsForBudget </p>",
        "simpleType" : "DescribeNotificationsForBudgetRequest",
        "variableSetterType" : "DescribeNotificationsForBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNotificationsForBudget",
      "operationName" : "DescribeNotificationsForBudget",
      "returnType" : {
        "returnType" : "DescribeNotificationsForBudgetResult",
        "documentation" : "<p> Response of GetNotificationsForBudget </p>"
      },
      "syncReturnType" : "DescribeNotificationsForBudgetResult"
    },
    "DescribeSubscribersForNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubscribersForNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubscribersForNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubscribersForNotificationRequest, DescribeSubscribersForNotificationResult>",
      "asyncReturnType" : "DescribeSubscribersForNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the subscribers that are associated with a notification.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "<p>The pagination token expired.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSubscribersForNotificationRequest",
        "variableName" : "describeSubscribersForNotificationRequest",
        "variableType" : "DescribeSubscribersForNotificationRequest",
        "documentation" : "<p> Request of DescribeSubscribersForNotification </p>",
        "simpleType" : "DescribeSubscribersForNotificationRequest",
        "variableSetterType" : "DescribeSubscribersForNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSubscribersForNotification",
      "operationName" : "DescribeSubscribersForNotification",
      "returnType" : {
        "returnType" : "DescribeSubscribersForNotificationResult",
        "documentation" : "<p> Response of DescribeSubscribersForNotification </p>"
      },
      "syncReturnType" : "DescribeSubscribersForNotificationResult"
    },
    "UpdateBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBudgetRequest, UpdateBudgetResult>",
      "asyncReturnType" : "UpdateBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a budget. You can change every part of a budget except for the <code>budgetName</code> and the <code>calculatedSpend</code>. When you modify a budget, the <code>calculatedSpend</code> drops to zero until AWS has new usage data to use for forecasting.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBudgetRequest",
        "variableName" : "updateBudgetRequest",
        "variableType" : "UpdateBudgetRequest",
        "documentation" : "<p> Request of UpdateBudget </p>",
        "simpleType" : "UpdateBudgetRequest",
        "variableSetterType" : "UpdateBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBudget",
      "operationName" : "UpdateBudget",
      "returnType" : {
        "returnType" : "UpdateBudgetResult",
        "documentation" : "<p> Response of UpdateBudget </p>"
      },
      "syncReturnType" : "UpdateBudgetResult"
    },
    "UpdateNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateNotificationRequest, UpdateNotificationResult>",
      "asyncReturnType" : "UpdateNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a notification.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateNotificationRequest",
        "variableName" : "updateNotificationRequest",
        "variableType" : "UpdateNotificationRequest",
        "documentation" : "<p> Request of UpdateNotification </p>",
        "simpleType" : "UpdateNotificationRequest",
        "variableSetterType" : "UpdateNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateNotification",
      "operationName" : "UpdateNotification",
      "returnType" : {
        "returnType" : "UpdateNotificationResult",
        "documentation" : "<p> Response of UpdateNotification </p>"
      },
      "syncReturnType" : "UpdateNotificationResult"
    },
    "UpdateSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSubscriberRequest, UpdateSubscriberResult>",
      "asyncReturnType" : "UpdateSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a subscriber.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSubscriberRequest",
        "variableName" : "updateSubscriberRequest",
        "variableType" : "UpdateSubscriberRequest",
        "documentation" : "<p> Request of UpdateSubscriber </p>",
        "simpleType" : "UpdateSubscriberRequest",
        "variableSetterType" : "UpdateSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSubscriber",
      "operationName" : "UpdateSubscriber",
      "returnType" : {
        "returnType" : "UpdateSubscriberResult",
        "documentation" : "<p> Response of UpdateSubscriber </p>"
      },
      "syncReturnType" : "UpdateSubscriberResult"
    }
  },
  "shapes" : {
    "Budget" : {
      "c2jName" : "Budget",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents the output of the <code>CreateBudget</code> operation. The content consists of the detailed metadata and data file information, and the current status of the <code>budget</code> object.</p> <p>This is the ARN pattern for a budget: </p> <p> <code>arn:aws:budgetservice::AccountId:budget/budgetName</code> </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BudgetName",
        "c2jShape" : "BudgetName",
        "deprecated" : false,
        "documentation" : "<p>The name of a budget. The name must be unique within accounts. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of a budget. The name must be unique within accounts. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.</p>\n@param budgetName The name of a budget. The name must be unique within accounts. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBudgetName",
        "getterDocumentation" : "/**<p>The name of a budget. The name must be unique within accounts. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.</p>\n@return The name of a budget. The name must be unique within accounts. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.*/",
        "getterMethodName" : "getBudgetName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BudgetName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BudgetName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BudgetName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of a budget. The name must be unique within accounts. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.</p>\n@param budgetName The name of a budget. The name must be unique within accounts. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.*/",
        "setterMethodName" : "setBudgetName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "budgetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of a budget. The name must be unique within accounts. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.</p>\n@param budgetName The name of a budget. The name must be unique within accounts. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "budgetName",
          "variableType" : "String",
          "documentation" : "<p>The name of a budget. The name must be unique within accounts. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BudgetLimit",
        "c2jShape" : "Spend",
        "deprecated" : false,
        "documentation" : "<p>The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.</p>\n@param budgetLimit The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBudgetLimit",
        "getterDocumentation" : "/**<p>The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.</p>\n@return The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.*/",
        "getterMethodName" : "getBudgetLimit",
        "getterModel" : {
          "returnType" : "Spend",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BudgetLimit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BudgetLimit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "BudgetLimit",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.</p>\n@param budgetLimit The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.*/",
        "setterMethodName" : "setBudgetLimit",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Spend",
          "variableName" : "budgetLimit",
          "variableType" : "Spend",
          "documentation" : "",
          "simpleType" : "Spend",
          "variableSetterType" : "Spend"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.</p>\n@param budgetLimit The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Spend",
          "variableName" : "budgetLimit",
          "variableType" : "Spend",
          "documentation" : "<p>The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.</p>",
          "simpleType" : "Spend",
          "variableSetterType" : "Spend"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CostFilters",
        "c2jShape" : "CostFilters",
        "deprecated" : false,
        "documentation" : "<p>The cost filters, such as service or region, that are applied to a budget.</p> <p>AWS Budgets supports the following services as a filter for RI budgets:</p> <ul> <li> <p>Amazon Elastic Compute Cloud - Compute</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li> </ul>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The cost filters, such as service or region, that are applied to a budget.</p> <p>AWS Budgets supports the following services as a filter for RI budgets:</p> <ul> <li> <p>Amazon Elastic Compute Cloud - Compute</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li> </ul>\n@param costFilters The cost filters, such as service or region, that are applied to a budget.</p> <p>AWS Budgets supports the following services as a filter for RI budgets:</p> <ul> <li> <p>Amazon Elastic Compute Cloud - Compute</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCostFilters",
        "getterDocumentation" : "/**<p>The cost filters, such as service or region, that are applied to a budget.</p> <p>AWS Budgets supports the following services as a filter for RI budgets:</p> <ul> <li> <p>Amazon Elastic Compute Cloud - Compute</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li> </ul>\n@return The cost filters, such as service or region, that are applied to a budget.</p> <p>AWS Budgets supports the following services as a filter for RI budgets:</p> <ul> <li> <p>Amazon Elastic Compute Cloud - Compute</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li>*/",
        "getterMethodName" : "getCostFilters",
        "getterModel" : {
          "returnType" : "java.util.Map<String,java.util.List<String>>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CostFilters",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CostFilters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "DimensionValues",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "java.util.List<String>",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : true,
            "listModel" : {
              "implType" : "java.util.ArrayList",
              "interfaceType" : "java.util.List",
              "listMemberModel" : {
                "c2jName" : "member",
                "c2jShape" : "GenericString",
                "deprecated" : false,
                "documentation" : "",
                "enumType" : null,
                "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                "fluentSetterMethodName" : "withMember",
                "getterDocumentation" : "/**\n@return */",
                "getterMethodName" : "getMember",
                "getterModel" : {
                  "returnType" : "String",
                  "documentation" : null
                },
                "http" : {
                  "additionalMarshallingPath" : null,
                  "additionalUnmarshallingPath" : null,
                  "flattened" : false,
                  "greedy" : false,
                  "header" : false,
                  "isPayload" : false,
                  "isStreaming" : false,
                  "location" : null,
                  "marshallLocation" : "PAYLOAD",
                  "marshallLocationName" : "member",
                  "queryString" : false,
                  "statusCode" : false,
                  "unmarshallLocationName" : "member",
                  "uri" : false
                },
                "idempotencyToken" : false,
                "isBinary" : false,
                "jsonValue" : false,
                "list" : false,
                "listModel" : null,
                "map" : false,
                "mapModel" : null,
                "marshallingTargetClass" : "String",
                "marshallingType" : "STRING",
                "name" : "Member",
                "sensitive" : false,
                "setterDocumentation" : "/**\n@param member */",
                "setterMethodName" : "setMember",
                "setterModel" : {
                  "timestampFormat" : null,
                  "variableDeclarationType" : "String",
                  "variableName" : "member",
                  "variableType" : "String",
                  "documentation" : "",
                  "simpleType" : "String",
                  "variableSetterType" : "String"
                },
                "shouldEmitLegacyEnumSetter" : false,
                "simple" : true,
                "unmarshallingType" : null,
                "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                "variable" : {
                  "timestampFormat" : null,
                  "variableDeclarationType" : "String",
                  "variableName" : "member",
                  "variableType" : "String",
                  "documentation" : "",
                  "simpleType" : "String",
                  "variableSetterType" : "String"
                },
                "xmlNameSpaceUri" : null
              },
              "memberLocationName" : null,
              "memberType" : "String",
              "map" : false,
              "marshallNonAutoConstructedEmptyLists" : false,
              "memberAdditionalMarshallingPath" : null,
              "memberAdditionalUnmarshallingPath" : null,
              "sendEmptyQueryString" : false,
              "simple" : true,
              "simpleType" : "String",
              "templateImplType" : "java.util.ArrayList<String>",
              "templateType" : "java.util.List<String>"
            },
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "List",
            "marshallingType" : "LIST",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "java.util.List<String>",
              "variableName" : "value",
              "variableType" : "java.util.List<String>",
              "documentation" : "",
              "simpleType" : "List<String>",
              "variableSetterType" : "java.util.Collection<String>"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValue(java.util.Collection)} or {@link #withValue(java.util.Collection)} if you want to override the existing values.</p>\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "java.util.List<String>",
              "variableName" : "value",
              "variableType" : "java.util.List<String>",
              "documentation" : "",
              "simpleType" : "List<String>",
              "variableSetterType" : "java.util.Collection<String>"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "java.util.List<String>",
          "entryType" : "Map.Entry<String, java.util.List<String>>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,java.util.List<String>>",
          "templateType" : "java.util.Map<String,java.util.List<String>>",
          "valueList" : true,
          "valueSimple" : false
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "CostFilters",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The cost filters, such as service or region, that are applied to a budget.</p> <p>AWS Budgets supports the following services as a filter for RI budgets:</p> <ul> <li> <p>Amazon Elastic Compute Cloud - Compute</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li> </ul>\n@param costFilters The cost filters, such as service or region, that are applied to a budget.</p> <p>AWS Budgets supports the following services as a filter for RI budgets:</p> <ul> <li> <p>Amazon Elastic Compute Cloud - Compute</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li>*/",
        "setterMethodName" : "setCostFilters",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,java.util.List<String>>",
          "variableName" : "costFilters",
          "variableType" : "java.util.Map<String,java.util.List<String>>",
          "documentation" : "",
          "simpleType" : "List<String>>",
          "variableSetterType" : "java.util.Map<String,java.util.List<String>>"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The cost filters, such as service or region, that are applied to a budget.</p> <p>AWS Budgets supports the following services as a filter for RI budgets:</p> <ul> <li> <p>Amazon Elastic Compute Cloud - Compute</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li> </ul>\n@param costFilters The cost filters, such as service or region, that are applied to a budget.</p> <p>AWS Budgets supports the following services as a filter for RI budgets:</p> <ul> <li> <p>Amazon Elastic Compute Cloud - Compute</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,java.util.List<String>>",
          "variableName" : "costFilters",
          "variableType" : "java.util.Map<String,java.util.List<String>>",
          "documentation" : "<p>The cost filters, such as service or region, that are applied to a budget.</p> <p>AWS Budgets supports the following services as a filter for RI budgets:</p> <ul> <li> <p>Amazon Elastic Compute Cloud - Compute</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li> </ul>",
          "simpleType" : "List<String>>",
          "variableSetterType" : "java.util.Map<String,java.util.List<String>>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CostTypes",
        "c2jShape" : "CostTypes",
        "deprecated" : false,
        "documentation" : "<p>The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.</p>\n@param costTypes The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCostTypes",
        "getterDocumentation" : "/**<p>The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.</p>\n@return The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.*/",
        "getterMethodName" : "getCostTypes",
        "getterModel" : {
          "returnType" : "CostTypes",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CostTypes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CostTypes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CostTypes",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.</p>\n@param costTypes The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.*/",
        "setterMethodName" : "setCostTypes",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CostTypes",
          "variableName" : "costTypes",
          "variableType" : "CostTypes",
          "documentation" : "",
          "simpleType" : "CostTypes",
          "variableSetterType" : "CostTypes"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.</p>\n@param costTypes The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CostTypes",
          "variableName" : "costTypes",
          "variableType" : "CostTypes",
          "documentation" : "<p>The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.</p>",
          "simpleType" : "CostTypes",
          "variableSetterType" : "CostTypes"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TimeUnit",
        "c2jShape" : "TimeUnit",
        "deprecated" : false,
        "documentation" : "<p>The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code> and <code>RI_COVERAGE</code> budgets.</p>",
        "enumType" : "TimeUnit",
        "fluentSetterDocumentation" : "/**<p>The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code> and <code>RI_COVERAGE</code> budgets.</p>\n@param timeUnit The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code> and <code>RI_COVERAGE</code> budgets.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TimeUnit*/",
        "fluentSetterMethodName" : "withTimeUnit",
        "getterDocumentation" : "/**<p>The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code> and <code>RI_COVERAGE</code> budgets.</p>\n@return The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code> and <code>RI_COVERAGE</code> budgets.\n@see TimeUnit*/",
        "getterMethodName" : "getTimeUnit",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TimeUnit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TimeUnit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TimeUnit",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code> and <code>RI_COVERAGE</code> budgets.</p>\n@param timeUnit The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code> and <code>RI_COVERAGE</code> budgets.\n@see TimeUnit*/",
        "setterMethodName" : "setTimeUnit",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "timeUnit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code> and <code>RI_COVERAGE</code> budgets.</p>\n@param timeUnit The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code> and <code>RI_COVERAGE</code> budgets.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TimeUnit*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "timeUnit",
          "variableType" : "String",
          "documentation" : "<p>The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code> and <code>RI_COVERAGE</code> budgets.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TimePeriod",
        "c2jShape" : "TimePeriod",
        "deprecated" : false,
        "documentation" : "<p>The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>\n@param timePeriod The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTimePeriod",
        "getterDocumentation" : "/**<p>The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>\n@return The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.*/",
        "getterMethodName" : "getTimePeriod",
        "getterModel" : {
          "returnType" : "TimePeriod",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TimePeriod",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TimePeriod",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TimePeriod",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>\n@param timePeriod The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.*/",
        "setterMethodName" : "setTimePeriod",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TimePeriod",
          "variableName" : "timePeriod",
          "variableType" : "TimePeriod",
          "documentation" : "",
          "simpleType" : "TimePeriod",
          "variableSetterType" : "TimePeriod"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>\n@param timePeriod The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TimePeriod",
          "variableName" : "timePeriod",
          "variableType" : "TimePeriod",
          "documentation" : "<p>The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>",
          "simpleType" : "TimePeriod",
          "variableSetterType" : "TimePeriod"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CalculatedSpend",
        "c2jShape" : "CalculatedSpend",
        "deprecated" : false,
        "documentation" : "<p>The actual and forecasted cost or usage that the budget tracks.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The actual and forecasted cost or usage that the budget tracks.</p>\n@param calculatedSpend The actual and forecasted cost or usage that the budget tracks.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCalculatedSpend",
        "getterDocumentation" : "/**<p>The actual and forecasted cost or usage that the budget tracks.</p>\n@return The actual and forecasted cost or usage that the budget tracks.*/",
        "getterMethodName" : "getCalculatedSpend",
        "getterModel" : {
          "returnType" : "CalculatedSpend",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CalculatedSpend",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CalculatedSpend",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CalculatedSpend",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The actual and forecasted cost or usage that the budget tracks.</p>\n@param calculatedSpend The actual and forecasted cost or usage that the budget tracks.*/",
        "setterMethodName" : "setCalculatedSpend",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CalculatedSpend",
          "variableName" : "calculatedSpend",
          "variableType" : "CalculatedSpend",
          "documentation" : "",
          "simpleType" : "CalculatedSpend",
          "variableSetterType" : "CalculatedSpend"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The actual and forecasted cost or usage that the budget tracks.</p>\n@param calculatedSpend The actual and forecasted cost or usage that the budget tracks.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CalculatedSpend",
          "variableName" : "calculatedSpend",
          "variableType" : "CalculatedSpend",
          "documentation" : "<p>The actual and forecasted cost or usage that the budget tracks.</p>",
          "simpleType" : "CalculatedSpend",
          "variableSetterType" : "CalculatedSpend"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BudgetType",
        "c2jShape" : "BudgetType",
        "deprecated" : false,
        "documentation" : "<p>Whether this budget tracks monetary costs, usage, RI utilization, or RI coverage.</p>",
        "enumType" : "BudgetType",
        "fluentSetterDocumentation" : "/**<p>Whether this budget tracks monetary costs, usage, RI utilization, or RI coverage.</p>\n@param budgetType Whether this budget tracks monetary costs, usage, RI utilization, or RI coverage.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BudgetType*/",
        "fluentSetterMethodName" : "withBudgetType",
        "getterDocumentation" : "/**<p>Whether this budget tracks monetary costs, usage, RI utilization, or RI coverage.</p>\n@return Whether this budget tracks monetary costs, usage, RI utilization, or RI coverage.\n@see BudgetType*/",
        "getterMethodName" : "getBudgetType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BudgetType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BudgetType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BudgetType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Whether this budget tracks monetary costs, usage, RI utilization, or RI coverage.</p>\n@param budgetType Whether this budget tracks monetary costs, usage, RI utilization, or RI coverage.\n@see BudgetType*/",
        "setterMethodName" : "setBudgetType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "budgetType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Whether this budget tracks monetary costs, usage, RI utilization, or RI coverage.</p>\n@param budgetType Whether this budget tracks monetary costs, usage, RI utilization, or RI coverage.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BudgetType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "budgetType",
          "variableType" : "String",
          "documentation" : "<p>Whether this budget tracks monetary costs, usage, RI utilization, or RI coverage.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastUpdatedTime",
        "c2jShape" : "GenericTimestamp",
        "deprecated" : false,
        "documentation" : "<p>The last time that you updated this budget.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The last time that you updated this budget.</p>\n@param lastUpdatedTime The last time that you updated this budget.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastUpdatedTime",
        "getterDocumentation" : "/**<p>The last time that you updated this budget.</p>\n@return The last time that you updated this budget.*/",
        "getterMethodName" : "getLastUpdatedTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastUpdatedTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastUpdatedTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastUpdatedTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The last time that you updated this budget.</p>\n@param lastUpdatedTime The last time that you updated this budget.*/",
        "setterMethodName" : "setLastUpdatedTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdatedTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The last time that you updated this budget.</p>\n@param lastUpdatedTime The last time that you updated this budget.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdatedTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The last time that you updated this budget.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BudgetLimit" : {
          "c2jName" : "BudgetLimit",
          "c2jShape" : "Spend",
          "deprecated" : false,
          "documentation" : "<p>The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.</p>\n@param budgetLimit The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBudgetLimit",
          "getterDocumentation" : "/**<p>The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.</p>\n@return The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.*/",
          "getterMethodName" : "getBudgetLimit",
          "getterModel" : {
            "returnType" : "Spend",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BudgetLimit",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BudgetLimit",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "BudgetLimit",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.</p>\n@param budgetLimit The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.*/",
          "setterMethodName" : "setBudgetLimit",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Spend",
            "variableName" : "budgetLimit",
            "variableType" : "Spend",
            "documentation" : "",
            "simpleType" : "Spend",
            "variableSetterType" : "Spend"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : false,
          "unmarshallingType" : null,
[...]
