{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Budget" : [ "TimeUnit", "BudgetType" ],
      "Notification" : [ "NotificationType", "ComparisonOperator" ],
      "Subscriber" : [ "SubscriptionType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "Spend" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "modify" : [ {
          "Amount" : {
            "emitAsType" : "bigdecimal",
            "emitEnumName" : null,
            "emitPropertyName" : null,
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-10-20",
    "asyncClient" : "AWSBudgetsAsyncClient",
    "asyncClientBuilderClassName" : "AWSBudgetsAsyncClientBuilder",
    "asyncInterface" : "AWSBudgetsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSBudgetsModuleInjector",
    "defaultEndpoint" : "budgets.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "budgets.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "All public APIs for AWS Budgets",
    "endpointPrefix" : "budgets",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.budgets",
    "packagePath" : "com/amazonaws/services/budgets",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWSBudgets",
    "serviceFullName" : "AWS Budgets",
    "serviceName" : "AWSBudgets",
    "signingName" : "budgets",
    "smokeTestsPackageName" : "com.amazonaws.services.budgets.smoketests",
    "syncClient" : "AWSBudgetsClient",
    "syncClientBuilderClassName" : "AWSBudgetsClientBuilder",
    "syncInterface" : "AWSBudgets",
    "uid" : "budgets-2016-10-20",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBudgetRequest, CreateBudgetResult>",
      "asyncReturnType" : "CreateBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new budget",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "The exception is thrown when customer tries to create a record (e.g. budget), but the number this record already exceeds the limitation.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "The exception is thrown when customer tries to create a record (e.g. budget) that already exists.",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateBudgetRequest",
        "variableName" : "createBudgetRequest",
        "variableType" : "CreateBudgetRequest",
        "documentation" : "Request of CreateBudget",
        "simpleType" : "CreateBudgetRequest",
        "variableSetterType" : "CreateBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBudget",
      "operationName" : "CreateBudget",
      "returnType" : {
        "returnType" : "CreateBudgetResult",
        "documentation" : "Response of CreateBudget"
      },
      "syncReturnType" : "CreateBudgetResult"
    },
    "CreateNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNotificationRequest, CreateNotificationResult>",
      "asyncReturnType" : "CreateNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new Notification with subscribers for a budget",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "This exception is thrown if a requested entity is not found. E.g., if a budget id doesn't exist for an account ID.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "The exception is thrown when customer tries to create a record (e.g. budget), but the number this record already exceeds the limitation.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "The exception is thrown when customer tries to create a record (e.g. budget) that already exists.",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateNotificationRequest",
        "variableName" : "createNotificationRequest",
        "variableType" : "CreateNotificationRequest",
        "documentation" : "Request of CreateNotification",
        "simpleType" : "CreateNotificationRequest",
        "variableSetterType" : "CreateNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNotification",
      "operationName" : "CreateNotification",
      "returnType" : {
        "returnType" : "CreateNotificationResult",
        "documentation" : "Response of CreateNotification"
      },
      "syncReturnType" : "CreateNotificationResult"
    },
    "CreateSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubscriberRequest, CreateSubscriberResult>",
      "asyncReturnType" : "CreateSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new Subscriber for a notification",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "The exception is thrown when customer tries to create a record (e.g. budget), but the number this record already exceeds the limitation.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "The exception is thrown when customer tries to create a record (e.g. budget) that already exists.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "This exception is thrown if a requested entity is not found. E.g., if a budget id doesn't exist for an account ID.",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSubscriberRequest",
        "variableName" : "createSubscriberRequest",
        "variableType" : "CreateSubscriberRequest",
        "documentation" : "Request of CreateSubscriber",
        "simpleType" : "CreateSubscriberRequest",
        "variableSetterType" : "CreateSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubscriber",
      "operationName" : "CreateSubscriber",
      "returnType" : {
        "returnType" : "CreateSubscriberResult",
        "documentation" : "Response of CreateSubscriber"
      },
      "syncReturnType" : "CreateSubscriberResult"
    },
    "DeleteBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBudgetRequest, DeleteBudgetResult>",
      "asyncReturnType" : "DeleteBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Delete a budget and related notifications",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "This exception is thrown if a requested entity is not found. E.g., if a budget id doesn't exist for an account ID.",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteBudgetRequest",
        "variableName" : "deleteBudgetRequest",
        "variableType" : "DeleteBudgetRequest",
        "documentation" : "Request of DeleteBudget",
        "simpleType" : "DeleteBudgetRequest",
        "variableSetterType" : "DeleteBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBudget",
      "operationName" : "DeleteBudget",
      "returnType" : {
        "returnType" : "DeleteBudgetResult",
        "documentation" : "Response of DeleteBudget"
      },
      "syncReturnType" : "DeleteBudgetResult"
    },
    "DeleteNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNotificationRequest, DeleteNotificationResult>",
      "asyncReturnType" : "DeleteNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Delete a notification and related subscribers",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "This exception is thrown if a requested entity is not found. E.g., if a budget id doesn't exist for an account ID.",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteNotificationRequest",
        "variableName" : "deleteNotificationRequest",
        "variableType" : "DeleteNotificationRequest",
        "documentation" : "Request of DeleteNotification",
        "simpleType" : "DeleteNotificationRequest",
        "variableSetterType" : "DeleteNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNotification",
      "operationName" : "DeleteNotification",
      "returnType" : {
        "returnType" : "DeleteNotificationResult",
        "documentation" : "Response of DeleteNotification"
      },
      "syncReturnType" : "DeleteNotificationResult"
    },
    "DeleteSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriberRequest, DeleteSubscriberResult>",
      "asyncReturnType" : "DeleteSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Delete a Subscriber for a notification",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "This exception is thrown if a requested entity is not found. E.g., if a budget id doesn't exist for an account ID.",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSubscriberRequest",
        "variableName" : "deleteSubscriberRequest",
        "variableType" : "DeleteSubscriberRequest",
        "documentation" : "Request of DeleteSubscriber",
        "simpleType" : "DeleteSubscriberRequest",
        "variableSetterType" : "DeleteSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscriber",
      "operationName" : "DeleteSubscriber",
      "returnType" : {
        "returnType" : "DeleteSubscriberResult",
        "documentation" : "Response of DeleteSubscriber"
      },
      "syncReturnType" : "DeleteSubscriberResult"
    },
    "DescribeBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetRequest, DescribeBudgetResult>",
      "asyncReturnType" : "DescribeBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get a single budget",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "This exception is thrown if a requested entity is not found. E.g., if a budget id doesn't exist for an account ID.",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeBudgetRequest",
        "variableName" : "describeBudgetRequest",
        "variableType" : "DescribeBudgetRequest",
        "documentation" : "Request of DescribeBudget",
        "simpleType" : "DescribeBudgetRequest",
        "variableSetterType" : "DescribeBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudget",
      "operationName" : "DescribeBudget",
      "returnType" : {
        "returnType" : "DescribeBudgetResult",
        "documentation" : "Response of DescribeBudget"
      },
      "syncReturnType" : "DescribeBudgetResult"
    },
    "DescribeBudgets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetsRequest, DescribeBudgetsResult>",
      "asyncReturnType" : "DescribeBudgetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get all budgets for an account",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "This exception is thrown if a requested entity is not found. E.g., if a budget id doesn't exist for an account ID.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "This exception is thrown if paging token signature didn't match the token, or the paging token isn't for this request",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "This exception is thrown if the paging token is expired - past its TTL",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeBudgetsRequest",
        "variableName" : "describeBudgetsRequest",
        "variableType" : "DescribeBudgetsRequest",
        "documentation" : "Request of DescribeBudgets",
        "simpleType" : "DescribeBudgetsRequest",
        "variableSetterType" : "DescribeBudgetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudgets",
      "operationName" : "DescribeBudgets",
      "returnType" : {
        "returnType" : "DescribeBudgetsResult",
        "documentation" : "Response of DescribeBudgets"
      },
      "syncReturnType" : "DescribeBudgetsResult"
    },
    "DescribeNotificationsForBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNotificationsForBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNotificationsForBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNotificationsForBudgetRequest, DescribeNotificationsForBudgetResult>",
      "asyncReturnType" : "DescribeNotificationsForBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get notifications of a budget",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "This exception is thrown if a requested entity is not found. E.g., if a budget id doesn't exist for an account ID.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "This exception is thrown if paging token signature didn't match the token, or the paging token isn't for this request",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "This exception is thrown if the paging token is expired - past its TTL",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeNotificationsForBudgetRequest",
        "variableName" : "describeNotificationsForBudgetRequest",
        "variableType" : "DescribeNotificationsForBudgetRequest",
        "documentation" : "Request of DescribeNotificationsForBudget",
        "simpleType" : "DescribeNotificationsForBudgetRequest",
        "variableSetterType" : "DescribeNotificationsForBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNotificationsForBudget",
      "operationName" : "DescribeNotificationsForBudget",
      "returnType" : {
        "returnType" : "DescribeNotificationsForBudgetResult",
        "documentation" : "Response of GetNotificationsForBudget"
      },
      "syncReturnType" : "DescribeNotificationsForBudgetResult"
    },
    "DescribeSubscribersForNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubscribersForNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubscribersForNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubscribersForNotificationRequest, DescribeSubscribersForNotificationResult>",
      "asyncReturnType" : "DescribeSubscribersForNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get subscribers of a notification",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "This exception is thrown if a requested entity is not found. E.g., if a budget id doesn't exist for an account ID.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "This exception is thrown if paging token signature didn't match the token, or the paging token isn't for this request",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "This exception is thrown if the paging token is expired - past its TTL",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSubscribersForNotificationRequest",
        "variableName" : "describeSubscribersForNotificationRequest",
        "variableType" : "DescribeSubscribersForNotificationRequest",
        "documentation" : "Request of DescribeSubscribersForNotification",
        "simpleType" : "DescribeSubscribersForNotificationRequest",
        "variableSetterType" : "DescribeSubscribersForNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSubscribersForNotification",
      "operationName" : "DescribeSubscribersForNotification",
      "returnType" : {
        "returnType" : "DescribeSubscribersForNotificationResult",
        "documentation" : "Response of DescribeSubscribersForNotification"
      },
      "syncReturnType" : "DescribeSubscribersForNotificationResult"
    },
    "UpdateBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBudgetRequest, UpdateBudgetResult>",
      "asyncReturnType" : "UpdateBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Update the information of a budget already created",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "This exception is thrown if a requested entity is not found. E.g., if a budget id doesn't exist for an account ID.",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateBudgetRequest",
        "variableName" : "updateBudgetRequest",
        "variableType" : "UpdateBudgetRequest",
        "documentation" : "Request of UpdateBudget",
        "simpleType" : "UpdateBudgetRequest",
        "variableSetterType" : "UpdateBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBudget",
      "operationName" : "UpdateBudget",
      "returnType" : {
        "returnType" : "UpdateBudgetResult",
        "documentation" : "Response of UpdateBudget"
      },
      "syncReturnType" : "UpdateBudgetResult"
    },
    "UpdateNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateNotificationRequest, UpdateNotificationResult>",
      "asyncReturnType" : "UpdateNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Update the information about a notification already created",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "This exception is thrown if a requested entity is not found. E.g., if a budget id doesn't exist for an account ID.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "The exception is thrown when customer tries to create a record (e.g. budget) that already exists.",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateNotificationRequest",
        "variableName" : "updateNotificationRequest",
        "variableType" : "UpdateNotificationRequest",
        "documentation" : "Request of UpdateNotification",
        "simpleType" : "UpdateNotificationRequest",
        "variableSetterType" : "UpdateNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateNotification",
      "operationName" : "UpdateNotification",
      "returnType" : {
        "returnType" : "UpdateNotificationResult",
        "documentation" : "Response of UpdateNotification"
      },
      "syncReturnType" : "UpdateNotificationResult"
    },
    "UpdateSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSubscriberRequest, UpdateSubscriberResult>",
      "asyncReturnType" : "UpdateSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Update a subscriber",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "This exception is thrown on an unknown internal failure.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "This exception is thrown if any request is given an invalid parameter. E.g., if a required Date field is null.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "This exception is thrown if a requested entity is not found. E.g., if a budget id doesn't exist for an account ID.",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "The exception is thrown when customer tries to create a record (e.g. budget) that already exists.",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateSubscriberRequest",
        "variableName" : "updateSubscriberRequest",
        "variableType" : "UpdateSubscriberRequest",
        "documentation" : "Request of UpdateSubscriber",
        "simpleType" : "UpdateSubscriberRequest",
        "variableSetterType" : "UpdateSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSubscriber",
      "operationName" : "UpdateSubscriber",
      "returnType" : {
        "returnType" : "UpdateSubscriberResult",
        "documentation" : "Response of UpdateSubscriber"
      },
      "syncReturnType" : "UpdateSubscriberResult"
    }
  },
  "shapes" : {
    "Budget" : {
      "c2jName" : "Budget",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "AWS Budget model",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BudgetName",
        "c2jShape" : "BudgetName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param budgetName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBudgetName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getBudgetName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BudgetName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BudgetName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BudgetName",
        "setterDocumentation" : "/**\n@param budgetName */",
        "setterMethodName" : "setBudgetName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "budgetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param budgetName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "budgetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BudgetLimit",
        "c2jShape" : "Spend",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param budgetLimit \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBudgetLimit",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getBudgetLimit",
        "getterModel" : {
          "returnType" : "Spend",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BudgetLimit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BudgetLimit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "BudgetLimit",
        "setterDocumentation" : "/**\n@param budgetLimit */",
        "setterMethodName" : "setBudgetLimit",
        "setterModel" : {
          "variableDeclarationType" : "Spend",
          "variableName" : "budgetLimit",
          "variableType" : "Spend",
          "documentation" : "",
          "simpleType" : "Spend",
          "variableSetterType" : "Spend"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param budgetLimit \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Spend",
          "variableName" : "budgetLimit",
          "variableType" : "Spend",
          "documentation" : "",
          "simpleType" : "Spend",
          "variableSetterType" : "Spend"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CostFilters",
        "c2jShape" : "CostFilters",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param costFilters \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCostFilters",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCostFilters",
        "getterModel" : {
          "returnType" : "java.util.Map<String,java.util.List<String>>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CostFilters",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CostFilters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "DimensionValues",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "java.util.List<String>",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : true,
            "listModel" : {
              "implType" : "java.util.ArrayList",
              "interfaceType" : "java.util.List",
              "listMemberModel" : {
                "c2jName" : "member",
                "c2jShape" : "GenericString",
                "deprecated" : false,
                "documentation" : "",
                "enumType" : null,
                "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                "fluentSetterMethodName" : "withMember",
                "getterDocumentation" : "/**\n@return */",
                "getterMethodName" : "getMember",
                "getterModel" : {
                  "returnType" : "String",
                  "documentation" : null
                },
                "http" : {
                  "additionalMarshallingPath" : null,
                  "additionalUnmarshallingPath" : null,
                  "flattened" : false,
                  "greedy" : false,
                  "header" : false,
                  "isPayload" : false,
                  "isStreaming" : false,
                  "location" : null,
                  "marshallLocation" : "PAYLOAD",
                  "marshallLocationName" : "member",
                  "queryString" : false,
                  "statusCode" : false,
                  "unmarshallLocationName" : "member",
                  "uri" : false
                },
                "idempotencyToken" : false,
                "isBinary" : false,
                "jsonValue" : false,
                "list" : false,
                "listModel" : null,
                "map" : false,
                "mapModel" : null,
                "marshallingTargetClass" : "String",
                "marshallingType" : "STRING",
                "name" : "Member",
                "setterDocumentation" : "/**\n@param member */",
                "setterMethodName" : "setMember",
                "setterModel" : {
                  "variableDeclarationType" : "String",
                  "variableName" : "member",
                  "variableType" : "String",
                  "documentation" : "",
                  "simpleType" : "String",
                  "variableSetterType" : "String"
                },
                "shouldEmitLegacyEnumSetter" : false,
                "simple" : true,
                "unmarshallingType" : null,
                "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                "variable" : {
                  "variableDeclarationType" : "String",
                  "variableName" : "member",
                  "variableType" : "String",
                  "documentation" : "",
                  "simpleType" : "String",
                  "variableSetterType" : "String"
                },
                "xmlNameSpaceUri" : null
              },
              "memberLocationName" : null,
              "memberType" : "String",
              "map" : false,
              "marshallNonAutoConstructedEmptyLists" : false,
              "memberAdditionalMarshallingPath" : null,
              "memberAdditionalUnmarshallingPath" : null,
              "sendEmptyQueryString" : false,
              "simple" : true,
              "simpleType" : "String",
              "templateImplType" : "java.util.ArrayList<String>",
              "templateType" : "java.util.List<String>"
            },
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "List",
            "marshallingType" : "LIST",
            "name" : "Value",
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "variableDeclarationType" : "java.util.List<String>",
              "variableName" : "value",
              "variableType" : "java.util.List<String>",
              "documentation" : "",
              "simpleType" : "List<String>",
              "variableSetterType" : "java.util.Collection<String>"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValue(java.util.Collection)} or {@link #withValue(java.util.Collection)} if you want to override the existing values.</p>\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "java.util.List<String>",
              "variableName" : "value",
              "variableType" : "java.util.List<String>",
              "documentation" : "",
              "simpleType" : "List<String>",
              "variableSetterType" : "java.util.Collection<String>"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "java.util.List<String>",
          "entryType" : "Map.Entry<String, java.util.List<String>>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,java.util.List<String>>",
          "templateType" : "java.util.Map<String,java.util.List<String>>",
          "valueList" : true,
          "valueSimple" : false
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "CostFilters",
        "setterDocumentation" : "/**\n@param costFilters */",
        "setterMethodName" : "setCostFilters",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Map<String,java.util.List<String>>",
          "variableName" : "costFilters",
          "variableType" : "java.util.Map<String,java.util.List<String>>",
          "documentation" : "",
          "simpleType" : "List<String>>",
          "variableSetterType" : "java.util.Map<String,java.util.List<String>>"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param costFilters \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Map<String,java.util.List<String>>",
          "variableName" : "costFilters",
          "variableType" : "java.util.Map<String,java.util.List<String>>",
          "documentation" : "",
          "simpleType" : "List<String>>",
          "variableSetterType" : "java.util.Map<String,java.util.List<String>>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CostTypes",
        "c2jShape" : "CostTypes",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param costTypes \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCostTypes",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCostTypes",
        "getterModel" : {
          "returnType" : "CostTypes",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CostTypes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CostTypes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CostTypes",
        "setterDocumentation" : "/**\n@param costTypes */",
        "setterMethodName" : "setCostTypes",
        "setterModel" : {
          "variableDeclarationType" : "CostTypes",
          "variableName" : "costTypes",
          "variableType" : "CostTypes",
          "documentation" : "",
          "simpleType" : "CostTypes",
          "variableSetterType" : "CostTypes"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param costTypes \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "CostTypes",
          "variableName" : "costTypes",
          "variableType" : "CostTypes",
          "documentation" : "",
          "simpleType" : "CostTypes",
          "variableSetterType" : "CostTypes"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TimeUnit",
        "c2jShape" : "TimeUnit",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "TimeUnit",
        "fluentSetterDocumentation" : "/**\n@param timeUnit \n@return Returns a reference to this object so that method calls can be chained together.\n@see TimeUnit*/",
        "fluentSetterMethodName" : "withTimeUnit",
        "getterDocumentation" : "/**\n@return \n@see TimeUnit*/",
        "getterMethodName" : "getTimeUnit",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TimeUnit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TimeUnit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TimeUnit",
        "setterDocumentation" : "/**\n@param timeUnit \n@see TimeUnit*/",
        "setterMethodName" : "setTimeUnit",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "timeUnit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param timeUnit \n@return Returns a reference to this object so that method calls can be chained together.\n@see TimeUnit*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "timeUnit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TimePeriod",
        "c2jShape" : "TimePeriod",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param timePeriod \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTimePeriod",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getTimePeriod",
        "getterModel" : {
          "returnType" : "TimePeriod",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TimePeriod",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TimePeriod",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TimePeriod",
        "setterDocumentation" : "/**\n@param timePeriod */",
        "setterMethodName" : "setTimePeriod",
        "setterModel" : {
          "variableDeclarationType" : "TimePeriod",
          "variableName" : "timePeriod",
          "variableType" : "TimePeriod",
          "documentation" : "",
          "simpleType" : "TimePeriod",
          "variableSetterType" : "TimePeriod"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param timePeriod \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "TimePeriod",
          "variableName" : "timePeriod",
          "variableType" : "TimePeriod",
          "documentation" : "",
          "simpleType" : "TimePeriod",
          "variableSetterType" : "TimePeriod"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CalculatedSpend",
        "c2jShape" : "CalculatedSpend",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param calculatedSpend \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCalculatedSpend",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCalculatedSpend",
        "getterModel" : {
          "returnType" : "CalculatedSpend",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CalculatedSpend",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CalculatedSpend",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CalculatedSpend",
        "setterDocumentation" : "/**\n@param calculatedSpend */",
        "setterMethodName" : "setCalculatedSpend",
        "setterModel" : {
          "variableDeclarationType" : "CalculatedSpend",
          "variableName" : "calculatedSpend",
          "variableType" : "CalculatedSpend",
          "documentation" : "",
          "simpleType" : "CalculatedSpend",
          "variableSetterType" : "CalculatedSpend"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param calculatedSpend \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "CalculatedSpend",
          "variableName" : "calculatedSpend",
          "variableType" : "CalculatedSpend",
          "documentation" : "",
          "simpleType" : "CalculatedSpend",
          "variableSetterType" : "CalculatedSpend"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BudgetType",
        "c2jShape" : "BudgetType",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "BudgetType",
        "fluentSetterDocumentation" : "/**\n@param budgetType \n@return Returns a reference to this object so that method calls can be chained together.\n@see BudgetType*/",
        "fluentSetterMethodName" : "withBudgetType",
        "getterDocumentation" : "/**\n@return \n@see BudgetType*/",
        "getterMethodName" : "getBudgetType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BudgetType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BudgetType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BudgetType",
        "setterDocumentation" : "/**\n@param budgetType \n@see BudgetType*/",
        "setterMethodName" : "setBudgetType",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "budgetType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param budgetType \n@return Returns a reference to this object so that method calls can be chained together.\n@see BudgetType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "budgetType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BudgetLimit" : {
          "c2jName" : "BudgetLimit",
          "c2jShape" : "Spend",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param budgetLimit \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBudgetLimit",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getBudgetLimit",
          "getterModel" : {
            "returnType" : "Spend",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BudgetLimit",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BudgetLimit",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "BudgetLimit",
          "setterDocumentation" : "/**\n@param budgetLimit */",
          "setterMethodName" : "setBudgetLimit",
          "setterModel" : {
            "variableDeclarationType" : "Spend",
            "variableName" : "budgetLimit",
            "variableType" : "Spend",
            "documentation" : "",
            "simpleType" : "Spend",
            "variableSetterType" : "Spend"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param budgetLimit \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Spend",
            "variableName" : "budgetLimit",
            "variableType" : "Spend",
            "documentation" : "",
            "simpleType" : "Spend",
            "variableSetterType" : "Spend"
          },
          "xmlNameSpaceUri" : null
        },
        "BudgetName" : {
          "c2jName" : "BudgetName",
          "c2jShape" : "BudgetName",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param budgetName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBudgetName",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getBudgetName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BudgetName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BudgetName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BudgetName",
          "setterDocumentation" : "/**\n@param budgetName */",
          "setterMethodName" : "setBudgetName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "budgetName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param budgetName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "budgetName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "BudgetType" : {
          "c2jName" : "BudgetType",
          "c2jShape" : "BudgetType",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : "BudgetType",
          "fluentSetterDocumentation" : "/**\n@param budgetType \n@return Returns a reference to this object so that method calls can be chained together.\n@see BudgetType*/",
          "fluentSetterMethodName" : "withBudgetType",
          "getterDocumentation" : "/**\n@return \n@see BudgetType*/",
          "getterMethodName" : "getBudgetType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BudgetType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BudgetType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BudgetType",
          "setterDocumentation" : "/**\n@param budgetType \n@see BudgetType*/",
          "setterMethodName" : "setBudgetType",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "budgetType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param budgetType \n@return Returns a reference to this object so that method calls can be chained together.\n@see BudgetType*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "budgetType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CalculatedSpend" : {
          "c2jName" : "CalculatedSpend",
          "c2jShape" : "CalculatedSpend",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param calculatedSpend \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCalculatedSpend",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCalculatedSpend",
          "getterModel" : {
            "returnType" : "CalculatedSpend",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CalculatedSpend",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CalculatedSpend",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CalculatedSpend",
          "setterDocumentation" : "/**\n@param calculatedSpend */",
          "setterMethodName" : "setCalculatedSpend",
          "setterModel" : {
            "variableDeclarationType" : "CalculatedSpend",
            "variableName" : "calculatedSpend",
            "variableType" : "CalculatedSpend",
            "documentation" : "",
            "simpleType" : "CalculatedSpend",
            "variableSetterType" : "CalculatedSpend"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param calculatedSpend \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "CalculatedSpend",
            "variableName" : "calculatedSpend",
            "variableType" : "CalculatedSpend",
            "documentation" : "",
            "simpleType" : "CalculatedSpend",
            "variableSetterType" : "CalculatedSpend"
          },
          "xmlNameSpaceUri" : null
        },
        "CostFilters" : {
          "c2jName" : "CostFilters",
          "c2jShape" : "CostFilters",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param costFilters \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCostFilters",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCostFilters",
          "getterModel" : {
            "returnType" : "java.util.Map<String,java.util.List<String>>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CostFilters",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CostFilters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "DimensionValues",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "java.util.List<String>",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : true,
              "listModel" : {
                "implType" : "java.util.ArrayList",
                "interfaceType" : "java.util.List",
                "listMemberModel" : {
                  "c2jName" : "member",
                  "c2jShape" : "GenericString",
                  "deprecated" : false,
                  "documentation" : "",
                  "enumType" : null,
                  "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                  "fluentSetterMethodName" : "withMember",
                  "getterDocumentation" : "/**\n@return */",
                  "getterMethodName" : "getMember",
                  "getterModel" : {
                    "returnType" : "String",
                    "documentation" : null
                  },
                  "http" : {
                    "additionalMarshallingPath" : null,
                    "additionalUnmarshallingPath" : null,
                    "flattened" : false,
                    "greedy" : false,
                    "header" : false,
                    "isPayload" : false,
                    "isStreaming" : false,
                    "location" : null,
                    "marshallLocation" : "PAYLOAD",
                    "marshallLocationName" : "member",
                    "queryString" : false,
                    "statusCode" : false,
                    "unmarshallLocationName" : "member",
                    "uri" : false
                  },
                  "idempotencyToken" : false,
                  "isBinary" : false,
                  "jsonValue" : false,
                  "list" : false,
                  "listModel" : null,
                  "map" : false,
                  "mapModel" : null,
                  "marshallingTargetClass" : "String",
                  "marshallingType" : "STRING",
                  "name" : "Member",
                  "setterDocumentation" : "/**\n@param member */",
                  "setterMethodName" : "setMember",
                  "setterModel" : {
                    "variableDeclarationType" : "String",
                    "variableName" : "member",
                    "variableType" : "String",
                    "documentation" : "",
                    "simpleType" : "String",
                    "variableSetterType" : "String"
                  },
                  "shouldEmitLegacyEnumSetter" : false,
                  "simple" : true,
                  "unmarshallingType" : null,
                  "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                  "variable" : {
                    "variableDeclarationType" : "String",
                    "variableName" : "member",
                    "variableType" : "String",
                    "documentation" : "",
                    "simpleType" : "String",
                    "variableSetterType" : "String"
                  },
                  "xmlNameSpaceUri" : null
                },
                "memberLocationName" : null,
                "memberType" : "String",
                "map" : false,
                "marshallNonAutoConstructedEmptyLists" : false,
                "memberAdditionalMarshallingPath" : null,
                "memberAdditionalUnmarshallingPath" : null,
                "sendEmptyQueryString" : false,
                "simple" : true,
                "simpleType" : "String",
                "templateImplType" : "java.util.ArrayList<String>",
                "templateType" : "java.util.List<String>"
              },
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "List",
              "marshallingType" : "LIST",
              "name" : "Value",
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "variableDeclarationType" : "java.util.List<String>",
                "variableName" : "value",
                "variableType" : "java.util.List<String>",
                "documentation" : "",
                "simpleType" : "List<String>",
                "variableSetterType" : "java.util.Collection<String>"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValue(java.util.Collection)} or {@link #withValue(java.util.Collection)} if you want to override the existing values.</p>\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "java.util.List<String>",
                "variableName" : "value",
                "variableType" : "java.util.List<String>",
                "documentation" : "",
                "simpleType" : "List<String>",
                "variableSetterType" : "java.util.Collection<String>"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "java.util.List<String>",
            "entryType" : "Map.Entry<String, java.util.List<String>>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,java.util.List<String>>",
            "templateType" : "java.util.Map<String,java.util.List<String>>",
            "valueList" : true,
            "valueSimple" : false
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "CostFilters",
          "setterDocumentation" : "/**\n@param costFilters */",
          "setterMethodName" : "setCostFilters",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Map<String,java.util.List<String>>",
            "variableName" : "costFilters",
            "variableType" : "java.util.Map<String,java.util.List<String>>",
            "documentation" : "",
            "simpleType" : "List<String>>",
            "variableSetterType" : "java.util.Map<String,java.util.List<String>>"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param costFilters \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Map<String,java.util.List<String>>",
            "variableName" : "costFilters",
            "variableType" : "java.util.Map<String,java.util.List<String>>",
            "documentation" : "",
            "simpleType" : "List<String>>",
            "variableSetterType" : "java.util.Map<String,java.util.List<String>>"
          },
          "xmlNameSpaceUri" : null
        },
        "CostTypes" : {
          "c2jName" : "CostTypes",
          "c2jShape" : "CostTypes",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param costTypes \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCostTypes",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCostTypes",
          "getterModel" : {
            "returnType" : "CostTypes",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CostTypes",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CostTypes",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CostTypes",
          "setterDocumentation" : "/**\n@param costTypes */",
          "setterMethodName" : "setCostTypes",
          "setterModel" : {
            "variableDeclarationType" : "CostTypes",
            "variableName" : "costTypes",
            "variableType" : "CostTypes",
            "documentation" : "",
            "simpleType" : "CostTypes",
            "variableSetterType" : "CostTypes"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param costTypes \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "CostTypes",
            "variableName" : "costTypes",
            "variableType" : "CostTypes",
            "documentation" : "",
            "simpleType" : "CostTypes",
            "variableSetterType" : "CostTypes"
          },
          "xmlNameSpaceUri" : null
        },
        "TimePeriod" : {
          "c2jName" : "TimePeriod",
          "c2jShape" : "TimePeriod",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param timePeriod \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTimePeriod",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getTimePeriod",
          "getterModel" : {
            "returnType" : "TimePeriod",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TimePeriod",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TimePeriod",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "TimePeriod",
          "setterDocumentation" : "/**\n@param timePeriod */",
          "setterMethodName" : "setTimePeriod",
          "setterModel" : {
            "variableDeclarationType" : "TimePeriod",
            "variableName" : "timePeriod",
            "variableType" : "TimePeriod",
            "documentation" : "",
            "simpleType" : "TimePeriod",
            "variableSetterType" : "TimePeriod"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param timePeriod \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "TimePeriod",
            "variableName" : "timePeriod",
            "variableType" : "TimePeriod",
            "documentation" : "",
            "simpleType" : "TimePeriod",
            "variableSetterType" : "TimePeriod"
          },
          "xmlNameSpaceUri" : null
        },
        "TimeUnit" : {
          "c2jName" : "TimeUnit",
          "c2jShape" : "TimeUnit",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : "TimeUnit",
          "fluentSetterDocumentation" : "/**\n@param timeUnit \n@return Returns a reference to this object so that method calls can be chained together.\n@see TimeUnit*/",
          "fluentSetterMethodName" : "withTimeUnit",
          "getterDocumentation" : "/**\n@return \n@see TimeUnit*/",
          "getterMethodName" : "getTimeUnit",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TimeUnit",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TimeUnit",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TimeUnit",
          "setterDocumentation" : "/**\n@param timeUnit \n@see TimeUnit*/",
          "setterMethodName" : "setTimeUnit",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "timeUnit",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param timeUnit \n@return Returns a reference to this object so that method calls can be chained together.\n@see TimeUnit*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "timeUnit",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "BudgetName", "BudgetLimit", "TimeUnit", "TimePeriod", "BudgetType" ],
      "shapeName" : "Budget",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Budget",
        "variableName" : "budget",
        "variableType" : "Budget",
        "documentation" : null,
        "simpleType" : "Budget",
        "variableSetterType" : "Budget"
      },
      "wrapper" : false
    },
    "BudgetType" : {
      "c2jName" : "BudgetType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "The type of a budget. It should be COST, USAGE, or RI_UTILIZATION.",
      "enums" : [ {
        "name" : "USAGE",
        "value" : "USAGE"
      }, {
        "name" : "COST",
        "value" : "COST"
      }, {
        "name" : "RI_UTILIZATION",
        "value" : "RI_UTILIZATION"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BudgetType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BudgetType",
        "variableName" : "budgetType",
        "variableType" : "BudgetType",
        "documentation" : null,
        "simpleType" : "BudgetType",
        "variableSetterType" : "BudgetType"
      },
      "wrapper" : false
    },
    "CalculatedSpend" : {
      "c2jName" : "CalculatedSpend",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A structure that holds the actual and forecasted spend for a budget.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ActualSpend",
        "c2jShape" : "Spend",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param actualSpend \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withActualSpend",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getActualSpend",
        "getterModel" : {
          "returnType" : "Spend",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ActualSpend",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ActualSpend",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ActualSpend",
        "setterDocumentation" : "/**\n@param actualSpend */",
        "setterMethodName" : "setActualSpend",
        "setterModel" : {
          "variableDeclarationType" : "Spend",
          "variableName" : "actualSpend",
          "variableType" : "Spend",
          "documentation" : "",
          "simpleType" : "Spend",
          "variableSetterType" : "Spend"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param actualSpend \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Spend",
          "variableName" : "actualSpend",
          "variableType" : "Spend",
          "documentation" : "",
          "simpleType" : "Spend",
          "variableSetterType" : "Spend"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ForecastedSpend",
        "c2jShape" : "Spend",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param forecastedSpend \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withForecastedSpend",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getForecastedSpend",
        "getterModel" : {
          "returnType" : "Spend",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ForecastedSpend",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ForecastedSpend",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ForecastedSpend",
        "setterDocumentation" : "/**\n@param forecastedSpend */",
        "setterMethodName" : "setForecastedSpend",
        "setterModel" : {
          "variableDeclarationType" : "Spend",
          "variableName" : "forecastedSpend",
          "variableType" : "Spend",
          "documentation" : "",
          "simpleType" : "Spend",
          "variableSetterType" : "Spend"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param forecastedSpend \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Spend",
          "variableName" : "forecastedSpend",
          "variableType" : "Spend",
          "documentation" : "",
          "simpleType" : "Spend",
          "variableSetterType" : "Spend"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ActualSpend" : {
          "c2jName" : "ActualSpend",
          "c2jShape" : "Spend",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param actualSpend \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withActualSpend",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getActualSpend",
          "getterModel" : {
            "returnType" : "Spend",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ActualSpend",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ActualSpend",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ActualSpend",
          "setterDocumentation" : "/**\n@param actualSpend */",
          "setterMethodName" : "setActualSpend",
          "setterModel" : {
            "variableDeclarationType" : "Spend",
            "variableName" : "actualSpend",
            "variableType" : "Spend",
            "documentation" : "",
            "simpleType" : "Spend",
            "variableSetterType" : "Spend"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param actualSpend \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Spend",
            "variableName" : "actualSpend",
            "variableType" : "Spend",
            "documentation" : "",
            "simpleType" : "Spend",
            "variableSetterType" : "Spend"
          },
          "xmlNameSpaceUri" : null
        },
        "ForecastedSpend" : {
          "c2jName" : "ForecastedSpend",
          "c2jShape" : "Spend",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param forecastedSpend \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withForecastedSpend",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getForecastedSpend",
          "getterModel" : {
            "returnType" : "Spend",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ForecastedSpend",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ForecastedSpend",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ForecastedSpend",
          "setterDocumentation" : "/**\n@param forecastedSpend */",
          "setterMethodName" : "setForecastedSpend",
          "setterModel" : {
            "variableDeclarationType" : "Spend",
            "variableName" : "forecastedSpend",
            "variableType" : "Spend",
            "documentation" : "",
            "simpleType" : "Spend",
            "variableSetterType" : "Spend"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param forecastedSpend \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Spend",
            "variableName" : "forecastedSpend",
            "variableType" : "Spend",
            "documentation" : "",
            "simpleType" : "Spend",
            "variableSetterType" : "Spend"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ActualSpend" ],
      "shapeName" : "CalculatedSpend",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CalculatedSpend",
        "variableName" : "calculatedSpend",
        "variableType" : "CalculatedSpend",
        "documentation" : null,
        "simpleType" : "CalculatedSpend",
[...]
