{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Budget" : [ "TimeUnit", "BudgetType" ],
      "Notification" : [ "NotificationType", "ComparisonOperator" ],
      "Subscriber" : [ "SubscriptionType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "Spend" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "injectEnumValues" : null,
        "modify" : [ {
          "Amount" : {
            "emitAsType" : "bigdecimal",
            "emitEnumName" : null,
            "emitPropertyName" : null,
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-10-20",
    "asyncClient" : "AWSBudgetsAsyncClient",
    "asyncClientBuilderClassName" : "AWSBudgetsAsyncClientBuilder",
    "asyncInterface" : "AWSBudgetsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSBudgetsModuleInjector",
    "defaultEndpoint" : "budgets.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "budgets.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The AWS Budgets API enables you to use AWS Budgets to plan your service usage, service costs, and instance reservations. The API reference provides descriptions, syntax, and usage examples for each of the actions and data types for AWS Budgets. </p> <p>Budgets provide you with a way to see the following information:</p> <ul> <li> <p>How close your plan is to your budgeted amount or to the free tier limits</p> </li> <li> <p>Your usage-to-date, including how much you've used of your Reserved Instances (RIs)</p> </li> <li> <p>Your current estimated charges from AWS, and how much your predicted usage will accrue in charges by the end of the month</p> </li> <li> <p>How much of your budget has been used</p> </li> </ul> <p>AWS updates your budget status several times a day. Budgets track your unblended costs, subscriptions, refunds, and RIs. You can create the following types of budgets:</p> <ul> <li> <p> <b>Cost budgets</b> - Plan how much you want to spend on a service.</p> </li> <li> <p> <b>Usage budgets</b> - Plan how much you want to use one or more services.</p> </li> <li> <p> <b>RI utilization budgets</b> - Define a utilization threshold, and receive alerts when your RI usage falls below that threshold. This lets you see if your RIs are unused or under-utilized.</p> </li> <li> <p> <b>RI coverage budgets</b> - Define a coverage threshold, and receive alerts when the number of your instance hours that are covered by RIs fall below that threshold. This lets you see how much of your instance usage is covered by a reservation.</p> </li> </ul> <p>Service Endpoint</p> <p>The AWS Budgets API provides the following endpoint:</p> <ul> <li> <p>https://budgets.amazonaws.com</p> </li> </ul> <p>For information about costs that are associated with the AWS Budgets API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
    "endpointPrefix" : "budgets",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.budgets",
    "packagePath" : "com/amazonaws/services/budgets",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWSBudgets",
    "serviceFullName" : "AWS Budgets",
    "serviceId" : "Budgets",
    "serviceName" : "AWSBudgets",
    "signingName" : "budgets",
    "smokeTestsPackageName" : "com.amazonaws.services.budgets.smoketests",
    "syncClient" : "AWSBudgetsClient",
    "syncClientBuilderClassName" : "AWSBudgetsClientBuilder",
    "syncInterface" : "AWSBudgets",
    "uid" : "budgets-2016-10-20",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBudgetRequest, CreateBudgetResult>",
      "asyncReturnType" : "CreateBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a budget and, if included, notifications and subscribers. </p> <important> <p>Only one of <code>BudgetLimit</code> or <code>PlannedBudgetLimits</code> can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_CreateBudget.html#API_CreateBudget_Examples\">Examples</a> section. </p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "<p>You've exceeded the notification or subscriber limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBudgetRequest",
        "variableName" : "createBudgetRequest",
        "variableType" : "CreateBudgetRequest",
        "documentation" : "<p> Request of CreateBudget </p>",
        "simpleType" : "CreateBudgetRequest",
        "variableSetterType" : "CreateBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBudget",
      "operationName" : "CreateBudget",
      "returnType" : {
        "returnType" : "CreateBudgetResult",
        "documentation" : "<p> Response of CreateBudget </p>"
      },
      "syncReturnType" : "CreateBudgetResult"
    },
    "CreateBudgetAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBudgetActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBudgetActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBudgetActionRequest, CreateBudgetActionResult>",
      "asyncReturnType" : "CreateBudgetActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a budget action. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "<p>You've exceeded the notification or subscriber limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBudgetActionRequest",
        "variableName" : "createBudgetActionRequest",
        "variableType" : "CreateBudgetActionRequest",
        "documentation" : "",
        "simpleType" : "CreateBudgetActionRequest",
        "variableSetterType" : "CreateBudgetActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBudgetAction",
      "operationName" : "CreateBudgetAction",
      "returnType" : {
        "returnType" : "CreateBudgetActionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBudgetActionResult"
    },
    "CreateNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNotificationRequest, CreateNotificationResult>",
      "asyncReturnType" : "CreateNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a notification. You must create the budget before you create the associated notification.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "<p>You've exceeded the notification or subscriber limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateNotificationRequest",
        "variableName" : "createNotificationRequest",
        "variableType" : "CreateNotificationRequest",
        "documentation" : "<p> Request of CreateNotification </p>",
        "simpleType" : "CreateNotificationRequest",
        "variableSetterType" : "CreateNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNotification",
      "operationName" : "CreateNotification",
      "returnType" : {
        "returnType" : "CreateNotificationResult",
        "documentation" : "<p> Response of CreateNotification </p>"
      },
      "syncReturnType" : "CreateNotificationResult"
    },
    "CreateSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubscriberRequest, CreateSubscriberResult>",
      "asyncReturnType" : "CreateSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a subscriber. You must create the associated budget and notification before you create the subscriber.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CreationLimitExceededException",
        "documentation" : "<p>You've exceeded the notification or subscriber limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSubscriberRequest",
        "variableName" : "createSubscriberRequest",
        "variableType" : "CreateSubscriberRequest",
        "documentation" : "<p> Request of CreateSubscriber </p>",
        "simpleType" : "CreateSubscriberRequest",
        "variableSetterType" : "CreateSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubscriber",
      "operationName" : "CreateSubscriber",
      "returnType" : {
        "returnType" : "CreateSubscriberResult",
        "documentation" : "<p> Response of CreateSubscriber </p>"
      },
      "syncReturnType" : "CreateSubscriberResult"
    },
    "DeleteBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBudgetRequest, DeleteBudgetResult>",
      "asyncReturnType" : "DeleteBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a budget. You can delete your budget at any time.</p> <important> <p>Deleting a budget also deletes the notifications and subscribers that are associated with that budget.</p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBudgetRequest",
        "variableName" : "deleteBudgetRequest",
        "variableType" : "DeleteBudgetRequest",
        "documentation" : "<p> Request of DeleteBudget </p>",
        "simpleType" : "DeleteBudgetRequest",
        "variableSetterType" : "DeleteBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBudget",
      "operationName" : "DeleteBudget",
      "returnType" : {
        "returnType" : "DeleteBudgetResult",
        "documentation" : "<p> Response of DeleteBudget </p>"
      },
      "syncReturnType" : "DeleteBudgetResult"
    },
    "DeleteBudgetAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBudgetActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBudgetActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBudgetActionRequest, DeleteBudgetActionResult>",
      "asyncReturnType" : "DeleteBudgetActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a budget action. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLockedException",
        "documentation" : "<p> The request was received and recognized by the server, but the server rejected that particular method for the requested resource. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBudgetActionRequest",
        "variableName" : "deleteBudgetActionRequest",
        "variableType" : "DeleteBudgetActionRequest",
        "documentation" : "",
        "simpleType" : "DeleteBudgetActionRequest",
        "variableSetterType" : "DeleteBudgetActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBudgetAction",
      "operationName" : "DeleteBudgetAction",
      "returnType" : {
        "returnType" : "DeleteBudgetActionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBudgetActionResult"
    },
    "DeleteNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNotificationRequest, DeleteNotificationResult>",
      "asyncReturnType" : "DeleteNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a notification.</p> <important> <p>Deleting a notification also deletes the subscribers that are associated with the notification.</p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteNotificationRequest",
        "variableName" : "deleteNotificationRequest",
        "variableType" : "DeleteNotificationRequest",
        "documentation" : "<p> Request of DeleteNotification </p>",
        "simpleType" : "DeleteNotificationRequest",
        "variableSetterType" : "DeleteNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNotification",
      "operationName" : "DeleteNotification",
      "returnType" : {
        "returnType" : "DeleteNotificationResult",
        "documentation" : "<p> Response of DeleteNotification </p>"
      },
      "syncReturnType" : "DeleteNotificationResult"
    },
    "DeleteSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriberRequest, DeleteSubscriberResult>",
      "asyncReturnType" : "DeleteSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a subscriber.</p> <important> <p>Deleting the last subscriber to a notification also deletes the notification.</p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSubscriberRequest",
        "variableName" : "deleteSubscriberRequest",
        "variableType" : "DeleteSubscriberRequest",
        "documentation" : "<p> Request of DeleteSubscriber </p>",
        "simpleType" : "DeleteSubscriberRequest",
        "variableSetterType" : "DeleteSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscriber",
      "operationName" : "DeleteSubscriber",
      "returnType" : {
        "returnType" : "DeleteSubscriberResult",
        "documentation" : "<p> Response of DeleteSubscriber </p>"
      },
      "syncReturnType" : "DeleteSubscriberResult"
    },
    "DescribeBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetRequest, DescribeBudgetResult>",
      "asyncReturnType" : "DescribeBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a budget.</p> <important> <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudget.html#API_DescribeBudget_Examples\">Examples</a> section. </p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBudgetRequest",
        "variableName" : "describeBudgetRequest",
        "variableType" : "DescribeBudgetRequest",
        "documentation" : "<p> Request of DescribeBudget </p>",
        "simpleType" : "DescribeBudgetRequest",
        "variableSetterType" : "DescribeBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudget",
      "operationName" : "DescribeBudget",
      "returnType" : {
        "returnType" : "DescribeBudgetResult",
        "documentation" : "<p> Response of DescribeBudget </p>"
      },
      "syncReturnType" : "DescribeBudgetResult"
    },
    "DescribeBudgetAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetActionRequest, DescribeBudgetActionResult>",
      "asyncReturnType" : "DescribeBudgetActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes a budget action detail. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBudgetActionRequest",
        "variableName" : "describeBudgetActionRequest",
        "variableType" : "DescribeBudgetActionRequest",
        "documentation" : "",
        "simpleType" : "DescribeBudgetActionRequest",
        "variableSetterType" : "DescribeBudgetActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudgetAction",
      "operationName" : "DescribeBudgetAction",
      "returnType" : {
        "returnType" : "DescribeBudgetActionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBudgetActionResult"
    },
    "DescribeBudgetActionHistories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetActionHistoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetActionHistoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetActionHistoriesRequest, DescribeBudgetActionHistoriesResult>",
      "asyncReturnType" : "DescribeBudgetActionHistoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes a budget action history detail. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBudgetActionHistoriesRequest",
        "variableName" : "describeBudgetActionHistoriesRequest",
        "variableType" : "DescribeBudgetActionHistoriesRequest",
        "documentation" : "",
        "simpleType" : "DescribeBudgetActionHistoriesRequest",
        "variableSetterType" : "DescribeBudgetActionHistoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudgetActionHistories",
      "operationName" : "DescribeBudgetActionHistories",
      "returnType" : {
        "returnType" : "DescribeBudgetActionHistoriesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBudgetActionHistoriesResult"
    },
    "DescribeBudgetActionsForAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetActionsForAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetActionsForAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetActionsForAccountRequest, DescribeBudgetActionsForAccountResult>",
      "asyncReturnType" : "DescribeBudgetActionsForAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes all of the budget actions for an account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBudgetActionsForAccountRequest",
        "variableName" : "describeBudgetActionsForAccountRequest",
        "variableType" : "DescribeBudgetActionsForAccountRequest",
        "documentation" : "",
        "simpleType" : "DescribeBudgetActionsForAccountRequest",
        "variableSetterType" : "DescribeBudgetActionsForAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudgetActionsForAccount",
      "operationName" : "DescribeBudgetActionsForAccount",
      "returnType" : {
        "returnType" : "DescribeBudgetActionsForAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBudgetActionsForAccountResult"
    },
    "DescribeBudgetActionsForBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetActionsForBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetActionsForBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetActionsForBudgetRequest, DescribeBudgetActionsForBudgetResult>",
      "asyncReturnType" : "DescribeBudgetActionsForBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes all of the budget actions for a budget. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBudgetActionsForBudgetRequest",
        "variableName" : "describeBudgetActionsForBudgetRequest",
        "variableType" : "DescribeBudgetActionsForBudgetRequest",
        "documentation" : "",
        "simpleType" : "DescribeBudgetActionsForBudgetRequest",
        "variableSetterType" : "DescribeBudgetActionsForBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudgetActionsForBudget",
      "operationName" : "DescribeBudgetActionsForBudget",
      "returnType" : {
        "returnType" : "DescribeBudgetActionsForBudgetResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBudgetActionsForBudgetResult"
    },
    "DescribeBudgetPerformanceHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetPerformanceHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetPerformanceHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetPerformanceHistoryRequest, DescribeBudgetPerformanceHistoryResult>",
      "asyncReturnType" : "DescribeBudgetPerformanceHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the history for <code>DAILY</code>, <code>MONTHLY</code>, and <code>QUARTERLY</code> budgets. Budget history isn't available for <code>ANNUAL</code> budgets.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "<p>The pagination token expired.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBudgetPerformanceHistoryRequest",
        "variableName" : "describeBudgetPerformanceHistoryRequest",
        "variableType" : "DescribeBudgetPerformanceHistoryRequest",
        "documentation" : "",
        "simpleType" : "DescribeBudgetPerformanceHistoryRequest",
        "variableSetterType" : "DescribeBudgetPerformanceHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudgetPerformanceHistory",
      "operationName" : "DescribeBudgetPerformanceHistory",
      "returnType" : {
        "returnType" : "DescribeBudgetPerformanceHistoryResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBudgetPerformanceHistoryResult"
    },
    "DescribeBudgets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBudgetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBudgetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBudgetsRequest, DescribeBudgetsResult>",
      "asyncReturnType" : "DescribeBudgetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the budgets that are associated with an account.</p> <important> <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudgets.html#API_DescribeBudgets_Examples\">Examples</a> section. </p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "<p>The pagination token expired.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBudgetsRequest",
        "variableName" : "describeBudgetsRequest",
        "variableType" : "DescribeBudgetsRequest",
        "documentation" : "<p> Request of DescribeBudgets </p>",
        "simpleType" : "DescribeBudgetsRequest",
        "variableSetterType" : "DescribeBudgetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBudgets",
      "operationName" : "DescribeBudgets",
      "returnType" : {
        "returnType" : "DescribeBudgetsResult",
        "documentation" : "<p> Response of DescribeBudgets </p>"
      },
      "syncReturnType" : "DescribeBudgetsResult"
    },
    "DescribeNotificationsForBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNotificationsForBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNotificationsForBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNotificationsForBudgetRequest, DescribeNotificationsForBudgetResult>",
      "asyncReturnType" : "DescribeNotificationsForBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the notifications that are associated with a budget.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "<p>The pagination token expired.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeNotificationsForBudgetRequest",
        "variableName" : "describeNotificationsForBudgetRequest",
        "variableType" : "DescribeNotificationsForBudgetRequest",
        "documentation" : "<p> Request of DescribeNotificationsForBudget </p>",
        "simpleType" : "DescribeNotificationsForBudgetRequest",
        "variableSetterType" : "DescribeNotificationsForBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNotificationsForBudget",
      "operationName" : "DescribeNotificationsForBudget",
      "returnType" : {
        "returnType" : "DescribeNotificationsForBudgetResult",
        "documentation" : "<p> Response of GetNotificationsForBudget </p>"
      },
      "syncReturnType" : "DescribeNotificationsForBudgetResult"
    },
    "DescribeSubscribersForNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubscribersForNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubscribersForNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubscribersForNotificationRequest, DescribeSubscribersForNotificationResult>",
      "asyncReturnType" : "DescribeSubscribersForNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the subscribers that are associated with a notification.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredNextTokenException",
        "documentation" : "<p>The pagination token expired.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSubscribersForNotificationRequest",
        "variableName" : "describeSubscribersForNotificationRequest",
        "variableType" : "DescribeSubscribersForNotificationRequest",
        "documentation" : "<p> Request of DescribeSubscribersForNotification </p>",
        "simpleType" : "DescribeSubscribersForNotificationRequest",
        "variableSetterType" : "DescribeSubscribersForNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSubscribersForNotification",
      "operationName" : "DescribeSubscribersForNotification",
      "returnType" : {
        "returnType" : "DescribeSubscribersForNotificationResult",
        "documentation" : "<p> Response of DescribeSubscribersForNotification </p>"
      },
      "syncReturnType" : "DescribeSubscribersForNotificationResult"
    },
    "ExecuteBudgetAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExecuteBudgetActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExecuteBudgetActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecuteBudgetActionRequest, ExecuteBudgetActionResult>",
      "asyncReturnType" : "ExecuteBudgetActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Executes a budget action. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLockedException",
        "documentation" : "<p> The request was received and recognized by the server, but the server rejected that particular method for the requested resource. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExecuteBudgetActionRequest",
        "variableName" : "executeBudgetActionRequest",
        "variableType" : "ExecuteBudgetActionRequest",
        "documentation" : "",
        "simpleType" : "ExecuteBudgetActionRequest",
        "variableSetterType" : "ExecuteBudgetActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "executeBudgetAction",
      "operationName" : "ExecuteBudgetAction",
      "returnType" : {
        "returnType" : "ExecuteBudgetActionResult",
        "documentation" : null
      },
      "syncReturnType" : "ExecuteBudgetActionResult"
    },
    "UpdateBudget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBudgetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBudgetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBudgetRequest, UpdateBudgetResult>",
      "asyncReturnType" : "UpdateBudgetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a budget. You can change every part of a budget except for the <code>budgetName</code> and the <code>calculatedSpend</code>. When you modify a budget, the <code>calculatedSpend</code> drops to zero until AWS has new usage data to use for forecasting.</p> <important> <p>Only one of <code>BudgetLimit</code> or <code>PlannedBudgetLimits</code> can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_UpdateBudget.html#API_UpdateBudget_Examples\">Examples</a> section. </p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBudgetRequest",
        "variableName" : "updateBudgetRequest",
        "variableType" : "UpdateBudgetRequest",
        "documentation" : "<p> Request of UpdateBudget </p>",
        "simpleType" : "UpdateBudgetRequest",
        "variableSetterType" : "UpdateBudgetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBudget",
      "operationName" : "UpdateBudget",
      "returnType" : {
        "returnType" : "UpdateBudgetResult",
        "documentation" : "<p> Response of UpdateBudget </p>"
      },
      "syncReturnType" : "UpdateBudgetResult"
    },
    "UpdateBudgetAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBudgetActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBudgetActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBudgetActionRequest, UpdateBudgetActionResult>",
      "asyncReturnType" : "UpdateBudgetActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates a budget action. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLockedException",
        "documentation" : "<p> The request was received and recognized by the server, but the server rejected that particular method for the requested resource. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBudgetActionRequest",
        "variableName" : "updateBudgetActionRequest",
        "variableType" : "UpdateBudgetActionRequest",
        "documentation" : "",
        "simpleType" : "UpdateBudgetActionRequest",
        "variableSetterType" : "UpdateBudgetActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBudgetAction",
      "operationName" : "UpdateBudgetAction",
      "returnType" : {
        "returnType" : "UpdateBudgetActionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateBudgetActionResult"
    },
    "UpdateNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateNotificationRequest, UpdateNotificationResult>",
      "asyncReturnType" : "UpdateNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a notification.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateNotificationRequest",
        "variableName" : "updateNotificationRequest",
        "variableType" : "UpdateNotificationRequest",
        "documentation" : "<p> Request of UpdateNotification </p>",
        "simpleType" : "UpdateNotificationRequest",
        "variableSetterType" : "UpdateNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateNotification",
      "operationName" : "UpdateNotification",
      "returnType" : {
        "returnType" : "UpdateNotificationResult",
        "documentation" : "<p> Response of UpdateNotification </p>"
      },
      "syncReturnType" : "UpdateNotificationResult"
    },
    "UpdateSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSubscriberRequest, UpdateSubscriberResult>",
      "asyncReturnType" : "UpdateSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a subscriber.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can’t locate the resource that you specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRecordException",
        "documentation" : "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSubscriberRequest",
        "variableName" : "updateSubscriberRequest",
        "variableType" : "UpdateSubscriberRequest",
        "documentation" : "<p> Request of UpdateSubscriber </p>",
        "simpleType" : "UpdateSubscriberRequest",
        "variableSetterType" : "UpdateSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSubscriber",
      "operationName" : "UpdateSubscriber",
      "returnType" : {
        "returnType" : "UpdateSubscriberResult",
        "documentation" : "<p> Response of UpdateSubscriber </p>"
      },
      "syncReturnType" : "UpdateSubscriberResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.budgets.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.budgets.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Action" : {
      "c2jName" : "Action",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> A budget action resource. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.budgets.model.Action",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ActionId",
        "c2jShape" : "ActionId",
        "deprecated" : false,
        "documentation" : "<p> A system-generated universally unique identifier (UUID) for the action. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> A system-generated universally unique identifier (UUID) for the action. </p>\n@param actionId A system-generated universally unique identifier (UUID) for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withActionId",
        "getterDocumentation" : "/**<p> A system-generated universally unique identifier (UUID) for the action. </p>\n@return A system-generated universally unique identifier (UUID) for the action.*/",
        "getterMethodName" : "getActionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ActionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ActionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ActionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> A system-generated universally unique identifier (UUID) for the action. </p>\n@param actionId A system-generated universally unique identifier (UUID) for the action.*/",
        "setterMethodName" : "setActionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "actionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> A system-generated universally unique identifier (UUID) for the action. </p>\n@param actionId A system-generated universally unique identifier (UUID) for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "actionId",
          "variableType" : "String",
          "documentation" : "<p> A system-generated universally unique identifier (UUID) for the action. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BudgetName",
        "c2jShape" : "BudgetName",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param budgetName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBudgetName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getBudgetName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BudgetName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BudgetName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BudgetName",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param budgetName */",
        "setterMethodName" : "setBudgetName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "budgetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param budgetName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "budgetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NotificationType",
        "c2jShape" : "NotificationType",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : "NotificationType",
        "fluentSetterDocumentation" : "/**\n@param notificationType \n@return Returns a reference to this object so that method calls can be chained together.\n@see NotificationType*/",
        "fluentSetterMethodName" : "withNotificationType",
        "getterDocumentation" : "/**\n@return \n@see NotificationType*/",
        "getterMethodName" : "getNotificationType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NotificationType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NotificationType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NotificationType",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param notificationType \n@see NotificationType*/",
        "setterMethodName" : "setNotificationType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "notificationType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param notificationType \n@return Returns a reference to this object so that method calls can be chained together.\n@see NotificationType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "notificationType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ActionType",
        "c2jShape" : "ActionType",
        "deprecated" : false,
        "documentation" : "<p> The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ActionType",
        "fluentSetterDocumentation" : "/**<p> The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition. </p>\n@param actionType The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActionType*/",
        "fluentSetterMethodName" : "withActionType",
        "getterDocumentation" : "/**<p> The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition. </p>\n@return The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition.\n@see ActionType*/",
        "getterMethodName" : "getActionType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ActionType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ActionType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ActionType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition. </p>\n@param actionType The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition.\n@see ActionType*/",
        "setterMethodName" : "setActionType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "actionType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition. </p>\n@param actionType The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActionType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "actionType",
          "variableType" : "String",
          "documentation" : "<p> The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ActionThreshold",
        "c2jShape" : "ActionThreshold",
        "deprecated" : false,
        "documentation" : "<p> The trigger threshold of the action. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The trigger threshold of the action. </p>\n@param actionThreshold The trigger threshold of the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withActionThreshold",
        "getterDocumentation" : "/**<p> The trigger threshold of the action. </p>\n@return The trigger threshold of the action.*/",
        "getterMethodName" : "getActionThreshold",
        "getterModel" : {
          "returnType" : "ActionThreshold",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ActionThreshold",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ActionThreshold",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ActionThreshold",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The trigger threshold of the action. </p>\n@param actionThreshold The trigger threshold of the action.*/",
        "setterMethodName" : "setActionThreshold",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ActionThreshold",
          "variableName" : "actionThreshold",
          "variableType" : "ActionThreshold",
          "documentation" : "",
          "simpleType" : "ActionThreshold",
          "variableSetterType" : "ActionThreshold"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The trigger threshold of the action. </p>\n@param actionThreshold The trigger threshold of the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ActionThreshold",
          "variableName" : "actionThreshold",
          "variableType" : "ActionThreshold",
          "documentation" : "<p> The trigger threshold of the action. </p>",
          "simpleType" : "ActionThreshold",
          "variableSetterType" : "ActionThreshold"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Definition",
        "c2jShape" : "Definition",
        "deprecated" : false,
        "documentation" : "<p> Where you specify all of the type-specific parameters. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Where you specify all of the type-specific parameters. </p>\n@param definition Where you specify all of the type-specific parameters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDefinition",
        "getterDocumentation" : "/**<p> Where you specify all of the type-specific parameters. </p>\n@return Where you specify all of the type-specific parameters.*/",
        "getterMethodName" : "getDefinition",
        "getterModel" : {
          "returnType" : "Definition",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Definition",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Definition",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Definition",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Where you specify all of the type-specific parameters. </p>\n@param definition Where you specify all of the type-specific parameters.*/",
        "setterMethodName" : "setDefinition",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Definition",
          "variableName" : "definition",
          "variableType" : "Definition",
          "documentation" : "",
          "simpleType" : "Definition",
          "variableSetterType" : "Definition"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Where you specify all of the type-specific parameters. </p>\n@param definition Where you specify all of the type-specific parameters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Definition",
          "variableName" : "definition",
          "variableType" : "Definition",
          "documentation" : "<p> Where you specify all of the type-specific parameters. </p>",
          "simpleType" : "Definition",
          "variableSetterType" : "Definition"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ExecutionRoleArn",
        "c2jShape" : "RoleArn",
        "deprecated" : false,
        "documentation" : "<p> The role passed for action execution and reversion. Roles and actions must be in the same account. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The role passed for action execution and reversion. Roles and actions must be in the same account. </p>\n@param executionRoleArn The role passed for action execution and reversion. Roles and actions must be in the same account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExecutionRoleArn",
        "getterDocumentation" : "/**<p> The role passed for action execution and reversion. Roles and actions must be in the same account. </p>\n@return The role passed for action execution and reversion. Roles and actions must be in the same account.*/",
        "getterMethodName" : "getExecutionRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ExecutionRoleArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ExecutionRoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ExecutionRoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The role passed for action execution and reversion. Roles and actions must be in the same account. </p>\n@param executionRoleArn The role passed for action execution and reversion. Roles and actions must be in the same account.*/",
        "setterMethodName" : "setExecutionRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "executionRoleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The role passed for action execution and reversion. Roles and actions must be in the same account. </p>\n@param executionRoleArn The role passed for action execution and reversion. Roles and actions must be in the same account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "executionRoleArn",
          "variableType" : "String",
          "documentation" : "<p> The role passed for action execution and reversion. Roles and actions must be in the same account. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ApprovalModel",
        "c2jShape" : "ApprovalModel",
        "deprecated" : false,
        "documentation" : "<p> This specifies if the action needs manual or automatic approval. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ApprovalModel",
        "fluentSetterDocumentation" : "/**<p> This specifies if the action needs manual or automatic approval. </p>\n@param approvalModel This specifies if the action needs manual or automatic approval.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApprovalModel*/",
        "fluentSetterMethodName" : "withApprovalModel",
        "getterDocumentation" : "/**<p> This specifies if the action needs manual or automatic approval. </p>\n@return This specifies if the action needs manual or automatic approval.\n@see ApprovalModel*/",
        "getterMethodName" : "getApprovalModel",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApprovalModel",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApprovalModel",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApprovalModel",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> This specifies if the action needs manual or automatic approval. </p>\n@param approvalModel This specifies if the action needs manual or automatic approval.\n@see ApprovalModel*/",
        "setterMethodName" : "setApprovalModel",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "approvalModel",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> This specifies if the action needs manual or automatic approval. </p>\n@param approvalModel This specifies if the action needs manual or automatic approval.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApprovalModel*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "approvalModel",
          "variableType" : "String",
          "documentation" : "<p> This specifies if the action needs manual or automatic approval. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "ActionStatus",
        "deprecated" : false,
        "documentation" : "<p> The status of action. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ActionStatus",
        "fluentSetterDocumentation" : "/**<p> The status of action. </p>\n@param status The status of action.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActionStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p> The status of action. </p>\n@return The status of action.\n@see ActionStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The status of action. </p>\n@param status The status of action.\n@see ActionStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The status of action. </p>\n@param status The status of action.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActionStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p> The status of action. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Subscribers",
        "c2jShape" : "Subscribers",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param subscribers \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSubscribers",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getSubscribers",
        "getterModel" : {
          "returnType" : "java.util.List<Subscriber>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Subscribers",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Subscribers",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Subscriber",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Subscriber",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Subscriber",
              "variableName" : "member",
              "variableType" : "Subscriber",
              "documentation" : "",
              "simpleType" : "Subscriber",
              "variableSetterType" : "Subscriber"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Subscriber",
              "variableName" : "member",
              "variableType" : "Subscriber",
              "documentation" : "",
              "simpleType" : "Subscriber",
              "variableSetterType" : "Subscriber"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Subscriber",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Subscriber",
          "templateImplType" : "java.util.ArrayList<Subscriber>",
          "templateType" : "java.util.List<Subscriber>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Subscribers",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param subscribers */",
        "setterMethodName" : "setSubscribers",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Subscriber>",
          "variableName" : "subscribers",
[...]
