{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-10-25",
    "asyncClient" : "AWSCostExplorerAsyncClient",
    "asyncClientBuilderClassName" : "AWSCostExplorerAsyncClientBuilder",
    "asyncInterface" : "AWSCostExplorerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCostExplorerModuleInjector",
    "defaultEndpoint" : "ce.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ce.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Cost Explorer API enables you to programmatically query your cost and usage data. You can query for aggregated data such as total monthly costs or total daily usage. You can also query for granular data, such as the number of daily write operations for Amazon DynamoDB database tables in your production environment. </p> <p>Service Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul> <li> <p> <code>https://ce.us-east-1.amazonaws.com</code> </p> </li> </ul> <p>For information about costs associated with the Cost Explorer API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
    "endpointPrefix" : "ce",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.costexplorer",
    "packagePath" : "com/amazonaws/services/costexplorer",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS Cost Explorer",
    "serviceFullName" : "AWS Cost Explorer Service",
    "serviceId" : "Cost Explorer",
    "serviceName" : "AWS Cost Explorer",
    "signingName" : "ce",
    "smokeTestsPackageName" : "com.amazonaws.services.costexplorer.smoketests",
    "syncClient" : "AWSCostExplorerClient",
    "syncClientBuilderClassName" : "AWSCostExplorerClientBuilder",
    "syncInterface" : "AWSCostExplorer",
    "uid" : "ce-2017-10-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateCostCategoryDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCostCategoryDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCostCategoryDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCostCategoryDefinitionRequest, CreateCostCategoryDefinitionResult>",
      "asyncReturnType" : "CreateCostCategoryDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>Creates a new Cost Category with the requested name and rules.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> You've reached the limit on the number of resources you can create, or exceeded the size of an individual resources. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCostCategoryDefinitionRequest",
        "variableName" : "createCostCategoryDefinitionRequest",
        "variableType" : "CreateCostCategoryDefinitionRequest",
        "documentation" : "",
        "simpleType" : "CreateCostCategoryDefinitionRequest",
        "variableSetterType" : "CreateCostCategoryDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCostCategoryDefinition",
      "operationName" : "CreateCostCategoryDefinition",
      "returnType" : {
        "returnType" : "CreateCostCategoryDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCostCategoryDefinitionResult"
    },
    "DeleteCostCategoryDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCostCategoryDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCostCategoryDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCostCategoryDefinitionRequest, DeleteCostCategoryDefinitionResult>",
      "asyncReturnType" : "DeleteCostCategoryDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>Deletes a Cost Category. Expenses from this month going forward will no longer be categorized with this Cost Category.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ARN in the request doesn't exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCostCategoryDefinitionRequest",
        "variableName" : "deleteCostCategoryDefinitionRequest",
        "variableType" : "DeleteCostCategoryDefinitionRequest",
        "documentation" : "",
        "simpleType" : "DeleteCostCategoryDefinitionRequest",
        "variableSetterType" : "DeleteCostCategoryDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCostCategoryDefinition",
      "operationName" : "DeleteCostCategoryDefinition",
      "returnType" : {
        "returnType" : "DeleteCostCategoryDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCostCategoryDefinitionResult"
    },
    "DescribeCostCategoryDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCostCategoryDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCostCategoryDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCostCategoryDefinitionRequest, DescribeCostCategoryDefinitionResult>",
      "asyncReturnType" : "DescribeCostCategoryDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>Returns the name, ARN, rules, definition, and effective dates of a Cost Category that's defined in the account.</p> <p>You have the option to use <code>EffectiveOn</code> to return a Cost Category that is active on a specific date. If there is no <code>EffectiveOn</code> specified, you’ll see a Cost Category that is effective on the current date. If Cost Category is still effective, <code>EffectiveEnd</code> is omitted in the response. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ARN in the request doesn't exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCostCategoryDefinitionRequest",
        "variableName" : "describeCostCategoryDefinitionRequest",
        "variableType" : "DescribeCostCategoryDefinitionRequest",
        "documentation" : "",
        "simpleType" : "DescribeCostCategoryDefinitionRequest",
        "variableSetterType" : "DescribeCostCategoryDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCostCategoryDefinition",
      "operationName" : "DescribeCostCategoryDefinition",
      "returnType" : {
        "returnType" : "DescribeCostCategoryDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCostCategoryDefinitionResult"
    },
    "GetCostAndUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCostAndUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCostAndUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCostAndUsageRequest, GetCostAndUsageResult>",
      "asyncReturnType" : "GetCostAndUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves cost and usage metrics for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Master accounts in an organization in AWS Organizations have access to all member accounts.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BillExpirationException",
        "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestChangedException",
        "documentation" : "<p>Your request parameters changed between pages. Try again with the old parameters or without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCostAndUsageRequest",
        "variableName" : "getCostAndUsageRequest",
        "variableType" : "GetCostAndUsageRequest",
        "documentation" : "",
        "simpleType" : "GetCostAndUsageRequest",
        "variableSetterType" : "GetCostAndUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCostAndUsage",
      "operationName" : "GetCostAndUsage",
      "returnType" : {
        "returnType" : "GetCostAndUsageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCostAndUsageResult"
    },
    "GetCostAndUsageWithResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCostAndUsageWithResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCostAndUsageWithResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCostAndUsageWithResourcesRequest, GetCostAndUsageWithResourcesResult>",
      "asyncReturnType" : "GetCostAndUsageWithResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves cost and usage metrics with resources for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Master accounts in an organization in AWS Organizations have access to all member accounts. This API is currently available for the Amazon Elastic Compute Cloud – Compute service only.</p> <note> <p>This is an opt-in only feature. You can enable this feature from the Cost Explorer Settings page. For information on how to access the Settings page, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-access.html\">Controlling Access for Cost Explorer</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BillExpirationException",
        "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestChangedException",
        "documentation" : "<p>Your request parameters changed between pages. Try again with the old parameters or without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCostAndUsageWithResourcesRequest",
        "variableName" : "getCostAndUsageWithResourcesRequest",
        "variableType" : "GetCostAndUsageWithResourcesRequest",
        "documentation" : "",
        "simpleType" : "GetCostAndUsageWithResourcesRequest",
        "variableSetterType" : "GetCostAndUsageWithResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCostAndUsageWithResources",
      "operationName" : "GetCostAndUsageWithResources",
      "returnType" : {
        "returnType" : "GetCostAndUsageWithResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCostAndUsageWithResourcesResult"
    },
    "GetCostForecast" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCostForecastResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCostForecastResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCostForecastRequest, GetCostForecastResult>",
      "asyncReturnType" : "GetCostForecastResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a forecast for how much Amazon Web Services predicts that you will spend over the forecast time period that you select, based on your past costs. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCostForecastRequest",
        "variableName" : "getCostForecastRequest",
        "variableType" : "GetCostForecastRequest",
        "documentation" : "",
        "simpleType" : "GetCostForecastRequest",
        "variableSetterType" : "GetCostForecastRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCostForecast",
      "operationName" : "GetCostForecast",
      "returnType" : {
        "returnType" : "GetCostForecastResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCostForecastResult"
    },
    "GetDimensionValues" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDimensionValuesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDimensionValuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDimensionValuesRequest, GetDimensionValuesResult>",
      "asyncReturnType" : "GetDimensionValuesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all available filter values for a specified filter over a period of time. You can search the dimension values for an arbitrary string. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BillExpirationException",
        "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestChangedException",
        "documentation" : "<p>Your request parameters changed between pages. Try again with the old parameters or without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDimensionValuesRequest",
        "variableName" : "getDimensionValuesRequest",
        "variableType" : "GetDimensionValuesRequest",
        "documentation" : "",
        "simpleType" : "GetDimensionValuesRequest",
        "variableSetterType" : "GetDimensionValuesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDimensionValues",
      "operationName" : "GetDimensionValues",
      "returnType" : {
        "returnType" : "GetDimensionValuesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDimensionValuesResult"
    },
    "GetReservationCoverage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReservationCoverageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReservationCoverageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReservationCoverageRequest, GetReservationCoverageResult>",
      "asyncReturnType" : "GetReservationCoverageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the reservation coverage for your account. This enables you to see how much of your Amazon Elastic Compute Cloud, Amazon ElastiCache, Amazon Relational Database Service, or Amazon Redshift usage is covered by a reservation. An organization's master account can see the coverage of the associated member accounts. For any time period, you can filter data about reservation usage by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReservationCoverageRequest",
        "variableName" : "getReservationCoverageRequest",
        "variableType" : "GetReservationCoverageRequest",
        "documentation" : "<p>You can use the following request parameters to query for how much of your instance usage a reservation covered.</p>",
        "simpleType" : "GetReservationCoverageRequest",
        "variableSetterType" : "GetReservationCoverageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReservationCoverage",
      "operationName" : "GetReservationCoverage",
      "returnType" : {
        "returnType" : "GetReservationCoverageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReservationCoverageResult"
    },
    "GetReservationPurchaseRecommendation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReservationPurchaseRecommendationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReservationPurchaseRecommendationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReservationPurchaseRecommendationRequest, GetReservationPurchaseRecommendationResult>",
      "asyncReturnType" : "GetReservationPurchaseRecommendationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets recommendations for which reservations to purchase. These recommendations could help you reduce your costs. Reservations provide a discounted hourly rate (up to 75%) compared to On-Demand pricing.</p> <p>AWS generates your recommendations by identifying your On-Demand usage during a specific time period and collecting your usage into categories that are eligible for a reservation. After AWS has these categories, it simulates every combination of reservations in each category of usage to identify the best number of each type of RI to purchase to maximize your estimated savings. </p> <p>For example, AWS automatically aggregates your Amazon EC2 Linux, shared tenancy, and c4 family usage in the US West (Oregon) Region and recommends that you buy size-flexible regional reservations to apply to the c4 family usage. AWS recommends the smallest size instance in an instance family. This makes it easier to purchase a size-flexible RI. AWS also shows the equal number of normalized units so that you can purchase any instance size that you want. For this example, your RI recommendation would be for <code>c4.large</code> because that is the smallest size instance in the c4 instance family.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReservationPurchaseRecommendationRequest",
        "variableName" : "getReservationPurchaseRecommendationRequest",
        "variableType" : "GetReservationPurchaseRecommendationRequest",
        "documentation" : "",
        "simpleType" : "GetReservationPurchaseRecommendationRequest",
        "variableSetterType" : "GetReservationPurchaseRecommendationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReservationPurchaseRecommendation",
      "operationName" : "GetReservationPurchaseRecommendation",
      "returnType" : {
        "returnType" : "GetReservationPurchaseRecommendationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReservationPurchaseRecommendationResult"
    },
    "GetReservationUtilization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReservationUtilizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReservationUtilizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReservationUtilizationRequest, GetReservationUtilizationResult>",
      "asyncReturnType" : "GetReservationUtilizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the reservation utilization for your account. Master accounts in an organization have access to member accounts. You can filter data by dimensions in a time period. You can use <code>GetDimensionValues</code> to determine the possible dimension values. Currently, you can group only by <code>SUBSCRIPTION_ID</code>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReservationUtilizationRequest",
        "variableName" : "getReservationUtilizationRequest",
        "variableType" : "GetReservationUtilizationRequest",
        "documentation" : "",
        "simpleType" : "GetReservationUtilizationRequest",
        "variableSetterType" : "GetReservationUtilizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReservationUtilization",
      "operationName" : "GetReservationUtilization",
      "returnType" : {
        "returnType" : "GetReservationUtilizationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReservationUtilizationResult"
    },
    "GetRightsizingRecommendation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRightsizingRecommendationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRightsizingRecommendationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRightsizingRecommendationRequest, GetRightsizingRecommendationResult>",
      "asyncReturnType" : "GetRightsizingRecommendationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates recommendations that helps you save cost by identifying idle and underutilized Amazon EC2 instances.</p> <p>Recommendations are generated to either downsize or terminate instances, along with providing savings detail and metrics. For details on calculation and function, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-what-is.html\">Optimizing Your Cost with Rightsizing Recommendations</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRightsizingRecommendationRequest",
        "variableName" : "getRightsizingRecommendationRequest",
        "variableType" : "GetRightsizingRecommendationRequest",
        "documentation" : "",
        "simpleType" : "GetRightsizingRecommendationRequest",
        "variableSetterType" : "GetRightsizingRecommendationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRightsizingRecommendation",
      "operationName" : "GetRightsizingRecommendation",
      "returnType" : {
        "returnType" : "GetRightsizingRecommendationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRightsizingRecommendationResult"
    },
    "GetSavingsPlansCoverage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSavingsPlansCoverageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSavingsPlansCoverageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSavingsPlansCoverageRequest, GetSavingsPlansCoverageResult>",
      "asyncReturnType" : "GetSavingsPlansCoverageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the Savings Plans covered for your account. This enables you to see how much of your cost is covered by a Savings Plan. An organization’s master account can see the coverage of the associated member accounts. For any time period, you can filter data for Savings Plans usage with the following dimensions:</p> <ul> <li> <p> <code>LINKED_ACCOUNT</code> </p> </li> <li> <p> <code>REGION</code> </p> </li> <li> <p> <code>SERVICE</code> </p> </li> <li> <p> <code>INSTANCE_FAMILY</code> </p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSavingsPlansCoverageRequest",
        "variableName" : "getSavingsPlansCoverageRequest",
        "variableType" : "GetSavingsPlansCoverageRequest",
        "documentation" : "",
        "simpleType" : "GetSavingsPlansCoverageRequest",
        "variableSetterType" : "GetSavingsPlansCoverageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSavingsPlansCoverage",
      "operationName" : "GetSavingsPlansCoverage",
      "returnType" : {
        "returnType" : "GetSavingsPlansCoverageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSavingsPlansCoverageResult"
    },
    "GetSavingsPlansPurchaseRecommendation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSavingsPlansPurchaseRecommendationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSavingsPlansPurchaseRecommendationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSavingsPlansPurchaseRecommendationRequest, GetSavingsPlansPurchaseRecommendationResult>",
      "asyncReturnType" : "GetSavingsPlansPurchaseRecommendationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves your request parameters, Savings Plan Recommendations Summary and Details.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSavingsPlansPurchaseRecommendationRequest",
        "variableName" : "getSavingsPlansPurchaseRecommendationRequest",
        "variableType" : "GetSavingsPlansPurchaseRecommendationRequest",
        "documentation" : "",
        "simpleType" : "GetSavingsPlansPurchaseRecommendationRequest",
        "variableSetterType" : "GetSavingsPlansPurchaseRecommendationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSavingsPlansPurchaseRecommendation",
      "operationName" : "GetSavingsPlansPurchaseRecommendation",
      "returnType" : {
        "returnType" : "GetSavingsPlansPurchaseRecommendationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSavingsPlansPurchaseRecommendationResult"
    },
    "GetSavingsPlansUtilization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSavingsPlansUtilizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSavingsPlansUtilizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSavingsPlansUtilizationRequest, GetSavingsPlansUtilizationResult>",
      "asyncReturnType" : "GetSavingsPlansUtilizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the Savings Plans utilization for your account across date ranges with daily or monthly granularity. Master accounts in an organization have access to member accounts. You can use <code>GetDimensionValues</code> in <code>SAVINGS_PLANS</code> to determine the possible dimension values.</p> <note> <p>You cannot group by any dimension values for <code>GetSavingsPlansUtilization</code>.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSavingsPlansUtilizationRequest",
        "variableName" : "getSavingsPlansUtilizationRequest",
        "variableType" : "GetSavingsPlansUtilizationRequest",
        "documentation" : "",
        "simpleType" : "GetSavingsPlansUtilizationRequest",
        "variableSetterType" : "GetSavingsPlansUtilizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSavingsPlansUtilization",
      "operationName" : "GetSavingsPlansUtilization",
      "returnType" : {
        "returnType" : "GetSavingsPlansUtilizationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSavingsPlansUtilizationResult"
    },
    "GetSavingsPlansUtilizationDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSavingsPlansUtilizationDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSavingsPlansUtilizationDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSavingsPlansUtilizationDetailsRequest, GetSavingsPlansUtilizationDetailsResult>",
      "asyncReturnType" : "GetSavingsPlansUtilizationDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves attribute data along with aggregate utilization and savings data for a given time period. This doesn't support granular or grouped data (daily/monthly) in response. You can't retrieve data by dates in a single response similar to <code>GetSavingsPlanUtilization</code>, but you have the option to make multiple calls to <code>GetSavingsPlanUtilizationDetails</code> by providing individual dates. You can use <code>GetDimensionValues</code> in <code>SAVINGS_PLANS</code> to determine the possible dimension values.</p> <note> <p> <code>GetSavingsPlanUtilizationDetails</code> internally groups data by <code>SavingsPlansArn</code>.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSavingsPlansUtilizationDetailsRequest",
        "variableName" : "getSavingsPlansUtilizationDetailsRequest",
        "variableType" : "GetSavingsPlansUtilizationDetailsRequest",
        "documentation" : "",
        "simpleType" : "GetSavingsPlansUtilizationDetailsRequest",
        "variableSetterType" : "GetSavingsPlansUtilizationDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSavingsPlansUtilizationDetails",
      "operationName" : "GetSavingsPlansUtilizationDetails",
      "returnType" : {
        "returnType" : "GetSavingsPlansUtilizationDetailsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSavingsPlansUtilizationDetailsResult"
    },
    "GetTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTagsRequest, GetTagsResult>",
      "asyncReturnType" : "GetTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Queries for available tag keys and tag values for a specified period. You can search the tag values for an arbitrary string. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BillExpirationException",
        "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestChangedException",
        "documentation" : "<p>Your request parameters changed between pages. Try again with the old parameters or without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTagsRequest",
        "variableName" : "getTagsRequest",
        "variableType" : "GetTagsRequest",
        "documentation" : "",
        "simpleType" : "GetTagsRequest",
        "variableSetterType" : "GetTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTags",
      "operationName" : "GetTags",
      "returnType" : {
        "returnType" : "GetTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTagsResult"
    },
    "GetUsageForecast" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUsageForecastResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUsageForecastResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUsageForecastRequest, GetUsageForecastResult>",
      "asyncReturnType" : "GetUsageForecastResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a forecast for how much Amazon Web Services predicts that you will use over the forecast time period that you select, based on your past usage. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnresolvableUsageUnitException",
        "documentation" : "<p>Cost Explorer was unable to identify the usage unit. Provide <code>UsageType/UsageTypeGroup</code> filter selections that contain matching units, for example: <code>hours</code>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetUsageForecastRequest",
        "variableName" : "getUsageForecastRequest",
        "variableType" : "GetUsageForecastRequest",
        "documentation" : "",
        "simpleType" : "GetUsageForecastRequest",
        "variableSetterType" : "GetUsageForecastRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUsageForecast",
      "operationName" : "GetUsageForecast",
      "returnType" : {
        "returnType" : "GetUsageForecastResult",
        "documentation" : null
      },
      "syncReturnType" : "GetUsageForecastResult"
    },
    "ListCostCategoryDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCostCategoryDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCostCategoryDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCostCategoryDefinitionsRequest, ListCostCategoryDefinitionsResult>",
      "asyncReturnType" : "ListCostCategoryDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>Returns the name, ARN and effective dates of all Cost Categories defined in the account. You have the option to use <code>EffectiveOn</code> to return a list of Cost Categories that were active on a specific date. If there is no <code>EffectiveOn</code> specified, you’ll see Cost Categories that are effective on the current date. If Cost Category is still effective, <code>EffectiveEnd</code> is omitted in the response. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCostCategoryDefinitionsRequest",
        "variableName" : "listCostCategoryDefinitionsRequest",
        "variableType" : "ListCostCategoryDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "ListCostCategoryDefinitionsRequest",
        "variableSetterType" : "ListCostCategoryDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCostCategoryDefinitions",
      "operationName" : "ListCostCategoryDefinitions",
      "returnType" : {
        "returnType" : "ListCostCategoryDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCostCategoryDefinitionsResult"
    },
    "UpdateCostCategoryDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCostCategoryDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCostCategoryDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCostCategoryDefinitionRequest, UpdateCostCategoryDefinitionResult>",
      "asyncReturnType" : "UpdateCostCategoryDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>Updates an existing Cost Category. Changes made to the Cost Category rules will be used to categorize the current month’s expenses and future expenses. This won’t change categorization for the previous months.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ARN in the request doesn't exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> You've reached the limit on the number of resources you can create, or exceeded the size of an individual resources. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCostCategoryDefinitionRequest",
        "variableName" : "updateCostCategoryDefinitionRequest",
        "variableType" : "UpdateCostCategoryDefinitionRequest",
        "documentation" : "",
        "simpleType" : "UpdateCostCategoryDefinitionRequest",
        "variableSetterType" : "UpdateCostCategoryDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCostCategoryDefinition",
      "operationName" : "UpdateCostCategoryDefinition",
      "returnType" : {
        "returnType" : "UpdateCostCategoryDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateCostCategoryDefinitionResult"
    }
  },
  "shapes" : {
    "AccountScope" : {
      "c2jName" : "AccountScope",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "PAYER",
        "value" : "PAYER"
      }, {
        "name" : "LINKED",
        "value" : "LINKED"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccountScope",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountScope",
        "variableName" : "accountScope",
        "variableType" : "AccountScope",
        "documentation" : null,
        "simpleType" : "AccountScope",
        "variableSetterType" : "AccountScope"
      },
      "wrapper" : false
    },
    "BillExpirationException" : {
      "c2jName" : "BillExpirationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
      "enums" : null,
      "errorCode" : "BillExpirationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BillExpirationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BillExpirationException",
        "variableName" : "billExpirationException",
        "variableType" : "BillExpirationException",
        "documentation" : null,
        "simpleType" : "BillExpirationException",
        "variableSetterType" : "BillExpirationException"
      },
      "wrapper" : false
    },
    "Context" : {
      "c2jName" : "Context",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "COST_AND_USAGE",
        "value" : "COST_AND_USAGE"
      }, {
        "name" : "RESERVATIONS",
        "value" : "RESERVATIONS"
      }, {
        "name" : "SAVINGS_PLANS",
        "value" : "SAVINGS_PLANS"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Context",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Context",
        "variableName" : "context",
        "variableType" : "Context",
        "documentation" : null,
        "simpleType" : "Context",
        "variableSetterType" : "Context"
      },
      "wrapper" : false
    },
    "CostCategory" : {
      "c2jName" : "CostCategory",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>The structure of Cost Categories. This includes detailed metadata and the set of rules for the <code>CostCategory</code> object.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CostCategoryArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p> The unique identifier for your Cost Category. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The unique identifier for your Cost Category. </p>\n@param costCategoryArn The unique identifier for your Cost Category.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCostCategoryArn",
        "getterDocumentation" : "/**<p> The unique identifier for your Cost Category. </p>\n@return The unique identifier for your Cost Category.*/",
        "getterMethodName" : "getCostCategoryArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CostCategoryArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CostCategoryArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CostCategoryArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The unique identifier for your Cost Category. </p>\n@param costCategoryArn The unique identifier for your Cost Category.*/",
        "setterMethodName" : "setCostCategoryArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "costCategoryArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The unique identifier for your Cost Category. </p>\n@param costCategoryArn The unique identifier for your Cost Category.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "costCategoryArn",
          "variableType" : "String",
          "documentation" : "<p> The unique identifier for your Cost Category. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EffectiveStart",
        "c2jShape" : "ZonedDateTime",
        "deprecated" : false,
        "documentation" : "<p> The Cost Category's effective start date.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The Cost Category's effective start date.</p>\n@param effectiveStart The Cost Category's effective start date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEffectiveStart",
        "getterDocumentation" : "/**<p> The Cost Category's effective start date.</p>\n@return The Cost Category's effective start date.*/",
        "getterMethodName" : "getEffectiveStart",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EffectiveStart",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EffectiveStart",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EffectiveStart",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The Cost Category's effective start date.</p>\n@param effectiveStart The Cost Category's effective start date.*/",
        "setterMethodName" : "setEffectiveStart",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "effectiveStart",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The Cost Category's effective start date.</p>\n@param effectiveStart The Cost Category's effective start date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "effectiveStart",
          "variableType" : "String",
          "documentation" : "<p> The Cost Category's effective start date.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EffectiveEnd",
        "c2jShape" : "ZonedDateTime",
        "deprecated" : false,
        "documentation" : "<p> The Cost Category's effective end date.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The Cost Category's effective end date.</p>\n@param effectiveEnd The Cost Category's effective end date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEffectiveEnd",
        "getterDocumentation" : "/**<p> The Cost Category's effective end date.</p>\n@return The Cost Category's effective end date.*/",
        "getterMethodName" : "getEffectiveEnd",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EffectiveEnd",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EffectiveEnd",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EffectiveEnd",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The Cost Category's effective end date.</p>\n@param effectiveEnd The Cost Category's effective end date.*/",
        "setterMethodName" : "setEffectiveEnd",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "effectiveEnd",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The Cost Category's effective end date.</p>\n@param effectiveEnd The Cost Category's effective end date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "effectiveEnd",
          "variableType" : "String",
          "documentation" : "<p> The Cost Category's effective end date.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "CostCategoryName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param name \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param name */",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param name \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RuleVersion",
        "c2jShape" : "CostCategoryRuleVersion",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "CostCategoryRuleVersion",
        "fluentSetterDocumentation" : "/**\n@param ruleVersion \n@return Returns a reference to this object so that method calls can be chained together.\n@see CostCategoryRuleVersion*/",
        "fluentSetterMethodName" : "withRuleVersion",
        "getterDocumentation" : "/**\n@return \n@see CostCategoryRuleVersion*/",
        "getterMethodName" : "getRuleVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RuleVersion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RuleVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RuleVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param ruleVersion \n@see CostCategoryRuleVersion*/",
        "setterMethodName" : "setRuleVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "ruleVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param ruleVersion \n@return Returns a reference to this object so that method calls can be chained together.\n@see CostCategoryRuleVersion*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "ruleVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Rules",
        "c2jShape" : "CostCategoryRulesList",
        "deprecated" : false,
        "documentation" : "<p> Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>\n@param rules Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRules",
        "getterDocumentation" : "/**<p> Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>\n@return Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.*/",
        "getterMethodName" : "getRules",
        "getterModel" : {
          "returnType" : "java.util.List<CostCategoryRule>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Rules",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Rules",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "CostCategoryRule",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "CostCategoryRule",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CostCategoryRule",
              "variableName" : "member",
              "variableType" : "CostCategoryRule",
              "documentation" : "",
              "simpleType" : "CostCategoryRule",
              "variableSetterType" : "CostCategoryRule"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CostCategoryRule",
              "variableName" : "member",
              "variableType" : "CostCategoryRule",
              "documentation" : "",
              "simpleType" : "CostCategoryRule",
              "variableSetterType" : "CostCategoryRule"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "CostCategoryRule",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "CostCategoryRule",
          "templateImplType" : "java.util.ArrayList<CostCategoryRule>",
          "templateType" : "java.util.List<CostCategoryRule>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Rules",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>\n@param rules Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.*/",
        "setterMethodName" : "setRules",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<CostCategoryRule>",
          "variableName" : "rules",
          "variableType" : "java.util.List<CostCategoryRule>",
          "documentation" : "",
          "simpleType" : "List<CostCategoryRule>",
          "variableSetterType" : "java.util.Collection<CostCategoryRule>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRules(java.util.Collection)} or {@link #withRules(java.util.Collection)} if you want to override the existing values.</p>\n@param rules Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<CostCategoryRule>",
          "variableName" : "rules",
          "variableType" : "java.util.List<CostCategoryRule>",
          "documentation" : "<p> Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>",
          "simpleType" : "List<CostCategoryRule>",
          "variableSetterType" : "java.util.Collection<CostCategoryRule>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CostCategoryArn" : {
          "c2jName" : "CostCategoryArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p> The unique identifier for your Cost Category. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The unique identifier for your Cost Category. </p>\n@param costCategoryArn The unique identifier for your Cost Category.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCostCategoryArn",
          "getterDocumentation" : "/**<p> The unique identifier for your Cost Category. </p>\n@return The unique identifier for your Cost Category.*/",
          "getterMethodName" : "getCostCategoryArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CostCategoryArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CostCategoryArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CostCategoryArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The unique identifier for your Cost Category. </p>\n@param costCategoryArn The unique identifier for your Cost Category.*/",
          "setterMethodName" : "setCostCategoryArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "costCategoryArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The unique identifier for your Cost Category. </p>\n@param costCategoryArn The unique identifier for your Cost Category.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "costCategoryArn",
            "variableType" : "String",
            "documentation" : "<p> The unique identifier for your Cost Category. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EffectiveEnd" : {
          "c2jName" : "EffectiveEnd",
          "c2jShape" : "ZonedDateTime",
          "deprecated" : false,
          "documentation" : "<p> The Cost Category's effective end date.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The Cost Category's effective end date.</p>\n@param effectiveEnd The Cost Category's effective end date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEffectiveEnd",
          "getterDocumentation" : "/**<p> The Cost Category's effective end date.</p>\n@return The Cost Category's effective end date.*/",
          "getterMethodName" : "getEffectiveEnd",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EffectiveEnd",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EffectiveEnd",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EffectiveEnd",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The Cost Category's effective end date.</p>\n@param effectiveEnd The Cost Category's effective end date.*/",
          "setterMethodName" : "setEffectiveEnd",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "effectiveEnd",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The Cost Category's effective end date.</p>\n@param effectiveEnd The Cost Category's effective end date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "effectiveEnd",
            "variableType" : "String",
            "documentation" : "<p> The Cost Category's effective end date.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EffectiveStart" : {
          "c2jName" : "EffectiveStart",
          "c2jShape" : "ZonedDateTime",
          "deprecated" : false,
          "documentation" : "<p> The Cost Category's effective start date.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The Cost Category's effective start date.</p>\n@param effectiveStart The Cost Category's effective start date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEffectiveStart",
          "getterDocumentation" : "/**<p> The Cost Category's effective start date.</p>\n@return The Cost Category's effective start date.*/",
          "getterMethodName" : "getEffectiveStart",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EffectiveStart",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EffectiveStart",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EffectiveStart",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The Cost Category's effective start date.</p>\n@param effectiveStart The Cost Category's effective start date.*/",
          "setterMethodName" : "setEffectiveStart",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "effectiveStart",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The Cost Category's effective start date.</p>\n@param effectiveStart The Cost Category's effective start date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "effectiveStart",
            "variableType" : "String",
            "documentation" : "<p> The Cost Category's effective start date.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "CostCategoryName",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param name \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param name */",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param name \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RuleVersion" : {
          "c2jName" : "RuleVersion",
          "c2jShape" : "CostCategoryRuleVersion",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : "CostCategoryRuleVersion",
          "fluentSetterDocumentation" : "/**\n@param ruleVersion \n@return Returns a reference to this object so that method calls can be chained together.\n@see CostCategoryRuleVersion*/",
          "fluentSetterMethodName" : "withRuleVersion",
          "getterDocumentation" : "/**\n@return \n@see CostCategoryRuleVersion*/",
          "getterMethodName" : "getRuleVersion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RuleVersion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RuleVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RuleVersion",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param ruleVersion \n@see CostCategoryRuleVersion*/",
          "setterMethodName" : "setRuleVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "ruleVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param ruleVersion \n@return Returns a reference to this object so that method calls can be chained together.\n@see CostCategoryRuleVersion*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "ruleVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Rules" : {
          "c2jName" : "Rules",
          "c2jShape" : "CostCategoryRulesList",
          "deprecated" : false,
          "documentation" : "<p> Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>\n@param rules Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRules",
          "getterDocumentation" : "/**<p> Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>\n@return Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.*/",
          "getterMethodName" : "getRules",
          "getterModel" : {
            "returnType" : "java.util.List<CostCategoryRule>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Rules",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Rules",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "CostCategoryRule",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "CostCategoryRule",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "CostCategoryRule",
                "variableName" : "member",
                "variableType" : "CostCategoryRule",
                "documentation" : "",
                "simpleType" : "CostCategoryRule",
                "variableSetterType" : "CostCategoryRule"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "CostCategoryRule",
[...]
