{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-10-25",
    "asyncClient" : "AWSCostExplorerAsyncClient",
    "asyncClientBuilderClassName" : "AWSCostExplorerAsyncClientBuilder",
    "asyncInterface" : "AWSCostExplorerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCostExplorerModuleInjector",
    "defaultEndpoint" : "ce.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ce.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Cost Explorer API allows you to programmatically query your cost and usage data. You can query for aggregated data such as total monthly costs or total daily usage. You can also query for granular data, such as the number of daily write operations for Amazon DynamoDB database tables in your production environment. </p> <p>Service Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul> <li> <p>https://ce.us-east-1.amazonaws.com</p> </li> </ul> <p>For information about costs associated with the Cost Explorer API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
    "endpointPrefix" : "ce",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.costexplorer",
    "packagePath" : "com/amazonaws/services/costexplorer",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS Cost Explorer",
    "serviceFullName" : "AWS Cost Explorer Service",
    "serviceName" : "AWS Cost Explorer",
    "signingName" : "ce",
    "smokeTestsPackageName" : "com.amazonaws.services.costexplorer.smoketests",
    "syncClient" : "AWSCostExplorerClient",
    "syncClientBuilderClassName" : "AWSCostExplorerClientBuilder",
    "syncInterface" : "AWSCostExplorer",
    "uid" : "ce-2017-10-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetCostAndUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCostAndUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCostAndUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCostAndUsageRequest, GetCostAndUsageResult>",
      "asyncReturnType" : "GetCostAndUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves cost and usage metrics for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <code> <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> </code> operation. Master accounts in an organization in AWS Organizations have access to all member accounts.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BillExpirationException",
        "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestChangedException",
        "documentation" : "<p>Your request parameters changed between pages. Try again with the old parameters or without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCostAndUsageRequest",
        "variableName" : "getCostAndUsageRequest",
        "variableType" : "GetCostAndUsageRequest",
        "documentation" : "",
        "simpleType" : "GetCostAndUsageRequest",
        "variableSetterType" : "GetCostAndUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCostAndUsage",
      "operationName" : "GetCostAndUsage",
      "returnType" : {
        "returnType" : "GetCostAndUsageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCostAndUsageResult"
    },
    "GetDimensionValues" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDimensionValuesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDimensionValuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDimensionValuesRequest, GetDimensionValuesResult>",
      "asyncReturnType" : "GetDimensionValuesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all available filter values for a specified filter over a period of time. You can search the dimension values for an arbitrary string. </p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BillExpirationException",
        "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestChangedException",
        "documentation" : "<p>Your request parameters changed between pages. Try again with the old parameters or without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDimensionValuesRequest",
        "variableName" : "getDimensionValuesRequest",
        "variableType" : "GetDimensionValuesRequest",
        "documentation" : "",
        "simpleType" : "GetDimensionValuesRequest",
        "variableSetterType" : "GetDimensionValuesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDimensionValues",
      "operationName" : "GetDimensionValues",
      "returnType" : {
        "returnType" : "GetDimensionValuesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDimensionValuesResult"
    },
    "GetReservationCoverage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReservationCoverageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReservationCoverageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReservationCoverageRequest, GetReservationCoverageResult>",
      "asyncReturnType" : "GetReservationCoverageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the reservation coverage for your account. This allows you to see how much of your Amazon Elastic Compute Cloud, Amazon ElastiCache, Amazon Relational Database Service, or Amazon Redshift usage is covered by a reservation. An organization's master account can see the coverage of the associated member accounts. For any time period, you can filter data about reservation usage by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation. </p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetReservationCoverageRequest",
        "variableName" : "getReservationCoverageRequest",
        "variableType" : "GetReservationCoverageRequest",
        "documentation" : "<p>You can use the following request parameters to query for how much of your instance usage is covered by a reservation.</p>",
        "simpleType" : "GetReservationCoverageRequest",
        "variableSetterType" : "GetReservationCoverageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReservationCoverage",
      "operationName" : "GetReservationCoverage",
      "returnType" : {
        "returnType" : "GetReservationCoverageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReservationCoverageResult"
    },
    "GetReservationPurchaseRecommendation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReservationPurchaseRecommendationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReservationPurchaseRecommendationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReservationPurchaseRecommendationRequest, GetReservationPurchaseRecommendationResult>",
      "asyncReturnType" : "GetReservationPurchaseRecommendationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets recommendations for which reservations to purchase. These recommendations could help you reduce your costs. Reservations provide a discounted hourly rate (up to 75%) compared to On-Demand pricing.</p> <p>AWS generates your recommendations by identifying your On-Demand usage during a specific time period and collecting your usage into categories that are eligible for a reservation. After AWS has these categories, it simulates every combination of reservations in each category of usage to identify the best number of each type of RI to purchase to maximize your estimated savings. </p> <p>For example, AWS automatically aggregates your EC2 Linux, shared tenancy, and c4 family usage in the US West (Oregon) Region and recommends that you buy size-flexible regional reservations to apply to the c4 family usage. AWS recommends the smallest size instance in an instance family. This makes it easier to purchase a size-flexible RI. AWS also shows the equal number of normalized units so that you can purchase any instance size that you want. For this example, your RI recommendation would be for <code>c4.large</code>, because that is the smallest size instance in the c4 instance family.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetReservationPurchaseRecommendationRequest",
        "variableName" : "getReservationPurchaseRecommendationRequest",
        "variableType" : "GetReservationPurchaseRecommendationRequest",
        "documentation" : "",
        "simpleType" : "GetReservationPurchaseRecommendationRequest",
        "variableSetterType" : "GetReservationPurchaseRecommendationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReservationPurchaseRecommendation",
      "operationName" : "GetReservationPurchaseRecommendation",
      "returnType" : {
        "returnType" : "GetReservationPurchaseRecommendationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReservationPurchaseRecommendationResult"
    },
    "GetReservationUtilization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReservationUtilizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReservationUtilizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReservationUtilizationRequest, GetReservationUtilizationResult>",
      "asyncReturnType" : "GetReservationUtilizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the reservation utilization for your account. Master accounts in an organization have access to member accounts. You can filter data by dimensions in a time period. You can use <code>GetDimensionValues</code> to determine the possible dimension values. Currently, you can group only by <code>SUBSCRIPTION_ID</code>. </p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetReservationUtilizationRequest",
        "variableName" : "getReservationUtilizationRequest",
        "variableType" : "GetReservationUtilizationRequest",
        "documentation" : "",
        "simpleType" : "GetReservationUtilizationRequest",
        "variableSetterType" : "GetReservationUtilizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReservationUtilization",
      "operationName" : "GetReservationUtilization",
      "returnType" : {
        "returnType" : "GetReservationUtilizationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReservationUtilizationResult"
    },
    "GetTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTagsRequest, GetTagsResult>",
      "asyncReturnType" : "GetTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Queries for available tag keys and tag values for a specified period. You can search the tag values for an arbitrary string. </p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BillExpirationException",
        "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestChangedException",
        "documentation" : "<p>Your request parameters changed between pages. Try again with the old parameters or without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetTagsRequest",
        "variableName" : "getTagsRequest",
        "variableType" : "GetTagsRequest",
        "documentation" : "",
        "simpleType" : "GetTagsRequest",
        "variableSetterType" : "GetTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTags",
      "operationName" : "GetTags",
      "returnType" : {
        "returnType" : "GetTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTagsResult"
    }
  },
  "shapes" : {
    "AccountScope" : {
      "c2jName" : "AccountScope",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "PAYER",
        "value" : "PAYER"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccountScope",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AccountScope",
        "variableName" : "accountScope",
        "variableType" : "AccountScope",
        "documentation" : null,
        "simpleType" : "AccountScope",
        "variableSetterType" : "AccountScope"
      },
      "wrapper" : false
    },
    "BillExpirationException" : {
      "c2jName" : "BillExpirationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
      "enums" : null,
      "errorCode" : "BillExpirationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BillExpirationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BillExpirationException",
        "variableName" : "billExpirationException",
        "variableType" : "BillExpirationException",
        "documentation" : null,
        "simpleType" : "BillExpirationException",
        "variableSetterType" : "BillExpirationException"
      },
      "wrapper" : false
    },
    "Context" : {
      "c2jName" : "Context",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "COST_AND_USAGE",
        "value" : "COST_AND_USAGE"
      }, {
        "name" : "RESERVATIONS",
        "value" : "RESERVATIONS"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Context",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Context",
        "variableName" : "context",
        "variableType" : "Context",
        "documentation" : null,
        "simpleType" : "Context",
        "variableSetterType" : "Context"
      },
      "wrapper" : false
    },
    "Coverage" : {
      "c2jName" : "Coverage",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The amount of instance usage that a reservation covered.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CoverageHours",
        "c2jShape" : "CoverageHours",
        "deprecated" : false,
        "documentation" : "<p>The amount of instance usage that a reservation covered, in hours.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The amount of instance usage that a reservation covered, in hours.</p>\n@param coverageHours The amount of instance usage that a reservation covered, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCoverageHours",
        "getterDocumentation" : "/**<p>The amount of instance usage that a reservation covered, in hours.</p>\n@return The amount of instance usage that a reservation covered, in hours.*/",
        "getterMethodName" : "getCoverageHours",
        "getterModel" : {
          "returnType" : "CoverageHours",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CoverageHours",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CoverageHours",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CoverageHours",
        "setterDocumentation" : "/**<p>The amount of instance usage that a reservation covered, in hours.</p>\n@param coverageHours The amount of instance usage that a reservation covered, in hours.*/",
        "setterMethodName" : "setCoverageHours",
        "setterModel" : {
          "variableDeclarationType" : "CoverageHours",
          "variableName" : "coverageHours",
          "variableType" : "CoverageHours",
          "documentation" : "",
          "simpleType" : "CoverageHours",
          "variableSetterType" : "CoverageHours"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The amount of instance usage that a reservation covered, in hours.</p>\n@param coverageHours The amount of instance usage that a reservation covered, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "CoverageHours",
          "variableName" : "coverageHours",
          "variableType" : "CoverageHours",
          "documentation" : "<p>The amount of instance usage that a reservation covered, in hours.</p>",
          "simpleType" : "CoverageHours",
          "variableSetterType" : "CoverageHours"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CoverageHours" : {
          "c2jName" : "CoverageHours",
          "c2jShape" : "CoverageHours",
          "deprecated" : false,
          "documentation" : "<p>The amount of instance usage that a reservation covered, in hours.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The amount of instance usage that a reservation covered, in hours.</p>\n@param coverageHours The amount of instance usage that a reservation covered, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCoverageHours",
          "getterDocumentation" : "/**<p>The amount of instance usage that a reservation covered, in hours.</p>\n@return The amount of instance usage that a reservation covered, in hours.*/",
          "getterMethodName" : "getCoverageHours",
          "getterModel" : {
            "returnType" : "CoverageHours",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CoverageHours",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CoverageHours",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CoverageHours",
          "setterDocumentation" : "/**<p>The amount of instance usage that a reservation covered, in hours.</p>\n@param coverageHours The amount of instance usage that a reservation covered, in hours.*/",
          "setterMethodName" : "setCoverageHours",
          "setterModel" : {
            "variableDeclarationType" : "CoverageHours",
            "variableName" : "coverageHours",
            "variableType" : "CoverageHours",
            "documentation" : "",
            "simpleType" : "CoverageHours",
            "variableSetterType" : "CoverageHours"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The amount of instance usage that a reservation covered, in hours.</p>\n@param coverageHours The amount of instance usage that a reservation covered, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "CoverageHours",
            "variableName" : "coverageHours",
            "variableType" : "CoverageHours",
            "documentation" : "<p>The amount of instance usage that a reservation covered, in hours.</p>",
            "simpleType" : "CoverageHours",
            "variableSetterType" : "CoverageHours"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Coverage",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Coverage",
        "variableName" : "coverage",
        "variableType" : "Coverage",
        "documentation" : null,
        "simpleType" : "Coverage",
        "variableSetterType" : "Coverage"
      },
      "wrapper" : false
    },
    "CoverageByTime" : {
      "c2jName" : "CoverageByTime",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Reservation coverage for a specified period, in hours.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "TimePeriod",
        "c2jShape" : "DateInterval",
        "deprecated" : false,
        "documentation" : "<p>The period over which this coverage was used.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The period over which this coverage was used.</p>\n@param timePeriod The period over which this coverage was used.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTimePeriod",
        "getterDocumentation" : "/**<p>The period over which this coverage was used.</p>\n@return The period over which this coverage was used.*/",
        "getterMethodName" : "getTimePeriod",
        "getterModel" : {
          "returnType" : "DateInterval",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TimePeriod",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TimePeriod",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TimePeriod",
        "setterDocumentation" : "/**<p>The period over which this coverage was used.</p>\n@param timePeriod The period over which this coverage was used.*/",
        "setterMethodName" : "setTimePeriod",
        "setterModel" : {
          "variableDeclarationType" : "DateInterval",
          "variableName" : "timePeriod",
          "variableType" : "DateInterval",
          "documentation" : "",
          "simpleType" : "DateInterval",
          "variableSetterType" : "DateInterval"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The period over which this coverage was used.</p>\n@param timePeriod The period over which this coverage was used.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "DateInterval",
          "variableName" : "timePeriod",
          "variableType" : "DateInterval",
          "documentation" : "<p>The period over which this coverage was used.</p>",
          "simpleType" : "DateInterval",
          "variableSetterType" : "DateInterval"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Groups",
        "c2jShape" : "ReservationCoverageGroups",
        "deprecated" : false,
        "documentation" : "<p>The groups of instances that are covered by a reservation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The groups of instances that are covered by a reservation.</p>\n@param groups The groups of instances that are covered by a reservation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGroups",
        "getterDocumentation" : "/**<p>The groups of instances that are covered by a reservation.</p>\n@return The groups of instances that are covered by a reservation.*/",
        "getterMethodName" : "getGroups",
        "getterModel" : {
          "returnType" : "java.util.List<ReservationCoverageGroup>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Groups",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Groups",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ReservationCoverageGroup",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "ReservationCoverageGroup",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "ReservationCoverageGroup",
              "variableName" : "member",
              "variableType" : "ReservationCoverageGroup",
              "documentation" : "",
              "simpleType" : "ReservationCoverageGroup",
              "variableSetterType" : "ReservationCoverageGroup"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "ReservationCoverageGroup",
              "variableName" : "member",
              "variableType" : "ReservationCoverageGroup",
              "documentation" : "",
              "simpleType" : "ReservationCoverageGroup",
              "variableSetterType" : "ReservationCoverageGroup"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "ReservationCoverageGroup",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "ReservationCoverageGroup",
          "templateImplType" : "java.util.ArrayList<ReservationCoverageGroup>",
          "templateType" : "java.util.List<ReservationCoverageGroup>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Groups",
        "setterDocumentation" : "/**<p>The groups of instances that are covered by a reservation.</p>\n@param groups The groups of instances that are covered by a reservation.*/",
        "setterMethodName" : "setGroups",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<ReservationCoverageGroup>",
          "variableName" : "groups",
          "variableType" : "java.util.List<ReservationCoverageGroup>",
          "documentation" : "",
          "simpleType" : "List<ReservationCoverageGroup>",
          "variableSetterType" : "java.util.Collection<ReservationCoverageGroup>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The groups of instances that are covered by a reservation.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setGroups(java.util.Collection)} or {@link #withGroups(java.util.Collection)} if you want to override the existing values.</p>\n@param groups The groups of instances that are covered by a reservation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<ReservationCoverageGroup>",
          "variableName" : "groups",
          "variableType" : "java.util.List<ReservationCoverageGroup>",
          "documentation" : "<p>The groups of instances that are covered by a reservation.</p>",
          "simpleType" : "List<ReservationCoverageGroup>",
          "variableSetterType" : "java.util.Collection<ReservationCoverageGroup>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Total",
        "c2jShape" : "Coverage",
        "deprecated" : false,
        "documentation" : "<p>The total reservation coverage, in hours.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@param total The total reservation coverage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTotal",
        "getterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@return The total reservation coverage, in hours.*/",
        "getterMethodName" : "getTotal",
        "getterModel" : {
          "returnType" : "Coverage",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Total",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Total",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Total",
        "setterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@param total The total reservation coverage, in hours.*/",
        "setterMethodName" : "setTotal",
        "setterModel" : {
          "variableDeclarationType" : "Coverage",
          "variableName" : "total",
          "variableType" : "Coverage",
          "documentation" : "",
          "simpleType" : "Coverage",
          "variableSetterType" : "Coverage"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@param total The total reservation coverage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Coverage",
          "variableName" : "total",
          "variableType" : "Coverage",
          "documentation" : "<p>The total reservation coverage, in hours.</p>",
          "simpleType" : "Coverage",
          "variableSetterType" : "Coverage"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Groups" : {
          "c2jName" : "Groups",
          "c2jShape" : "ReservationCoverageGroups",
          "deprecated" : false,
          "documentation" : "<p>The groups of instances that are covered by a reservation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The groups of instances that are covered by a reservation.</p>\n@param groups The groups of instances that are covered by a reservation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGroups",
          "getterDocumentation" : "/**<p>The groups of instances that are covered by a reservation.</p>\n@return The groups of instances that are covered by a reservation.*/",
          "getterMethodName" : "getGroups",
          "getterModel" : {
            "returnType" : "java.util.List<ReservationCoverageGroup>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Groups",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Groups",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ReservationCoverageGroup",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "ReservationCoverageGroup",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "ReservationCoverageGroup",
                "variableName" : "member",
                "variableType" : "ReservationCoverageGroup",
                "documentation" : "",
                "simpleType" : "ReservationCoverageGroup",
                "variableSetterType" : "ReservationCoverageGroup"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "ReservationCoverageGroup",
                "variableName" : "member",
                "variableType" : "ReservationCoverageGroup",
                "documentation" : "",
                "simpleType" : "ReservationCoverageGroup",
                "variableSetterType" : "ReservationCoverageGroup"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "ReservationCoverageGroup",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "ReservationCoverageGroup",
            "templateImplType" : "java.util.ArrayList<ReservationCoverageGroup>",
            "templateType" : "java.util.List<ReservationCoverageGroup>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Groups",
          "setterDocumentation" : "/**<p>The groups of instances that are covered by a reservation.</p>\n@param groups The groups of instances that are covered by a reservation.*/",
          "setterMethodName" : "setGroups",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<ReservationCoverageGroup>",
            "variableName" : "groups",
            "variableType" : "java.util.List<ReservationCoverageGroup>",
            "documentation" : "",
            "simpleType" : "List<ReservationCoverageGroup>",
            "variableSetterType" : "java.util.Collection<ReservationCoverageGroup>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The groups of instances that are covered by a reservation.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setGroups(java.util.Collection)} or {@link #withGroups(java.util.Collection)} if you want to override the existing values.</p>\n@param groups The groups of instances that are covered by a reservation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<ReservationCoverageGroup>",
            "variableName" : "groups",
            "variableType" : "java.util.List<ReservationCoverageGroup>",
            "documentation" : "<p>The groups of instances that are covered by a reservation.</p>",
            "simpleType" : "List<ReservationCoverageGroup>",
            "variableSetterType" : "java.util.Collection<ReservationCoverageGroup>"
          },
          "xmlNameSpaceUri" : null
        },
        "TimePeriod" : {
          "c2jName" : "TimePeriod",
          "c2jShape" : "DateInterval",
          "deprecated" : false,
          "documentation" : "<p>The period over which this coverage was used.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The period over which this coverage was used.</p>\n@param timePeriod The period over which this coverage was used.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTimePeriod",
          "getterDocumentation" : "/**<p>The period over which this coverage was used.</p>\n@return The period over which this coverage was used.*/",
          "getterMethodName" : "getTimePeriod",
          "getterModel" : {
            "returnType" : "DateInterval",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TimePeriod",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TimePeriod",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "TimePeriod",
          "setterDocumentation" : "/**<p>The period over which this coverage was used.</p>\n@param timePeriod The period over which this coverage was used.*/",
          "setterMethodName" : "setTimePeriod",
          "setterModel" : {
            "variableDeclarationType" : "DateInterval",
            "variableName" : "timePeriod",
            "variableType" : "DateInterval",
            "documentation" : "",
            "simpleType" : "DateInterval",
            "variableSetterType" : "DateInterval"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The period over which this coverage was used.</p>\n@param timePeriod The period over which this coverage was used.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "DateInterval",
            "variableName" : "timePeriod",
            "variableType" : "DateInterval",
            "documentation" : "<p>The period over which this coverage was used.</p>",
            "simpleType" : "DateInterval",
            "variableSetterType" : "DateInterval"
          },
          "xmlNameSpaceUri" : null
        },
        "Total" : {
          "c2jName" : "Total",
          "c2jShape" : "Coverage",
          "deprecated" : false,
          "documentation" : "<p>The total reservation coverage, in hours.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@param total The total reservation coverage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTotal",
          "getterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@return The total reservation coverage, in hours.*/",
          "getterMethodName" : "getTotal",
          "getterModel" : {
            "returnType" : "Coverage",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Total",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Total",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Total",
          "setterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@param total The total reservation coverage, in hours.*/",
          "setterMethodName" : "setTotal",
          "setterModel" : {
            "variableDeclarationType" : "Coverage",
            "variableName" : "total",
            "variableType" : "Coverage",
            "documentation" : "",
            "simpleType" : "Coverage",
            "variableSetterType" : "Coverage"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@param total The total reservation coverage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Coverage",
            "variableName" : "total",
            "variableType" : "Coverage",
            "documentation" : "<p>The total reservation coverage, in hours.</p>",
            "simpleType" : "Coverage",
            "variableSetterType" : "Coverage"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CoverageByTime",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CoverageByTime",
        "variableName" : "coverageByTime",
        "variableType" : "CoverageByTime",
        "documentation" : null,
        "simpleType" : "CoverageByTime",
        "variableSetterType" : "CoverageByTime"
      },
      "wrapper" : false
    },
    "CoverageHours" : {
      "c2jName" : "CoverageHours",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>How long a running instance either used a reservation or was On-Demand.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "OnDemandHours",
        "c2jShape" : "OnDemandHours",
        "deprecated" : false,
        "documentation" : "<p>The number of instance running hours that are covered by On-Demand Instances.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of instance running hours that are covered by On-Demand Instances.</p>\n@param onDemandHours The number of instance running hours that are covered by On-Demand Instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOnDemandHours",
        "getterDocumentation" : "/**<p>The number of instance running hours that are covered by On-Demand Instances.</p>\n@return The number of instance running hours that are covered by On-Demand Instances.*/",
        "getterMethodName" : "getOnDemandHours",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "OnDemandHours",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OnDemandHours",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OnDemandHours",
        "setterDocumentation" : "/**<p>The number of instance running hours that are covered by On-Demand Instances.</p>\n@param onDemandHours The number of instance running hours that are covered by On-Demand Instances.*/",
        "setterMethodName" : "setOnDemandHours",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "onDemandHours",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of instance running hours that are covered by On-Demand Instances.</p>\n@param onDemandHours The number of instance running hours that are covered by On-Demand Instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "onDemandHours",
          "variableType" : "String",
          "documentation" : "<p>The number of instance running hours that are covered by On-Demand Instances.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ReservedHours",
        "c2jShape" : "ReservedHours",
        "deprecated" : false,
        "documentation" : "<p>The number of instance running hours that are covered by reservations.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of instance running hours that are covered by reservations.</p>\n@param reservedHours The number of instance running hours that are covered by reservations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReservedHours",
        "getterDocumentation" : "/**<p>The number of instance running hours that are covered by reservations.</p>\n@return The number of instance running hours that are covered by reservations.*/",
        "getterMethodName" : "getReservedHours",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ReservedHours",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ReservedHours",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReservedHours",
        "setterDocumentation" : "/**<p>The number of instance running hours that are covered by reservations.</p>\n@param reservedHours The number of instance running hours that are covered by reservations.*/",
        "setterMethodName" : "setReservedHours",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "reservedHours",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of instance running hours that are covered by reservations.</p>\n@param reservedHours The number of instance running hours that are covered by reservations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "reservedHours",
          "variableType" : "String",
          "documentation" : "<p>The number of instance running hours that are covered by reservations.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TotalRunningHours",
        "c2jShape" : "TotalRunningHours",
        "deprecated" : false,
        "documentation" : "<p>The total instance usage, in hours.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The total instance usage, in hours.</p>\n@param totalRunningHours The total instance usage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTotalRunningHours",
        "getterDocumentation" : "/**<p>The total instance usage, in hours.</p>\n@return The total instance usage, in hours.*/",
        "getterMethodName" : "getTotalRunningHours",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TotalRunningHours",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TotalRunningHours",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TotalRunningHours",
        "setterDocumentation" : "/**<p>The total instance usage, in hours.</p>\n@param totalRunningHours The total instance usage, in hours.*/",
        "setterMethodName" : "setTotalRunningHours",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "totalRunningHours",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The total instance usage, in hours.</p>\n@param totalRunningHours The total instance usage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "totalRunningHours",
          "variableType" : "String",
          "documentation" : "<p>The total instance usage, in hours.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CoverageHoursPercentage",
        "c2jShape" : "CoverageHoursPercentage",
        "deprecated" : false,
        "documentation" : "<p>The percentage of instance hours that are covered by a reservation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The percentage of instance hours that are covered by a reservation.</p>\n@param coverageHoursPercentage The percentage of instance hours that are covered by a reservation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCoverageHoursPercentage",
        "getterDocumentation" : "/**<p>The percentage of instance hours that are covered by a reservation.</p>\n@return The percentage of instance hours that are covered by a reservation.*/",
        "getterMethodName" : "getCoverageHoursPercentage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CoverageHoursPercentage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CoverageHoursPercentage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CoverageHoursPercentage",
        "setterDocumentation" : "/**<p>The percentage of instance hours that are covered by a reservation.</p>\n@param coverageHoursPercentage The percentage of instance hours that are covered by a reservation.*/",
        "setterMethodName" : "setCoverageHoursPercentage",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "coverageHoursPercentage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The percentage of instance hours that are covered by a reservation.</p>\n@param coverageHoursPercentage The percentage of instance hours that are covered by a reservation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "coverageHoursPercentage",
          "variableType" : "String",
          "documentation" : "<p>The percentage of instance hours that are covered by a reservation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CoverageHoursPercentage" : {
          "c2jName" : "CoverageHoursPercentage",
          "c2jShape" : "CoverageHoursPercentage",
          "deprecated" : false,
          "documentation" : "<p>The percentage of instance hours that are covered by a reservation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The percentage of instance hours that are covered by a reservation.</p>\n@param coverageHoursPercentage The percentage of instance hours that are covered by a reservation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCoverageHoursPercentage",
          "getterDocumentation" : "/**<p>The percentage of instance hours that are covered by a reservation.</p>\n@return The percentage of instance hours that are covered by a reservation.*/",
          "getterMethodName" : "getCoverageHoursPercentage",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CoverageHoursPercentage",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CoverageHoursPercentage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CoverageHoursPercentage",
          "setterDocumentation" : "/**<p>The percentage of instance hours that are covered by a reservation.</p>\n@param coverageHoursPercentage The percentage of instance hours that are covered by a reservation.*/",
          "setterMethodName" : "setCoverageHoursPercentage",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "coverageHoursPercentage",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The percentage of instance hours that are covered by a reservation.</p>\n@param coverageHoursPercentage The percentage of instance hours that are covered by a reservation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "coverageHoursPercentage",
            "variableType" : "String",
            "documentation" : "<p>The percentage of instance hours that are covered by a reservation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "OnDemandHours" : {
          "c2jName" : "OnDemandHours",
          "c2jShape" : "OnDemandHours",
          "deprecated" : false,
          "documentation" : "<p>The number of instance running hours that are covered by On-Demand Instances.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of instance running hours that are covered by On-Demand Instances.</p>\n@param onDemandHours The number of instance running hours that are covered by On-Demand Instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOnDemandHours",
          "getterDocumentation" : "/**<p>The number of instance running hours that are covered by On-Demand Instances.</p>\n@return The number of instance running hours that are covered by On-Demand Instances.*/",
          "getterMethodName" : "getOnDemandHours",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "OnDemandHours",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "OnDemandHours",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OnDemandHours",
          "setterDocumentation" : "/**<p>The number of instance running hours that are covered by On-Demand Instances.</p>\n@param onDemandHours The number of instance running hours that are covered by On-Demand Instances.*/",
          "setterMethodName" : "setOnDemandHours",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "onDemandHours",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The number of instance running hours that are covered by On-Demand Instances.</p>\n@param onDemandHours The number of instance running hours that are covered by On-Demand Instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "onDemandHours",
            "variableType" : "String",
            "documentation" : "<p>The number of instance running hours that are covered by On-Demand Instances.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ReservedHours" : {
          "c2jName" : "ReservedHours",
          "c2jShape" : "ReservedHours",
          "deprecated" : false,
          "documentation" : "<p>The number of instance running hours that are covered by reservations.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of instance running hours that are covered by reservations.</p>\n@param reservedHours The number of instance running hours that are covered by reservations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReservedHours",
          "getterDocumentation" : "/**<p>The number of instance running hours that are covered by reservations.</p>\n@return The number of instance running hours that are covered by reservations.*/",
          "getterMethodName" : "getReservedHours",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ReservedHours",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ReservedHours",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ReservedHours",
          "setterDocumentation" : "/**<p>The number of instance running hours that are covered by reservations.</p>\n@param reservedHours The number of instance running hours that are covered by reservations.*/",
          "setterMethodName" : "setReservedHours",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "reservedHours",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The number of instance running hours that are covered by reservations.</p>\n@param reservedHours The number of instance running hours that are covered by reservations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "reservedHours",
            "variableType" : "String",
            "documentation" : "<p>The number of instance running hours that are covered by reservations.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TotalRunningHours" : {
          "c2jName" : "TotalRunningHours",
          "c2jShape" : "TotalRunningHours",
          "deprecated" : false,
          "documentation" : "<p>The total instance usage, in hours.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The total instance usage, in hours.</p>\n@param totalRunningHours The total instance usage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTotalRunningHours",
          "getterDocumentation" : "/**<p>The total instance usage, in hours.</p>\n@return The total instance usage, in hours.*/",
          "getterMethodName" : "getTotalRunningHours",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TotalRunningHours",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TotalRunningHours",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TotalRunningHours",
          "setterDocumentation" : "/**<p>The total instance usage, in hours.</p>\n@param totalRunningHours The total instance usage, in hours.*/",
          "setterMethodName" : "setTotalRunningHours",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "totalRunningHours",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The total instance usage, in hours.</p>\n@param totalRunningHours The total instance usage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "totalRunningHours",
            "variableType" : "String",
            "documentation" : "<p>The total instance usage, in hours.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CoverageHours",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CoverageHours",
        "variableName" : "coverageHours",
        "variableType" : "CoverageHours",
        "documentation" : null,
        "simpleType" : "CoverageHours",
        "variableSetterType" : "CoverageHours"
      },
      "wrapper" : false
    },
    "DataUnavailableException" : {
      "c2jName" : "DataUnavailableException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The requested data is unavailable.</p>",
      "enums" : null,
      "errorCode" : "DataUnavailableException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DataUnavailableException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "DataUnavailableException",
        "variableName" : "dataUnavailableException",
        "variableType" : "DataUnavailableException",
        "documentation" : null,
        "simpleType" : "DataUnavailableException",
        "variableSetterType" : "DataUnavailableException"
      },
      "wrapper" : false
    },
    "DateInterval" : {
      "c2jName" : "DateInterval",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The time period that you want the usage and costs for. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Start",
        "c2jShape" : "YearMonthDay",
        "deprecated" : false,
        "documentation" : "<p>The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.</p>\n@param start The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStart",
        "getterDocumentation" : "/**<p>The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.</p>\n@return The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.*/",
        "getterMethodName" : "getStart",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Start",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Start",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Start",
        "setterDocumentation" : "/**<p>The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.</p>\n@param start The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.*/",
        "setterMethodName" : "setStart",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "start",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.</p>\n@param start The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "start",
          "variableType" : "String",
          "documentation" : "<p>The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "End",
        "c2jShape" : "YearMonthDay",
        "deprecated" : false,
        "documentation" : "<p>The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>\n@param end The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnd",
        "getterDocumentation" : "/**<p>The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>\n@return The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.*/",
        "getterMethodName" : "getEnd",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "End",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "End",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "End",
        "setterDocumentation" : "/**<p>The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>\n@param end The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.*/",
        "setterMethodName" : "setEnd",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "end",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>\n@param end The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "end",
          "variableType" : "String",
          "documentation" : "<p>The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "End" : {
          "c2jName" : "End",
          "c2jShape" : "YearMonthDay",
          "deprecated" : false,
          "documentation" : "<p>The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>\n@param end The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEnd",
          "getterDocumentation" : "/**<p>The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>\n@return The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.*/",
          "getterMethodName" : "getEnd",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "End",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "End",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "End",
[...]
