{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-10-25",
    "asyncClient" : "AWSCostExplorerAsyncClient",
    "asyncClientBuilderClassName" : "AWSCostExplorerAsyncClientBuilder",
    "asyncInterface" : "AWSCostExplorerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCostExplorerModuleInjector",
    "defaultEndpoint" : "ce.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ce.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Cost Explorer API enables you to programmatically query your cost and usage data. You can query for aggregated data such as total monthly costs or total daily usage. You can also query for granular data, such as the number of daily write operations for Amazon DynamoDB database tables in your production environment. </p> <p>Service Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul> <li> <p> <code>https://ce.us-east-1.amazonaws.com</code> </p> </li> </ul> <p>For information about costs associated with the Cost Explorer API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
    "endpointPrefix" : "ce",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.costexplorer",
    "packagePath" : "com/amazonaws/services/costexplorer",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS Cost Explorer",
    "serviceFullName" : "AWS Cost Explorer Service",
    "serviceId" : "Cost Explorer",
    "serviceName" : "AWS Cost Explorer",
    "signingName" : "ce",
    "smokeTestsPackageName" : "com.amazonaws.services.costexplorer.smoketests",
    "syncClient" : "AWSCostExplorerClient",
    "syncClientBuilderClassName" : "AWSCostExplorerClientBuilder",
    "syncInterface" : "AWSCostExplorer",
    "uid" : "ce-2017-10-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetCostAndUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCostAndUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCostAndUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCostAndUsageRequest, GetCostAndUsageResult>",
      "asyncReturnType" : "GetCostAndUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves cost and usage metrics for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Master accounts in an organization in AWS Organizations have access to all member accounts.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BillExpirationException",
        "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestChangedException",
        "documentation" : "<p>Your request parameters changed between pages. Try again with the old parameters or without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCostAndUsageRequest",
        "variableName" : "getCostAndUsageRequest",
        "variableType" : "GetCostAndUsageRequest",
        "documentation" : "",
        "simpleType" : "GetCostAndUsageRequest",
        "variableSetterType" : "GetCostAndUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCostAndUsage",
      "operationName" : "GetCostAndUsage",
      "returnType" : {
        "returnType" : "GetCostAndUsageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCostAndUsageResult"
    },
    "GetCostForecast" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCostForecastResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCostForecastResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCostForecastRequest, GetCostForecastResult>",
      "asyncReturnType" : "GetCostForecastResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a forecast for how much Amazon Web Services predicts that you will spend over the forecast time period that you select, based on your past costs. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCostForecastRequest",
        "variableName" : "getCostForecastRequest",
        "variableType" : "GetCostForecastRequest",
        "documentation" : "",
        "simpleType" : "GetCostForecastRequest",
        "variableSetterType" : "GetCostForecastRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCostForecast",
      "operationName" : "GetCostForecast",
      "returnType" : {
        "returnType" : "GetCostForecastResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCostForecastResult"
    },
    "GetDimensionValues" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDimensionValuesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDimensionValuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDimensionValuesRequest, GetDimensionValuesResult>",
      "asyncReturnType" : "GetDimensionValuesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all available filter values for a specified filter over a period of time. You can search the dimension values for an arbitrary string. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BillExpirationException",
        "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestChangedException",
        "documentation" : "<p>Your request parameters changed between pages. Try again with the old parameters or without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDimensionValuesRequest",
        "variableName" : "getDimensionValuesRequest",
        "variableType" : "GetDimensionValuesRequest",
        "documentation" : "",
        "simpleType" : "GetDimensionValuesRequest",
        "variableSetterType" : "GetDimensionValuesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDimensionValues",
      "operationName" : "GetDimensionValues",
      "returnType" : {
        "returnType" : "GetDimensionValuesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDimensionValuesResult"
    },
    "GetReservationCoverage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReservationCoverageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReservationCoverageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReservationCoverageRequest, GetReservationCoverageResult>",
      "asyncReturnType" : "GetReservationCoverageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the reservation coverage for your account. This enables you to see how much of your Amazon Elastic Compute Cloud, Amazon ElastiCache, Amazon Relational Database Service, or Amazon Redshift usage is covered by a reservation. An organization's master account can see the coverage of the associated member accounts. For any time period, you can filter data about reservation usage by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReservationCoverageRequest",
        "variableName" : "getReservationCoverageRequest",
        "variableType" : "GetReservationCoverageRequest",
        "documentation" : "<p>You can use the following request parameters to query for how much of your instance usage a reservation covered.</p>",
        "simpleType" : "GetReservationCoverageRequest",
        "variableSetterType" : "GetReservationCoverageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReservationCoverage",
      "operationName" : "GetReservationCoverage",
      "returnType" : {
        "returnType" : "GetReservationCoverageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReservationCoverageResult"
    },
    "GetReservationPurchaseRecommendation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReservationPurchaseRecommendationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReservationPurchaseRecommendationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReservationPurchaseRecommendationRequest, GetReservationPurchaseRecommendationResult>",
      "asyncReturnType" : "GetReservationPurchaseRecommendationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets recommendations for which reservations to purchase. These recommendations could help you reduce your costs. Reservations provide a discounted hourly rate (up to 75%) compared to On-Demand pricing.</p> <p>AWS generates your recommendations by identifying your On-Demand usage during a specific time period and collecting your usage into categories that are eligible for a reservation. After AWS has these categories, it simulates every combination of reservations in each category of usage to identify the best number of each type of RI to purchase to maximize your estimated savings. </p> <p>For example, AWS automatically aggregates your Amazon EC2 Linux, shared tenancy, and c4 family usage in the US West (Oregon) Region and recommends that you buy size-flexible regional reservations to apply to the c4 family usage. AWS recommends the smallest size instance in an instance family. This makes it easier to purchase a size-flexible RI. AWS also shows the equal number of normalized units so that you can purchase any instance size that you want. For this example, your RI recommendation would be for <code>c4.large</code> because that is the smallest size instance in the c4 instance family.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReservationPurchaseRecommendationRequest",
        "variableName" : "getReservationPurchaseRecommendationRequest",
        "variableType" : "GetReservationPurchaseRecommendationRequest",
        "documentation" : "",
        "simpleType" : "GetReservationPurchaseRecommendationRequest",
        "variableSetterType" : "GetReservationPurchaseRecommendationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReservationPurchaseRecommendation",
      "operationName" : "GetReservationPurchaseRecommendation",
      "returnType" : {
        "returnType" : "GetReservationPurchaseRecommendationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReservationPurchaseRecommendationResult"
    },
    "GetReservationUtilization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReservationUtilizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReservationUtilizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReservationUtilizationRequest, GetReservationUtilizationResult>",
      "asyncReturnType" : "GetReservationUtilizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the reservation utilization for your account. Master accounts in an organization have access to member accounts. You can filter data by dimensions in a time period. You can use <code>GetDimensionValues</code> to determine the possible dimension values. Currently, you can group only by <code>SUBSCRIPTION_ID</code>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReservationUtilizationRequest",
        "variableName" : "getReservationUtilizationRequest",
        "variableType" : "GetReservationUtilizationRequest",
        "documentation" : "",
        "simpleType" : "GetReservationUtilizationRequest",
        "variableSetterType" : "GetReservationUtilizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReservationUtilization",
      "operationName" : "GetReservationUtilization",
      "returnType" : {
        "returnType" : "GetReservationUtilizationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReservationUtilizationResult"
    },
    "GetTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTagsRequest, GetTagsResult>",
      "asyncReturnType" : "GetTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Queries for available tag keys and tag values for a specified period. You can search the tag values for an arbitrary string. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You made too many calls in a short period of time. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BillExpirationException",
        "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataUnavailableException",
        "documentation" : "<p>The requested data is unavailable.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestChangedException",
        "documentation" : "<p>Your request parameters changed between pages. Try again with the old parameters or without a pagination token.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTagsRequest",
        "variableName" : "getTagsRequest",
        "variableType" : "GetTagsRequest",
        "documentation" : "",
        "simpleType" : "GetTagsRequest",
        "variableSetterType" : "GetTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTags",
      "operationName" : "GetTags",
      "returnType" : {
        "returnType" : "GetTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTagsResult"
    }
  },
  "shapes" : {
    "AccountScope" : {
      "c2jName" : "AccountScope",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "PAYER",
        "value" : "PAYER"
      }, {
        "name" : "LINKED",
        "value" : "LINKED"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccountScope",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountScope",
        "variableName" : "accountScope",
        "variableType" : "AccountScope",
        "documentation" : null,
        "simpleType" : "AccountScope",
        "variableSetterType" : "AccountScope"
      },
      "wrapper" : false
    },
    "BillExpirationException" : {
      "c2jName" : "BillExpirationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The requested report expired. Update the date interval and try again.</p>",
      "enums" : null,
      "errorCode" : "BillExpirationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BillExpirationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BillExpirationException",
        "variableName" : "billExpirationException",
        "variableType" : "BillExpirationException",
        "documentation" : null,
        "simpleType" : "BillExpirationException",
        "variableSetterType" : "BillExpirationException"
      },
      "wrapper" : false
    },
    "Context" : {
      "c2jName" : "Context",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "COST_AND_USAGE",
        "value" : "COST_AND_USAGE"
      }, {
        "name" : "RESERVATIONS",
        "value" : "RESERVATIONS"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Context",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Context",
        "variableName" : "context",
        "variableType" : "Context",
        "documentation" : null,
        "simpleType" : "Context",
        "variableSetterType" : "Context"
      },
      "wrapper" : false
    },
    "Coverage" : {
      "c2jName" : "Coverage",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The amount of instance usage that a reservation covered.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CoverageHours",
        "c2jShape" : "CoverageHours",
        "deprecated" : false,
        "documentation" : "<p>The amount of instance usage that the reservation covered, in hours.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in hours.</p>\n@param coverageHours The amount of instance usage that the reservation covered, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCoverageHours",
        "getterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in hours.</p>\n@return The amount of instance usage that the reservation covered, in hours.*/",
        "getterMethodName" : "getCoverageHours",
        "getterModel" : {
          "returnType" : "CoverageHours",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CoverageHours",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CoverageHours",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CoverageHours",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in hours.</p>\n@param coverageHours The amount of instance usage that the reservation covered, in hours.*/",
        "setterMethodName" : "setCoverageHours",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CoverageHours",
          "variableName" : "coverageHours",
          "variableType" : "CoverageHours",
          "documentation" : "",
          "simpleType" : "CoverageHours",
          "variableSetterType" : "CoverageHours"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in hours.</p>\n@param coverageHours The amount of instance usage that the reservation covered, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CoverageHours",
          "variableName" : "coverageHours",
          "variableType" : "CoverageHours",
          "documentation" : "<p>The amount of instance usage that the reservation covered, in hours.</p>",
          "simpleType" : "CoverageHours",
          "variableSetterType" : "CoverageHours"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CoverageNormalizedUnits",
        "c2jShape" : "CoverageNormalizedUnits",
        "deprecated" : false,
        "documentation" : "<p>The amount of instance usage that the reservation covered, in normalized units.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in normalized units.</p>\n@param coverageNormalizedUnits The amount of instance usage that the reservation covered, in normalized units.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCoverageNormalizedUnits",
        "getterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in normalized units.</p>\n@return The amount of instance usage that the reservation covered, in normalized units.*/",
        "getterMethodName" : "getCoverageNormalizedUnits",
        "getterModel" : {
          "returnType" : "CoverageNormalizedUnits",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CoverageNormalizedUnits",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CoverageNormalizedUnits",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CoverageNormalizedUnits",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in normalized units.</p>\n@param coverageNormalizedUnits The amount of instance usage that the reservation covered, in normalized units.*/",
        "setterMethodName" : "setCoverageNormalizedUnits",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CoverageNormalizedUnits",
          "variableName" : "coverageNormalizedUnits",
          "variableType" : "CoverageNormalizedUnits",
          "documentation" : "",
          "simpleType" : "CoverageNormalizedUnits",
          "variableSetterType" : "CoverageNormalizedUnits"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in normalized units.</p>\n@param coverageNormalizedUnits The amount of instance usage that the reservation covered, in normalized units.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CoverageNormalizedUnits",
          "variableName" : "coverageNormalizedUnits",
          "variableType" : "CoverageNormalizedUnits",
          "documentation" : "<p>The amount of instance usage that the reservation covered, in normalized units.</p>",
          "simpleType" : "CoverageNormalizedUnits",
          "variableSetterType" : "CoverageNormalizedUnits"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CoverageCost",
        "c2jShape" : "CoverageCost",
        "deprecated" : false,
        "documentation" : "<p>The amount of cost that the reservation covered.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The amount of cost that the reservation covered.</p>\n@param coverageCost The amount of cost that the reservation covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCoverageCost",
        "getterDocumentation" : "/**<p>The amount of cost that the reservation covered.</p>\n@return The amount of cost that the reservation covered.*/",
        "getterMethodName" : "getCoverageCost",
        "getterModel" : {
          "returnType" : "CoverageCost",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CoverageCost",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CoverageCost",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CoverageCost",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The amount of cost that the reservation covered.</p>\n@param coverageCost The amount of cost that the reservation covered.*/",
        "setterMethodName" : "setCoverageCost",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CoverageCost",
          "variableName" : "coverageCost",
          "variableType" : "CoverageCost",
          "documentation" : "",
          "simpleType" : "CoverageCost",
          "variableSetterType" : "CoverageCost"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The amount of cost that the reservation covered.</p>\n@param coverageCost The amount of cost that the reservation covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CoverageCost",
          "variableName" : "coverageCost",
          "variableType" : "CoverageCost",
          "documentation" : "<p>The amount of cost that the reservation covered.</p>",
          "simpleType" : "CoverageCost",
          "variableSetterType" : "CoverageCost"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CoverageCost" : {
          "c2jName" : "CoverageCost",
          "c2jShape" : "CoverageCost",
          "deprecated" : false,
          "documentation" : "<p>The amount of cost that the reservation covered.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The amount of cost that the reservation covered.</p>\n@param coverageCost The amount of cost that the reservation covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCoverageCost",
          "getterDocumentation" : "/**<p>The amount of cost that the reservation covered.</p>\n@return The amount of cost that the reservation covered.*/",
          "getterMethodName" : "getCoverageCost",
          "getterModel" : {
            "returnType" : "CoverageCost",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CoverageCost",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CoverageCost",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CoverageCost",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The amount of cost that the reservation covered.</p>\n@param coverageCost The amount of cost that the reservation covered.*/",
          "setterMethodName" : "setCoverageCost",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CoverageCost",
            "variableName" : "coverageCost",
            "variableType" : "CoverageCost",
            "documentation" : "",
            "simpleType" : "CoverageCost",
            "variableSetterType" : "CoverageCost"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The amount of cost that the reservation covered.</p>\n@param coverageCost The amount of cost that the reservation covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CoverageCost",
            "variableName" : "coverageCost",
            "variableType" : "CoverageCost",
            "documentation" : "<p>The amount of cost that the reservation covered.</p>",
            "simpleType" : "CoverageCost",
            "variableSetterType" : "CoverageCost"
          },
          "xmlNameSpaceUri" : null
        },
        "CoverageHours" : {
          "c2jName" : "CoverageHours",
          "c2jShape" : "CoverageHours",
          "deprecated" : false,
          "documentation" : "<p>The amount of instance usage that the reservation covered, in hours.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in hours.</p>\n@param coverageHours The amount of instance usage that the reservation covered, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCoverageHours",
          "getterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in hours.</p>\n@return The amount of instance usage that the reservation covered, in hours.*/",
          "getterMethodName" : "getCoverageHours",
          "getterModel" : {
            "returnType" : "CoverageHours",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CoverageHours",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CoverageHours",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CoverageHours",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in hours.</p>\n@param coverageHours The amount of instance usage that the reservation covered, in hours.*/",
          "setterMethodName" : "setCoverageHours",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CoverageHours",
            "variableName" : "coverageHours",
            "variableType" : "CoverageHours",
            "documentation" : "",
            "simpleType" : "CoverageHours",
            "variableSetterType" : "CoverageHours"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in hours.</p>\n@param coverageHours The amount of instance usage that the reservation covered, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CoverageHours",
            "variableName" : "coverageHours",
            "variableType" : "CoverageHours",
            "documentation" : "<p>The amount of instance usage that the reservation covered, in hours.</p>",
            "simpleType" : "CoverageHours",
            "variableSetterType" : "CoverageHours"
          },
          "xmlNameSpaceUri" : null
        },
        "CoverageNormalizedUnits" : {
          "c2jName" : "CoverageNormalizedUnits",
          "c2jShape" : "CoverageNormalizedUnits",
          "deprecated" : false,
          "documentation" : "<p>The amount of instance usage that the reservation covered, in normalized units.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in normalized units.</p>\n@param coverageNormalizedUnits The amount of instance usage that the reservation covered, in normalized units.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCoverageNormalizedUnits",
          "getterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in normalized units.</p>\n@return The amount of instance usage that the reservation covered, in normalized units.*/",
          "getterMethodName" : "getCoverageNormalizedUnits",
          "getterModel" : {
            "returnType" : "CoverageNormalizedUnits",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CoverageNormalizedUnits",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CoverageNormalizedUnits",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CoverageNormalizedUnits",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in normalized units.</p>\n@param coverageNormalizedUnits The amount of instance usage that the reservation covered, in normalized units.*/",
          "setterMethodName" : "setCoverageNormalizedUnits",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CoverageNormalizedUnits",
            "variableName" : "coverageNormalizedUnits",
            "variableType" : "CoverageNormalizedUnits",
            "documentation" : "",
            "simpleType" : "CoverageNormalizedUnits",
            "variableSetterType" : "CoverageNormalizedUnits"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The amount of instance usage that the reservation covered, in normalized units.</p>\n@param coverageNormalizedUnits The amount of instance usage that the reservation covered, in normalized units.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CoverageNormalizedUnits",
            "variableName" : "coverageNormalizedUnits",
            "variableType" : "CoverageNormalizedUnits",
            "documentation" : "<p>The amount of instance usage that the reservation covered, in normalized units.</p>",
            "simpleType" : "CoverageNormalizedUnits",
            "variableSetterType" : "CoverageNormalizedUnits"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Coverage",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Coverage",
        "variableName" : "coverage",
        "variableType" : "Coverage",
        "documentation" : null,
        "simpleType" : "Coverage",
        "variableSetterType" : "Coverage"
      },
      "wrapper" : false
    },
    "CoverageByTime" : {
      "c2jName" : "CoverageByTime",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Reservation coverage for a specified period, in hours.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "TimePeriod",
        "c2jShape" : "DateInterval",
        "deprecated" : false,
        "documentation" : "<p>The period that this coverage was used over.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The period that this coverage was used over.</p>\n@param timePeriod The period that this coverage was used over.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTimePeriod",
        "getterDocumentation" : "/**<p>The period that this coverage was used over.</p>\n@return The period that this coverage was used over.*/",
        "getterMethodName" : "getTimePeriod",
        "getterModel" : {
          "returnType" : "DateInterval",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TimePeriod",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TimePeriod",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TimePeriod",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The period that this coverage was used over.</p>\n@param timePeriod The period that this coverage was used over.*/",
        "setterMethodName" : "setTimePeriod",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DateInterval",
          "variableName" : "timePeriod",
          "variableType" : "DateInterval",
          "documentation" : "",
          "simpleType" : "DateInterval",
          "variableSetterType" : "DateInterval"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The period that this coverage was used over.</p>\n@param timePeriod The period that this coverage was used over.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DateInterval",
          "variableName" : "timePeriod",
          "variableType" : "DateInterval",
          "documentation" : "<p>The period that this coverage was used over.</p>",
          "simpleType" : "DateInterval",
          "variableSetterType" : "DateInterval"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Groups",
        "c2jShape" : "ReservationCoverageGroups",
        "deprecated" : false,
        "documentation" : "<p>The groups of instances that the reservation covered.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The groups of instances that the reservation covered.</p>\n@param groups The groups of instances that the reservation covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGroups",
        "getterDocumentation" : "/**<p>The groups of instances that the reservation covered.</p>\n@return The groups of instances that the reservation covered.*/",
        "getterMethodName" : "getGroups",
        "getterModel" : {
          "returnType" : "java.util.List<ReservationCoverageGroup>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Groups",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Groups",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ReservationCoverageGroup",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "ReservationCoverageGroup",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ReservationCoverageGroup",
              "variableName" : "member",
              "variableType" : "ReservationCoverageGroup",
              "documentation" : "",
              "simpleType" : "ReservationCoverageGroup",
              "variableSetterType" : "ReservationCoverageGroup"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ReservationCoverageGroup",
              "variableName" : "member",
              "variableType" : "ReservationCoverageGroup",
              "documentation" : "",
              "simpleType" : "ReservationCoverageGroup",
              "variableSetterType" : "ReservationCoverageGroup"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "ReservationCoverageGroup",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "ReservationCoverageGroup",
          "templateImplType" : "java.util.ArrayList<ReservationCoverageGroup>",
          "templateType" : "java.util.List<ReservationCoverageGroup>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Groups",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The groups of instances that the reservation covered.</p>\n@param groups The groups of instances that the reservation covered.*/",
        "setterMethodName" : "setGroups",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ReservationCoverageGroup>",
          "variableName" : "groups",
          "variableType" : "java.util.List<ReservationCoverageGroup>",
          "documentation" : "",
          "simpleType" : "List<ReservationCoverageGroup>",
          "variableSetterType" : "java.util.Collection<ReservationCoverageGroup>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The groups of instances that the reservation covered.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setGroups(java.util.Collection)} or {@link #withGroups(java.util.Collection)} if you want to override the existing values.</p>\n@param groups The groups of instances that the reservation covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ReservationCoverageGroup>",
          "variableName" : "groups",
          "variableType" : "java.util.List<ReservationCoverageGroup>",
          "documentation" : "<p>The groups of instances that the reservation covered.</p>",
          "simpleType" : "List<ReservationCoverageGroup>",
          "variableSetterType" : "java.util.Collection<ReservationCoverageGroup>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Total",
        "c2jShape" : "Coverage",
        "deprecated" : false,
        "documentation" : "<p>The total reservation coverage, in hours.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@param total The total reservation coverage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTotal",
        "getterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@return The total reservation coverage, in hours.*/",
        "getterMethodName" : "getTotal",
        "getterModel" : {
          "returnType" : "Coverage",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Total",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Total",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Total",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@param total The total reservation coverage, in hours.*/",
        "setterMethodName" : "setTotal",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Coverage",
          "variableName" : "total",
          "variableType" : "Coverage",
          "documentation" : "",
          "simpleType" : "Coverage",
          "variableSetterType" : "Coverage"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@param total The total reservation coverage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Coverage",
          "variableName" : "total",
          "variableType" : "Coverage",
          "documentation" : "<p>The total reservation coverage, in hours.</p>",
          "simpleType" : "Coverage",
          "variableSetterType" : "Coverage"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Groups" : {
          "c2jName" : "Groups",
          "c2jShape" : "ReservationCoverageGroups",
          "deprecated" : false,
          "documentation" : "<p>The groups of instances that the reservation covered.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The groups of instances that the reservation covered.</p>\n@param groups The groups of instances that the reservation covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGroups",
          "getterDocumentation" : "/**<p>The groups of instances that the reservation covered.</p>\n@return The groups of instances that the reservation covered.*/",
          "getterMethodName" : "getGroups",
          "getterModel" : {
            "returnType" : "java.util.List<ReservationCoverageGroup>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Groups",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Groups",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ReservationCoverageGroup",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "ReservationCoverageGroup",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ReservationCoverageGroup",
                "variableName" : "member",
                "variableType" : "ReservationCoverageGroup",
                "documentation" : "",
                "simpleType" : "ReservationCoverageGroup",
                "variableSetterType" : "ReservationCoverageGroup"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ReservationCoverageGroup",
                "variableName" : "member",
                "variableType" : "ReservationCoverageGroup",
                "documentation" : "",
                "simpleType" : "ReservationCoverageGroup",
                "variableSetterType" : "ReservationCoverageGroup"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "ReservationCoverageGroup",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "ReservationCoverageGroup",
            "templateImplType" : "java.util.ArrayList<ReservationCoverageGroup>",
            "templateType" : "java.util.List<ReservationCoverageGroup>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Groups",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The groups of instances that the reservation covered.</p>\n@param groups The groups of instances that the reservation covered.*/",
          "setterMethodName" : "setGroups",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<ReservationCoverageGroup>",
            "variableName" : "groups",
            "variableType" : "java.util.List<ReservationCoverageGroup>",
            "documentation" : "",
            "simpleType" : "List<ReservationCoverageGroup>",
            "variableSetterType" : "java.util.Collection<ReservationCoverageGroup>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The groups of instances that the reservation covered.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setGroups(java.util.Collection)} or {@link #withGroups(java.util.Collection)} if you want to override the existing values.</p>\n@param groups The groups of instances that the reservation covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<ReservationCoverageGroup>",
            "variableName" : "groups",
            "variableType" : "java.util.List<ReservationCoverageGroup>",
            "documentation" : "<p>The groups of instances that the reservation covered.</p>",
            "simpleType" : "List<ReservationCoverageGroup>",
            "variableSetterType" : "java.util.Collection<ReservationCoverageGroup>"
          },
          "xmlNameSpaceUri" : null
        },
        "TimePeriod" : {
          "c2jName" : "TimePeriod",
          "c2jShape" : "DateInterval",
          "deprecated" : false,
          "documentation" : "<p>The period that this coverage was used over.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The period that this coverage was used over.</p>\n@param timePeriod The period that this coverage was used over.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTimePeriod",
          "getterDocumentation" : "/**<p>The period that this coverage was used over.</p>\n@return The period that this coverage was used over.*/",
          "getterMethodName" : "getTimePeriod",
          "getterModel" : {
            "returnType" : "DateInterval",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TimePeriod",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TimePeriod",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "TimePeriod",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The period that this coverage was used over.</p>\n@param timePeriod The period that this coverage was used over.*/",
          "setterMethodName" : "setTimePeriod",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DateInterval",
            "variableName" : "timePeriod",
            "variableType" : "DateInterval",
            "documentation" : "",
            "simpleType" : "DateInterval",
            "variableSetterType" : "DateInterval"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The period that this coverage was used over.</p>\n@param timePeriod The period that this coverage was used over.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DateInterval",
            "variableName" : "timePeriod",
            "variableType" : "DateInterval",
            "documentation" : "<p>The period that this coverage was used over.</p>",
            "simpleType" : "DateInterval",
            "variableSetterType" : "DateInterval"
          },
          "xmlNameSpaceUri" : null
        },
        "Total" : {
          "c2jName" : "Total",
          "c2jShape" : "Coverage",
          "deprecated" : false,
          "documentation" : "<p>The total reservation coverage, in hours.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@param total The total reservation coverage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTotal",
          "getterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@return The total reservation coverage, in hours.*/",
          "getterMethodName" : "getTotal",
          "getterModel" : {
            "returnType" : "Coverage",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Total",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Total",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Total",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@param total The total reservation coverage, in hours.*/",
          "setterMethodName" : "setTotal",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Coverage",
            "variableName" : "total",
            "variableType" : "Coverage",
            "documentation" : "",
            "simpleType" : "Coverage",
            "variableSetterType" : "Coverage"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The total reservation coverage, in hours.</p>\n@param total The total reservation coverage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Coverage",
            "variableName" : "total",
            "variableType" : "Coverage",
            "documentation" : "<p>The total reservation coverage, in hours.</p>",
            "simpleType" : "Coverage",
            "variableSetterType" : "Coverage"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CoverageByTime",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CoverageByTime",
        "variableName" : "coverageByTime",
        "variableType" : "CoverageByTime",
        "documentation" : null,
        "simpleType" : "CoverageByTime",
        "variableSetterType" : "CoverageByTime"
      },
      "wrapper" : false
    },
    "CoverageCost" : {
      "c2jName" : "CoverageCost",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>How much it cost to run an instance.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "OnDemandCost",
        "c2jShape" : "OnDemandCost",
        "deprecated" : false,
        "documentation" : "<p>How much an On-Demand instance cost.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>How much an On-Demand instance cost.</p>\n@param onDemandCost How much an On-Demand instance cost.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOnDemandCost",
        "getterDocumentation" : "/**<p>How much an On-Demand instance cost.</p>\n@return How much an On-Demand instance cost.*/",
        "getterMethodName" : "getOnDemandCost",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "OnDemandCost",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OnDemandCost",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OnDemandCost",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>How much an On-Demand instance cost.</p>\n@param onDemandCost How much an On-Demand instance cost.*/",
        "setterMethodName" : "setOnDemandCost",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "onDemandCost",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>How much an On-Demand instance cost.</p>\n@param onDemandCost How much an On-Demand instance cost.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "onDemandCost",
          "variableType" : "String",
          "documentation" : "<p>How much an On-Demand instance cost.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "OnDemandCost" : {
          "c2jName" : "OnDemandCost",
          "c2jShape" : "OnDemandCost",
          "deprecated" : false,
          "documentation" : "<p>How much an On-Demand instance cost.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>How much an On-Demand instance cost.</p>\n@param onDemandCost How much an On-Demand instance cost.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOnDemandCost",
          "getterDocumentation" : "/**<p>How much an On-Demand instance cost.</p>\n@return How much an On-Demand instance cost.*/",
          "getterMethodName" : "getOnDemandCost",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "OnDemandCost",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "OnDemandCost",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OnDemandCost",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>How much an On-Demand instance cost.</p>\n@param onDemandCost How much an On-Demand instance cost.*/",
          "setterMethodName" : "setOnDemandCost",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "onDemandCost",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>How much an On-Demand instance cost.</p>\n@param onDemandCost How much an On-Demand instance cost.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "onDemandCost",
            "variableType" : "String",
            "documentation" : "<p>How much an On-Demand instance cost.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CoverageCost",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CoverageCost",
        "variableName" : "coverageCost",
        "variableType" : "CoverageCost",
        "documentation" : null,
        "simpleType" : "CoverageCost",
        "variableSetterType" : "CoverageCost"
      },
      "wrapper" : false
    },
    "CoverageHours" : {
      "c2jName" : "CoverageHours",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>How long a running instance either used a reservation or was On-Demand.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "OnDemandHours",
        "c2jShape" : "OnDemandHours",
        "deprecated" : false,
        "documentation" : "<p>The number of instance running hours that On-Demand Instances covered.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of instance running hours that On-Demand Instances covered.</p>\n@param onDemandHours The number of instance running hours that On-Demand Instances covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOnDemandHours",
        "getterDocumentation" : "/**<p>The number of instance running hours that On-Demand Instances covered.</p>\n@return The number of instance running hours that On-Demand Instances covered.*/",
        "getterMethodName" : "getOnDemandHours",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "OnDemandHours",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OnDemandHours",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OnDemandHours",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of instance running hours that On-Demand Instances covered.</p>\n@param onDemandHours The number of instance running hours that On-Demand Instances covered.*/",
        "setterMethodName" : "setOnDemandHours",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "onDemandHours",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of instance running hours that On-Demand Instances covered.</p>\n@param onDemandHours The number of instance running hours that On-Demand Instances covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "onDemandHours",
          "variableType" : "String",
          "documentation" : "<p>The number of instance running hours that On-Demand Instances covered.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ReservedHours",
        "c2jShape" : "ReservedHours",
        "deprecated" : false,
        "documentation" : "<p>The number of instance running hours that reservations covered.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of instance running hours that reservations covered.</p>\n@param reservedHours The number of instance running hours that reservations covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReservedHours",
        "getterDocumentation" : "/**<p>The number of instance running hours that reservations covered.</p>\n@return The number of instance running hours that reservations covered.*/",
        "getterMethodName" : "getReservedHours",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ReservedHours",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ReservedHours",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReservedHours",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of instance running hours that reservations covered.</p>\n@param reservedHours The number of instance running hours that reservations covered.*/",
        "setterMethodName" : "setReservedHours",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reservedHours",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of instance running hours that reservations covered.</p>\n@param reservedHours The number of instance running hours that reservations covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reservedHours",
          "variableType" : "String",
          "documentation" : "<p>The number of instance running hours that reservations covered.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TotalRunningHours",
        "c2jShape" : "TotalRunningHours",
        "deprecated" : false,
        "documentation" : "<p>The total instance usage, in hours.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The total instance usage, in hours.</p>\n@param totalRunningHours The total instance usage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTotalRunningHours",
        "getterDocumentation" : "/**<p>The total instance usage, in hours.</p>\n@return The total instance usage, in hours.*/",
        "getterMethodName" : "getTotalRunningHours",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TotalRunningHours",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TotalRunningHours",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TotalRunningHours",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The total instance usage, in hours.</p>\n@param totalRunningHours The total instance usage, in hours.*/",
        "setterMethodName" : "setTotalRunningHours",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "totalRunningHours",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The total instance usage, in hours.</p>\n@param totalRunningHours The total instance usage, in hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "totalRunningHours",
          "variableType" : "String",
          "documentation" : "<p>The total instance usage, in hours.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CoverageHoursPercentage",
        "c2jShape" : "CoverageHoursPercentage",
        "deprecated" : false,
        "documentation" : "<p>The percentage of instance hours that a reservation covered.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The percentage of instance hours that a reservation covered.</p>\n@param coverageHoursPercentage The percentage of instance hours that a reservation covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCoverageHoursPercentage",
        "getterDocumentation" : "/**<p>The percentage of instance hours that a reservation covered.</p>\n@return The percentage of instance hours that a reservation covered.*/",
        "getterMethodName" : "getCoverageHoursPercentage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CoverageHoursPercentage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CoverageHoursPercentage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CoverageHoursPercentage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The percentage of instance hours that a reservation covered.</p>\n@param coverageHoursPercentage The percentage of instance hours that a reservation covered.*/",
        "setterMethodName" : "setCoverageHoursPercentage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "coverageHoursPercentage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The percentage of instance hours that a reservation covered.</p>\n@param coverageHoursPercentage The percentage of instance hours that a reservation covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "coverageHoursPercentage",
          "variableType" : "String",
          "documentation" : "<p>The percentage of instance hours that a reservation covered.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CoverageHoursPercentage" : {
          "c2jName" : "CoverageHoursPercentage",
          "c2jShape" : "CoverageHoursPercentage",
          "deprecated" : false,
          "documentation" : "<p>The percentage of instance hours that a reservation covered.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The percentage of instance hours that a reservation covered.</p>\n@param coverageHoursPercentage The percentage of instance hours that a reservation covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCoverageHoursPercentage",
          "getterDocumentation" : "/**<p>The percentage of instance hours that a reservation covered.</p>\n@return The percentage of instance hours that a reservation covered.*/",
          "getterMethodName" : "getCoverageHoursPercentage",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CoverageHoursPercentage",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CoverageHoursPercentage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CoverageHoursPercentage",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The percentage of instance hours that a reservation covered.</p>\n@param coverageHoursPercentage The percentage of instance hours that a reservation covered.*/",
          "setterMethodName" : "setCoverageHoursPercentage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "coverageHoursPercentage",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The percentage of instance hours that a reservation covered.</p>\n@param coverageHoursPercentage The percentage of instance hours that a reservation covered.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "coverageHoursPercentage",
            "variableType" : "String",
            "documentation" : "<p>The percentage of instance hours that a reservation covered.</p>",
            "simpleType" : "String",
[...]
