{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-10-11",
    "asyncClient" : "AWSChatbotAsyncClient",
    "asyncClientBuilderClassName" : "AWSChatbotAsyncClientBuilder",
    "asyncInterface" : "AWSChatbotAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSChatbotModuleInjector",
    "defaultEndpoint" : "chatbot.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "chatbot.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "AWS Chatbot API",
    "endpointPrefix" : "chatbot",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.chatbot",
    "packagePath" : "com/amazonaws/services/chatbot",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Chatbot",
    "serviceId" : "chatbot",
    "serviceName" : "AWS Chatbot",
    "signingName" : "chatbot",
    "smokeTestsPackageName" : "com.amazonaws.services.chatbot.smoketests",
    "syncClient" : "AWSChatbotClient",
    "syncClientBuilderClassName" : "AWSChatbotClientBuilder",
    "syncInterface" : "AWSChatbot",
    "uid" : "chatbot-2017-10-11",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateChimeWebhookConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChimeWebhookConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChimeWebhookConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChimeWebhookConfigurationRequest, CreateChimeWebhookConfigurationResult>",
      "asyncReturnType" : "CreateChimeWebhookConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates Chime Webhook Configuration",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "You have exceeded a service limit for AWS Chatbot.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "CreateChimeWebhookConfigurationException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "There was an issue processing your request.",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateChimeWebhookConfigurationRequest",
        "variableName" : "createChimeWebhookConfigurationRequest",
        "variableType" : "CreateChimeWebhookConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateChimeWebhookConfigurationRequest",
        "variableSetterType" : "CreateChimeWebhookConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChimeWebhookConfiguration",
      "operationName" : "CreateChimeWebhookConfiguration",
      "returnType" : {
        "returnType" : "CreateChimeWebhookConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateChimeWebhookConfigurationResult"
    },
    "CreateMicrosoftTeamsChannelConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMicrosoftTeamsChannelConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMicrosoftTeamsChannelConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMicrosoftTeamsChannelConfigurationRequest, CreateMicrosoftTeamsChannelConfigurationResult>",
      "asyncReturnType" : "CreateMicrosoftTeamsChannelConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates MS Teams Channel Configuration",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "You have exceeded a service limit for AWS Chatbot.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "CreateTeamsChannelConfigurationException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "There was an issue processing your request.",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMicrosoftTeamsChannelConfigurationRequest",
        "variableName" : "createMicrosoftTeamsChannelConfigurationRequest",
        "variableType" : "CreateMicrosoftTeamsChannelConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateMicrosoftTeamsChannelConfigurationRequest",
        "variableSetterType" : "CreateMicrosoftTeamsChannelConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMicrosoftTeamsChannelConfiguration",
      "operationName" : "CreateMicrosoftTeamsChannelConfiguration",
      "returnType" : {
        "returnType" : "CreateMicrosoftTeamsChannelConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMicrosoftTeamsChannelConfigurationResult"
    },
    "CreateSlackChannelConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSlackChannelConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSlackChannelConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSlackChannelConfigurationRequest, CreateSlackChannelConfigurationResult>",
      "asyncReturnType" : "CreateSlackChannelConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates Slack Channel Configuration",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "You have exceeded a service limit for AWS Chatbot.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "CreateSlackChannelConfigurationException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "There was an issue processing your request.",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSlackChannelConfigurationRequest",
        "variableName" : "createSlackChannelConfigurationRequest",
        "variableType" : "CreateSlackChannelConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateSlackChannelConfigurationRequest",
        "variableSetterType" : "CreateSlackChannelConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSlackChannelConfiguration",
      "operationName" : "CreateSlackChannelConfiguration",
      "returnType" : {
        "returnType" : "CreateSlackChannelConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSlackChannelConfigurationResult"
    },
    "DeleteChimeWebhookConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChimeWebhookConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChimeWebhookConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChimeWebhookConfigurationRequest, DeleteChimeWebhookConfigurationResult>",
      "asyncReturnType" : "DeleteChimeWebhookConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a Chime Webhook Configuration",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "We were not able to find the resource for your request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DeleteChimeWebhookConfigurationException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChimeWebhookConfigurationRequest",
        "variableName" : "deleteChimeWebhookConfigurationRequest",
        "variableType" : "DeleteChimeWebhookConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteChimeWebhookConfigurationRequest",
        "variableSetterType" : "DeleteChimeWebhookConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChimeWebhookConfiguration",
      "operationName" : "DeleteChimeWebhookConfiguration",
      "returnType" : {
        "returnType" : "DeleteChimeWebhookConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteChimeWebhookConfigurationResult"
    },
    "DeleteMicrosoftTeamsChannelConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMicrosoftTeamsChannelConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMicrosoftTeamsChannelConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMicrosoftTeamsChannelConfigurationRequest, DeleteMicrosoftTeamsChannelConfigurationResult>",
      "asyncReturnType" : "DeleteMicrosoftTeamsChannelConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes MS Teams Channel Configuration",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "We were not able to find the resource for your request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DeleteTeamsChannelConfigurationException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMicrosoftTeamsChannelConfigurationRequest",
        "variableName" : "deleteMicrosoftTeamsChannelConfigurationRequest",
        "variableType" : "DeleteMicrosoftTeamsChannelConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteMicrosoftTeamsChannelConfigurationRequest",
        "variableSetterType" : "DeleteMicrosoftTeamsChannelConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMicrosoftTeamsChannelConfiguration",
      "operationName" : "DeleteMicrosoftTeamsChannelConfiguration",
      "returnType" : {
        "returnType" : "DeleteMicrosoftTeamsChannelConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMicrosoftTeamsChannelConfigurationResult"
    },
    "DeleteMicrosoftTeamsConfiguredTeam" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMicrosoftTeamsConfiguredTeamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMicrosoftTeamsConfiguredTeamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMicrosoftTeamsConfiguredTeamRequest, DeleteMicrosoftTeamsConfiguredTeamResult>",
      "asyncReturnType" : "DeleteMicrosoftTeamsConfiguredTeamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes the Microsoft Teams team authorization allowing for channels to be configured in that Microsoft Teams team. Note that the Microsoft Teams team must have no channels configured to remove it.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DeleteTeamsConfiguredTeamException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMicrosoftTeamsConfiguredTeamRequest",
        "variableName" : "deleteMicrosoftTeamsConfiguredTeamRequest",
        "variableType" : "DeleteMicrosoftTeamsConfiguredTeamRequest",
        "documentation" : "",
        "simpleType" : "DeleteMicrosoftTeamsConfiguredTeamRequest",
        "variableSetterType" : "DeleteMicrosoftTeamsConfiguredTeamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMicrosoftTeamsConfiguredTeam",
      "operationName" : "DeleteMicrosoftTeamsConfiguredTeam",
      "returnType" : {
        "returnType" : "DeleteMicrosoftTeamsConfiguredTeamResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMicrosoftTeamsConfiguredTeamResult"
    },
    "DeleteMicrosoftTeamsUserIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMicrosoftTeamsUserIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMicrosoftTeamsUserIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMicrosoftTeamsUserIdentityRequest, DeleteMicrosoftTeamsUserIdentityResult>",
      "asyncReturnType" : "DeleteMicrosoftTeamsUserIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a Teams user identity",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "We were not able to find the resource for your request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "DeleteMicrosoftTeamsUserIdentityException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMicrosoftTeamsUserIdentityRequest",
        "variableName" : "deleteMicrosoftTeamsUserIdentityRequest",
        "variableType" : "DeleteMicrosoftTeamsUserIdentityRequest",
        "documentation" : "",
        "simpleType" : "DeleteMicrosoftTeamsUserIdentityRequest",
        "variableSetterType" : "DeleteMicrosoftTeamsUserIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMicrosoftTeamsUserIdentity",
      "operationName" : "DeleteMicrosoftTeamsUserIdentity",
      "returnType" : {
        "returnType" : "DeleteMicrosoftTeamsUserIdentityResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMicrosoftTeamsUserIdentityResult"
    },
    "DeleteSlackChannelConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSlackChannelConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSlackChannelConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSlackChannelConfigurationRequest, DeleteSlackChannelConfigurationResult>",
      "asyncReturnType" : "DeleteSlackChannelConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes Slack Channel Configuration",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "We were not able to find the resource for your request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DeleteSlackChannelConfigurationException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSlackChannelConfigurationRequest",
        "variableName" : "deleteSlackChannelConfigurationRequest",
        "variableType" : "DeleteSlackChannelConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteSlackChannelConfigurationRequest",
        "variableSetterType" : "DeleteSlackChannelConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSlackChannelConfiguration",
      "operationName" : "DeleteSlackChannelConfiguration",
      "returnType" : {
        "returnType" : "DeleteSlackChannelConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSlackChannelConfigurationResult"
    },
    "DeleteSlackUserIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSlackUserIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSlackUserIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSlackUserIdentityRequest, DeleteSlackUserIdentityResult>",
      "asyncReturnType" : "DeleteSlackUserIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a Slack user identity",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "We were not able to find the resource for your request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "DeleteSlackUserIdentityException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSlackUserIdentityRequest",
        "variableName" : "deleteSlackUserIdentityRequest",
        "variableType" : "DeleteSlackUserIdentityRequest",
        "documentation" : "",
        "simpleType" : "DeleteSlackUserIdentityRequest",
        "variableSetterType" : "DeleteSlackUserIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSlackUserIdentity",
      "operationName" : "DeleteSlackUserIdentity",
      "returnType" : {
        "returnType" : "DeleteSlackUserIdentityResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSlackUserIdentityResult"
    },
    "DeleteSlackWorkspaceAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSlackWorkspaceAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSlackWorkspaceAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSlackWorkspaceAuthorizationRequest, DeleteSlackWorkspaceAuthorizationResult>",
      "asyncReturnType" : "DeleteSlackWorkspaceAuthorizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes the Slack workspace authorization that allows channels to be configured in that workspace. This requires all configured channels in the workspace to be deleted.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DeleteSlackWorkspaceAuthorizationException",
        "documentation" : "There was an issue deleting your Slack workspace.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSlackWorkspaceAuthorizationRequest",
        "variableName" : "deleteSlackWorkspaceAuthorizationRequest",
        "variableType" : "DeleteSlackWorkspaceAuthorizationRequest",
        "documentation" : "",
        "simpleType" : "DeleteSlackWorkspaceAuthorizationRequest",
        "variableSetterType" : "DeleteSlackWorkspaceAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSlackWorkspaceAuthorization",
      "operationName" : "DeleteSlackWorkspaceAuthorization",
      "returnType" : {
        "returnType" : "DeleteSlackWorkspaceAuthorizationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSlackWorkspaceAuthorizationResult"
    },
    "DescribeChimeWebhookConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChimeWebhookConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChimeWebhookConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChimeWebhookConfigurationsRequest, DescribeChimeWebhookConfigurationsResult>",
      "asyncReturnType" : "DescribeChimeWebhookConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists Chime Webhook Configurations optionally filtered by ChatConfigurationArn",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DescribeChimeWebhookConfigurationsException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeChimeWebhookConfigurationsRequest",
        "variableName" : "describeChimeWebhookConfigurationsRequest",
        "variableType" : "DescribeChimeWebhookConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeChimeWebhookConfigurationsRequest",
        "variableSetterType" : "DescribeChimeWebhookConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChimeWebhookConfigurations",
      "operationName" : "DescribeChimeWebhookConfigurations",
      "returnType" : {
        "returnType" : "DescribeChimeWebhookConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeChimeWebhookConfigurationsResult"
    },
    "DescribeSlackChannelConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSlackChannelConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSlackChannelConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSlackChannelConfigurationsRequest, DescribeSlackChannelConfigurationsResult>",
      "asyncReturnType" : "DescribeSlackChannelConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists Slack Channel Configurations optionally filtered by ChatConfigurationArn",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DescribeSlackChannelConfigurationsException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSlackChannelConfigurationsRequest",
        "variableName" : "describeSlackChannelConfigurationsRequest",
        "variableType" : "DescribeSlackChannelConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeSlackChannelConfigurationsRequest",
        "variableSetterType" : "DescribeSlackChannelConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSlackChannelConfigurations",
      "operationName" : "DescribeSlackChannelConfigurations",
      "returnType" : {
        "returnType" : "DescribeSlackChannelConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSlackChannelConfigurationsResult"
    },
    "DescribeSlackUserIdentities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSlackUserIdentitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSlackUserIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSlackUserIdentitiesRequest, DescribeSlackUserIdentitiesResult>",
      "asyncReturnType" : "DescribeSlackUserIdentitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists all Slack user identities with a mapped role.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DescribeSlackUserIdentitiesException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSlackUserIdentitiesRequest",
        "variableName" : "describeSlackUserIdentitiesRequest",
        "variableType" : "DescribeSlackUserIdentitiesRequest",
        "documentation" : "",
        "simpleType" : "DescribeSlackUserIdentitiesRequest",
        "variableSetterType" : "DescribeSlackUserIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSlackUserIdentities",
      "operationName" : "DescribeSlackUserIdentities",
      "returnType" : {
        "returnType" : "DescribeSlackUserIdentitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSlackUserIdentitiesResult"
    },
    "DescribeSlackWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSlackWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSlackWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSlackWorkspacesRequest, DescribeSlackWorkspacesResult>",
      "asyncReturnType" : "DescribeSlackWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists all authorized Slack Workspaces for AWS Account",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DescribeSlackWorkspacesException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSlackWorkspacesRequest",
        "variableName" : "describeSlackWorkspacesRequest",
        "variableType" : "DescribeSlackWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "DescribeSlackWorkspacesRequest",
        "variableSetterType" : "DescribeSlackWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSlackWorkspaces",
      "operationName" : "DescribeSlackWorkspaces",
      "returnType" : {
        "returnType" : "DescribeSlackWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSlackWorkspacesResult"
    },
    "GetAccountPreferences" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountPreferencesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountPreferencesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountPreferencesRequest, GetAccountPreferencesResult>",
      "asyncReturnType" : "GetAccountPreferencesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get Chatbot account level preferences",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "GetAccountPreferencesException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountPreferencesRequest",
        "variableName" : "getAccountPreferencesRequest",
        "variableType" : "GetAccountPreferencesRequest",
        "documentation" : "",
        "simpleType" : "GetAccountPreferencesRequest",
        "variableSetterType" : "GetAccountPreferencesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccountPreferences",
      "operationName" : "GetAccountPreferences",
      "returnType" : {
        "returnType" : "GetAccountPreferencesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccountPreferencesResult"
    },
    "GetMicrosoftTeamsChannelConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMicrosoftTeamsChannelConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMicrosoftTeamsChannelConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMicrosoftTeamsChannelConfigurationRequest, GetMicrosoftTeamsChannelConfigurationResult>",
      "asyncReturnType" : "GetMicrosoftTeamsChannelConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get a single MS Teams Channel Configurations",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "GetTeamsChannelConfigurationException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMicrosoftTeamsChannelConfigurationRequest",
        "variableName" : "getMicrosoftTeamsChannelConfigurationRequest",
        "variableType" : "GetMicrosoftTeamsChannelConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetMicrosoftTeamsChannelConfigurationRequest",
        "variableSetterType" : "GetMicrosoftTeamsChannelConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMicrosoftTeamsChannelConfiguration",
      "operationName" : "GetMicrosoftTeamsChannelConfiguration",
      "returnType" : {
        "returnType" : "GetMicrosoftTeamsChannelConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMicrosoftTeamsChannelConfigurationResult"
    },
    "ListMicrosoftTeamsChannelConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMicrosoftTeamsChannelConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMicrosoftTeamsChannelConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMicrosoftTeamsChannelConfigurationsRequest, ListMicrosoftTeamsChannelConfigurationsResult>",
      "asyncReturnType" : "ListMicrosoftTeamsChannelConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists MS Teams Channel Configurations optionally filtered by TeamId",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ListTeamsChannelConfigurationsException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMicrosoftTeamsChannelConfigurationsRequest",
        "variableName" : "listMicrosoftTeamsChannelConfigurationsRequest",
        "variableType" : "ListMicrosoftTeamsChannelConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListMicrosoftTeamsChannelConfigurationsRequest",
        "variableSetterType" : "ListMicrosoftTeamsChannelConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMicrosoftTeamsChannelConfigurations",
      "operationName" : "ListMicrosoftTeamsChannelConfigurations",
      "returnType" : {
        "returnType" : "ListMicrosoftTeamsChannelConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMicrosoftTeamsChannelConfigurationsResult"
    },
    "ListMicrosoftTeamsConfiguredTeams" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMicrosoftTeamsConfiguredTeamsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMicrosoftTeamsConfiguredTeamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMicrosoftTeamsConfiguredTeamsRequest, ListMicrosoftTeamsConfiguredTeamsResult>",
      "asyncReturnType" : "ListMicrosoftTeamsConfiguredTeamsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists all authorized MS teams for AWS Account",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ListMicrosoftTeamsConfiguredTeamsException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMicrosoftTeamsConfiguredTeamsRequest",
        "variableName" : "listMicrosoftTeamsConfiguredTeamsRequest",
        "variableType" : "ListMicrosoftTeamsConfiguredTeamsRequest",
        "documentation" : "",
        "simpleType" : "ListMicrosoftTeamsConfiguredTeamsRequest",
        "variableSetterType" : "ListMicrosoftTeamsConfiguredTeamsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMicrosoftTeamsConfiguredTeams",
      "operationName" : "ListMicrosoftTeamsConfiguredTeams",
      "returnType" : {
        "returnType" : "ListMicrosoftTeamsConfiguredTeamsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMicrosoftTeamsConfiguredTeamsResult"
    },
    "ListMicrosoftTeamsUserIdentities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMicrosoftTeamsUserIdentitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMicrosoftTeamsUserIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMicrosoftTeamsUserIdentitiesRequest, ListMicrosoftTeamsUserIdentitiesResult>",
      "asyncReturnType" : "ListMicrosoftTeamsUserIdentitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists all Microsoft Teams user identities with a mapped role.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ListMicrosoftTeamsUserIdentitiesException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMicrosoftTeamsUserIdentitiesRequest",
        "variableName" : "listMicrosoftTeamsUserIdentitiesRequest",
        "variableType" : "ListMicrosoftTeamsUserIdentitiesRequest",
        "documentation" : "",
        "simpleType" : "ListMicrosoftTeamsUserIdentitiesRequest",
        "variableSetterType" : "ListMicrosoftTeamsUserIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMicrosoftTeamsUserIdentities",
      "operationName" : "ListMicrosoftTeamsUserIdentities",
      "returnType" : {
        "returnType" : "ListMicrosoftTeamsUserIdentitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMicrosoftTeamsUserIdentitiesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves the list of tags applied to a configuration.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "Customer/consumer-facing internal service exception. https://w.amazon.com/index.php/AWS/API_Standards/Exceptions#InternalServiceError",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "We were not able to find the resource for your request.",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Applies the supplied tags to a configuration.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "Customer/consumer-facing internal service exception. https://w.amazon.com/index.php/AWS/API_Standards/Exceptions#InternalServiceError",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "We were not able to find the resource for your request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "The supplied list of tags contains too many tags.",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Removes the supplied tags from a configuration",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "Customer/consumer-facing internal service exception. https://w.amazon.com/index.php/AWS/API_Standards/Exceptions#InternalServiceError",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "We were not able to find the resource for your request.",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAccountPreferences" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAccountPreferencesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAccountPreferencesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAccountPreferencesRequest, UpdateAccountPreferencesResult>",
      "asyncReturnType" : "UpdateAccountPreferencesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Update Chatbot account level preferences",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UpdateAccountPreferencesException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAccountPreferencesRequest",
        "variableName" : "updateAccountPreferencesRequest",
        "variableType" : "UpdateAccountPreferencesRequest",
        "documentation" : "",
        "simpleType" : "UpdateAccountPreferencesRequest",
        "variableSetterType" : "UpdateAccountPreferencesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAccountPreferences",
      "operationName" : "UpdateAccountPreferences",
      "returnType" : {
        "returnType" : "UpdateAccountPreferencesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAccountPreferencesResult"
    },
    "UpdateChimeWebhookConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateChimeWebhookConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateChimeWebhookConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateChimeWebhookConfigurationRequest, UpdateChimeWebhookConfigurationResult>",
      "asyncReturnType" : "UpdateChimeWebhookConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates a Chime Webhook Configuration",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "We were not able to find the resource for your request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UpdateChimeWebhookConfigurationException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateChimeWebhookConfigurationRequest",
        "variableName" : "updateChimeWebhookConfigurationRequest",
        "variableType" : "UpdateChimeWebhookConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateChimeWebhookConfigurationRequest",
        "variableSetterType" : "UpdateChimeWebhookConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateChimeWebhookConfiguration",
      "operationName" : "UpdateChimeWebhookConfiguration",
      "returnType" : {
        "returnType" : "UpdateChimeWebhookConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateChimeWebhookConfigurationResult"
    },
    "UpdateMicrosoftTeamsChannelConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMicrosoftTeamsChannelConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMicrosoftTeamsChannelConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMicrosoftTeamsChannelConfigurationRequest, UpdateMicrosoftTeamsChannelConfigurationResult>",
      "asyncReturnType" : "UpdateMicrosoftTeamsChannelConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates MS Teams Channel Configuration",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "We were not able to find the resource for your request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UpdateTeamsChannelConfigurationException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateMicrosoftTeamsChannelConfigurationRequest",
        "variableName" : "updateMicrosoftTeamsChannelConfigurationRequest",
        "variableType" : "UpdateMicrosoftTeamsChannelConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateMicrosoftTeamsChannelConfigurationRequest",
        "variableSetterType" : "UpdateMicrosoftTeamsChannelConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateMicrosoftTeamsChannelConfiguration",
      "operationName" : "UpdateMicrosoftTeamsChannelConfiguration",
      "returnType" : {
        "returnType" : "UpdateMicrosoftTeamsChannelConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateMicrosoftTeamsChannelConfigurationResult"
    },
    "UpdateSlackChannelConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSlackChannelConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSlackChannelConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSlackChannelConfigurationRequest, UpdateSlackChannelConfigurationResult>",
      "asyncReturnType" : "UpdateSlackChannelConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates Slack Channel Configuration",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "We were not able to find the resource for your request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "Your request input doesn't meet the constraints that AWS Chatbot requires.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UpdateSlackChannelConfigurationException",
        "documentation" : "We can’t process your request right now because of a server issue. Try again later.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSlackChannelConfigurationRequest",
        "variableName" : "updateSlackChannelConfigurationRequest",
        "variableType" : "UpdateSlackChannelConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateSlackChannelConfigurationRequest",
        "variableSetterType" : "UpdateSlackChannelConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSlackChannelConfiguration",
      "operationName" : "UpdateSlackChannelConfiguration",
      "returnType" : {
        "returnType" : "UpdateSlackChannelConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSlackChannelConfigurationResult"
    }
  },
  "shapes" : {
    "AccountPreferences" : {
      "c2jName" : "AccountPreferences",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Preferences which apply for AWS Chatbot usage in the calling AWS account.",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chatbot.model.AccountPreferences",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "UserAuthorizationRequired",
        "c2jShape" : "BooleanAccountPreference",
        "deprecated" : false,
        "documentation" : "Enables use of a user role requirement in your chat configuration.",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Enables use of a user role requirement in your chat configuration.\n@param userAuthorizationRequired Enables use of a user role requirement in your chat configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUserAuthorizationRequired",
        "getterDocumentation" : "/**Enables use of a user role requirement in your chat configuration.\n@return Enables use of a user role requirement in your chat configuration.*/",
        "getterMethodName" : "getUserAuthorizationRequired",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "UserAuthorizationRequired",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "UserAuthorizationRequired",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "UserAuthorizationRequired",
        "sensitive" : false,
        "setterDocumentation" : "/**Enables use of a user role requirement in your chat configuration.\n@param userAuthorizationRequired Enables use of a user role requirement in your chat configuration.*/",
        "setterMethodName" : "setUserAuthorizationRequired",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "userAuthorizationRequired",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Enables use of a user role requirement in your chat configuration.\n@param userAuthorizationRequired Enables use of a user role requirement in your chat configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "userAuthorizationRequired",
          "variableType" : "Boolean",
          "documentation" : "Enables use of a user role requirement in your chat configuration.",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TrainingDataCollectionEnabled",
        "c2jShape" : "BooleanAccountPreference",
        "deprecated" : false,
        "documentation" : "Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.\n@param trainingDataCollectionEnabled Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTrainingDataCollectionEnabled",
        "getterDocumentation" : "/**Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.\n@return Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.*/",
        "getterMethodName" : "getTrainingDataCollectionEnabled",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TrainingDataCollectionEnabled",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TrainingDataCollectionEnabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "TrainingDataCollectionEnabled",
        "sensitive" : false,
        "setterDocumentation" : "/**Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.\n@param trainingDataCollectionEnabled Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.*/",
        "setterMethodName" : "setTrainingDataCollectionEnabled",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "trainingDataCollectionEnabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.\n@param trainingDataCollectionEnabled Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "trainingDataCollectionEnabled",
          "variableType" : "Boolean",
          "documentation" : "Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TrainingDataCollectionEnabled" : {
          "c2jName" : "TrainingDataCollectionEnabled",
          "c2jShape" : "BooleanAccountPreference",
          "deprecated" : false,
          "documentation" : "Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.\n@param trainingDataCollectionEnabled Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTrainingDataCollectionEnabled",
          "getterDocumentation" : "/**Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.\n@return Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.*/",
          "getterMethodName" : "getTrainingDataCollectionEnabled",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TrainingDataCollectionEnabled",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TrainingDataCollectionEnabled",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "TrainingDataCollectionEnabled",
          "sensitive" : false,
          "setterDocumentation" : "/**Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.\n@param trainingDataCollectionEnabled Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.*/",
          "setterMethodName" : "setTrainingDataCollectionEnabled",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "trainingDataCollectionEnabled",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.\n@param trainingDataCollectionEnabled Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "trainingDataCollectionEnabled",
            "variableType" : "Boolean",
            "documentation" : "Turns on training data collection. This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AWS Chatbot’s AI technologies.",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "UserAuthorizationRequired" : {
          "c2jName" : "UserAuthorizationRequired",
          "c2jShape" : "BooleanAccountPreference",
          "deprecated" : false,
          "documentation" : "Enables use of a user role requirement in your chat configuration.",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Enables use of a user role requirement in your chat configuration.\n@param userAuthorizationRequired Enables use of a user role requirement in your chat configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUserAuthorizationRequired",
          "getterDocumentation" : "/**Enables use of a user role requirement in your chat configuration.\n@return Enables use of a user role requirement in your chat configuration.*/",
          "getterMethodName" : "getUserAuthorizationRequired",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "UserAuthorizationRequired",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "UserAuthorizationRequired",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "UserAuthorizationRequired",
          "sensitive" : false,
          "setterDocumentation" : "/**Enables use of a user role requirement in your chat configuration.\n@param userAuthorizationRequired Enables use of a user role requirement in your chat configuration.*/",
          "setterMethodName" : "setUserAuthorizationRequired",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "userAuthorizationRequired",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Enables use of a user role requirement in your chat configuration.\n@param userAuthorizationRequired Enables use of a user role requirement in your chat configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "userAuthorizationRequired",
            "variableType" : "Boolean",
            "documentation" : "Enables use of a user role requirement in your chat configuration.",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.chatbot.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccountPreferences",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountPreferences",
        "variableName" : "accountPreferences",
        "variableType" : "AccountPreferences",
        "documentation" : null,
        "simpleType" : "AccountPreferences",
        "variableSetterType" : "AccountPreferences"
      },
      "wrapper" : false
    },
    "ChimeWebhookConfiguration" : {
      "c2jName" : "ChimeWebhookConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "An AWS Chatbot configuration for Amazon Chime.",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chatbot.model.ChimeWebhookConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "WebhookDescription",
        "c2jShape" : "ChimeWebhookDescription",
        "deprecated" : false,
        "documentation" : "Description of the webhook. Recommend using the convention `RoomName/WebhookName`. See Chime setup tutorial for more details: https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html.",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Description of the webhook. Recommend using the convention `RoomName/WebhookName`. See Chime setup tutorial for more details: https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html.\n@param webhookDescription Description of the webhook. Recommend using the convention `RoomName/WebhookName`. See Chime setup tutorial for more details: https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withWebhookDescription",
        "getterDocumentation" : "/**Description of the webhook. Recommend using the convention `RoomName/WebhookName`. See Chime setup tutorial for more details: https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html.\n@return Description of the webhook. Recommend using the convention `RoomName/WebhookName`. See Chime setup tutorial for more details: https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html.*/",
        "getterMethodName" : "getWebhookDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "WebhookDescription",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "WebhookDescription",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "WebhookDescription",
        "sensitive" : false,
        "setterDocumentation" : "/**Description of the webhook. Recommend using the convention `RoomName/WebhookName`. See Chime setup tutorial for more details: https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html.\n@param webhookDescription Description of the webhook. Recommend using the convention `RoomName/WebhookName`. See Chime setup tutorial for more details: https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html.*/",
        "setterMethodName" : "setWebhookDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "webhookDescription",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Description of the webhook. Recommend using the convention `RoomName/WebhookName`. See Chime setup tutorial for more details: https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html.\n@param webhookDescription Description of the webhook. Recommend using the convention `RoomName/WebhookName`. See Chime setup tutorial for more details: https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "webhookDescription",
          "variableType" : "String",
          "documentation" : "Description of the webhook. Recommend using the convention `RoomName/WebhookName`. See Chime setup tutorial for more details: https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChatConfigurationArn",
        "c2jShape" : "ChatConfigurationArn",
        "deprecated" : false,
        "documentation" : "The ARN of the ChimeWebhookConfiguration.",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The ARN of the ChimeWebhookConfiguration.\n@param chatConfigurationArn The ARN of the ChimeWebhookConfiguration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChatConfigurationArn",
        "getterDocumentation" : "/**The ARN of the ChimeWebhookConfiguration.\n@return The ARN of the ChimeWebhookConfiguration.*/",
        "getterMethodName" : "getChatConfigurationArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChatConfigurationArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChatConfigurationArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChatConfigurationArn",
        "sensitive" : false,
        "setterDocumentation" : "/**The ARN of the ChimeWebhookConfiguration.\n@param chatConfigurationArn The ARN of the ChimeWebhookConfiguration.*/",
        "setterMethodName" : "setChatConfigurationArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "chatConfigurationArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The ARN of the ChimeWebhookConfiguration.\n@param chatConfigurationArn The ARN of the ChimeWebhookConfiguration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "chatConfigurationArn",
          "variableType" : "String",
          "documentation" : "The ARN of the ChimeWebhookConfiguration.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IamRoleArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "The ARN of the IAM role that defines the permissions for AWS Chatbot. This is a user-defined role that AWS Chatbot will assume. This is not the service-linked role. For more information, see IAM Policies for AWS Chatbot.",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The ARN of the IAM role that defines the permissions for AWS Chatbot. This is a user-defined role that AWS Chatbot will assume. This is not the service-linked role. For more information, see IAM Policies for AWS Chatbot.\n@param iamRoleArn The ARN of the IAM role that defines the permissions for AWS Chatbot. This is a user-defined role that AWS Chatbot will assume. This is not the service-linked role. For more information, see IAM Policies for AWS Chatbot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIamRoleArn",
[...]
