{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-05-01",
    "asyncClient" : "AmazonChimeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonChimeAsyncClientBuilder",
    "asyncInterface" : "AmazonChimeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonChimeModuleInjector",
    "defaultEndpoint" : "chime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "chime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Chime API (application programming interface) is designed for developers to perform key tasks, such as creating and managing Amazon Chime accounts, users, and Voice Connectors. This guide provides detailed information about the Amazon Chime API, including operations, types, inputs and outputs, and error codes. It also includes some server-side API actions to use with the Amazon Chime SDK. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p> <p>You can use an AWS SDK, the AWS Command Line Interface (AWS CLI), or the REST API to make API calls. We recommend using an AWS SDK or the AWS CLI. Each API operation includes links to information about using it with a language-specific AWS SDK or the AWS CLI.</p> <dl> <dt>Using an AWS SDK</dt> <dd> <p>You don't need to write code to calculate a signature for request authentication. The SDK clients authenticate your requests by using access keys that you provide. For more information about AWS SDKs, see the <a href=\"http://aws.amazon.com/developer/\">AWS Developer Center</a>.</p> </dd> <dt>Using the AWS CLI</dt> <dd> <p>Use your access keys with the AWS CLI to make API calls. For information about setting up the AWS CLI, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/installing.html\">Installing the AWS Command Line Interface</a> in the <i>AWS Command Line Interface User Guide</i>. For a list of available Amazon Chime commands, see the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/chime/index.html\">Amazon Chime commands</a> in the <i>AWS CLI Command Reference</i>.</p> </dd> <dt>Using REST API</dt> <dd> <p>If you use REST to make API calls, you must authenticate your request by providing a signature. Amazon Chime supports signature version 4. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>When making REST API calls, use the service name <code>chime</code> and REST endpoint <code>https://service.chime.aws.amazon.com</code>.</p> </dd> </dl> <p>Administrative permissions are controlled using AWS Identity and Access Management (IAM). For more information, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/security-iam.html\">Identity and Access Management for Amazon Chime</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
    "endpointPrefix" : "chime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.chime",
    "packagePath" : "com/amazonaws/services/chime",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Chime",
    "serviceId" : "Chime",
    "serviceName" : "Amazon Chime",
    "signingName" : "chime",
    "smokeTestsPackageName" : "com.amazonaws.services.chime.smoketests",
    "syncClient" : "AmazonChimeClient",
    "syncClientBuilderClassName" : "AmazonChimeClientBuilder",
    "syncInterface" : "AmazonChime",
    "uid" : "chime-2018-05-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociatePhoneNumberWithUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociatePhoneNumberWithUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociatePhoneNumberWithUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociatePhoneNumberWithUserRequest, AssociatePhoneNumberWithUserResult>",
      "asyncReturnType" : "AssociatePhoneNumberWithUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a phone number with the specified Amazon Chime user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociatePhoneNumberWithUserRequest",
        "variableName" : "associatePhoneNumberWithUserRequest",
        "variableType" : "AssociatePhoneNumberWithUserRequest",
        "documentation" : "",
        "simpleType" : "AssociatePhoneNumberWithUserRequest",
        "variableSetterType" : "AssociatePhoneNumberWithUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associatePhoneNumberWithUser",
      "operationName" : "AssociatePhoneNumberWithUser",
      "returnType" : {
        "returnType" : "AssociatePhoneNumberWithUserResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociatePhoneNumberWithUserResult"
    },
    "AssociatePhoneNumbersWithVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociatePhoneNumbersWithVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociatePhoneNumbersWithVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociatePhoneNumbersWithVoiceConnectorRequest, AssociatePhoneNumbersWithVoiceConnectorResult>",
      "asyncReturnType" : "AssociatePhoneNumbersWithVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates phone numbers with the specified Amazon Chime Voice Connector.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociatePhoneNumbersWithVoiceConnectorRequest",
        "variableName" : "associatePhoneNumbersWithVoiceConnectorRequest",
        "variableType" : "AssociatePhoneNumbersWithVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "AssociatePhoneNumbersWithVoiceConnectorRequest",
        "variableSetterType" : "AssociatePhoneNumbersWithVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associatePhoneNumbersWithVoiceConnector",
      "operationName" : "AssociatePhoneNumbersWithVoiceConnector",
      "returnType" : {
        "returnType" : "AssociatePhoneNumbersWithVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociatePhoneNumbersWithVoiceConnectorResult"
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociatePhoneNumbersWithVoiceConnectorGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociatePhoneNumbersWithVoiceConnectorGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociatePhoneNumbersWithVoiceConnectorGroupRequest, AssociatePhoneNumbersWithVoiceConnectorGroupResult>",
      "asyncReturnType" : "AssociatePhoneNumbersWithVoiceConnectorGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates phone numbers with the specified Amazon Chime Voice Connector group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociatePhoneNumbersWithVoiceConnectorGroupRequest",
        "variableName" : "associatePhoneNumbersWithVoiceConnectorGroupRequest",
        "variableType" : "AssociatePhoneNumbersWithVoiceConnectorGroupRequest",
        "documentation" : "",
        "simpleType" : "AssociatePhoneNumbersWithVoiceConnectorGroupRequest",
        "variableSetterType" : "AssociatePhoneNumbersWithVoiceConnectorGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associatePhoneNumbersWithVoiceConnectorGroup",
      "operationName" : "AssociatePhoneNumbersWithVoiceConnectorGroup",
      "returnType" : {
        "returnType" : "AssociatePhoneNumbersWithVoiceConnectorGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociatePhoneNumbersWithVoiceConnectorGroupResult"
    },
    "AssociateSigninDelegateGroupsWithAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateSigninDelegateGroupsWithAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateSigninDelegateGroupsWithAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateSigninDelegateGroupsWithAccountRequest, AssociateSigninDelegateGroupsWithAccountResult>",
      "asyncReturnType" : "AssociateSigninDelegateGroupsWithAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified sign-in delegate groups with the specified Amazon Chime account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateSigninDelegateGroupsWithAccountRequest",
        "variableName" : "associateSigninDelegateGroupsWithAccountRequest",
        "variableType" : "AssociateSigninDelegateGroupsWithAccountRequest",
        "documentation" : "",
        "simpleType" : "AssociateSigninDelegateGroupsWithAccountRequest",
        "variableSetterType" : "AssociateSigninDelegateGroupsWithAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateSigninDelegateGroupsWithAccount",
      "operationName" : "AssociateSigninDelegateGroupsWithAccount",
      "returnType" : {
        "returnType" : "AssociateSigninDelegateGroupsWithAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateSigninDelegateGroupsWithAccountResult"
    },
    "BatchCreateAttendee" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCreateAttendeeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCreateAttendeeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCreateAttendeeRequest, BatchCreateAttendeeResult>",
      "asyncReturnType" : "BatchCreateAttendeeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates up to 100 new attendees for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCreateAttendeeRequest",
        "variableName" : "batchCreateAttendeeRequest",
        "variableType" : "BatchCreateAttendeeRequest",
        "documentation" : "",
        "simpleType" : "BatchCreateAttendeeRequest",
        "variableSetterType" : "BatchCreateAttendeeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCreateAttendee",
      "operationName" : "BatchCreateAttendee",
      "returnType" : {
        "returnType" : "BatchCreateAttendeeResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCreateAttendeeResult"
    },
    "BatchCreateRoomMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCreateRoomMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCreateRoomMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCreateRoomMembershipRequest, BatchCreateRoomMembershipResult>",
      "asyncReturnType" : "BatchCreateRoomMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds up to 50 members to a chat room in an Amazon Chime Enterprise account. Members can be either users or bots. The member role designates whether the member is a chat room administrator or a general chat room member.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCreateRoomMembershipRequest",
        "variableName" : "batchCreateRoomMembershipRequest",
        "variableType" : "BatchCreateRoomMembershipRequest",
        "documentation" : "",
        "simpleType" : "BatchCreateRoomMembershipRequest",
        "variableSetterType" : "BatchCreateRoomMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCreateRoomMembership",
      "operationName" : "BatchCreateRoomMembership",
      "returnType" : {
        "returnType" : "BatchCreateRoomMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCreateRoomMembershipResult"
    },
    "BatchDeletePhoneNumber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeletePhoneNumberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeletePhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeletePhoneNumberRequest, BatchDeletePhoneNumberResult>",
      "asyncReturnType" : "BatchDeletePhoneNumberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Moves phone numbers into the <b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime Voice Connectors before they can be deleted.</p> <p>Phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeletePhoneNumberRequest",
        "variableName" : "batchDeletePhoneNumberRequest",
        "variableType" : "BatchDeletePhoneNumberRequest",
        "documentation" : "",
        "simpleType" : "BatchDeletePhoneNumberRequest",
        "variableSetterType" : "BatchDeletePhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeletePhoneNumber",
      "operationName" : "BatchDeletePhoneNumber",
      "returnType" : {
        "returnType" : "BatchDeletePhoneNumberResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeletePhoneNumberResult"
    },
    "BatchSuspendUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchSuspendUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchSuspendUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchSuspendUserRequest, BatchSuspendUserResult>",
      "asyncReturnType" : "BatchSuspendUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon Chime account. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Users suspended from a <code>Team</code> account are disassociated from the account, but they can continue to use Amazon Chime as free users. To remove the suspension from suspended <code>Team</code> account users, invite them to the <code>Team</code> account again. You can use the <a>InviteUsers</a> action to do so.</p> <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out of Amazon Chime and can no longer sign in. To remove the suspension from suspended <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a> action. </p> <p>To sign out users without suspending them, use the <a>LogoutUser</a> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchSuspendUserRequest",
        "variableName" : "batchSuspendUserRequest",
        "variableType" : "BatchSuspendUserRequest",
        "documentation" : "",
        "simpleType" : "BatchSuspendUserRequest",
        "variableSetterType" : "BatchSuspendUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchSuspendUser",
      "operationName" : "BatchSuspendUser",
      "returnType" : {
        "returnType" : "BatchSuspendUserResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchSuspendUserResult"
    },
    "BatchUnsuspendUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUnsuspendUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUnsuspendUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUnsuspendUserRequest, BatchUnsuspendUserResult>",
      "asyncReturnType" : "BatchUnsuspendUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the suspension from up to 50 previously suspended users for the specified Amazon Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code> accounts can be unsuspended using this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Previously suspended users who are unsuspended using this action are returned to <code>Registered</code> status. Users who are not previously suspended are ignored.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUnsuspendUserRequest",
        "variableName" : "batchUnsuspendUserRequest",
        "variableType" : "BatchUnsuspendUserRequest",
        "documentation" : "",
        "simpleType" : "BatchUnsuspendUserRequest",
        "variableSetterType" : "BatchUnsuspendUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUnsuspendUser",
      "operationName" : "BatchUnsuspendUser",
      "returnType" : {
        "returnType" : "BatchUnsuspendUserResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUnsuspendUserResult"
    },
    "BatchUpdatePhoneNumber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUpdatePhoneNumberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUpdatePhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUpdatePhoneNumberRequest, BatchUpdatePhoneNumberResult>",
      "asyncReturnType" : "BatchUpdatePhoneNumberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates phone number product types or calling names. You can update one attribute at a time for each <code>UpdatePhoneNumberRequestItem</code>. For example, you can update either the product type or the calling name.</p> <p>For product types, choose from Amazon Chime Business Calling and Amazon Chime Voice Connector. For toll-free numbers, you must use the Amazon Chime Voice Connector product type.</p> <p>Updates to outbound calling names can take up to 72 hours to complete. Pending updates to outbound calling names must be complete before you can request another update.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUpdatePhoneNumberRequest",
        "variableName" : "batchUpdatePhoneNumberRequest",
        "variableType" : "BatchUpdatePhoneNumberRequest",
        "documentation" : "",
        "simpleType" : "BatchUpdatePhoneNumberRequest",
        "variableSetterType" : "BatchUpdatePhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUpdatePhoneNumber",
      "operationName" : "BatchUpdatePhoneNumber",
      "returnType" : {
        "returnType" : "BatchUpdatePhoneNumberResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUpdatePhoneNumberResult"
    },
    "BatchUpdateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUpdateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUpdateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUpdateUserRequest, BatchUpdateUserResult>",
      "asyncReturnType" : "BatchUpdateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account. Currently, only <code>LicenseType</code> updates are supported for this action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUpdateUserRequest",
        "variableName" : "batchUpdateUserRequest",
        "variableType" : "BatchUpdateUserRequest",
        "documentation" : "",
        "simpleType" : "BatchUpdateUserRequest",
        "variableSetterType" : "BatchUpdateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUpdateUser",
      "operationName" : "BatchUpdateUser",
      "returnType" : {
        "returnType" : "BatchUpdateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUpdateUserResult"
    },
    "CreateAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAccountRequest, CreateAccountResult>",
      "asyncReturnType" : "CreateAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Chime account under the administrator's AWS account. Only <code>Team</code> account types are currently supported for this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAccountRequest",
        "variableName" : "createAccountRequest",
        "variableType" : "CreateAccountRequest",
        "documentation" : "",
        "simpleType" : "CreateAccountRequest",
        "variableSetterType" : "CreateAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAccount",
      "operationName" : "CreateAccount",
      "returnType" : {
        "returnType" : "CreateAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAccountResult"
    },
    "CreateAttendee" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAttendeeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAttendeeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAttendeeRequest, CreateAttendeeResult>",
      "asyncReturnType" : "CreateAttendeeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new attendee for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAttendeeRequest",
        "variableName" : "createAttendeeRequest",
        "variableType" : "CreateAttendeeRequest",
        "documentation" : "",
        "simpleType" : "CreateAttendeeRequest",
        "variableSetterType" : "CreateAttendeeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAttendee",
      "operationName" : "CreateAttendee",
      "returnType" : {
        "returnType" : "CreateAttendeeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAttendeeResult"
    },
    "CreateBot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBotRequest, CreateBotResult>",
      "asyncReturnType" : "CreateBotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a bot for an Amazon Chime Enterprise account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBotRequest",
        "variableName" : "createBotRequest",
        "variableType" : "CreateBotRequest",
        "documentation" : "",
        "simpleType" : "CreateBotRequest",
        "variableSetterType" : "CreateBotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBot",
      "operationName" : "CreateBot",
      "returnType" : {
        "returnType" : "CreateBotResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBotResult"
    },
    "CreateMeeting" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMeetingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMeetingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMeetingRequest, CreateMeetingResult>",
      "asyncReturnType" : "CreateMeetingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Amazon Chime SDK meeting in the specified media Region with no initial attendees. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMeetingRequest",
        "variableName" : "createMeetingRequest",
        "variableType" : "CreateMeetingRequest",
        "documentation" : "",
        "simpleType" : "CreateMeetingRequest",
        "variableSetterType" : "CreateMeetingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMeeting",
      "operationName" : "CreateMeeting",
      "returnType" : {
        "returnType" : "CreateMeetingResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMeetingResult"
    },
    "CreatePhoneNumberOrder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePhoneNumberOrderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePhoneNumberOrderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePhoneNumberOrderRequest, CreatePhoneNumberOrderResult>",
      "asyncReturnType" : "CreatePhoneNumberOrderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an order for phone numbers to be provisioned. Choose from Amazon Chime Business Calling and Amazon Chime Voice Connector product types. For toll-free numbers, you must use the Amazon Chime Voice Connector product type.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePhoneNumberOrderRequest",
        "variableName" : "createPhoneNumberOrderRequest",
        "variableType" : "CreatePhoneNumberOrderRequest",
        "documentation" : "",
        "simpleType" : "CreatePhoneNumberOrderRequest",
        "variableSetterType" : "CreatePhoneNumberOrderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPhoneNumberOrder",
      "operationName" : "CreatePhoneNumberOrder",
      "returnType" : {
        "returnType" : "CreatePhoneNumberOrderResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePhoneNumberOrderResult"
    },
    "CreateRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRoomRequest, CreateRoomResult>",
      "asyncReturnType" : "CreateRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a chat room for the specified Amazon Chime Enterprise account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRoomRequest",
        "variableName" : "createRoomRequest",
        "variableType" : "CreateRoomRequest",
        "documentation" : "",
        "simpleType" : "CreateRoomRequest",
        "variableSetterType" : "CreateRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRoom",
      "operationName" : "CreateRoom",
      "returnType" : {
        "returnType" : "CreateRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRoomResult"
    },
    "CreateRoomMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRoomMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRoomMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRoomMembershipRequest, CreateRoomMembershipResult>",
      "asyncReturnType" : "CreateRoomMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a member to a chat room in an Amazon Chime Enterprise account. A member can be either a user or a bot. The member role designates whether the member is a chat room administrator or a general chat room member.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRoomMembershipRequest",
        "variableName" : "createRoomMembershipRequest",
        "variableType" : "CreateRoomMembershipRequest",
        "documentation" : "",
        "simpleType" : "CreateRoomMembershipRequest",
        "variableSetterType" : "CreateRoomMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRoomMembership",
      "operationName" : "CreateRoomMembership",
      "returnType" : {
        "returnType" : "CreateRoomMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRoomMembershipResult"
    },
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user under the specified Amazon Chime account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserResult"
    },
    "CreateVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVoiceConnectorRequest, CreateVoiceConnectorResult>",
      "asyncReturnType" : "CreateVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Chime Voice Connector under the administrator's AWS account. You can choose to create an Amazon Chime Voice Connector in a specific AWS Region.</p> <p>Enabling <a>CreateVoiceConnectorRequest$RequireEncryption</a> configures your Amazon Chime Voice Connector to use TLS transport for SIP signaling and Secure RTP (SRTP) for media. Inbound calls use TLS transport, and unencrypted outbound calls are blocked.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVoiceConnectorRequest",
        "variableName" : "createVoiceConnectorRequest",
        "variableType" : "CreateVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "CreateVoiceConnectorRequest",
        "variableSetterType" : "CreateVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVoiceConnector",
      "operationName" : "CreateVoiceConnector",
      "returnType" : {
        "returnType" : "CreateVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVoiceConnectorResult"
    },
    "CreateVoiceConnectorGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVoiceConnectorGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVoiceConnectorGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVoiceConnectorGroupRequest, CreateVoiceConnectorGroupResult>",
      "asyncReturnType" : "CreateVoiceConnectorGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Chime Voice Connector group under the administrator's AWS account. You can associate Amazon Chime Voice Connectors with the Amazon Chime Voice Connector group by including <code>VoiceConnectorItems</code> in the request.</p> <p>You can include Amazon Chime Voice Connectors from different AWS Regions in your group. This creates a fault tolerant mechanism for fallback in case of availability events.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVoiceConnectorGroupRequest",
        "variableName" : "createVoiceConnectorGroupRequest",
        "variableType" : "CreateVoiceConnectorGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateVoiceConnectorGroupRequest",
        "variableSetterType" : "CreateVoiceConnectorGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVoiceConnectorGroup",
      "operationName" : "CreateVoiceConnectorGroup",
      "returnType" : {
        "returnType" : "CreateVoiceConnectorGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVoiceConnectorGroupResult"
    },
    "DeleteAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAccountRequest, DeleteAccountResult>",
      "asyncReturnType" : "DeleteAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Amazon Chime account. You must suspend all users before deleting a <code>Team</code> account. You can use the <a>BatchSuspendUser</a> action to do so.</p> <p>For <code>EnterpriseLWA</code> and <code>EnterpriseAD</code> accounts, you must release the claimed domains for your Amazon Chime account before deletion. As soon as you release the domain, all users under that account are suspended.</p> <p>Deleted accounts appear in your <code>Disabled</code> accounts list for 90 days. To restore a deleted account from your <code>Disabled</code> accounts list, you must contact AWS Support.</p> <p>After 90 days, deleted accounts are permanently removed from your <code>Disabled</code> accounts list.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "<p>The request was well-formed but was unable to be followed due to semantic errors.</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAccountRequest",
        "variableName" : "deleteAccountRequest",
        "variableType" : "DeleteAccountRequest",
        "documentation" : "",
        "simpleType" : "DeleteAccountRequest",
        "variableSetterType" : "DeleteAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAccount",
      "operationName" : "DeleteAccount",
      "returnType" : {
        "returnType" : "DeleteAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAccountResult"
    },
    "DeleteAttendee" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAttendeeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAttendeeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAttendeeRequest, DeleteAttendeeResult>",
      "asyncReturnType" : "DeleteAttendeeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an attendee from the specified Amazon Chime SDK meeting and deletes their <code>JoinToken</code>. Attendees are automatically deleted when a Amazon Chime SDK meeting is deleted. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAttendeeRequest",
        "variableName" : "deleteAttendeeRequest",
        "variableType" : "DeleteAttendeeRequest",
        "documentation" : "",
        "simpleType" : "DeleteAttendeeRequest",
        "variableSetterType" : "DeleteAttendeeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAttendee",
      "operationName" : "DeleteAttendee",
      "returnType" : {
        "returnType" : "DeleteAttendeeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAttendeeResult"
    },
    "DeleteEventsConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventsConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventsConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventsConfigurationRequest, DeleteEventsConfigurationResult>",
      "asyncReturnType" : "DeleteEventsConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the events configuration that allows a bot to receive outgoing events.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEventsConfigurationRequest",
        "variableName" : "deleteEventsConfigurationRequest",
        "variableType" : "DeleteEventsConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteEventsConfigurationRequest",
        "variableSetterType" : "DeleteEventsConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEventsConfiguration",
      "operationName" : "DeleteEventsConfiguration",
      "returnType" : {
        "returnType" : "DeleteEventsConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEventsConfigurationResult"
    },
    "DeleteMeeting" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMeetingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMeetingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMeetingRequest, DeleteMeetingResult>",
      "asyncReturnType" : "DeleteMeetingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Amazon Chime SDK meeting. When a meeting is deleted, its attendees are also deleted and clients can no longer join it. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMeetingRequest",
        "variableName" : "deleteMeetingRequest",
        "variableType" : "DeleteMeetingRequest",
        "documentation" : "",
        "simpleType" : "DeleteMeetingRequest",
        "variableSetterType" : "DeleteMeetingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMeeting",
      "operationName" : "DeleteMeeting",
      "returnType" : {
        "returnType" : "DeleteMeetingResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMeetingResult"
    },
    "DeletePhoneNumber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePhoneNumberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePhoneNumberRequest, DeletePhoneNumberResult>",
      "asyncReturnType" : "DeletePhoneNumberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Moves the specified phone number into the <b>Deletion queue</b>. A phone number must be disassociated from any users or Amazon Chime Voice Connectors before it can be deleted.</p> <p>Deleted phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePhoneNumberRequest",
        "variableName" : "deletePhoneNumberRequest",
        "variableType" : "DeletePhoneNumberRequest",
        "documentation" : "",
        "simpleType" : "DeletePhoneNumberRequest",
        "variableSetterType" : "DeletePhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePhoneNumber",
      "operationName" : "DeletePhoneNumber",
      "returnType" : {
        "returnType" : "DeletePhoneNumberResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePhoneNumberResult"
    },
    "DeleteRoom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRoomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRoomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRoomRequest, DeleteRoomResult>",
      "asyncReturnType" : "DeleteRoomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a chat room in an Amazon Chime Enterprise account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRoomRequest",
        "variableName" : "deleteRoomRequest",
        "variableType" : "DeleteRoomRequest",
        "documentation" : "",
        "simpleType" : "DeleteRoomRequest",
        "variableSetterType" : "DeleteRoomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRoom",
      "operationName" : "DeleteRoom",
      "returnType" : {
        "returnType" : "DeleteRoomResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRoomResult"
    },
    "DeleteRoomMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRoomMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRoomMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRoomMembershipRequest, DeleteRoomMembershipResult>",
      "asyncReturnType" : "DeleteRoomMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a member from a chat room in an Amazon Chime Enterprise account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRoomMembershipRequest",
        "variableName" : "deleteRoomMembershipRequest",
        "variableType" : "DeleteRoomMembershipRequest",
        "documentation" : "",
        "simpleType" : "DeleteRoomMembershipRequest",
        "variableSetterType" : "DeleteRoomMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRoomMembership",
      "operationName" : "DeleteRoomMembership",
      "returnType" : {
        "returnType" : "DeleteRoomMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRoomMembershipResult"
    },
    "DeleteVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorRequest, DeleteVoiceConnectorResult>",
      "asyncReturnType" : "DeleteVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Amazon Chime Voice Connector. Any phone numbers associated with the Amazon Chime Voice Connector must be disassociated from it before it can be deleted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorRequest",
        "variableName" : "deleteVoiceConnectorRequest",
        "variableType" : "DeleteVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorRequest",
        "variableSetterType" : "DeleteVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnector",
      "operationName" : "DeleteVoiceConnector",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorResult"
    },
    "DeleteVoiceConnectorGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorGroupRequest, DeleteVoiceConnectorGroupResult>",
      "asyncReturnType" : "DeleteVoiceConnectorGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Amazon Chime Voice Connector group. Any <code>VoiceConnectorItems</code> and phone numbers associated with the group must be removed before it can be deleted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported Region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorGroupRequest",
        "variableName" : "deleteVoiceConnectorGroupRequest",
        "variableType" : "DeleteVoiceConnectorGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorGroupRequest",
        "variableSetterType" : "DeleteVoiceConnectorGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnectorGroup",
      "operationName" : "DeleteVoiceConnectorGroup",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorGroupResult"
    },
    "DeleteVoiceConnectorOrigination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorOriginationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorOriginationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorOriginationRequest, DeleteVoiceConnectorOriginationResult>",
      "asyncReturnType" : "DeleteVoiceConnectorOriginationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the origination settings for the specified Amazon Chime Voice Connector.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
[...]
