{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-07-15",
    "asyncClient" : "AmazonChimeSDKMediaPipelinesAsyncClient",
    "asyncClientBuilderClassName" : "AmazonChimeSDKMediaPipelinesAsyncClientBuilder",
    "asyncInterface" : "AmazonChimeSDKMediaPipelinesAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonChimeSDKMediaPipelinesModuleInjector",
    "defaultEndpoint" : "media-pipelines-chime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "media-pipelines-chime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Chime SDK media pipeline APIs in this section allow software developers to create Amazon Chime SDK media pipelines that capture, concatenate, or stream your Amazon Chime SDK meetings. For more information about media pipelines, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/APIReference/API_Operations_Amazon_Chime_SDK_Media_Pipelines.html\">Amazon Chime SDK media pipelines</a>. </p>",
    "endpointPrefix" : "media-pipelines-chime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.chimesdkmediapipelines",
    "packagePath" : "com/amazonaws/services/chimesdkmediapipelines",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Chime SDK Media Pipelines",
    "serviceId" : "Chime SDK Media Pipelines",
    "serviceName" : "Amazon Chime SDK Media Pipelines",
    "signingName" : "chime",
    "smokeTestsPackageName" : "com.amazonaws.services.chimesdkmediapipelines.smoketests",
    "syncClient" : "AmazonChimeSDKMediaPipelinesClient",
    "syncClientBuilderClassName" : "AmazonChimeSDKMediaPipelinesClientBuilder",
    "syncInterface" : "AmazonChimeSDKMediaPipelines",
    "uid" : "chime-sdk-media-pipelines-2021-07-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateMediaCapturePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMediaCapturePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMediaCapturePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMediaCapturePipelineRequest, CreateMediaCapturePipelineResult>",
      "asyncReturnType" : "CreateMediaCapturePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMediaCapturePipelineRequest",
        "variableName" : "createMediaCapturePipelineRequest",
        "variableType" : "CreateMediaCapturePipelineRequest",
        "documentation" : "",
        "simpleType" : "CreateMediaCapturePipelineRequest",
        "variableSetterType" : "CreateMediaCapturePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMediaCapturePipeline",
      "operationName" : "CreateMediaCapturePipeline",
      "returnType" : {
        "returnType" : "CreateMediaCapturePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMediaCapturePipelineResult"
    },
    "CreateMediaConcatenationPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMediaConcatenationPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMediaConcatenationPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMediaConcatenationPipelineRequest, CreateMediaConcatenationPipelineResult>",
      "asyncReturnType" : "CreateMediaConcatenationPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a media concatenation pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMediaConcatenationPipelineRequest",
        "variableName" : "createMediaConcatenationPipelineRequest",
        "variableType" : "CreateMediaConcatenationPipelineRequest",
        "documentation" : "",
        "simpleType" : "CreateMediaConcatenationPipelineRequest",
        "variableSetterType" : "CreateMediaConcatenationPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMediaConcatenationPipeline",
      "operationName" : "CreateMediaConcatenationPipeline",
      "returnType" : {
        "returnType" : "CreateMediaConcatenationPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMediaConcatenationPipelineResult"
    },
    "CreateMediaInsightsPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMediaInsightsPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMediaInsightsPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMediaInsightsPipelineRequest, CreateMediaInsightsPipelineResult>",
      "asyncReturnType" : "CreateMediaInsightsPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a media insights pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMediaInsightsPipelineRequest",
        "variableName" : "createMediaInsightsPipelineRequest",
        "variableType" : "CreateMediaInsightsPipelineRequest",
        "documentation" : "",
        "simpleType" : "CreateMediaInsightsPipelineRequest",
        "variableSetterType" : "CreateMediaInsightsPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMediaInsightsPipeline",
      "operationName" : "CreateMediaInsightsPipeline",
      "returnType" : {
        "returnType" : "CreateMediaInsightsPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMediaInsightsPipelineResult"
    },
    "CreateMediaInsightsPipelineConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMediaInsightsPipelineConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMediaInsightsPipelineConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMediaInsightsPipelineConfigurationRequest, CreateMediaInsightsPipelineConfigurationResult>",
      "asyncReturnType" : "CreateMediaInsightsPipelineConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A structure that contains the static configurations for a media insights pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMediaInsightsPipelineConfigurationRequest",
        "variableName" : "createMediaInsightsPipelineConfigurationRequest",
        "variableType" : "CreateMediaInsightsPipelineConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateMediaInsightsPipelineConfigurationRequest",
        "variableSetterType" : "CreateMediaInsightsPipelineConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMediaInsightsPipelineConfiguration",
      "operationName" : "CreateMediaInsightsPipelineConfiguration",
      "returnType" : {
        "returnType" : "CreateMediaInsightsPipelineConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMediaInsightsPipelineConfigurationResult"
    },
    "CreateMediaLiveConnectorPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMediaLiveConnectorPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMediaLiveConnectorPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMediaLiveConnectorPipelineRequest, CreateMediaLiveConnectorPipelineResult>",
      "asyncReturnType" : "CreateMediaLiveConnectorPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a media live connector pipeline in an Amazon Chime SDK meeting.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMediaLiveConnectorPipelineRequest",
        "variableName" : "createMediaLiveConnectorPipelineRequest",
        "variableType" : "CreateMediaLiveConnectorPipelineRequest",
        "documentation" : "",
        "simpleType" : "CreateMediaLiveConnectorPipelineRequest",
        "variableSetterType" : "CreateMediaLiveConnectorPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMediaLiveConnectorPipeline",
      "operationName" : "CreateMediaLiveConnectorPipeline",
      "returnType" : {
        "returnType" : "CreateMediaLiveConnectorPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMediaLiveConnectorPipelineResult"
    },
    "CreateMediaPipelineKinesisVideoStreamPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMediaPipelineKinesisVideoStreamPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMediaPipelineKinesisVideoStreamPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMediaPipelineKinesisVideoStreamPoolRequest, CreateMediaPipelineKinesisVideoStreamPoolResult>",
      "asyncReturnType" : "CreateMediaPipelineKinesisVideoStreamPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Kinesis video stream pool for the media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMediaPipelineKinesisVideoStreamPoolRequest",
        "variableName" : "createMediaPipelineKinesisVideoStreamPoolRequest",
        "variableType" : "CreateMediaPipelineKinesisVideoStreamPoolRequest",
        "documentation" : "",
        "simpleType" : "CreateMediaPipelineKinesisVideoStreamPoolRequest",
        "variableSetterType" : "CreateMediaPipelineKinesisVideoStreamPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMediaPipelineKinesisVideoStreamPool",
      "operationName" : "CreateMediaPipelineKinesisVideoStreamPool",
      "returnType" : {
        "returnType" : "CreateMediaPipelineKinesisVideoStreamPoolResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMediaPipelineKinesisVideoStreamPoolResult"
    },
    "CreateMediaStreamPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMediaStreamPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMediaStreamPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMediaStreamPipelineRequest, CreateMediaStreamPipelineResult>",
      "asyncReturnType" : "CreateMediaStreamPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a streaming media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMediaStreamPipelineRequest",
        "variableName" : "createMediaStreamPipelineRequest",
        "variableType" : "CreateMediaStreamPipelineRequest",
        "documentation" : "",
        "simpleType" : "CreateMediaStreamPipelineRequest",
        "variableSetterType" : "CreateMediaStreamPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMediaStreamPipeline",
      "operationName" : "CreateMediaStreamPipeline",
      "returnType" : {
        "returnType" : "CreateMediaStreamPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMediaStreamPipelineResult"
    },
    "DeleteMediaCapturePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMediaCapturePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMediaCapturePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMediaCapturePipelineRequest, DeleteMediaCapturePipelineResult>",
      "asyncReturnType" : "DeleteMediaCapturePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMediaCapturePipelineRequest",
        "variableName" : "deleteMediaCapturePipelineRequest",
        "variableType" : "DeleteMediaCapturePipelineRequest",
        "documentation" : "",
        "simpleType" : "DeleteMediaCapturePipelineRequest",
        "variableSetterType" : "DeleteMediaCapturePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMediaCapturePipeline",
      "operationName" : "DeleteMediaCapturePipeline",
      "returnType" : {
        "returnType" : "DeleteMediaCapturePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMediaCapturePipelineResult"
    },
    "DeleteMediaInsightsPipelineConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMediaInsightsPipelineConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMediaInsightsPipelineConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMediaInsightsPipelineConfigurationRequest, DeleteMediaInsightsPipelineConfigurationResult>",
      "asyncReturnType" : "DeleteMediaInsightsPipelineConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified configuration settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMediaInsightsPipelineConfigurationRequest",
        "variableName" : "deleteMediaInsightsPipelineConfigurationRequest",
        "variableType" : "DeleteMediaInsightsPipelineConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteMediaInsightsPipelineConfigurationRequest",
        "variableSetterType" : "DeleteMediaInsightsPipelineConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMediaInsightsPipelineConfiguration",
      "operationName" : "DeleteMediaInsightsPipelineConfiguration",
      "returnType" : {
        "returnType" : "DeleteMediaInsightsPipelineConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMediaInsightsPipelineConfigurationResult"
    },
    "DeleteMediaPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMediaPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMediaPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMediaPipelineRequest, DeleteMediaPipelineResult>",
      "asyncReturnType" : "DeleteMediaPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMediaPipelineRequest",
        "variableName" : "deleteMediaPipelineRequest",
        "variableType" : "DeleteMediaPipelineRequest",
        "documentation" : "",
        "simpleType" : "DeleteMediaPipelineRequest",
        "variableSetterType" : "DeleteMediaPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMediaPipeline",
      "operationName" : "DeleteMediaPipeline",
      "returnType" : {
        "returnType" : "DeleteMediaPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMediaPipelineResult"
    },
    "DeleteMediaPipelineKinesisVideoStreamPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMediaPipelineKinesisVideoStreamPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMediaPipelineKinesisVideoStreamPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMediaPipelineKinesisVideoStreamPoolRequest, DeleteMediaPipelineKinesisVideoStreamPoolResult>",
      "asyncReturnType" : "DeleteMediaPipelineKinesisVideoStreamPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Kinesis video stream pool.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMediaPipelineKinesisVideoStreamPoolRequest",
        "variableName" : "deleteMediaPipelineKinesisVideoStreamPoolRequest",
        "variableType" : "DeleteMediaPipelineKinesisVideoStreamPoolRequest",
        "documentation" : "",
        "simpleType" : "DeleteMediaPipelineKinesisVideoStreamPoolRequest",
        "variableSetterType" : "DeleteMediaPipelineKinesisVideoStreamPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMediaPipelineKinesisVideoStreamPool",
      "operationName" : "DeleteMediaPipelineKinesisVideoStreamPool",
      "returnType" : {
        "returnType" : "DeleteMediaPipelineKinesisVideoStreamPoolResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMediaPipelineKinesisVideoStreamPoolResult"
    },
    "GetMediaCapturePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMediaCapturePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMediaCapturePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMediaCapturePipelineRequest, GetMediaCapturePipelineResult>",
      "asyncReturnType" : "GetMediaCapturePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an existing media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMediaCapturePipelineRequest",
        "variableName" : "getMediaCapturePipelineRequest",
        "variableType" : "GetMediaCapturePipelineRequest",
        "documentation" : "",
        "simpleType" : "GetMediaCapturePipelineRequest",
        "variableSetterType" : "GetMediaCapturePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMediaCapturePipeline",
      "operationName" : "GetMediaCapturePipeline",
      "returnType" : {
        "returnType" : "GetMediaCapturePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMediaCapturePipelineResult"
    },
    "GetMediaInsightsPipelineConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMediaInsightsPipelineConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMediaInsightsPipelineConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMediaInsightsPipelineConfigurationRequest, GetMediaInsightsPipelineConfigurationResult>",
      "asyncReturnType" : "GetMediaInsightsPipelineConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the configuration settings for a media insights pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMediaInsightsPipelineConfigurationRequest",
        "variableName" : "getMediaInsightsPipelineConfigurationRequest",
        "variableType" : "GetMediaInsightsPipelineConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetMediaInsightsPipelineConfigurationRequest",
        "variableSetterType" : "GetMediaInsightsPipelineConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMediaInsightsPipelineConfiguration",
      "operationName" : "GetMediaInsightsPipelineConfiguration",
      "returnType" : {
        "returnType" : "GetMediaInsightsPipelineConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMediaInsightsPipelineConfigurationResult"
    },
    "GetMediaPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMediaPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMediaPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMediaPipelineRequest, GetMediaPipelineResult>",
      "asyncReturnType" : "GetMediaPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an existing media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMediaPipelineRequest",
        "variableName" : "getMediaPipelineRequest",
        "variableType" : "GetMediaPipelineRequest",
        "documentation" : "",
        "simpleType" : "GetMediaPipelineRequest",
        "variableSetterType" : "GetMediaPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMediaPipeline",
      "operationName" : "GetMediaPipeline",
      "returnType" : {
        "returnType" : "GetMediaPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMediaPipelineResult"
    },
    "GetMediaPipelineKinesisVideoStreamPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMediaPipelineKinesisVideoStreamPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMediaPipelineKinesisVideoStreamPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMediaPipelineKinesisVideoStreamPoolRequest, GetMediaPipelineKinesisVideoStreamPoolResult>",
      "asyncReturnType" : "GetMediaPipelineKinesisVideoStreamPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an Kinesis video stream pool.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMediaPipelineKinesisVideoStreamPoolRequest",
        "variableName" : "getMediaPipelineKinesisVideoStreamPoolRequest",
        "variableType" : "GetMediaPipelineKinesisVideoStreamPoolRequest",
        "documentation" : "",
        "simpleType" : "GetMediaPipelineKinesisVideoStreamPoolRequest",
        "variableSetterType" : "GetMediaPipelineKinesisVideoStreamPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMediaPipelineKinesisVideoStreamPool",
      "operationName" : "GetMediaPipelineKinesisVideoStreamPool",
      "returnType" : {
        "returnType" : "GetMediaPipelineKinesisVideoStreamPoolResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMediaPipelineKinesisVideoStreamPoolResult"
    },
    "GetSpeakerSearchTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSpeakerSearchTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSpeakerSearchTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSpeakerSearchTaskRequest, GetSpeakerSearchTaskResult>",
      "asyncReturnType" : "GetSpeakerSearchTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details of the specified speaker search task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSpeakerSearchTaskRequest",
        "variableName" : "getSpeakerSearchTaskRequest",
        "variableType" : "GetSpeakerSearchTaskRequest",
        "documentation" : "",
        "simpleType" : "GetSpeakerSearchTaskRequest",
        "variableSetterType" : "GetSpeakerSearchTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSpeakerSearchTask",
      "operationName" : "GetSpeakerSearchTask",
      "returnType" : {
        "returnType" : "GetSpeakerSearchTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSpeakerSearchTaskResult"
    },
    "GetVoiceToneAnalysisTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVoiceToneAnalysisTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVoiceToneAnalysisTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVoiceToneAnalysisTaskRequest, GetVoiceToneAnalysisTaskResult>",
      "asyncReturnType" : "GetVoiceToneAnalysisTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details of a voice tone analysis task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVoiceToneAnalysisTaskRequest",
        "variableName" : "getVoiceToneAnalysisTaskRequest",
        "variableType" : "GetVoiceToneAnalysisTaskRequest",
        "documentation" : "",
        "simpleType" : "GetVoiceToneAnalysisTaskRequest",
        "variableSetterType" : "GetVoiceToneAnalysisTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVoiceToneAnalysisTask",
      "operationName" : "GetVoiceToneAnalysisTask",
      "returnType" : {
        "returnType" : "GetVoiceToneAnalysisTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVoiceToneAnalysisTaskResult"
    },
    "ListMediaCapturePipelines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMediaCapturePipelinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMediaCapturePipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMediaCapturePipelinesRequest, ListMediaCapturePipelinesResult>",
      "asyncReturnType" : "ListMediaCapturePipelinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of media pipelines.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMediaCapturePipelinesRequest",
        "variableName" : "listMediaCapturePipelinesRequest",
        "variableType" : "ListMediaCapturePipelinesRequest",
        "documentation" : "",
        "simpleType" : "ListMediaCapturePipelinesRequest",
        "variableSetterType" : "ListMediaCapturePipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMediaCapturePipelines",
      "operationName" : "ListMediaCapturePipelines",
      "returnType" : {
        "returnType" : "ListMediaCapturePipelinesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMediaCapturePipelinesResult"
    },
    "ListMediaInsightsPipelineConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMediaInsightsPipelineConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMediaInsightsPipelineConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMediaInsightsPipelineConfigurationsRequest, ListMediaInsightsPipelineConfigurationsResult>",
      "asyncReturnType" : "ListMediaInsightsPipelineConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the available media insights pipeline configurations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMediaInsightsPipelineConfigurationsRequest",
        "variableName" : "listMediaInsightsPipelineConfigurationsRequest",
        "variableType" : "ListMediaInsightsPipelineConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListMediaInsightsPipelineConfigurationsRequest",
        "variableSetterType" : "ListMediaInsightsPipelineConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMediaInsightsPipelineConfigurations",
      "operationName" : "ListMediaInsightsPipelineConfigurations",
      "returnType" : {
        "returnType" : "ListMediaInsightsPipelineConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMediaInsightsPipelineConfigurationsResult"
    },
    "ListMediaPipelineKinesisVideoStreamPools" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMediaPipelineKinesisVideoStreamPoolsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMediaPipelineKinesisVideoStreamPoolsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMediaPipelineKinesisVideoStreamPoolsRequest, ListMediaPipelineKinesisVideoStreamPoolsResult>",
      "asyncReturnType" : "ListMediaPipelineKinesisVideoStreamPoolsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the video stream pools in the media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMediaPipelineKinesisVideoStreamPoolsRequest",
        "variableName" : "listMediaPipelineKinesisVideoStreamPoolsRequest",
        "variableType" : "ListMediaPipelineKinesisVideoStreamPoolsRequest",
        "documentation" : "",
        "simpleType" : "ListMediaPipelineKinesisVideoStreamPoolsRequest",
        "variableSetterType" : "ListMediaPipelineKinesisVideoStreamPoolsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMediaPipelineKinesisVideoStreamPools",
      "operationName" : "ListMediaPipelineKinesisVideoStreamPools",
      "returnType" : {
        "returnType" : "ListMediaPipelineKinesisVideoStreamPoolsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMediaPipelineKinesisVideoStreamPoolsResult"
    },
    "ListMediaPipelines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMediaPipelinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMediaPipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMediaPipelinesRequest, ListMediaPipelinesResult>",
      "asyncReturnType" : "ListMediaPipelinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of media pipelines.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMediaPipelinesRequest",
        "variableName" : "listMediaPipelinesRequest",
        "variableType" : "ListMediaPipelinesRequest",
        "documentation" : "",
        "simpleType" : "ListMediaPipelinesRequest",
        "variableSetterType" : "ListMediaPipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMediaPipelines",
      "operationName" : "ListMediaPipelines",
      "returnType" : {
        "returnType" : "ListMediaPipelinesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMediaPipelinesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags available for a media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartSpeakerSearchTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartSpeakerSearchTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartSpeakerSearchTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartSpeakerSearchTaskRequest, StartSpeakerSearchTaskResult>",
      "asyncReturnType" : "StartSpeakerSearchTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a speaker search task.</p> <important> <p>Before starting any speaker search tasks, you must provide all notices and obtain all consents from the speaker as required under applicable privacy and biometrics laws, and as required under the <a href=\"https://aws.amazon.com/service-terms/\">AWS service terms</a> for the Amazon Chime SDK.</p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartSpeakerSearchTaskRequest",
        "variableName" : "startSpeakerSearchTaskRequest",
        "variableType" : "StartSpeakerSearchTaskRequest",
        "documentation" : "",
        "simpleType" : "StartSpeakerSearchTaskRequest",
        "variableSetterType" : "StartSpeakerSearchTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startSpeakerSearchTask",
      "operationName" : "StartSpeakerSearchTask",
      "returnType" : {
        "returnType" : "StartSpeakerSearchTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "StartSpeakerSearchTaskResult"
    },
    "StartVoiceToneAnalysisTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartVoiceToneAnalysisTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartVoiceToneAnalysisTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartVoiceToneAnalysisTaskRequest, StartVoiceToneAnalysisTaskResult>",
      "asyncReturnType" : "StartVoiceToneAnalysisTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a voice tone analysis task. For more information about voice tone analysis, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/voice-analytics.html\">Using Amazon Chime SDK voice analytics</a> in the <i>Amazon Chime SDK Developer Guide</i>.</p> <important> <p>Before starting any voice tone analysis tasks, you must provide all notices and obtain all consents from the speaker as required under applicable privacy and biometrics laws, and as required under the <a href=\"https://aws.amazon.com/service-terms/\">AWS service terms</a> for the Amazon Chime SDK.</p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartVoiceToneAnalysisTaskRequest",
        "variableName" : "startVoiceToneAnalysisTaskRequest",
        "variableType" : "StartVoiceToneAnalysisTaskRequest",
        "documentation" : "",
        "simpleType" : "StartVoiceToneAnalysisTaskRequest",
        "variableSetterType" : "StartVoiceToneAnalysisTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startVoiceToneAnalysisTask",
      "operationName" : "StartVoiceToneAnalysisTask",
      "returnType" : {
        "returnType" : "StartVoiceToneAnalysisTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "StartVoiceToneAnalysisTaskResult"
    },
    "StopSpeakerSearchTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopSpeakerSearchTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopSpeakerSearchTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopSpeakerSearchTaskRequest, StopSpeakerSearchTaskResult>",
      "asyncReturnType" : "StopSpeakerSearchTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a speaker search task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopSpeakerSearchTaskRequest",
        "variableName" : "stopSpeakerSearchTaskRequest",
        "variableType" : "StopSpeakerSearchTaskRequest",
        "documentation" : "",
        "simpleType" : "StopSpeakerSearchTaskRequest",
        "variableSetterType" : "StopSpeakerSearchTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopSpeakerSearchTask",
      "operationName" : "StopSpeakerSearchTask",
      "returnType" : {
        "returnType" : "StopSpeakerSearchTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "StopSpeakerSearchTaskResult"
    },
    "StopVoiceToneAnalysisTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopVoiceToneAnalysisTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopVoiceToneAnalysisTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopVoiceToneAnalysisTaskRequest, StopVoiceToneAnalysisTaskResult>",
      "asyncReturnType" : "StopVoiceToneAnalysisTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a voice tone analysis task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopVoiceToneAnalysisTaskRequest",
        "variableName" : "stopVoiceToneAnalysisTaskRequest",
        "variableType" : "StopVoiceToneAnalysisTaskRequest",
        "documentation" : "",
        "simpleType" : "StopVoiceToneAnalysisTaskRequest",
        "variableSetterType" : "StopVoiceToneAnalysisTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopVoiceToneAnalysisTask",
      "operationName" : "StopVoiceToneAnalysisTask",
      "returnType" : {
        "returnType" : "StopVoiceToneAnalysisTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "StopVoiceToneAnalysisTaskResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The ARN of the media pipeline that you want to tag. Consists of the pipeline's endpoint region, resource ID, and pipeline ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes any tags from a media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateMediaInsightsPipelineConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMediaInsightsPipelineConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMediaInsightsPipelineConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMediaInsightsPipelineConfigurationRequest, UpdateMediaInsightsPipelineConfigurationResult>",
      "asyncReturnType" : "UpdateMediaInsightsPipelineConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the media insights pipeline's configuration settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateMediaInsightsPipelineConfigurationRequest",
        "variableName" : "updateMediaInsightsPipelineConfigurationRequest",
        "variableType" : "UpdateMediaInsightsPipelineConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateMediaInsightsPipelineConfigurationRequest",
        "variableSetterType" : "UpdateMediaInsightsPipelineConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateMediaInsightsPipelineConfiguration",
      "operationName" : "UpdateMediaInsightsPipelineConfiguration",
      "returnType" : {
        "returnType" : "UpdateMediaInsightsPipelineConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateMediaInsightsPipelineConfigurationResult"
    },
    "UpdateMediaInsightsPipelineStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMediaInsightsPipelineStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMediaInsightsPipelineStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMediaInsightsPipelineStatusRequest, UpdateMediaInsightsPipelineStatusResult>",
      "asyncReturnType" : "UpdateMediaInsightsPipelineStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the status of a media insights pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateMediaInsightsPipelineStatusRequest",
        "variableName" : "updateMediaInsightsPipelineStatusRequest",
        "variableType" : "UpdateMediaInsightsPipelineStatusRequest",
        "documentation" : "",
        "simpleType" : "UpdateMediaInsightsPipelineStatusRequest",
        "variableSetterType" : "UpdateMediaInsightsPipelineStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateMediaInsightsPipelineStatus",
      "operationName" : "UpdateMediaInsightsPipelineStatus",
      "returnType" : {
        "returnType" : "UpdateMediaInsightsPipelineStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateMediaInsightsPipelineStatusResult"
    },
    "UpdateMediaPipelineKinesisVideoStreamPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMediaPipelineKinesisVideoStreamPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMediaPipelineKinesisVideoStreamPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMediaPipelineKinesisVideoStreamPoolRequest, UpdateMediaPipelineKinesisVideoStreamPoolResult>",
      "asyncReturnType" : "UpdateMediaPipelineKinesisVideoStreamPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an Kinesis video stream pool in a media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateMediaPipelineKinesisVideoStreamPoolRequest",
        "variableName" : "updateMediaPipelineKinesisVideoStreamPoolRequest",
        "variableType" : "UpdateMediaPipelineKinesisVideoStreamPoolRequest",
        "documentation" : "",
        "simpleType" : "UpdateMediaPipelineKinesisVideoStreamPoolRequest",
        "variableSetterType" : "UpdateMediaPipelineKinesisVideoStreamPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateMediaPipelineKinesisVideoStreamPool",
      "operationName" : "UpdateMediaPipelineKinesisVideoStreamPool",
      "returnType" : {
        "returnType" : "UpdateMediaPipelineKinesisVideoStreamPoolResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateMediaPipelineKinesisVideoStreamPoolResult"
    }
  },
  "shapes" : {
    "ActiveSpeakerOnlyConfiguration" : {
      "c2jName" : "ActiveSpeakerOnlyConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Defines the configuration for an <code>ActiveSpeakerOnly</code> video tile.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmediapipelines.model.ActiveSpeakerOnlyConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ActiveSpeakerPosition",
        "c2jShape" : "ActiveSpeakerPosition",
        "deprecated" : false,
        "documentation" : "<p>The position of the <code>ActiveSpeakerOnly</code> video tile.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ActiveSpeakerPosition",
        "fluentSetterDocumentation" : "/**<p>The position of the <code>ActiveSpeakerOnly</code> video tile.</p>\n@param activeSpeakerPosition The position of the <code>ActiveSpeakerOnly</code> video tile.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActiveSpeakerPosition*/",
        "fluentSetterMethodName" : "withActiveSpeakerPosition",
        "getterDocumentation" : "/**<p>The position of the <code>ActiveSpeakerOnly</code> video tile.</p>\n@return The position of the <code>ActiveSpeakerOnly</code> video tile.\n@see ActiveSpeakerPosition*/",
        "getterMethodName" : "getActiveSpeakerPosition",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ActiveSpeakerPosition",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ActiveSpeakerPosition",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ActiveSpeakerPosition",
        "sensitive" : false,
[...]
