{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-05-15",
    "asyncClient" : "AmazonChimeSDKMessagingAsyncClient",
    "asyncClientBuilderClassName" : "AmazonChimeSDKMessagingAsyncClientBuilder",
    "asyncInterface" : "AmazonChimeSDKMessagingAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonChimeSDKMessagingModuleInjector",
    "defaultEndpoint" : "messaging-chime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "messaging-chime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Chime SDK messaging APIs in this section allow software developers to send and receive messages in custom messaging applications. These APIs depend on the frameworks provided by the Amazon Chime SDK identity APIs. For more information about the messaging APIs, see <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Messaging.html\">Amazon Chime SDK messaging</a>.</p>",
    "endpointPrefix" : "messaging-chime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.chimesdkmessaging",
    "packagePath" : "com/amazonaws/services/chimesdkmessaging",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Chime SDK Messaging",
    "serviceId" : "Chime SDK Messaging",
    "serviceName" : "Amazon Chime SDK Messaging",
    "signingName" : "chime",
    "smokeTestsPackageName" : "com.amazonaws.services.chimesdkmessaging.smoketests",
    "syncClient" : "AmazonChimeSDKMessagingClient",
    "syncClientBuilderClassName" : "AmazonChimeSDKMessagingClientBuilder",
    "syncInterface" : "AmazonChimeSDKMessaging",
    "uid" : "chime-sdk-messaging-2021-05-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateChannelFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateChannelFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateChannelFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateChannelFlowRequest, AssociateChannelFlowResult>",
      "asyncReturnType" : "AssociateChannelFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a channel flow with a channel. Once associated, all messages to that channel go through channel flow processors. To stop processing, use the <code>DisassociateChannelFlow</code> API.</p> <note> <p>Only administrators or channel moderators can associate a channel flow. The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateChannelFlowRequest",
        "variableName" : "associateChannelFlowRequest",
        "variableType" : "AssociateChannelFlowRequest",
        "documentation" : "",
        "simpleType" : "AssociateChannelFlowRequest",
        "variableSetterType" : "AssociateChannelFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateChannelFlow",
      "operationName" : "AssociateChannelFlow",
      "returnType" : {
        "returnType" : "AssociateChannelFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateChannelFlowResult"
    },
    "BatchCreateChannelMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCreateChannelMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCreateChannelMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCreateChannelMembershipRequest, BatchCreateChannelMembershipResult>",
      "asyncReturnType" : "BatchCreateChannelMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a specified number of users and bots to a channel. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCreateChannelMembershipRequest",
        "variableName" : "batchCreateChannelMembershipRequest",
        "variableType" : "BatchCreateChannelMembershipRequest",
        "documentation" : "",
        "simpleType" : "BatchCreateChannelMembershipRequest",
        "variableSetterType" : "BatchCreateChannelMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCreateChannelMembership",
      "operationName" : "BatchCreateChannelMembership",
      "returnType" : {
        "returnType" : "BatchCreateChannelMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCreateChannelMembershipResult"
    },
    "ChannelFlowCallback" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ChannelFlowCallbackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ChannelFlowCallbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ChannelFlowCallbackRequest, ChannelFlowCallbackResult>",
      "asyncReturnType" : "ChannelFlowCallbackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Calls back Amazon Chime SDK messaging with a processing response message. This should be invoked from the processor Lambda. This is a developer API.</p> <p>You can return one of the following processing responses:</p> <ul> <li> <p>Update message content or metadata</p> </li> <li> <p>Deny a message</p> </li> <li> <p>Make no changes to the message</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChannelFlowCallbackRequest",
        "variableName" : "channelFlowCallbackRequest",
        "variableType" : "ChannelFlowCallbackRequest",
        "documentation" : "",
        "simpleType" : "ChannelFlowCallbackRequest",
        "variableSetterType" : "ChannelFlowCallbackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "channelFlowCallback",
      "operationName" : "ChannelFlowCallback",
      "returnType" : {
        "returnType" : "ChannelFlowCallbackResult",
        "documentation" : null
      },
      "syncReturnType" : "ChannelFlowCallbackResult"
    },
    "CreateChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChannelRequest, CreateChannelResult>",
      "asyncReturnType" : "CreateChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a channel to which you can add users and send messages.</p> <p> <b>Restriction</b>: You can't change a channel's privacy.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateChannelRequest",
        "variableName" : "createChannelRequest",
        "variableType" : "CreateChannelRequest",
        "documentation" : "",
        "simpleType" : "CreateChannelRequest",
        "variableSetterType" : "CreateChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChannel",
      "operationName" : "CreateChannel",
      "returnType" : {
        "returnType" : "CreateChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateChannelResult"
    },
    "CreateChannelBan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChannelBanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChannelBanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChannelBanRequest, CreateChannelBanResult>",
      "asyncReturnType" : "CreateChannelBanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently bans a member from a channel. Moderators can't add banned members to a channel. To undo a ban, you first have to <code>DeleteChannelBan</code>, and then <code>CreateChannelMembership</code>. Bans are cleaned up when you delete users or channels.</p> <p>If you ban a user who is already part of a channel, that user is automatically kicked from the channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateChannelBanRequest",
        "variableName" : "createChannelBanRequest",
        "variableType" : "CreateChannelBanRequest",
        "documentation" : "",
        "simpleType" : "CreateChannelBanRequest",
        "variableSetterType" : "CreateChannelBanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChannelBan",
      "operationName" : "CreateChannelBan",
      "returnType" : {
        "returnType" : "CreateChannelBanResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateChannelBanResult"
    },
    "CreateChannelFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChannelFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChannelFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChannelFlowRequest, CreateChannelFlowResult>",
      "asyncReturnType" : "CreateChannelFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a channel flow, a container for processors. Processors are AWS Lambda functions that perform actions on chat messages, such as stripping out profanity. You can associate channel flows with channels, and the processors in the channel flow then take action on all messages sent to that channel. This is a developer API.</p> <p>Channel flows process the following items:</p> <ol> <li> <p>New and updated messages</p> </li> <li> <p>Persistent and non-persistent messages</p> </li> <li> <p>The Standard message type</p> </li> </ol> <note> <p>Channel flows don't process Control or System messages. For more information about the message types provided by Chime SDK messaging, refer to <a href=\"https://docs.aws.amazon.com/chime/latest/dg/using-the-messaging-sdk.html#msg-types\">Message types</a> in the <i>Amazon Chime developer guide</i>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateChannelFlowRequest",
        "variableName" : "createChannelFlowRequest",
        "variableType" : "CreateChannelFlowRequest",
        "documentation" : "",
        "simpleType" : "CreateChannelFlowRequest",
        "variableSetterType" : "CreateChannelFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChannelFlow",
      "operationName" : "CreateChannelFlow",
      "returnType" : {
        "returnType" : "CreateChannelFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateChannelFlowResult"
    },
    "CreateChannelMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChannelMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChannelMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChannelMembershipRequest, CreateChannelMembershipResult>",
      "asyncReturnType" : "CreateChannelMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a member to a channel. The <code>InvitedBy</code> field in <code>ChannelMembership</code> is derived from the request header. A channel member can:</p> <ul> <li> <p>List messages</p> </li> <li> <p>Send messages</p> </li> <li> <p>Receive messages</p> </li> <li> <p>Edit their own messages</p> </li> <li> <p>Leave the channel</p> </li> </ul> <p>Privacy settings impact this action as follows:</p> <ul> <li> <p>Public Channels: You do not need to be a member to list messages, but you must be a member to send messages.</p> </li> <li> <p>Private Channels: You must be a member to list or send messages.</p> </li> </ul> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUserArn</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateChannelMembershipRequest",
        "variableName" : "createChannelMembershipRequest",
        "variableType" : "CreateChannelMembershipRequest",
        "documentation" : "",
        "simpleType" : "CreateChannelMembershipRequest",
        "variableSetterType" : "CreateChannelMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChannelMembership",
      "operationName" : "CreateChannelMembership",
      "returnType" : {
        "returnType" : "CreateChannelMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateChannelMembershipResult"
    },
    "CreateChannelModerator" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChannelModeratorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChannelModeratorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChannelModeratorRequest, CreateChannelModeratorResult>",
      "asyncReturnType" : "CreateChannelModeratorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new <code>ChannelModerator</code>. A channel moderator can:</p> <ul> <li> <p>Add and remove other members of the channel.</p> </li> <li> <p>Add and remove other moderators of the channel.</p> </li> <li> <p>Add and remove user bans for the channel.</p> </li> <li> <p>Redact messages in the channel.</p> </li> <li> <p>List messages in the channel.</p> </li> </ul> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code>of the user that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateChannelModeratorRequest",
        "variableName" : "createChannelModeratorRequest",
        "variableType" : "CreateChannelModeratorRequest",
        "documentation" : "",
        "simpleType" : "CreateChannelModeratorRequest",
        "variableSetterType" : "CreateChannelModeratorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChannelModerator",
      "operationName" : "CreateChannelModerator",
      "returnType" : {
        "returnType" : "CreateChannelModeratorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateChannelModeratorResult"
    },
    "DeleteChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelRequest, DeleteChannelResult>",
      "asyncReturnType" : "DeleteChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Immediately makes a channel and its memberships inaccessible and marks them for deletion. This is an irreversible process.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUserArn</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChannelRequest",
        "variableName" : "deleteChannelRequest",
        "variableType" : "DeleteChannelRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelRequest",
        "variableSetterType" : "DeleteChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannel",
      "operationName" : "DeleteChannel",
      "returnType" : {
        "returnType" : "DeleteChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteChannelResult"
    },
    "DeleteChannelBan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelBanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelBanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelBanRequest, DeleteChannelBanResult>",
      "asyncReturnType" : "DeleteChannelBanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a member from a channel's ban list.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChannelBanRequest",
        "variableName" : "deleteChannelBanRequest",
        "variableType" : "DeleteChannelBanRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelBanRequest",
        "variableSetterType" : "DeleteChannelBanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannelBan",
      "operationName" : "DeleteChannelBan",
      "returnType" : {
        "returnType" : "DeleteChannelBanResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteChannelBanResult"
    },
    "DeleteChannelFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelFlowRequest, DeleteChannelFlowResult>",
      "asyncReturnType" : "DeleteChannelFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a channel flow, an irreversible process. This is a developer API.</p> <note> <p> This API works only when the channel flow is not associated with any channel. To get a list of all channels that a channel flow is associated with, use the <code>ListChannelsAssociatedWithChannelFlow</code> API. Use the <code>DisassociateChannelFlow</code> API to disassociate a channel flow from all channels. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChannelFlowRequest",
        "variableName" : "deleteChannelFlowRequest",
        "variableType" : "DeleteChannelFlowRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelFlowRequest",
        "variableSetterType" : "DeleteChannelFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannelFlow",
      "operationName" : "DeleteChannelFlow",
      "returnType" : {
        "returnType" : "DeleteChannelFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteChannelFlowResult"
    },
    "DeleteChannelMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelMembershipRequest, DeleteChannelMembershipResult>",
      "asyncReturnType" : "DeleteChannelMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a member from a channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChannelMembershipRequest",
        "variableName" : "deleteChannelMembershipRequest",
        "variableType" : "DeleteChannelMembershipRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelMembershipRequest",
        "variableSetterType" : "DeleteChannelMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannelMembership",
      "operationName" : "DeleteChannelMembership",
      "returnType" : {
        "returnType" : "DeleteChannelMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteChannelMembershipResult"
    },
    "DeleteChannelMessage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelMessageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelMessageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelMessageRequest, DeleteChannelMessageResult>",
      "asyncReturnType" : "DeleteChannelMessageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a channel message. Only admins can perform this action. Deletion makes messages inaccessible immediately. A background process deletes any revisions created by <code>UpdateChannelMessage</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChannelMessageRequest",
        "variableName" : "deleteChannelMessageRequest",
        "variableType" : "DeleteChannelMessageRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelMessageRequest",
        "variableSetterType" : "DeleteChannelMessageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannelMessage",
      "operationName" : "DeleteChannelMessage",
      "returnType" : {
        "returnType" : "DeleteChannelMessageResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteChannelMessageResult"
    },
    "DeleteChannelModerator" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelModeratorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelModeratorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelModeratorRequest, DeleteChannelModeratorResult>",
      "asyncReturnType" : "DeleteChannelModeratorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a channel moderator.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChannelModeratorRequest",
        "variableName" : "deleteChannelModeratorRequest",
        "variableType" : "DeleteChannelModeratorRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelModeratorRequest",
        "variableSetterType" : "DeleteChannelModeratorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannelModerator",
      "operationName" : "DeleteChannelModerator",
      "returnType" : {
        "returnType" : "DeleteChannelModeratorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteChannelModeratorResult"
    },
    "DeleteMessagingStreamingConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMessagingStreamingConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMessagingStreamingConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMessagingStreamingConfigurationsRequest, DeleteMessagingStreamingConfigurationsResult>",
      "asyncReturnType" : "DeleteMessagingStreamingConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the streaming configurations for an <code>AppInstance</code>. For more information, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/streaming-export.html\">Streaming messaging data</a> in the <i>Amazon Chime SDK Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMessagingStreamingConfigurationsRequest",
        "variableName" : "deleteMessagingStreamingConfigurationsRequest",
        "variableType" : "DeleteMessagingStreamingConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "DeleteMessagingStreamingConfigurationsRequest",
        "variableSetterType" : "DeleteMessagingStreamingConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMessagingStreamingConfigurations",
      "operationName" : "DeleteMessagingStreamingConfigurations",
      "returnType" : {
        "returnType" : "DeleteMessagingStreamingConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMessagingStreamingConfigurationsResult"
    },
    "DescribeChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChannelRequest, DescribeChannelResult>",
      "asyncReturnType" : "DescribeChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of a channel in an Amazon Chime <code>AppInstance</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeChannelRequest",
        "variableName" : "describeChannelRequest",
        "variableType" : "DescribeChannelRequest",
        "documentation" : "",
        "simpleType" : "DescribeChannelRequest",
        "variableSetterType" : "DescribeChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChannel",
      "operationName" : "DescribeChannel",
      "returnType" : {
        "returnType" : "DescribeChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeChannelResult"
    },
    "DescribeChannelBan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChannelBanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChannelBanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChannelBanRequest, DescribeChannelBanResult>",
      "asyncReturnType" : "DescribeChannelBanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of a channel ban.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeChannelBanRequest",
        "variableName" : "describeChannelBanRequest",
        "variableType" : "DescribeChannelBanRequest",
        "documentation" : "",
        "simpleType" : "DescribeChannelBanRequest",
        "variableSetterType" : "DescribeChannelBanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChannelBan",
      "operationName" : "DescribeChannelBan",
      "returnType" : {
        "returnType" : "DescribeChannelBanResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeChannelBanResult"
    },
    "DescribeChannelFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChannelFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChannelFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChannelFlowRequest, DescribeChannelFlowResult>",
      "asyncReturnType" : "DescribeChannelFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of a channel flow in an Amazon Chime <code>AppInstance</code>. This is a developer API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeChannelFlowRequest",
        "variableName" : "describeChannelFlowRequest",
        "variableType" : "DescribeChannelFlowRequest",
        "documentation" : "",
        "simpleType" : "DescribeChannelFlowRequest",
        "variableSetterType" : "DescribeChannelFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChannelFlow",
      "operationName" : "DescribeChannelFlow",
      "returnType" : {
        "returnType" : "DescribeChannelFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeChannelFlowResult"
    },
    "DescribeChannelMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChannelMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChannelMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChannelMembershipRequest, DescribeChannelMembershipResult>",
      "asyncReturnType" : "DescribeChannelMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of a user's channel membership.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeChannelMembershipRequest",
        "variableName" : "describeChannelMembershipRequest",
        "variableType" : "DescribeChannelMembershipRequest",
        "documentation" : "",
        "simpleType" : "DescribeChannelMembershipRequest",
        "variableSetterType" : "DescribeChannelMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChannelMembership",
      "operationName" : "DescribeChannelMembership",
      "returnType" : {
        "returnType" : "DescribeChannelMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeChannelMembershipResult"
    },
    "DescribeChannelMembershipForAppInstanceUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChannelMembershipForAppInstanceUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChannelMembershipForAppInstanceUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChannelMembershipForAppInstanceUserRequest, DescribeChannelMembershipForAppInstanceUserResult>",
      "asyncReturnType" : "DescribeChannelMembershipForAppInstanceUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the details of a channel based on the membership of the specified <code>AppInstanceUser</code> or <code>AppInstanceBot</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeChannelMembershipForAppInstanceUserRequest",
        "variableName" : "describeChannelMembershipForAppInstanceUserRequest",
        "variableType" : "DescribeChannelMembershipForAppInstanceUserRequest",
        "documentation" : "",
        "simpleType" : "DescribeChannelMembershipForAppInstanceUserRequest",
        "variableSetterType" : "DescribeChannelMembershipForAppInstanceUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChannelMembershipForAppInstanceUser",
      "operationName" : "DescribeChannelMembershipForAppInstanceUser",
      "returnType" : {
        "returnType" : "DescribeChannelMembershipForAppInstanceUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeChannelMembershipForAppInstanceUserResult"
    },
    "DescribeChannelModeratedByAppInstanceUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChannelModeratedByAppInstanceUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChannelModeratedByAppInstanceUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChannelModeratedByAppInstanceUserRequest, DescribeChannelModeratedByAppInstanceUserResult>",
      "asyncReturnType" : "DescribeChannelModeratedByAppInstanceUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of a channel moderated by the specified <code>AppInstanceUser</code> or <code>AppInstanceBot</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeChannelModeratedByAppInstanceUserRequest",
        "variableName" : "describeChannelModeratedByAppInstanceUserRequest",
        "variableType" : "DescribeChannelModeratedByAppInstanceUserRequest",
        "documentation" : "",
        "simpleType" : "DescribeChannelModeratedByAppInstanceUserRequest",
        "variableSetterType" : "DescribeChannelModeratedByAppInstanceUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChannelModeratedByAppInstanceUser",
      "operationName" : "DescribeChannelModeratedByAppInstanceUser",
      "returnType" : {
        "returnType" : "DescribeChannelModeratedByAppInstanceUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeChannelModeratedByAppInstanceUserResult"
    },
    "DescribeChannelModerator" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChannelModeratorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChannelModeratorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChannelModeratorRequest, DescribeChannelModeratorResult>",
      "asyncReturnType" : "DescribeChannelModeratorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of a single ChannelModerator.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeChannelModeratorRequest",
        "variableName" : "describeChannelModeratorRequest",
        "variableType" : "DescribeChannelModeratorRequest",
        "documentation" : "",
        "simpleType" : "DescribeChannelModeratorRequest",
        "variableSetterType" : "DescribeChannelModeratorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChannelModerator",
      "operationName" : "DescribeChannelModerator",
      "returnType" : {
        "returnType" : "DescribeChannelModeratorResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeChannelModeratorResult"
    },
    "DisassociateChannelFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateChannelFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateChannelFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateChannelFlowRequest, DisassociateChannelFlowResult>",
      "asyncReturnType" : "DisassociateChannelFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a channel flow from all its channels. Once disassociated, all messages to that channel stop going through the channel flow processor.</p> <note> <p>Only administrators or channel moderators can disassociate a channel flow.</p> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateChannelFlowRequest",
        "variableName" : "disassociateChannelFlowRequest",
        "variableType" : "DisassociateChannelFlowRequest",
        "documentation" : "",
        "simpleType" : "DisassociateChannelFlowRequest",
        "variableSetterType" : "DisassociateChannelFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateChannelFlow",
      "operationName" : "DisassociateChannelFlow",
      "returnType" : {
        "returnType" : "DisassociateChannelFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateChannelFlowResult"
    },
    "GetChannelMembershipPreferences" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetChannelMembershipPreferencesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetChannelMembershipPreferencesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChannelMembershipPreferencesRequest, GetChannelMembershipPreferencesResult>",
      "asyncReturnType" : "GetChannelMembershipPreferencesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the membership preferences of an <code>AppInstanceUser</code> or <code>AppInstanceBot</code> for the specified channel. A user or a bot must be a member of the channel and own the membership in order to retrieve membership preferences. Users or bots in the <code>AppInstanceAdmin</code> and channel moderator roles can't retrieve preferences for other users or bots. Banned users or bots can't retrieve membership preferences for the channel from which they are banned.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetChannelMembershipPreferencesRequest",
        "variableName" : "getChannelMembershipPreferencesRequest",
        "variableType" : "GetChannelMembershipPreferencesRequest",
        "documentation" : "",
        "simpleType" : "GetChannelMembershipPreferencesRequest",
        "variableSetterType" : "GetChannelMembershipPreferencesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getChannelMembershipPreferences",
      "operationName" : "GetChannelMembershipPreferences",
      "returnType" : {
        "returnType" : "GetChannelMembershipPreferencesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetChannelMembershipPreferencesResult"
    },
    "GetChannelMessage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetChannelMessageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetChannelMessageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChannelMessageRequest, GetChannelMessageResult>",
      "asyncReturnType" : "GetChannelMessageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the full details of a channel message.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetChannelMessageRequest",
        "variableName" : "getChannelMessageRequest",
        "variableType" : "GetChannelMessageRequest",
        "documentation" : "",
        "simpleType" : "GetChannelMessageRequest",
        "variableSetterType" : "GetChannelMessageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getChannelMessage",
      "operationName" : "GetChannelMessage",
      "returnType" : {
        "returnType" : "GetChannelMessageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetChannelMessageResult"
    },
    "GetChannelMessageStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetChannelMessageStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetChannelMessageStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChannelMessageStatusRequest, GetChannelMessageStatusResult>",
      "asyncReturnType" : "GetChannelMessageStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets message status for a specified <code>messageId</code>. Use this API to determine the intermediate status of messages going through channel flow processing. The API provides an alternative to retrieving message status if the event was not received because a client wasn't connected to a websocket. </p> <p>Messages can have any one of these statuses.</p> <dl> <dt>SENT</dt> <dd> <p>Message processed successfully</p> </dd> <dt>PENDING</dt> <dd> <p>Ongoing processing</p> </dd> <dt>FAILED</dt> <dd> <p>Processing failed</p> </dd> <dt>DENIED</dt> <dd> <p>Message denied by the processor</p> </dd> </dl> <note> <ul> <li> <p>This API does not return statuses for denied messages, because we don't store them once the processor denies them. </p> </li> <li> <p>Only the message sender can invoke this API.</p> </li> <li> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetChannelMessageStatusRequest",
        "variableName" : "getChannelMessageStatusRequest",
        "variableType" : "GetChannelMessageStatusRequest",
        "documentation" : "",
        "simpleType" : "GetChannelMessageStatusRequest",
        "variableSetterType" : "GetChannelMessageStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getChannelMessageStatus",
      "operationName" : "GetChannelMessageStatus",
      "returnType" : {
        "returnType" : "GetChannelMessageStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetChannelMessageStatusResult"
    },
    "GetMessagingSessionEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMessagingSessionEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMessagingSessionEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMessagingSessionEndpointRequest, GetMessagingSessionEndpointResult>",
      "asyncReturnType" : "GetMessagingSessionEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The details of the endpoint for the messaging session.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMessagingSessionEndpointRequest",
        "variableName" : "getMessagingSessionEndpointRequest",
        "variableType" : "GetMessagingSessionEndpointRequest",
        "documentation" : "",
        "simpleType" : "GetMessagingSessionEndpointRequest",
        "variableSetterType" : "GetMessagingSessionEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMessagingSessionEndpoint",
      "operationName" : "GetMessagingSessionEndpoint",
      "returnType" : {
        "returnType" : "GetMessagingSessionEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMessagingSessionEndpointResult"
    },
    "GetMessagingStreamingConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMessagingStreamingConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMessagingStreamingConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMessagingStreamingConfigurationsRequest, GetMessagingStreamingConfigurationsResult>",
      "asyncReturnType" : "GetMessagingStreamingConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the data streaming configuration for an <code>AppInstance</code>. For more information, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/streaming-export.html\">Streaming messaging data</a> in the <i>Amazon Chime SDK Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMessagingStreamingConfigurationsRequest",
        "variableName" : "getMessagingStreamingConfigurationsRequest",
        "variableType" : "GetMessagingStreamingConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "GetMessagingStreamingConfigurationsRequest",
        "variableSetterType" : "GetMessagingStreamingConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMessagingStreamingConfigurations",
      "operationName" : "GetMessagingStreamingConfigurations",
      "returnType" : {
        "returnType" : "GetMessagingStreamingConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMessagingStreamingConfigurationsResult"
    },
    "ListChannelBans" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChannelBansResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChannelBansResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChannelBansRequest, ListChannelBansResult>",
      "asyncReturnType" : "ListChannelBansResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the users and bots banned from a particular channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChannelBansRequest",
        "variableName" : "listChannelBansRequest",
        "variableType" : "ListChannelBansRequest",
        "documentation" : "",
        "simpleType" : "ListChannelBansRequest",
        "variableSetterType" : "ListChannelBansRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChannelBans",
      "operationName" : "ListChannelBans",
      "returnType" : {
        "returnType" : "ListChannelBansResult",
        "documentation" : null
      },
      "syncReturnType" : "ListChannelBansResult"
    },
    "ListChannelFlows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChannelFlowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChannelFlowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChannelFlowsRequest, ListChannelFlowsResult>",
      "asyncReturnType" : "ListChannelFlowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated lists of all the channel flows created under a single Chime. This is a developer API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChannelFlowsRequest",
        "variableName" : "listChannelFlowsRequest",
        "variableType" : "ListChannelFlowsRequest",
        "documentation" : "",
        "simpleType" : "ListChannelFlowsRequest",
        "variableSetterType" : "ListChannelFlowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChannelFlows",
      "operationName" : "ListChannelFlows",
      "returnType" : {
        "returnType" : "ListChannelFlowsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListChannelFlowsResult"
    },
    "ListChannelMemberships" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChannelMembershipsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChannelMembershipsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChannelMembershipsRequest, ListChannelMembershipsResult>",
      "asyncReturnType" : "ListChannelMembershipsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all channel memberships in a channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the ARN of the <code>AppInstanceUser</code> or <code>AppInstanceBot</code> that makes the API call as the value in the header.</p> </note> <p>If you want to list the channels to which a specific app instance user belongs, see the <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_messaging-chime_ListChannelMembershipsForAppInstanceUser.html\">ListChannelMembershipsForAppInstanceUser</a> API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChannelMembershipsRequest",
        "variableName" : "listChannelMembershipsRequest",
        "variableType" : "ListChannelMembershipsRequest",
        "documentation" : "",
        "simpleType" : "ListChannelMembershipsRequest",
        "variableSetterType" : "ListChannelMembershipsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChannelMemberships",
      "operationName" : "ListChannelMemberships",
      "returnType" : {
        "returnType" : "ListChannelMembershipsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListChannelMembershipsResult"
    },
    "ListChannelMembershipsForAppInstanceUser" : {
[...]
