{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-04-20",
    "asyncClient" : "AmazonChimeSDKIdentityAsyncClient",
    "asyncClientBuilderClassName" : "AmazonChimeSDKIdentityAsyncClientBuilder",
    "asyncInterface" : "AmazonChimeSDKIdentityAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonChimeSDKIdentityModuleInjector",
    "defaultEndpoint" : "identity-chime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "identity-chime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Chime SDK Identity APIs in this section allow software developers to create and manage unique instances of their messaging applications. These APIs provide the overarching framework for creating and sending messages. For more information about the identity APIs, refer to <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Identity.html\">Amazon Chime SDK identity</a>.</p>",
    "endpointPrefix" : "identity-chime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.chimesdkidentity",
    "packagePath" : "com/amazonaws/services/chimesdkidentity",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Chime SDK Identity",
    "serviceId" : "Chime SDK Identity",
    "serviceName" : "Amazon Chime SDK Identity",
    "signingName" : "chime",
    "smokeTestsPackageName" : "com.amazonaws.services.chimesdkidentity.smoketests",
    "syncClient" : "AmazonChimeSDKIdentityClient",
    "syncClientBuilderClassName" : "AmazonChimeSDKIdentityClientBuilder",
    "syncInterface" : "AmazonChimeSDKIdentity",
    "uid" : "chime-sdk-identity-2021-04-20",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAppInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppInstanceRequest, CreateAppInstanceResult>",
      "asyncReturnType" : "CreateAppInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Chime SDK messaging <code>AppInstance</code> under an AWS account. Only SDK messaging customers use this API. <code>CreateAppInstance</code> supports idempotency behavior as described in the AWS API Standard.</p> <p>identity</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppInstanceRequest",
        "variableName" : "createAppInstanceRequest",
        "variableType" : "CreateAppInstanceRequest",
        "documentation" : "",
        "simpleType" : "CreateAppInstanceRequest",
        "variableSetterType" : "CreateAppInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAppInstance",
      "operationName" : "CreateAppInstance",
      "returnType" : {
        "returnType" : "CreateAppInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppInstanceResult"
    },
    "CreateAppInstanceAdmin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppInstanceAdminResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppInstanceAdminResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppInstanceAdminRequest, CreateAppInstanceAdminResult>",
      "asyncReturnType" : "CreateAppInstanceAdminResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Promotes an <code>AppInstanceUser</code> or <code>AppInstanceBot</code> to an <code>AppInstanceAdmin</code>. The promoted entity can perform the following actions. </p> <ul> <li> <p> <code>ChannelModerator</code> actions across all channels in the <code>AppInstance</code>.</p> </li> <li> <p> <code>DeleteChannelMessage</code> actions.</p> </li> </ul> <p>Only an <code>AppInstanceUser</code> and <code>AppInstanceBot</code> can be promoted to an <code>AppInstanceAdmin</code> role.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppInstanceAdminRequest",
        "variableName" : "createAppInstanceAdminRequest",
        "variableType" : "CreateAppInstanceAdminRequest",
        "documentation" : "",
        "simpleType" : "CreateAppInstanceAdminRequest",
        "variableSetterType" : "CreateAppInstanceAdminRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAppInstanceAdmin",
      "operationName" : "CreateAppInstanceAdmin",
      "returnType" : {
        "returnType" : "CreateAppInstanceAdminResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppInstanceAdminResult"
    },
    "CreateAppInstanceBot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppInstanceBotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppInstanceBotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppInstanceBotRequest, CreateAppInstanceBotResult>",
      "asyncReturnType" : "CreateAppInstanceBotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a bot under an Amazon Chime <code>AppInstance</code>. The request consists of a unique <code>Configuration</code> and <code>Name</code> for that bot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppInstanceBotRequest",
        "variableName" : "createAppInstanceBotRequest",
        "variableType" : "CreateAppInstanceBotRequest",
        "documentation" : "",
        "simpleType" : "CreateAppInstanceBotRequest",
        "variableSetterType" : "CreateAppInstanceBotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAppInstanceBot",
      "operationName" : "CreateAppInstanceBot",
      "returnType" : {
        "returnType" : "CreateAppInstanceBotResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppInstanceBotResult"
    },
    "CreateAppInstanceUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppInstanceUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppInstanceUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppInstanceUserRequest, CreateAppInstanceUserResult>",
      "asyncReturnType" : "CreateAppInstanceUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user under an Amazon Chime <code>AppInstance</code>. The request consists of a unique <code>appInstanceUserId</code> and <code>Name</code> for that user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppInstanceUserRequest",
        "variableName" : "createAppInstanceUserRequest",
        "variableType" : "CreateAppInstanceUserRequest",
        "documentation" : "",
        "simpleType" : "CreateAppInstanceUserRequest",
        "variableSetterType" : "CreateAppInstanceUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAppInstanceUser",
      "operationName" : "CreateAppInstanceUser",
      "returnType" : {
        "returnType" : "CreateAppInstanceUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppInstanceUserResult"
    },
    "DeleteAppInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppInstanceRequest, DeleteAppInstanceResult>",
      "asyncReturnType" : "DeleteAppInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an <code>AppInstance</code> and all associated data asynchronously.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppInstanceRequest",
        "variableName" : "deleteAppInstanceRequest",
        "variableType" : "DeleteAppInstanceRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppInstanceRequest",
        "variableSetterType" : "DeleteAppInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppInstance",
      "operationName" : "DeleteAppInstance",
      "returnType" : {
        "returnType" : "DeleteAppInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppInstanceResult"
    },
    "DeleteAppInstanceAdmin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppInstanceAdminResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppInstanceAdminResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppInstanceAdminRequest, DeleteAppInstanceAdminResult>",
      "asyncReturnType" : "DeleteAppInstanceAdminResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Demotes an <code>AppInstanceAdmin</code> to an <code>AppInstanceUser</code> or <code>AppInstanceBot</code>. This action does not delete the user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppInstanceAdminRequest",
        "variableName" : "deleteAppInstanceAdminRequest",
        "variableType" : "DeleteAppInstanceAdminRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppInstanceAdminRequest",
        "variableSetterType" : "DeleteAppInstanceAdminRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppInstanceAdmin",
      "operationName" : "DeleteAppInstanceAdmin",
      "returnType" : {
        "returnType" : "DeleteAppInstanceAdminResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppInstanceAdminResult"
    },
    "DeleteAppInstanceBot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppInstanceBotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppInstanceBotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppInstanceBotRequest, DeleteAppInstanceBotResult>",
      "asyncReturnType" : "DeleteAppInstanceBotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an <code>AppInstanceBot</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppInstanceBotRequest",
        "variableName" : "deleteAppInstanceBotRequest",
        "variableType" : "DeleteAppInstanceBotRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppInstanceBotRequest",
        "variableSetterType" : "DeleteAppInstanceBotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppInstanceBot",
      "operationName" : "DeleteAppInstanceBot",
      "returnType" : {
        "returnType" : "DeleteAppInstanceBotResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppInstanceBotResult"
    },
    "DeleteAppInstanceUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppInstanceUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppInstanceUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppInstanceUserRequest, DeleteAppInstanceUserResult>",
      "asyncReturnType" : "DeleteAppInstanceUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an <code>AppInstanceUser</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppInstanceUserRequest",
        "variableName" : "deleteAppInstanceUserRequest",
        "variableType" : "DeleteAppInstanceUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppInstanceUserRequest",
        "variableSetterType" : "DeleteAppInstanceUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppInstanceUser",
      "operationName" : "DeleteAppInstanceUser",
      "returnType" : {
        "returnType" : "DeleteAppInstanceUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppInstanceUserResult"
    },
    "DeregisterAppInstanceUserEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterAppInstanceUserEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterAppInstanceUserEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterAppInstanceUserEndpointRequest, DeregisterAppInstanceUserEndpointResult>",
      "asyncReturnType" : "DeregisterAppInstanceUserEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters an <code>AppInstanceUserEndpoint</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterAppInstanceUserEndpointRequest",
        "variableName" : "deregisterAppInstanceUserEndpointRequest",
        "variableType" : "DeregisterAppInstanceUserEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeregisterAppInstanceUserEndpointRequest",
        "variableSetterType" : "DeregisterAppInstanceUserEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterAppInstanceUserEndpoint",
      "operationName" : "DeregisterAppInstanceUserEndpoint",
      "returnType" : {
        "returnType" : "DeregisterAppInstanceUserEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterAppInstanceUserEndpointResult"
    },
    "DescribeAppInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAppInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAppInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAppInstanceRequest, DescribeAppInstanceResult>",
      "asyncReturnType" : "DescribeAppInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of an <code>AppInstance</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAppInstanceRequest",
        "variableName" : "describeAppInstanceRequest",
        "variableType" : "DescribeAppInstanceRequest",
        "documentation" : "",
        "simpleType" : "DescribeAppInstanceRequest",
        "variableSetterType" : "DescribeAppInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAppInstance",
      "operationName" : "DescribeAppInstance",
      "returnType" : {
        "returnType" : "DescribeAppInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAppInstanceResult"
    },
    "DescribeAppInstanceAdmin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAppInstanceAdminResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAppInstanceAdminResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAppInstanceAdminRequest, DescribeAppInstanceAdminResult>",
      "asyncReturnType" : "DescribeAppInstanceAdminResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of an <code>AppInstanceAdmin</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAppInstanceAdminRequest",
        "variableName" : "describeAppInstanceAdminRequest",
        "variableType" : "DescribeAppInstanceAdminRequest",
        "documentation" : "",
        "simpleType" : "DescribeAppInstanceAdminRequest",
        "variableSetterType" : "DescribeAppInstanceAdminRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAppInstanceAdmin",
      "operationName" : "DescribeAppInstanceAdmin",
      "returnType" : {
        "returnType" : "DescribeAppInstanceAdminResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAppInstanceAdminResult"
    },
    "DescribeAppInstanceBot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAppInstanceBotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAppInstanceBotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAppInstanceBotRequest, DescribeAppInstanceBotResult>",
      "asyncReturnType" : "DescribeAppInstanceBotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>AppInstanceBot's</code> information.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAppInstanceBotRequest",
        "variableName" : "describeAppInstanceBotRequest",
        "variableType" : "DescribeAppInstanceBotRequest",
        "documentation" : "",
        "simpleType" : "DescribeAppInstanceBotRequest",
        "variableSetterType" : "DescribeAppInstanceBotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAppInstanceBot",
      "operationName" : "DescribeAppInstanceBot",
      "returnType" : {
        "returnType" : "DescribeAppInstanceBotResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAppInstanceBotResult"
    },
    "DescribeAppInstanceUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAppInstanceUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAppInstanceUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAppInstanceUserRequest, DescribeAppInstanceUserResult>",
      "asyncReturnType" : "DescribeAppInstanceUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of an <code>AppInstanceUser</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAppInstanceUserRequest",
        "variableName" : "describeAppInstanceUserRequest",
        "variableType" : "DescribeAppInstanceUserRequest",
        "documentation" : "",
        "simpleType" : "DescribeAppInstanceUserRequest",
        "variableSetterType" : "DescribeAppInstanceUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAppInstanceUser",
      "operationName" : "DescribeAppInstanceUser",
      "returnType" : {
        "returnType" : "DescribeAppInstanceUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAppInstanceUserResult"
    },
    "DescribeAppInstanceUserEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAppInstanceUserEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAppInstanceUserEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAppInstanceUserEndpointRequest, DescribeAppInstanceUserEndpointResult>",
      "asyncReturnType" : "DescribeAppInstanceUserEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of an <code>AppInstanceUserEndpoint</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAppInstanceUserEndpointRequest",
        "variableName" : "describeAppInstanceUserEndpointRequest",
        "variableType" : "DescribeAppInstanceUserEndpointRequest",
        "documentation" : "",
        "simpleType" : "DescribeAppInstanceUserEndpointRequest",
        "variableSetterType" : "DescribeAppInstanceUserEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAppInstanceUserEndpoint",
      "operationName" : "DescribeAppInstanceUserEndpoint",
      "returnType" : {
        "returnType" : "DescribeAppInstanceUserEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAppInstanceUserEndpointResult"
    },
    "GetAppInstanceRetentionSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppInstanceRetentionSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppInstanceRetentionSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppInstanceRetentionSettingsRequest, GetAppInstanceRetentionSettingsResult>",
      "asyncReturnType" : "GetAppInstanceRetentionSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the retention settings for an <code>AppInstance</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppInstanceRetentionSettingsRequest",
        "variableName" : "getAppInstanceRetentionSettingsRequest",
        "variableType" : "GetAppInstanceRetentionSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetAppInstanceRetentionSettingsRequest",
        "variableSetterType" : "GetAppInstanceRetentionSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppInstanceRetentionSettings",
      "operationName" : "GetAppInstanceRetentionSettings",
      "returnType" : {
        "returnType" : "GetAppInstanceRetentionSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppInstanceRetentionSettingsResult"
    },
    "ListAppInstanceAdmins" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppInstanceAdminsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppInstanceAdminsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppInstanceAdminsRequest, ListAppInstanceAdminsResult>",
      "asyncReturnType" : "ListAppInstanceAdminsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the administrators in the <code>AppInstance</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppInstanceAdminsRequest",
        "variableName" : "listAppInstanceAdminsRequest",
        "variableType" : "ListAppInstanceAdminsRequest",
        "documentation" : "",
        "simpleType" : "ListAppInstanceAdminsRequest",
        "variableSetterType" : "ListAppInstanceAdminsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppInstanceAdmins",
      "operationName" : "ListAppInstanceAdmins",
      "returnType" : {
        "returnType" : "ListAppInstanceAdminsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppInstanceAdminsResult"
    },
    "ListAppInstanceBots" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppInstanceBotsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppInstanceBotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppInstanceBotsRequest, ListAppInstanceBotsResult>",
      "asyncReturnType" : "ListAppInstanceBotsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all <code>AppInstanceBots</code> created under a single <code>AppInstance</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppInstanceBotsRequest",
        "variableName" : "listAppInstanceBotsRequest",
        "variableType" : "ListAppInstanceBotsRequest",
        "documentation" : "",
        "simpleType" : "ListAppInstanceBotsRequest",
        "variableSetterType" : "ListAppInstanceBotsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppInstanceBots",
      "operationName" : "ListAppInstanceBots",
      "returnType" : {
        "returnType" : "ListAppInstanceBotsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppInstanceBotsResult"
    },
    "ListAppInstanceUserEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppInstanceUserEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppInstanceUserEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppInstanceUserEndpointsRequest, ListAppInstanceUserEndpointsResult>",
      "asyncReturnType" : "ListAppInstanceUserEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the <code>AppInstanceUserEndpoints</code> created under a single <code>AppInstanceUser</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppInstanceUserEndpointsRequest",
        "variableName" : "listAppInstanceUserEndpointsRequest",
        "variableType" : "ListAppInstanceUserEndpointsRequest",
        "documentation" : "",
        "simpleType" : "ListAppInstanceUserEndpointsRequest",
        "variableSetterType" : "ListAppInstanceUserEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppInstanceUserEndpoints",
      "operationName" : "ListAppInstanceUserEndpoints",
      "returnType" : {
        "returnType" : "ListAppInstanceUserEndpointsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppInstanceUserEndpointsResult"
    },
    "ListAppInstanceUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppInstanceUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppInstanceUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppInstanceUsersRequest, ListAppInstanceUsersResult>",
      "asyncReturnType" : "ListAppInstanceUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all <code>AppInstanceUsers</code> created under a single <code>AppInstance</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppInstanceUsersRequest",
        "variableName" : "listAppInstanceUsersRequest",
        "variableType" : "ListAppInstanceUsersRequest",
        "documentation" : "",
        "simpleType" : "ListAppInstanceUsersRequest",
        "variableSetterType" : "ListAppInstanceUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppInstanceUsers",
      "operationName" : "ListAppInstanceUsers",
      "returnType" : {
        "returnType" : "ListAppInstanceUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppInstanceUsersResult"
    },
    "ListAppInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppInstancesRequest, ListAppInstancesResult>",
      "asyncReturnType" : "ListAppInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all Amazon Chime <code>AppInstance</code>s created under a single AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppInstancesRequest",
        "variableName" : "listAppInstancesRequest",
        "variableType" : "ListAppInstancesRequest",
        "documentation" : "",
        "simpleType" : "ListAppInstancesRequest",
        "variableSetterType" : "ListAppInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppInstances",
      "operationName" : "ListAppInstances",
      "returnType" : {
        "returnType" : "ListAppInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppInstancesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags applied to an Amazon Chime SDK identity resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutAppInstanceRetentionSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAppInstanceRetentionSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAppInstanceRetentionSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAppInstanceRetentionSettingsRequest, PutAppInstanceRetentionSettingsResult>",
      "asyncReturnType" : "PutAppInstanceRetentionSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the amount of time in days that a given <code>AppInstance</code> retains data.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAppInstanceRetentionSettingsRequest",
        "variableName" : "putAppInstanceRetentionSettingsRequest",
        "variableType" : "PutAppInstanceRetentionSettingsRequest",
        "documentation" : "",
        "simpleType" : "PutAppInstanceRetentionSettingsRequest",
        "variableSetterType" : "PutAppInstanceRetentionSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAppInstanceRetentionSettings",
      "operationName" : "PutAppInstanceRetentionSettings",
      "returnType" : {
        "returnType" : "PutAppInstanceRetentionSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAppInstanceRetentionSettingsResult"
    },
    "PutAppInstanceUserExpirationSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAppInstanceUserExpirationSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAppInstanceUserExpirationSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAppInstanceUserExpirationSettingsRequest, PutAppInstanceUserExpirationSettingsResult>",
      "asyncReturnType" : "PutAppInstanceUserExpirationSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the number of days before the <code>AppInstanceUser</code> is automatically deleted.</p> <note> <p>A background process deletes expired <code>AppInstanceUsers</code> within 6 hours of expiration. Actual deletion times may vary.</p> <p>Expired <code>AppInstanceUsers</code> that have not yet been deleted appear as active, and you can update their expiration settings. The system honors the new settings.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAppInstanceUserExpirationSettingsRequest",
        "variableName" : "putAppInstanceUserExpirationSettingsRequest",
        "variableType" : "PutAppInstanceUserExpirationSettingsRequest",
        "documentation" : "",
        "simpleType" : "PutAppInstanceUserExpirationSettingsRequest",
        "variableSetterType" : "PutAppInstanceUserExpirationSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAppInstanceUserExpirationSettings",
      "operationName" : "PutAppInstanceUserExpirationSettings",
      "returnType" : {
        "returnType" : "PutAppInstanceUserExpirationSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAppInstanceUserExpirationSettingsResult"
    },
    "RegisterAppInstanceUserEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterAppInstanceUserEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterAppInstanceUserEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterAppInstanceUserEndpointRequest, RegisterAppInstanceUserEndpointResult>",
      "asyncReturnType" : "RegisterAppInstanceUserEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers an endpoint under an Amazon Chime <code>AppInstanceUser</code>. The endpoint receives messages for a user. For push notifications, the endpoint is a mobile device used to receive mobile push notifications for a user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterAppInstanceUserEndpointRequest",
        "variableName" : "registerAppInstanceUserEndpointRequest",
        "variableType" : "RegisterAppInstanceUserEndpointRequest",
        "documentation" : "",
        "simpleType" : "RegisterAppInstanceUserEndpointRequest",
        "variableSetterType" : "RegisterAppInstanceUserEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerAppInstanceUserEndpoint",
      "operationName" : "RegisterAppInstanceUserEndpoint",
      "returnType" : {
        "returnType" : "RegisterAppInstanceUserEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterAppInstanceUserEndpointResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies the specified tags to the specified Amazon Chime SDK identity resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified Amazon Chime SDK identity resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAppInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAppInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAppInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAppInstanceRequest, UpdateAppInstanceResult>",
      "asyncReturnType" : "UpdateAppInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates <code>AppInstance</code> metadata.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAppInstanceRequest",
        "variableName" : "updateAppInstanceRequest",
        "variableType" : "UpdateAppInstanceRequest",
        "documentation" : "",
        "simpleType" : "UpdateAppInstanceRequest",
        "variableSetterType" : "UpdateAppInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAppInstance",
      "operationName" : "UpdateAppInstance",
      "returnType" : {
        "returnType" : "UpdateAppInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAppInstanceResult"
    },
    "UpdateAppInstanceBot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAppInstanceBotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAppInstanceBotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAppInstanceBotRequest, UpdateAppInstanceBotResult>",
      "asyncReturnType" : "UpdateAppInstanceBotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the name and metadata of an <code>AppInstanceBot</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAppInstanceBotRequest",
        "variableName" : "updateAppInstanceBotRequest",
        "variableType" : "UpdateAppInstanceBotRequest",
        "documentation" : "",
        "simpleType" : "UpdateAppInstanceBotRequest",
        "variableSetterType" : "UpdateAppInstanceBotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAppInstanceBot",
      "operationName" : "UpdateAppInstanceBot",
      "returnType" : {
        "returnType" : "UpdateAppInstanceBotResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAppInstanceBotResult"
    },
    "UpdateAppInstanceUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAppInstanceUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAppInstanceUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAppInstanceUserRequest, UpdateAppInstanceUserResult>",
      "asyncReturnType" : "UpdateAppInstanceUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the details of an <code>AppInstanceUser</code>. You can update names and metadata.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAppInstanceUserRequest",
        "variableName" : "updateAppInstanceUserRequest",
        "variableType" : "UpdateAppInstanceUserRequest",
        "documentation" : "",
        "simpleType" : "UpdateAppInstanceUserRequest",
        "variableSetterType" : "UpdateAppInstanceUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAppInstanceUser",
      "operationName" : "UpdateAppInstanceUser",
      "returnType" : {
        "returnType" : "UpdateAppInstanceUserResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAppInstanceUserResult"
    },
    "UpdateAppInstanceUserEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAppInstanceUserEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAppInstanceUserEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAppInstanceUserEndpointRequest, UpdateAppInstanceUserEndpointResult>",
      "asyncReturnType" : "UpdateAppInstanceUserEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the details of an <code>AppInstanceUserEndpoint</code>. You can update the name and <code>AllowMessage</code> values.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAppInstanceUserEndpointRequest",
        "variableName" : "updateAppInstanceUserEndpointRequest",
        "variableType" : "UpdateAppInstanceUserEndpointRequest",
        "documentation" : "",
        "simpleType" : "UpdateAppInstanceUserEndpointRequest",
        "variableSetterType" : "UpdateAppInstanceUserEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAppInstanceUserEndpoint",
      "operationName" : "UpdateAppInstanceUserEndpoint",
      "returnType" : {
        "returnType" : "UpdateAppInstanceUserEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAppInstanceUserEndpointResult"
    }
  },
  "shapes" : {
    "AllowMessages" : {
      "c2jName" : "AllowMessages",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "ALL",
        "value" : "ALL"
      }, {
        "name" : "NONE",
        "value" : "NONE"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkidentity.enum.AllowMessages",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.chimesdkidentity.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AllowMessages",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AllowMessages",
        "variableName" : "allowMessages",
        "variableType" : "AllowMessages",
        "documentation" : null,
        "simpleType" : "AllowMessages",
        "variableSetterType" : "AllowMessages"
      },
      "wrapper" : false
    },
    "AppInstance" : {
      "c2jName" : "AppInstance",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The details of an <code>AppInstance</code>, an instance of an Amazon Chime SDK messaging application.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkidentity.model.AppInstance",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AppInstanceArn",
        "c2jShape" : "ChimeArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the messaging instance.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the messaging instance.</p>\n@param appInstanceArn The ARN of the messaging instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppInstanceArn",
        "getterDocumentation" : "/**<p>The ARN of the messaging instance.</p>\n@return The ARN of the messaging instance.*/",
        "getterMethodName" : "getAppInstanceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AppInstanceArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AppInstanceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppInstanceArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the messaging instance.</p>\n@param appInstanceArn The ARN of the messaging instance.*/",
        "setterMethodName" : "setAppInstanceArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appInstanceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the messaging instance.</p>\n@param appInstanceArn The ARN of the messaging instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appInstanceArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the messaging instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "NonEmptyResourceName",
        "deprecated" : false,
        "documentation" : "<p>The name of an <code>AppInstance</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of an <code>AppInstance</code>.</p>\n@param name The name of an <code>AppInstance</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of an <code>AppInstance</code>.</p>\n@return The name of an <code>AppInstance</code>.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The name of an <code>AppInstance</code>.</p>\n@param name The name of an <code>AppInstance</code>.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of an <code>AppInstance</code>.</p>\n@param name The name of an <code>AppInstance</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of an <code>AppInstance</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedTimestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>\n@param createdTimestamp The time at which an <code>AppInstance</code> was created. In epoch milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedTimestamp",
        "getterDocumentation" : "/**<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>\n@return The time at which an <code>AppInstance</code> was created. In epoch milliseconds.*/",
        "getterMethodName" : "getCreatedTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatedTimestamp",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedTimestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedTimestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>\n@param createdTimestamp The time at which an <code>AppInstance</code> was created. In epoch milliseconds.*/",
[...]
