{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-05-01",
    "asyncClient" : "AmazonChimeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonChimeAsyncClientBuilder",
    "asyncInterface" : "AmazonChimeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonChimeModuleInjector",
    "defaultEndpoint" : "chime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "chime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Chime API (application programming interface) is designed for administrators to use to perform key tasks, such as creating and managing Amazon Chime accounts and users. This guide provides detailed information about the Amazon Chime API, including operations, types, inputs and outputs, and error codes.</p> <p>You can use an AWS SDK, the AWS Command Line Interface (AWS CLI), or the REST API to make API calls. We recommend using an AWS SDK or the AWS CLI. Each API operation includes links to information about using it with a language-specific AWS SDK or the AWS CLI.</p> <dl> <dt>Using an AWS SDK</dt> <dd> <p>You don't need to write code to calculate a signature for request authentication. The SDK clients authenticate your requests by using access keys that you provide. For more information about AWS SDKs, see the <a href=\"http://aws.amazon.com/developer/\">AWS Developer Center</a>.</p> </dd> <dt>Using the AWS CLI</dt> <dd> <p>Use your access keys with the AWS CLI to make API calls. For information about setting up the AWS CLI, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/installing.html\">Installing the AWS Command Line Interface</a> in the <i>AWS Command Line Interface User Guide</i>. For a list of available Amazon Chime commands, see the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/chime/index.html\">Amazon Chime commands</a> in the <i>AWS CLI Command Reference</i>.</p> </dd> <dt>Using REST API</dt> <dd> <p>If you use REST to make API calls, you must authenticate your request by providing a signature. Amazon Chime supports signature version 4. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>When making REST API calls, use the service name <code>chime</code> and REST endpoint <code>https://service.chime.aws.amazon.com</code>.</p> </dd> </dl> <p>Administrative permissions are controlled using AWS Identity and Access Management (IAM). For more information, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/control-access.html\">Control Access to the Amazon Chime Console</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
    "endpointPrefix" : "chime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.chime",
    "packagePath" : "com/amazonaws/services/chime",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Chime",
    "serviceId" : "Chime",
    "serviceName" : "Amazon Chime",
    "signingName" : "chime",
    "smokeTestsPackageName" : "com.amazonaws.services.chime.smoketests",
    "syncClient" : "AmazonChimeClient",
    "syncClientBuilderClassName" : "AmazonChimeClientBuilder",
    "syncInterface" : "AmazonChime",
    "uid" : "chime-2018-05-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociatePhoneNumberWithUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociatePhoneNumberWithUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociatePhoneNumberWithUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociatePhoneNumberWithUserRequest, AssociatePhoneNumberWithUserResult>",
      "asyncReturnType" : "AssociatePhoneNumberWithUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a phone number with the specified Amazon Chime user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociatePhoneNumberWithUserRequest",
        "variableName" : "associatePhoneNumberWithUserRequest",
        "variableType" : "AssociatePhoneNumberWithUserRequest",
        "documentation" : "",
        "simpleType" : "AssociatePhoneNumberWithUserRequest",
        "variableSetterType" : "AssociatePhoneNumberWithUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associatePhoneNumberWithUser",
      "operationName" : "AssociatePhoneNumberWithUser",
      "returnType" : {
        "returnType" : "AssociatePhoneNumberWithUserResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociatePhoneNumberWithUserResult"
    },
    "AssociatePhoneNumbersWithVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociatePhoneNumbersWithVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociatePhoneNumbersWithVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociatePhoneNumbersWithVoiceConnectorRequest, AssociatePhoneNumbersWithVoiceConnectorResult>",
      "asyncReturnType" : "AssociatePhoneNumbersWithVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a phone number with the specified Amazon Chime Voice Connector.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociatePhoneNumbersWithVoiceConnectorRequest",
        "variableName" : "associatePhoneNumbersWithVoiceConnectorRequest",
        "variableType" : "AssociatePhoneNumbersWithVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "AssociatePhoneNumbersWithVoiceConnectorRequest",
        "variableSetterType" : "AssociatePhoneNumbersWithVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associatePhoneNumbersWithVoiceConnector",
      "operationName" : "AssociatePhoneNumbersWithVoiceConnector",
      "returnType" : {
        "returnType" : "AssociatePhoneNumbersWithVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociatePhoneNumbersWithVoiceConnectorResult"
    },
    "BatchDeletePhoneNumber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeletePhoneNumberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeletePhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeletePhoneNumberRequest, BatchDeletePhoneNumberResult>",
      "asyncReturnType" : "BatchDeletePhoneNumberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Moves phone numbers into the <b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime Voice Connectors before they can be deleted.</p> <p>Phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeletePhoneNumberRequest",
        "variableName" : "batchDeletePhoneNumberRequest",
        "variableType" : "BatchDeletePhoneNumberRequest",
        "documentation" : "",
        "simpleType" : "BatchDeletePhoneNumberRequest",
        "variableSetterType" : "BatchDeletePhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeletePhoneNumber",
      "operationName" : "BatchDeletePhoneNumber",
      "returnType" : {
        "returnType" : "BatchDeletePhoneNumberResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeletePhoneNumberResult"
    },
    "BatchSuspendUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchSuspendUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchSuspendUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchSuspendUserRequest, BatchSuspendUserResult>",
      "asyncReturnType" : "BatchSuspendUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon Chime account. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Users suspended from a <code>Team</code> account are dissociated from the account, but they can continue to use Amazon Chime as free users. To remove the suspension from suspended <code>Team</code> account users, invite them to the <code>Team</code> account again. You can use the <a>InviteUsers</a> action to do so.</p> <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out of Amazon Chime and can no longer sign in. To remove the suspension from suspended <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a> action. </p> <p>To sign out users without suspending them, use the <a>LogoutUser</a> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchSuspendUserRequest",
        "variableName" : "batchSuspendUserRequest",
        "variableType" : "BatchSuspendUserRequest",
        "documentation" : "",
        "simpleType" : "BatchSuspendUserRequest",
        "variableSetterType" : "BatchSuspendUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchSuspendUser",
      "operationName" : "BatchSuspendUser",
      "returnType" : {
        "returnType" : "BatchSuspendUserResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchSuspendUserResult"
    },
    "BatchUnsuspendUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUnsuspendUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUnsuspendUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUnsuspendUserRequest, BatchUnsuspendUserResult>",
      "asyncReturnType" : "BatchUnsuspendUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the suspension from up to 50 previously suspended users for the specified Amazon Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code> accounts can be unsuspended using this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Previously suspended users who are unsuspended using this action are returned to <code>Registered</code> status. Users who are not previously suspended are ignored.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUnsuspendUserRequest",
        "variableName" : "batchUnsuspendUserRequest",
        "variableType" : "BatchUnsuspendUserRequest",
        "documentation" : "",
        "simpleType" : "BatchUnsuspendUserRequest",
        "variableSetterType" : "BatchUnsuspendUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUnsuspendUser",
      "operationName" : "BatchUnsuspendUser",
      "returnType" : {
        "returnType" : "BatchUnsuspendUserResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUnsuspendUserResult"
    },
    "BatchUpdatePhoneNumber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUpdatePhoneNumberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUpdatePhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUpdatePhoneNumberRequest, BatchUpdatePhoneNumberResult>",
      "asyncReturnType" : "BatchUpdatePhoneNumberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates phone number product types. Choose from Amazon Chime Business Calling and Amazon Chime Voice Connector product types.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUpdatePhoneNumberRequest",
        "variableName" : "batchUpdatePhoneNumberRequest",
        "variableType" : "BatchUpdatePhoneNumberRequest",
        "documentation" : "",
        "simpleType" : "BatchUpdatePhoneNumberRequest",
        "variableSetterType" : "BatchUpdatePhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUpdatePhoneNumber",
      "operationName" : "BatchUpdatePhoneNumber",
      "returnType" : {
        "returnType" : "BatchUpdatePhoneNumberResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUpdatePhoneNumberResult"
    },
    "BatchUpdateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUpdateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUpdateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUpdateUserRequest, BatchUpdateUserResult>",
      "asyncReturnType" : "BatchUpdateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account. Currently, only <code>LicenseType</code> updates are supported for this action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUpdateUserRequest",
        "variableName" : "batchUpdateUserRequest",
        "variableType" : "BatchUpdateUserRequest",
        "documentation" : "",
        "simpleType" : "BatchUpdateUserRequest",
        "variableSetterType" : "BatchUpdateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUpdateUser",
      "operationName" : "BatchUpdateUser",
      "returnType" : {
        "returnType" : "BatchUpdateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUpdateUserResult"
    },
    "CreateAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAccountRequest, CreateAccountResult>",
      "asyncReturnType" : "CreateAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Chime account under the administrator's AWS account. Only <code>Team</code> account types are currently supported for this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAccountRequest",
        "variableName" : "createAccountRequest",
        "variableType" : "CreateAccountRequest",
        "documentation" : "",
        "simpleType" : "CreateAccountRequest",
        "variableSetterType" : "CreateAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAccount",
      "operationName" : "CreateAccount",
      "returnType" : {
        "returnType" : "CreateAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAccountResult"
    },
    "CreatePhoneNumberOrder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePhoneNumberOrderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePhoneNumberOrderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePhoneNumberOrderRequest, CreatePhoneNumberOrderResult>",
      "asyncReturnType" : "CreatePhoneNumberOrderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an order for phone numbers to be provisioned. Choose from Amazon Chime Business Calling and Amazon Chime Voice Connector product types.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePhoneNumberOrderRequest",
        "variableName" : "createPhoneNumberOrderRequest",
        "variableType" : "CreatePhoneNumberOrderRequest",
        "documentation" : "",
        "simpleType" : "CreatePhoneNumberOrderRequest",
        "variableSetterType" : "CreatePhoneNumberOrderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPhoneNumberOrder",
      "operationName" : "CreatePhoneNumberOrder",
      "returnType" : {
        "returnType" : "CreatePhoneNumberOrderResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePhoneNumberOrderResult"
    },
    "CreateVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVoiceConnectorRequest, CreateVoiceConnectorResult>",
      "asyncReturnType" : "CreateVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Chime Voice Connector under the administrator's AWS account. Enabling <a>CreateVoiceConnectorRequest$RequireEncryption</a> configures your Amazon Chime Voice Connector to use TLS transport for SIP signaling and Secure RTP (SRTP) for media. Inbound calls use TLS transport, and unencrypted outbound calls are blocked.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVoiceConnectorRequest",
        "variableName" : "createVoiceConnectorRequest",
        "variableType" : "CreateVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "CreateVoiceConnectorRequest",
        "variableSetterType" : "CreateVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVoiceConnector",
      "operationName" : "CreateVoiceConnector",
      "returnType" : {
        "returnType" : "CreateVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVoiceConnectorResult"
    },
    "DeleteAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAccountRequest, DeleteAccountResult>",
      "asyncReturnType" : "DeleteAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Amazon Chime account. You must suspend all users before deleting a <code>Team</code> account. You can use the <a>BatchSuspendUser</a> action to do so.</p> <p>For <code>EnterpriseLWA</code> and <code>EnterpriseAD</code> accounts, you must release the claimed domains for your Amazon Chime account before deletion. As soon as you release the domain, all users under that account are suspended.</p> <p>Deleted accounts appear in your <code>Disabled</code> accounts list for 90 days. To restore a deleted account from your <code>Disabled</code> accounts list, you must contact AWS Support.</p> <p>After 90 days, deleted accounts are permanently removed from your <code>Disabled</code> accounts list.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "<p>The request was well-formed but was unable to be followed due to semantic errors.</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAccountRequest",
        "variableName" : "deleteAccountRequest",
        "variableType" : "DeleteAccountRequest",
        "documentation" : "",
        "simpleType" : "DeleteAccountRequest",
        "variableSetterType" : "DeleteAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAccount",
      "operationName" : "DeleteAccount",
      "returnType" : {
        "returnType" : "DeleteAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAccountResult"
    },
    "DeletePhoneNumber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePhoneNumberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePhoneNumberRequest, DeletePhoneNumberResult>",
      "asyncReturnType" : "DeletePhoneNumberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Moves the specified phone number into the <b>Deletion queue</b>. A phone number must be disassociated from any users or Amazon Chime Voice Connectors before it can be deleted.</p> <p>Deleted phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePhoneNumberRequest",
        "variableName" : "deletePhoneNumberRequest",
        "variableType" : "DeletePhoneNumberRequest",
        "documentation" : "",
        "simpleType" : "DeletePhoneNumberRequest",
        "variableSetterType" : "DeletePhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePhoneNumber",
      "operationName" : "DeletePhoneNumber",
      "returnType" : {
        "returnType" : "DeletePhoneNumberResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePhoneNumberResult"
    },
    "DeleteVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorRequest, DeleteVoiceConnectorResult>",
      "asyncReturnType" : "DeleteVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Amazon Chime Voice Connector. Any phone numbers assigned to the Amazon Chime Voice Connector must be unassigned from it before it can be deleted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorRequest",
        "variableName" : "deleteVoiceConnectorRequest",
        "variableType" : "DeleteVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorRequest",
        "variableSetterType" : "DeleteVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnector",
      "operationName" : "DeleteVoiceConnector",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorResult"
    },
    "DeleteVoiceConnectorOrigination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorOriginationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorOriginationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorOriginationRequest, DeleteVoiceConnectorOriginationResult>",
      "asyncReturnType" : "DeleteVoiceConnectorOriginationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the origination settings for the specified Amazon Chime Voice Connector.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorOriginationRequest",
        "variableName" : "deleteVoiceConnectorOriginationRequest",
        "variableType" : "DeleteVoiceConnectorOriginationRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorOriginationRequest",
        "variableSetterType" : "DeleteVoiceConnectorOriginationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnectorOrigination",
      "operationName" : "DeleteVoiceConnectorOrigination",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorOriginationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorOriginationResult"
    },
    "DeleteVoiceConnectorTermination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorTerminationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorTerminationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorTerminationRequest, DeleteVoiceConnectorTerminationResult>",
      "asyncReturnType" : "DeleteVoiceConnectorTerminationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the termination settings for the specified Amazon Chime Voice Connector.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorTerminationRequest",
        "variableName" : "deleteVoiceConnectorTerminationRequest",
        "variableType" : "DeleteVoiceConnectorTerminationRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorTerminationRequest",
        "variableSetterType" : "DeleteVoiceConnectorTerminationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnectorTermination",
      "operationName" : "DeleteVoiceConnectorTermination",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorTerminationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorTerminationResult"
    },
    "DeleteVoiceConnectorTerminationCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorTerminationCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorTerminationCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorTerminationCredentialsRequest, DeleteVoiceConnectorTerminationCredentialsResult>",
      "asyncReturnType" : "DeleteVoiceConnectorTerminationCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified SIP credentials used by your equipment to authenticate during call termination.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorTerminationCredentialsRequest",
        "variableName" : "deleteVoiceConnectorTerminationCredentialsRequest",
        "variableType" : "DeleteVoiceConnectorTerminationCredentialsRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorTerminationCredentialsRequest",
        "variableSetterType" : "DeleteVoiceConnectorTerminationCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnectorTerminationCredentials",
      "operationName" : "DeleteVoiceConnectorTerminationCredentials",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorTerminationCredentialsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorTerminationCredentialsResult"
    },
    "DisassociatePhoneNumberFromUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociatePhoneNumberFromUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociatePhoneNumberFromUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociatePhoneNumberFromUserRequest, DisassociatePhoneNumberFromUserResult>",
      "asyncReturnType" : "DisassociatePhoneNumberFromUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the primary provisioned phone number from the specified Amazon Chime user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociatePhoneNumberFromUserRequest",
        "variableName" : "disassociatePhoneNumberFromUserRequest",
        "variableType" : "DisassociatePhoneNumberFromUserRequest",
        "documentation" : "",
        "simpleType" : "DisassociatePhoneNumberFromUserRequest",
        "variableSetterType" : "DisassociatePhoneNumberFromUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociatePhoneNumberFromUser",
      "operationName" : "DisassociatePhoneNumberFromUser",
      "returnType" : {
        "returnType" : "DisassociatePhoneNumberFromUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociatePhoneNumberFromUserResult"
    },
    "DisassociatePhoneNumbersFromVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociatePhoneNumbersFromVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociatePhoneNumbersFromVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociatePhoneNumbersFromVoiceConnectorRequest, DisassociatePhoneNumbersFromVoiceConnectorResult>",
      "asyncReturnType" : "DisassociatePhoneNumbersFromVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified phone number from the specified Amazon Chime Voice Connector.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociatePhoneNumbersFromVoiceConnectorRequest",
        "variableName" : "disassociatePhoneNumbersFromVoiceConnectorRequest",
        "variableType" : "DisassociatePhoneNumbersFromVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "DisassociatePhoneNumbersFromVoiceConnectorRequest",
        "variableSetterType" : "DisassociatePhoneNumbersFromVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociatePhoneNumbersFromVoiceConnector",
      "operationName" : "DisassociatePhoneNumbersFromVoiceConnector",
      "returnType" : {
        "returnType" : "DisassociatePhoneNumbersFromVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociatePhoneNumbersFromVoiceConnectorResult"
    },
    "GetAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountRequest, GetAccountResult>",
      "asyncReturnType" : "GetAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details for the specified Amazon Chime account, such as account type and supported licenses.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountRequest",
        "variableName" : "getAccountRequest",
        "variableType" : "GetAccountRequest",
        "documentation" : "",
        "simpleType" : "GetAccountRequest",
        "variableSetterType" : "GetAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccount",
      "operationName" : "GetAccount",
      "returnType" : {
        "returnType" : "GetAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccountResult"
    },
    "GetAccountSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountSettingsRequest, GetAccountSettingsResult>",
      "asyncReturnType" : "GetAccountSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves account settings for the specified Amazon Chime account ID, such as remote control and dial out settings. For more information about these settings, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/policies.html\">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountSettingsRequest",
        "variableName" : "getAccountSettingsRequest",
        "variableType" : "GetAccountSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetAccountSettingsRequest",
        "variableSetterType" : "GetAccountSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccountSettings",
      "operationName" : "GetAccountSettings",
      "returnType" : {
        "returnType" : "GetAccountSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccountSettingsResult"
    },
    "GetGlobalSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGlobalSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGlobalSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGlobalSettingsRequest, GetGlobalSettingsResult>",
      "asyncReturnType" : "GetGlobalSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves global settings for the administrator's AWS account, such as Amazon Chime Business Calling and Amazon Chime Voice Connector settings.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGlobalSettingsRequest",
        "variableName" : "getGlobalSettingsRequest",
        "variableType" : "GetGlobalSettingsRequest",
        "documentation" : null,
        "simpleType" : "GetGlobalSettingsRequest",
        "variableSetterType" : "GetGlobalSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGlobalSettings",
      "operationName" : "GetGlobalSettings",
      "returnType" : {
        "returnType" : "GetGlobalSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGlobalSettingsResult"
    },
    "GetPhoneNumber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPhoneNumberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPhoneNumberRequest, GetPhoneNumberResult>",
      "asyncReturnType" : "GetPhoneNumberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details for the specified phone number ID, such as associations, capabilities, and product type.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPhoneNumberRequest",
        "variableName" : "getPhoneNumberRequest",
        "variableType" : "GetPhoneNumberRequest",
        "documentation" : "",
        "simpleType" : "GetPhoneNumberRequest",
        "variableSetterType" : "GetPhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPhoneNumber",
      "operationName" : "GetPhoneNumber",
      "returnType" : {
        "returnType" : "GetPhoneNumberResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPhoneNumberResult"
    },
    "GetPhoneNumberOrder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPhoneNumberOrderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPhoneNumberOrderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPhoneNumberOrderRequest, GetPhoneNumberOrderResult>",
      "asyncReturnType" : "GetPhoneNumberOrderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details for the specified phone number order, such as order creation timestamp, phone numbers in E.164 format, product type, and order status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPhoneNumberOrderRequest",
        "variableName" : "getPhoneNumberOrderRequest",
        "variableType" : "GetPhoneNumberOrderRequest",
        "documentation" : "",
        "simpleType" : "GetPhoneNumberOrderRequest",
        "variableSetterType" : "GetPhoneNumberOrderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPhoneNumberOrder",
      "operationName" : "GetPhoneNumberOrder",
      "returnType" : {
        "returnType" : "GetPhoneNumberOrderResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPhoneNumberOrderResult"
    },
    "GetUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUserRequest, GetUserResult>",
      "asyncReturnType" : "GetUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details for the specified user ID, such as primary email address, license type, and personal meeting PIN.</p> <p>To retrieve user details with an email address instead of a user ID, use the <a>ListUsers</a> action, and then filter by email address.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetUserRequest",
        "variableName" : "getUserRequest",
        "variableType" : "GetUserRequest",
        "documentation" : "",
        "simpleType" : "GetUserRequest",
        "variableSetterType" : "GetUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUser",
      "operationName" : "GetUser",
      "returnType" : {
        "returnType" : "GetUserResult",
        "documentation" : null
      },
      "syncReturnType" : "GetUserResult"
    },
    "GetUserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUserSettingsRequest, GetUserSettingsResult>",
      "asyncReturnType" : "GetUserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves settings for the specified user ID, such as any associated phone number settings.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetUserSettingsRequest",
        "variableName" : "getUserSettingsRequest",
        "variableType" : "GetUserSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetUserSettingsRequest",
        "variableSetterType" : "GetUserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUserSettings",
      "operationName" : "GetUserSettings",
      "returnType" : {
        "returnType" : "GetUserSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetUserSettingsResult"
    },
    "GetVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVoiceConnectorRequest, GetVoiceConnectorResult>",
      "asyncReturnType" : "GetVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details for the specified Amazon Chime Voice Connector, such as timestamps, name, outbound host, and encryption requirements.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVoiceConnectorRequest",
        "variableName" : "getVoiceConnectorRequest",
        "variableType" : "GetVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "GetVoiceConnectorRequest",
        "variableSetterType" : "GetVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVoiceConnector",
      "operationName" : "GetVoiceConnector",
      "returnType" : {
        "returnType" : "GetVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVoiceConnectorResult"
    },
    "GetVoiceConnectorOrigination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVoiceConnectorOriginationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVoiceConnectorOriginationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVoiceConnectorOriginationRequest, GetVoiceConnectorOriginationResult>",
      "asyncReturnType" : "GetVoiceConnectorOriginationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves origination setting details for the specified Amazon Chime Voice Connector.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVoiceConnectorOriginationRequest",
        "variableName" : "getVoiceConnectorOriginationRequest",
        "variableType" : "GetVoiceConnectorOriginationRequest",
        "documentation" : "",
        "simpleType" : "GetVoiceConnectorOriginationRequest",
        "variableSetterType" : "GetVoiceConnectorOriginationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVoiceConnectorOrigination",
      "operationName" : "GetVoiceConnectorOrigination",
      "returnType" : {
        "returnType" : "GetVoiceConnectorOriginationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVoiceConnectorOriginationResult"
    },
    "GetVoiceConnectorTermination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVoiceConnectorTerminationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVoiceConnectorTerminationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVoiceConnectorTerminationRequest, GetVoiceConnectorTerminationResult>",
      "asyncReturnType" : "GetVoiceConnectorTerminationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves termination setting details for the specified Amazon Chime Voice Connector.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVoiceConnectorTerminationRequest",
        "variableName" : "getVoiceConnectorTerminationRequest",
        "variableType" : "GetVoiceConnectorTerminationRequest",
        "documentation" : "",
        "simpleType" : "GetVoiceConnectorTerminationRequest",
        "variableSetterType" : "GetVoiceConnectorTerminationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVoiceConnectorTermination",
      "operationName" : "GetVoiceConnectorTermination",
      "returnType" : {
        "returnType" : "GetVoiceConnectorTerminationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVoiceConnectorTerminationResult"
    },
    "GetVoiceConnectorTerminationHealth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVoiceConnectorTerminationHealthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVoiceConnectorTerminationHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVoiceConnectorTerminationHealthRequest, GetVoiceConnectorTerminationHealthResult>",
      "asyncReturnType" : "GetVoiceConnectorTerminationHealthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about the last time a SIP <code>OPTIONS</code> ping was received from your SIP infrastructure for the specified Amazon Chime Voice Connector.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVoiceConnectorTerminationHealthRequest",
        "variableName" : "getVoiceConnectorTerminationHealthRequest",
        "variableType" : "GetVoiceConnectorTerminationHealthRequest",
        "documentation" : "",
        "simpleType" : "GetVoiceConnectorTerminationHealthRequest",
        "variableSetterType" : "GetVoiceConnectorTerminationHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVoiceConnectorTerminationHealth",
      "operationName" : "GetVoiceConnectorTerminationHealth",
      "returnType" : {
        "returnType" : "GetVoiceConnectorTerminationHealthResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVoiceConnectorTerminationHealthResult"
    },
    "InviteUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InviteUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InviteUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InviteUsersRequest, InviteUsersResult>",
      "asyncReturnType" : "InviteUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends email invites to as many as 50 users, inviting them to the specified Amazon Chime <code>Team</code> account. Only <code>Team</code> account types are currently supported for this action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InviteUsersRequest",
        "variableName" : "inviteUsersRequest",
        "variableType" : "InviteUsersRequest",
        "documentation" : "",
        "simpleType" : "InviteUsersRequest",
        "variableSetterType" : "InviteUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "inviteUsers",
      "operationName" : "InviteUsers",
      "returnType" : {
        "returnType" : "InviteUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "InviteUsersResult"
    },
    "ListAccounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAccountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAccountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAccountsRequest, ListAccountsResult>",
      "asyncReturnType" : "ListAccountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Amazon Chime accounts under the administrator's AWS account. You can filter accounts by account name prefix. To find out which Amazon Chime account a user belongs to, you can filter by the user's email address, which returns one account result.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAccountsRequest",
        "variableName" : "listAccountsRequest",
        "variableType" : "ListAccountsRequest",
        "documentation" : "",
        "simpleType" : "ListAccountsRequest",
        "variableSetterType" : "ListAccountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAccounts",
      "operationName" : "ListAccounts",
      "returnType" : {
        "returnType" : "ListAccountsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAccountsResult"
    },
    "ListPhoneNumberOrders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPhoneNumberOrdersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPhoneNumberOrdersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPhoneNumberOrdersRequest, ListPhoneNumberOrdersResult>",
      "asyncReturnType" : "ListPhoneNumberOrdersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the phone number orders for the administrator's Amazon Chime account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
[...]
