{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2022-08-03",
    "asyncClient" : "AmazonChimeSDKVoiceAsyncClient",
    "asyncClientBuilderClassName" : "AmazonChimeSDKVoiceAsyncClientBuilder",
    "asyncInterface" : "AmazonChimeSDKVoiceAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonChimeSDKVoiceModuleInjector",
    "defaultEndpoint" : "voice-chime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "voice-chime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : null,
    "endpointPrefix" : "voice-chime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.chimesdkvoice",
    "packagePath" : "com/amazonaws/services/chimesdkvoice",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Chime SDK Voice",
    "serviceId" : "Chime SDK Voice",
    "serviceName" : "Amazon Chime SDK Voice",
    "signingName" : "chime",
    "smokeTestsPackageName" : "com.amazonaws.services.chimesdkvoice.smoketests",
    "syncClient" : "AmazonChimeSDKVoiceClient",
    "syncClientBuilderClassName" : "AmazonChimeSDKVoiceClientBuilder",
    "syncInterface" : "AmazonChimeSDKVoice",
    "uid" : "chime-sdk-voice-2022-08-03",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociatePhoneNumbersWithVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociatePhoneNumbersWithVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociatePhoneNumbersWithVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociatePhoneNumbersWithVoiceConnectorRequest, AssociatePhoneNumbersWithVoiceConnectorResult>",
      "asyncReturnType" : "AssociatePhoneNumbersWithVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociatePhoneNumbersWithVoiceConnectorRequest",
        "variableName" : "associatePhoneNumbersWithVoiceConnectorRequest",
        "variableType" : "AssociatePhoneNumbersWithVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "AssociatePhoneNumbersWithVoiceConnectorRequest",
        "variableSetterType" : "AssociatePhoneNumbersWithVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associatePhoneNumbersWithVoiceConnector",
      "operationName" : "AssociatePhoneNumbersWithVoiceConnector",
      "returnType" : {
        "returnType" : "AssociatePhoneNumbersWithVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociatePhoneNumbersWithVoiceConnectorResult"
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociatePhoneNumbersWithVoiceConnectorGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociatePhoneNumbersWithVoiceConnectorGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociatePhoneNumbersWithVoiceConnectorGroupRequest, AssociatePhoneNumbersWithVoiceConnectorGroupResult>",
      "asyncReturnType" : "AssociatePhoneNumbersWithVoiceConnectorGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociatePhoneNumbersWithVoiceConnectorGroupRequest",
        "variableName" : "associatePhoneNumbersWithVoiceConnectorGroupRequest",
        "variableType" : "AssociatePhoneNumbersWithVoiceConnectorGroupRequest",
        "documentation" : "",
        "simpleType" : "AssociatePhoneNumbersWithVoiceConnectorGroupRequest",
        "variableSetterType" : "AssociatePhoneNumbersWithVoiceConnectorGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associatePhoneNumbersWithVoiceConnectorGroup",
      "operationName" : "AssociatePhoneNumbersWithVoiceConnectorGroup",
      "returnType" : {
        "returnType" : "AssociatePhoneNumbersWithVoiceConnectorGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociatePhoneNumbersWithVoiceConnectorGroupResult"
    },
    "BatchDeletePhoneNumber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeletePhoneNumberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeletePhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeletePhoneNumberRequest, BatchDeletePhoneNumberResult>",
      "asyncReturnType" : "BatchDeletePhoneNumberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeletePhoneNumberRequest",
        "variableName" : "batchDeletePhoneNumberRequest",
        "variableType" : "BatchDeletePhoneNumberRequest",
        "documentation" : "",
        "simpleType" : "BatchDeletePhoneNumberRequest",
        "variableSetterType" : "BatchDeletePhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeletePhoneNumber",
      "operationName" : "BatchDeletePhoneNumber",
      "returnType" : {
        "returnType" : "BatchDeletePhoneNumberResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeletePhoneNumberResult"
    },
    "BatchUpdatePhoneNumber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUpdatePhoneNumberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUpdatePhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUpdatePhoneNumberRequest, BatchUpdatePhoneNumberResult>",
      "asyncReturnType" : "BatchUpdatePhoneNumberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUpdatePhoneNumberRequest",
        "variableName" : "batchUpdatePhoneNumberRequest",
        "variableType" : "BatchUpdatePhoneNumberRequest",
        "documentation" : "",
        "simpleType" : "BatchUpdatePhoneNumberRequest",
        "variableSetterType" : "BatchUpdatePhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUpdatePhoneNumber",
      "operationName" : "BatchUpdatePhoneNumber",
      "returnType" : {
        "returnType" : "BatchUpdatePhoneNumberResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUpdatePhoneNumberResult"
    },
    "CreatePhoneNumberOrder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePhoneNumberOrderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePhoneNumberOrderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePhoneNumberOrderRequest, CreatePhoneNumberOrderResult>",
      "asyncReturnType" : "CreatePhoneNumberOrderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePhoneNumberOrderRequest",
        "variableName" : "createPhoneNumberOrderRequest",
        "variableType" : "CreatePhoneNumberOrderRequest",
        "documentation" : "",
        "simpleType" : "CreatePhoneNumberOrderRequest",
        "variableSetterType" : "CreatePhoneNumberOrderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPhoneNumberOrder",
      "operationName" : "CreatePhoneNumberOrder",
      "returnType" : {
        "returnType" : "CreatePhoneNumberOrderResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePhoneNumberOrderResult"
    },
    "CreateProxySession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProxySessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProxySessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProxySessionRequest, CreateProxySessionResult>",
      "asyncReturnType" : "CreateProxySessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProxySessionRequest",
        "variableName" : "createProxySessionRequest",
        "variableType" : "CreateProxySessionRequest",
        "documentation" : "",
        "simpleType" : "CreateProxySessionRequest",
        "variableSetterType" : "CreateProxySessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProxySession",
      "operationName" : "CreateProxySession",
      "returnType" : {
        "returnType" : "CreateProxySessionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProxySessionResult"
    },
    "CreateSipMediaApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSipMediaApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSipMediaApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSipMediaApplicationRequest, CreateSipMediaApplicationResult>",
      "asyncReturnType" : "CreateSipMediaApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSipMediaApplicationRequest",
        "variableName" : "createSipMediaApplicationRequest",
        "variableType" : "CreateSipMediaApplicationRequest",
        "documentation" : "",
        "simpleType" : "CreateSipMediaApplicationRequest",
        "variableSetterType" : "CreateSipMediaApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSipMediaApplication",
      "operationName" : "CreateSipMediaApplication",
      "returnType" : {
        "returnType" : "CreateSipMediaApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSipMediaApplicationResult"
    },
    "CreateSipMediaApplicationCall" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSipMediaApplicationCallResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSipMediaApplicationCallResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSipMediaApplicationCallRequest, CreateSipMediaApplicationCallResult>",
      "asyncReturnType" : "CreateSipMediaApplicationCallResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSipMediaApplicationCallRequest",
        "variableName" : "createSipMediaApplicationCallRequest",
        "variableType" : "CreateSipMediaApplicationCallRequest",
        "documentation" : "",
        "simpleType" : "CreateSipMediaApplicationCallRequest",
        "variableSetterType" : "CreateSipMediaApplicationCallRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSipMediaApplicationCall",
      "operationName" : "CreateSipMediaApplicationCall",
      "returnType" : {
        "returnType" : "CreateSipMediaApplicationCallResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSipMediaApplicationCallResult"
    },
    "CreateSipRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSipRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSipRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSipRuleRequest, CreateSipRuleResult>",
      "asyncReturnType" : "CreateSipRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSipRuleRequest",
        "variableName" : "createSipRuleRequest",
        "variableType" : "CreateSipRuleRequest",
        "documentation" : "",
        "simpleType" : "CreateSipRuleRequest",
        "variableSetterType" : "CreateSipRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSipRule",
      "operationName" : "CreateSipRule",
      "returnType" : {
        "returnType" : "CreateSipRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSipRuleResult"
    },
    "CreateVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVoiceConnectorRequest, CreateVoiceConnectorResult>",
      "asyncReturnType" : "CreateVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVoiceConnectorRequest",
        "variableName" : "createVoiceConnectorRequest",
        "variableType" : "CreateVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "CreateVoiceConnectorRequest",
        "variableSetterType" : "CreateVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVoiceConnector",
      "operationName" : "CreateVoiceConnector",
      "returnType" : {
        "returnType" : "CreateVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVoiceConnectorResult"
    },
    "CreateVoiceConnectorGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVoiceConnectorGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVoiceConnectorGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVoiceConnectorGroupRequest, CreateVoiceConnectorGroupResult>",
      "asyncReturnType" : "CreateVoiceConnectorGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVoiceConnectorGroupRequest",
        "variableName" : "createVoiceConnectorGroupRequest",
        "variableType" : "CreateVoiceConnectorGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateVoiceConnectorGroupRequest",
        "variableSetterType" : "CreateVoiceConnectorGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVoiceConnectorGroup",
      "operationName" : "CreateVoiceConnectorGroup",
      "returnType" : {
        "returnType" : "CreateVoiceConnectorGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVoiceConnectorGroupResult"
    },
    "DeletePhoneNumber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePhoneNumberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePhoneNumberRequest, DeletePhoneNumberResult>",
      "asyncReturnType" : "DeletePhoneNumberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePhoneNumberRequest",
        "variableName" : "deletePhoneNumberRequest",
        "variableType" : "DeletePhoneNumberRequest",
        "documentation" : "",
        "simpleType" : "DeletePhoneNumberRequest",
        "variableSetterType" : "DeletePhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePhoneNumber",
      "operationName" : "DeletePhoneNumber",
      "returnType" : {
        "returnType" : "DeletePhoneNumberResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePhoneNumberResult"
    },
    "DeleteProxySession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProxySessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProxySessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProxySessionRequest, DeleteProxySessionResult>",
      "asyncReturnType" : "DeleteProxySessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProxySessionRequest",
        "variableName" : "deleteProxySessionRequest",
        "variableType" : "DeleteProxySessionRequest",
        "documentation" : "",
        "simpleType" : "DeleteProxySessionRequest",
        "variableSetterType" : "DeleteProxySessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProxySession",
      "operationName" : "DeleteProxySession",
      "returnType" : {
        "returnType" : "DeleteProxySessionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProxySessionResult"
    },
    "DeleteSipMediaApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSipMediaApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSipMediaApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSipMediaApplicationRequest, DeleteSipMediaApplicationResult>",
      "asyncReturnType" : "DeleteSipMediaApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSipMediaApplicationRequest",
        "variableName" : "deleteSipMediaApplicationRequest",
        "variableType" : "DeleteSipMediaApplicationRequest",
        "documentation" : "",
        "simpleType" : "DeleteSipMediaApplicationRequest",
        "variableSetterType" : "DeleteSipMediaApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSipMediaApplication",
      "operationName" : "DeleteSipMediaApplication",
      "returnType" : {
        "returnType" : "DeleteSipMediaApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSipMediaApplicationResult"
    },
    "DeleteSipRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSipRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSipRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSipRuleRequest, DeleteSipRuleResult>",
      "asyncReturnType" : "DeleteSipRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSipRuleRequest",
        "variableName" : "deleteSipRuleRequest",
        "variableType" : "DeleteSipRuleRequest",
        "documentation" : "",
        "simpleType" : "DeleteSipRuleRequest",
        "variableSetterType" : "DeleteSipRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSipRule",
      "operationName" : "DeleteSipRule",
      "returnType" : {
        "returnType" : "DeleteSipRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSipRuleResult"
    },
    "DeleteVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorRequest, DeleteVoiceConnectorResult>",
      "asyncReturnType" : "DeleteVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorRequest",
        "variableName" : "deleteVoiceConnectorRequest",
        "variableType" : "DeleteVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorRequest",
        "variableSetterType" : "DeleteVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnector",
      "operationName" : "DeleteVoiceConnector",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorResult"
    },
    "DeleteVoiceConnectorEmergencyCallingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorEmergencyCallingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorEmergencyCallingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorEmergencyCallingConfigurationRequest, DeleteVoiceConnectorEmergencyCallingConfigurationResult>",
      "asyncReturnType" : "DeleteVoiceConnectorEmergencyCallingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorEmergencyCallingConfigurationRequest",
        "variableName" : "deleteVoiceConnectorEmergencyCallingConfigurationRequest",
        "variableType" : "DeleteVoiceConnectorEmergencyCallingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorEmergencyCallingConfigurationRequest",
        "variableSetterType" : "DeleteVoiceConnectorEmergencyCallingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnectorEmergencyCallingConfiguration",
      "operationName" : "DeleteVoiceConnectorEmergencyCallingConfiguration",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorEmergencyCallingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorEmergencyCallingConfigurationResult"
    },
    "DeleteVoiceConnectorGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorGroupRequest, DeleteVoiceConnectorGroupResult>",
      "asyncReturnType" : "DeleteVoiceConnectorGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorGroupRequest",
        "variableName" : "deleteVoiceConnectorGroupRequest",
        "variableType" : "DeleteVoiceConnectorGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorGroupRequest",
        "variableSetterType" : "DeleteVoiceConnectorGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnectorGroup",
      "operationName" : "DeleteVoiceConnectorGroup",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorGroupResult"
    },
    "DeleteVoiceConnectorOrigination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorOriginationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorOriginationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorOriginationRequest, DeleteVoiceConnectorOriginationResult>",
      "asyncReturnType" : "DeleteVoiceConnectorOriginationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorOriginationRequest",
        "variableName" : "deleteVoiceConnectorOriginationRequest",
        "variableType" : "DeleteVoiceConnectorOriginationRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorOriginationRequest",
        "variableSetterType" : "DeleteVoiceConnectorOriginationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnectorOrigination",
      "operationName" : "DeleteVoiceConnectorOrigination",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorOriginationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorOriginationResult"
    },
    "DeleteVoiceConnectorProxy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorProxyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorProxyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorProxyRequest, DeleteVoiceConnectorProxyResult>",
      "asyncReturnType" : "DeleteVoiceConnectorProxyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorProxyRequest",
        "variableName" : "deleteVoiceConnectorProxyRequest",
        "variableType" : "DeleteVoiceConnectorProxyRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorProxyRequest",
        "variableSetterType" : "DeleteVoiceConnectorProxyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnectorProxy",
      "operationName" : "DeleteVoiceConnectorProxy",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorProxyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorProxyResult"
    },
    "DeleteVoiceConnectorStreamingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorStreamingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorStreamingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorStreamingConfigurationRequest, DeleteVoiceConnectorStreamingConfigurationResult>",
      "asyncReturnType" : "DeleteVoiceConnectorStreamingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorStreamingConfigurationRequest",
        "variableName" : "deleteVoiceConnectorStreamingConfigurationRequest",
        "variableType" : "DeleteVoiceConnectorStreamingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorStreamingConfigurationRequest",
        "variableSetterType" : "DeleteVoiceConnectorStreamingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnectorStreamingConfiguration",
      "operationName" : "DeleteVoiceConnectorStreamingConfiguration",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorStreamingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorStreamingConfigurationResult"
    },
    "DeleteVoiceConnectorTermination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorTerminationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorTerminationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorTerminationRequest, DeleteVoiceConnectorTerminationResult>",
      "asyncReturnType" : "DeleteVoiceConnectorTerminationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorTerminationRequest",
        "variableName" : "deleteVoiceConnectorTerminationRequest",
        "variableType" : "DeleteVoiceConnectorTerminationRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorTerminationRequest",
        "variableSetterType" : "DeleteVoiceConnectorTerminationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnectorTermination",
      "operationName" : "DeleteVoiceConnectorTermination",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorTerminationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorTerminationResult"
    },
    "DeleteVoiceConnectorTerminationCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVoiceConnectorTerminationCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVoiceConnectorTerminationCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVoiceConnectorTerminationCredentialsRequest, DeleteVoiceConnectorTerminationCredentialsResult>",
      "asyncReturnType" : "DeleteVoiceConnectorTerminationCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVoiceConnectorTerminationCredentialsRequest",
        "variableName" : "deleteVoiceConnectorTerminationCredentialsRequest",
        "variableType" : "DeleteVoiceConnectorTerminationCredentialsRequest",
        "documentation" : "",
        "simpleType" : "DeleteVoiceConnectorTerminationCredentialsRequest",
        "variableSetterType" : "DeleteVoiceConnectorTerminationCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVoiceConnectorTerminationCredentials",
      "operationName" : "DeleteVoiceConnectorTerminationCredentials",
      "returnType" : {
        "returnType" : "DeleteVoiceConnectorTerminationCredentialsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVoiceConnectorTerminationCredentialsResult"
    },
    "DisassociatePhoneNumbersFromVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociatePhoneNumbersFromVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociatePhoneNumbersFromVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociatePhoneNumbersFromVoiceConnectorRequest, DisassociatePhoneNumbersFromVoiceConnectorResult>",
      "asyncReturnType" : "DisassociatePhoneNumbersFromVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociatePhoneNumbersFromVoiceConnectorRequest",
        "variableName" : "disassociatePhoneNumbersFromVoiceConnectorRequest",
        "variableType" : "DisassociatePhoneNumbersFromVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "DisassociatePhoneNumbersFromVoiceConnectorRequest",
        "variableSetterType" : "DisassociatePhoneNumbersFromVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociatePhoneNumbersFromVoiceConnector",
      "operationName" : "DisassociatePhoneNumbersFromVoiceConnector",
      "returnType" : {
        "returnType" : "DisassociatePhoneNumbersFromVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociatePhoneNumbersFromVoiceConnectorResult"
    },
    "DisassociatePhoneNumbersFromVoiceConnectorGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociatePhoneNumbersFromVoiceConnectorGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociatePhoneNumbersFromVoiceConnectorGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociatePhoneNumbersFromVoiceConnectorGroupRequest, DisassociatePhoneNumbersFromVoiceConnectorGroupResult>",
      "asyncReturnType" : "DisassociatePhoneNumbersFromVoiceConnectorGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociatePhoneNumbersFromVoiceConnectorGroupRequest",
        "variableName" : "disassociatePhoneNumbersFromVoiceConnectorGroupRequest",
        "variableType" : "DisassociatePhoneNumbersFromVoiceConnectorGroupRequest",
        "documentation" : "",
        "simpleType" : "DisassociatePhoneNumbersFromVoiceConnectorGroupRequest",
        "variableSetterType" : "DisassociatePhoneNumbersFromVoiceConnectorGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociatePhoneNumbersFromVoiceConnectorGroup",
      "operationName" : "DisassociatePhoneNumbersFromVoiceConnectorGroup",
      "returnType" : {
        "returnType" : "DisassociatePhoneNumbersFromVoiceConnectorGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociatePhoneNumbersFromVoiceConnectorGroupResult"
    },
    "GetGlobalSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGlobalSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGlobalSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGlobalSettingsRequest, GetGlobalSettingsResult>",
      "asyncReturnType" : "GetGlobalSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGlobalSettingsRequest",
        "variableName" : "getGlobalSettingsRequest",
        "variableType" : "GetGlobalSettingsRequest",
        "documentation" : null,
        "simpleType" : "GetGlobalSettingsRequest",
        "variableSetterType" : "GetGlobalSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGlobalSettings",
      "operationName" : "GetGlobalSettings",
      "returnType" : {
        "returnType" : "GetGlobalSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGlobalSettingsResult"
    },
    "GetPhoneNumber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPhoneNumberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPhoneNumberRequest, GetPhoneNumberResult>",
      "asyncReturnType" : "GetPhoneNumberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPhoneNumberRequest",
        "variableName" : "getPhoneNumberRequest",
        "variableType" : "GetPhoneNumberRequest",
        "documentation" : "",
        "simpleType" : "GetPhoneNumberRequest",
        "variableSetterType" : "GetPhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPhoneNumber",
      "operationName" : "GetPhoneNumber",
      "returnType" : {
        "returnType" : "GetPhoneNumberResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPhoneNumberResult"
    },
    "GetPhoneNumberOrder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPhoneNumberOrderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPhoneNumberOrderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPhoneNumberOrderRequest, GetPhoneNumberOrderResult>",
      "asyncReturnType" : "GetPhoneNumberOrderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPhoneNumberOrderRequest",
        "variableName" : "getPhoneNumberOrderRequest",
        "variableType" : "GetPhoneNumberOrderRequest",
        "documentation" : "",
        "simpleType" : "GetPhoneNumberOrderRequest",
        "variableSetterType" : "GetPhoneNumberOrderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPhoneNumberOrder",
      "operationName" : "GetPhoneNumberOrder",
      "returnType" : {
        "returnType" : "GetPhoneNumberOrderResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPhoneNumberOrderResult"
    },
    "GetPhoneNumberSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPhoneNumberSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPhoneNumberSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPhoneNumberSettingsRequest, GetPhoneNumberSettingsResult>",
      "asyncReturnType" : "GetPhoneNumberSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPhoneNumberSettingsRequest",
        "variableName" : "getPhoneNumberSettingsRequest",
        "variableType" : "GetPhoneNumberSettingsRequest",
        "documentation" : null,
        "simpleType" : "GetPhoneNumberSettingsRequest",
        "variableSetterType" : "GetPhoneNumberSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPhoneNumberSettings",
      "operationName" : "GetPhoneNumberSettings",
      "returnType" : {
        "returnType" : "GetPhoneNumberSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPhoneNumberSettingsResult"
    },
    "GetProxySession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProxySessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProxySessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProxySessionRequest, GetProxySessionResult>",
      "asyncReturnType" : "GetProxySessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProxySessionRequest",
        "variableName" : "getProxySessionRequest",
        "variableType" : "GetProxySessionRequest",
        "documentation" : "",
        "simpleType" : "GetProxySessionRequest",
        "variableSetterType" : "GetProxySessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProxySession",
      "operationName" : "GetProxySession",
      "returnType" : {
        "returnType" : "GetProxySessionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProxySessionResult"
    },
    "GetSipMediaApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSipMediaApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSipMediaApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSipMediaApplicationRequest, GetSipMediaApplicationResult>",
      "asyncReturnType" : "GetSipMediaApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSipMediaApplicationRequest",
        "variableName" : "getSipMediaApplicationRequest",
        "variableType" : "GetSipMediaApplicationRequest",
        "documentation" : "",
        "simpleType" : "GetSipMediaApplicationRequest",
        "variableSetterType" : "GetSipMediaApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSipMediaApplication",
      "operationName" : "GetSipMediaApplication",
      "returnType" : {
        "returnType" : "GetSipMediaApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSipMediaApplicationResult"
    },
    "GetSipMediaApplicationAlexaSkillConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSipMediaApplicationAlexaSkillConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSipMediaApplicationAlexaSkillConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSipMediaApplicationAlexaSkillConfigurationRequest, GetSipMediaApplicationAlexaSkillConfigurationResult>",
      "asyncReturnType" : "GetSipMediaApplicationAlexaSkillConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSipMediaApplicationAlexaSkillConfigurationRequest",
        "variableName" : "getSipMediaApplicationAlexaSkillConfigurationRequest",
        "variableType" : "GetSipMediaApplicationAlexaSkillConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetSipMediaApplicationAlexaSkillConfigurationRequest",
        "variableSetterType" : "GetSipMediaApplicationAlexaSkillConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSipMediaApplicationAlexaSkillConfiguration",
      "operationName" : "GetSipMediaApplicationAlexaSkillConfiguration",
      "returnType" : {
        "returnType" : "GetSipMediaApplicationAlexaSkillConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSipMediaApplicationAlexaSkillConfigurationResult"
    },
    "GetSipMediaApplicationLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSipMediaApplicationLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSipMediaApplicationLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSipMediaApplicationLoggingConfigurationRequest, GetSipMediaApplicationLoggingConfigurationResult>",
      "asyncReturnType" : "GetSipMediaApplicationLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSipMediaApplicationLoggingConfigurationRequest",
        "variableName" : "getSipMediaApplicationLoggingConfigurationRequest",
        "variableType" : "GetSipMediaApplicationLoggingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetSipMediaApplicationLoggingConfigurationRequest",
        "variableSetterType" : "GetSipMediaApplicationLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSipMediaApplicationLoggingConfiguration",
      "operationName" : "GetSipMediaApplicationLoggingConfiguration",
      "returnType" : {
        "returnType" : "GetSipMediaApplicationLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSipMediaApplicationLoggingConfigurationResult"
    },
    "GetSipRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSipRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSipRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSipRuleRequest, GetSipRuleResult>",
      "asyncReturnType" : "GetSipRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSipRuleRequest",
        "variableName" : "getSipRuleRequest",
        "variableType" : "GetSipRuleRequest",
        "documentation" : "",
        "simpleType" : "GetSipRuleRequest",
        "variableSetterType" : "GetSipRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSipRule",
      "operationName" : "GetSipRule",
      "returnType" : {
        "returnType" : "GetSipRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSipRuleResult"
    },
    "GetVoiceConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVoiceConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVoiceConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVoiceConnectorRequest, GetVoiceConnectorResult>",
      "asyncReturnType" : "GetVoiceConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVoiceConnectorRequest",
        "variableName" : "getVoiceConnectorRequest",
        "variableType" : "GetVoiceConnectorRequest",
        "documentation" : "",
        "simpleType" : "GetVoiceConnectorRequest",
        "variableSetterType" : "GetVoiceConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVoiceConnector",
      "operationName" : "GetVoiceConnector",
      "returnType" : {
        "returnType" : "GetVoiceConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVoiceConnectorResult"
    },
    "GetVoiceConnectorEmergencyCallingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVoiceConnectorEmergencyCallingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVoiceConnectorEmergencyCallingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVoiceConnectorEmergencyCallingConfigurationRequest, GetVoiceConnectorEmergencyCallingConfigurationResult>",
      "asyncReturnType" : "GetVoiceConnectorEmergencyCallingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVoiceConnectorEmergencyCallingConfigurationRequest",
        "variableName" : "getVoiceConnectorEmergencyCallingConfigurationRequest",
        "variableType" : "GetVoiceConnectorEmergencyCallingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetVoiceConnectorEmergencyCallingConfigurationRequest",
        "variableSetterType" : "GetVoiceConnectorEmergencyCallingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVoiceConnectorEmergencyCallingConfiguration",
      "operationName" : "GetVoiceConnectorEmergencyCallingConfiguration",
      "returnType" : {
        "returnType" : "GetVoiceConnectorEmergencyCallingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVoiceConnectorEmergencyCallingConfigurationResult"
    },
    "GetVoiceConnectorGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVoiceConnectorGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVoiceConnectorGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVoiceConnectorGroupRequest, GetVoiceConnectorGroupResult>",
      "asyncReturnType" : "GetVoiceConnectorGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVoiceConnectorGroupRequest",
        "variableName" : "getVoiceConnectorGroupRequest",
        "variableType" : "GetVoiceConnectorGroupRequest",
        "documentation" : "",
        "simpleType" : "GetVoiceConnectorGroupRequest",
        "variableSetterType" : "GetVoiceConnectorGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVoiceConnectorGroup",
      "operationName" : "GetVoiceConnectorGroup",
      "returnType" : {
        "returnType" : "GetVoiceConnectorGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVoiceConnectorGroupResult"
    },
    "GetVoiceConnectorLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVoiceConnectorLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVoiceConnectorLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVoiceConnectorLoggingConfigurationRequest, GetVoiceConnectorLoggingConfigurationResult>",
      "asyncReturnType" : "GetVoiceConnectorLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVoiceConnectorLoggingConfigurationRequest",
        "variableName" : "getVoiceConnectorLoggingConfigurationRequest",
        "variableType" : "GetVoiceConnectorLoggingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetVoiceConnectorLoggingConfigurationRequest",
        "variableSetterType" : "GetVoiceConnectorLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVoiceConnectorLoggingConfiguration",
      "operationName" : "GetVoiceConnectorLoggingConfiguration",
      "returnType" : {
        "returnType" : "GetVoiceConnectorLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVoiceConnectorLoggingConfigurationResult"
    },
    "GetVoiceConnectorOrigination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVoiceConnectorOriginationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVoiceConnectorOriginationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVoiceConnectorOriginationRequest, GetVoiceConnectorOriginationResult>",
      "asyncReturnType" : "GetVoiceConnectorOriginationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : null,
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVoiceConnectorOriginationRequest",
        "variableName" : "getVoiceConnectorOriginationRequest",
        "variableType" : "GetVoiceConnectorOriginationRequest",
        "documentation" : "",
        "simpleType" : "GetVoiceConnectorOriginationRequest",
        "variableSetterType" : "GetVoiceConnectorOriginationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVoiceConnectorOrigination",
      "operationName" : "GetVoiceConnectorOrigination",
      "returnType" : {
        "returnType" : "GetVoiceConnectorOriginationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVoiceConnectorOriginationResult"
    },
    "GetVoiceConnectorProxy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVoiceConnectorProxyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVoiceConnectorProxyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVoiceConnectorProxyRequest, GetVoiceConnectorProxyResult>",
      "asyncReturnType" : "GetVoiceConnectorProxyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
[...]
