{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-07-15",
    "asyncClient" : "AmazonChimeSDKMediaPipelinesAsyncClient",
    "asyncClientBuilderClassName" : "AmazonChimeSDKMediaPipelinesAsyncClientBuilder",
    "asyncInterface" : "AmazonChimeSDKMediaPipelinesAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonChimeSDKMediaPipelinesModuleInjector",
    "defaultEndpoint" : "media-pipelines-chime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "media-pipelines-chime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Chime SDK media pipeline APIs in this section allow software developers to create Amazon Chime SDK media pipelines that capture, concatenate, or stream your Amazon Chime SDK meetings. For more information about media pipleines, see <a href=\"http://amazonaws.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Media_Pipelines.html\">Amazon Chime SDK media pipelines</a>. </p>",
    "endpointPrefix" : "media-pipelines-chime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.chimesdkmediapipelines",
    "packagePath" : "com/amazonaws/services/chimesdkmediapipelines",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Chime SDK Media Pipelines",
    "serviceId" : "Chime SDK Media Pipelines",
    "serviceName" : "Amazon Chime SDK Media Pipelines",
    "signingName" : "chime",
    "smokeTestsPackageName" : "com.amazonaws.services.chimesdkmediapipelines.smoketests",
    "syncClient" : "AmazonChimeSDKMediaPipelinesClient",
    "syncClientBuilderClassName" : "AmazonChimeSDKMediaPipelinesClientBuilder",
    "syncInterface" : "AmazonChimeSDKMediaPipelines",
    "uid" : "chime-sdk-media-pipelines-2021-07-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateMediaCapturePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMediaCapturePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMediaCapturePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMediaCapturePipelineRequest, CreateMediaCapturePipelineResult>",
      "asyncReturnType" : "CreateMediaCapturePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMediaCapturePipelineRequest",
        "variableName" : "createMediaCapturePipelineRequest",
        "variableType" : "CreateMediaCapturePipelineRequest",
        "documentation" : "",
        "simpleType" : "CreateMediaCapturePipelineRequest",
        "variableSetterType" : "CreateMediaCapturePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMediaCapturePipeline",
      "operationName" : "CreateMediaCapturePipeline",
      "returnType" : {
        "returnType" : "CreateMediaCapturePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMediaCapturePipelineResult"
    },
    "CreateMediaConcatenationPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMediaConcatenationPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMediaConcatenationPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMediaConcatenationPipelineRequest, CreateMediaConcatenationPipelineResult>",
      "asyncReturnType" : "CreateMediaConcatenationPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a media concatenation pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMediaConcatenationPipelineRequest",
        "variableName" : "createMediaConcatenationPipelineRequest",
        "variableType" : "CreateMediaConcatenationPipelineRequest",
        "documentation" : "",
        "simpleType" : "CreateMediaConcatenationPipelineRequest",
        "variableSetterType" : "CreateMediaConcatenationPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMediaConcatenationPipeline",
      "operationName" : "CreateMediaConcatenationPipeline",
      "returnType" : {
        "returnType" : "CreateMediaConcatenationPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMediaConcatenationPipelineResult"
    },
    "CreateMediaLiveConnectorPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMediaLiveConnectorPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMediaLiveConnectorPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMediaLiveConnectorPipelineRequest, CreateMediaLiveConnectorPipelineResult>",
      "asyncReturnType" : "CreateMediaLiveConnectorPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a streaming media pipeline in an Amazon Chime SDK meeting.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMediaLiveConnectorPipelineRequest",
        "variableName" : "createMediaLiveConnectorPipelineRequest",
        "variableType" : "CreateMediaLiveConnectorPipelineRequest",
        "documentation" : "",
        "simpleType" : "CreateMediaLiveConnectorPipelineRequest",
        "variableSetterType" : "CreateMediaLiveConnectorPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMediaLiveConnectorPipeline",
      "operationName" : "CreateMediaLiveConnectorPipeline",
      "returnType" : {
        "returnType" : "CreateMediaLiveConnectorPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMediaLiveConnectorPipelineResult"
    },
    "DeleteMediaCapturePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMediaCapturePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMediaCapturePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMediaCapturePipelineRequest, DeleteMediaCapturePipelineResult>",
      "asyncReturnType" : "DeleteMediaCapturePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMediaCapturePipelineRequest",
        "variableName" : "deleteMediaCapturePipelineRequest",
        "variableType" : "DeleteMediaCapturePipelineRequest",
        "documentation" : "",
        "simpleType" : "DeleteMediaCapturePipelineRequest",
        "variableSetterType" : "DeleteMediaCapturePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMediaCapturePipeline",
      "operationName" : "DeleteMediaCapturePipeline",
      "returnType" : {
        "returnType" : "DeleteMediaCapturePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMediaCapturePipelineResult"
    },
    "DeleteMediaPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMediaPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMediaPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMediaPipelineRequest, DeleteMediaPipelineResult>",
      "asyncReturnType" : "DeleteMediaPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMediaPipelineRequest",
        "variableName" : "deleteMediaPipelineRequest",
        "variableType" : "DeleteMediaPipelineRequest",
        "documentation" : "",
        "simpleType" : "DeleteMediaPipelineRequest",
        "variableSetterType" : "DeleteMediaPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMediaPipeline",
      "operationName" : "DeleteMediaPipeline",
      "returnType" : {
        "returnType" : "DeleteMediaPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMediaPipelineResult"
    },
    "GetMediaCapturePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMediaCapturePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMediaCapturePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMediaCapturePipelineRequest, GetMediaCapturePipelineResult>",
      "asyncReturnType" : "GetMediaCapturePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an existing media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMediaCapturePipelineRequest",
        "variableName" : "getMediaCapturePipelineRequest",
        "variableType" : "GetMediaCapturePipelineRequest",
        "documentation" : "",
        "simpleType" : "GetMediaCapturePipelineRequest",
        "variableSetterType" : "GetMediaCapturePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMediaCapturePipeline",
      "operationName" : "GetMediaCapturePipeline",
      "returnType" : {
        "returnType" : "GetMediaCapturePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMediaCapturePipelineResult"
    },
    "GetMediaPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMediaPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMediaPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMediaPipelineRequest, GetMediaPipelineResult>",
      "asyncReturnType" : "GetMediaPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an existing media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMediaPipelineRequest",
        "variableName" : "getMediaPipelineRequest",
        "variableType" : "GetMediaPipelineRequest",
        "documentation" : "",
        "simpleType" : "GetMediaPipelineRequest",
        "variableSetterType" : "GetMediaPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMediaPipeline",
      "operationName" : "GetMediaPipeline",
      "returnType" : {
        "returnType" : "GetMediaPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMediaPipelineResult"
    },
    "ListMediaCapturePipelines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMediaCapturePipelinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMediaCapturePipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMediaCapturePipelinesRequest, ListMediaCapturePipelinesResult>",
      "asyncReturnType" : "ListMediaCapturePipelinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of media pipelines.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMediaCapturePipelinesRequest",
        "variableName" : "listMediaCapturePipelinesRequest",
        "variableType" : "ListMediaCapturePipelinesRequest",
        "documentation" : "",
        "simpleType" : "ListMediaCapturePipelinesRequest",
        "variableSetterType" : "ListMediaCapturePipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMediaCapturePipelines",
      "operationName" : "ListMediaCapturePipelines",
      "returnType" : {
        "returnType" : "ListMediaCapturePipelinesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMediaCapturePipelinesResult"
    },
    "ListMediaPipelines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMediaPipelinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMediaPipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMediaPipelinesRequest, ListMediaPipelinesResult>",
      "asyncReturnType" : "ListMediaPipelinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of media pipelines.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMediaPipelinesRequest",
        "variableName" : "listMediaPipelinesRequest",
        "variableType" : "ListMediaPipelinesRequest",
        "documentation" : "",
        "simpleType" : "ListMediaPipelinesRequest",
        "variableSetterType" : "ListMediaPipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMediaPipelines",
      "operationName" : "ListMediaPipelines",
      "returnType" : {
        "returnType" : "ListMediaPipelinesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMediaPipelinesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags available for a media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The ARN of the media pipeline that you want to tag. Consists of he pipeline's endpoint region, resource ID, and pipeline ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes any tags from a media pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "ArtifactsConcatenationConfiguration" : {
      "c2jName" : "ArtifactsConcatenationConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configuration for the artifacts concatenation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmediapipelines.model.ArtifactsConcatenationConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Audio",
        "c2jShape" : "AudioConcatenationConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the audio artifacts concatenation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the audio artifacts concatenation.</p>\n@param audio The configuration for the audio artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAudio",
        "getterDocumentation" : "/**<p>The configuration for the audio artifacts concatenation.</p>\n@return The configuration for the audio artifacts concatenation.*/",
        "getterMethodName" : "getAudio",
        "getterModel" : {
          "returnType" : "AudioConcatenationConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Audio",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Audio",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Audio",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the audio artifacts concatenation.</p>\n@param audio The configuration for the audio artifacts concatenation.*/",
        "setterMethodName" : "setAudio",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AudioConcatenationConfiguration",
          "variableName" : "audio",
          "variableType" : "AudioConcatenationConfiguration",
          "documentation" : "",
          "simpleType" : "AudioConcatenationConfiguration",
          "variableSetterType" : "AudioConcatenationConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the audio artifacts concatenation.</p>\n@param audio The configuration for the audio artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AudioConcatenationConfiguration",
          "variableName" : "audio",
          "variableType" : "AudioConcatenationConfiguration",
          "documentation" : "<p>The configuration for the audio artifacts concatenation.</p>",
          "simpleType" : "AudioConcatenationConfiguration",
          "variableSetterType" : "AudioConcatenationConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Video",
        "c2jShape" : "VideoConcatenationConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the video artifacts concatenation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the video artifacts concatenation.</p>\n@param video The configuration for the video artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVideo",
        "getterDocumentation" : "/**<p>The configuration for the video artifacts concatenation.</p>\n@return The configuration for the video artifacts concatenation.*/",
        "getterMethodName" : "getVideo",
        "getterModel" : {
          "returnType" : "VideoConcatenationConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Video",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Video",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Video",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the video artifacts concatenation.</p>\n@param video The configuration for the video artifacts concatenation.*/",
        "setterMethodName" : "setVideo",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "VideoConcatenationConfiguration",
          "variableName" : "video",
          "variableType" : "VideoConcatenationConfiguration",
          "documentation" : "",
          "simpleType" : "VideoConcatenationConfiguration",
          "variableSetterType" : "VideoConcatenationConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the video artifacts concatenation.</p>\n@param video The configuration for the video artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "VideoConcatenationConfiguration",
          "variableName" : "video",
          "variableType" : "VideoConcatenationConfiguration",
          "documentation" : "<p>The configuration for the video artifacts concatenation.</p>",
          "simpleType" : "VideoConcatenationConfiguration",
          "variableSetterType" : "VideoConcatenationConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Content",
        "c2jShape" : "ContentConcatenationConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the content artifacts concatenation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the content artifacts concatenation.</p>\n@param content The configuration for the content artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContent",
        "getterDocumentation" : "/**<p>The configuration for the content artifacts concatenation.</p>\n@return The configuration for the content artifacts concatenation.*/",
        "getterMethodName" : "getContent",
        "getterModel" : {
          "returnType" : "ContentConcatenationConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Content",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Content",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Content",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the content artifacts concatenation.</p>\n@param content The configuration for the content artifacts concatenation.*/",
        "setterMethodName" : "setContent",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ContentConcatenationConfiguration",
          "variableName" : "content",
          "variableType" : "ContentConcatenationConfiguration",
          "documentation" : "",
          "simpleType" : "ContentConcatenationConfiguration",
          "variableSetterType" : "ContentConcatenationConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the content artifacts concatenation.</p>\n@param content The configuration for the content artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ContentConcatenationConfiguration",
          "variableName" : "content",
          "variableType" : "ContentConcatenationConfiguration",
          "documentation" : "<p>The configuration for the content artifacts concatenation.</p>",
          "simpleType" : "ContentConcatenationConfiguration",
          "variableSetterType" : "ContentConcatenationConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DataChannel",
        "c2jShape" : "DataChannelConcatenationConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the data channel artifacts concatenation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the data channel artifacts concatenation.</p>\n@param dataChannel The configuration for the data channel artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDataChannel",
        "getterDocumentation" : "/**<p>The configuration for the data channel artifacts concatenation.</p>\n@return The configuration for the data channel artifacts concatenation.*/",
        "getterMethodName" : "getDataChannel",
        "getterModel" : {
          "returnType" : "DataChannelConcatenationConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DataChannel",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DataChannel",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "DataChannel",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the data channel artifacts concatenation.</p>\n@param dataChannel The configuration for the data channel artifacts concatenation.*/",
        "setterMethodName" : "setDataChannel",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DataChannelConcatenationConfiguration",
          "variableName" : "dataChannel",
          "variableType" : "DataChannelConcatenationConfiguration",
          "documentation" : "",
          "simpleType" : "DataChannelConcatenationConfiguration",
          "variableSetterType" : "DataChannelConcatenationConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the data channel artifacts concatenation.</p>\n@param dataChannel The configuration for the data channel artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DataChannelConcatenationConfiguration",
          "variableName" : "dataChannel",
          "variableType" : "DataChannelConcatenationConfiguration",
          "documentation" : "<p>The configuration for the data channel artifacts concatenation.</p>",
          "simpleType" : "DataChannelConcatenationConfiguration",
          "variableSetterType" : "DataChannelConcatenationConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TranscriptionMessages",
        "c2jShape" : "TranscriptionMessagesConcatenationConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the transcription messages artifacts concatenation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the transcription messages artifacts concatenation.</p>\n@param transcriptionMessages The configuration for the transcription messages artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTranscriptionMessages",
        "getterDocumentation" : "/**<p>The configuration for the transcription messages artifacts concatenation.</p>\n@return The configuration for the transcription messages artifacts concatenation.*/",
        "getterMethodName" : "getTranscriptionMessages",
        "getterModel" : {
          "returnType" : "TranscriptionMessagesConcatenationConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TranscriptionMessages",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TranscriptionMessages",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TranscriptionMessages",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the transcription messages artifacts concatenation.</p>\n@param transcriptionMessages The configuration for the transcription messages artifacts concatenation.*/",
        "setterMethodName" : "setTranscriptionMessages",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TranscriptionMessagesConcatenationConfiguration",
          "variableName" : "transcriptionMessages",
          "variableType" : "TranscriptionMessagesConcatenationConfiguration",
          "documentation" : "",
          "simpleType" : "TranscriptionMessagesConcatenationConfiguration",
          "variableSetterType" : "TranscriptionMessagesConcatenationConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the transcription messages artifacts concatenation.</p>\n@param transcriptionMessages The configuration for the transcription messages artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TranscriptionMessagesConcatenationConfiguration",
          "variableName" : "transcriptionMessages",
          "variableType" : "TranscriptionMessagesConcatenationConfiguration",
          "documentation" : "<p>The configuration for the transcription messages artifacts concatenation.</p>",
          "simpleType" : "TranscriptionMessagesConcatenationConfiguration",
          "variableSetterType" : "TranscriptionMessagesConcatenationConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MeetingEvents",
        "c2jShape" : "MeetingEventsConcatenationConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the meeting events artifacts concatenation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the meeting events artifacts concatenation.</p>\n@param meetingEvents The configuration for the meeting events artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMeetingEvents",
        "getterDocumentation" : "/**<p>The configuration for the meeting events artifacts concatenation.</p>\n@return The configuration for the meeting events artifacts concatenation.*/",
        "getterMethodName" : "getMeetingEvents",
        "getterModel" : {
          "returnType" : "MeetingEventsConcatenationConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MeetingEvents",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MeetingEvents",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "MeetingEvents",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the meeting events artifacts concatenation.</p>\n@param meetingEvents The configuration for the meeting events artifacts concatenation.*/",
        "setterMethodName" : "setMeetingEvents",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "MeetingEventsConcatenationConfiguration",
          "variableName" : "meetingEvents",
          "variableType" : "MeetingEventsConcatenationConfiguration",
          "documentation" : "",
          "simpleType" : "MeetingEventsConcatenationConfiguration",
          "variableSetterType" : "MeetingEventsConcatenationConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the meeting events artifacts concatenation.</p>\n@param meetingEvents The configuration for the meeting events artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "MeetingEventsConcatenationConfiguration",
          "variableName" : "meetingEvents",
          "variableType" : "MeetingEventsConcatenationConfiguration",
          "documentation" : "<p>The configuration for the meeting events artifacts concatenation.</p>",
          "simpleType" : "MeetingEventsConcatenationConfiguration",
          "variableSetterType" : "MeetingEventsConcatenationConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CompositedVideo",
        "c2jShape" : "CompositedVideoConcatenationConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the composited video artifacts concatenation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the composited video artifacts concatenation.</p>\n@param compositedVideo The configuration for the composited video artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCompositedVideo",
        "getterDocumentation" : "/**<p>The configuration for the composited video artifacts concatenation.</p>\n@return The configuration for the composited video artifacts concatenation.*/",
        "getterMethodName" : "getCompositedVideo",
        "getterModel" : {
          "returnType" : "CompositedVideoConcatenationConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CompositedVideo",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CompositedVideo",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CompositedVideo",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the composited video artifacts concatenation.</p>\n@param compositedVideo The configuration for the composited video artifacts concatenation.*/",
        "setterMethodName" : "setCompositedVideo",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CompositedVideoConcatenationConfiguration",
          "variableName" : "compositedVideo",
          "variableType" : "CompositedVideoConcatenationConfiguration",
          "documentation" : "",
          "simpleType" : "CompositedVideoConcatenationConfiguration",
          "variableSetterType" : "CompositedVideoConcatenationConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the composited video artifacts concatenation.</p>\n@param compositedVideo The configuration for the composited video artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CompositedVideoConcatenationConfiguration",
          "variableName" : "compositedVideo",
          "variableType" : "CompositedVideoConcatenationConfiguration",
          "documentation" : "<p>The configuration for the composited video artifacts concatenation.</p>",
          "simpleType" : "CompositedVideoConcatenationConfiguration",
          "variableSetterType" : "CompositedVideoConcatenationConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Audio" : {
          "c2jName" : "Audio",
          "c2jShape" : "AudioConcatenationConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The configuration for the audio artifacts concatenation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration for the audio artifacts concatenation.</p>\n@param audio The configuration for the audio artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAudio",
          "getterDocumentation" : "/**<p>The configuration for the audio artifacts concatenation.</p>\n@return The configuration for the audio artifacts concatenation.*/",
          "getterMethodName" : "getAudio",
          "getterModel" : {
            "returnType" : "AudioConcatenationConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Audio",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Audio",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Audio",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration for the audio artifacts concatenation.</p>\n@param audio The configuration for the audio artifacts concatenation.*/",
          "setterMethodName" : "setAudio",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AudioConcatenationConfiguration",
            "variableName" : "audio",
            "variableType" : "AudioConcatenationConfiguration",
            "documentation" : "",
            "simpleType" : "AudioConcatenationConfiguration",
            "variableSetterType" : "AudioConcatenationConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration for the audio artifacts concatenation.</p>\n@param audio The configuration for the audio artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AudioConcatenationConfiguration",
            "variableName" : "audio",
            "variableType" : "AudioConcatenationConfiguration",
            "documentation" : "<p>The configuration for the audio artifacts concatenation.</p>",
            "simpleType" : "AudioConcatenationConfiguration",
            "variableSetterType" : "AudioConcatenationConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "CompositedVideo" : {
          "c2jName" : "CompositedVideo",
          "c2jShape" : "CompositedVideoConcatenationConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The configuration for the composited video artifacts concatenation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration for the composited video artifacts concatenation.</p>\n@param compositedVideo The configuration for the composited video artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCompositedVideo",
          "getterDocumentation" : "/**<p>The configuration for the composited video artifacts concatenation.</p>\n@return The configuration for the composited video artifacts concatenation.*/",
          "getterMethodName" : "getCompositedVideo",
          "getterModel" : {
            "returnType" : "CompositedVideoConcatenationConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CompositedVideo",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CompositedVideo",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CompositedVideo",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration for the composited video artifacts concatenation.</p>\n@param compositedVideo The configuration for the composited video artifacts concatenation.*/",
          "setterMethodName" : "setCompositedVideo",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CompositedVideoConcatenationConfiguration",
            "variableName" : "compositedVideo",
            "variableType" : "CompositedVideoConcatenationConfiguration",
            "documentation" : "",
            "simpleType" : "CompositedVideoConcatenationConfiguration",
            "variableSetterType" : "CompositedVideoConcatenationConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration for the composited video artifacts concatenation.</p>\n@param compositedVideo The configuration for the composited video artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CompositedVideoConcatenationConfiguration",
            "variableName" : "compositedVideo",
            "variableType" : "CompositedVideoConcatenationConfiguration",
            "documentation" : "<p>The configuration for the composited video artifacts concatenation.</p>",
            "simpleType" : "CompositedVideoConcatenationConfiguration",
            "variableSetterType" : "CompositedVideoConcatenationConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "Content" : {
          "c2jName" : "Content",
          "c2jShape" : "ContentConcatenationConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The configuration for the content artifacts concatenation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration for the content artifacts concatenation.</p>\n@param content The configuration for the content artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withContent",
          "getterDocumentation" : "/**<p>The configuration for the content artifacts concatenation.</p>\n@return The configuration for the content artifacts concatenation.*/",
          "getterMethodName" : "getContent",
          "getterModel" : {
            "returnType" : "ContentConcatenationConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Content",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Content",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Content",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration for the content artifacts concatenation.</p>\n@param content The configuration for the content artifacts concatenation.*/",
          "setterMethodName" : "setContent",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ContentConcatenationConfiguration",
            "variableName" : "content",
            "variableType" : "ContentConcatenationConfiguration",
            "documentation" : "",
            "simpleType" : "ContentConcatenationConfiguration",
            "variableSetterType" : "ContentConcatenationConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration for the content artifacts concatenation.</p>\n@param content The configuration for the content artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ContentConcatenationConfiguration",
            "variableName" : "content",
            "variableType" : "ContentConcatenationConfiguration",
            "documentation" : "<p>The configuration for the content artifacts concatenation.</p>",
            "simpleType" : "ContentConcatenationConfiguration",
            "variableSetterType" : "ContentConcatenationConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "DataChannel" : {
          "c2jName" : "DataChannel",
          "c2jShape" : "DataChannelConcatenationConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The configuration for the data channel artifacts concatenation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration for the data channel artifacts concatenation.</p>\n@param dataChannel The configuration for the data channel artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDataChannel",
          "getterDocumentation" : "/**<p>The configuration for the data channel artifacts concatenation.</p>\n@return The configuration for the data channel artifacts concatenation.*/",
          "getterMethodName" : "getDataChannel",
          "getterModel" : {
            "returnType" : "DataChannelConcatenationConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DataChannel",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DataChannel",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "DataChannel",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration for the data channel artifacts concatenation.</p>\n@param dataChannel The configuration for the data channel artifacts concatenation.*/",
          "setterMethodName" : "setDataChannel",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DataChannelConcatenationConfiguration",
            "variableName" : "dataChannel",
            "variableType" : "DataChannelConcatenationConfiguration",
            "documentation" : "",
            "simpleType" : "DataChannelConcatenationConfiguration",
            "variableSetterType" : "DataChannelConcatenationConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration for the data channel artifacts concatenation.</p>\n@param dataChannel The configuration for the data channel artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DataChannelConcatenationConfiguration",
            "variableName" : "dataChannel",
            "variableType" : "DataChannelConcatenationConfiguration",
            "documentation" : "<p>The configuration for the data channel artifacts concatenation.</p>",
            "simpleType" : "DataChannelConcatenationConfiguration",
            "variableSetterType" : "DataChannelConcatenationConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "MeetingEvents" : {
          "c2jName" : "MeetingEvents",
          "c2jShape" : "MeetingEventsConcatenationConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The configuration for the meeting events artifacts concatenation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration for the meeting events artifacts concatenation.</p>\n@param meetingEvents The configuration for the meeting events artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMeetingEvents",
          "getterDocumentation" : "/**<p>The configuration for the meeting events artifacts concatenation.</p>\n@return The configuration for the meeting events artifacts concatenation.*/",
          "getterMethodName" : "getMeetingEvents",
          "getterModel" : {
            "returnType" : "MeetingEventsConcatenationConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MeetingEvents",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MeetingEvents",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "MeetingEvents",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration for the meeting events artifacts concatenation.</p>\n@param meetingEvents The configuration for the meeting events artifacts concatenation.*/",
          "setterMethodName" : "setMeetingEvents",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "MeetingEventsConcatenationConfiguration",
            "variableName" : "meetingEvents",
            "variableType" : "MeetingEventsConcatenationConfiguration",
            "documentation" : "",
            "simpleType" : "MeetingEventsConcatenationConfiguration",
            "variableSetterType" : "MeetingEventsConcatenationConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration for the meeting events artifacts concatenation.</p>\n@param meetingEvents The configuration for the meeting events artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "MeetingEventsConcatenationConfiguration",
            "variableName" : "meetingEvents",
            "variableType" : "MeetingEventsConcatenationConfiguration",
            "documentation" : "<p>The configuration for the meeting events artifacts concatenation.</p>",
            "simpleType" : "MeetingEventsConcatenationConfiguration",
            "variableSetterType" : "MeetingEventsConcatenationConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "TranscriptionMessages" : {
          "c2jName" : "TranscriptionMessages",
          "c2jShape" : "TranscriptionMessagesConcatenationConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The configuration for the transcription messages artifacts concatenation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration for the transcription messages artifacts concatenation.</p>\n@param transcriptionMessages The configuration for the transcription messages artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTranscriptionMessages",
          "getterDocumentation" : "/**<p>The configuration for the transcription messages artifacts concatenation.</p>\n@return The configuration for the transcription messages artifacts concatenation.*/",
          "getterMethodName" : "getTranscriptionMessages",
          "getterModel" : {
            "returnType" : "TranscriptionMessagesConcatenationConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TranscriptionMessages",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TranscriptionMessages",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "TranscriptionMessages",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration for the transcription messages artifacts concatenation.</p>\n@param transcriptionMessages The configuration for the transcription messages artifacts concatenation.*/",
          "setterMethodName" : "setTranscriptionMessages",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "TranscriptionMessagesConcatenationConfiguration",
            "variableName" : "transcriptionMessages",
            "variableType" : "TranscriptionMessagesConcatenationConfiguration",
            "documentation" : "",
            "simpleType" : "TranscriptionMessagesConcatenationConfiguration",
            "variableSetterType" : "TranscriptionMessagesConcatenationConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration for the transcription messages artifacts concatenation.</p>\n@param transcriptionMessages The configuration for the transcription messages artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "TranscriptionMessagesConcatenationConfiguration",
            "variableName" : "transcriptionMessages",
            "variableType" : "TranscriptionMessagesConcatenationConfiguration",
            "documentation" : "<p>The configuration for the transcription messages artifacts concatenation.</p>",
            "simpleType" : "TranscriptionMessagesConcatenationConfiguration",
            "variableSetterType" : "TranscriptionMessagesConcatenationConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "Video" : {
          "c2jName" : "Video",
          "c2jShape" : "VideoConcatenationConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The configuration for the video artifacts concatenation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration for the video artifacts concatenation.</p>\n@param video The configuration for the video artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVideo",
          "getterDocumentation" : "/**<p>The configuration for the video artifacts concatenation.</p>\n@return The configuration for the video artifacts concatenation.*/",
          "getterMethodName" : "getVideo",
          "getterModel" : {
            "returnType" : "VideoConcatenationConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Video",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Video",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Video",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration for the video artifacts concatenation.</p>\n@param video The configuration for the video artifacts concatenation.*/",
          "setterMethodName" : "setVideo",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "VideoConcatenationConfiguration",
            "variableName" : "video",
            "variableType" : "VideoConcatenationConfiguration",
            "documentation" : "",
            "simpleType" : "VideoConcatenationConfiguration",
            "variableSetterType" : "VideoConcatenationConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration for the video artifacts concatenation.</p>\n@param video The configuration for the video artifacts concatenation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "VideoConcatenationConfiguration",
            "variableName" : "video",
            "variableType" : "VideoConcatenationConfiguration",
            "documentation" : "<p>The configuration for the video artifacts concatenation.</p>",
            "simpleType" : "VideoConcatenationConfiguration",
            "variableSetterType" : "VideoConcatenationConfiguration"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.chimesdkmediapipelines.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Audio", "Video", "Content", "DataChannel", "TranscriptionMessages", "MeetingEvents", "CompositedVideo" ],
      "shapeName" : "ArtifactsConcatenationConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArtifactsConcatenationConfiguration",
        "variableName" : "artifactsConcatenationConfiguration",
        "variableType" : "ArtifactsConcatenationConfiguration",
        "documentation" : null,
        "simpleType" : "ArtifactsConcatenationConfiguration",
        "variableSetterType" : "ArtifactsConcatenationConfiguration"
      },
      "wrapper" : false
    },
    "ArtifactsConcatenationState" : {
      "c2jName" : "ArtifactsConcatenationState",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "Enabled",
        "value" : "Enabled"
      }, {
        "name" : "Disabled",
        "value" : "Disabled"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmediapipelines.enum.ArtifactsConcatenationState",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.chimesdkmediapipelines.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ArtifactsConcatenationState",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArtifactsConcatenationState",
        "variableName" : "artifactsConcatenationState",
        "variableType" : "ArtifactsConcatenationState",
        "documentation" : null,
        "simpleType" : "ArtifactsConcatenationState",
        "variableSetterType" : "ArtifactsConcatenationState"
      },
      "wrapper" : false
    },
    "ArtifactsConfiguration" : {
      "c2jName" : "ArtifactsConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configuration for the artifacts.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmediapipelines.model.ArtifactsConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Audio",
        "c2jShape" : "AudioArtifactsConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the audio artifacts.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the audio artifacts.</p>\n@param audio The configuration for the audio artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAudio",
        "getterDocumentation" : "/**<p>The configuration for the audio artifacts.</p>\n@return The configuration for the audio artifacts.*/",
        "getterMethodName" : "getAudio",
        "getterModel" : {
          "returnType" : "AudioArtifactsConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Audio",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Audio",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Audio",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the audio artifacts.</p>\n@param audio The configuration for the audio artifacts.*/",
        "setterMethodName" : "setAudio",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AudioArtifactsConfiguration",
          "variableName" : "audio",
          "variableType" : "AudioArtifactsConfiguration",
          "documentation" : "",
          "simpleType" : "AudioArtifactsConfiguration",
          "variableSetterType" : "AudioArtifactsConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the audio artifacts.</p>\n@param audio The configuration for the audio artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AudioArtifactsConfiguration",
          "variableName" : "audio",
          "variableType" : "AudioArtifactsConfiguration",
          "documentation" : "<p>The configuration for the audio artifacts.</p>",
          "simpleType" : "AudioArtifactsConfiguration",
          "variableSetterType" : "AudioArtifactsConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Video",
        "c2jShape" : "VideoArtifactsConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the video artifacts.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the video artifacts.</p>\n@param video The configuration for the video artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVideo",
        "getterDocumentation" : "/**<p>The configuration for the video artifacts.</p>\n@return The configuration for the video artifacts.*/",
        "getterMethodName" : "getVideo",
        "getterModel" : {
          "returnType" : "VideoArtifactsConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Video",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Video",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Video",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the video artifacts.</p>\n@param video The configuration for the video artifacts.*/",
        "setterMethodName" : "setVideo",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "VideoArtifactsConfiguration",
          "variableName" : "video",
          "variableType" : "VideoArtifactsConfiguration",
          "documentation" : "",
          "simpleType" : "VideoArtifactsConfiguration",
          "variableSetterType" : "VideoArtifactsConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the video artifacts.</p>\n@param video The configuration for the video artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "VideoArtifactsConfiguration",
          "variableName" : "video",
          "variableType" : "VideoArtifactsConfiguration",
          "documentation" : "<p>The configuration for the video artifacts.</p>",
          "simpleType" : "VideoArtifactsConfiguration",
          "variableSetterType" : "VideoArtifactsConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Content",
        "c2jShape" : "ContentArtifactsConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the content artifacts.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the content artifacts.</p>\n@param content The configuration for the content artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContent",
[...]
