{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-05-01",
    "asyncClient" : "AmazonChimeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonChimeAsyncClientBuilder",
    "asyncInterface" : "AmazonChimeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonChimeModuleInjector",
    "defaultEndpoint" : "chime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "chime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Chime API (application programming interface) is designed for administrators to use to perform key tasks, such as creating and managing Amazon Chime accounts and users. This guide provides detailed information about the Amazon Chime API, including operations, types, inputs and outputs, and error codes.</p> <p>You can use an AWS SDK, the AWS Command Line Interface (AWS CLI), or the REST API to make API calls. We recommend using an AWS SDK or the AWS CLI. Each API operation includes links to information about using it with a language-specific AWS SDK or the AWS CLI.</p> <dl> <dt>Using an AWS SDK</dt> <dd> <p>You don't need to write code to calculate a signature for request authentication. The SDK clients authenticate your requests by using access keys that you provide. For more information about AWS SDKs, see the <a href=\"http://aws.amazon.com/developer/\">AWS Developer Center</a>.</p> </dd> <dt>Using the AWS CLI</dt> <dd> <p>Use your access keys with the AWS CLI to make API calls. For information about setting up the AWS CLI, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/installing.html\">Installing the AWS Command Line Interface</a> in the <i>AWS Command Line Interface User Guide</i>. For a list of available Amazon Chime commands, see the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/chime/index.html\">Amazon Chime commands</a> in the <i>AWS CLI Command Reference</i>.</p> </dd> <dt>Using REST API</dt> <dd> <p>If you use REST to make API calls, you must authenticate your request by providing a signature. Amazon Chime supports signature version 4. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>When making REST API calls, use the service name <code>chime</code> and REST endpoint <code>https://service.chime.aws.amazon.com</code>.</p> </dd> </dl> <p>Administrative permissions are controlled using AWS Identity and Access Management (IAM). For more information, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/control-access.html\">Control Access to the Amazon Chime Console</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
    "endpointPrefix" : "chime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.chime",
    "packagePath" : "com/amazonaws/services/chime",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Chime",
    "serviceId" : "Chime",
    "serviceName" : "Amazon Chime",
    "signingName" : "chime",
    "smokeTestsPackageName" : "com.amazonaws.services.chime.smoketests",
    "syncClient" : "AmazonChimeClient",
    "syncClientBuilderClassName" : "AmazonChimeClientBuilder",
    "syncInterface" : "AmazonChime",
    "uid" : "chime-2018-05-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchSuspendUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchSuspendUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchSuspendUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchSuspendUserRequest, BatchSuspendUserResult>",
      "asyncReturnType" : "BatchSuspendUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon Chime account. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Users suspended from a <code>Team</code> account are dissociated from the account, but they can continue to use Amazon Chime as free users. To remove the suspension from suspended <code>Team</code> account users, invite them to the <code>Team</code> account again. You can use the <a>InviteUsers</a> action to do so.</p> <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out of Amazon Chime and are no longer able to sign in. To remove the suspension from suspended <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a> action. </p> <p>To sign out users without suspending them, use the <a>LogoutUser</a> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchSuspendUserRequest",
        "variableName" : "batchSuspendUserRequest",
        "variableType" : "BatchSuspendUserRequest",
        "documentation" : "",
        "simpleType" : "BatchSuspendUserRequest",
        "variableSetterType" : "BatchSuspendUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchSuspendUser",
      "operationName" : "BatchSuspendUser",
      "returnType" : {
        "returnType" : "BatchSuspendUserResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchSuspendUserResult"
    },
    "BatchUnsuspendUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUnsuspendUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUnsuspendUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUnsuspendUserRequest, BatchUnsuspendUserResult>",
      "asyncReturnType" : "BatchUnsuspendUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the suspension from up to 50 previously suspended users for the specified Amazon Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code> accounts can be unsuspended using this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Previously suspended users who are unsuspended using this action are returned to <code>Registered</code> status. Users who are not previously suspended are ignored.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUnsuspendUserRequest",
        "variableName" : "batchUnsuspendUserRequest",
        "variableType" : "BatchUnsuspendUserRequest",
        "documentation" : "",
        "simpleType" : "BatchUnsuspendUserRequest",
        "variableSetterType" : "BatchUnsuspendUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUnsuspendUser",
      "operationName" : "BatchUnsuspendUser",
      "returnType" : {
        "returnType" : "BatchUnsuspendUserResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUnsuspendUserResult"
    },
    "BatchUpdateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUpdateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUpdateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUpdateUserRequest, BatchUpdateUserResult>",
      "asyncReturnType" : "BatchUpdateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account. Currently, only <code>LicenseType</code> updates are supported for this action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUpdateUserRequest",
        "variableName" : "batchUpdateUserRequest",
        "variableType" : "BatchUpdateUserRequest",
        "documentation" : "",
        "simpleType" : "BatchUpdateUserRequest",
        "variableSetterType" : "BatchUpdateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUpdateUser",
      "operationName" : "BatchUpdateUser",
      "returnType" : {
        "returnType" : "BatchUpdateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUpdateUserResult"
    },
    "CreateAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAccountRequest, CreateAccountResult>",
      "asyncReturnType" : "CreateAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Chime account under the administrator's AWS account. Only <code>Team</code> account types are currently supported for this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAccountRequest",
        "variableName" : "createAccountRequest",
        "variableType" : "CreateAccountRequest",
        "documentation" : "",
        "simpleType" : "CreateAccountRequest",
        "variableSetterType" : "CreateAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAccount",
      "operationName" : "CreateAccount",
      "returnType" : {
        "returnType" : "CreateAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAccountResult"
    },
    "DeleteAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAccountRequest, DeleteAccountResult>",
      "asyncReturnType" : "DeleteAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Amazon Chime account. You must suspend all users before deleting a <code>Team</code> account. You can use the <a>BatchSuspendUser</a> action to do so.</p> <p>For <code>EnterpriseLWA</code> and <code>EnterpriseAD</code> accounts, you must release the claimed domains for your Amazon Chime account before deletion. As soon as you release the domain, all users under that account are suspended.</p> <p>Deleted accounts appear in your <code>Disabled</code> accounts list for 90 days. To restore a deleted account from your <code>Disabled</code> accounts list, you must contact AWS Support.</p> <p>After 90 days, deleted accounts are permanently removed from your <code>Disabled</code> accounts list.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "<p>The request was well-formed but was unable to be followed due to semantic errors.</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAccountRequest",
        "variableName" : "deleteAccountRequest",
        "variableType" : "DeleteAccountRequest",
        "documentation" : "",
        "simpleType" : "DeleteAccountRequest",
        "variableSetterType" : "DeleteAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAccount",
      "operationName" : "DeleteAccount",
      "returnType" : {
        "returnType" : "DeleteAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAccountResult"
    },
    "GetAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountRequest, GetAccountResult>",
      "asyncReturnType" : "GetAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details for the specified Amazon Chime account, such as account type and supported licenses.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountRequest",
        "variableName" : "getAccountRequest",
        "variableType" : "GetAccountRequest",
        "documentation" : "",
        "simpleType" : "GetAccountRequest",
        "variableSetterType" : "GetAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccount",
      "operationName" : "GetAccount",
      "returnType" : {
        "returnType" : "GetAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccountResult"
    },
    "GetAccountSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountSettingsRequest, GetAccountSettingsResult>",
      "asyncReturnType" : "GetAccountSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves account settings for the specified Amazon Chime account ID, such as remote control and dial out settings. For more information about these settings, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/policies.html\">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountSettingsRequest",
        "variableName" : "getAccountSettingsRequest",
        "variableType" : "GetAccountSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetAccountSettingsRequest",
        "variableSetterType" : "GetAccountSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccountSettings",
      "operationName" : "GetAccountSettings",
      "returnType" : {
        "returnType" : "GetAccountSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccountSettingsResult"
    },
    "GetUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUserRequest, GetUserResult>",
      "asyncReturnType" : "GetUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details for the specified user ID, such as primary email address, license type, and personal meeting PIN.</p> <p>To retrieve user details with an email address instead of a user ID, use the <a>ListUsers</a> action, and then filter by email address.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetUserRequest",
        "variableName" : "getUserRequest",
        "variableType" : "GetUserRequest",
        "documentation" : "",
        "simpleType" : "GetUserRequest",
        "variableSetterType" : "GetUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUser",
      "operationName" : "GetUser",
      "returnType" : {
        "returnType" : "GetUserResult",
        "documentation" : null
      },
      "syncReturnType" : "GetUserResult"
    },
    "InviteUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InviteUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InviteUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InviteUsersRequest, InviteUsersResult>",
      "asyncReturnType" : "InviteUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends email invites to as many as 50 users, inviting them to the specified Amazon Chime <code>Team</code> account. Only <code>Team</code> account types are currently supported for this action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InviteUsersRequest",
        "variableName" : "inviteUsersRequest",
        "variableType" : "InviteUsersRequest",
        "documentation" : "",
        "simpleType" : "InviteUsersRequest",
        "variableSetterType" : "InviteUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "inviteUsers",
      "operationName" : "InviteUsers",
      "returnType" : {
        "returnType" : "InviteUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "InviteUsersResult"
    },
    "ListAccounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAccountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAccountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAccountsRequest, ListAccountsResult>",
      "asyncReturnType" : "ListAccountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Amazon Chime accounts under the administrator's AWS account. You can filter accounts by account name prefix. To find out which Amazon Chime account a user belongs to, you can filter by the user's email address, which returns one account result.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAccountsRequest",
        "variableName" : "listAccountsRequest",
        "variableType" : "ListAccountsRequest",
        "documentation" : "",
        "simpleType" : "ListAccountsRequest",
        "variableSetterType" : "ListAccountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAccounts",
      "operationName" : "ListAccounts",
      "returnType" : {
        "returnType" : "ListAccountsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAccountsResult"
    },
    "ListUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsersRequest, ListUsersResult>",
      "asyncReturnType" : "ListUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the users that belong to the specified Amazon Chime account. You can specify an email address to list only the user that the email address belongs to.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUsersRequest",
        "variableName" : "listUsersRequest",
        "variableType" : "ListUsersRequest",
        "documentation" : "",
        "simpleType" : "ListUsersRequest",
        "variableSetterType" : "ListUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsers",
      "operationName" : "ListUsers",
      "returnType" : {
        "returnType" : "ListUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUsersResult"
    },
    "LogoutUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<LogoutUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<LogoutUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<LogoutUserRequest, LogoutUserResult>",
      "asyncReturnType" : "LogoutUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Logs out the specified user from all of the devices they are currently logged into.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "LogoutUserRequest",
        "variableName" : "logoutUserRequest",
        "variableType" : "LogoutUserRequest",
        "documentation" : "",
        "simpleType" : "LogoutUserRequest",
        "variableSetterType" : "LogoutUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "logoutUser",
      "operationName" : "LogoutUser",
      "returnType" : {
        "returnType" : "LogoutUserResult",
        "documentation" : null
      },
      "syncReturnType" : "LogoutUserResult"
    },
    "ResetPersonalPIN" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResetPersonalPINResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResetPersonalPINResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResetPersonalPINRequest, ResetPersonalPINResult>",
      "asyncReturnType" : "ResetPersonalPINResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resets the personal meeting PIN for the specified user on an Amazon Chime account. Returns the <a>User</a> object with the updated personal meeting PIN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResetPersonalPINRequest",
        "variableName" : "resetPersonalPINRequest",
        "variableType" : "ResetPersonalPINRequest",
        "documentation" : "",
        "simpleType" : "ResetPersonalPINRequest",
        "variableSetterType" : "ResetPersonalPINRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resetPersonalPIN",
      "operationName" : "ResetPersonalPIN",
      "returnType" : {
        "returnType" : "ResetPersonalPINResult",
        "documentation" : null
      },
      "syncReturnType" : "ResetPersonalPINResult"
    },
    "UpdateAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAccountRequest, UpdateAccountResult>",
      "asyncReturnType" : "UpdateAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates account details for the specified Amazon Chime account. Currently, only account name updates are supported for this action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAccountRequest",
        "variableName" : "updateAccountRequest",
        "variableType" : "UpdateAccountRequest",
        "documentation" : "",
        "simpleType" : "UpdateAccountRequest",
        "variableSetterType" : "UpdateAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAccount",
      "operationName" : "UpdateAccount",
      "returnType" : {
        "returnType" : "UpdateAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAccountResult"
    },
    "UpdateAccountSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAccountSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAccountSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAccountSettingsRequest, UpdateAccountSettingsResult>",
      "asyncReturnType" : "UpdateAccountSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the settings for the specified Amazon Chime account. You can update settings for remote control of shared screens, or for the dial-out option. For more information about these settings, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/policies.html\">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAccountSettingsRequest",
        "variableName" : "updateAccountSettingsRequest",
        "variableType" : "UpdateAccountSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateAccountSettingsRequest",
        "variableSetterType" : "UpdateAccountSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAccountSettings",
      "operationName" : "UpdateAccountSettings",
      "returnType" : {
        "returnType" : "UpdateAccountSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAccountSettingsResult"
    },
    "UpdateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserRequest, UpdateUserResult>",
      "asyncReturnType" : "UpdateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates user details for a specified user ID. Currently, only <code>LicenseType</code> updates are supported for this action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request. For example, when a user tries to create an account from an unsupported region.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserRequest",
        "variableName" : "updateUserRequest",
        "variableType" : "UpdateUserRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserRequest",
        "variableSetterType" : "UpdateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUser",
      "operationName" : "UpdateUser",
      "returnType" : {
        "returnType" : "UpdateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserResult"
    }
  },
  "shapes" : {
    "Account" : {
      "c2jName" : "Account",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The Amazon Chime account details. An AWS account can have multiple Amazon Chime accounts.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AwsAccountId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The AWS account ID.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS account ID.</p>\n@param awsAccountId The AWS account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAwsAccountId",
        "getterDocumentation" : "/**<p>The AWS account ID.</p>\n@return The AWS account ID.*/",
        "getterMethodName" : "getAwsAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AwsAccountId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AwsAccountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AwsAccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS account ID.</p>\n@param awsAccountId The AWS account ID.*/",
        "setterMethodName" : "setAwsAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "awsAccountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS account ID.</p>\n@param awsAccountId The AWS account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "awsAccountId",
          "variableType" : "String",
          "documentation" : "<p>The AWS account ID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AccountId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Chime account ID.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Chime account ID.</p>\n@param accountId The Amazon Chime account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountId",
        "getterDocumentation" : "/**<p>The Amazon Chime account ID.</p>\n@return The Amazon Chime account ID.*/",
        "getterMethodName" : "getAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccountId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Chime account ID.</p>\n@param accountId The Amazon Chime account ID.*/",
        "setterMethodName" : "setAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Chime account ID.</p>\n@param accountId The Amazon Chime account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Chime account ID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Chime account name.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Chime account name.</p>\n@param name The Amazon Chime account name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The Amazon Chime account name.</p>\n@return The Amazon Chime account name.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Chime account name.</p>\n@param name The Amazon Chime account name.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Chime account name.</p>\n@param name The Amazon Chime account name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Chime account name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AccountType",
        "c2jShape" : "AccountType",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
        "enumType" : "AccountType",
        "fluentSetterDocumentation" : "/**<p>The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>\n@param accountType The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccountType*/",
        "fluentSetterMethodName" : "withAccountType",
        "getterDocumentation" : "/**<p>The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>\n@return The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.\n@see AccountType*/",
        "getterMethodName" : "getAccountType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccountType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccountType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>\n@param accountType The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.\n@see AccountType*/",
        "setterMethodName" : "setAccountType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>\n@param accountType The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccountType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountType",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedTimestamp",
        "c2jShape" : "Iso8601Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>\n@param createdTimestamp The Amazon Chime account creation timestamp, in ISO 8601 format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedTimestamp",
        "getterDocumentation" : "/**<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>\n@return The Amazon Chime account creation timestamp, in ISO 8601 format.*/",
        "getterMethodName" : "getCreatedTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatedTimestamp",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedTimestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedTimestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>\n@param createdTimestamp The Amazon Chime account creation timestamp, in ISO 8601 format.*/",
        "setterMethodName" : "setCreatedTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>\n@param createdTimestamp The Amazon Chime account creation timestamp, in ISO 8601 format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DefaultLicense",
        "c2jShape" : "License",
        "deprecated" : false,
        "documentation" : "<p>The default license for the Amazon Chime account.</p>",
        "enumType" : "License",
        "fluentSetterDocumentation" : "/**<p>The default license for the Amazon Chime account.</p>\n@param defaultLicense The default license for the Amazon Chime account.\n@return Returns a reference to this object so that method calls can be chained together.\n@see License*/",
        "fluentSetterMethodName" : "withDefaultLicense",
        "getterDocumentation" : "/**<p>The default license for the Amazon Chime account.</p>\n@return The default license for the Amazon Chime account.\n@see License*/",
        "getterMethodName" : "getDefaultLicense",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DefaultLicense",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DefaultLicense",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DefaultLicense",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The default license for the Amazon Chime account.</p>\n@param defaultLicense The default license for the Amazon Chime account.\n@see License*/",
        "setterMethodName" : "setDefaultLicense",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "defaultLicense",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The default license for the Amazon Chime account.</p>\n@param defaultLicense The default license for the Amazon Chime account.\n@return Returns a reference to this object so that method calls can be chained together.\n@see License*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "defaultLicense",
          "variableType" : "String",
          "documentation" : "<p>The default license for the Amazon Chime account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SupportedLicenses",
        "c2jShape" : "LicenseList",
        "deprecated" : false,
        "documentation" : "<p>Supported licenses for the Amazon Chime account.</p>",
        "enumType" : "License",
        "fluentSetterDocumentation" : "/**<p>Supported licenses for the Amazon Chime account.</p>\n@param supportedLicenses Supported licenses for the Amazon Chime account.\n@return Returns a reference to this object so that method calls can be chained together.\n@see License*/",
        "fluentSetterMethodName" : "withSupportedLicenses",
        "getterDocumentation" : "/**<p>Supported licenses for the Amazon Chime account.</p>\n@return Supported licenses for the Amazon Chime account.\n@see License*/",
        "getterMethodName" : "getSupportedLicenses",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SupportedLicenses",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SupportedLicenses",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "License",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : "License",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see License*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return \n@see License*/",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member \n@see License*/",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see License*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "SupportedLicenses",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Supported licenses for the Amazon Chime account.</p>\n@param supportedLicenses Supported licenses for the Amazon Chime account.\n@see License*/",
        "setterMethodName" : "setSupportedLicenses",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "supportedLicenses",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Supported licenses for the Amazon Chime account.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSupportedLicenses(java.util.Collection)} or {@link #withSupportedLicenses(java.util.Collection)} if you want to override the existing values.</p>\n@param supportedLicenses Supported licenses for the Amazon Chime account.\n@return Returns a reference to this object so that method calls can be chained together.\n@see License*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "supportedLicenses",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>Supported licenses for the Amazon Chime account.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccountId" : {
          "c2jName" : "AccountId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Chime account ID.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Chime account ID.</p>\n@param accountId The Amazon Chime account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccountId",
          "getterDocumentation" : "/**<p>The Amazon Chime account ID.</p>\n@return The Amazon Chime account ID.*/",
          "getterMethodName" : "getAccountId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AccountId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AccountId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccountId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Chime account ID.</p>\n@param accountId The Amazon Chime account ID.*/",
          "setterMethodName" : "setAccountId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Chime account ID.</p>\n@param accountId The Amazon Chime account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountId",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Chime account ID.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AccountType" : {
          "c2jName" : "AccountType",
          "c2jShape" : "AccountType",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
          "enumType" : "AccountType",
          "fluentSetterDocumentation" : "/**<p>The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>\n@param accountType The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccountType*/",
          "fluentSetterMethodName" : "withAccountType",
          "getterDocumentation" : "/**<p>The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>\n@return The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.\n@see AccountType*/",
          "getterMethodName" : "getAccountType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AccountType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AccountType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccountType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>\n@param accountType The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.\n@see AccountType*/",
          "setterMethodName" : "setAccountType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>\n@param accountType The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccountType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountType",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Chime account type. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AwsAccountId" : {
          "c2jName" : "AwsAccountId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The AWS account ID.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS account ID.</p>\n@param awsAccountId The AWS account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAwsAccountId",
          "getterDocumentation" : "/**<p>The AWS account ID.</p>\n@return The AWS account ID.*/",
          "getterMethodName" : "getAwsAccountId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AwsAccountId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AwsAccountId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AwsAccountId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The AWS account ID.</p>\n@param awsAccountId The AWS account ID.*/",
          "setterMethodName" : "setAwsAccountId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "awsAccountId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The AWS account ID.</p>\n@param awsAccountId The AWS account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "awsAccountId",
            "variableType" : "String",
            "documentation" : "<p>The AWS account ID.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CreatedTimestamp" : {
          "c2jName" : "CreatedTimestamp",
          "c2jShape" : "Iso8601Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>\n@param createdTimestamp The Amazon Chime account creation timestamp, in ISO 8601 format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatedTimestamp",
          "getterDocumentation" : "/**<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>\n@return The Amazon Chime account creation timestamp, in ISO 8601 format.*/",
          "getterMethodName" : "getCreatedTimestamp",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CreatedTimestamp",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CreatedTimestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreatedTimestamp",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>\n@param createdTimestamp The Amazon Chime account creation timestamp, in ISO 8601 format.*/",
          "setterMethodName" : "setCreatedTimestamp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>\n@param createdTimestamp The Amazon Chime account creation timestamp, in ISO 8601 format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "iso8601",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "DefaultLicense" : {
          "c2jName" : "DefaultLicense",
          "c2jShape" : "License",
          "deprecated" : false,
          "documentation" : "<p>The default license for the Amazon Chime account.</p>",
          "enumType" : "License",
          "fluentSetterDocumentation" : "/**<p>The default license for the Amazon Chime account.</p>\n@param defaultLicense The default license for the Amazon Chime account.\n@return Returns a reference to this object so that method calls can be chained together.\n@see License*/",
          "fluentSetterMethodName" : "withDefaultLicense",
          "getterDocumentation" : "/**<p>The default license for the Amazon Chime account.</p>\n@return The default license for the Amazon Chime account.\n@see License*/",
          "getterMethodName" : "getDefaultLicense",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DefaultLicense",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DefaultLicense",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DefaultLicense",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The default license for the Amazon Chime account.</p>\n@param defaultLicense The default license for the Amazon Chime account.\n@see License*/",
          "setterMethodName" : "setDefaultLicense",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "defaultLicense",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The default license for the Amazon Chime account.</p>\n@param defaultLicense The default license for the Amazon Chime account.\n@return Returns a reference to this object so that method calls can be chained together.\n@see License*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "defaultLicense",
            "variableType" : "String",
            "documentation" : "<p>The default license for the Amazon Chime account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Chime account name.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Chime account name.</p>\n@param name The Amazon Chime account name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The Amazon Chime account name.</p>\n@return The Amazon Chime account name.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
[...]
