{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-09-06",
    "asyncClient" : "AWSCleanRoomsMLAsyncClient",
    "asyncClientBuilderClassName" : "AWSCleanRoomsMLAsyncClientBuilder",
    "asyncInterface" : "AWSCleanRoomsMLAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSCleanRoomsMLModuleInjector",
    "defaultEndpoint" : "cleanrooms-ml.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cleanrooms-ml.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Welcome to the <i>Amazon Web Services Clean Rooms ML API Reference</i>.</p> <p>Amazon Web Services Clean Rooms ML provides a privacy-enhancing method for two parties to identify similar users in their data without the need to share their data with each other. The first party brings the training data to Clean Rooms so that they can create and configure an audience model (lookalike model) and associate it with a collaboration. The second party then brings their seed data to Clean Rooms and generates an audience (lookalike segment) that resembles the training data.</p> <p>To learn more about Amazon Web Services Clean Rooms ML concepts, procedures, and best practices, see the <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/userguide/machine-learning.html\">Clean Rooms User Guide</a>.</p> <p>To learn more about SQL commands, functions, and conditions supported in Clean Rooms, see the <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/sql-reference/sql-reference.html\">Clean Rooms SQL Reference</a>.</p>",
    "endpointPrefix" : "cleanrooms-ml",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cleanroomsml",
    "packagePath" : "com/amazonaws/services/cleanroomsml",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Clean Rooms ML",
    "serviceId" : "CleanRoomsML",
    "serviceName" : "AWS Clean Rooms ML",
    "signingName" : "cleanrooms-ml",
    "smokeTestsPackageName" : "com.amazonaws.services.cleanroomsml.smoketests",
    "syncClient" : "AWSCleanRoomsMLClient",
    "syncClientBuilderClassName" : "AWSCleanRoomsMLClientBuilder",
    "syncInterface" : "AWSCleanRoomsML",
    "uid" : "cleanroomsml-2023-09-06",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAudienceModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAudienceModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAudienceModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAudienceModelRequest, CreateAudienceModelResult>",
      "asyncReturnType" : "CreateAudienceModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Defines the information necessary to create an audience model. An audience model is a machine learning model that Clean Rooms ML trains to measure similarity between users. Clean Rooms ML manages training and storing the audience model. The audience model can be used in multiple calls to the <a>StartAudienceGenerationJob</a> API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can't complete this action because another resource depends on this resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAudienceModelRequest",
        "variableName" : "createAudienceModelRequest",
        "variableType" : "CreateAudienceModelRequest",
        "documentation" : "",
        "simpleType" : "CreateAudienceModelRequest",
        "variableSetterType" : "CreateAudienceModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAudienceModel",
      "operationName" : "CreateAudienceModel",
      "returnType" : {
        "returnType" : "CreateAudienceModelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAudienceModelResult"
    },
    "CreateConfiguredAudienceModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfiguredAudienceModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfiguredAudienceModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfiguredAudienceModelRequest, CreateConfiguredAudienceModelResult>",
      "asyncReturnType" : "CreateConfiguredAudienceModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Defines the information necessary to create a configured audience model.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can't complete this action because another resource depends on this resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfiguredAudienceModelRequest",
        "variableName" : "createConfiguredAudienceModelRequest",
        "variableType" : "CreateConfiguredAudienceModelRequest",
        "documentation" : "",
        "simpleType" : "CreateConfiguredAudienceModelRequest",
        "variableSetterType" : "CreateConfiguredAudienceModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfiguredAudienceModel",
      "operationName" : "CreateConfiguredAudienceModel",
      "returnType" : {
        "returnType" : "CreateConfiguredAudienceModelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConfiguredAudienceModelResult"
    },
    "CreateTrainingDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrainingDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrainingDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrainingDatasetRequest, CreateTrainingDatasetResult>",
      "asyncReturnType" : "CreateTrainingDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Defines the information necessary to create a training dataset. In Clean Rooms ML, the <code>TrainingDataset</code> is metadata that points to a Glue table, which is read only during <code>AudienceModel</code> creation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can't complete this action because another resource depends on this resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTrainingDatasetRequest",
        "variableName" : "createTrainingDatasetRequest",
        "variableType" : "CreateTrainingDatasetRequest",
        "documentation" : "",
        "simpleType" : "CreateTrainingDatasetRequest",
        "variableSetterType" : "CreateTrainingDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTrainingDataset",
      "operationName" : "CreateTrainingDataset",
      "returnType" : {
        "returnType" : "CreateTrainingDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTrainingDatasetResult"
    },
    "DeleteAudienceGenerationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAudienceGenerationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAudienceGenerationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAudienceGenerationJobRequest, DeleteAudienceGenerationJobResult>",
      "asyncReturnType" : "DeleteAudienceGenerationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified audience generation job, and removes all data associated with the job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can't complete this action because another resource depends on this resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAudienceGenerationJobRequest",
        "variableName" : "deleteAudienceGenerationJobRequest",
        "variableType" : "DeleteAudienceGenerationJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteAudienceGenerationJobRequest",
        "variableSetterType" : "DeleteAudienceGenerationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAudienceGenerationJob",
      "operationName" : "DeleteAudienceGenerationJob",
      "returnType" : {
        "returnType" : "DeleteAudienceGenerationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAudienceGenerationJobResult"
    },
    "DeleteAudienceModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAudienceModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAudienceModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAudienceModelRequest, DeleteAudienceModelResult>",
      "asyncReturnType" : "DeleteAudienceModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specifies an audience model that you want to delete. You can't delete an audience model if there are any configured audience models that depend on the audience model.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can't complete this action because another resource depends on this resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAudienceModelRequest",
        "variableName" : "deleteAudienceModelRequest",
        "variableType" : "DeleteAudienceModelRequest",
        "documentation" : "",
        "simpleType" : "DeleteAudienceModelRequest",
        "variableSetterType" : "DeleteAudienceModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAudienceModel",
      "operationName" : "DeleteAudienceModel",
      "returnType" : {
        "returnType" : "DeleteAudienceModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAudienceModelResult"
    },
    "DeleteConfiguredAudienceModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfiguredAudienceModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfiguredAudienceModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfiguredAudienceModelRequest, DeleteConfiguredAudienceModelResult>",
      "asyncReturnType" : "DeleteConfiguredAudienceModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified configured audience model. You can't delete a configured audience model if there are any lookalike models that use the configured audience model. If you delete a configured audience model, it will be removed from any collaborations that it is associated to.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can't complete this action because another resource depends on this resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfiguredAudienceModelRequest",
        "variableName" : "deleteConfiguredAudienceModelRequest",
        "variableType" : "DeleteConfiguredAudienceModelRequest",
        "documentation" : "",
        "simpleType" : "DeleteConfiguredAudienceModelRequest",
        "variableSetterType" : "DeleteConfiguredAudienceModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfiguredAudienceModel",
      "operationName" : "DeleteConfiguredAudienceModel",
      "returnType" : {
        "returnType" : "DeleteConfiguredAudienceModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConfiguredAudienceModelResult"
    },
    "DeleteConfiguredAudienceModelPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfiguredAudienceModelPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfiguredAudienceModelPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfiguredAudienceModelPolicyRequest, DeleteConfiguredAudienceModelPolicyResult>",
      "asyncReturnType" : "DeleteConfiguredAudienceModelPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified configured audience model policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfiguredAudienceModelPolicyRequest",
        "variableName" : "deleteConfiguredAudienceModelPolicyRequest",
        "variableType" : "DeleteConfiguredAudienceModelPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteConfiguredAudienceModelPolicyRequest",
        "variableSetterType" : "DeleteConfiguredAudienceModelPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfiguredAudienceModelPolicy",
      "operationName" : "DeleteConfiguredAudienceModelPolicy",
      "returnType" : {
        "returnType" : "DeleteConfiguredAudienceModelPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConfiguredAudienceModelPolicyResult"
    },
    "DeleteTrainingDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTrainingDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTrainingDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTrainingDatasetRequest, DeleteTrainingDatasetResult>",
      "asyncReturnType" : "DeleteTrainingDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specifies a training dataset that you want to delete. You can't delete a training dataset if there are any audience models that depend on the training dataset. In Clean Rooms ML, the <code>TrainingDataset</code> is metadata that points to a Glue table, which is read only during <code>AudienceModel</code> creation. This action deletes the metadata.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can't complete this action because another resource depends on this resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTrainingDatasetRequest",
        "variableName" : "deleteTrainingDatasetRequest",
        "variableType" : "DeleteTrainingDatasetRequest",
        "documentation" : "",
        "simpleType" : "DeleteTrainingDatasetRequest",
        "variableSetterType" : "DeleteTrainingDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTrainingDataset",
      "operationName" : "DeleteTrainingDataset",
      "returnType" : {
        "returnType" : "DeleteTrainingDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTrainingDatasetResult"
    },
    "GetAudienceGenerationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAudienceGenerationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAudienceGenerationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAudienceGenerationJobRequest, GetAudienceGenerationJobResult>",
      "asyncReturnType" : "GetAudienceGenerationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an audience generation job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAudienceGenerationJobRequest",
        "variableName" : "getAudienceGenerationJobRequest",
        "variableType" : "GetAudienceGenerationJobRequest",
        "documentation" : "",
        "simpleType" : "GetAudienceGenerationJobRequest",
        "variableSetterType" : "GetAudienceGenerationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAudienceGenerationJob",
      "operationName" : "GetAudienceGenerationJob",
      "returnType" : {
        "returnType" : "GetAudienceGenerationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAudienceGenerationJobResult"
    },
    "GetAudienceModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAudienceModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAudienceModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAudienceModelRequest, GetAudienceModelResult>",
      "asyncReturnType" : "GetAudienceModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an audience model</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAudienceModelRequest",
        "variableName" : "getAudienceModelRequest",
        "variableType" : "GetAudienceModelRequest",
        "documentation" : "",
        "simpleType" : "GetAudienceModelRequest",
        "variableSetterType" : "GetAudienceModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAudienceModel",
      "operationName" : "GetAudienceModel",
      "returnType" : {
        "returnType" : "GetAudienceModelResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAudienceModelResult"
    },
    "GetConfiguredAudienceModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfiguredAudienceModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfiguredAudienceModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfiguredAudienceModelRequest, GetConfiguredAudienceModelResult>",
      "asyncReturnType" : "GetConfiguredAudienceModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specified configured audience model.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConfiguredAudienceModelRequest",
        "variableName" : "getConfiguredAudienceModelRequest",
        "variableType" : "GetConfiguredAudienceModelRequest",
        "documentation" : "",
        "simpleType" : "GetConfiguredAudienceModelRequest",
        "variableSetterType" : "GetConfiguredAudienceModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfiguredAudienceModel",
      "operationName" : "GetConfiguredAudienceModel",
      "returnType" : {
        "returnType" : "GetConfiguredAudienceModelResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConfiguredAudienceModelResult"
    },
    "GetConfiguredAudienceModelPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfiguredAudienceModelPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfiguredAudienceModelPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfiguredAudienceModelPolicyRequest, GetConfiguredAudienceModelPolicyResult>",
      "asyncReturnType" : "GetConfiguredAudienceModelPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a configured audience model policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConfiguredAudienceModelPolicyRequest",
        "variableName" : "getConfiguredAudienceModelPolicyRequest",
        "variableType" : "GetConfiguredAudienceModelPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetConfiguredAudienceModelPolicyRequest",
        "variableSetterType" : "GetConfiguredAudienceModelPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfiguredAudienceModelPolicy",
      "operationName" : "GetConfiguredAudienceModelPolicy",
      "returnType" : {
        "returnType" : "GetConfiguredAudienceModelPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConfiguredAudienceModelPolicyResult"
    },
    "GetTrainingDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTrainingDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTrainingDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTrainingDatasetRequest, GetTrainingDatasetResult>",
      "asyncReturnType" : "GetTrainingDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a training dataset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTrainingDatasetRequest",
        "variableName" : "getTrainingDatasetRequest",
        "variableType" : "GetTrainingDatasetRequest",
        "documentation" : "",
        "simpleType" : "GetTrainingDatasetRequest",
        "variableSetterType" : "GetTrainingDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTrainingDataset",
      "operationName" : "GetTrainingDataset",
      "returnType" : {
        "returnType" : "GetTrainingDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTrainingDatasetResult"
    },
    "ListAudienceExportJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAudienceExportJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAudienceExportJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAudienceExportJobsRequest, ListAudienceExportJobsResult>",
      "asyncReturnType" : "ListAudienceExportJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the audience export jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAudienceExportJobsRequest",
        "variableName" : "listAudienceExportJobsRequest",
        "variableType" : "ListAudienceExportJobsRequest",
        "documentation" : "",
        "simpleType" : "ListAudienceExportJobsRequest",
        "variableSetterType" : "ListAudienceExportJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAudienceExportJobs",
      "operationName" : "ListAudienceExportJobs",
      "returnType" : {
        "returnType" : "ListAudienceExportJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAudienceExportJobsResult"
    },
    "ListAudienceGenerationJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAudienceGenerationJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAudienceGenerationJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAudienceGenerationJobsRequest, ListAudienceGenerationJobsResult>",
      "asyncReturnType" : "ListAudienceGenerationJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of audience generation jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAudienceGenerationJobsRequest",
        "variableName" : "listAudienceGenerationJobsRequest",
        "variableType" : "ListAudienceGenerationJobsRequest",
        "documentation" : "",
        "simpleType" : "ListAudienceGenerationJobsRequest",
        "variableSetterType" : "ListAudienceGenerationJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAudienceGenerationJobs",
      "operationName" : "ListAudienceGenerationJobs",
      "returnType" : {
        "returnType" : "ListAudienceGenerationJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAudienceGenerationJobsResult"
    },
    "ListAudienceModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAudienceModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAudienceModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAudienceModelsRequest, ListAudienceModelsResult>",
      "asyncReturnType" : "ListAudienceModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of audience models.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAudienceModelsRequest",
        "variableName" : "listAudienceModelsRequest",
        "variableType" : "ListAudienceModelsRequest",
        "documentation" : "",
        "simpleType" : "ListAudienceModelsRequest",
        "variableSetterType" : "ListAudienceModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAudienceModels",
      "operationName" : "ListAudienceModels",
      "returnType" : {
        "returnType" : "ListAudienceModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAudienceModelsResult"
    },
    "ListConfiguredAudienceModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfiguredAudienceModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfiguredAudienceModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfiguredAudienceModelsRequest, ListConfiguredAudienceModelsResult>",
      "asyncReturnType" : "ListConfiguredAudienceModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the configured audience models.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfiguredAudienceModelsRequest",
        "variableName" : "listConfiguredAudienceModelsRequest",
        "variableType" : "ListConfiguredAudienceModelsRequest",
        "documentation" : "",
        "simpleType" : "ListConfiguredAudienceModelsRequest",
        "variableSetterType" : "ListConfiguredAudienceModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfiguredAudienceModels",
      "operationName" : "ListConfiguredAudienceModels",
      "returnType" : {
        "returnType" : "ListConfiguredAudienceModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConfiguredAudienceModelsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tags for a provided resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTrainingDatasets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTrainingDatasetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTrainingDatasetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTrainingDatasetsRequest, ListTrainingDatasetsResult>",
      "asyncReturnType" : "ListTrainingDatasetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of training datasets.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTrainingDatasetsRequest",
        "variableName" : "listTrainingDatasetsRequest",
        "variableType" : "ListTrainingDatasetsRequest",
        "documentation" : "",
        "simpleType" : "ListTrainingDatasetsRequest",
        "variableSetterType" : "ListTrainingDatasetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTrainingDatasets",
      "operationName" : "ListTrainingDatasets",
      "returnType" : {
        "returnType" : "ListTrainingDatasetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTrainingDatasetsResult"
    },
    "PutConfiguredAudienceModelPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutConfiguredAudienceModelPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutConfiguredAudienceModelPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutConfiguredAudienceModelPolicyRequest, PutConfiguredAudienceModelPolicyResult>",
      "asyncReturnType" : "PutConfiguredAudienceModelPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create or update the resource policy for a configured audience model.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutConfiguredAudienceModelPolicyRequest",
        "variableName" : "putConfiguredAudienceModelPolicyRequest",
        "variableType" : "PutConfiguredAudienceModelPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutConfiguredAudienceModelPolicyRequest",
        "variableSetterType" : "PutConfiguredAudienceModelPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putConfiguredAudienceModelPolicy",
      "operationName" : "PutConfiguredAudienceModelPolicy",
      "returnType" : {
        "returnType" : "PutConfiguredAudienceModelPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutConfiguredAudienceModelPolicyResult"
    },
    "StartAudienceExportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartAudienceExportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartAudienceExportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartAudienceExportJobRequest, StartAudienceExportJobResult>",
      "asyncReturnType" : "StartAudienceExportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Export an audience of a specified size after you have generated an audience.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can't complete this action because another resource depends on this resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartAudienceExportJobRequest",
        "variableName" : "startAudienceExportJobRequest",
        "variableType" : "StartAudienceExportJobRequest",
        "documentation" : "",
        "simpleType" : "StartAudienceExportJobRequest",
        "variableSetterType" : "StartAudienceExportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startAudienceExportJob",
      "operationName" : "StartAudienceExportJob",
      "returnType" : {
        "returnType" : "StartAudienceExportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartAudienceExportJobResult"
    },
    "StartAudienceGenerationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartAudienceGenerationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartAudienceGenerationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartAudienceGenerationJobRequest, StartAudienceGenerationJobResult>",
      "asyncReturnType" : "StartAudienceGenerationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Information necessary to start the audience generation job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can't complete this action because another resource depends on this resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartAudienceGenerationJobRequest",
        "variableName" : "startAudienceGenerationJobRequest",
        "variableType" : "StartAudienceGenerationJobRequest",
        "documentation" : "",
        "simpleType" : "StartAudienceGenerationJobRequest",
        "variableSetterType" : "StartAudienceGenerationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startAudienceGenerationJob",
      "operationName" : "StartAudienceGenerationJob",
      "returnType" : {
        "returnType" : "StartAudienceGenerationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartAudienceGenerationJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds metadata tags to a specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes metadata tags from a specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateConfiguredAudienceModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConfiguredAudienceModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConfiguredAudienceModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConfiguredAudienceModelRequest, UpdateConfiguredAudienceModelResult>",
      "asyncReturnType" : "UpdateConfiguredAudienceModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides the information necessary to update a configured audience model. Updates that impact audience generation jobs take effect when a new job starts, but do not impact currently running jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You can't complete this action because another resource depends on this resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters for this request are incorrect.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are requesting does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateConfiguredAudienceModelRequest",
        "variableName" : "updateConfiguredAudienceModelRequest",
        "variableType" : "UpdateConfiguredAudienceModelRequest",
        "documentation" : "",
        "simpleType" : "UpdateConfiguredAudienceModelRequest",
        "variableSetterType" : "UpdateConfiguredAudienceModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConfiguredAudienceModel",
      "operationName" : "UpdateConfiguredAudienceModel",
      "returnType" : {
        "returnType" : "UpdateConfiguredAudienceModelResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateConfiguredAudienceModelResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.cleanroomsml.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.cleanroomsml.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AudienceDestination" : {
      "c2jName" : "AudienceDestination",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Defines the Amazon S3 bucket where the configured audience is stored.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.cleanroomsml.model.AudienceDestination",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "s3Destination",
        "c2jShape" : "S3ConfigMap",
        "deprecated" : false,
        "documentation" : "<p>The Amazon S3 bucket and path for the configured audience.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon S3 bucket and path for the configured audience.</p>\n@param s3Destination The Amazon S3 bucket and path for the configured audience.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3Destination",
        "getterDocumentation" : "/**<p>The Amazon S3 bucket and path for the configured audience.</p>\n@return The Amazon S3 bucket and path for the configured audience.*/",
        "getterMethodName" : "getS3Destination",
        "getterModel" : {
          "returnType" : "S3ConfigMap",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "s3Destination",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "s3Destination",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "S3Destination",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon S3 bucket and path for the configured audience.</p>\n@param s3Destination The Amazon S3 bucket and path for the configured audience.*/",
        "setterMethodName" : "setS3Destination",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3ConfigMap",
          "variableName" : "s3Destination",
          "variableType" : "S3ConfigMap",
          "documentation" : "",
          "simpleType" : "S3ConfigMap",
          "variableSetterType" : "S3ConfigMap"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon S3 bucket and path for the configured audience.</p>\n@param s3Destination The Amazon S3 bucket and path for the configured audience.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3ConfigMap",
          "variableName" : "s3Destination",
          "variableType" : "S3ConfigMap",
          "documentation" : "<p>The Amazon S3 bucket and path for the configured audience.</p>",
          "simpleType" : "S3ConfigMap",
          "variableSetterType" : "S3ConfigMap"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "S3Destination" : {
          "c2jName" : "s3Destination",
          "c2jShape" : "S3ConfigMap",
          "deprecated" : false,
          "documentation" : "<p>The Amazon S3 bucket and path for the configured audience.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon S3 bucket and path for the configured audience.</p>\n@param s3Destination The Amazon S3 bucket and path for the configured audience.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withS3Destination",
          "getterDocumentation" : "/**<p>The Amazon S3 bucket and path for the configured audience.</p>\n@return The Amazon S3 bucket and path for the configured audience.*/",
          "getterMethodName" : "getS3Destination",
          "getterModel" : {
            "returnType" : "S3ConfigMap",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "s3Destination",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "s3Destination",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "S3Destination",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon S3 bucket and path for the configured audience.</p>\n@param s3Destination The Amazon S3 bucket and path for the configured audience.*/",
          "setterMethodName" : "setS3Destination",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3ConfigMap",
            "variableName" : "s3Destination",
            "variableType" : "S3ConfigMap",
            "documentation" : "",
            "simpleType" : "S3ConfigMap",
            "variableSetterType" : "S3ConfigMap"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon S3 bucket and path for the configured audience.</p>\n@param s3Destination The Amazon S3 bucket and path for the configured audience.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3ConfigMap",
            "variableName" : "s3Destination",
            "variableType" : "S3ConfigMap",
            "documentation" : "<p>The Amazon S3 bucket and path for the configured audience.</p>",
            "simpleType" : "S3ConfigMap",
            "variableSetterType" : "S3ConfigMap"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.cleanroomsml.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "s3Destination" ],
      "shapeName" : "AudienceDestination",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AudienceDestination",
        "variableName" : "audienceDestination",
        "variableType" : "AudienceDestination",
        "documentation" : null,
        "simpleType" : "AudienceDestination",
        "variableSetterType" : "AudienceDestination"
      },
      "wrapper" : false
    },
    "AudienceExportJobStatus" : {
      "c2jName" : "AudienceExportJobStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "CREATE_PENDING",
        "value" : "CREATE_PENDING"
      }, {
        "name" : "CREATE_IN_PROGRESS",
        "value" : "CREATE_IN_PROGRESS"
      }, {
        "name" : "CREATE_FAILED",
        "value" : "CREATE_FAILED"
      }, {
        "name" : "ACTIVE",
        "value" : "ACTIVE"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.cleanroomsml.enum.AudienceExportJobStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.cleanroomsml.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AudienceExportJobStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AudienceExportJobStatus",
        "variableName" : "audienceExportJobStatus",
        "variableType" : "AudienceExportJobStatus",
        "documentation" : null,
        "simpleType" : "AudienceExportJobStatus",
        "variableSetterType" : "AudienceExportJobStatus"
      },
      "wrapper" : false
    },
    "AudienceExportJobSummary" : {
      "c2jName" : "AudienceExportJobSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Provides information about the audience export job.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.cleanroomsml.model.AudienceExportJobSummary",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "audienceGenerationJobArn",
        "c2jShape" : "AudienceGenerationJobArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the audience generation job that was exported.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the audience generation job that was exported.</p>\n@param audienceGenerationJobArn The Amazon Resource Name (ARN) of the audience generation job that was exported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAudienceGenerationJobArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the audience generation job that was exported.</p>\n@return The Amazon Resource Name (ARN) of the audience generation job that was exported.*/",
        "getterMethodName" : "getAudienceGenerationJobArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "audienceGenerationJobArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "audienceGenerationJobArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AudienceGenerationJobArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the audience generation job that was exported.</p>\n@param audienceGenerationJobArn The Amazon Resource Name (ARN) of the audience generation job that was exported.*/",
        "setterMethodName" : "setAudienceGenerationJobArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "audienceGenerationJobArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the audience generation job that was exported.</p>\n@param audienceGenerationJobArn The Amazon Resource Name (ARN) of the audience generation job that was exported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "audienceGenerationJobArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the audience generation job that was exported.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "audienceSize",
        "c2jShape" : "AudienceSize",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param audienceSize \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAudienceSize",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getAudienceSize",
        "getterModel" : {
          "returnType" : "AudienceSize",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "audienceSize",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "audienceSize",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AudienceSize",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param audienceSize */",
        "setterMethodName" : "setAudienceSize",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AudienceSize",
          "variableName" : "audienceSize",
          "variableType" : "AudienceSize",
          "documentation" : "",
          "simpleType" : "AudienceSize",
          "variableSetterType" : "AudienceSize"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param audienceSize \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AudienceSize",
          "variableName" : "audienceSize",
          "variableType" : "AudienceSize",
          "documentation" : "",
          "simpleType" : "AudienceSize",
          "variableSetterType" : "AudienceSize"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "createTime",
        "c2jShape" : "SyntheticTimestamp_date_time",
        "deprecated" : false,
        "documentation" : "<p>The time at which the audience export job was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time at which the audience export job was created.</p>\n@param createTime The time at which the audience export job was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreateTime",
        "getterDocumentation" : "/**<p>The time at which the audience export job was created.</p>\n@return The time at which the audience export job was created.*/",
        "getterMethodName" : "getCreateTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreateTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time at which the audience export job was created.</p>\n@param createTime The time at which the audience export job was created.*/",
        "setterMethodName" : "setCreateTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time at which the audience export job was created.</p>\n@param createTime The time at which the audience export job was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time at which the audience export job was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "ResourceDescription",
        "deprecated" : false,
        "documentation" : "<p>The description of the audience export job.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description of the audience export job.</p>\n@param description The description of the audience export job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The description of the audience export job.</p>\n@return The description of the audience export job.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The description of the audience export job.</p>\n@param description The description of the audience export job.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The description of the audience export job.</p>\n@param description The description of the audience export job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The description of the audience export job.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "NameString",
        "deprecated" : false,
        "documentation" : "<p>The name of the audience export job.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the audience export job.</p>\n@param name The name of the audience export job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the audience export job.</p>\n@return The name of the audience export job.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the audience export job.</p>\n@param name The name of the audience export job.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the audience export job.</p>\n@param name The name of the audience export job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the audience export job.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "outputLocation",
        "c2jShape" : "S3Path",
        "deprecated" : false,
        "documentation" : "<p>The Amazon S3 bucket where the audience export is stored.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon S3 bucket where the audience export is stored.</p>\n@param outputLocation The Amazon S3 bucket where the audience export is stored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOutputLocation",
        "getterDocumentation" : "/**<p>The Amazon S3 bucket where the audience export is stored.</p>\n@return The Amazon S3 bucket where the audience export is stored.*/",
        "getterMethodName" : "getOutputLocation",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "outputLocation",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "outputLocation",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OutputLocation",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon S3 bucket where the audience export is stored.</p>\n@param outputLocation The Amazon S3 bucket where the audience export is stored.*/",
        "setterMethodName" : "setOutputLocation",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "outputLocation",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon S3 bucket where the audience export is stored.</p>\n@param outputLocation The Amazon S3 bucket where the audience export is stored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "outputLocation",
          "variableType" : "String",
          "documentation" : "<p>The Amazon S3 bucket where the audience export is stored.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "status",
        "c2jShape" : "AudienceExportJobStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the audience export job.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "AudienceExportJobStatus",
        "fluentSetterDocumentation" : "/**<p>The status of the audience export job.</p>\n@param status The status of the audience export job.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AudienceExportJobStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The status of the audience export job.</p>\n@return The status of the audience export job.\n@see AudienceExportJobStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of the audience export job.</p>\n@param status The status of the audience export job.\n@see AudienceExportJobStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of the audience export job.</p>\n@param status The status of the audience export job.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AudienceExportJobStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The status of the audience export job.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "statusDetails",
        "c2jShape" : "StatusDetails",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param statusDetails \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatusDetails",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getStatusDetails",
        "getterModel" : {
          "returnType" : "StatusDetails",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "statusDetails",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "statusDetails",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "StatusDetails",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param statusDetails */",
        "setterMethodName" : "setStatusDetails",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "StatusDetails",
          "variableName" : "statusDetails",
          "variableType" : "StatusDetails",
          "documentation" : "",
          "simpleType" : "StatusDetails",
          "variableSetterType" : "StatusDetails"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param statusDetails \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "StatusDetails",
          "variableName" : "statusDetails",
          "variableType" : "StatusDetails",
          "documentation" : "",
          "simpleType" : "StatusDetails",
          "variableSetterType" : "StatusDetails"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "updateTime",
        "c2jShape" : "SyntheticTimestamp_date_time",
        "deprecated" : false,
        "documentation" : "<p>The most recent time at which the audience export job was updated.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The most recent time at which the audience export job was updated.</p>\n@param updateTime The most recent time at which the audience export job was updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUpdateTime",
        "getterDocumentation" : "/**<p>The most recent time at which the audience export job was updated.</p>\n@return The most recent time at which the audience export job was updated.*/",
        "getterMethodName" : "getUpdateTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "updateTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "updateTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "UpdateTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The most recent time at which the audience export job was updated.</p>\n@param updateTime The most recent time at which the audience export job was updated.*/",
        "setterMethodName" : "setUpdateTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "updateTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The most recent time at which the audience export job was updated.</p>\n@param updateTime The most recent time at which the audience export job was updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "updateTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The most recent time at which the audience export job was updated.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AudienceGenerationJobArn" : {
          "c2jName" : "audienceGenerationJobArn",
          "c2jShape" : "AudienceGenerationJobArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the audience generation job that was exported.</p>",
[...]
