{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : "CloudFormation",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : true,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "ListStacksInput" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "modify" : [ {
          "StackStatusFilter" : {
            "emitAsType" : null,
            "emitEnumName" : null,
            "emitPropertyName" : "stackStatusFilters",
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeStacks" : {
        "methodForms" : [ [ ] ]
      },
      "EstimateTemplateCost" : {
        "methodForms" : [ [ ] ]
      },
      "GetTemplateSummary" : {
        "methodForms" : [ [ ] ]
      },
      "ListStacks" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2010-05-15",
    "asyncClient" : "AmazonCloudFormationAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCloudFormationAsyncClientBuilder",
    "asyncInterface" : "AmazonCloudFormationAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonCloudFormationModuleInjector",
    "defaultEndpoint" : "https://cloudformation.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cloudformation.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS CloudFormation</fullname> <p>AWS CloudFormation allows you to create and manage AWS infrastructure deployments predictably and repeatedly. You can use AWS CloudFormation to leverage AWS products, such as Amazon Elastic Compute Cloud, Amazon Elastic Block Store, Amazon Simple Notification Service, Elastic Load Balancing, and Auto Scaling to build highly-reliable, highly scalable, cost-effective applications without creating or configuring the underlying AWS infrastructure.</p> <p>With AWS CloudFormation, you declare all of your resources and dependencies in a template file. The template defines a collection of resources as a single unit called a stack. AWS CloudFormation creates and deletes all member resources of the stack together and manages all dependencies between the resources for you.</p> <p>For more information about AWS CloudFormation, see the <a href=\"http://aws.amazon.com/cloudformation/\">AWS CloudFormation Product Page</a>.</p> <p>Amazon CloudFormation makes use of other AWS products. If you need additional technical information about a specific AWS product, you can find the product's technical documentation at <a href=\"http://docs.aws.amazon.com/http:/docs.aws.amazon.com/\">http://docs.aws.amazon.com/</a>.</p>",
    "endpointPrefix" : "cloudformation",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.cloudformation",
    "packagePath" : "com/amazonaws/services/cloudformation",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS CloudFormation",
    "serviceName" : "AWS CloudFormation",
    "signingName" : "cloudformation",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudformation.smoketests",
    "syncClient" : "AmazonCloudFormationClient",
    "syncClientBuilderClassName" : "AmazonCloudFormationClientBuilder",
    "syncInterface" : "AmazonCloudFormation",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "CancelUpdateStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelUpdateStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelUpdateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelUpdateStackRequest, CancelUpdateStackResult>",
      "asyncReturnType" : "CancelUpdateStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels an update on the specified stack. If the call completes successfully, the stack rolls back the update and reverts to the previous stack configuration.</p> <note> <p>You can cancel only stacks that are in the UPDATE_IN_PROGRESS state.</p> </note>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CancelUpdateStackRequest",
        "variableName" : "cancelUpdateStackRequest",
        "variableType" : "CancelUpdateStackRequest",
        "documentation" : "<p>The input for the <a>CancelUpdateStack</a> action.</p>",
        "simpleType" : "CancelUpdateStackRequest",
        "variableSetterType" : "CancelUpdateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelUpdateStack",
      "operationName" : "CancelUpdateStack",
      "returnType" : {
        "returnType" : "CancelUpdateStackResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelUpdateStackResult"
    },
    "ContinueUpdateRollback" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ContinueUpdateRollbackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ContinueUpdateRollbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ContinueUpdateRollbackRequest, ContinueUpdateRollbackResult>",
      "asyncReturnType" : "ContinueUpdateRollbackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>For a specified stack that is in the <code>UPDATE_ROLLBACK_FAILED</code> state, continues rolling it back to the <code>UPDATE_ROLLBACK_COMPLETE</code> state. Depending on the cause of the failure, you can manually <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\"> fix the error</a> and continue the rollback. By continuing the rollback, you can return your stack to a working state (the <code>UPDATE_ROLLBACK_COMPLETE</code> state), and then try to update the stack again.</p> <p>A stack goes into the <code>UPDATE_ROLLBACK_FAILED</code> state when AWS CloudFormation cannot roll back all changes after a failed stack update. For example, you might have a stack that is rolling back to an old database instance that was deleted outside of AWS CloudFormation. Because AWS CloudFormation doesn't know the database was deleted, it assumes that the database instance still exists and attempts to roll back to it, causing the update rollback to fail.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ContinueUpdateRollbackRequest",
        "variableName" : "continueUpdateRollbackRequest",
        "variableType" : "ContinueUpdateRollbackRequest",
        "documentation" : "<p>The input for the <a>ContinueUpdateRollback</a> action.</p>",
        "simpleType" : "ContinueUpdateRollbackRequest",
        "variableSetterType" : "ContinueUpdateRollbackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "continueUpdateRollback",
      "operationName" : "ContinueUpdateRollback",
      "returnType" : {
        "returnType" : "ContinueUpdateRollbackResult",
        "documentation" : "<p>The output for a <a>ContinueUpdateRollback</a> action.</p>"
      },
      "syncReturnType" : "ContinueUpdateRollbackResult"
    },
    "CreateChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChangeSetRequest, CreateChangeSetResult>",
      "asyncReturnType" : "CreateChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a list of changes for a stack. AWS CloudFormation generates the change set by comparing the template's information with the information that you submit. A change set can help you understand which resources AWS CloudFormation will change, and how it will change them, before you update your stack. Change sets allow you to check before making a change to avoid deleting or replacing critical resources.</p> <p>AWS CloudFormation doesn't make any changes to the stack when you create a change set. To make the specified changes, you must execute the change set by using the <a>ExecuteChangeSet</a> action.</p> <p>After the call successfully completes, AWS CloudFormation starts creating the change set. To check the status of the change set, use the <a>DescribeChangeSet</a> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>Resource with the name requested already exists.</p>"
      }, {
        "exceptionName" : "InsufficientCapabilitiesException",
        "documentation" : "<p>The template contains resources with capabilities that were not specified in the Capabilities parameter.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Quota for the resource has already been reached.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateChangeSetRequest",
        "variableName" : "createChangeSetRequest",
        "variableType" : "CreateChangeSetRequest",
        "documentation" : "<p>The input for the <a>CreateChangeSet</a> action.</p>",
        "simpleType" : "CreateChangeSetRequest",
        "variableSetterType" : "CreateChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChangeSet",
      "operationName" : "CreateChangeSet",
      "returnType" : {
        "returnType" : "CreateChangeSetResult",
        "documentation" : "<p>The output for the <a>CreateChangeSet</a> action.</p>"
      },
      "syncReturnType" : "CreateChangeSetResult"
    },
    "CreateStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStackRequest, CreateStackResult>",
      "asyncReturnType" : "CreateStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a stack as specified in the template. After the call completes successfully, the stack creation starts. You can check the status of the stack via the <a>DescribeStacks</a> API.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Quota for the resource has already been reached.</p>"
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>Resource with the name requested already exists.</p>"
      }, {
        "exceptionName" : "InsufficientCapabilitiesException",
        "documentation" : "<p>The template contains resources with capabilities that were not specified in the Capabilities parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateStackRequest",
        "variableName" : "createStackRequest",
        "variableType" : "CreateStackRequest",
        "documentation" : "<p>The input for <a>CreateStack</a> action.</p>",
        "simpleType" : "CreateStackRequest",
        "variableSetterType" : "CreateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStack",
      "operationName" : "CreateStack",
      "returnType" : {
        "returnType" : "CreateStackResult",
        "documentation" : "<p>The output for a <a>CreateStack</a> action.</p>"
      },
      "syncReturnType" : "CreateStackResult"
    },
    "DeleteChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChangeSetRequest, DeleteChangeSetResult>",
      "asyncReturnType" : "DeleteChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified change set. Deleting change sets ensures that no one executes the wrong change set.</p> <p>If the call successfully completes, AWS CloudFormation successfully deleted the change set.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidChangeSetStatusException",
        "documentation" : "<p>The specified change set cannot be used to update the stack. For example, the change set status might be <code>CREATE_IN_PROGRESS</code> or the stack status might be <code>UPDATE_IN_PROGRESS</code>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteChangeSetRequest",
        "variableName" : "deleteChangeSetRequest",
        "variableType" : "DeleteChangeSetRequest",
        "documentation" : "<p>The input for the <a>DeleteChangeSet</a> action.</p>",
        "simpleType" : "DeleteChangeSetRequest",
        "variableSetterType" : "DeleteChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChangeSet",
      "operationName" : "DeleteChangeSet",
      "returnType" : {
        "returnType" : "DeleteChangeSetResult",
        "documentation" : "<p>The output for the <a>DeleteChangeSet</a> action.</p>"
      },
      "syncReturnType" : "DeleteChangeSetResult"
    },
    "DeleteStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStackRequest, DeleteStackResult>",
      "asyncReturnType" : "DeleteStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specified stack. Once the call completes successfully, stack deletion starts. Deleted stacks do not show up in the <a>DescribeStacks</a> API if the deletion has been completed successfully.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteStackRequest",
        "variableName" : "deleteStackRequest",
        "variableType" : "DeleteStackRequest",
        "documentation" : "<p>The input for <a>DeleteStack</a> action.</p>",
        "simpleType" : "DeleteStackRequest",
        "variableSetterType" : "DeleteStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStack",
      "operationName" : "DeleteStack",
      "returnType" : {
        "returnType" : "DeleteStackResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStackResult"
    },
    "DescribeAccountLimits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountLimitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountLimitsRequest, DescribeAccountLimitsResult>",
      "asyncReturnType" : "DescribeAccountLimitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves your account's AWS CloudFormation limits, such as the maximum number of stacks that you can create in your account.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAccountLimitsRequest",
        "variableName" : "describeAccountLimitsRequest",
        "variableType" : "DescribeAccountLimitsRequest",
        "documentation" : "<p>The input for the <a>DescribeAccountLimits</a> action.</p>",
        "simpleType" : "DescribeAccountLimitsRequest",
        "variableSetterType" : "DescribeAccountLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountLimits",
      "operationName" : "DescribeAccountLimits",
      "returnType" : {
        "returnType" : "DescribeAccountLimitsResult",
        "documentation" : "<p>The output for the <a>DescribeAccountLimits</a> action.</p>"
      },
      "syncReturnType" : "DescribeAccountLimitsResult"
    },
    "DescribeChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChangeSetRequest, DescribeChangeSetResult>",
      "asyncReturnType" : "DescribeChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the inputs for the change set and a list of changes that AWS CloudFormation will make if you execute the change set. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-changesets.html\">Updating Stacks Using Change Sets</a> in the AWS CloudFormation User Guide.</p>",
      "exceptions" : [ {
        "exceptionName" : "ChangeSetNotFoundException",
        "documentation" : "<p>The specified change set name or ID doesn't exit. To view valid change sets for a stack, use the <code>ListChangeSets</code> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeChangeSetRequest",
        "variableName" : "describeChangeSetRequest",
        "variableType" : "DescribeChangeSetRequest",
        "documentation" : "<p>The input for the <a>DescribeChangeSet</a> action.</p>",
        "simpleType" : "DescribeChangeSetRequest",
        "variableSetterType" : "DescribeChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChangeSet",
      "operationName" : "DescribeChangeSet",
      "returnType" : {
        "returnType" : "DescribeChangeSetResult",
        "documentation" : "<p>The output for the <a>DescribeChangeSet</a> action.</p>"
      },
      "syncReturnType" : "DescribeChangeSetResult"
    },
    "DescribeStackEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStackEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStackEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStackEventsRequest, DescribeStackEventsResult>",
      "asyncReturnType" : "DescribeStackEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all stack related events for a specified stack in reverse chronological order. For more information about a stack's event history, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/concept-stack.html\">Stacks</a> in the AWS CloudFormation User Guide.</p> <note> <p>You can list events for stacks that have failed to create or have been deleted by specifying the unique stack identifier (stack ID).</p> </note>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeStackEventsRequest",
        "variableName" : "describeStackEventsRequest",
        "variableType" : "DescribeStackEventsRequest",
        "documentation" : "<p>The input for <a>DescribeStackEvents</a> action.</p>",
        "simpleType" : "DescribeStackEventsRequest",
        "variableSetterType" : "DescribeStackEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStackEvents",
      "operationName" : "DescribeStackEvents",
      "returnType" : {
        "returnType" : "DescribeStackEventsResult",
        "documentation" : "<p>The output for a <a>DescribeStackEvents</a> action.</p>"
      },
      "syncReturnType" : "DescribeStackEventsResult"
    },
    "DescribeStackResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStackResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStackResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStackResourceRequest, DescribeStackResourceResult>",
      "asyncReturnType" : "DescribeStackResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a description of the specified resource in the specified stack.</p> <p>For deleted stacks, DescribeStackResource returns resource information for up to 90 days after the stack has been deleted.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeStackResourceRequest",
        "variableName" : "describeStackResourceRequest",
        "variableType" : "DescribeStackResourceRequest",
        "documentation" : "<p>The input for <a>DescribeStackResource</a> action.</p>",
        "simpleType" : "DescribeStackResourceRequest",
        "variableSetterType" : "DescribeStackResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStackResource",
      "operationName" : "DescribeStackResource",
      "returnType" : {
        "returnType" : "DescribeStackResourceResult",
        "documentation" : "<p>The output for a <a>DescribeStackResource</a> action.</p>"
      },
      "syncReturnType" : "DescribeStackResourceResult"
    },
    "DescribeStackResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStackResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStackResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStackResourcesRequest, DescribeStackResourcesResult>",
      "asyncReturnType" : "DescribeStackResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns AWS resource descriptions for running and deleted stacks. If <code>StackName</code> is specified, all the associated resources that are part of the stack are returned. If <code>PhysicalResourceId</code> is specified, the associated resources of the stack that the resource belongs to are returned.</p> <note> <p>Only the first 100 resources will be returned. If your stack has more resources than this, you should use <code>ListStackResources</code> instead.</p> </note> <p>For deleted stacks, <code>DescribeStackResources</code> returns resource information for up to 90 days after the stack has been deleted.</p> <p>You must specify either <code>StackName</code> or <code>PhysicalResourceId</code>, but not both. In addition, you can specify <code>LogicalResourceId</code> to filter the returned result. For more information about resources, the <code>LogicalResourceId</code> and <code>PhysicalResourceId</code>, go to the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/\">AWS CloudFormation User Guide</a>.</p> <note> <p>A <code>ValidationError</code> is returned if you specify both <code>StackName</code> and <code>PhysicalResourceId</code> in the same request.</p> </note>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeStackResourcesRequest",
        "variableName" : "describeStackResourcesRequest",
        "variableType" : "DescribeStackResourcesRequest",
        "documentation" : "<p>The input for <a>DescribeStackResources</a> action.</p>",
        "simpleType" : "DescribeStackResourcesRequest",
        "variableSetterType" : "DescribeStackResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStackResources",
      "operationName" : "DescribeStackResources",
      "returnType" : {
        "returnType" : "DescribeStackResourcesResult",
        "documentation" : "<p>The output for a <a>DescribeStackResources</a> action.</p>"
      },
      "syncReturnType" : "DescribeStackResourcesResult"
    },
    "DescribeStacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStacksRequest, DescribeStacksResult>",
      "asyncReturnType" : "DescribeStacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the description for the specified stack; if no stack name was specified, then it returns the description for all the stacks created.</p> <note> <p>If the stack does not exist, an <code>AmazonCloudFormationException</code> is returned.</p> </note>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeStacksRequest",
        "variableName" : "describeStacksRequest",
        "variableType" : "DescribeStacksRequest",
        "documentation" : "<p>The input for <a>DescribeStacks</a> action.</p>",
        "simpleType" : "DescribeStacksRequest",
        "variableSetterType" : "DescribeStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStacks",
      "operationName" : "DescribeStacks",
      "returnType" : {
        "returnType" : "DescribeStacksResult",
        "documentation" : "<p>The output for a <a>DescribeStacks</a> action.</p>"
      },
      "syncReturnType" : "DescribeStacksResult"
    },
    "EstimateTemplateCost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EstimateTemplateCostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EstimateTemplateCostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EstimateTemplateCostRequest, EstimateTemplateCostResult>",
      "asyncReturnType" : "EstimateTemplateCostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the estimated monthly cost of a template. The return value is an AWS Simple Monthly Calculator URL with a query string that describes the resources required to run the template.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EstimateTemplateCostRequest",
        "variableName" : "estimateTemplateCostRequest",
        "variableType" : "EstimateTemplateCostRequest",
        "documentation" : "<p>The input for an <a>EstimateTemplateCost</a> action.</p>",
        "simpleType" : "EstimateTemplateCostRequest",
        "variableSetterType" : "EstimateTemplateCostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "estimateTemplateCost",
      "operationName" : "EstimateTemplateCost",
      "returnType" : {
        "returnType" : "EstimateTemplateCostResult",
        "documentation" : "<p>The output for a <a>EstimateTemplateCost</a> action.</p>"
      },
      "syncReturnType" : "EstimateTemplateCostResult"
    },
    "ExecuteChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExecuteChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExecuteChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecuteChangeSetRequest, ExecuteChangeSetResult>",
      "asyncReturnType" : "ExecuteChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a stack using the input information that was provided when the specified change set was created. After the call successfully completes, AWS CloudFormation starts updating the stack. Use the <a>DescribeStacks</a> action to view the status of the update.</p> <p>When you execute a change set, AWS CloudFormation deletes all other change sets associated with the stack because they aren't valid for the updated stack.</p> <p>If a stack policy is associated with the stack, AWS CloudFormation enforces the policy during the update. You can't specify a temporary stack policy that overrides the current policy.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidChangeSetStatusException",
        "documentation" : "<p>The specified change set cannot be used to update the stack. For example, the change set status might be <code>CREATE_IN_PROGRESS</code> or the stack status might be <code>UPDATE_IN_PROGRESS</code>.</p>"
      }, {
        "exceptionName" : "ChangeSetNotFoundException",
        "documentation" : "<p>The specified change set name or ID doesn't exit. To view valid change sets for a stack, use the <code>ListChangeSets</code> action.</p>"
      }, {
        "exceptionName" : "InsufficientCapabilitiesException",
        "documentation" : "<p>The template contains resources with capabilities that were not specified in the Capabilities parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ExecuteChangeSetRequest",
        "variableName" : "executeChangeSetRequest",
        "variableType" : "ExecuteChangeSetRequest",
        "documentation" : "<p>The input for the <a>ExecuteChangeSet</a> action.</p>",
        "simpleType" : "ExecuteChangeSetRequest",
        "variableSetterType" : "ExecuteChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "executeChangeSet",
      "operationName" : "ExecuteChangeSet",
      "returnType" : {
        "returnType" : "ExecuteChangeSetResult",
        "documentation" : "<p>The output for the <a>ExecuteChangeSet</a> action.</p>"
      },
      "syncReturnType" : "ExecuteChangeSetResult"
    },
    "GetStackPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStackPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStackPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStackPolicyRequest, GetStackPolicyResult>",
      "asyncReturnType" : "GetStackPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the stack policy for a specified stack. If a stack doesn't have a policy, a null value is returned.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetStackPolicyRequest",
        "variableName" : "getStackPolicyRequest",
        "variableType" : "GetStackPolicyRequest",
        "documentation" : "<p>The input for the <a>GetStackPolicy</a> action.</p>",
        "simpleType" : "GetStackPolicyRequest",
        "variableSetterType" : "GetStackPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStackPolicy",
      "operationName" : "GetStackPolicy",
      "returnType" : {
        "returnType" : "GetStackPolicyResult",
        "documentation" : "<p>The output for the <a>GetStackPolicy</a> action.</p>"
      },
      "syncReturnType" : "GetStackPolicyResult"
    },
    "GetTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemplateRequest, GetTemplateResult>",
      "asyncReturnType" : "GetTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the template body for a specified stack. You can get the template for running or deleted stacks.</p> <p>For deleted stacks, GetTemplate returns the template for up to 90 days after the stack has been deleted.</p> <note> <p> If the template does not exist, a <code>ValidationError</code> is returned. </p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ChangeSetNotFoundException",
        "documentation" : "<p>The specified change set name or ID doesn't exit. To view valid change sets for a stack, use the <code>ListChangeSets</code> action.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetTemplateRequest",
        "variableName" : "getTemplateRequest",
        "variableType" : "GetTemplateRequest",
        "documentation" : "<p>The input for a <a>GetTemplate</a> action.</p>",
        "simpleType" : "GetTemplateRequest",
        "variableSetterType" : "GetTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTemplate",
      "operationName" : "GetTemplate",
      "returnType" : {
        "returnType" : "GetTemplateResult",
        "documentation" : "<p>The output for <a>GetTemplate</a> action.</p>"
      },
      "syncReturnType" : "GetTemplateResult"
    },
    "GetTemplateSummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemplateSummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemplateSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemplateSummaryRequest, GetTemplateSummaryResult>",
      "asyncReturnType" : "GetTemplateSummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a new or existing template. The <code>GetTemplateSummary</code> action is useful for viewing parameter information, such as default parameter values and parameter types, before you create or update a stack.</p> <p>You can use the <code>GetTemplateSummary</code> action when you submit a template, or you can get template information for a running or deleted stack.</p> <p>For deleted stacks, <code>GetTemplateSummary</code> returns the template information for up to 90 days after the stack has been deleted. If the template does not exist, a <code>ValidationError</code> is returned.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetTemplateSummaryRequest",
        "variableName" : "getTemplateSummaryRequest",
        "variableType" : "GetTemplateSummaryRequest",
        "documentation" : "<p>The input for the <a>GetTemplateSummary</a> action.</p>",
        "simpleType" : "GetTemplateSummaryRequest",
        "variableSetterType" : "GetTemplateSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTemplateSummary",
      "operationName" : "GetTemplateSummary",
      "returnType" : {
        "returnType" : "GetTemplateSummaryResult",
        "documentation" : "<p>The output for the <a>GetTemplateSummary</a> action.</p>"
      },
      "syncReturnType" : "GetTemplateSummaryResult"
    },
    "ListChangeSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChangeSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChangeSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChangeSetsRequest, ListChangeSetsResult>",
      "asyncReturnType" : "ListChangeSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the ID and status of each active change set for a stack. For example, AWS CloudFormation lists change sets that are in the <code>CREATE_IN_PROGRESS</code> or <code>CREATE_PENDING</code> state.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListChangeSetsRequest",
        "variableName" : "listChangeSetsRequest",
        "variableType" : "ListChangeSetsRequest",
        "documentation" : "<p>The input for the <a>ListChangeSets</a> action.</p>",
        "simpleType" : "ListChangeSetsRequest",
        "variableSetterType" : "ListChangeSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChangeSets",
      "operationName" : "ListChangeSets",
      "returnType" : {
        "returnType" : "ListChangeSetsResult",
        "documentation" : "<p>The output for the <a>ListChangeSets</a> action.</p>"
      },
      "syncReturnType" : "ListChangeSetsResult"
    },
    "ListExports" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExportsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExportsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExportsRequest, ListExportsResult>",
      "asyncReturnType" : "ListExportsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all exported output values in the account and region in which you call this action. Use this action to see the exported output values that you can import into other stacks. To import values, use the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-importvalue.html\"> <code>Fn::ImportValue</code> </a> function. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-exports.html\"> AWS CloudFormation Export Stack Output Values</a>.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListExportsRequest",
        "variableName" : "listExportsRequest",
        "variableType" : "ListExportsRequest",
        "documentation" : "",
        "simpleType" : "ListExportsRequest",
        "variableSetterType" : "ListExportsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExports",
      "operationName" : "ListExports",
      "returnType" : {
        "returnType" : "ListExportsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExportsResult"
    },
    "ListImports" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListImportsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListImportsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListImportsRequest, ListImportsResult>",
      "asyncReturnType" : "ListImportsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all stacks that are importing an exported output value. To modify or remove an exported output value, first use this action to see which stacks are using it. To see the exported output values in your account, see <a>ListExports</a>. </p> <p>For more information about importing an exported output value, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-importvalue.html\"> <code>Fn::ImportValue</code> </a> function. </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListImportsRequest",
        "variableName" : "listImportsRequest",
        "variableType" : "ListImportsRequest",
        "documentation" : "",
        "simpleType" : "ListImportsRequest",
        "variableSetterType" : "ListImportsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listImports",
      "operationName" : "ListImports",
      "returnType" : {
        "returnType" : "ListImportsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListImportsResult"
    },
    "ListStackResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStackResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStackResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStackResourcesRequest, ListStackResourcesResult>",
      "asyncReturnType" : "ListStackResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns descriptions of all resources of the specified stack.</p> <p>For deleted stacks, ListStackResources returns resource information for up to 90 days after the stack has been deleted.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListStackResourcesRequest",
        "variableName" : "listStackResourcesRequest",
        "variableType" : "ListStackResourcesRequest",
        "documentation" : "<p>The input for the <a>ListStackResource</a> action.</p>",
        "simpleType" : "ListStackResourcesRequest",
        "variableSetterType" : "ListStackResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStackResources",
      "operationName" : "ListStackResources",
      "returnType" : {
        "returnType" : "ListStackResourcesResult",
        "documentation" : "<p>The output for a <a>ListStackResources</a> action.</p>"
      },
      "syncReturnType" : "ListStackResourcesResult"
    },
    "ListStacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStacksRequest, ListStacksResult>",
      "asyncReturnType" : "ListStacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the summary information for stacks whose status matches the specified StackStatusFilter. Summary information for stacks that have been deleted is kept for 90 days after the stack is deleted. If no StackStatusFilter is specified, summary information for all stacks is returned (including existing stacks and stacks that have been deleted).</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListStacksRequest",
        "variableName" : "listStacksRequest",
        "variableType" : "ListStacksRequest",
        "documentation" : "<p>The input for <a>ListStacks</a> action.</p>",
        "simpleType" : "ListStacksRequest",
        "variableSetterType" : "ListStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStacks",
      "operationName" : "ListStacks",
      "returnType" : {
        "returnType" : "ListStacksResult",
        "documentation" : "<p>The output for <a>ListStacks</a> action.</p>"
      },
      "syncReturnType" : "ListStacksResult"
    },
    "SetStackPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetStackPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetStackPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetStackPolicyRequest, SetStackPolicyResult>",
      "asyncReturnType" : "SetStackPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets a stack policy for a specified stack.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetStackPolicyRequest",
        "variableName" : "setStackPolicyRequest",
        "variableType" : "SetStackPolicyRequest",
        "documentation" : "<p>The input for the <a>SetStackPolicy</a> action.</p>",
        "simpleType" : "SetStackPolicyRequest",
        "variableSetterType" : "SetStackPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setStackPolicy",
      "operationName" : "SetStackPolicy",
      "returnType" : {
        "returnType" : "SetStackPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "SetStackPolicyResult"
    },
    "SignalResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SignalResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SignalResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SignalResourceRequest, SignalResourceResult>",
      "asyncReturnType" : "SignalResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends a signal to the specified resource with a success or failure status. You can use the SignalResource API in conjunction with a creation policy or update policy. AWS CloudFormation doesn't proceed with a stack creation or update until resources receive the required number of signals or the timeout period is exceeded. The SignalResource API is useful in cases where you want to send signals from anywhere other than an Amazon EC2 instance.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SignalResourceRequest",
        "variableName" : "signalResourceRequest",
        "variableType" : "SignalResourceRequest",
        "documentation" : "<p>The input for the <a>SignalResource</a> action.</p>",
        "simpleType" : "SignalResourceRequest",
        "variableSetterType" : "SignalResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "signalResource",
      "operationName" : "SignalResource",
      "returnType" : {
        "returnType" : "SignalResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "SignalResourceResult"
    },
    "UpdateStack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStackRequest, UpdateStackResult>",
      "asyncReturnType" : "UpdateStackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a stack as specified in the template. After the call completes successfully, the stack update starts. You can check the status of the stack via the <a>DescribeStacks</a> action.</p> <p>To get a copy of the template for an existing stack, you can use the <a>GetTemplate</a> action.</p> <p>For more information about creating an update template, updating a stack, and monitoring the progress of the update, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks.html\">Updating a Stack</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InsufficientCapabilitiesException",
        "documentation" : "<p>The template contains resources with capabilities that were not specified in the Capabilities parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateStackRequest",
        "variableName" : "updateStackRequest",
        "variableType" : "UpdateStackRequest",
        "documentation" : "<p>The input for an <a>UpdateStack</a> action.</p>",
        "simpleType" : "UpdateStackRequest",
        "variableSetterType" : "UpdateStackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateStack",
      "operationName" : "UpdateStack",
      "returnType" : {
        "returnType" : "UpdateStackResult",
        "documentation" : "<p>The output for an <a>UpdateStack</a> action.</p>"
      },
      "syncReturnType" : "UpdateStackResult"
    },
    "ValidateTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ValidateTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ValidateTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ValidateTemplateRequest, ValidateTemplateResult>",
      "asyncReturnType" : "ValidateTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Validates a specified template. AWS CloudFormation first checks if the template is valid JSON. If it isn't, AWS CloudFormation checks if the template is valid YAML. If both these checks fail, AWS CloudFormation returns a template validation error.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ValidateTemplateRequest",
        "variableName" : "validateTemplateRequest",
        "variableType" : "ValidateTemplateRequest",
        "documentation" : "<p>The input for <a>ValidateTemplate</a> action.</p>",
        "simpleType" : "ValidateTemplateRequest",
        "variableSetterType" : "ValidateTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "validateTemplate",
      "operationName" : "ValidateTemplate",
      "returnType" : {
        "returnType" : "ValidateTemplateResult",
        "documentation" : "<p>The output for <a>ValidateTemplate</a> action.</p>"
      },
      "syncReturnType" : "ValidateTemplateResult"
    }
  },
  "shapes" : {
    "AccountLimit" : {
      "c2jName" : "AccountLimit",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The AccountLimit data type.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "LimitName",
        "deprecated" : false,
        "documentation" : "<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>\n@param name The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>\n@return The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>\n@param name The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>\n@param name The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Value",
        "c2jShape" : "LimitValue",
        "deprecated" : false,
        "documentation" : "<p>The value that is associated with the account limit name.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The value that is associated with the account limit name.</p>\n@param value The value that is associated with the account limit name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The value that is associated with the account limit name.</p>\n@return The value that is associated with the account limit name.*/",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Value",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Value",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Value",
        "setterDocumentation" : "/**<p>The value that is associated with the account limit name.</p>\n@param value The value that is associated with the account limit name.*/",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "value",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The value that is associated with the account limit name.</p>\n@param value The value that is associated with the account limit name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "value",
          "variableType" : "Integer",
          "documentation" : "<p>The value that is associated with the account limit name.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "LimitName",
          "deprecated" : false,
          "documentation" : "<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>\n@param name The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>\n@return The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>\n@param name The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>\n@param name The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Value" : {
          "c2jName" : "Value",
          "c2jShape" : "LimitValue",
          "deprecated" : false,
          "documentation" : "<p>The value that is associated with the account limit name.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The value that is associated with the account limit name.</p>\n@param value The value that is associated with the account limit name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The value that is associated with the account limit name.</p>\n@return The value that is associated with the account limit name.*/",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Value",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Value",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Value",
          "setterDocumentation" : "/**<p>The value that is associated with the account limit name.</p>\n@param value The value that is associated with the account limit name.*/",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "value",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The value that is associated with the account limit name.</p>\n@param value The value that is associated with the account limit name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "value",
            "variableType" : "Integer",
            "documentation" : "<p>The value that is associated with the account limit name.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AccountLimit",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AccountLimit",
        "variableName" : "accountLimit",
        "variableType" : "AccountLimit",
        "documentation" : null,
        "simpleType" : "AccountLimit",
        "variableSetterType" : "AccountLimit"
      },
      "wrapper" : false
    },
    "AlreadyExistsException" : {
      "c2jName" : "AlreadyExistsException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Resource with the name requested already exists.</p>",
      "enums" : null,
      "errorCode" : "AlreadyExistsException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AlreadyExistsException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AlreadyExistsException",
        "variableName" : "alreadyExistsException",
        "variableType" : "AlreadyExistsException",
        "documentation" : null,
        "simpleType" : "AlreadyExistsException",
        "variableSetterType" : "AlreadyExistsException"
      },
      "wrapper" : false
    },
    "CancelUpdateStackRequest" : {
      "c2jName" : "CancelUpdateStackInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The input for the <a>CancelUpdateStack</a> action.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelUpdateStack",
        "locationName" : null,
        "requestUri" : "/",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "StackName",
        "c2jShape" : "StackName",
        "deprecated" : false,
        "documentation" : "<p>The name or the unique stack ID that is associated with the stack.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name or the unique stack ID that is associated with the stack.</p>\n@param stackName The name or the unique stack ID that is associated with the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name or the unique stack ID that is associated with the stack.</p>\n@return The name or the unique stack ID that is associated with the stack.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "StackName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StackName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "StackName",
        "setterDocumentation" : "/**<p>The name or the unique stack ID that is associated with the stack.</p>\n@param stackName The name or the unique stack ID that is associated with the stack.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "stackName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name or the unique stack ID that is associated with the stack.</p>\n@param stackName The name or the unique stack ID that is associated with the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "stackName",
          "variableType" : "String",
          "documentation" : "<p>The name or the unique stack ID that is associated with the stack.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "StackName" : {
          "c2jName" : "StackName",
          "c2jShape" : "StackName",
          "deprecated" : false,
          "documentation" : "<p>The name or the unique stack ID that is associated with the stack.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name or the unique stack ID that is associated with the stack.</p>\n@param stackName The name or the unique stack ID that is associated with the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name or the unique stack ID that is associated with the stack.</p>\n@return The name or the unique stack ID that is associated with the stack.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "StackName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StackName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "StackName",
          "setterDocumentation" : "/**<p>The name or the unique stack ID that is associated with the stack.</p>\n@param stackName The name or the unique stack ID that is associated with the stack.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "stackName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name or the unique stack ID that is associated with the stack.</p>\n@param stackName The name or the unique stack ID that is associated with the stack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "stackName",
            "variableType" : "String",
            "documentation" : "<p>The name or the unique stack ID that is associated with the stack.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "StackName" ],
      "shapeName" : "CancelUpdateStackRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CancelUpdateStackRequest",
        "variableName" : "cancelUpdateStackRequest",
        "variableType" : "CancelUpdateStackRequest",
        "documentation" : null,
        "simpleType" : "CancelUpdateStackRequest",
        "variableSetterType" : "CancelUpdateStackRequest"
      },
      "wrapper" : false
    },
    "CancelUpdateStackResult" : {
      "c2jName" : "CancelUpdateStackResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "CancelUpdateStackResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CancelUpdateStackResult",
        "variableName" : "cancelUpdateStackResult",
        "variableType" : "CancelUpdateStackResult",
        "documentation" : null,
        "simpleType" : "CancelUpdateStackResult",
        "variableSetterType" : "CancelUpdateStackResult"
      },
      "wrapper" : false
    },
    "Capability" : {
      "c2jName" : "Capability",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "CAPABILITY_IAM",
        "value" : "CAPABILITY_IAM"
      }, {
        "name" : "CAPABILITY_NAMED_IAM",
        "value" : "CAPABILITY_NAMED_IAM"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "Capability",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Capability",
        "variableName" : "capability",
        "variableType" : "Capability",
        "documentation" : null,
        "simpleType" : "Capability",
        "variableSetterType" : "Capability"
      },
      "wrapper" : false
    },
    "Change" : {
      "c2jName" : "Change",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The <code>Change</code> structure describes the changes AWS CloudFormation will perform if you execute the change set.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Type",
        "c2jShape" : "ChangeType",
        "deprecated" : false,
        "documentation" : "<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>",
        "enumType" : "ChangeType",
        "fluentSetterDocumentation" : "/**<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>\n@param type The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChangeType*/",
        "getterDocumentation" : "/**<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>\n@return The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.\n@see ChangeType*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Type",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Type",
        "setterDocumentation" : "/**<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>\n@param type The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.\n@see ChangeType*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>\n@param type The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChangeType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceChange",
        "c2jShape" : "ResourceChange",
        "deprecated" : false,
        "documentation" : "<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>\n@param resourceChange A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>\n@return A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.*/",
        "getterModel" : {
          "returnType" : "ResourceChange",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ResourceChange",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceChange",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ResourceChange",
        "setterDocumentation" : "/**<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>\n@param resourceChange A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.*/",
        "setterModel" : {
          "variableDeclarationType" : "ResourceChange",
          "variableName" : "resourceChange",
          "variableType" : "ResourceChange",
          "documentation" : "",
          "simpleType" : "ResourceChange",
          "variableSetterType" : "ResourceChange"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>\n@param resourceChange A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "ResourceChange",
          "variableName" : "resourceChange",
          "variableType" : "ResourceChange",
          "documentation" : "<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>",
          "simpleType" : "ResourceChange",
          "variableSetterType" : "ResourceChange"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceChange" : {
          "c2jName" : "ResourceChange",
          "c2jShape" : "ResourceChange",
          "deprecated" : false,
          "documentation" : "<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>\n@param resourceChange A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>\n@return A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.*/",
          "getterModel" : {
            "returnType" : "ResourceChange",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ResourceChange",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceChange",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ResourceChange",
          "setterDocumentation" : "/**<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>\n@param resourceChange A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.*/",
          "setterModel" : {
            "variableDeclarationType" : "ResourceChange",
            "variableName" : "resourceChange",
            "variableType" : "ResourceChange",
            "documentation" : "",
            "simpleType" : "ResourceChange",
            "variableSetterType" : "ResourceChange"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>\n@param resourceChange A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "ResourceChange",
            "variableName" : "resourceChange",
            "variableType" : "ResourceChange",
            "documentation" : "<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>",
            "simpleType" : "ResourceChange",
            "variableSetterType" : "ResourceChange"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "ChangeType",
          "deprecated" : false,
          "documentation" : "<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>",
          "enumType" : "ChangeType",
          "fluentSetterDocumentation" : "/**<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>\n@param type The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChangeType*/",
          "getterDocumentation" : "/**<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>\n@return The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.\n@see ChangeType*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Type",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Type",
          "setterDocumentation" : "/**<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>\n@param type The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.\n@see ChangeType*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>\n@param type The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChangeType*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "Change",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Change",
        "variableName" : "change",
        "variableType" : "Change",
        "documentation" : null,
        "simpleType" : "Change",
        "variableSetterType" : "Change"
      },
      "wrapper" : false
    },
    "ChangeAction" : {
      "c2jName" : "ChangeAction",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "Add",
        "value" : "Add"
      }, {
        "name" : "Modify",
        "value" : "Modify"
      }, {
        "name" : "Remove",
        "value" : "Remove"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ChangeAction",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ChangeAction",
        "variableName" : "changeAction",
        "variableType" : "ChangeAction",
        "documentation" : null,
        "simpleType" : "ChangeAction",
        "variableSetterType" : "ChangeAction"
      },
      "wrapper" : false
    },
    "ChangeSetNotFoundException" : {
      "c2jName" : "ChangeSetNotFoundException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The specified change set name or ID doesn't exit. To view valid change sets for a stack, use the <code>ListChangeSets</code> action.</p>",
      "enums" : null,
      "errorCode" : "ChangeSetNotFound",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ChangeSetNotFoundException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ChangeSetNotFoundException",
        "variableName" : "changeSetNotFoundException",
        "variableType" : "ChangeSetNotFoundException",
        "documentation" : null,
        "simpleType" : "ChangeSetNotFoundException",
        "variableSetterType" : "ChangeSetNotFoundException"
      },
      "wrapper" : false
    },
    "ChangeSetStatus" : {
      "c2jName" : "ChangeSetStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "CREATE_PENDING",
        "value" : "CREATE_PENDING"
      }, {
        "name" : "CREATE_IN_PROGRESS",
        "value" : "CREATE_IN_PROGRESS"
      }, {
        "name" : "CREATE_COMPLETE",
        "value" : "CREATE_COMPLETE"
      }, {
        "name" : "DELETE_COMPLETE",
        "value" : "DELETE_COMPLETE"
      }, {
        "name" : "FAILED",
        "value" : "FAILED"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ChangeSetStatus",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ChangeSetStatus",
        "variableName" : "changeSetStatus",
        "variableType" : "ChangeSetStatus",
        "documentation" : null,
        "simpleType" : "ChangeSetStatus",
        "variableSetterType" : "ChangeSetStatus"
      },
      "wrapper" : false
    },
    "ChangeSetSummary" : {
      "c2jName" : "ChangeSetSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The <code>ChangeSetSummary</code> structure describes a change set, its status, and the stack with which it's associated.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "StackId",
        "c2jShape" : "StackId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the stack with which the change set is associated.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the stack with which the change set is associated.</p>\n@param stackId The ID of the stack with which the change set is associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The ID of the stack with which the change set is associated.</p>\n@return The ID of the stack with which the change set is associated.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "StackId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StackId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "StackId",
        "setterDocumentation" : "/**<p>The ID of the stack with which the change set is associated.</p>\n@param stackId The ID of the stack with which the change set is associated.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "stackId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The ID of the stack with which the change set is associated.</p>\n@param stackId The ID of the stack with which the change set is associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "stackId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the stack with which the change set is associated.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StackName",
        "c2jShape" : "StackName",
        "deprecated" : false,
        "documentation" : "<p>The name of the stack with which the change set is associated.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the stack with which the change set is associated.</p>\n@param stackName The name of the stack with which the change set is associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the stack with which the change set is associated.</p>\n@return The name of the stack with which the change set is associated.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "StackName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StackName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "StackName",
        "setterDocumentation" : "/**<p>The name of the stack with which the change set is associated.</p>\n@param stackName The name of the stack with which the change set is associated.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "stackName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the stack with which the change set is associated.</p>\n@param stackName The name of the stack with which the change set is associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "stackName",
          "variableType" : "String",
          "documentation" : "<p>The name of the stack with which the change set is associated.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChangeSetId",
        "c2jShape" : "ChangeSetId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the change set.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the change set.</p>\n@param changeSetId The ID of the change set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The ID of the change set.</p>\n@return The ID of the change set.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ChangeSetId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChangeSetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ChangeSetId",
        "setterDocumentation" : "/**<p>The ID of the change set.</p>\n@param changeSetId The ID of the change set.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "changeSetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The ID of the change set.</p>\n@param changeSetId The ID of the change set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "changeSetId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the change set.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChangeSetName",
        "c2jShape" : "ChangeSetName",
        "deprecated" : false,
        "documentation" : "<p>The name of the change set.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the change set.</p>\n@param changeSetName The name of the change set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the change set.</p>\n@return The name of the change set.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ChangeSetName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChangeSetName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ChangeSetName",
        "setterDocumentation" : "/**<p>The name of the change set.</p>\n@param changeSetName The name of the change set.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "changeSetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the change set.</p>\n@param changeSetName The name of the change set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
[...]
