{
  "authorizers" : { },
  "metadata" : {
    "apiVersion" : "2013-01-01",
    "endpointPrefix" : "cloudsearch",
    "jsonVersion" : null,
    "protocol" : "query",
    "resultWrapped" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudSearch",
    "signatureVersion" : "v4",
    "signingName" : "cloudsearch",
    "targetPrefix" : null,
    "uid" : null,
    "xmlNamespace" : "http://cloudsearch.amazonaws.com/doc/2013-01-01/"
  },
  "operations" : {
    "BuildSuggesters" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Indexes the search suggestions. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html#configuring-suggesters\">Configuring Suggesters</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>BuildSuggester</a></code> operation. Specifies the name of the domain you want to update.</p>",
        "locationName" : null,
        "shape" : "BuildSuggestersRequest",
        "xmlNamespace" : null
      },
      "name" : "BuildSuggesters",
      "output" : {
        "documentation" : "<p>The result of a <code>BuildSuggester</code> request. Contains a list of the fields used for suggestions.</p>",
        "locationName" : null,
        "resultWrapper" : "BuildSuggestersResult",
        "shape" : "BuildSuggestersResponse"
      }
    },
    "CreateDomain" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/creating-domains.html\" target=\"_blank\">Creating a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "error" : {
          "code" : "LimitExceeded",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LimitExceededException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>CreateDomain</a></code> operation. Specifies a name for the new search domain.</p>",
        "locationName" : null,
        "shape" : "CreateDomainRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateDomain",
      "output" : {
        "documentation" : "<p>The result of a <code>CreateDomainRequest</code>. Contains the status of a newly created domain.</p>",
        "locationName" : null,
        "resultWrapper" : "CreateDomainResult",
        "shape" : "CreateDomainResponse"
      }
    },
    "DefineAnalysisScheme" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Configures an analysis scheme that can be applied to a <code>text</code> or <code>text-array</code> field to define language-specific text processing options. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "error" : {
          "code" : "LimitExceeded",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "error" : {
          "code" : "InvalidType",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTypeException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DefineAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme configuration.</p>",
        "locationName" : null,
        "shape" : "DefineAnalysisSchemeRequest",
        "xmlNamespace" : null
      },
      "name" : "DefineAnalysisScheme",
      "output" : {
        "documentation" : "<p>The result of a <code><a>DefineAnalysisScheme</a></code> request. Contains the status of the newly-configured analysis scheme.</p>",
        "locationName" : null,
        "resultWrapper" : "DefineAnalysisSchemeResult",
        "shape" : "DefineAnalysisSchemeResponse"
      }
    },
    "DefineExpression" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Configures an <code><a>Expression</a></code> for the search domain. Used to create new expressions and modify existing ones. If the expression exists, the new configuration replaces the old one. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "error" : {
          "code" : "LimitExceeded",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "error" : {
          "code" : "InvalidType",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTypeException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DefineExpression</a></code> operation. Specifies the name of the domain you want to update and the expression you want to configure.</p>",
        "locationName" : null,
        "shape" : "DefineExpressionRequest",
        "xmlNamespace" : null
      },
      "name" : "DefineExpression",
      "output" : {
        "documentation" : "<p>The result of a <code>DefineExpression</code> request. Contains the status of the newly-configured expression.</p>",
        "locationName" : null,
        "resultWrapper" : "DefineExpressionResult",
        "shape" : "DefineExpressionResponse"
      }
    },
    "DefineIndexField" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Configures an <code><a>IndexField</a></code> for the search domain. Used to create new fields and modify existing ones. You must specify the name of the domain you are configuring and an index field configuration. The index field configuration specifies a unique name, the index field type, and the options you want to configure for the field. The options you can specify depend on the <code><a>IndexFieldType</a></code>. If the field exists, the new configuration replaces the old one. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "error" : {
          "code" : "LimitExceeded",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "error" : {
          "code" : "InvalidType",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTypeException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DefineIndexField</a></code> operation. Specifies the name of the domain you want to update and the index field configuration.</p>",
        "locationName" : null,
        "shape" : "DefineIndexFieldRequest",
        "xmlNamespace" : null
      },
      "name" : "DefineIndexField",
      "output" : {
        "documentation" : "<p>The result of a <code><a>DefineIndexField</a></code> request. Contains the status of the newly-configured index field.</p>",
        "locationName" : null,
        "resultWrapper" : "DefineIndexFieldResult",
        "shape" : "DefineIndexFieldResponse"
      }
    },
    "DefineSuggester" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Configures a suggester for a domain. A suggester enables you to display possible matches before users finish typing their queries. When you configure a suggester, you must specify the name of the text field you want to search for possible matches and a unique name for the suggester. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "error" : {
          "code" : "LimitExceeded",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "error" : {
          "code" : "InvalidType",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTypeException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DefineSuggester</a></code> operation. Specifies the name of the domain you want to update and the suggester configuration.</p>",
        "locationName" : null,
        "shape" : "DefineSuggesterRequest",
        "xmlNamespace" : null
      },
      "name" : "DefineSuggester",
      "output" : {
        "documentation" : "<p>The result of a <code>DefineSuggester</code> request. Contains the status of the newly-configured suggester.</p>",
        "locationName" : null,
        "resultWrapper" : "DefineSuggesterResult",
        "shape" : "DefineSuggesterResponse"
      }
    },
    "DeleteAnalysisScheme" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes an analysis scheme. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "error" : {
          "code" : "InvalidType",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTypeException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme you want to delete. </p>",
        "locationName" : null,
        "shape" : "DeleteAnalysisSchemeRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteAnalysisScheme",
      "output" : {
        "documentation" : "<p>The result of a <code>DeleteAnalysisScheme</code> request. Contains the status of the deleted analysis scheme.</p>",
        "locationName" : null,
        "resultWrapper" : "DeleteAnalysisSchemeResult",
        "shape" : "DeleteAnalysisSchemeResponse"
      }
    },
    "DeleteDomain" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes a search domain and all of its data. Once a domain has been deleted, it cannot be recovered. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/deleting-domains.html\" target=\"_blank\">Deleting a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteDomain</a></code> operation. Specifies the name of the domain you want to delete.</p>",
        "locationName" : null,
        "shape" : "DeleteDomainRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteDomain",
      "output" : {
        "documentation" : "<p>The result of a <code>DeleteDomain</code> request. Contains the status of a newly deleted domain, or no status if the domain has already been completely deleted.</p>",
        "locationName" : null,
        "resultWrapper" : "DeleteDomainResult",
        "shape" : "DeleteDomainResponse"
      }
    },
    "DeleteExpression" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Removes an <code><a>Expression</a></code> from the search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "error" : {
          "code" : "InvalidType",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTypeException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteExpression</a></code> operation. Specifies the name of the domain you want to update and the name of the expression you want to delete.</p>",
        "locationName" : null,
        "shape" : "DeleteExpressionRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteExpression",
      "output" : {
        "documentation" : "<p>The result of a <code><a>DeleteExpression</a></code> request. Specifies the expression being deleted.</p>",
        "locationName" : null,
        "resultWrapper" : "DeleteExpressionResult",
        "shape" : "DeleteExpressionResponse"
      }
    },
    "DeleteIndexField" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Removes an <code><a>IndexField</a></code> from the search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "error" : {
          "code" : "InvalidType",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTypeException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteIndexField</a></code> operation. Specifies the name of the domain you want to update and the name of the index field you want to delete.</p>",
        "locationName" : null,
        "shape" : "DeleteIndexFieldRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteIndexField",
      "output" : {
        "documentation" : "<p>The result of a <code><a>DeleteIndexField</a></code> request.</p>",
        "locationName" : null,
        "resultWrapper" : "DeleteIndexFieldResult",
        "shape" : "DeleteIndexFieldResponse"
      }
    },
    "DeleteSuggester" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a suggester. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "error" : {
          "code" : "InvalidType",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTypeException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteSuggester</a></code> operation. Specifies the name of the domain you want to update and name of the suggester you want to delete.</p>",
        "locationName" : null,
        "shape" : "DeleteSuggesterRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteSuggester",
      "output" : {
        "documentation" : "<p>The result of a <code>DeleteSuggester</code> request. Contains the status of the deleted suggester.</p>",
        "locationName" : null,
        "resultWrapper" : "DeleteSuggesterResult",
        "shape" : "DeleteSuggesterResponse"
      }
    },
    "DescribeAnalysisSchemes" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets the analysis schemes configured for a domain. An analysis scheme defines language-specific text processing options for a <code>text</code> field. Can be limited to specific analysis schemes by name. By default, shows all analysis schemes and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeAnalysisSchemes</a></code> operation. Specifies the name of the domain you want to describe. To limit the response to particular analysis schemes, specify the names of the analysis schemes you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>. </p>",
        "locationName" : null,
        "shape" : "DescribeAnalysisSchemesRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeAnalysisSchemes",
      "output" : {
        "documentation" : "<p>The result of a <code>DescribeAnalysisSchemes</code> request. Contains the analysis schemes configured for the domain specified in the request.</p>",
        "locationName" : null,
        "resultWrapper" : "DescribeAnalysisSchemesResult",
        "shape" : "DescribeAnalysisSchemesResponse"
      }
    },
    "DescribeAvailabilityOptions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html\" target=\"_blank\">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "error" : {
          "code" : "InvalidType",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTypeException"
      }, {
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "error" : {
          "code" : "LimitExceeded",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted an operation which is not enabled.</p>",
        "error" : {
          "code" : "DisabledAction",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "DisabledOperationException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeAvailabilityOptions</a></code> operation. Specifies the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the Deployed option to <code>true</code>.</p>",
        "locationName" : null,
        "shape" : "DescribeAvailabilityOptionsRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeAvailabilityOptions",
      "output" : {
        "documentation" : "<p>The result of a <code>DescribeAvailabilityOptions</code> request. Indicates whether or not the Multi-AZ option is enabled for the domain specified in the request. </p>",
        "locationName" : null,
        "resultWrapper" : "DescribeAvailabilityOptionsResult",
        "shape" : "DescribeAvailabilityOptionsResponse"
      }
    },
    "DescribeDomains" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about the search domains owned by this account. Can be limited to specific domains. Shows all domains by default. To get the number of searchable documents in a domain, use the console or submit a <code>matchall</code> request to your domain's search endpoint: <code>q=matchall&amp;amp;q.parser=structured&amp;amp;size=0</code>. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html\" target=\"_blank\">Getting Information about a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeDomains</a></code> operation. By default shows the status of all domains. To restrict the response to particular domains, specify the names of the domains you want to describe.</p>",
        "locationName" : null,
        "shape" : "DescribeDomainsRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeDomains",
      "output" : {
        "documentation" : "<p>The result of a <code>DescribeDomains</code> request. Contains the status of the domains specified in the request or all domains owned by the account.</p>",
        "locationName" : null,
        "resultWrapper" : "DescribeDomainsResult",
        "shape" : "DescribeDomainsResponse"
      }
    },
    "DescribeExpressions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets the expressions configured for the search domain. Can be limited to specific expressions by name. By default, shows all expressions and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeDomains</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular expressions, specify the names of the expressions you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
        "locationName" : null,
        "shape" : "DescribeExpressionsRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeExpressions",
      "output" : {
        "documentation" : "<p>The result of a <code>DescribeExpressions</code> request. Contains the expressions configured for the domain specified in the request.</p>",
        "locationName" : null,
        "resultWrapper" : "DescribeExpressionsResult",
        "shape" : "DescribeExpressionsResponse"
      }
    },
    "DescribeIndexFields" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about the index fields configured for the search domain. Can be limited to specific fields by name. By default, shows all fields and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html\" target=\"_blank\">Getting Domain Information</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeIndexFields</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular index fields, specify the names of the index fields you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
        "locationName" : null,
        "shape" : "DescribeIndexFieldsRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeIndexFields",
      "output" : {
        "documentation" : "<p>The result of a <code>DescribeIndexFields</code> request. Contains the index fields configured for the domain specified in the request.</p>",
        "locationName" : null,
        "resultWrapper" : "DescribeIndexFieldsResult",
        "shape" : "DescribeIndexFieldsResponse"
      }
    },
    "DescribeScalingParameters" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets the scaling parameters configured for a domain. A domain's scaling parameters specify the desired search instance type and replication count. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-scaling-options.html\" target=\"_blank\">Configuring Scaling Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeScalingParameters</a></code> operation. Specifies the name of the domain you want to describe. </p>",
        "locationName" : null,
        "shape" : "DescribeScalingParametersRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeScalingParameters",
      "output" : {
        "documentation" : "<p>The result of a <code>DescribeScalingParameters</code> request. Contains the scaling parameters configured for the domain specified in the request.</p>",
        "locationName" : null,
        "resultWrapper" : "DescribeScalingParametersResult",
        "shape" : "DescribeScalingParametersResponse"
      }
    },
    "DescribeServiceAccessPolicies" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about the access policies that control access to the domain's document and search endpoints. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html\" target=\"_blank\">Configuring Access for a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeServiceAccessPolicies</a></code> operation. Specifies the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
        "locationName" : null,
        "shape" : "DescribeServiceAccessPoliciesRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeServiceAccessPolicies",
      "output" : {
        "documentation" : "<p>The result of a <code>DescribeServiceAccessPolicies</code> request.</p>",
        "locationName" : null,
        "resultWrapper" : "DescribeServiceAccessPoliciesResult",
        "shape" : "DescribeServiceAccessPoliciesResponse"
      }
    },
    "DescribeSuggesters" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets the suggesters configured for a domain. A suggester enables you to display possible matches before users finish typing their queries. Can be limited to specific suggesters by name. By default, shows all suggesters and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeSuggester</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular suggesters, specify the names of the suggesters you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
        "locationName" : null,
        "shape" : "DescribeSuggestersRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeSuggesters",
      "output" : {
        "documentation" : "<p>The result of a <code>DescribeSuggesters</code> request.</p>",
        "locationName" : null,
        "resultWrapper" : "DescribeSuggestersResult",
        "shape" : "DescribeSuggestersResponse"
      }
    },
    "IndexDocuments" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Tells the search domain to start indexing its documents using the latest indexing options. This operation must be invoked to activate options whose <a>OptionStatus</a> is <code>RequiresIndexDocuments</code>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>IndexDocuments</a></code> operation. Specifies the name of the domain you want to re-index.</p>",
        "locationName" : null,
        "shape" : "IndexDocumentsRequest",
        "xmlNamespace" : null
      },
      "name" : "IndexDocuments",
      "output" : {
        "documentation" : "<p>The result of an <code>IndexDocuments</code> request. Contains the status of the indexing operation, including the fields being indexed.</p>",
        "locationName" : null,
        "resultWrapper" : "IndexDocumentsResult",
        "shape" : "IndexDocumentsResponse"
      }
    },
    "ListDomainNames" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists all search domains owned by an account.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : null,
      "name" : "ListDomainNames",
      "output" : {
        "documentation" : "<p>The result of a <code>ListDomainNames</code> request. Contains a list of the domains owned by an account.</p>",
        "locationName" : null,
        "resultWrapper" : "ListDomainNamesResult",
        "shape" : "ListDomainNamesResponse"
      }
    },
    "UpdateAvailabilityOptions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Configures the availability options for a domain. Enabling the Multi-AZ option expands an Amazon CloudSearch domain to an additional Availability Zone in the same Region to increase fault tolerance in the event of a service disruption. Changes to the Multi-AZ option can take about half an hour to become active. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html\" target=\"_blank\">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "error" : {
          "code" : "InvalidType",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTypeException"
      }, {
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "error" : {
          "code" : "LimitExceeded",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted an operation which is not enabled.</p>",
        "error" : {
          "code" : "DisabledAction",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "DisabledOperationException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateAvailabilityOptions</a></code> operation. Specifies the name of the domain you want to update and the Multi-AZ availability option.</p>",
        "locationName" : null,
        "shape" : "UpdateAvailabilityOptionsRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateAvailabilityOptions",
      "output" : {
        "documentation" : "<p>The result of a <code>UpdateAvailabilityOptions</code> request. Contains the status of the domain's availability options. </p>",
        "locationName" : null,
        "resultWrapper" : "UpdateAvailabilityOptionsResult",
        "shape" : "UpdateAvailabilityOptionsResponse"
      }
    },
    "UpdateScalingParameters" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Configures scaling parameters for a domain. A domain's scaling parameters specify the desired search instance type and replication count. Amazon CloudSearch will still automatically scale your domain based on the volume of data and traffic, but not below the desired instance type and replication count. If the Multi-AZ option is enabled, these values control the resources used per Availability Zone. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-scaling-options.html\" target=\"_blank\">Configuring Scaling Options</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "error" : {
          "code" : "LimitExceeded",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "error" : {
          "code" : "InvalidType",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTypeException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateScalingParameters</a></code> operation. Specifies the name of the domain you want to update and the scaling parameters you want to configure.</p>",
        "locationName" : null,
        "shape" : "UpdateScalingParametersRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateScalingParameters",
      "output" : {
        "documentation" : "<p>The result of a <code>UpdateScalingParameters</code> request. Contains the status of the newly-configured scaling parameters.</p>",
        "locationName" : null,
        "resultWrapper" : "UpdateScalingParametersResult",
        "shape" : "UpdateScalingParametersResponse"
      }
    },
    "UpdateServiceAccessPolicies" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Configures the access rules that control access to the domain's document and search endpoints. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html\" target=\"_blank\"> Configuring Access for an Amazon CloudSearch Domain</a>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "BaseException"
      }, {
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "error" : {
          "code" : "InternalException",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "error" : {
          "code" : "LimitExceeded",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "error" : {
          "code" : "InvalidType",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTypeException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateServiceAccessPolicies</a></code> operation. Specifies the name of the domain you want to update and the access rules you want to configure.</p>",
        "locationName" : null,
        "shape" : "UpdateServiceAccessPoliciesRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateServiceAccessPolicies",
      "output" : {
        "documentation" : "<p>The result of an <code>UpdateServiceAccessPolicies</code> request. Contains the new access policies.</p>",
        "locationName" : null,
        "resultWrapper" : "UpdateServiceAccessPoliciesResult",
        "shape" : "UpdateServiceAccessPoliciesResponse"
      }
    }
  },
  "shapes" : {
    "APIVersion" : {
      "deprecated" : false,
      "documentation" : "<p>The Amazon CloudSearch API version for a domain: 2011-02-01 or 2013-01-01.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ARN" : {
      "deprecated" : false,
      "documentation" : "<p>The Amazon Resource Name (ARN) of the search domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "AccessPoliciesStatus" : {
      "deprecated" : false,
      "documentation" : "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Options" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "PolicyDocument",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Status" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "OptionStatus",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "Options", "Status" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AlgorithmicStemming" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "none", "minimal", "light", "full" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "AnalysisOptions" : {
      "deprecated" : false,
      "documentation" : "<p>Synonyms, stopwords, and stemming options for an analysis scheme. Includes tokenization dictionary for Japanese.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AlgorithmicStemming" : {
          "deprecated" : false,
          "documentation" : "<p>The level of algorithmic stemming to perform: <code>none</code>, <code>minimal</code>, <code>light</code>, or <code>full</code>. The available levels vary depending on the language. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/text-processing.html#text-processing-settings\" target=\"_blank\">Language Specific Text Processing Settings</a> in the <i>Amazon CloudSearch Developer Guide</i> </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AlgorithmicStemming",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "JapaneseTokenizationDictionary" : {
          "deprecated" : false,
          "documentation" : "<p>A JSON array that contains a collection of terms, tokens, readings and part of speech for Japanese Tokenizaiton. The Japanese tokenization dictionary enables you to override the default tokenization for selected terms. This is only valid for Japanese language fields.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "StemmingDictionary" : {
          "deprecated" : false,
          "documentation" : "<p>A JSON object that contains a collection of string:value pairs that each map a term to its stem. For example, <code>{\"term1\": \"stem1\", \"term2\": \"stem2\", \"term3\": \"stem3\"}</code>. The stemming dictionary is applied in addition to any algorithmic stemming. This enables you to override the results of the algorithmic stemming to correct specific cases of overstemming or understemming. The maximum size of a stemming dictionary is 500 KB.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Stopwords" : {
          "deprecated" : false,
          "documentation" : "<p>A JSON array of terms to ignore during indexing and searching. For example, <code>[\"a\", \"an\", \"the\", \"of\"]</code>. The stopwords dictionary must explicitly list each word you want to ignore. Wildcards and regular expressions are not supported. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Synonyms" : {
          "deprecated" : false,
          "documentation" : "<p>A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AnalysisScheme" : {
      "deprecated" : false,
      "documentation" : "<p>Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AnalysisOptions" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AnalysisOptions",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "AnalysisSchemeLanguage" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AnalysisSchemeLanguage",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "AnalysisSchemeName" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "StandardName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "AnalysisSchemeName", "AnalysisSchemeLanguage" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AnalysisSchemeLanguage" : {
      "deprecated" : false,
      "documentation" : "<p>An <a href=\"http://tools.ietf.org/html/rfc4646\" target=\"_blank\">IETF RFC 4646</a> language code or <code>mul</code> for multiple languages.</p>",
      "enum" : [ "ar", "bg", "ca", "cs", "da", "de", "el", "en", "es", "eu", "fa", "fi", "fr", "ga", "gl", "he", "hi", "hu", "hy", "id", "it", "ja", "ko", "lv", "mul", "nl", "no", "pt", "ro", "ru", "sv", "th", "tr", "zh-Hans", "zh-Hant" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "AnalysisSchemeStatus" : {
      "deprecated" : false,
      "documentation" : "<p>The status and configuration of an <code>AnalysisScheme</code>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Options" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AnalysisScheme",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Status" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "OptionStatus",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "Options", "Status" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AnalysisSchemeStatusList" : {
      "deprecated" : false,
      "documentation" : "<p>A list of the analysis schemes configured for a domain.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "AnalysisSchemeStatus",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "AvailabilityOptionsStatus" : {
      "deprecated" : false,
      "documentation" : "<p>The status and configuration of the domain's availability options.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Options" : {
          "deprecated" : false,
          "documentation" : "<p>The availability options configured for the domain.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "MultiAZ",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Status" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "OptionStatus",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "Options", "Status" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BaseException" : {
      "deprecated" : false,
      "documentation" : "<p>An error occurred while processing the request.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Code" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorCode",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Message" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Boolean" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "boolean",
      "value" : null,
      "wrapper" : false
    },
    "BuildSuggestersRequest" : {
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <code><a>BuildSuggester</a></code> operation. Specifies the name of the domain you want to update.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DomainName" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DomainName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DomainName" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BuildSuggestersResponse" : {
      "deprecated" : false,
      "documentation" : "<p>The result of a <code>BuildSuggester</code> request. Contains a list of the fields used for suggestions.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "FieldNames" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "FieldNameList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDomainRequest" : {
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <code><a>CreateDomain</a></code> operation. Specifies a name for the new search domain.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DomainName" : {
          "deprecated" : false,
          "documentation" : "<p>A name for the domain you are creating. Allowed characters are a-z (lower-case letters), 0-9, and hyphen (-). Domain names must start with a letter or number and be at least 3 and no more than 28 characters long.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DomainName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DomainName" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDomainResponse" : {
      "deprecated" : false,
      "documentation" : "<p>The result of a <code>CreateDomainRequest</code>. Contains the status of a newly created domain.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DomainStatus" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DomainStatus",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DateArrayOptions" : {
      "deprecated" : false,
      "documentation" : "<p>Options for a field that contains an array of dates. Present if <code>IndexFieldType</code> specifies the field is of type <code>date-array</code>. All options are enabled by default.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DefaultValue" : {
          "deprecated" : false,
          "documentation" : "A value to use for the field if the field isn't specified for a document.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "FieldValue",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "FacetEnabled" : {
          "deprecated" : false,
          "documentation" : "<p>Whether facet information can be returned for the field.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ReturnEnabled" : {
          "deprecated" : false,
          "documentation" : "<p>Whether the contents of the field can be returned in the search results.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SearchEnabled" : {
          "deprecated" : false,
          "documentation" : "<p>Whether the contents of the field are searchable.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SourceFields" : {
          "deprecated" : false,
          "documentation" : "<p>A list of source fields to map to the field. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "FieldNameCommaList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DateOptions" : {
      "deprecated" : false,
      "documentation" : "<p>Options for a date field. Dates and times are specified in UTC (Coordinated Universal Time) according to IETF RFC3339: yyyy-mm-ddT00:00:00Z. Present if <code>IndexFieldType</code> specifies the field is of type <code>date</code>. All options are enabled by default.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DefaultValue" : {
          "deprecated" : false,
          "documentation" : "A value to use for the field if the field isn't specified for a document.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "FieldValue",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "FacetEnabled" : {
          "deprecated" : false,
          "documentation" : "<p>Whether facet information can be returned for the field.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ReturnEnabled" : {
          "deprecated" : false,
          "documentation" : "<p>Whether the contents of the field can be returned in the search results.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SearchEnabled" : {
          "deprecated" : false,
          "documentation" : "<p>Whether the contents of the field are searchable.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SortEnabled" : {
          "deprecated" : false,
          "documentation" : "<p>Whether the field can be used to sort the search results.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SourceField" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "FieldName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DefineAnalysisSchemeRequest" : {
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <code><a>DefineAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme configuration.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AnalysisScheme" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AnalysisScheme",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DomainName" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DomainName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DomainName", "AnalysisScheme" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DefineAnalysisSchemeResponse" : {
      "deprecated" : false,
      "documentation" : "<p>The result of a <code><a>DefineAnalysisScheme</a></code> request. Contains the status of the newly-configured analysis scheme.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AnalysisScheme" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AnalysisSchemeStatus",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "AnalysisScheme" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DefineExpressionRequest" : {
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <code><a>DefineExpression</a></code> operation. Specifies the name of the domain you want to update and the expression you want to configure.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DomainName" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DomainName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Expression" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Expression",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DomainName", "Expression" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DefineExpressionResponse" : {
      "deprecated" : false,
      "documentation" : "<p>The result of a <code>DefineExpression</code> request. Contains the status of the newly-configured expression.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Expression" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ExpressionStatus",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "Expression" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DefineIndexFieldRequest" : {
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <code><a>DefineIndexField</a></code> operation. Specifies the name of the domain you want to update and the index field configuration.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DomainName" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DomainName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IndexField" : {
          "deprecated" : false,
          "documentation" : "<p>The index field and field options you want to configure. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IndexField",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DomainName", "IndexField" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DefineIndexFieldResponse" : {
      "deprecated" : false,
      "documentation" : "<p>The result of a <code><a>DefineIndexField</a></code> request. Contains the status of the newly-configured index field.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IndexField" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IndexFieldStatus",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "IndexField" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DefineSuggesterRequest" : {
      "deprecated" : false,
[...]
