{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : "AmazonCloudSearchv2",
    "customSignerProvider" : null,
    "deprecatedSuppressions" : null,
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeDomains" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListDomainNames" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2013-01-01",
    "asyncClient" : "AmazonCloudSearchAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCloudSearchAsyncClientBuilder",
    "asyncInterface" : "AmazonCloudSearchAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonCloudSearchModuleInjector",
    "defaultEndpoint" : "https://cloudsearch.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "cloudsearch.us-east-1.amazonaws.com/",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon CloudSearch Configuration Service</fullname> <p>You use the Amazon CloudSearch configuration service to create, configure, and manage search domains. Configuration service requests are submitted using the AWS Query protocol. AWS Query requests are HTTP or HTTPS requests submitted via HTTP GET or POST with a query parameter named Action.</p> <p>The endpoint for configuration service requests is region-specific: cloudsearch.<i>region</i>.amazonaws.com. For example, cloudsearch.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#cloudsearch_region\" target=\"_blank\">Regions and Endpoints</a>.</p>",
    "endpointPrefix" : "cloudsearch",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.cloudsearchv2",
    "packagePath" : "com/amazonaws/services/cloudsearchv2",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "protocolFactory" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudSearch",
    "serviceId" : "CloudSearch",
    "serviceName" : "Amazon CloudSearch",
    "signingName" : "cloudsearch",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudsearchv2.smoketests",
    "syncClient" : "AmazonCloudSearchClient",
    "syncClientBuilderClassName" : "AmazonCloudSearchClientBuilder",
    "syncInterface" : "AmazonCloudSearch",
    "uid" : "cloudsearch-2013-01-01",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "BuildSuggesters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BuildSuggestersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BuildSuggestersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BuildSuggestersRequest, BuildSuggestersResult>",
      "asyncReturnType" : "BuildSuggestersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Indexes the search suggestions. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html#configuring-suggesters\">Configuring Suggesters</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BuildSuggestersRequest",
        "variableName" : "buildSuggestersRequest",
        "variableType" : "BuildSuggestersRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>BuildSuggester</a></code> operation. Specifies the name of the domain you want to update.</p>",
        "simpleType" : "BuildSuggestersRequest",
        "variableSetterType" : "BuildSuggestersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "buildSuggesters",
      "operationName" : "BuildSuggesters",
      "returnType" : {
        "returnType" : "BuildSuggestersResult",
        "documentation" : "<p>The result of a <code>BuildSuggester</code> request. Contains a list of the fields used for suggestions.</p>"
      },
      "syncReturnType" : "BuildSuggestersResult"
    },
    "CreateDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDomainRequest, CreateDomainResult>",
      "asyncReturnType" : "CreateDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/creating-domains.html\" target=\"_blank\">Creating a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDomainRequest",
        "variableName" : "createDomainRequest",
        "variableType" : "CreateDomainRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>CreateDomain</a></code> operation. Specifies a name for the new search domain.</p>",
        "simpleType" : "CreateDomainRequest",
        "variableSetterType" : "CreateDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDomain",
      "operationName" : "CreateDomain",
      "returnType" : {
        "returnType" : "CreateDomainResult",
        "documentation" : "<p>The result of a <code>CreateDomainRequest</code>. Contains the status of a newly created domain.</p>"
      },
      "syncReturnType" : "CreateDomainResult"
    },
    "DefineAnalysisScheme" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DefineAnalysisSchemeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DefineAnalysisSchemeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DefineAnalysisSchemeRequest, DefineAnalysisSchemeResult>",
      "asyncReturnType" : "DefineAnalysisSchemeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures an analysis scheme that can be applied to a <code>text</code> or <code>text-array</code> field to define language-specific text processing options. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DefineAnalysisSchemeRequest",
        "variableName" : "defineAnalysisSchemeRequest",
        "variableType" : "DefineAnalysisSchemeRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DefineAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme configuration.</p>",
        "simpleType" : "DefineAnalysisSchemeRequest",
        "variableSetterType" : "DefineAnalysisSchemeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "defineAnalysisScheme",
      "operationName" : "DefineAnalysisScheme",
      "returnType" : {
        "returnType" : "DefineAnalysisSchemeResult",
        "documentation" : "<p>The result of a <code><a>DefineAnalysisScheme</a></code> request. Contains the status of the newly-configured analysis scheme.</p>"
      },
      "syncReturnType" : "DefineAnalysisSchemeResult"
    },
    "DefineExpression" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DefineExpressionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DefineExpressionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DefineExpressionRequest, DefineExpressionResult>",
      "asyncReturnType" : "DefineExpressionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures an <code><a>Expression</a></code> for the search domain. Used to create new expressions and modify existing ones. If the expression exists, the new configuration replaces the old one. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DefineExpressionRequest",
        "variableName" : "defineExpressionRequest",
        "variableType" : "DefineExpressionRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DefineExpression</a></code> operation. Specifies the name of the domain you want to update and the expression you want to configure.</p>",
        "simpleType" : "DefineExpressionRequest",
        "variableSetterType" : "DefineExpressionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "defineExpression",
      "operationName" : "DefineExpression",
      "returnType" : {
        "returnType" : "DefineExpressionResult",
        "documentation" : "<p>The result of a <code>DefineExpression</code> request. Contains the status of the newly-configured expression.</p>"
      },
      "syncReturnType" : "DefineExpressionResult"
    },
    "DefineIndexField" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DefineIndexFieldResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DefineIndexFieldResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DefineIndexFieldRequest, DefineIndexFieldResult>",
      "asyncReturnType" : "DefineIndexFieldResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures an <code><a>IndexField</a></code> for the search domain. Used to create new fields and modify existing ones. You must specify the name of the domain you are configuring and an index field configuration. The index field configuration specifies a unique name, the index field type, and the options you want to configure for the field. The options you can specify depend on the <code><a>IndexFieldType</a></code>. If the field exists, the new configuration replaces the old one. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DefineIndexFieldRequest",
        "variableName" : "defineIndexFieldRequest",
        "variableType" : "DefineIndexFieldRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DefineIndexField</a></code> operation. Specifies the name of the domain you want to update and the index field configuration.</p>",
        "simpleType" : "DefineIndexFieldRequest",
        "variableSetterType" : "DefineIndexFieldRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "defineIndexField",
      "operationName" : "DefineIndexField",
      "returnType" : {
        "returnType" : "DefineIndexFieldResult",
        "documentation" : "<p>The result of a <code><a>DefineIndexField</a></code> request. Contains the status of the newly-configured index field.</p>"
      },
      "syncReturnType" : "DefineIndexFieldResult"
    },
    "DefineSuggester" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DefineSuggesterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DefineSuggesterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DefineSuggesterRequest, DefineSuggesterResult>",
      "asyncReturnType" : "DefineSuggesterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures a suggester for a domain. A suggester enables you to display possible matches before users finish typing their queries. When you configure a suggester, you must specify the name of the text field you want to search for possible matches and a unique name for the suggester. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DefineSuggesterRequest",
        "variableName" : "defineSuggesterRequest",
        "variableType" : "DefineSuggesterRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DefineSuggester</a></code> operation. Specifies the name of the domain you want to update and the suggester configuration.</p>",
        "simpleType" : "DefineSuggesterRequest",
        "variableSetterType" : "DefineSuggesterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "defineSuggester",
      "operationName" : "DefineSuggester",
      "returnType" : {
        "returnType" : "DefineSuggesterResult",
        "documentation" : "<p>The result of a <code>DefineSuggester</code> request. Contains the status of the newly-configured suggester.</p>"
      },
      "syncReturnType" : "DefineSuggesterResult"
    },
    "DeleteAnalysisScheme" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAnalysisSchemeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAnalysisSchemeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAnalysisSchemeRequest, DeleteAnalysisSchemeResult>",
      "asyncReturnType" : "DeleteAnalysisSchemeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an analysis scheme. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAnalysisSchemeRequest",
        "variableName" : "deleteAnalysisSchemeRequest",
        "variableType" : "DeleteAnalysisSchemeRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme you want to delete. </p>",
        "simpleType" : "DeleteAnalysisSchemeRequest",
        "variableSetterType" : "DeleteAnalysisSchemeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAnalysisScheme",
      "operationName" : "DeleteAnalysisScheme",
      "returnType" : {
        "returnType" : "DeleteAnalysisSchemeResult",
        "documentation" : "<p>The result of a <code>DeleteAnalysisScheme</code> request. Contains the status of the deleted analysis scheme.</p>"
      },
      "syncReturnType" : "DeleteAnalysisSchemeResult"
    },
    "DeleteDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDomainRequest, DeleteDomainResult>",
      "asyncReturnType" : "DeleteDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes a search domain and all of its data. Once a domain has been deleted, it cannot be recovered. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/deleting-domains.html\" target=\"_blank\">Deleting a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDomainRequest",
        "variableName" : "deleteDomainRequest",
        "variableType" : "DeleteDomainRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteDomain</a></code> operation. Specifies the name of the domain you want to delete.</p>",
        "simpleType" : "DeleteDomainRequest",
        "variableSetterType" : "DeleteDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDomain",
      "operationName" : "DeleteDomain",
      "returnType" : {
        "returnType" : "DeleteDomainResult",
        "documentation" : "<p>The result of a <code>DeleteDomain</code> request. Contains the status of a newly deleted domain, or no status if the domain has already been completely deleted.</p>"
      },
      "syncReturnType" : "DeleteDomainResult"
    },
    "DeleteExpression" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteExpressionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteExpressionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteExpressionRequest, DeleteExpressionResult>",
      "asyncReturnType" : "DeleteExpressionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes an <code><a>Expression</a></code> from the search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteExpressionRequest",
        "variableName" : "deleteExpressionRequest",
        "variableType" : "DeleteExpressionRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteExpression</a></code> operation. Specifies the name of the domain you want to update and the name of the expression you want to delete.</p>",
        "simpleType" : "DeleteExpressionRequest",
        "variableSetterType" : "DeleteExpressionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteExpression",
      "operationName" : "DeleteExpression",
      "returnType" : {
        "returnType" : "DeleteExpressionResult",
        "documentation" : "<p>The result of a <code><a>DeleteExpression</a></code> request. Specifies the expression being deleted.</p>"
      },
      "syncReturnType" : "DeleteExpressionResult"
    },
    "DeleteIndexField" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIndexFieldResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIndexFieldResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIndexFieldRequest, DeleteIndexFieldResult>",
      "asyncReturnType" : "DeleteIndexFieldResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes an <code><a>IndexField</a></code> from the search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIndexFieldRequest",
        "variableName" : "deleteIndexFieldRequest",
        "variableType" : "DeleteIndexFieldRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteIndexField</a></code> operation. Specifies the name of the domain you want to update and the name of the index field you want to delete.</p>",
        "simpleType" : "DeleteIndexFieldRequest",
        "variableSetterType" : "DeleteIndexFieldRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIndexField",
      "operationName" : "DeleteIndexField",
      "returnType" : {
        "returnType" : "DeleteIndexFieldResult",
        "documentation" : "<p>The result of a <code><a>DeleteIndexField</a></code> request.</p>"
      },
      "syncReturnType" : "DeleteIndexFieldResult"
    },
    "DeleteSuggester" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSuggesterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSuggesterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSuggesterRequest, DeleteSuggesterResult>",
      "asyncReturnType" : "DeleteSuggesterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a suggester. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSuggesterRequest",
        "variableName" : "deleteSuggesterRequest",
        "variableType" : "DeleteSuggesterRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteSuggester</a></code> operation. Specifies the name of the domain you want to update and name of the suggester you want to delete.</p>",
        "simpleType" : "DeleteSuggesterRequest",
        "variableSetterType" : "DeleteSuggesterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSuggester",
      "operationName" : "DeleteSuggester",
      "returnType" : {
        "returnType" : "DeleteSuggesterResult",
        "documentation" : "<p>The result of a <code>DeleteSuggester</code> request. Contains the status of the deleted suggester.</p>"
      },
      "syncReturnType" : "DeleteSuggesterResult"
    },
    "DescribeAnalysisSchemes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAnalysisSchemesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAnalysisSchemesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAnalysisSchemesRequest, DescribeAnalysisSchemesResult>",
      "asyncReturnType" : "DescribeAnalysisSchemesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the analysis schemes configured for a domain. An analysis scheme defines language-specific text processing options for a <code>text</code> field. Can be limited to specific analysis schemes by name. By default, shows all analysis schemes and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAnalysisSchemesRequest",
        "variableName" : "describeAnalysisSchemesRequest",
        "variableType" : "DescribeAnalysisSchemesRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeAnalysisSchemes</a></code> operation. Specifies the name of the domain you want to describe. To limit the response to particular analysis schemes, specify the names of the analysis schemes you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>. </p>",
        "simpleType" : "DescribeAnalysisSchemesRequest",
        "variableSetterType" : "DescribeAnalysisSchemesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAnalysisSchemes",
      "operationName" : "DescribeAnalysisSchemes",
      "returnType" : {
        "returnType" : "DescribeAnalysisSchemesResult",
        "documentation" : "<p>The result of a <code>DescribeAnalysisSchemes</code> request. Contains the analysis schemes configured for the domain specified in the request.</p>"
      },
      "syncReturnType" : "DescribeAnalysisSchemesResult"
    },
    "DescribeAvailabilityOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAvailabilityOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAvailabilityOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAvailabilityOptionsRequest, DescribeAvailabilityOptionsResult>",
      "asyncReturnType" : "DescribeAvailabilityOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html\" target=\"_blank\">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>The request was rejected because it attempted an operation which is not enabled.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAvailabilityOptionsRequest",
        "variableName" : "describeAvailabilityOptionsRequest",
        "variableType" : "DescribeAvailabilityOptionsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeAvailabilityOptions</a></code> operation. Specifies the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the Deployed option to <code>true</code>.</p>",
        "simpleType" : "DescribeAvailabilityOptionsRequest",
        "variableSetterType" : "DescribeAvailabilityOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAvailabilityOptions",
      "operationName" : "DescribeAvailabilityOptions",
      "returnType" : {
        "returnType" : "DescribeAvailabilityOptionsResult",
        "documentation" : "<p>The result of a <code>DescribeAvailabilityOptions</code> request. Indicates whether or not the Multi-AZ option is enabled for the domain specified in the request. </p>"
      },
      "syncReturnType" : "DescribeAvailabilityOptionsResult"
    },
    "DescribeDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDomainsRequest, DescribeDomainsResult>",
      "asyncReturnType" : "DescribeDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the search domains owned by this account. Can be limited to specific domains. Shows all domains by default. To get the number of searchable documents in a domain, use the console or submit a <code>matchall</code> request to your domain's search endpoint: <code>q=matchall&amp;amp;q.parser=structured&amp;amp;size=0</code>. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html\" target=\"_blank\">Getting Information about a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDomainsRequest",
        "variableName" : "describeDomainsRequest",
        "variableType" : "DescribeDomainsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeDomains</a></code> operation. By default shows the status of all domains. To restrict the response to particular domains, specify the names of the domains you want to describe.</p>",
        "simpleType" : "DescribeDomainsRequest",
        "variableSetterType" : "DescribeDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDomains",
      "operationName" : "DescribeDomains",
      "returnType" : {
        "returnType" : "DescribeDomainsResult",
        "documentation" : "<p>The result of a <code>DescribeDomains</code> request. Contains the status of the domains specified in the request or all domains owned by the account.</p>"
      },
      "syncReturnType" : "DescribeDomainsResult"
    },
    "DescribeExpressions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeExpressionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeExpressionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeExpressionsRequest, DescribeExpressionsResult>",
      "asyncReturnType" : "DescribeExpressionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the expressions configured for the search domain. Can be limited to specific expressions by name. By default, shows all expressions and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeExpressionsRequest",
        "variableName" : "describeExpressionsRequest",
        "variableType" : "DescribeExpressionsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeDomains</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular expressions, specify the names of the expressions you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
        "simpleType" : "DescribeExpressionsRequest",
        "variableSetterType" : "DescribeExpressionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeExpressions",
      "operationName" : "DescribeExpressions",
      "returnType" : {
        "returnType" : "DescribeExpressionsResult",
        "documentation" : "<p>The result of a <code>DescribeExpressions</code> request. Contains the expressions configured for the domain specified in the request.</p>"
      },
      "syncReturnType" : "DescribeExpressionsResult"
    },
    "DescribeIndexFields" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIndexFieldsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIndexFieldsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIndexFieldsRequest, DescribeIndexFieldsResult>",
      "asyncReturnType" : "DescribeIndexFieldsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the index fields configured for the search domain. Can be limited to specific fields by name. By default, shows all fields and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html\" target=\"_blank\">Getting Domain Information</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeIndexFieldsRequest",
        "variableName" : "describeIndexFieldsRequest",
        "variableType" : "DescribeIndexFieldsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeIndexFields</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular index fields, specify the names of the index fields you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
        "simpleType" : "DescribeIndexFieldsRequest",
        "variableSetterType" : "DescribeIndexFieldsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeIndexFields",
      "operationName" : "DescribeIndexFields",
      "returnType" : {
        "returnType" : "DescribeIndexFieldsResult",
        "documentation" : "<p>The result of a <code>DescribeIndexFields</code> request. Contains the index fields configured for the domain specified in the request.</p>"
      },
      "syncReturnType" : "DescribeIndexFieldsResult"
    },
    "DescribeScalingParameters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingParametersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingParametersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingParametersRequest, DescribeScalingParametersResult>",
      "asyncReturnType" : "DescribeScalingParametersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the scaling parameters configured for a domain. A domain's scaling parameters specify the desired search instance type and replication count. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-scaling-options.html\" target=\"_blank\">Configuring Scaling Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeScalingParametersRequest",
        "variableName" : "describeScalingParametersRequest",
        "variableType" : "DescribeScalingParametersRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeScalingParameters</a></code> operation. Specifies the name of the domain you want to describe. </p>",
        "simpleType" : "DescribeScalingParametersRequest",
        "variableSetterType" : "DescribeScalingParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScalingParameters",
      "operationName" : "DescribeScalingParameters",
      "returnType" : {
        "returnType" : "DescribeScalingParametersResult",
        "documentation" : "<p>The result of a <code>DescribeScalingParameters</code> request. Contains the scaling parameters configured for the domain specified in the request.</p>"
      },
      "syncReturnType" : "DescribeScalingParametersResult"
    },
    "DescribeServiceAccessPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServiceAccessPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServiceAccessPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServiceAccessPoliciesRequest, DescribeServiceAccessPoliciesResult>",
      "asyncReturnType" : "DescribeServiceAccessPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the access policies that control access to the domain's document and search endpoints. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html\" target=\"_blank\">Configuring Access for a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeServiceAccessPoliciesRequest",
        "variableName" : "describeServiceAccessPoliciesRequest",
        "variableType" : "DescribeServiceAccessPoliciesRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeServiceAccessPolicies</a></code> operation. Specifies the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
        "simpleType" : "DescribeServiceAccessPoliciesRequest",
        "variableSetterType" : "DescribeServiceAccessPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeServiceAccessPolicies",
      "operationName" : "DescribeServiceAccessPolicies",
      "returnType" : {
        "returnType" : "DescribeServiceAccessPoliciesResult",
        "documentation" : "<p>The result of a <code>DescribeServiceAccessPolicies</code> request.</p>"
      },
      "syncReturnType" : "DescribeServiceAccessPoliciesResult"
    },
    "DescribeSuggesters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSuggestersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSuggestersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSuggestersRequest, DescribeSuggestersResult>",
      "asyncReturnType" : "DescribeSuggestersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the suggesters configured for a domain. A suggester enables you to display possible matches before users finish typing their queries. Can be limited to specific suggesters by name. By default, shows all suggesters and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSuggestersRequest",
        "variableName" : "describeSuggestersRequest",
        "variableType" : "DescribeSuggestersRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeSuggester</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular suggesters, specify the names of the suggesters you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
        "simpleType" : "DescribeSuggestersRequest",
        "variableSetterType" : "DescribeSuggestersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSuggesters",
      "operationName" : "DescribeSuggesters",
      "returnType" : {
        "returnType" : "DescribeSuggestersResult",
        "documentation" : "<p>The result of a <code>DescribeSuggesters</code> request.</p>"
      },
      "syncReturnType" : "DescribeSuggestersResult"
    },
    "IndexDocuments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<IndexDocumentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<IndexDocumentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<IndexDocumentsRequest, IndexDocumentsResult>",
      "asyncReturnType" : "IndexDocumentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tells the search domain to start indexing its documents using the latest indexing options. This operation must be invoked to activate options whose <a>OptionStatus</a> is <code>RequiresIndexDocuments</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "IndexDocumentsRequest",
        "variableName" : "indexDocumentsRequest",
        "variableType" : "IndexDocumentsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>IndexDocuments</a></code> operation. Specifies the name of the domain you want to re-index.</p>",
        "simpleType" : "IndexDocumentsRequest",
        "variableSetterType" : "IndexDocumentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "indexDocuments",
      "operationName" : "IndexDocuments",
      "returnType" : {
        "returnType" : "IndexDocumentsResult",
        "documentation" : "<p>The result of an <code>IndexDocuments</code> request. Contains the status of the indexing operation, including the fields being indexed.</p>"
      },
      "syncReturnType" : "IndexDocumentsResult"
    },
    "ListDomainNames" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainNamesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainNamesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainNamesRequest, ListDomainNamesResult>",
      "asyncReturnType" : "ListDomainNamesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all search domains owned by an account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDomainNamesRequest",
        "variableName" : "listDomainNamesRequest",
        "variableType" : "ListDomainNamesRequest",
        "documentation" : null,
        "simpleType" : "ListDomainNamesRequest",
        "variableSetterType" : "ListDomainNamesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomainNames",
      "operationName" : "ListDomainNames",
      "returnType" : {
        "returnType" : "ListDomainNamesResult",
        "documentation" : "<p>The result of a <code>ListDomainNames</code> request. Contains a list of the domains owned by an account.</p>"
      },
      "syncReturnType" : "ListDomainNamesResult"
    },
    "UpdateAvailabilityOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAvailabilityOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAvailabilityOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAvailabilityOptionsRequest, UpdateAvailabilityOptionsResult>",
      "asyncReturnType" : "UpdateAvailabilityOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures the availability options for a domain. Enabling the Multi-AZ option expands an Amazon CloudSearch domain to an additional Availability Zone in the same Region to increase fault tolerance in the event of a service disruption. Changes to the Multi-AZ option can take about half an hour to become active. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html\" target=\"_blank\">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>The request was rejected because it attempted an operation which is not enabled.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAvailabilityOptionsRequest",
        "variableName" : "updateAvailabilityOptionsRequest",
        "variableType" : "UpdateAvailabilityOptionsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateAvailabilityOptions</a></code> operation. Specifies the name of the domain you want to update and the Multi-AZ availability option.</p>",
        "simpleType" : "UpdateAvailabilityOptionsRequest",
        "variableSetterType" : "UpdateAvailabilityOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAvailabilityOptions",
      "operationName" : "UpdateAvailabilityOptions",
      "returnType" : {
        "returnType" : "UpdateAvailabilityOptionsResult",
        "documentation" : "<p>The result of a <code>UpdateAvailabilityOptions</code> request. Contains the status of the domain's availability options. </p>"
      },
      "syncReturnType" : "UpdateAvailabilityOptionsResult"
    },
    "UpdateScalingParameters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateScalingParametersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateScalingParametersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateScalingParametersRequest, UpdateScalingParametersResult>",
      "asyncReturnType" : "UpdateScalingParametersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures scaling parameters for a domain. A domain's scaling parameters specify the desired search instance type and replication count. Amazon CloudSearch will still automatically scale your domain based on the volume of data and traffic, but not below the desired instance type and replication count. If the Multi-AZ option is enabled, these values control the resources used per Availability Zone. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-scaling-options.html\" target=\"_blank\">Configuring Scaling Options</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateScalingParametersRequest",
        "variableName" : "updateScalingParametersRequest",
        "variableType" : "UpdateScalingParametersRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateScalingParameters</a></code> operation. Specifies the name of the domain you want to update and the scaling parameters you want to configure.</p>",
        "simpleType" : "UpdateScalingParametersRequest",
        "variableSetterType" : "UpdateScalingParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateScalingParameters",
      "operationName" : "UpdateScalingParameters",
      "returnType" : {
        "returnType" : "UpdateScalingParametersResult",
        "documentation" : "<p>The result of a <code>UpdateScalingParameters</code> request. Contains the status of the newly-configured scaling parameters.</p>"
      },
      "syncReturnType" : "UpdateScalingParametersResult"
    },
    "UpdateServiceAccessPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServiceAccessPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServiceAccessPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServiceAccessPoliciesRequest, UpdateServiceAccessPoliciesResult>",
      "asyncReturnType" : "UpdateServiceAccessPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures the access rules that control access to the domain's document and search endpoints. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html\" target=\"_blank\"> Configuring Access for an Amazon CloudSearch Domain</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a resource limit has already been met.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The request was rejected because it specified an invalid type definition.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateServiceAccessPoliciesRequest",
        "variableName" : "updateServiceAccessPoliciesRequest",
        "variableType" : "UpdateServiceAccessPoliciesRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateServiceAccessPolicies</a></code> operation. Specifies the name of the domain you want to update and the access rules you want to configure.</p>",
        "simpleType" : "UpdateServiceAccessPoliciesRequest",
        "variableSetterType" : "UpdateServiceAccessPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateServiceAccessPolicies",
      "operationName" : "UpdateServiceAccessPolicies",
      "returnType" : {
        "returnType" : "UpdateServiceAccessPoliciesResult",
        "documentation" : "<p>The result of an <code>UpdateServiceAccessPolicies</code> request. Contains the new access policies.</p>"
      },
      "syncReturnType" : "UpdateServiceAccessPoliciesResult"
    }
  },
  "shapes" : {
    "AccessPoliciesStatus" : {
      "c2jName" : "AccessPoliciesStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Options",
        "c2jShape" : "PolicyDocument",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param options \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOptions",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getOptions",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Options",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Options",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Options",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param options */",
        "setterMethodName" : "setOptions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "options",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param options \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "options",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "OptionStatus",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param status \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "OptionStatus",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param status */",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "OptionStatus",
          "variableName" : "status",
          "variableType" : "OptionStatus",
          "documentation" : "",
          "simpleType" : "OptionStatus",
          "variableSetterType" : "OptionStatus"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param status \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "OptionStatus",
          "variableName" : "status",
          "variableType" : "OptionStatus",
          "documentation" : "",
          "simpleType" : "OptionStatus",
          "variableSetterType" : "OptionStatus"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Options" : {
          "c2jName" : "Options",
          "c2jShape" : "PolicyDocument",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param options \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOptions",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getOptions",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Options",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Options",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Options",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param options */",
          "setterMethodName" : "setOptions",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "options",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param options \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "options",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "Status",
          "c2jShape" : "OptionStatus",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param status \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getStatus",
          "getterModel" : {
            "returnType" : "OptionStatus",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Status",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Status",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param status */",
          "setterMethodName" : "setStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "OptionStatus",
            "variableName" : "status",
            "variableType" : "OptionStatus",
            "documentation" : "",
            "simpleType" : "OptionStatus",
            "variableSetterType" : "OptionStatus"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param status \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "OptionStatus",
            "variableName" : "status",
            "variableType" : "OptionStatus",
            "documentation" : "",
            "simpleType" : "OptionStatus",
            "variableSetterType" : "OptionStatus"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Options", "Status" ],
      "shapeName" : "AccessPoliciesStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessPoliciesStatus",
        "variableName" : "accessPoliciesStatus",
        "variableType" : "AccessPoliciesStatus",
        "documentation" : null,
        "simpleType" : "AccessPoliciesStatus",
        "variableSetterType" : "AccessPoliciesStatus"
      },
      "wrapper" : false
    },
    "AlgorithmicStemming" : {
      "c2jName" : "AlgorithmicStemming",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "None",
        "value" : "none"
      }, {
        "name" : "Minimal",
        "value" : "minimal"
      }, {
        "name" : "Light",
        "value" : "light"
      }, {
        "name" : "Full",
        "value" : "full"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AlgorithmicStemming",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlgorithmicStemming",
        "variableName" : "algorithmicStemming",
        "variableType" : "AlgorithmicStemming",
        "documentation" : null,
        "simpleType" : "AlgorithmicStemming",
        "variableSetterType" : "AlgorithmicStemming"
      },
      "wrapper" : false
    },
    "AnalysisOptions" : {
      "c2jName" : "AnalysisOptions",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Synonyms, stopwords, and stemming options for an analysis scheme. Includes tokenization dictionary for Japanese.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Synonyms",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>\n@param synonyms A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSynonyms",
        "getterDocumentation" : "/**<p>A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>\n@return A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.*/",
        "getterMethodName" : "getSynonyms",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Synonyms",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Synonyms",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Synonyms",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>\n@param synonyms A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.*/",
        "setterMethodName" : "setSynonyms",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "synonyms",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>\n@param synonyms A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "synonyms",
          "variableType" : "String",
          "documentation" : "<p>A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Stopwords",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A JSON array of terms to ignore during indexing and searching. For example, <code>[\"a\", \"an\", \"the\", \"of\"]</code>. The stopwords dictionary must explicitly list each word you want to ignore. Wildcards and regular expressions are not supported. </p>",
        "enumType" : null,
[...]
