{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "UploadDocumentsRequest" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : [ {
          "ContentLength" : {
            "deprecated" : false,
            "documentation" : null,
            "flattened" : false,
            "idempotencyToken" : false,
            "location" : "header",
            "locationName" : "Content-Length",
            "payload" : false,
            "queryName" : null,
            "shape" : "Long",
            "streaming" : false,
            "xmlNamespace" : null
          }
        } ],
        "modify" : null
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true
  },
  "metadata" : {
    "apiVersion" : "2013-01-01",
    "asyncClient" : "AmazonCloudSearchDomainAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCloudSearchDomainAsyncClientBuilder",
    "asyncInterface" : "AmazonCloudSearchDomainAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonCloudSearchDomainModuleInjector",
    "defaultEndpoint" : null,
    "defaultEndpointWithoutHttpProtocol" : null,
    "documentation" : "<p>You use the AmazonCloudSearch2013 API to upload documents to a search domain and search those documents. </p> <p>The endpoints for submitting <code>UploadDocuments</code>, <code>Search</code>, and <code>Suggest</code> requests are domain-specific. To get the endpoints for your domain, use the Amazon CloudSearch configuration service <code>DescribeDomains</code> action. The domain endpoints are also displayed on the domain dashboard in the Amazon CloudSearch console. You submit suggest requests to the search endpoint. </p> <p>For more information, see the <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide\">Amazon CloudSearch Developer Guide</a>.</p>",
    "endpointPrefix" : "cloudsearchdomain",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cloudsearchdomain",
    "packagePath" : "com/amazonaws/services/cloudsearchdomain",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudSearch Domain",
    "serviceName" : "Amazon CloudSearch Domain",
    "signingName" : "cloudsearch",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudsearchdomain.smoketests",
    "syncClient" : "AmazonCloudSearchDomainClient",
    "syncClientBuilderClassName" : "AmazonCloudSearchDomainClientBuilder",
    "syncInterface" : "AmazonCloudSearchDomain",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "Search" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchRequest, SearchResult>",
      "asyncReturnType" : "SearchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of documents that match the specified search criteria. How you specify the search criteria depends on which query parser you use. Amazon CloudSearch supports four query parsers:</p> <ul> <li><code>simple</code>: search all <code>text</code> and <code>text-array</code> fields for the specified string. Search for phrases, individual terms, and prefixes. </li> <li><code>structured</code>: search specific fields, construct compound queries using Boolean operators, and use advanced features such as term boosting and proximity searching.</li> <li><code>lucene</code>: specify search criteria using the Apache Lucene query parser syntax.</li> <li><code>dismax</code>: specify search criteria using the simplified subset of the Apache Lucene query parser syntax defined by the DisMax query parser.</li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/searching.html\">Searching Your Data</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p> <p>The endpoint for submitting <code>Search</code> requests is domain-specific. You submit search requests to a domain's search endpoint. To get the search endpoint for your domain, use the Amazon CloudSearch configuration service <code>DescribeDomains</code> action. A domain's endpoints are also displayed on the domain dashboard in the Amazon CloudSearch console. </p>",
      "exceptions" : [ {
        "exceptionName" : "SearchException",
        "documentation" : "<p>Information about any problems encountered while processing a search request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchRequest",
        "variableName" : "searchRequest",
        "variableType" : "SearchRequest",
        "documentation" : "<p>Container for the parameters to the <code>Search</code> request.</p>",
        "simpleType" : "SearchRequest",
        "variableSetterType" : "SearchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "search",
      "operationName" : "Search",
      "returnType" : {
        "returnType" : "SearchResult",
        "documentation" : "<p>The result of a <code>Search</code> request. Contains the documents that match the specified search criteria and any requested fields, highlights, and facet information.</p>"
      },
      "syncReturnType" : "SearchResult"
    },
    "Suggest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SuggestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SuggestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SuggestRequest, SuggestResult>",
      "asyncReturnType" : "SuggestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves autocomplete suggestions for a partial query string. You can use suggestions enable you to display likely matches before users finish typing. In Amazon CloudSearch, suggestions are based on the contents of a particular text field. When you request suggestions, Amazon CloudSearch finds all of the documents whose values in the suggester field start with the specified query string. The beginning of the field must match the query string to be considered a match. </p> <p>For more information about configuring suggesters and retrieving suggestions, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\">Getting Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p> <p>The endpoint for submitting <code>Suggest</code> requests is domain-specific. You submit suggest requests to a domain's search endpoint. To get the search endpoint for your domain, use the Amazon CloudSearch configuration service <code>DescribeDomains</code> action. A domain's endpoints are also displayed on the domain dashboard in the Amazon CloudSearch console. </p>",
      "exceptions" : [ {
        "exceptionName" : "SearchException",
        "documentation" : "<p>Information about any problems encountered while processing a search request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SuggestRequest",
        "variableName" : "suggestRequest",
        "variableType" : "SuggestRequest",
        "documentation" : "<p>Container for the parameters to the <code>Suggest</code> request.</p>",
        "simpleType" : "SuggestRequest",
        "variableSetterType" : "SuggestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "suggest",
      "operationName" : "Suggest",
      "returnType" : {
        "returnType" : "SuggestResult",
        "documentation" : "<p>Contains the response to a <code>Suggest</code> request.</p>"
      },
      "syncReturnType" : "SuggestResult"
    },
    "UploadDocuments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UploadDocumentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UploadDocumentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UploadDocumentsRequest, UploadDocumentsResult>",
      "asyncReturnType" : "UploadDocumentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Posts a batch of documents to a search domain for indexing. A document batch is a collection of add and delete operations that represent the documents you want to add, update, or delete from your domain. Batches can be described in either JSON or XML. Each item that you want Amazon CloudSearch to return as a search result (such as a product) is represented as a document. Every document has a unique ID and one or more fields that contain the data that you want to search and return in results. Individual documents cannot contain more than 1 MB of data. The entire batch cannot exceed 5 MB. To get the best possible upload performance, group add and delete operations in batches that are close the 5 MB limit. Submitting a large volume of single-document batches can overload a domain's document service. </p> <p>The endpoint for submitting <code>UploadDocuments</code> requests is domain-specific. To get the document endpoint for your domain, use the Amazon CloudSearch configuration service <code>DescribeDomains</code> action. A domain's endpoints are also displayed on the domain dashboard in the Amazon CloudSearch console. </p> <p>For more information about formatting your data for Amazon CloudSearch, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/preparing-data.html\">Preparing Your Data</a> in the <i>Amazon CloudSearch Developer Guide</i>. For more information about uploading data for indexing, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/uploading-data.html\">Uploading Data</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "exceptions" : [ {
        "exceptionName" : "DocumentServiceException",
        "documentation" : "<p>Information about any problems encountered while processing an upload request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UploadDocumentsRequest",
        "variableName" : "uploadDocumentsRequest",
        "variableType" : "UploadDocumentsRequest",
        "documentation" : "<p>Container for the parameters to the <code>UploadDocuments</code> request.</p>",
        "simpleType" : "UploadDocumentsRequest",
        "variableSetterType" : "UploadDocumentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "uploadDocuments",
      "operationName" : "UploadDocuments",
      "returnType" : {
        "returnType" : "UploadDocumentsResult",
        "documentation" : "<p>Contains the response to an <code>UploadDocuments</code> request.</p>"
      },
      "syncReturnType" : "UploadDocumentsResult"
    }
  },
  "shapes" : {
    "Bucket" : {
      "c2jName" : "Bucket",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A container for facet information. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "value",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The facet value being counted.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The facet value being counted.</p>\n@param value The facet value being counted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The facet value being counted.</p>\n@return The facet value being counted.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "value",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "value",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Value",
        "setterDocumentation" : "/**<p>The facet value being counted.</p>\n@param value The facet value being counted.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "value",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The facet value being counted.</p>\n@param value The facet value being counted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "value",
          "variableType" : "String",
          "documentation" : "<p>The facet value being counted.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "count",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The number of hits that contain the facet value in the specified facet field.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of hits that contain the facet value in the specified facet field.</p>\n@param count The number of hits that contain the facet value in the specified facet field.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The number of hits that contain the facet value in the specified facet field.</p>\n@return The number of hits that contain the facet value in the specified facet field.*/",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "count",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "count",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Count",
        "setterDocumentation" : "/**<p>The number of hits that contain the facet value in the specified facet field.</p>\n@param count The number of hits that contain the facet value in the specified facet field.*/",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "count",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The number of hits that contain the facet value in the specified facet field.</p>\n@param count The number of hits that contain the facet value in the specified facet field.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "count",
          "variableType" : "Long",
          "documentation" : "<p>The number of hits that contain the facet value in the specified facet field.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Count" : {
          "c2jName" : "count",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p>The number of hits that contain the facet value in the specified facet field.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of hits that contain the facet value in the specified facet field.</p>\n@param count The number of hits that contain the facet value in the specified facet field.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The number of hits that contain the facet value in the specified facet field.</p>\n@return The number of hits that contain the facet value in the specified facet field.*/",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "count",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "count",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Count",
          "setterDocumentation" : "/**<p>The number of hits that contain the facet value in the specified facet field.</p>\n@param count The number of hits that contain the facet value in the specified facet field.*/",
          "setterModel" : {
            "variableDeclarationType" : "Long",
            "variableName" : "count",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The number of hits that contain the facet value in the specified facet field.</p>\n@param count The number of hits that contain the facet value in the specified facet field.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Long",
            "variableName" : "count",
            "variableType" : "Long",
            "documentation" : "<p>The number of hits that contain the facet value in the specified facet field.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "Value" : {
          "c2jName" : "value",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The facet value being counted.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The facet value being counted.</p>\n@param value The facet value being counted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The facet value being counted.</p>\n@return The facet value being counted.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "value",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "value",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Value",
          "setterDocumentation" : "/**<p>The facet value being counted.</p>\n@param value The facet value being counted.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "value",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The facet value being counted.</p>\n@param value The facet value being counted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "value",
            "variableType" : "String",
            "documentation" : "<p>The facet value being counted.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "Bucket",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Bucket",
        "variableName" : "bucket",
        "variableType" : "Bucket",
        "documentation" : null,
        "simpleType" : "Bucket",
        "variableSetterType" : "Bucket"
      },
      "wrapper" : false
    },
    "BucketInfo" : {
      "c2jName" : "BucketInfo",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A container for the calculated facet values and counts.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "buckets",
        "c2jShape" : "BucketList",
        "deprecated" : false,
        "documentation" : "<p>A list of the calculated facet values and counts.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of the calculated facet values and counts.</p>\n@param buckets A list of the calculated facet values and counts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A list of the calculated facet values and counts.</p>\n@return A list of the calculated facet values and counts.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Bucket>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "buckets",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "buckets",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Bucket",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Bucket",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Bucket",
              "variableName" : "member",
              "variableType" : "Bucket",
              "documentation" : "",
              "simpleType" : "Bucket",
              "variableSetterType" : "Bucket"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Bucket",
              "variableName" : "member",
              "variableType" : "Bucket",
              "documentation" : "",
              "simpleType" : "Bucket",
              "variableSetterType" : "Bucket"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Bucket",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Bucket",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Bucket>",
          "templateType" : "java.util.List<Bucket>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Buckets",
        "setterDocumentation" : "/**<p>A list of the calculated facet values and counts.</p>\n@param buckets A list of the calculated facet values and counts.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Bucket>",
          "variableName" : "buckets",
          "variableType" : "java.util.List<Bucket>",
          "documentation" : "",
          "simpleType" : "List<Bucket>",
          "variableSetterType" : "java.util.Collection<Bucket>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>A list of the calculated facet values and counts.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBuckets(java.util.Collection)} or {@link #withBuckets(java.util.Collection)} if you want to override the existing values.</p>\n@param buckets A list of the calculated facet values and counts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Bucket>",
          "variableName" : "buckets",
          "variableType" : "java.util.List<Bucket>",
          "documentation" : "<p>A list of the calculated facet values and counts.</p>",
          "simpleType" : "List<Bucket>",
          "variableSetterType" : "java.util.Collection<Bucket>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Buckets" : {
          "c2jName" : "buckets",
          "c2jShape" : "BucketList",
          "deprecated" : false,
          "documentation" : "<p>A list of the calculated facet values and counts.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of the calculated facet values and counts.</p>\n@param buckets A list of the calculated facet values and counts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>A list of the calculated facet values and counts.</p>\n@return A list of the calculated facet values and counts.*/",
          "getterModel" : {
            "returnType" : "java.util.List<Bucket>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "buckets",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "buckets",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Bucket",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "Bucket",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "Bucket",
                "variableName" : "member",
                "variableType" : "Bucket",
                "documentation" : "",
                "simpleType" : "Bucket",
                "variableSetterType" : "Bucket"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Bucket",
                "variableName" : "member",
                "variableType" : "Bucket",
                "documentation" : "",
                "simpleType" : "Bucket",
                "variableSetterType" : "Bucket"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Bucket",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Bucket",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Bucket>",
            "templateType" : "java.util.List<Bucket>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "Buckets",
          "setterDocumentation" : "/**<p>A list of the calculated facet values and counts.</p>\n@param buckets A list of the calculated facet values and counts.*/",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Bucket>",
            "variableName" : "buckets",
            "variableType" : "java.util.List<Bucket>",
            "documentation" : "",
            "simpleType" : "List<Bucket>",
            "variableSetterType" : "java.util.Collection<Bucket>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>A list of the calculated facet values and counts.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBuckets(java.util.Collection)} or {@link #withBuckets(java.util.Collection)} if you want to override the existing values.</p>\n@param buckets A list of the calculated facet values and counts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Bucket>",
            "variableName" : "buckets",
            "variableType" : "java.util.List<Bucket>",
            "documentation" : "<p>A list of the calculated facet values and counts.</p>",
            "simpleType" : "List<Bucket>",
            "variableSetterType" : "java.util.Collection<Bucket>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "BucketInfo",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BucketInfo",
        "variableName" : "bucketInfo",
        "variableType" : "BucketInfo",
        "documentation" : null,
        "simpleType" : "BucketInfo",
        "variableSetterType" : "BucketInfo"
      },
      "wrapper" : false
    },
    "ContentType" : {
      "c2jName" : "ContentType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "Applicationjson",
        "value" : "application/json"
      }, {
        "name" : "Applicationxml",
        "value" : "application/xml"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ContentType",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ContentType",
        "variableName" : "contentType",
        "variableType" : "ContentType",
        "documentation" : null,
        "simpleType" : "ContentType",
        "variableSetterType" : "ContentType"
      },
      "wrapper" : false
    },
    "DocumentServiceException" : {
      "c2jName" : "DocumentServiceException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about any problems encountered while processing an upload request.</p>",
      "enums" : null,
      "errorCode" : "DocumentServiceException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "status",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The return status of a document upload request, <code>error</code> or <code>success</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The return status of a document upload request, <code>error</code> or <code>success</code>.</p>\n@param status The return status of a document upload request, <code>error</code> or <code>success</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The return status of a document upload request, <code>error</code> or <code>success</code>.</p>\n@return The return status of a document upload request, <code>error</code> or <code>success</code>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Status",
        "setterDocumentation" : "/**<p>The return status of a document upload request, <code>error</code> or <code>success</code>.</p>\n@param status The return status of a document upload request, <code>error</code> or <code>success</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The return status of a document upload request, <code>error</code> or <code>success</code>.</p>\n@param status The return status of a document upload request, <code>error</code> or <code>success</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The return status of a document upload request, <code>error</code> or <code>success</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Status" : {
          "c2jName" : "status",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The return status of a document upload request, <code>error</code> or <code>success</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The return status of a document upload request, <code>error</code> or <code>success</code>.</p>\n@param status The return status of a document upload request, <code>error</code> or <code>success</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The return status of a document upload request, <code>error</code> or <code>success</code>.</p>\n@return The return status of a document upload request, <code>error</code> or <code>success</code>.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "status",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Status",
          "setterDocumentation" : "/**<p>The return status of a document upload request, <code>error</code> or <code>success</code>.</p>\n@param status The return status of a document upload request, <code>error</code> or <code>success</code>.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The return status of a document upload request, <code>error</code> or <code>success</code>.</p>\n@param status The return status of a document upload request, <code>error</code> or <code>success</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "<p>The return status of a document upload request, <code>error</code> or <code>success</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "DocumentServiceException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "DocumentServiceException",
        "variableName" : "documentServiceException",
        "variableType" : "DocumentServiceException",
        "documentation" : null,
        "simpleType" : "DocumentServiceException",
        "variableSetterType" : "DocumentServiceException"
      },
      "wrapper" : false
    },
    "DocumentServiceWarning" : {
      "c2jName" : "DocumentServiceWarning",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A warning returned by the document service when an issue is discovered while processing an upload request.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "message",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The description for a warning returned by the document service.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description for a warning returned by the document service.</p>\n@param message The description for a warning returned by the document service.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The description for a warning returned by the document service.</p>\n@return The description for a warning returned by the document service.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "message",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "message",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Message",
        "setterDocumentation" : "/**<p>The description for a warning returned by the document service.</p>\n@param message The description for a warning returned by the document service.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "message",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The description for a warning returned by the document service.</p>\n@param message The description for a warning returned by the document service.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "message",
          "variableType" : "String",
          "documentation" : "<p>The description for a warning returned by the document service.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Message" : {
          "c2jName" : "message",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The description for a warning returned by the document service.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The description for a warning returned by the document service.</p>\n@param message The description for a warning returned by the document service.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The description for a warning returned by the document service.</p>\n@return The description for a warning returned by the document service.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "message",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "message",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Message",
          "setterDocumentation" : "/**<p>The description for a warning returned by the document service.</p>\n@param message The description for a warning returned by the document service.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "message",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The description for a warning returned by the document service.</p>\n@param message The description for a warning returned by the document service.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "message",
            "variableType" : "String",
            "documentation" : "<p>The description for a warning returned by the document service.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "DocumentServiceWarning",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "DocumentServiceWarning",
        "variableName" : "documentServiceWarning",
        "variableType" : "DocumentServiceWarning",
        "documentation" : null,
        "simpleType" : "DocumentServiceWarning",
        "variableSetterType" : "DocumentServiceWarning"
      },
      "wrapper" : false
    },
    "FieldStats" : {
      "c2jName" : "FieldStats",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The statistics for a field calculated in the request.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "min",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The minimum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>min</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>min</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The minimum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>min</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>min</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param min The minimum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>min</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>min</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The minimum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>min</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>min</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@return The minimum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>min</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>min</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "min",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "min",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Min",
        "setterDocumentation" : "/**<p>The minimum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>min</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>min</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param min The minimum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>min</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>min</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "min",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The minimum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>min</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>min</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param min The minimum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>min</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>min</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "min",
          "variableType" : "String",
          "documentation" : "<p>The minimum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>min</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>min</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "max",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param max The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@return The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "max",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "max",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Max",
        "setterDocumentation" : "/**<p>The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param max The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "max",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param max The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "max",
          "variableType" : "String",
          "documentation" : "<p>The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "count",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The number of documents that contain a value in the specified field in the result set.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of documents that contain a value in the specified field in the result set.</p>\n@param count The number of documents that contain a value in the specified field in the result set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The number of documents that contain a value in the specified field in the result set.</p>\n@return The number of documents that contain a value in the specified field in the result set.*/",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "count",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "count",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Count",
        "setterDocumentation" : "/**<p>The number of documents that contain a value in the specified field in the result set.</p>\n@param count The number of documents that contain a value in the specified field in the result set.*/",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "count",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The number of documents that contain a value in the specified field in the result set.</p>\n@param count The number of documents that contain a value in the specified field in the result set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "count",
          "variableType" : "Long",
          "documentation" : "<p>The number of documents that contain a value in the specified field in the result set.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "missing",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The number of documents that do not contain a value in the specified field in the result set.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of documents that do not contain a value in the specified field in the result set.</p>\n@param missing The number of documents that do not contain a value in the specified field in the result set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The number of documents that do not contain a value in the specified field in the result set.</p>\n@return The number of documents that do not contain a value in the specified field in the result set.*/",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "missing",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "missing",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Missing",
        "setterDocumentation" : "/**<p>The number of documents that do not contain a value in the specified field in the result set.</p>\n@param missing The number of documents that do not contain a value in the specified field in the result set.*/",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "missing",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The number of documents that do not contain a value in the specified field in the result set.</p>\n@param missing The number of documents that do not contain a value in the specified field in the result set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "missing",
          "variableType" : "Long",
          "documentation" : "<p>The number of documents that do not contain a value in the specified field in the result set.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "sum",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>The sum of the field values across the documents in the result set. <code>null</code> for date fields.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The sum of the field values across the documents in the result set. <code>null</code> for date fields.</p>\n@param sum The sum of the field values across the documents in the result set. <code>null</code> for date fields.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The sum of the field values across the documents in the result set. <code>null</code> for date fields.</p>\n@return The sum of the field values across the documents in the result set. <code>null</code> for date fields.*/",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "sum",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Sum",
        "setterDocumentation" : "/**<p>The sum of the field values across the documents in the result set. <code>null</code> for date fields.</p>\n@param sum The sum of the field values across the documents in the result set. <code>null</code> for date fields.*/",
        "setterModel" : {
          "variableDeclarationType" : "Double",
          "variableName" : "sum",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The sum of the field values across the documents in the result set. <code>null</code> for date fields.</p>\n@param sum The sum of the field values across the documents in the result set. <code>null</code> for date fields.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Double",
          "variableName" : "sum",
          "variableType" : "Double",
          "documentation" : "<p>The sum of the field values across the documents in the result set. <code>null</code> for date fields.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "sumOfSquares",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>The sum of all field values in the result set squared.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The sum of all field values in the result set squared.</p>\n@param sumOfSquares The sum of all field values in the result set squared.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The sum of all field values in the result set squared.</p>\n@return The sum of all field values in the result set squared.*/",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "sumOfSquares",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sumOfSquares",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SumOfSquares",
        "setterDocumentation" : "/**<p>The sum of all field values in the result set squared.</p>\n@param sumOfSquares The sum of all field values in the result set squared.*/",
        "setterModel" : {
          "variableDeclarationType" : "Double",
          "variableName" : "sumOfSquares",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The sum of all field values in the result set squared.</p>\n@param sumOfSquares The sum of all field values in the result set squared.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Double",
          "variableName" : "sumOfSquares",
          "variableType" : "Double",
          "documentation" : "<p>The sum of all field values in the result set squared.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "mean",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param mean The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@return The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "mean",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "mean",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Mean",
        "setterDocumentation" : "/**<p>The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param mean The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "mean",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param mean The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "mean",
          "variableType" : "String",
          "documentation" : "<p>The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "stddev",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>The standard deviation of the values in the specified field in the result set.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The standard deviation of the values in the specified field in the result set.</p>\n@param stddev The standard deviation of the values in the specified field in the result set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The standard deviation of the values in the specified field in the result set.</p>\n@return The standard deviation of the values in the specified field in the result set.*/",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "stddev",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "stddev",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Stddev",
        "setterDocumentation" : "/**<p>The standard deviation of the values in the specified field in the result set.</p>\n@param stddev The standard deviation of the values in the specified field in the result set.*/",
        "setterModel" : {
          "variableDeclarationType" : "Double",
          "variableName" : "stddev",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The standard deviation of the values in the specified field in the result set.</p>\n@param stddev The standard deviation of the values in the specified field in the result set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Double",
          "variableName" : "stddev",
          "variableType" : "Double",
          "documentation" : "<p>The standard deviation of the values in the specified field in the result set.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Count" : {
          "c2jName" : "count",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p>The number of documents that contain a value in the specified field in the result set.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of documents that contain a value in the specified field in the result set.</p>\n@param count The number of documents that contain a value in the specified field in the result set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The number of documents that contain a value in the specified field in the result set.</p>\n@return The number of documents that contain a value in the specified field in the result set.*/",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "count",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "count",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Count",
          "setterDocumentation" : "/**<p>The number of documents that contain a value in the specified field in the result set.</p>\n@param count The number of documents that contain a value in the specified field in the result set.*/",
          "setterModel" : {
            "variableDeclarationType" : "Long",
            "variableName" : "count",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The number of documents that contain a value in the specified field in the result set.</p>\n@param count The number of documents that contain a value in the specified field in the result set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Long",
            "variableName" : "count",
            "variableType" : "Long",
            "documentation" : "<p>The number of documents that contain a value in the specified field in the result set.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "Max" : {
          "c2jName" : "max",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param max The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@return The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "max",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "max",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Max",
          "setterDocumentation" : "/**<p>The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param max The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "max",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param max The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "max",
            "variableType" : "String",
            "documentation" : "<p>The maximum value found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>max</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>max</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Mean" : {
          "c2jName" : "mean",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.</p>\n@param mean The average of the values found in the specified field in the result set.</p> <p>If the field is numeric (<code>int</code>, <code>int-array</code>, <code>double</code>, or <code>double-array</code>), <code>mean</code> is the string representation of a double-precision 64-bit floating point value. If the field is <code>date</code> or <code>date-array</code>, <code>mean</code> is the string representation of a date with the format specified in <a href=\"http://tools.ietf.org/html/rfc3339\">IETF RFC3339</a>: yyyy-mm-ddTHH:mm:ss.SSSZ.\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
