{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-04-28",
    "asyncClient" : "AWSCloudHSMV2AsyncClient",
    "asyncClientBuilderClassName" : "AWSCloudHSMV2AsyncClientBuilder",
    "asyncInterface" : "AWSCloudHSMV2Async",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCloudHSMV2ModuleInjector",
    "defaultEndpoint" : "cloudhsmv2.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cloudhsmv2.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>For more information about AWS CloudHSM, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a> and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>.</p>",
    "endpointPrefix" : "cloudhsmv2",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cloudhsmv2",
    "packagePath" : "com/amazonaws/services/cloudhsmv2",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "CloudHSM V2",
    "serviceFullName" : "AWS CloudHSM V2",
    "serviceId" : "CloudHSM V2",
    "serviceName" : "CloudHSM V2",
    "signingName" : "cloudhsm",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudhsmv2.smoketests",
    "syncClient" : "AWSCloudHSMV2Client",
    "syncClientBuilderClassName" : "AWSCloudHSMV2ClientBuilder",
    "syncInterface" : "AWSCloudHSMV2",
    "uid" : "cloudhsmv2-2017-04-28",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CopyBackupToRegion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CopyBackupToRegionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CopyBackupToRegionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CopyBackupToRegionRequest, CopyBackupToRegionResult>",
      "asyncReturnType" : "CopyBackupToRegionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Copy an AWS CloudHSM cluster backup to a different region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CopyBackupToRegionRequest",
        "variableName" : "copyBackupToRegionRequest",
        "variableType" : "CopyBackupToRegionRequest",
        "documentation" : "",
        "simpleType" : "CopyBackupToRegionRequest",
        "variableSetterType" : "CopyBackupToRegionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "copyBackupToRegion",
      "operationName" : "CopyBackupToRegion",
      "returnType" : {
        "returnType" : "CopyBackupToRegionResult",
        "documentation" : null
      },
      "syncReturnType" : "CopyBackupToRegionResult"
    },
    "CreateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateClusterRequest, CreateClusterResult>",
      "asyncReturnType" : "CreateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new AWS CloudHSM cluster.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateClusterRequest",
        "variableName" : "createClusterRequest",
        "variableType" : "CreateClusterRequest",
        "documentation" : "",
        "simpleType" : "CreateClusterRequest",
        "variableSetterType" : "CreateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCluster",
      "operationName" : "CreateCluster",
      "returnType" : {
        "returnType" : "CreateClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateClusterResult"
    },
    "CreateHsm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHsmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHsmRequest, CreateHsmResult>",
      "asyncReturnType" : "CreateHsmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new hardware security module (HSM) in the specified AWS CloudHSM cluster.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateHsmRequest",
        "variableName" : "createHsmRequest",
        "variableType" : "CreateHsmRequest",
        "documentation" : "",
        "simpleType" : "CreateHsmRequest",
        "variableSetterType" : "CreateHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createHsm",
      "operationName" : "CreateHsm",
      "returnType" : {
        "returnType" : "CreateHsmResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateHsmResult"
    },
    "DeleteBackup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackupRequest, DeleteBackupResult>",
      "asyncReturnType" : "DeleteBackupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specified AWS CloudHSM backup. A backup can be restored up to 7 days after the DeleteBackup request. For more information on restoring a backup, see <a>RestoreBackup</a> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBackupRequest",
        "variableName" : "deleteBackupRequest",
        "variableType" : "DeleteBackupRequest",
        "documentation" : "",
        "simpleType" : "DeleteBackupRequest",
        "variableSetterType" : "DeleteBackupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackup",
      "operationName" : "DeleteBackup",
      "returnType" : {
        "returnType" : "DeleteBackupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBackupResult"
    },
    "DeleteCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteClusterRequest, DeleteClusterResult>",
      "asyncReturnType" : "DeleteClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified AWS CloudHSM cluster. Before you can delete a cluster, you must delete all HSMs in the cluster. To see if the cluster contains any HSMs, use <a>DescribeClusters</a>. To delete an HSM, use <a>DeleteHsm</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteClusterRequest",
        "variableName" : "deleteClusterRequest",
        "variableType" : "DeleteClusterRequest",
        "documentation" : "",
        "simpleType" : "DeleteClusterRequest",
        "variableSetterType" : "DeleteClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCluster",
      "operationName" : "DeleteCluster",
      "returnType" : {
        "returnType" : "DeleteClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteClusterResult"
    },
    "DeleteHsm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHsmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHsmRequest, DeleteHsmResult>",
      "asyncReturnType" : "DeleteHsmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified HSM. To specify an HSM, you can use its identifier (ID), the IP address of the HSM's elastic network interface (ENI), or the ID of the HSM's ENI. You need to specify only one of these values. To find these values, use <a>DescribeClusters</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteHsmRequest",
        "variableName" : "deleteHsmRequest",
        "variableType" : "DeleteHsmRequest",
        "documentation" : "",
        "simpleType" : "DeleteHsmRequest",
        "variableSetterType" : "DeleteHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteHsm",
      "operationName" : "DeleteHsm",
      "returnType" : {
        "returnType" : "DeleteHsmResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteHsmResult"
    },
    "DescribeBackups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBackupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBackupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBackupsRequest, DescribeBackupsResult>",
      "asyncReturnType" : "DescribeBackupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about backups of AWS CloudHSM clusters.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the backups. When the response contains only a subset of backups, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>DescribeBackups</code> request to get more backups. When you receive a response with no <code>NextToken</code> (or an empty or null value), that means there are no more backups to get.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBackupsRequest",
        "variableName" : "describeBackupsRequest",
        "variableType" : "DescribeBackupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeBackupsRequest",
        "variableSetterType" : "DescribeBackupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBackups",
      "operationName" : "DescribeBackups",
      "returnType" : {
        "returnType" : "DescribeBackupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBackupsResult"
    },
    "DescribeClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClustersRequest, DescribeClustersResult>",
      "asyncReturnType" : "DescribeClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about AWS CloudHSM clusters.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the clusters. When the response contains only a subset of clusters, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>DescribeClusters</code> request to get more clusters. When you receive a response with no <code>NextToken</code> (or an empty or null value), that means there are no more clusters to get.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeClustersRequest",
        "variableName" : "describeClustersRequest",
        "variableType" : "DescribeClustersRequest",
        "documentation" : "",
        "simpleType" : "DescribeClustersRequest",
        "variableSetterType" : "DescribeClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeClusters",
      "operationName" : "DescribeClusters",
      "returnType" : {
        "returnType" : "DescribeClustersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeClustersResult"
    },
    "InitializeCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InitializeClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InitializeClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InitializeClusterRequest, InitializeClusterResult>",
      "asyncReturnType" : "InitializeClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Claims an AWS CloudHSM cluster by submitting the cluster certificate issued by your issuing certificate authority (CA) and the CA's root certificate. Before you can claim a cluster, you must sign the cluster's certificate signing request (CSR) with your issuing CA. To get the cluster's CSR, use <a>DescribeClusters</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InitializeClusterRequest",
        "variableName" : "initializeClusterRequest",
        "variableType" : "InitializeClusterRequest",
        "documentation" : "",
        "simpleType" : "InitializeClusterRequest",
        "variableSetterType" : "InitializeClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "initializeCluster",
      "operationName" : "InitializeCluster",
      "returnType" : {
        "returnType" : "InitializeClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "InitializeClusterResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of tags for the specified AWS CloudHSM cluster.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the tags. When the response contains only a subset of tags, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>ListTags</code> request to get more tags. When you receive a response with no <code>NextToken</code> (or an empty or null value), that means there are no more tags to get.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsResult"
    },
    "RestoreBackup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RestoreBackupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RestoreBackupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestoreBackupRequest, RestoreBackupResult>",
      "asyncReturnType" : "RestoreBackupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Restores a specified AWS CloudHSM backup that is in the <code>PENDING_DELETION</code> state. For more information on deleting a backup, see <a>DeleteBackup</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RestoreBackupRequest",
        "variableName" : "restoreBackupRequest",
        "variableType" : "RestoreBackupRequest",
        "documentation" : "",
        "simpleType" : "RestoreBackupRequest",
        "variableSetterType" : "RestoreBackupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "restoreBackup",
      "operationName" : "RestoreBackup",
      "returnType" : {
        "returnType" : "RestoreBackupResult",
        "documentation" : null
      },
      "syncReturnType" : "RestoreBackupResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or overwrites one or more tags for the specified AWS CloudHSM cluster.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tag or tags from the specified AWS CloudHSM cluster.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmInternalFailureException",
        "documentation" : "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>The request was rejected because an error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmResourceNotFoundException",
        "documentation" : "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmInvalidRequestException",
        "documentation" : "<p>The request was rejected because it is not a valid request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmAccessDeniedException",
        "documentation" : "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "Backup" : {
      "c2jName" : "Backup",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains information about a backup of an AWS CloudHSM cluster.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BackupId",
        "c2jShape" : "BackupId",
        "deprecated" : false,
        "documentation" : "<p>The identifier (ID) of the backup.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier (ID) of the backup.</p>\n@param backupId The identifier (ID) of the backup.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBackupId",
        "getterDocumentation" : "/**<p>The identifier (ID) of the backup.</p>\n@return The identifier (ID) of the backup.*/",
        "getterMethodName" : "getBackupId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BackupId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BackupId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BackupId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier (ID) of the backup.</p>\n@param backupId The identifier (ID) of the backup.*/",
        "setterMethodName" : "setBackupId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "backupId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier (ID) of the backup.</p>\n@param backupId The identifier (ID) of the backup.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "backupId",
          "variableType" : "String",
          "documentation" : "<p>The identifier (ID) of the backup.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BackupState",
        "c2jShape" : "BackupState",
        "deprecated" : false,
        "documentation" : "<p>The state of the backup.</p>",
        "enumType" : "BackupState",
        "fluentSetterDocumentation" : "/**<p>The state of the backup.</p>\n@param backupState The state of the backup.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BackupState*/",
        "fluentSetterMethodName" : "withBackupState",
        "getterDocumentation" : "/**<p>The state of the backup.</p>\n@return The state of the backup.\n@see BackupState*/",
        "getterMethodName" : "getBackupState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BackupState",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BackupState",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BackupState",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The state of the backup.</p>\n@param backupState The state of the backup.\n@see BackupState*/",
        "setterMethodName" : "setBackupState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "backupState",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The state of the backup.</p>\n@param backupState The state of the backup.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BackupState*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "backupState",
          "variableType" : "String",
          "documentation" : "<p>The state of the backup.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClusterId",
        "c2jShape" : "ClusterId",
        "deprecated" : false,
        "documentation" : "<p>The identifier (ID) of the cluster that was backed up.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier (ID) of the cluster that was backed up.</p>\n@param clusterId The identifier (ID) of the cluster that was backed up.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClusterId",
        "getterDocumentation" : "/**<p>The identifier (ID) of the cluster that was backed up.</p>\n@return The identifier (ID) of the cluster that was backed up.*/",
        "getterMethodName" : "getClusterId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClusterId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClusterId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClusterId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier (ID) of the cluster that was backed up.</p>\n@param clusterId The identifier (ID) of the cluster that was backed up.*/",
        "setterMethodName" : "setClusterId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clusterId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier (ID) of the cluster that was backed up.</p>\n@param clusterId The identifier (ID) of the cluster that was backed up.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clusterId",
          "variableType" : "String",
          "documentation" : "<p>The identifier (ID) of the cluster that was backed up.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreateTimestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time when the backup was created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time when the backup was created.</p>\n@param createTimestamp The date and time when the backup was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreateTimestamp",
        "getterDocumentation" : "/**<p>The date and time when the backup was created.</p>\n@return The date and time when the backup was created.*/",
        "getterMethodName" : "getCreateTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreateTimestamp",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreateTimestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreateTimestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time when the backup was created.</p>\n@param createTimestamp The date and time when the backup was created.*/",
        "setterMethodName" : "setCreateTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time when the backup was created.</p>\n@param createTimestamp The date and time when the backup was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time when the backup was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CopyTimestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param copyTimestamp \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCopyTimestamp",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCopyTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CopyTimestamp",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CopyTimestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CopyTimestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param copyTimestamp */",
        "setterMethodName" : "setCopyTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "copyTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param copyTimestamp \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "copyTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SourceRegion",
        "c2jShape" : "Region",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param sourceRegion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSourceRegion",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getSourceRegion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SourceRegion",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SourceRegion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SourceRegion",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param sourceRegion */",
        "setterMethodName" : "setSourceRegion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceRegion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param sourceRegion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceRegion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SourceBackup",
        "c2jShape" : "BackupId",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param sourceBackup \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSourceBackup",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getSourceBackup",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SourceBackup",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SourceBackup",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SourceBackup",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param sourceBackup */",
        "setterMethodName" : "setSourceBackup",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceBackup",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param sourceBackup \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceBackup",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SourceCluster",
        "c2jShape" : "ClusterId",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param sourceCluster \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSourceCluster",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getSourceCluster",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SourceCluster",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SourceCluster",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SourceCluster",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param sourceCluster */",
        "setterMethodName" : "setSourceCluster",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceCluster",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param sourceCluster \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceCluster",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DeleteTimestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time when the backup will be permanently deleted.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time when the backup will be permanently deleted.</p>\n@param deleteTimestamp The date and time when the backup will be permanently deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeleteTimestamp",
        "getterDocumentation" : "/**<p>The date and time when the backup will be permanently deleted.</p>\n@return The date and time when the backup will be permanently deleted.*/",
        "getterMethodName" : "getDeleteTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DeleteTimestamp",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DeleteTimestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "DeleteTimestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time when the backup will be permanently deleted.</p>\n@param deleteTimestamp The date and time when the backup will be permanently deleted.*/",
        "setterMethodName" : "setDeleteTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "deleteTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time when the backup will be permanently deleted.</p>\n@param deleteTimestamp The date and time when the backup will be permanently deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "deleteTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time when the backup will be permanently deleted.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BackupId" : {
          "c2jName" : "BackupId",
          "c2jShape" : "BackupId",
          "deprecated" : false,
          "documentation" : "<p>The identifier (ID) of the backup.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier (ID) of the backup.</p>\n@param backupId The identifier (ID) of the backup.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBackupId",
          "getterDocumentation" : "/**<p>The identifier (ID) of the backup.</p>\n@return The identifier (ID) of the backup.*/",
          "getterMethodName" : "getBackupId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BackupId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BackupId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BackupId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier (ID) of the backup.</p>\n@param backupId The identifier (ID) of the backup.*/",
          "setterMethodName" : "setBackupId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "backupId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier (ID) of the backup.</p>\n@param backupId The identifier (ID) of the backup.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "backupId",
            "variableType" : "String",
            "documentation" : "<p>The identifier (ID) of the backup.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "BackupState" : {
          "c2jName" : "BackupState",
          "c2jShape" : "BackupState",
          "deprecated" : false,
          "documentation" : "<p>The state of the backup.</p>",
          "enumType" : "BackupState",
          "fluentSetterDocumentation" : "/**<p>The state of the backup.</p>\n@param backupState The state of the backup.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BackupState*/",
          "fluentSetterMethodName" : "withBackupState",
          "getterDocumentation" : "/**<p>The state of the backup.</p>\n@return The state of the backup.\n@see BackupState*/",
          "getterMethodName" : "getBackupState",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BackupState",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BackupState",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BackupState",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The state of the backup.</p>\n@param backupState The state of the backup.\n@see BackupState*/",
          "setterMethodName" : "setBackupState",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "backupState",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The state of the backup.</p>\n@param backupState The state of the backup.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BackupState*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "backupState",
            "variableType" : "String",
            "documentation" : "<p>The state of the backup.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ClusterId" : {
          "c2jName" : "ClusterId",
          "c2jShape" : "ClusterId",
          "deprecated" : false,
          "documentation" : "<p>The identifier (ID) of the cluster that was backed up.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier (ID) of the cluster that was backed up.</p>\n@param clusterId The identifier (ID) of the cluster that was backed up.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClusterId",
          "getterDocumentation" : "/**<p>The identifier (ID) of the cluster that was backed up.</p>\n@return The identifier (ID) of the cluster that was backed up.*/",
          "getterMethodName" : "getClusterId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ClusterId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ClusterId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClusterId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier (ID) of the cluster that was backed up.</p>\n@param clusterId The identifier (ID) of the cluster that was backed up.*/",
          "setterMethodName" : "setClusterId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clusterId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier (ID) of the cluster that was backed up.</p>\n@param clusterId The identifier (ID) of the cluster that was backed up.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clusterId",
            "variableType" : "String",
            "documentation" : "<p>The identifier (ID) of the cluster that was backed up.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CopyTimestamp" : {
          "c2jName" : "CopyTimestamp",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param copyTimestamp \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCopyTimestamp",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCopyTimestamp",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CopyTimestamp",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CopyTimestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CopyTimestamp",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param copyTimestamp */",
          "setterMethodName" : "setCopyTimestamp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "copyTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param copyTimestamp \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "copyTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "CreateTimestamp" : {
          "c2jName" : "CreateTimestamp",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The date and time when the backup was created.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date and time when the backup was created.</p>\n@param createTimestamp The date and time when the backup was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreateTimestamp",
          "getterDocumentation" : "/**<p>The date and time when the backup was created.</p>\n@return The date and time when the backup was created.*/",
          "getterMethodName" : "getCreateTimestamp",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CreateTimestamp",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CreateTimestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreateTimestamp",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The date and time when the backup was created.</p>\n@param createTimestamp The date and time when the backup was created.*/",
          "setterMethodName" : "setCreateTimestamp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The date and time when the backup was created.</p>\n@param createTimestamp The date and time when the backup was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The date and time when the backup was created.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "DeleteTimestamp" : {
          "c2jName" : "DeleteTimestamp",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The date and time when the backup will be permanently deleted.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date and time when the backup will be permanently deleted.</p>\n@param deleteTimestamp The date and time when the backup will be permanently deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeleteTimestamp",
          "getterDocumentation" : "/**<p>The date and time when the backup will be permanently deleted.</p>\n@return The date and time when the backup will be permanently deleted.*/",
          "getterMethodName" : "getDeleteTimestamp",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DeleteTimestamp",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DeleteTimestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "DeleteTimestamp",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The date and time when the backup will be permanently deleted.</p>\n@param deleteTimestamp The date and time when the backup will be permanently deleted.*/",
          "setterMethodName" : "setDeleteTimestamp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "deleteTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The date and time when the backup will be permanently deleted.</p>\n@param deleteTimestamp The date and time when the backup will be permanently deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "deleteTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The date and time when the backup will be permanently deleted.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "SourceBackup" : {
          "c2jName" : "SourceBackup",
          "c2jShape" : "BackupId",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param sourceBackup \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSourceBackup",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getSourceBackup",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SourceBackup",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SourceBackup",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SourceBackup",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param sourceBackup */",
          "setterMethodName" : "setSourceBackup",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceBackup",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param sourceBackup \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceBackup",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SourceCluster" : {
          "c2jName" : "SourceCluster",
          "c2jShape" : "ClusterId",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param sourceCluster \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSourceCluster",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getSourceCluster",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SourceCluster",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SourceCluster",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SourceCluster",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param sourceCluster */",
          "setterMethodName" : "setSourceCluster",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceCluster",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param sourceCluster \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceCluster",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SourceRegion" : {
          "c2jName" : "SourceRegion",
          "c2jShape" : "Region",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param sourceRegion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSourceRegion",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getSourceRegion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SourceRegion",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SourceRegion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SourceRegion",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param sourceRegion */",
          "setterMethodName" : "setSourceRegion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceRegion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param sourceRegion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceRegion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "BackupId" ],
      "shapeName" : "Backup",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Backup",
        "variableName" : "backup",
        "variableType" : "Backup",
        "documentation" : null,
        "simpleType" : "Backup",
        "variableSetterType" : "Backup"
      },
      "wrapper" : false
    },
    "BackupPolicy" : {
      "c2jName" : "BackupPolicy",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "DEFAULT",
        "value" : "DEFAULT"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BackupPolicy",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BackupPolicy",
        "variableName" : "backupPolicy",
        "variableType" : "BackupPolicy",
        "documentation" : null,
        "simpleType" : "BackupPolicy",
        "variableSetterType" : "BackupPolicy"
      },
      "wrapper" : false
    },
    "BackupState" : {
      "c2jName" : "BackupState",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "CREATE_IN_PROGRESS",
        "value" : "CREATE_IN_PROGRESS"
      }, {
        "name" : "READY",
        "value" : "READY"
      }, {
        "name" : "DELETED",
        "value" : "DELETED"
      }, {
        "name" : "PENDING_DELETION",
        "value" : "PENDING_DELETION"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BackupState",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BackupState",
        "variableName" : "backupState",
        "variableType" : "BackupState",
        "documentation" : null,
        "simpleType" : "BackupState",
        "variableSetterType" : "BackupState"
      },
      "wrapper" : false
    },
    "Certificates" : {
      "c2jName" : "Certificates",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains one or more certificates or a certificate signing request (CSR).</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ClusterCsr",
        "c2jShape" : "Cert",
        "deprecated" : false,
        "documentation" : "<p>The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.</p>\n@param clusterCsr The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClusterCsr",
        "getterDocumentation" : "/**<p>The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.</p>\n@return The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.*/",
        "getterMethodName" : "getClusterCsr",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClusterCsr",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClusterCsr",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClusterCsr",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.</p>\n@param clusterCsr The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.*/",
        "setterMethodName" : "setClusterCsr",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clusterCsr",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.</p>\n@param clusterCsr The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clusterCsr",
          "variableType" : "String",
          "documentation" : "<p>The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HsmCertificate",
        "c2jShape" : "Cert",
        "deprecated" : false,
        "documentation" : "<p>The HSM certificate issued (signed) by the HSM hardware.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The HSM certificate issued (signed) by the HSM hardware.</p>\n@param hsmCertificate The HSM certificate issued (signed) by the HSM hardware.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHsmCertificate",
        "getterDocumentation" : "/**<p>The HSM certificate issued (signed) by the HSM hardware.</p>\n@return The HSM certificate issued (signed) by the HSM hardware.*/",
        "getterMethodName" : "getHsmCertificate",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HsmCertificate",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HsmCertificate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HsmCertificate",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The HSM certificate issued (signed) by the HSM hardware.</p>\n@param hsmCertificate The HSM certificate issued (signed) by the HSM hardware.*/",
        "setterMethodName" : "setHsmCertificate",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "hsmCertificate",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The HSM certificate issued (signed) by the HSM hardware.</p>\n@param hsmCertificate The HSM certificate issued (signed) by the HSM hardware.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "hsmCertificate",
          "variableType" : "String",
[...]
