{
  "customizationConfig" : {
    "additionalShapeConstructors" : {
      "ActiveTrustedSigners" : {
        "constructorForms" : [ [ "Items" ] ]
      },
      "CloudFrontOriginAccessIdentity" : {
        "constructorForms" : [ [ "Id", "S3CanonicalUserId" ] ]
      },
      "CloudFrontOriginAccessIdentityConfig" : {
        "constructorForms" : [ [ "CallerReference" ] ]
      },
      "CreateCloudFrontOriginAccessIdentityRequest" : {
        "constructorForms" : [ [ "CloudFrontOriginAccessIdentityConfig" ] ]
      },
      "CreateDistributionRequest" : {
        "constructorForms" : [ [ "DistributionConfig" ] ]
      },
      "CreateInvalidationRequest" : {
        "constructorForms" : [ [ "DistributionId", "InvalidationBatch" ] ]
      },
      "CreateStreamingDistributionRequest" : {
        "constructorForms" : [ [ "StreamingDistributionConfig" ] ]
      },
      "DeleteCloudFrontOriginAccessIdentityRequest" : {
        "constructorForms" : [ [ "Id", "IfMatch" ] ]
      },
      "DeleteDistributionRequest" : {
        "constructorForms" : [ [ "Id", "IfMatch" ] ]
      },
      "DeleteStreamingDistributionRequest" : {
        "constructorForms" : [ [ "Id", "IfMatch" ] ]
      },
      "Distribution" : {
        "constructorForms" : [ [ "Id", "Status", "DomainName" ] ]
      },
      "DistributionConfig" : {
        "constructorForms" : [ [ "CallerReference", "Enabled" ] ]
      },
      "GeoRestriction" : {
        "constructorForms" : [ [ "RestrictionType" ] ]
      },
      "GetCloudFrontOriginAccessIdentityConfigRequest" : {
        "constructorForms" : [ [ "Id" ] ]
      },
      "GetCloudFrontOriginAccessIdentityRequest" : {
        "constructorForms" : [ [ "Id" ] ]
      },
      "GetDistributionConfigRequest" : {
        "constructorForms" : [ [ "Id" ] ]
      },
      "GetDistributionRequest" : {
        "constructorForms" : [ [ "Id" ] ]
      },
      "GetInvalidationRequest" : {
        "constructorForms" : [ [ "DistributionId", "Id" ] ]
      },
      "GetStreamingDistributionConfigRequest" : {
        "constructorForms" : [ [ "Id" ] ]
      },
      "GetStreamingDistributionRequest" : {
        "constructorForms" : [ [ "Id" ] ]
      },
      "InvalidationBatch" : {
        "constructorForms" : [ [ "Paths", "CallerReference" ], [ "CallerReference" ] ]
      },
      "ListInvalidationsRequest" : {
        "constructorForms" : [ [ "DistributionId" ] ]
      },
      "LoggingConfig" : {
        "constructorForms" : [ [ "Bucket", "Prefix" ] ]
      },
      "Restrictions" : {
        "constructorForms" : [ [ "GeoRestriction" ] ]
      },
      "S3Origin" : {
        "constructorForms" : [ [ "DomainName" ], [ "DomainName", "OriginAccessIdentity" ] ]
      },
      "StreamingDistributionConfig" : {
        "constructorForms" : [ [ "CallerReference", "S3Origin", "Enabled" ] ]
      },
      "TrustedSigners" : {
        "constructorForms" : [ [ "Items" ] ]
      },
      "UpdateCloudFrontOriginAccessIdentityRequest" : {
        "constructorForms" : [ [ "CloudFrontOriginAccessIdentityConfig", "Id", "IfMatch" ] ]
      },
      "UpdateDistributionRequest" : {
        "constructorForms" : [ [ "DistributionConfig", "Id", "IfMatch" ] ]
      },
      "UpdateStreamingDistributionRequest" : {
        "constructorForms" : [ [ "StreamingDistributionConfig", "Id", "IfMatch" ] ]
      }
    },
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : "CloudFront",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "CacheBehavior" : [ "ViewerProtocolPolicy" ],
      "CookiePreference" : [ "Forward" ],
      "CustomOriginConfig" : [ "OriginProtocolPolicy" ],
      "DefaultCacheBehavior" : [ "ViewerProtocolPolicy" ],
      "DistributionConfig" : [ "PriceClass", "HttpVersion" ],
      "DistributionSummary" : [ "PriceClass", "HttpVersion" ],
      "GeoRestriction" : [ "RestrictionType" ],
      "LambdaFunctionAssociation" : [ "EventType" ],
      "StreamingDistributionConfig" : [ "PriceClass" ],
      "StreamingDistributionSummary" : [ "PriceClass" ],
      "ViewerCertificate" : [ "SSLSupportMethod", "MinimumProtocolVersion", "CertificateSource" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-03-25",
    "asyncClient" : "AmazonCloudFrontAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCloudFrontAsyncClientBuilder",
    "asyncInterface" : "AmazonCloudFrontAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonCloudFrontModuleInjector",
    "defaultEndpoint" : "https://cloudfront.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "cloudfront.amazonaws.com/",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon CloudFront</fullname> <p>This is the <i>Amazon CloudFront API Reference</i>. This guide is for developers who need detailed information about CloudFront API actions, data types, and errors. For detailed information about CloudFront features, see the <i>Amazon CloudFront Developer Guide</i>.</p>",
    "endpointPrefix" : "cloudfront",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.cloudfront",
    "packagePath" : "com/amazonaws/services/cloudfront",
    "protocol" : "rest-xml",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "protocolFactory" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "CloudFront",
    "serviceFullName" : "Amazon CloudFront",
    "serviceName" : "CloudFront",
    "signingName" : "cloudfront",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudfront.smoketests",
    "syncClient" : "AmazonCloudFrontClient",
    "syncClientBuilderClassName" : "AmazonCloudFrontClientBuilder",
    "syncInterface" : "AmazonCloudFront",
    "uid" : "cloudfront-2017-03-25",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "CreateCloudFrontOriginAccessIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCloudFrontOriginAccessIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCloudFrontOriginAccessIdentityRequest, CreateCloudFrontOriginAccessIdentityResult>",
      "asyncReturnType" : "CreateCloudFrontOriginAccessIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new origin access identity. If you're using Amazon S3 for your origin, you can use an origin access identity to require users to access your content using a CloudFront URL instead of the Amazon S3 URL. For more information about how to use origin access identities, see <a href=\"http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private Content through CloudFront</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudFrontOriginAccessIdentityAlreadyExistsException",
        "documentation" : "<p>If the <code>CallerReference</code> is a value you already sent in a previous request to create an identity but the content of the <code>CloudFrontOriginAccessIdentityConfig</code> is different from the original request, CloudFront returns a <code>CloudFrontOriginAccessIdentityAlreadyExists</code> error. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "<p>This operation requires a body. Ensure that the body is present and the <code>Content-Type</code> header is set.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCloudFrontOriginAccessIdentitiesException",
        "documentation" : "<p>Processing your request would cause you to exceed the maximum number of origin access identities allowed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "<p>The value of <code>Quantity</code> and the size of <code>Items</code> don't match.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateCloudFrontOriginAccessIdentityRequest",
        "variableName" : "createCloudFrontOriginAccessIdentityRequest",
        "variableType" : "CreateCloudFrontOriginAccessIdentityRequest",
        "documentation" : "<p>The request to create a new origin access identity.</p>",
        "simpleType" : "CreateCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "CreateCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCloudFrontOriginAccessIdentity",
      "operationName" : "CreateCloudFrontOriginAccessIdentity",
      "returnType" : {
        "returnType" : "CreateCloudFrontOriginAccessIdentityResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "CreateCloudFrontOriginAccessIdentityResult"
    },
    "CreateDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDistributionRequest, CreateDistributionResult>",
      "asyncReturnType" : "CreateDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new web distribution. Send a <code>POST</code> request to the <code>/<i>CloudFront API version</i>/distribution</code>/<code>distribution ID</code> resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "DistributionAlreadyExistsException",
        "documentation" : "<p>The caller reference you attempted to create the distribution with is associated with another distribution.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidOriginException",
        "documentation" : "<p>The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "<p>The origin access identity is not valid or doesn't exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "<p>Your request contains more trusted signers than are allowed per distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "<p>One or more of your trusted signers don't exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidViewerCertificateException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidMinimumProtocolVersionException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "<p>This operation requires a body. Ensure that the body is present and the <code>Content-Type</code> header is set.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyDistributionCNAMEsException",
        "documentation" : "<p>Your request contains more CNAMEs than are allowed per distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyDistributionsException",
        "documentation" : "<p>Processing your request would cause you to exceed the maximum number of distributions allowed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidDefaultRootObjectException",
        "documentation" : "<p>The default root object file name is too big or contains an invalid character.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRelativePathException",
        "documentation" : "<p>The relative path is too big, is not URL-encoded, or does not begin with a slash (/).</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidErrorCodeException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidResponseCodeException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequiredProtocolException",
        "documentation" : "<p>This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the <code>RequiredProtocols</code> element from your distribution configuration.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchOriginException",
        "documentation" : "<p>No origin exists with the specified <code>Origin Id</code>. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyOriginsException",
        "documentation" : "<p>You cannot create more origins for the distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCacheBehaviorsException",
        "documentation" : "<p>You cannot create more cache behaviors for the distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCookieNamesInWhiteListException",
        "documentation" : "<p>Your request contains more cookie names in the whitelist than are allowed per cache behavior.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidForwardCookiesException",
        "documentation" : "<p>Your request contains forward cookies option which doesn't match with the expectation for the <code>whitelisted</code> list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names is missing when expected.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyHeadersInForwardedValuesException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidHeadersForS3OriginException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "<p>The value of <code>Quantity</code> and the size of <code>Items</code> don't match.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "<p>You cannot create anymore custom SSL/TLS certificates.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidLocationCodeException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidGeoRestrictionParameterException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidProtocolSettingsException",
        "documentation" : "<p>You cannot specify SSLv3 as the minimum protocol version if you only want to support only clients that support Server Name Indication (SNI).</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidTTLOrderException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyOriginCustomHeadersException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyQueryStringParametersException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidQueryStringParametersException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyDistributionsWithLambdaAssociationsException",
        "documentation" : "<p>Processing your request would cause the maximum number of distributions with Lambda function associations per owner to be exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyLambdaFunctionAssociationsException",
        "documentation" : "<p>Your request contains more Lambda function associations than are allowed per distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidLambdaFunctionAssociationException",
        "documentation" : "<p>The specified Lambda function association is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidOriginReadTimeoutException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidOriginKeepaliveTimeoutException",
        "documentation" : null,
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDistributionRequest",
        "variableName" : "createDistributionRequest",
        "variableType" : "CreateDistributionRequest",
        "documentation" : "<p>The request to create a new distribution.</p>",
        "simpleType" : "CreateDistributionRequest",
        "variableSetterType" : "CreateDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDistribution",
      "operationName" : "CreateDistribution",
      "returnType" : {
        "returnType" : "CreateDistributionResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "CreateDistributionResult"
    },
    "CreateDistributionWithTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDistributionWithTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDistributionWithTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDistributionWithTagsRequest, CreateDistributionWithTagsResult>",
      "asyncReturnType" : "CreateDistributionWithTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new distribution with tags.</p>",
      "exceptions" : [ {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "DistributionAlreadyExistsException",
        "documentation" : "<p>The caller reference you attempted to create the distribution with is associated with another distribution.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidOriginException",
        "documentation" : "<p>The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "<p>The origin access identity is not valid or doesn't exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "<p>Your request contains more trusted signers than are allowed per distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "<p>One or more of your trusted signers don't exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidViewerCertificateException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidMinimumProtocolVersionException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "<p>This operation requires a body. Ensure that the body is present and the <code>Content-Type</code> header is set.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyDistributionCNAMEsException",
        "documentation" : "<p>Your request contains more CNAMEs than are allowed per distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyDistributionsException",
        "documentation" : "<p>Processing your request would cause you to exceed the maximum number of distributions allowed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidDefaultRootObjectException",
        "documentation" : "<p>The default root object file name is too big or contains an invalid character.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRelativePathException",
        "documentation" : "<p>The relative path is too big, is not URL-encoded, or does not begin with a slash (/).</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidErrorCodeException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidResponseCodeException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequiredProtocolException",
        "documentation" : "<p>This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the <code>RequiredProtocols</code> element from your distribution configuration.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchOriginException",
        "documentation" : "<p>No origin exists with the specified <code>Origin Id</code>. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyOriginsException",
        "documentation" : "<p>You cannot create more origins for the distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCacheBehaviorsException",
        "documentation" : "<p>You cannot create more cache behaviors for the distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCookieNamesInWhiteListException",
        "documentation" : "<p>Your request contains more cookie names in the whitelist than are allowed per cache behavior.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidForwardCookiesException",
        "documentation" : "<p>Your request contains forward cookies option which doesn't match with the expectation for the <code>whitelisted</code> list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names is missing when expected.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyHeadersInForwardedValuesException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidHeadersForS3OriginException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "<p>The value of <code>Quantity</code> and the size of <code>Items</code> don't match.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "<p>You cannot create anymore custom SSL/TLS certificates.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidLocationCodeException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidGeoRestrictionParameterException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidProtocolSettingsException",
        "documentation" : "<p>You cannot specify SSLv3 as the minimum protocol version if you only want to support only clients that support Server Name Indication (SNI).</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidTTLOrderException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyOriginCustomHeadersException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidTaggingException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyQueryStringParametersException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidQueryStringParametersException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyDistributionsWithLambdaAssociationsException",
        "documentation" : "<p>Processing your request would cause the maximum number of distributions with Lambda function associations per owner to be exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyLambdaFunctionAssociationsException",
        "documentation" : "<p>Your request contains more Lambda function associations than are allowed per distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidLambdaFunctionAssociationException",
        "documentation" : "<p>The specified Lambda function association is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidOriginReadTimeoutException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidOriginKeepaliveTimeoutException",
        "documentation" : null,
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDistributionWithTagsRequest",
        "variableName" : "createDistributionWithTagsRequest",
        "variableType" : "CreateDistributionWithTagsRequest",
        "documentation" : "<p>The request to create a new distribution with tags. </p>",
        "simpleType" : "CreateDistributionWithTagsRequest",
        "variableSetterType" : "CreateDistributionWithTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDistributionWithTags",
      "operationName" : "CreateDistributionWithTags",
      "returnType" : {
        "returnType" : "CreateDistributionWithTagsResult",
        "documentation" : "<p>The returned result of the corresponding request. </p>"
      },
      "syncReturnType" : "CreateDistributionWithTagsResult"
    },
    "CreateInvalidation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInvalidationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInvalidationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInvalidationRequest, CreateInvalidationResult>",
      "asyncReturnType" : "CreateInvalidationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new invalidation. </p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "<p>This operation requires a body. Ensure that the body is present and the <code>Content-Type</code> header is set.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "<p>The specified distribution does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BatchTooLargeException",
        "documentation" : null,
        "httpStatusCode" : 413
      }, {
        "exceptionName" : "TooManyInvalidationsInProgressException",
        "documentation" : "<p>You have exceeded the maximum number of allowable InProgress invalidation batch requests, or invalidation objects.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "<p>The value of <code>Quantity</code> and the size of <code>Items</code> don't match.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateInvalidationRequest",
        "variableName" : "createInvalidationRequest",
        "variableType" : "CreateInvalidationRequest",
        "documentation" : "<p>The request to create an invalidation.</p>",
        "simpleType" : "CreateInvalidationRequest",
        "variableSetterType" : "CreateInvalidationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInvalidation",
      "operationName" : "CreateInvalidation",
      "returnType" : {
        "returnType" : "CreateInvalidationResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "CreateInvalidationResult"
    },
    "CreateStreamingDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamingDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamingDistributionRequest, CreateStreamingDistributionResult>",
      "asyncReturnType" : "CreateStreamingDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new RMTP distribution. An RTMP distribution is similar to a web distribution, but an RTMP distribution streams media files using the Adobe Real-Time Messaging Protocol (RTMP) instead of serving files using HTTP. </p> <p>To create a new web distribution, submit a <code>POST</code> request to the <i>CloudFront API version</i>/distribution resource. The request body must include a document with a <i>StreamingDistributionConfig</i> element. The response echoes the <code>StreamingDistributionConfig</code> element and returns other information about the RTMP distribution.</p> <p>To get the status of your request, use the <i>GET StreamingDistribution</i> API action. When the value of <code>Enabled</code> is <code>true</code> and the value of <code>Status</code> is <code>Deployed</code>, your distribution is ready. A distribution usually deploys in less than 15 minutes.</p> <p>For more information about web distributions, see <a href=\"http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-rtmp.html\">Working with RTMP Distributions</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> <important> <p>Beginning with the 2012-05-05 version of the CloudFront API, we made substantial changes to the format of the XML document that you include in the request body when you create or update a web distribution or an RTMP distribution, and when you invalidate objects. With previous versions of the API, we discovered that it was too easy to accidentally delete one or more values for an element that accepts multiple values, for example, CNAMEs and trusted signers. Our changes for the 2012-05-05 release are intended to prevent these accidental deletions and to notify you when there's a mismatch between the number of values you say you're specifying in the <code>Quantity</code> element and the number of values specified.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "StreamingDistributionAlreadyExistsException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidOriginException",
        "documentation" : "<p>The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "<p>The origin access identity is not valid or doesn't exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "<p>Your request contains more trusted signers than are allowed per distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "<p>One or more of your trusted signers don't exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "<p>This operation requires a body. Ensure that the body is present and the <code>Content-Type</code> header is set.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyStreamingDistributionCNAMEsException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyStreamingDistributionsException",
        "documentation" : "<p>Processing your request would cause you to exceed the maximum number of streaming distributions allowed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "<p>The value of <code>Quantity</code> and the size of <code>Items</code> don't match.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateStreamingDistributionRequest",
        "variableName" : "createStreamingDistributionRequest",
        "variableType" : "CreateStreamingDistributionRequest",
        "documentation" : "<p>The request to create a new streaming distribution.</p>",
        "simpleType" : "CreateStreamingDistributionRequest",
        "variableSetterType" : "CreateStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStreamingDistribution",
      "operationName" : "CreateStreamingDistribution",
      "returnType" : {
        "returnType" : "CreateStreamingDistributionResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "CreateStreamingDistributionResult"
    },
    "CreateStreamingDistributionWithTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamingDistributionWithTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamingDistributionWithTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamingDistributionWithTagsRequest, CreateStreamingDistributionWithTagsResult>",
      "asyncReturnType" : "CreateStreamingDistributionWithTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new streaming distribution with tags.</p>",
      "exceptions" : [ {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "StreamingDistributionAlreadyExistsException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidOriginException",
        "documentation" : "<p>The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "<p>The origin access identity is not valid or doesn't exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "<p>Your request contains more trusted signers than are allowed per distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "<p>One or more of your trusted signers don't exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "<p>This operation requires a body. Ensure that the body is present and the <code>Content-Type</code> header is set.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyStreamingDistributionCNAMEsException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyStreamingDistributionsException",
        "documentation" : "<p>Processing your request would cause you to exceed the maximum number of streaming distributions allowed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "<p>The value of <code>Quantity</code> and the size of <code>Items</code> don't match.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidTaggingException",
        "documentation" : null,
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateStreamingDistributionWithTagsRequest",
        "variableName" : "createStreamingDistributionWithTagsRequest",
        "variableType" : "CreateStreamingDistributionWithTagsRequest",
        "documentation" : "<p>The request to create a new streaming distribution with tags.</p>",
        "simpleType" : "CreateStreamingDistributionWithTagsRequest",
        "variableSetterType" : "CreateStreamingDistributionWithTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStreamingDistributionWithTags",
      "operationName" : "CreateStreamingDistributionWithTags",
      "returnType" : {
        "returnType" : "CreateStreamingDistributionWithTagsResult",
        "documentation" : "<p>The returned result of the corresponding request. </p>"
      },
      "syncReturnType" : "CreateStreamingDistributionWithTagsResult"
    },
    "DeleteCloudFrontOriginAccessIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCloudFrontOriginAccessIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCloudFrontOriginAccessIdentityRequest, DeleteCloudFrontOriginAccessIdentityResult>",
      "asyncReturnType" : "DeleteCloudFrontOriginAccessIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an origin access identity. </p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "<p>The <code>If-Match</code> version is missing or not valid for the distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "<p>The specified origin access identity does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>The precondition given in one or more of the request-header fields evaluated to <code>false</code>. </p>",
        "httpStatusCode" : 412
      }, {
        "exceptionName" : "CloudFrontOriginAccessIdentityInUseException",
        "documentation" : null,
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteCloudFrontOriginAccessIdentityRequest",
        "variableName" : "deleteCloudFrontOriginAccessIdentityRequest",
        "variableType" : "DeleteCloudFrontOriginAccessIdentityRequest",
        "documentation" : "<p>Deletes a origin access identity.</p>",
        "simpleType" : "DeleteCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "DeleteCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCloudFrontOriginAccessIdentity",
      "operationName" : "DeleteCloudFrontOriginAccessIdentity",
      "returnType" : {
        "returnType" : "DeleteCloudFrontOriginAccessIdentityResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCloudFrontOriginAccessIdentityResult"
    },
    "DeleteDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDistributionRequest, DeleteDistributionResult>",
      "asyncReturnType" : "DeleteDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a distribution. </p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DistributionNotDisabledException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "<p>The <code>If-Match</code> version is missing or not valid for the distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "<p>The specified distribution does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>The precondition given in one or more of the request-header fields evaluated to <code>false</code>. </p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDistributionRequest",
        "variableName" : "deleteDistributionRequest",
        "variableType" : "DeleteDistributionRequest",
        "documentation" : "<p>This action deletes a web distribution. To delete a web distribution using the CloudFront API, perform the following steps.</p> <p> <b>To delete a web distribution using the CloudFront API:</b> </p> <ol> <li> <p>Disable the web distribution </p> </li> <li> <p>Submit a <code>GET Distribution Config</code> request to get the current configuration and the <code>Etag</code> header for the distribution.</p> </li> <li> <p>Update the XML document that was returned in the response to your <code>GET Distribution Config</code> request to change the value of <code>Enabled</code> to <code>false</code>.</p> </li> <li> <p>Submit a <code>PUT Distribution Config</code> request to update the configuration for your distribution. In the request body, include the XML document that you updated in Step 3. Set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GET Distribution Config</code> request in Step 2.</p> </li> <li> <p>Review the response to the <code>PUT Distribution Config</code> request to confirm that the distribution was successfully disabled.</p> </li> <li> <p>Submit a <code>GET Distribution</code> request to confirm that your changes have propagated. When propagation is complete, the value of <code>Status</code> is <code>Deployed</code>.</p> </li> <li> <p>Submit a <code>DELETE Distribution</code> request. Set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GET Distribution Config</code> request in Step 6.</p> </li> <li> <p>Review the response to your <code>DELETE Distribution</code> request to confirm that the distribution was successfully deleted.</p> </li> </ol> <p>For information about deleting a distribution using the CloudFront console, see <a href=\"http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/HowToDeleteDistribution.html\">Deleting a Distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
        "simpleType" : "DeleteDistributionRequest",
        "variableSetterType" : "DeleteDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDistribution",
      "operationName" : "DeleteDistribution",
      "returnType" : {
        "returnType" : "DeleteDistributionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDistributionResult"
    },
    "DeleteServiceLinkedRole" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServiceLinkedRoleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServiceLinkedRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServiceLinkedRoleRequest, DeleteServiceLinkedRoleResult>",
      "asyncReturnType" : "DeleteServiceLinkedRoleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : null,
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteServiceLinkedRoleRequest",
        "variableName" : "deleteServiceLinkedRoleRequest",
        "variableType" : "DeleteServiceLinkedRoleRequest",
        "documentation" : "",
        "simpleType" : "DeleteServiceLinkedRoleRequest",
        "variableSetterType" : "DeleteServiceLinkedRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteServiceLinkedRole",
      "operationName" : "DeleteServiceLinkedRole",
      "returnType" : {
        "returnType" : "DeleteServiceLinkedRoleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServiceLinkedRoleResult"
    },
    "DeleteStreamingDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStreamingDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStreamingDistributionRequest, DeleteStreamingDistributionResult>",
      "asyncReturnType" : "DeleteStreamingDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a streaming distribution. To delete an RTMP distribution using the CloudFront API, perform the following steps.</p> <p> <b>To delete an RTMP distribution using the CloudFront API</b>:</p> <ol> <li> <p>Disable the RTMP distribution.</p> </li> <li> <p>Submit a <code>GET Streaming Distribution Config</code> request to get the current configuration and the <code>Etag</code> header for the distribution. </p> </li> <li> <p>Update the XML document that was returned in the response to your <code>GET Streaming Distribution Config</code> request to change the value of <code>Enabled</code> to <code>false</code>.</p> </li> <li> <p>Submit a <code>PUT Streaming Distribution Config</code> request to update the configuration for your distribution. In the request body, include the XML document that you updated in Step 3. Then set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GET Streaming Distribution Config</code> request in Step 2.</p> </li> <li> <p>Review the response to the <code>PUT Streaming Distribution Config</code> request to confirm that the distribution was successfully disabled.</p> </li> <li> <p>Submit a <code>GET Streaming Distribution Config</code> request to confirm that your changes have propagated. When propagation is complete, the value of <code>Status</code> is <code>Deployed</code>.</p> </li> <li> <p>Submit a <code>DELETE Streaming Distribution</code> request. Set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GET Streaming Distribution Config</code> request in Step 2.</p> </li> <li> <p>Review the response to your <code>DELETE Streaming Distribution</code> request to confirm that the distribution was successfully deleted.</p> </li> </ol> <p>For information about deleting a distribution using the CloudFront console, see <a href=\"http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/HowToDeleteDistribution.html\">Deleting a Distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "StreamingDistributionNotDisabledException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "<p>The <code>If-Match</code> version is missing or not valid for the distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "<p>The specified streaming distribution does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>The precondition given in one or more of the request-header fields evaluated to <code>false</code>. </p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteStreamingDistributionRequest",
        "variableName" : "deleteStreamingDistributionRequest",
        "variableType" : "DeleteStreamingDistributionRequest",
        "documentation" : "<p>The request to delete a streaming distribution.</p>",
        "simpleType" : "DeleteStreamingDistributionRequest",
        "variableSetterType" : "DeleteStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStreamingDistribution",
      "operationName" : "DeleteStreamingDistribution",
      "returnType" : {
        "returnType" : "DeleteStreamingDistributionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStreamingDistributionResult"
    },
    "GetCloudFrontOriginAccessIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCloudFrontOriginAccessIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCloudFrontOriginAccessIdentityRequest, GetCloudFrontOriginAccessIdentityResult>",
      "asyncReturnType" : "GetCloudFrontOriginAccessIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the information about an origin access identity. </p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "<p>The specified origin access identity does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCloudFrontOriginAccessIdentityRequest",
        "variableName" : "getCloudFrontOriginAccessIdentityRequest",
        "variableType" : "GetCloudFrontOriginAccessIdentityRequest",
        "documentation" : "<p>The request to get an origin access identity's information.</p>",
        "simpleType" : "GetCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "GetCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCloudFrontOriginAccessIdentity",
      "operationName" : "GetCloudFrontOriginAccessIdentity",
      "returnType" : {
        "returnType" : "GetCloudFrontOriginAccessIdentityResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "GetCloudFrontOriginAccessIdentityResult"
    },
    "GetCloudFrontOriginAccessIdentityConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCloudFrontOriginAccessIdentityConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCloudFrontOriginAccessIdentityConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCloudFrontOriginAccessIdentityConfigRequest, GetCloudFrontOriginAccessIdentityConfigResult>",
      "asyncReturnType" : "GetCloudFrontOriginAccessIdentityConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the configuration information about an origin access identity. </p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "<p>The specified origin access identity does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCloudFrontOriginAccessIdentityConfigRequest",
        "variableName" : "getCloudFrontOriginAccessIdentityConfigRequest",
        "variableType" : "GetCloudFrontOriginAccessIdentityConfigRequest",
        "documentation" : "<p>The origin access identity's configuration information. For more information, see <a>CloudFrontOriginAccessIdentityConfigComplexType</a>.</p>",
        "simpleType" : "GetCloudFrontOriginAccessIdentityConfigRequest",
        "variableSetterType" : "GetCloudFrontOriginAccessIdentityConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCloudFrontOriginAccessIdentityConfig",
      "operationName" : "GetCloudFrontOriginAccessIdentityConfig",
      "returnType" : {
        "returnType" : "GetCloudFrontOriginAccessIdentityConfigResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "GetCloudFrontOriginAccessIdentityConfigResult"
    },
    "GetDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDistributionRequest, GetDistributionResult>",
      "asyncReturnType" : "GetDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the information about a distribution. </p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "<p>The specified distribution does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDistributionRequest",
        "variableName" : "getDistributionRequest",
        "variableType" : "GetDistributionRequest",
        "documentation" : "<p>The request to get a distribution's information.</p>",
        "simpleType" : "GetDistributionRequest",
        "variableSetterType" : "GetDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDistribution",
      "operationName" : "GetDistribution",
      "returnType" : {
        "returnType" : "GetDistributionResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "GetDistributionResult"
    },
    "GetDistributionConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDistributionConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDistributionConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDistributionConfigRequest, GetDistributionConfigResult>",
      "asyncReturnType" : "GetDistributionConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the configuration information about a distribution. </p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "<p>The specified distribution does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDistributionConfigRequest",
        "variableName" : "getDistributionConfigRequest",
        "variableType" : "GetDistributionConfigRequest",
        "documentation" : "<p>The request to get a distribution configuration.</p>",
        "simpleType" : "GetDistributionConfigRequest",
        "variableSetterType" : "GetDistributionConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDistributionConfig",
      "operationName" : "GetDistributionConfig",
      "returnType" : {
        "returnType" : "GetDistributionConfigResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "GetDistributionConfigResult"
    },
    "GetInvalidation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInvalidationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInvalidationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInvalidationRequest, GetInvalidationResult>",
      "asyncReturnType" : "GetInvalidationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the information about an invalidation. </p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchInvalidationException",
        "documentation" : "<p>The specified invalidation does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "<p>The specified distribution does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInvalidationRequest",
        "variableName" : "getInvalidationRequest",
        "variableType" : "GetInvalidationRequest",
        "documentation" : "<p>The request to get an invalidation's information. </p>",
        "simpleType" : "GetInvalidationRequest",
        "variableSetterType" : "GetInvalidationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInvalidation",
      "operationName" : "GetInvalidation",
      "returnType" : {
        "returnType" : "GetInvalidationResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "GetInvalidationResult"
    },
    "GetStreamingDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStreamingDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStreamingDistributionRequest, GetStreamingDistributionResult>",
      "asyncReturnType" : "GetStreamingDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a specified RTMP distribution, including the distribution configuration.</p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "<p>The specified streaming distribution does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetStreamingDistributionRequest",
        "variableName" : "getStreamingDistributionRequest",
        "variableType" : "GetStreamingDistributionRequest",
        "documentation" : "<p>The request to get a streaming distribution's information.</p>",
        "simpleType" : "GetStreamingDistributionRequest",
        "variableSetterType" : "GetStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStreamingDistribution",
      "operationName" : "GetStreamingDistribution",
      "returnType" : {
        "returnType" : "GetStreamingDistributionResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "GetStreamingDistributionResult"
    },
    "GetStreamingDistributionConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStreamingDistributionConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStreamingDistributionConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStreamingDistributionConfigRequest, GetStreamingDistributionConfigResult>",
      "asyncReturnType" : "GetStreamingDistributionConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the configuration information about a streaming distribution. </p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "<p>The specified streaming distribution does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetStreamingDistributionConfigRequest",
        "variableName" : "getStreamingDistributionConfigRequest",
        "variableType" : "GetStreamingDistributionConfigRequest",
        "documentation" : "<p>To request to get a streaming distribution configuration.</p>",
        "simpleType" : "GetStreamingDistributionConfigRequest",
        "variableSetterType" : "GetStreamingDistributionConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStreamingDistributionConfig",
      "operationName" : "GetStreamingDistributionConfig",
      "returnType" : {
        "returnType" : "GetStreamingDistributionConfigResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "GetStreamingDistributionConfigResult"
    },
    "ListCloudFrontOriginAccessIdentities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCloudFrontOriginAccessIdentitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCloudFrontOriginAccessIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCloudFrontOriginAccessIdentitiesRequest, ListCloudFrontOriginAccessIdentitiesResult>",
      "asyncReturnType" : "ListCloudFrontOriginAccessIdentitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists origin access identities.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListCloudFrontOriginAccessIdentitiesRequest",
        "variableName" : "listCloudFrontOriginAccessIdentitiesRequest",
        "variableType" : "ListCloudFrontOriginAccessIdentitiesRequest",
        "documentation" : "<p>The request to list origin access identities. </p>",
        "simpleType" : "ListCloudFrontOriginAccessIdentitiesRequest",
        "variableSetterType" : "ListCloudFrontOriginAccessIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCloudFrontOriginAccessIdentities",
      "operationName" : "ListCloudFrontOriginAccessIdentities",
      "returnType" : {
        "returnType" : "ListCloudFrontOriginAccessIdentitiesResult",
        "documentation" : "<p>The returned result of the corresponding request. </p>"
      },
      "syncReturnType" : "ListCloudFrontOriginAccessIdentitiesResult"
    },
    "ListDistributions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDistributionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDistributionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDistributionsRequest, ListDistributionsResult>",
      "asyncReturnType" : "ListDistributionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List distributions. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDistributionsRequest",
        "variableName" : "listDistributionsRequest",
        "variableType" : "ListDistributionsRequest",
        "documentation" : "<p>The request to list your distributions. </p>",
        "simpleType" : "ListDistributionsRequest",
        "variableSetterType" : "ListDistributionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDistributions",
      "operationName" : "ListDistributions",
      "returnType" : {
        "returnType" : "ListDistributionsResult",
        "documentation" : "<p>The returned result of the corresponding request. </p>"
      },
      "syncReturnType" : "ListDistributionsResult"
    },
    "ListDistributionsByWebACLId" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDistributionsByWebACLIdResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDistributionsByWebACLIdResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDistributionsByWebACLIdRequest, ListDistributionsByWebACLIdResult>",
      "asyncReturnType" : "ListDistributionsByWebACLIdResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the distributions that are associated with a specified AWS WAF web ACL. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null,
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDistributionsByWebACLIdRequest",
        "variableName" : "listDistributionsByWebACLIdRequest",
        "variableType" : "ListDistributionsByWebACLIdRequest",
        "documentation" : "<p>The request to list distributions that are associated with a specified AWS WAF web ACL. </p>",
        "simpleType" : "ListDistributionsByWebACLIdRequest",
        "variableSetterType" : "ListDistributionsByWebACLIdRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDistributionsByWebACLId",
      "operationName" : "ListDistributionsByWebACLId",
      "returnType" : {
        "returnType" : "ListDistributionsByWebACLIdResult",
        "documentation" : "<p>The response to a request to list the distributions that are associated with a specified AWS WAF web ACL. </p>"
      },
      "syncReturnType" : "ListDistributionsByWebACLIdResult"
    },
    "ListInvalidations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInvalidationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInvalidationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInvalidationsRequest, ListInvalidationsResult>",
      "asyncReturnType" : "ListInvalidationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists invalidation batches. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "<p>The specified distribution does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListInvalidationsRequest",
        "variableName" : "listInvalidationsRequest",
        "variableType" : "ListInvalidationsRequest",
        "documentation" : "<p>The request to list invalidations. </p>",
        "simpleType" : "ListInvalidationsRequest",
        "variableSetterType" : "ListInvalidationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInvalidations",
      "operationName" : "ListInvalidations",
      "returnType" : {
        "returnType" : "ListInvalidationsResult",
        "documentation" : "<p>The returned result of the corresponding request. </p>"
      },
      "syncReturnType" : "ListInvalidationsResult"
    },
    "ListStreamingDistributions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStreamingDistributionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStreamingDistributionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStreamingDistributionsRequest, ListStreamingDistributionsResult>",
      "asyncReturnType" : "ListStreamingDistributionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List streaming distributions. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListStreamingDistributionsRequest",
        "variableName" : "listStreamingDistributionsRequest",
        "variableType" : "ListStreamingDistributionsRequest",
        "documentation" : "<p>The request to list your streaming distributions. </p>",
        "simpleType" : "ListStreamingDistributionsRequest",
        "variableSetterType" : "ListStreamingDistributionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStreamingDistributions",
      "operationName" : "ListStreamingDistributions",
      "returnType" : {
        "returnType" : "ListStreamingDistributionsResult",
        "documentation" : "<p>The returned result of the corresponding request. </p>"
      },
      "syncReturnType" : "ListStreamingDistributionsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List tags for a CloudFront resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidTaggingException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : null,
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "<p> The request to list tags for a CloudFront resource.</p>",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p> The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Add tags to a CloudFront resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidTaggingException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : null,
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "<p> The request to add tags to a CloudFront resource.</p>",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove tags from a CloudFront resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidTaggingException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : null,
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "<p> The request to remove tags from a CloudFront resource.</p>",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateCloudFrontOriginAccessIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCloudFrontOriginAccessIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCloudFrontOriginAccessIdentityRequest, UpdateCloudFrontOriginAccessIdentityResult>",
      "asyncReturnType" : "UpdateCloudFrontOriginAccessIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update an origin access identity. </p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "IllegalUpdateException",
        "documentation" : "<p>Origin and <code>CallerReference</code> cannot be updated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "<p>The <code>If-Match</code> version is missing or not valid for the distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "<p>This operation requires a body. Ensure that the body is present and the <code>Content-Type</code> header is set.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "<p>The specified origin access identity does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>The precondition given in one or more of the request-header fields evaluated to <code>false</code>. </p>",
        "httpStatusCode" : 412
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "<p>The value of <code>Quantity</code> and the size of <code>Items</code> don't match.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateCloudFrontOriginAccessIdentityRequest",
        "variableName" : "updateCloudFrontOriginAccessIdentityRequest",
        "variableType" : "UpdateCloudFrontOriginAccessIdentityRequest",
        "documentation" : "<p>The request to update an origin access identity.</p>",
        "simpleType" : "UpdateCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "UpdateCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCloudFrontOriginAccessIdentity",
      "operationName" : "UpdateCloudFrontOriginAccessIdentity",
      "returnType" : {
        "returnType" : "UpdateCloudFrontOriginAccessIdentityResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "UpdateCloudFrontOriginAccessIdentityResult"
    },
    "UpdateDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDistributionRequest, UpdateDistributionResult>",
      "asyncReturnType" : "UpdateDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the configuration for a web distribution. Perform the following steps.</p> <p>For information about updating a distribution using the CloudFront console, see <a href=\"http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-creating-console.html\">Creating or Updating a Web Distribution Using the CloudFront Console </a> in the <i>Amazon CloudFront Developer Guide</i>.</p> <p> <b>To update a web distribution using the CloudFront API</b> </p> <ol> <li> <p>Submit a <a>GetDistributionConfig</a> request to get the current configuration and an <code>Etag</code> header for the distribution.</p> <note> <p>If you update the distribution again, you need to get a new <code>Etag</code> header.</p> </note> </li> <li> <p>Update the XML document that was returned in the response to your <code>GetDistributionConfig</code> request to include the desired changes. You can't change the value of <code>CallerReference</code>. If you try to change this value, CloudFront returns an <code>IllegalUpdate</code> error.</p> <important> <p>The new configuration replaces the existing configuration; the values that you specify in an <code>UpdateDistribution</code> request are not merged into the existing configuration. When you add, delete, or replace values in an element that allows multiple values (for example, <code>CNAME</code>), you must specify all of the values that you want to appear in the updated distribution. In addition, you must update the corresponding <code>Quantity</code> element.</p> </important> </li> <li> <p>Submit an <code>UpdateDistribution</code> request to update the configuration for your distribution:</p> <ul> <li> <p>In the request body, include the XML document that you updated in Step 2. The request body must include an XML document with a <code>DistributionConfig</code> element.</p> </li> <li> <p>Set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GetDistributionConfig</code> request in Step 1.</p> </li> </ul> </li> <li> <p>Review the response to the <code>UpdateDistribution</code> request to confirm that the configuration was successfully updated.</p> </li> <li> <p>Optional: Submit a <a>GetDistribution</a> request to confirm that your changes have propagated. When propagation is complete, the value of <code>Status</code> is <code>Deployed</code>.</p> <important> <p>Beginning with the 2012-05-05 version of the CloudFront API, we made substantial changes to the format of the XML document that you include in the request body when you create or update a distribution. With previous versions of the API, we discovered that it was too easy to accidentally delete one or more values for an element that accepts multiple values, for example, CNAMEs and trusted signers. Our changes for the 2012-05-05 release are intended to prevent these accidental deletions and to notify you when there's a mismatch between the number of values you say you're specifying in the <code>Quantity</code> element and the number of values you're actually specifying.</p> </important> </li> </ol>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "IllegalUpdateException",
        "documentation" : "<p>Origin and <code>CallerReference</code> cannot be updated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "<p>The <code>If-Match</code> version is missing or not valid for the distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "<p>This operation requires a body. Ensure that the body is present and the <code>Content-Type</code> header is set.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "<p>The specified distribution does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>The precondition given in one or more of the request-header fields evaluated to <code>false</code>. </p>",
        "httpStatusCode" : 412
      }, {
        "exceptionName" : "TooManyDistributionCNAMEsException",
        "documentation" : "<p>Your request contains more CNAMEs than are allowed per distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidDefaultRootObjectException",
        "documentation" : "<p>The default root object file name is too big or contains an invalid character.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRelativePathException",
        "documentation" : "<p>The relative path is too big, is not URL-encoded, or does not begin with a slash (/).</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidErrorCodeException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidResponseCodeException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "<p>The origin access identity is not valid or doesn't exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "<p>Your request contains more trusted signers than are allowed per distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "<p>One or more of your trusted signers don't exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidViewerCertificateException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidMinimumProtocolVersionException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequiredProtocolException",
        "documentation" : "<p>This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the <code>RequiredProtocols</code> element from your distribution configuration.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchOriginException",
        "documentation" : "<p>No origin exists with the specified <code>Origin Id</code>. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyOriginsException",
        "documentation" : "<p>You cannot create more origins for the distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCacheBehaviorsException",
        "documentation" : "<p>You cannot create more cache behaviors for the distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCookieNamesInWhiteListException",
        "documentation" : "<p>Your request contains more cookie names in the whitelist than are allowed per cache behavior.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidForwardCookiesException",
        "documentation" : "<p>Your request contains forward cookies option which doesn't match with the expectation for the <code>whitelisted</code> list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names is missing when expected.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyHeadersInForwardedValuesException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidHeadersForS3OriginException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "<p>The value of <code>Quantity</code> and the size of <code>Items</code> don't match.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "<p>You cannot create anymore custom SSL/TLS certificates.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidLocationCodeException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidGeoRestrictionParameterException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidTTLOrderException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyOriginCustomHeadersException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyQueryStringParametersException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidQueryStringParametersException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyDistributionsWithLambdaAssociationsException",
        "documentation" : "<p>Processing your request would cause the maximum number of distributions with Lambda function associations per owner to be exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyLambdaFunctionAssociationsException",
        "documentation" : "<p>Your request contains more Lambda function associations than are allowed per distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidLambdaFunctionAssociationException",
        "documentation" : "<p>The specified Lambda function association is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidOriginReadTimeoutException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidOriginKeepaliveTimeoutException",
        "documentation" : null,
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDistributionRequest",
        "variableName" : "updateDistributionRequest",
        "variableType" : "UpdateDistributionRequest",
        "documentation" : "<p>The request to update a distribution.</p>",
        "simpleType" : "UpdateDistributionRequest",
        "variableSetterType" : "UpdateDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDistribution",
      "operationName" : "UpdateDistribution",
      "returnType" : {
        "returnType" : "UpdateDistributionResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "UpdateDistributionResult"
    },
    "UpdateStreamingDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStreamingDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStreamingDistributionRequest, UpdateStreamingDistributionResult>",
      "asyncReturnType" : "UpdateStreamingDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a streaming distribution. </p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "IllegalUpdateException",
        "documentation" : "<p>Origin and <code>CallerReference</code> cannot be updated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "<p>The <code>If-Match</code> version is missing or not valid for the distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "<p>This operation requires a body. Ensure that the body is present and the <code>Content-Type</code> header is set.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "<p>The specified streaming distribution does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>The precondition given in one or more of the request-header fields evaluated to <code>false</code>. </p>",
        "httpStatusCode" : 412
      }, {
        "exceptionName" : "TooManyStreamingDistributionCNAMEsException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The argument is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "<p>The origin access identity is not valid or doesn't exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "<p>Your request contains more trusted signers than are allowed per distribution.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "<p>One or more of your trusted signers don't exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "<p>The value of <code>Quantity</code> and the size of <code>Items</code> don't match.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateStreamingDistributionRequest",
        "variableName" : "updateStreamingDistributionRequest",
        "variableType" : "UpdateStreamingDistributionRequest",
        "documentation" : "<p>The request to update a streaming distribution.</p>",
        "simpleType" : "UpdateStreamingDistributionRequest",
        "variableSetterType" : "UpdateStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateStreamingDistribution",
      "operationName" : "UpdateStreamingDistribution",
      "returnType" : {
        "returnType" : "UpdateStreamingDistributionResult",
        "documentation" : "<p>The returned result of the corresponding request.</p>"
      },
      "syncReturnType" : "UpdateStreamingDistributionResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDenied",
      "customization" : {
        "artificialResultWrapper" : null,
[...]
