{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-09-30",
    "asyncClient" : "AWSCloudControlApiAsyncClient",
    "asyncClientBuilderClassName" : "AWSCloudControlApiAsyncClientBuilder",
    "asyncInterface" : "AWSCloudControlApiAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCloudControlApiModuleInjector",
    "defaultEndpoint" : "cloudcontrolapi.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cloudcontrolapi.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>For more information about Amazon Web Services Cloud Control API, see the <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/what-is-cloudcontrolapi.html\">Amazon Web Services Cloud Control API User Guide</a>.</p>",
    "endpointPrefix" : "cloudcontrolapi",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.cloudcontrolapi",
    "packagePath" : "com/amazonaws/services/cloudcontrolapi",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "CloudControlApi",
    "serviceFullName" : "AWS Cloud Control API",
    "serviceId" : "CloudControl",
    "serviceName" : "CloudControlApi",
    "signingName" : "cloudcontrolapi",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudcontrolapi.smoketests",
    "syncClient" : "AWSCloudControlApiClient",
    "syncClientBuilderClassName" : "AWSCloudControlApiClientBuilder",
    "syncInterface" : "AWSCloudControlApi",
    "uid" : "cloudcontrol-2021-09-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelResourceRequest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelResourceRequestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelResourceRequestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelResourceRequestRequest, CancelResourceRequestResult>",
      "asyncReturnType" : "CancelResourceRequestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the specified resource operation request. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-manage-requests.html#resource-operations-manage-requests-cancel\">Canceling resource operation requests</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p> <p>Only resource operations requests with a status of <code>PENDING</code> or <code>IN_PROGRESS</code> can be canceled.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource is currently being modified by another operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestTokenNotFoundException",
        "documentation" : "<p>A resource operation with the specified request token can't be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelResourceRequestRequest",
        "variableName" : "cancelResourceRequestRequest",
        "variableType" : "CancelResourceRequestRequest",
        "documentation" : "",
        "simpleType" : "CancelResourceRequestRequest",
        "variableSetterType" : "CancelResourceRequestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelResourceRequest",
      "operationName" : "CancelResourceRequest",
      "returnType" : {
        "returnType" : "CancelResourceRequestResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelResourceRequestResult"
    },
    "CreateResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceRequest, CreateResourceResult>",
      "asyncReturnType" : "CreateResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the specified resource. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-create.html\">Creating a resource</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p> <p>After you have initiated a resource creation request, you can monitor the progress of your request by calling <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> using the <code>RequestToken</code> of the <code>ProgressEvent</code> type returned by <code>CreateResource</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource with the name requested already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "HandlerInternalFailureException",
        "documentation" : "<p>The resource handler has returned that an unexpected error occurred within the resource handler.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "GeneralServiceException",
        "documentation" : "<p>The resource handler has returned that the downstream service generated an error that doesn't map to any other handler error code.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotUpdatableException",
        "documentation" : "<p>One or more properties included in this resource operation are defined as create-only, and therefore can't be updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TypeNotFoundException",
        "documentation" : "<p>The specified extension doesn't exist in the CloudFormation registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentOperationException",
        "documentation" : "<p>Another resource operation is currently being performed on this resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The resource handler has returned that invalid input from the user has generated a generic exception.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PrivateTypeException",
        "documentation" : "<p>Cloud Control API hasn't received a valid response from the resource handler, due to a configuration error. This includes issues such as the resource handler returning an invalid response, or timing out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified identifier can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NetworkFailureException",
        "documentation" : "<p>The resource handler has returned that the request couldn't be completed due to networking issues, such as a failure to receive a response from the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedActionException",
        "documentation" : "<p>The specified resource doesn't support this resource operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotStabilizedException",
        "documentation" : "<p>The resource handler has returned that the downstream resource failed to complete all of its ready-state checks.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceInternalErrorException",
        "documentation" : "<p>The resource handler has returned that the downstream service returned an internal error, typically with a <code>5XX HTTP</code> status code.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "HandlerFailureException",
        "documentation" : "<p>The resource handler has failed without a returning a more specific error code. This can include timeouts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The resource handler has returned that a non-transient resource limit was reached on the service side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCredentialsException",
        "documentation" : "<p>The resource handler has returned that the credentials provided by the user are invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource is temporarily unavailable to be acted upon. For example, if the resource is currently undergoing an operation and can't be acted upon until that operation is finished.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientTokenConflictException",
        "documentation" : "<p>The specified client token has already been used in another resource request.</p> <p>It's best practice for client tokens to be unique for each resource operation request. However, client token expire after 36 hours.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResourceRequest",
        "variableName" : "createResourceRequest",
        "variableType" : "CreateResourceRequest",
        "documentation" : "",
        "simpleType" : "CreateResourceRequest",
        "variableSetterType" : "CreateResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResource",
      "operationName" : "CreateResource",
      "returnType" : {
        "returnType" : "CreateResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResourceResult"
    },
    "DeleteResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourceRequest, DeleteResourceResult>",
      "asyncReturnType" : "DeleteResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified resource. For details, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-delete.html\">Deleting a resource</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p> <p>After you have initiated a resource deletion request, you can monitor the progress of your request by calling <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> using the <code>RequestToken</code> of the <code>ProgressEvent</code> returned by <code>DeleteResource</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource with the name requested already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "HandlerInternalFailureException",
        "documentation" : "<p>The resource handler has returned that an unexpected error occurred within the resource handler.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "GeneralServiceException",
        "documentation" : "<p>The resource handler has returned that the downstream service generated an error that doesn't map to any other handler error code.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotUpdatableException",
        "documentation" : "<p>One or more properties included in this resource operation are defined as create-only, and therefore can't be updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TypeNotFoundException",
        "documentation" : "<p>The specified extension doesn't exist in the CloudFormation registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentOperationException",
        "documentation" : "<p>Another resource operation is currently being performed on this resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The resource handler has returned that invalid input from the user has generated a generic exception.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PrivateTypeException",
        "documentation" : "<p>Cloud Control API hasn't received a valid response from the resource handler, due to a configuration error. This includes issues such as the resource handler returning an invalid response, or timing out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified identifier can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NetworkFailureException",
        "documentation" : "<p>The resource handler has returned that the request couldn't be completed due to networking issues, such as a failure to receive a response from the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedActionException",
        "documentation" : "<p>The specified resource doesn't support this resource operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotStabilizedException",
        "documentation" : "<p>The resource handler has returned that the downstream resource failed to complete all of its ready-state checks.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceInternalErrorException",
        "documentation" : "<p>The resource handler has returned that the downstream service returned an internal error, typically with a <code>5XX HTTP</code> status code.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "HandlerFailureException",
        "documentation" : "<p>The resource handler has failed without a returning a more specific error code. This can include timeouts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The resource handler has returned that a non-transient resource limit was reached on the service side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCredentialsException",
        "documentation" : "<p>The resource handler has returned that the credentials provided by the user are invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource is temporarily unavailable to be acted upon. For example, if the resource is currently undergoing an operation and can't be acted upon until that operation is finished.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientTokenConflictException",
        "documentation" : "<p>The specified client token has already been used in another resource request.</p> <p>It's best practice for client tokens to be unique for each resource operation request. However, client token expire after 36 hours.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourceRequest",
        "variableName" : "deleteResourceRequest",
        "variableType" : "DeleteResourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourceRequest",
        "variableSetterType" : "DeleteResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResource",
      "operationName" : "DeleteResource",
      "returnType" : {
        "returnType" : "DeleteResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourceResult"
    },
    "GetResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceRequest, GetResourceResult>",
      "asyncReturnType" : "GetResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the current state of the specified resource. For details, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-read.html\">Reading a resource's current state</a>.</p> <p>You can use this action to return information about an existing resource in your account and Amazon Web Services Region, whether those resources were provisioned using Cloud Control API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource with the name requested already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "HandlerInternalFailureException",
        "documentation" : "<p>The resource handler has returned that an unexpected error occurred within the resource handler.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "GeneralServiceException",
        "documentation" : "<p>The resource handler has returned that the downstream service generated an error that doesn't map to any other handler error code.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotUpdatableException",
        "documentation" : "<p>One or more properties included in this resource operation are defined as create-only, and therefore can't be updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TypeNotFoundException",
        "documentation" : "<p>The specified extension doesn't exist in the CloudFormation registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The resource handler has returned that invalid input from the user has generated a generic exception.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PrivateTypeException",
        "documentation" : "<p>Cloud Control API hasn't received a valid response from the resource handler, due to a configuration error. This includes issues such as the resource handler returning an invalid response, or timing out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified identifier can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NetworkFailureException",
        "documentation" : "<p>The resource handler has returned that the request couldn't be completed due to networking issues, such as a failure to receive a response from the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedActionException",
        "documentation" : "<p>The specified resource doesn't support this resource operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotStabilizedException",
        "documentation" : "<p>The resource handler has returned that the downstream resource failed to complete all of its ready-state checks.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceInternalErrorException",
        "documentation" : "<p>The resource handler has returned that the downstream service returned an internal error, typically with a <code>5XX HTTP</code> status code.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "HandlerFailureException",
        "documentation" : "<p>The resource handler has failed without a returning a more specific error code. This can include timeouts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The resource handler has returned that a non-transient resource limit was reached on the service side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCredentialsException",
        "documentation" : "<p>The resource handler has returned that the credentials provided by the user are invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource is temporarily unavailable to be acted upon. For example, if the resource is currently undergoing an operation and can't be acted upon until that operation is finished.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceRequest",
        "variableName" : "getResourceRequest",
        "variableType" : "GetResourceRequest",
        "documentation" : "",
        "simpleType" : "GetResourceRequest",
        "variableSetterType" : "GetResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResource",
      "operationName" : "GetResource",
      "returnType" : {
        "returnType" : "GetResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceResult"
    },
    "GetResourceRequestStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceRequestStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceRequestStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceRequestStatusRequest, GetResourceRequestStatusResult>",
      "asyncReturnType" : "GetResourceRequestStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current status of a resource operation request. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-manage-requests.html#resource-operations-manage-requests-track\">Tracking the progress of resource operation requests</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "RequestTokenNotFoundException",
        "documentation" : "<p>A resource operation with the specified request token can't be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceRequestStatusRequest",
        "variableName" : "getResourceRequestStatusRequest",
        "variableType" : "GetResourceRequestStatusRequest",
        "documentation" : "",
        "simpleType" : "GetResourceRequestStatusRequest",
        "variableSetterType" : "GetResourceRequestStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceRequestStatus",
      "operationName" : "GetResourceRequestStatus",
      "returnType" : {
        "returnType" : "GetResourceRequestStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceRequestStatusResult"
    },
    "ListResourceRequests" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceRequestsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceRequestsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceRequestsRequest, ListResourceRequestsResult>",
      "asyncReturnType" : "ListResourceRequestsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns existing resource operation requests. This includes requests of all status types. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-manage-requests.html#resource-operations-manage-requests-list\">Listing active resource operation requests</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p> <note> <p>Resource operation requests expire after 7 days.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourceRequestsRequest",
        "variableName" : "listResourceRequestsRequest",
        "variableType" : "ListResourceRequestsRequest",
        "documentation" : "",
        "simpleType" : "ListResourceRequestsRequest",
        "variableSetterType" : "ListResourceRequestsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceRequests",
      "operationName" : "ListResourceRequests",
      "returnType" : {
        "returnType" : "ListResourceRequestsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourceRequestsResult"
    },
    "ListResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesRequest, ListResourcesResult>",
      "asyncReturnType" : "ListResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the specified resources. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-list.html\">Discovering resources</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p> <p>You can use this action to return information about existing resources in your account and Amazon Web Services Region, whether those resources were provisioned using Cloud Control API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource with the name requested already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "HandlerInternalFailureException",
        "documentation" : "<p>The resource handler has returned that an unexpected error occurred within the resource handler.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "GeneralServiceException",
        "documentation" : "<p>The resource handler has returned that the downstream service generated an error that doesn't map to any other handler error code.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotUpdatableException",
        "documentation" : "<p>One or more properties included in this resource operation are defined as create-only, and therefore can't be updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TypeNotFoundException",
        "documentation" : "<p>The specified extension doesn't exist in the CloudFormation registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The resource handler has returned that invalid input from the user has generated a generic exception.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PrivateTypeException",
        "documentation" : "<p>Cloud Control API hasn't received a valid response from the resource handler, due to a configuration error. This includes issues such as the resource handler returning an invalid response, or timing out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified identifier can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NetworkFailureException",
        "documentation" : "<p>The resource handler has returned that the request couldn't be completed due to networking issues, such as a failure to receive a response from the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedActionException",
        "documentation" : "<p>The specified resource doesn't support this resource operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotStabilizedException",
        "documentation" : "<p>The resource handler has returned that the downstream resource failed to complete all of its ready-state checks.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceInternalErrorException",
        "documentation" : "<p>The resource handler has returned that the downstream service returned an internal error, typically with a <code>5XX HTTP</code> status code.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "HandlerFailureException",
        "documentation" : "<p>The resource handler has failed without a returning a more specific error code. This can include timeouts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The resource handler has returned that a non-transient resource limit was reached on the service side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCredentialsException",
        "documentation" : "<p>The resource handler has returned that the credentials provided by the user are invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource is temporarily unavailable to be acted upon. For example, if the resource is currently undergoing an operation and can't be acted upon until that operation is finished.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourcesRequest",
        "variableName" : "listResourcesRequest",
        "variableType" : "ListResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesRequest",
        "variableSetterType" : "ListResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResources",
      "operationName" : "ListResources",
      "returnType" : {
        "returnType" : "ListResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesResult"
    },
    "UpdateResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResourceRequest, UpdateResourceResult>",
      "asyncReturnType" : "UpdateResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified property values in the resource.</p> <p>You specify your resource property updates as a list of patch operations contained in a JSON patch document that adheres to the <a href=\"https://datatracker.ietf.org/doc/html/rfc6902\"> <i>RFC 6902 - JavaScript Object Notation (JSON) Patch</i> </a> standard.</p> <p>For details on how Cloud Control API performs resource update operations, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-update.html\">Updating a resource</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p> <p>After you have initiated a resource update request, you can monitor the progress of your request by calling <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> using the <code>RequestToken</code> of the <code>ProgressEvent</code> returned by <code>UpdateResource</code>.</p> <p>For more information about the properties of a specific resource, refer to the related topic for the resource in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">Resource and property types reference</a> in the <i>CloudFormation Users Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource with the name requested already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "HandlerInternalFailureException",
        "documentation" : "<p>The resource handler has returned that an unexpected error occurred within the resource handler.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "GeneralServiceException",
        "documentation" : "<p>The resource handler has returned that the downstream service generated an error that doesn't map to any other handler error code.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotUpdatableException",
        "documentation" : "<p>One or more properties included in this resource operation are defined as create-only, and therefore can't be updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TypeNotFoundException",
        "documentation" : "<p>The specified extension doesn't exist in the CloudFormation registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentOperationException",
        "documentation" : "<p>Another resource operation is currently being performed on this resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The resource handler has returned that invalid input from the user has generated a generic exception.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PrivateTypeException",
        "documentation" : "<p>Cloud Control API hasn't received a valid response from the resource handler, due to a configuration error. This includes issues such as the resource handler returning an invalid response, or timing out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified identifier can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NetworkFailureException",
        "documentation" : "<p>The resource handler has returned that the request couldn't be completed due to networking issues, such as a failure to receive a response from the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedActionException",
        "documentation" : "<p>The specified resource doesn't support this resource operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotStabilizedException",
        "documentation" : "<p>The resource handler has returned that the downstream resource failed to complete all of its ready-state checks.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceInternalErrorException",
        "documentation" : "<p>The resource handler has returned that the downstream service returned an internal error, typically with a <code>5XX HTTP</code> status code.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "HandlerFailureException",
        "documentation" : "<p>The resource handler has failed without a returning a more specific error code. This can include timeouts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The resource handler has returned that a non-transient resource limit was reached on the service side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCredentialsException",
        "documentation" : "<p>The resource handler has returned that the credentials provided by the user are invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource is temporarily unavailable to be acted upon. For example, if the resource is currently undergoing an operation and can't be acted upon until that operation is finished.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientTokenConflictException",
        "documentation" : "<p>The specified client token has already been used in another resource request.</p> <p>It's best practice for client tokens to be unique for each resource operation request. However, client token expire after 36 hours.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResourceRequest",
        "variableName" : "updateResourceRequest",
        "variableType" : "UpdateResourceRequest",
        "documentation" : "",
        "simpleType" : "UpdateResourceRequest",
        "variableSetterType" : "UpdateResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResource",
      "operationName" : "UpdateResource",
      "returnType" : {
        "returnType" : "UpdateResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResourceResult"
    }
  },
  "shapes" : {
    "AlreadyExistsException" : {
      "c2jName" : "AlreadyExistsException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The resource with the name requested already exists.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AlreadyExistsException",
      "fullyQualifiedName" : "com.amazonaws.services.cloudcontrolapi.exception.AlreadyExistsException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.cloudcontrolapi.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AlreadyExistsException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlreadyExistsException",
        "variableName" : "alreadyExistsException",
        "variableType" : "AlreadyExistsException",
        "documentation" : null,
        "simpleType" : "AlreadyExistsException",
        "variableSetterType" : "AlreadyExistsException"
      },
      "wrapper" : false
    },
    "CancelResourceRequestRequest" : {
      "c2jName" : "CancelResourceRequestInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.cloudcontrolapi.request.CancelResourceRequestRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelResourceRequest",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CloudApiService.CancelResourceRequest",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "RequestToken",
        "c2jShape" : "RequestToken",
        "deprecated" : false,
        "documentation" : "<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>\n@param requestToken The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRequestToken",
        "getterDocumentation" : "/**<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>\n@return The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.*/",
        "getterMethodName" : "getRequestToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RequestToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RequestToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RequestToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>\n@param requestToken The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.*/",
        "setterMethodName" : "setRequestToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>\n@param requestToken The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestToken",
          "variableType" : "String",
          "documentation" : "<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "RequestToken" : {
          "c2jName" : "RequestToken",
          "c2jShape" : "RequestToken",
          "deprecated" : false,
          "documentation" : "<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>\n@param requestToken The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRequestToken",
          "getterDocumentation" : "/**<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>\n@return The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.*/",
          "getterMethodName" : "getRequestToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RequestToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RequestToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RequestToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>\n@param requestToken The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.*/",
          "setterMethodName" : "setRequestToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>\n@param requestToken The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestToken",
            "variableType" : "String",
            "documentation" : "<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.cloudcontrolapi.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "RequestToken" ],
      "shapeName" : "CancelResourceRequestRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelResourceRequestRequest",
        "variableName" : "cancelResourceRequestRequest",
        "variableType" : "CancelResourceRequestRequest",
        "documentation" : null,
        "simpleType" : "CancelResourceRequestRequest",
        "variableSetterType" : "CancelResourceRequestRequest"
      },
      "wrapper" : false
    },
    "CancelResourceRequestResult" : {
      "c2jName" : "CancelResourceRequestOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.cloudcontrolapi.response.CancelResourceRequestResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ProgressEvent",
        "c2jShape" : "ProgressEvent",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param progressEvent \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProgressEvent",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getProgressEvent",
        "getterModel" : {
          "returnType" : "ProgressEvent",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProgressEvent",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProgressEvent",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ProgressEvent",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param progressEvent */",
        "setterMethodName" : "setProgressEvent",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ProgressEvent",
          "variableName" : "progressEvent",
          "variableType" : "ProgressEvent",
          "documentation" : "",
          "simpleType" : "ProgressEvent",
          "variableSetterType" : "ProgressEvent"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param progressEvent \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ProgressEvent",
          "variableName" : "progressEvent",
          "variableType" : "ProgressEvent",
          "documentation" : "",
          "simpleType" : "ProgressEvent",
          "variableSetterType" : "ProgressEvent"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ProgressEvent" : {
          "c2jName" : "ProgressEvent",
          "c2jShape" : "ProgressEvent",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param progressEvent \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProgressEvent",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getProgressEvent",
          "getterModel" : {
            "returnType" : "ProgressEvent",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ProgressEvent",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ProgressEvent",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ProgressEvent",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param progressEvent */",
          "setterMethodName" : "setProgressEvent",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ProgressEvent",
            "variableName" : "progressEvent",
            "variableType" : "ProgressEvent",
            "documentation" : "",
            "simpleType" : "ProgressEvent",
            "variableSetterType" : "ProgressEvent"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param progressEvent \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ProgressEvent",
            "variableName" : "progressEvent",
            "variableType" : "ProgressEvent",
            "documentation" : "",
            "simpleType" : "ProgressEvent",
            "variableSetterType" : "ProgressEvent"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.cloudcontrolapi.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "CancelResourceRequestResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelResourceRequestResult",
        "variableName" : "cancelResourceRequestResult",
        "variableType" : "CancelResourceRequestResult",
        "documentation" : null,
        "simpleType" : "CancelResourceRequestResult",
        "variableSetterType" : "CancelResourceRequestResult"
      },
      "wrapper" : false
    },
    "ClientTokenConflictException" : {
      "c2jName" : "ClientTokenConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The specified client token has already been used in another resource request.</p> <p>It's best practice for client tokens to be unique for each resource operation request. However, client token expire after 36 hours.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ClientTokenConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.cloudcontrolapi.exception.ClientTokenConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.cloudcontrolapi.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ClientTokenConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ClientTokenConflictException",
        "variableName" : "clientTokenConflictException",
        "variableType" : "ClientTokenConflictException",
        "documentation" : null,
        "simpleType" : "ClientTokenConflictException",
        "variableSetterType" : "ClientTokenConflictException"
      },
      "wrapper" : false
    },
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The resource is currently being modified by another operation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConcurrentModificationException",
      "fullyQualifiedName" : "com.amazonaws.services.cloudcontrolapi.exception.ConcurrentModificationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.cloudcontrolapi.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConcurrentModificationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConcurrentModificationException",
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "wrapper" : false
    },
    "ConcurrentOperationException" : {
      "c2jName" : "ConcurrentOperationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Another resource operation is currently being performed on this resource.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConcurrentOperationException",
      "fullyQualifiedName" : "com.amazonaws.services.cloudcontrolapi.exception.ConcurrentOperationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.cloudcontrolapi.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConcurrentOperationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConcurrentOperationException",
        "variableName" : "concurrentOperationException",
        "variableType" : "ConcurrentOperationException",
        "documentation" : null,
        "simpleType" : "ConcurrentOperationException",
        "variableSetterType" : "ConcurrentOperationException"
      },
      "wrapper" : false
    },
    "CreateResourceRequest" : {
      "c2jName" : "CreateResourceInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.cloudcontrolapi.request.CreateResourceRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateResource",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CloudApiService.CreateResource",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "TypeName",
        "c2jShape" : "TypeName",
        "deprecated" : false,
        "documentation" : "<p>The name of the resource type.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the resource type.</p>\n@param typeName The name of the resource type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTypeName",
        "getterDocumentation" : "/**<p>The name of the resource type.</p>\n@return The name of the resource type.*/",
        "getterMethodName" : "getTypeName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TypeName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TypeName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TypeName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the resource type.</p>\n@param typeName The name of the resource type.*/",
        "setterMethodName" : "setTypeName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "typeName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the resource type.</p>\n@param typeName The name of the resource type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "typeName",
          "variableType" : "String",
          "documentation" : "<p>The name of the resource type.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TypeVersionId",
        "c2jShape" : "TypeVersionId",
        "deprecated" : false,
        "documentation" : "<p>For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.</p>\n@param typeVersionId For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTypeVersionId",
        "getterDocumentation" : "/**<p>For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.</p>\n@return For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.*/",
        "getterMethodName" : "getTypeVersionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TypeVersionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TypeVersionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TypeVersionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.</p>\n@param typeVersionId For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.*/",
        "setterMethodName" : "setTypeVersionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "typeVersionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.</p>\n@param typeVersionId For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "typeVersionId",
          "variableType" : "String",
          "documentation" : "<p>For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RoleArn",
        "c2jShape" : "RoleArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n@param roleArn The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoleArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n@return The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.*/",
        "getterMethodName" : "getRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RoleArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n@param roleArn The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.*/",
        "setterMethodName" : "setRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n@param roleArn The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClientToken",
        "c2jShape" : "ClientToken",
        "deprecated" : false,
        "documentation" : "<p>A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n@param clientToken A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n@return A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n@param clientToken A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n@param clientToken A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DesiredState",
        "c2jShape" : "Properties",
        "deprecated" : false,
        "documentation" : "<p>Structured data format representing the desired state of the resource, consisting of that resource's properties and their desired values.</p> <note> <p>Cloud Control API currently supports JSON as a structured data format.</p> </note> <pre><code> &lt;p&gt;Specify the desired state as one of the following:&lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt;A JSON blob&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;A local path containing the desired state in JSON data format&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt;For more information, see &lt;a href=&quot;https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-create.html#resource-operations-create-desiredstate&quot;&gt;Composing the desired state of the resource&lt;/a&gt; in the &lt;i&gt;Amazon Web Services Cloud Control API User Guide&lt;/i&gt;.&lt;/p&gt; &lt;p&gt;For more information about the properties of a specific resource, refer to the related topic for the resource in the &lt;a href=&quot;https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html&quot;&gt;Resource and property types reference&lt;/a&gt; in the &lt;i&gt;CloudFormation Users Guide&lt;/i&gt;.&lt;/p&gt; </code></pre>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
[...]
