{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "ClientVersion" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "modify" : [ {
          "5.1" : {
            "emitAsType" : null,
            "emitEnumName" : "FIVE_ONE",
            "emitPropertyName" : null,
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        }, {
          "5.3" : {
            "emitAsType" : null,
            "emitEnumName" : "FIVE_THREE",
            "emitPropertyName" : null,
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      },
      "CloudHsmServiceException" : {
        "exclude" : [ "retryable" ],
        "excludeShape" : false,
        "inject" : null,
        "modify" : null
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeHsm" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeLunaClient" : {
        "methodForms" : [ [ ] ]
      },
      "ListAvailableZones" : {
        "methodForms" : [ [ ] ]
      },
      "ListHapgs" : {
        "methodForms" : [ [ ] ]
      },
      "ListHsms" : {
        "methodForms" : [ [ ] ]
      },
      "ListLunaClients" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2014-05-30",
    "asyncClient" : "AWSCloudHSMAsyncClient",
    "asyncClientBuilderClassName" : "AWSCloudHSMAsyncClientBuilder",
    "asyncInterface" : "AWSCloudHSMAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCloudHSMModuleInjector",
    "defaultEndpoint" : "https://cloudhsm.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "cloudhsm.us-east-1.amazonaws.com/",
    "documentation" : "<fullname>AWS CloudHSM Service</fullname>",
    "endpointPrefix" : "cloudhsm",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cloudhsm",
    "packagePath" : "com/amazonaws/services/cloudhsm",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "CloudHSM",
    "serviceFullName" : "Amazon CloudHSM",
    "serviceName" : "CloudHSM",
    "signingName" : "cloudhsm",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudhsm.smoketests",
    "syncClient" : "AWSCloudHSMClient",
    "syncClientBuilderClassName" : "AWSCloudHSMClientBuilder",
    "syncInterface" : "AWSCloudHSM",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddTagsToResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>",
      "asyncReturnType" : "AddTagsToResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or overwrites one or more tags for the specified AWS CloudHSM resource.</p> <p>Each tag consists of a key and a value. Tag keys must be unique to each resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "documentation" : "",
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTagsToResource",
      "operationName" : "AddTagsToResource",
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "AddTagsToResourceResult"
    },
    "CreateHapg" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHapgResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHapgResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHapgRequest, CreateHapgResult>",
      "asyncReturnType" : "CreateHapgResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a high-availability partition group. A high-availability partition group is a group of partitions that spans multiple physical HSMs.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateHapgRequest",
        "variableName" : "createHapgRequest",
        "variableType" : "CreateHapgRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateHapgRequest</a> action.</p>",
        "simpleType" : "CreateHapgRequest",
        "variableSetterType" : "CreateHapgRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createHapg",
      "operationName" : "CreateHapg",
      "returnType" : {
        "returnType" : "CreateHapgResult",
        "documentation" : "<p>Contains the output of the <a>CreateHAPartitionGroup</a> action.</p>"
      },
      "syncReturnType" : "CreateHapgResult"
    },
    "CreateHsm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHsmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHsmRequest, CreateHsmResult>",
      "asyncReturnType" : "CreateHsmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an uninitialized HSM instance.</p> <p>There is an upfront fee charged for each HSM instance that you create with the <a>CreateHsm</a> operation. If you accidentally provision an HSM and want to request a refund, delete the instance using the <a>DeleteHsm</a> operation, go to the <a href=\"https://console.aws.amazon.com/support/home#/\">AWS Support Center</a>, create a new case, and select <b>Account and Billing Support</b>.</p> <important> <p>It can take up to 20 minutes to create and provision an HSM. You can monitor the status of the HSM with the <a>DescribeHsm</a> operation. The HSM is ready to be initialized when the status changes to <code>RUNNING</code>.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateHsmRequest",
        "variableName" : "createHsmRequest",
        "variableType" : "CreateHsmRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateHsm</a> operation.</p>",
        "simpleType" : "CreateHsmRequest",
        "variableSetterType" : "CreateHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createHsm",
      "operationName" : "CreateHsm",
      "returnType" : {
        "returnType" : "CreateHsmResult",
        "documentation" : "<p>Contains the output of the <a>CreateHsm</a> operation.</p>"
      },
      "syncReturnType" : "CreateHsmResult"
    },
    "CreateLunaClient" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLunaClientResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLunaClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLunaClientRequest, CreateLunaClientResult>",
      "asyncReturnType" : "CreateLunaClientResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an HSM client.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateLunaClientRequest",
        "variableName" : "createLunaClientRequest",
        "variableType" : "CreateLunaClientRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateLunaClient</a> action.</p>",
        "simpleType" : "CreateLunaClientRequest",
        "variableSetterType" : "CreateLunaClientRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLunaClient",
      "operationName" : "CreateLunaClient",
      "returnType" : {
        "returnType" : "CreateLunaClientResult",
        "documentation" : "<p>Contains the output of the <a>CreateLunaClient</a> action.</p>"
      },
      "syncReturnType" : "CreateLunaClientResult"
    },
    "DeleteHapg" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHapgResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHapgResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHapgRequest, DeleteHapgResult>",
      "asyncReturnType" : "DeleteHapgResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a high-availability partition group.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteHapgRequest",
        "variableName" : "deleteHapgRequest",
        "variableType" : "DeleteHapgRequest",
        "documentation" : "<p>Contains the inputs for the <a>DeleteHapg</a> action.</p>",
        "simpleType" : "DeleteHapgRequest",
        "variableSetterType" : "DeleteHapgRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteHapg",
      "operationName" : "DeleteHapg",
      "returnType" : {
        "returnType" : "DeleteHapgResult",
        "documentation" : "<p>Contains the output of the <a>DeleteHapg</a> action.</p>"
      },
      "syncReturnType" : "DeleteHapgResult"
    },
    "DeleteHsm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHsmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHsmRequest, DeleteHsmResult>",
      "asyncReturnType" : "DeleteHsmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an HSM. After completion, this operation cannot be undone and your key material cannot be recovered.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteHsmRequest",
        "variableName" : "deleteHsmRequest",
        "variableType" : "DeleteHsmRequest",
        "documentation" : "<p>Contains the inputs for the <a>DeleteHsm</a> operation.</p>",
        "simpleType" : "DeleteHsmRequest",
        "variableSetterType" : "DeleteHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteHsm",
      "operationName" : "DeleteHsm",
      "returnType" : {
        "returnType" : "DeleteHsmResult",
        "documentation" : "<p>Contains the output of the <a>DeleteHsm</a> operation.</p>"
      },
      "syncReturnType" : "DeleteHsmResult"
    },
    "DeleteLunaClient" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLunaClientResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLunaClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLunaClientRequest, DeleteLunaClientResult>",
      "asyncReturnType" : "DeleteLunaClientResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a client.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteLunaClientRequest",
        "variableName" : "deleteLunaClientRequest",
        "variableType" : "DeleteLunaClientRequest",
        "documentation" : "",
        "simpleType" : "DeleteLunaClientRequest",
        "variableSetterType" : "DeleteLunaClientRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLunaClient",
      "operationName" : "DeleteLunaClient",
      "returnType" : {
        "returnType" : "DeleteLunaClientResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLunaClientResult"
    },
    "DescribeHapg" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeHapgResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeHapgResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeHapgRequest, DescribeHapgResult>",
      "asyncReturnType" : "DescribeHapgResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a high-availability partition group.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeHapgRequest",
        "variableName" : "describeHapgRequest",
        "variableType" : "DescribeHapgRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeHapg</a> action.</p>",
        "simpleType" : "DescribeHapgRequest",
        "variableSetterType" : "DescribeHapgRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeHapg",
      "operationName" : "DescribeHapg",
      "returnType" : {
        "returnType" : "DescribeHapgResult",
        "documentation" : "<p>Contains the output of the <a>DescribeHapg</a> action.</p>"
      },
      "syncReturnType" : "DescribeHapgResult"
    },
    "DescribeHsm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeHsmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeHsmRequest, DescribeHsmResult>",
      "asyncReturnType" : "DescribeHsmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about an HSM. You can identify the HSM by its ARN or its serial number.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeHsmRequest",
        "variableName" : "describeHsmRequest",
        "variableType" : "DescribeHsmRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeHsm</a> operation. </p>",
        "simpleType" : "DescribeHsmRequest",
        "variableSetterType" : "DescribeHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeHsm",
      "operationName" : "DescribeHsm",
      "returnType" : {
        "returnType" : "DescribeHsmResult",
        "documentation" : "<p>Contains the output of the <a>DescribeHsm</a> operation.</p>"
      },
      "syncReturnType" : "DescribeHsmResult"
    },
    "DescribeLunaClient" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLunaClientResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLunaClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLunaClientRequest, DescribeLunaClientResult>",
      "asyncReturnType" : "DescribeLunaClientResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about an HSM client.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLunaClientRequest",
        "variableName" : "describeLunaClientRequest",
        "variableType" : "DescribeLunaClientRequest",
        "documentation" : "",
        "simpleType" : "DescribeLunaClientRequest",
        "variableSetterType" : "DescribeLunaClientRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLunaClient",
      "operationName" : "DescribeLunaClient",
      "returnType" : {
        "returnType" : "DescribeLunaClientResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLunaClientResult"
    },
    "GetConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfigRequest, GetConfigResult>",
      "asyncReturnType" : "GetConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the configuration files necessary to connect to all high availability partition groups the client is associated with.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetConfigRequest",
        "variableName" : "getConfigRequest",
        "variableType" : "GetConfigRequest",
        "documentation" : "",
        "simpleType" : "GetConfigRequest",
        "variableSetterType" : "GetConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfig",
      "operationName" : "GetConfig",
      "returnType" : {
        "returnType" : "GetConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConfigResult"
    },
    "ListAvailableZones" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAvailableZonesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAvailableZonesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAvailableZonesRequest, ListAvailableZonesResult>",
      "asyncReturnType" : "ListAvailableZonesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Availability Zones that have available AWS CloudHSM capacity.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAvailableZonesRequest",
        "variableName" : "listAvailableZonesRequest",
        "variableType" : "ListAvailableZonesRequest",
        "documentation" : "<p>Contains the inputs for the <a>ListAvailableZones</a> action.</p>",
        "simpleType" : "ListAvailableZonesRequest",
        "variableSetterType" : "ListAvailableZonesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAvailableZones",
      "operationName" : "ListAvailableZones",
      "returnType" : {
        "returnType" : "ListAvailableZonesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAvailableZonesResult"
    },
    "ListHapgs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListHapgsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListHapgsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHapgsRequest, ListHapgsResult>",
      "asyncReturnType" : "ListHapgsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the high-availability partition groups for the account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHapgs</a> to retrieve the next set of items.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListHapgsRequest",
        "variableName" : "listHapgsRequest",
        "variableType" : "ListHapgsRequest",
        "documentation" : "",
        "simpleType" : "ListHapgsRequest",
        "variableSetterType" : "ListHapgsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listHapgs",
      "operationName" : "ListHapgs",
      "returnType" : {
        "returnType" : "ListHapgsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListHapgsResult"
    },
    "ListHsms" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListHsmsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListHsmsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHsmsRequest, ListHsmsResult>",
      "asyncReturnType" : "ListHsmsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the identifiers of all of the HSMs provisioned for the current customer.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHsms</a> to retrieve the next set of items.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListHsmsRequest",
        "variableName" : "listHsmsRequest",
        "variableType" : "ListHsmsRequest",
        "documentation" : "",
        "simpleType" : "ListHsmsRequest",
        "variableSetterType" : "ListHsmsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listHsms",
      "operationName" : "ListHsms",
      "returnType" : {
        "returnType" : "ListHsmsResult",
        "documentation" : "<p>Contains the output of the <a>ListHsms</a> operation.</p>"
      },
      "syncReturnType" : "ListHsmsResult"
    },
    "ListLunaClients" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLunaClientsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLunaClientsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLunaClientsRequest, ListLunaClientsResult>",
      "asyncReturnType" : "ListLunaClientsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the clients.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListLunaClients</a> to retrieve the next set of items.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListLunaClientsRequest",
        "variableName" : "listLunaClientsRequest",
        "variableType" : "ListLunaClientsRequest",
        "documentation" : "",
        "simpleType" : "ListLunaClientsRequest",
        "variableSetterType" : "ListLunaClientsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLunaClients",
      "operationName" : "ListLunaClients",
      "returnType" : {
        "returnType" : "ListLunaClientsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLunaClientsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all tags for the specified AWS CloudHSM resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ModifyHapg" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyHapgResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyHapgResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyHapgRequest, ModifyHapgResult>",
      "asyncReturnType" : "ModifyHapgResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies an existing high-availability partition group.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyHapgRequest",
        "variableName" : "modifyHapgRequest",
        "variableType" : "ModifyHapgRequest",
        "documentation" : "",
        "simpleType" : "ModifyHapgRequest",
        "variableSetterType" : "ModifyHapgRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyHapg",
      "operationName" : "ModifyHapg",
      "returnType" : {
        "returnType" : "ModifyHapgResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyHapgResult"
    },
    "ModifyHsm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyHsmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyHsmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyHsmRequest, ModifyHsmResult>",
      "asyncReturnType" : "ModifyHsmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies an HSM.</p> <important> <p>This operation can result in the HSM being offline for up to 15 minutes while the AWS CloudHSM service is reconfigured. If you are modifying a production HSM, you should ensure that your AWS CloudHSM service is configured for high availability, and consider executing this operation during a maintenance window.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyHsmRequest",
        "variableName" : "modifyHsmRequest",
        "variableType" : "ModifyHsmRequest",
        "documentation" : "<p>Contains the inputs for the <a>ModifyHsm</a> operation.</p>",
        "simpleType" : "ModifyHsmRequest",
        "variableSetterType" : "ModifyHsmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyHsm",
      "operationName" : "ModifyHsm",
      "returnType" : {
        "returnType" : "ModifyHsmResult",
        "documentation" : "<p>Contains the output of the <a>ModifyHsm</a> operation.</p>"
      },
      "syncReturnType" : "ModifyHsmResult"
    },
    "ModifyLunaClient" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyLunaClientResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyLunaClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyLunaClientRequest, ModifyLunaClientResult>",
      "asyncReturnType" : "ModifyLunaClientResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the certificate used by the client.</p> <p>This action can potentially start a workflow to install the new certificate on the client's HSMs.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyLunaClientRequest",
        "variableName" : "modifyLunaClientRequest",
        "variableType" : "ModifyLunaClientRequest",
        "documentation" : "",
        "simpleType" : "ModifyLunaClientRequest",
        "variableSetterType" : "ModifyLunaClientRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyLunaClient",
      "operationName" : "ModifyLunaClient",
      "returnType" : {
        "returnType" : "ModifyLunaClientResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyLunaClientResult"
    },
    "RemoveTagsFromResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromResourceRequest, RemoveTagsFromResourceResult>",
      "asyncReturnType" : "RemoveTagsFromResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from the specified AWS CloudHSM resource.</p> <p>To remove a tag, specify only the tag key to remove (not the value). To overwrite the value for an existing tag, use <a>AddTagsToResource</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "CloudHsmServiceException",
        "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>"
      }, {
        "exceptionName" : "CloudHsmInternalException",
        "documentation" : "<p>Indicates that an internal error occurred.</p>"
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that one or more of the request parameters are not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTagsFromResourceRequest",
        "variableName" : "removeTagsFromResourceRequest",
        "variableType" : "RemoveTagsFromResourceRequest",
        "documentation" : "",
        "simpleType" : "RemoveTagsFromResourceRequest",
        "variableSetterType" : "RemoveTagsFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTagsFromResource",
      "operationName" : "RemoveTagsFromResource",
      "returnType" : {
        "returnType" : "RemoveTagsFromResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveTagsFromResourceResult"
    }
  },
  "shapes" : {
    "AddTagsToResourceRequest" : {
      "c2jName" : "AddTagsToResourceRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddTagsToResource",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CloudHsmFrontendService.AddTagsToResource",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ResourceArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.</p>\n@param resourceArn The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.</p>\n@return The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ResourceArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ResourceArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.</p>\n@param resourceArn The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.</p>\n@param resourceArn The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TagList",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>One or more tags.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>One or more tags.</p>\n@param tagList One or more tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>One or more tags.</p>\n@return One or more tags.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "TagList",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TagList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "TagList",
        "setterDocumentation" : "/**<p>One or more tags.</p>\n@param tagList One or more tags.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tagList",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>One or more tags.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagList(java.util.Collection)} or {@link #withTagList(java.util.Collection)} if you want to override the existing values.</p>\n@param tagList One or more tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tagList",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>One or more tags.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceArn" : {
          "c2jName" : "ResourceArn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.</p>\n@param resourceArn The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.</p>\n@return The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ResourceArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ResourceArn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.</p>\n@param resourceArn The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.</p>\n@param resourceArn The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TagList" : {
          "c2jName" : "TagList",
          "c2jShape" : "TagList",
          "deprecated" : false,
          "documentation" : "<p>One or more tags.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>One or more tags.</p>\n@param tagList One or more tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>One or more tags.</p>\n@return One or more tags.*/",
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "TagList",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TagList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Tag",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Tag",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "templateType" : "java.util.List<Tag>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "TagList",
          "setterDocumentation" : "/**<p>One or more tags.</p>\n@param tagList One or more tags.*/",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "variableName" : "tagList",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>One or more tags.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagList(java.util.Collection)} or {@link #withTagList(java.util.Collection)} if you want to override the existing values.</p>\n@param tagList One or more tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "variableName" : "tagList",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "<p>One or more tags.</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "ResourceArn", "TagList" ],
      "shapeName" : "AddTagsToResourceRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "documentation" : null,
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "wrapper" : false
    },
    "AddTagsToResourceResult" : {
      "c2jName" : "AddTagsToResourceResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Status",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The status of the operation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The status of the operation.</p>\n@param status The status of the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The status of the operation.</p>\n@return The status of the operation.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Status",
        "setterDocumentation" : "/**<p>The status of the operation.</p>\n@param status The status of the operation.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The status of the operation.</p>\n@param status The status of the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The status of the operation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Status" : {
          "c2jName" : "Status",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The status of the operation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The status of the operation.</p>\n@param status The status of the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The status of the operation.</p>\n@return The status of the operation.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Status",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Status",
          "setterDocumentation" : "/**<p>The status of the operation.</p>\n@param status The status of the operation.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The status of the operation.</p>\n@param status The status of the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "<p>The status of the operation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "Status" ],
      "shapeName" : "AddTagsToResourceResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AddTagsToResourceResult",
        "variableName" : "addTagsToResourceResult",
        "variableType" : "AddTagsToResourceResult",
        "documentation" : null,
        "simpleType" : "AddTagsToResourceResult",
        "variableSetterType" : "AddTagsToResourceResult"
      },
      "wrapper" : false
    },
    "ClientVersion" : {
      "c2jName" : "ClientVersion",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "FIVE_ONE",
        "value" : "5.1"
      }, {
        "name" : "FIVE_THREE",
        "value" : "5.3"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ClientVersion",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ClientVersion",
        "variableName" : "clientVersion",
        "variableType" : "ClientVersion",
        "documentation" : null,
        "simpleType" : "ClientVersion",
        "variableSetterType" : "ClientVersion"
      },
      "wrapper" : false
    },
    "CloudHsmInternalException" : {
      "c2jName" : "CloudHsmInternalException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Indicates that an internal error occurred.</p>",
      "enums" : null,
      "errorCode" : "CloudHsmInternalException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "CloudHsmInternalException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CloudHsmInternalException",
        "variableName" : "cloudHsmInternalException",
        "variableType" : "CloudHsmInternalException",
        "documentation" : null,
        "simpleType" : "CloudHsmInternalException",
        "variableSetterType" : "CloudHsmInternalException"
      },
      "wrapper" : false
    },
    "CloudHsmObjectState" : {
      "c2jName" : "CloudHsmObjectState",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "READY",
        "value" : "READY"
      }, {
        "name" : "UPDATING",
        "value" : "UPDATING"
      }, {
        "name" : "DEGRADED",
        "value" : "DEGRADED"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "CloudHsmObjectState",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CloudHsmObjectState",
        "variableName" : "cloudHsmObjectState",
        "variableType" : "CloudHsmObjectState",
        "documentation" : null,
        "simpleType" : "CloudHsmObjectState",
        "variableSetterType" : "CloudHsmObjectState"
      },
      "wrapper" : false
    },
    "CloudHsmServiceException" : {
      "c2jName" : "CloudHsmServiceException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Indicates that an exception occurred in the AWS CloudHSM service.</p>",
      "enums" : null,
      "errorCode" : "CloudHsmServiceException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "CloudHsmServiceException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CloudHsmServiceException",
        "variableName" : "cloudHsmServiceException",
        "variableType" : "CloudHsmServiceException",
        "documentation" : null,
        "simpleType" : "CloudHsmServiceException",
        "variableSetterType" : "CloudHsmServiceException"
      },
      "wrapper" : false
    },
    "CreateHapgRequest" : {
      "c2jName" : "CreateHapgRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the inputs for the <a>CreateHapgRequest</a> action.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateHapg",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CloudHsmFrontendService.CreateHapg",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Label",
        "c2jShape" : "Label",
        "deprecated" : false,
        "documentation" : "<p>The label of the new high-availability partition group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The label of the new high-availability partition group.</p>\n@param label The label of the new high-availability partition group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The label of the new high-availability partition group.</p>\n@return The label of the new high-availability partition group.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Label",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Label",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Label",
        "setterDocumentation" : "/**<p>The label of the new high-availability partition group.</p>\n@param label The label of the new high-availability partition group.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "label",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The label of the new high-availability partition group.</p>\n@param label The label of the new high-availability partition group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "label",
          "variableType" : "String",
          "documentation" : "<p>The label of the new high-availability partition group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Label" : {
          "c2jName" : "Label",
          "c2jShape" : "Label",
          "deprecated" : false,
          "documentation" : "<p>The label of the new high-availability partition group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The label of the new high-availability partition group.</p>\n@param label The label of the new high-availability partition group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The label of the new high-availability partition group.</p>\n@return The label of the new high-availability partition group.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Label",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Label",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Label",
          "setterDocumentation" : "/**<p>The label of the new high-availability partition group.</p>\n@param label The label of the new high-availability partition group.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "label",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The label of the new high-availability partition group.</p>\n@param label The label of the new high-availability partition group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "label",
            "variableType" : "String",
            "documentation" : "<p>The label of the new high-availability partition group.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "Label" ],
      "shapeName" : "CreateHapgRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreateHapgRequest",
        "variableName" : "createHapgRequest",
        "variableType" : "CreateHapgRequest",
        "documentation" : null,
        "simpleType" : "CreateHapgRequest",
        "variableSetterType" : "CreateHapgRequest"
      },
      "wrapper" : false
    },
    "CreateHapgResult" : {
      "c2jName" : "CreateHapgResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the output of the <a>CreateHAPartitionGroup</a> action.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "HapgArn",
        "c2jShape" : "HapgArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the high-availability partition group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@param hapgArn The ARN of the high-availability partition group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@return The ARN of the high-availability partition group.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "HapgArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HapgArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "HapgArn",
        "setterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@param hapgArn The ARN of the high-availability partition group.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "hapgArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@param hapgArn The ARN of the high-availability partition group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "hapgArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the high-availability partition group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "HapgArn" : {
          "c2jName" : "HapgArn",
          "c2jShape" : "HapgArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the high-availability partition group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@param hapgArn The ARN of the high-availability partition group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@return The ARN of the high-availability partition group.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "HapgArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HapgArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "HapgArn",
          "setterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@param hapgArn The ARN of the high-availability partition group.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "hapgArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The ARN of the high-availability partition group.</p>\n@param hapgArn The ARN of the high-availability partition group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "hapgArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the high-availability partition group.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "CreateHapgResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CreateHapgResult",
        "variableName" : "createHapgResult",
        "variableType" : "CreateHapgResult",
        "documentation" : null,
        "simpleType" : "CreateHapgResult",
        "variableSetterType" : "CreateHapgResult"
      },
      "wrapper" : false
    },
    "CreateHsmRequest" : {
      "c2jName" : "CreateHsmRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the inputs for the <a>CreateHsm</a> operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateHsm",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CloudHsmFrontendService.CreateHsm",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "SubnetId",
        "c2jShape" : "SubnetId",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the subnet in your VPC in which to place the HSM.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the subnet in your VPC in which to place the HSM.</p>\n@param subnetId The identifier of the subnet in your VPC in which to place the HSM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The identifier of the subnet in your VPC in which to place the HSM.</p>\n@return The identifier of the subnet in your VPC in which to place the HSM.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SubnetId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubnetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SubnetId",
        "setterDocumentation" : "/**<p>The identifier of the subnet in your VPC in which to place the HSM.</p>\n@param subnetId The identifier of the subnet in your VPC in which to place the HSM.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "subnetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The identifier of the subnet in your VPC in which to place the HSM.</p>\n@param subnetId The identifier of the subnet in your VPC in which to place the HSM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "subnetId",
          "variableType" : "String",
          "documentation" : "<p>The identifier of the subnet in your VPC in which to place the HSM.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SshKey",
        "c2jShape" : "SshKey",
        "deprecated" : false,
        "documentation" : "<p>The SSH public key to install on the HSM.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The SSH public key to install on the HSM.</p>\n@param sshKey The SSH public key to install on the HSM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The SSH public key to install on the HSM.</p>\n@return The SSH public key to install on the HSM.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SshKey",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SshKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SshKey",
        "setterDocumentation" : "/**<p>The SSH public key to install on the HSM.</p>\n@param sshKey The SSH public key to install on the HSM.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "sshKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The SSH public key to install on the HSM.</p>\n@param sshKey The SSH public key to install on the HSM.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "sshKey",
          "variableType" : "String",
          "documentation" : "<p>The SSH public key to install on the HSM.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EniIp",
        "c2jShape" : "IpAddress",
        "deprecated" : false,
        "documentation" : "<p>The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.</p>\n@param eniIp The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.</p>\n@return The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "EniIp",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EniIp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "EniIp",
        "setterDocumentation" : "/**<p>The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.</p>\n@param eniIp The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "eniIp",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.</p>\n@param eniIp The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "eniIp",
          "variableType" : "String",
          "documentation" : "<p>The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IamRoleArn",
        "c2jShape" : "IamRoleArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>\n@param iamRoleArn The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>\n@return The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "IamRoleArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IamRoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "IamRoleArn",
        "setterDocumentation" : "/**<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>\n@param iamRoleArn The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "iamRoleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>\n@param iamRoleArn The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "iamRoleArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ExternalId",
        "c2jShape" : "ExternalId",
        "deprecated" : false,
        "documentation" : "<p>The external ID from <b>IamRoleArn</b>, if present.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The external ID from <b>IamRoleArn</b>, if present.</p>\n@param externalId The external ID from <b>IamRoleArn</b>, if present.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The external ID from <b>IamRoleArn</b>, if present.</p>\n@return The external ID from <b>IamRoleArn</b>, if present.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ExternalId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ExternalId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ExternalId",
        "setterDocumentation" : "/**<p>The external ID from <b>IamRoleArn</b>, if present.</p>\n@param externalId The external ID from <b>IamRoleArn</b>, if present.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "externalId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The external ID from <b>IamRoleArn</b>, if present.</p>\n@param externalId The external ID from <b>IamRoleArn</b>, if present.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "externalId",
          "variableType" : "String",
          "documentation" : "<p>The external ID from <b>IamRoleArn</b>, if present.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SubscriptionType",
        "c2jShape" : "SubscriptionType",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "SubscriptionType",
        "fluentSetterDocumentation" : "/**\n@param subscriptionType \n@return Returns a reference to this object so that method calls can be chained together.\n@see SubscriptionType*/",
        "getterDocumentation" : "/**\n@return \n@see SubscriptionType*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SubscriptionType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubscriptionType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SubscriptionType",
        "setterDocumentation" : "/**\n@param subscriptionType \n@see SubscriptionType*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param subscriptionType \n@return Returns a reference to this object so that method calls can be chained together.\n@see SubscriptionType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClientToken",
        "c2jShape" : "ClientToken",
        "deprecated" : false,
        "documentation" : "<p>A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored.</p>\n@param clientToken A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored.</p>\n@return A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ClientToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClientToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ClientToken",
        "setterDocumentation" : "/**<p>A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored.</p>\n@param clientToken A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored.</p>\n@param clientToken A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
[...]
