{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "supressEnumSetterFor" : null,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-05-10",
    "asyncClient" : "AmazonCloudDirectoryAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCloudDirectoryAsyncClientBuilder",
    "asyncInterface" : "AmazonCloudDirectoryAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonCloudDirectoryModuleInjector",
    "defaultEndpoint" : "clouddirectory.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "clouddirectory.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Cloud Directory</fullname> <p>Amazon Cloud Directory is a component of the AWS Directory Service that simplifies the development and management of cloud-scale web, mobile, and IoT applications. This guide describes the Cloud Directory operations that you can call programmatically and includes detailed information on data types and errors. For information about AWS Directory Services features, see <a href=\"https://aws.amazon.com/directoryservice/\">AWS Directory Service</a> and the <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/what_is.html\">AWS Directory Service Administration Guide</a>.</p>",
    "endpointPrefix" : "clouddirectory",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.clouddirectory",
    "packagePath" : "com/amazonaws/services/clouddirectory",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudDirectory",
    "serviceName" : "Amazon CloudDirectory",
    "signingName" : "clouddirectory",
    "smokeTestsPackageName" : "com.amazonaws.services.clouddirectory.smoketests",
    "syncClient" : "AmazonCloudDirectoryClient",
    "syncClientBuilderClassName" : "AmazonCloudDirectoryClientBuilder",
    "syncInterface" : "AmazonCloudDirectory",
    "uid" : "clouddirectory-2016-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddFacetToObject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddFacetToObjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddFacetToObjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddFacetToObjectRequest, AddFacetToObjectResult>",
      "asyncReturnType" : "AddFacetToObjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a new <a>Facet</a> to an object.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryNotEnabledException",
        "documentation" : "<p>An operation can only operate on a directory that is not enabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FacetValidationException",
        "documentation" : "<p>The <a>Facet</a> that you provided was not well formed or could not be validated with the schema.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddFacetToObjectRequest",
        "variableName" : "addFacetToObjectRequest",
        "variableType" : "AddFacetToObjectRequest",
        "documentation" : "",
        "simpleType" : "AddFacetToObjectRequest",
        "variableSetterType" : "AddFacetToObjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addFacetToObject",
      "operationName" : "AddFacetToObject",
      "returnType" : {
        "returnType" : "AddFacetToObjectResult",
        "documentation" : null
      },
      "syncReturnType" : "AddFacetToObjectResult"
    },
    "ApplySchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ApplySchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ApplySchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ApplySchemaRequest, ApplySchemaResult>",
      "asyncReturnType" : "ApplySchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Copies the input published schema into the <a>Directory</a> with the same name and version as that of the published schema .</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidAttachmentException",
        "documentation" : "<p>Indicates that an attempt to attach an object with the same link name or to apply a schema with the same name has occurred. Rename the link or the schema and then try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ApplySchemaRequest",
        "variableName" : "applySchemaRequest",
        "variableType" : "ApplySchemaRequest",
        "documentation" : "",
        "simpleType" : "ApplySchemaRequest",
        "variableSetterType" : "ApplySchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "applySchema",
      "operationName" : "ApplySchema",
      "returnType" : {
        "returnType" : "ApplySchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "ApplySchemaResult"
    },
    "AttachObject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AttachObjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AttachObjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachObjectRequest, AttachObjectResult>",
      "asyncReturnType" : "AttachObjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches an existing object to another object. An object can be accessed in two ways:</p> <ol> <li> <p>Using the path</p> </li> <li> <p>Using <code>ObjectIdentifier</code> </p> </li> </ol>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryNotEnabledException",
        "documentation" : "<p>An operation can only operate on a directory that is not enabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LinkNameAlreadyInUseException",
        "documentation" : "<p>Indicates that a link could not be created due to a naming conflict. Choose a different name and then try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAttachmentException",
        "documentation" : "<p>Indicates that an attempt to attach an object with the same link name or to apply a schema with the same name has occurred. Rename the link or the schema and then try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FacetValidationException",
        "documentation" : "<p>The <a>Facet</a> that you provided was not well formed or could not be validated with the schema.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AttachObjectRequest",
        "variableName" : "attachObjectRequest",
        "variableType" : "AttachObjectRequest",
        "documentation" : "",
        "simpleType" : "AttachObjectRequest",
        "variableSetterType" : "AttachObjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "attachObject",
      "operationName" : "AttachObject",
      "returnType" : {
        "returnType" : "AttachObjectResult",
        "documentation" : null
      },
      "syncReturnType" : "AttachObjectResult"
    },
    "AttachPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AttachPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AttachPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachPolicyRequest, AttachPolicyResult>",
      "asyncReturnType" : "AttachPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches a policy object to a regular object. An object can have a limited number of attached policies.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryNotEnabledException",
        "documentation" : "<p>An operation can only operate on a directory that is not enabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "NotPolicyException",
        "documentation" : "<p>Indicates that the requested operation can only operate on policy objects.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AttachPolicyRequest",
        "variableName" : "attachPolicyRequest",
        "variableType" : "AttachPolicyRequest",
        "documentation" : "",
        "simpleType" : "AttachPolicyRequest",
        "variableSetterType" : "AttachPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "attachPolicy",
      "operationName" : "AttachPolicy",
      "returnType" : {
        "returnType" : "AttachPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "AttachPolicyResult"
    },
    "AttachToIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AttachToIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AttachToIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachToIndexRequest, AttachToIndexResult>",
      "asyncReturnType" : "AttachToIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches the specified object to the specified index.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryNotEnabledException",
        "documentation" : "<p>An operation can only operate on a directory that is not enabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LinkNameAlreadyInUseException",
        "documentation" : "<p>Indicates that a link could not be created due to a naming conflict. Choose a different name and then try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IndexedAttributeMissingException",
        "documentation" : "<p>An object has been attempted to be attached to an object that does not have the appropriate attribute value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotIndexException",
        "documentation" : "<p>Indicates that the requested operation can only operate on index objects.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AttachToIndexRequest",
        "variableName" : "attachToIndexRequest",
        "variableType" : "AttachToIndexRequest",
        "documentation" : "",
        "simpleType" : "AttachToIndexRequest",
        "variableSetterType" : "AttachToIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "attachToIndex",
      "operationName" : "AttachToIndex",
      "returnType" : {
        "returnType" : "AttachToIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "AttachToIndexResult"
    },
    "AttachTypedLink" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AttachTypedLinkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AttachTypedLinkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachTypedLinkRequest, AttachTypedLinkResult>",
      "asyncReturnType" : "AttachTypedLinkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches a typed link to a specified source and target object. For more information, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/objectsandlinks.html#typedlink\">Typed link</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidAttachmentException",
        "documentation" : "<p>Indicates that an attempt to attach an object with the same link name or to apply a schema with the same name has occurred. Rename the link or the schema and then try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FacetValidationException",
        "documentation" : "<p>The <a>Facet</a> that you provided was not well formed or could not be validated with the schema.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AttachTypedLinkRequest",
        "variableName" : "attachTypedLinkRequest",
        "variableType" : "AttachTypedLinkRequest",
        "documentation" : "",
        "simpleType" : "AttachTypedLinkRequest",
        "variableSetterType" : "AttachTypedLinkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "attachTypedLink",
      "operationName" : "AttachTypedLink",
      "returnType" : {
        "returnType" : "AttachTypedLinkResult",
        "documentation" : null
      },
      "syncReturnType" : "AttachTypedLinkResult"
    },
    "BatchRead" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchReadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchReadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchReadRequest, BatchReadResult>",
      "asyncReturnType" : "BatchReadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Performs all the read operations in a batch. </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryNotEnabledException",
        "documentation" : "<p>An operation can only operate on a directory that is not enabled.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchReadRequest",
        "variableName" : "batchReadRequest",
        "variableType" : "BatchReadRequest",
        "documentation" : "",
        "simpleType" : "BatchReadRequest",
        "variableSetterType" : "BatchReadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchRead",
      "operationName" : "BatchRead",
      "returnType" : {
        "returnType" : "BatchReadResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchReadResult"
    },
    "BatchWrite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchWriteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchWriteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchWriteRequest, BatchWriteResult>",
      "asyncReturnType" : "BatchWriteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Performs all the write operations in a batch. Either all the operations succeed or none. Batch writes supports only object-related operations.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryNotEnabledException",
        "documentation" : "<p>An operation can only operate on a directory that is not enabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BatchWriteException",
        "documentation" : "<p>A <code>BatchWrite</code> exception has occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchWriteRequest",
        "variableName" : "batchWriteRequest",
        "variableType" : "BatchWriteRequest",
        "documentation" : "",
        "simpleType" : "BatchWriteRequest",
        "variableSetterType" : "BatchWriteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchWrite",
      "operationName" : "BatchWrite",
      "returnType" : {
        "returnType" : "BatchWriteResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchWriteResult"
    },
    "CreateDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDirectoryRequest, CreateDirectoryResult>",
      "asyncReturnType" : "CreateDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <a>Directory</a> by copying the published schema into the directory. A directory cannot be created without a schema.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryAlreadyExistsException",
        "documentation" : "<p>Indicates that a <a>Directory</a> could not be created due to a naming conflict. Choose a different name and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDirectoryRequest",
        "variableName" : "createDirectoryRequest",
        "variableType" : "CreateDirectoryRequest",
        "documentation" : "",
        "simpleType" : "CreateDirectoryRequest",
        "variableSetterType" : "CreateDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDirectory",
      "operationName" : "CreateDirectory",
      "returnType" : {
        "returnType" : "CreateDirectoryResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDirectoryResult"
    },
    "CreateFacet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFacetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFacetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFacetRequest, CreateFacetResult>",
      "asyncReturnType" : "CreateFacetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new <a>Facet</a> in a schema. Facet creation is allowed only in development or applied schemas.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FacetAlreadyExistsException",
        "documentation" : "<p>A facet with the same name already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRuleException",
        "documentation" : "<p>Occurs when any of the rule parameter keys or values are invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FacetValidationException",
        "documentation" : "<p>The <a>Facet</a> that you provided was not well formed or could not be validated with the schema.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateFacetRequest",
        "variableName" : "createFacetRequest",
        "variableType" : "CreateFacetRequest",
        "documentation" : "",
        "simpleType" : "CreateFacetRequest",
        "variableSetterType" : "CreateFacetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFacet",
      "operationName" : "CreateFacet",
      "returnType" : {
        "returnType" : "CreateFacetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFacetResult"
    },
    "CreateIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIndexRequest, CreateIndexResult>",
      "asyncReturnType" : "CreateIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an index object. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_indexing.html\">Indexing</a> for more information.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryNotEnabledException",
        "documentation" : "<p>An operation can only operate on a directory that is not enabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FacetValidationException",
        "documentation" : "<p>The <a>Facet</a> that you provided was not well formed or could not be validated with the schema.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LinkNameAlreadyInUseException",
        "documentation" : "<p>Indicates that a link could not be created due to a naming conflict. Choose a different name and then try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnsupportedIndexTypeException",
        "documentation" : "<p>Indicates that the requested index type is not supported.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateIndexRequest",
        "variableName" : "createIndexRequest",
        "variableType" : "CreateIndexRequest",
        "documentation" : "",
        "simpleType" : "CreateIndexRequest",
        "variableSetterType" : "CreateIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIndex",
      "operationName" : "CreateIndex",
      "returnType" : {
        "returnType" : "CreateIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIndexResult"
    },
    "CreateObject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateObjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateObjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateObjectRequest, CreateObjectResult>",
      "asyncReturnType" : "CreateObjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an object in a <a>Directory</a>. Additionally attaches the object to a parent, if a parent reference and <code>LinkName</code> is specified. An object is simply a collection of <a>Facet</a> attributes. You can also use this API call to create a policy object, if the facet from which you create the object is a policy facet. </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryNotEnabledException",
        "documentation" : "<p>An operation can only operate on a directory that is not enabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FacetValidationException",
        "documentation" : "<p>The <a>Facet</a> that you provided was not well formed or could not be validated with the schema.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LinkNameAlreadyInUseException",
        "documentation" : "<p>Indicates that a link could not be created due to a naming conflict. Choose a different name and then try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnsupportedIndexTypeException",
        "documentation" : "<p>Indicates that the requested index type is not supported.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateObjectRequest",
        "variableName" : "createObjectRequest",
        "variableType" : "CreateObjectRequest",
        "documentation" : "",
        "simpleType" : "CreateObjectRequest",
        "variableSetterType" : "CreateObjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createObject",
      "operationName" : "CreateObject",
      "returnType" : {
        "returnType" : "CreateObjectResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateObjectResult"
    },
    "CreateSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSchemaRequest, CreateSchemaResult>",
      "asyncReturnType" : "CreateSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new schema in a development state. A schema can exist in three phases:</p> <ul> <li> <p> <i>Development:</i> This is a mutable phase of the schema. All new schemas are in the development phase. Once the schema is finalized, it can be published.</p> </li> <li> <p> <i>Published:</i> Published schemas are immutable and have a version associated with them.</p> </li> <li> <p> <i>Applied:</i> Applied schemas are mutable in a way that allows you to add new schema facets. You can also add new, nonrequired attributes to existing schema facets. You can apply only published schemas to directories. </p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "SchemaAlreadyExistsException",
        "documentation" : "<p>Indicates that a schema could not be created due to a naming conflict. Please select a different name and then try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSchemaRequest",
        "variableName" : "createSchemaRequest",
        "variableType" : "CreateSchemaRequest",
        "documentation" : "",
        "simpleType" : "CreateSchemaRequest",
        "variableSetterType" : "CreateSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSchema",
      "operationName" : "CreateSchema",
      "returnType" : {
        "returnType" : "CreateSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSchemaResult"
    },
    "CreateTypedLinkFacet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTypedLinkFacetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTypedLinkFacetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTypedLinkFacetRequest, CreateTypedLinkFacetResult>",
      "asyncReturnType" : "CreateTypedLinkFacetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <a>TypedLinkFacet</a>. For more information, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/objectsandlinks.html#typedlink\">Typed link</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FacetAlreadyExistsException",
        "documentation" : "<p>A facet with the same name already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRuleException",
        "documentation" : "<p>Occurs when any of the rule parameter keys or values are invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FacetValidationException",
        "documentation" : "<p>The <a>Facet</a> that you provided was not well formed or could not be validated with the schema.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTypedLinkFacetRequest",
        "variableName" : "createTypedLinkFacetRequest",
        "variableType" : "CreateTypedLinkFacetRequest",
        "documentation" : "",
        "simpleType" : "CreateTypedLinkFacetRequest",
        "variableSetterType" : "CreateTypedLinkFacetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTypedLinkFacet",
      "operationName" : "CreateTypedLinkFacet",
      "returnType" : {
        "returnType" : "CreateTypedLinkFacetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTypedLinkFacetResult"
    },
    "DeleteDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDirectoryRequest, DeleteDirectoryResult>",
      "asyncReturnType" : "DeleteDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a directory. Only disabled directories can be deleted. A deleted directory cannot be undone. Exercise extreme caution when deleting directories.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "DirectoryNotDisabledException",
        "documentation" : "<p>An operation can only operate on a disabled directory.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryDeletedException",
        "documentation" : "<p>A directory that has been deleted and to which access has been attempted. Note: The requested resource will eventually cease to exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDirectoryRequest",
        "variableName" : "deleteDirectoryRequest",
        "variableType" : "DeleteDirectoryRequest",
        "documentation" : "",
        "simpleType" : "DeleteDirectoryRequest",
        "variableSetterType" : "DeleteDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDirectory",
      "operationName" : "DeleteDirectory",
      "returnType" : {
        "returnType" : "DeleteDirectoryResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDirectoryResult"
    },
    "DeleteFacet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFacetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFacetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFacetRequest, DeleteFacetResult>",
      "asyncReturnType" : "DeleteFacetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a given <a>Facet</a>. All attributes and <a>Rule</a>s that are associated with the facet will be deleted. Only development schema facets are allowed deletion.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FacetNotFoundException",
        "documentation" : "<p>The specified <a>Facet</a> could not be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FacetInUseException",
        "documentation" : "<p>Occurs when deleting a facet that contains an attribute that is a target to an attribute reference in a different facet.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteFacetRequest",
        "variableName" : "deleteFacetRequest",
        "variableType" : "DeleteFacetRequest",
        "documentation" : "",
        "simpleType" : "DeleteFacetRequest",
        "variableSetterType" : "DeleteFacetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFacet",
      "operationName" : "DeleteFacet",
      "returnType" : {
        "returnType" : "DeleteFacetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFacetResult"
    },
    "DeleteObject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteObjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteObjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteObjectRequest, DeleteObjectResult>",
      "asyncReturnType" : "DeleteObjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an object and its associated attributes. Only objects with no children and no parents can be deleted.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryNotEnabledException",
        "documentation" : "<p>An operation can only operate on a directory that is not enabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ObjectNotDetachedException",
        "documentation" : "<p>Indicates that the requested operation cannot be completed because the object has not been detached from the tree.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteObjectRequest",
        "variableName" : "deleteObjectRequest",
        "variableType" : "DeleteObjectRequest",
        "documentation" : "",
        "simpleType" : "DeleteObjectRequest",
        "variableSetterType" : "DeleteObjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteObject",
      "operationName" : "DeleteObject",
      "returnType" : {
        "returnType" : "DeleteObjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteObjectResult"
    },
    "DeleteSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSchemaRequest, DeleteSchemaResult>",
      "asyncReturnType" : "DeleteSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a given schema. Schemas in a development and published state can only be deleted. </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "StillContainsLinksException",
        "documentation" : "<p>The object could not be deleted because links still exist. Remove the links and then try the operation again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSchemaRequest",
        "variableName" : "deleteSchemaRequest",
        "variableType" : "DeleteSchemaRequest",
        "documentation" : "",
        "simpleType" : "DeleteSchemaRequest",
        "variableSetterType" : "DeleteSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSchema",
      "operationName" : "DeleteSchema",
      "returnType" : {
        "returnType" : "DeleteSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSchemaResult"
    },
    "DeleteTypedLinkFacet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTypedLinkFacetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTypedLinkFacetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTypedLinkFacetRequest, DeleteTypedLinkFacetResult>",
      "asyncReturnType" : "DeleteTypedLinkFacetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a <a>TypedLinkFacet</a>. For more information, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/objectsandlinks.html#typedlink\">Typed link</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FacetNotFoundException",
        "documentation" : "<p>The specified <a>Facet</a> could not be found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTypedLinkFacetRequest",
        "variableName" : "deleteTypedLinkFacetRequest",
        "variableType" : "DeleteTypedLinkFacetRequest",
        "documentation" : "",
        "simpleType" : "DeleteTypedLinkFacetRequest",
        "variableSetterType" : "DeleteTypedLinkFacetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTypedLinkFacet",
      "operationName" : "DeleteTypedLinkFacet",
      "returnType" : {
        "returnType" : "DeleteTypedLinkFacetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTypedLinkFacetResult"
    },
    "DetachFromIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetachFromIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetachFromIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachFromIndexRequest, DetachFromIndexResult>",
      "asyncReturnType" : "DetachFromIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detaches the specified object from the specified index.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryNotEnabledException",
        "documentation" : "<p>An operation can only operate on a directory that is not enabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ObjectAlreadyDetachedException",
        "documentation" : "<p>Indicates that the object is not attached to the index.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotIndexException",
        "documentation" : "<p>Indicates that the requested operation can only operate on index objects.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetachFromIndexRequest",
        "variableName" : "detachFromIndexRequest",
        "variableType" : "DetachFromIndexRequest",
        "documentation" : "",
        "simpleType" : "DetachFromIndexRequest",
        "variableSetterType" : "DetachFromIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detachFromIndex",
      "operationName" : "DetachFromIndex",
      "returnType" : {
        "returnType" : "DetachFromIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "DetachFromIndexResult"
    },
    "DetachObject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetachObjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetachObjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachObjectRequest, DetachObjectResult>",
      "asyncReturnType" : "DetachObjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detaches a given object from the parent object. The object that is to be detached from the parent is specified by the link name.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryNotEnabledException",
        "documentation" : "<p>An operation can only operate on a directory that is not enabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetachObjectRequest",
        "variableName" : "detachObjectRequest",
        "variableType" : "DetachObjectRequest",
        "documentation" : "",
        "simpleType" : "DetachObjectRequest",
        "variableSetterType" : "DetachObjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detachObject",
      "operationName" : "DetachObject",
      "returnType" : {
        "returnType" : "DetachObjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DetachObjectResult"
    },
    "DetachPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetachPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetachPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachPolicyRequest, DetachPolicyResult>",
      "asyncReturnType" : "DetachPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detaches a policy from an object.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "DirectoryNotEnabledException",
        "documentation" : "<p>An operation can only operate on a directory that is not enabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "NotPolicyException",
        "documentation" : "<p>Indicates that the requested operation can only operate on policy objects.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetachPolicyRequest",
        "variableName" : "detachPolicyRequest",
        "variableType" : "DetachPolicyRequest",
        "documentation" : "",
        "simpleType" : "DetachPolicyRequest",
        "variableSetterType" : "DetachPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detachPolicy",
      "operationName" : "DetachPolicy",
      "returnType" : {
        "returnType" : "DetachPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DetachPolicyResult"
    },
    "DetachTypedLink" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetachTypedLinkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetachTypedLinkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachTypedLinkRequest, DetachTypedLinkResult>",
      "asyncReturnType" : "DetachTypedLinkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detaches a typed link from a specified source and target object. For more information, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/objectsandlinks.html#typedlink\">Typed link</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FacetValidationException",
        "documentation" : "<p>The <a>Facet</a> that you provided was not well formed or could not be validated with the schema.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetachTypedLinkRequest",
        "variableName" : "detachTypedLinkRequest",
        "variableType" : "DetachTypedLinkRequest",
        "documentation" : "",
        "simpleType" : "DetachTypedLinkRequest",
        "variableSetterType" : "DetachTypedLinkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detachTypedLink",
      "operationName" : "DetachTypedLink",
      "returnType" : {
        "returnType" : "DetachTypedLinkResult",
        "documentation" : null
      },
      "syncReturnType" : "DetachTypedLinkResult"
    },
    "DisableDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableDirectoryRequest, DisableDirectoryResult>",
      "asyncReturnType" : "DisableDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the specified directory. Disabled directories cannot be read or written to. Only enabled directories can be disabled. Disabled directories may be reenabled.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "DirectoryDeletedException",
        "documentation" : "<p>A directory that has been deleted and to which access has been attempted. Note: The requested resource will eventually cease to exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableDirectoryRequest",
        "variableName" : "disableDirectoryRequest",
        "variableType" : "DisableDirectoryRequest",
        "documentation" : "",
        "simpleType" : "DisableDirectoryRequest",
        "variableSetterType" : "DisableDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableDirectory",
      "operationName" : "DisableDirectory",
      "returnType" : {
        "returnType" : "DisableDirectoryResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableDirectoryResult"
    },
    "EnableDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableDirectoryRequest, EnableDirectoryResult>",
      "asyncReturnType" : "EnableDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the specified directory. Only disabled directories can be enabled. Once enabled, the directory can then be read and written to.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "DirectoryDeletedException",
        "documentation" : "<p>A directory that has been deleted and to which access has been attempted. Note: The requested resource will eventually cease to exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that your request is malformed in some manner. See the exception message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Indicates that limits are exceeded. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/limits.html\">Limits</a> for more information.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied. Check your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "RetryableConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. For example, if a write operation occurs on an object and then an attempt is made to read the object using “SERIALIZABLE” consistency, this exception may result. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableDirectoryRequest",
        "variableName" : "enableDirectoryRequest",
        "variableType" : "EnableDirectoryRequest",
        "documentation" : "",
        "simpleType" : "EnableDirectoryRequest",
        "variableSetterType" : "EnableDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableDirectory",
      "operationName" : "EnableDirectory",
      "returnType" : {
        "returnType" : "EnableDirectoryResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableDirectoryResult"
    },
    "GetDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDirectoryRequest, GetDirectoryResult>",
      "asyncReturnType" : "GetDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves metadata about a directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates a problem that must be resolved by Amazon Web Services. This might be a transient error in which case you can retry your request until it succeeds. Otherwise, go to the <a href=\"http://status.aws.amazon.com/\">AWS Service Health Dashboard</a> site to see if there are any operational issues with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>Indicates that the provided ARN value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RetryableConflictException",
[...]
