{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-04-19",
    "asyncClient" : "AWSCodeStarAsyncClient",
    "asyncClientBuilderClassName" : "AWSCodeStarAsyncClientBuilder",
    "asyncInterface" : "AWSCodeStarAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCodeStarModuleInjector",
    "defaultEndpoint" : "codestar.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codestar.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS CodeStar</fullname> <p>This is the API reference for AWS CodeStar. This reference provides descriptions of the operations and data types for the AWS CodeStar API along with usage examples.</p> <p>You can use the AWS CodeStar API to work with:</p> <p>Projects and their resources, by calling the following:</p> <ul> <li> <p> <code>DeleteProject</code>, which deletes a project.</p> </li> <li> <p> <code>DescribeProject</code>, which lists the attributes of a project.</p> </li> <li> <p> <code>ListProjects</code>, which lists all projects associated with your AWS account.</p> </li> <li> <p> <code>ListResources</code>, which lists the resources associated with a project.</p> </li> <li> <p> <code>ListTagsForProject</code>, which lists the tags associated with a project.</p> </li> <li> <p> <code>TagProject</code>, which adds tags to a project.</p> </li> <li> <p> <code>UntagProject</code>, which removes tags from a project.</p> </li> <li> <p> <code>UpdateProject</code>, which updates the attributes of a project.</p> </li> </ul> <p>Teams and team members, by calling the following:</p> <ul> <li> <p> <code>AssociateTeamMember</code>, which adds an IAM user to the team for a project.</p> </li> <li> <p> <code>DisassociateTeamMember</code>, which removes an IAM user from the team for a project.</p> </li> <li> <p> <code>ListTeamMembers</code>, which lists all the IAM users in the team for a project, including their roles and attributes.</p> </li> <li> <p> <code>UpdateTeamMember</code>, which updates a team member's attributes in a project.</p> </li> </ul> <p>Users, by calling the following:</p> <ul> <li> <p> <code>CreateUserProfile</code>, which creates a user profile that contains data associated with the user across all projects.</p> </li> <li> <p> <code>DeleteUserProfile</code>, which deletes all user profile information across all projects.</p> </li> <li> <p> <code>DescribeUserProfile</code>, which describes the profile of a user.</p> </li> <li> <p> <code>ListUserProfiles</code>, which lists all user profiles.</p> </li> <li> <p> <code>UpdateUserProfile</code>, which updates the profile for a user.</p> </li> </ul>",
    "endpointPrefix" : "codestar",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.codestar",
    "packagePath" : "com/amazonaws/services/codestar",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "CodeStar",
    "serviceFullName" : "AWS CodeStar",
    "serviceId" : "CodeStar",
    "serviceName" : "CodeStar",
    "signingName" : "codestar",
    "smokeTestsPackageName" : "com.amazonaws.services.codestar.smoketests",
    "syncClient" : "AWSCodeStarClient",
    "syncClientBuilderClassName" : "AWSCodeStarClientBuilder",
    "syncInterface" : "AWSCodeStar",
    "uid" : "codestar-2017-04-19",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateTeamMember" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateTeamMemberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateTeamMemberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateTeamMemberRequest, AssociateTeamMemberResult>",
      "asyncReturnType" : "AssociateTeamMemberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds an IAM user to the team for an AWS CodeStar project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A resource limit has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ProjectNotFoundException",
        "documentation" : "<p>The specified AWS CodeStar project was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TeamMemberAlreadyAssociatedException",
        "documentation" : "<p>The team member is already associated with a role in this project.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidServiceRoleException",
        "documentation" : "<p>The service role is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ProjectConfigurationException",
        "documentation" : "<p>Project configuration information is required but not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateTeamMemberRequest",
        "variableName" : "associateTeamMemberRequest",
        "variableType" : "AssociateTeamMemberRequest",
        "documentation" : "",
        "simpleType" : "AssociateTeamMemberRequest",
        "variableSetterType" : "AssociateTeamMemberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateTeamMember",
      "operationName" : "AssociateTeamMember",
      "returnType" : {
        "returnType" : "AssociateTeamMemberResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateTeamMemberResult"
    },
    "CreateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProjectRequest, CreateProjectResult>",
      "asyncReturnType" : "CreateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a project, including project resources. This action creates a project based on a submitted project request. A set of source code files and a toolchain template file can be included with the project request. If these are not provided, an empty project is created.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ProjectAlreadyExistsException",
        "documentation" : "<p>An AWS CodeStar project with the same ID already exists in this region for the AWS account. AWS CodeStar project IDs must be unique within a region for the AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A resource limit has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ProjectCreationFailedException",
        "documentation" : "<p>The project creation request was valid, but a nonspecific exception or error occurred during project creation. The project could not be created in AWS CodeStar.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidServiceRoleException",
        "documentation" : "<p>The service role is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ProjectConfigurationException",
        "documentation" : "<p>Project configuration information is required but not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProjectRequest",
        "variableName" : "createProjectRequest",
        "variableType" : "CreateProjectRequest",
        "documentation" : "",
        "simpleType" : "CreateProjectRequest",
        "variableSetterType" : "CreateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProject",
      "operationName" : "CreateProject",
      "returnType" : {
        "returnType" : "CreateProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProjectResult"
    },
    "CreateUserProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserProfileRequest, CreateUserProfileResult>",
      "asyncReturnType" : "CreateUserProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a profile for a user that includes user preferences, such as the display name and email address assocciated with the user, in AWS CodeStar. The user profile is not project-specific. Information in the user profile is displayed wherever the user's information appears to other users in AWS CodeStar.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UserProfileAlreadyExistsException",
        "documentation" : "<p>A user profile with that name already exists in this region for the AWS account. AWS CodeStar user profile names must be unique within a region for the AWS account. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserProfileRequest",
        "variableName" : "createUserProfileRequest",
        "variableType" : "CreateUserProfileRequest",
        "documentation" : "",
        "simpleType" : "CreateUserProfileRequest",
        "variableSetterType" : "CreateUserProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUserProfile",
      "operationName" : "CreateUserProfile",
      "returnType" : {
        "returnType" : "CreateUserProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserProfileResult"
    },
    "DeleteProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProjectRequest, DeleteProjectResult>",
      "asyncReturnType" : "DeleteProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a project, including project resources. Does not delete users associated with the project, but does delete the IAM roles that allowed access to the project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidServiceRoleException",
        "documentation" : "<p>The service role is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProjectRequest",
        "variableName" : "deleteProjectRequest",
        "variableType" : "DeleteProjectRequest",
        "documentation" : "",
        "simpleType" : "DeleteProjectRequest",
        "variableSetterType" : "DeleteProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProject",
      "operationName" : "DeleteProject",
      "returnType" : {
        "returnType" : "DeleteProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProjectResult"
    },
    "DeleteUserProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserProfileRequest, DeleteUserProfileResult>",
      "asyncReturnType" : "DeleteUserProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a user profile in AWS CodeStar, including all personal preference data associated with that profile, such as display name and email address. It does not delete the history of that user, for example the history of commits made by that user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserProfileRequest",
        "variableName" : "deleteUserProfileRequest",
        "variableType" : "DeleteUserProfileRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserProfileRequest",
        "variableSetterType" : "DeleteUserProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUserProfile",
      "operationName" : "DeleteUserProfile",
      "returnType" : {
        "returnType" : "DeleteUserProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserProfileResult"
    },
    "DescribeProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProjectRequest, DescribeProjectResult>",
      "asyncReturnType" : "DescribeProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a project and its resources.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ProjectNotFoundException",
        "documentation" : "<p>The specified AWS CodeStar project was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidServiceRoleException",
        "documentation" : "<p>The service role is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ProjectConfigurationException",
        "documentation" : "<p>Project configuration information is required but not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeProjectRequest",
        "variableName" : "describeProjectRequest",
        "variableType" : "DescribeProjectRequest",
        "documentation" : "",
        "simpleType" : "DescribeProjectRequest",
        "variableSetterType" : "DescribeProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProject",
      "operationName" : "DescribeProject",
      "returnType" : {
        "returnType" : "DescribeProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProjectResult"
    },
    "DescribeUserProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserProfileRequest, DescribeUserProfileResult>",
      "asyncReturnType" : "DescribeUserProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a user in AWS CodeStar and the user attributes across all projects.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UserProfileNotFoundException",
        "documentation" : "<p>The user profile was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserProfileRequest",
        "variableName" : "describeUserProfileRequest",
        "variableType" : "DescribeUserProfileRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserProfileRequest",
        "variableSetterType" : "DescribeUserProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUserProfile",
      "operationName" : "DescribeUserProfile",
      "returnType" : {
        "returnType" : "DescribeUserProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserProfileResult"
    },
    "DisassociateTeamMember" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateTeamMemberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateTeamMemberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateTeamMemberRequest, DisassociateTeamMemberResult>",
      "asyncReturnType" : "DisassociateTeamMemberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a user from a project. Removing a user from a project also removes the IAM policies from that user that allowed access to the project and its resources. Disassociating a team member does not remove that user's profile from AWS CodeStar. It does not remove the user from IAM.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ProjectNotFoundException",
        "documentation" : "<p>The specified AWS CodeStar project was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidServiceRoleException",
        "documentation" : "<p>The service role is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateTeamMemberRequest",
        "variableName" : "disassociateTeamMemberRequest",
        "variableType" : "DisassociateTeamMemberRequest",
        "documentation" : "",
        "simpleType" : "DisassociateTeamMemberRequest",
        "variableSetterType" : "DisassociateTeamMemberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateTeamMember",
      "operationName" : "DisassociateTeamMember",
      "returnType" : {
        "returnType" : "DisassociateTeamMemberResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateTeamMemberResult"
    },
    "ListProjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProjectsRequest, ListProjectsResult>",
      "asyncReturnType" : "ListProjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all projects in AWS CodeStar associated with your AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProjectsRequest",
        "variableName" : "listProjectsRequest",
        "variableType" : "ListProjectsRequest",
        "documentation" : "",
        "simpleType" : "ListProjectsRequest",
        "variableSetterType" : "ListProjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProjects",
      "operationName" : "ListProjects",
      "returnType" : {
        "returnType" : "ListProjectsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProjectsResult"
    },
    "ListResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesRequest, ListResourcesResult>",
      "asyncReturnType" : "ListResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists resources associated with a project in AWS CodeStar.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ProjectNotFoundException",
        "documentation" : "<p>The specified AWS CodeStar project was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourcesRequest",
        "variableName" : "listResourcesRequest",
        "variableType" : "ListResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesRequest",
        "variableSetterType" : "ListResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResources",
      "operationName" : "ListResources",
      "returnType" : {
        "returnType" : "ListResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesResult"
    },
    "ListTagsForProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForProjectRequest, ListTagsForProjectResult>",
      "asyncReturnType" : "ListTagsForProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the tags for a project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ProjectNotFoundException",
        "documentation" : "<p>The specified AWS CodeStar project was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForProjectRequest",
        "variableName" : "listTagsForProjectRequest",
        "variableType" : "ListTagsForProjectRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForProjectRequest",
        "variableSetterType" : "ListTagsForProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForProject",
      "operationName" : "ListTagsForProject",
      "returnType" : {
        "returnType" : "ListTagsForProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForProjectResult"
    },
    "ListTeamMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTeamMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTeamMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTeamMembersRequest, ListTeamMembersResult>",
      "asyncReturnType" : "ListTeamMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all team members associated with a project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ProjectNotFoundException",
        "documentation" : "<p>The specified AWS CodeStar project was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTeamMembersRequest",
        "variableName" : "listTeamMembersRequest",
        "variableType" : "ListTeamMembersRequest",
        "documentation" : "",
        "simpleType" : "ListTeamMembersRequest",
        "variableSetterType" : "ListTeamMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTeamMembers",
      "operationName" : "ListTeamMembers",
      "returnType" : {
        "returnType" : "ListTeamMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTeamMembersResult"
    },
    "ListUserProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUserProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUserProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUserProfilesRequest, ListUserProfilesResult>",
      "asyncReturnType" : "ListUserProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the user profiles configured for your AWS account in AWS CodeStar.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUserProfilesRequest",
        "variableName" : "listUserProfilesRequest",
        "variableType" : "ListUserProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListUserProfilesRequest",
        "variableSetterType" : "ListUserProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUserProfiles",
      "operationName" : "ListUserProfiles",
      "returnType" : {
        "returnType" : "ListUserProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUserProfilesResult"
    },
    "TagProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagProjectRequest, TagProjectResult>",
      "asyncReturnType" : "TagProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags to a project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ProjectNotFoundException",
        "documentation" : "<p>The specified AWS CodeStar project was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A resource limit has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagProjectRequest",
        "variableName" : "tagProjectRequest",
        "variableType" : "TagProjectRequest",
        "documentation" : "",
        "simpleType" : "TagProjectRequest",
        "variableSetterType" : "TagProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagProject",
      "operationName" : "TagProject",
      "returnType" : {
        "returnType" : "TagProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "TagProjectResult"
    },
    "UntagProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagProjectRequest, UntagProjectResult>",
      "asyncReturnType" : "UntagProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from a project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ProjectNotFoundException",
        "documentation" : "<p>The specified AWS CodeStar project was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A resource limit has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagProjectRequest",
        "variableName" : "untagProjectRequest",
        "variableType" : "UntagProjectRequest",
        "documentation" : "",
        "simpleType" : "UntagProjectRequest",
        "variableSetterType" : "UntagProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagProject",
      "operationName" : "UntagProject",
      "returnType" : {
        "returnType" : "UntagProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagProjectResult"
    },
    "UpdateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProjectRequest, UpdateProjectResult>",
      "asyncReturnType" : "UpdateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a project in AWS CodeStar.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ProjectNotFoundException",
        "documentation" : "<p>The specified AWS CodeStar project was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProjectRequest",
        "variableName" : "updateProjectRequest",
        "variableType" : "UpdateProjectRequest",
        "documentation" : "",
        "simpleType" : "UpdateProjectRequest",
        "variableSetterType" : "UpdateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProject",
      "operationName" : "UpdateProject",
      "returnType" : {
        "returnType" : "UpdateProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProjectResult"
    },
    "UpdateTeamMember" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTeamMemberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTeamMemberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTeamMemberRequest, UpdateTeamMemberResult>",
      "asyncReturnType" : "UpdateTeamMemberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a team member's attributes in an AWS CodeStar project. For example, you can change a team member's role in the project, or change whether they have remote access to project resources.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A resource limit has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ProjectNotFoundException",
        "documentation" : "<p>The specified AWS CodeStar project was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidServiceRoleException",
        "documentation" : "<p>The service role is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ProjectConfigurationException",
        "documentation" : "<p>Project configuration information is required but not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TeamMemberNotFoundException",
        "documentation" : "<p>The specified team member was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTeamMemberRequest",
        "variableName" : "updateTeamMemberRequest",
        "variableType" : "UpdateTeamMemberRequest",
        "documentation" : "",
        "simpleType" : "UpdateTeamMemberRequest",
        "variableSetterType" : "UpdateTeamMemberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTeamMember",
      "operationName" : "UpdateTeamMember",
      "returnType" : {
        "returnType" : "UpdateTeamMemberResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTeamMemberResult"
    },
    "UpdateUserProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserProfileRequest, UpdateUserProfileResult>",
      "asyncReturnType" : "UpdateUserProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a user's profile in AWS CodeStar. The user profile is not project-specific. Information in the user profile is displayed wherever the user's information appears to other users in AWS CodeStar. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UserProfileNotFoundException",
        "documentation" : "<p>The user profile was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is either not valid, or it could not be validated.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserProfileRequest",
        "variableName" : "updateUserProfileRequest",
        "variableType" : "UpdateUserProfileRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserProfileRequest",
        "variableSetterType" : "UpdateUserProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUserProfile",
      "operationName" : "UpdateUserProfile",
      "returnType" : {
        "returnType" : "UpdateUserProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserProfileResult"
    }
  },
  "shapes" : {
    "AssociateTeamMemberRequest" : {
      "c2jName" : "AssociateTeamMemberRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateTeamMember",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CodeStar_20170419.AssociateTeamMember",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "projectId",
        "c2jShape" : "ProjectId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the project to which you will add the IAM user.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the project to which you will add the IAM user.</p>\n@param projectId The ID of the project to which you will add the IAM user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProjectId",
        "getterDocumentation" : "/**<p>The ID of the project to which you will add the IAM user.</p>\n@return The ID of the project to which you will add the IAM user.*/",
        "getterMethodName" : "getProjectId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "projectId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "projectId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProjectId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the project to which you will add the IAM user.</p>\n@param projectId The ID of the project to which you will add the IAM user.*/",
        "setterMethodName" : "setProjectId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "projectId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the project to which you will add the IAM user.</p>\n@param projectId The ID of the project to which you will add the IAM user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "projectId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the project to which you will add the IAM user.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientRequestToken",
        "c2jShape" : "ClientRequestToken",
        "deprecated" : false,
        "documentation" : "<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>\n@param clientRequestToken A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientRequestToken",
        "getterDocumentation" : "/**<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>\n@return A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.*/",
        "getterMethodName" : "getClientRequestToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientRequestToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientRequestToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientRequestToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>\n@param clientRequestToken A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.*/",
        "setterMethodName" : "setClientRequestToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>\n@param clientRequestToken A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "userArn",
        "c2jShape" : "UserArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>\n@param userArn The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUserArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>\n@return The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.*/",
        "getterMethodName" : "getUserArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "userArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "userArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "UserArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>\n@param userArn The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.*/",
        "setterMethodName" : "setUserArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "userArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>\n@param userArn The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "userArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "projectRole",
        "c2jShape" : "Role",
        "deprecated" : false,
        "documentation" : "<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>\n@param projectRole The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProjectRole",
        "getterDocumentation" : "/**<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>\n@return The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.*/",
        "getterMethodName" : "getProjectRole",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "projectRole",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "projectRole",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProjectRole",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>\n@param projectRole The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.*/",
        "setterMethodName" : "setProjectRole",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "projectRole",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>\n@param projectRole The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "projectRole",
          "variableType" : "String",
          "documentation" : "<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "remoteAccessAllowed",
        "c2jShape" : "RemoteAccessAllowed",
        "deprecated" : false,
        "documentation" : "<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>\n@param remoteAccessAllowed Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRemoteAccessAllowed",
        "getterDocumentation" : "/**<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>\n@return Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.*/",
        "getterMethodName" : "getRemoteAccessAllowed",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "remoteAccessAllowed",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "remoteAccessAllowed",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "RemoteAccessAllowed",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>\n@param remoteAccessAllowed Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.*/",
        "setterMethodName" : "setRemoteAccessAllowed",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "remoteAccessAllowed",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>\n@param remoteAccessAllowed Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "remoteAccessAllowed",
          "variableType" : "Boolean",
          "documentation" : "<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientRequestToken" : {
          "c2jName" : "clientRequestToken",
          "c2jShape" : "ClientRequestToken",
          "deprecated" : false,
          "documentation" : "<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>\n@param clientRequestToken A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientRequestToken",
          "getterDocumentation" : "/**<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>\n@return A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.*/",
          "getterMethodName" : "getClientRequestToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientRequestToken",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientRequestToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientRequestToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>\n@param clientRequestToken A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.*/",
          "setterMethodName" : "setClientRequestToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientRequestToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>\n@param clientRequestToken A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientRequestToken",
            "variableType" : "String",
            "documentation" : "<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProjectId" : {
          "c2jName" : "projectId",
          "c2jShape" : "ProjectId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the project to which you will add the IAM user.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the project to which you will add the IAM user.</p>\n@param projectId The ID of the project to which you will add the IAM user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProjectId",
          "getterDocumentation" : "/**<p>The ID of the project to which you will add the IAM user.</p>\n@return The ID of the project to which you will add the IAM user.*/",
          "getterMethodName" : "getProjectId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "projectId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "projectId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProjectId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the project to which you will add the IAM user.</p>\n@param projectId The ID of the project to which you will add the IAM user.*/",
          "setterMethodName" : "setProjectId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "projectId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the project to which you will add the IAM user.</p>\n@param projectId The ID of the project to which you will add the IAM user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "projectId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the project to which you will add the IAM user.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProjectRole" : {
          "c2jName" : "projectRole",
          "c2jShape" : "Role",
          "deprecated" : false,
          "documentation" : "<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>\n@param projectRole The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProjectRole",
          "getterDocumentation" : "/**<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>\n@return The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.*/",
          "getterMethodName" : "getProjectRole",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "projectRole",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "projectRole",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProjectRole",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>\n@param projectRole The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.*/",
          "setterMethodName" : "setProjectRole",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "projectRole",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>\n@param projectRole The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "projectRole",
            "variableType" : "String",
            "documentation" : "<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RemoteAccessAllowed" : {
          "c2jName" : "remoteAccessAllowed",
          "c2jShape" : "RemoteAccessAllowed",
          "deprecated" : false,
          "documentation" : "<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>\n@param remoteAccessAllowed Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRemoteAccessAllowed",
          "getterDocumentation" : "/**<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>\n@return Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.*/",
          "getterMethodName" : "getRemoteAccessAllowed",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "remoteAccessAllowed",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "remoteAccessAllowed",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "RemoteAccessAllowed",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>\n@param remoteAccessAllowed Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.*/",
          "setterMethodName" : "setRemoteAccessAllowed",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "remoteAccessAllowed",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>\n@param remoteAccessAllowed Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "remoteAccessAllowed",
            "variableType" : "Boolean",
            "documentation" : "<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "UserArn" : {
          "c2jName" : "userArn",
          "c2jShape" : "UserArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>\n@param userArn The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUserArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>\n@return The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.*/",
          "getterMethodName" : "getUserArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "userArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "userArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "UserArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>\n@param userArn The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.*/",
          "setterMethodName" : "setUserArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "userArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>\n@param userArn The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "userArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "projectId", "userArn", "projectRole" ],
      "shapeName" : "AssociateTeamMemberRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateTeamMemberRequest",
        "variableName" : "associateTeamMemberRequest",
        "variableType" : "AssociateTeamMemberRequest",
        "documentation" : null,
        "simpleType" : "AssociateTeamMemberRequest",
        "variableSetterType" : "AssociateTeamMemberRequest"
      },
      "wrapper" : false
    },
    "AssociateTeamMemberResult" : {
      "c2jName" : "AssociateTeamMemberResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "clientRequestToken",
        "c2jShape" : "ClientRequestToken",
        "deprecated" : false,
        "documentation" : "<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>\n@param clientRequestToken The user- or system-generated token from the initial request that can be used to repeat the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientRequestToken",
        "getterDocumentation" : "/**<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>\n@return The user- or system-generated token from the initial request that can be used to repeat the request.*/",
        "getterMethodName" : "getClientRequestToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientRequestToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientRequestToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientRequestToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>\n@param clientRequestToken The user- or system-generated token from the initial request that can be used to repeat the request.*/",
        "setterMethodName" : "setClientRequestToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>\n@param clientRequestToken The user- or system-generated token from the initial request that can be used to repeat the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientRequestToken" : {
          "c2jName" : "clientRequestToken",
          "c2jShape" : "ClientRequestToken",
          "deprecated" : false,
          "documentation" : "<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>\n@param clientRequestToken The user- or system-generated token from the initial request that can be used to repeat the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientRequestToken",
          "getterDocumentation" : "/**<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>\n@return The user- or system-generated token from the initial request that can be used to repeat the request.*/",
          "getterMethodName" : "getClientRequestToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientRequestToken",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientRequestToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientRequestToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>\n@param clientRequestToken The user- or system-generated token from the initial request that can be used to repeat the request.*/",
          "setterMethodName" : "setClientRequestToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientRequestToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>\n@param clientRequestToken The user- or system-generated token from the initial request that can be used to repeat the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientRequestToken",
            "variableType" : "String",
            "documentation" : "<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateTeamMemberResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateTeamMemberResult",
        "variableName" : "associateTeamMemberResult",
        "variableType" : "AssociateTeamMemberResult",
        "documentation" : null,
        "simpleType" : "AssociateTeamMemberResult",
        "variableSetterType" : "AssociateTeamMemberResult"
      },
      "wrapper" : false
    },
    "Code" : {
      "c2jName" : "Code",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Location and destination information about the source code files provided with the project request. The source code is uploaded to the new project source repository after project creation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "source",
        "c2jShape" : "CodeSource",
        "deprecated" : false,
        "documentation" : "<p>The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.</p>\n@param source The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSource",
        "getterDocumentation" : "/**<p>The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.</p>\n@return The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.*/",
        "getterMethodName" : "getSource",
        "getterModel" : {
          "returnType" : "CodeSource",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "source",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "source",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Source",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.</p>\n@param source The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.*/",
        "setterMethodName" : "setSource",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CodeSource",
          "variableName" : "source",
          "variableType" : "CodeSource",
          "documentation" : "",
          "simpleType" : "CodeSource",
          "variableSetterType" : "CodeSource"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.</p>\n@param source The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CodeSource",
          "variableName" : "source",
          "variableType" : "CodeSource",
          "documentation" : "<p>The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.</p>",
          "simpleType" : "CodeSource",
          "variableSetterType" : "CodeSource"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "destination",
        "c2jShape" : "CodeDestination",
        "deprecated" : false,
        "documentation" : "<p>The repository to be created in AWS CodeStar. Valid values are AWS CodeCommit or GitHub. After AWS CodeStar provisions the new repository, the source code files provided with the project request are placed in the repository.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The repository to be created in AWS CodeStar. Valid values are AWS CodeCommit or GitHub. After AWS CodeStar provisions the new repository, the source code files provided with the project request are placed in the repository.</p>\n@param destination The repository to be created in AWS CodeStar. Valid values are AWS CodeCommit or GitHub. After AWS CodeStar provisions the new repository, the source code files provided with the project request are placed in the repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDestination",
        "getterDocumentation" : "/**<p>The repository to be created in AWS CodeStar. Valid values are AWS CodeCommit or GitHub. After AWS CodeStar provisions the new repository, the source code files provided with the project request are placed in the repository.</p>\n@return The repository to be created in AWS CodeStar. Valid values are AWS CodeCommit or GitHub. After AWS CodeStar provisions the new repository, the source code files provided with the project request are placed in the repository.*/",
        "getterMethodName" : "getDestination",
        "getterModel" : {
          "returnType" : "CodeDestination",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "destination",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "destination",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Destination",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The repository to be created in AWS CodeStar. Valid values are AWS CodeCommit or GitHub. After AWS CodeStar provisions the new repository, the source code files provided with the project request are placed in the repository.</p>\n@param destination The repository to be created in AWS CodeStar. Valid values are AWS CodeCommit or GitHub. After AWS CodeStar provisions the new repository, the source code files provided with the project request are placed in the repository.*/",
        "setterMethodName" : "setDestination",
        "setterModel" : {
          "timestampFormat" : null,
[...]
