{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-07-18",
    "asyncClient" : "AmazonCodeGuruProfilerAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCodeGuruProfilerAsyncClientBuilder",
    "asyncInterface" : "AmazonCodeGuruProfilerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonCodeGuruProfilerModuleInjector",
    "defaultEndpoint" : "codeguru-profiler.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codeguru-profiler.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Example service documentation.</p>",
    "endpointPrefix" : "codeguru-profiler",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.codeguruprofiler",
    "packagePath" : "com/amazonaws/services/codeguruprofiler",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CodeGuru Profiler",
    "serviceId" : "CodeGuruProfiler",
    "serviceName" : "Amazon CodeGuru Profiler",
    "signingName" : "codeguru-profiler",
    "smokeTestsPackageName" : "com.amazonaws.services.codeguruprofiler.smoketests",
    "syncClient" : "AmazonCodeGuruProfilerClient",
    "syncClientBuilderClassName" : "AmazonCodeGuruProfilerClientBuilder",
    "syncInterface" : "AmazonCodeGuruProfiler",
    "uid" : "codeguruprofiler-2019-07-18",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ConfigureAgent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfigureAgentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfigureAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfigureAgentRequest, ConfigureAgentResult>",
      "asyncReturnType" : "ConfigureAgentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides the configuration to use for an agent of the profiling group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConfigureAgentRequest",
        "variableName" : "configureAgentRequest",
        "variableType" : "ConfigureAgentRequest",
        "documentation" : "<p>Request for ConfigureAgent operation.</p>",
        "simpleType" : "ConfigureAgentRequest",
        "variableSetterType" : "ConfigureAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "configureAgent",
      "operationName" : "ConfigureAgent",
      "returnType" : {
        "returnType" : "ConfigureAgentResult",
        "documentation" : "<p>Response for ConfigureAgent operation.</p>"
      },
      "syncReturnType" : "ConfigureAgentResult"
    },
    "CreateProfilingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProfilingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProfilingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProfilingGroupRequest, CreateProfilingGroupResult>",
      "asyncReturnType" : "CreateProfilingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a profiling group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Request can can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProfilingGroupRequest",
        "variableName" : "createProfilingGroupRequest",
        "variableType" : "CreateProfilingGroupRequest",
        "documentation" : "<p>Request for CreateProfilingGroup operation.</p>",
        "simpleType" : "CreateProfilingGroupRequest",
        "variableSetterType" : "CreateProfilingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProfilingGroup",
      "operationName" : "CreateProfilingGroup",
      "returnType" : {
        "returnType" : "CreateProfilingGroupResult",
        "documentation" : "<p>Response for CreateProfilingGroup operation.</p>"
      },
      "syncReturnType" : "CreateProfilingGroupResult"
    },
    "DeleteProfilingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProfilingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProfilingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProfilingGroupRequest, DeleteProfilingGroupResult>",
      "asyncReturnType" : "DeleteProfilingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a profiling group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProfilingGroupRequest",
        "variableName" : "deleteProfilingGroupRequest",
        "variableType" : "DeleteProfilingGroupRequest",
        "documentation" : "<p>Request for DeleteProfilingGroup operation.</p>",
        "simpleType" : "DeleteProfilingGroupRequest",
        "variableSetterType" : "DeleteProfilingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProfilingGroup",
      "operationName" : "DeleteProfilingGroup",
      "returnType" : {
        "returnType" : "DeleteProfilingGroupResult",
        "documentation" : "<p>Response for DeleteProfilingGroup operation.</p>"
      },
      "syncReturnType" : "DeleteProfilingGroupResult"
    },
    "DescribeProfilingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProfilingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProfilingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProfilingGroupRequest, DescribeProfilingGroupResult>",
      "asyncReturnType" : "DescribeProfilingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describe a profiling group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeProfilingGroupRequest",
        "variableName" : "describeProfilingGroupRequest",
        "variableType" : "DescribeProfilingGroupRequest",
        "documentation" : "<p>Request for DescribeProfilingGroup operation.</p>",
        "simpleType" : "DescribeProfilingGroupRequest",
        "variableSetterType" : "DescribeProfilingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProfilingGroup",
      "operationName" : "DescribeProfilingGroup",
      "returnType" : {
        "returnType" : "DescribeProfilingGroupResult",
        "documentation" : "<p>Response for DescribeProfilingGroup operation.</p>"
      },
      "syncReturnType" : "DescribeProfilingGroupResult"
    },
    "GetProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProfileRequest, GetProfileResult>",
      "asyncReturnType" : "GetProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the aggregated profile of a profiling group for the specified time range. If the requested time range does not align with the available aggregated profiles, it will be expanded to attain alignment. If aggregated profiles are available only for part of the period requested, the profile is returned from the earliest available to the latest within the requested time range. For instance, if the requested time range is from 00:00 to 00:20 and the available profiles are from 00:15 to 00:25, then the returned profile will be from 00:15 to 00:20.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProfileRequest",
        "variableName" : "getProfileRequest",
        "variableType" : "GetProfileRequest",
        "documentation" : "<p>Request for GetProfile operation.</p>",
        "simpleType" : "GetProfileRequest",
        "variableSetterType" : "GetProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProfile",
      "operationName" : "GetProfile",
      "returnType" : {
        "returnType" : "GetProfileResult",
        "documentation" : "<p>Response for GetProfile operation.</p>"
      },
      "syncReturnType" : "GetProfileResult"
    },
    "ListProfileTimes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProfileTimesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProfileTimesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProfileTimesRequest, ListProfileTimesResult>",
      "asyncReturnType" : "ListProfileTimesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the start times of the available aggregated profiles of a profiling group for an aggregation period within the specified time range.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProfileTimesRequest",
        "variableName" : "listProfileTimesRequest",
        "variableType" : "ListProfileTimesRequest",
        "documentation" : "<p>Request for ListProfileTimes operation.</p>",
        "simpleType" : "ListProfileTimesRequest",
        "variableSetterType" : "ListProfileTimesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProfileTimes",
      "operationName" : "ListProfileTimes",
      "returnType" : {
        "returnType" : "ListProfileTimesResult",
        "documentation" : "<p>Response for ListProfileTimes operation.</p>"
      },
      "syncReturnType" : "ListProfileTimesResult"
    },
    "ListProfilingGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProfilingGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProfilingGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProfilingGroupsRequest, ListProfilingGroupsResult>",
      "asyncReturnType" : "ListProfilingGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List profiling groups in the account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProfilingGroupsRequest",
        "variableName" : "listProfilingGroupsRequest",
        "variableType" : "ListProfilingGroupsRequest",
        "documentation" : "<p>Request for ListProfilingGroups operation.</p>",
        "simpleType" : "ListProfilingGroupsRequest",
        "variableSetterType" : "ListProfilingGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProfilingGroups",
      "operationName" : "ListProfilingGroups",
      "returnType" : {
        "returnType" : "ListProfilingGroupsResult",
        "documentation" : "<p>Response for ListProfilingGroups operation.</p>"
      },
      "syncReturnType" : "ListProfilingGroupsResult"
    },
    "PostAgentProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PostAgentProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PostAgentProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PostAgentProfileRequest, PostAgentProfileResult>",
      "asyncReturnType" : "PostAgentProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Submit profile collected by an agent belonging to a profiling group for aggregation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PostAgentProfileRequest",
        "variableName" : "postAgentProfileRequest",
        "variableType" : "PostAgentProfileRequest",
        "documentation" : "<p>Request for PostAgentProfile operation.</p>",
        "simpleType" : "PostAgentProfileRequest",
        "variableSetterType" : "PostAgentProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "postAgentProfile",
      "operationName" : "PostAgentProfile",
      "returnType" : {
        "returnType" : "PostAgentProfileResult",
        "documentation" : "<p>Response for PostAgentProfile operation.</p>"
      },
      "syncReturnType" : "PostAgentProfileResult"
    },
    "UpdateProfilingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProfilingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProfilingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProfilingGroupRequest, UpdateProfilingGroupResult>",
      "asyncReturnType" : "UpdateProfilingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a profiling group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Request can can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProfilingGroupRequest",
        "variableName" : "updateProfilingGroupRequest",
        "variableType" : "UpdateProfilingGroupRequest",
        "documentation" : "<p>Request for UpdateProfilingGroup operation.</p>",
        "simpleType" : "UpdateProfilingGroupRequest",
        "variableSetterType" : "UpdateProfilingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProfilingGroup",
      "operationName" : "UpdateProfilingGroup",
      "returnType" : {
        "returnType" : "UpdateProfilingGroupResult",
        "documentation" : "<p>Response for UpdateProfilingGroup operation.</p>"
      },
      "syncReturnType" : "UpdateProfilingGroupResult"
    }
  },
  "shapes" : {
    "AgentConfiguration" : {
      "c2jName" : "AgentConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configuration for the agent to use.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "periodInSeconds",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.</p>\n@param periodInSeconds Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPeriodInSeconds",
        "getterDocumentation" : "/**<p>Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.</p>\n@return Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.*/",
        "getterMethodName" : "getPeriodInSeconds",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "periodInSeconds",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "periodInSeconds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "PeriodInSeconds",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.</p>\n@param periodInSeconds Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.*/",
        "setterMethodName" : "setPeriodInSeconds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "periodInSeconds",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.</p>\n@param periodInSeconds Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "periodInSeconds",
          "variableType" : "Integer",
          "documentation" : "<p>Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "shouldProfile",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>Specifies if the profiling should be enabled by the agent.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies if the profiling should be enabled by the agent.</p>\n@param shouldProfile Specifies if the profiling should be enabled by the agent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withShouldProfile",
        "getterDocumentation" : "/**<p>Specifies if the profiling should be enabled by the agent.</p>\n@return Specifies if the profiling should be enabled by the agent.*/",
        "getterMethodName" : "getShouldProfile",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "shouldProfile",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "shouldProfile",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "ShouldProfile",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies if the profiling should be enabled by the agent.</p>\n@param shouldProfile Specifies if the profiling should be enabled by the agent.*/",
        "setterMethodName" : "setShouldProfile",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "shouldProfile",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies if the profiling should be enabled by the agent.</p>\n@param shouldProfile Specifies if the profiling should be enabled by the agent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "shouldProfile",
          "variableType" : "Boolean",
          "documentation" : "<p>Specifies if the profiling should be enabled by the agent.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "PeriodInSeconds" : {
          "c2jName" : "periodInSeconds",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p>Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.</p>\n@param periodInSeconds Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPeriodInSeconds",
          "getterDocumentation" : "/**<p>Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.</p>\n@return Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.*/",
          "getterMethodName" : "getPeriodInSeconds",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "periodInSeconds",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "periodInSeconds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "PeriodInSeconds",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.</p>\n@param periodInSeconds Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.*/",
          "setterMethodName" : "setPeriodInSeconds",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "periodInSeconds",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.</p>\n@param periodInSeconds Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "periodInSeconds",
            "variableType" : "Integer",
            "documentation" : "<p>Specifies the period to follow the configuration (to profile or not) and call back to get a new configuration.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "ShouldProfile" : {
          "c2jName" : "shouldProfile",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "<p>Specifies if the profiling should be enabled by the agent.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies if the profiling should be enabled by the agent.</p>\n@param shouldProfile Specifies if the profiling should be enabled by the agent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withShouldProfile",
          "getterDocumentation" : "/**<p>Specifies if the profiling should be enabled by the agent.</p>\n@return Specifies if the profiling should be enabled by the agent.*/",
          "getterMethodName" : "getShouldProfile",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "shouldProfile",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "shouldProfile",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "ShouldProfile",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies if the profiling should be enabled by the agent.</p>\n@param shouldProfile Specifies if the profiling should be enabled by the agent.*/",
          "setterMethodName" : "setShouldProfile",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "shouldProfile",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies if the profiling should be enabled by the agent.</p>\n@param shouldProfile Specifies if the profiling should be enabled by the agent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "shouldProfile",
            "variableType" : "Boolean",
            "documentation" : "<p>Specifies if the profiling should be enabled by the agent.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "periodInSeconds", "shouldProfile" ],
      "shapeName" : "AgentConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AgentConfiguration",
        "variableName" : "agentConfiguration",
        "variableType" : "AgentConfiguration",
        "documentation" : null,
        "simpleType" : "AgentConfiguration",
        "variableSetterType" : "AgentConfiguration"
      },
      "wrapper" : false
    },
    "AgentOrchestrationConfig" : {
      "c2jName" : "AgentOrchestrationConfig",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Configuration to orchestrate agents to create and report agent profiles of the profiling group. Agents are orchestrated if they follow the agent orchestration protocol.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "profilingEnabled",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>If the agents should be enabled to create and report profiles.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>If the agents should be enabled to create and report profiles.</p>\n@param profilingEnabled If the agents should be enabled to create and report profiles.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfilingEnabled",
        "getterDocumentation" : "/**<p>If the agents should be enabled to create and report profiles.</p>\n@return If the agents should be enabled to create and report profiles.*/",
        "getterMethodName" : "getProfilingEnabled",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "profilingEnabled",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "profilingEnabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "ProfilingEnabled",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>If the agents should be enabled to create and report profiles.</p>\n@param profilingEnabled If the agents should be enabled to create and report profiles.*/",
        "setterMethodName" : "setProfilingEnabled",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "profilingEnabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>If the agents should be enabled to create and report profiles.</p>\n@param profilingEnabled If the agents should be enabled to create and report profiles.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "profilingEnabled",
          "variableType" : "Boolean",
          "documentation" : "<p>If the agents should be enabled to create and report profiles.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ProfilingEnabled" : {
          "c2jName" : "profilingEnabled",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "<p>If the agents should be enabled to create and report profiles.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>If the agents should be enabled to create and report profiles.</p>\n@param profilingEnabled If the agents should be enabled to create and report profiles.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProfilingEnabled",
          "getterDocumentation" : "/**<p>If the agents should be enabled to create and report profiles.</p>\n@return If the agents should be enabled to create and report profiles.*/",
          "getterMethodName" : "getProfilingEnabled",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "profilingEnabled",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "profilingEnabled",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "ProfilingEnabled",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>If the agents should be enabled to create and report profiles.</p>\n@param profilingEnabled If the agents should be enabled to create and report profiles.*/",
          "setterMethodName" : "setProfilingEnabled",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "profilingEnabled",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>If the agents should be enabled to create and report profiles.</p>\n@param profilingEnabled If the agents should be enabled to create and report profiles.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "profilingEnabled",
            "variableType" : "Boolean",
            "documentation" : "<p>If the agents should be enabled to create and report profiles.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "profilingEnabled" ],
      "shapeName" : "AgentOrchestrationConfig",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AgentOrchestrationConfig",
        "variableName" : "agentOrchestrationConfig",
        "variableType" : "AgentOrchestrationConfig",
        "documentation" : null,
        "simpleType" : "AgentOrchestrationConfig",
        "variableSetterType" : "AgentOrchestrationConfig"
      },
      "wrapper" : false
    },
    "AggregatedProfileTime" : {
      "c2jName" : "AggregatedProfileTime",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The time range of an aggregated profile.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "period",
        "c2jShape" : "AggregationPeriod",
        "deprecated" : false,
        "documentation" : "<p>The aggregation period of the aggregated profile.</p>",
        "enumType" : "AggregationPeriod",
        "fluentSetterDocumentation" : "/**<p>The aggregation period of the aggregated profile.</p>\n@param period The aggregation period of the aggregated profile.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AggregationPeriod*/",
        "fluentSetterMethodName" : "withPeriod",
        "getterDocumentation" : "/**<p>The aggregation period of the aggregated profile.</p>\n@return The aggregation period of the aggregated profile.\n@see AggregationPeriod*/",
        "getterMethodName" : "getPeriod",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "period",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "period",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Period",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The aggregation period of the aggregated profile.</p>\n@param period The aggregation period of the aggregated profile.\n@see AggregationPeriod*/",
        "setterMethodName" : "setPeriod",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "period",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The aggregation period of the aggregated profile.</p>\n@param period The aggregation period of the aggregated profile.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AggregationPeriod*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "period",
          "variableType" : "String",
          "documentation" : "<p>The aggregation period of the aggregated profile.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "start",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The start time of the aggregated profile.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The start time of the aggregated profile.</p>\n@param start The start time of the aggregated profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStart",
        "getterDocumentation" : "/**<p>The start time of the aggregated profile.</p>\n@return The start time of the aggregated profile.*/",
        "getterMethodName" : "getStart",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "start",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "start",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "Start",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The start time of the aggregated profile.</p>\n@param start The start time of the aggregated profile.*/",
        "setterMethodName" : "setStart",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "start",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The start time of the aggregated profile.</p>\n@param start The start time of the aggregated profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "start",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The start time of the aggregated profile.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Period" : {
          "c2jName" : "period",
          "c2jShape" : "AggregationPeriod",
          "deprecated" : false,
          "documentation" : "<p>The aggregation period of the aggregated profile.</p>",
          "enumType" : "AggregationPeriod",
          "fluentSetterDocumentation" : "/**<p>The aggregation period of the aggregated profile.</p>\n@param period The aggregation period of the aggregated profile.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AggregationPeriod*/",
          "fluentSetterMethodName" : "withPeriod",
          "getterDocumentation" : "/**<p>The aggregation period of the aggregated profile.</p>\n@return The aggregation period of the aggregated profile.\n@see AggregationPeriod*/",
          "getterMethodName" : "getPeriod",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "period",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "period",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Period",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The aggregation period of the aggregated profile.</p>\n@param period The aggregation period of the aggregated profile.\n@see AggregationPeriod*/",
          "setterMethodName" : "setPeriod",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "period",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The aggregation period of the aggregated profile.</p>\n@param period The aggregation period of the aggregated profile.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AggregationPeriod*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "period",
            "variableType" : "String",
            "documentation" : "<p>The aggregation period of the aggregated profile.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Start" : {
          "c2jName" : "start",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The start time of the aggregated profile.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The start time of the aggregated profile.</p>\n@param start The start time of the aggregated profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStart",
          "getterDocumentation" : "/**<p>The start time of the aggregated profile.</p>\n@return The start time of the aggregated profile.*/",
          "getterMethodName" : "getStart",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "start",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "start",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "Start",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The start time of the aggregated profile.</p>\n@param start The start time of the aggregated profile.*/",
          "setterMethodName" : "setStart",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "start",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The start time of the aggregated profile.</p>\n@param start The start time of the aggregated profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "iso8601",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "start",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The start time of the aggregated profile.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AggregatedProfileTime",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AggregatedProfileTime",
        "variableName" : "aggregatedProfileTime",
        "variableType" : "AggregatedProfileTime",
        "documentation" : null,
        "simpleType" : "AggregatedProfileTime",
        "variableSetterType" : "AggregatedProfileTime"
      },
      "wrapper" : false
    },
    "AggregationPeriod" : {
      "c2jName" : "AggregationPeriod",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Periods of time used for aggregation of profiles, represented using ISO 8601 format.</p>",
      "enums" : [ {
        "name" : "P1D",
        "value" : "P1D"
      }, {
        "name" : "PT1H",
        "value" : "PT1H"
      }, {
        "name" : "PT5M",
        "value" : "PT5M"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AggregationPeriod",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AggregationPeriod",
        "variableName" : "aggregationPeriod",
        "variableType" : "AggregationPeriod",
        "documentation" : null,
        "simpleType" : "AggregationPeriod",
        "variableSetterType" : "AggregationPeriod"
      },
      "wrapper" : false
    },
    "ConfigureAgentRequest" : {
      "c2jName" : "ConfigureAgentRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Request for ConfigureAgent operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ConfigureAgent",
        "locationName" : null,
        "requestUri" : "/profilingGroups/{profilingGroupName}/configureAgent",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "fleetInstanceId",
        "c2jShape" : "FleetInstanceId",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param fleetInstanceId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFleetInstanceId",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getFleetInstanceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "fleetInstanceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "fleetInstanceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FleetInstanceId",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param fleetInstanceId */",
        "setterMethodName" : "setFleetInstanceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "fleetInstanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param fleetInstanceId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "fleetInstanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "profilingGroupName",
        "c2jShape" : "ProfilingGroupName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param profilingGroupName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfilingGroupName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getProfilingGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "profilingGroupName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "profilingGroupName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProfilingGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param profilingGroupName */",
        "setterMethodName" : "setProfilingGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profilingGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param profilingGroupName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profilingGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FleetInstanceId" : {
          "c2jName" : "fleetInstanceId",
          "c2jShape" : "FleetInstanceId",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param fleetInstanceId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFleetInstanceId",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getFleetInstanceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "fleetInstanceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "fleetInstanceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FleetInstanceId",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param fleetInstanceId */",
          "setterMethodName" : "setFleetInstanceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "fleetInstanceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param fleetInstanceId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "fleetInstanceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProfilingGroupName" : {
          "c2jName" : "profilingGroupName",
          "c2jShape" : "ProfilingGroupName",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param profilingGroupName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProfilingGroupName",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getProfilingGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "profilingGroupName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "profilingGroupName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProfilingGroupName",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param profilingGroupName */",
          "setterMethodName" : "setProfilingGroupName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profilingGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param profilingGroupName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profilingGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "profilingGroupName" ],
      "shapeName" : "ConfigureAgentRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConfigureAgentRequest",
        "variableName" : "configureAgentRequest",
        "variableType" : "ConfigureAgentRequest",
        "documentation" : null,
        "simpleType" : "ConfigureAgentRequest",
        "variableSetterType" : "ConfigureAgentRequest"
      },
      "wrapper" : false
    },
    "ConfigureAgentResult" : {
      "c2jName" : "ConfigureAgentResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Response for ConfigureAgent operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : true,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "configuration",
        "c2jShape" : "AgentConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the agent to use.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the agent to use.</p>\n@param configuration The configuration for the agent to use.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfiguration",
        "getterDocumentation" : "/**<p>The configuration for the agent to use.</p>\n@return The configuration for the agent to use.*/",
        "getterMethodName" : "getConfiguration",
        "getterModel" : {
          "returnType" : "AgentConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : true,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "configuration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "configuration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Configuration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the agent to use.</p>\n@param configuration The configuration for the agent to use.*/",
        "setterMethodName" : "setConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AgentConfiguration",
          "variableName" : "configuration",
          "variableType" : "AgentConfiguration",
          "documentation" : "",
          "simpleType" : "AgentConfiguration",
          "variableSetterType" : "AgentConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the agent to use.</p>\n@param configuration The configuration for the agent to use.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AgentConfiguration",
          "variableName" : "configuration",
          "variableType" : "AgentConfiguration",
          "documentation" : "<p>The configuration for the agent to use.</p>",
          "simpleType" : "AgentConfiguration",
          "variableSetterType" : "AgentConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Configuration" : {
          "c2jName" : "configuration",
          "c2jShape" : "AgentConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The configuration for the agent to use.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration for the agent to use.</p>\n@param configuration The configuration for the agent to use.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConfiguration",
          "getterDocumentation" : "/**<p>The configuration for the agent to use.</p>\n@return The configuration for the agent to use.*/",
          "getterMethodName" : "getConfiguration",
          "getterModel" : {
            "returnType" : "AgentConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : true,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "configuration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "configuration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Configuration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration for the agent to use.</p>\n@param configuration The configuration for the agent to use.*/",
          "setterMethodName" : "setConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AgentConfiguration",
            "variableName" : "configuration",
            "variableType" : "AgentConfiguration",
            "documentation" : "",
            "simpleType" : "AgentConfiguration",
            "variableSetterType" : "AgentConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration for the agent to use.</p>\n@param configuration The configuration for the agent to use.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AgentConfiguration",
            "variableName" : "configuration",
            "variableType" : "AgentConfiguration",
            "documentation" : "<p>The configuration for the agent to use.</p>",
            "simpleType" : "AgentConfiguration",
            "variableSetterType" : "AgentConfiguration"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "configuration" ],
      "shapeName" : "ConfigureAgentResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConfigureAgentResult",
        "variableName" : "configureAgentResult",
        "variableType" : "ConfigureAgentResult",
        "documentation" : null,
        "simpleType" : "ConfigureAgentResult",
        "variableSetterType" : "ConfigureAgentResult"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Request can can cause an inconsistent state for the resource.</p>",
      "enums" : null,
      "errorCode" : "ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateProfilingGroupRequest" : {
      "c2jName" : "CreateProfilingGroupRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Request for CreateProfilingGroup operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateProfilingGroup",
        "locationName" : null,
        "requestUri" : "/profilingGroups",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "agentOrchestrationConfig",
        "c2jShape" : "AgentOrchestrationConfig",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param agentOrchestrationConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAgentOrchestrationConfig",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getAgentOrchestrationConfig",
        "getterModel" : {
          "returnType" : "AgentOrchestrationConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "agentOrchestrationConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "agentOrchestrationConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AgentOrchestrationConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param agentOrchestrationConfig */",
        "setterMethodName" : "setAgentOrchestrationConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AgentOrchestrationConfig",
          "variableName" : "agentOrchestrationConfig",
          "variableType" : "AgentOrchestrationConfig",
          "documentation" : "",
          "simpleType" : "AgentOrchestrationConfig",
          "variableSetterType" : "AgentOrchestrationConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param agentOrchestrationConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AgentOrchestrationConfig",
          "variableName" : "agentOrchestrationConfig",
          "variableType" : "AgentOrchestrationConfig",
          "documentation" : "",
          "simpleType" : "AgentOrchestrationConfig",
          "variableSetterType" : "AgentOrchestrationConfig"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientToken",
        "c2jShape" : "ClientToken",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param clientToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "clientToken",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param clientToken */",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param clientToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "profilingGroupName",
        "c2jShape" : "ProfilingGroupName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param profilingGroupName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfilingGroupName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getProfilingGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "profilingGroupName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "profilingGroupName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProfilingGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param profilingGroupName */",
        "setterMethodName" : "setProfilingGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profilingGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param profilingGroupName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profilingGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AgentOrchestrationConfig" : {
          "c2jName" : "agentOrchestrationConfig",
          "c2jShape" : "AgentOrchestrationConfig",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param agentOrchestrationConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAgentOrchestrationConfig",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getAgentOrchestrationConfig",
          "getterModel" : {
            "returnType" : "AgentOrchestrationConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "agentOrchestrationConfig",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "agentOrchestrationConfig",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "AgentOrchestrationConfig",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param agentOrchestrationConfig */",
          "setterMethodName" : "setAgentOrchestrationConfig",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AgentOrchestrationConfig",
            "variableName" : "agentOrchestrationConfig",
            "variableType" : "AgentOrchestrationConfig",
            "documentation" : "",
            "simpleType" : "AgentOrchestrationConfig",
            "variableSetterType" : "AgentOrchestrationConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param agentOrchestrationConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AgentOrchestrationConfig",
            "variableName" : "agentOrchestrationConfig",
            "variableType" : "AgentOrchestrationConfig",
            "documentation" : "",
            "simpleType" : "AgentOrchestrationConfig",
            "variableSetterType" : "AgentOrchestrationConfig"
          },
          "xmlNameSpaceUri" : null
        },
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "ClientToken",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param clientToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "clientToken",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param clientToken */",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param clientToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProfilingGroupName" : {
          "c2jName" : "profilingGroupName",
          "c2jShape" : "ProfilingGroupName",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param profilingGroupName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProfilingGroupName",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getProfilingGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
[...]
