{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-10-06",
    "asyncClient" : "AWSCodeBuildAsyncClient",
    "asyncClientBuilderClassName" : "AWSCodeBuildAsyncClientBuilder",
    "asyncInterface" : "AWSCodeBuildAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCodeBuildModuleInjector",
    "defaultEndpoint" : "codebuild.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codebuild.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS CodeBuild</fullname> <p>AWS CodeBuild is a fully managed build service in the cloud. AWS CodeBuild compiles your source code, runs unit tests, and produces artifacts that are ready to deploy. AWS CodeBuild eliminates the need to provision, manage, and scale your own build servers. It provides prepackaged build environments for the most popular programming languages and build tools, such as Apach Maven, Gradle, and more. You can also fully customize build environments in AWS CodeBuild to use your own build tools. AWS CodeBuild scales automatically to meet peak build requests, and you pay only for the build time you consume. For more information about AWS CodeBuild, see the <i>AWS CodeBuild User Guide</i>.</p> <p>AWS CodeBuild supports these operations:</p> <ul> <li> <p> <code>BatchGetProjects</code>: Gets information about one or more build projects. A <i>build project</i> defines how AWS CodeBuild will run a build. This includes information such as where to get the source code to build, the build environment to use, the build commands to run, and where to store the build output. A <i>build environment</i> represents a combination of operating system, programming language runtime, and tools that AWS CodeBuild will use to run a build. Also, you can add tags to build projects to help manage your resources and costs.</p> </li> <li> <p> <code>CreateProject</code>: Creates a build project.</p> </li> <li> <p> <code>DeleteProject</code>: Deletes a build project.</p> </li> <li> <p> <code>ListProjects</code>: Gets a list of build project names, with each build project name representing a single build project.</p> </li> <li> <p> <code>UpdateProject</code>: Changes the settings of an existing build project.</p> </li> <li> <p> <code>BatchGetBuilds</code>: Gets information about one or more builds.</p> </li> <li> <p> <code>ListBuilds</code>: Gets a list of build IDs, with each build ID representing a single build.</p> </li> <li> <p> <code>ListBuildsForProject</code>: Gets a list of build IDs for the specified build project, with each build ID representing a single build.</p> </li> <li> <p> <code>StartBuild</code>: Starts running a build.</p> </li> <li> <p> <code>StopBuild</code>: Attempts to stop running a build.</p> </li> <li> <p> <code>ListCuratedEnvironmentImages</code>: Gets information about Docker images that are managed by AWS CodeBuild.</p> </li> </ul>",
    "endpointPrefix" : "codebuild",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.codebuild",
    "packagePath" : "com/amazonaws/services/codebuild",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS CodeBuild",
    "serviceName" : "AWS CodeBuild",
    "signingName" : "codebuild",
    "smokeTestsPackageName" : "com.amazonaws.services.codebuild.smoketests",
    "syncClient" : "AWSCodeBuildClient",
    "syncClientBuilderClassName" : "AWSCodeBuildClientBuilder",
    "syncInterface" : "AWSCodeBuild",
    "uid" : "codebuild-2016-10-06",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetBuilds" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetBuildsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetBuildsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetBuildsRequest, BatchGetBuildsResult>",
      "asyncReturnType" : "BatchGetBuildsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about builds.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchGetBuildsRequest",
        "variableName" : "batchGetBuildsRequest",
        "variableType" : "BatchGetBuildsRequest",
        "documentation" : "",
        "simpleType" : "BatchGetBuildsRequest",
        "variableSetterType" : "BatchGetBuildsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetBuilds",
      "operationName" : "BatchGetBuilds",
      "returnType" : {
        "returnType" : "BatchGetBuildsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetBuildsResult"
    },
    "BatchGetProjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetProjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetProjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetProjectsRequest, BatchGetProjectsResult>",
      "asyncReturnType" : "BatchGetProjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about build projects.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchGetProjectsRequest",
        "variableName" : "batchGetProjectsRequest",
        "variableType" : "BatchGetProjectsRequest",
        "documentation" : "",
        "simpleType" : "BatchGetProjectsRequest",
        "variableSetterType" : "BatchGetProjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetProjects",
      "operationName" : "BatchGetProjects",
      "returnType" : {
        "returnType" : "BatchGetProjectsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetProjectsResult"
    },
    "CreateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProjectRequest, CreateProjectResult>",
      "asyncReturnType" : "CreateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a build project.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified AWS resource cannot be created, because an AWS resource with the same settings already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccountLimitExceededException",
        "documentation" : "<p>An AWS service limit was exceeded for the calling AWS account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateProjectRequest",
        "variableName" : "createProjectRequest",
        "variableType" : "CreateProjectRequest",
        "documentation" : "",
        "simpleType" : "CreateProjectRequest",
        "variableSetterType" : "CreateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProject",
      "operationName" : "CreateProject",
      "returnType" : {
        "returnType" : "CreateProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProjectResult"
    },
    "DeleteProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProjectRequest, DeleteProjectResult>",
      "asyncReturnType" : "DeleteProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a build project.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteProjectRequest",
        "variableName" : "deleteProjectRequest",
        "variableType" : "DeleteProjectRequest",
        "documentation" : "",
        "simpleType" : "DeleteProjectRequest",
        "variableSetterType" : "DeleteProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProject",
      "operationName" : "DeleteProject",
      "returnType" : {
        "returnType" : "DeleteProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProjectResult"
    },
    "ListBuilds" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBuildsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBuildsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBuildsRequest, ListBuildsResult>",
      "asyncReturnType" : "ListBuildsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of build IDs, with each build ID representing a single build.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListBuildsRequest",
        "variableName" : "listBuildsRequest",
        "variableType" : "ListBuildsRequest",
        "documentation" : "",
        "simpleType" : "ListBuildsRequest",
        "variableSetterType" : "ListBuildsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBuilds",
      "operationName" : "ListBuilds",
      "returnType" : {
        "returnType" : "ListBuildsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBuildsResult"
    },
    "ListBuildsForProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBuildsForProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBuildsForProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBuildsForProjectRequest, ListBuildsForProjectResult>",
      "asyncReturnType" : "ListBuildsForProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of build IDs for the specified build project, with each build ID representing a single build.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListBuildsForProjectRequest",
        "variableName" : "listBuildsForProjectRequest",
        "variableType" : "ListBuildsForProjectRequest",
        "documentation" : "",
        "simpleType" : "ListBuildsForProjectRequest",
        "variableSetterType" : "ListBuildsForProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBuildsForProject",
      "operationName" : "ListBuildsForProject",
      "returnType" : {
        "returnType" : "ListBuildsForProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBuildsForProjectResult"
    },
    "ListCuratedEnvironmentImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCuratedEnvironmentImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCuratedEnvironmentImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCuratedEnvironmentImagesRequest, ListCuratedEnvironmentImagesResult>",
      "asyncReturnType" : "ListCuratedEnvironmentImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about Docker images that are managed by AWS CodeBuild.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListCuratedEnvironmentImagesRequest",
        "variableName" : "listCuratedEnvironmentImagesRequest",
        "variableType" : "ListCuratedEnvironmentImagesRequest",
        "documentation" : "",
        "simpleType" : "ListCuratedEnvironmentImagesRequest",
        "variableSetterType" : "ListCuratedEnvironmentImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCuratedEnvironmentImages",
      "operationName" : "ListCuratedEnvironmentImages",
      "returnType" : {
        "returnType" : "ListCuratedEnvironmentImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCuratedEnvironmentImagesResult"
    },
    "ListProjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProjectsRequest, ListProjectsResult>",
      "asyncReturnType" : "ListProjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of build project names, with each build project name representing a single build project.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListProjectsRequest",
        "variableName" : "listProjectsRequest",
        "variableType" : "ListProjectsRequest",
        "documentation" : "",
        "simpleType" : "ListProjectsRequest",
        "variableSetterType" : "ListProjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProjects",
      "operationName" : "ListProjects",
      "returnType" : {
        "returnType" : "ListProjectsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProjectsResult"
    },
    "StartBuild" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartBuildResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartBuildResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartBuildRequest, StartBuildResult>",
      "asyncReturnType" : "StartBuildResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts running a build.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccountLimitExceededException",
        "documentation" : "<p>An AWS service limit was exceeded for the calling AWS account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartBuildRequest",
        "variableName" : "startBuildRequest",
        "variableType" : "StartBuildRequest",
        "documentation" : "",
        "simpleType" : "StartBuildRequest",
        "variableSetterType" : "StartBuildRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startBuild",
      "operationName" : "StartBuild",
      "returnType" : {
        "returnType" : "StartBuildResult",
        "documentation" : null
      },
      "syncReturnType" : "StartBuildResult"
    },
    "StopBuild" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopBuildResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopBuildResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopBuildRequest, StopBuildResult>",
      "asyncReturnType" : "StopBuildResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attempts to stop running a build.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopBuildRequest",
        "variableName" : "stopBuildRequest",
        "variableType" : "StopBuildRequest",
        "documentation" : "",
        "simpleType" : "StopBuildRequest",
        "variableSetterType" : "StopBuildRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopBuild",
      "operationName" : "StopBuild",
      "returnType" : {
        "returnType" : "StopBuildResult",
        "documentation" : null
      },
      "syncReturnType" : "StopBuildResult"
    },
    "UpdateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProjectRequest, UpdateProjectResult>",
      "asyncReturnType" : "UpdateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes the settings of a build project.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateProjectRequest",
        "variableName" : "updateProjectRequest",
        "variableType" : "UpdateProjectRequest",
        "documentation" : "",
        "simpleType" : "UpdateProjectRequest",
        "variableSetterType" : "UpdateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProject",
      "operationName" : "UpdateProject",
      "returnType" : {
        "returnType" : "UpdateProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProjectResult"
    }
  },
  "shapes" : {
    "AccountLimitExceededException" : {
      "c2jName" : "AccountLimitExceededException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An AWS service limit was exceeded for the calling AWS account.</p>",
      "enums" : null,
      "errorCode" : "AccountLimitExceededException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccountLimitExceededException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AccountLimitExceededException",
        "variableName" : "accountLimitExceededException",
        "variableType" : "AccountLimitExceededException",
        "documentation" : null,
        "simpleType" : "AccountLimitExceededException",
        "variableSetterType" : "AccountLimitExceededException"
      },
      "wrapper" : false
    },
    "ArtifactNamespace" : {
      "c2jName" : "ArtifactNamespace",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "NONE",
        "value" : "NONE"
      }, {
        "name" : "BUILD_ID",
        "value" : "BUILD_ID"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ArtifactNamespace",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ArtifactNamespace",
        "variableName" : "artifactNamespace",
        "variableType" : "ArtifactNamespace",
        "documentation" : null,
        "simpleType" : "ArtifactNamespace",
        "variableSetterType" : "ArtifactNamespace"
      },
      "wrapper" : false
    },
    "ArtifactPackaging" : {
      "c2jName" : "ArtifactPackaging",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "NONE",
        "value" : "NONE"
      }, {
        "name" : "ZIP",
        "value" : "ZIP"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ArtifactPackaging",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ArtifactPackaging",
        "variableName" : "artifactPackaging",
        "variableType" : "ArtifactPackaging",
        "documentation" : null,
        "simpleType" : "ArtifactPackaging",
        "variableSetterType" : "ArtifactPackaging"
      },
      "wrapper" : false
    },
    "ArtifactsType" : {
      "c2jName" : "ArtifactsType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "CODEPIPELINE",
        "value" : "CODEPIPELINE"
      }, {
        "name" : "S3",
        "value" : "S3"
      }, {
        "name" : "NO_ARTIFACTS",
        "value" : "NO_ARTIFACTS"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ArtifactsType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ArtifactsType",
        "variableName" : "artifactsType",
        "variableType" : "ArtifactsType",
        "documentation" : null,
        "simpleType" : "ArtifactsType",
        "variableSetterType" : "ArtifactsType"
      },
      "wrapper" : false
    },
    "BatchGetBuildsRequest" : {
      "c2jName" : "BatchGetBuildsInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchGetBuilds",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CodeBuild_20161006.BatchGetBuilds",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ids",
        "c2jShape" : "BuildIds",
        "deprecated" : false,
        "documentation" : "<p>The IDs of the builds.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The IDs of the builds.</p>\n@param ids The IDs of the builds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIds",
        "getterDocumentation" : "/**<p>The IDs of the builds.</p>\n@return The IDs of the builds.*/",
        "getterMethodName" : "getIds",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ids",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ids",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NonEmptyString",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Ids",
        "setterDocumentation" : "/**<p>The IDs of the builds.</p>\n@param ids The IDs of the builds.*/",
        "setterMethodName" : "setIds",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "ids",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The IDs of the builds.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setIds(java.util.Collection)} or {@link #withIds(java.util.Collection)} if you want to override the existing values.</p>\n@param ids The IDs of the builds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "ids",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The IDs of the builds.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Ids" : {
          "c2jName" : "ids",
          "c2jShape" : "BuildIds",
          "deprecated" : false,
          "documentation" : "<p>The IDs of the builds.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The IDs of the builds.</p>\n@param ids The IDs of the builds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIds",
          "getterDocumentation" : "/**<p>The IDs of the builds.</p>\n@return The IDs of the builds.*/",
          "getterMethodName" : "getIds",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ids",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ids",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "NonEmptyString",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Ids",
          "setterDocumentation" : "/**<p>The IDs of the builds.</p>\n@param ids The IDs of the builds.*/",
          "setterMethodName" : "setIds",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "ids",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The IDs of the builds.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setIds(java.util.Collection)} or {@link #withIds(java.util.Collection)} if you want to override the existing values.</p>\n@param ids The IDs of the builds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "ids",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The IDs of the builds.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ids" ],
      "shapeName" : "BatchGetBuildsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BatchGetBuildsRequest",
        "variableName" : "batchGetBuildsRequest",
        "variableType" : "BatchGetBuildsRequest",
        "documentation" : null,
        "simpleType" : "BatchGetBuildsRequest",
        "variableSetterType" : "BatchGetBuildsRequest"
      },
      "wrapper" : false
    },
    "BatchGetBuildsResult" : {
      "c2jName" : "BatchGetBuildsOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "builds",
        "c2jShape" : "Builds",
        "deprecated" : false,
        "documentation" : "<p>Information about the requested builds.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the requested builds.</p>\n@param builds Information about the requested builds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBuilds",
        "getterDocumentation" : "/**<p>Information about the requested builds.</p>\n@return Information about the requested builds.*/",
        "getterMethodName" : "getBuilds",
        "getterModel" : {
          "returnType" : "java.util.List<Build>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "builds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "builds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Build",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Build",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "Build",
              "variableName" : "member",
              "variableType" : "Build",
              "documentation" : "",
              "simpleType" : "Build",
              "variableSetterType" : "Build"
            },
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Build",
              "variableName" : "member",
              "variableType" : "Build",
              "documentation" : "",
              "simpleType" : "Build",
              "variableSetterType" : "Build"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Build",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Build",
          "templateImplType" : "java.util.ArrayList<Build>",
          "templateType" : "java.util.List<Build>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Builds",
        "setterDocumentation" : "/**<p>Information about the requested builds.</p>\n@param builds Information about the requested builds.*/",
        "setterMethodName" : "setBuilds",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Build>",
          "variableName" : "builds",
          "variableType" : "java.util.List<Build>",
          "documentation" : "",
          "simpleType" : "List<Build>",
          "variableSetterType" : "java.util.Collection<Build>"
        },
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the requested builds.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBuilds(java.util.Collection)} or {@link #withBuilds(java.util.Collection)} if you want to override the existing values.</p>\n@param builds Information about the requested builds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Build>",
          "variableName" : "builds",
          "variableType" : "java.util.List<Build>",
          "documentation" : "<p>Information about the requested builds.</p>",
          "simpleType" : "List<Build>",
          "variableSetterType" : "java.util.Collection<Build>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "buildsNotFound",
        "c2jShape" : "BuildIds",
        "deprecated" : false,
        "documentation" : "<p>The IDs of builds for which information could not be found.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The IDs of builds for which information could not be found.</p>\n@param buildsNotFound The IDs of builds for which information could not be found.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBuildsNotFound",
        "getterDocumentation" : "/**<p>The IDs of builds for which information could not be found.</p>\n@return The IDs of builds for which information could not be found.*/",
        "getterMethodName" : "getBuildsNotFound",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "buildsNotFound",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "buildsNotFound",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NonEmptyString",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "BuildsNotFound",
        "setterDocumentation" : "/**<p>The IDs of builds for which information could not be found.</p>\n@param buildsNotFound The IDs of builds for which information could not be found.*/",
        "setterMethodName" : "setBuildsNotFound",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "buildsNotFound",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The IDs of builds for which information could not be found.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBuildsNotFound(java.util.Collection)} or {@link #withBuildsNotFound(java.util.Collection)} if you want to override the existing values.</p>\n@param buildsNotFound The IDs of builds for which information could not be found.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "buildsNotFound",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The IDs of builds for which information could not be found.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Builds" : {
          "c2jName" : "builds",
          "c2jShape" : "Builds",
          "deprecated" : false,
          "documentation" : "<p>Information about the requested builds.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the requested builds.</p>\n@param builds Information about the requested builds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBuilds",
          "getterDocumentation" : "/**<p>Information about the requested builds.</p>\n@return Information about the requested builds.*/",
          "getterMethodName" : "getBuilds",
          "getterModel" : {
            "returnType" : "java.util.List<Build>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "builds",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "builds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Build",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Build",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "Build",
                "variableName" : "member",
                "variableType" : "Build",
                "documentation" : "",
                "simpleType" : "Build",
                "variableSetterType" : "Build"
              },
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Build",
                "variableName" : "member",
                "variableType" : "Build",
                "documentation" : "",
                "simpleType" : "Build",
                "variableSetterType" : "Build"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Build",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Build",
            "templateImplType" : "java.util.ArrayList<Build>",
            "templateType" : "java.util.List<Build>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Builds",
          "setterDocumentation" : "/**<p>Information about the requested builds.</p>\n@param builds Information about the requested builds.*/",
          "setterMethodName" : "setBuilds",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<Build>",
            "variableName" : "builds",
            "variableType" : "java.util.List<Build>",
            "documentation" : "",
            "simpleType" : "List<Build>",
            "variableSetterType" : "java.util.Collection<Build>"
          },
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the requested builds.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBuilds(java.util.Collection)} or {@link #withBuilds(java.util.Collection)} if you want to override the existing values.</p>\n@param builds Information about the requested builds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<Build>",
            "variableName" : "builds",
            "variableType" : "java.util.List<Build>",
            "documentation" : "<p>Information about the requested builds.</p>",
            "simpleType" : "List<Build>",
            "variableSetterType" : "java.util.Collection<Build>"
          },
          "xmlNameSpaceUri" : null
        },
        "BuildsNotFound" : {
          "c2jName" : "buildsNotFound",
          "c2jShape" : "BuildIds",
          "deprecated" : false,
          "documentation" : "<p>The IDs of builds for which information could not be found.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The IDs of builds for which information could not be found.</p>\n@param buildsNotFound The IDs of builds for which information could not be found.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBuildsNotFound",
          "getterDocumentation" : "/**<p>The IDs of builds for which information could not be found.</p>\n@return The IDs of builds for which information could not be found.*/",
          "getterMethodName" : "getBuildsNotFound",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "buildsNotFound",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "buildsNotFound",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "NonEmptyString",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "BuildsNotFound",
          "setterDocumentation" : "/**<p>The IDs of builds for which information could not be found.</p>\n@param buildsNotFound The IDs of builds for which information could not be found.*/",
          "setterMethodName" : "setBuildsNotFound",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "buildsNotFound",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The IDs of builds for which information could not be found.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBuildsNotFound(java.util.Collection)} or {@link #withBuildsNotFound(java.util.Collection)} if you want to override the existing values.</p>\n@param buildsNotFound The IDs of builds for which information could not be found.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "buildsNotFound",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The IDs of builds for which information could not be found.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BatchGetBuildsResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BatchGetBuildsResult",
        "variableName" : "batchGetBuildsResult",
        "variableType" : "BatchGetBuildsResult",
        "documentation" : null,
        "simpleType" : "BatchGetBuildsResult",
        "variableSetterType" : "BatchGetBuildsResult"
      },
      "wrapper" : false
    },
    "BatchGetProjectsRequest" : {
      "c2jName" : "BatchGetProjectsInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchGetProjects",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CodeBuild_20161006.BatchGetProjects",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "names",
        "c2jShape" : "ProjectNames",
        "deprecated" : false,
        "documentation" : "<p>The names of the build projects.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The names of the build projects.</p>\n@param names The names of the build projects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNames",
        "getterDocumentation" : "/**<p>The names of the build projects.</p>\n@return The names of the build projects.*/",
        "getterMethodName" : "getNames",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "names",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "names",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NonEmptyString",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Names",
        "setterDocumentation" : "/**<p>The names of the build projects.</p>\n@param names The names of the build projects.*/",
        "setterMethodName" : "setNames",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "names",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The names of the build projects.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNames(java.util.Collection)} or {@link #withNames(java.util.Collection)} if you want to override the existing values.</p>\n@param names The names of the build projects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "names",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The names of the build projects.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Names" : {
          "c2jName" : "names",
          "c2jShape" : "ProjectNames",
          "deprecated" : false,
          "documentation" : "<p>The names of the build projects.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The names of the build projects.</p>\n@param names The names of the build projects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNames",
          "getterDocumentation" : "/**<p>The names of the build projects.</p>\n@return The names of the build projects.*/",
          "getterMethodName" : "getNames",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "names",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "names",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "NonEmptyString",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Names",
          "setterDocumentation" : "/**<p>The names of the build projects.</p>\n@param names The names of the build projects.*/",
          "setterMethodName" : "setNames",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "names",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The names of the build projects.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNames(java.util.Collection)} or {@link #withNames(java.util.Collection)} if you want to override the existing values.</p>\n@param names The names of the build projects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "names",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The names of the build projects.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "names" ],
      "shapeName" : "BatchGetProjectsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BatchGetProjectsRequest",
        "variableName" : "batchGetProjectsRequest",
        "variableType" : "BatchGetProjectsRequest",
        "documentation" : null,
        "simpleType" : "BatchGetProjectsRequest",
        "variableSetterType" : "BatchGetProjectsRequest"
      },
      "wrapper" : false
    },
    "BatchGetProjectsResult" : {
      "c2jName" : "BatchGetProjectsOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "projects",
        "c2jShape" : "Projects",
        "deprecated" : false,
        "documentation" : "<p>Information about the requested build projects.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the requested build projects.</p>\n@param projects Information about the requested build projects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProjects",
        "getterDocumentation" : "/**<p>Information about the requested build projects.</p>\n@return Information about the requested build projects.*/",
        "getterMethodName" : "getProjects",
        "getterModel" : {
          "returnType" : "java.util.List<Project>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "projects",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "projects",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Project",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Project",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "Project",
              "variableName" : "member",
              "variableType" : "Project",
              "documentation" : "",
              "simpleType" : "Project",
              "variableSetterType" : "Project"
            },
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Project",
              "variableName" : "member",
              "variableType" : "Project",
              "documentation" : "",
              "simpleType" : "Project",
              "variableSetterType" : "Project"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Project",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Project",
          "templateImplType" : "java.util.ArrayList<Project>",
          "templateType" : "java.util.List<Project>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Projects",
        "setterDocumentation" : "/**<p>Information about the requested build projects.</p>\n@param projects Information about the requested build projects.*/",
        "setterMethodName" : "setProjects",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Project>",
          "variableName" : "projects",
          "variableType" : "java.util.List<Project>",
          "documentation" : "",
          "simpleType" : "List<Project>",
          "variableSetterType" : "java.util.Collection<Project>"
        },
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the requested build projects.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setProjects(java.util.Collection)} or {@link #withProjects(java.util.Collection)} if you want to override the existing values.</p>\n@param projects Information about the requested build projects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Project>",
          "variableName" : "projects",
          "variableType" : "java.util.List<Project>",
          "documentation" : "<p>Information about the requested build projects.</p>",
          "simpleType" : "List<Project>",
          "variableSetterType" : "java.util.Collection<Project>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "projectsNotFound",
        "c2jShape" : "ProjectNames",
        "deprecated" : false,
        "documentation" : "<p>The names of build projects for which information could not be found.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The names of build projects for which information could not be found.</p>\n@param projectsNotFound The names of build projects for which information could not be found.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProjectsNotFound",
        "getterDocumentation" : "/**<p>The names of build projects for which information could not be found.</p>\n@return The names of build projects for which information could not be found.*/",
        "getterMethodName" : "getProjectsNotFound",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "projectsNotFound",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "projectsNotFound",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NonEmptyString",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ProjectsNotFound",
        "setterDocumentation" : "/**<p>The names of build projects for which information could not be found.</p>\n@param projectsNotFound The names of build projects for which information could not be found.*/",
        "setterMethodName" : "setProjectsNotFound",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "projectsNotFound",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The names of build projects for which information could not be found.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setProjectsNotFound(java.util.Collection)} or {@link #withProjectsNotFound(java.util.Collection)} if you want to override the existing values.</p>\n@param projectsNotFound The names of build projects for which information could not be found.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "projectsNotFound",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The names of build projects for which information could not be found.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Projects" : {
          "c2jName" : "projects",
          "c2jShape" : "Projects",
          "deprecated" : false,
          "documentation" : "<p>Information about the requested build projects.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the requested build projects.</p>\n@param projects Information about the requested build projects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProjects",
          "getterDocumentation" : "/**<p>Information about the requested build projects.</p>\n@return Information about the requested build projects.*/",
          "getterMethodName" : "getProjects",
          "getterModel" : {
            "returnType" : "java.util.List<Project>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "projects",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "projects",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Project",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Project",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "Project",
                "variableName" : "member",
                "variableType" : "Project",
                "documentation" : "",
                "simpleType" : "Project",
                "variableSetterType" : "Project"
              },
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Project",
                "variableName" : "member",
                "variableType" : "Project",
                "documentation" : "",
                "simpleType" : "Project",
                "variableSetterType" : "Project"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Project",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
[...]
