{
  "authorizers" : { },
  "metadata" : {
    "apiVersion" : "2014-10-06",
    "endpointPrefix" : "codedeploy",
    "jsonVersion" : "1.1",
    "protocol" : "json",
    "resultWrapped" : false,
    "serviceAbbreviation" : "CodeDeploy",
    "serviceFullName" : "AWS CodeDeploy",
    "signatureVersion" : "v4",
    "signingName" : "codedeploy",
    "targetPrefix" : "CodeDeploy_20141006",
    "uid" : "codedeploy-2014-10-06",
    "xmlNamespace" : null
  },
  "operations" : {
    "AddTagsToOnPremisesInstances" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Adds tags to on-premises instances.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TagRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidTagException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TagLimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceLimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceNotRegisteredException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "AddTagsToOnPremisesInstancesInput",
        "xmlNamespace" : null
      },
      "name" : "AddTagsToOnPremisesInstances",
      "output" : null
    },
    "BatchGetApplicationRevisions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more application revisions.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RevisionRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRevisionException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BatchLimitExceededException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "BatchGetApplicationRevisionsInput",
        "xmlNamespace" : null
      },
      "name" : "BatchGetApplicationRevisions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "BatchGetApplicationRevisionsOutput"
      }
    },
    "BatchGetApplications" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more applications.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BatchLimitExceededException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "BatchGetApplicationsInput",
        "xmlNamespace" : null
      },
      "name" : "BatchGetApplications",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "BatchGetApplicationsOutput"
      }
    },
    "BatchGetDeploymentGroups" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more deployment groups.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentGroupNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BatchLimitExceededException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "BatchGetDeploymentGroupsInput",
        "xmlNamespace" : null
      },
      "name" : "BatchGetDeploymentGroups",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "BatchGetDeploymentGroupsOutput"
      }
    },
    "BatchGetDeploymentInstances" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more instance that are part of a deployment group.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentIdRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceIdRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentIdException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidInstanceNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BatchLimitExceededException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "BatchGetDeploymentInstancesInput",
        "xmlNamespace" : null
      },
      "name" : "BatchGetDeploymentInstances",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "BatchGetDeploymentInstancesOutput"
      }
    },
    "BatchGetDeployments" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more deployments.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentIdRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentIdException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BatchLimitExceededException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "BatchGetDeploymentsInput",
        "xmlNamespace" : null
      },
      "name" : "BatchGetDeployments",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "BatchGetDeploymentsOutput"
      }
    },
    "BatchGetOnPremisesInstances" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more on-premises instances.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidInstanceNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BatchLimitExceededException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "BatchGetOnPremisesInstancesInput",
        "xmlNamespace" : null
      },
      "name" : "BatchGetOnPremisesInstances",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "BatchGetOnPremisesInstancesOutput"
      }
    },
    "ContinueDeployment" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Starts the process of rerouting traffic from instances in the original environment to instances in thereplacement environment without waiting for a specified wait time to elapse. (Traffic rerouting, which is achieved by registering instances in the replacement environment with the load balancer, can start as soon as all instances have a status of Ready.) </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentIdRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentAlreadyCompletedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentIdException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentIsNotInReadyStateException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnsupportedActionForDeploymentTypeException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ContinueDeploymentInput",
        "xmlNamespace" : null
      },
      "name" : "ContinueDeployment",
      "output" : null
    },
    "CreateApplication" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates an application.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationAlreadyExistsException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationLimitExceededException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateApplicationInput",
        "xmlNamespace" : null
      },
      "name" : "CreateApplication",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateApplicationOutput"
      }
    },
    "CreateDeployment" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deploys an application revision through the specified deployment group.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentGroupNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RevisionRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RevisionDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRevisionException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentConfigNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentConfigDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DescriptionTooLongException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentLimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidTargetInstancesException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidAutoRollbackConfigException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidLoadBalancerInfoException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDeploymentInput",
        "xmlNamespace" : null
      },
      "name" : "CreateDeployment",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateDeploymentOutput"
      }
    },
    "CreateDeploymentConfig" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a deployment configuration.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentConfigNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentConfigNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentConfigAlreadyExistsException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidMinimumHealthyHostValueException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentConfigLimitExceededException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDeploymentConfigInput",
        "xmlNamespace" : null
      },
      "name" : "CreateDeploymentConfig",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateDeploymentConfigOutput"
      }
    },
    "CreateDeploymentGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a deployment group to which application revisions will be deployed.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentGroupNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupAlreadyExistsException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidEC2TagException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidTagException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidAutoScalingGroupException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentConfigNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentConfigDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RoleRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRoleException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupLimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LifecycleHookLimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidTriggerConfigException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TriggerTargetsLimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidAlarmConfigException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "AlarmsLimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidAutoRollbackConfigException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidLoadBalancerInfoException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentStyleException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidBlueGreenDeploymentConfigurationException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDeploymentGroupInput",
        "xmlNamespace" : null
      },
      "name" : "CreateDeploymentGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateDeploymentGroupOutput"
      }
    },
    "DeleteApplication" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes an application.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteApplicationInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteApplication",
      "output" : null
    },
    "DeleteDeploymentConfig" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a deployment configuration.</p> <note> <p>A deployment configuration cannot be deleted if it is currently in use. Predefined configurations cannot be deleted.</p> </note>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentConfigNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentConfigNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentConfigInUseException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidOperationException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDeploymentConfigInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteDeploymentConfig",
      "output" : null
    },
    "DeleteDeploymentGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a deployment group.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentGroupNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRoleException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDeploymentGroupInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteDeploymentGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteDeploymentGroupOutput"
      }
    },
    "DeregisterOnPremisesInstance" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deregisters an on-premises instance.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidInstanceNameException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeregisterOnPremisesInstanceInput",
        "xmlNamespace" : null
      },
      "name" : "DeregisterOnPremisesInstance",
      "output" : null
    },
    "GetApplication" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about an application.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetApplicationInput",
        "xmlNamespace" : null
      },
      "name" : "GetApplication",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetApplicationOutput"
      }
    },
    "GetApplicationRevision" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about an application revision.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RevisionDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RevisionRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRevisionException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetApplicationRevisionInput",
        "xmlNamespace" : null
      },
      "name" : "GetApplicationRevision",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetApplicationRevisionOutput"
      }
    },
    "GetDeployment" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about a deployment.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentIdRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentIdException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentDoesNotExistException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetDeploymentInput",
        "xmlNamespace" : null
      },
      "name" : "GetDeployment",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetDeploymentOutput"
      }
    },
    "GetDeploymentConfig" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about a deployment configuration.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentConfigNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentConfigNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentConfigDoesNotExistException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetDeploymentConfigInput",
        "xmlNamespace" : null
      },
      "name" : "GetDeploymentConfig",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetDeploymentConfigOutput"
      }
    },
    "GetDeploymentGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about a deployment group.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentGroupNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupDoesNotExistException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetDeploymentGroupInput",
        "xmlNamespace" : null
      },
      "name" : "GetDeploymentGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetDeploymentGroupOutput"
      }
    },
    "GetDeploymentInstance" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about an instance as part of a deployment.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentIdRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceIdRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentIdException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidInstanceNameException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetDeploymentInstanceInput",
        "xmlNamespace" : null
      },
      "name" : "GetDeploymentInstance",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetDeploymentInstanceOutput"
      }
    },
    "GetOnPremisesInstance" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about an on-premises instance.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceNotRegisteredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidInstanceNameException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetOnPremisesInstanceInput",
        "xmlNamespace" : null
      },
      "name" : "GetOnPremisesInstance",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetOnPremisesInstanceOutput"
      }
    },
    "ListApplicationRevisions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists information about revisions for an application.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidSortByException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidSortOrderException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidBucketNameFilterException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidKeyPrefixFilterException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BucketNameFilterRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeployedStateFilterException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidNextTokenException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListApplicationRevisionsInput",
        "xmlNamespace" : null
      },
      "name" : "ListApplicationRevisions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListApplicationRevisionsOutput"
      }
    },
    "ListApplications" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists the applications registered with the applicable IAM user or AWS account.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidNextTokenException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListApplicationsInput",
        "xmlNamespace" : null
      },
      "name" : "ListApplications",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListApplicationsOutput"
      }
    },
    "ListDeploymentConfigs" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists the deployment configurations with the applicable IAM user or AWS account.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidNextTokenException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListDeploymentConfigsInput",
        "xmlNamespace" : null
      },
      "name" : "ListDeploymentConfigs",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListDeploymentConfigsOutput"
      }
    },
    "ListDeploymentGroups" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists the deployment groups for an application registered with the applicable IAM user or AWS account.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidNextTokenException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListDeploymentGroupsInput",
        "xmlNamespace" : null
      },
      "name" : "ListDeploymentGroups",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListDeploymentGroupsOutput"
      }
    },
    "ListDeploymentInstances" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists the instance for a deployment associated with the applicable IAM user or AWS account.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentIdRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentNotStartedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidNextTokenException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentIdException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidInstanceStatusException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidInstanceTypeException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListDeploymentInstancesInput",
        "xmlNamespace" : null
      },
      "name" : "ListDeploymentInstances",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListDeploymentInstancesOutput"
      }
    },
    "ListDeployments" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists the deployments in a deployment group for an application registered with the applicable IAM user or AWS account.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentGroupNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidTimeRangeException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentStatusException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidNextTokenException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListDeploymentsInput",
        "xmlNamespace" : null
      },
      "name" : "ListDeployments",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListDeploymentsOutput"
      }
    },
    "ListOnPremisesInstances" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets a list of names for one or more on-premises instances.</p> <p>Unless otherwise specified, both registered and deregistered on-premises instance names will be listed. To list only registered or deregistered on-premises instance names, use the registration status parameter.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRegistrationStatusException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidTagFilterException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidNextTokenException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListOnPremisesInstancesInput",
        "xmlNamespace" : null
      },
      "name" : "ListOnPremisesInstances",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListOnPremisesInstancesOutput"
      }
    },
    "RegisterApplicationRevision" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Registers with AWS CodeDeploy a revision for the specified application.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DescriptionTooLongException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RevisionRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRevisionException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "RegisterApplicationRevisionInput",
        "xmlNamespace" : null
      },
      "name" : "RegisterApplicationRevision",
      "output" : null
    },
    "RegisterOnPremisesInstance" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Registers an on-premises instance.</p> <note> <p>Only one IAM ARN (an IAM session ARN or IAM user ARN) is supported in the request. You cannot use both.</p> </note>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceNameAlreadyRegisteredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "IamArnRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "IamSessionArnAlreadyRegisteredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "IamUserArnAlreadyRegisteredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "IamUserArnRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidInstanceNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidIamSessionArnException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidIamUserArnException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MultipleIamArnsProvidedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "RegisterOnPremisesInstanceInput",
        "xmlNamespace" : null
      },
      "name" : "RegisterOnPremisesInstance",
      "output" : null
    },
    "RemoveTagsFromOnPremisesInstances" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from one or more on-premises instances.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TagRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidTagException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TagLimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceLimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceNotRegisteredException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "RemoveTagsFromOnPremisesInstancesInput",
        "xmlNamespace" : null
      },
      "name" : "RemoveTagsFromOnPremisesInstances",
      "output" : null
    },
    "SkipWaitTimeForInstanceTermination" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>In a blue/green deployment, overrides any specified wait time and starts terminating instances immediately after the traffic routing is completed.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentIdRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentAlreadyCompletedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentIdException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentNotStartedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnsupportedActionForDeploymentTypeException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "SkipWaitTimeForInstanceTerminationInput",
        "xmlNamespace" : null
      },
      "name" : "SkipWaitTimeForInstanceTermination",
      "output" : null
    },
    "StopDeployment" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Attempts to stop an ongoing deployment.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentIdRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentAlreadyCompletedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentIdException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "StopDeploymentInput",
        "xmlNamespace" : null
      },
      "name" : "StopDeployment",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "StopDeploymentOutput"
      }
    },
    "UpdateApplication" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Changes the name of an application.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationAlreadyExistsException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateApplicationInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateApplication",
      "output" : null
    },
    "UpdateDeploymentGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Changes information about a deployment group.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidApplicationNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ApplicationDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentGroupNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupAlreadyExistsException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupNameRequiredException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentGroupDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidEC2TagException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidTagException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidAutoScalingGroupException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentConfigNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DeploymentConfigDoesNotExistException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRoleException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LifecycleHookLimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidTriggerConfigException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TriggerTargetsLimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidAlarmConfigException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "AlarmsLimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidAutoRollbackConfigException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidLoadBalancerInfoException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDeploymentStyleException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidBlueGreenDeploymentConfigurationException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateDeploymentGroupInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateDeploymentGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateDeploymentGroupOutput"
      }
    }
  },
  "shapes" : {
    "AddTagsToOnPremisesInstancesInput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the input of, and adds tags to, an on-premises instance operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "instanceNames" : {
          "deprecated" : false,
          "documentation" : "<p>The names of the on-premises instances to which to add tags.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "InstanceNameList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "tags" : {
          "deprecated" : false,
          "documentation" : "<p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "TagList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "tags", "instanceNames" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AdditionalDeploymentStatusInfo" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "Alarm" : {
      "deprecated" : false,
      "documentation" : "<p>Information about an alarm.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "name" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the alarm. Maximum length is 255 characters. Each alarm name can be used only once in a list of alarms.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AlarmName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AlarmConfiguration" : {
      "deprecated" : false,
      "documentation" : "<p>Information about alarms associated with the deployment group.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "alarms" : {
          "deprecated" : false,
          "documentation" : "<p>A list of alarms configured for the deployment group. A maximum of 10 alarms can be added to a deployment group.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AlarmList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "enabled" : {
          "deprecated" : false,
          "documentation" : "<p>Indicates whether the alarm configuration is enabled.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ignorePollAlarmFailure" : {
          "deprecated" : false,
          "documentation" : "<p>Indicates whether a deployment should continue if information about the current state of alarms cannot be retrieved from Amazon CloudWatch. The default value is false.</p> <ul> <li> <p>true: The deployment will proceed even if alarm status information can't be retrieved from Amazon CloudWatch.</p> </li> <li> <p>false: The deployment will stop if alarm status information can't be retrieved from Amazon CloudWatch.</p> </li> </ul>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Boolean",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AlarmList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "Alarm",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "AlarmName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "AlarmsLimitExceededException" : {
      "deprecated" : false,
      "documentation" : "<p>The maximum number of alarms for a deployment group (10) was exceeded.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationAlreadyExistsException" : {
      "deprecated" : false,
      "documentation" : "<p>An application with the specified name already exists with the applicable IAM user or AWS account.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationDoesNotExistException" : {
      "deprecated" : false,
      "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationId" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationInfo" : {
      "deprecated" : false,
      "documentation" : "<p>Information about an application.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "applicationId" : {
          "deprecated" : false,
          "documentation" : "<p>The application ID.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ApplicationId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "applicationName" : {
          "deprecated" : false,
          "documentation" : "<p>The application name.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ApplicationName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "createTime" : {
          "deprecated" : false,
          "documentation" : "<p>The time at which the application was created.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Timestamp",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "linkedToGitHub" : {
          "deprecated" : false,
          "documentation" : "<p>True if the user has authenticated with GitHub for the specified application; otherwise, false.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Boolean",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationLimitExceededException" : {
      "deprecated" : false,
      "documentation" : "<p>More applications were attempted to be created than are allowed.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 100,
      "member" : null,
      "members" : { },
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationNameRequiredException" : {
      "deprecated" : false,
      "documentation" : "<p>The minimum number of required application names was not specified.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationRevisionSortBy" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "registerTime", "firstUsedTime", "lastUsedTime" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationsInfoList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "ApplicationInfo",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationsList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "ApplicationName",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "AutoRollbackConfiguration" : {
      "deprecated" : false,
      "documentation" : "<p>Information about a configuration for automatically rolling back to a previous version of an application revision when a deployment doesn't complete successfully.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "enabled" : {
          "deprecated" : false,
          "documentation" : "<p>Indicates whether a defined automatic rollback configuration is currently enabled.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "events" : {
          "deprecated" : false,
          "documentation" : "<p>The event type or types that trigger a rollback.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AutoRollbackEventsList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AutoRollbackEvent" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "DEPLOYMENT_FAILURE", "DEPLOYMENT_STOP_ON_ALARM", "DEPLOYMENT_STOP_ON_REQUEST" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "AutoRollbackEventsList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "AutoRollbackEvent",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "AutoScalingGroup" : {
      "deprecated" : false,
      "documentation" : "<p>Information about an Auto Scaling group.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "hook" : {
          "deprecated" : false,
          "documentation" : "<p>An Auto Scaling lifecycle event hook name.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AutoScalingGroupHook",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "name" : {
          "deprecated" : false,
          "documentation" : "<p>The Auto Scaling group name.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AutoScalingGroupName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AutoScalingGroupHook" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "AutoScalingGroupList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "AutoScalingGroup",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "AutoScalingGroupName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "AutoScalingGroupNameList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "AutoScalingGroupName",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "BatchGetApplicationRevisionsInput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the input of a batch get application revisions operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "applicationName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of an AWS CodeDeploy application about which to get revision information.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ApplicationName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "revisions" : {
          "deprecated" : false,
          "documentation" : "<p>Information to get about the application revisions, including type and location.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RevisionLocationList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "applicationName", "revisions" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BatchGetApplicationRevisionsOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the output of a batch get application revisions operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "applicationName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the application that corresponds to the revisions.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ApplicationName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "errorMessage" : {
          "deprecated" : false,
          "documentation" : "<p>Information about errors that may have occurred during the API call.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "revisions" : {
          "deprecated" : false,
          "documentation" : "<p>Additional information about the revisions, including the type and location.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RevisionInfoList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BatchGetApplicationsInput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the input of a batch get applications operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "applicationNames" : {
          "deprecated" : false,
          "documentation" : "<p>A list of application names separated by spaces.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ApplicationsList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BatchGetApplicationsOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the output of a batch get applications operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "applicationsInfo" : {
          "deprecated" : false,
          "documentation" : "<p>Information about the applications.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ApplicationsInfoList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BatchGetDeploymentGroupsInput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the input of a batch get deployment groups operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "applicationName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ApplicationName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "deploymentGroupNames" : {
          "deprecated" : false,
          "documentation" : "<p>The deployment groups' names.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeploymentGroupsList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "applicationName", "deploymentGroupNames" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BatchGetDeploymentGroupsOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the output of a batch get deployment groups operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "deploymentGroupsInfo" : {
          "deprecated" : false,
          "documentation" : "<p>Information about the deployment groups.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeploymentGroupInfoList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "errorMessage" : {
          "deprecated" : false,
          "documentation" : "<p>Information about errors that may have occurred during the API call.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BatchGetDeploymentInstancesInput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the input of a batch get deployment instances operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "deploymentId" : {
          "deprecated" : false,
          "documentation" : "<p>The unique ID of a deployment.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeploymentId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "instanceIds" : {
          "deprecated" : false,
          "documentation" : "<p>The unique IDs of instances in the deployment group.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "InstancesList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "deploymentId", "instanceIds" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BatchGetDeploymentInstancesOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the output of a batch get deployment instance operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "errorMessage" : {
          "deprecated" : false,
          "documentation" : "<p>Information about errors that may have occurred during the API call.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "instancesSummary" : {
          "deprecated" : false,
          "documentation" : "<p>Information about the instance.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "InstanceSummaryList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
[...]
