{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Difference" : [ "changeType" ],
      "ListRepositoriesInput" : [ "sortBy", "order" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-04-13",
    "asyncClient" : "AWSCodeCommitAsyncClient",
    "asyncClientBuilderClassName" : "AWSCodeCommitAsyncClientBuilder",
    "asyncInterface" : "AWSCodeCommitAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCodeCommitModuleInjector",
    "defaultEndpoint" : "https://codecommit.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codecommit.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS CodeCommit</fullname> <p>This is the <i>AWS CodeCommit API Reference</i>. This reference provides descriptions of the operations and data types for AWS CodeCommit API along with usage examples.</p> <p>You can use the AWS CodeCommit API to work with the following objects:</p> <p>Repositories, by calling the following:</p> <ul> <li> <p> <a>BatchGetRepositories</a>, which returns information about one or more repositories associated with your AWS account.</p> </li> <li> <p> <a>CreateRepository</a>, which creates an AWS CodeCommit repository.</p> </li> <li> <p> <a>DeleteRepository</a>, which deletes an AWS CodeCommit repository.</p> </li> <li> <p> <a>GetRepository</a>, which returns information about a specified repository.</p> </li> <li> <p> <a>ListRepositories</a>, which lists all AWS CodeCommit repositories associated with your AWS account.</p> </li> <li> <p> <a>UpdateRepositoryDescription</a>, which sets or updates the description of the repository.</p> </li> <li> <p> <a>UpdateRepositoryName</a>, which changes the name of the repository. If you change the name of a repository, no other users of that repository will be able to access it until you send them the new HTTPS or SSH URL to use.</p> </li> </ul> <p>Branches, by calling the following:</p> <ul> <li> <p> <a>CreateBranch</a>, which creates a new branch in a specified repository.</p> </li> <li> <p> <a>DeleteBranch</a>, which deletes the specified branch in a repository unless it is the default branch.</p> </li> <li> <p> <a>GetBranch</a>, which returns information about a specified branch.</p> </li> <li> <p> <a>ListBranches</a>, which lists all branches for a specified repository.</p> </li> <li> <p> <a>UpdateDefaultBranch</a>, which changes the default branch for a repository.</p> </li> </ul> <p>Information about committed code in a repository, by calling the following:</p> <ul> <li> <p> <a>GetBlob</a>, which returns the base-64 encoded content of an individual Git blob object within a repository.</p> </li> <li> <p> <a>GetCommit</a>, which returns information about a commit, including commit messages and author and committer information.</p> </li> <li> <p> <a>GetDifferences</a>, which returns information about the differences in a valid commit specifier (such as a branch, tag, HEAD, commit ID or other fully qualified reference).</p> </li> </ul> <p>Pull requests, by calling the following:</p> <ul> <li> <p> <a>CreatePullRequest</a>, which creates a pull request in a specified repository.</p> </li> <li> <p> <a>DescribePullRequestEvents</a>, which returns information about one or more pull request events.</p> </li> <li> <p> <a>GetCommentsForPullRequest</a>, which returns information about comments on a specified pull request.</p> </li> <li> <p> <a>GetMergeConflicts</a>, which returns information about merge conflicts between the source and destination branch in a pull request.</p> </li> <li> <p> <a>GetPullRequest</a>, which returns information about a specified pull request.</p> </li> <li> <p> <a>ListPullRequests</a>, which lists all pull requests for a repository.</p> </li> <li> <p> <a>MergePullRequestByFastForward</a>, which merges the source destination branch of a pull request into the specified destination branch for that pull request using the fast-forward merge option.</p> </li> <li> <p> <a>PostCommentForPullRequest</a>, which posts a comment to a pull request at the specified line, file, or request.</p> </li> <li> <p> <a>UpdatePullRequestDescription</a>, which updates the description of a pull request.</p> </li> <li> <p> <a>UpdatePullRequestStatus</a>, which updates the status of a pull request.</p> </li> <li> <p> <a>UpdatePullRequestTitle</a>, which updates the title of a pull request.</p> </li> </ul> <p>Information about comments in a repository, by calling the following:</p> <ul> <li> <p> <a>DeleteCommentContent</a>, which deletes the content of a comment on a commit in a repository.</p> </li> <li> <p> <a>GetComment</a>, which returns information about a comment on a commit.</p> </li> <li> <p> <a>GetCommentsForComparedCommit</a>, which returns information about comments on the comparison between two commit specifiers in a repository.</p> </li> <li> <p> <a>PostCommentForComparedCommit</a>, which creates a comment on the comparison between two commit specifiers in a repository.</p> </li> <li> <p> <a>PostCommentReply</a>, which creates a reply to a comment.</p> </li> <li> <p> <a>UpdateComment</a>, which updates the content of a comment on a commit in a repository.</p> </li> </ul> <p>Triggers, by calling the following:</p> <ul> <li> <p> <a>GetRepositoryTriggers</a>, which returns information about triggers configured for a repository.</p> </li> <li> <p> <a>PutRepositoryTriggers</a>, which replaces all triggers for a repository and can be used to create or delete triggers.</p> </li> <li> <p> <a>TestRepositoryTriggers</a>, which tests the functionality of a repository trigger by sending data to the trigger target.</p> </li> </ul> <p>For information about how to use AWS CodeCommit, see the <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/welcome.html\">AWS CodeCommit User Guide</a>.</p>",
    "endpointPrefix" : "codecommit",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.codecommit",
    "packagePath" : "com/amazonaws/services/codecommit",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "CodeCommit",
    "serviceFullName" : "AWS CodeCommit",
    "serviceName" : "CodeCommit",
    "signingName" : "codecommit",
    "smokeTestsPackageName" : "com.amazonaws.services.codecommit.smoketests",
    "syncClient" : "AWSCodeCommitClient",
    "syncClientBuilderClassName" : "AWSCodeCommitClientBuilder",
    "syncInterface" : "AWSCodeCommit",
    "uid" : "codecommit-2015-04-13",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetRepositories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetRepositoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetRepositoriesRequest, BatchGetRepositoriesResult>",
      "asyncReturnType" : "BatchGetRepositoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about one or more repositories.</p> <note> <p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNamesRequiredException",
        "documentation" : "<p>A repository names object is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MaximumRepositoryNamesExceededException",
        "documentation" : "<p>The maximum number of allowed repository names was exceeded. Currently, this number is 25.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchGetRepositoriesRequest",
        "variableName" : "batchGetRepositoriesRequest",
        "variableType" : "BatchGetRepositoriesRequest",
        "documentation" : "<p>Represents the input of a batch get repositories operation.</p>",
        "simpleType" : "BatchGetRepositoriesRequest",
        "variableSetterType" : "BatchGetRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetRepositories",
      "operationName" : "BatchGetRepositories",
      "returnType" : {
        "returnType" : "BatchGetRepositoriesResult",
        "documentation" : "<p>Represents the output of a batch get repositories operation.</p>"
      },
      "syncReturnType" : "BatchGetRepositoriesResult"
    },
    "CreateBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBranchRequest, CreateBranchResult>",
      "asyncReturnType" : "CreateBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new branch in a repository and points the branch to a commit.</p> <note> <p>Calling the create branch operation does not set a repository's default branch. To do this, call the update default branch operation.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BranchNameRequiredException",
        "documentation" : "<p>A branch name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BranchNameExistsException",
        "documentation" : "<p>The specified branch name already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidBranchNameException",
        "documentation" : "<p>The specified reference name is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitIdRequiredException",
        "documentation" : "<p>A commit ID was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitDoesNotExistException",
        "documentation" : "<p>The specified commit does not exist or no commit was specified, and the specified repository has no default branch.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateBranchRequest",
        "variableName" : "createBranchRequest",
        "variableType" : "CreateBranchRequest",
        "documentation" : "<p>Represents the input of a create branch operation.</p>",
        "simpleType" : "CreateBranchRequest",
        "variableSetterType" : "CreateBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBranch",
      "operationName" : "CreateBranch",
      "returnType" : {
        "returnType" : "CreateBranchResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBranchResult"
    },
    "CreatePullRequest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePullRequestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePullRequestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePullRequestRequest, CreatePullRequestResult>",
      "asyncReturnType" : "CreatePullRequestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a pull request in the specified repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientRequestTokenRequiredException",
        "documentation" : "<p>A client request token is required. A client request token is an unique, client-generated idempotency token that when provided in a request, ensures the request cannot be repeated with a changed parameter. If a request is received with the same parameters and a token is included, the request will return information about the initial request that used that token.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClientRequestTokenException",
        "documentation" : "<p>The client request token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IdempotencyParameterMismatchException",
        "documentation" : "<p>The client request token is not valid. Either the token is not in a valid format, or the token has been used in a previous request and cannot be re-used.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReferenceNameRequiredException",
        "documentation" : "<p>A reference name is required, but none was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidReferenceNameException",
        "documentation" : "<p>The specified reference name format is not valid. Reference names must conform to the Git references format, for example refs/heads/master. For more information, see <a href=\"https://git-scm.com/book/en/v2/Git-Internals-Git-References\">Git Internals - Git References</a> or consult your Git documentation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReferenceDoesNotExistException",
        "documentation" : "<p>The specified reference does not exist. You must provide a full commit ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReferenceTypeNotSupportedException",
        "documentation" : "<p>The specified reference is not a supported type. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TitleRequiredException",
        "documentation" : "<p>A pull request title is required. It cannot be empty or null.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTitleException",
        "documentation" : "<p>The title of the pull request is not valid. Pull request titles cannot exceed 100 characters in length.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidDescriptionException",
        "documentation" : "<p>The pull request description is not valid. Descriptions are limited to 1,000 characters in length.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TargetsRequiredException",
        "documentation" : "<p>An array of target objects is required. It cannot be empty or null.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTargetsException",
        "documentation" : "<p>The targets for the pull request is not valid or not in a valid format. Targets are a list of target objects. Each target object must contain the full values for the repository name, source branch, and destination branch for a pull request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TargetRequiredException",
        "documentation" : "<p>A pull request target is required. It cannot be empty or null. A pull request target must contain the full values for the repository name, source branch, and destination branch for the pull request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTargetException",
        "documentation" : "<p>The target for the pull request is not valid. A target must contain the full values for the repository name, source branch, and destination branch for the pull request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MultipleRepositoriesInPullRequestException",
        "documentation" : "<p>You cannot include more than one repository in a pull request. Make sure you have specified only one repository name in your request, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MaximumOpenPullRequestsExceededException",
        "documentation" : "<p>You cannot create the pull request because the repository has too many open pull requests. The maximum number of open pull requests for a repository is 1,000. Close one or more open pull requests, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SourceAndDestinationAreSameException",
        "documentation" : "<p>The source branch and the destination branch for the pull request are the same. You must specify different branches for the source and destination.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePullRequestRequest",
        "variableName" : "createPullRequestRequest",
        "variableType" : "CreatePullRequestRequest",
        "documentation" : "",
        "simpleType" : "CreatePullRequestRequest",
        "variableSetterType" : "CreatePullRequestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPullRequest",
      "operationName" : "CreatePullRequest",
      "returnType" : {
        "returnType" : "CreatePullRequestResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePullRequestResult"
    },
    "CreateRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRepositoryRequest, CreateRepositoryResult>",
      "asyncReturnType" : "CreateRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new, empty repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameExistsException",
        "documentation" : "<p>The specified repository name already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryDescriptionException",
        "documentation" : "<p>The specified repository description is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryLimitExceededException",
        "documentation" : "<p>A repository resource limit was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateRepositoryRequest",
        "variableName" : "createRepositoryRequest",
        "variableType" : "CreateRepositoryRequest",
        "documentation" : "<p>Represents the input of a create repository operation.</p>",
        "simpleType" : "CreateRepositoryRequest",
        "variableSetterType" : "CreateRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRepository",
      "operationName" : "CreateRepository",
      "returnType" : {
        "returnType" : "CreateRepositoryResult",
        "documentation" : "<p>Represents the output of a create repository operation.</p>"
      },
      "syncReturnType" : "CreateRepositoryResult"
    },
    "DeleteBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBranchRequest, DeleteBranchResult>",
      "asyncReturnType" : "DeleteBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a branch from a repository, unless that branch is the default branch for the repository. </p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BranchNameRequiredException",
        "documentation" : "<p>A branch name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidBranchNameException",
        "documentation" : "<p>The specified reference name is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DefaultBranchCannotBeDeletedException",
        "documentation" : "<p>The specified branch is the default branch for the repository, and cannot be deleted. To delete this branch, you must first set another branch as the default branch.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteBranchRequest",
        "variableName" : "deleteBranchRequest",
        "variableType" : "DeleteBranchRequest",
        "documentation" : "<p>Represents the input of a delete branch operation.</p>",
        "simpleType" : "DeleteBranchRequest",
        "variableSetterType" : "DeleteBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBranch",
      "operationName" : "DeleteBranch",
      "returnType" : {
        "returnType" : "DeleteBranchResult",
        "documentation" : "<p>Represents the output of a delete branch operation.</p>"
      },
      "syncReturnType" : "DeleteBranchResult"
    },
    "DeleteCommentContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCommentContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCommentContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCommentContentRequest, DeleteCommentContentResult>",
      "asyncReturnType" : "DeleteCommentContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the content of a comment made on a change, file, or commit in a repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "CommentDoesNotExistException",
        "documentation" : "<p>No comment exists with the provided ID. Verify that you have provided the correct ID, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommentIdRequiredException",
        "documentation" : "<p>The comment ID is missing or null. A comment ID is required.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommentIdException",
        "documentation" : "<p>The comment ID is not in a valid format. Make sure that you have provided the full comment ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommentDeletedException",
        "documentation" : "<p>This comment has already been deleted. You cannot edit or delete a deleted comment.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteCommentContentRequest",
        "variableName" : "deleteCommentContentRequest",
        "variableType" : "DeleteCommentContentRequest",
        "documentation" : "",
        "simpleType" : "DeleteCommentContentRequest",
        "variableSetterType" : "DeleteCommentContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCommentContent",
      "operationName" : "DeleteCommentContent",
      "returnType" : {
        "returnType" : "DeleteCommentContentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCommentContentResult"
    },
    "DeleteRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryRequest, DeleteRepositoryResult>",
      "asyncReturnType" : "DeleteRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a repository. If a specified repository was already deleted, a null repository ID will be returned.</p> <important> <p>Deleting a repository also deletes all associated objects and metadata. After a repository is deleted, all future push calls to the deleted repository will fail.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRepositoryRequest",
        "variableName" : "deleteRepositoryRequest",
        "variableType" : "DeleteRepositoryRequest",
        "documentation" : "<p>Represents the input of a delete repository operation.</p>",
        "simpleType" : "DeleteRepositoryRequest",
        "variableSetterType" : "DeleteRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRepository",
      "operationName" : "DeleteRepository",
      "returnType" : {
        "returnType" : "DeleteRepositoryResult",
        "documentation" : "<p>Represents the output of a delete repository operation.</p>"
      },
      "syncReturnType" : "DeleteRepositoryResult"
    },
    "DescribePullRequestEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePullRequestEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePullRequestEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePullRequestEventsRequest, DescribePullRequestEventsResult>",
      "asyncReturnType" : "DescribePullRequestEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about one or more pull request events.</p>",
      "exceptions" : [ {
        "exceptionName" : "PullRequestDoesNotExistException",
        "documentation" : "<p>The pull request ID could not be found. Make sure that you have specified the correct repository name and pull request ID, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPullRequestIdException",
        "documentation" : "<p>The pull request ID is not valid. Make sure that you have provided the full ID and that the pull request is in the specified repository, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PullRequestIdRequiredException",
        "documentation" : "<p>A pull request ID is required, but none was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPullRequestEventTypeException",
        "documentation" : "<p>The pull request event type is not valid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidActorArnException",
        "documentation" : "<p>The Amazon Resource Name (ARN) is not valid. Make sure that you have provided the full ARN for the user who initiated the change for the pull request, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ActorDoesNotExistException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) does not exist in the AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidMaxResultsException",
        "documentation" : "<p>The specified number of maximum results is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribePullRequestEventsRequest",
        "variableName" : "describePullRequestEventsRequest",
        "variableType" : "DescribePullRequestEventsRequest",
        "documentation" : "",
        "simpleType" : "DescribePullRequestEventsRequest",
        "variableSetterType" : "DescribePullRequestEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePullRequestEvents",
      "operationName" : "DescribePullRequestEvents",
      "returnType" : {
        "returnType" : "DescribePullRequestEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePullRequestEventsResult"
    },
    "GetBlob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBlobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBlobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBlobRequest, GetBlobResult>",
      "asyncReturnType" : "GetBlobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the base-64 encoded content of an individual blob within a repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BlobIdRequiredException",
        "documentation" : "<p>A blob ID is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidBlobIdException",
        "documentation" : "<p>The specified blob is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BlobIdDoesNotExistException",
        "documentation" : "<p>The specified blob does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FileTooLargeException",
        "documentation" : "<p>The specified file exceeds the file size limit for AWS CodeCommit. For more information about limits in AWS CodeCommit, see <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/limits.html\">AWS CodeCommit User Guide</a>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetBlobRequest",
        "variableName" : "getBlobRequest",
        "variableType" : "GetBlobRequest",
        "documentation" : "<p>Represents the input of a get blob operation.</p>",
        "simpleType" : "GetBlobRequest",
        "variableSetterType" : "GetBlobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBlob",
      "operationName" : "GetBlob",
      "returnType" : {
        "returnType" : "GetBlobResult",
        "documentation" : "<p>Represents the output of a get blob operation.</p>"
      },
      "syncReturnType" : "GetBlobResult"
    },
    "GetBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBranchRequest, GetBranchResult>",
      "asyncReturnType" : "GetBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a repository branch, including its name and the last commit ID.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BranchNameRequiredException",
        "documentation" : "<p>A branch name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidBranchNameException",
        "documentation" : "<p>The specified reference name is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BranchDoesNotExistException",
        "documentation" : "<p>The specified branch does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetBranchRequest",
        "variableName" : "getBranchRequest",
        "variableType" : "GetBranchRequest",
        "documentation" : "<p>Represents the input of a get branch operation.</p>",
        "simpleType" : "GetBranchRequest",
        "variableSetterType" : "GetBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBranch",
      "operationName" : "GetBranch",
      "returnType" : {
        "returnType" : "GetBranchResult",
        "documentation" : "<p>Represents the output of a get branch operation.</p>"
      },
      "syncReturnType" : "GetBranchResult"
    },
    "GetComment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCommentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCommentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCommentRequest, GetCommentResult>",
      "asyncReturnType" : "GetCommentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the content of a comment made on a change, file, or commit in a repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "CommentDoesNotExistException",
        "documentation" : "<p>No comment exists with the provided ID. Verify that you have provided the correct ID, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommentIdRequiredException",
        "documentation" : "<p>The comment ID is missing or null. A comment ID is required.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommentIdException",
        "documentation" : "<p>The comment ID is not in a valid format. Make sure that you have provided the full comment ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommentDeletedException",
        "documentation" : "<p>This comment has already been deleted. You cannot edit or delete a deleted comment.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCommentRequest",
        "variableName" : "getCommentRequest",
        "variableType" : "GetCommentRequest",
        "documentation" : "",
        "simpleType" : "GetCommentRequest",
        "variableSetterType" : "GetCommentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComment",
      "operationName" : "GetComment",
      "returnType" : {
        "returnType" : "GetCommentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCommentResult"
    },
    "GetCommentsForComparedCommit" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCommentsForComparedCommitResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCommentsForComparedCommitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCommentsForComparedCommitRequest, GetCommentsForComparedCommitResult>",
      "asyncReturnType" : "GetCommentsForComparedCommitResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about comments made on the comparison between two commits.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitIdRequiredException",
        "documentation" : "<p>A commit ID was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitDoesNotExistException",
        "documentation" : "<p>The specified commit does not exist or no commit was specified, and the specified repository has no default branch.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidMaxResultsException",
        "documentation" : "<p>The specified number of maximum results is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCommentsForComparedCommitRequest",
        "variableName" : "getCommentsForComparedCommitRequest",
        "variableType" : "GetCommentsForComparedCommitRequest",
        "documentation" : "",
        "simpleType" : "GetCommentsForComparedCommitRequest",
        "variableSetterType" : "GetCommentsForComparedCommitRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCommentsForComparedCommit",
      "operationName" : "GetCommentsForComparedCommit",
      "returnType" : {
        "returnType" : "GetCommentsForComparedCommitResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCommentsForComparedCommitResult"
    },
    "GetCommentsForPullRequest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCommentsForPullRequestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCommentsForPullRequestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCommentsForPullRequestRequest, GetCommentsForPullRequestResult>",
      "asyncReturnType" : "GetCommentsForPullRequestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns comments made on a pull request.</p>",
      "exceptions" : [ {
        "exceptionName" : "PullRequestIdRequiredException",
        "documentation" : "<p>A pull request ID is required, but none was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PullRequestDoesNotExistException",
        "documentation" : "<p>The pull request ID could not be found. Make sure that you have specified the correct repository name and pull request ID, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPullRequestIdException",
        "documentation" : "<p>The pull request ID is not valid. Make sure that you have provided the full ID and that the pull request is in the specified repository, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitIdRequiredException",
        "documentation" : "<p>A commit ID was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitDoesNotExistException",
        "documentation" : "<p>The specified commit does not exist or no commit was specified, and the specified repository has no default branch.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidMaxResultsException",
        "documentation" : "<p>The specified number of maximum results is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotAssociatedWithPullRequestException",
        "documentation" : "<p>The repository does not contain any pull requests with that pull request ID. Check to make sure you have provided the correct repository name for the pull request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCommentsForPullRequestRequest",
        "variableName" : "getCommentsForPullRequestRequest",
        "variableType" : "GetCommentsForPullRequestRequest",
        "documentation" : "",
        "simpleType" : "GetCommentsForPullRequestRequest",
        "variableSetterType" : "GetCommentsForPullRequestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCommentsForPullRequest",
      "operationName" : "GetCommentsForPullRequest",
      "returnType" : {
        "returnType" : "GetCommentsForPullRequestResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCommentsForPullRequestResult"
    },
    "GetCommit" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCommitResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCommitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCommitRequest, GetCommitResult>",
      "asyncReturnType" : "GetCommitResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a commit, including commit message and committer information.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitIdRequiredException",
        "documentation" : "<p>A commit ID was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitIdDoesNotExistException",
        "documentation" : "<p>The specified commit ID does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCommitRequest",
        "variableName" : "getCommitRequest",
        "variableType" : "GetCommitRequest",
        "documentation" : "<p>Represents the input of a get commit operation.</p>",
        "simpleType" : "GetCommitRequest",
        "variableSetterType" : "GetCommitRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCommit",
      "operationName" : "GetCommit",
      "returnType" : {
        "returnType" : "GetCommitResult",
        "documentation" : "<p>Represents the output of a get commit operation.</p>"
      },
      "syncReturnType" : "GetCommitResult"
    },
    "GetDifferences" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDifferencesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDifferencesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDifferencesRequest, GetDifferencesResult>",
      "asyncReturnType" : "GetDifferencesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the differences in a valid commit specifier (such as a branch, tag, HEAD, commit ID or other fully qualified reference). Results can be limited to a specified path.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidMaxResultsException",
        "documentation" : "<p>The specified number of maximum results is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitRequiredException",
        "documentation" : "<p>A commit was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitException",
        "documentation" : "<p>The specified commit is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitDoesNotExistException",
        "documentation" : "<p>The specified commit does not exist or no commit was specified, and the specified repository has no default branch.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPathException",
        "documentation" : "<p>The specified path is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PathDoesNotExistException",
        "documentation" : "<p>The specified path does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDifferencesRequest",
        "variableName" : "getDifferencesRequest",
        "variableType" : "GetDifferencesRequest",
        "documentation" : "",
        "simpleType" : "GetDifferencesRequest",
        "variableSetterType" : "GetDifferencesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDifferences",
      "operationName" : "GetDifferences",
      "returnType" : {
        "returnType" : "GetDifferencesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDifferencesResult"
    },
    "GetMergeConflicts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMergeConflictsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMergeConflictsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMergeConflictsRequest, GetMergeConflictsResult>",
      "asyncReturnType" : "GetMergeConflictsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about merge conflicts between the before and after commit IDs for a pull request in a repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MergeOptionRequiredException",
        "documentation" : "<p>A merge option or stategy is required, and none was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidMergeOptionException",
        "documentation" : "<p>The specified merge option is not valid. The only valid value is FAST_FORWARD_MERGE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidDestinationCommitSpecifierException",
        "documentation" : "<p>The destination commit specifier is not valid. You must provide a valid branch name, tag, or full commit ID. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSourceCommitSpecifierException",
        "documentation" : "<p>The source commit specifier is not valid. You must provide a valid branch name, tag, or full commit ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitRequiredException",
        "documentation" : "<p>A commit was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitDoesNotExistException",
        "documentation" : "<p>The specified commit does not exist or no commit was specified, and the specified repository has no default branch.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitException",
        "documentation" : "<p>The specified commit is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TipsDivergenceExceededException",
        "documentation" : "<p>The divergence between the tips of the provided commit specifiers is too great to determine whether there might be any merge conflicts. Locally compare the specifiers using <code>git diff</code> or a diff tool.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetMergeConflictsRequest",
        "variableName" : "getMergeConflictsRequest",
        "variableType" : "GetMergeConflictsRequest",
        "documentation" : "",
        "simpleType" : "GetMergeConflictsRequest",
        "variableSetterType" : "GetMergeConflictsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMergeConflicts",
      "operationName" : "GetMergeConflicts",
      "returnType" : {
        "returnType" : "GetMergeConflictsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMergeConflictsResult"
    },
    "GetPullRequest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPullRequestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPullRequestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPullRequestRequest, GetPullRequestResult>",
      "asyncReturnType" : "GetPullRequestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a pull request in a specified repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "PullRequestDoesNotExistException",
        "documentation" : "<p>The pull request ID could not be found. Make sure that you have specified the correct repository name and pull request ID, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPullRequestIdException",
        "documentation" : "<p>The pull request ID is not valid. Make sure that you have provided the full ID and that the pull request is in the specified repository, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PullRequestIdRequiredException",
        "documentation" : "<p>A pull request ID is required, but none was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetPullRequestRequest",
        "variableName" : "getPullRequestRequest",
        "variableType" : "GetPullRequestRequest",
        "documentation" : "",
        "simpleType" : "GetPullRequestRequest",
        "variableSetterType" : "GetPullRequestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPullRequest",
      "operationName" : "GetPullRequest",
      "returnType" : {
        "returnType" : "GetPullRequestResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPullRequestResult"
    },
    "GetRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryRequest, GetRepositoryResult>",
      "asyncReturnType" : "GetRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a repository.</p> <note> <p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetRepositoryRequest",
        "variableName" : "getRepositoryRequest",
        "variableType" : "GetRepositoryRequest",
        "documentation" : "<p>Represents the input of a get repository operation.</p>",
        "simpleType" : "GetRepositoryRequest",
        "variableSetterType" : "GetRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRepository",
      "operationName" : "GetRepository",
      "returnType" : {
        "returnType" : "GetRepositoryResult",
        "documentation" : "<p>Represents the output of a get repository operation.</p>"
      },
      "syncReturnType" : "GetRepositoryResult"
    },
    "GetRepositoryTriggers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryTriggersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryTriggersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryTriggersRequest, GetRepositoryTriggersResult>",
      "asyncReturnType" : "GetRepositoryTriggersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about triggers configured for a repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetRepositoryTriggersRequest",
        "variableName" : "getRepositoryTriggersRequest",
        "variableType" : "GetRepositoryTriggersRequest",
        "documentation" : "<p>Represents the input of a get repository triggers operation.</p>",
        "simpleType" : "GetRepositoryTriggersRequest",
        "variableSetterType" : "GetRepositoryTriggersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRepositoryTriggers",
      "operationName" : "GetRepositoryTriggers",
      "returnType" : {
        "returnType" : "GetRepositoryTriggersResult",
        "documentation" : "<p>Represents the output of a get repository triggers operation.</p>"
      },
      "syncReturnType" : "GetRepositoryTriggersResult"
    },
    "ListBranches" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBranchesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBranchesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBranchesRequest, ListBranchesResult>",
      "asyncReturnType" : "ListBranchesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more branches in a repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListBranchesRequest",
        "variableName" : "listBranchesRequest",
        "variableType" : "ListBranchesRequest",
        "documentation" : "<p>Represents the input of a list branches operation.</p>",
        "simpleType" : "ListBranchesRequest",
        "variableSetterType" : "ListBranchesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBranches",
      "operationName" : "ListBranches",
      "returnType" : {
        "returnType" : "ListBranchesResult",
        "documentation" : "<p>Represents the output of a list branches operation.</p>"
      },
      "syncReturnType" : "ListBranchesResult"
    },
    "ListPullRequests" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPullRequestsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPullRequestsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPullRequestsRequest, ListPullRequestsResult>",
      "asyncReturnType" : "ListPullRequestsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of pull requests for a specified repository. The return list can be refined by pull request status or pull request author ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidPullRequestStatusException",
        "documentation" : "<p>The pull request status is not valid. The only valid values are <code>OPEN</code> and <code>CLOSED</code>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAuthorArnException",
        "documentation" : "<p>The Amazon Resource Name (ARN) is not valid. Make sure that you have provided the full ARN for the author of the pull request, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorDoesNotExistException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) does not exist in the AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidMaxResultsException",
        "documentation" : "<p>The specified number of maximum results is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListPullRequestsRequest",
        "variableName" : "listPullRequestsRequest",
        "variableType" : "ListPullRequestsRequest",
        "documentation" : "",
        "simpleType" : "ListPullRequestsRequest",
        "variableSetterType" : "ListPullRequestsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPullRequests",
      "operationName" : "ListPullRequests",
      "returnType" : {
        "returnType" : "ListPullRequestsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPullRequestsResult"
    },
    "ListRepositories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRepositoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRepositoriesRequest, ListRepositoriesResult>",
      "asyncReturnType" : "ListRepositoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more repositories.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidSortByException",
        "documentation" : "<p>The specified sort by value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOrderException",
        "documentation" : "<p>The specified sort order is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRepositoriesRequest",
        "variableName" : "listRepositoriesRequest",
        "variableType" : "ListRepositoriesRequest",
        "documentation" : "<p>Represents the input of a list repositories operation.</p>",
        "simpleType" : "ListRepositoriesRequest",
        "variableSetterType" : "ListRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRepositories",
      "operationName" : "ListRepositories",
      "returnType" : {
        "returnType" : "ListRepositoriesResult",
        "documentation" : "<p>Represents the output of a list repositories operation.</p>"
      },
      "syncReturnType" : "ListRepositoriesResult"
    },
    "MergePullRequestByFastForward" : {
      "asyncCallableType" : "java.util.concurrent.Callable<MergePullRequestByFastForwardResult>",
      "asyncFutureType" : "java.util.concurrent.Future<MergePullRequestByFastForwardResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<MergePullRequestByFastForwardRequest, MergePullRequestByFastForwardResult>",
      "asyncReturnType" : "MergePullRequestByFastForwardResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Closes a pull request and attempts to merge the source commit of a pull request into the specified destination branch for that pull request at the specified commit using the fast-forward merge option.</p>",
      "exceptions" : [ {
        "exceptionName" : "ManualMergeRequiredException",
        "documentation" : "<p>The pull request cannot be merged automatically into the destination branch. You must manually merge the branches and resolve any conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PullRequestAlreadyClosedException",
        "documentation" : "<p>The pull request status cannot be updated because it is already closed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PullRequestDoesNotExistException",
        "documentation" : "<p>The pull request ID could not be found. Make sure that you have specified the correct repository name and pull request ID, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPullRequestIdException",
        "documentation" : "<p>The pull request ID is not valid. Make sure that you have provided the full ID and that the pull request is in the specified repository, and then try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PullRequestIdRequiredException",
        "documentation" : "<p>A pull request ID is required, but none was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TipOfSourceReferenceIsDifferentException",
        "documentation" : "<p>The tip of the source branch in the destination repository does not match the tip of the source branch specified in your request. The pull request might have been updated. Make sure that you have the latest changes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReferenceDoesNotExistException",
        "documentation" : "<p>The specified reference does not exist. You must provide a full commit ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "MergePullRequestByFastForwardRequest",
        "variableName" : "mergePullRequestByFastForwardRequest",
        "variableType" : "MergePullRequestByFastForwardRequest",
        "documentation" : "",
        "simpleType" : "MergePullRequestByFastForwardRequest",
        "variableSetterType" : "MergePullRequestByFastForwardRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "mergePullRequestByFastForward",
      "operationName" : "MergePullRequestByFastForward",
      "returnType" : {
        "returnType" : "MergePullRequestByFastForwardResult",
        "documentation" : null
      },
      "syncReturnType" : "MergePullRequestByFastForwardResult"
    },
    "PostCommentForComparedCommit" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PostCommentForComparedCommitResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PostCommentForComparedCommitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PostCommentForComparedCommitRequest, PostCommentForComparedCommitResult>",
      "asyncReturnType" : "PostCommentForComparedCommitResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Posts a comment on the comparison between two commits.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientRequestTokenRequiredException",
        "documentation" : "<p>A client request token is required. A client request token is an unique, client-generated idempotency token that when provided in a request, ensures the request cannot be repeated with a changed parameter. If a request is received with the same parameters and a token is included, the request will return information about the initial request that used that token.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClientRequestTokenException",
        "documentation" : "<p>The client request token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IdempotencyParameterMismatchException",
        "documentation" : "<p>The client request token is not valid. Either the token is not in a valid format, or the token has been used in a previous request and cannot be re-used.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommentContentRequiredException",
        "documentation" : "<p>The comment is empty. You must provide some content for a comment. The content cannot be null.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommentContentSizeLimitExceededException",
        "documentation" : "<p>The comment is too large. Comments are limited to 1,000 characters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFileLocationException",
        "documentation" : "<p>The location of the file is not valid. Make sure that you include the extension of the file as well as the file name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRelativeFileVersionEnumException",
        "documentation" : "<p>Either the enum is not in a valid format, or the specified file version enum is not valid in respect to the current file version.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PathRequiredException",
        "documentation" : "<p>The filePath for a location cannot be empty or null.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilePositionException",
        "documentation" : "<p>The position is not valid. Make sure that the line number exists in the version of the file you want to comment on.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitIdRequiredException",
        "documentation" : "<p>A commit ID was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BeforeCommitIdAndAfterCommitIdAreSameException",
        "documentation" : "<p>The before commit ID and the after commit ID are the same, which is not valid. The before commit ID and the after commit ID must be different commit IDs.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitDoesNotExistException",
[...]
