{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-12-01",
    "asyncClient" : "AWSCodeStarconnectionsAsyncClient",
    "asyncClientBuilderClassName" : "AWSCodeStarconnectionsAsyncClientBuilder",
    "asyncInterface" : "AWSCodeStarconnectionsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCodeStarconnectionsModuleInjector",
    "defaultEndpoint" : "codestar-connections.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codestar-connections.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS CodeStar Connections</fullname> <p>This AWS CodeStar Connections API Reference provides descriptions and usage examples of the operations and data types for the AWS CodeStar Connections API. You can use the connections API to work with connections and installations.</p> <p> <i>Connections</i> are configurations that you use to connect AWS resources to external code repositories. Each connection is a resource that can be given to services such as CodePipeline to connect to a third-party repository such as Bitbucket. For example, you can add the connection in CodePipeline so that it triggers your pipeline when a code change is made to your third-party code repository. Each connection is named and associated with a unique ARN that is used to reference the connection.</p> <p>When you create a connection, the console initiates a third-party connection handshake. <i>Installations</i> are the apps that are used to conduct this handshake. For example, the installation for the Bitbucket provider type is the Bitbucket app. When you create a connection, you can choose an existing installation or create one.</p> <p>When you want to create a connection to an installed provider type such as GitHub Enterprise Server, you create a <i>host</i> for your connections.</p> <p>You can work with connections by calling:</p> <ul> <li> <p> <a>CreateConnection</a>, which creates a uniquely named connection that can be referenced by services such as CodePipeline.</p> </li> <li> <p> <a>DeleteConnection</a>, which deletes the specified connection.</p> </li> <li> <p> <a>GetConnection</a>, which returns information about the connection, including the connection status.</p> </li> <li> <p> <a>ListConnections</a>, which lists the connections associated with your account.</p> </li> </ul> <p>You can work with hosts by calling:</p> <ul> <li> <p> <a>CreateHost</a>, which creates a host that represents the infrastructure where your provider is installed.</p> </li> <li> <p> <a>DeleteHost</a>, which deletes the specified host.</p> </li> <li> <p> <a>GetHost</a>, which returns information about the host, including the setup status.</p> </li> <li> <p> <a>ListHosts</a>, which lists the hosts associated with your account.</p> </li> </ul> <p>You can work with tags in AWS CodeStar Connections by calling the following:</p> <ul> <li> <p> <a>ListTagsForResource</a>, which gets information about AWS tags for a specified Amazon Resource Name (ARN) in AWS CodeStar Connections.</p> </li> <li> <p> <a>TagResource</a>, which adds or updates tags for a resource in AWS CodeStar Connections.</p> </li> <li> <p> <a>UntagResource</a>, which removes tags for a resource in AWS CodeStar Connections.</p> </li> </ul> <p>For information about how to use AWS CodeStar Connections, see the <a href=\"https://docs.aws.amazon.com/dtconsole/latest/userguide/welcome-connections.html\">Developer Tools User Guide</a>.</p>",
    "endpointPrefix" : "codestar-connections",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.codestarconnections",
    "packagePath" : "com/amazonaws/services/codestarconnections",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS CodeStar connections",
    "serviceId" : "CodeStar connections",
    "serviceName" : "AWS CodeStar connections",
    "signingName" : "codestar-connections",
    "smokeTestsPackageName" : "com.amazonaws.services.codestarconnections.smoketests",
    "syncClient" : "AWSCodeStarconnectionsClient",
    "syncClientBuilderClassName" : "AWSCodeStarconnectionsClientBuilder",
    "syncInterface" : "AWSCodeStarconnections",
    "uid" : "codestar-connections-2019-12-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConnectionRequest, CreateConnectionResult>",
      "asyncReturnType" : "CreateConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a connection that can then be given to other AWS services like CodePipeline so that it can access third-party code repositories. The connection is in pending status until the third-party connection handshake is completed from the console.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Exceeded the maximum limit for connections.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>Resource not found. Verify the ARN for the host resource and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConnectionRequest",
        "variableName" : "createConnectionRequest",
        "variableType" : "CreateConnectionRequest",
        "documentation" : "",
        "simpleType" : "CreateConnectionRequest",
        "variableSetterType" : "CreateConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConnection",
      "operationName" : "CreateConnection",
      "returnType" : {
        "returnType" : "CreateConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConnectionResult"
    },
    "CreateHost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHostRequest, CreateHostResult>",
      "asyncReturnType" : "CreateHostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a resource that represents the infrastructure where a third-party provider is installed. The host is used when you create connections to an installed third-party provider type, such as GitHub Enterprise Server. You create one host for all connections to that provider.</p> <note> <p>A host created through the CLI or the SDK is in `PENDING` status by default. You can make its status `AVAILABLE` by setting up the host in the console.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Exceeded the maximum limit for connections.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateHostRequest",
        "variableName" : "createHostRequest",
        "variableType" : "CreateHostRequest",
        "documentation" : "",
        "simpleType" : "CreateHostRequest",
        "variableSetterType" : "CreateHostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createHost",
      "operationName" : "CreateHost",
      "returnType" : {
        "returnType" : "CreateHostResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateHostResult"
    },
    "DeleteConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConnectionRequest, DeleteConnectionResult>",
      "asyncReturnType" : "DeleteConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The connection to be deleted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConnectionRequest",
        "variableName" : "deleteConnectionRequest",
        "variableType" : "DeleteConnectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteConnectionRequest",
        "variableSetterType" : "DeleteConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConnection",
      "operationName" : "DeleteConnection",
      "returnType" : {
        "returnType" : "DeleteConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConnectionResult"
    },
    "DeleteHost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHostRequest, DeleteHostResult>",
      "asyncReturnType" : "DeleteHostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The host to be deleted. Before you delete a host, all connections associated to the host must be deleted.</p> <note> <p>A host cannot be deleted if it is in the VPC_CONFIG_INITIALIZING or VPC_CONFIG_DELETING state.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>Resource not found. Verify the ARN for the host resource and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteHostRequest",
        "variableName" : "deleteHostRequest",
        "variableType" : "DeleteHostRequest",
        "documentation" : "",
        "simpleType" : "DeleteHostRequest",
        "variableSetterType" : "DeleteHostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteHost",
      "operationName" : "DeleteHost",
      "returnType" : {
        "returnType" : "DeleteHostResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteHostResult"
    },
    "GetConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConnectionRequest, GetConnectionResult>",
      "asyncReturnType" : "GetConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the connection ARN and details such as status, owner, and provider type.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>Resource not found. Verify the ARN for the host resource and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConnectionRequest",
        "variableName" : "getConnectionRequest",
        "variableType" : "GetConnectionRequest",
        "documentation" : "",
        "simpleType" : "GetConnectionRequest",
        "variableSetterType" : "GetConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConnection",
      "operationName" : "GetConnection",
      "returnType" : {
        "returnType" : "GetConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConnectionResult"
    },
    "GetHost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetHostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetHostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetHostRequest, GetHostResult>",
      "asyncReturnType" : "GetHostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the host ARN and details such as status, provider type, endpoint, and, if applicable, the VPC configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>Resource not found. Verify the ARN for the host resource and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetHostRequest",
        "variableName" : "getHostRequest",
        "variableType" : "GetHostRequest",
        "documentation" : "",
        "simpleType" : "GetHostRequest",
        "variableSetterType" : "GetHostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getHost",
      "operationName" : "GetHost",
      "returnType" : {
        "returnType" : "GetHostResult",
        "documentation" : null
      },
      "syncReturnType" : "GetHostResult"
    },
    "ListConnections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConnectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConnectionsRequest, ListConnectionsResult>",
      "asyncReturnType" : "ListConnectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the connections associated with your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConnectionsRequest",
        "variableName" : "listConnectionsRequest",
        "variableType" : "ListConnectionsRequest",
        "documentation" : "",
        "simpleType" : "ListConnectionsRequest",
        "variableSetterType" : "ListConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConnections",
      "operationName" : "ListConnections",
      "returnType" : {
        "returnType" : "ListConnectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConnectionsResult"
    },
    "ListHosts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListHostsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListHostsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHostsRequest, ListHostsResult>",
      "asyncReturnType" : "ListHostsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the hosts associated with your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListHostsRequest",
        "variableName" : "listHostsRequest",
        "variableType" : "ListHostsRequest",
        "documentation" : "",
        "simpleType" : "ListHostsRequest",
        "variableSetterType" : "ListHostsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listHosts",
      "operationName" : "ListHosts",
      "returnType" : {
        "returnType" : "ListHostsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListHostsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the set of key-value pairs (metadata) that are used to manage the resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds to or modifies the tags of the given resource. Tags are metadata that can be used to manage a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Exceeded the maximum limit for connections.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from an AWS resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateHost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateHostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateHostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateHostRequest, UpdateHostResult>",
      "asyncReturnType" : "UpdateHostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a specified host with the provided configurations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Two conflicting operations have been made on the same resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>Resource not found. Verify the ARN for the host resource and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported. Check the connection status and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateHostRequest",
        "variableName" : "updateHostRequest",
        "variableType" : "UpdateHostRequest",
        "documentation" : "",
        "simpleType" : "UpdateHostRequest",
        "variableSetterType" : "UpdateHostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateHost",
      "operationName" : "UpdateHost",
      "returnType" : {
        "returnType" : "UpdateHostResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateHostResult"
    }
  },
  "shapes" : {
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Two conflicting operations have been made on the same resource.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.codestarconnections.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.codestarconnections.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "Connection" : {
      "c2jName" : "Connection",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A resource that is used to connect third-party source providers with services like AWS CodePipeline.</p> <p>Note: A connection created through CloudFormation, the CLI, or the SDK is in `PENDING` status by default. You can make its status `AVAILABLE` by updating the connection in the console.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codestarconnections.model.Connection",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ConnectionName",
        "c2jShape" : "ConnectionName",
        "deprecated" : false,
        "documentation" : "<p>The name of the connection. Connection names must be unique in an AWS user account.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the connection. Connection names must be unique in an AWS user account.</p>\n@param connectionName The name of the connection. Connection names must be unique in an AWS user account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConnectionName",
        "getterDocumentation" : "/**<p>The name of the connection. Connection names must be unique in an AWS user account.</p>\n@return The name of the connection. Connection names must be unique in an AWS user account.*/",
        "getterMethodName" : "getConnectionName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ConnectionName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConnectionName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConnectionName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the connection. Connection names must be unique in an AWS user account.</p>\n@param connectionName The name of the connection. Connection names must be unique in an AWS user account.*/",
        "setterMethodName" : "setConnectionName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the connection. Connection names must be unique in an AWS user account.</p>\n@param connectionName The name of the connection. Connection names must be unique in an AWS user account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionName",
          "variableType" : "String",
          "documentation" : "<p>The name of the connection. Connection names must be unique in an AWS user account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ConnectionArn",
        "c2jShape" : "ConnectionArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>\n@param connectionArn The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConnectionArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>\n@return The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p>*/",
        "getterMethodName" : "getConnectionArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ConnectionArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConnectionArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConnectionArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>\n@param connectionArn The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p>*/",
        "setterMethodName" : "setConnectionArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>\n@param connectionArn The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ProviderType",
        "c2jShape" : "ProviderType",
        "deprecated" : false,
        "documentation" : "<p>The name of the external provider where your third-party code repository is configured.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ProviderType",
        "fluentSetterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@param providerType The name of the external provider where your third-party code repository is configured.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ProviderType*/",
        "fluentSetterMethodName" : "withProviderType",
        "getterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@return The name of the external provider where your third-party code repository is configured.\n@see ProviderType*/",
        "getterMethodName" : "getProviderType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProviderType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProviderType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProviderType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@param providerType The name of the external provider where your third-party code repository is configured.\n@see ProviderType*/",
        "setterMethodName" : "setProviderType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "providerType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@param providerType The name of the external provider where your third-party code repository is configured.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ProviderType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "providerType",
          "variableType" : "String",
          "documentation" : "<p>The name of the external provider where your third-party code repository is configured.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OwnerAccountId",
        "c2jShape" : "AccountId",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>\n@param ownerAccountId The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOwnerAccountId",
        "getterDocumentation" : "/**<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>\n@return The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.*/",
        "getterMethodName" : "getOwnerAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "OwnerAccountId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OwnerAccountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OwnerAccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>\n@param ownerAccountId The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.*/",
        "setterMethodName" : "setOwnerAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "ownerAccountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>\n@param ownerAccountId The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "ownerAccountId",
          "variableType" : "String",
          "documentation" : "<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ConnectionStatus",
        "c2jShape" : "ConnectionStatus",
        "deprecated" : false,
        "documentation" : "<p>The current status of the connection. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ConnectionStatus",
        "fluentSetterDocumentation" : "/**<p>The current status of the connection. </p>\n@param connectionStatus The current status of the connection.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectionStatus*/",
        "fluentSetterMethodName" : "withConnectionStatus",
        "getterDocumentation" : "/**<p>The current status of the connection. </p>\n@return The current status of the connection.\n@see ConnectionStatus*/",
        "getterMethodName" : "getConnectionStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ConnectionStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConnectionStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConnectionStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The current status of the connection. </p>\n@param connectionStatus The current status of the connection.\n@see ConnectionStatus*/",
        "setterMethodName" : "setConnectionStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The current status of the connection. </p>\n@param connectionStatus The current status of the connection.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectionStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionStatus",
          "variableType" : "String",
          "documentation" : "<p>The current status of the connection. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HostArn",
        "c2jShape" : "HostArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>\n@param hostArn The Amazon Resource Name (ARN) of the host associated with the connection.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHostArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>\n@return The Amazon Resource Name (ARN) of the host associated with the connection.*/",
        "getterMethodName" : "getHostArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HostArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HostArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HostArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>\n@param hostArn The Amazon Resource Name (ARN) of the host associated with the connection.*/",
        "setterMethodName" : "setHostArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "hostArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>\n@param hostArn The Amazon Resource Name (ARN) of the host associated with the connection.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "hostArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConnectionArn" : {
          "c2jName" : "ConnectionArn",
          "c2jShape" : "ConnectionArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>\n@param connectionArn The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConnectionArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>\n@return The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p>*/",
          "getterMethodName" : "getConnectionArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ConnectionArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ConnectionArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ConnectionArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>\n@param connectionArn The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p>*/",
          "setterMethodName" : "setConnectionArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "connectionArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>\n@param connectionArn The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "connectionArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between AWS services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ConnectionName" : {
          "c2jName" : "ConnectionName",
          "c2jShape" : "ConnectionName",
          "deprecated" : false,
          "documentation" : "<p>The name of the connection. Connection names must be unique in an AWS user account.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the connection. Connection names must be unique in an AWS user account.</p>\n@param connectionName The name of the connection. Connection names must be unique in an AWS user account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConnectionName",
          "getterDocumentation" : "/**<p>The name of the connection. Connection names must be unique in an AWS user account.</p>\n@return The name of the connection. Connection names must be unique in an AWS user account.*/",
          "getterMethodName" : "getConnectionName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ConnectionName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ConnectionName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ConnectionName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the connection. Connection names must be unique in an AWS user account.</p>\n@param connectionName The name of the connection. Connection names must be unique in an AWS user account.*/",
          "setterMethodName" : "setConnectionName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "connectionName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the connection. Connection names must be unique in an AWS user account.</p>\n@param connectionName The name of the connection. Connection names must be unique in an AWS user account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "connectionName",
            "variableType" : "String",
            "documentation" : "<p>The name of the connection. Connection names must be unique in an AWS user account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ConnectionStatus" : {
          "c2jName" : "ConnectionStatus",
          "c2jShape" : "ConnectionStatus",
          "deprecated" : false,
          "documentation" : "<p>The current status of the connection. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ConnectionStatus",
          "fluentSetterDocumentation" : "/**<p>The current status of the connection. </p>\n@param connectionStatus The current status of the connection.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectionStatus*/",
          "fluentSetterMethodName" : "withConnectionStatus",
          "getterDocumentation" : "/**<p>The current status of the connection. </p>\n@return The current status of the connection.\n@see ConnectionStatus*/",
          "getterMethodName" : "getConnectionStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ConnectionStatus",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ConnectionStatus",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ConnectionStatus",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The current status of the connection. </p>\n@param connectionStatus The current status of the connection.\n@see ConnectionStatus*/",
          "setterMethodName" : "setConnectionStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "connectionStatus",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The current status of the connection. </p>\n@param connectionStatus The current status of the connection.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectionStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "connectionStatus",
            "variableType" : "String",
            "documentation" : "<p>The current status of the connection. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HostArn" : {
          "c2jName" : "HostArn",
          "c2jShape" : "HostArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>\n@param hostArn The Amazon Resource Name (ARN) of the host associated with the connection.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHostArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>\n@return The Amazon Resource Name (ARN) of the host associated with the connection.*/",
          "getterMethodName" : "getHostArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "HostArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HostArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "HostArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>\n@param hostArn The Amazon Resource Name (ARN) of the host associated with the connection.*/",
          "setterMethodName" : "setHostArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "hostArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>\n@param hostArn The Amazon Resource Name (ARN) of the host associated with the connection.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "hostArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "OwnerAccountId" : {
          "c2jName" : "OwnerAccountId",
          "c2jShape" : "AccountId",
          "deprecated" : false,
          "documentation" : "<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>\n@param ownerAccountId The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOwnerAccountId",
          "getterDocumentation" : "/**<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>\n@return The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.*/",
          "getterMethodName" : "getOwnerAccountId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "OwnerAccountId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "OwnerAccountId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OwnerAccountId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>\n@param ownerAccountId The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.*/",
          "setterMethodName" : "setOwnerAccountId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "ownerAccountId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>\n@param ownerAccountId The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "ownerAccountId",
            "variableType" : "String",
            "documentation" : "<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProviderType" : {
          "c2jName" : "ProviderType",
          "c2jShape" : "ProviderType",
          "deprecated" : false,
          "documentation" : "<p>The name of the external provider where your third-party code repository is configured.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ProviderType",
          "fluentSetterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@param providerType The name of the external provider where your third-party code repository is configured.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ProviderType*/",
          "fluentSetterMethodName" : "withProviderType",
          "getterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@return The name of the external provider where your third-party code repository is configured.\n@see ProviderType*/",
          "getterMethodName" : "getProviderType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ProviderType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ProviderType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProviderType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@param providerType The name of the external provider where your third-party code repository is configured.\n@see ProviderType*/",
          "setterMethodName" : "setProviderType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "providerType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@param providerType The name of the external provider where your third-party code repository is configured.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ProviderType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "providerType",
            "variableType" : "String",
            "documentation" : "<p>The name of the external provider where your third-party code repository is configured.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.codestarconnections.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Connection",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Connection",
        "variableName" : "connection",
        "variableType" : "Connection",
        "documentation" : null,
        "simpleType" : "Connection",
        "variableSetterType" : "Connection"
      },
      "wrapper" : false
    },
    "ConnectionStatus" : {
      "c2jName" : "ConnectionStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "PENDING",
        "value" : "PENDING"
      }, {
        "name" : "AVAILABLE",
        "value" : "AVAILABLE"
      }, {
        "name" : "ERROR",
        "value" : "ERROR"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codestarconnections.enum.ConnectionStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.codestarconnections.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConnectionStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConnectionStatus",
        "variableName" : "connectionStatus",
        "variableType" : "ConnectionStatus",
        "documentation" : null,
        "simpleType" : "ConnectionStatus",
        "variableSetterType" : "ConnectionStatus"
      },
      "wrapper" : false
    },
    "CreateConnectionRequest" : {
      "c2jName" : "CreateConnectionInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codestarconnections.request.CreateConnectionRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateConnection",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "com.amazonaws.codestar.connections.CodeStar_connections_20191201.CreateConnection",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ProviderType",
        "c2jShape" : "ProviderType",
        "deprecated" : false,
        "documentation" : "<p>The name of the external provider where your third-party code repository is configured.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ProviderType",
        "fluentSetterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@param providerType The name of the external provider where your third-party code repository is configured.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ProviderType*/",
        "fluentSetterMethodName" : "withProviderType",
        "getterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@return The name of the external provider where your third-party code repository is configured.\n@see ProviderType*/",
        "getterMethodName" : "getProviderType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProviderType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProviderType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProviderType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@param providerType The name of the external provider where your third-party code repository is configured.\n@see ProviderType*/",
        "setterMethodName" : "setProviderType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "providerType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@param providerType The name of the external provider where your third-party code repository is configured.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ProviderType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "providerType",
          "variableType" : "String",
          "documentation" : "<p>The name of the external provider where your third-party code repository is configured.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ConnectionName",
        "c2jShape" : "ConnectionName",
        "deprecated" : false,
        "documentation" : "<p>The name of the connection to be created. The name must be unique in the calling AWS account.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the connection to be created. The name must be unique in the calling AWS account.</p>\n@param connectionName The name of the connection to be created. The name must be unique in the calling AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConnectionName",
        "getterDocumentation" : "/**<p>The name of the connection to be created. The name must be unique in the calling AWS account.</p>\n@return The name of the connection to be created. The name must be unique in the calling AWS account.*/",
        "getterMethodName" : "getConnectionName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ConnectionName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConnectionName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConnectionName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the connection to be created. The name must be unique in the calling AWS account.</p>\n@param connectionName The name of the connection to be created. The name must be unique in the calling AWS account.*/",
        "setterMethodName" : "setConnectionName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the connection to be created. The name must be unique in the calling AWS account.</p>\n@param connectionName The name of the connection to be created. The name must be unique in the calling AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionName",
          "variableType" : "String",
          "documentation" : "<p>The name of the connection to be created. The name must be unique in the calling AWS account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>The key-value pair to use when tagging the resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The key-value pair to use when tagging the resource.</p>\n@param tags The key-value pair to use when tagging the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The key-value pair to use when tagging the resource.</p>\n@return The key-value pair to use when tagging the resource.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "java.util.ArrayList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The key-value pair to use when tagging the resource.</p>\n@param tags The key-value pair to use when tagging the resource.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The key-value pair to use when tagging the resource.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The key-value pair to use when tagging the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>The key-value pair to use when tagging the resource.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HostArn",
        "c2jShape" : "HostArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the host associated with the connection to be created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the host associated with the connection to be created.</p>\n@param hostArn The Amazon Resource Name (ARN) of the host associated with the connection to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHostArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the host associated with the connection to be created.</p>\n@return The Amazon Resource Name (ARN) of the host associated with the connection to be created.*/",
        "getterMethodName" : "getHostArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HostArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HostArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HostArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the host associated with the connection to be created.</p>\n@param hostArn The Amazon Resource Name (ARN) of the host associated with the connection to be created.*/",
        "setterMethodName" : "setHostArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "hostArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the host associated with the connection to be created.</p>\n@param hostArn The Amazon Resource Name (ARN) of the host associated with the connection to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "hostArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the host associated with the connection to be created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConnectionName" : {
          "c2jName" : "ConnectionName",
          "c2jShape" : "ConnectionName",
          "deprecated" : false,
          "documentation" : "<p>The name of the connection to be created. The name must be unique in the calling AWS account.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the connection to be created. The name must be unique in the calling AWS account.</p>\n@param connectionName The name of the connection to be created. The name must be unique in the calling AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConnectionName",
          "getterDocumentation" : "/**<p>The name of the connection to be created. The name must be unique in the calling AWS account.</p>\n@return The name of the connection to be created. The name must be unique in the calling AWS account.*/",
          "getterMethodName" : "getConnectionName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ConnectionName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ConnectionName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ConnectionName",
          "sensitive" : false,
[...]
