{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-04-13",
    "asyncClient" : "AWSCodeCommitAsyncClient",
    "asyncClientBuilderClassName" : "AWSCodeCommitAsyncClientBuilder",
    "asyncInterface" : "AWSCodeCommitAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCodeCommitModuleInjector",
    "defaultEndpoint" : "https://codecommit.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codecommit.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS CodeCommit</fullname> <p>This is the <i>AWS CodeCommit API Reference</i>. This reference provides descriptions of the operations and data types for AWS CodeCommit API along with usage examples.</p> <p>You can use the AWS CodeCommit API to work with the following objects:</p> <p>Repositories, by calling the following:</p> <ul> <li> <p> <a>BatchGetRepositories</a>, which returns information about one or more repositories associated with your AWS account</p> </li> <li> <p> <a>CreateRepository</a>, which creates an AWS CodeCommit repository</p> </li> <li> <p> <a>DeleteRepository</a>, which deletes an AWS CodeCommit repository</p> </li> <li> <p> <a>GetRepository</a>, which returns information about a specified repository</p> </li> <li> <p> <a>ListRepositories</a>, which lists all AWS CodeCommit repositories associated with your AWS account</p> </li> <li> <p> <a>UpdateRepositoryDescription</a>, which sets or updates the description of the repository</p> </li> <li> <p> <a>UpdateRepositoryName</a>, which changes the name of the repository. If you change the name of a repository, no other users of that repository will be able to access it until you send them the new HTTPS or SSH URL to use.</p> </li> </ul> <p>Branches, by calling the following:</p> <ul> <li> <p> <a>CreateBranch</a>, which creates a new branch in a specified repository</p> </li> <li> <p> <a>GetBranch</a>, which returns information about a specified branch</p> </li> <li> <p> <a>ListBranches</a>, which lists all branches for a specified repository</p> </li> <li> <p> <a>UpdateDefaultBranch</a>, which changes the default branch for a repository</p> </li> </ul> <p>Information about committed code in a repository, by calling the following:</p> <ul> <li> <p> <a>GetBlob</a>, which returns the base-64 encoded content of an individual Git blob object within a repository</p> </li> <li> <p> <a>GetCommit</a>, which returns information about a commit, including commit messages and author and committer information</p> </li> <li> <p> <a>GetDifferences</a>, which returns information about the differences in a valid commit specifier (such as a branch, tag, HEAD, commit ID or other fully qualified reference)</p> </li> </ul> <p>Triggers, by calling the following:</p> <ul> <li> <p> <a>GetRepositoryTriggers</a>, which returns information about triggers configured for a repository</p> </li> <li> <p> <a>PutRepositoryTriggers</a>, which replaces all triggers for a repository and can be used to create or delete triggers</p> </li> <li> <p> <a>TestRepositoryTriggers</a>, which tests the functionality of a repository trigger by sending data to the trigger target</p> </li> </ul> <p>For information about how to use AWS CodeCommit, see the <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/welcome.html\">AWS CodeCommit User Guide</a>.</p>",
    "endpointPrefix" : "codecommit",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.codecommit",
    "packagePath" : "com/amazonaws/services/codecommit",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "CodeCommit",
    "serviceFullName" : "AWS CodeCommit",
    "serviceName" : "CodeCommit",
    "signingName" : "codecommit",
    "smokeTestsPackageName" : "com.amazonaws.services.codecommit.smoketests",
    "syncClient" : "AWSCodeCommitClient",
    "syncClientBuilderClassName" : "AWSCodeCommitClientBuilder",
    "syncInterface" : "AWSCodeCommit",
    "uid" : "codecommit-2015-04-13",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetRepositories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetRepositoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetRepositoriesRequest, BatchGetRepositoriesResult>",
      "asyncReturnType" : "BatchGetRepositoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about one or more repositories.</p> <note> <p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNamesRequiredException",
        "documentation" : "<p>A repository names object is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MaximumRepositoryNamesExceededException",
        "documentation" : "<p>The maximum number of allowed repository names was exceeded. Currently, this number is 25.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchGetRepositoriesRequest",
        "variableName" : "batchGetRepositoriesRequest",
        "variableType" : "BatchGetRepositoriesRequest",
        "documentation" : "<p>Represents the input of a batch get repositories operation.</p>",
        "simpleType" : "BatchGetRepositoriesRequest",
        "variableSetterType" : "BatchGetRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetRepositories",
      "operationName" : "BatchGetRepositories",
      "returnType" : {
        "returnType" : "BatchGetRepositoriesResult",
        "documentation" : "<p>Represents the output of a batch get repositories operation.</p>"
      },
      "syncReturnType" : "BatchGetRepositoriesResult"
    },
    "CreateBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBranchRequest, CreateBranchResult>",
      "asyncReturnType" : "CreateBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new branch in a repository and points the branch to a commit.</p> <note> <p>Calling the create branch operation does not set a repository's default branch. To do this, call the update default branch operation.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BranchNameRequiredException",
        "documentation" : "<p>A branch name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BranchNameExistsException",
        "documentation" : "<p>The specified branch name already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidBranchNameException",
        "documentation" : "<p>The specified branch name is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitIdRequiredException",
        "documentation" : "<p>A commit ID was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitDoesNotExistException",
        "documentation" : "<p>The specified commit does not exist or no commit was specified, and the specified repository has no default branch.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateBranchRequest",
        "variableName" : "createBranchRequest",
        "variableType" : "CreateBranchRequest",
        "documentation" : "<p>Represents the input of a create branch operation.</p>",
        "simpleType" : "CreateBranchRequest",
        "variableSetterType" : "CreateBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBranch",
      "operationName" : "CreateBranch",
      "returnType" : {
        "returnType" : "CreateBranchResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBranchResult"
    },
    "CreateRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRepositoryRequest, CreateRepositoryResult>",
      "asyncReturnType" : "CreateRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new, empty repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameExistsException",
        "documentation" : "<p>The specified repository name already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryDescriptionException",
        "documentation" : "<p>The specified repository description is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryLimitExceededException",
        "documentation" : "<p>A repository resource limit was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateRepositoryRequest",
        "variableName" : "createRepositoryRequest",
        "variableType" : "CreateRepositoryRequest",
        "documentation" : "<p>Represents the input of a create repository operation.</p>",
        "simpleType" : "CreateRepositoryRequest",
        "variableSetterType" : "CreateRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRepository",
      "operationName" : "CreateRepository",
      "returnType" : {
        "returnType" : "CreateRepositoryResult",
        "documentation" : "<p>Represents the output of a create repository operation.</p>"
      },
      "syncReturnType" : "CreateRepositoryResult"
    },
    "DeleteRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryRequest, DeleteRepositoryResult>",
      "asyncReturnType" : "DeleteRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a repository. If a specified repository was already deleted, a null repository ID will be returned.</p> <important><p>Deleting a repository also deletes all associated objects and metadata. After a repository is deleted, all future push calls to the deleted repository will fail.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRepositoryRequest",
        "variableName" : "deleteRepositoryRequest",
        "variableType" : "DeleteRepositoryRequest",
        "documentation" : "<p>Represents the input of a delete repository operation.</p>",
        "simpleType" : "DeleteRepositoryRequest",
        "variableSetterType" : "DeleteRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRepository",
      "operationName" : "DeleteRepository",
      "returnType" : {
        "returnType" : "DeleteRepositoryResult",
        "documentation" : "<p>Represents the output of a delete repository operation.</p>"
      },
      "syncReturnType" : "DeleteRepositoryResult"
    },
    "GetBlob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBlobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBlobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBlobRequest, GetBlobResult>",
      "asyncReturnType" : "GetBlobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the base-64 encoded content of an individual blob within a repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BlobIdRequiredException",
        "documentation" : "<p>A blob ID is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidBlobIdException",
        "documentation" : "<p>The specified blob is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BlobIdDoesNotExistException",
        "documentation" : "<p>The specified blob does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FileTooLargeException",
        "documentation" : "<p>The specified file exceeds the file size limit for AWS CodeCommit. For more information about limits in AWS CodeCommit, see <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/limits.html\">AWS CodeCommit User Guide</a>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetBlobRequest",
        "variableName" : "getBlobRequest",
        "variableType" : "GetBlobRequest",
        "documentation" : "<p>Represents the input of a get blob operation.</p>",
        "simpleType" : "GetBlobRequest",
        "variableSetterType" : "GetBlobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBlob",
      "operationName" : "GetBlob",
      "returnType" : {
        "returnType" : "GetBlobResult",
        "documentation" : "<p>Represents the output of a get blob operation.</p>"
      },
      "syncReturnType" : "GetBlobResult"
    },
    "GetBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBranchRequest, GetBranchResult>",
      "asyncReturnType" : "GetBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a repository branch, including its name and the last commit ID.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BranchNameRequiredException",
        "documentation" : "<p>A branch name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidBranchNameException",
        "documentation" : "<p>The specified branch name is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BranchDoesNotExistException",
        "documentation" : "<p>The specified branch does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetBranchRequest",
        "variableName" : "getBranchRequest",
        "variableType" : "GetBranchRequest",
        "documentation" : "<p>Represents the input of a get branch operation.</p>",
        "simpleType" : "GetBranchRequest",
        "variableSetterType" : "GetBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBranch",
      "operationName" : "GetBranch",
      "returnType" : {
        "returnType" : "GetBranchResult",
        "documentation" : "<p>Represents the output of a get branch operation.</p>"
      },
      "syncReturnType" : "GetBranchResult"
    },
    "GetCommit" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCommitResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCommitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCommitRequest, GetCommitResult>",
      "asyncReturnType" : "GetCommitResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a commit, including commit message and committer information.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitIdRequiredException",
        "documentation" : "<p>A commit ID was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitIdDoesNotExistException",
        "documentation" : "<p>The specified commit ID does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCommitRequest",
        "variableName" : "getCommitRequest",
        "variableType" : "GetCommitRequest",
        "documentation" : "<p>Represents the input of a get commit operation.</p>",
        "simpleType" : "GetCommitRequest",
        "variableSetterType" : "GetCommitRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCommit",
      "operationName" : "GetCommit",
      "returnType" : {
        "returnType" : "GetCommitResult",
        "documentation" : "<p>Represents the output of a get commit operation.</p>"
      },
      "syncReturnType" : "GetCommitResult"
    },
    "GetDifferences" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDifferencesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDifferencesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDifferencesRequest, GetDifferencesResult>",
      "asyncReturnType" : "GetDifferencesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the differences in a valid commit specifier (such as a branch, tag, HEAD, commit ID or other fully qualified reference). Results can be limited to a specified path.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidMaxResultsException",
        "documentation" : "<p>The specified number of maximum results is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitIdException",
        "documentation" : "<p>The specified commit ID is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitRequiredException",
        "documentation" : "<p>A commit was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCommitException",
        "documentation" : "<p>The specified commit is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CommitDoesNotExistException",
        "documentation" : "<p>The specified commit does not exist or no commit was specified, and the specified repository has no default branch.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPathException",
        "documentation" : "<p>The specified path is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PathDoesNotExistException",
        "documentation" : "<p>The specified path does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDifferencesRequest",
        "variableName" : "getDifferencesRequest",
        "variableType" : "GetDifferencesRequest",
        "documentation" : "",
        "simpleType" : "GetDifferencesRequest",
        "variableSetterType" : "GetDifferencesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDifferences",
      "operationName" : "GetDifferences",
      "returnType" : {
        "returnType" : "GetDifferencesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDifferencesResult"
    },
    "GetRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryRequest, GetRepositoryResult>",
      "asyncReturnType" : "GetRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a repository.</p> <note> <p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetRepositoryRequest",
        "variableName" : "getRepositoryRequest",
        "variableType" : "GetRepositoryRequest",
        "documentation" : "<p>Represents the input of a get repository operation.</p>",
        "simpleType" : "GetRepositoryRequest",
        "variableSetterType" : "GetRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRepository",
      "operationName" : "GetRepository",
      "returnType" : {
        "returnType" : "GetRepositoryResult",
        "documentation" : "<p>Represents the output of a get repository operation.</p>"
      },
      "syncReturnType" : "GetRepositoryResult"
    },
    "GetRepositoryTriggers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryTriggersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryTriggersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryTriggersRequest, GetRepositoryTriggersResult>",
      "asyncReturnType" : "GetRepositoryTriggersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about triggers configured for a repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetRepositoryTriggersRequest",
        "variableName" : "getRepositoryTriggersRequest",
        "variableType" : "GetRepositoryTriggersRequest",
        "documentation" : "<p>Represents the input of a get repository triggers operation.</p>",
        "simpleType" : "GetRepositoryTriggersRequest",
        "variableSetterType" : "GetRepositoryTriggersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRepositoryTriggers",
      "operationName" : "GetRepositoryTriggers",
      "returnType" : {
        "returnType" : "GetRepositoryTriggersResult",
        "documentation" : "<p>Represents the output of a get repository triggers operation.</p>"
      },
      "syncReturnType" : "GetRepositoryTriggersResult"
    },
    "ListBranches" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBranchesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBranchesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBranchesRequest, ListBranchesResult>",
      "asyncReturnType" : "ListBranchesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more branches in a repository.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListBranchesRequest",
        "variableName" : "listBranchesRequest",
        "variableType" : "ListBranchesRequest",
        "documentation" : "<p>Represents the input of a list branches operation.</p>",
        "simpleType" : "ListBranchesRequest",
        "variableSetterType" : "ListBranchesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBranches",
      "operationName" : "ListBranches",
      "returnType" : {
        "returnType" : "ListBranchesResult",
        "documentation" : "<p>Represents the output of a list branches operation.</p>"
      },
      "syncReturnType" : "ListBranchesResult"
    },
    "ListRepositories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRepositoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRepositoriesRequest, ListRepositoriesResult>",
      "asyncReturnType" : "ListRepositoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more repositories.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidSortByException",
        "documentation" : "<p>The specified sort by value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOrderException",
        "documentation" : "<p>The specified sort order is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidContinuationTokenException",
        "documentation" : "<p>The specified continuation token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRepositoriesRequest",
        "variableName" : "listRepositoriesRequest",
        "variableType" : "ListRepositoriesRequest",
        "documentation" : "<p>Represents the input of a list repositories operation.</p>",
        "simpleType" : "ListRepositoriesRequest",
        "variableSetterType" : "ListRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRepositories",
      "operationName" : "ListRepositories",
      "returnType" : {
        "returnType" : "ListRepositoriesResult",
        "documentation" : "<p>Represents the output of a list repositories operation.</p>"
      },
      "syncReturnType" : "ListRepositoriesResult"
    },
    "PutRepositoryTriggers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRepositoryTriggersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRepositoryTriggersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRepositoryTriggersRequest, PutRepositoryTriggersResult>",
      "asyncReturnType" : "PutRepositoryTriggersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Replaces all triggers for a repository. This can be used to create or delete triggers.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryTriggersListRequiredException",
        "documentation" : "<p>The list of triggers for the repository is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MaximumRepositoryTriggersExceededException",
        "documentation" : "<p>The number of triggers allowed for the repository was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryTriggerNameException",
        "documentation" : "<p>The name of the trigger is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryTriggerDestinationArnException",
        "documentation" : "<p>The Amazon Resource Name (ARN) for the trigger is not valid for the specified destination. The most common reason for this error is that the ARN does not meet the requirements for the service type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryTriggerRegionException",
        "documentation" : "<p>The region for the trigger target does not match the region for the repository. Triggers must be created in the same region as the target for the trigger.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryTriggerCustomDataException",
        "documentation" : "<p>The custom data provided for the trigger is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MaximumBranchesExceededException",
        "documentation" : "<p>The number of branches for the trigger was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryTriggerBranchNameException",
        "documentation" : "<p>One or more branch names specified for the trigger is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryTriggerEventsException",
        "documentation" : "<p>One or more events specified for the trigger is not valid. Check to make sure that all events specified match the requirements for allowed events.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryTriggerNameRequiredException",
        "documentation" : "<p>A name for the trigger is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryTriggerDestinationArnRequiredException",
        "documentation" : "<p>A destination ARN for the target service for the trigger is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryTriggerBranchNameListRequiredException",
        "documentation" : "<p>At least one branch name is required but was not specified in the trigger configuration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryTriggerEventsListRequiredException",
        "documentation" : "<p>At least one event for the trigger is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutRepositoryTriggersRequest",
        "variableName" : "putRepositoryTriggersRequest",
        "variableType" : "PutRepositoryTriggersRequest",
        "documentation" : "<p>Represents the input ofa put repository triggers operation.</p>",
        "simpleType" : "PutRepositoryTriggersRequest",
        "variableSetterType" : "PutRepositoryTriggersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRepositoryTriggers",
      "operationName" : "PutRepositoryTriggers",
      "returnType" : {
        "returnType" : "PutRepositoryTriggersResult",
        "documentation" : "<p>Represents the output of a put repository triggers operation.</p>"
      },
      "syncReturnType" : "PutRepositoryTriggersResult"
    },
    "TestRepositoryTriggers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TestRepositoryTriggersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TestRepositoryTriggersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestRepositoryTriggersRequest, TestRepositoryTriggersResult>",
      "asyncReturnType" : "TestRepositoryTriggersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tests the functionality of repository triggers by sending information to the trigger target. If real data is available in the repository, the test will send data from the last commit. If no data is available, sample data will be generated.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryTriggersListRequiredException",
        "documentation" : "<p>The list of triggers for the repository is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MaximumRepositoryTriggersExceededException",
        "documentation" : "<p>The number of triggers allowed for the repository was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryTriggerNameException",
        "documentation" : "<p>The name of the trigger is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryTriggerDestinationArnException",
        "documentation" : "<p>The Amazon Resource Name (ARN) for the trigger is not valid for the specified destination. The most common reason for this error is that the ARN does not meet the requirements for the service type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryTriggerRegionException",
        "documentation" : "<p>The region for the trigger target does not match the region for the repository. Triggers must be created in the same region as the target for the trigger.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryTriggerCustomDataException",
        "documentation" : "<p>The custom data provided for the trigger is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MaximumBranchesExceededException",
        "documentation" : "<p>The number of branches for the trigger was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryTriggerBranchNameException",
        "documentation" : "<p>One or more branch names specified for the trigger is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryTriggerEventsException",
        "documentation" : "<p>One or more events specified for the trigger is not valid. Check to make sure that all events specified match the requirements for allowed events.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryTriggerNameRequiredException",
        "documentation" : "<p>A name for the trigger is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryTriggerDestinationArnRequiredException",
        "documentation" : "<p>A destination ARN for the target service for the trigger is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryTriggerBranchNameListRequiredException",
        "documentation" : "<p>At least one branch name is required but was not specified in the trigger configuration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryTriggerEventsListRequiredException",
        "documentation" : "<p>At least one event for the trigger is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TestRepositoryTriggersRequest",
        "variableName" : "testRepositoryTriggersRequest",
        "variableType" : "TestRepositoryTriggersRequest",
        "documentation" : "<p>Represents the input of a test repository triggers operation.</p>",
        "simpleType" : "TestRepositoryTriggersRequest",
        "variableSetterType" : "TestRepositoryTriggersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "testRepositoryTriggers",
      "operationName" : "TestRepositoryTriggers",
      "returnType" : {
        "returnType" : "TestRepositoryTriggersResult",
        "documentation" : "<p>Represents the output of a test repository triggers operation.</p>"
      },
      "syncReturnType" : "TestRepositoryTriggersResult"
    },
    "UpdateDefaultBranch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDefaultBranchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDefaultBranchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDefaultBranchRequest, UpdateDefaultBranchResult>",
      "asyncReturnType" : "UpdateDefaultBranchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets or changes the default branch name for the specified repository.</p> <note> <p>If you use this operation to change the default branch name to the current default branch name, a success message is returned even though the default branch did not change.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BranchNameRequiredException",
        "documentation" : "<p>A branch name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidBranchNameException",
        "documentation" : "<p>The specified branch name is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BranchDoesNotExistException",
        "documentation" : "<p>The specified branch does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDefaultBranchRequest",
        "variableName" : "updateDefaultBranchRequest",
        "variableType" : "UpdateDefaultBranchRequest",
        "documentation" : "<p>Represents the input of an update default branch operation.</p>",
        "simpleType" : "UpdateDefaultBranchRequest",
        "variableSetterType" : "UpdateDefaultBranchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDefaultBranch",
      "operationName" : "UpdateDefaultBranch",
      "returnType" : {
        "returnType" : "UpdateDefaultBranchResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDefaultBranchResult"
    },
    "UpdateRepositoryDescription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRepositoryDescriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRepositoryDescriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRepositoryDescriptionRequest, UpdateRepositoryDescriptionResult>",
      "asyncReturnType" : "UpdateRepositoryDescriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets or changes the comment or description for a repository.</p> <note> <p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryDescriptionException",
        "documentation" : "<p>The specified repository description is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionIntegrityChecksFailedException",
        "documentation" : "<p>An encryption integrity check failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyAccessDeniedException",
        "documentation" : "<p>An encryption key could not be accessed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyDisabledException",
        "documentation" : "<p>The encryption key is disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyNotFoundException",
        "documentation" : "<p>No encryption key was found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EncryptionKeyUnavailableException",
        "documentation" : "<p>The encryption key is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateRepositoryDescriptionRequest",
        "variableName" : "updateRepositoryDescriptionRequest",
        "variableType" : "UpdateRepositoryDescriptionRequest",
        "documentation" : "<p>Represents the input of an update repository description operation.</p>",
        "simpleType" : "UpdateRepositoryDescriptionRequest",
        "variableSetterType" : "UpdateRepositoryDescriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRepositoryDescription",
      "operationName" : "UpdateRepositoryDescription",
      "returnType" : {
        "returnType" : "UpdateRepositoryDescriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRepositoryDescriptionResult"
    },
    "UpdateRepositoryName" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRepositoryNameResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRepositoryNameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRepositoryNameRequest, UpdateRepositoryNameResult>",
      "asyncReturnType" : "UpdateRepositoryNameResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Renames a repository. The repository name must be unique across the calling AWS account. In addition, repository names are limited to 100 alphanumeric, dash, and underscore characters, and cannot include certain characters. The suffix \".git\" is prohibited. For a full description of the limits on repository names, see <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/limits.html\">Limits</a> in the AWS CodeCommit User Guide.</p>",
      "exceptions" : [ {
        "exceptionName" : "RepositoryDoesNotExistException",
        "documentation" : "<p>The specified repository does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNameExistsException",
        "documentation" : "<p>The specified repository name already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNameRequiredException",
        "documentation" : "<p>A repository name is required but was not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRepositoryNameException",
        "documentation" : "<p>At least one specified repository name is not valid.</p> <note> <p>This exception only occurs when a specified repository name is not valid. Other exceptions occur when a required repository parameter is missing, or when a specified repository does not exist.</p> </note>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateRepositoryNameRequest",
        "variableName" : "updateRepositoryNameRequest",
        "variableType" : "UpdateRepositoryNameRequest",
        "documentation" : "<p>Represents the input of an update repository description operation.</p>",
        "simpleType" : "UpdateRepositoryNameRequest",
        "variableSetterType" : "UpdateRepositoryNameRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRepositoryName",
      "operationName" : "UpdateRepositoryName",
      "returnType" : {
        "returnType" : "UpdateRepositoryNameResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRepositoryNameResult"
    }
  },
  "shapes" : {
    "BatchGetRepositoriesRequest" : {
      "c2jName" : "BatchGetRepositoriesInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents the input of a batch get repositories operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchGetRepositories",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CodeCommit_20150413.BatchGetRepositories",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "repositoryNames",
        "c2jShape" : "RepositoryNameList",
        "deprecated" : false,
        "documentation" : "<p>The names of the repositories to get information about.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The names of the repositories to get information about.</p>\n@param repositoryNames The names of the repositories to get information about.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRepositoryNames",
        "getterDocumentation" : "/**<p>The names of the repositories to get information about.</p>\n@return The names of the repositories to get information about.*/",
        "getterMethodName" : "getRepositoryNames",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "repositoryNames",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "repositoryNames",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "RepositoryName",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "RepositoryNames",
        "setterDocumentation" : "/**<p>The names of the repositories to get information about.</p>\n@param repositoryNames The names of the repositories to get information about.*/",
        "setterMethodName" : "setRepositoryNames",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "repositoryNames",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The names of the repositories to get information about.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRepositoryNames(java.util.Collection)} or {@link #withRepositoryNames(java.util.Collection)} if you want to override the existing values.</p>\n@param repositoryNames The names of the repositories to get information about.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "repositoryNames",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The names of the repositories to get information about.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "RepositoryNames" : {
          "c2jName" : "repositoryNames",
          "c2jShape" : "RepositoryNameList",
          "deprecated" : false,
          "documentation" : "<p>The names of the repositories to get information about.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The names of the repositories to get information about.</p>\n@param repositoryNames The names of the repositories to get information about.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRepositoryNames",
          "getterDocumentation" : "/**<p>The names of the repositories to get information about.</p>\n@return The names of the repositories to get information about.*/",
          "getterMethodName" : "getRepositoryNames",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "repositoryNames",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "repositoryNames",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "RepositoryName",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "RepositoryNames",
          "setterDocumentation" : "/**<p>The names of the repositories to get information about.</p>\n@param repositoryNames The names of the repositories to get information about.*/",
          "setterMethodName" : "setRepositoryNames",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "repositoryNames",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The names of the repositories to get information about.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRepositoryNames(java.util.Collection)} or {@link #withRepositoryNames(java.util.Collection)} if you want to override the existing values.</p>\n@param repositoryNames The names of the repositories to get information about.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "repositoryNames",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The names of the repositories to get information about.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "repositoryNames" ],
      "shapeName" : "BatchGetRepositoriesRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BatchGetRepositoriesRequest",
        "variableName" : "batchGetRepositoriesRequest",
        "variableType" : "BatchGetRepositoriesRequest",
        "documentation" : null,
        "simpleType" : "BatchGetRepositoriesRequest",
        "variableSetterType" : "BatchGetRepositoriesRequest"
      },
      "wrapper" : false
    },
    "BatchGetRepositoriesResult" : {
      "c2jName" : "BatchGetRepositoriesOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents the output of a batch get repositories operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "repositories",
        "c2jShape" : "RepositoryMetadataList",
        "deprecated" : false,
        "documentation" : "<p>A list of repositories returned by the batch get repositories operation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of repositories returned by the batch get repositories operation.</p>\n@param repositories A list of repositories returned by the batch get repositories operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRepositories",
        "getterDocumentation" : "/**<p>A list of repositories returned by the batch get repositories operation.</p>\n@return A list of repositories returned by the batch get repositories operation.*/",
        "getterMethodName" : "getRepositories",
        "getterModel" : {
          "returnType" : "java.util.List<RepositoryMetadata>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "repositories",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "repositories",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "RepositoryMetadata",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "RepositoryMetadata",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "RepositoryMetadata",
              "variableName" : "member",
              "variableType" : "RepositoryMetadata",
              "documentation" : "",
              "simpleType" : "RepositoryMetadata",
              "variableSetterType" : "RepositoryMetadata"
            },
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "RepositoryMetadata",
              "variableName" : "member",
              "variableType" : "RepositoryMetadata",
              "documentation" : "",
              "simpleType" : "RepositoryMetadata",
              "variableSetterType" : "RepositoryMetadata"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "RepositoryMetadata",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "RepositoryMetadata",
          "templateImplType" : "java.util.ArrayList<RepositoryMetadata>",
          "templateType" : "java.util.List<RepositoryMetadata>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Repositories",
        "setterDocumentation" : "/**<p>A list of repositories returned by the batch get repositories operation.</p>\n@param repositories A list of repositories returned by the batch get repositories operation.*/",
        "setterMethodName" : "setRepositories",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<RepositoryMetadata>",
          "variableName" : "repositories",
          "variableType" : "java.util.List<RepositoryMetadata>",
          "documentation" : "",
          "simpleType" : "List<RepositoryMetadata>",
          "variableSetterType" : "java.util.Collection<RepositoryMetadata>"
        },
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of repositories returned by the batch get repositories operation.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRepositories(java.util.Collection)} or {@link #withRepositories(java.util.Collection)} if you want to override the existing values.</p>\n@param repositories A list of repositories returned by the batch get repositories operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<RepositoryMetadata>",
          "variableName" : "repositories",
          "variableType" : "java.util.List<RepositoryMetadata>",
          "documentation" : "<p>A list of repositories returned by the batch get repositories operation.</p>",
          "simpleType" : "List<RepositoryMetadata>",
          "variableSetterType" : "java.util.Collection<RepositoryMetadata>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "repositoriesNotFound",
        "c2jShape" : "RepositoryNotFoundList",
        "deprecated" : false,
        "documentation" : "<p>Returns a list of repository names for which information could not be found.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Returns a list of repository names for which information could not be found.</p>\n@param repositoriesNotFound Returns a list of repository names for which information could not be found.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRepositoriesNotFound",
        "getterDocumentation" : "/**<p>Returns a list of repository names for which information could not be found.</p>\n@return Returns a list of repository names for which information could not be found.*/",
        "getterMethodName" : "getRepositoriesNotFound",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "repositoriesNotFound",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "repositoriesNotFound",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "RepositoryName",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "RepositoriesNotFound",
        "setterDocumentation" : "/**<p>Returns a list of repository names for which information could not be found.</p>\n@param repositoriesNotFound Returns a list of repository names for which information could not be found.*/",
        "setterMethodName" : "setRepositoriesNotFound",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "repositoriesNotFound",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Returns a list of repository names for which information could not be found.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRepositoriesNotFound(java.util.Collection)} or {@link #withRepositoriesNotFound(java.util.Collection)} if you want to override the existing values.</p>\n@param repositoriesNotFound Returns a list of repository names for which information could not be found.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "repositoriesNotFound",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>Returns a list of repository names for which information could not be found.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Repositories" : {
          "c2jName" : "repositories",
          "c2jShape" : "RepositoryMetadataList",
          "deprecated" : false,
          "documentation" : "<p>A list of repositories returned by the batch get repositories operation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of repositories returned by the batch get repositories operation.</p>\n@param repositories A list of repositories returned by the batch get repositories operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRepositories",
          "getterDocumentation" : "/**<p>A list of repositories returned by the batch get repositories operation.</p>\n@return A list of repositories returned by the batch get repositories operation.*/",
          "getterMethodName" : "getRepositories",
          "getterModel" : {
            "returnType" : "java.util.List<RepositoryMetadata>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "repositories",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "repositories",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
[...]
