{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-07-18",
    "asyncClient" : "AmazonCodeGuruProfilerAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCodeGuruProfilerAsyncClientBuilder",
    "asyncInterface" : "AmazonCodeGuruProfilerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonCodeGuruProfilerModuleInjector",
    "defaultEndpoint" : "codeguru-profiler.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codeguru-profiler.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This section provides documentation for the Amazon CodeGuru Profiler API operations.</p> <pre><code> &lt;p&gt;Amazon CodeGuru Profiler collects runtime performance data from your live applications, and provides recommendations that can help you fine-tune your application performance. Using machine learning algorithms, CodeGuru Profiler can help you find your most expensive lines of code and suggest ways you can improve efficiency and remove CPU bottlenecks. &lt;/p&gt; &lt;p&gt;Amazon CodeGuru Profiler provides different visualizations of profiling data to help you identify what code is running on the CPU, see how much time is consumed, and suggest ways to reduce CPU utilization. &lt;/p&gt; &lt;note&gt; &lt;p&gt;Amazon CodeGuru Profiler currently supports applications written in all Java virtual machine (JVM) languages. While CodeGuru Profiler supports both visualizations and recommendations for applications written in Java, it can also generate visualizations and a subset of recommendations for applications written in other JVM languages.&lt;/p&gt; &lt;/note&gt; &lt;p&gt; For more information, see &lt;a href=&quot;https://docs.aws.amazon.com/codeguru/latest/profiler-ug/what-is-codeguru-profiler.html&quot;&gt;What is Amazon CodeGuru Profiler&lt;/a&gt; in the &lt;i&gt;Amazon CodeGuru Profiler User Guide&lt;/i&gt;. &lt;/p&gt; </code></pre>",
    "endpointPrefix" : "codeguru-profiler",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.codeguruprofiler",
    "packagePath" : "com/amazonaws/services/codeguruprofiler",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CodeGuru Profiler",
    "serviceId" : "CodeGuruProfiler",
    "serviceName" : "Amazon CodeGuru Profiler",
    "signingName" : "codeguru-profiler",
    "smokeTestsPackageName" : "com.amazonaws.services.codeguruprofiler.smoketests",
    "syncClient" : "AmazonCodeGuruProfilerClient",
    "syncClientBuilderClassName" : "AmazonCodeGuruProfilerClientBuilder",
    "syncInterface" : "AmazonCodeGuruProfiler",
    "uid" : "codeguruprofiler-2019-07-18",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddNotificationChannels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddNotificationChannelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddNotificationChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddNotificationChannelsRequest, AddNotificationChannelsResult>",
      "asyncReturnType" : "AddNotificationChannelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Add up to 2 anomaly notifications channels for a profiling group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/intro.html\">Service Quotas</a> to request a service quota increase. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddNotificationChannelsRequest",
        "variableName" : "addNotificationChannelsRequest",
        "variableType" : "AddNotificationChannelsRequest",
        "documentation" : "<p>The structure representing the AddNotificationChannelsRequest.</p>",
        "simpleType" : "AddNotificationChannelsRequest",
        "variableSetterType" : "AddNotificationChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addNotificationChannels",
      "operationName" : "AddNotificationChannels",
      "returnType" : {
        "returnType" : "AddNotificationChannelsResult",
        "documentation" : "<p>The structure representing the AddNotificationChannelsResponse.</p>"
      },
      "syncReturnType" : "AddNotificationChannelsResult"
    },
    "BatchGetFrameMetricData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetFrameMetricDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetFrameMetricDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetFrameMetricDataRequest, BatchGetFrameMetricDataResult>",
      "asyncReturnType" : "BatchGetFrameMetricDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the time series of values for a requested list of frame metrics from a time period.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetFrameMetricDataRequest",
        "variableName" : "batchGetFrameMetricDataRequest",
        "variableType" : "BatchGetFrameMetricDataRequest",
        "documentation" : "<p>The structure representing the BatchGetFrameMetricDataRequest.</p>",
        "simpleType" : "BatchGetFrameMetricDataRequest",
        "variableSetterType" : "BatchGetFrameMetricDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetFrameMetricData",
      "operationName" : "BatchGetFrameMetricData",
      "returnType" : {
        "returnType" : "BatchGetFrameMetricDataResult",
        "documentation" : "<p>The structure representing the BatchGetFrameMetricDataResponse.</p>"
      },
      "syncReturnType" : "BatchGetFrameMetricDataResult"
    },
    "ConfigureAgent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfigureAgentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfigureAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfigureAgentRequest, ConfigureAgentResult>",
      "asyncReturnType" : "ConfigureAgentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Used by profiler agents to report their current state and to receive remote configuration updates. For example, <code>ConfigureAgent</code> can be used to tell and agent whether to profile or not and for how long to return profiling data. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConfigureAgentRequest",
        "variableName" : "configureAgentRequest",
        "variableType" : "ConfigureAgentRequest",
        "documentation" : "<p>The structure representing the configureAgentRequest.</p>",
        "simpleType" : "ConfigureAgentRequest",
        "variableSetterType" : "ConfigureAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "configureAgent",
      "operationName" : "ConfigureAgent",
      "returnType" : {
        "returnType" : "ConfigureAgentResult",
        "documentation" : "<p>The structure representing the configureAgentResponse.</p>"
      },
      "syncReturnType" : "ConfigureAgentResult"
    },
    "CreateProfilingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProfilingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProfilingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProfilingGroupRequest, CreateProfilingGroupResult>",
      "asyncReturnType" : "CreateProfilingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a profiling group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/intro.html\">Service Quotas</a> to request a service quota increase. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProfilingGroupRequest",
        "variableName" : "createProfilingGroupRequest",
        "variableType" : "CreateProfilingGroupRequest",
        "documentation" : "<p>The structure representing the createProfiliingGroupRequest.</p>",
        "simpleType" : "CreateProfilingGroupRequest",
        "variableSetterType" : "CreateProfilingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProfilingGroup",
      "operationName" : "CreateProfilingGroup",
      "returnType" : {
        "returnType" : "CreateProfilingGroupResult",
        "documentation" : "<p>The structure representing the createProfilingGroupResponse.</p>"
      },
      "syncReturnType" : "CreateProfilingGroupResult"
    },
    "DeleteProfilingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProfilingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProfilingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProfilingGroupRequest, DeleteProfilingGroupResult>",
      "asyncReturnType" : "DeleteProfilingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a profiling group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProfilingGroupRequest",
        "variableName" : "deleteProfilingGroupRequest",
        "variableType" : "DeleteProfilingGroupRequest",
        "documentation" : "<p>The structure representing the deleteProfilingGroupRequest.</p>",
        "simpleType" : "DeleteProfilingGroupRequest",
        "variableSetterType" : "DeleteProfilingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProfilingGroup",
      "operationName" : "DeleteProfilingGroup",
      "returnType" : {
        "returnType" : "DeleteProfilingGroupResult",
        "documentation" : "<p>The structure representing the deleteProfilingGroupResponse.</p>"
      },
      "syncReturnType" : "DeleteProfilingGroupResult"
    },
    "DescribeProfilingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProfilingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProfilingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProfilingGroupRequest, DescribeProfilingGroupResult>",
      "asyncReturnType" : "DescribeProfilingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\"> <code>ProfilingGroupDescription</code> </a> object that contains information about the requested profiling group. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeProfilingGroupRequest",
        "variableName" : "describeProfilingGroupRequest",
        "variableType" : "DescribeProfilingGroupRequest",
        "documentation" : "<p>The structure representing the describeProfilingGroupRequest.</p>",
        "simpleType" : "DescribeProfilingGroupRequest",
        "variableSetterType" : "DescribeProfilingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProfilingGroup",
      "operationName" : "DescribeProfilingGroup",
      "returnType" : {
        "returnType" : "DescribeProfilingGroupResult",
        "documentation" : "<p>The structure representing the describeProfilingGroupResponse.</p>"
      },
      "syncReturnType" : "DescribeProfilingGroupResult"
    },
    "GetFindingsReportAccountSummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFindingsReportAccountSummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFindingsReportAccountSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFindingsReportAccountSummaryRequest, GetFindingsReportAccountSummaryResult>",
      "asyncReturnType" : "GetFindingsReportAccountSummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_FindingsReportSummary.html\"> <code>FindingsReportSummary</code> </a> objects that contain analysis results for all profiling groups in your AWS account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFindingsReportAccountSummaryRequest",
        "variableName" : "getFindingsReportAccountSummaryRequest",
        "variableType" : "GetFindingsReportAccountSummaryRequest",
        "documentation" : "<p>The structure representing the GetFindingsReportAccountSummaryRequest.</p>",
        "simpleType" : "GetFindingsReportAccountSummaryRequest",
        "variableSetterType" : "GetFindingsReportAccountSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFindingsReportAccountSummary",
      "operationName" : "GetFindingsReportAccountSummary",
      "returnType" : {
        "returnType" : "GetFindingsReportAccountSummaryResult",
        "documentation" : "<p>The structure representing the GetFindingsReportAccountSummaryResponse.</p>"
      },
      "syncReturnType" : "GetFindingsReportAccountSummaryResult"
    },
    "GetNotificationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNotificationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNotificationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNotificationConfigurationRequest, GetNotificationConfigurationResult>",
      "asyncReturnType" : "GetNotificationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the current configuration for anomaly notifications for a profiling group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetNotificationConfigurationRequest",
        "variableName" : "getNotificationConfigurationRequest",
        "variableType" : "GetNotificationConfigurationRequest",
        "documentation" : "<p>The structure representing the GetNotificationConfigurationRequest.</p>",
        "simpleType" : "GetNotificationConfigurationRequest",
        "variableSetterType" : "GetNotificationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNotificationConfiguration",
      "operationName" : "GetNotificationConfiguration",
      "returnType" : {
        "returnType" : "GetNotificationConfigurationResult",
        "documentation" : "<p>The structure representing the GetNotificationConfigurationResponse.</p>"
      },
      "syncReturnType" : "GetNotificationConfigurationResult"
    },
    "GetPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPolicyRequest, GetPolicyResult>",
      "asyncReturnType" : "GetPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the JSON-formatted resource-based policy on a profiling group. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPolicyRequest",
        "variableName" : "getPolicyRequest",
        "variableType" : "GetPolicyRequest",
        "documentation" : "<p> The structure representing the <code>getPolicyRequest</code>. </p>",
        "simpleType" : "GetPolicyRequest",
        "variableSetterType" : "GetPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPolicy",
      "operationName" : "GetPolicy",
      "returnType" : {
        "returnType" : "GetPolicyResult",
        "documentation" : "<p>The structure representing the <code>getPolicyResponse</code>.</p>"
      },
      "syncReturnType" : "GetPolicyResult"
    },
    "GetProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProfileRequest, GetProfileResult>",
      "asyncReturnType" : "GetProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Gets the aggregated profile of a profiling group for a specified time range. Amazon CodeGuru Profiler collects posted agent profiles for a profiling group into aggregated profiles. </p> <pre><code> &lt;note&gt; &lt;p&gt; Because aggregated profiles expire over time &lt;code&gt;GetProfile&lt;/code&gt; is not idempotent. &lt;/p&gt; &lt;/note&gt; &lt;p&gt; Specify the time range for the requested aggregated profile using 1 or 2 of the following parameters: &lt;code&gt;startTime&lt;/code&gt;, &lt;code&gt;endTime&lt;/code&gt;, &lt;code&gt;period&lt;/code&gt;. The maximum time range allowed is 7 days. If you specify all 3 parameters, an exception is thrown. If you specify only &lt;code&gt;period&lt;/code&gt;, the latest aggregated profile is returned. &lt;/p&gt; &lt;p&gt; Aggregated profiles are available with aggregation periods of 5 minutes, 1 hour, and 1 day, aligned to UTC. The aggregation period of an aggregated profile determines how long it is retained. For more information, see &lt;a href=&quot;https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_AggregatedProfileTime.html&quot;&gt; &lt;code&gt;AggregatedProfileTime&lt;/code&gt; &lt;/a&gt;. The aggregated profile's aggregation period determines how long it is retained by CodeGuru Profiler. &lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt; If the aggregation period is 5 minutes, the aggregated profile is retained for 15 days. &lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; If the aggregation period is 1 hour, the aggregated profile is retained for 60 days. &lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; If the aggregation period is 1 day, the aggregated profile is retained for 3 years. &lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt;There are two use cases for calling &lt;code&gt;GetProfile&lt;/code&gt;.&lt;/p&gt; &lt;ol&gt; &lt;li&gt; &lt;p&gt; If you want to return an aggregated profile that already exists, use &lt;a href=&quot;https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ListProfileTimes.html&quot;&gt; &lt;code&gt;ListProfileTimes&lt;/code&gt; &lt;/a&gt; to view the time ranges of existing aggregated profiles. Use them in a &lt;code&gt;GetProfile&lt;/code&gt; request to return a specific, existing aggregated profile. &lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; If you want to return an aggregated profile for a time range that doesn't align with an existing aggregated profile, then CodeGuru Profiler makes a best effort to combine existing aggregated profiles from the requested time range and return them as one aggregated profile. &lt;/p&gt; &lt;p&gt; If aggregated profiles do not exist for the full time range requested, then aggregated profiles for a smaller time range are returned. For example, if the requested time range is from 00:00 to 00:20, and the existing aggregated profiles are from 00:15 and 00:25, then the aggregated profiles from 00:15 to 00:20 are returned. &lt;/p&gt; &lt;/li&gt; &lt;/ol&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProfileRequest",
        "variableName" : "getProfileRequest",
        "variableType" : "GetProfileRequest",
        "documentation" : "<p>The structure representing the getProfileRequest.</p>",
        "simpleType" : "GetProfileRequest",
        "variableSetterType" : "GetProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProfile",
      "operationName" : "GetProfile",
      "returnType" : {
        "returnType" : "GetProfileResult",
        "documentation" : "<p>The structure representing the getProfileResponse.</p>"
      },
      "syncReturnType" : "GetProfileResult"
    },
    "GetRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecommendationsRequest, GetRecommendationsResult>",
      "asyncReturnType" : "GetRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_Recommendation.html\"> <code>Recommendation</code> </a> objects that contain recommendations for a profiling group for a given time period. A list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_Anomaly.html\"> <code>Anomaly</code> </a> objects that contains details about anomalies detected in the profiling group for the same time period is also returned. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecommendationsRequest",
        "variableName" : "getRecommendationsRequest",
        "variableType" : "GetRecommendationsRequest",
        "documentation" : "<p>The structure representing the GetRecommendationsRequest.</p>",
        "simpleType" : "GetRecommendationsRequest",
        "variableSetterType" : "GetRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecommendations",
      "operationName" : "GetRecommendations",
      "returnType" : {
        "returnType" : "GetRecommendationsResult",
        "documentation" : "<p>The structure representing the GetRecommendationsResponse.</p>"
      },
      "syncReturnType" : "GetRecommendationsResult"
    },
    "ListFindingsReports" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFindingsReportsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFindingsReportsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFindingsReportsRequest, ListFindingsReportsResult>",
      "asyncReturnType" : "ListFindingsReportsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the available reports for a given profiling group and time range.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFindingsReportsRequest",
        "variableName" : "listFindingsReportsRequest",
        "variableType" : "ListFindingsReportsRequest",
        "documentation" : "<p>The structure representing the ListFindingsReportsRequest.</p>",
        "simpleType" : "ListFindingsReportsRequest",
        "variableSetterType" : "ListFindingsReportsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFindingsReports",
      "operationName" : "ListFindingsReports",
      "returnType" : {
        "returnType" : "ListFindingsReportsResult",
        "documentation" : "<p>The structure representing the ListFindingsReportsResponse.</p>"
      },
      "syncReturnType" : "ListFindingsReportsResult"
    },
    "ListProfileTimes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProfileTimesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProfileTimesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProfileTimesRequest, ListProfileTimesResult>",
      "asyncReturnType" : "ListProfileTimesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the start times of the available aggregated profiles of a profiling group for an aggregation period within the specified time range.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProfileTimesRequest",
        "variableName" : "listProfileTimesRequest",
        "variableType" : "ListProfileTimesRequest",
        "documentation" : "<p>The structure representing the listProfileTimesRequest.</p>",
        "simpleType" : "ListProfileTimesRequest",
        "variableSetterType" : "ListProfileTimesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProfileTimes",
      "operationName" : "ListProfileTimes",
      "returnType" : {
        "returnType" : "ListProfileTimesResult",
        "documentation" : "<p>The structure representing the listProfileTimesResponse.</p>"
      },
      "syncReturnType" : "ListProfileTimesResult"
    },
    "ListProfilingGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProfilingGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProfilingGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProfilingGroupsRequest, ListProfilingGroupsResult>",
      "asyncReturnType" : "ListProfilingGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of profiling groups. The profiling groups are returned as <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\"> <code>ProfilingGroupDescription</code> </a> objects. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProfilingGroupsRequest",
        "variableName" : "listProfilingGroupsRequest",
        "variableType" : "ListProfilingGroupsRequest",
        "documentation" : "<p>The structure representing the listProfilingGroupsRequest.</p>",
        "simpleType" : "ListProfilingGroupsRequest",
        "variableSetterType" : "ListProfilingGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProfilingGroups",
      "operationName" : "ListProfilingGroups",
      "returnType" : {
        "returnType" : "ListProfilingGroupsResult",
        "documentation" : "<p>The structure representing the listProfilingGroupsResponse.</p>"
      },
      "syncReturnType" : "ListProfilingGroupsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of the tags that are assigned to a specified resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PostAgentProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PostAgentProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PostAgentProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PostAgentProfileRequest, PostAgentProfileResult>",
      "asyncReturnType" : "PostAgentProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Submits profiling data to an aggregated profile of a profiling group. To get an aggregated profile that is created with this profiling data, use <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_GetProfile.html\"> <code>GetProfile</code> </a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PostAgentProfileRequest",
        "variableName" : "postAgentProfileRequest",
        "variableType" : "PostAgentProfileRequest",
        "documentation" : "<p>The structure representing the postAgentProfileRequest.</p>",
        "simpleType" : "PostAgentProfileRequest",
        "variableSetterType" : "PostAgentProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "postAgentProfile",
      "operationName" : "PostAgentProfile",
      "returnType" : {
        "returnType" : "PostAgentProfileResult",
        "documentation" : "<p>The structure representing the postAgentProfileResponse.</p>"
      },
      "syncReturnType" : "PostAgentProfileResult"
    },
    "PutPermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutPermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutPermissionRequest, PutPermissionResult>",
      "asyncReturnType" : "PutPermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Adds permissions to a profiling group's resource-based policy that are provided using an action group. If a profiling group doesn't have a resource-based policy, one is created for it using the permissions in the action group and the roles and users in the <code>principals</code> parameter. </p> <pre><code> &lt;p&gt; The one supported action group that can be added is &lt;code&gt;agentPermission&lt;/code&gt; which grants &lt;code&gt;ConfigureAgent&lt;/code&gt; and &lt;code&gt;PostAgent&lt;/code&gt; permissions. For more information, see &lt;a href=&quot;https://docs.aws.amazon.com/codeguru/latest/profiler-ug/resource-based-policies.html&quot;&gt;Resource-based policies in CodeGuru Profiler&lt;/a&gt; in the &lt;i&gt;Amazon CodeGuru Profiler User Guide&lt;/i&gt;, &lt;a href=&quot;https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html&quot;&gt; &lt;code&gt;ConfigureAgent&lt;/code&gt; &lt;/a&gt;, and &lt;a href=&quot;https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_PostAgentProfile.html&quot;&gt; &lt;code&gt;PostAgentProfile&lt;/code&gt; &lt;/a&gt;. &lt;/p&gt; &lt;p&gt; The first time you call &lt;code&gt;PutPermission&lt;/code&gt; on a profiling group, do not specify a &lt;code&gt;revisionId&lt;/code&gt; because it doesn't have a resource-based policy. Subsequent calls must provide a &lt;code&gt;revisionId&lt;/code&gt; to specify which revision of the resource-based policy to add the permissions to. &lt;/p&gt; &lt;p&gt; The response contains the profiling group's JSON-formatted resource policy. &lt;/p&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutPermissionRequest",
        "variableName" : "putPermissionRequest",
        "variableType" : "PutPermissionRequest",
        "documentation" : "<p>The structure representing the <code>putPermissionRequest</code>.</p>",
        "simpleType" : "PutPermissionRequest",
        "variableSetterType" : "PutPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putPermission",
      "operationName" : "PutPermission",
      "returnType" : {
        "returnType" : "PutPermissionResult",
        "documentation" : "<p>The structure representing the <code>putPermissionResponse</code>.</p>"
      },
      "syncReturnType" : "PutPermissionResult"
    },
    "RemoveNotificationChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveNotificationChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveNotificationChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveNotificationChannelRequest, RemoveNotificationChannelResult>",
      "asyncReturnType" : "RemoveNotificationChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove one anomaly notifications channel for a profiling group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveNotificationChannelRequest",
        "variableName" : "removeNotificationChannelRequest",
        "variableType" : "RemoveNotificationChannelRequest",
        "documentation" : "<p>The structure representing the RemoveNotificationChannelRequest.</p>",
        "simpleType" : "RemoveNotificationChannelRequest",
        "variableSetterType" : "RemoveNotificationChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeNotificationChannel",
      "operationName" : "RemoveNotificationChannel",
      "returnType" : {
        "returnType" : "RemoveNotificationChannelResult",
        "documentation" : "<p>The structure representing the RemoveNotificationChannelResponse.</p>"
      },
      "syncReturnType" : "RemoveNotificationChannelResult"
    },
    "RemovePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemovePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemovePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemovePermissionRequest, RemovePermissionResult>",
      "asyncReturnType" : "RemovePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Removes permissions from a profiling group's resource-based policy that are provided using an action group. The one supported action group that can be removed is <code>agentPermission</code> which grants <code>ConfigureAgent</code> and <code>PostAgent</code> permissions. For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-ug/resource-based-policies.html\">Resource-based policies in CodeGuru Profiler</a> in the <i>Amazon CodeGuru Profiler User Guide</i>, <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html\"> <code>ConfigureAgent</code> </a>, and <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_PostAgentProfile.html\"> <code>PostAgentProfile</code> </a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemovePermissionRequest",
        "variableName" : "removePermissionRequest",
        "variableType" : "RemovePermissionRequest",
        "documentation" : "<p> <pre><code> The structure representing the &lt;code&gt;removePermissionRequest&lt;/code&gt;.&lt;/p&gt; </code></pre>",
        "simpleType" : "RemovePermissionRequest",
        "variableSetterType" : "RemovePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removePermission",
      "operationName" : "RemovePermission",
      "returnType" : {
        "returnType" : "RemovePermissionResult",
        "documentation" : "<p>The structure representing the <code>removePermissionResponse</code>.</p>"
      },
      "syncReturnType" : "RemovePermissionResult"
    },
    "SubmitFeedback" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SubmitFeedbackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SubmitFeedbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SubmitFeedbackRequest, SubmitFeedbackResult>",
      "asyncReturnType" : "SubmitFeedbackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends feedback to CodeGuru Profiler about whether the anomaly detected by the analysis is useful or not.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SubmitFeedbackRequest",
        "variableName" : "submitFeedbackRequest",
        "variableType" : "SubmitFeedbackRequest",
        "documentation" : "<p>The structure representing the SubmitFeedbackRequest.</p>",
        "simpleType" : "SubmitFeedbackRequest",
        "variableSetterType" : "SubmitFeedbackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "submitFeedback",
      "operationName" : "SubmitFeedback",
      "returnType" : {
        "returnType" : "SubmitFeedbackResult",
        "documentation" : "<p>The structure representing the SubmitFeedbackResponse.</p>"
      },
      "syncReturnType" : "SubmitFeedbackResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Use to assign one or more tags to a resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Use to remove one or more tags from a resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateProfilingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProfilingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProfilingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProfilingGroupRequest, UpdateProfilingGroupResult>",
      "asyncReturnType" : "UpdateProfilingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a profiling group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProfilingGroupRequest",
        "variableName" : "updateProfilingGroupRequest",
        "variableType" : "UpdateProfilingGroupRequest",
        "documentation" : "<p>The structure representing the updateProfilingGroupRequest.</p>",
        "simpleType" : "UpdateProfilingGroupRequest",
        "variableSetterType" : "UpdateProfilingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProfilingGroup",
      "operationName" : "UpdateProfilingGroup",
      "returnType" : {
        "returnType" : "UpdateProfilingGroupResult",
        "documentation" : "<p>The structure representing the updateProfilingGroupResponse.</p>"
      },
      "syncReturnType" : "UpdateProfilingGroupResult"
    }
  },
  "shapes" : {
    "ActionGroup" : {
      "c2jName" : "ActionGroup",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "AgentPermissions",
        "value" : "agentPermissions"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codeguruprofiler.enum.ActionGroup",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.codeguruprofiler.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ActionGroup",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActionGroup",
        "variableName" : "actionGroup",
        "variableType" : "ActionGroup",
        "documentation" : null,
        "simpleType" : "ActionGroup",
        "variableSetterType" : "ActionGroup"
      },
      "wrapper" : false
    },
    "AddNotificationChannelsRequest" : {
      "c2jName" : "AddNotificationChannelsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The structure representing the AddNotificationChannelsRequest.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codeguruprofiler.request.AddNotificationChannelsRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddNotificationChannels",
        "locationName" : null,
        "requestUri" : "/profilingGroups/{profilingGroupName}/notificationConfiguration",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "channels",
        "c2jShape" : "Channels",
        "deprecated" : false,
        "documentation" : "<p>One or 2 channels to report to when anomalies are detected.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>One or 2 channels to report to when anomalies are detected.</p>\n@param channels One or 2 channels to report to when anomalies are detected.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChannels",
        "getterDocumentation" : "/**<p>One or 2 channels to report to when anomalies are detected.</p>\n@return One or 2 channels to report to when anomalies are detected.*/",
        "getterMethodName" : "getChannels",
        "getterModel" : {
          "returnType" : "java.util.List<Channel>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "channels",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "channels",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Channel",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Channel",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Channel",
              "variableName" : "member",
              "variableType" : "Channel",
              "documentation" : "",
              "simpleType" : "Channel",
              "variableSetterType" : "Channel"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Channel",
              "variableName" : "member",
              "variableType" : "Channel",
              "documentation" : "",
              "simpleType" : "Channel",
              "variableSetterType" : "Channel"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Channel",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Channel",
          "templateImplType" : "java.util.ArrayList<Channel>",
          "templateType" : "java.util.List<Channel>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Channels",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>One or 2 channels to report to when anomalies are detected.</p>\n@param channels One or 2 channels to report to when anomalies are detected.*/",
        "setterMethodName" : "setChannels",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Channel>",
          "variableName" : "channels",
          "variableType" : "java.util.List<Channel>",
          "documentation" : "",
          "simpleType" : "List<Channel>",
          "variableSetterType" : "java.util.Collection<Channel>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>One or 2 channels to report to when anomalies are detected.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setChannels(java.util.Collection)} or {@link #withChannels(java.util.Collection)} if you want to override the existing values.</p>\n@param channels One or 2 channels to report to when anomalies are detected.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Channel>",
          "variableName" : "channels",
          "variableType" : "java.util.List<Channel>",
          "documentation" : "<p>One or 2 channels to report to when anomalies are detected.</p>",
          "simpleType" : "List<Channel>",
          "variableSetterType" : "java.util.Collection<Channel>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "profilingGroupName",
        "c2jShape" : "ProfilingGroupName",
        "deprecated" : false,
        "documentation" : "<p>The name of the profiling group that we are setting up notifications for.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the profiling group that we are setting up notifications for.</p>\n@param profilingGroupName The name of the profiling group that we are setting up notifications for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfilingGroupName",
        "getterDocumentation" : "/**<p>The name of the profiling group that we are setting up notifications for.</p>\n@return The name of the profiling group that we are setting up notifications for.*/",
        "getterMethodName" : "getProfilingGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "profilingGroupName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "profilingGroupName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProfilingGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the profiling group that we are setting up notifications for.</p>\n@param profilingGroupName The name of the profiling group that we are setting up notifications for.*/",
        "setterMethodName" : "setProfilingGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profilingGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the profiling group that we are setting up notifications for.</p>\n@param profilingGroupName The name of the profiling group that we are setting up notifications for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profilingGroupName",
          "variableType" : "String",
          "documentation" : "<p>The name of the profiling group that we are setting up notifications for.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Channels" : {
          "c2jName" : "channels",
          "c2jShape" : "Channels",
          "deprecated" : false,
          "documentation" : "<p>One or 2 channels to report to when anomalies are detected.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>One or 2 channels to report to when anomalies are detected.</p>\n@param channels One or 2 channels to report to when anomalies are detected.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChannels",
          "getterDocumentation" : "/**<p>One or 2 channels to report to when anomalies are detected.</p>\n@return One or 2 channels to report to when anomalies are detected.*/",
          "getterMethodName" : "getChannels",
          "getterModel" : {
            "returnType" : "java.util.List<Channel>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "channels",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "channels",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Channel",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Channel",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Channel",
                "variableName" : "member",
                "variableType" : "Channel",
                "documentation" : "",
                "simpleType" : "Channel",
                "variableSetterType" : "Channel"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Channel",
                "variableName" : "member",
                "variableType" : "Channel",
                "documentation" : "",
                "simpleType" : "Channel",
                "variableSetterType" : "Channel"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Channel",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Channel",
            "templateImplType" : "java.util.ArrayList<Channel>",
            "templateType" : "java.util.List<Channel>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Channels",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>One or 2 channels to report to when anomalies are detected.</p>\n@param channels One or 2 channels to report to when anomalies are detected.*/",
          "setterMethodName" : "setChannels",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Channel>",
            "variableName" : "channels",
            "variableType" : "java.util.List<Channel>",
            "documentation" : "",
            "simpleType" : "List<Channel>",
            "variableSetterType" : "java.util.Collection<Channel>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>One or 2 channels to report to when anomalies are detected.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setChannels(java.util.Collection)} or {@link #withChannels(java.util.Collection)} if you want to override the existing values.</p>\n@param channels One or 2 channels to report to when anomalies are detected.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Channel>",
            "variableName" : "channels",
            "variableType" : "java.util.List<Channel>",
            "documentation" : "<p>One or 2 channels to report to when anomalies are detected.</p>",
            "simpleType" : "List<Channel>",
            "variableSetterType" : "java.util.Collection<Channel>"
          },
          "xmlNameSpaceUri" : null
        },
        "ProfilingGroupName" : {
          "c2jName" : "profilingGroupName",
          "c2jShape" : "ProfilingGroupName",
          "deprecated" : false,
          "documentation" : "<p>The name of the profiling group that we are setting up notifications for.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the profiling group that we are setting up notifications for.</p>\n@param profilingGroupName The name of the profiling group that we are setting up notifications for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProfilingGroupName",
          "getterDocumentation" : "/**<p>The name of the profiling group that we are setting up notifications for.</p>\n@return The name of the profiling group that we are setting up notifications for.*/",
          "getterMethodName" : "getProfilingGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "profilingGroupName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "profilingGroupName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProfilingGroupName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the profiling group that we are setting up notifications for.</p>\n@param profilingGroupName The name of the profiling group that we are setting up notifications for.*/",
          "setterMethodName" : "setProfilingGroupName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profilingGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the profiling group that we are setting up notifications for.</p>\n@param profilingGroupName The name of the profiling group that we are setting up notifications for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profilingGroupName",
            "variableType" : "String",
            "documentation" : "<p>The name of the profiling group that we are setting up notifications for.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.codeguruprofiler.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "channels", "profilingGroupName" ],
      "shapeName" : "AddNotificationChannelsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddNotificationChannelsRequest",
        "variableName" : "addNotificationChannelsRequest",
        "variableType" : "AddNotificationChannelsRequest",
        "documentation" : null,
        "simpleType" : "AddNotificationChannelsRequest",
        "variableSetterType" : "AddNotificationChannelsRequest"
      },
      "wrapper" : false
    },
    "AddNotificationChannelsResult" : {
      "c2jName" : "AddNotificationChannelsResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The structure representing the AddNotificationChannelsResponse.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codeguruprofiler.response.AddNotificationChannelsResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "notificationConfiguration",
        "c2jShape" : "NotificationConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The new notification configuration for this profiling group.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The new notification configuration for this profiling group.</p>\n@param notificationConfiguration The new notification configuration for this profiling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNotificationConfiguration",
        "getterDocumentation" : "/**<p>The new notification configuration for this profiling group.</p>\n@return The new notification configuration for this profiling group.*/",
        "getterMethodName" : "getNotificationConfiguration",
        "getterModel" : {
          "returnType" : "NotificationConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "notificationConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "notificationConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "NotificationConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The new notification configuration for this profiling group.</p>\n@param notificationConfiguration The new notification configuration for this profiling group.*/",
        "setterMethodName" : "setNotificationConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "NotificationConfiguration",
          "variableName" : "notificationConfiguration",
          "variableType" : "NotificationConfiguration",
          "documentation" : "",
          "simpleType" : "NotificationConfiguration",
          "variableSetterType" : "NotificationConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The new notification configuration for this profiling group.</p>\n@param notificationConfiguration The new notification configuration for this profiling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "NotificationConfiguration",
          "variableName" : "notificationConfiguration",
          "variableType" : "NotificationConfiguration",
          "documentation" : "<p>The new notification configuration for this profiling group.</p>",
          "simpleType" : "NotificationConfiguration",
          "variableSetterType" : "NotificationConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "NotificationConfiguration" : {
          "c2jName" : "notificationConfiguration",
          "c2jShape" : "NotificationConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The new notification configuration for this profiling group.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The new notification configuration for this profiling group.</p>\n@param notificationConfiguration The new notification configuration for this profiling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNotificationConfiguration",
          "getterDocumentation" : "/**<p>The new notification configuration for this profiling group.</p>\n@return The new notification configuration for this profiling group.*/",
          "getterMethodName" : "getNotificationConfiguration",
          "getterModel" : {
            "returnType" : "NotificationConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "notificationConfiguration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "notificationConfiguration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "NotificationConfiguration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The new notification configuration for this profiling group.</p>\n@param notificationConfiguration The new notification configuration for this profiling group.*/",
          "setterMethodName" : "setNotificationConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "NotificationConfiguration",
            "variableName" : "notificationConfiguration",
            "variableType" : "NotificationConfiguration",
            "documentation" : "",
            "simpleType" : "NotificationConfiguration",
            "variableSetterType" : "NotificationConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The new notification configuration for this profiling group.</p>\n@param notificationConfiguration The new notification configuration for this profiling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "NotificationConfiguration",
            "variableName" : "notificationConfiguration",
            "variableType" : "NotificationConfiguration",
            "documentation" : "<p>The new notification configuration for this profiling group.</p>",
            "simpleType" : "NotificationConfiguration",
            "variableSetterType" : "NotificationConfiguration"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.codeguruprofiler.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AddNotificationChannelsResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddNotificationChannelsResult",
        "variableName" : "addNotificationChannelsResult",
        "variableType" : "AddNotificationChannelsResult",
        "documentation" : null,
        "simpleType" : "AddNotificationChannelsResult",
        "variableSetterType" : "AddNotificationChannelsResult"
      },
      "wrapper" : false
    },
    "AgentConfiguration" : {
      "c2jName" : "AgentConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The response of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html\"> <code>ConfigureAgent</code> </a> that specifies if an agent profiles or not and for how long to return profiling data. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codeguruprofiler.model.AgentConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "agentParameters",
[...]
