{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-12-01",
    "asyncClient" : "AWSCodeConnectionsAsyncClient",
    "asyncClientBuilderClassName" : "AWSCodeConnectionsAsyncClientBuilder",
    "asyncInterface" : "AWSCodeConnectionsAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCodeConnectionsModuleInjector",
    "defaultEndpoint" : "codeconnections.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codeconnections.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS CodeConnections</fullname> <p>This Amazon Web Services CodeConnections API Reference provides descriptions and usage examples of the operations and data types for the Amazon Web Services CodeConnections API. You can use the connections API to work with connections and installations.</p> <p> <i>Connections</i> are configurations that you use to connect Amazon Web Services resources to external code repositories. Each connection is a resource that can be given to services such as CodePipeline to connect to a third-party repository such as Bitbucket. For example, you can add the connection in CodePipeline so that it triggers your pipeline when a code change is made to your third-party code repository. Each connection is named and associated with a unique ARN that is used to reference the connection.</p> <p>When you create a connection, the console initiates a third-party connection handshake. <i>Installations</i> are the apps that are used to conduct this handshake. For example, the installation for the Bitbucket provider type is the Bitbucket app. When you create a connection, you can choose an existing installation or create one.</p> <p>When you want to create a connection to an installed provider type such as GitHub Enterprise Server, you create a <i>host</i> for your connections.</p> <p>You can work with connections by calling:</p> <ul> <li> <p> <a>CreateConnection</a>, which creates a uniquely named connection that can be referenced by services such as CodePipeline.</p> </li> <li> <p> <a>DeleteConnection</a>, which deletes the specified connection.</p> </li> <li> <p> <a>GetConnection</a>, which returns information about the connection, including the connection status.</p> </li> <li> <p> <a>ListConnections</a>, which lists the connections associated with your account.</p> </li> </ul> <p>You can work with hosts by calling:</p> <ul> <li> <p> <a>CreateHost</a>, which creates a host that represents the infrastructure where your provider is installed.</p> </li> <li> <p> <a>DeleteHost</a>, which deletes the specified host.</p> </li> <li> <p> <a>GetHost</a>, which returns information about the host, including the setup status.</p> </li> <li> <p> <a>ListHosts</a>, which lists the hosts associated with your account.</p> </li> </ul> <p>You can work with tags in Amazon Web Services CodeConnections by calling the following:</p> <ul> <li> <p> <a>ListTagsForResource</a>, which gets information about Amazon Web Services tags for a specified Amazon Resource Name (ARN) in Amazon Web Services CodeConnections.</p> </li> <li> <p> <a>TagResource</a>, which adds or updates tags for a resource in Amazon Web Services CodeConnections.</p> </li> <li> <p> <a>UntagResource</a>, which removes tags for a resource in Amazon Web Services CodeConnections.</p> </li> </ul> <p>For information about how to use Amazon Web Services CodeConnections, see the <a href=\"https://docs.aws.amazon.com/dtconsole/latest/userguide/welcome-connections.html\">Developer Tools User Guide</a>.</p>",
    "endpointPrefix" : "codeconnections",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.codeconnections",
    "packagePath" : "com/amazonaws/services/codeconnections",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS CodeConnections",
    "serviceId" : "CodeConnections",
    "serviceName" : "AWS CodeConnections",
    "signingName" : "codeconnections",
    "smokeTestsPackageName" : "com.amazonaws.services.codeconnections.smoketests",
    "syncClient" : "AWSCodeConnectionsClient",
    "syncClientBuilderClassName" : "AWSCodeConnectionsClientBuilder",
    "syncInterface" : "AWSCodeConnections",
    "uid" : "codeconnections-2023-12-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConnectionRequest, CreateConnectionResult>",
      "asyncReturnType" : "CreateConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a connection that can then be given to other Amazon Web Services services like CodePipeline so that it can access third-party code repositories. The connection is in pending status until the third-party connection handshake is completed from the console.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Exceeded the maximum limit for connections.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>Resource not found. Verify the ARN for the host resource and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConnectionRequest",
        "variableName" : "createConnectionRequest",
        "variableType" : "CreateConnectionRequest",
        "documentation" : "",
        "simpleType" : "CreateConnectionRequest",
        "variableSetterType" : "CreateConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConnection",
      "operationName" : "CreateConnection",
      "returnType" : {
        "returnType" : "CreateConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConnectionResult"
    },
    "CreateHost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHostRequest, CreateHostResult>",
      "asyncReturnType" : "CreateHostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a resource that represents the infrastructure where a third-party provider is installed. The host is used when you create connections to an installed third-party provider type, such as GitHub Enterprise Server. You create one host for all connections to that provider.</p> <note> <p>A host created through the CLI or the SDK is in `PENDING` status by default. You can make its status `AVAILABLE` by setting up the host in the console.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Exceeded the maximum limit for connections.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateHostRequest",
        "variableName" : "createHostRequest",
        "variableType" : "CreateHostRequest",
        "documentation" : "",
        "simpleType" : "CreateHostRequest",
        "variableSetterType" : "CreateHostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createHost",
      "operationName" : "CreateHost",
      "returnType" : {
        "returnType" : "CreateHostResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateHostResult"
    },
    "CreateRepositoryLink" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRepositoryLinkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRepositoryLinkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRepositoryLinkRequest, CreateRepositoryLinkResult>",
      "asyncReturnType" : "CreateRepositoryLinkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a link to a specified external Git repository. A repository link allows Git sync to monitor and sync changes to files in a specified Git repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Exceeded the maximum limit for connections.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Unable to create resource. Resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRepositoryLinkRequest",
        "variableName" : "createRepositoryLinkRequest",
        "variableType" : "CreateRepositoryLinkRequest",
        "documentation" : "",
        "simpleType" : "CreateRepositoryLinkRequest",
        "variableSetterType" : "CreateRepositoryLinkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRepositoryLink",
      "operationName" : "CreateRepositoryLink",
      "returnType" : {
        "returnType" : "CreateRepositoryLinkResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRepositoryLinkResult"
    },
    "CreateSyncConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSyncConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSyncConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSyncConfigurationRequest, CreateSyncConfigurationResult>",
      "asyncReturnType" : "CreateSyncConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a sync configuration which allows Amazon Web Services to sync content from a Git repository to update a specified Amazon Web Services resource. Parameters for the sync configuration are determined by the sync type.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Exceeded the maximum limit for connections.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Unable to create resource. Resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSyncConfigurationRequest",
        "variableName" : "createSyncConfigurationRequest",
        "variableType" : "CreateSyncConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateSyncConfigurationRequest",
        "variableSetterType" : "CreateSyncConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSyncConfiguration",
      "operationName" : "CreateSyncConfiguration",
      "returnType" : {
        "returnType" : "CreateSyncConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSyncConfigurationResult"
    },
    "DeleteConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConnectionRequest, DeleteConnectionResult>",
      "asyncReturnType" : "DeleteConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The connection to be deleted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConnectionRequest",
        "variableName" : "deleteConnectionRequest",
        "variableType" : "DeleteConnectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteConnectionRequest",
        "variableSetterType" : "DeleteConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConnection",
      "operationName" : "DeleteConnection",
      "returnType" : {
        "returnType" : "DeleteConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConnectionResult"
    },
    "DeleteHost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHostRequest, DeleteHostResult>",
      "asyncReturnType" : "DeleteHostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The host to be deleted. Before you delete a host, all connections associated to the host must be deleted.</p> <note> <p>A host cannot be deleted if it is in the VPC_CONFIG_INITIALIZING or VPC_CONFIG_DELETING state.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>Resource not found. Verify the ARN for the host resource and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteHostRequest",
        "variableName" : "deleteHostRequest",
        "variableType" : "DeleteHostRequest",
        "documentation" : "",
        "simpleType" : "DeleteHostRequest",
        "variableSetterType" : "DeleteHostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteHost",
      "operationName" : "DeleteHost",
      "returnType" : {
        "returnType" : "DeleteHostResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteHostResult"
    },
    "DeleteRepositoryLink" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryLinkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryLinkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryLinkRequest, DeleteRepositoryLinkResult>",
      "asyncReturnType" : "DeleteRepositoryLinkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the association between your connection and a specified external Git repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SyncConfigurationStillExistsException",
        "documentation" : "<p>Unable to continue. The sync blocker still exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedProviderTypeException",
        "documentation" : "<p>The specified provider type is not supported for connections.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRepositoryLinkRequest",
        "variableName" : "deleteRepositoryLinkRequest",
        "variableType" : "DeleteRepositoryLinkRequest",
        "documentation" : "",
        "simpleType" : "DeleteRepositoryLinkRequest",
        "variableSetterType" : "DeleteRepositoryLinkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRepositoryLink",
      "operationName" : "DeleteRepositoryLink",
      "returnType" : {
        "returnType" : "DeleteRepositoryLinkResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRepositoryLinkResult"
    },
    "DeleteSyncConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSyncConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSyncConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSyncConfigurationRequest, DeleteSyncConfigurationResult>",
      "asyncReturnType" : "DeleteSyncConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the sync configuration for a specified repository and connection.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Exceeded the maximum limit for connections.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSyncConfigurationRequest",
        "variableName" : "deleteSyncConfigurationRequest",
        "variableType" : "DeleteSyncConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteSyncConfigurationRequest",
        "variableSetterType" : "DeleteSyncConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSyncConfiguration",
      "operationName" : "DeleteSyncConfiguration",
      "returnType" : {
        "returnType" : "DeleteSyncConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSyncConfigurationResult"
    },
    "GetConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConnectionRequest, GetConnectionResult>",
      "asyncReturnType" : "GetConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the connection ARN and details such as status, owner, and provider type.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>Resource not found. Verify the ARN for the host resource and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConnectionRequest",
        "variableName" : "getConnectionRequest",
        "variableType" : "GetConnectionRequest",
        "documentation" : "",
        "simpleType" : "GetConnectionRequest",
        "variableSetterType" : "GetConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConnection",
      "operationName" : "GetConnection",
      "returnType" : {
        "returnType" : "GetConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConnectionResult"
    },
    "GetHost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetHostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetHostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetHostRequest, GetHostResult>",
      "asyncReturnType" : "GetHostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the host ARN and details such as status, provider type, endpoint, and, if applicable, the VPC configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>Resource not found. Verify the ARN for the host resource and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetHostRequest",
        "variableName" : "getHostRequest",
        "variableType" : "GetHostRequest",
        "documentation" : "",
        "simpleType" : "GetHostRequest",
        "variableSetterType" : "GetHostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getHost",
      "operationName" : "GetHost",
      "returnType" : {
        "returnType" : "GetHostResult",
        "documentation" : null
      },
      "syncReturnType" : "GetHostResult"
    },
    "GetRepositoryLink" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryLinkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryLinkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryLinkRequest, GetRepositoryLinkResult>",
      "asyncReturnType" : "GetRepositoryLinkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about a repository link. A repository link allows Git sync to monitor and sync changes from files in a specified Git repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRepositoryLinkRequest",
        "variableName" : "getRepositoryLinkRequest",
        "variableType" : "GetRepositoryLinkRequest",
        "documentation" : "",
        "simpleType" : "GetRepositoryLinkRequest",
        "variableSetterType" : "GetRepositoryLinkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRepositoryLink",
      "operationName" : "GetRepositoryLink",
      "returnType" : {
        "returnType" : "GetRepositoryLinkResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRepositoryLinkResult"
    },
    "GetRepositorySyncStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositorySyncStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositorySyncStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositorySyncStatusRequest, GetRepositorySyncStatusResult>",
      "asyncReturnType" : "GetRepositorySyncStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about the sync status for a repository. A repository sync uses Git sync to push and pull changes from your remote repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRepositorySyncStatusRequest",
        "variableName" : "getRepositorySyncStatusRequest",
        "variableType" : "GetRepositorySyncStatusRequest",
        "documentation" : "",
        "simpleType" : "GetRepositorySyncStatusRequest",
        "variableSetterType" : "GetRepositorySyncStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRepositorySyncStatus",
      "operationName" : "GetRepositorySyncStatus",
      "returnType" : {
        "returnType" : "GetRepositorySyncStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRepositorySyncStatusResult"
    },
    "GetResourceSyncStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceSyncStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceSyncStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceSyncStatusRequest, GetResourceSyncStatusResult>",
      "asyncReturnType" : "GetResourceSyncStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the status of the sync with the Git repository for a specific Amazon Web Services resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceSyncStatusRequest",
        "variableName" : "getResourceSyncStatusRequest",
        "variableType" : "GetResourceSyncStatusRequest",
        "documentation" : "",
        "simpleType" : "GetResourceSyncStatusRequest",
        "variableSetterType" : "GetResourceSyncStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceSyncStatus",
      "operationName" : "GetResourceSyncStatus",
      "returnType" : {
        "returnType" : "GetResourceSyncStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceSyncStatusResult"
    },
    "GetSyncBlockerSummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSyncBlockerSummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSyncBlockerSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSyncBlockerSummaryRequest, GetSyncBlockerSummaryResult>",
      "asyncReturnType" : "GetSyncBlockerSummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the most recent sync blockers.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSyncBlockerSummaryRequest",
        "variableName" : "getSyncBlockerSummaryRequest",
        "variableType" : "GetSyncBlockerSummaryRequest",
        "documentation" : "",
        "simpleType" : "GetSyncBlockerSummaryRequest",
        "variableSetterType" : "GetSyncBlockerSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSyncBlockerSummary",
      "operationName" : "GetSyncBlockerSummary",
      "returnType" : {
        "returnType" : "GetSyncBlockerSummaryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSyncBlockerSummaryResult"
    },
    "GetSyncConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSyncConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSyncConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSyncConfigurationRequest, GetSyncConfigurationResult>",
      "asyncReturnType" : "GetSyncConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about a sync configuration, including the sync type and resource name. A sync configuration allows the configuration to sync (push and pull) changes from the remote repository for a specified branch in a Git repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSyncConfigurationRequest",
        "variableName" : "getSyncConfigurationRequest",
        "variableType" : "GetSyncConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetSyncConfigurationRequest",
        "variableSetterType" : "GetSyncConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSyncConfiguration",
      "operationName" : "GetSyncConfiguration",
      "returnType" : {
        "returnType" : "GetSyncConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSyncConfigurationResult"
    },
    "ListConnections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConnectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConnectionsRequest, ListConnectionsResult>",
      "asyncReturnType" : "ListConnectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the connections associated with your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConnectionsRequest",
        "variableName" : "listConnectionsRequest",
        "variableType" : "ListConnectionsRequest",
        "documentation" : "",
        "simpleType" : "ListConnectionsRequest",
        "variableSetterType" : "ListConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConnections",
      "operationName" : "ListConnections",
      "returnType" : {
        "returnType" : "ListConnectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConnectionsResult"
    },
    "ListHosts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListHostsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListHostsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHostsRequest, ListHostsResult>",
      "asyncReturnType" : "ListHostsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the hosts associated with your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListHostsRequest",
        "variableName" : "listHostsRequest",
        "variableType" : "ListHostsRequest",
        "documentation" : "",
        "simpleType" : "ListHostsRequest",
        "variableSetterType" : "ListHostsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listHosts",
      "operationName" : "ListHosts",
      "returnType" : {
        "returnType" : "ListHostsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListHostsResult"
    },
    "ListRepositoryLinks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRepositoryLinksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRepositoryLinksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRepositoryLinksRequest, ListRepositoryLinksResult>",
      "asyncReturnType" : "ListRepositoryLinksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the repository links created for connections in your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRepositoryLinksRequest",
        "variableName" : "listRepositoryLinksRequest",
        "variableType" : "ListRepositoryLinksRequest",
        "documentation" : "",
        "simpleType" : "ListRepositoryLinksRequest",
        "variableSetterType" : "ListRepositoryLinksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRepositoryLinks",
      "operationName" : "ListRepositoryLinks",
      "returnType" : {
        "returnType" : "ListRepositoryLinksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRepositoryLinksResult"
    },
    "ListRepositorySyncDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRepositorySyncDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRepositorySyncDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRepositorySyncDefinitionsRequest, ListRepositorySyncDefinitionsResult>",
      "asyncReturnType" : "ListRepositorySyncDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the repository sync definitions for repository links in your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRepositorySyncDefinitionsRequest",
        "variableName" : "listRepositorySyncDefinitionsRequest",
        "variableType" : "ListRepositorySyncDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "ListRepositorySyncDefinitionsRequest",
        "variableSetterType" : "ListRepositorySyncDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRepositorySyncDefinitions",
      "operationName" : "ListRepositorySyncDefinitions",
      "returnType" : {
        "returnType" : "ListRepositorySyncDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRepositorySyncDefinitionsResult"
    },
    "ListSyncConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSyncConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSyncConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSyncConfigurationsRequest, ListSyncConfigurationsResult>",
      "asyncReturnType" : "ListSyncConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of sync configurations for a specified repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSyncConfigurationsRequest",
        "variableName" : "listSyncConfigurationsRequest",
        "variableType" : "ListSyncConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListSyncConfigurationsRequest",
        "variableSetterType" : "ListSyncConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSyncConfigurations",
      "operationName" : "ListSyncConfigurations",
      "returnType" : {
        "returnType" : "ListSyncConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSyncConfigurationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the set of key-value pairs (metadata) that are used to manage the resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds to or modifies the tags of the given resource. Tags are metadata that can be used to manage a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Exceeded the maximum limit for connections.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from an Amazon Web Services resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateHost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateHostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateHostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateHostRequest, UpdateHostResult>",
      "asyncReturnType" : "UpdateHostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a specified host with the provided configurations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Two conflicting operations have been made on the same resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>Resource not found. Verify the ARN for the host resource and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported. Check the connection status and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateHostRequest",
        "variableName" : "updateHostRequest",
        "variableType" : "UpdateHostRequest",
        "documentation" : "",
        "simpleType" : "UpdateHostRequest",
        "variableSetterType" : "UpdateHostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateHost",
      "operationName" : "UpdateHost",
      "returnType" : {
        "returnType" : "UpdateHostResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateHostResult"
    },
    "UpdateRepositoryLink" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRepositoryLinkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRepositoryLinkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRepositoryLinkRequest, UpdateRepositoryLinkResult>",
      "asyncReturnType" : "UpdateRepositoryLinkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the association between your connection and a specified external Git repository. A repository link allows Git sync to monitor and sync changes to files in a specified Git repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConditionalCheckFailedException",
        "documentation" : "<p>The conditional check failed. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UpdateOutOfSyncException",
        "documentation" : "<p>The update is out of sync. Try syncing again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRepositoryLinkRequest",
        "variableName" : "updateRepositoryLinkRequest",
        "variableType" : "UpdateRepositoryLinkRequest",
        "documentation" : "",
        "simpleType" : "UpdateRepositoryLinkRequest",
        "variableSetterType" : "UpdateRepositoryLinkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRepositoryLink",
      "operationName" : "UpdateRepositoryLink",
      "returnType" : {
        "returnType" : "UpdateRepositoryLinkResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRepositoryLinkResult"
    },
    "UpdateSyncBlocker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSyncBlockerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSyncBlockerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSyncBlockerRequest, UpdateSyncBlockerResult>",
      "asyncReturnType" : "UpdateSyncBlockerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows you to update the status of a sync blocker, resolving the blocker and allowing syncing to continue.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RetryLatestCommitFailedException",
        "documentation" : "<p>Retrying the latest commit failed. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SyncBlockerDoesNotExistException",
        "documentation" : "<p>Unable to continue. The sync blocker does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSyncBlockerRequest",
        "variableName" : "updateSyncBlockerRequest",
        "variableType" : "UpdateSyncBlockerRequest",
        "documentation" : "",
        "simpleType" : "UpdateSyncBlockerRequest",
        "variableSetterType" : "UpdateSyncBlockerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSyncBlocker",
      "operationName" : "UpdateSyncBlocker",
      "returnType" : {
        "returnType" : "UpdateSyncBlockerResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSyncBlockerResult"
    },
    "UpdateSyncConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSyncConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSyncConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSyncConfigurationRequest, UpdateSyncConfigurationResult>",
      "asyncReturnType" : "UpdateSyncConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the sync configuration for your connection and a specified external Git repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Received an internal server exception. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UpdateOutOfSyncException",
        "documentation" : "<p>The update is out of sync. Try syncing again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSyncConfigurationRequest",
        "variableName" : "updateSyncConfigurationRequest",
        "variableType" : "UpdateSyncConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateSyncConfigurationRequest",
        "variableSetterType" : "UpdateSyncConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSyncConfiguration",
      "operationName" : "UpdateSyncConfiguration",
      "returnType" : {
        "returnType" : "UpdateSyncConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSyncConfigurationResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.codeconnections.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.codeconnections.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "BlockerStatus" : {
      "c2jName" : "BlockerStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "ACTIVE",
        "value" : "ACTIVE"
      }, {
        "name" : "RESOLVED",
        "value" : "RESOLVED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codeconnections.enum.BlockerStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.codeconnections.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "BlockerStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BlockerStatus",
        "variableName" : "blockerStatus",
        "variableType" : "BlockerStatus",
        "documentation" : null,
        "simpleType" : "BlockerStatus",
        "variableSetterType" : "BlockerStatus"
      },
      "wrapper" : false
    },
    "BlockerType" : {
      "c2jName" : "BlockerType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "AUTOMATED",
        "value" : "AUTOMATED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codeconnections.enum.BlockerType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.codeconnections.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "BlockerType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BlockerType",
        "variableName" : "blockerType",
        "variableType" : "BlockerType",
        "documentation" : null,
        "simpleType" : "BlockerType",
        "variableSetterType" : "BlockerType"
      },
      "wrapper" : false
    },
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConcurrentModificationException",
      "fullyQualifiedName" : "com.amazonaws.services.codeconnections.exception.ConcurrentModificationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.codeconnections.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConcurrentModificationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConcurrentModificationException",
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "wrapper" : false
    },
    "ConditionalCheckFailedException" : {
      "c2jName" : "ConditionalCheckFailedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The conditional check failed. Try again later.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConditionalCheckFailedException",
      "fullyQualifiedName" : "com.amazonaws.services.codeconnections.exception.ConditionalCheckFailedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.codeconnections.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConditionalCheckFailedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConditionalCheckFailedException",
        "variableName" : "conditionalCheckFailedException",
        "variableType" : "ConditionalCheckFailedException",
        "documentation" : null,
        "simpleType" : "ConditionalCheckFailedException",
        "variableSetterType" : "ConditionalCheckFailedException"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Two conflicting operations have been made on the same resource.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.codeconnections.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.codeconnections.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "Connection" : {
      "c2jName" : "Connection",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A resource that is used to connect third-party source providers with services like CodePipeline.</p> <p>Note: A connection created through CloudFormation, the CLI, or the SDK is in `PENDING` status by default. You can make its status `AVAILABLE` by updating the connection in the console.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codeconnections.model.Connection",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ConnectionName",
        "c2jShape" : "ConnectionName",
        "deprecated" : false,
        "documentation" : "<p>The name of the connection. Connection names must be unique in an Amazon Web Services account.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the connection. Connection names must be unique in an Amazon Web Services account.</p>\n@param connectionName The name of the connection. Connection names must be unique in an Amazon Web Services account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConnectionName",
        "getterDocumentation" : "/**<p>The name of the connection. Connection names must be unique in an Amazon Web Services account.</p>\n@return The name of the connection. Connection names must be unique in an Amazon Web Services account.*/",
        "getterMethodName" : "getConnectionName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ConnectionName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConnectionName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConnectionName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the connection. Connection names must be unique in an Amazon Web Services account.</p>\n@param connectionName The name of the connection. Connection names must be unique in an Amazon Web Services account.*/",
        "setterMethodName" : "setConnectionName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the connection. Connection names must be unique in an Amazon Web Services account.</p>\n@param connectionName The name of the connection. Connection names must be unique in an Amazon Web Services account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionName",
          "variableType" : "String",
          "documentation" : "<p>The name of the connection. Connection names must be unique in an Amazon Web Services account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ConnectionArn",
        "c2jShape" : "ConnectionArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between Amazon Web Services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between Amazon Web Services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>\n@param connectionArn The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between Amazon Web Services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConnectionArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between Amazon Web Services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>\n@return The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between Amazon Web Services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p>*/",
        "getterMethodName" : "getConnectionArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ConnectionArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConnectionArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConnectionArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between Amazon Web Services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>\n@param connectionArn The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between Amazon Web Services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p>*/",
        "setterMethodName" : "setConnectionArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between Amazon Web Services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>\n@param connectionArn The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between Amazon Web Services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection reference when the connection is shared between Amazon Web Services.</p> <note> <p>The ARN is never reused if the connection is deleted.</p> </note>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ProviderType",
        "c2jShape" : "ProviderType",
        "deprecated" : false,
        "documentation" : "<p>The name of the external provider where your third-party code repository is configured.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ProviderType",
        "fluentSetterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@param providerType The name of the external provider where your third-party code repository is configured.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ProviderType*/",
        "fluentSetterMethodName" : "withProviderType",
        "getterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@return The name of the external provider where your third-party code repository is configured.\n@see ProviderType*/",
        "getterMethodName" : "getProviderType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProviderType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProviderType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProviderType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@param providerType The name of the external provider where your third-party code repository is configured.\n@see ProviderType*/",
        "setterMethodName" : "setProviderType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "providerType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the external provider where your third-party code repository is configured.</p>\n@param providerType The name of the external provider where your third-party code repository is configured.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ProviderType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "providerType",
          "variableType" : "String",
          "documentation" : "<p>The name of the external provider where your third-party code repository is configured.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OwnerAccountId",
        "c2jShape" : "AccountId",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>\n@param ownerAccountId The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOwnerAccountId",
        "getterDocumentation" : "/**<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>\n@return The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.*/",
        "getterMethodName" : "getOwnerAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "OwnerAccountId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OwnerAccountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OwnerAccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>\n@param ownerAccountId The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.*/",
        "setterMethodName" : "setOwnerAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "ownerAccountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>\n@param ownerAccountId The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "ownerAccountId",
          "variableType" : "String",
          "documentation" : "<p>The identifier of the external provider where your third-party code repository is configured. For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ConnectionStatus",
        "c2jShape" : "ConnectionStatus",
        "deprecated" : false,
        "documentation" : "<p>The current status of the connection. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ConnectionStatus",
        "fluentSetterDocumentation" : "/**<p>The current status of the connection. </p>\n@param connectionStatus The current status of the connection.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectionStatus*/",
        "fluentSetterMethodName" : "withConnectionStatus",
        "getterDocumentation" : "/**<p>The current status of the connection. </p>\n@return The current status of the connection.\n@see ConnectionStatus*/",
        "getterMethodName" : "getConnectionStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ConnectionStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConnectionStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConnectionStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The current status of the connection. </p>\n@param connectionStatus The current status of the connection.\n@see ConnectionStatus*/",
        "setterMethodName" : "setConnectionStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The current status of the connection. </p>\n@param connectionStatus The current status of the connection.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectionStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectionStatus",
          "variableType" : "String",
          "documentation" : "<p>The current status of the connection. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HostArn",
        "c2jShape" : "HostArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
[...]
