{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Build" : [ "buildStatus" ],
      "BuildPhase" : [ "phaseType", "phaseStatus" ],
      "EnvironmentLanguage" : [ "language" ],
      "EnvironmentPlatform" : [ "platform" ],
      "ListBuildsForProjectInput" : [ "sortOrder" ],
      "ListBuildsInput" : [ "sortOrder" ],
      "ListProjectsInput" : [ "sortBy", "sortOrder" ],
      "ProjectArtifacts" : [ "type", "namespaceType", "packaging" ],
      "ProjectEnvironment" : [ "type", "computeType" ],
      "ProjectSource" : [ "type" ],
      "SourceAuth" : [ "type" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-10-06",
    "asyncClient" : "AWSCodeBuildAsyncClient",
    "asyncClientBuilderClassName" : "AWSCodeBuildAsyncClientBuilder",
    "asyncInterface" : "AWSCodeBuildAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCodeBuildModuleInjector",
    "defaultEndpoint" : "codebuild.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codebuild.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS CodeBuild</fullname> <p>AWS CodeBuild is a fully managed build service in the cloud. AWS CodeBuild compiles your source code, runs unit tests, and produces artifacts that are ready to deploy. AWS CodeBuild eliminates the need to provision, manage, and scale your own build servers. It provides prepackaged build environments for the most popular programming languages and build tools, such as Apache Maven, Gradle, and more. You can also fully customize build environments in AWS CodeBuild to use your own build tools. AWS CodeBuild scales automatically to meet peak build requests. You pay only for the build time you consume. For more information about AWS CodeBuild, see the <i>AWS CodeBuild User Guide</i>.</p> <p>AWS CodeBuild supports these operations:</p> <ul> <li> <p> <code>BatchDeleteBuilds</code>: Deletes one or more builds.</p> </li> <li> <p> <code>BatchGetProjects</code>: Gets information about one or more build projects. A <i>build project</i> defines how AWS CodeBuild runs a build. This includes information such as where to get the source code to build, the build environment to use, the build commands to run, and where to store the build output. A <i>build environment</i> is a representation of operating system, programming language runtime, and tools that AWS CodeBuild uses to run a build. You can add tags to build projects to help manage your resources and costs.</p> </li> <li> <p> <code>CreateProject</code>: Creates a build project.</p> </li> <li> <p> <code>CreateWebhook</code>: For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, enables AWS CodeBuild to start rebuilding the source code every time a code change is pushed to the repository.</p> </li> <li> <p> <code>UpdateWebhook</code>: Changes the settings of an existing webhook.</p> </li> <li> <p> <code>DeleteProject</code>: Deletes a build project.</p> </li> <li> <p> <code>DeleteWebhook</code>: For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, stops AWS CodeBuild from rebuilding the source code every time a code change is pushed to the repository.</p> </li> <li> <p> <code>ListProjects</code>: Gets a list of build project names, with each build project name representing a single build project.</p> </li> <li> <p> <code>UpdateProject</code>: Changes the settings of an existing build project.</p> </li> <li> <p> <code>BatchGetBuilds</code>: Gets information about one or more builds.</p> </li> <li> <p> <code>ListBuilds</code>: Gets a list of build IDs, with each build ID representing a single build.</p> </li> <li> <p> <code>ListBuildsForProject</code>: Gets a list of build IDs for the specified build project, with each build ID representing a single build.</p> </li> <li> <p> <code>StartBuild</code>: Starts running a build.</p> </li> <li> <p> <code>StopBuild</code>: Attempts to stop running a build.</p> </li> <li> <p> <code>ListCuratedEnvironmentImages</code>: Gets information about Docker images that are managed by AWS CodeBuild.</p> </li> <li> <p> <code>DeleteSourceCredentials</code>: Deletes a set of GitHub, GitHub Enterprise, or Bitbucket source credentials.</p> </li> <li> <p> <code>ImportSourceCredentials</code>: Imports the source repository credentials for an AWS CodeBuild project that has its source code stored in a GitHub, GitHub Enterprise, or Bitbucket repository.</p> </li> <li> <p> <code>ListSourceCredentials</code>: Returns a list of <code>SourceCredentialsInfo</code> objects. Each <code>SourceCredentialsInfo</code> object includes the authentication type, token ARN, and type of source provider for one set of credentials.</p> </li> </ul>",
    "endpointPrefix" : "codebuild",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.codebuild",
    "packagePath" : "com/amazonaws/services/codebuild",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS CodeBuild",
    "serviceId" : "CodeBuild",
    "serviceName" : "AWS CodeBuild",
    "signingName" : "codebuild",
    "smokeTestsPackageName" : "com.amazonaws.services.codebuild.smoketests",
    "syncClient" : "AWSCodeBuildClient",
    "syncClientBuilderClassName" : "AWSCodeBuildClientBuilder",
    "syncInterface" : "AWSCodeBuild",
    "uid" : "codebuild-2016-10-06",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchDeleteBuilds" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteBuildsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteBuildsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteBuildsRequest, BatchDeleteBuildsResult>",
      "asyncReturnType" : "BatchDeleteBuildsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes one or more builds.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteBuildsRequest",
        "variableName" : "batchDeleteBuildsRequest",
        "variableType" : "BatchDeleteBuildsRequest",
        "documentation" : "",
        "simpleType" : "BatchDeleteBuildsRequest",
        "variableSetterType" : "BatchDeleteBuildsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteBuilds",
      "operationName" : "BatchDeleteBuilds",
      "returnType" : {
        "returnType" : "BatchDeleteBuildsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteBuildsResult"
    },
    "BatchGetBuilds" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetBuildsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetBuildsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetBuildsRequest, BatchGetBuildsResult>",
      "asyncReturnType" : "BatchGetBuildsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about builds.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetBuildsRequest",
        "variableName" : "batchGetBuildsRequest",
        "variableType" : "BatchGetBuildsRequest",
        "documentation" : "",
        "simpleType" : "BatchGetBuildsRequest",
        "variableSetterType" : "BatchGetBuildsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetBuilds",
      "operationName" : "BatchGetBuilds",
      "returnType" : {
        "returnType" : "BatchGetBuildsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetBuildsResult"
    },
    "BatchGetProjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetProjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetProjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetProjectsRequest, BatchGetProjectsResult>",
      "asyncReturnType" : "BatchGetProjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about build projects.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetProjectsRequest",
        "variableName" : "batchGetProjectsRequest",
        "variableType" : "BatchGetProjectsRequest",
        "documentation" : "",
        "simpleType" : "BatchGetProjectsRequest",
        "variableSetterType" : "BatchGetProjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetProjects",
      "operationName" : "BatchGetProjects",
      "returnType" : {
        "returnType" : "BatchGetProjectsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetProjectsResult"
    },
    "CreateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProjectRequest, CreateProjectResult>",
      "asyncReturnType" : "CreateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a build project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified AWS resource cannot be created, because an AWS resource with the same settings already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccountLimitExceededException",
        "documentation" : "<p>An AWS service limit was exceeded for the calling AWS account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProjectRequest",
        "variableName" : "createProjectRequest",
        "variableType" : "CreateProjectRequest",
        "documentation" : "",
        "simpleType" : "CreateProjectRequest",
        "variableSetterType" : "CreateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProject",
      "operationName" : "CreateProject",
      "returnType" : {
        "returnType" : "CreateProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProjectResult"
    },
    "CreateWebhook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWebhookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWebhookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWebhookRequest, CreateWebhookResult>",
      "asyncReturnType" : "CreateWebhookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, enables AWS CodeBuild to start rebuilding the source code every time a code change is pushed to the repository.</p> <important> <p>If you enable webhooks for an AWS CodeBuild project, and the project is used as a build step in AWS CodePipeline, then two identical builds are created for each commit. One build is triggered through webhooks, and one through AWS CodePipeline. Because billing is on a per-build basis, you are billed for both builds. Therefore, if you are using AWS CodePipeline, we recommend that you disable webhooks in AWS CodeBuild. In the AWS CodeBuild console, clear the Webhook box. For more information, see step 5 in <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/change-project.html#change-project-console\">Change a Build Project's Settings</a>.</p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OAuthProviderException",
        "documentation" : "<p>There was a problem with the underlying OAuth provider.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified AWS resource cannot be created, because an AWS resource with the same settings already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWebhookRequest",
        "variableName" : "createWebhookRequest",
        "variableType" : "CreateWebhookRequest",
        "documentation" : "",
        "simpleType" : "CreateWebhookRequest",
        "variableSetterType" : "CreateWebhookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWebhook",
      "operationName" : "CreateWebhook",
      "returnType" : {
        "returnType" : "CreateWebhookResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWebhookResult"
    },
    "DeleteProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProjectRequest, DeleteProjectResult>",
      "asyncReturnType" : "DeleteProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a build project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProjectRequest",
        "variableName" : "deleteProjectRequest",
        "variableType" : "DeleteProjectRequest",
        "documentation" : "",
        "simpleType" : "DeleteProjectRequest",
        "variableSetterType" : "DeleteProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProject",
      "operationName" : "DeleteProject",
      "returnType" : {
        "returnType" : "DeleteProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProjectResult"
    },
    "DeleteSourceCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSourceCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSourceCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSourceCredentialsRequest, DeleteSourceCredentialsResult>",
      "asyncReturnType" : "DeleteSourceCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a set of GitHub, GitHub Enterprise, or Bitbucket source credentials. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSourceCredentialsRequest",
        "variableName" : "deleteSourceCredentialsRequest",
        "variableType" : "DeleteSourceCredentialsRequest",
        "documentation" : "",
        "simpleType" : "DeleteSourceCredentialsRequest",
        "variableSetterType" : "DeleteSourceCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSourceCredentials",
      "operationName" : "DeleteSourceCredentials",
      "returnType" : {
        "returnType" : "DeleteSourceCredentialsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSourceCredentialsResult"
    },
    "DeleteWebhook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWebhookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWebhookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWebhookRequest, DeleteWebhookResult>",
      "asyncReturnType" : "DeleteWebhookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, stops AWS CodeBuild from rebuilding the source code every time a code change is pushed to the repository.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OAuthProviderException",
        "documentation" : "<p>There was a problem with the underlying OAuth provider.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWebhookRequest",
        "variableName" : "deleteWebhookRequest",
        "variableType" : "DeleteWebhookRequest",
        "documentation" : "",
        "simpleType" : "DeleteWebhookRequest",
        "variableSetterType" : "DeleteWebhookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWebhook",
      "operationName" : "DeleteWebhook",
      "returnType" : {
        "returnType" : "DeleteWebhookResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWebhookResult"
    },
    "ImportSourceCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportSourceCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportSourceCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportSourceCredentialsRequest, ImportSourceCredentialsResult>",
      "asyncReturnType" : "ImportSourceCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Imports the source repository credentials for an AWS CodeBuild project that has its source code stored in a GitHub, GitHub Enterprise, or Bitbucket repository. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccountLimitExceededException",
        "documentation" : "<p>An AWS service limit was exceeded for the calling AWS account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportSourceCredentialsRequest",
        "variableName" : "importSourceCredentialsRequest",
        "variableType" : "ImportSourceCredentialsRequest",
        "documentation" : "",
        "simpleType" : "ImportSourceCredentialsRequest",
        "variableSetterType" : "ImportSourceCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importSourceCredentials",
      "operationName" : "ImportSourceCredentials",
      "returnType" : {
        "returnType" : "ImportSourceCredentialsResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportSourceCredentialsResult"
    },
    "InvalidateProjectCache" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InvalidateProjectCacheResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InvalidateProjectCacheResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InvalidateProjectCacheRequest, InvalidateProjectCacheResult>",
      "asyncReturnType" : "InvalidateProjectCacheResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resets the cache for a project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvalidateProjectCacheRequest",
        "variableName" : "invalidateProjectCacheRequest",
        "variableType" : "InvalidateProjectCacheRequest",
        "documentation" : "",
        "simpleType" : "InvalidateProjectCacheRequest",
        "variableSetterType" : "InvalidateProjectCacheRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "invalidateProjectCache",
      "operationName" : "InvalidateProjectCache",
      "returnType" : {
        "returnType" : "InvalidateProjectCacheResult",
        "documentation" : null
      },
      "syncReturnType" : "InvalidateProjectCacheResult"
    },
    "ListBuilds" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBuildsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBuildsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBuildsRequest, ListBuildsResult>",
      "asyncReturnType" : "ListBuildsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of build IDs, with each build ID representing a single build.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBuildsRequest",
        "variableName" : "listBuildsRequest",
        "variableType" : "ListBuildsRequest",
        "documentation" : "",
        "simpleType" : "ListBuildsRequest",
        "variableSetterType" : "ListBuildsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBuilds",
      "operationName" : "ListBuilds",
      "returnType" : {
        "returnType" : "ListBuildsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBuildsResult"
    },
    "ListBuildsForProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBuildsForProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBuildsForProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBuildsForProjectRequest, ListBuildsForProjectResult>",
      "asyncReturnType" : "ListBuildsForProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of build IDs for the specified build project, with each build ID representing a single build.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBuildsForProjectRequest",
        "variableName" : "listBuildsForProjectRequest",
        "variableType" : "ListBuildsForProjectRequest",
        "documentation" : "",
        "simpleType" : "ListBuildsForProjectRequest",
        "variableSetterType" : "ListBuildsForProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBuildsForProject",
      "operationName" : "ListBuildsForProject",
      "returnType" : {
        "returnType" : "ListBuildsForProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBuildsForProjectResult"
    },
    "ListCuratedEnvironmentImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCuratedEnvironmentImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCuratedEnvironmentImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCuratedEnvironmentImagesRequest, ListCuratedEnvironmentImagesResult>",
      "asyncReturnType" : "ListCuratedEnvironmentImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about Docker images that are managed by AWS CodeBuild.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCuratedEnvironmentImagesRequest",
        "variableName" : "listCuratedEnvironmentImagesRequest",
        "variableType" : "ListCuratedEnvironmentImagesRequest",
        "documentation" : "",
        "simpleType" : "ListCuratedEnvironmentImagesRequest",
        "variableSetterType" : "ListCuratedEnvironmentImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCuratedEnvironmentImages",
      "operationName" : "ListCuratedEnvironmentImages",
      "returnType" : {
        "returnType" : "ListCuratedEnvironmentImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCuratedEnvironmentImagesResult"
    },
    "ListProjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProjectsRequest, ListProjectsResult>",
      "asyncReturnType" : "ListProjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of build project names, with each build project name representing a single build project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProjectsRequest",
        "variableName" : "listProjectsRequest",
        "variableType" : "ListProjectsRequest",
        "documentation" : "",
        "simpleType" : "ListProjectsRequest",
        "variableSetterType" : "ListProjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProjects",
      "operationName" : "ListProjects",
      "returnType" : {
        "returnType" : "ListProjectsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProjectsResult"
    },
    "ListSourceCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSourceCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSourceCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSourceCredentialsRequest, ListSourceCredentialsResult>",
      "asyncReturnType" : "ListSourceCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of <code>SourceCredentialsInfo</code> objects. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSourceCredentialsRequest",
        "variableName" : "listSourceCredentialsRequest",
        "variableType" : "ListSourceCredentialsRequest",
        "documentation" : "",
        "simpleType" : "ListSourceCredentialsRequest",
        "variableSetterType" : "ListSourceCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSourceCredentials",
      "operationName" : "ListSourceCredentials",
      "returnType" : {
        "returnType" : "ListSourceCredentialsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSourceCredentialsResult"
    },
    "StartBuild" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartBuildResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartBuildResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartBuildRequest, StartBuildResult>",
      "asyncReturnType" : "StartBuildResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts running a build.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccountLimitExceededException",
        "documentation" : "<p>An AWS service limit was exceeded for the calling AWS account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartBuildRequest",
        "variableName" : "startBuildRequest",
        "variableType" : "StartBuildRequest",
        "documentation" : "",
        "simpleType" : "StartBuildRequest",
        "variableSetterType" : "StartBuildRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startBuild",
      "operationName" : "StartBuild",
      "returnType" : {
        "returnType" : "StartBuildResult",
        "documentation" : null
      },
      "syncReturnType" : "StartBuildResult"
    },
    "StopBuild" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopBuildResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopBuildResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopBuildRequest, StopBuildResult>",
      "asyncReturnType" : "StopBuildResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attempts to stop running a build.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopBuildRequest",
        "variableName" : "stopBuildRequest",
        "variableType" : "StopBuildRequest",
        "documentation" : "",
        "simpleType" : "StopBuildRequest",
        "variableSetterType" : "StopBuildRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopBuild",
      "operationName" : "StopBuild",
      "returnType" : {
        "returnType" : "StopBuildResult",
        "documentation" : null
      },
      "syncReturnType" : "StopBuildResult"
    },
    "UpdateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProjectRequest, UpdateProjectResult>",
      "asyncReturnType" : "UpdateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes the settings of a build project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProjectRequest",
        "variableName" : "updateProjectRequest",
        "variableType" : "UpdateProjectRequest",
        "documentation" : "",
        "simpleType" : "UpdateProjectRequest",
        "variableSetterType" : "UpdateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProject",
      "operationName" : "UpdateProject",
      "returnType" : {
        "returnType" : "UpdateProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProjectResult"
    },
    "UpdateWebhook" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWebhookResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWebhookResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWebhookRequest, UpdateWebhookResult>",
      "asyncReturnType" : "UpdateWebhookResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates the webhook associated with an AWS CodeBuild build project. </p> <note> <p> If you use Bitbucket for your repository, <code>rotateSecret</code> is ignored. </p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input value that was provided is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified AWS resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OAuthProviderException",
        "documentation" : "<p>There was a problem with the underlying OAuth provider.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWebhookRequest",
        "variableName" : "updateWebhookRequest",
        "variableType" : "UpdateWebhookRequest",
        "documentation" : "",
        "simpleType" : "UpdateWebhookRequest",
        "variableSetterType" : "UpdateWebhookRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWebhook",
      "operationName" : "UpdateWebhook",
      "returnType" : {
        "returnType" : "UpdateWebhookResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWebhookResult"
    }
  },
  "shapes" : {
    "AccountLimitExceededException" : {
      "c2jName" : "AccountLimitExceededException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An AWS service limit was exceeded for the calling AWS account.</p>",
      "enums" : null,
      "errorCode" : "AccountLimitExceededException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccountLimitExceededException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountLimitExceededException",
        "variableName" : "accountLimitExceededException",
        "variableType" : "AccountLimitExceededException",
        "documentation" : null,
        "simpleType" : "AccountLimitExceededException",
        "variableSetterType" : "AccountLimitExceededException"
      },
      "wrapper" : false
    },
    "ArtifactNamespace" : {
      "c2jName" : "ArtifactNamespace",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "NONE",
        "value" : "NONE"
      }, {
        "name" : "BUILD_ID",
        "value" : "BUILD_ID"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ArtifactNamespace",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArtifactNamespace",
        "variableName" : "artifactNamespace",
        "variableType" : "ArtifactNamespace",
        "documentation" : null,
        "simpleType" : "ArtifactNamespace",
        "variableSetterType" : "ArtifactNamespace"
      },
      "wrapper" : false
    },
    "ArtifactPackaging" : {
      "c2jName" : "ArtifactPackaging",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "NONE",
        "value" : "NONE"
      }, {
        "name" : "ZIP",
        "value" : "ZIP"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ArtifactPackaging",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArtifactPackaging",
        "variableName" : "artifactPackaging",
        "variableType" : "ArtifactPackaging",
        "documentation" : null,
        "simpleType" : "ArtifactPackaging",
        "variableSetterType" : "ArtifactPackaging"
      },
      "wrapper" : false
    },
    "ArtifactsType" : {
      "c2jName" : "ArtifactsType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "CODEPIPELINE",
        "value" : "CODEPIPELINE"
      }, {
        "name" : "S3",
        "value" : "S3"
      }, {
        "name" : "NO_ARTIFACTS",
        "value" : "NO_ARTIFACTS"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ArtifactsType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArtifactsType",
        "variableName" : "artifactsType",
        "variableType" : "ArtifactsType",
        "documentation" : null,
        "simpleType" : "ArtifactsType",
        "variableSetterType" : "ArtifactsType"
      },
      "wrapper" : false
    },
    "AuthType" : {
      "c2jName" : "AuthType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "OAUTH",
        "value" : "OAUTH"
      }, {
        "name" : "BASIC_AUTH",
        "value" : "BASIC_AUTH"
      }, {
        "name" : "PERSONAL_ACCESS_TOKEN",
        "value" : "PERSONAL_ACCESS_TOKEN"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AuthType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthType",
        "variableName" : "authType",
        "variableType" : "AuthType",
        "documentation" : null,
        "simpleType" : "AuthType",
        "variableSetterType" : "AuthType"
      },
      "wrapper" : false
    },
    "BatchDeleteBuildsRequest" : {
      "c2jName" : "BatchDeleteBuildsInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchDeleteBuilds",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CodeBuild_20161006.BatchDeleteBuilds",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ids",
        "c2jShape" : "BuildIds",
        "deprecated" : false,
        "documentation" : "<p>The IDs of the builds to delete.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The IDs of the builds to delete.</p>\n@param ids The IDs of the builds to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIds",
        "getterDocumentation" : "/**<p>The IDs of the builds to delete.</p>\n@return The IDs of the builds to delete.*/",
        "getterMethodName" : "getIds",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ids",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ids",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NonEmptyString",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Ids",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The IDs of the builds to delete.</p>\n@param ids The IDs of the builds to delete.*/",
        "setterMethodName" : "setIds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "ids",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The IDs of the builds to delete.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setIds(java.util.Collection)} or {@link #withIds(java.util.Collection)} if you want to override the existing values.</p>\n@param ids The IDs of the builds to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "ids",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The IDs of the builds to delete.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Ids" : {
          "c2jName" : "ids",
          "c2jShape" : "BuildIds",
          "deprecated" : false,
          "documentation" : "<p>The IDs of the builds to delete.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The IDs of the builds to delete.</p>\n@param ids The IDs of the builds to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIds",
          "getterDocumentation" : "/**<p>The IDs of the builds to delete.</p>\n@return The IDs of the builds to delete.*/",
          "getterMethodName" : "getIds",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ids",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ids",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "NonEmptyString",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Ids",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The IDs of the builds to delete.</p>\n@param ids The IDs of the builds to delete.*/",
          "setterMethodName" : "setIds",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "ids",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The IDs of the builds to delete.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setIds(java.util.Collection)} or {@link #withIds(java.util.Collection)} if you want to override the existing values.</p>\n@param ids The IDs of the builds to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "ids",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The IDs of the builds to delete.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ids" ],
      "shapeName" : "BatchDeleteBuildsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteBuildsRequest",
        "variableName" : "batchDeleteBuildsRequest",
        "variableType" : "BatchDeleteBuildsRequest",
        "documentation" : null,
        "simpleType" : "BatchDeleteBuildsRequest",
        "variableSetterType" : "BatchDeleteBuildsRequest"
      },
      "wrapper" : false
    },
    "BatchDeleteBuildsResult" : {
      "c2jName" : "BatchDeleteBuildsOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "buildsDeleted",
        "c2jShape" : "BuildIds",
        "deprecated" : false,
        "documentation" : "<p>The IDs of the builds that were successfully deleted.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The IDs of the builds that were successfully deleted.</p>\n@param buildsDeleted The IDs of the builds that were successfully deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBuildsDeleted",
        "getterDocumentation" : "/**<p>The IDs of the builds that were successfully deleted.</p>\n@return The IDs of the builds that were successfully deleted.*/",
        "getterMethodName" : "getBuildsDeleted",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "buildsDeleted",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "buildsDeleted",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NonEmptyString",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "BuildsDeleted",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The IDs of the builds that were successfully deleted.</p>\n@param buildsDeleted The IDs of the builds that were successfully deleted.*/",
        "setterMethodName" : "setBuildsDeleted",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "buildsDeleted",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The IDs of the builds that were successfully deleted.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBuildsDeleted(java.util.Collection)} or {@link #withBuildsDeleted(java.util.Collection)} if you want to override the existing values.</p>\n@param buildsDeleted The IDs of the builds that were successfully deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "buildsDeleted",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The IDs of the builds that were successfully deleted.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "buildsNotDeleted",
        "c2jShape" : "BuildsNotDeleted",
        "deprecated" : false,
        "documentation" : "<p>Information about any builds that could not be successfully deleted.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about any builds that could not be successfully deleted.</p>\n@param buildsNotDeleted Information about any builds that could not be successfully deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBuildsNotDeleted",
        "getterDocumentation" : "/**<p>Information about any builds that could not be successfully deleted.</p>\n@return Information about any builds that could not be successfully deleted.*/",
        "getterMethodName" : "getBuildsNotDeleted",
        "getterModel" : {
          "returnType" : "java.util.List<BuildNotDeleted>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "buildsNotDeleted",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "buildsNotDeleted",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "BuildNotDeleted",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "BuildNotDeleted",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "BuildNotDeleted",
              "variableName" : "member",
              "variableType" : "BuildNotDeleted",
              "documentation" : "",
              "simpleType" : "BuildNotDeleted",
              "variableSetterType" : "BuildNotDeleted"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "BuildNotDeleted",
              "variableName" : "member",
              "variableType" : "BuildNotDeleted",
              "documentation" : "",
              "simpleType" : "BuildNotDeleted",
              "variableSetterType" : "BuildNotDeleted"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "BuildNotDeleted",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "BuildNotDeleted",
          "templateImplType" : "java.util.ArrayList<BuildNotDeleted>",
          "templateType" : "java.util.List<BuildNotDeleted>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "BuildsNotDeleted",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about any builds that could not be successfully deleted.</p>\n@param buildsNotDeleted Information about any builds that could not be successfully deleted.*/",
        "setterMethodName" : "setBuildsNotDeleted",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<BuildNotDeleted>",
          "variableName" : "buildsNotDeleted",
          "variableType" : "java.util.List<BuildNotDeleted>",
          "documentation" : "",
          "simpleType" : "List<BuildNotDeleted>",
          "variableSetterType" : "java.util.Collection<BuildNotDeleted>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about any builds that could not be successfully deleted.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBuildsNotDeleted(java.util.Collection)} or {@link #withBuildsNotDeleted(java.util.Collection)} if you want to override the existing values.</p>\n@param buildsNotDeleted Information about any builds that could not be successfully deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<BuildNotDeleted>",
          "variableName" : "buildsNotDeleted",
          "variableType" : "java.util.List<BuildNotDeleted>",
          "documentation" : "<p>Information about any builds that could not be successfully deleted.</p>",
          "simpleType" : "List<BuildNotDeleted>",
          "variableSetterType" : "java.util.Collection<BuildNotDeleted>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BuildsDeleted" : {
          "c2jName" : "buildsDeleted",
          "c2jShape" : "BuildIds",
          "deprecated" : false,
          "documentation" : "<p>The IDs of the builds that were successfully deleted.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The IDs of the builds that were successfully deleted.</p>\n@param buildsDeleted The IDs of the builds that were successfully deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBuildsDeleted",
          "getterDocumentation" : "/**<p>The IDs of the builds that were successfully deleted.</p>\n@return The IDs of the builds that were successfully deleted.*/",
          "getterMethodName" : "getBuildsDeleted",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "buildsDeleted",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "buildsDeleted",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "NonEmptyString",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "BuildsDeleted",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The IDs of the builds that were successfully deleted.</p>\n@param buildsDeleted The IDs of the builds that were successfully deleted.*/",
          "setterMethodName" : "setBuildsDeleted",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "buildsDeleted",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The IDs of the builds that were successfully deleted.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBuildsDeleted(java.util.Collection)} or {@link #withBuildsDeleted(java.util.Collection)} if you want to override the existing values.</p>\n@param buildsDeleted The IDs of the builds that were successfully deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "buildsDeleted",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The IDs of the builds that were successfully deleted.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "BuildsNotDeleted" : {
          "c2jName" : "buildsNotDeleted",
          "c2jShape" : "BuildsNotDeleted",
          "deprecated" : false,
          "documentation" : "<p>Information about any builds that could not be successfully deleted.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about any builds that could not be successfully deleted.</p>\n@param buildsNotDeleted Information about any builds that could not be successfully deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBuildsNotDeleted",
          "getterDocumentation" : "/**<p>Information about any builds that could not be successfully deleted.</p>\n@return Information about any builds that could not be successfully deleted.*/",
          "getterMethodName" : "getBuildsNotDeleted",
          "getterModel" : {
            "returnType" : "java.util.List<BuildNotDeleted>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "buildsNotDeleted",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "buildsNotDeleted",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "BuildNotDeleted",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "BuildNotDeleted",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "BuildNotDeleted",
                "variableName" : "member",
                "variableType" : "BuildNotDeleted",
                "documentation" : "",
                "simpleType" : "BuildNotDeleted",
                "variableSetterType" : "BuildNotDeleted"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "BuildNotDeleted",
                "variableName" : "member",
                "variableType" : "BuildNotDeleted",
                "documentation" : "",
                "simpleType" : "BuildNotDeleted",
                "variableSetterType" : "BuildNotDeleted"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "BuildNotDeleted",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "BuildNotDeleted",
            "templateImplType" : "java.util.ArrayList<BuildNotDeleted>",
            "templateType" : "java.util.List<BuildNotDeleted>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "BuildsNotDeleted",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information about any builds that could not be successfully deleted.</p>\n@param buildsNotDeleted Information about any builds that could not be successfully deleted.*/",
          "setterMethodName" : "setBuildsNotDeleted",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<BuildNotDeleted>",
            "variableName" : "buildsNotDeleted",
            "variableType" : "java.util.List<BuildNotDeleted>",
            "documentation" : "",
            "simpleType" : "List<BuildNotDeleted>",
            "variableSetterType" : "java.util.Collection<BuildNotDeleted>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about any builds that could not be successfully deleted.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBuildsNotDeleted(java.util.Collection)} or {@link #withBuildsNotDeleted(java.util.Collection)} if you want to override the existing values.</p>\n@param buildsNotDeleted Information about any builds that could not be successfully deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<BuildNotDeleted>",
            "variableName" : "buildsNotDeleted",
            "variableType" : "java.util.List<BuildNotDeleted>",
            "documentation" : "<p>Information about any builds that could not be successfully deleted.</p>",
            "simpleType" : "List<BuildNotDeleted>",
            "variableSetterType" : "java.util.Collection<BuildNotDeleted>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BatchDeleteBuildsResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteBuildsResult",
        "variableName" : "batchDeleteBuildsResult",
        "variableType" : "BatchDeleteBuildsResult",
        "documentation" : null,
        "simpleType" : "BatchDeleteBuildsResult",
        "variableSetterType" : "BatchDeleteBuildsResult"
      },
      "wrapper" : false
    },
    "BatchGetBuildsRequest" : {
      "c2jName" : "BatchGetBuildsInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchGetBuilds",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CodeBuild_20161006.BatchGetBuilds",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ids",
        "c2jShape" : "BuildIds",
        "deprecated" : false,
        "documentation" : "<p>The IDs of the builds.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The IDs of the builds.</p>\n@param ids The IDs of the builds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIds",
        "getterDocumentation" : "/**<p>The IDs of the builds.</p>\n@return The IDs of the builds.*/",
        "getterMethodName" : "getIds",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ids",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ids",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NonEmptyString",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Ids",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The IDs of the builds.</p>\n@param ids The IDs of the builds.*/",
        "setterMethodName" : "setIds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "ids",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The IDs of the builds.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setIds(java.util.Collection)} or {@link #withIds(java.util.Collection)} if you want to override the existing values.</p>\n@param ids The IDs of the builds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "ids",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The IDs of the builds.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Ids" : {
          "c2jName" : "ids",
          "c2jShape" : "BuildIds",
          "deprecated" : false,
          "documentation" : "<p>The IDs of the builds.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The IDs of the builds.</p>\n@param ids The IDs of the builds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIds",
          "getterDocumentation" : "/**<p>The IDs of the builds.</p>\n@return The IDs of the builds.*/",
          "getterMethodName" : "getIds",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
[...]
